Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

[core][Android] Fail gracefully when view cannot be constructed (#21328)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
Owners: @tsapeta, @kudo, @lukmccall

Sync changelogs with sdk-48 branch [skip ci]
  packages/expo-modules-core/CHANGELOG.md
  packages/jest-expo/CHANGELOG.md
Owners: @tsapeta, @kudo, @lukmccall, @brentvatne, @EvanBacon

Publish expo-image
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/build.gradle
  packages/expo-image/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Owners: @lukmccall, @tsapeta, @ide, @brentvatne

[expo-updates] Better README for E2E, move folders (#21331)
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e-basic.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/fixtures/App-assets.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.h
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.m
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/UpdatesE2ETestModule.kt
  packages/expo-updates/e2e/fixtures/project_files/.detoxrc.json
  packages/expo-updates/e2e/fixtures/project_files/e2e/config.json
  packages/expo-updates/e2e/fixtures/project_files/e2e/environment.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/assets/lubo-minar-j2RgHfqKhCM-unsplash.jpg
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/assets/niklas-liniger-zuPiCN7xekM-unsplash.jpg
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/assets/patrick-untersee-XJjsuuDwWas-unsplash.jpg
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/fixtures/project_files/tsconfig.json
  packages/expo-updates/e2e/fixtures/test.png
  packages/expo-updates/e2e/setup/create-eas-project-assets.js
  packages/expo-updates/e2e/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/setup/create-updates-test.js
  packages/expo-updates/e2e/setup/project.js
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

[auth-session] Deprecate useProxy option (#21313)
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequest.types.d.ts
  packages/expo-auth-session/build/AuthRequest.types.d.ts.map
  packages/expo-auth-session/build/AuthRequest.types.js.map
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.d.ts.map
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/src/AuthRequest.types.ts
  packages/expo-auth-session/src/AuthSession.types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Add Google authentication with AuthSession API guide (#20730)
  docs/constants/navigation.js
  docs/pages/guides/google-authentication.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[config-plugins] Apply react-native-maps AppDelegate plugin fix from @pchmn (#21333)
  packages/@expo/config-plugins/build/ios/Maps.js
  packages/@expo/config-plugins/build/ios/Maps.js.map
  packages/@expo/config-plugins/src/ios/Maps.ts
  packages/@expo/config-plugins/src/ios/__tests__/Maps-test.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/AppDelegate.ts
Owners: @EvanBacon, @brentvatne

[auth-session] Fix references to makeRedirectUri (#21314)
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v45.0.0/sdk/auth-session.mdx
  docs/pages/versions/v46.0.0/sdk/auth-session.mdx
  docs/pages/versions/v47.0.0/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v45.0.0/expo-auth-session.json
  docs/public/static/data/v46.0.0/expo-auth-session.json
  docs/public/static/data/v47.0.0/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/src/AuthSession.types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Add Facebook provider authentication guide (#20733)
  docs/constants/navigation.js
  docs/pages/guides/facebook-authentication.mdx
  docs/public/static/images/authentication/facebook-app-settings.jpg
  docs/public/static/images/authentication/facebook-login-settings.jpg
Owners: @Simek, @amandeepmittal, @kbrandwijk

chore(cli): fix e2e tests (#21335)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-web-test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-assets/package.json
  packages/@expo/cli/e2e/fixtures/with-blank/package.json
  packages/@expo/cli/e2e/fixtures/with-web/package.json
Owners: @EvanBacon, @bycedric

[device][Android] Fix Device.getDeviceTypeAsync() returns TABLET on certain Android devices (#21325)
  packages/expo-device/CHANGELOG.md
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
Owners: @ide, @tsapeta

[expo-updates] API doc changes for SDK 48 (#21334)
  docs/public/static/data/v48.0.0/expo-updates.json
Owners: @Simek, @amandeepmittal, @kbrandwijk

[device][Android] Fix spotless
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
Owners: @ide, @tsapeta

[mail-composer][skip ci] Fix `CHANGELOG`
  packages/expo-mail-composer/CHANGELOG.md
Owners: @brentvatne

[core][ios] Fix `PhaseScriptExecution` failed with a nonzero exit code (#21340)
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
Owners: @tsapeta, @kudo, @lukmccall

[android][mail-composer] Migrate to new modules API (#21200)
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerPackage.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailIntentBuilder.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/Records.kt
  packages/expo-mail-composer/expo-module.config.json
Owners: @brentvatne

[expo-auth-session][docs] Remove auth.expo.io section and useProxy reference from examples (#21344)
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/build/AuthRequest.d.ts
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/build/AuthRequestHooks.d.ts
  packages/expo-auth-session/build/AuthRequestHooks.d.ts.map
  packages/expo-auth-session/build/AuthRequestHooks.js
  packages/expo-auth-session/build/AuthRequestHooks.js.map
  packages/expo-auth-session/build/AuthSession.d.ts
  packages/expo-auth-session/build/AuthSession.d.ts.map
  packages/expo-auth-session/build/AuthSession.js
  packages/expo-auth-session/build/AuthSession.js.map
  packages/expo-auth-session/src/AuthRequest.ts
  packages/expo-auth-session/src/AuthRequestHooks.ts
  packages/expo-auth-session/src/AuthSession.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] update Header and navigation Sidebar UIs, improve a11y (#21307)
  docs/ui/components/CommandMenu/CommandMenuTrigger.tsx
  docs/ui/components/Header/Header.tsx
  docs/ui/components/Header/Logo.tsx
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Sidebar/SidebarFooter.tsx
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/SidebarSingleEntry.tsx
  docs/ui/components/Sidebar/icons/API.tsx
  docs/ui/components/Sidebar/icons/Archive.tsx
  docs/ui/components/Sidebar/icons/Documentation.tsx
  docs/ui/components/Sidebar/icons/Guides.tsx
  docs/ui/components/Sidebar/icons/styles.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Remove Expokit pages from archive and related references from glossary (#21345)
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/archive/expokit/advanced-expokit-topics.mdx
  docs/pages/archive/expokit/eject.mdx
  docs/pages/archive/expokit/expokit.mdx
  docs/pages/archive/expokit/overview.mdx
  docs/pages/archive/expokit/universal-modules-and-expokit.mdx
  docs/pages/archive/glossary.mdx
  docs/pages/workflow/glossary-of-terms.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[home] Fix SafeAreaView brief layout flash (#21310)
  dev-home-config.json
  home/screens/HomeScreen/index.tsx
Owners: none

[github] Update issue template to use "needs validation" by default
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_cli.yml
  .github/ISSUE_TEMPLATE/dev_client_bug_report.yml
Owners: none

[tools] Add command to run through all issues
  tools/src/GitHub.ts
  tools/src/commands/ValidateIssueCommand.ts
Owners: @tsapeta

fixed HMR
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/expo-router/build/rsc/router/host.d.ts.map
  packages/expo-router/build/rsc/router/host.js.map
  packages/expo-router/src/rsc/router/host.tsx
Owners: @EvanBacon, @bycedric

[android][media-library] Fix passing sortBy argument to native (#21363)
  apps/test-suite/tests/MediaLibrary.js
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssets.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssetsQuery.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsQueryTests.kt
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
  packages/expo-media-library/src/MediaLibrary.ts
Owners: @tsapeta, @lukmccall

[apps][go][templates] Bump AGP to 7.4.1 (#21365)
  android/build.gradle
  apps/bare-expo/android/build.gradle
  apps/fabric-tester/android/build.gradle
  templates/expo-template-bare-minimum/android/build.gradle
Owners: none

[expo-updates][e2e] Add rollback e2e (#21197)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/setup/project.js
  packages/expo-updates/package.json
Owners: @wschurman, @douglowder

[android][go] Backport edee474 to SDK 48
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/ExperiencePackagePicker.kt
Owners: none

[auth-session] Add deprecation warning to promptAsync when using useProxy (#21367)
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequest.d.ts.map
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/src/AuthRequest.ts
Owners: none

[go][android] fix textinput crash in home (#21368)
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
Owners: none

Revert "[android][go] Backport edee474 to SDK 48"
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/ExperiencePackagePicker.kt
Owners: none

[docs] Add note about expo-random deprecation
  docs/pages/versions/unversioned/sdk/random.mdx
  docs/pages/versions/v48.0.0/sdk/random.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] UI tweaks and corrections (#21360)
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/constants/navigation.js
  docs/global-styles/extras.ts
  docs/ui/components/Button/Button.tsx
  docs/ui/components/CommandMenu/styles.ts
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Layout/LayoutScroll.tsx
  docs/ui/components/Snippet/SnippetHeader.tsx
  docs/ui/components/Text/index.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[go][Android] Fix `Unresolved reference: MailComposerPackage`
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
Owners: none

[go] fix glide app module kapt issue for expo-image (#21355)
  android/app/build.gradle
  android/app/src/main/java/host/exp/exponent/ExponentKernelImageAppGlideModule.kt
Owners: none

[barcode][Android] Backport `#18768` to SDK 46 (#21357)
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
Owners: none

[exupdates][ios] Convert EXUpdatesUpdate tests to swift (#21329)
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateTests.m
  packages/expo-updates/ios/Tests/EXUpdatesNewUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesNewUpdateTests.m
  packages/expo-updates/ios/Tests/EXUpdatesUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesUpdateTests.m
Owners: @wschurman, @douglowder

[media-library] Backport fix for sortBy argument to SDK 48
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/medialibrary/assets/GetAssets.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/medialibrary/assets/GetAssetsQuery.kt
  ios/versioned/sdk48/EXMediaLibrary/EXMediaLibrary/ABI48_0_0EXMediaLibrary.m
Owners: none

[menu][iOS] Fix `test_if_vendored_modules_are_available`
  apps/native-tests/ios/Podfile.lock
  packages/expo-dev-menu/ios/Tests/DevMenuVendoredModulesUtilsTests.swift
Owners: @lukmccall, @douglowder

[core][Android] Generate bindings for custom converters (#21023)
  packages/expo-modules-core/android-annotation-processor/.gitignore
  packages/expo-modules-core/android-annotation-processor/build.gradle
  packages/expo-modules-core/android-annotation-processor/src/main/java/expo/modules/annotationprocessor/ExpoSymbolProcessor.kt
  packages/expo-modules-core/android-annotation-processor/src/main/java/expo/modules/annotationprocessor/ExpoSymbolProcessorProvider.kt
  packages/expo-modules-core/android-annotation-processor/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  packages/expo-modules-core/android-annotation/.gitignore
  packages/expo-modules-core/android-annotation/build.gradle
  packages/expo-modules-core/android-annotation/src/main/java/expo/modules/annotation/Config.kt
  packages/expo-modules-core/android-annotation/src/main/java/expo/modules/annotation/ConverterBinder.kt
  packages/expo-modules-core/android/ExpoModulesCorePlugin.gradle
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypedArrayTypeConverter.kt
Owners: @tsapeta, @kudo, @lukmccall

[exupdates][ios] Convert some data classes to swift (#21332)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader+Private.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAsset.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAsset.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAsset.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesManifestHeaders.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesManifestHeaders.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesManifestHeaders.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.h
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseIntegrityCheckTests.m
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseTests.m
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateSpec.swift
  packages/expo-updates/ios/Tests/Tests.m
Owners: @wschurman, @douglowder
