Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @lukmccall, @kudo, @gabrieldonadel, @aleqsio, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

fix(metro-config): Fix css modules syntax. (#23086)
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/css-modules.js
  packages/@expo/metro-config/build/transform-worker/css-modules.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/css-modules.ts
Owners: none

[docs] Update Google Analytics measurement ID (#23098)
  docs/providers/Analytics.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[constants] Remove deprecated fields (#23068)
  apps/test-suite/tests/Constants.js
  docs/public/static/data/unversioned/expo-constants.json
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/android/build.gradle
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsService.kt
  packages/expo-constants/build/Constants.d.ts.map
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/ios/EXConstantsService.h
  packages/expo-constants/ios/EXConstantsService.m
  packages/expo-constants/src/Constants.ts
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/constants/ConstantsInterface.java
  packages/expo-modules-core/ios/Interfaces/Constants/EXConstantsInterface.h
Owners: @Simek, @amandeepmittal, @kbrandwijk, @wschurman, @brentvatne, @tsapeta, @kudo, @lukmccall

[templates] Update for latest changes
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Owners: none

chore(docs): Update error-boundaries.png (#23078)
  docs/public/static/images/expo-router/error-boundaries.png
Owners: @Simek, @amandeepmittal, @kbrandwijk

[jest] Fix mock-generator crash and update mocks (#23062)
  apps/jest-expo-mock-generator/App.js
  apps/jest-expo-mock-generator/metro.config.js
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/expoModules.js
Owners: @brentvatne, @EvanBacon

[docs] Update Using Facebook authentication guide (#22838)
  docs/pages/guides/facebook-authentication.mdx
  docs/public/static/images/authentication/android-package-error.png
  docs/public/static/images/authentication/android-required-fields.png
  docs/public/static/images/authentication/facebook-app-settings.jpg
  docs/public/static/images/authentication/facebook-login-settings.jpg
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates][iOS] Fix crash when both dev-client and updates enabled (#23070)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/DevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/Update/LegacyUpdate.swift
Owners: @wschurman, @douglowder

[docs] eas update: move dev client to troubleshoot section (#23082)
  docs/constants/navigation.js
Owners: @Simek, @amandeepmittal, @kbrandwijk

Publish packages
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/package.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/package.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/package.json
  packages/expo-module-template/package.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/package.json
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Owners: @EvanBacon, @bycedric, @tsapeta, @wschurman, @ide, @brentvatne

fix(cli): remove invalid "none" platform (#23080)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/start/index.ts
  packages/@expo/cli/src/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ExpoGoManifestHandlerMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/resolvePlatform-test.ts
  packages/@expo/cli/src/start/server/middleware/resolvePlatform.ts
Owners: @EvanBacon, @bycedric

Publish packages
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/package.json
  ios/Podfile.lock
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/package.json
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/android/build.gradle
  packages/expo-constants/package.json
  packages/expo-module-template/$package.json
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/package.json
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/package.json
Owners: @wschurman, @brentvatne, @tsapeta, @EvanBacon, @kudo, @lukmccall, @douglowder, @ide

[templates] Update again
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Owners: none

fix: [iOS][ExpoWebBrowser] don't crash with invalid url (#23084)
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/ios/WebBrowserExceptions.swift
  packages/expo-web-browser/ios/WebBrowserModule.swift
Owners: @tsapeta

Update Podfile locks [skip ci]
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
Owners: none

feat(docs): add Tailwind setup guide for Metro web (#23044)
  docs/pages/versions/unversioned/config/metro.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[config-plugins][prebuild-config] remove deprecated package in AndroidManifext.xml (#23056)
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Package.d.ts
  packages/@expo/config-plugins/build/android/Package.js
  packages/@expo/config-plugins/build/android/Package.js.map
  packages/@expo/config-plugins/src/android/Package.ts
  packages/@expo/config-plugins/src/android/__tests__/Package-test.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
Owners: @EvanBacon, @brentvatne

[docs] Fix firebase storage example link and known issue section position in ImagePicker (#23007)
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/v46.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v47.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v48.0.0/sdk/imagepicker.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[home] Better type dev menu, fix bugs, add verified indicator (#23059)
  home/menu/DevMenuApp.tsx
  home/menu/DevMenuServerInfo.tsx
  home/menu/DevMenuTaskInfo.tsx
  home/menu/DevMenuView.tsx
Owners: none

[android][barcode-scanner] fix unrecognised characters (#23094)
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/MLKitBarCodeScanner.kt
Owners: @lukmccall

[docs] a11y: customize focus appearance, ensure visibility (#23093)
  docs/components/DocumentationSidebarRightLink.tsx
  docs/components/Permalink.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/global-styles/extras.ts
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/Header/Logo.tsx
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Sidebar/SidebarLink.tsx
  docs/ui/components/Sidebar/SidebarSingleEntry.tsx
  docs/ui/components/Snippet/SnippetAction.tsx
  docs/ui/components/Text/index.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Publish packages
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/@expo/cli/package.json
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/package.json
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/package.json
  packages/expo-module-template/$package.json
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/package.json
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/android/build.gradle
  packages/expo-splash-screen/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Owners: @EvanBacon, @bycedric, @brentvatne, @tsapeta, @kudo, @lukmccall, @ide

[core] send CDP type by mime type (#23058)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/cdp/CdpNetworkTypes.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptorTest.kt
  packages/expo-modules-core/ios/Swift/DevTools/CdpNetworkTypes.swift
  packages/expo-modules-core/ios/Tests/ExpoRequestCdpInterceptorSpec.swift
Owners: @tsapeta, @kudo, @lukmccall

[constants] Bump expo-constants version
  apps/native-component-list/package.json
  apps/test-suite/package.json
  home/package.json
  packages/expo-asset/package.json
  packages/expo-auth-session/package.json
  packages/expo-linking/package.json
  packages/expo-notifications/package.json
Owners: @tsapeta, @wschurman

chore(docs): uncomment experimental guides (#23073)
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/typescript.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[ios][file-system] Remove unused options parameter (#23106)
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Owners: @brentvatne, @kudo, @ide, @tsapeta

[expo-updates][android] Convert LoaderTask.RemoteCheckResult to sealed class (#23061)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
Owners: @wschurman, @douglowder

[ios][document-picker] Fix copying to cache directory (#23102)
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/ios/DocumentPickerModule.swift
Owners: @lukmccall

[dev-menu] Remove unused fonts (#23107)
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/assets/Ionicons.ttf
  packages/expo-dev-menu/assets/MaterialCommunityIcons.ttf
Owners: @lukmccall, @douglowder

chore(docs): update info on router versions (#23075)
  docs/pages/router/reference/async-routes.mdx
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/router/reference/typed-routes.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates][android] restrict property visibility on state machine objects (#23063)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContext.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateError.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Owners: @wschurman, @douglowder

[templates][expo] Bump templates and bundled native modules
  packages/expo/bundledNativeModules.json
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Owners: @ide, @tsapeta, @brentvatne

[print][ios] Fix web urls and data strings support (#22997)
  packages/expo-print/CHANGELOG.md
  packages/expo-print/ios/ExpoPrintWithPrinter.swift
Owners: @lukmccall

fix(docs): update info about sitemap (#23074)
  docs/pages/router/reference/sitemap.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Upgrade semver and json5 for remove security vulnerabilities (#23113)
  home/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/package.json
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/package.json
  packages/@expo/dev-server/package.json
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/package.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/package.json
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/package.json
  tools/package.json
  tools/yarn.lock
  yarn.lock
Owners: @EvanBacon, @bycedric, @brentvatne, @kudo, @gabrieldonadel, @lukmccall, @douglowder, @tsapeta

[dev-launcher] Add support for SSO users (#22873)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
  packages/expo-dev-launcher/bundle/functions/getUserProfileAsync.ts
  packages/expo-dev-launcher/bundle/screens/UserProfileScreen.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/BranchesScreen.test.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/ExtensionsScreen.test.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/UserProfileScreen.test.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Owners: @lukmccall, @douglowder

[expo-updates][ios] Use weak delegate for state machine (#23060)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/UpdatesStateMachine.swift
Owners: @wschurman, @douglowder

[ios] Bump Expo Go version
  ios/Exponent/Supporting/Info.plist
Owners: none

[home] Publish dev and prod home
  android/app/src/main/assets/kernel-manifest.json
  dev-home-config.json
  home/app.json
  ios/Exponent/Supporting/kernel-manifest.json
  ios/Exponent/Supporting/kernel.ios.bundle
Owners: none

Revert "[expo-updates][android] restrict property visibility on state machine objects (#23063)"
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContext.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateError.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Owners: @wschurman, @douglowder

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @lukmccall
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall
/packages/expo-image-picker                     @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @lukmccall
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @lukmccall
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
