Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

fix(html-elements): prevent converting in node_modules (#21594)
  packages/html-elements/CHANGELOG.md
  packages/html-elements/babel.js
  packages/html-elements/babel/__tests__/transform.test.js
Owners: none

fix(expo-font): fix require cycle on web. (#21593)
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/FontLoader.web.d.ts.map
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/src/FontLoader.web.ts
Owners: @tsapeta

[menu][Android] Fix `redeclaration: DevMenuPackageDelegate`
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
Owners: @lukmccall, @douglowder

[exupdates][ios] Convert more tests to swift (#21495)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderManifestParsingSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderManifestParsingTest.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderTests.m
  packages/expo-updates/ios/Tests/MiscellaneousSpec.swift
  packages/expo-updates/ios/Tests/TestHelper.swift
  packages/expo-updates/ios/Tests/Tests.m
Owners: @wschurman, @douglowder

[exupdates][ios] Convert EXUpdatesUtils to swift (#21512)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesBareUpdate.swift
  packages/expo-updates/ios/Tests/MiscellaneousSpec.swift
Owners: @wschurman, @douglowder

[exupdates][ios] Convert EXUpdatesCrypto to swift (#21524)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Kernel/Services/EXUpdatesDatabaseManager.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCertificateChain.swift
Owners: @wschurman, @douglowder

[exupdates][ios] Convert file downloader to swift (#21493)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Kernel/Services/EXUpdatesManager.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/Multipart/EXUpdatesParameterParser.h
  packages/expo-updates/ios/EXUpdates/Multipart/EXUpdatesParameterParser.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderManifestParsingTest.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderTests.m
  packages/expo-updates/ios/Tests/EXUpdatesParameterParserTests.m
Owners: @wschurman, @douglowder

[menu][Android] Fix packages cannot be imported
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
Owners: @lukmccall, @douglowder

[expo-updates] Fix E2E after Swift conversion (#21592)
  .github/workflows/updates-e2e.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.m
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.swift
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

[exupdates][ios] Convert AppLoader to swift (#21535)
  ios/Exponent/Kernel/Services/EXUpdatesManager.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader+Private.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesBareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesNewUpdate.swift
Owners: @wschurman, @douglowder

[docs] Configure JS engines: fix typo (#21614)
  docs/pages/guides/configuring-js-engines.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[asset] revert @react-native/assets-registry compatible layer (#21559)
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/build/Asset.d.ts.map
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/build/AssetSourceResolver.web.d.ts
  packages/expo-asset/build/AssetSourceResolver.web.d.ts.map
  packages/expo-asset/build/AssetSourceResolver.web.js.map
  packages/expo-asset/build/AssetSources.d.ts
  packages/expo-asset/build/AssetSources.d.ts.map
  packages/expo-asset/build/AssetSources.js.map
  packages/expo-asset/build/ReactNativeCompatibleAssetsRegistry.d.ts
  packages/expo-asset/build/ReactNativeCompatibleAssetsRegistry.d.ts.map
  packages/expo-asset/build/ReactNativeCompatibleAssetsRegistry.js
  packages/expo-asset/build/ReactNativeCompatibleAssetsRegistry.js.map
  packages/expo-asset/build/resolveAssetSource.web.d.ts.map
  packages/expo-asset/build/resolveAssetSource.web.js
  packages/expo-asset/build/resolveAssetSource.web.js.map
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/AssetSourceResolver.web.ts
  packages/expo-asset/src/AssetSources.ts
  packages/expo-asset/src/ReactNativeCompatibleAssetsRegistry.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
  packages/expo-asset/src/resolveAssetSource.web.ts
Owners: @tsapeta, @wschurman

[jest-expo] use globalThis rather than global (#21581)
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Owners: @brentvatne, @EvanBacon

[android][go] fix broken reanimated layout animation (#21579)
  android/expoview/src/main/java/versioned/host/exp/exponent/ExpoTurboPackage.kt
  android/vendored/sdk48/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/latest/com/swmansion/reanimated/ReanimatedUIManagerFactory.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/latest/com/swmansion/reanimated/ReanimatedUIManagerFactory.java
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/ExpoTurboPackage.kt
  tools/src/vendoring/config/expoGoConfig.ts
Owners: @tsapeta

[expo-updates] Fix iOS native debug after Swift conversion (#21602)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/ios/EXUpdates.podspec
Owners: @wschurman, @douglowder

[linear-gradient] fix crash when r8 enabled (#21580)
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientView.java
Owners: @brentvatne

[docs] Notifications: fix error in one of examples (#21601)
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v48.0.0/sdk/notifications.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Rename "Debugging" section titles to be more meaningful for various docs pages (#21612)
  docs/pages/build-reference/ios-capabilities.mdx
  docs/pages/development/use-development-builds.mdx
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/guides/config-plugins.mdx
  docs/pages/workflow/snack.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Update page titles for Expo Modules API for better search results (#21611)
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/modules/get-started.mdx
  docs/pages/modules/overview.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] remove invalid graphql links resources on using graphql section (#21616)
  docs/pages/guides/using-graphql.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[go] reversion sdk47 aar with unwinder fix (#21604)
  android/vendored/sdk47/react-native-reanimated/android/src/main/jniLibs/arm64-v8a/libreanimated_abi47_0_0.so
  android/vendored/sdk47/react-native-reanimated/android/src/main/jniLibs/armeabi-v7a/libreanimated_abi47_0_0.so
  android/vendored/sdk47/react-native-reanimated/android/src/main/jniLibs/x86/libreanimated_abi47_0_0.so
  android/vendored/sdk47/react-native-reanimated/android/src/main/jniLibs/x86_64/libreanimated_abi47_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/arm64-v8a/libexpo-av_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/arm64-v8a/libexpo-gl_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/arm64-v8a/libexpo-modules-core_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/arm64-v8a/libreanimated_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/armeabi-v7a/libexpo-av_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/armeabi-v7a/libexpo-gl_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/armeabi-v7a/libexpo-modules-core_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/armeabi-v7a/libreanimated_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86/libexpo-av_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86/libexpo-gl_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86/libexpo-modules-core_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86/libreanimated_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86_64/libexpo-av_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86_64/libexpo-gl_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86_64/libexpo-modules-core_abi46_0_0.so
  android/versioned-abis/expoview-abi46_0_0/src/main/jniLibs/x86_64/libreanimated_abi46_0_0.so
  android/versioned-abis/expoview-abi47_0_0/maven/host/exp/reactandroid-abi47_0_0/1.0.0/_remote.repositories
  android/versioned-abis/expoview-abi47_0_0/maven/host/exp/reactandroid-abi47_0_0/maven-metadata-local.xml
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/arm64-v8a/libexpo-av_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/arm64-v8a/libexpo-gl_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/arm64-v8a/libexpo-modules-core_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/armeabi-v7a/libexpo-av_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/armeabi-v7a/libexpo-gl_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/armeabi-v7a/libexpo-modules-core_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/x86/libexpo-av_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/x86/libexpo-gl_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/x86/libexpo-modules-core_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/x86_64/libexpo-av_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/x86_64/libexpo-gl_abi47_0_0.so
  android/versioned-abis/expoview-abi47_0_0/src/main/jniLibs/x86_64/libexpo-modules-core_abi47_0_0.so
Owners: none

[docs] Fix typo in expo-contacts documentation (#21615)
  docs/pages/versions/unversioned/sdk/contacts.mdx
  docs/pages/versions/v48.0.0/sdk/contacts.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[auth-session][docs] fix broken link in JSDoc, fix changelog formatting (#21613)
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequestHooks.d.ts
  packages/expo-auth-session/build/AuthRequestHooks.js
  packages/expo-auth-session/build/AuthRequestHooks.js.map
  packages/expo-auth-session/src/AuthRequestHooks.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[exupdates][ios] Convert controllers to swift (#21591)
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesExternalInterface.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController+Internal.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesAppDelegateSubscriber.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoverySpec.swift
Owners: @wschurman, @douglowder

feature(cli): add custom inspector proxy based on `metro-inspector-proxy` (#21449)
  docs/pages/workflow/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/proxy.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/NetworkResponse.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/NetworkResponse.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/types.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/index.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/proxy.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/cli/ts-declarations/metro-inspector-proxy/index.d.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon, @bycedric

[exupdates][ios] Decrease access control on classes and remove unnecessary objc attributes (#21597)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesManifestHeaders.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCertificateChain.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningAlgorithm.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningConfiguration.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningError.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesSignatureHeaderInfo.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseInitialization.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseUtils.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigration.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigration4To5.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigration5To6.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigration6To7.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigration7To8.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigration8To9.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/EXUpdatesDatabaseMigrationRegistry.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesExceptions.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesErrorCode.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogEntry.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogReader.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogger.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesAppDelegateSubscriber.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/EXUpdatesReaperSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesBareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesNewUpdate.swift
  packages/expo-updates/ios/Tests/TestHelper.swift
Owners: @wschurman, @douglowder

[exupdates][ios] Convert module to swift (#21596)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesExceptions.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.swift
Owners: @wschurman, @douglowder

[exupdates][ios] Remove temporary wrapper classes from objective-c conversion (#21599)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.swift
  packages/expo-updates/ios/Tests/EXUpdatesAppLauncherWithDatabaseSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesBuildDataSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseSpec.swift
Owners: @wschurman, @douglowder

[exupdates][ios] Clean up and rename code signing classes (#21600)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/CertificateChain.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/CodeSigningAlgorithm.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/CodeSigningConfiguration.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/CodeSigningError.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningAlgorithm.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesSignatureHeaderInfo.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/SignatureHeaderInfo.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.swift
  packages/expo-updates/ios/Tests/CertificateChainTests.swift
  packages/expo-updates/ios/Tests/CodeSigningAlgorithmTests.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesCodeSigningAlgorithmTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesSignatureHeaderInfoTests.swift
  packages/expo-updates/ios/Tests/SignatureHeaderInfoTests.swift
Owners: @wschurman, @douglowder

[exupdates][ios] Replace reachability code with library (#21598)
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.swift
Owners: @wschurman, @douglowder

[exupdates][ios] More swift rename cleanup (#21622)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncher.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncherNoDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/ErrorRecovery.swift
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesAppDelegateSubscriber.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/LauncherSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/LauncherSelectionPolicySingleUpdate.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/LoaderSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/ReaperSelectionPolicyDevelopmentClient.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/ReaperSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/SelectionPolicy.swift
  packages/expo-updates/ios/EXUpdates/Update/BareUpdate.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
Owners: @wschurman, @douglowder

test(cli): wait until `socket.on('close')` is invoked in proxy test (#21632)
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/proxy.test.ts
Owners: @EvanBacon, @bycedric

[exupdates][ios][e2e] Fix compilation errors for e2e test (#21621)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/E2ETestModule.swift
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.h
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.m
  packages/expo-updates/e2e/setup/project.js
  packages/expo-updates/expo-module.config.json
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
Owners: @wschurman, @douglowder

[docs] drop decoration of API headers, add monospace font weight variant (#21627)
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/components/plugins/APIBox.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/_app.tsx
  docs/pages/modules/module-api.mdx
  docs/ui/components/Text/index.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] update sentry-testkit url address (#21637)
  docs/pages/guides/using-sentry.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[go][Android] Run spotless
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/medialibrary/MediaLibraryModule.kt
Owners: none

[expo-updates] E2E tests: Upgrade Detox config plugin (#21645)
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/setup/project.js
Owners: @wschurman, @douglowder

[core][Android] Run spotless
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
Owners: @tsapeta, @kudo, @lukmccall

[core][Android] Fix coroutine functions crashing when invoked with more than 1 argument (#21635)
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionBuilder.kt
Owners: @tsapeta, @lukmccall, @kudo

[docs] Expo CLI: improve env variables readability (#21660)
  docs/pages/workflow/expo-cli.mdx
  docs/ui/components/Tag/StatusTag.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk
