Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @lukmccall, @kudo, @gabrieldonadel, @aleqsio, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

[auth-session] remove broken test (#23154)
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
Owners: none

[expo-image] Add srcset support to expo-image (#22088)
  apps/native-component-list/src/screens/Image/ImageResizableScreen.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  apps/native-component-list/src/screens/Image/ImageSrcSetScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/build/web/ImageWrapper.d.ts
  packages/expo-image/build/web/ImageWrapper.d.ts.map
  packages/expo-image/build/web/ImageWrapper.js
  packages/expo-image/build/web/ImageWrapper.js.map
  packages/expo-image/build/web/useSourceSelection.d.ts
  packages/expo-image/build/web/useSourceSelection.d.ts.map
  packages/expo-image/build/web/useSourceSelection.js
  packages/expo-image/build/web/useSourceSelection.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.types.ts
  packages/expo-image/src/web/ImageWrapper.tsx
  packages/expo-image/src/web/useSourceSelection.ts
Owners: @lukmccall, @tsapeta, @aleqsio

[home] Publish dev and prod home
  android/app/src/main/assets/kernel-manifest.json
  android/app/src/main/assets/kernel.android.bundle
  dev-home-config.json
  ios/Exponent/Supporting/kernel-manifest.json
  ios/Exponent/Supporting/kernel.ios.bundle
Owners: none

feat(cli): Add metro favicon middleware (#23072)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/__mocks__/@expo/image-utils.ts
  packages/@expo/cli/src/export/__tests__/publicFolder.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/export/favicon.ts
  packages/@expo/cli/src/export/publicFolder.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/FaviconMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/FaviconMiddleware.test.ts
Owners: @EvanBacon, @bycedric

[go] fix network inspector stability on android (#23158)
  android/expoview/src/main/java/host/exp/exponent/ReactNativeStaticHelpers.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/KernelNetworkInterceptor.kt
  android/expoview/src/main/java/host/exp/expoview/Exponent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExpoNetworkInterceptor.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/ExpoNetworkInterceptor.kt
Owners: none

fix(cli): Add fallback error for static rendering (#23170)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Owners: @EvanBacon, @bycedric

[home] Publish new prod home
  android/app/src/main/assets/kernel-manifest.json
  android/app/src/main/assets/kernel.android.bundle
  ios/Exponent/Supporting/kernel-manifest.json
  ios/Exponent/Supporting/kernel.ios.bundle
Owners: none

feat(router): update intro, installation, and add linking doc (#23153)
  docs/constants/navigation.js
  docs/pages/router/advance/shared-routes.mdx
  docs/pages/router/reference/search-parameters.mdx
  docs/pages/routing/create-pages.mdx
  docs/pages/routing/installation.mdx
  docs/pages/routing/introduction.mdx
  docs/pages/routing/layouts.mdx
  docs/pages/routing/navigating-pages.mdx
  docs/pages/routing/shared-routes-and-layouts.mdx
  docs/public/static/videos/expo-router/modal.mp4
Owners: @Simek, @amandeepmittal, @kbrandwijk

[home] Fix Home header not updating after signing out (#23168)
  home/screens/HomeScreen/HomeScreenView.tsx
Owners: none

[ENG-9064][1/2] EAS Update: a basic debugging guide, try 2 (#23079)
  docs/constants/navigation.js
  docs/pages/eas-update/build-locally.mdx
  docs/pages/eas-update/debug-advanced.mdx
  docs/pages/eas-update/debug.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v47.0.0/sdk/updates.mdx
  docs/pages/versions/v48.0.0/sdk/updates.mdx
  docs/public/static/images/eas-update/deployments-no-branch.png
  docs/public/static/images/eas-update/deployments-no-updates.png
  docs/public/static/images/eas-update/deployments-website-tab.png
  docs/public/static/images/eas-update/deployments-wrong-branch.png
  docs/public/static/images/eas-update/deployments-wrong-channel.png
  docs/public/static/images/eas-update/deployments-wrong-runtime.png
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates] Add E2E tests to check `expoConfig` values (#23149)
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
Owners: @wschurman, @douglowder

[image] Commit updated build files
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/build/web/useSourceSelection.d.ts
  packages/expo-image/build/web/useSourceSelection.d.ts.map
  packages/expo-image/build/web/useSourceSelection.js.map
Owners: @lukmccall, @tsapeta, @aleqsio

[dev-launcher] fix updates is not showing in the ext tab (#23163)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/queries/useBranchesForApp.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Owners: @lukmccall, @douglowder

[docs] Fix Apple's request push address for custom push notification (#23162)
  docs/pages/push-notifications/sending-notifications-custom.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[home][iOS] Fix SafeAreaView height after opening web browser (#23164)
  dev-home-config.json
  home/screens/HomeScreen/index.tsx
Owners: none

Publish expo-updates
  apps/native-component-list/package.json
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/package.json
  packages/expo/bundledNativeModules.json
Owners: @wschurman, @douglowder, @ide, @tsapeta, @brentvatne

[ENG-9065][ENG-6920][2/2] Refactor the current debugging guide (#23081)
  docs/pages/eas-update/debug-advanced.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo] Update bundled modules
  packages/expo/bundledNativeModules.json
Owners: @ide, @tsapeta, @brentvatne

[expo-updates] Support discriminated unions for JS API method result types (#23173)
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesModule.kt
  ios/versioned/sdk49/EXUpdates/EXUpdates/UpdatesModule.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/src/Updates.types.ts
Owners: @wschurman, @douglowder

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @lukmccall
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall
/packages/expo-image-picker                     @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @lukmccall
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @lukmccall
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
