Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @marklawlor, @ide, @alanjhughes, @tsapeta, @wschurman, @lukmccall, @kudo, @gabrieldonadel, @aleqsio, @kbrandwijk, @byCedric, @Simek, @amandeepmittal

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/env                             @EvanBacon @bycedric
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/image-utils                     @bycedric @EvanBacon
/packages/@expo/json-file                       @EvanBacon @bycedric
/packages/@expo/metro-config                    @EvanBacon @bycedric @marklawlor
/packages/@expo/metro-runtime                   @EvanBacon @bycedric @marklawlor
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/create-expo                           @EvanBacon @bycedric
/packages/expo-*                                @alanjhughes
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-launcher                     @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-menu                         @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-menu-interface               @lukmccall @douglowder @gabrieldonadel
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @lukmccall
/packages/expo-env-info                         @bycedric @kbrandwijk
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall
/packages/expo-image-picker                     @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @alanjhughes
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-modules-test-core                @tsapeta @aleqsio
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-router                           @EvanBacon @marklawlor
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @lukmccall
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @lukmccall
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-video                            @tsapeta @aleqsio
/packages/expo-web-browser                      @tsapeta
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

[ios][tools] fix crash from evaluating invalid js in hermes debugger (#25355)
  ios/Podfile.lock
  ios/versioned-react-native/ABI49_0_0/ReactNative/ReactCommon/hermes/inspector/ABI49_0_0Inspector.h
  ios/versioned-react-native/ABI49_0_0/ReactNative/ReactCommon/jsi/ABI49_0_0React-jsi.podspec
  tools/src/versioning/ios/transforms/podspecTransforms.ts
  tools/src/versioning/ios/versionHermes.ts
Owners: @tsapeta

[iOS] Fix unversioned QA issues in expo-file-system (#25704)
  apps/test-suite/tests/FileSystem.js
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemModule.swift
Owners: @brentvatne, @kudo, @ide, @tsapeta

[ci] Add release variant to expo-updates e2e (#25719)
  .github/workflows/tvos-compile-test.yml
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/setup/project.ts
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

[camera] Improve test stability (#25738)
  apps/test-suite/tests/Camera.js
Owners: none

update yarn.lock
  yarn.lock
Owners: none

[tools] fix lint issue
  tools/src/versioning/ios/versionHermes.ts
Owners: @tsapeta

[doctor] Fix Doctor bin ("sh: expo-doctor: command not found") (#25672)
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/package.json
Owners: @alanjhughes

[battery][docs] Fix formatting issue and typo in return value for battery level on web (#25741)
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/v49.0.0/expo-battery.json
  packages/expo-battery/build/Battery.d.ts
  packages/expo-battery/build/Battery.js
  packages/expo-battery/build/Battery.js.map
  packages/expo-battery/build/Battery.types.d.ts
  packages/expo-battery/build/Battery.types.js
  packages/expo-battery/build/Battery.types.js.map
  packages/expo-battery/src/Battery.ts
  packages/expo-battery/src/Battery.types.ts
Owners: @Simek, @amandeepmittal, @tsapeta

[camera] `stopRecording`, `pausePreview` and `resumePreview` have been updated to return promises (#25737)
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.d.ts.map
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/src/Camera.tsx
Owners: @lukmccall

[av][ios] Fix base64 audio playback on iOS 17+ (#25414)
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
Owners: @lukmccall, @kudo

[ci] Add slack failure notification to expo-updates E2E tests (#25718)
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Owners: @tsapeta, @brentvatne, @kudo

[docs] Update latest SDK Expo Battery example to use hook and other updates (#25740)
  docs/pages/versions/unversioned/sdk/battery.mdx
  docs/pages/versions/v46.0.0/sdk/battery.mdx
  docs/pages/versions/v47.0.0/sdk/battery.mdx
  docs/pages/versions/v48.0.0/sdk/battery.mdx
  docs/pages/versions/v49.0.0/sdk/battery.mdx
Owners: @Simek, @amandeepmittal

[expo-updates][android] Fix wait notify bug in launch asset when enabled (#25676)
  .github/workflows/updates-e2e-startup.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/e2e/fixtures/Updates-startup.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/setup/create-startup-eas-project.ts
  packages/expo-updates/e2e/setup/project.ts
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

[5/n] upgrade react-native 0.73 (#25750)
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/eas-expo-go/eas.json
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/Podfile.lock
  apps/native-tests/package.json
  apps/router-e2e/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  ios/Podfile.lock
  package.json
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Owners: @lukmccall, @douglowder, @gabrieldonadel, @wschurman, @ide, @tsapeta, @brentvatne

[docs] Update babel config step code snippet (#25729)
  docs/pages/router/installation.mdx
Owners: @Simek, @amandeepmittal

[ios][image-manipulator] fix threading issue (#25756)
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulatorModule.swift
Owners: @lukmccall

[home] Fix home not updating modal user state on login (#25730)
  home/screens/AccountModal/index.tsx
Owners: none

[updates][e2e] Run all variants on workflow dispatch (#25748)
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Owners: @tsapeta, @brentvatne, @kudo

[expo-updates] Improve JS API error messages and documentation for Expo Go and Dev Client (#25751)
  android/expoview/src/main/java/versioned/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  ios/Exponent/Versioned/Core/Modules/ExpoGoExpoUpdatesModule.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
  packages/expo-updates/src/Updates.ts
Owners: @wschurman, @douglowder

[expo-updates][e2e] Fix reload test on android (#25753)
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
Owners: @wschurman, @douglowder

[core][Android] Fix functions scheduled on the main thread weren't being called as soon as possible (#25757)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyType.kt
Owners: @tsapeta, @kudo, @lukmccall

[tracking-transparency][android] Add tracking-transparency to Expo Go and Home (#25758)
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
Owners: none

[core] add Data convertible on ios (#25726)
  docs/pages/modules/module-api.mdx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Arguments/AnyArgument.swift
  packages/expo-modules-core/ios/DynamicTypes/DynamicDataType.swift
  packages/expo-modules-core/ios/DynamicTypes/DynamicDictionaryType.swift
  packages/expo-modules-core/ios/DynamicTypes/DynamicType.swift
  packages/expo-modules-core/ios/JSI/EXJSIConversions.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/Tests/BlobConvertiblesSpec.swift
Owners: @Simek, @amandeepmittal, @tsapeta, @kudo, @lukmccall

[core] add ByteArray convertible on android (#25727)
  docs/pages/modules/module-api.mdx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/BlobTypeConversionTest.kt
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ByteArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/folly/FollyDynamicExtensionConverter.kt
Owners: @Simek, @amandeepmittal, @tsapeta, @kudo, @lukmccall

Publish expo-doctor
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/package.json
Owners: @alanjhughes

[docs] Add documentation for the font plugin (#25754)
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/versions/unversioned/sdk/font.mdx
Owners: @Simek, @amandeepmittal

[docs] Add icons for Development Process and Distribution sidebar groups (#25603)
  docs/ui/components/Sidebar/SidebarGroup.tsx
Owners: @Simek, @amandeepmittal

[core] try to improve the stability for ios unit test (#25786)
  packages/expo-modules-core/ios/Tests/BlobConvertiblesSpec.swift
Owners: @tsapeta, @kudo, @lukmccall

[home] Fix path imports (#25765)
  home/navigation/Navigation.tsx
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/DiagnosticsScreen/index.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/SettingsScreen/index.tsx
  home/tsconfig.json
Owners: none

fix(expo-module-scripts): enable `universe/node` preset for root config files (#25767)
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-module-scripts/eslintrc.base.js
Owners: @ide

[test-suite] Update SecureStore tests (#25761)
  apps/test-suite/tests/SecureStore.js
Owners: none

[docs] Add a section on how to read from environment variables (#25782)
  docs/pages/guides/environment-variables.mdx
Owners: @Simek, @amandeepmittal

[updates][e2e] Increase timeout (#25768)
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Owners: @tsapeta, @brentvatne, @kudo

[kernel] Fix deep links in expo go ios (#25759)
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.h
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.m
Owners: none

[docs] Update pre-release info for alpha->canary and mention beta (#25779)
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v49.0.0/index.mdx
Owners: @Simek, @amandeepmittal

[docs] Add docs for rollbacks and update rollouts (#25752)
  docs/constants/navigation.js
  docs/pages/eas-update/rollbacks.mdx
  docs/pages/eas-update/rollouts.mdx
Owners: @Simek, @amandeepmittal

[docs] Add Appjs 24 conf banner on home page (#25772)
  docs/public/static/images/appjs.svg
  docs/tailwind.config.cjs
  docs/ui/components/AppJSBanner/Background.tsx
  docs/ui/components/AppJSBanner/index.tsx
Owners: @Simek, @amandeepmittal

[expo-go][ios] Always run ios-generate-dynamic-macros build step (#25776)
  ios/Exponent.xcodeproj/project.pbxproj
Owners: none

[fingerprint] Add fingerprintignore to README (#25582) [skip ci]
  packages/@expo/fingerprint/README.md
Owners: none

[prebuilld-config] Fix splashscreen prebuild (#25789)
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashLegacyMainActivity.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashLegacyMainActivity.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashLegacyMainActivity.ts
Owners: @EvanBacon
