Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

[github] Validate issues and improve bug report template (#21202)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/issue-attention.yml
  .github/workflows/issue-opened.yml
  tools/src/commands/ValidateIssueCommand.ts
Owners: @tsapeta, @brentvatne, @kudo

[core] Fix AppDelegateSubscriber broken on ios framework mode (#21206)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.mm
Owners: @tsapeta, @kudo, @lukmccall

[image][Android] Fix `You can't start or clear loads in RequestListener or Target callbacks` (#21192)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
Owners: @lukmccall, @tsapeta

[github] Only add label if in allow list
  .github/workflows/issue-opened.yml
Owners: @tsapeta, @brentvatne, @kudo

Close config file watchers to ensure process can exit. (#21199)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/createBundles.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/utils/FileNotifier.ts
Owners: @EvanBacon, @bycedric

feat(cli, metro-config): implement new unstable_serverRoot feature (#21088)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ClassicManifestMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ManifestMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/resolveEntryPoint.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Owners: @EvanBacon, @bycedric

[image][Android] Fix SVGs are not rendered in the release mode (#21214)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ResourceIdHelper.kt
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Owners: @lukmccall, @tsapeta

[github] Fix typo in action
  .github/workflows/issue-opened.yml
Owners: @tsapeta, @brentvatne, @kudo

[image][ios] Don't emit onProgress event when the asset size is unknown (#21215)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Owners: @lukmccall, @tsapeta

[ENG-7389][docs] update images documentation (#21182)
  docs/pages/build-reference/infrastructure.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Update lockfiles [skip ci]
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  yarn.lock
Owners: none

Publish expo-image
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/build.gradle
  packages/expo-image/package.json
  packages/expo/bundledNativeModules.json
Owners: @lukmccall, @tsapeta, @ide, @brentvatne

[expo-gl] Add support for GL_UNPACK_ALIGNMENT in pixelStorei (#21212)
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/common/EXWebGLMethods.cpp
Owners: @tsapeta, @wkozyra95

[docs] improves the migration guide (#21159)
  docs/pages/eas-update/migrate-to-eas-update.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Backport changes in expo-image and expo-gl to SDK 48
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/image/ExpoImageViewWrapper.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/image/ResourceIdHelper.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/image/records/SourceMap.kt
  ios/Podfile.lock
  ios/versioned/sdk48/Expo/ABI48_0_0Expo.podspec.json
  ios/versioned/sdk48/ExpoGL/ABI48_0_0ExpoGL.podspec.json
  ios/versioned/sdk48/ExpoGL/common/ABI48_0_0EXWebGLMethods.cpp
  ios/versioned/sdk48/ExpoImage/ABI48_0_0ExpoImage.podspec.json
  ios/versioned/sdk48/ExpoImage/ImageView.swift
Owners: none

Backport expo-modules-core to SDK 48 and remove tests from versioned code
  ios/Podfile.lock
  ios/versioned/sdk48/ExpoModulesCore/ABI48_0_0ExpoModulesCore.podspec.json
  ios/versioned/sdk48/ExpoModulesCore/ios/AppDelegates/ABI48_0_0EXAppDelegateWrapper.mm
  ios/versioned/sdk48/ExpoModulesCore/ios/Swift/Arguments/Convertibles.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Swift/Utilities.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Swift/Views/ComponentData.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ABI48_0_0EXAppDefinesTest.m
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ClassComponentSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ConstantsSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ConvertiblesSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/DynamicTypeSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/EitherSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/EnumerableSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ExceptionsSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ExpoModulesSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/FunctionSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/FunctionWithConvertiblesSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/JavaScriptObjectSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/JavaScriptRuntimeSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/Mocks/ModuleMocks.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/Mocks/ModulesProviderMock.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ModuleEventListenersSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ModuleRegistrySpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/PersistentFileLogSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/PropertyComponentSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/RecordSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/SharedObjectRegistrySpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/TypedArraysSpec.swift
  ios/versioned/sdk48/ExpoModulesCore/ios/Tests/ViewDefinitionSpec.swift
Owners: none

[android] Remove scoped error recovery module
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ScopedErrorRecoveryModule.kt
Owners: none

Backport react-native-screens v3.20.0 to SDK 48 code
  android/vendored/sdk48/react-native-screens/android/src/main/java/abi48_0_0/com/swmansion/rnscreens/ScreenViewManager.kt
  android/vendored/sdk48/react-native-screens/android/src/paper/java/abi48_0_0/com/facebook/react/viewmanagers/RNSScreenManagerDelegate.java
  android/vendored/sdk48/react-native-screens/android/src/paper/java/abi48_0_0/com/facebook/react/viewmanagers/RNSScreenManagerInterface.java
  ios/Podfile.lock
  ios/vendored/sdk48/react-native-screens/ABI48_0_0RNScreens.podspec.json
  ios/vendored/sdk48/react-native-screens/ios/ABI48_0_0RNSConvert.h
  ios/vendored/sdk48/react-native-screens/ios/ABI48_0_0RNSConvert.mm
  ios/vendored/sdk48/react-native-screens/ios/ABI48_0_0RNSEnums.h
  ios/vendored/sdk48/react-native-screens/ios/ABI48_0_0RNSScreen.h
  ios/vendored/sdk48/react-native-screens/ios/ABI48_0_0RNSScreen.mm
Owners: none

[autolinking] Suppress node warnings about deprecated exports mapping (#21222)
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/react_import_patcher.rb
Owners: @tsapeta, @kudo, @lukmccall

Publish packages
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/package.json
  apps/test-suite/package.json
  ios/Podfile.lock
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/dev-server/package.json
  packages/@expo/fingerprint/package.json
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/package.json
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/package.json
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/package.json
  packages/expo-dev-client/package.json
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/build.gradle
  packages/expo-gl/package.json
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-intent-launcher/android/build.gradle
  packages/expo-intent-launcher/package.json
  packages/expo-module-template/$package.json
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/package.json
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/package.json
  packages/expo-processing/package.json
  packages/expo-stories/package.json
  packages/expo-test-runner/package.json
  packages/expo-updates/package.json
  packages/expo-yarn-workspaces/package.json
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Owners: @EvanBacon, @bycedric, @tsapeta, @lukmccall, @douglowder, @wkozyra95, @kudo, @wschurman, @ide, @brentvatne

[github] Use --pretty online instead of %B to ensure commit message is on one line (#21224)
  .github/workflows/updates-e2e-android.yml
  .github/workflows/updates-e2e-ios.yml
Owners: @tsapeta, @brentvatne, @kudo

Revert: [expo-updates][android] Add support for version 1 of the protocol and directives and rollback to embedded update directive (#21226)
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/NewUpdateManifestTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/ResponseHeaderDataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestFactoryTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestMetadataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/selectionpolicy/SelectionPolicyFilterAwareTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/UpdateDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteUpdate.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestFactory.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestMetadata.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ResponseHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/UpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/ReaperSelectionPolicyFilterAware.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/SelectionPolicy.kt
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Owners: @wschurman, @douglowder

Publish packages
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/expo/package.json
Owners: @EvanBacon, @bycedric, @ide, @tsapeta, @brentvatne

[package-manager] Update description to match README
  packages/@expo/package-manager/package.json
Owners: @EvanBacon, @bycedric

Publish packages
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/@expo/fingerprint/package.json
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/package.json
Owners: @ide, @tsapeta, @brentvatne

Publish @expo/package-manager
  packages/@expo/cli/package.json
  packages/@expo/fingerprint/package.json
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/package.json
Owners: @EvanBacon, @bycedric

[docs] Add note in app-credentials.mdx (#21234)
  docs/pages/app-signing/app-credentials.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[fingerprint] export diffFingerprintChangesAsync (#21218)
  packages/@expo/fingerprint/build/index.d.ts
  packages/@expo/fingerprint/build/index.js
  packages/@expo/fingerprint/build/index.js.map
  packages/@expo/fingerprint/src/index.ts
Owners: none

[docs] Update Symfony notifications library
  docs/pages/push-notifications/sending-notifications.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Add documentation for `eas build:run` command for Android Emulator and iOS Simulator (#21112)
  docs/pages/build-reference/apk.mdx
  docs/pages/build-reference/simulators.mdx
  docs/pages/development/create-development-builds.mdx
  docs/public/static/images/dev-client/android-build.jpg
  docs/public/static/images/dev-client/ios-build.jpg
  docs/public/static/images/eas-build/eas-build-run-on-android.png
  docs/public/static/images/eas-build/eas-build-run-on-ios.png
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Fix formatting and typos in various docs (#21191)
  docs/common/error-utilities.ts
  docs/expo-dict.json
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/bare/installing-updates.mdx
  docs/pages/bare/updating-your-app.mdx
  docs/pages/build/internal-distribution.mdx
  docs/pages/guides/config-plugins.mdx
  docs/pages/guides/icons.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v47.0.0/sdk/notifications.mdx
  docs/pages/versions/v48.0.0/sdk/notifications.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Add eas build:resign command (#21184)
  docs/pages/app-signing/app-credentials.mdx
  docs/public/static/images/eas-build/eas-build-resign.png
Owners: @Simek, @amandeepmittal, @kbrandwijk

[github] Add @bndkt to trusted users
  .github/workflows/issue-opened.yml
Owners: @tsapeta, @brentvatne, @kudo

[updates][docs] export missing types, regenerate docs data (#21237)
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/v48.0.0/expo-updates.json
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @wschurman, @douglowder

[expo-updates] Break up E2E tests for better reliability (#21223)
  .github/actions/eas-build/action.yml
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e-basic.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/__tests__/setup/create-eas-project-basic.js
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

feat(cli): improve ios multi-scheme resolution (#21240)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/appleDevice/AppleDevice.ts
  packages/@expo/cli/src/run/ios/appleDevice/client/InstallationProxyClient.ts
  packages/@expo/cli/src/run/ios/options/__tests__/resolveNativeScheme-test.ts
  packages/@expo/cli/src/run/ios/options/resolveNativeScheme.ts
Owners: @EvanBacon, @bycedric

[docs] Fix typo in debug-updates.mdx (#21254)
  docs/pages/eas-update/debug-updates.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[create-expo-module] Fix initializing git repo too early (#21252)
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/src/create-expo-module.ts
Owners: none

[expo-av] Remove StyleSheet flattening (#21236)
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/src/Video.tsx
Owners: @barthap, @kudo

[fingerprint] remove direct dependency to expo package (#21217)
  packages/@expo/fingerprint/__mocks__/resolve-from.ts
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/package.json
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
Owners: none

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
