Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @lukmccall, @kudo, @gabrieldonadel, @aleqsio, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

[docs] fix eas update typo
  docs/pages/bare/updating-your-app.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo] Bump expo-router version
  packages/expo/bundledNativeModules.json
Owners: @ide, @tsapeta, @brentvatne

[dev-launcher] Update user avatars to use the same logic as the website (#23114)
  packages/expo-dev-client-components/CHANGELOG.md
  packages/expo-dev-client-components/assets/building-icon.png
  packages/expo-dev-client-components/assets/building-icon@2x.png
  packages/expo-dev-client-components/assets/building-icon@3x.png
  packages/expo-dev-client-components/src/icons/BuildingIcon.tsx
  packages/expo-dev-client-components/src/icons/index.ts
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/res/drawable-mdpi/_expodevclientcomponents_assets_buildingicon.png
  packages/expo-dev-launcher/android/src/debug/res/drawable-xhdpi/_expodevclientcomponents_assets_buildingicon.png
  packages/expo-dev-launcher/android/src/debug/res/drawable-xxhdpi/_expodevclientcomponents_assets_buildingicon.png
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
  packages/expo-dev-launcher/bundle/components/Avatar.tsx
  packages/expo-dev-launcher/bundle/screens/UserProfileScreen.tsx
  packages/expo-dev-launcher/ios/assets/_expo-dev-client-components/assets/building-icon.png
  packages/expo-dev-launcher/ios/assets/_expo-dev-client-components/assets/building-icon@2x.png
  packages/expo-dev-launcher/ios/assets/_expo-dev-client-components/assets/building-icon@3x.png
  packages/expo-dev-launcher/ios/main.jsbundle
Owners: @lukmccall, @douglowder

[eas-expo-go] Fix typo
  apps/eas-expo-go/scripts/eas-build-on-success.sh
Owners: none

[android] Bump Expo Go version
  android/app/build.gradle
Owners: none

[changelog] Add third party module updates
  CHANGELOG.md
Owners: none

[changelog] Cut for SDK 49
  CHANGELOG.md
  changelogVersions.json
Owners: none

[docs] Video: do not autoplay external videos (#23134)
  docs/components/plugins/Video.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[go] fix bundleVersionedReleaseLocalLintAar build error (#23120)
  android/expoview/build.gradle
  android/versioned-abis/expoview-abi49_0_0/build.gradle
Owners: none

fix: [Android][expo-camera] - Recording video with {mute: true} option without audio permission throws exception (#23145)
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/Options.kt
Owners: @lukmccall

[docs] Add info about .expo folder in Expo CLI doc (#23103)
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/more/expo-cli.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates] Rewrite README.md (#23142)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/README.md
Owners: @wschurman, @douglowder

[expo-updates][ios] Use swift enum for AppLoaderTask delegate (#23064)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
Owners: @wschurman, @douglowder

[home] Fix DevMenu onboarding height when loading a published update (#23148)
  home/menu/DevMenuApp.tsx
  home/menu/DevMenuOnboarding.tsx
  home/menu/DevMenuView.tsx
Owners: none

[dev-launcher] fix network inspector CDP events missing occasionally (#23122)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/DevLauncherNetworkInterceptor.swift
Owners: @lukmccall, @douglowder

[templates] enable network inspector by default (#23119)
  templates/expo-template-bare-minimum/android/gradle.properties
  templates/expo-template-bare-minimum/ios/Podfile.properties.json
Owners: none

[sqlite] add experimental promise support (#23109)
  apps/test-suite/tests/SQLite.js
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/public/static/data/unversioned/expo-sqlite.json
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLite.d.ts
  packages/expo-sqlite/build/SQLite.d.ts.map
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/build/SQLite.types.d.ts
  packages/expo-sqlite/build/SQLite.types.d.ts.map
  packages/expo-sqlite/build/SQLite.types.js.map
  packages/expo-sqlite/src/SQLite.ts
  packages/expo-sqlite/src/SQLite.types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @kudo

[ENG-8954][docs] EAS Update: add pitch and revamp intro page (#23095)
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/introduction.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] EAS Update: add more links to api (#23096)
  docs/pages/eas-update/faq.mdx
  docs/pages/eas-update/getting-started.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[bare-expo][templates] add gradle.properties to disable runtime scheduler (#23117)
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/fabric-tester/android/app/build.gradle
  apps/fabric-tester/android/app/src/main/java/com/community/fabrictester/MainApplication.java
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.java
Owners: none

[docs] Deprecate Google and Facebook auth providers in SDK 49 (#23126)
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v49.0.0/sdk/auth-session.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[config-plugins][prebuild-config][jest-expo] fix unit tests (#23124)
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Updates-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/jest-expo/src/preset/expoModules.js
Owners: @EvanBacon, @brentvatne

[android][sqlite] Migrate to Expo Modules API (#23115)
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLExceptions.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLRecords.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteHelpers.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLitePackage.kt
  packages/expo-sqlite/build/SQLite.d.ts.map
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/expo-module.config.json
  packages/expo-sqlite/src/SQLite.ts
Owners: @kudo

[docs] Authentication doc: update BoxLink components and intro paragraph (#23123)
  docs/pages/develop/authentication.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[ios][updates][tools] fix swift casting runtime exception (#23132)
  ios/ExpoKit.podspec
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.m
  ios/Podfile.lock
  ios/versioned-react-native/ABI49_0_0/Expo/ExpoKit/ABI49_0_0ExpoKit.podspec
  ios/versioned-react-native/ABI49_0_0/Expo/ExpoKit/Core/UniversalModules/ABI49_0_0EXUpdatesBinding.m
  ios/versioned-react-native/ABI49_0_0/postinstalls.rb
  ios/versioned/sdk49/EXUpdates/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  template-files/ios/ExpoKit.podspec
  tools/src/versioning/ios/index.ts
Owners: @wschurman, @douglowder, @tsapeta

[cli] remove --dev-client prebuild side effect (#23121)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/src/prebuild/updatePackageJson.ts
Owners: @EvanBacon, @bycedric

[expo-print][ios] Added constants, added prevention of starting multiple print requests (#23128)
  ios/Podfile.lock
  ios/versioned/sdk49/Expo/ABI49_0_0Expo.podspec.json
  ios/versioned/sdk49/ExpoPrint/ABI49_0_0ExpoPrint.podspec.json
  ios/versioned/sdk49/ExpoPrint/ExpoPrintModule.swift
  ios/versioned/sdk49/ExpoPrint/PrintOptions.swift
  packages/expo-print/CHANGELOG.md
  packages/expo-print/build/Print.d.ts.map
  packages/expo-print/build/Print.js
  packages/expo-print/build/Print.js.map
  packages/expo-print/ios/ExpoPrintModule.swift
  packages/expo-print/ios/PrintOptions.swift
  packages/expo-print/src/Print.ts
Owners: @lukmccall

[docs] Update example in Battery docs to use functions (#23008)
  docs/pages/versions/v46.0.0/sdk/battery.mdx
  docs/pages/versions/v47.0.0/sdk/battery.mdx
  docs/pages/versions/v48.0.0/sdk/battery.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[versioned][sqlite] Backport sqlite (#23136)
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLExceptions.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLRecords.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLiteHelpers.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLiteModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLitePackage.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/ExperiencePackagePicker.kt
Owners: none

[auth-session] remove startAsync references from js doc (#23150)
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v49.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthSession.d.ts
  packages/expo-auth-session/build/AuthSession.d.ts.map
  packages/expo-auth-session/build/AuthSession.js
  packages/expo-auth-session/build/AuthSession.js.map
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.d.ts.map
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/src/AuthSession.ts
  packages/expo-auth-session/src/AuthSession.types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[network-addons] introduce expo-network-addons (#22993)
  apps/bare-expo/package.json
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/src/main/kotlin/expo/modules/devlauncher/DevLauncherPlugin.kt
  packages/expo-network-addons/.eslintrc.js
  packages/expo-network-addons/.npmignore
  packages/expo-network-addons/README.md
  packages/expo-network-addons/android/.gitignore
  packages/expo-network-addons/android/build.gradle
  packages/expo-network-addons/android/proguard-rules.pro
  packages/expo-network-addons/android/src/main/AndroidManifest.xml
  packages/expo-network-addons/android/src/main/java/expo/modules/networkaddons/ExpoOkHttpInterceptor.kt
  packages/expo-network-addons/babel.config.js
  packages/expo-network-addons/build/index.d.ts
  packages/expo-network-addons/build/index.d.ts.map
  packages/expo-network-addons/build/index.js
  packages/expo-network-addons/build/index.js.map
  packages/expo-network-addons/expo-module.config.json
  packages/expo-network-addons/expo-network-addons-gradle-plugin/.gitignore
  packages/expo-network-addons/expo-network-addons-gradle-plugin/build.gradle.kts
  packages/expo-network-addons/expo-network-addons-gradle-plugin/src/main/kotlin/expo/modules/networkaddons/NetworkAddonsPlugin.kt
  packages/expo-network-addons/package.json
  packages/expo-network-addons/src/index.ts
  packages/expo-network-addons/tsconfig.json
Owners: @lukmccall, @douglowder

[docs] Fix issues in Google auth guide (#23091)
  docs/pages/guides/google-authentication.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Add info about using callout & format `docs/README` (#22992)
  docs/README.md
Owners: @Simek, @amandeepmittal, @kbrandwijk

[go] fix crashlytics gradle plugin build error (#23139)
  .github/actions/cleanup-linux-disk-space/action.yml
  .github/workflows/client-android.yml
  android/app/build.gradle
  android/build.gradle
Owners: @tsapeta, @brentvatne, @kudo

[docs] Fix typos (#23161)
  docs/pages/eas-update/runtime-versions.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Publish expo-network-addons
  packages/expo-network-addons/package.json
Owners: none

refactor(cli): avoid changing required dependency versions when prebuilding (#23146)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/__tests__/updatePackageJson-test.ts
  packages/@expo/cli/src/prebuild/updatePackageJson.ts
Owners: @EvanBacon, @bycedric

[go] update @shopify/react-native-skia to 0.1.196 (#23157)
  CHANGELOG.md
  android/vendored/sdk49/@shopify/react-native-skia/android/build.gradle
  android/vendored/sdk49/@shopify/react-native-skia/cpp/api/JsiSkDataFactory.h
  android/vendored/sdk49/@shopify/react-native-skia/cpp/api/JsiSkImageFactory.h
  android/vendored/sdk49/@shopify/react-native-skia/cpp/jsi/JsiPromises.cpp
  android/vendored/sdk49/@shopify/react-native-skia/cpp/jsi/JsiPromises.h
  android/vendored/sdk49/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  android/vendored/sdk49/@shopify/react-native-skia/cpp/skia/include/core/SkEncodedImageFormat.h
  android/vendored/sdk49/@shopify/react-native-skia/cpp/skia/include/core/SkICC.h
  android/vendored/unversioned/@shopify/react-native-skia/android/CMakeLists.txt
  android/vendored/unversioned/@shopify/react-native-skia/android/build.gradle
  android/vendored/unversioned/@shopify/react-native-skia/cpp/api/JsiSkDataFactory.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/api/JsiSkImageFactory.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/jsi/JsiPromises.cpp
  android/vendored/unversioned/@shopify/react-native-skia/cpp/jsi/JsiPromises.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/skia/include/core/SkEncodedImageFormat.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/skia/include/core/SkICC.h
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/sdk49/@shopify/react-native-skia/ABI49_0_0react-native-skia.podspec.json
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/api/JsiSkDataFactory.h
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/api/JsiSkImageFactory.h
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/jsi/JsiPromises.cpp
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/jsi/JsiPromises.h
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/rnskia/ABI49_0_0RNSkPictureView.h
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/skia/include/core/SkEncodedImageFormat.h
  ios/vendored/sdk49/@shopify/react-native-skia/cpp/skia/include/core/SkICC.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/api/JsiSkDataFactory.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/api/JsiSkImageFactory.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/jsi/JsiPromises.cpp
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/jsi/JsiPromises.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/skia/include/core/SkEncodedImageFormat.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/skia/include/core/SkICC.h
  ios/vendored/unversioned/@shopify/react-native-skia/react-native-skia.podspec.json
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/react-native-skia.patch
  yarn.lock
Owners: @ide, @tsapeta, @brentvatne

[docs] Remove mention of auth proxy in AuthSession API & deprecate third-party auth providers for SDK 49 (#23137)
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v49.0.0/expo-auth-session.json
  packages/expo-auth-session/build/AuthSession.d.ts
  packages/expo-auth-session/build/AuthSession.d.ts.map
  packages/expo-auth-session/build/AuthSession.js
  packages/expo-auth-session/build/AuthSession.js.map
  packages/expo-auth-session/build/providers/Facebook.d.ts
  packages/expo-auth-session/build/providers/Facebook.d.ts.map
  packages/expo-auth-session/build/providers/Facebook.js.map
  packages/expo-auth-session/build/providers/Google.d.ts
  packages/expo-auth-session/build/providers/Google.d.ts.map
  packages/expo-auth-session/build/providers/Google.js.map
  packages/expo-auth-session/src/AuthSession.ts
  packages/expo-auth-session/src/providers/Facebook.ts
  packages/expo-auth-session/src/providers/Google.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[camera] Backport camera fix (#23155)
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/camera/CameraViewModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/camera/ExpoCameraView.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/camera/Options.kt
Owners: none

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @lukmccall
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall
/packages/expo-image-picker                     @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @lukmccall
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @lukmccall
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
