Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

Fix link to Snack in features table (#21729)
  docs/pages/introduction/expo.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Footer: tweaks based on feedback (#21737)
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/Footer/PageVote.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[github] Add workflow to check issues with pending validation labels (#21724)
  .github/workflows/check-issues-nightly.yml
Owners: @tsapeta, @brentvatne, @kudo

[sensors] update build files
  packages/expo-sensors/build/Magnetometer.d.ts
  packages/expo-sensors/build/Magnetometer.js
  packages/expo-sensors/build/Magnetometer.js.map
Owners: @barthap

[device] typo fix inside Magnetometer.ts JSDoc comment (#21474)
  packages/expo-sensors/src/Magnetometer.ts
Owners: @barthap

[docs][document-picker] fix a minor typo (#21686)
  docs/public/static/data/unversioned/expo-document-picker.json
  docs/public/static/data/v46.0.0/expo-document-picker.json
  docs/public/static/data/v47.0.0/expo-document-picker.json
  docs/public/static/data/v48.0.0/expo-document-picker.json
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/src/types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @barthap

[tools] Fix the review bot complaining about changes in the root changelog (#21209)
  tools/src/Constants.ts
  tools/src/code-review/reviewers/checkMissingChangelogs.ts
  tools/src/versioning/android/versionVendoredModules.ts
  tools/src/versioning/ios/versionVendoredModules.ts
Owners: @tsapeta

[docs] Update Expo Image availability message (#21764)
  docs/pages/versions/unversioned/sdk/image.mdx
  docs/pages/versions/v48.0.0/sdk/image.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] expo-image is availabe with Expo SDK 48 (#21506)
  docs/pages/versions/v48.0.0/sdk/image.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] refactor part of the components, use TW instead Emotion (#21751)
  docs/components/plugins/EasMetadataTable.tsx
  docs/components/plugins/Highlight.tsx
  docs/components/plugins/PlatformsSection.tsx
  docs/components/plugins/PossibleRedirectNotification.tsx
  docs/components/plugins/VersionedRedirectNotification.tsx
  docs/components/plugins/Video.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionEnums.tsx
  docs/pages/index.tsx
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/Home/Cells.tsx
  docs/ui/components/Home/HomeButton.tsx
  docs/ui/components/Navigation/ApiVersionSelect.tsx
  docs/ui/components/Separator.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[core][ios] Remove legacy view managers (#21760)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/EXViewManager.h
  packages/expo-modules-core/ios/EXViewManager.m
  packages/expo-modules-core/ios/ModuleRegistry/EXModuleRegistry.h
  packages/expo-modules-core/ios/ModuleRegistry/EXModuleRegistry.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXViewManagerAdapterClassesRegistry.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXViewManagerAdapterClassesRegistry.m
  packages/expo-modules-core/ios/ModuleRegistryProvider/EXModuleRegistryProvider.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/ViewManagerAdapter/EXViewManagerAdapter.h
  packages/expo-modules-core/ios/ViewManagerAdapter/EXViewManagerAdapter.m
Owners: @tsapeta, @kudo, @lukmccall

[ENG-7709][ci][docs] use `m-medium` resource class instead of deprecated `m1-medium` resource class (#21730)
  apps/eas-expo-go/eas.json
  docs/pages/build-reference/infrastructure.mdx
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
  packages/expo-updates/e2e/fixtures/project_files/eas.json
Owners: @Simek, @amandeepmittal, @kbrandwijk, @wschurman, @douglowder

[docs] Fix Separator component background color (#21771)
  docs/ui/components/Separator.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[ios] [image-picker] Return correct width/height for rotated videos (#21758)
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/MediaHandler.swift
Owners: @barthap, @lukmccall

[android] Inherit shell environment in scripts executed from build.gradle (#21712)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/scripts/create-manifest-android.gradle
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
Owners: @lukmccall, @douglowder, @wschurman, @ide, @tsapeta, @brentvatne

[core][Android] Fixed `ReadableNativeMap` cannot be cast to the `Record` (#21773)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
Owners: @tsapeta, @kudo, @lukmccall

Remove debugging loaded modules in bare-expo (#21756)
  apps/bare-expo/debugging.ts
  apps/bare-expo/debugging.web.ts
  apps/bare-expo/index.tsx
Owners: none

[expo-print][android] Migrate the expo-print module to the new modules API (#21714)
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  docs/public/static/data/unversioned/expo-print.json
  packages/expo-print/CHANGELOG.md
  packages/expo-print/android/src/main/java/expo/modules/print/PrintDocumentAdapter.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintExceptions.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintModule.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintOptions.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPackage.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintResponse.kt
  packages/expo-print/build/ExponentPrint.d.ts.map
  packages/expo-print/build/ExponentPrint.js
  packages/expo-print/build/ExponentPrint.js.map
  packages/expo-print/build/Print.d.ts
  packages/expo-print/build/Print.d.ts.map
  packages/expo-print/build/Print.js
  packages/expo-print/build/Print.js.map
  packages/expo-print/build/Print.types.d.ts
  packages/expo-print/build/Print.types.d.ts.map
  packages/expo-print/build/Print.types.js.map
  packages/expo-print/expo-module.config.json
  packages/expo-print/src/ExponentPrint.ts
  packages/expo-print/src/Print.ts
  packages/expo-print/src/Print.types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @lukmccall

[core] Replace global with globalThis (#21778)
  packages/expo-modules-core/build/requireNativeModule.js
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/src/requireNativeModule.ts
Owners: @tsapeta, @kudo, @lukmccall

[docs] Update E2E test doc for SDK 48 and Detox 20 (#21753)
  docs/pages/build-reference/e2e-tests.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Sync changelogs with sdk-48 branch [skip ci]
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-modules-core/CHANGELOG.md
Owners: @lukmccall, @douglowder, @tsapeta, @kudo

[core][Android] Make module initialization lazy (#21774)
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptAnonymousObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.cpp
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.h
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIInteropModuleRegistry.kt
Owners: @tsapeta, @kudo, @lukmccall

[expo-modules] Add tsconfig `paths` config to look for package definitions in the `/modules` directory (#21424)
  packages/expo/tsconfig.base.json
Owners: @ide, @tsapeta, @brentvatne

[modules][expo-document-picker] Support picking multiple documents (#20365)
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/src/screens/DocumentPickerScreen.tsx
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerOptions.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerResults.kt
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts.map
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/build/index.d.ts
  packages/expo-document-picker/build/index.d.ts.map
  packages/expo-document-picker/build/index.js
  packages/expo-document-picker/build/index.js.map
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.d.ts.map
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/expo-module.config.json
  packages/expo-document-picker/ios/DocumentPickerModule.swift
  packages/expo-document-picker/ios/DocumentPickerOptions.swift
  packages/expo-document-picker/ios/DocumentPickerResponse.swift
  packages/expo-document-picker/ios/DocumentPickingDelegate.swift
  packages/expo-document-picker/ios/EXDocumentPicker/EXDocumentPickerModule.h
  packages/expo-document-picker/ios/EXDocumentPicker/EXDocumentPickerModule.m
  packages/expo-document-picker/ios/Exceptions.swift
  packages/expo-document-picker/ios/ExpoDocumentPicker.podspec
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
  packages/expo-document-picker/src/index.ts
  packages/expo-document-picker/src/types.ts
  packages/expo-document-picker/unimodule.json
Owners: @barthap

[expo-modules] Add local modules path to expo-yarn-workspaces (#21429)
  packages/expo-yarn-workspaces/index.js
Owners: @ide

[dev-launcher] support request redirections in network inspector (#21779)
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptor.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptors.kt
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/src/main/kotlin/expo/modules/devlauncher/DevLauncherPlugin.kt
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Owners: @lukmccall, @douglowder

[docs] Remove expo-random references in third-party auth provider guides (#21770)
  docs/pages/guides/facebook-authentication.mdx
  docs/pages/guides/google-authentication.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[android] pin fresco dependencies version
  android/build.gradle
Owners: none

[exupdates][ios] Fix config plist overriding (#21702)
  ios/Podfile.lock
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/README.md
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/ios/Tests/MiscellaneousSpec.swift
  packages/expo-updates/ios/Tests/Support/fixtures/TestConfig.plist
  packages/expo-updates/ios/Tests/UpdateAssetSpec.swift
  packages/expo-updates/ios/Tests/UpdatesConfigSpec.swift
Owners: @wschurman, @douglowder

[package][expo-network] Fix broken link for docs (#21796)
  packages/expo-network/README.md
Owners: @ide

[docs] Update manual installation steps for installing Expo modules in bare React Native (#21797)
  docs/pages/bare/installing-expo-modules.mdx
  docs/public/static/diffs/expo-android.diff
  docs/public/static/diffs/expo-ios.diff
  docs/ui/components/Snippet/DiffBlock.test.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[core][ios] Native functions on native component instances (#21746)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts.map
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js.map
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Views/ViewDefinition.swift
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
  packages/expo-modules-core/src/__tests__/NativeViewManagerAdapter-test.native.tsx
Owners: @tsapeta, @kudo, @lukmccall

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
