Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

[menu][iOS] Fixed `'jsc/JSCRuntime.h' file not found` when using JSC (#21246)
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/expo-dev-menu.podspec
Owners: @lukmccall, @douglowder

[expo-updates] Make Updates API work with native debug (#21253)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/e2e/__tests__/fixtures/App-apitest.js
  packages/expo-updates/e2e/__tests__/setup/create-updates-test.js
  packages/expo-updates/e2e/__tests__/setup/project.js
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/src/Updates.ts
Owners: @wschurman, @douglowder

Publish create-expo-module
  packages/create-expo-module/package.json
Owners: none

[expo-updates][docs] New quick start guide for updates (#21138)
  docs/constants/navigation.js
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/eas-update/eas-update-with-local-build.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/public/static/images/eas-update/getting-started-after-update.png
  docs/public/static/images/eas-update/getting-started-before-update.png
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates] Correct debug instructions in DEVELOPMENT.md (#21260)
  packages/expo-updates/DEVELOPMENT.md
Owners: @wschurman, @douglowder

[docs] Update react-native version for SDK 48 in docs
  docs/pages/versions/v48.0.0/index.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[permissions] Update README to indicate that we moved to module specific permissions methods
  packages/expo-permissions/README.md
Owners: @lukmccall, @byCedric

fix(cli): only check if `unstable_serverRoot` is defined (#21263)
  packages/@expo/cli/src/utils/analytics/getMetroProperties.ts
Owners: @EvanBacon, @bycedric

[gl] remove legacy case for Expo Go + fix gl context leak (#21247)
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/build/GLView.d.ts
  packages/expo-gl/build/GLView.d.ts.map
  packages/expo-gl/build/GLView.js
  packages/expo-gl/build/GLView.js.map
  packages/expo-gl/build/GLWorkletContextManager.d.ts
  packages/expo-gl/build/GLWorkletContextManager.d.ts.map
  packages/expo-gl/build/GLWorkletContextManager.js
  packages/expo-gl/build/GLWorkletContextManager.js.map
  packages/expo-gl/build/GLWorkletContextProvider.d.ts
  packages/expo-gl/build/GLWorkletContextProvider.d.ts.map
  packages/expo-gl/build/GLWorkletContextProvider.js
  packages/expo-gl/build/GLWorkletContextProvider.js.map
  packages/expo-gl/common/EXWebGLRenderer.cpp
  packages/expo-gl/src/GLView.tsx
  packages/expo-gl/src/GLWorkletContextManager.ts
  packages/expo-gl/src/GLWorkletContextProvider.ts
Owners: @tsapeta, @wkozyra95

Publish expo-dev-menu, expo-dev-client
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/build.gradle
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/package.json
  packages/expo/bundledNativeModules.json
Owners: @lukmccall, @douglowder, @ide, @tsapeta, @brentvatne

cli(feat): reduce install prompt (#21264)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
Owners: @EvanBacon, @bycedric

Update customizing-metro.mdx (#21219)
  docs/pages/guides/customizing-metro.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[manifests] fix the default jsEngine for old sdks (#21266)
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
Owners: none

[go] disable remote debugging when running on hermes (#21269)
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  ios/Exponent/Versioned/Core/Internal/DevSupport/EXDevSettings.m
Owners: none

partial revert: [templates] Remove config options that don't apply to templates (#21273)
  templates/expo-template-bare-minimum/app.json
  templates/expo-template-blank-typescript/app.json
  templates/expo-template-blank/app.json
  templates/expo-template-tabs/app.json
Owners: none

[dev-launcher] Fix Dev Client crash when server URL is missing the protocol (#21274)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherURLHelper.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
Owners: @lukmccall, @douglowder

[docs] Fix typo
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v46.0.0/sdk/auth-session.mdx
  docs/pages/versions/v47.0.0/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Update useProxy explanation
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v46.0.0/sdk/auth-session.mdx
  docs/pages/versions/v47.0.0/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[crypto] Add return type for randomUUID (#21187)
  docs/public/static/data/unversioned/expo-crypto.json
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/build/Crypto.d.ts
  packages/expo-crypto/build/Crypto.d.ts.map
  packages/expo-crypto/build/Crypto.js.map
  packages/expo-crypto/src/Crypto.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon

[expo-updates] Convert E2E tests to Typescript (#21278)
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e-basic.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/__tests__/fixtures/App-assets.tsx
  packages/expo-updates/e2e/__tests__/fixtures/App.tsx
  packages/expo-updates/e2e/__tests__/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/__tests__/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/config.json
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/environment.js
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/__tests__/fixtures/project_files/tsconfig.json
  packages/expo-updates/e2e/__tests__/setup/project.js
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

fix import in android tutorial (#21281)
  docs/pages/modules/native-module-tutorial.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[autolinking][ios] Generate the modules provider in the build phase script (#21108)
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  ios/Exponent.xcodeproj/project.pbxproj
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/constants.rb
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
Owners: @tsapeta, @kudo, @lukmccall

[expo-updates] useUpdateEvents hook (#21258)
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/UpdatesHooks.d.ts
  packages/expo-updates/build/UpdatesHooks.d.ts.map
  packages/expo-updates/build/UpdatesHooks.js
  packages/expo-updates/build/UpdatesHooks.js.map
  packages/expo-updates/build/index.d.ts
  packages/expo-updates/build/index.d.ts.map
  packages/expo-updates/build/index.js
  packages/expo-updates/build/index.js.map
  packages/expo-updates/e2e/__tests__/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/__tests__/setup/project.js
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/UpdatesHooks.ts
  packages/expo-updates/src/index.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @wschurman, @douglowder

[docs] Remove "Using EAS Submit with "expo build"" doc (#21259)
  docs/constants/navigation.js
  docs/pages/submit/classic-builds.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[image][Android] Add `recyclingKey` prop to reset recycled image view content (#21309)
  apps/native-component-list/src/screens/Image/ImageFlashListScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Owners: @lukmccall, @tsapeta

Publish expo-image
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/build.gradle
  packages/expo-image/package.json
  packages/expo/bundledNativeModules.json
Owners: @lukmccall, @tsapeta, @ide, @brentvatne

[docs] Fix typo in screenshot tutorial page (#21294)
  docs/pages/tutorial/screenshot.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Update jest mocks (#21308)
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/expoModules.js
Owners: @brentvatne, @EvanBacon

[docs] Update docs for expo-image
  docs/public/static/data/unversioned/expo-image.json
  docs/public/static/data/v48.0.0/expo-image.json
Owners: @Simek, @amandeepmittal, @kbrandwijk

[image][ios] Add `recyclingKey` prop to reset recycled image view content (#21297)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Owners: @lukmccall, @tsapeta

[docs] Fix typo in create-a-modal tutorial page (#21292)
  docs/pages/tutorial/create-a-modal.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[ios][dev-menu] fix reload crash when dev-menu turned off (#21279)
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/Modules/DevMenuModule.swift
Owners: @lukmccall, @douglowder

[docs][expo-build-properties] Update "Using Flipper" docs for the SDK 48 `expo-build-properties` instructions (#21290)
  docs/pages/guides/using-flipper.mdx
  docs/public/static/data/unversioned/expo-build-properties.json
  docs/public/static/data/v48.0.0/expo-build-properties.json
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/src/pluginConfig.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @kudo, @gabrieldonadel

Publish @expo/fingerprint
  packages/@expo/fingerprint/package.json
Owners: none

[file-system][ios] Add UTF-8 URI support (#21196)
  apps/bare-expo/ios/Podfile.lock
  apps/native-tests/ios/NativeTests.xcodeproj/xcshareddata/xcschemes/NativeTests.xcscheme
  apps/native-tests/ios/Podfile.lock
  apps/test-suite/tests/FileSystem.js
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem.podspec
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
  packages/expo-file-system/ios/Tests/EXFileSystemSpec.swift
Owners: @brentvatne, @kudo, @ide, @tsapeta

[ios] Fix expo-file-system not compiling for testing (#21317)
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.m
Owners: @brentvatne, @kudo, @ide, @tsapeta

[manifests] fix sdkVersion parsing (#21300)
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.h
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
Owners: none

[docs] Remove classic build references in app config schema & sync changes to docs (#21230)
  docs/public/static/schemas/unversioned/app-config-schema.json
  docs/public/static/schemas/v48.0.0/app-config-schema.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/package.json
  packages/@expo/config-types/src/ExpoConfig.ts
  yarn.lock
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon, @douglowder

[go][native-tests][ios] Run `pod install`
  apps/native-tests/ios/Podfile.lock
  ios/Podfile.lock
Owners: none

[core][ios] Fix URI with encoded `#` getting cut off (#21326)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Utilities.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Owners: @tsapeta, @kudo, @lukmccall
