Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

[core][ios] Fix jsc import when using use_frameworks (#21479)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
Owners: @tsapeta, @kudo, @lukmccall

[exupdates][ios] Convert build data and reaper (#21451)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAsset.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData+Tests.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/Tests/EXUpdatesBuildDataTests.m
Owners: @wschurman, @douglowder

[expo-updates] Consolidate E2E tests (#21458)
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App-assets.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/.detoxrc.json
  packages/expo-updates/e2e/fixtures/project_files/detox.config.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/config.json
  packages/expo-updates/e2e/fixtures/project_files/e2e/environment.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/jest.config.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/fixtures/project_files/scripts/generate-test-update-bundles.js
  packages/expo-updates/e2e/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/setup/create-eas-project.js
  packages/expo-updates/e2e/setup/project.js
Owners: @tsapeta, @brentvatne, @kudo, @wschurman, @douglowder

[exupdates][ios] Convert (unused) database integrity check to swift (#21467)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.swift
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseIntegrityCheckSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseIntegrityCheckTests.m
Owners: @wschurman, @douglowder

[dev-server][dev-launcher] inspector network on ios (#21265)
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Podfile.properties.json
  packages/@expo/dev-server/build/JsInspector.js
  packages/@expo/dev-server/build/JsInspector.js.map
  packages/@expo/dev-server/src/JsInspector.ts
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherUtils.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Owners: @lukmccall, @douglowder

[docs] Update routing & navigation docs to point to `expo-router` (#21485)
  docs/pages/guides/routing-and-navigation.mdx
  docs/public/static/videos/expo-router/routing.mp4
  docs/public/static/videos/routing-and-navigation/preview.mp4
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] BarCodeScanner: fix typo (#21534)
  docs/pages/versions/unversioned/sdk/bar-code-scanner.mdx
  docs/pages/versions/v48.0.0/sdk/bar-code-scanner.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates] E2E tests: graceful Detox failures (#21520)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
Owners: @wschurman, @douglowder

[menu] Improve bottom sheet behaviour (#21486)
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherActivity.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/app/native-modules/__mocks__/DevMenu.ts
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/build/DevMenu.d.ts
  packages/expo-dev-menu/build/DevMenu.d.ts.map
  packages/expo-dev-menu/build/DevMenu.js
  packages/expo-dev-menu/build/DevMenu.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.types.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.types.d.ts.map
  packages/expo-dev-menu/build/ExpoDevMenu.types.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.web.d.ts.map
  packages/expo-dev-menu/build/ExpoDevMenu.web.js
  packages/expo-dev-menu/build/ExpoDevMenu.web.js.map
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-dev-menu/ios/DevMenuWindow.swift
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/ios/Modules/DevMenuModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuModule.swift
  packages/expo-dev-menu/src/DevMenu.ts
  packages/expo-dev-menu/src/ExpoDevMenu.types.ts
  packages/expo-dev-menu/src/ExpoDevMenu.web.ts
Owners: @lukmccall, @douglowder

[ios][local-authentication] Fix incorrect nil check (#21500)
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/ios/LocalAuthenticationModule.swift
Owners: @bycedric, @lukmccall

Add a guideline about using mdash in markdown files for docs (#21504)
  guides/Expo Documentation Writing Style Guide.md
Owners: none

fix SDK version for path aliases (#21529)
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/workflow/expo-cli.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[file-system] fix unrecognized md5String selector crash (#21554)
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemAssetLibraryHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemLocalFileHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.m
Owners: @brentvatne, @kudo, @ide, @tsapeta

[dev-launcher] Update bundle (#21510)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Owners: @lukmccall, @douglowder

[docs] EAS Build Intro: fix grammar mistake (#21538)
  docs/pages/build/introduction.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Location: fix config plugin typo (#21528)
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/v48.0.0/sdk/location.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] fix typo and anchor link (#21492)
  docs/pages/guides/using-custom-fonts.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[exupdates][ios] Convert more tests to swift (#21471)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/Tests/EXUpdatesBuildDataSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesBuildDataTests.m
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseTests.m
  packages/expo-updates/ios/Tests/EXUpdatesReaperSelectionPolicyDevelopmentClientSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesReaperSelectionPolicyDevelopmentClientTests.m
  packages/expo-updates/ios/Tests/EXUpdatesReaperSelectionPolicyFilterAwareSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesReaperSelectionPolicyFilterAwareTests.m
  packages/expo-updates/ios/Tests/EXUpdatesSelectionPolicyFilterAwareSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesSelectionPolicyFilterAwareTests.m
Owners: @wschurman, @douglowder

feat(cli): auto setup typescript during start (#21475)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/__tests__/startBundler-test.ts
  packages/@expo/cli/src/run/startBundler.ts
  packages/@expo/cli/src/start/doctor/Prerequisite.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/ensureDependenciesAsync-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/ensureDependenciesAsync.ts
  packages/@expo/cli/src/start/doctor/typescript/TypeScriptProjectPrerequisite.ts
  packages/@expo/cli/src/start/doctor/typescript/updateTSConfig.ts
  packages/@expo/cli/src/start/doctor/web/WebSupportProjectPrerequisite.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/waitForMetroToObserveTypeScriptFile.test.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
  packages/@expo/cli/src/start/server/metro/waitForMetroToObserveTypeScriptFile.ts
  packages/@expo/cli/src/start/startAsync.ts
  packages/@expo/cli/ts-declarations/metro-inspector-proxy/index.d.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
Owners: @EvanBacon, @bycedric

[exupdates][ios] Fix some issues from landed swift conversion PRs (#21519)
  ios/Exponent/Kernel/AppLoader/EXAbstractLoader+Updates.h
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Kernel/Services/EXUpdatesManager.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.swift
Owners: @wschurman, @douglowder

[docs] Minor grammar fix in tutorial (#21550)
  docs/pages/tutorial/build-a-screen.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[exupdates][ios] Convert AppLauncher to swift (#21478)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncher.h
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncher.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.h
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.m
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase+Tests.h
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.h
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.m
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController+Internal.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.m
  packages/expo-updates/ios/Tests/EXUpdatesAppLauncherWithDatabaseSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesAppLauncherWithDatabaseTests.m
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoveryTests.m
Owners: @wschurman, @douglowder

[expo] bump sentry dependency versions (#21533)
  packages/expo/bundledNativeModules.json
Owners: @ide, @tsapeta, @brentvatne

[expo-media-library] Allow saving animated gifs (#21549)
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
  packages/expo-media-library/ios/EXMediaLibrary/EXSaveToLibraryDelegate.h
  packages/expo-media-library/ios/EXMediaLibrary/EXSaveToLibraryDelegate.m
Owners: @tsapeta, @lukmccall

[android][document-picker] fix picking cancellation (#21588)
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerResults.kt
Owners: @barthap

[tools] Update check-packages to check for bundle files (#21515)
  tools/src/check-packages/checkPackageAsync.ts
  tools/src/check-packages/checkUniformityAsync.ts
Owners: @tsapeta

feat(cli)!: use Expo CLI to bundle production apps (#21396)
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/fabric-tester/android/app/build.gradle
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/workflow/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/embed/index.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/src/utils/resolveArgs.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Updates-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/@expo/dev-server/build/MetroDevServer.d.ts
  packages/@expo/dev-server/build/MetroDevServer.js
  packages/@expo/dev-server/build/MetroDevServer.js.map
  packages/@expo/dev-server/src/MetroDevServer.ts
  packages/expo/CHANGELOG.md
  packages/expo/scripts/resolveAppEntry.js
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon, @bycedric, @brentvatne, @ide, @tsapeta

[docs] More descriptive "Debugging" page titles (#21564)
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/workflow/debugging.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[core][Android] Expose `AppContext` from `KotlinInteropModuleRegistry` (#21584)
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
Owners: @tsapeta, @kudo, @lukmccall

Sort jest mock generation (#21311)
  apps/jest-expo-mock-generator/App.js
  apps/jest-expo-mock-generator/package.json
Owners: none

[image][skip ci] Update CHANGELOG for #21576
  packages/expo-image/CHANGELOG.md
Owners: @lukmccall, @tsapeta

[menu][Android] Remove unused code (#21587)
  packages/expo-dev-menu/android/src/expo-44/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/expo-45/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
Owners: @lukmccall, @douglowder

[expo-image][ios] Fixed tintColor not being passed to native view (#21576)
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/src/ExpoImage.tsx
Owners: @lukmccall, @tsapeta

[ios][secure-store] Migrate to expo modules (#21393)
  apps/bare-expo/ios/Podfile.lock
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/build/ExpoSecureStore.d.ts
  packages/expo-secure-store/build/ExpoSecureStore.d.ts.map
  packages/expo-secure-store/build/ExpoSecureStore.js
  packages/expo-secure-store/build/ExpoSecureStore.js.map
  packages/expo-secure-store/expo-module.config.json
  packages/expo-secure-store/ios/EXSecureStore/EXSecureStore.h
  packages/expo-secure-store/ios/EXSecureStore/EXSecureStore.m
  packages/expo-secure-store/ios/ExpoSecureStore.podspec
  packages/expo-secure-store/ios/SecureStoreAccessible.swift
  packages/expo-secure-store/ios/SecureStoreExceptions.swift
  packages/expo-secure-store/ios/SecureStoreModule.swift
  packages/expo-secure-store/ios/SecureStoreOptions.swift
  packages/expo-secure-store/src/ExpoSecureStore.ts
  packages/expo-secure-store/unimodule.json
Owners: @kudo

[android][image-picker] fix permissions (#21589)
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
Owners: @barthap, @lukmccall

[cli][dev-menu][go] add react devtools (#21462)
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/ReactDevToolsProxy.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ReactDevToolsPageMiddleware.ts
  packages/@expo/cli/static/react-devtools-page/index.html
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/websockets/DevMenuCommandHandlersProvider.kt
  packages/expo-dev-menu/ios/DevMenuPackagerConnectionHandler.swift
  yarn.lock
Owners: @EvanBacon, @bycedric, @lukmccall, @douglowder

[dev-launcher] emits Expo(Network.receivedResponseBody) event (#21490)
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptor.kt
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Owners: @lukmccall, @douglowder

[image] Fix the `tintColor` prop will break inside the style object (#21585)
  packages/expo-image/build/ExpoImage.d.ts.map
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/src/ExpoImage.tsx
Owners: @lukmccall, @tsapeta

[exupdates][ios] Convert error recovery to swift (#21570)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.swift
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoverySpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoveryTests.m
Owners: @wschurman, @douglowder

[exupdates][ios] Convert app loader task to swift (#21536)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.h
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.h
Owners: @wschurman, @douglowder

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
