Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

[go] fix crash on sdk 46 projects (#21370)
  android/versioned-abis/expoview-abi46_0_0/maven/host/exp/reactandroid-abi46_0_0/1.0.0/_remote.repositories
  android/versioned-abis/expoview-abi46_0_0/maven/host/exp/reactandroid-abi46_0_0/maven-metadata-local.xml
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/expo/modules/device/DeviceModule.kt
Owners: none

[image-picker][ios] Fix unexpected behaviour of quality option on iOS (#21361)
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/MediaHandler.swift
  packages/expo-image-picker/src/ImagePicker.types.ts
Owners: @barthap, @lukmccall

Update create-a-modal.mdx (#21407)
  docs/pages/tutorial/create-a-modal.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates] Fix E2E rollback test, other improvements (#21389)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/App-assets.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/setup/create-eas-project-assets.js
  packages/expo-updates/e2e/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/setup/project.js
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.m
Owners: @wschurman, @douglowder

[dev-launcher] Fix AppProviders not receiving initial data (#21425)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/bundle/App.tsx
Owners: @lukmccall, @douglowder

[docs] Update API reference docs to specify Config plugins & permission for various Expo packages (#21257)
  docs/pages/versions/unversioned/sdk/apple-authentication.mdx
  docs/pages/versions/unversioned/sdk/av.mdx
  docs/pages/versions/unversioned/sdk/background-fetch.mdx
  docs/pages/versions/unversioned/sdk/bar-code-scanner.mdx
  docs/pages/versions/unversioned/sdk/brightness.mdx
  docs/pages/versions/unversioned/sdk/calendar.mdx
  docs/pages/versions/unversioned/sdk/camera.mdx
  docs/pages/versions/unversioned/sdk/cellular.mdx
  docs/pages/versions/unversioned/sdk/contacts.mdx
  docs/pages/versions/unversioned/sdk/devicemotion.mdx
  docs/pages/versions/unversioned/sdk/document-picker.mdx
  docs/pages/versions/unversioned/sdk/filesystem.mdx
  docs/pages/versions/unversioned/sdk/local-authentication.mdx
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/unversioned/sdk/sensors.mdx
  docs/pages/versions/unversioned/sdk/task-manager.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v47.0.0/sdk/document-picker.mdx
  docs/pages/versions/v47.0.0/sdk/filesystem.mdx
  docs/pages/versions/v48.0.0/sdk/apple-authentication.mdx
  docs/pages/versions/v48.0.0/sdk/av.mdx
  docs/pages/versions/v48.0.0/sdk/background-fetch.mdx
  docs/pages/versions/v48.0.0/sdk/bar-code-scanner.mdx
  docs/pages/versions/v48.0.0/sdk/brightness.mdx
  docs/pages/versions/v48.0.0/sdk/calendar.mdx
  docs/pages/versions/v48.0.0/sdk/camera.mdx
  docs/pages/versions/v48.0.0/sdk/cellular.mdx
  docs/pages/versions/v48.0.0/sdk/contacts.mdx
  docs/pages/versions/v48.0.0/sdk/devicemotion.mdx
  docs/pages/versions/v48.0.0/sdk/document-picker.mdx
  docs/pages/versions/v48.0.0/sdk/filesystem.mdx
  docs/pages/versions/v48.0.0/sdk/local-authentication.mdx
  docs/pages/versions/v48.0.0/sdk/location.mdx
  docs/pages/versions/v48.0.0/sdk/sensors.mdx
  docs/pages/versions/v48.0.0/sdk/task-manager.mdx
  docs/pages/versions/v48.0.0/sdk/updates.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] add SDK 48 to upgrade walkthrough (#21398)
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

feat(cli)!: set node and babel env for CLI commands (#21337)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
  packages/@expo/cli/src/config/configAsync.ts
  packages/@expo/cli/src/customize/customizeAsync.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/install/installAsync.ts
  packages/@expo/cli/src/prebuild/prebuildAsync.ts
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
  packages/@expo/cli/src/start/startAsync.ts
  packages/@expo/cli/src/utils/nodeEnv.ts
Owners: @EvanBacon, @bycedric

[android][sharing] Fix shareAsync not resolving (#21432)
  packages/expo-sharing/CHANGELOG.md
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingModule.kt
Owners: @brentvatne

[tools] Fix boundary check
  tools/src/commands/ValidateIssueCommand.ts
Owners: @tsapeta

[docs] Update to latest
  docs/package.json
Owners: @Simek, @amandeepmittal, @kbrandwijk

Publish packages
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/build.gradle
  packages/expo-dev-client/package.json
  packages/expo/bundledNativeModules.json
Owners: @lukmccall, @douglowder, @ide, @tsapeta, @brentvatne

[tools] Fix validate-issue
  tools/src/commands/ValidateIssueCommand.ts
Owners: @tsapeta

feat(cli): add support for path aliases and absolute imports (#21262)
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/workflow/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-test.ts
  packages/@expo/cli/e2e/fixtures/with-assets/App.js
  packages/@expo/cli/e2e/fixtures/with-assets/absolute-import.js
  packages/@expo/cli/e2e/fixtures/with-assets/aliased.js
  packages/@expo/cli/e2e/fixtures/with-assets/jsconfig.json
  packages/@expo/cli/src/export/exportAsync.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/utils/FileNotifier.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/cli/src/utils/tsconfig/__tests__/loadTsConfigPaths.test.ts
  packages/@expo/cli/src/utils/tsconfig/__tests__/matchTsConfigPathAlias.test.ts
  packages/@expo/cli/src/utils/tsconfig/__tests__/resolveWithTsConfigPaths.test.ts
  packages/@expo/cli/src/utils/tsconfig/evaluateTsConfig.ts
  packages/@expo/cli/src/utils/tsconfig/loadTsConfigPaths.ts
  packages/@expo/cli/src/utils/tsconfig/matchTsConfigPathAlias.ts
  packages/@expo/cli/src/utils/tsconfig/resolveWithTsConfigPaths.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon, @bycedric

chore(metro-config): refactor metro-config for versioned CLI (#21330)
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.d.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/customizeFrame.d.ts
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/build/env.d.ts
  packages/@expo/metro-config/build/env.js
  packages/@expo/metro-config/build/env.js.map
  packages/@expo/metro-config/build/importMetroFromProject.d.ts
  packages/@expo/metro-config/build/importMetroFromProject.js
  packages/@expo/metro-config/build/importMetroFromProject.js.map
  packages/@expo/metro-config/build/transformer/createMatcher.js
  packages/@expo/metro-config/build/transformer/createMatcher.js.map
  packages/@expo/metro-config/build/transformer/createMultiRuleTransformer.js
  packages/@expo/metro-config/build/transformer/createMultiRuleTransformer.js.map
  packages/@expo/metro-config/build/transformer/generateFunctionMap.d.ts
  packages/@expo/metro-config/build/transformer/generateFunctionMap.js
  packages/@expo/metro-config/build/transformer/generateFunctionMap.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
  packages/@expo/metro-config/src/customizeFrame.ts
  packages/@expo/metro-config/src/env.ts
  packages/@expo/metro-config/src/importMetroFromProject.ts
  packages/@expo/metro-config/src/transformer/createMatcher.ts
  packages/@expo/metro-config/src/transformer/createMultiRuleTransformer.ts
  packages/@expo/metro-config/src/transformer/generateFunctionMap.ts
Owners: none

[docs]build a screen-fix component reference (#21435)
  docs/pages/tutorial/build-a-screen.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[ios] Run `pod install`
  ios/Podfile.lock
Owners: none

Publish packages
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/package.json
Owners: @lukmccall, @douglowder

[docs][modules] Fix example of record usage in Kotlin (#21376)
  docs/pages/modules/module-api.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[tools] try/catch around removing issue labels in issue validation
  tools/src/commands/ValidateIssueCommand.ts
Owners: @tsapeta

[templates] Fix Flipper does not enable from EAS Build (#21442)
  templates/expo-template-bare-minimum/ios/Podfile
Owners: none

[barcode-scanner][Android] Fixed Android property name of BarCodeScannedEvent from boundingBox to bounds to match TypeScript definitions (#21384)
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.kt
Owners: @lukmccall

[docs] Update `expo-github-action` guides and examples (#21385)
  docs/pages/accounts/programmatic-access.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/eas-update/github-actions.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] ImageBackground: fix page description (#21453)
  docs/pages/ui-programming/image-background.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Building on CI: update default branch name (#21443)
  docs/pages/build/building-on-ci.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[launcher][menu] Fix `expo-dev-client has 1 dependency that isn't symlinked`
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
Owners: @lukmccall, @douglowder

[linking] Add 3.3.1 release to changelog (#21446)
  packages/expo-linking/CHANGELOG.md
Owners: none

[go] reversion sdk47 aar (#21436)
  android/versioned-abis/expoview-abi47_0_0/maven/host/exp/reactandroid-abi47_0_0/1.0.0/_remote.repositories
  android/versioned-abis/expoview-abi47_0_0/maven/host/exp/reactandroid-abi47_0_0/maven-metadata-local.xml
Owners: none

[core][Android] Remove user-facing deprecated functions (#21378)
  packages/expo-maps/android/src/main/java/expo/modules/maps/ExpoGoogleMapsModule.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsView.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultCaller.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewGroupDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/KotlinInteropModuleRegistryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/modules/ModuleDefinitionBuilderTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilderTest.kt
Owners: @tsapeta, @kudo, @lukmccall

[docs] Small fixes and redirects based on Sentry reports (#21457)
  docs/common/error-utilities.ts
  docs/pages/build/setup.mdx
  docs/pages/development/installation.mdx
  docs/pages/eas-update/eas-update-with-local-build.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/submit/eas-json.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] PageTitle: adjust DOM for Algolia crawler (#21456)
  docs/ui/components/PageTitle/PageTitle.tsx
  docs/ui/components/Text/index.tsx
  docs/ui/components/Text/types.ts
Owners: @Simek, @amandeepmittal, @kbrandwijk

[dev-launcher] add gradle plugin to log all OkHttp requests (#21327)
  apps/bare-expo/android/gradle.properties
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptor.kt
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/.gitignore
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/build.gradle.kts
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/src/main/kotlin/expo/modules/devlauncher/DevLauncherPlugin.kt
  packages/expo-dev-launcher/expo-module.config.json
Owners: @lukmccall, @douglowder

[clipboard][Android] Fixed crash in clipboard listener on Android SDK <26 (#21383)
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
Owners: @tsapeta, @barthap

[ios] fix build errors (#21481)
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFileSystem/EXScopedFileSystemModule.m
  ios/Podfile.lock
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
Owners: @lukmccall, @douglowder

feat(expo)!: drop `EXPO_USE_LOCAL_CLI` in favor of using `expo` for the local CLI and `expo-cli` for the global CLI. (#21388)
  apps/bare-expo/jest-puppeteer.config.js
  docs/pages/build-reference/android-builds.mdx
  docs/pages/build-reference/ios-builds.mdx
  packages/expo/CHANGELOG.md
  packages/expo/bin/cli
  packages/expo/bin/cli.js
  packages/expo/package.json
Owners: @Simek, @amandeepmittal, @kbrandwijk, @ide, @tsapeta, @brentvatne

[docs] Remove manual Facebook & Google instructions from Authentication (#21445)
  docs/pages/guides/authentication.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[autolinking] Introduce gradle plugin autolinking (#21377)
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-autolinking/src/types.ts
Owners: @tsapeta, @kudo, @lukmccall

[docs] Update Installation page to add a note about installing Node.js using a version manager (#21408)
  docs/pages/get-started/installation.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[bare][native-tests] Run `pod install`
  apps/bare-expo/ios/Podfile.lock
  apps/native-tests/ios/Podfile.lock
Owners: none

[docs] fix typo on expo modules api documentation (#21487)
  docs/pages/modules/module-api.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk
