Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tsapeta, @brentvatne, @kudo, @EvanBacon, @bycedric, @Simek, @amandeepmittal, @douglowder, @marklawlor, @quinlanj, @ide, @wschurman, @alanjhughes, @aleqsio, @behenate, @lukmccall, @gabrieldonadel, @keith-kurak

test(cli): add both `node-fetch` and `undici` network errors
  packages/@expo/cli/src/api/rest/__tests__/client-test.ts
Owners: @EvanBacon, @bycedric

chore: remove old api @available checks (#31511)
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestHelper.swift
Owners: @lukmccall, @douglowder, @gabrieldonadel

[Android] Add local module to bare-expo for benchmarking
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.kt
  apps/bare-expo/modules/benchmarking/android/.gitignore
  apps/bare-expo/modules/benchmarking/android/build.gradle
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingBridgeModule.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingExpoModule.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingPackage.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingTurboModule.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingTurboPackage.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/NativeBenchmarkingTurboModuleSpec.java
  apps/bare-expo/modules/benchmarking/expo-module.config.json
  apps/native-component-list/src/screens/ModulesCore/ModulesBenchmarksScreen.tsx
  apps/native-component-list/src/screens/ModulesCore/ModulesCoreScreen.tsx
Owners: none

fix(cli): check for `cause` in network errors to detect and auto-enable offline mode (#31517)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/rest/__tests__/client-test.ts
  packages/@expo/cli/src/api/rest/client.ts
Owners: @EvanBacon, @bycedric

Change `exists()` fn to a property
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemDirectory.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemFile.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemPath.kt
  packages/expo-file-system/build/next/FileSystem.types.d.ts
  packages/expo-file-system/build/next/FileSystem.types.d.ts.map
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
  packages/expo-file-system/src/next/FileSystem.types.ts
Owners: @brentvatne, @kudo, @ide, @tsapeta

Don't use get for computed properties
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
Owners: @brentvatne, @kudo, @ide, @tsapeta

Update changelog
  packages/expo-file-system/CHANGELOG.md
Owners: @brentvatne, @kudo, @ide, @tsapeta

[docs] Add link to Metro bundler
  docs/pages/guides/customizing-metro.mdx
Owners: @Simek, @amandeepmittal

Add changelog entry
  packages/expo-av/CHANGELOG.md
Owners: @lukmccall, @kudo

[dev-client][expo-updates] Use expo-updates as source of truth for runtime version
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.h
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.m
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuAppInfo.kt
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.kt
  packages/expo-updates-interface/ios/EXUpdatesInterface/UpdatesExternalInterface.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
Owners: @lukmccall, @douglowder, @gabrieldonadel, @wschurman

[dev-client][expo-updates] Use expo-updates as source of truth for runtime version (#31453)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.h
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.m
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuAppInfo.kt
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.kt
  packages/expo-updates-interface/ios/EXUpdatesInterface/UpdatesExternalInterface.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
Owners: @lukmccall, @douglowder, @gabrieldonadel, @wschurman

Publish packages
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/package.json
  packages/expo/bundledNativeModules.json
Owners: @douglowder, @tsapeta, @ide, @brentvatne

.github/CODEOWNERS:

/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
/docs                                           @Simek @amandeepmittal
/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/dev-server                      @bycedric
/packages/@expo/env                             @EvanBacon @bycedric
/packages/@expo/fingerprint                     @kudo
/packages/@expo/image-utils                     @bycedric @EvanBacon
/packages/@expo/json-file                       @EvanBacon @bycedric
/packages/@expo/metro-config                    @EvanBacon @bycedric @marklawlor
/packages/@expo/metro-runtime                   @EvanBacon @bycedric @marklawlor
/packages/@expo/osascript                       @EvanBacon
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/@expo/pkcs12                          @bycedric @quinlanj
/packages/@expo/plist                           @EvanBacon @bycedric
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/schemer                         @bycedric
/packages/@expo/server                          @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/create-expo                           @EvanBacon @bycedric
/packages/create-expo-module                    @tsapeta
/packages/create-expo-nightly                   @kudo
/packages/eas-client                            @wschurman
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/expo-apple-authentication             @tsapeta @alanjhughes
/packages/expo-application                      @ide
/packages/expo-asset                            @aleqsio @wschurman
/packages/expo-audio                            @alanjhughes @behenate  
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @behenate
/packages/expo-blur                             @behenate
/packages/expo-brightness                       @aleqsio
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall @alanjhughes
/packages/expo-camera                           @lukmccall @alanjhughes
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @behenate
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-launcher                     @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-menu                         @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-menu-interface               @lukmccall @douglowder @gabrieldonadel
/packages/expo-device                           @ide @tsapeta
/packages/expo-doctor                           @keith-kurak
/packages/expo-document-picker                  @lukmccall @alanjhughes 
/packages/expo-env-info                         @bycedric
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-font                             @tsapeta @alanjhughes
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall @alanjhughes
/packages/expo-image-picker                     @lukmccall @alanjhughes
/packages/expo-insights                         @tsapeta @lukmccall
/packages/expo-intent-launcher                  @kudo @alanjhughes
/packages/expo-keep-awake                       @brentvatne @kudo
/packages/expo-linear-gradient                  @alanjhughes
/packages/expo-local-authentication             @behenate
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @behenate @lukmccall
/packages/expo-mail-composer                    @brentvatne @alanjhughes
/packages/expo-manifests                        @wschurman
/packages/expo-media-library                    @behenate @alanjhughes
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-modules-test-core                @tsapeta @aleqsio @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide @lukmccall
/packages/expo-network-addons                   @kudo
/packages/expo-notifications                    @douglowder @tsapeta
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-router                           @EvanBacon @marklawlor
/packages/expo-screen-capture                   @behenate
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo @behenate
/packages/expo-sensors                          @lukmccall @behenate
/packages/expo-sharing                          @alanjhughes
/packages/expo-sms                              @alanjhughes
/packages/expo-speech                           @lukmccall @alanjhughes
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo @alanjhughes
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-symbols                          @alanjhughes
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video                            @tsapeta @aleqsio @behenate
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @alanjhughes
/packages/expo-yarn-workspaces                  @bycedric
/packages/html-elements                         @EvanBacon
/packages/install-expo-modules                  @kudo
/packages/jest-expo                             @brentvatne @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/patch-project                         @kudo
/packages/pod-install                           @bycedric @EvanBacon
/packages/uri-scheme                            @bycedric @EvanBacon
/tools                                          @tsapeta
