Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @barthap, @kudo, @lukmccall, @gabrieldonadel, @wkozyra95, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

feature(cli): add vscode compatibility to inspector proxy (#21560)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeCompat.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeCompat.test.ts
Owners: @EvanBacon, @bycedric

[exupdates][ios] Fix odd nullability issue in expo module (#21655)
  ios/Exponent/Kernel/Services/EXUpdatesManager.m
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.h
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
Owners: @wschurman, @douglowder

[docs] Add redirects based on Sentry reports and fix formatting in tutorial (#21657)
  docs/common/error-utilities.ts
  docs/pages/archive/adhoc-builds.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/technical-specs/expo-updates-1-draft.mdx
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-print][ios] Convert expo-print to swift (#21561)
  packages/expo-print/CHANGELOG.md
  packages/expo-print/build/ExponentPrint.d.ts
  packages/expo-print/build/ExponentPrint.d.ts.map
  packages/expo-print/build/ExponentPrint.js
  packages/expo-print/build/ExponentPrint.js.map
  packages/expo-print/expo-module.config.json
  packages/expo-print/ios/EXPrint/EXPrint.h
  packages/expo-print/ios/EXPrint/EXPrint.m
  packages/expo-print/ios/EXPrint/EXWKPDFRenderer.h
  packages/expo-print/ios/EXPrint/EXWKPDFRenderer.m
  packages/expo-print/ios/EXPrint/EXWKViewPrintPDFRenderer.h
  packages/expo-print/ios/EXPrint/EXWKViewPrintPDFRenderer.m
  packages/expo-print/ios/ExpoPrint.podspec
  packages/expo-print/ios/ExpoPrintExceptions.swift
  packages/expo-print/ios/ExpoPrintModule.swift
  packages/expo-print/ios/ExpoPrintToFile.swift
  packages/expo-print/ios/ExpoPrintWithPrinter.swift
  packages/expo-print/ios/ExpoPrinterSelector.swift
  packages/expo-print/ios/ExpoWKPDFRenderer.swift
  packages/expo-print/ios/ExpoWKViewPrintPDFRenderer.swift
  packages/expo-print/ios/PrintOptions.swift
  packages/expo-print/ios/PrintResponse.swift
  packages/expo-print/src/ExponentPrint.ts
Owners: @lukmccall

[exupdates][ios] Run swiftlint --fix (#21664)
  packages/expo-updates/ios/EXUpdates/AppLoader/Crypto.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/CertificateChain.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/CodeSigningAlgorithm.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration4To5.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration5To6.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration6To7.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration7To8.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration8To9.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigrationRegistry.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesBuildData.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseInitialization.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseIntegrityCheck.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseUtils.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesErrorCode.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogEntry.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogReader.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogger.swift
  packages/expo-updates/ios/EXUpdates/Update/BareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/LegacyUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
Owners: @wschurman, @douglowder

[expo-updates-interface][ios] convert to swift (#21646)
  ios/Podfile.lock
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/ios/EXUpdatesInterface.podspec
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesControllerRegistry.h
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesControllerRegistry.m
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesExternalInterface.h
  packages/expo-updates-interface/ios/EXUpdatesInterface/UpdatesControllerRegistry.swift
  packages/expo-updates-interface/ios/EXUpdatesInterface/UpdatesExternalInterface.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesAppDelegateSubscriber.swift
Owners: @lukmccall, @douglowder, @wschurman

[exupdates][ios] Add parameter name suggestions to typealiases (#21649)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncher.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/Crypto.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
Owners: @wschurman, @douglowder

[expo-manifests][ios] Rename classes to be more swifty (#21648)
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/ios/EXManifests/BareManifest.swift
  packages/expo-manifests/ios/EXManifests/BaseLegacyManifest.swift
  packages/expo-manifests/ios/EXManifests/EXManifestsManifestFactory.swift
  packages/expo-manifests/ios/EXManifests/LegacyManifest.swift
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-manifests/ios/EXManifests/ManifestFactory.swift
  packages/expo-manifests/ios/EXManifests/NewManifest.swift
  packages/expo-manifests/ios/Tests/BareManifestSpec.swift
  packages/expo-manifests/ios/Tests/EXManifestsLegacyManifestSpec.swift
  packages/expo-manifests/ios/Tests/LegacyManifestSpec.swift
  packages/expo-manifests/ios/Tests/NewManifestSpec.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/Update/BareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/LegacyUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/Update.swift
  packages/expo-updates/ios/Tests/AppLauncherWithDatabaseSpec.swift
  packages/expo-updates/ios/Tests/DatabaseIntegrityCheckSpec.swift
  packages/expo-updates/ios/Tests/ErrorRecoverySpec.swift
  packages/expo-updates/ios/Tests/FileDownloaderSpec.swift
  packages/expo-updates/ios/Tests/LegacyUpdateSpec.swift
  packages/expo-updates/ios/Tests/NewUpdateSpec.swift
  packages/expo-updates/ios/Tests/ReaperSelectionPolicyDevelopmentClientSpec.swift
  packages/expo-updates/ios/Tests/ReaperSelectionPolicyFilterAwareSpec.swift
  packages/expo-updates/ios/Tests/SelectionPolicyFilterAwareSpec.swift
  packages/expo-updates/ios/Tests/UpdatesBuildDataSpec.swift
  packages/expo-updates/ios/Tests/UpdatesDatabaseSpec.swift
Owners: @wschurman, @douglowder

[dev-menu][ios] Fix compilation (#21668)
  packages/expo-dev-menu/ios/DevMenuManager.swift
Owners: @lukmccall, @douglowder

[docs] Fix the link "React Native basics guide" (#21669)
  docs/pages/tutorial/follow-up.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[exmanifests][ios] Fix unit tests (#21666)
  packages/expo-manifests/ios/Tests/NewManifestSpec.swift
Owners: none

[expo-updates][ios] Add support for version 1 of the protocol and rollbacks (#21652)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Podfile.lock
  packages/expo-dev-launcher/ios/EXDevLauncherRecentlyOpenedAppsRegistry.swift
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/ManifestHeaders.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/ResponseHeaderData.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/UpdateResponse.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/Update.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/Tests/FileDownloaderManifestParsingSpec.swift
  packages/expo-updates/ios/Tests/NewUpdateSpec.swift
  packages/expo-updates/ios/Tests/ResponseHeaderDataSpec.swift
  packages/expo-updates/ios/Tests/SelectionPolicyFilterAwareSpec.swift
  packages/expo-updates/ios/Tests/TestHelper.swift
  packages/expo-updates/ios/Tests/UpdateSpec.swift
  packages/expo-updates/ios/Tests/UpdatesBuildDataSpec.swift
  packages/expo-updates/ios/Tests/UpdatesDatabaseSpec.swift
Owners: @lukmccall, @douglowder, @wschurman

[exupdates][ios] Make test fixtures consistent across platforms (#21684)
  packages/expo-updates/ios/Tests/CertificateChainTests.swift
  packages/expo-updates/ios/Tests/CertificateFixtures.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/FileDownloaderManifestParsingSpec.swift
Owners: @wschurman, @douglowder

[core][Android] Make `fallbackCallback` optional in the `registerForActivityResult` method (#21661)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultCaller.kt
Owners: @tsapeta, @kudo, @lukmccall

[docs] Tutorial: Update assets link (#21681)
  docs/pages/tutorial/create-your-first-app.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

feat(cli): add basic static rendering for router projects (#21572)
  .gitignore
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-test.ts.snap
  packages/@expo/cli/e2e/__tests__/config-test.ts
  packages/@expo/cli/e2e/__tests__/export-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-router/app.json
  packages/@expo/cli/e2e/fixtures/with-router/app/_layout.js
  packages/@expo/cli/e2e/fixtures/with-router/app/about.js
  packages/@expo/cli/e2e/fixtures/with-router/app/index.js
  packages/@expo/cli/e2e/fixtures/with-router/babel.config.js
  packages/@expo/cli/e2e/fixtures/with-router/index.js
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/@expo/cli/e2e/fixtures/with-router/public/favicon.ico
  packages/@expo/cli/package.json
  packages/@expo/cli/src/export/__tests__/exportStaticAsync.test.ts
  packages/@expo/cli/src/export/createBundles.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
  packages/@expo/cli/src/utils/env.ts
  yarn.lock
Owners: @EvanBacon, @bycedric

[exupdates][ios] Convert more tests to swift/nimble (#21685)
  packages/expo-updates/ios/Tests/CertificateChainSpec.swift
  packages/expo-updates/ios/Tests/CertificateChainTests.swift
  packages/expo-updates/ios/Tests/CodeSigningAlgorithmSpec.swift
  packages/expo-updates/ios/Tests/CodeSigningAlgorithmTests.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationSpec.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/SignatureHeaderInfoSpec.swift
  packages/expo-updates/ios/Tests/SignatureHeaderInfoTests.swift
Owners: @wschurman, @douglowder

Update lockfiles
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  yarn.lock
Owners: none

[image][Android] Try to fix recycled bitmap error (#21658)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
Owners: @lukmccall, @tsapeta

feat(expo)!: use Expo CLI when building for development in Xcode (#21397)
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/__tests__/fixtures/react-native-project.ts
  packages/@expo/cli/src/run/ios/codeSigning/__tests__/fixtures/project.pbxproj
  packages/@expo/cli/src/run/ios/codeSigning/__tests__/fixtures/signed-project.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/Swift-test.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-multitarget-missing-targetattributes.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-multitarget.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-rni.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-swift.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-with-entitlements.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-with-incorrect-create-manifest-ios-path.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-without-create-manifest-ios.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/watch.pbxproj
  packages/@expo/fingerprint/src/sourcer/__tests__/fixtures/BareReactNative70Project.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/plugin/src/__tests__/fixtures/project.pbxproj
  packages/expo-notifications/plugin/src/__tests__/withNotificationsiOS-test.ts
  packages/expo/CHANGELOG.md
  packages/expo/scripts/compose-source-maps.js
  packages/expo/scripts/launchPackager.command
  packages/expo/scripts/node-binary.sh
  packages/expo/scripts/packager.sh
  packages/expo/scripts/react-native-xcode.sh
  packages/expo/scripts/xcode/with-environment.sh
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon, @bycedric, @brentvatne, @tsapeta, @ide

[exupdates][ios] Fix legacy update bundled asset parsing (#21691)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/Update/LegacyUpdate.swift
  packages/expo-updates/ios/Tests/LegacyUpdateSpec.swift
Owners: @wschurman, @douglowder

[docs] PushNotifications: fix sentence (#21698)
  docs/pages/push-notifications/push-notifications-setup.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] PushNotifications: fix heading name (#21700)
  docs/pages/push-notifications/push-notifications-setup.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[core][ios] Fix automatic percent-encoding when converting to URL (#21569)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Swift/Utilities.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Owners: @tsapeta, @kudo, @lukmccall

[image][Android] Fix crashes caused by empty placeholder or source on Android (#21695)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Owners: @lukmccall, @tsapeta

[docs] Adds AppJS banner (#21619)
  docs/package.json
  docs/pages/index.tsx
  docs/ui/components/AppJSBanner/Background.tsx
  docs/ui/components/AppJSBanner/index.tsx
  docs/yarn.lock
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] fix AppJS button hover style (#21701)
  docs/ui/components/AppJSBanner/index.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[exupdates] Move version 1 of the protocol out of draft (#21703)
  docs/constants/navigation.js
  docs/pages/bare/updating-your-app.mdx
  docs/pages/distribution/custom-updates-server.mdx
  docs/pages/eas-update/developing-with-eas-update.mdx
  docs/pages/technical-specs/archive/expo-updates-0.mdx
  docs/pages/technical-specs/expo-updates-1.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v47.0.0/sdk/updates.mdx
  docs/pages/versions/v48.0.0/sdk/updates.mdx
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/guides/general.md
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
Owners: @Simek, @amandeepmittal, @kbrandwijk, @wschurman, @douglowder

[tools] Fix including dependent packages to publish
  tools/src/publish-packages/tasks/selectPackagesToPublish.ts
Owners: @tsapeta

[image][Android] Add automatic asset downscaling to improve performance (#21628)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ImageViewWrapperTarget.kt
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ContentFit.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Owners: @lukmccall, @tsapeta

Sync changelogs with sdk-48 branch
  packages/expo-asset/CHANGELOG.md
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-manifests/CHANGELOG.md
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-updates/CHANGELOG.md
  packages/jest-expo/CHANGELOG.md
Owners: @tsapeta, @wschurman, @lukmccall, @barthap, @douglowder, @brentvatne, @kudo, @EvanBacon

[core][Android] Add error handling to `onViewDidUpdateProps` (#21696)
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
Owners: @tsapeta, @kudo, @lukmccall

fix(fingerprint): update snapshot (#21699)
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
Owners: none

[device][ios] Added support for desktop detection (#21636)
  packages/expo-device/CHANGELOG.md
  packages/expo-device/ios/DeviceModule.swift
Owners: @ide, @tsapeta

feat(cli): Set node env for metro config in `expo export:embed`. (#21644)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
Owners: @EvanBacon, @bycedric

[docs] Move Expo Updates v0 Technical Spec to /archive (#21706)
  docs/constants/navigation.js
  docs/pages/archive/technical-specs/expo-updates-0.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[tools] Update @octokit/rest to 19.0.7
  tools/package.json
  tools/yarn.lock
  yarn.lock
Owners: @tsapeta

Update typescript.mdx
  docs/pages/guides/typescript.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[device] Add deviceType constant (#21633)
  apps/native-component-list/src/screens/DeviceScreen.tsx
  apps/test-suite/tests/Device.js
  packages/expo-device/CHANGELOG.md
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
  packages/expo-device/build/Device.d.ts
  packages/expo-device/build/Device.d.ts.map
  packages/expo-device/build/Device.js
  packages/expo-device/build/Device.js.map
  packages/expo-device/build/ExpoDevice.web.d.ts
  packages/expo-device/build/ExpoDevice.web.d.ts.map
  packages/expo-device/build/ExpoDevice.web.js
  packages/expo-device/build/ExpoDevice.web.js.map
  packages/expo-device/ios/DeviceModule.swift
  packages/expo-device/src/Device.ts
  packages/expo-device/src/ExpoDevice.web.ts
Owners: @ide, @tsapeta

[docs] Remove `authToken` from Sentry configuration guide (#21716)
  docs/pages/guides/using-sentry.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @barthap @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta @barthap
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @barthap
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta @wkozyra95
/packages/expo-haptics                          @barthap
/packages/expo-image                            @lukmccall @tsapeta
/packages/expo-image-manipulator                @barthap
/packages/expo-image-picker                     @barthap @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @barthap
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @barthap
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta @barthap
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric
