Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @marklawlor, @ide, @alanjhughes, @tsapeta, @wschurman, @lukmccall, @kudo, @gabrieldonadel, @aleqsio, @kbrandwijk, @byCedric, @Simek, @amandeepmittal

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/env                             @EvanBacon @bycedric
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/image-utils                     @bycedric @EvanBacon
/packages/@expo/json-file                       @EvanBacon @bycedric
/packages/@expo/metro-config                    @EvanBacon @bycedric @marklawlor
/packages/@expo/metro-runtime                   @EvanBacon @bycedric @marklawlor
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/create-expo                           @EvanBacon @bycedric
/packages/expo-*                                @alanjhughes
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-launcher                     @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-menu                         @lukmccall @douglowder @gabrieldonadel
/packages/expo-dev-menu-interface               @lukmccall @douglowder @gabrieldonadel
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @lukmccall
/packages/expo-env-info                         @bycedric @kbrandwijk
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall
/packages/expo-image-picker                     @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @alanjhughes
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-modules-test-core                @tsapeta @aleqsio
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-router                           @EvanBacon @marklawlor
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @lukmccall
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @lukmccall
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-video                            @tsapeta @aleqsio
/packages/expo-web-browser                      @tsapeta
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

[media-library][Android] Fix promises being resolved twice (#25763)
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Owners: @tsapeta, @lukmccall

[docs] Update date FCM will be discontinued (#25773)
  docs/pages/push-notifications/push-notifications-setup.mdx
Owners: @Simek, @amandeepmittal

[6/n] upgrade react-native 0.73 (#25792)
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/eas-expo-go/eas.json
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/Podfile.lock
  apps/native-tests/package.json
  apps/router-e2e/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  ios/Podfile.lock
  package.json
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Owners: @lukmccall, @douglowder, @gabrieldonadel, @ide, @tsapeta, @brentvatne

[asset][sdk50] Fix support for local assets managed by expo-updates (#25794)
  packages/expo-asset/build/AssetSources.js
  packages/expo-asset/build/AssetSources.js.map
  packages/expo-asset/src/AssetSources.ts
  packages/expo-asset/src/__tests__/AssetSources-test.ts
Owners: @tsapeta, @wschurman

[font] add custom native font support for Font.isLoaded (#25770)
  apps/bare-expo/android/app/src/main/assets/fonts/icomoon.ttf
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo/Info.plist
  apps/bare-expo/ios/icomoon.ttf
  apps/test-suite/tests/Font.js
  packages/expo-font/CHANGELOG.md
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.kt
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/ios/EXFont/EXFontLoader.m
  packages/expo-font/src/Font.ts
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/expoModules.js
Owners: @tsapeta, @brentvatne, @EvanBacon

[docs] Fix diff in configuration for Android section (#25801)
  docs/pages/bare/installing-updates.mdx
Owners: @Simek, @amandeepmittal

[sqlite] add binary data support (#25787)
  apps/test-suite/tests/SQLiteNext.ts
  docs/pages/versions/unversioned/sdk/sqlite-next.mdx
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/cpp/NativeStatementBinding.cpp
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLExceptions.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModuleNext.kt
  packages/expo-sqlite/build/next/NativeStatement.d.ts
  packages/expo-sqlite/build/next/NativeStatement.d.ts.map
  packages/expo-sqlite/build/next/NativeStatement.js.map
  packages/expo-sqlite/build/next/Statement.d.ts
  packages/expo-sqlite/build/next/Statement.d.ts.map
  packages/expo-sqlite/build/next/Statement.js
  packages/expo-sqlite/build/next/Statement.js.map
  packages/expo-sqlite/ios/Exceptions.swift
  packages/expo-sqlite/ios/SQLiteModuleNext.swift
  packages/expo-sqlite/src/next/NativeStatement.ts
  packages/expo-sqlite/src/next/Statement.ts
  packages/expo-sqlite/src/next/__mocks__/ExpoSQLiteNext.ts
  packages/expo-sqlite/src/next/__tests__/Statement-test.node.ts
Owners: @Simek, @amandeepmittal, @kudo

[secure-store][ios] Add synchronous functions and change keychain handling (#23841)
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/ios/SecureStoreModule.swift
Owners: @kudo
