Repository expo/expo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EvanBacon, @bycedric, @brentvatne, @douglowder, @ide, @tsapeta, @wschurman, @lukmccall, @kudo, @gabrieldonadel, @aleqsio, @byCedric, @Simek, @amandeepmittal, @kbrandwijk

.github/CODEOWNERS:

/packages/@expo/cli                             @EvanBacon @bycedric
/packages/@expo/config                          @EvanBacon
/packages/@expo/prebuild-config                 @EvanBacon
/packages/@expo/config-plugins                  @EvanBacon @brentvatne
/packages/@expo/config-types                    @EvanBacon @douglowder
/packages/@expo/package-manager                 @EvanBacon @bycedric
/packages/babel-preset-expo                     @brentvatne @ide @EvanBacon
/packages/expo-app-loader-provider              @tsapeta
/packages/expo-apple-authentication             @tsapeta
/packages/expo-application                      @ide
/packages/expo-asset                            @tsapeta @wschurman
/packages/expo-av                               @lukmccall @kudo
/packages/expo-background-fetch                 @tsapeta @kudo
/packages/expo-barcode-scanner                  @lukmccall
/packages/expo-battery                          @tsapeta
/packages/expo-blur                             @tsapeta
/packages/expo-brightness                       @tsapeta
/packages/expo-build-properties                 @kudo @gabrieldonadel
/packages/expo-calendar                         @lukmccall
/packages/expo-camera                           @lukmccall
/packages/expo-cellular                         @ide @tsapeta
/packages/expo-checkbox                         @bycedric
/packages/expo-clipboard                        @tsapeta
/packages/expo-constants                        @wschurman @brentvatne
/packages/expo-contacts                         @EvanBacon
/packages/expo-crypto                           @EvanBacon @aleqsio
/packages/expo-dev-client                       @lukmccall @douglowder
/packages/expo-dev-launcher                     @lukmccall @douglowder
/packages/expo-dev-menu                         @lukmccall @douglowder
/packages/expo-dev-menu-interface               @lukmccall @douglowder
/packages/expo-device                           @ide @tsapeta
/packages/expo-document-picker                  @lukmccall
/packages/expo-face-detector                    @kudo
/packages/expo-file-system                      @brentvatne @kudo @ide @tsapeta
/packages/expo-firebase-core                    @brentvatne
/packages/expo-firebase-analytics               @brentvatne
/packages/expo-firebase-recaptcha               @brentvatne
/packages/expo-font                             @tsapeta
/packages/expo-gl                               @tsapeta
/packages/expo-haptics                          @lukmccall
/packages/expo-image                            @lukmccall @tsapeta @aleqsio
/packages/expo-image-manipulator                @lukmccall
/packages/expo-image-picker                     @lukmccall
/packages/expo-in-app-purchases                 @ide
/packages/expo-intent-launcher                  @kudo
/packages/expo-keep-awake                       @brentvatne
/packages/expo-linear-gradient                  @brentvatne
/packages/expo-local-authentication             @bycedric @lukmccall
/packages/expo-localization                     @EvanBacon @aleqsio
/packages/expo-location                         @bycedric @lukmccall
/packages/expo-mail-composer                    @brentvatne
/packages/expo-media-library                    @tsapeta @lukmccall
/packages/expo-module-scripts                   @ide
/packages/expo-module-template                  @tsapeta @EvanBacon
/packages/expo-module-template-local            @aleqsio @tsapeta
/packages/expo-modules-autolinking              @tsapeta @kudo @lukmccall
/packages/expo-modules-core                     @tsapeta @kudo @lukmccall
/packages/expo-navigation-bar                   @EvanBacon
/packages/expo-network                          @ide
/packages/expo-notifications                    @tsapeta
/packages/expo-permissions                      @lukmccall @byCedric
/packages/expo-print                            @lukmccall
/packages/expo-processing                       @EvanBacon
/packages/expo-random                           @EvanBacon
/packages/expo-screen-capture                   @tsapeta
/packages/expo-screen-orientation               @lukmccall
/packages/expo-secure-store                     @kudo
/packages/expo-sensors                          @lukmccall
/packages/expo-sharing                          @brentvatne
/packages/expo-sms                              @brentvatne
/packages/expo-speech                           @lukmccall
/packages/expo-splash-screen                    @kudo @EvanBacon
/packages/expo-sqlite                           @kudo
/packages/expo-standard-web-crypto              @EvanBacon
/packages/expo-status-bar                       @brentvatne
/packages/expo-store-review                     @EvanBacon
/packages/expo-stories                          @bycedric @EvanBacon
/packages/expo-structured-headers               @douglowder
/packages/expo-system-ui                        @EvanBacon
/packages/expo-task-manager                     @tsapeta @bycedric
/packages/expo-tracking-transparency            @tsapeta
/packages/expo-updates                          @wschurman @douglowder
/packages/expo-updates-interface                @wschurman @douglowder
/packages/expo-video-thumbnails                 @tsapeta
/packages/expo-web-browser                      @tsapeta
/packages/expo-yarn-workspaces                  @ide
/packages/expo                                  @ide @tsapeta @brentvatne
/packages/jest-expo-enzyme                      @ide @EvanBacon
/packages/jest-expo-puppeteer                   @ide @EvanBacon
/packages/jest-expo                             @brentvatne @EvanBacon
/tools                                          @tsapeta
/docs                                           @Simek @amandeepmittal @kbrandwijk
/.github/workflows                              @tsapeta @brentvatne @kudo
/.github/workflows/cli.yml                      @EvanBacon @bycedric

[android][ios] Upgrade @react-native-community/datetimepicker to 7.2.0 (#23034)
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNDateTimePickerPackage.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Owners: @ide, @tsapeta, @brentvatne

[expo] Migrate internal usage of Constants.manifest to Constants.expoGoConfig (#23019)
  packages/expo/build/environment/logging.fx.js
  packages/expo/build/environment/logging.fx.js.map
  packages/expo/src/environment/logging.fx.ts
Owners: @ide, @tsapeta, @brentvatne

[docs] configuration -> configure (#23018)
  docs/pages/build/eas-json.mdx
  docs/pages/submit/eas-json.mdx
  docs/pages/workflow/configuration.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Publish packages
  apps/native-component-list/package.json
  packages/@expo/cli/package.json
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/package.json
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/package.json
  packages/@expo/use-updates/CHANGELOG.md
  packages/@expo/use-updates/package.json
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/android/build.gradle
  packages/expo-constants/package.json
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/package.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/package.json
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-module-scripts/package.json
  packages/expo-module-template/$package.json
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/package.json
  packages/expo-splash-screen/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/package.json
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Owners: @EvanBacon, @bycedric, @wschurman, @brentvatne, @lukmccall, @douglowder, @ide, @tsapeta, @kudo

[use-updates] Commit doc changes
  packages/@expo/use-updates/docs/modules.md
Owners: none

Update react-native-safe-area-context to 4.6.3 (#23026)
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/NativeSafeAreaContextSpec.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaProviderManagerDelegate.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaProviderManagerInterface.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaViewManagerDelegate.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaViewManagerInterface.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewEdges.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewLocalData.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewShadowNode.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaShadowView.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaView.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdgeMode.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdgeMode.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdges.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdges.m
  ios/vendored/unversioned/react-native-safe-area-context/react-native-safe-area-context.podspec.json
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Owners: @bycedric, @EvanBacon, @ide, @tsapeta, @brentvatne

[templates] Bump versions
  templates/expo-template-tabs/package.json
Owners: none

[templates] Bump beta package versions
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Owners: none

delete router styling docs (#23045)
  docs/constants/navigation.js
  docs/pages/routing/styling.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

Update navigation template to Expo Router v2 (#22740)
  templates/expo-template-tabs/.gitignore
  templates/expo-template-tabs/app.json
  templates/expo-template-tabs/app/(tabs)/_layout.tsx
  templates/expo-template-tabs/app/(tabs)/index.tsx
  templates/expo-template-tabs/app/(tabs)/two.tsx
  templates/expo-template-tabs/app/+html.tsx
  templates/expo-template-tabs/app/[...missing].tsx
  templates/expo-template-tabs/app/_layout.tsx
  templates/expo-template-tabs/app/modal.tsx
  templates/expo-template-tabs/babel.config.js
  templates/expo-template-tabs/components/EditScreenInfo.tsx
  templates/expo-template-tabs/components/ExternalLink.tsx
  templates/expo-template-tabs/components/Themed.tsx
  templates/expo-template-tabs/index.ts
  templates/expo-template-tabs/metro.config.js
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/tsconfig.json
Owners: none

[linking] Remove deprecated Constants.manifest / manifest2 access (#23048)
  packages/expo-linking/build/Schemes.d.ts.map
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Schemes.ts
Owners: none

[template] Add .xcode.env.local to npmignore
  templates/expo-template-bare-minimum/.npmignore
Owners: none

[go] update stripe-react-native to 0.28.0 (#23035)
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFieldView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFieldViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFormView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFormViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/FinancialConnectionsSheetFragment.kt
  ios/Podfile.lock
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFieldManager.m
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFieldView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFormManager.m
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFormView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/StripeSdk.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/stripe-react-native.podspec.json
  packages/expo/bundledNativeModules.json
Owners: @ide, @tsapeta, @brentvatne

[go] update @shopify/react-native-skia to 0.1.195 (#23036)
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/RNSkAndroidView.h
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/RNSkOpenGLCanvasProvider.cpp
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/RNSkOpenGLCanvasProvider.h
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/SkiaOpenGLRenderer.cpp
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/SkiaOpenGLRenderer.h
  android/vendored/unversioned/@shopify/react-native-skia/android/src/main/java/com/shopify/reactnative/skia/ViewScreenshotService.java
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkDomView.cpp
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkView.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/dom/base/JsiDomDrawingNode.h
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkDomView.cpp
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkView.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/dom/base/JsiDomDrawingNode.h
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/RNSkMetalCanvasProvider.h
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/RNSkMetalCanvasProvider.mm
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/SkiaUIView.mm
  ios/vendored/unversioned/@shopify/react-native-skia/react-native-skia.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Owners: @ide, @tsapeta, @brentvatne

feat(prebuild): Generate universal 1024x1024 iOS icon only. (#22833)
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.js.map
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js.map
  packages/@expo/prebuild-config/src/plugins/icons/AssetContents.ts
  packages/@expo/prebuild-config/src/plugins/icons/__tests__/__snapshots__/withIosIcons-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/icons/__tests__/withIosIcons-test.ts
  packages/@expo/prebuild-config/src/plugins/icons/withIosIcons.ts
  templates/expo-template-bare-minimum/ios/HelloWorld/Images.xcassets/AppIcon.appiconset/Contents.json
Owners: @EvanBacon

Update react-native-view-shot to 3.7.0 (#23024)
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/RNViewShotModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/ViewShot.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Owners: @ide, @tsapeta, @brentvatne

fix(metro-config): fix core init order (#23049)
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Owners: none

[docs][expo-auth-session] Remove proxy references from unversioned, add deprecation notice for SDK 48 and other fixes (#23016)
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
  docs/public/static/data/v48.0.0/expo-auth-session.json
Owners: @Simek, @amandeepmittal, @kbrandwijk

[screen-orientation][ios] Fix crash when reading rootViewController value (#23039)
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
Owners: @lukmccall

[templates] Bump tabs template versions
  templates/expo-template-tabs/package.json
Owners: none

various cli fixes (#22738)
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/commandsTable.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/src/customizeFrame.ts
Owners: @EvanBacon, @bycedric

tabs: disable async routes and bump (#23066)
  templates/expo-template-tabs/app.json
  templates/expo-template-tabs/app/+html.tsx
  templates/expo-template-tabs/package.json
Owners: none

Publish packages
  apps/native-component-list/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/package.json
  packages/create-expo-module/package.json
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/android/build.gradle
  packages/expo-blur/package.json
  packages/expo-branch/CHANGELOG.md
  packages/expo-branch/android/build.gradle
  packages/expo-branch/package.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/package.json
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/build.gradle
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/package.json
  packages/expo-module-template/package.json
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/android/build.gradle
  packages/expo-screen-orientation/package.json
  packages/expo-splash-screen/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/package.json
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Owners: @EvanBacon, @bycedric, @tsapeta, @kudo, @gabrieldonadel, @lukmccall, @douglowder, @wschurman, @ide, @brentvatne

[expo] Bump expo-router suggested version
  packages/expo/bundledNativeModules.json
Owners: @ide, @tsapeta, @brentvatne

[docs] FileTree: fix logic error when there is no directories (#23065)
  docs/ui/components/FileTree/index.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-updates][Android] Fix instrumentation tests (#23037)
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesUtilsInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
Owners: @wschurman, @douglowder

[templates] Bump version
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Owners: none

[build-properties] Add useCleartextTraffic option (#23043)
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Permissions-test.ts.snap
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.d.ts
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/build/withBuildProperties.js
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-build-properties/src/withBuildProperties.ts
  templates/expo-template-bare-minimum/android/app/src/main/AndroidManifest.xml
Owners: @Simek, @amandeepmittal, @kbrandwijk, @EvanBacon, @brentvatne, @kudo, @gabrieldonadel

[docs] Fix typo in Introduction page (#23054)
  docs/pages/tutorial/introduction.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo-blur] Fix reanimated support for BlurView (#22783)
  apps/native-component-list/src/screens/BlurView/BlurViewWithControls.tsx
  docs/public/static/data/unversioned/expo-blur.json
  packages/expo-blur/build/BlurView.d.ts
  packages/expo-blur/build/BlurView.d.ts.map
  packages/expo-blur/build/BlurView.js
  packages/expo-blur/build/BlurView.js.map
  packages/expo-blur/build/BlurView.types.d.ts
  packages/expo-blur/build/BlurView.types.d.ts.map
  packages/expo-blur/build/BlurView.types.js.map
  packages/expo-blur/build/BlurView.web.d.ts
  packages/expo-blur/build/BlurView.web.d.ts.map
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/src/BlurView.tsx
  packages/expo-blur/src/BlurView.types.ts
  packages/expo-blur/src/BlurView.web.tsx
Owners: @Simek, @amandeepmittal, @kbrandwijk, @tsapeta

[Expo Go][iOS] add missing stub implementation of AppLoaderTaskDelegate (#23050)
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
Owners: none

[dev-launcher] fix compatibility issue with reanimated (#23057)
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXRCTAppDelegateInterceptor.mm
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherBridgeDelegateHandler.h
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherBridgeDelegateHandler.mm
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevClientAppDelegate.mm
Owners: @lukmccall, @douglowder

bump router to rc3 (#23052)
  templates/expo-template-tabs/app.json
  templates/expo-template-tabs/package.json
Owners: none

[docs] eas update: link to debug page in 'getting started' (#23051)
  docs/pages/eas-update/getting-started.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[template] Fix tabs template package.json
  templates/expo-template-tabs/package.json
Owners: none

[expo-updates][android] Use sealed class for UpdatesStateEvent (#23038)
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesStateMachineInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateEvent.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Owners: @wschurman, @douglowder

[docs] EAS Build: add docs about set-env (#23031)
  docs/pages/build-reference/variables.mdx
Owners: @Simek, @amandeepmittal, @kbrandwijk

[expo] Add expo-router to bundled native modules
  packages/expo/bundledNativeModules.json
Owners: @ide, @tsapeta, @brentvatne

[docs] ToC Sidebar: add scroll to top, allow multiline entries, UI tweaks (#23033)
  docs/components/DocumentationSidebarRight.tsx
  docs/components/DocumentationSidebarRightLink.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
Owners: @Simek, @amandeepmittal, @kbrandwijk

[docs] Update Using Google authentication guide (#22813)
  docs/pages/guides/google-authentication.mdx
  docs/public/static/images/ios-url-scheme.png
Owners: @Simek, @amandeepmittal, @kbrandwijk
