Repository expo/expo, pull requests merged in 2018-11, with the labels that each got.

#2443 Rename `update-nixpkgs-pin` to `update-dependencies` and have it update yarn.lock files too
  .envrc
  android/shell.nix
  nix/default.nix
  nix/nixpkgs.json
  update-dependencies
Labels: in progress

#2590 [video] Move references to static properties outside of the Video component to fix HMR transform bug
  packages/expo/src/av/Video.tsx
Labels: in progress, project: sdk

#2650 [ci] Make CircleCI red when tests fail + retry only "yarn install" commands
  .circleci/config.yml
Labels: in progress

#2643 [ts] Add TypeScript+Jest to expo-module-scripts and migrate expo-sms to TS
  packages/expo-module-scripts/README.md
  packages/expo-module-scripts/babel.config.base.js
  packages/expo-module-scripts/bin/expo-module-configure
  packages/expo-module-scripts/bin/expo-module-postinstall
  packages/expo-module-scripts/bin/expo-module.js
  packages/expo-module-scripts/jest-preset.js
  packages/expo-module-scripts/package.json
  packages/expo-module-scripts/templates/babel.config.js
  packages/expo-module-scripts/templates/tsconfig.json
  packages/expo-module-scripts/tsconfig.base.json
  packages/expo-sms/.babelrc
  packages/expo-sms/babel.config.js
  packages/expo-sms/build/SMS.d.ts
  packages/expo-sms/build/SMS.js
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/index.js
  packages/expo-sms/package.json
  packages/expo-sms/src/SMS.ts
  packages/expo-sms/src/__tests__/SMS-test.ts
  packages/expo-sms/tsconfig.json
  packages/expo/src/Expo.ts
  yarn.lock
Labels: in progress

#2666 [ci] Install rsync in CI using Nix
  .circleci/config.yml
Labels: in progress

#2664 [development] Make expo-module-scripts be the package that pulls in babel-preset-expo
  packages/expo-module-scripts/package.json
Labels: in progress

#2667 [development] Use expo-module-scripts for most of the expo package
  packages/expo-module-scripts/package.json
  packages/expo/package.json
  packages/expo/tsconfig.jest.json
  packages/expo/tsconfig.json
  yarn.lock
Labels: in progress

#2688 [iOS] getInfoAsync fix
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemAssetLibraryHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemLocalFileHandler.m
Labels: in progress

#2680 [android] Update react-native-maps to v0.22.1
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapMarker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapView.java
  android/versioned-abis/expoview-abi31_0_0/src/main/java/abi31_0_0/host/exp/exponent/modules/api/components/maps/AirMapMarker.java
  android/versioned-abis/expoview-abi31_0_0/src/main/java/abi31_0_0/host/exp/exponent/modules/api/components/maps/AirMapView.java
Labels: in progress, project: android-runtime

#2661 [android] make sure devicePushToken AsyncCondition is always resolved properly
  android/expoview/src/main/java/host/exp/exponent/notifications/ExponentNotificationIntentService.java
  android/expoview/src/main/java/host/exp/exponent/notifications/NotificationHelper.java
Labels: in progress, project: android-runtime

#2681 [android] Run Android Studio code formatter for all .gradle files
  android/app/build.gradle
  android/app/expo.gradle
  android/expoview/build.gradle
  android/versioned-abis/expoview-abi25_0_0/build.gradle
  android/versioned-abis/expoview-abi26_0_0/build.gradle
  android/versioned-abis/expoview-abi27_0_0/build.gradle
  android/versioned-abis/expoview-abi28_0_0/build.gradle
  android/versioned-abis/expoview-abi29_0_0/build.gradle
  android/versioned-abis/expoview-abi30_0_0/build.gradle
  android/versioned-abis/expoview-abi31_0_0/build.gradle
  packages/expo-ads-admob/android/build.gradle
  packages/expo-analytics-segment/android/build.gradle
  packages/expo-barcode-scanner-interface/android/build.gradle
  packages/expo-barcode-scanner/android/build.gradle
  packages/expo-camera-interface/android/build.gradle
  packages/expo-camera/android/build.gradle
  packages/expo-constants-interface/android/build.gradle
  packages/expo-constants/android/build.gradle
  packages/expo-contacts/android/build.gradle
  packages/expo-core/android/build.gradle
  packages/expo-face-detector-interface/android/build.gradle
  packages/expo-face-detector/android/build.gradle
  packages/expo-file-system-interface/android/build.gradle
  packages/expo-file-system/android/build.gradle
  packages/expo-font-interface/android/build.gradle
  packages/expo-font/android/build.gradle
  packages/expo-gl-cpp/android/build.gradle
  packages/expo-gl/android/build.gradle
  packages/expo-image-loader-interface/android/build.gradle
  packages/expo-local-authentication/android/build.gradle
  packages/expo-localization/android/build.gradle
  packages/expo-location/android/build.gradle
  packages/expo-media-library/android/build.gradle
  packages/expo-module-template/android/build.gradle
  packages/expo-payments-stripe/android/build.gradle
  packages/expo-permissions-interface/android/build.gradle
  packages/expo-permissions/android/build.gradle
  packages/expo-print/android/build.gradle
  packages/expo-react-native-adapter/android/build.gradle
  packages/expo-sensors-interface/android/build.gradle
  packages/expo-sensors/android/build.gradle
  packages/expo-sms/android/build.gradle
Labels: in progress

#2702 [ci] pass shellAppSdkVersion argument to shell_app_sim_base_ios
  .circleci/config.yml
Labels: in progress

#2660 [ci] Use xcode 10.1 image
  .circleci/config.yml
Labels: in progress

#2675 [Web][Unimodule] Added web shim for Constants
  packages/expo-constants/src/Constants.js
  packages/expo-constants/src/ExponentConstants.js
  packages/expo-constants/src/ExponentConstants.web.js
Labels: in progress

#2692 [Android](Camera)Fixed wrong type casting
  CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/ResolveTakenPictureAsyncTask.java
Labels: in progress

#2698 [iOS] Fixed Download DownloadResumable
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: in progress

#2746 [Android] Fixed issue with quality attribute in ImagePicker
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ImagePickerModule.java
Labels: in progress

#2734 [Web] SVG
  packages/expo/src/Svg.web.ts
Labels: in progress, project: web

#2732 [Web] KeepAwake
  packages/expo/src/KeepAwake/ExponentKeepAwake.js
  packages/expo/src/KeepAwake/ExponentKeepAwake.web.js
  packages/expo/src/KeepAwake/index.js
Labels: in progress, project: web

#2728 [Web] BlurView
  packages/expo/src/effects/BlurView.d.ts
  packages/expo/src/effects/BlurView.web.tsx
Labels: in progress, project: web

#2725 [Web] AppLoading
  packages/expo/src/launch/SplashScreen.ts
Labels: in progress, project: web

#2752 [KeepAwake] changed JS to TS
  packages/expo/src/KeepAwake/ExponentKeepAwake.ts
  packages/expo/src/KeepAwake/ExponentKeepAwake.web.ts
  packages/expo/src/KeepAwake/index.ts
Labels: in progress

#2730 [ts] Migrate expo-ads-admob to TS
  packages/expo-ads-admob/.babelrc
  packages/expo-ads-admob/babel.config.js
  packages/expo-ads-admob/build/AdMobBanner.d.ts
  packages/expo-ads-admob/build/AdMobBanner.js
  packages/expo-ads-admob/build/AdMobBanner.js.map
  packages/expo-ads-admob/build/AdMobInterstitial.d.ts
  packages/expo-ads-admob/build/AdMobInterstitial.js
  packages/expo-ads-admob/build/AdMobInterstitial.js.map
  packages/expo-ads-admob/build/AdMobRewarded.d.ts
  packages/expo-ads-admob/build/AdMobRewarded.js
  packages/expo-ads-admob/build/AdMobRewarded.js.map
  packages/expo-ads-admob/build/PublisherBanner.d.ts
  packages/expo-ads-admob/build/PublisherBanner.js
  packages/expo-ads-admob/build/PublisherBanner.js.map
  packages/expo-ads-admob/build/index.d.ts
  packages/expo-ads-admob/build/index.js
  packages/expo-ads-admob/build/index.js.map
  packages/expo-ads-admob/index.js
  packages/expo-ads-admob/package.json
  packages/expo-ads-admob/src/AdMobBanner.tsx
  packages/expo-ads-admob/src/AdMobBanner.web.js
  packages/expo-ads-admob/src/AdMobInterstitial.ts
  packages/expo-ads-admob/src/AdMobInterstitial.web.js
  packages/expo-ads-admob/src/AdMobRewarded.ts
  packages/expo-ads-admob/src/AdMobRewarded.web.js
  packages/expo-ads-admob/src/PublisherBanner.tsx
  packages/expo-ads-admob/src/PublisherBanner.web.js
  packages/expo-ads-admob/src/index.ts
  packages/expo-ads-admob/src/ts-declarations/react.d.ts
  packages/expo-ads-admob/tsconfig.json
Labels: in progress

#2733 [tools] Split powertools out into expotools
  .circleci/config.yml
  .envrc
  secrets/expotools.env
  tools/expotools/.gitignore
  tools/expotools/README.md
  tools/expotools/bin/expotools.js
  tools/expotools/bin/setup-network-proxy.sh
  tools/expotools/package.json
  tools/expotools/src/DeviceFarm.ts
  tools/expotools/src/Directories.ts
  tools/expotools/src/ExpoCLI.ts
  tools/expotools/src/ExpoKit.ts
  tools/expotools/src/FirebaseTestLab.ts
  tools/expotools/src/Fixtures.ts
  tools/expotools/src/HashDirectory.ts
  tools/expotools/src/IOSSimulator.ts
  tools/expotools/src/IOSSimulatorTestSuite.ts
  tools/expotools/src/Log.ts
  tools/expotools/src/S3.ts
  tools/expotools/src/TestServer.ts
  tools/expotools/src/TestSuite.ts
  tools/expotools/src/XDL.ts
  tools/expotools/src/commands/AndroidTest.ts
  tools/expotools/src/commands/AndroidUpdateExpoKit.ts
  tools/expotools/src/commands/HashDirectoryCommand.ts
  tools/expotools/src/commands/IosUpdateExpoKit.ts
  tools/expotools/src/commands/PlayFixturesCommand.ts
  tools/expotools/src/commands/PublishDevExpoHomeCommand.ts
  tools/expotools/src/commands/PublishTestSuite.ts
  tools/expotools/src/commands/PublishVersionedTestSuiteCommand.ts
  tools/expotools/src/commands/RecordDevModeTestAppFixturesCommand.ts
  tools/expotools/src/commands/RecordFixturesCommand.ts
  tools/expotools/src/commands/RunIOSTestSuite.ts
  tools/expotools/src/commands/TestServerCommand.ts
  tools/expotools/src/expotools-cli.ts
  tools/expotools/src/expotools.ts
  tools/expotools/src/utils/sleepAsync.ts
  tools/expotools/tsconfig.json
  tools/expotools/yarn.lock
Labels: in progress

#2727 [Web] Font/Icon
  packages/expo-font/package.json
  packages/expo-font/src/ExpoFontLoader.web.js
  packages/expo-font/src/Font.js
Labels: in progress, project: web

#2723 [Web] LinearGradient
  packages/expo/src/effects/LinearGradient.tsx
  packages/expo/src/effects/NativeLinearGradient.d.ts
  packages/expo/src/effects/NativeLinearGradient.web.tsx
Labels: in progress, project: web

#2741 [Web] Notifications
  packages/expo/src/Expo.ts
  packages/expo/src/Notifications/ExponentNotifications.ts
  packages/expo/src/Notifications/ExponentNotifications.web.ts
  packages/expo/src/Notifications/Notifications.ts
  packages/expo/src/__tests__/Notifications-test.ts
  packages/expo/src/launch/registerRootComponent.tsx
Labels: in progress, project: web

#2722 [Web] Localization
  packages/expo-localization/package.json
  packages/expo-localization/src/ExpoLocalization.js
  packages/expo-localization/src/ExpoLocalization.web.js
  packages/expo-localization/src/Localization.js
  packages/expo-localization/src/Localization.web.js
Labels: in progress, project: web

#2757 [expotools] Add `expotools`/`et` to bin
  nix/all-packages.nix
  tools/bin/.gitignore
  tools/bin/et
  tools/bin/expotools
  tools/expotools/.gitignore
Labels: in progress

#2768 [android] Forward onActivityResult calls to React instance manager
  CHANGELOG.md
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
Labels: in review, project: android-runtime

#2772 [android] Fix app crash when invalid frame provided to detect barcodes
  CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/GMVBarCodeScanner.java
Labels: in review, project: android-runtime

#2773 [Android] Array last item access in zsh shell
  android/.envrc
Labels: in progress

#2764 [ci][android] Prompt for approval to release to Google Play only from SDK release branches
  .circleci/config.yml
Labels: in progress

#2696 [modules] Remove .babelrc from universal modules; let the app control transformations
  packages/expo-analytics-segment/.babelrc
  packages/expo-asset/.babelrc
  packages/expo-barcode-scanner/.babelrc
  packages/expo-barcode-scanner/package.json
  packages/expo-camera/.babelrc
  packages/expo-constants/.babelrc
  packages/expo-contacts/.babelrc
  packages/expo-contacts/package.json
  packages/expo-face-detector/.babelrc
  packages/expo-file-system/.babelrc
  packages/expo-firebase-analytics/.babelrc
  packages/expo-firebase-analytics/package.json
  packages/expo-firebase-app/.babelrc
  packages/expo-firebase-app/package.json
  packages/expo-firebase-auth/.babelrc
  packages/expo-firebase-auth/package.json
  packages/expo-firebase-crashlytics/.babelrc
  packages/expo-firebase-crashlytics/package.json
  packages/expo-firebase-database/.babelrc
  packages/expo-firebase-database/package.json
  packages/expo-firebase-firestore/.babelrc
  packages/expo-firebase-firestore/package.json
  packages/expo-firebase-functions/.babelrc
  packages/expo-firebase-functions/package.json
  packages/expo-firebase-instance-id/.babelrc
  packages/expo-firebase-instance-id/package.json
  packages/expo-firebase-invites/.babelrc
  packages/expo-firebase-invites/package.json
  packages/expo-firebase-links/.babelrc
  packages/expo-firebase-links/package.json
  packages/expo-firebase-messaging/.babelrc
  packages/expo-firebase-messaging/package.json
  packages/expo-firebase-notifications/.babelrc
  packages/expo-firebase-notifications/package.json
  packages/expo-firebase-performance/.babelrc
  packages/expo-firebase-performance/package.json
  packages/expo-firebase-remote-config/.babelrc
  packages/expo-firebase-remote-config/package.json
  packages/expo-firebase-storage/.babelrc
  packages/expo-firebase-storage/package.json
  packages/expo-font/.babelrc
  packages/expo-font/package.json
  packages/expo-gl/.babelrc
  packages/expo-image-loader-interface/.babelrc
  packages/expo-image-loader-interface/package.json
  packages/expo-local-authentication/.babelrc
  packages/expo-local-authentication/package.json
  packages/expo-localization/.babelrc
  packages/expo-localization/package.json
  packages/expo-location/.babelrc
  packages/expo-location/package.json
  packages/expo-media-library/.babelrc
  packages/expo-media-library/package.json
  packages/expo-module-template/.babelrc
  packages/expo-module-template/package.json
  packages/expo-permissions/.babelrc
  packages/expo-permissions/package.json
  packages/expo-print/.babelrc
  packages/expo-react-native-adapter/.babelrc
  packages/expo-sensors/.babelrc
Labels: in progress

#2771 [sdk] Support React.RefObject in takeSnapshotAsync
  CHANGELOG.md
  packages/expo/src/takeSnapshotAsync.ts
Labels: in review, project: sdk

#2825 [ts] Mark compiled JS as auto-generated and binary to filter from GitHub
  .gitattributes
Labels: in progress

#2826 Use React.ComponentProps and delete React.ElementProps
  packages/expo-ads-admob/build/AdMobBanner.d.ts
  packages/expo-ads-admob/build/AdMobBanner.js.map
  packages/expo-ads-admob/build/AdMobInterstitial.js.map
  packages/expo-ads-admob/build/AdMobRewarded.js.map
  packages/expo-ads-admob/build/PublisherBanner.d.ts
  packages/expo-ads-admob/build/PublisherBanner.js.map
  packages/expo-ads-admob/src/AdMobBanner.tsx
  packages/expo-ads-admob/src/PublisherBanner.tsx
  packages/expo-ads-admob/src/ts-declarations/react.d.ts
  packages/expo/package.json
  packages/expo/src/av/Video.tsx
  packages/expo/src/effects/BlurView.android.tsx
  packages/expo/src/effects/BlurView.d.ts
  packages/expo/src/effects/BlurView.ios.tsx
  packages/expo/src/effects/BlurView.web.tsx
  packages/expo/src/effects/LinearGradient.tsx
  packages/expo/src/effects/NativeLinearGradient.android.tsx
  packages/expo/src/effects/NativeLinearGradient.d.ts
  packages/expo/src/effects/NativeLinearGradient.ios.tsx
  packages/expo/src/effects/NativeLinearGradient.web.tsx
  packages/expo/src/facebook-ads/AdIconView.tsx
  packages/expo/src/facebook-ads/AdMediaView.tsx
  packages/expo/src/facebook-ads/AdTriggerView.tsx
  packages/expo/src/facebook-ads/BannerAd.tsx
  packages/expo/src/facebook-ads/withNativeAd.tsx
  packages/expo/src/launch/registerRootComponent.tsx
  packages/expo/src/ts-declarations/react.d.ts
  yarn.lock
Labels: in progress

#2822 [ci] Android client build does not require secrets
  .circleci/config.yml
Labels: in progress

#2726 [Web] Asset
  packages/expo-asset/package.json
  packages/expo-asset/src/Asset.js
Labels: in progress, project: web

#2803 [Web] SQLite
  packages/expo/src/SQLite.web.ts
Labels: in progress, project: web

#2750 [android] Remove universal image loader dependency
  CHANGELOG.md
  android/app/build.gradle
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/expoview/Exponent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ImageManipulatorModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ImagePickerModule.java
  apps/native-component-list/screens/ImageManipulatorScreen.js
  apps/native-component-list/screens/ImagePickerScreen.js
Labels: in review, project: android-runtime, project: sdk

#2770 [ts] Convert expo-sensors to TS
  .circleci/config.yml
  packages/expo-sensors/babel.config.js
  packages/expo-sensors/build/Accelerometer.d.ts
  packages/expo-sensors/build/Accelerometer.js
  packages/expo-sensors/build/Accelerometer.js.map
  packages/expo-sensors/build/DeviceMotion.d.ts
  packages/expo-sensors/build/DeviceMotion.js
  packages/expo-sensors/build/DeviceMotion.js.map
  packages/expo-sensors/build/DeviceSensor.d.ts
  packages/expo-sensors/build/DeviceSensor.js
  packages/expo-sensors/build/DeviceSensor.js.map
  packages/expo-sensors/build/Gyroscope.d.ts
  packages/expo-sensors/build/Gyroscope.js
  packages/expo-sensors/build/Gyroscope.js.map
  packages/expo-sensors/build/Magnetometer.d.ts
  packages/expo-sensors/build/Magnetometer.js
  packages/expo-sensors/build/Magnetometer.js.map
  packages/expo-sensors/build/MagnetometerUncalibrated.d.ts
  packages/expo-sensors/build/MagnetometerUncalibrated.js
  packages/expo-sensors/build/MagnetometerUncalibrated.js.map
  packages/expo-sensors/build/Pedometer.d.ts
  packages/expo-sensors/build/Pedometer.js
  packages/expo-sensors/build/Pedometer.js.map
  packages/expo-sensors/build/ThreeAxisSensor.d.ts
  packages/expo-sensors/build/ThreeAxisSensor.js
  packages/expo-sensors/build/ThreeAxisSensor.js.map
  packages/expo-sensors/build/index.d.ts
  packages/expo-sensors/build/index.js
  packages/expo-sensors/build/index.js.map
  packages/expo-sensors/index.js
  packages/expo-sensors/package.json
  packages/expo-sensors/src/Accelerometer.ts
  packages/expo-sensors/src/DeviceMotion.ts
  packages/expo-sensors/src/DeviceSensor.ts
  packages/expo-sensors/src/Gyroscope.ts
  packages/expo-sensors/src/Magnetometer.ts
  packages/expo-sensors/src/MagnetometerUncalibrated.ts
  packages/expo-sensors/src/Pedometer.ts
  packages/expo-sensors/src/ThreeAxisSensor.ts
  packages/expo-sensors/src/__tests__/Accelerometer-test.js
  packages/expo-sensors/src/__tests__/DeviceMotion-test.js
  packages/expo-sensors/src/__tests__/DeviceSensor-test.js
  packages/expo-sensors/src/__tests__/Gyroscope-test.js
  packages/expo-sensors/src/__tests__/Magnetometer-test.js
  packages/expo-sensors/src/index.ts
  packages/expo-sensors/test/mocking.js
  packages/expo-sensors/tsconfig.json
Labels: in progress

#2840 [Firebase] bump version
  packages/expo-firebase-analytics/package.json
  packages/expo-firebase-app/package.json
  packages/expo-firebase-auth/package.json
  packages/expo-firebase-crashlytics/package.json
  packages/expo-firebase-database/package.json
  packages/expo-firebase-firestore/package.json
  packages/expo-firebase-functions/package.json
  packages/expo-firebase-instance-id/package.json
  packages/expo-firebase-invites/package.json
  packages/expo-firebase-links/package.json
  packages/expo-firebase-messaging/package.json
  packages/expo-firebase-performance/package.json
  packages/expo-firebase-remote-config/package.json
  packages/expo-firebase-storage/package.json
Labels: project: firebase

#2843 [ci] Enable client_android job on PRs
  .circleci/config.yml
Labels: in progress

#2830 [Web] fixes for web modules
  packages/expo-constants/src/ExponentConstants.web.js
  packages/expo-file-system/src/FileSystem.js
  packages/expo/src/Svg.web.ts
Labels: in progress, project: web

#2789 [Web] MailComposer
  packages/expo/package.json
  packages/expo/src/Expo.ts
  packages/expo/src/MailComposer.ts
  packages/expo/src/MailComposer/ExponentMailComposer.ts
  packages/expo/src/MailComposer/ExponentMailComposer.web.ts
  packages/expo/src/MailComposer/MailComposer.ts
  packages/expo/src/MailComposer/MailComposer.types.ts
  yarn.lock
Labels: in progress, project: web

#2786 [Web] Permissions
  packages/expo-permissions/Permissions.js
  packages/expo-permissions/index.js
  packages/expo-permissions/src/ExpoPermissions.js
  packages/expo-permissions/src/ExpoPermissions.web.js
  packages/expo-permissions/src/Permissions.js
  packages/expo-permissions/src/Permissions.types.js
Labels: in progress, project: web

#2788 [Web] SMS
  packages/expo-sms/build/ExpoSMS.d.ts
  packages/expo-sms/build/ExpoSMS.js
  packages/expo-sms/build/ExpoSMS.js.map
  packages/expo-sms/build/ExpoSMS.web.d.ts
  packages/expo-sms/build/ExpoSMS.web.js
  packages/expo-sms/build/ExpoSMS.web.js.map
  packages/expo-sms/build/SMS.js
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/src/ExpoSMS.ts
  packages/expo-sms/src/ExpoSMS.web.ts
  packages/expo-sms/src/SMS.ts
Labels: in progress, project: web

#2827 [Web] Location
  packages/expo-location/src/ExpoLocation.js
  packages/expo-location/src/ExpoLocation.web.js
  packages/expo-location/src/Location.js
  packages/expo-location/src/Location.web.js
  packages/expo-react-native-adapter/src/EventEmitter.js
  packages/expo/src/__tests__/Location-test.ts
Labels: in progress, project: web

#2794 [Web] LocalAuthentication
  packages/expo-local-authentication/src/ExpoLocalAuthentication.js
  packages/expo-local-authentication/src/ExpoLocalAuthentication.web.js
  packages/expo-local-authentication/src/LocalAuthentication.js
Labels: in progress, project: web

#2864 [cleanup] Remove install-to-directory.sh
  packages/expo/CONTRIBUTING.md
  packages/expo/install-to-directory.sh
Labels: in progress

#2852 [ci] Prepare branch name to be a valid channel name
  apps/test-suite/publish.sh
Labels: in progress

#2865 [expo][breaking] Remove deprecated `import Expo from 'expo'`
  CHANGELOG.md
  packages/expo/src/Expo.ts
Labels: in progress

#2781 [Web] StoreReview
  packages/expo/src/Expo.ts
  packages/expo/src/StoreReview.ts
  packages/expo/src/StoreReview/ExponentStoreReview.ts
  packages/expo/src/StoreReview/ExponentStoreReview.web.ts
  packages/expo/src/StoreReview/StoreReview.ts
Labels: in progress, project: web

#2850 [android] Remove obsolete assets from standalone apps
  THIRD-PARTY-LICENSES
  android/app/src/main/assets/fonts/EmojiOne.ttf
  android/expoview/src/main/java/host/exp/exponent/Constants.java
Labels: in review, project: sdk

#2853 Fix the expo-cli wrapper script failing on Windows
  packages/expo/bin/cli.js
  packages/expo/package.json
Labels: in progress
