Repository expo/expo, pull requests merged in 2018-12, with the labels that each got.

#2872 [ts] Convert expo-core to TypeScript
  packages/expo-core/babel.config.js
  packages/expo-core/build/index.d.ts
  packages/expo-core/build/index.js
  packages/expo-core/build/index.js.map
  packages/expo-core/index.js
  packages/expo-core/package.json
  packages/expo-core/src/index.ts
  packages/expo-core/tsconfig.json
  packages/expo-react-native-adapter/index.d.ts
  packages/expo-react-native-adapter/package.json
Labels: in progress

#2875 [ts] Convert expo-react-native-adapter to TS
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/src/Font.ts
  packages/expo-react-native-adapter/babel.config.js
  packages/expo-react-native-adapter/build/EventEmitter.d.ts
  packages/expo-react-native-adapter/build/EventEmitter.js
  packages/expo-react-native-adapter/build/EventEmitter.js.map
  packages/expo-react-native-adapter/build/NativeModulesProxy.d.ts
  packages/expo-react-native-adapter/build/NativeModulesProxy.js
  packages/expo-react-native-adapter/build/NativeModulesProxy.js.map
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.d.ts
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js.map
  packages/expo-react-native-adapter/build/index.d.ts
  packages/expo-react-native-adapter/build/index.js
  packages/expo-react-native-adapter/build/index.js.map
  packages/expo-react-native-adapter/index.d.ts
  packages/expo-react-native-adapter/index.js
  packages/expo-react-native-adapter/package.json
  packages/expo-react-native-adapter/src/EventEmitter.ts
  packages/expo-react-native-adapter/src/NativeModulesProxy.ts
  packages/expo-react-native-adapter/src/NativeViewManagerAdapter.tsx
  packages/expo-react-native-adapter/src/index.ts
  packages/expo-react-native-adapter/tsconfig.json
  packages/expo/src/av/Video.tsx
  yarn.lock
Labels: in progress

#2876 [tests] Add tests for expo-r-n-adapter's EventEmitter
  .circleci/config.yml
  packages/expo-react-native-adapter/src/__tests__/EventEmitter-test.ts
Labels: in progress

#2878 [adapter] Add unit tests for NativeModulesProxy
  packages/expo-font/src/__tests__/Font-test.ts
  packages/expo-react-native-adapter/build/NativeModulesProxy.d.ts
  packages/expo-react-native-adapter/build/NativeModulesProxy.js
  packages/expo-react-native-adapter/build/NativeModulesProxy.js.map
  packages/expo-react-native-adapter/src/NativeModulesProxy.ts
  packages/expo-react-native-adapter/src/__tests__/NativeModulesProxy-test.ts
  packages/expo-react-native-adapter/src/__tests__/__snapshots__/NativeModulesProxy-test.ts.snap
  packages/jest-expo/src/setup.js
Labels: in progress

#2879 [breaking] Remove deprecated `Expo.Fingerprint`
  CHANGELOG.md
  packages/expo/src/Expo.ts
Labels: in progress

#2877 [adapter] Update `requireNativeViewManager` for RN 0.57+ and remove bottom wrapper component
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.d.ts
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js.map
  packages/expo-react-native-adapter/src/NativeViewManagerAdapter.tsx
  packages/expo-react-native-adapter/src/__tests__/NativeViewManagerAdapter-test.tsx
Labels: in progress

#2891 [adapter][tests] Add some skipped regression tests for EventEmitter
  packages/expo-react-native-adapter/src/__tests__/EventEmitter-test.ts
Labels: in progress

#2892 [adapter] Add more types and invariants to EventEmitter
  packages/expo-react-native-adapter/src/EventEmitter.ts
Labels: in progress

#2802 [Web] Google
  packages/expo/src/Expo.ts
  packages/expo/src/Google/ExponentGoogle.ts
  packages/expo/src/Google/ExponentGoogle.web.ts
  packages/expo/src/Google/Google.ts
Labels: in progress, project: web

#2787 [Web] Haptic
  packages/expo/src/Expo.ts
  packages/expo/src/Haptic/ExponentHaptic.ts
  packages/expo/src/Haptic/ExponentHaptic.web.ts
  packages/expo/src/Haptic/Haptic.ts
Labels: in progress, project: web

#2793 [Web] ImagePicker
  packages/expo/src/Expo.ts
  packages/expo/src/ImagePicker/ExponentImagePicker.ts
  packages/expo/src/ImagePicker/ExponentImagePicker.web.ts
  packages/expo/src/ImagePicker/ImagePicker.ts
Labels: in progress, project: web

#2791 [Web] WebBrowser
  packages/expo/src/AuthSession.ts
  packages/expo/src/Expo.ts
  packages/expo/src/WebBrowser/ExponentWebBrowser.ts
  packages/expo/src/WebBrowser/ExponentWebBrowser.web.ts
  packages/expo/src/WebBrowser/WebBrowser.ts
  packages/expo/src/__tests__/WebBrowser-test.ts
Labels: in progress, project: web

#2785 [Web] Print
  packages/expo-print/package.json
  packages/expo-print/src/ExponentPrint.ts
  packages/expo-print/src/ExponentPrint.web.ts
  packages/expo-print/src/Print.ts
  packages/expo-print/src/Print.types.ts
Labels: in progress, project: web

#2799 [Web] Amplitude
  packages/expo/src/Amplitude.ts
  packages/expo/src/Amplitude/Amplitude.ts
  packages/expo/src/Amplitude/ExponentAmplitude.ts
  packages/expo/src/Amplitude/ExponentAmplitude.web.ts
  packages/expo/src/Expo.ts
  packages/expo/src/__tests__/Amplitude-test.ts
Labels: in progress, project: web

#2795 [Web] IntentLauncherAndroid
  packages/expo/src/Expo.ts
  packages/expo/src/IntentLauncherAndroid/ExponentIntentLauncher.ts
  packages/expo/src/IntentLauncherAndroid/ExponentIntentLauncher.web.ts
  packages/expo/src/IntentLauncherAndroid/IntentLauncherAndroid.ts
Labels: in progress, project: web

#2782 [Web] Contacts
  packages/expo-contacts/package.json
  packages/expo-contacts/src/Contacts.js
  packages/expo-contacts/src/ExpoContacts.js
  packages/expo-contacts/src/ExpoContacts.web.js
Labels: in progress, project: web

#2783 [Web] ScreenOrientation
  packages/expo/src/Expo.ts
  packages/expo/src/ScreenOrientation/ExponentScreenOrientation.ts
  packages/expo/src/ScreenOrientation/ExponentScreenOrientation.web.ts
  packages/expo/src/ScreenOrientation/ScreenOrientation.ts
Labels: in progress, project: web

#2784 [Web] MediaLibrary
  packages/expo-media-library/package.json
  packages/expo-media-library/src/ExponentMediaLibrary.js
  packages/expo-media-library/src/ExponentMediaLibrary.web.js
  packages/expo-media-library/src/MediaLibrary.js
Labels: in progress, project: web

#2792 [Web] ErrorRecovery
  packages/expo/src/ErrorRecovery.ts
  packages/expo/src/ErrorRecovery/ErrorRecovery.ts
  packages/expo/src/ErrorRecovery/ExponentErrorRecovery.ts
  packages/expo/src/ErrorRecovery/ExponentErrorRecovery.web.ts
  packages/expo/src/Expo.ts
  packages/expo/src/__tests__/ErrorRecovery-test.ts
Labels: in progress, project: web

#2790 [Web] ImageManipulator
  packages/expo/src/Expo.ts
  packages/expo/src/ImageManipulator.ts
  packages/expo/src/ImageManipulator/ExponentImageManipulator.ts
  packages/expo/src/ImageManipulator/ExponentImageManipulator.web.ts
  packages/expo/src/ImageManipulator/ImageManipulator.ts
Labels: in progress, project: web

#2898 [ts] Upgrade to TypeScript 3.2 and @types/react-native ^0.57.17
  .circleci/config.yml
  packages/expo-ads-admob/build/AdMobBanner.js
  packages/expo-ads-admob/build/AdMobBanner.js.map
  packages/expo-ads-admob/build/AdMobInterstitial.d.ts
  packages/expo-ads-admob/build/AdMobInterstitial.js
  packages/expo-ads-admob/build/AdMobInterstitial.js.map
  packages/expo-ads-admob/build/AdMobRewarded.d.ts
  packages/expo-ads-admob/build/AdMobRewarded.js
  packages/expo-ads-admob/build/AdMobRewarded.js.map
  packages/expo-ads-admob/build/PublisherBanner.js
  packages/expo-ads-admob/build/PublisherBanner.js.map
  packages/expo-ads-admob/src/AdMobBanner.tsx
  packages/expo-ads-admob/src/AdMobInterstitial.ts
  packages/expo-ads-admob/src/AdMobRewarded.ts
  packages/expo-ads-admob/src/PublisherBanner.tsx
  packages/expo-module-scripts/package.json
  packages/expo-react-native-adapter/build/EventEmitter.d.ts
  packages/expo-react-native-adapter/build/EventEmitter.js
  packages/expo-react-native-adapter/build/EventEmitter.js.map
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js.map
  packages/expo-react-native-adapter/src/NativeViewManagerAdapter.tsx
  packages/expo-react-native-adapter/src/__tests__/NativeViewManagerAdapter-test.tsx
  packages/expo/package.json
  packages/expo/src/av/Video.tsx
  packages/expo/src/effects/BlurView.ios.tsx
  packages/expo/src/effects/NativeLinearGradient.android.tsx
  packages/expo/src/effects/NativeLinearGradient.ios.tsx
  packages/expo/src/facebook-ads/AdIconView.tsx
  packages/expo/src/facebook-ads/AdMediaView.tsx
  packages/expo/src/facebook-ads/BannerAd.tsx
  packages/expo/src/facebook-ads/withNativeAd.tsx
  yarn.lock
Labels: in progress

#2897 [adapter] Fix `subscription.remove()` for EventEmitter subscriptions
  packages/expo-react-native-adapter/build/EventEmitter.d.ts
  packages/expo-react-native-adapter/build/EventEmitter.js
  packages/expo-react-native-adapter/build/EventEmitter.js.map
  packages/expo-react-native-adapter/build/NativeModulesProxy.d.ts
  packages/expo-react-native-adapter/build/NativeModulesProxy.js.map
  packages/expo-react-native-adapter/build/index.d.ts
  packages/expo-react-native-adapter/build/index.js
  packages/expo-react-native-adapter/build/index.js.map
  packages/expo-react-native-adapter/src/EventEmitter.ts
  packages/expo-react-native-adapter/src/NativeModulesProxy.ts
  packages/expo-react-native-adapter/src/__tests__/EventEmitter-test.ts
  packages/expo-react-native-adapter/src/index.ts
  packages/expo-react-native-adapter/src/ts-declarations/NativeEventEmitter.d.ts
  packages/expo-sensors/build/DeviceSensor.d.ts
  packages/expo-sensors/build/DeviceSensor.js.map
  packages/expo-sensors/src/DeviceSensor.ts
Labels: in progress

#2888 [android][gl] fix GLView.takeSnapshotAsync crashes when framebuffer option is passed
  CHANGELOG.md
  android/versioned-abis/expoview-abi31_0_0/src/main/java/abi31_0_0/expo/modules/gl/GLContext.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLContext.java
Labels: in progress

#2899 [ts] Update generated tsconfig.json files
  packages/expo-ads-admob/build/AdMobInterstitial.js
  packages/expo-ads-admob/build/AdMobInterstitial.js.map
  packages/expo-ads-admob/build/AdMobRewarded.js
  packages/expo-ads-admob/build/AdMobRewarded.js.map
  packages/expo-ads-admob/src/AdMobInterstitial.ts
  packages/expo-ads-admob/src/AdMobRewarded.ts
  packages/expo-ads-admob/tsconfig.json
  packages/expo-core/tsconfig.json
  packages/expo-errors/build/Errors.d.ts
  packages/expo-errors/build/Errors.js
  packages/expo-errors/build/Errors.js.map
  packages/expo-errors/tsconfig.json
  packages/expo-font/build/ExpoFontLoader.d.ts
  packages/expo-font/tsconfig.json
  packages/expo-module-scripts/templates/tsconfig.json
  packages/expo-print/build/ExponentPrint.d.ts
  packages/expo-print/build/ExponentPrint.js
  packages/expo-print/build/ExponentPrint.js.map
  packages/expo-print/build/ExponentPrint.web.d.ts
  packages/expo-print/build/ExponentPrint.web.js
  packages/expo-print/build/ExponentPrint.web.js.map
  packages/expo-print/build/Print.d.ts
  packages/expo-print/build/Print.js
  packages/expo-print/build/Print.js.map
  packages/expo-print/build/Print.types.d.ts
  packages/expo-print/build/Print.types.js
  packages/expo-print/build/Print.types.js.map
  packages/expo-print/tsconfig.json
  packages/expo-react-native-adapter/tsconfig.json
  packages/expo-sensors/tsconfig.json
  packages/expo/tsconfig.json
Labels: in progress

#2902 [Web] Constants manifest
  packages/expo-constants/src/ExponentConstants.web.js
Labels: in progress, project: web

#2796 [Web] Updates
  packages/expo/src/Expo.ts
  packages/expo/src/Updates/ExponentUpdates.ts
  packages/expo/src/Updates/ExponentUpdates.web.ts
  packages/expo/src/Updates/Updates.ts
  packages/expo/src/Util.ts
Labels: in progress, project: web

#2800 [Web] Facebook
  packages/expo/src/Expo.ts
  packages/expo/src/Facebook/ExponentFacebook.ts
  packages/expo/src/Facebook/ExponentFacebook.web.ts
  packages/expo/src/Facebook/Facebook.ts
  packages/expo/src/__tests__/Facebook-test.ts
Labels: in progress, project: web

#2798 [Web] SecureStore
  packages/expo/src/Expo.ts
  packages/expo/src/SecureStore/ExponentSecureStore.ts
  packages/expo/src/SecureStore/ExponentSecureStore.web.ts
  packages/expo/src/SecureStore/SecureStore.ts
  packages/expo/src/__tests__/SecureStore-test.ts
  packages/expo/src/__tests__/__snapshots__/SecureStore-test.ts.snap
Labels: in progress, project: web

#2914 [Web] Video shim
  packages/expo/src/av/Video.web.tsx
Labels: in progress, project: web

#2916 [expo-core] Support subclassing ExportedModule without overridding all ExpoMethods
  packages/expo-core/android/src/main/java/expo/core/ExportedModule.java
Labels: in progress

#2908 [ci] Specify nix version on linux
  .circleci/config.yml
  nix/all-packages.nix
Labels: in progress

#2901 [Web] Logs
  packages/expo/src/logs/LogSerialization.ts
  packages/expo/src/logs/symbolicateStackTrace.ts
  packages/expo/src/logs/symbolicateStackTrace.web.ts
Labels: in progress, project: web

#2797 [Web] Speech
  packages/expo/src/Expo.ts
  packages/expo/src/Speech/ExponentSpeech.ts
  packages/expo/src/Speech/ExponentSpeech.web.ts
  packages/expo/src/Speech/Speech.ts
  packages/expo/src/Speech/Speech.types.ts
Labels: in progress, project: web

#2928 [NCL] refactored navigation
  apps/native-component-list/components/TabIcon.js
  apps/native-component-list/constants/Colors.js
  apps/native-component-list/navigation/ExpoApisStackNavigator.js
  apps/native-component-list/navigation/ExpoComponentsStackNavigator.js
  apps/native-component-list/navigation/MainTabNavigator.js
  apps/native-component-list/navigation/ReactNativeCoreStackNavigator.js
  apps/native-component-list/navigation/RootNavigation.js
  apps/native-component-list/navigation/StackConfig.js
Labels: in progress

#2912 [Web] Added a shim for RNGH
  packages/expo/src/DangerZone.ts
  packages/expo/src/Expo.ts
  packages/expo/src/GestureHandler.ts
  packages/expo/src/GestureHandler.web.ts
Labels: in progress, project: web

#2923 [android] Call status update listener with didJustFinish=true when transitioning between periods
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/av/player/SimpleExoPlayerData.java
Labels: in progress

#2907 [Android] Fix GLView initialization with 0 size texture
  CHANGELOG.md
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLContext.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLObjectManagerModule.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLView.java
Labels: in progress

#2922 [expo{,-{asset,gl}}] Add missing dependencies
  packages/expo-asset/package.json
  packages/expo-gl/package.json
  packages/expo/src/Notifications/Notifications.ts
  packages/expo/src/__tests__/Notifications-test.ts
  yarn.lock
Labels: in progress

#2931 [Web] Added Branch shim
  packages/expo/src/Branch.web.ts
Labels: in progress, project: web

#2930 [NCL] Added a web version of RNCore
  apps/native-component-list/screens/ReactNativeCoreScreen.web.js
Labels: in progress, project: web

#2934 [android] Strip obsolete code
  android/expoview/src/main/java/host/exp/exponent/LauncherActivity.java
  android/expoview/src/main/java/host/exp/exponent/RNObject.java
  android/expoview/src/main/java/host/exp/exponent/branch/BranchManager.java
  android/expoview/src/main/java/host/exp/exponent/experience/BaseExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.java
  android/expoview/src/main/java/host/exp/exponent/utils/ExperienceActivityUtils.java
  android/expoview/src/main/java/host/exp/expoview/Exponent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ImagePickerModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/SpeechModule.java
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.java
Labels: in progress

#2626 Moved Camerja to NCL
  apps/native-component-list/assets/icons/api/Camera.png
  apps/native-component-list/constants/Icons.js
  apps/native-component-list/navigation/ExpoComponentsStackNavigator.js
  apps/native-component-list/package.json
  apps/native-component-list/screens/Camera/CameraScreen.js
  apps/native-component-list/screens/Camera/GalleryScreen.js
  apps/native-component-list/screens/Camera/Photo.js
  apps/native-component-list/screens/ExpoComponentsScreen.js
  apps/native-component-list/screens/GL/GLScreens.js
  yarn.lock
Labels: in progress

#2939 [iOS] Fix sending multiple SMSes one after another
  CHANGELOG.md
  packages/expo-sms/ios/EXSMS/EXSMSModule.m
Labels: in review

#2937 [expo-react-native-adapter] Forward refs to underlying native components
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.js.map
  packages/expo-react-native-adapter/src/NativeViewManagerAdapter.tsx
  packages/expo-react-native-adapter/src/__tests__/NativeViewManagerAdapter-test.tsx
Labels: in progress

#2842 Update the "There was a problem loading..." dialog
  ios/Exponent/Kernel/AppLoader/EXAppLoader.m
Labels: in progress

#2968 [Web] Ads AdMob
  packages/expo-ads-admob/build/AdMobBanner.web.d.ts
  packages/expo-ads-admob/build/AdMobBanner.web.js
  packages/expo-ads-admob/build/AdMobBanner.web.js.map
  packages/expo-ads-admob/build/AdMobInterstitial.web.d.ts
  packages/expo-ads-admob/build/AdMobInterstitial.web.js
  packages/expo-ads-admob/build/AdMobInterstitial.web.js.map
  packages/expo-ads-admob/build/AdMobRewarded.web.d.ts
  packages/expo-ads-admob/build/AdMobRewarded.web.js
  packages/expo-ads-admob/build/AdMobRewarded.web.js.map
  packages/expo-ads-admob/build/PublisherBanner.web.d.ts
  packages/expo-ads-admob/build/PublisherBanner.web.js
  packages/expo-ads-admob/build/PublisherBanner.web.js.map
  packages/expo-ads-admob/src/AdMobBanner.web.tsx
  packages/expo-ads-admob/src/AdMobInterstitial.web.tsx
  packages/expo-ads-admob/src/AdMobRewarded.web.tsx
  packages/expo-ads-admob/src/PublisherBanner.web.tsx
Labels: in progress, project: web

#2951 [ios] Fix build/download progress indicator in ExpoKit on iOS
  ios/Exponent/Kernel/Views/Loading/EXAppLoadingView.m
Labels: in progress, project: ios-runtime

#2917 [android] Support safe fastpath for bundledAssets in Expo Client
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ScopedFileSystemModule.java
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
Labels: in progress, project: android-runtime

#2975 [android] Reenable AAPT2
  android/gradle.properties
Labels: in progress, project: android-runtime

#2820 [expo-camera] Convert to TypeScript
  .circleci/config.yml
  CHANGELOG.md
  packages/expo-camera/babel.config.js
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.js
  packages/expo-camera/build/index.js.map
  packages/expo-camera/index.js
  packages/expo-camera/package.json
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/index.ts
  packages/expo-camera/tsconfig.json
  yarn.lock
Labels: in progress

#2557 [android] Support notifications' categories and actions 
  android/expoview/src/main/java/host/exp/exponent/fcm/ExpoFcmMessagingService.java
  android/expoview/src/main/java/host/exp/exponent/gcm/ExponentGcmListenerService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.java
  android/expoview/src/main/java/host/exp/exponent/kernel/KernelConstants.java
  android/expoview/src/main/java/host/exp/exponent/notifications/ExponentNotification.java
  android/expoview/src/main/java/host/exp/exponent/notifications/NotificationConstants.java
  android/expoview/src/main/java/host/exp/exponent/notifications/NotificationHelper.java
  android/expoview/src/main/java/host/exp/exponent/notifications/PushNotificationHelper.java
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/notifications/ActionDatabase.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/notifications/ActionObject.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/notifications/IntentProvider.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/notifications/NotificationActionCenter.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/notifications/NotificationsModule.java
  apps/native-component-list/api/registerForPushNotificationsAsync.js
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/NotificationScreen.js
  packages/expo/src/Notifications/Notifications.ts
  yarn.lock
Labels: in progress

#2982 [android] remove READ_SMS permission
  android/expoview/src/main/AndroidManifest.xml
  android/expoview/src/main/java/host/exp/exponent/utils/PermissionsHelper.java
  android/expoview/src/main/res/values/strings.xml
  android/versioned-abis/expoview-abi25_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi26_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi27_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi28_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi29_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi30_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi31_0_0/src/main/AndroidManifest.xml
  apps/native-component-list/screens/PermissionsScreen.js
  apps/native-component-list/screens/SMSScreen.js
  apps/test-suite/tests/Permissions.js
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/AndroidManifest.xml
  packages/expo-permissions/README.md
  packages/expo-permissions/android/src/main/java/expo/modules/permissions/PermissionsModule.java
  packages/expo-permissions/ios/EXPermissions/EXPermissions.m
  packages/expo-permissions/src/Permissions.js
  packages/expo-permissions/src/Permissions.types.js
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSModule.java
  packages/expo-sms/build/ExpoSMS.d.ts
  packages/expo-sms/build/SMS.d.ts
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/src/SMS.ts
  template-files/android/AndroidManifest.xml
Labels: in progress, project: android-runtime

#2985 [ncl] Do not apply babel-plugin-react-native-web when running in RN
  apps/native-component-list/babel.config.js
Labels: in progress

#2977 [ios][android] update GestureHandler, Reanimated and Screens
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/PanGestureHandler.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerButtonViewManager.java
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/GestureHandler/Handlers/RNForceTouchHandler.h
  ios/Exponent/Versioned/Core/Api/Components/GestureHandler/Handlers/RNForceTouchHandler.m
  ios/Exponent/Versioned/Core/Api/Components/GestureHandler/Handlers/RNPanHandler.m
  ios/Exponent/Versioned/Core/Api/Components/GestureHandler/RNGestureHandlerEvents.h
  ios/Exponent/Versioned/Core/Api/Components/GestureHandler/RNGestureHandlerEvents.m
  ios/Exponent/Versioned/Core/Api/Components/GestureHandler/RNGestureHandlerManager.m
  ios/Exponent/Versioned/Core/Api/Reanimated/REANodesManager.m
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreenContainer.m
  packages/expo/package.json
  yarn.lock
Labels: in progress

#2987 [jest-expo] update mocks and mock NativeModules.PlatformConstants for RNGH
  packages/jest-expo/src/expoModules.js
  packages/jest-expo/src/setup.js
Labels: in progress

#2983 [SDK] Fixed DangerZone/Localization
  packages/expo/src/Localization.ts
Labels: in progress

#2991 expo-firebase-storage: 1.0.0-rc.6
  packages/expo-firebase-storage/package.json
  packages/expo-firebase-storage/src/index.js
  packages/expo-firebase-storage/src/index.types.js
  packages/expo-firebase-storage/src/reference.js
  packages/expo-firebase-storage/src/statics.js
  packages/expo-firebase-storage/src/task.js
Labels: in progress, project: firebase

#3006 [changelog] Update changelog up to 03ee971 + #3004
  CHANGELOG.md
Labels: in progress

#2992 expo-firebase-auth: 1.0.0-rc.6
  packages/expo-firebase-auth/ios/EXFirebaseAuth/EXFirebaseAuth.m
  packages/expo-firebase-auth/package.json
Labels: in progress, project: firebase

#2984 [Web][Tests] Contacts
  apps/test-suite/tests/Contacts.web.js
Labels: in progress, project: web

#3021 [Web] Added shim for running in a web target
  packages/expo-task-manager/build/ExpoTaskManager.d.ts
  packages/expo-task-manager/build/ExpoTaskManager.js
  packages/expo-task-manager/build/ExpoTaskManager.js.map
  packages/expo-task-manager/build/ExpoTaskManager.web.d.ts
  packages/expo-task-manager/build/ExpoTaskManager.web.js
  packages/expo-task-manager/build/ExpoTaskManager.web.js.map
  packages/expo-task-manager/build/TaskManager.js
  packages/expo-task-manager/build/TaskManager.js.map
  packages/expo-task-manager/package.json
  packages/expo-task-manager/src/ExpoTaskManager.ts
  packages/expo-task-manager/src/ExpoTaskManager.web.ts
  packages/expo-task-manager/src/TaskManager.ts
Labels: in progress, project: web

#3019 Updated react-native-svg
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/GroupView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RenderableView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RenderableViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/TSpanView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/UseView.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/components/svg/GroupView.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/components/svg/RenderableView.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/components/svg/RenderableViewManager.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/components/svg/SvgView.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/components/svg/TSpanView.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/components/svg/UseView.java
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGGroup.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGRenderable.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGText.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGNodeManager.m
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/ABI32_0_0RNSVGNode.h
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/ABI32_0_0RNSVGNode.m
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/ABI32_0_0RNSVGRenderable.m
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/Elements/ABI32_0_0RNSVGGroup.m
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/Elements/ABI32_0_0RNSVGSvgView.m
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/Text/ABI32_0_0RNSVGText.m
  ios/versioned-react-native/ABI32_0_0/Expo/Core/Api/Components/Svg/ViewManagers/ABI32_0_0RNSVGNodeManager.m
  packages/expo/package.json
  yarn.lock
Labels: in progress

#3017 [android][ncl] QA fixes for Contacts module
  CHANGELOG.md
  android/versioned-abis/expoview-abi32_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/expo/modules/contacts/ContactsModule.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/expo/modules/permissions/PermissionsModule.java
  apps/native-component-list/screens/Contacts/ContactsScreen.js
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.java
  packages/expo-permissions/android/src/main/java/expo/modules/permissions/PermissionsModule.java
Labels: in progress

#3062 [android] QA
  android/app/build.gradle
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
  android/expoview/src/main/java/host/exp/exponent/headless/HeadlessAppLoader.java
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  tools/publish-packages.js
Labels: in progress

#3073 [Web] Localization: Fixed a web parity issue
  packages/expo-localization/src/ExpoLocalization.web.js
Labels: project: web

#3074 [Web] Added Ads
  packages/expo-ads-admob/build/AdMobBanner.d.ts
  packages/expo-ads-admob/build/AdMobBanner.js
  packages/expo-ads-admob/build/AdMobBanner.js.map
  packages/expo-ads-admob/build/AdMobInterstitial.d.ts
  packages/expo-ads-admob/build/AdMobInterstitial.js
  packages/expo-ads-admob/build/AdMobInterstitial.js.map
  packages/expo-ads-admob/build/AdMobRewarded.d.ts
  packages/expo-ads-admob/build/AdMobRewarded.js
  packages/expo-ads-admob/build/AdMobRewarded.js.map
  packages/expo-ads-admob/build/ExpoAdsAdMobInterstitialManager.d.ts
  packages/expo-ads-admob/build/ExpoAdsAdMobInterstitialManager.js
  packages/expo-ads-admob/build/ExpoAdsAdMobInterstitialManager.js.map
  packages/expo-ads-admob/build/ExpoAdsAdMobInterstitialManager.web.d.ts
  packages/expo-ads-admob/build/ExpoAdsAdMobInterstitialManager.web.js
  packages/expo-ads-admob/build/ExpoAdsAdMobInterstitialManager.web.js.map
  packages/expo-ads-admob/build/ExpoAdsAdMobRewardedVideoAdManager.d.ts
  packages/expo-ads-admob/build/ExpoAdsAdMobRewardedVideoAdManager.js
  packages/expo-ads-admob/build/ExpoAdsAdMobRewardedVideoAdManager.js.map
  packages/expo-ads-admob/build/ExpoAdsAdMobRewardedVideoAdManager.web.d.ts
  packages/expo-ads-admob/build/ExpoAdsAdMobRewardedVideoAdManager.web.js
  packages/expo-ads-admob/build/ExpoAdsAdMobRewardedVideoAdManager.web.js.map
  packages/expo-ads-admob/build/PublisherBanner.d.ts
  packages/expo-ads-admob/build/PublisherBanner.js
  packages/expo-ads-admob/build/PublisherBanner.js.map
  packages/expo-ads-admob/src/AdMobBanner.tsx
  packages/expo-ads-admob/src/AdMobInterstitial.ts
  packages/expo-ads-admob/src/AdMobRewarded.ts
  packages/expo-ads-admob/src/ExpoAdsAdMobInterstitialManager.ts
  packages/expo-ads-admob/src/ExpoAdsAdMobInterstitialManager.web.ts
  packages/expo-ads-admob/src/ExpoAdsAdMobRewardedVideoAdManager.ts
  packages/expo-ads-admob/src/ExpoAdsAdMobRewardedVideoAdManager.web.ts
  packages/expo-ads-admob/src/PublisherBanner.tsx
Labels: project: web
