Repository expo/expo, pull requests merged in 2018-10, with the labels that each got.

#2341 [docs] Add missing docs to expo-camera 'videoStabilizationMode'
  modules/expo-camera/README.md
Labels: in progress

#2342 @bbarthec/brightness permission
  apps/native-component-list/screens/PermissionsScreen.js
  modules/expo-permissions/Permissions.js
  modules/expo-permissions/README.md
  modules/expo-permissions/android/src/main/java/expo/modules/permissions/PermissionsModule.java
  modules/expo-permissions/ios/EXPermissions/EXPermissions.m
Labels: in progress

#2335 [guides] Add JS style guide and Git & code review guide
  .github/CONTRIBUTING.md
  guides/Expo JavaScript Style Guide.md
  guides/Git and Code Reviews.md
  guides/README.md
Labels: in progress

#2350 Fix SDK31 candidate branch
  android/ReactAndroid/build.gradle
  android/ReactAndroid/src/main/java/com/facebook/react/common/DebugServerException.java
  android/ReactAndroid/src/main/java/com/facebook/react/devsupport/BundleDeltaClient.java
  android/ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  android/ReactAndroid/src/main/jni/Application.mk
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentDevBundleDownloadListener.java
  modules/expo-gl-cpp/android/build.gradle
Labels: in progress

#2353 [ci] Use Xcode 10.0.0 image
  .circleci/config.yml
Labels: in progress

#2292 Specify version of yarn installed in CI
  .circleci/config.yml
Labels: in progress

#2314 [yarn] Add a script to check the current version of Yarn
  .envrc
  package.json
  tools/bin/check-yarn
Labels: in progress

#2357 [ci] yarn 1.9.4 -> 1.10.1
  .circleci/config.yml
Labels: in progress

#2356 [changelog] Add a changelog + instructions
  .github/CONTRIBUTING.md
  CHANGELOG.md
Labels: in progress

#2362 [tools-public] don't source /etc/profile if EXPO_SKIP_SOURCING is set
  tools-public/generate-dynamic-macros-android.sh
Labels: in progress

#2318 [ios] Allow apps without versioned code run if versions match
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  ios/Exponent/Kernel/Environment/EXVersions.m
Labels: in progress

#2295 @szymon/expo payments stripe fix
  modules/test_suite_flutter/android/.idea/codeStyles/Project.xml
  packages/expo-payments-stripe/examples/with-expokit/android/app/build.gradle
  packages/expo-payments-stripe/examples/with-expokit/android/app/expo.gradle
  packages/expo-payments-stripe/examples/with-expokit/android/app/google-services.json
  packages/expo-payments-stripe/examples/with-expokit/android/app/proguard-rules.pro
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/AndroidManifest.xml
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/assets/kernel-manifest.json
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/assets/kernel.android.bundle
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/java/host/exp/exponent/MainActivity.java
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/java/host/exp/exponent/generated/AppConstants.java
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/java/host/exp/exponent/generated/DetachBuildConstants.java
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/expo-payments-stripe/examples/with-expokit/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/expo-payments-stripe/examples/with-expokit/android/build.gradle
  packages/expo-payments-stripe/examples/with-expokit/android/settings.gradle
  packages/expo-payments-stripe/examples/with-expokit/app.json
  packages/expo-payments-stripe/examples/with-expokit/ios/Podfile
  packages/expo-payments-stripe/examples/with-expokit/ios/Podfile.lock
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit.xcodeproj/project.pbxproj
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit.xcodeproj/xcshareddata/xcschemes/with-expokit.xcscheme
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/AppDelegate.m
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/EXBuildConstants.json
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/EXBuildConstants.plist
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/EXBuildConstants.plist.bak
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/EXSDKVersions.plist
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/Info.plist
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/sdkVersions.json
  packages/expo-payments-stripe/examples/with-expokit/package.json
  packages/expo-payments-stripe/examples/with-expokit/src/BySourceScreen.js
  packages/expo-payments-stripe/examples/with-expokit/yarn.lock
Labels: in progress

#2308 Fix face detector settings not being applied on first run
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetector.java
Labels: in progress, project: sdk

#2404 [expo-file-system] Pass NSNull.null as resumeData instead of prohibited nil
  ios/versioned-react-native/ABI24_0_0/Expo/Core/Api/FileSystem/ABI24_0_0EXFileSystem.m
  ios/versioned-react-native/ABI25_0_0/Expo/Core/Api/FileSystem/ABI25_0_0EXFileSystem.m
  ios/versioned-react-native/ABI26_0_0/Expo/Core/Api/FileSystem/ABI26_0_0EXFileSystem.m
  ios/versioned-react-native/ABI27_0_0/Expo/Core/Api/FileSystem/ABI27_0_0EXFileSystem.m
  ios/versioned-react-native/ABI28_0_0/Expo/Core/Api/FileSystem/ABI28_0_0EXFileSystem.m
  ios/versioned-react-native/ABI29_0_0/EXFileSystem/ABI29_0_0EXFileSystem/ABI29_0_0EXFileSystem.m
  ios/versioned-react-native/ABI30_0_0/EXFileSystem/ABI30_0_0EXFileSystem/ABI30_0_0EXFileSystem.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: in review, project: sdk

#2418 Fix DangerZone.js helper
  packages/expo/DangerZone.js
Labels: in review, project: sdk

#2416 [android] Make Expo Android use a custom SoLoader that implements 0.1.0 and 0.5.1
  expokit-npm-package/maven/com/facebook/soloader/soloader/0.5.1/soloader-0.5.1.aar
  expokit-npm-package/maven/com/facebook/soloader/soloader/0.5.1/soloader-0.5.1.aar.md5
  expokit-npm-package/maven/com/facebook/soloader/soloader/0.5.1/soloader-0.5.1.aar.sha1
  expokit-npm-package/maven/com/facebook/soloader/soloader/0.5.1/soloader-0.5.1.pom
  expokit-npm-package/maven/com/facebook/soloader/soloader/0.5.1/soloader-0.5.1.pom.md5
  expokit-npm-package/maven/com/facebook/soloader/soloader/0.5.1/soloader-0.5.1.pom.sha1
  expokit-npm-package/maven/com/facebook/soloader/soloader/maven-metadata.xml
  expokit-npm-package/maven/com/facebook/soloader/soloader/maven-metadata.xml.md5
  expokit-npm-package/maven/com/facebook/soloader/soloader/maven-metadata.xml.sha1
Labels: in progress

#2417 [expo-react-native-adapter] Fix modules being initialized twice
  android/expoview/src/main/java/host/exp/exponent/experience/DetachedModuleRegistryAdapter.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  packages/expo-react-native-adapter/android/src/main/java/expo/adapters/react/ModuleRegistryAdapter.java
  packages/expo-react-native-adapter/android/src/main/java/expo/adapters/react/ReactModuleRegistryProvider.java
Labels: in review, project: sdk

#2412 [expo-segment] Add Segment.optOut feature
  apps/test-suite/tests/Segment.js
  ios/Podfile.lock
  ios/Pods/Local Podspecs/EXSegment.podspec.json
  ios/Pods/Manifest.lock
  ios/Pods/Target Support Files/EXSegment/EXSegment.xcconfig
  packages/expo-analytics-segment/android/build.gradle
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentModule.java
  packages/expo-analytics-segment/ios/EXSegment.podspec
  packages/expo-analytics-segment/ios/EXSegment/EXSegment.h
  packages/expo-analytics-segment/ios/EXSegment/EXSegment.m
  packages/expo-analytics-segment/package.json
  packages/expo-analytics-segment/src/Segment.js
  packages/jest-expo/src/expoModules.js
Labels: in review, project: sdk

#2390 Update react-native-svg
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/Brush.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/ClipPathShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/DefinitionShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/DefsShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/GroupShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/ImageShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/PropHelper.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RenderableShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgViewModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgViewShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/TSpanShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/TextShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/UseShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/VirtualNode.java
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGClipPath.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGDefs.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGGroup.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGGroup.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGImage.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGImage.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGLinearGradient.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGRadialGradient.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSymbol.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGUse.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGRenderable.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGGlyphContext.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTSpan.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGText.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGText.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTextPath.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGBezierElement.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGImageManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGNodeManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGSvgViewManager.m
  ios/versioned-react-native/ABI30_0_0/Expo/Core/Api/Components/Svg/Text/ABI30_0_0RNSVGGlyphContext.m
  ios/versioned-react-native/ABI30_0_0/Expo/Core/Api/Components/Svg/Text/ABI30_0_0RNSVGTSpan.m
  ios/versioned-react-native/ABI30_0_0/Expo/Core/Api/Components/Svg/Text/ABI30_0_0RNSVGTextPath.m
  ios/versioned-react-native/ABI30_0_0/Expo/Core/Api/Components/Svg/Utils/ABI30_0_0RNSVGBezierElement.m
  packages/expo/package.json
  yarn.lock
Labels: in review, project: android-runtime, project: ios-runtime, project: sdk

#2427 [ios] Prefer xcbuild action to sh("xcodebuild ...")
  fastlane/Fastfile
Labels: in progress

#2369 [Android] Fix casting of Location.getCurrentPositionAsync#timeout param
  packages/expo-location/README.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
  packages/expo-location/src/Location.js
Labels: in progress

#2431 Support headers property in AV source
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/av/player/CustomHeadersOkHttpDataSourceFactory.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/av/player/MediaPlayerData.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/av/player/PlayerData.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/av/player/SharedCookiesDataSourceFactory.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/av/player/SimpleExoPlayerData.java
  apps/test-suite/tests/Audio.js
  ios/Exponent/Versioned/Core/Api/AV/EXAVPlayerData.m
  packages/expo/src/Expo.ts
  packages/expo/src/av/AV.ts
Labels: in progress, project: media, project: sdk

#2438 [ios] Fix check for Home in production
  ios/Exponent/Versioned/Core/EXVersionManager.m
  ios/versioned-react-native/ABI30_0_0/Expo/Core/ABI30_0_0EXVersionManager.m
Labels: in progress

#2442 [android] patch SDK 25 ReactAndroid aars to work with new soloader
  android/expoview/libs/ReactAndroid-release-abi25_0_0.aar
  expokit-npm-package/maven/host/exp/reactandroid-abi25_0_0/1.0.0/_remote.repositories
  expokit-npm-package/maven/host/exp/reactandroid-abi25_0_0/1.0.0/reactandroid-abi25_0_0-1.0.0.aar
  expokit-npm-package/maven/host/exp/reactandroid-abi25_0_0/maven-metadata-local.xml
Labels: in progress

#2452 [Android] Handle flickering lifecycle logic during SMS activity
  apps/native-component-list/package.json
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSModule.java
  yarn.lock
Labels: in review

#2081 Fix an issue when barcode scanner doesn't work on Pixel 2
  android/cameraview/cameraview/src/main/api21/com/google/android/cameraview/Camera2.java
Labels: project: sdk

#2367 [Android] drop support for Android 4.4
  android/app/build.gradle
  android/cameraview/build.gradle
  android/expoview/build.gradle
  packages/expo-ads-admob/android/build.gradle
  packages/expo-analytics-segment/android/build.gradle
  packages/expo-barcode-scanner-interface/android/build.gradle
  packages/expo-barcode-scanner/android/build.gradle
  packages/expo-camera-interface/android/build.gradle
  packages/expo-camera/android/build.gradle
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewHelper.java
  packages/expo-constants-interface/android/build.gradle
  packages/expo-constants/android/build.gradle
  packages/expo-contacts/android/build.gradle
  packages/expo-core/android/build.gradle
  packages/expo-face-detector-interface/android/build.gradle
  packages/expo-face-detector/android/build.gradle
  packages/expo-file-system-interface/android/build.gradle
  packages/expo-file-system/android/build.gradle
  packages/expo-font-interface/android/build.gradle
  packages/expo-font/android/build.gradle
  packages/expo-gl-cpp/android/build.gradle
  packages/expo-gl/android/build.gradle
  packages/expo-image-loader-interface/android/build.gradle
  packages/expo-local-authentication/android/build.gradle
  packages/expo-localization/android/build.gradle
  packages/expo-location/android/build.gradle
  packages/expo-media-library/android/build.gradle
  packages/expo-module-template/android/build.gradle
  packages/expo-payments-stripe/android/build.gradle
  packages/expo-permissions-interface/android/build.gradle
  packages/expo-permissions/android/build.gradle
  packages/expo-print/android/build.gradle
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.java
  packages/expo-react-native-adapter/android/build.gradle
  packages/expo-sensors-interface/android/build.gradle
  packages/expo-sensors/android/build.gradle
  packages/expo-sms/android/build.gradle
Labels: in review

#2437 [android][test-suite] upgrade JSC to 224109 revision
  .circleci/config.yml
  android/app/build.gradle
  android/build.gradle
  android/expoview/build.gradle
  apps/test-suite/index.js
  apps/test-suite/tests/JSC.js
  expokit-npm-package/package.json
  home/package.json
  package.json
  yarn.lock
Labels: in progress

#2470 [build] Add "expo-module-scripts" package for common scripts
  .circleci/config.yml
  package.json
  packages/expo-module-scripts/README.md
  packages/expo-module-scripts/bin/expo-module-babel
  packages/expo-module-scripts/bin/expo-module-build
  packages/expo-module-scripts/bin/expo-module-clean
  packages/expo-module-scripts/bin/expo-module-jest
  packages/expo-module-scripts/bin/expo-module-lint
  packages/expo-module-scripts/bin/expo-module-prepare
  packages/expo-module-scripts/bin/expo-module-prepublishOnly
  packages/expo-module-scripts/bin/expo-module-test
  packages/expo-module-scripts/bin/expo-module-tsc
  packages/expo-module-scripts/bin/expo-module-typecheck
  packages/expo-module-scripts/bin/expo-module.js
  packages/expo-module-scripts/index.js
  packages/expo-module-scripts/package.json
  packages/expo/TYPESCRIPT.md
  packages/expo/package.json
  yarn.lock
Labels: in progress

#2462 Add check-dynamic-macros-android.sh script
  tools-public/check-dynamic-macros-android.sh
Labels: in progress

#2432 [iOS][Android] Fix EXIF orientation during ImageManipulator operation…
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ImageManipulatorModule.java
  ios/Exponent/Versioned/Core/Api/EXImageManipulator.m
  ios/Exponent/Versioned/Core/Api/EXImagePicker.m
Labels: in review

#2503 [android][ios][home] send the sessionSecret along with manifest requests in the expo client
  android/expoview/src/main/java/host/exp/exponent/exceptions/ManifestException.java
  android/expoview/src/main/java/host/exp/exponent/kernel/ExponentUrls.java
  android/expoview/src/main/java/host/exp/exponent/modules/ExponentKernelModule.java
  home/storage/LocalStorage.js
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  ios/Exponent/Kernel/AppLoader/EXFileDownloader.m
  ios/Exponent/Kernel/DevSupport/EXHomeModule.m
  ios/Exponent/Kernel/Environment/EXEnvironment.h
  ios/Exponent/Kernel/Views/EXAppViewController.m
Labels: in progress

#2505 [Android] Added `ActivityEventListener.onNewIntent` to `expo-react-native-adapter`
  packages/expo-core/android/src/main/java/expo/core/interfaces/ActivityEventListener.java
  packages/expo-payments-stripe/android/src/main/java/expo/modules/payments/stripe/StripeModule.java
  packages/expo-react-native-adapter/android/src/main/java/expo/adapters/react/services/UIManagerModuleWrapper.java
Labels: in progress

#2410 [ios] add new Apple devices to constants
  apps/native-component-list/screens/ConstantsScreen.js
  packages/expo-constants/ios/EXConstants/EXConstantsService.m
Labels: in progress, project: ios-runtime

#2509 [android] pass null to FragmentActivity.onCreate to fix problems with rn-screens
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
Labels: in progress, project: android-runtime

#2507 [iOS] Added a method for accessing `launchOptions` from a Unimodule.
  ios/Exponent/Kernel/Services/EXUtilService.h
  ios/Exponent/Kernel/Services/EXUtilService.m
  ios/Exponent/Versioned/Core/Api/EXUtil.h
  ios/Exponent/Versioned/Core/Api/EXUtil.m
  packages/expo-core/ios/EXCore/EXUtilities.h
  packages/expo-core/ios/EXCore/EXUtilities.m
  packages/expo-core/ios/EXCore/Protocols/EXUtilitiesInterface.h
Labels: in progress

#2516 Fix expo-payments-stripe in production
  packages/expo-payments-stripe/examples/with-expokit/.gitignore
  packages/expo-payments-stripe/examples/with-expokit/android/.gitignore
  packages/expo-payments-stripe/examples/with-expokit/android/app/proguard-rules.pro
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/shell-app-manifest.json
  packages/expo-payments-stripe/examples/with-expokit/ios/with-expokit/Supporting/shell-app.bundle
Labels: in progress

#2517 [android] Coalesce objects to maps in SegmentModule
  CHANGELOG.md
  apps/test-suite/tests/Segment.js
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentModule.java
Labels: in progress

#2518 [wip] Upgrade react-native-view-shot to 2.5.0
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/RNViewShotModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/ViewShot.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/RNViewShotModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/ViewShot.java
  apps/native-component-list/navigation/MainTabNavigator.js
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/ViewShotScreen.js
  ios/Exponent/Versioned/Core/Api/EXViewShot.m
  packages/expo/package.json
  packages/expo/src/takeSnapshotAsync.ts
  yarn.lock
Labels: in progress

#2495 Update CHANGELOG with changes up to 4d382b9
  CHANGELOG.md
Labels: in progress

#2522 [expo] Add back lazy imports for the umbrella Expo.js module
  packages/expo/babel.config.build.js
  packages/expo/babel.config.js
  packages/expo/package.json
  yarn.lock
Labels: in progress

#2524 [test] Upgrade ts-jest in the expo package
  packages/expo/package.json
  yarn.lock
Labels: in progress

#2537 Upgrade jest-expo
  apps/jest-expo-mock-generator/App.js
  packages/jest-expo/package.json
  packages/jest-expo/src/expoModules.js
  packages/jest-expo/src/setup.js
Labels: in progress
