Repository expo/expo, pull requests merged in 2019-03, with the labels that each got.

#3618 [web] Added shim for requireNativeViewManager
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.web.d.ts
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.web.js
  packages/expo-react-native-adapter/build/NativeViewManagerAdapter.web.js.map
  packages/expo-react-native-adapter/src/NativeViewManagerAdapter.web.tsx
Labels: project: web

#3620 Removed Pedometer require in favor of es import
  packages/expo/src/Expo.ts
  packages/expo/src/Pedometer.android.ts
  packages/expo/src/Pedometer.ts
Labels: Pedometer, project: web

#3421 [Firebase] Created expo-firebase
  packages/expo-firebase/.npmignore
  packages/expo-firebase/LICENSE.md
  packages/expo-firebase/README.md
  packages/expo-firebase/babel.config.js
  packages/expo-firebase/package.json
  packages/expo-firebase/src/analytics/FirebaseAnalytics.ts
  packages/expo-firebase/src/app/FirebaseApp.ts
  packages/expo-firebase/src/auth/FirebaseAuth.ts
  packages/expo-firebase/src/config/FirebaseConfig.ts
  packages/expo-firebase/src/crashlytics/FirebaseCrashlytics.ts
  packages/expo-firebase/src/database/FirebaseDatabase.ts
  packages/expo-firebase/src/firebase/Firebase.ts
  packages/expo-firebase/src/firestore/FirebaseFirestore.ts
  packages/expo-firebase/src/functions/FirebaseFunctions.ts
  packages/expo-firebase/src/iid/FirebaseIID.ts
  packages/expo-firebase/src/invites/FirebaseInvites.ts
  packages/expo-firebase/src/links/FirebaseLinks.ts
  packages/expo-firebase/src/messaging/FirebaseMessaging.ts
  packages/expo-firebase/src/notifications/FirebaseNotifications.ts
  packages/expo-firebase/src/performance/FirebasePerformance.ts
  packages/expo-firebase/src/storage/FirebaseStorage.ts
Labels: in progress, project: firebase

#3624 [web] expo-image-manipulator
  apps/native-component-list/screens/ImageManipulatorScreen.js
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.d.ts
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js.map
  packages/expo-image-manipulator/build/ImageManipulator.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.js
  packages/expo-image-manipulator/build/ImageManipulator.js.map
  packages/expo-image-manipulator/build/ImageManipulator.types.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.types.js
  packages/expo-image-manipulator/build/ImageManipulator.types.js.map
  packages/expo-image-manipulator/src/ExpoImageManipulator.web.ts
  packages/expo-image-manipulator/src/ImageManipulator.ts
  packages/expo-image-manipulator/src/ImageManipulator.types.ts
Labels: ImageManipulator, project: web

#3650 Move expo-template-bare-minimum
  templates/.babelrc
  templates/.buckconfig
  templates/.gitattributes
  templates/.watchmanconfig
  templates/App.js
  templates/__tests__/App.js
  templates/android/app/BUCK
  templates/android/app/build.gradle
  templates/android/app/build_defs.bzl
  templates/android/app/proguard-rules.pro
  templates/android/app/src/main/AndroidManifest.xml
  templates/android/app/src/main/java/com/helloworld/MainActivity.java
  templates/android/app/src/main/java/com/helloworld/MainApplication.java
  templates/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  templates/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  templates/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  templates/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  templates/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  templates/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  templates/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  templates/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  templates/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  templates/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  templates/android/app/src/main/res/values/strings.xml
  templates/android/app/src/main/res/values/styles.xml
  templates/android/build.gradle
  templates/android/gradle.properties
  templates/android/gradle/wrapper/gradle-wrapper.jar
  templates/android/gradle/wrapper/gradle-wrapper.properties
  templates/android/gradlew
  templates/android/gradlew.bat
  templates/android/keystores/BUCK
  templates/android/keystores/debug.keystore.properties
  templates/android/settings.gradle
  templates/app.json
  templates/gitignore
  templates/index.js
  templates/ios/HelloWorld.xcodeproj/project.pbxproj
  templates/ios/HelloWorld.xcodeproj/xcshareddata/xcschemes/HelloWorld.xcscheme
  templates/ios/HelloWorld/AppDelegate.h
  templates/ios/HelloWorld/AppDelegate.m
  templates/ios/HelloWorld/Base.lproj/LaunchScreen.xib
  templates/ios/HelloWorld/Images.xcassets/AppIcon.appiconset/Contents.json
  templates/ios/HelloWorld/Images.xcassets/Contents.json
  templates/ios/HelloWorld/Info.plist
  templates/ios/HelloWorld/main.m
  templates/ios/HelloWorldTests/HelloWorldTests.m
  templates/ios/HelloWorldTests/Info.plist
  templates/ios/Podfile
  templates/package.json
Labels: in progress

#3656 @mczernek/expo sms/handle empty addresses array
  CHANGELOG.md
  apps/native-component-list/screens/SMSScreen.js
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSModule.java
Labels: in progress

#3671 [web] Linear Gradient web color bug fix
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
Labels: LinearGradient, in progress, project: web

#3658 [Docs] Fix dead link
  docs/pages/versions/unversioned/sdk/payments.md
  docs/pages/versions/v30.0.0/sdk/payments.md
  docs/pages/versions/v31.0.0/sdk/payments.md
  docs/pages/versions/v32.0.0/sdk/payments.md
Labels: in progress

#3676 [web] Polyfill emitters
  packages/babel-preset-expo/index.js
  packages/expo-payments-stripe/src/utils/processTheme.js
  packages/expo-react-native-adapter/build/EventEmitter.d.ts
  packages/expo-react-native-adapter/build/EventEmitter.js
  packages/expo-react-native-adapter/build/EventEmitter.js.map
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.d.ts
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.js
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.js.map
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.d.ts
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.js
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.js.map
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.web.d.ts
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.web.js
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.web.js.map
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.d.ts
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.js
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.js.map
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.web.d.ts
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.web.js
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.web.js.map
  packages/expo-react-native-adapter/src/EventEmitter.ts
  packages/expo-react-native-adapter/src/SyntheticPlatformEmitter.ts
  packages/expo-react-native-adapter/src/vendor/NativeEventEmitter.ts
  packages/expo-react-native-adapter/src/vendor/NativeEventEmitter.web.ts
  packages/expo-react-native-adapter/src/vendor/RCTDeviceEventEmitter.ts
  packages/expo-react-native-adapter/src/vendor/RCTDeviceEventEmitter.web.ts
  packages/expo/package.json
  packages/expo/src/web/Network/RCTNetworking.ts
  packages/expo/src/web/Performance/Systrace.ts
  packages/expo/src/web/Utilities/HMRLoadingView.ts
  packages/expo/src/web/Utilities/Platform.ts
  yarn.lock
Labels: in progress, project: web

#3402 [TypeScript] Migrated expo-app-auth
  .circleci/config.yml
  apps/native-component-list/screens/AppAuthScreen.js
  packages/expo-app-auth/.npmignore
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/AppAuthBrowserActivity.java
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/AppAuthConstants.java
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/AppAuthModule.java
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/AuthTask.java
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/Serialization.java
  packages/expo-app-auth/babel.config.js
  packages/expo-app-auth/build/AppAuth.d.ts
  packages/expo-app-auth/build/AppAuth.js
  packages/expo-app-auth/build/AppAuth.js.map
  packages/expo-app-auth/build/AppAuth.types.d.ts
  packages/expo-app-auth/build/AppAuth.types.js
  packages/expo-app-auth/build/AppAuth.types.js.map
  packages/expo-app-auth/build/ExpoAppAuth.d.ts
  packages/expo-app-auth/build/ExpoAppAuth.js
  packages/expo-app-auth/build/ExpoAppAuth.js.map
  packages/expo-app-auth/build/ExpoAppAuth.web.d.ts
  packages/expo-app-auth/build/ExpoAppAuth.web.js
  packages/expo-app-auth/build/ExpoAppAuth.web.js.map
  packages/expo-app-auth/index.js
  packages/expo-app-auth/package.json
  packages/expo-app-auth/src/AppAuth.ts
  packages/expo-app-auth/src/AppAuth.types.ts
  packages/expo-app-auth/src/ExpoAppAuth.ts
  packages/expo-app-auth/src/ExpoAppAuth.web.ts
  packages/expo-app-auth/src/__tests__/AppAuth-test.ts
  packages/expo-app-auth/src/__tests__/__snapshots__/AppAuth-test.ts.snap
  packages/expo-app-auth/tsconfig.json
  packages/expo/src/Expo.ts
  packages/expo/src/Google/Google.ts
Labels: TypeScript, project: web

#3617 Reverted Google auth functionality for legacy use
  apps/native-component-list/screens/GoogleScreen.js
  docs/pages/versions/unversioned/sdk/google.md
  packages/expo/src/Google/Google.ts
Labels: AppAuth, Google

#3701 [web] Added lodash to expo-mail-composer
  packages/expo-mail-composer/package.json
  yarn.lock
Labels: MailComposer, in progress, project: web

#3669 Migrate NCL to use expo-cli for web
  apps/native-component-list/.gitignore
  apps/native-component-list/app.json
  apps/native-component-list/components/ShowActionSheetButton.js
  apps/native-component-list/components/TabIcon.js
  apps/native-component-list/constants/Colors.js
  apps/native-component-list/navigation/ExpoComponentsStackNavigator.web.js
  apps/native-component-list/navigation/MainTabNavigator.js
  apps/native-component-list/navigation/RootNavigation.web.js
  apps/native-component-list/navigation/StackConfig.js
  apps/native-component-list/navigation/createStackNavigator.web.js
  apps/native-component-list/navigation/createTabNavigator.android.js
  apps/native-component-list/navigation/createTabNavigator.js
  apps/native-component-list/package.json
  apps/native-component-list/screens/AV/Player.js
  apps/native-component-list/screens/AV/Slider.js
  apps/native-component-list/screens/AV/Slider.web.js
  apps/native-component-list/screens/AccelerometerScreen.js
  apps/native-component-list/screens/Camera/CameraScreen.js
  apps/native-component-list/screens/ComponentListScreen.js
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/ExpoComponentsScreen.js
  apps/native-component-list/screens/ReactNativeCoreScreen.web.js
  apps/native-component-list/screens/SVG/SVGScreen.js
  apps/native-component-list/screens/SensorScreen.js
  apps/native-component-list/screens/ViewShotScreen.js
  apps/native-component-list/web/apple-touch-icon.png
  apps/native-component-list/web/favicon.ico
  apps/native-component-list/web/icons-192.png
  apps/native-component-list/web/icons-512.png
  apps/native-component-list/web/index.html
  apps/native-component-list/web/manifest.json
  apps/native-component-list/web/serve.json
  apps/native-component-list/webpack/createClientEnvironment.js
  apps/native-component-list/webpack/createIndexHTMLFromAppJSON.js
  apps/native-component-list/webpack/webpack.common.js
  apps/native-component-list/webpack/webpack.dev.js
  apps/native-component-list/webpack/webpack.prod.js
  apps/native-component-list/webpack/webpackLocations.js
  package.json
Labels: in progress, project: web

#3704 [web] Fixed FileSystem tree shaking bug
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/src/FileSystem.ts
Labels: in progress, project: web

#3698 [Web] Swapped accelerometer and gyroscope
  packages/expo-sensors/build/ExponentAccelerometer.web.d.ts
  packages/expo-sensors/build/ExponentAccelerometer.web.js
  packages/expo-sensors/build/ExponentAccelerometer.web.js.map
  packages/expo-sensors/build/ExponentGyroscope.web.d.ts
  packages/expo-sensors/build/ExponentGyroscope.web.js
  packages/expo-sensors/build/ExponentGyroscope.web.js.map
  packages/expo-sensors/src/ExponentAccelerometer.web.ts
  packages/expo-sensors/src/ExponentGyroscope.web.ts
Labels: in progress, project: web

#3712 Cruzan notifications example
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/v31.0.0/sdk/notifications.md
  docs/pages/versions/v32.0.0/sdk/notifications.md
Labels: in progress

#3691 @mczernek/web browser improvements
  CHANGELOG.md
  apps/native-component-list/screens/DocumentPickerScreen.js
  apps/native-component-list/screens/WebBrowserScreen.js
  docs/pages/versions/unversioned/sdk/webbrowser.md
  packages/expo-web-browser/android/build.gradle
  packages/expo-web-browser/android/src/main/AndroidManifest.xml
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/CustomTabsActivitiesHelper.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/CustomTabsManagerActivity.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/WebBrowserModule.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/error/PackageManagerNotFoundException.java
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/ios/EXWebBrowser/EXWebBrowser.m
  packages/expo-web-browser/src/WebBrowser.ts
  yarn.lock
Labels: in progress

#3715 Updated react-native-web to `0.11.0`
  apps/native-component-list/package.json
  apps/test-suite/package.json
  packages/babel-preset-expo/index.js
  packages/expo-react-native-adapter/build/EventEmitter.d.ts
  packages/expo-react-native-adapter/build/EventEmitter.js
  packages/expo-react-native-adapter/build/EventEmitter.js.map
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.js
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.js.map
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.d.ts
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.js
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.js.map
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.web.d.ts
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.web.js
  packages/expo-react-native-adapter/build/vendor/NativeEventEmitter.web.js.map
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.d.ts
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.js
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.js.map
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.web.d.ts
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.web.js
  packages/expo-react-native-adapter/build/vendor/RCTDeviceEventEmitter.web.js.map
  packages/expo-react-native-adapter/src/EventEmitter.ts
  packages/expo-react-native-adapter/src/SyntheticPlatformEmitter.ts
  packages/expo-react-native-adapter/src/vendor/NativeEventEmitter.ts
  packages/expo-react-native-adapter/src/vendor/NativeEventEmitter.web.ts
  packages/expo-react-native-adapter/src/vendor/RCTDeviceEventEmitter.ts
  packages/expo-react-native-adapter/src/vendor/RCTDeviceEventEmitter.web.ts
  yarn.lock
Labels: in progress, project: web

#3716 fixed expo icon export
  packages/expo/src/Icon.ts
Labels: in progress, project: web

#3731 Added License to GoogleSignin community lib
  packages/expo-google-sign-in/LICENSE-react-native-google-signin.md
  packages/expo-google-sign-in/LICENSE.md
Labels: in progress

#3732 Added licenses to app-auth
  packages/expo-app-auth/LICENSE-react-native-app-auth.md
  packages/expo-app-auth/LICENSE.md
Labels: in progress

#3730 localization link sanitization + attribution
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.java
  packages/expo-localization/ios/EXLocalization/EXLocalization.m
  packages/expo-localization/src/ExpoLocalization.web.ts
  packages/expo-localization/src/Localization.ts
Labels: Localization, in progress

#3733 [web] update dependencies
  apps/native-component-list/package.json
  packages/babel-preset-expo/package.json
Labels: in progress, project: web

#3729 [web] Fixed gradient parity issues
  packages/expo-linear-gradient/build/NativeLinearGradient.web.d.ts
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
Labels: in progress, project: web

#3739 [@unimodules/react-native-adapter] Reject Promise instead of crashing
  packages/@unimodules/react-native-adapter/ios/UMReactNativeAdapter/UMNativeModulesProxy/UMNativeModulesProxy.m
Labels: in progress

#3755 Updated test suite to use @expo/webpack-config
  apps/test-suite/app.json
  apps/test-suite/package.json
  apps/test-suite/puppeteer-test/index.js
  apps/test-suite/web/apple-touch-icon.png
  apps/test-suite/web/favicon.ico
  apps/test-suite/web/icons-192.png
  apps/test-suite/web/icons-512.png
  apps/test-suite/web/index.html
  apps/test-suite/web/manifest.json
  apps/test-suite/web/serve.json
  apps/test-suite/webpack.ci.js
  apps/test-suite/webpack/createClientEnvironment.js
  apps/test-suite/webpack/createIndexHTMLFromAppJSON.js
  apps/test-suite/webpack/webpack.common.js
  apps/test-suite/webpack/webpack.dev.js
  apps/test-suite/webpack/webpack.prod.js
  apps/test-suite/webpack/webpackLocations.js
Labels: in progress, project: web

#3757 Moved babel-preset-expo alias to @expo/webpack-config
  packages/babel-preset-expo/index.js
Labels: in progress, project: web

#3756 [web] `ErrorBoundary`
  packages/expo/src/launch/RootErrorBoundary.web.tsx
  packages/expo/src/launch/withExpoRoot.web.tsx
Labels: in progress, project: web

#3751 Bump: `32.0.1` -> `33.0.0-alpha.web.0`
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-component-list/screens/Screens/container.js
  apps/sandbox/package.json
  apps/test-suite/app.json
  apps/test-suite/package.json
  apps/test-suite/puppeteer-test/index.js
  home/package.json
  packages/expo-payments-stripe/examples/with-expokit/package.json
  packages/expo/package.json
  yarn.lock
Labels: in progress, project: web

#3759 babel-preset-expo 5.1.1
  packages/babel-preset-expo/index.js
  packages/babel-preset-expo/package.json
Labels: in progress, project: web

#3768 Prevent from NullPointer in MediaPlayer.
  CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/player/MediaPlayerData.java
Labels: in progress

#3771 [rn-adapter] fix RN dependency configuration
  packages/@unimodules/react-native-adapter/android/build.gradle
Labels: in progress

#3779 [gl] partial fix for onContextCreate not being called on zero-sized view
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/expo/modules/gl/GLView.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLView.java
Labels: in progress

#3748 [expo] Add react-native-webview
  CHANGELOG.md
  android/build.gradle
  android/expoview/build.gradle
  android/expoview/src/main/AndroidManifest.xml
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewFileProvider.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/WebViewConfig.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingErrorEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingFinishEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingProgressEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingStartEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopMessageEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopShouldStartLoadWithRequestEvent.kt
  android/expoview/src/main/res/xml/provider_paths.xml
  apps/native-component-list/navigation/ExpoComponents.js
  apps/native-component-list/screens/ExpoComponentsScreen.js
  apps/native-component-list/screens/WebViewScreen.js
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCUIWebView.h
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCUIWebView.m
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCUIWebViewManager.h
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCUIWebViewManager.m
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCWKProcessPoolManager.h
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCWKProcessPoolManager.m
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCWKWebView.h
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCWKWebView.m
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCWKWebViewManager.h
  ios/Exponent/Versioned/Core/Api/Components/WebView/RNCWKWebViewManager.m
  ios/Exponent/Versioned/Core/EXVersionManager.m
  packages/expo/package.json
  packages/expo/src/Expo.ts
  packages/expo/src/WebView.ts
  packages/expo/src/WebView.web.ts
  tools/gulpfile.js
  tools/update-vendored-native-module.js
  yarn.lock
Labels: in progress

#3780 [home] Fix non-working barcode scanner
  home/screens/QRCodeScreen.android.js
  home/screens/QRCodeScreen.ios.js
  packages/expo-app-auth/build/ExpoAppAuth.js
  packages/expo-app-auth/build/ExpoAppAuth.js.map
  packages/expo-app-auth/src/ExpoAppAuth.ts
Labels: in progress

#3761 Add more issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_cli.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/questions.md
Labels: in progress

#3789 [web] Updated gradient style syntax
  packages/expo-linear-gradient/build/NativeLinearGradient.web.d.ts
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
Labels: LinearGradient, in progress, project: web

#3788 Use react-native-web initialization and remove dependance on react-dom
  packages/expo/src/launch/registerRootComponent.tsx
  packages/expo/src/launch/registerRootComponent.web.tsx
Labels: in progress, project: web

#3670 Fixed payments docs misinformation.
  docs/pages/versions/unversioned/sdk/payments.md
  docs/pages/versions/v32.0.0/sdk/payments.md
Labels: in progress

#3792 [expo-localization] Fix isRTL always being true
  CHANGELOG.md
  packages/expo-localization/ios/EXLocalization/EXLocalization.m
Labels: Localization, in progress

#3790 Add paragraph about execution SQL code outside a transaction
  docs/pages/versions/unversioned/sdk/sqlite.md
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/src/SQLite.ts
Labels: in progress

#3717 [expo-web-browser] Add better CustomTabs support, remove unnecessary activity, more fixes
  CHANGELOG.md
  apps/native-component-list/screens/WebBrowserScreen.js
  docs/pages/versions/unversioned/sdk/webbrowser.md
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/Consumer.java
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/Function.java
  packages/expo-web-browser/android/src/main/AndroidManifest.xml
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/CustomTabsActivitiesHelper.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/CustomTabsConnectionHelper.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/CustomTabsManagerActivity.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/DeferredClientActionsQueue.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/WebBrowserModule.java
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/error/NoPreferredPackageFound.java
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/ios/EXWebBrowser/EXWebBrowser.h
  packages/expo-web-browser/ios/EXWebBrowser/EXWebBrowser.m
  packages/expo-web-browser/src/WebBrowser.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: in progress

#3801 expo@33.0.0-alpha.web.1
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/test-suite/package.json
  home/package.json
  packages/expo-payments-stripe/examples/with-expokit/package.json
  packages/expo/package.json
  packages/expo/src/launch/registerRootComponent.web.tsx
  yarn.lock
Labels: in progress, project: web

#3804 expo-sqlite fix exec method
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.java
  packages/expo-sqlite/src/SQLite.ts
Labels: in progress

#3783 [expo] Add react-native-netinfo
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/BroadcastReceiverConnectivityReceiver.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/ConnectivityReceiver.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/NetInfoModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/NetInfoPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/NetworkCallbackConnectivityReceiver.java
  apps/native-component-list/navigation/ExpoApis.js
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/NetInfoScreen.js
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/NetInfo/RNCNetInfo.h
  ios/Exponent/Versioned/Core/Api/NetInfo/RNCNetInfo.m
  packages/expo/package.json
  packages/jest-expo/src/preset/expoModules.js
  tools/gulpfile.js
  yarn.lock
Labels: in progress, project: sdk

#3747 Move KeepAwake functionalities to internal module
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  docs/pages/versions/unversioned/sdk/keep-awake.md
  packages/@unimodules/core/android/build.gradle
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/BasePackage.java
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/InternalModule.java
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/Package.java
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/services/KeepAwakeManager.java
  packages/expo-keep-awake/android/build.gradle
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/ExpoKeepAwakeManager.java
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/KeepAwakeModule.java
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/KeepAwakePackage.java
  packages/expo-keep-awake/build/index.d.ts
  packages/expo-keep-awake/build/index.js
  packages/expo-keep-awake/build/index.js.map
  packages/expo-keep-awake/ios/EXKeepAwake/EXKeepAwake.m
  packages/expo-keep-awake/src/index.ts
Labels: in progress

#3812 [android] Fix ndk install script
  android/install-ndk-17c.sh
  android/shell.nix
Labels: in progress

#3498 [expo-av] Allow audio playback/recording when the app is in background
  CHANGELOG.md
  apps/native-component-list/screens/AV/AudioModeSelector.android.js
  apps/native-component-list/screens/AV/AudioModeSelector.ios.js
  apps/native-component-list/screens/AV/RecordingScreen.js
  docs/pages/versions/unversioned/sdk/audio.md
  ios/Exponent/Supporting/Info.plist
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
  packages/expo-av/build/Audio.d.ts
  packages/expo-av/build/Audio.js
  packages/expo-av/build/Audio.js.map
  packages/expo-av/ios/EXAV/EXAV.h
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAudioSessionManager.m
  packages/expo-av/src/Audio.ts
Labels: in progress

#3817 [expo-mail-composer] Run MailComposer.composeAsync on main queue
  packages/expo-mail-composer/ios/EXMailComposer/EXMailComposer.m
Labels: in progress

#3819 [expo-permissions] Assume "undetermined" permissions when not asked yet
  packages/expo-permissions/android/src/main/java/expo/modules/permissions/PermissionsModule.java
Labels: Permissions, in progress

#3434 `./update-dependencies`
  .gitattributes
  android/install-ndk-17c.sh
  android/shell.nix
  apps/test-suite/puppeteer-test/yarn.lock
  nix/all-packages.nix
  nix/cocoapods/.bundle/config
  nix/cocoapods/.gitignore
  nix/cocoapods/Gemfile
  nix/cocoapods/Gemfile.lock
  nix/cocoapods/gemset.nix
  nix/nixpkgs.json
  nix/xcpretty/Gemfile.lock
  nix/xcpretty/gemset.nix
  package.json
  packages/expo-payments-stripe/examples/with-expokit/yarn.lock
  packages/expo-payments-stripe/examples/without-expokit/yarn.lock
  tools-public/yarn.lock
  tools/yarn.lock
  update-dependencies
  yarn.lock
Labels: in progress

#3836 [android] Use Java 1.8 in bare application template
  templates/expo-template-bare-minimum/android/app/build.gradle
Labels: in progress

#3837 [location] start foreground service when using background location
  CHANGELOG.md
  apps/native-component-list/components/Button.js
  apps/native-component-list/screens/Location/BackgroundLocationMapScreen.js
  docs/pages/versions/unversioned/sdk/location.md
  packages/expo-location/android/src/main/AndroidManifest.xml
  packages/expo-location/android/src/main/java/expo/modules/location/services/LocationTaskService.java
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/LocationTaskConsumer.java
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js.map
  packages/expo-location/src/Location.ts
Labels: in progress

#3844 [expo-image-picker] Support picking GIFs
  CHANGELOG.md
  docs/pages/versions/unversioned/sdk/imagepicker.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.java
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerPackage.java
  packages/expo-image-picker/ios/EXImagePicker/EXImagePicker.m
Labels: in progress

#3858 [ci] Do not print Android downloading progress
  android/shell.nix
Labels: in progress

#3857 [expo] Fix compatibility with Xcode 10.2
  package.json
  yarn.lock
Labels: in progress

#3856 [react-native-webview] Upgrade to 5.4.6
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingErrorEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingFinishEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingProgressEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingStartEvent.kt
  packages/expo/package.json
Labels: in progress

#3752 Update expo-cli docs
  docs/pages/versions/unversioned/workflow/expo-cli.md
  docs/pages/versions/v30.0.0/workflow/expo-cli.md
  docs/pages/versions/v31.0.0/workflow/expo-cli.md
  docs/pages/versions/v32.0.0/workflow/expo-cli.md
Labels: in progress, project: docs

#3860 Update react-native-svg
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/Brush.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/CircleView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/EllipseView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/FontData.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/GroupView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/ImageView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/LineView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/LinearGradientView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/MaskView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/PatternView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/PropHelper.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RadialGradientView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RectView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RenderableView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/RenderableViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SVGLength.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/SvgViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/TSpanView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/TextPathView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/TextView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/UseView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/VirtualView.java
  ios/Exponent/Versioned/Core/Api/Components/Svg/Brushes/RNSVGPainter.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Brushes/RNSVGPainter.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGClipPath.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGDefs.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGGroup.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGImage.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGLinearGradient.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGMask.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGPattern.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGRadialGradient.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSymbol.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGUse.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGUse.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGRenderable.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGFontData.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTSpan.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGText.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RCTConvert+RNSVG.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RCTConvert+RNSVG.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGDefsManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGSvgViewManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGUseManager.m
  packages/expo/package.json
  yarn.lock
Labels: in progress

#3865 Fix error handling in makeDirectoryAsync method on Android. Resolves #3823.
  apps/test-suite/tests/FileSystem.js
  docs/pages/versions/unversioned/sdk/filesystem.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
Labels: in progress

#3895 [docs] Fix broken directory links
  .circleci/config.yml
  docs/package.json
  docs/pages/versions/unversioned/expokit/eject.md
  docs/pages/versions/unversioned/guides/using-custom-fonts.md
  docs/pages/versions/unversioned/index.md
  docs/pages/versions/unversioned/introduction/faq.md
  docs/pages/versions/unversioned/introduction/project-lifecycle.md
  docs/pages/versions/unversioned/sdk/document-picker.md
  docs/pages/versions/unversioned/sdk/map-view.md
  docs/pages/versions/unversioned/workflow/glossary-of-terms.md
  docs/pages/versions/unversioned/workflow/up-and-running.md
  docs/pages/versions/v32.0.0/expokit/eject.md
  docs/pages/versions/v32.0.0/guides/using-custom-fonts.md
  docs/pages/versions/v32.0.0/index.md
  docs/pages/versions/v32.0.0/introduction/faq.md
  docs/pages/versions/v32.0.0/introduction/project-lifecycle.md
  docs/pages/versions/v32.0.0/sdk/document-picker.md
  docs/pages/versions/v32.0.0/sdk/map-view.md
  docs/pages/versions/v32.0.0/workflow/glossary-of-terms.md
  docs/pages/versions/v32.0.0/workflow/up-and-running.md
  docs/yarn.lock
Labels: in progress

#3885 [web][takeSnapshotAsync] Added OTF font format to viewshot
  packages/expo/src/takeSnapshotAsync/Utils.web.ts
Labels: in progress, project: web, takeSnapshotAsync

#3879 Fix bug preventing isSupported from working as expected
  packages/expo/src/StoreReview/StoreReview.ts
Labels: StoreReview, in progress, project: web

#3766 Remove GL2 by default on web
  packages/expo-gl/build/GLView.web.js
  packages/expo-gl/build/GLView.web.js.map
  packages/expo-gl/src/GLView.web.tsx
Labels: GLView, in progress, project: web
