Repository expo/expo, pull requests merged in 2019-09, with the labels that each got.

#5428 Bare Expo run scripts
  .circleci/config.yml
  apps/bare-expo/MainNavigator.ts
  apps/bare-expo/README.md
  apps/bare-expo/android/app/src/androidTest/java/dev/expo/payments/DetoxTest.java
  apps/bare-expo/e2e/jest.config.json
  apps/bare-expo/package.json
  apps/bare-expo/scripts/create-emulator.sh
  apps/bare-expo/scripts/deep-link.sh
  apps/bare-expo/scripts/setup-project.sh
  apps/bare-expo/scripts/start-emulator.sh
  apps/bare-expo/scripts/start-metro.sh
  apps/bare-expo/scripts/start-simulator.sh
  apps/bare-expo/scripts/wait-for-emulator.sh
Labels: Detox

#5451 [web] Added web support to expo-battery
  apps/native-component-list/src/screens/BatteryScreen.tsx
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.java
  packages/expo-battery/build/Battery.d.ts
  packages/expo-battery/build/Battery.js
  packages/expo-battery/build/Battery.js.map
  packages/expo-battery/build/ExpoBattery.web.d.ts
  packages/expo-battery/build/ExpoBattery.web.js
  packages/expo-battery/build/ExpoBattery.web.js.map
  packages/expo-battery/ios/EXBattery/EXBattery.m
  packages/expo-battery/src/Battery.ts
  packages/expo-battery/src/ExpoBattery.web.ts
Labels: project: web

#5563 [jest] Add watch plugins
  packages/jest-expo/README.md
  packages/jest-expo/android/jest-preset.js
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/config/index.js
  packages/jest-expo/config/withWatchPlugins.js
  packages/jest-expo/ios/jest-preset.js
  packages/jest-expo/node/jest-preset.js
  packages/jest-expo/package.json
  packages/jest-expo/universal/jest-preset.js
  packages/jest-expo/web/jest-preset.js
  yarn.lock
Labels: Jest with Expo

#5479 Created jest-expo-enzyme
  packages/jest-expo-enzyme/README.md
  packages/jest-expo-enzyme/babel.config.js
  packages/jest-expo-enzyme/jest-preset.js
  packages/jest-expo-enzyme/package.json
  packages/jest-expo-enzyme/src/index.js
  packages/jest-expo-enzyme/src/serializer.js
  packages/jest-expo-enzyme/src/setupEnzyme.native.js
  packages/jest-expo-enzyme/src/setupEnzyme.web.js
  packages/jest-expo-enzyme/tests/__tests__/View-test.js
  packages/jest-expo-enzyme/tests/__tests__/__snapshots__/View-test.js.snap.android
  packages/jest-expo-enzyme/tests/__tests__/__snapshots__/View-test.js.snap.ios
  packages/jest-expo-enzyme/tests/__tests__/__snapshots__/View-test.js.snap.web
  packages/jest-expo/README.md
  yarn.lock
Labels: Jest with Expo

#5535 [jest] Created jest-expo-puppeteer
  .circleci/config.yml
  apps/bare-expo/App.tsx
  apps/bare-expo/MainNavigator.ts
  apps/bare-expo/__tests__/App.js
  apps/bare-expo/app.json
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/bare-expo/e2e/jest.config.json
  apps/bare-expo/e2e/jest.config.web.json
  apps/bare-expo/e2e/testsuite.spec.js
  apps/bare-expo/e2e/utils/report.js
  apps/bare-expo/index.tsx
  apps/bare-expo/jest-puppeteer.config.js
  apps/bare-expo/package.json
  apps/bare-expo/webpack.config.js
  apps/test-suite/package.json
  packages/jest-expo-puppeteer/.eslintrc.js
  packages/jest-expo-puppeteer/README.md
  packages/jest-expo-puppeteer/babel.config.js
  packages/jest-expo-puppeteer/build/build-expo.d.ts
  packages/jest-expo-puppeteer/build/build-expo.d.ts.map
  packages/jest-expo-puppeteer/build/build-expo.js
  packages/jest-expo-puppeteer/build/build-expo.js.map
  packages/jest-expo-puppeteer/build/index.d.ts
  packages/jest-expo-puppeteer/build/index.d.ts.map
  packages/jest-expo-puppeteer/build/index.js
  packages/jest-expo-puppeteer/build/index.js.map
  packages/jest-expo-puppeteer/jest-preset.js
  packages/jest-expo-puppeteer/package.json
  packages/jest-expo-puppeteer/src/build-expo.ts
  packages/jest-expo-puppeteer/src/index.ts
  packages/jest-expo-puppeteer/tsconfig.json
  yarn.lock
Labels: Jest with Expo

#5480 [jest] Added tests to expo-linear-gradient
  apps/native-component-list/src/screens/LinearGradientScreen.tsx
  packages/expo-linear-gradient/build/NativeLinearGradient.web.d.ts
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/jest.config.js
  packages/expo-linear-gradient/package.json
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
  packages/expo-linear-gradient/src/__tests__/LinearGradient-test.native.tsx
  packages/expo-linear-gradient/src/__tests__/LinearGradient-test.web.tsx
  packages/expo-linear-gradient/src/__tests__/__snapshots__/LinearGradient-test.native.tsx.snap.android
  packages/expo-linear-gradient/src/__tests__/__snapshots__/LinearGradient-test.native.tsx.snap.ios
  packages/expo-linear-gradient/src/__tests__/__snapshots__/LinearGradient-test.web.tsx.snap.web
  packages/jest-expo-enzyme/README.md
  packages/jest-expo-enzyme/jest-preset.js
Labels: Jest with Expo, LinearGradient

#5589 Fixed Contacts API E2E test
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/Contacts.js
  apps/test-suite/tests/Contacts.web.js
Labels: Contacts

#5604 Rebuild several packages to fix the expo_sdk job
  packages/expo-gl/build/GLView.web.js.map
  packages/expo-gl/src/GLView.web.tsx
  packages/expo-linear-gradient/build/LinearGradient.d.ts
  packages/expo/build/ExpoLazy.js
  packages/expo/build/ExpoLazy.js.map
  packages/jest-expo-puppeteer/build/build-expo.js
  packages/jest-expo-puppeteer/build/build-expo.js.map
  packages/jest-expo-puppeteer/build/index.js
  packages/jest-expo-puppeteer/build/index.js.map
Labels: Launch-blocking

#5646 Remove puppeteer test from test-suite in favor of bare-expo
  apps/native-component-list/app.json
  apps/native-component-list/package.json
  apps/test-suite/package.json
  apps/test-suite/puppeteer-test/index.js
  apps/test-suite/puppeteer-test/package.json
  apps/test-suite/puppeteer-test/yarn.lock
  packages/expo-av/package.json
  packages/expo-sqlite/package.json
  yarn.lock
Labels: Jest with Expo

#5691 [README] Added project layout links
  README.md
Labels: Repo Health

#5692 [repo] Updated badges
  README.md
Labels: Repo Health

#5588 Added tests to BlurView
  packages/expo-blur/jest.config.js
  packages/expo-blur/src/__tests__/BlurView-test.ios.tsx
  packages/expo-blur/src/__tests__/BlurView-test.web.tsx
  packages/expo-blur/src/__tests__/__snapshots__/BlurView-test.ios.tsx.snap.ios
Labels: BlurView, Jest with Expo

#5677 [jest] Convert jest-expo-enzyme to TypeScript
  packages/expo-blur/jest.config.js
  packages/expo-blur/package.json
  packages/expo-linear-gradient/jest.config.js
  packages/expo-linear-gradient/package.json
  packages/expo-module-scripts/enzyme/jest-preset.js
  packages/expo-module-scripts/package.json
  packages/jest-expo-enzyme/README.md
  packages/jest-expo-enzyme/babel.config.js
  packages/jest-expo-enzyme/build/index.d.ts
  packages/jest-expo-enzyme/build/index.d.ts.map
  packages/jest-expo-enzyme/build/index.js
  packages/jest-expo-enzyme/build/index.js.map
  packages/jest-expo-enzyme/build/serializer.d.ts
  packages/jest-expo-enzyme/build/serializer.d.ts.map
  packages/jest-expo-enzyme/build/serializer.js
  packages/jest-expo-enzyme/build/serializer.js.map
  packages/jest-expo-enzyme/build/setupEnzyme.native.d.ts
  packages/jest-expo-enzyme/build/setupEnzyme.native.d.ts.map
  packages/jest-expo-enzyme/build/setupEnzyme.native.js
  packages/jest-expo-enzyme/build/setupEnzyme.native.js.map
  packages/jest-expo-enzyme/build/setupEnzyme.web.d.ts
  packages/jest-expo-enzyme/build/setupEnzyme.web.d.ts.map
  packages/jest-expo-enzyme/build/setupEnzyme.web.js
  packages/jest-expo-enzyme/build/setupEnzyme.web.js.map
  packages/jest-expo-enzyme/jest-preset.js
  packages/jest-expo-enzyme/package.json
  packages/jest-expo-enzyme/src/index.ts
  packages/jest-expo-enzyme/src/serializer.js
  packages/jest-expo-enzyme/src/serializer.ts
  packages/jest-expo-enzyme/src/setupEnzyme.native.ts
  packages/jest-expo-enzyme/src/setupEnzyme.web.ts
  packages/jest-expo-enzyme/tests/__tests__/View-test.tsx
  packages/jest-expo-enzyme/tests/__tests__/__snapshots__/View-test.tsx.snap.android
  packages/jest-expo-enzyme/tests/__tests__/__snapshots__/View-test.tsx.snap.ios
  packages/jest-expo-enzyme/tests/__tests__/__snapshots__/View-test.tsx.snap.web
  packages/jest-expo-enzyme/tsconfig.json
  yarn.lock
Labels: Jest with Expo

#5719 Detach listener when component is unmounted
  CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.java
Labels: BarCodeScanner
