Repository expo/expo, pull requests merged in 2019-12, with the labels that each got.

#4562 feat: support badge number on web
  CHANGELOG.md
  packages/expo/build/Notifications/ExponentNotifications.web.d.ts
  packages/expo/build/Notifications/ExponentNotifications.web.js
  packages/expo/build/Notifications/ExponentNotifications.web.js.map
  packages/expo/package.json
  packages/expo/src/Notifications/ExponentNotifications.web.ts
  yarn.lock
Labels: Notifications, Platform: web

#6465 [expo-file-system][android] Fix free storage value
  CHANGELOG.md
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
Labels: FileSystem, project: android-runtime

#6471 [docs] Fix and backport publishing guide
  docs/pages/versions/unversioned/distribution/publishing-websites.md
  docs/pages/versions/unversioned/guides/deploying-websites.md
  docs/pages/versions/v34.0.0/distribution/publishing-websites.md
  docs/pages/versions/v35.0.0/distribution/publishing-websites.md
Labels: Platform: web, project: docs

#6330 [font][docs][tests] updated expo-font
  apps/test-suite/tests/Font.js
  docs/pages/versions/unversioned/sdk/font.md
  packages/expo-font/build/ExpoFontLoader.web.d.ts
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/Font.types.d.ts
  packages/expo-font/build/Font.types.js
  packages/expo-font/build/Font.types.js.map
  packages/expo-font/build/FontLoader.js
  packages/expo-font/build/FontLoader.js.map
  packages/expo-font/build/FontLoader.web.d.ts
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
  packages/expo-font/src/Font.ts
  packages/expo-font/src/Font.types.ts
  packages/expo-font/src/FontLoader.ts
  packages/expo-font/src/FontLoader.web.ts
  packages/expo-font/src/__tests__/Font-test.web.ts
  packages/expo-font/src/__tests__/FontLoader-test.web.ts
Labels: Font, Platform: web

#6478 Update jest-expo preset transformIgnorePatterns
  packages/jest-expo/jest-preset.js
Labels: Jest with Expo, bug

#6491 bump jest-expo@36.0.1
  apps/bare-expo/package.json
  home/package.json
  packages/expo-file-system/package.json
  packages/expo-module-scripts/package.json
  packages/jest-expo-enzyme/package.json
  packages/jest-expo/package.json
  templates/expo-template-bare-typescript/package.json
  templates/expo-template-tabs/package.json
Labels: Jest with Expo

#6493 [detox] split up components in test-suite
  .circleci/config.yml
  apps/bare-expo/.gitignore
  apps/bare-expo/MainNavigator.ts
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/setup/setupDetox.js
  apps/bare-expo/package.json
  apps/test-suite/App.bare.js
  apps/test-suite/App.js
  apps/test-suite/AppNavigator.js
  apps/test-suite/ExponentTest.native.expo.js
  apps/test-suite/components/DoneText.js
  apps/test-suite/components/PlatformTouchable.android.js
  apps/test-suite/components/PlatformTouchable.js
  apps/test-suite/components/Portal.js
  apps/test-suite/components/RunnerError.js
  apps/test-suite/components/SpecResult.js
  apps/test-suite/components/SuiteResult.js
  apps/test-suite/components/Suites.js
  apps/test-suite/constants/Colors.js
  apps/test-suite/constants/StatusEmojis.js
  apps/test-suite/constants/Statuses.js
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/screens/TestScreen.js
  apps/test-suite/tests/SecureStore.js
Labels: Detox

#6464 [android] Remove SpongyCastle
  CHANGELOG.md
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/expoview/build.gradle
  android/expoview/proguard-rules.pro
  android/expoview/src/main/java/host/exp/exponent/experience/DetachedModuleRegistryAdapter.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Crypto.java
  android/expoview/src/main/java/host/exp/expoview/Exponent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/SecureStoreModuleBinding.java
  android/versioned-abis/expoview-abi33_0_0/build.gradle
  android/versioned-abis/expoview-abi33_0_0/src/main/java/abi33_0_0/expo/modules/securestore/SecureStoreModule.java
  android/versioned-abis/expoview-abi33_0_0/src/main/java/abi33_0_0/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  android/versioned-abis/expoview-abi33_0_0/src/main/java/abi33_0_0/host/exp/exponent/modules/universal/SecureStoreModuleBinding.java
  android/versioned-abis/expoview-abi34_0_0/build.gradle
  android/versioned-abis/expoview-abi34_0_0/src/main/java/abi34_0_0/expo/modules/securestore/SecureStoreModule.java
  android/versioned-abis/expoview-abi34_0_0/src/main/java/abi34_0_0/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  android/versioned-abis/expoview-abi34_0_0/src/main/java/abi34_0_0/host/exp/exponent/modules/universal/SecureStoreModuleBinding.java
  android/versioned-abis/expoview-abi35_0_0/build.gradle
  android/versioned-abis/expoview-abi35_0_0/src/main/java/abi35_0_0/expo/modules/securestore/SecureStoreModule.java
  android/versioned-abis/expoview-abi35_0_0/src/main/java/abi35_0_0/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  android/versioned-abis/expoview-abi35_0_0/src/main/java/abi35_0_0/host/exp/exponent/modules/universal/SecureStoreModuleBinding.java
  android/versioned-abis/expoview-abi36_0_0/build.gradle
  android/versioned-abis/expoview-abi36_0_0/src/main/java/abi36_0_0/expo/modules/securestore/SecureStoreModule.java
  android/versioned-abis/expoview-abi36_0_0/src/main/java/abi36_0_0/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.java
  android/versioned-abis/expoview-abi36_0_0/src/main/java/abi36_0_0/host/exp/exponent/modules/universal/SecureStoreModuleBinding.java
  packages/expo-secure-store/android/src/main/java/expo/modules/securestore/SecureStoreModule.java
Labels: project: android-runtime

#6462 [expo-facebook][android] Upgrade FBSDK to 5.12.1
  CHANGELOG.md
  android/app/build.gradle
  packages/expo-facebook/android/build.gradle
Labels: Facebook, project: android-runtime

#6547 fix badgin import bug
  packages/expo/build/Notifications/ExponentNotifications.web.js
  packages/expo/build/Notifications/ExponentNotifications.web.js.map
  packages/expo/src/Notifications/ExponentNotifications.web.ts
Labels: Notifications, Platform: web, bug

#6552 Add isAvailableAsync to expo-mail-composer
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.java
  packages/expo-mail-composer/build/ExpoMailComposer.web.d.ts
  packages/expo-mail-composer/build/ExpoMailComposer.web.js
  packages/expo-mail-composer/build/ExpoMailComposer.web.js.map
  packages/expo-mail-composer/build/MailComposer.d.ts
  packages/expo-mail-composer/build/MailComposer.js
  packages/expo-mail-composer/build/MailComposer.js.map
  packages/expo-mail-composer/ios/EXMailComposer/EXMailComposer.m
  packages/expo-mail-composer/src/ExpoMailComposer.web.ts
  packages/expo-mail-composer/src/MailComposer.ts
Labels: MailComposer

#6557 update running in the browser
  docs/pages/versions/unversioned/guides/running-in-the-browser.md
Labels: Platform: web, project: docs

#6556 [docs] Update web-performance.md
  docs/pages/versions/unversioned/guides/web-performance.md
Labels: Platform: web, project: docs

#6549 [expo-blur] update web colors
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/build/getBackgroundColor.js
  packages/expo-blur/build/getBackgroundColor.js.map
  packages/expo-blur/src/BlurView.web.tsx
  packages/expo-blur/src/getBackgroundColor.ts
Labels: BlurView, Platform: web

#6546 Fix web NCL
  apps/native-component-list/App.tsx
  apps/native-component-list/src/navigation/ExpoApis.ts
  apps/native-component-list/src/navigation/ExpoComponents.ts
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.ts
  apps/native-component-list/src/navigation/MainTabNavigator.tsx
  apps/native-component-list/src/navigation/RootNavigation.web.ts
  apps/native-component-list/src/navigation/RootNavigation.web.tsx
  apps/native-component-list/src/navigation/StackConfig.ts
  apps/native-component-list/src/screens/AV/Slider.web.tsx
  apps/native-component-list/src/screens/BasicMaskScreen.web.tsx
  apps/native-component-list/src/screens/BatteryScreen.web.tsx
  apps/native-component-list/src/screens/BranchScreen.tsx
  apps/native-component-list/src/screens/ComponentListScreen.tsx
  apps/native-component-list/src/screens/DateTimePickerScreen.web.tsx
  apps/native-component-list/src/screens/GL/GLMaskScreen.web.tsx
  apps/native-component-list/src/screens/Location/BackgroundLocationMapScreen.web.tsx
  apps/native-component-list/src/screens/Location/GeofencingScreen.web.tsx
  apps/native-component-list/src/screens/MapsScreen.web.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.web.tsx
  apps/native-component-list/src/screens/SharedElementScreen.web.tsx
  apps/native-component-list/src/screens/ViewPagerScreen.web.tsx
  apps/native-component-list/src/screens/ViewShotScreen.web.tsx
Labels: Platform: web

#6641 [docs] remove badges from electron
  docs/pages/versions/unversioned/guides/using-electron.md
  docs/pages/versions/v33.0.0/guides/using-electron.md
  docs/pages/versions/v34.0.0/guides/using-electron.md
  docs/pages/versions/v35.0.0/guides/using-electron.md
  docs/pages/versions/v36.0.0/guides/using-electron.md
Labels: project: docs

#6610 [web][expo-av] Add partial onFullscreenUpdate to ExponentVideo.web
  CHANGELOG.md
  packages/expo-av/build/ExponentVideo.web.d.ts
  packages/expo-av/build/ExponentVideo.web.js
  packages/expo-av/build/ExponentVideo.web.js.map
  packages/expo-av/src/ExponentVideo.web.tsx
Labels: Platform: web, Video

#6628 [docs] debugging.md typo: "proejct"
  docs/pages/versions/unversioned/workflow/debugging.md
Labels: project: docs

#6642 [docs] fix typo: proejct -> project
  docs/pages/versions/unversioned/workflow/how-expo-works.md
  docs/pages/versions/unversioned/workflow/upgrading-expo-sdk-walkthrough.md
  docs/pages/versions/v33.0.0/workflow/debugging.md
  docs/pages/versions/v33.0.0/workflow/how-expo-works.md
  docs/pages/versions/v33.0.0/workflow/upgrading-expo-sdk-walkthrough.md
  docs/pages/versions/v34.0.0/workflow/debugging.md
  docs/pages/versions/v34.0.0/workflow/how-expo-works.md
  docs/pages/versions/v34.0.0/workflow/upgrading-expo-sdk-walkthrough.md
  docs/pages/versions/v35.0.0/workflow/debugging.md
  docs/pages/versions/v35.0.0/workflow/how-expo-works.md
  docs/pages/versions/v35.0.0/workflow/upgrading-expo-sdk-walkthrough.md
  docs/pages/versions/v36.0.0/workflow/debugging.md
  docs/pages/versions/v36.0.0/workflow/how-expo-works.md
  docs/pages/versions/v36.0.0/workflow/upgrading-expo-sdk-walkthrough.md
Labels: project: docs

#6545 [web][battery] Fix battery export bug on web
  packages/expo-battery/build/Battery.js
  packages/expo-battery/build/Battery.js.map
  packages/expo-battery/src/Battery.ts
Labels: Battery, Platform: web, bug

#6551 Added E2E tests for expo-keep-awake
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/KeepAwake.js
Labels: KeepAwake

#6280 [jest-expo] Add support for workflow extensions like .expo
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/package.json
  packages/jest-expo/tests/__tests__/workflow-test.ios.js
  packages/jest-expo/tests/workflow.ios.expo.js
  packages/jest-expo/tests/workflow.ios.js
  packages/jest-expo/tests/workflow.js
  yarn.lock
Labels: Jest with Expo

#6550 Added blur-view and linear-gradient to test-suite
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/Blur.js
  apps/test-suite/tests/LinearGradient.js
Labels: BlurView, LinearGradient

#6630 [docs] update task manager example and directions
  docs/pages/versions/unversioned/sdk/task-manager.md
  docs/pages/versions/v34.0.0/sdk/task-manager.md
  docs/pages/versions/v35.0.0/sdk/task-manager.md
  docs/pages/versions/v36.0.0/sdk/task-manager.md
Labels: project: docs

#6602 [docs] Add unimodules-* to jest transformIgnorePatterns
  docs/pages/versions/unversioned/guides/testing-with-jest.md
  docs/pages/versions/v36.0.0/guides/testing-with-jest.md
  packages/jest-expo/jest-preset.js
Labels: Jest with Expo, project: docs
