Repository expo/expo, pull requests merged in 2019-08, with the labels that each got.

#5138 Removed maps files
  packages/expo/build/Maps/MapView.d.ts
  packages/expo/build/Maps/MapView.js
  packages/expo/build/Maps/MapView.js.map
  packages/expo/build/Maps/MapView.web.d.ts
  packages/expo/build/Maps/MapView.web.js
  packages/expo/build/Maps/MapView.web.js.map
  packages/expo/build/Maps/Marker.d.ts
  packages/expo/build/Maps/Marker.js
  packages/expo/build/Maps/Marker.js.map
Labels: MapView

#5136 Added chrome support to BlurView
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/src/BlurView.web.tsx
Labels: BlurView, project: web

#4989 [web][asset] split Asset API logic
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/Asset.web.js
  packages/expo-asset/build/Asset.d.ts
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/build/AssetRegistry.web.d.ts
  packages/expo-asset/build/AssetRegistry.web.js
  packages/expo-asset/build/AssetRegistry.web.js.map
  packages/expo-asset/build/AssetSourceResolver.web.d.ts
  packages/expo-asset/build/AssetSourceResolver.web.js
  packages/expo-asset/build/AssetSourceResolver.web.js.map
  packages/expo-asset/build/AssetSources.js
  packages/expo-asset/build/AssetSources.js.map
  packages/expo-asset/build/EmbeddedAssets.web.d.ts
  packages/expo-asset/build/EmbeddedAssets.web.js
  packages/expo-asset/build/EmbeddedAssets.web.js.map
  packages/expo-asset/build/PlatformUtils.d.ts
  packages/expo-asset/build/PlatformUtils.js
  packages/expo-asset/build/PlatformUtils.js.map
  packages/expo-asset/build/PlatformUtils.web.d.ts
  packages/expo-asset/build/PlatformUtils.web.js
  packages/expo-asset/build/PlatformUtils.web.js.map
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/AssetRegistry.web.ts
  packages/expo-asset/src/AssetSourceResolver.web.ts
  packages/expo-asset/src/AssetSources.ts
  packages/expo-asset/src/EmbeddedAssets.web.ts
  packages/expo-asset/src/PlatformUtils.ts
  packages/expo-asset/src/PlatformUtils.web.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
Labels: Asset, project: web

#5207 [jest-expo] Added platform selection
  packages/jest-expo/README.md
  packages/jest-expo/android/jest-preset.js
  packages/jest-expo/ios/jest-preset.js
  packages/jest-expo/node/jest-preset.js
  packages/jest-expo/src/getPlatformPreset.js
  packages/jest-expo/universal/jest-preset.js
  packages/jest-expo/web/jest-preset.js
Labels: project: web

#5353 [expo-constants] Fix TS Types for Native App/Build Versions
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
Labels: Constants

#5351 Add iOS Detox tests to CI
  .circleci/config.yml
  apps/bare-expo/App.tsx
  apps/bare-expo/README.md
  apps/bare-expo/e2e/config.json
  apps/bare-expo/e2e/firstTest.spec.js
  apps/bare-expo/e2e/init.js
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo.xcodeproj/xcshareddata/xcschemes/BareExpo.xcscheme
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Pods/Headers/Private/EXInAppPurchases/EXInAppPurchasesModule.h
  apps/bare-expo/ios/Pods/Headers/Public/EXInAppPurchases/EXInAppPurchasesModule.h
  apps/bare-expo/ios/Pods/Local Podspecs/EXBackgroundFetch.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/EXBranch.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/EXCamera.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/EXFaceDetector.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/EXLocation.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/EXTaskManager.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/EXVideoThumbnails.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/UMFaceDetectorInterface.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/UMTaskManagerInterface.podspec.json
  apps/bare-expo/ios/Pods/Manifest.lock
  apps/bare-expo/ios/Pods/Pods.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Pods/Target Support Files/EXInAppPurchases/EXInAppPurchases-dummy.m
  apps/bare-expo/ios/Pods/Target Support Files/EXInAppPurchases/EXInAppPurchases-prefix.pch
  apps/bare-expo/ios/Pods/Target Support Files/EXInAppPurchases/EXInAppPurchases.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpo/Pods-BareExpo.debug.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpo/Pods-BareExpo.release.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpoTests/Pods-BareExpoTests.debug.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpoTests/Pods-BareExpoTests.release.xcconfig
  apps/bare-expo/package.json
Labels: Detox

#5393 Updated expo-three in NCL
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/GL/ExpoTHREE.ts
  apps/native-component-list/src/screens/GL/ExpoTHREE.web.tsx
  apps/native-component-list/src/screens/GL/GLScreens.tsx
  apps/native-component-list/src/screens/GL/GLSnapshotsScreen.tsx
  packages/expo-av/build/Video.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  yarn.lock
Labels: GLView

#5390 [E2E][iOS] Add test-suite to the iOS Detox tests in CI
  apps/bare-expo/App.tsx
  apps/bare-expo/MainNavigator.ts
  apps/bare-expo/README.md
  apps/bare-expo/e2e/Utils.js
  apps/bare-expo/e2e/config.json
  apps/bare-expo/e2e/firstTest.spec.js
  apps/bare-expo/e2e/init.js
  apps/bare-expo/e2e/setup/setupDetox.js
  apps/bare-expo/e2e/setup/setupSockets.js
  apps/bare-expo/e2e/testsuite.spec.js
  apps/bare-expo/env.js
  apps/bare-expo/index.js
  apps/bare-expo/ios/BareExpo/AppDelegate.m
  apps/bare-expo/ios/BareExpo/Info.plist
  apps/bare-expo/package.json
  apps/bare-expo/relapse/RelapseError.js
  apps/bare-expo/relapse/client.js
  apps/bare-expo/relapse/server.js
  apps/test-suite/App.bare.js
  apps/test-suite/ExponentTest.expo.js
  apps/test-suite/ExponentTest.js
  apps/test-suite/ExponentTest.web.js
  apps/test-suite/TestUtils.js
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/screens/TestScreen.js
  apps/test-suite/tests/Brightness.js
  apps/test-suite/tests/Constants.js
  apps/test-suite/tests/SecureStore.js
  apps/test-suite/tests/Segment.js
Labels: Detox

#5414 [expotools] Make `expotools check-packages` also run `yarn lint`
  tools/expotools/src/commands/CheckPackages.ts
Labels: project: internal-tools

#5475 Updated native builds for bare-expo
  apps/bare-expo/.gitignore
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/app/src/main/AndroidManifest.xml
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/generated/BasePackageList.java
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.jar
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-expo/android/gradlew.bat
  apps/bare-expo/android/settings.gradle
  apps/bare-expo/env.js
  apps/bare-expo/index.js
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Pods/AppAuth/Source/iOS/OIDAuthState+IOS.h
  apps/bare-expo/ios/Pods/AppAuth/Source/iOS/OIDExternalUserAgentIOS.h
  apps/bare-expo/ios/Pods/AppAuth/Source/iOS/OIDExternalUserAgentIOS.m
  apps/bare-expo/ios/Pods/Headers/Private/EXStoreReview/EXStoreReviewModule.h
  apps/bare-expo/ios/Pods/Headers/Public/EXStoreReview/EXStoreReviewModule.h
  apps/bare-expo/ios/Pods/Local Podspecs/EXStoreReview.podspec.json
  apps/bare-expo/ios/Pods/Local Podspecs/RNCAsyncStorage.podspec.json
  apps/bare-expo/ios/Pods/Manifest.lock
  apps/bare-expo/ios/Pods/Pods.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Pods/Target Support Files/EXStoreReview/EXStoreReview-dummy.m
  apps/bare-expo/ios/Pods/Target Support Files/EXStoreReview/EXStoreReview-prefix.pch
  apps/bare-expo/ios/Pods/Target Support Files/EXStoreReview/EXStoreReview.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpo/Pods-BareExpo.debug.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpo/Pods-BareExpo.release.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpoTests/Pods-BareExpoTests.debug.xcconfig
  apps/bare-expo/ios/Pods/Target Support Files/Pods-BareExpoTests/Pods-BareExpoTests.release.xcconfig
Labels: Detox

#4963 [web][docs] Add supports for push notification in Expo for Web
  CHANGELOG.md
  docs/pages/versions/unversioned/guides/push-notifications.md
  docs/pages/versions/unversioned/guides/using-nextjs.md
  docs/pages/versions/unversioned/guides/using-vapid.md
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/unversioned/workflow/configuration.md
  packages/expo/build/Notifications/ExponentNotifications.fx.web.d.ts
  packages/expo/build/Notifications/ExponentNotifications.fx.web.js
  packages/expo/build/Notifications/ExponentNotifications.fx.web.js.map
  packages/expo/build/Notifications/ExponentNotifications.web.d.ts
  packages/expo/build/Notifications/ExponentNotifications.web.js
  packages/expo/build/Notifications/ExponentNotifications.web.js.map
  packages/expo/build/Notifications/ExponentNotificationsHelper.web.d.ts
  packages/expo/build/Notifications/ExponentNotificationsHelper.web.js
  packages/expo/build/Notifications/ExponentNotificationsHelper.web.js.map
  packages/expo/build/Notifications/Notifications.d.ts
  packages/expo/build/Notifications/Notifications.js
  packages/expo/build/Notifications/Notifications.js.map
  packages/expo/src/Notifications/ExponentNotifications.fx.web.ts
  packages/expo/src/Notifications/ExponentNotifications.web.ts
  packages/expo/src/Notifications/ExponentNotificationsHelper.web.ts
  packages/expo/src/Notifications/Notifications.ts
Labels: Notifications, project: web
