Repository expo/expo, pull requests merged in 2019-04, with the labels that each got.

#3894 Add app and build version attributes to Constants module. Resolves #3805.
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ConstantsBinding.java
  apps/test-suite/tests/Constants.js
  docs/pages/versions/unversioned/sdk/constants.md
  packages/expo-constants/ios/EXConstants/EXConstantsService.m
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/ExponentConstants.web.ts
Labels: in progress

#3913 [Android] Fix the React Native Core tab in Native Component List app
  apps/native-component-list/screens/ReactNativeCoreScreen.android.js
Labels: in progress

#3883 [web][Linear Gradient] Fixed gradient bugs
  apps/native-component-list/screens/LinearGradientScreen.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.d.ts
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
Labels: LinearGradient, in progress, project: web

#3904 [expo-camera][Android] Fix adding/removing children from CameraPreview
  CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.java
Labels: in review

#3911 Add headers in downloadAsync.
  CHANGELOG.md
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  apps/native-component-list/screens/FileSystemScreen.js
  docs/pages/versions/unversioned/sdk/filesystem.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: in progress

#3903 @cruzach gl view docs
  docs/pages/versions/unversioned/sdk/gl-view.md
  docs/pages/versions/v32.0.0/sdk/gl-view.md
Labels: in progress

#3943 Update contacts.md
  docs/pages/versions/unversioned/sdk/contacts.md
Labels: in progress

#3870 [home][ios] restore QR code functionality to unrestricted IOS client builds
  home/components/ProjectTools.js
  home/navigation/Navigation.js
  home/screens/ProjectsScreen.js
  home/utils/Environment.js
  ios/Exponent/Kernel/AppLoader/EXFileDownloader.m
  ios/Exponent/Kernel/DevSupport/EXHomeModule.m
  ios/Exponent/Kernel/Environment/EXProvisioningProfile.h
  ios/Exponent/Kernel/Environment/EXProvisioningProfile.m
Labels: in progress

#3878 Add Emulator Details to Locations Docs
  docs/pages/versions/unversioned/sdk/location.md
  docs/pages/versions/v32.0.0/sdk/location.md
  docs/static/images/android-emulator-location.png
  docs/static/images/ios-simulator-location.png
Labels: in progress

#3925 [web] blur view web support
  apps/native-component-list/screens/BlurViewScreen.js
  packages/expo-blur/build/BlurView.android.d.ts
  packages/expo-blur/build/BlurView.android.js
  packages/expo-blur/build/BlurView.android.js.map
  packages/expo-blur/build/BlurView.ios.d.ts
  packages/expo-blur/build/BlurView.ios.js
  packages/expo-blur/build/BlurView.ios.js.map
  packages/expo-blur/build/BlurView.types.d.ts
  packages/expo-blur/build/BlurView.types.js
  packages/expo-blur/build/BlurView.types.js.map
  packages/expo-blur/build/BlurView.web.d.ts
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/build/getBackgroundColor.d.ts
  packages/expo-blur/build/getBackgroundColor.js
  packages/expo-blur/build/getBackgroundColor.js.map
  packages/expo-blur/src/BlurView.android.tsx
  packages/expo-blur/src/BlurView.ios.tsx
  packages/expo-blur/src/BlurView.types.ts
  packages/expo-blur/src/BlurView.web.tsx
  packages/expo-blur/src/getBackgroundColor.ts
Labels: BlurView, in progress, project: web

#3932 Update test-suite app
  apps/test-suite/App.js
  apps/test-suite/TestUtils.js
  apps/test-suite/puppeteer-test/index.js
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/screens/TestScreen.js
  apps/test-suite/tests/AdMobPublisherBanner.js
  apps/test-suite/tests/Calendar.js
  apps/test-suite/tests/Import2.js
  apps/test-suite/tests/Import3.js
  apps/test-suite/tests/MediaLibrary.js
  apps/test-suite/tests/TaskManager.js
Labels: in progress

#3961 NCL bug fixes
  apps/native-component-list/navigation/ExpoApis.js
  apps/native-component-list/navigation/StackConfig.js
  apps/native-component-list/package.json
  apps/native-component-list/screens/GestureHandler/BouncyBox.js
  apps/native-component-list/screens/GestureHandler/GmailStyleSwipeableRow.js
  apps/native-component-list/screens/Screens/navigation/index.js
Labels: Accelerometer, GestureHandler, in progress, project: web

#3964 Update NCL LinearGradientScreen.js
  apps/native-component-list/screens/LinearGradientScreen.js
Labels: LinearGradient, in progress, project: web

#3872 [Android][expo-file-system] increase timeouts in DownloadResumable's OkHttpClient.
  CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
Labels: in progress

#3965 [web] Added routing to NCL
  apps/native-component-list/navigation/RootNavigation.js
Labels: in progress, project: web

#3928 [image-picker][Android] Add Glide for loading images into bitmap
  CHANGELOG.md
  packages/@unimodules/react-native-adapter/android/build.gradle
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/services/UIManagerModuleWrapper.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.java
  packages/unimodules-image-loader-interface/android/src/main/java/org/unimodules/interfaces/imageloader/ImageLoader.java
Labels: in review

#3743 [expo-image-picker][Android] Add missing manifest configuration for bare RN
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerFileProvider.java
  packages/expo-image-picker/android/src/main/res/xml/provider_paths.xml
Labels: in progress

#3977 Add .settings and .project from Eclipse to gitignore
  .gitignore
Labels: in progress

#3976 [tools] Do not scope okhttp, okio or other Android libraries
  tools/android-versioning/okhttpjarjar.txt
Labels: in progress

#3986 Setup Initial AWS Devicefarm CI tests
  android/app/src/androidTest/java/host/exp/exponent/TestSuiteTests.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/test/ExponentTestNativeModule.java
  apps/test-suite/TestUtils.js
  apps/test-suite/screens/TestScreen.js
  apps/test-suite/tests/Linking.js
  apps/test-suite/tests/TaskManager.js
  fastlane/Fastfile
Labels: in progress

#3997 [docs] Rename EncodingTypes to EncodingType in FileSystem module
  CHANGELOG.md
  docs/pages/versions/unversioned/sdk/filesystem.md
Labels: in progress

#4011 [tools] Remove scripts for upgrading unupgradeable 3rd party libraries
  tools/gulpfile.js
Labels: in progress

#3989 Update Notifications 'Categories' docs
  docs/pages/versions/unversioned/sdk/notifications.md
Labels: in progress

#4007 [ios][rn] Version the yoga namespace for SDK 31 and 32 to avoid symbol conflicts
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0Utils.cpp
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0YGFloatOptional.cpp
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0YGLayout.cpp
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0YGNode.cpp
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0YGNodePrint.cpp
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0YGNodePrint.h
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0Yoga-internal.h
  ios/versioned-react-native/ABI31_0_0/ReactCommon/ABI31_0_0yoga/yoga/ABI31_0_0Yoga.cpp
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0Utils.cpp
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0YGFloatOptional.cpp
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0YGLayout.cpp
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0YGNode.cpp
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0YGNodePrint.cpp
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0YGNodePrint.h
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0Yoga-internal.h
  ios/versioned-react-native/ABI32_0_0/ReactCommon/ABI32_0_0yoga/yoga/ABI32_0_0Yoga.cpp
Labels: in progress

#4002 [web] Added Storybook
  .circleci/config.yml
  apps/storybook/.gitignore
  apps/storybook/.loki/.gitignore
  apps/storybook/.loki/reference/chrome_laptop_APIs_Constants.png
  apps/storybook/.loki/reference/chrome_laptop_Components_BlurView.png
  apps/storybook/.loki/reference/chrome_laptop_Components_Linear_Gradient.png
  apps/storybook/.storybook/addons.js
  apps/storybook/.storybook/babel.config.js
  apps/storybook/.storybook/config.js
  apps/storybook/.storybook/decorator-centered.js
  apps/storybook/.storybook/webpack.config.expo.js
  apps/storybook/.storybook/webpack.config.js
  apps/storybook/App.js
  apps/storybook/README.md
  apps/storybook/app.json
  apps/storybook/assets/LLizard.mp3
  apps/storybook/assets/asset-db.db
  apps/storybook/assets/big_buck_bunny.mp4
  apps/storybook/assets/black-128x256.png
  apps/storybook/assets/comic.ttf
  apps/storybook/assets/datamatrix_expo.png
  apps/storybook/assets/example_image_1.jpg
  apps/storybook/assets/exponent-icon@2x.png
  apps/storybook/assets/exponent-icon@3x.png
  apps/storybook/assets/icons/app.png
  apps/storybook/assets/icons/loading.png
  apps/storybook/assets/multiple_codes.png
  apps/storybook/assets/qrcode_expo.jpg
  apps/storybook/assets/qrcode_photo_wikipedia.jpg
  apps/storybook/assets/roadster.jpg
  apps/storybook/assets/unsupported_bunny.webm
  apps/storybook/babel.config.js
  apps/storybook/package.json
  apps/storybook/rn-cli.config.js
  apps/storybook/stories/apis/ConstantsScreen.js
  apps/storybook/stories/components/BlurViewScreen.js
  apps/storybook/stories/components/LinearGradientScreen.js
  apps/storybook/stories/ui-explorer/AppText.js
  apps/storybook/stories/ui-explorer/Code.js
  apps/storybook/stories/ui-explorer/DocItem.js
  apps/storybook/stories/ui-explorer/ExternalLink.js
  apps/storybook/stories/ui-explorer/Section.js
  apps/storybook/stories/ui-explorer/StyleList.js
  apps/storybook/stories/ui-explorer/TextList.js
  apps/storybook/stories/ui-explorer/UIExplorer.js
  apps/storybook/stories/ui-explorer/index.js
  apps/storybook/stories/ui-explorer/insertBetween.js
  apps/storybook/stories/ui-explorer/storiesOf.js
  apps/storybook/stories/ui-explorer/storiesOf.web.js
  yarn.lock
Labels: in progress, project: web

#3996 Add AWS Devicefarm job back into CI
  .circleci/config.yml
  apps/test-suite/TestUtils.js
  apps/test-suite/publish.sh
  apps/test-suite/screens/TestScreen.js
  apps/test-suite/tests/Basic.js
  apps/test-suite/tests/Basic2.js
  apps/test-suite/tests/FileSystem.js
  apps/test-suite/tests/Import2.js
  apps/test-suite/tests/Permissions.js
  apps/test-suite/tests/Recording.js
  apps/test-suite/tests/ScreenOrientation.js
  fastlane/Fastfile
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
Labels: in progress

#4022 [android][ci] Add turtle android tarball script
  .circleci/config.yml
  .gitignore
  buildAndroidTarballLocally.sh
Labels: in progress

#4017 Remove unused sideEffects.ts module
  packages/expo/src/sideEffects.ts
Labels: in progress

#3983 [image-picker][Android] Allow picking very large files (e.g. video 700MB)
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.java
Labels: in review

#4023 Updated react-native-reanimated to 1.0.1
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/ReanimatedModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/ReanimatedPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/nodes/OperatorNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/transitions/ChangeTransition.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/transitions/SaneSidePropagation.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/transitions/Scale.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/transitions/TransitionModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/transitions/TransitionUtils.java
  apps/jest-expo-mock-generator/App.js
  apps/native-component-list/src/navigation/ExpoComponents.ts
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/Reanimated/ReanimatedImagePreviewScreen.tsx
  apps/native-component-list/src/screens/Reanimated/ReanimatedProgressScreen.tsx
  apps/native-component-list/src/screens/Screens/index.tsx
  apps/test-suite/TestUtils.js
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  ios/Exponent/Versioned/Core/Api/Reanimated/Nodes/REAOperatorNode.m
  ios/Exponent/Versioned/Core/Api/Reanimated/REAModule.m
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/RCTConvert+REATransition.h
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/RCTConvert+REATransition.m
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REAAllTransitions.h
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REAAllTransitions.m
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransition.h
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransition.m
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransitionAnimation.h
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransitionAnimation.m
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransitionManager.h
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransitionManager.m
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransitionValues.h
  ios/Exponent/Versioned/Core/Api/Reanimated/Transitioning/REATransitionValues.m
  packages/expo/package.json
  packages/expo/src/Animated.ts
  packages/expo/src/Animated.web.ts
  packages/expo/src/DangerZone.ts
  packages/expo/src/Expo.ts
  packages/jest-expo/src/preset/expoModules.js
  yarn.lock
Labels: in progress

#4004 Add `expo install` support
  packages/expo/bundledNativeModules.json
  tools/gulpfile.js
  tools/package.json
  tools/publish-packages.js
  tools/update-vendored-native-module.js
  tools/yarn.lock
Labels: in progress

#4027 Update filesystem.md
  docs/pages/versions/unversioned/sdk/filesystem.md
  docs/pages/versions/v32.0.0/sdk/filesystem.md
Labels: in progress

#3958 Update camera.md
  docs/pages/versions/unversioned/sdk/camera.md
  docs/pages/versions/v32.0.0/sdk/camera.md
Labels: in progress

#3982 [image-manipulator][iOS] Enable reading every valid url
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: in review

#4025 [android] custom builds
  android/.gitignore
  android/app/build.gradle
  android/app/src/main/java/host/exp/exponent/MainApplication.java
  android/build.gradle
  android/expoview/build.gradle
  android/tools/build.gradle
  android/versioned-abis/expoview-abi26_0_0/build.gradle
  android/versioned-abis/expoview-abi27_0_0/build.gradle
  android/versioned-abis/expoview-abi28_0_0/build.gradle
  android/versioned-abis/expoview-abi29_0_0/build.gradle
  android/versioned-abis/expoview-abi30_0_0/build.gradle
  android/versioned-abis/expoview-abi31_0_0/build.gradle
  android/versioned-abis/expoview-abi32_0_0/build.gradle
  package.json
  packages/@unimodules/react-native-adapter/unimodule.json
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemPackage.java
  packages/expo-module-template/template-unimodule.json
  tools/android-tasks.js
  yarn.lock
Labels: in progress

#4066 [web] Removed logging side effects on web
  packages/expo/src/Expo.fx.web.ts
  packages/expo/src/environment/logging.fx.ts
  packages/expo/src/environment/muteWarnings.fx.ts
Labels: project: web

#4094 Moved Google up a level
  packages/expo/src/Expo.ts
  packages/expo/src/Google.ts
Labels: Google

#4092 [web] Removed RNGH shim
  packages/expo/src/DangerZone.ts
  packages/expo/src/Expo.ts
  packages/expo/src/GestureHandler.ts
  packages/expo/src/GestureHandler.web.ts
Labels: project: web

#4093 Removed unused `expo/src/effects`
  packages/expo/src/effects/BlurView.android.tsx
  packages/expo/src/effects/BlurView.d.ts
  packages/expo/src/effects/BlurView.ios.tsx
  packages/expo/src/effects/BlurView.web.tsx
Labels: BlurView

#4096 Removed unused Fingerprint module
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/src/LocalAuthentication.ts
  packages/expo/src/Fingerprint.ts
Labels: LocalAuthentication
