Repository expo/expo, pull requests merged in 2019-11, with the labels that each got.

#6191 [templates] Update vendored modules versions in templates
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-bare-minimum/yarn.lock
  templates/expo-template-bare-typescript/package.json
  templates/expo-template-bare-typescript/yarn.lock
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/yarn.lock
Labels: Launch-blocking

#6198 Add @react-native-community/viewpager
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/PageScrollEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/PageScrollStateChangedEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/PageSelectedEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/RNCViewPagerPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/ReactViewPager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/ReactViewPagerManager.java
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponents.ts
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/ViewPagerScreen.tsx
  docs/pages/versions/unversioned/sdk/view-pager.md
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/RCTConvert+UIPageViewControllerNavigationOrientation.h
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/RCTConvert+UIPageViewControllerNavigationOrientation.m
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/RCTConvert+UIPageViewControllerTransitionStyle.h
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/RCTConvert+UIPageViewControllerTransitionStyle.m
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/ReactNativePageView.h
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/ReactNativePageView.m
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/ReactViewPagerManager.h
  ios/Exponent/Versioned/Core/Api/Components/ViewPager/ReactViewPagerManager.m
  packages/expo/bundledNativeModules.json
  tools/expotools/src/commands/UpdateVendoredModule.ts
  yarn.lock
Labels: Launch-blocking

#6209 Add fast refresh "refreshing" UI on iOS
  apps/native-component-list/src/screens/ActionSheetScreen.tsx
  ios/Exponent/Versioned/Core/Internal/DevSupport/EXDisabledDevLoadingView.h
  ios/Exponent/Versioned/Core/Internal/DevSupport/EXDisabledDevLoadingView.m
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/environment/DevAppContainer.d.ts
  packages/expo/build/environment/DevAppContainer.js
  packages/expo/build/environment/DevAppContainer.js.map
  packages/expo/build/environment/DevLoadingView.d.ts
  packages/expo/build/environment/DevLoadingView.ios.d.ts
  packages/expo/build/environment/DevLoadingView.ios.js
  packages/expo/build/environment/DevLoadingView.ios.js.map
  packages/expo/build/environment/DevLoadingView.js
  packages/expo/build/environment/DevLoadingView.js.map
  packages/expo/package.json
  packages/expo/src/Expo.fx.ts
  packages/expo/src/environment/DevAppContainer.tsx
  packages/expo/src/environment/DevLoadingView.ios.tsx
  packages/expo/src/environment/DevLoadingView.ts
  packages/jest-expo/src/preset/internalExpoModules.js
Labels: Launch-blocking

#6207 [camera][web] Better browser support
  docs/pages/versions/unversioned/sdk/camera.md
  docs/pages/versions/v35.0.0/sdk/camera.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/CameraModule/CameraModule.d.ts
  packages/expo-camera/build/CameraModule/CameraModule.js
  packages/expo-camera/build/CameraModule/CameraModule.js.map
  packages/expo-camera/build/CameraModule/CameraUtils.d.ts
  packages/expo-camera/build/CameraModule/CameraUtils.js
  packages/expo-camera/build/CameraModule/CameraUtils.js.map
  packages/expo-camera/build/CameraModule/CapabilityUtils.d.ts
  packages/expo-camera/build/CameraModule/CapabilityUtils.js
  packages/expo-camera/build/CameraModule/CapabilityUtils.js.map
  packages/expo-camera/build/CameraModule/UserMediaManager.d.ts
  packages/expo-camera/build/CameraModule/UserMediaManager.js
  packages/expo-camera/build/CameraModule/UserMediaManager.js.map
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/build/ExponentCameraManager.d.ts
  packages/expo-camera/build/ExponentCameraManager.js.map
  packages/expo-camera/build/ExponentCameraManager.web.d.ts
  packages/expo-camera/build/ExponentCameraManager.web.js
  packages/expo-camera/build/ExponentCameraManager.web.js.map
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/CameraModule/CameraModule.ts
  packages/expo-camera/src/CameraModule/CameraUtils.ts
  packages/expo-camera/src/CameraModule/CapabilityUtils.ts
  packages/expo-camera/src/CameraModule/UserMediaManager.ts
  packages/expo-camera/src/ExponentCamera.web.tsx
  packages/expo-camera/src/ExponentCameraManager.ts
  packages/expo-camera/src/ExponentCameraManager.web.ts
  packages/expo-camera/src/types/image-capture.d.ts
Labels: Camera, Platform: web

#5909 [ios] configure XCode Project to conditionally build with GoogleService-Info.plist
  fastlane/Fastfile
  ios/Build-Phases/cp-bundle-resources-conditionally.sh
  ios/Build-Phases/generate-dynamic-macros.sh
  ios/Exponent.xcodeproj/project.pbxproj
Labels: Launch-blocking

#6162 [Android] Add support for react native appearance in Expo Client
  CHANGELOG.md
  android/app/build.gradle
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.java
  android/expoview/src/main/java/host/exp/exponent/utils/ExperienceActivityUtils.java
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/ExpoAppearanceModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/ExpoAppearancePackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/rncappearance/RNCAppearanceManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/rncappearance/RNCAppearanceModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/rncappearance/RNCAppearancePackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/rncappearance/RNCAppearanceProvider.java
  apps/native-component-list/package.json
  apps/sandbox/app.json
  docs/pages/versions/unversioned/sdk/appearance.md
  home/app.json
  home/package.json
  home/screens/ProfileScreen.js
  home/screens/UserSettingsScreen.js
  ios/Exponent/Kernel/Views/EXAppViewController.m
  packages/expo/bundledNativeModules.json
  tools/expotools/src/commands/UpdateVendoredModule.ts
  yarn.lock
Labels: Launch-blocking

#6195 [ios][store-review] Refactor isSupported to isAvailableSync
  CHANGELOG.md
  apps/native-component-list/src/screens/StoreReview.tsx
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/StoreReview.ios.js
  docs/pages/versions/unversioned/sdk/storereview.md
  packages/expo-store-review/build/ExpoStoreReview.web.d.ts
  packages/expo-store-review/build/ExpoStoreReview.web.js
  packages/expo-store-review/build/ExpoStoreReview.web.js.map
  packages/expo-store-review/build/StoreReview.d.ts
  packages/expo-store-review/build/StoreReview.js
  packages/expo-store-review/build/StoreReview.js.map
  packages/expo-store-review/ios/EXStoreReview/EXStoreReviewModule.m
  packages/expo-store-review/src/ExpoStoreReview.web.ts
  packages/expo-store-review/src/StoreReview.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: StoreReview

#6131 [et] Fix iOS versioning for React Native 0.61
  ios/Exponent/Versioned/Optional/Payments/TPSCardField.h
  ios/Exponent/Versioned/Optional/Payments/TPSCardField.m
  ios/Exponent/Versioned/Optional/Payments/TPSCardFieldManager.h
  ios/Exponent/Versioned/Optional/Payments/TPSCardFieldManager.m
  ios/Exponent/Versioned/Optional/Payments/TPSStripeManager.h
  ios/Exponent/Versioned/Optional/Payments/TPSStripeManager.m
  packages/@unimodules/react-native-adapter/ios/UMReactNativeAdapter.podspec
  tools/expotools/src/Constants.ts
  tools/expotools/src/Directories.ts
  tools/expotools/src/commands/AddSDKVersion.ts
  tools/expotools/src/commands/RemoveSDKVersion.ts
  tools/expotools/src/versioning/ios/index.ts
  tools/expotools/src/versioning/ios/postTransforms.ts
  tools/expotools/src/versioning/ios/transforms/index.ts
  tools/expotools/src/versioning/ios/transforms/injectMacros.ts
  tools/expotools/src/versioning/ios/transforms/podspecTransforms.ts
  tools/expotools/src/versioning/ios/transforms/postTransforms.ts
Labels: Launch-blocking

#6239 [docs] Created Gatsby guide
  docs/pages/versions/unversioned/guides/using-gatsby.md
Labels: Platform: web, project: docs

#6236 Update the Next.js docs
  docs/pages/versions/unversioned/guides/using-nextjs.md
Labels: Platform: web, project: docs

#6310 [web][docs] Moved deployment guide from expo/web-examples
  docs/pages/versions/unversioned/guides/deploying-websites.md
Labels: Platform: web, project: docs

#6313 [docs] Filter out Sentry events based on specific messages and limit 1 event of a particular message per user per day
  docs/pages/_app.js
Labels: project: docs

#4439 Update flatlist.md
  docs/pages/versions/v33.0.0/react-native/flatlist.md
Labels: project: docs

#4513 Update permissions.md
  docs/pages/versions/v33.0.0/sdk/permissions.md
Labels: project: docs

#4514 Update docs after command deprecation
  docs/pages/versions/unversioned/workflow/ios-simulator.md
  docs/pages/versions/v33.0.0/workflow/ios-simulator.md
Labels: project: docs

#6314 Added Next.js static image and font guides to the docs
  docs/pages/versions/unversioned/guides/using-nextjs.md
Labels: Platform: web, project: docs

#6344 [ios][sdk36] Add React-RCTCameraRoll to SDK36 codebase
  ios/Podfile.lock
  ios/Pods/.project_cache/installation_cache.yaml
  ios/Pods/.project_cache/metadata_cache.yaml
  ios/Pods/ABI36_0_0.xcodeproj/project.pbxproj
  ios/Pods/Headers/Private/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTAssetsLibraryRequestHandler.h
  ios/Pods/Headers/Private/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTCameraRollManager.h
  ios/Pods/Headers/Private/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTImagePickerManager.h
  ios/Pods/Headers/Private/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTPhotoLibraryImageLoader.h
  ios/Pods/Headers/Public/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTAssetsLibraryRequestHandler.h
  ios/Pods/Headers/Public/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTCameraRollManager.h
  ios/Pods/Headers/Public/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTImagePickerManager.h
  ios/Pods/Headers/Public/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React/ABI36_0_0RCTPhotoLibraryImageLoader.h
  ios/Pods/Local Podspecs/ABI36_0_0React-RCTCameraRoll.podspec.json
  ios/Pods/Manifest.lock
  ios/Pods/Pods.xcodeproj/project.pbxproj
  ios/Pods/Target Support Files/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React-RCTCameraRoll-dummy.m
  ios/Pods/Target Support Files/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React-RCTCameraRoll-prefix.pch
  ios/Pods/Target Support Files/ABI36_0_0React-RCTCameraRoll/ABI36_0_0React-RCTCameraRoll.xcconfig
  ios/Pods/Target Support Files/Pods-Exponent/Pods-Exponent.debug.xcconfig
  ios/Pods/Target Support Files/Pods-Exponent/Pods-Exponent.release.xcconfig
  ios/Pods/Target Support Files/Pods-ExponentIntegrationTests/Pods-ExponentIntegrationTests.debug.xcconfig
  ios/Pods/Target Support Files/Pods-ExponentIntegrationTests/Pods-ExponentIntegrationTests.release.xcconfig
  ios/Pods/Target Support Files/Pods-Tests/Pods-Tests.debug.xcconfig
  ios/Pods/Target Support Files/Pods-Tests/Pods-Tests.release.xcconfig
  ios/versioned-react-native/ABI36_0_0/ReactNative/Libraries/CameraRoll/ABI36_0_0React-RCTCameraRoll.podspec
  ios/versioned-react-native/ABI36_0_0/ReactNative/autolink-ios.rb
Labels: Launch-blocking

#6326 [expo-calendar] Reject when user provides an invalid time zone
  CHANGELOG.md
  apps/test-suite/tests/Calendar.js
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/ios/EXCalendar/EXCalendar.m
  packages/expo-calendar/src/Calendar.ts
Labels: Launch-blocking

#6303 [ImagePicker] Improve picking photos with unchanged quality
  CHANGELOG.md
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.java
Labels: Launch-blocking

#6300 [expo calendar] add support for complex recurrence rules
  CHANGELOG.md
  docs/pages/versions/unversioned/sdk/calendar.md
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/ios/EXCalendar/EXCalendar.m
  packages/expo-calendar/ios/EXCalendar/EXCalendarConverter.m
  packages/expo-calendar/src/Calendar.ts
Labels: Launch-blocking

#6240 Created electron guide
  docs/pages/versions/unversioned/guides/using-electron.md
Labels: Platform: web, project: docs

#6046 [expo-image-picker] Add option on iOS to change dimensions and compression algorithm for video
  CHANGELOG.md
  apps/test-suite/tests/ImagePicker.js
  docs/pages/versions/unversioned/sdk/imagepicker.md
  packages/expo-image-picker/build/ImagePicker.d.ts
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.js
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/EXImagePicker/EXImagePicker.m
  packages/expo-image-picker/src/ImagePicker/ImagePicker.ts
  packages/expo-image-picker/src/ImagePicker/ImagePicker.types.ts
Labels: Launch-blocking

#6368 [docs] Update 'Manually uploading your app' section with Transporter instructions
  docs/pages/versions/unversioned/distribution/uploading-apps.md
  docs/pages/versions/v33.0.0/distribution/uploading-apps.md
  docs/pages/versions/v34.0.0/distribution/uploading-apps.md
  docs/pages/versions/v35.0.0/distribution/uploading-apps.md
Labels: project: docs

#6391 [expotools] Remove unused variable after 5c0756c2
  tools/expotools/src/versioning/android/index.ts
Labels: project: internal-tools

#6367 [android][expo-file-system] migrate files from scoped dir, provide method to delete legacy dir
  CHANGELOG.md
  android/expoview/src/main/java/host/exp/exponent/utils/ScopedContext.java
  docs/pages/versions/unversioned/sdk/filesystem.md
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/src/FileSystem.ts
Labels: Launch-blocking

#6396 [docs][web] Added information about polyfilling ResizeObserver in the docs
  docs/pages/versions/unversioned/guides/customizing-webpack.md
Labels: Platform: web, project: docs

#6405 [docs][next.js] Updated guide for using Next.js
  docs/pages/versions/unversioned/guides/using-nextjs.md
Labels: Platform: web, project: docs
