Repository expo/expo, pull requests merged in 2019-10, with the labels that each got.

#5865 Enable babel-preset-expo to work without expo/vector-icons installed
  apps/bare-expo/package.json
  apps/expo-payments/package.json
  apps/native-component-list/package.json
  apps/sandbox/package.json
  packages/@unimodules/react-native-adapter/package.json
  packages/babel-preset-expo/index.js
  packages/babel-preset-expo/package.json
  packages/expo-analytics-segment/package.json
  packages/expo-app-auth/package.json
  packages/expo-app-loader-provider/package.json
  packages/expo-av/package.json
  packages/expo-gl/package.json
  packages/expo-google-app-auth/package.json
  packages/expo-module-scripts/package.json
  packages/expo-print/package.json
  packages/expo-sensors/package.json
  packages/expo/package.json
  packages/jest-expo-enzyme/package.json
  templates/expo-template-bare-typescript/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Labels: vector-icons

#5843 Fix LinearGradient colors on web
  packages/expo-linear-gradient/build/LinearGradient.js
  packages/expo-linear-gradient/build/LinearGradient.js.map
  packages/expo-linear-gradient/src/LinearGradient.tsx
  packages/expo-linear-gradient/src/__tests__/LinearGradient-test.web.tsx
  packages/expo-linear-gradient/src/__tests__/__snapshots__/LinearGradient-test.web.tsx.snap.web
Labels: LinearGradient, bug, project: web

#5766 [tests] Stub out `console._errorOriginal` in the proxy, used by RN
  apps/bare-expo/e2e/setup/setupSockets.js
Labels: Detox

#5913 Fix React-Native Web screen orientation crashing on Edge
  packages/expo/build/ScreenOrientation/ExpoScreenOrientation.web.js
  packages/expo/build/ScreenOrientation/ExpoScreenOrientation.web.js.map
  packages/expo/src/ScreenOrientation/ExpoScreenOrientation.web.ts
Labels: project: web

#5389 [iOS][expo-sms][E2E] Added test suite tests for SMS
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/SMS.ios.js
  apps/test-suite/tests/SMS.js
  apps/test-suite/tests/SMS.web.js
  apps/test-suite/utils/Environment.js
  packages/expo-sms/build/ExpoSMS.web.d.ts
  packages/expo-sms/build/ExpoSMS.web.js
  packages/expo-sms/build/ExpoSMS.web.js.map
  packages/expo-sms/build/SMS.d.ts
  packages/expo-sms/build/SMS.js
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/build/SMS.types.d.ts
  packages/expo-sms/build/SMS.types.js
  packages/expo-sms/build/SMS.types.js.map
  packages/expo-sms/ios/EXSMS/EXSMSModule.m
  packages/expo-sms/src/ExpoSMS.web.ts
  packages/expo-sms/src/SMS.ts
  packages/expo-sms/src/SMS.types.ts
Labels: Detox, SMS

#5915 [E2E] Added ImagePicker tests
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/ImagePicker.js
Labels: Detox, ImagePicker

#5960 [web] Removed error thrown in constants when expo is missing
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/ExponentConstants.web.ts
Labels: Constants, Platform: web

#5904 [file-system] Allow reading file without defined schema
  CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: FileSystem

#4977 [web][font] Make expo-font more agnostic on web
  packages/expo-font/build/ExpoFontLoader.web.d.ts
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/Font.types.d.ts
  packages/expo-font/build/Font.types.js
  packages/expo-font/build/Font.types.js.map
  packages/expo-font/build/FontLoader.d.ts
  packages/expo-font/build/FontLoader.js
  packages/expo-font/build/FontLoader.js.map
  packages/expo-font/build/FontLoader.web.d.ts
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
  packages/expo-font/src/Font.ts
  packages/expo-font/src/Font.types.ts
  packages/expo-font/src/FontLoader.ts
  packages/expo-font/src/FontLoader.web.ts
Labels: Font, Platform: web

#6007 [screen-orientation] Removed deprecated methods
  packages/expo/build/ScreenOrientation/ScreenOrientation.d.ts
  packages/expo/build/ScreenOrientation/ScreenOrientation.js
  packages/expo/build/ScreenOrientation/ScreenOrientation.js.map
  packages/expo/src/ScreenOrientation/ScreenOrientation.ts
Labels: ScreenOrientation

#6008 Use registerRootComponent directly
  packages/expo/AppEntry.js
Labels: Platform: web

#6006 [expo-keep-awake] Removed deprecated methods and components
  packages/expo-keep-awake/build/ExpoKeepAwake.web.d.ts
  packages/expo-keep-awake/build/ExpoKeepAwake.web.js
  packages/expo-keep-awake/build/ExpoKeepAwake.web.js.map
  packages/expo-keep-awake/build/index.d.ts
  packages/expo-keep-awake/build/index.js
  packages/expo-keep-awake/build/index.js.map
  packages/expo-keep-awake/src/ExpoKeepAwake.web.ts
  packages/expo-keep-awake/src/index.ts
Labels: KeepAwake

#5961 [web] Disable font face observer on (pre-Chromium) MS Edge
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
Labels: Font, Platform: web

#5932 [expo-ads-facebook] Do not autoregister device
  packages/expo-ads-facebook/build/AdSettings.js
  packages/expo-ads-facebook/build/AdSettings.js.map
  packages/expo-ads-facebook/ios/EXAdsFacebook/EXAdSettingsManager.m
  packages/expo-ads-facebook/src/AdSettings.ts
Labels: FacebookAds

#6078 Split platform scripts
  apps/bare-expo/scripts/setup-android-project.sh
  apps/bare-expo/scripts/setup-ios-project.sh
  apps/bare-expo/scripts/start-emulator.sh
  apps/bare-expo/scripts/start-simulator.sh
Labels: Detox

#6079 Disable homebrew auto commands in CI
  .circleci/config.yml
Labels: Detox

#6080 Disable the iOS detox test while we wait for RN 61 support to land upstream
  .circleci/config.yml
Labels: Detox

#6094 [babel-preset-expo] Updated docs
  packages/babel-preset-expo/README.md
Labels: Platform: web

#6117 Pause preview before unmounting camera
  packages/expo-camera/build/CameraModule/CameraModule.js
  packages/expo-camera/build/CameraModule/CameraModule.js.map
  packages/expo-camera/src/CameraModule/CameraModule.ts
Labels: Camera, Platform: web

#6115 Added more options for getAsync permissions on web
  packages/expo-permissions/build/ExpoPermissions.web.js
  packages/expo-permissions/build/ExpoPermissions.web.js.map
  packages/expo-permissions/src/ExpoPermissions.web.ts
Labels: Permissions, Platform: web
