Repository expo/expo, pull requests merged in 2019-01, with the labels that each got.

#3037 [asset] Add tests + TypeScript for expo-asset
  .circleci/config.yml
  packages/expo-asset/babel.config.js
  packages/expo-asset/build/Asset.d.ts
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/build/AssetSources.d.ts
  packages/expo-asset/build/AssetSources.js
  packages/expo-asset/build/AssetSources.js.map
  packages/expo-asset/build/AssetUris.d.ts
  packages/expo-asset/build/AssetUris.js
  packages/expo-asset/build/AssetUris.js.map
  packages/expo-asset/build/EmbeddedAssets.d.ts
  packages/expo-asset/build/EmbeddedAssets.js
  packages/expo-asset/build/EmbeddedAssets.js.map
  packages/expo-asset/build/ImageAssets.d.ts
  packages/expo-asset/build/ImageAssets.js
  packages/expo-asset/build/ImageAssets.js.map
  packages/expo-asset/index.js
  packages/expo-asset/package.json
  packages/expo-asset/src/Asset.js
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/AssetSources.ts
  packages/expo-asset/src/AssetUris.ts
  packages/expo-asset/src/EmbeddedAssets.ts
  packages/expo-asset/src/ImageAssets.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
  packages/expo-asset/src/__tests__/AssetSources-test.ts
  packages/expo-asset/src/__tests__/AssetUris-test.ts
  packages/expo-asset/src/__tests__/EmbeddedAssets-test.ts
  packages/expo-asset/src/__tests__/ImageAssets-test.ts
  packages/expo-asset/src/ts-declarations/path-browserify.d.ts
  packages/expo-asset/src/ts-declarations/react-native-assets.d.ts
  packages/expo-asset/tsconfig.json
  packages/expo-module-scripts/jest-preset.js
  packages/expo/src/Expo.ts
  packages/expo/src/av/Video.tsx
  yarn.lock
Labels: in progress

#3075 [Web] Updated Location module for TestSuite
  packages/expo-location/build/ExpoLocation.web.d.ts
  packages/expo-location/build/ExpoLocation.web.js
  packages/expo-location/build/ExpoLocation.web.js.map
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/src/ExpoLocation.web.ts
  packages/expo-location/src/Location.ts
Labels: project: web

#3159 [Android] Fix ImagePicker flow while prior to sdk32
  CHANGELOG.md
  android/expoview/src/main/java/host/exp/expoview/Exponent.java
  android/versioned-abis/expoview-abi26_0_0/src/main/java/abi26_0_0/host/exp/exponent/ExponentPackage.java
  android/versioned-abis/expoview-abi27_0_0/src/main/java/abi27_0_0/host/exp/exponent/ExponentPackage.java
  android/versioned-abis/expoview-abi28_0_0/src/main/java/abi28_0_0/host/exp/exponent/ExponentPackage.java
  android/versioned-abis/expoview-abi29_0_0/src/main/java/abi29_0_0/host/exp/exponent/ExponentPackage.java
  android/versioned-abis/expoview-abi30_0_0/src/main/java/abi30_0_0/host/exp/exponent/ExponentPackage.java
  android/versioned-abis/expoview-abi31_0_0/src/main/java/abi31_0_0/host/exp/exponent/ExponentPackage.java
Labels: in review

#3169 [docs] add iOS ExpoKit upgrade steps for SDK 32
  docs/versions/unversioned/expokit/expokit.md
Labels: project: docs

#3173 [ios] fix WebView navigation scheme
  ios/versioned-react-native/ABI32_0_0/React/Views/ABI32_0_0RCTWebView.m
Labels: project: ios-runtime

#3194 [home][ios] add diagnostics screen with background location demos
  home/navigation/Navigation.js
  home/screens/BackgroundLocationScreen.js
  home/screens/DiagnosticsScreen.js
  home/screens/GeofencingScreen.js
  home/screens/ProfileScreen.js
  ios/Client/EXHomeAppManager.m
  ios/Exponent/Kernel/Core/EXKernel.m
Labels: in progress, project: home

#3072 [Web] Added Linking
  apps/native-component-list/navigation/ExpoApisStackNavigator.js
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/LinkingScreen.js
  packages/expo/src/AuthSession.ts
  packages/expo/src/Expo.ts
  packages/expo/src/Linking/Linking.ts
  packages/expo/src/Linking/Linking.types.ts
  packages/expo/src/Linking/LinkingModule.ts
  packages/expo/src/Linking/LinkingModule.web.ts
Labels: project: web

#3121 [Web] ImagePicker
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/ImagePickerScreen.js
  packages/expo/src/ImagePicker/ExponentImagePicker.ts
  packages/expo/src/ImagePicker/ExponentImagePicker.web.ts
  packages/expo/src/ImagePicker/ImagePicker.ts
  packages/expo/src/ImagePicker/ImagePicker.types.ts
Labels: project: web

#3119 [Web] DocumentPicker
  apps/native-component-list/navigation/ExpoApisStackNavigator.js
  packages/expo/src/DocumentPicker.ts
  packages/expo/src/DocumentPicker/DocumentPicker.ts
  packages/expo/src/DocumentPicker/DocumentPicker.types.ts
  packages/expo/src/DocumentPicker/ExponentDocumentPicker.ts
  packages/expo/src/DocumentPicker/ExponentDocumentPicker.web.ts
  packages/expo/src/Expo.ts
Labels: project: web

#3232 [android] update react-native-screens to 1.0.0-alpha.22
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenContainer.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/host/exp/exponent/modules/api/screens/ScreenContainer.java
Labels: in progress

#3231 [ncl] Add Audio and Recording screens
  apps/native-component-list/assets/sounds/polonez.mp3
  apps/native-component-list/navigation/ExpoApisStackNavigator.js
  apps/native-component-list/screens/AV/AudioModeSelector.android.js
  apps/native-component-list/screens/AV/AudioModeSelector.ios.js
  apps/native-component-list/screens/AV/AudioModeSelector.web.js
  apps/native-component-list/screens/AV/AudioScreen.js
  apps/native-component-list/screens/AV/Player.js
  apps/native-component-list/screens/AV/Recorder.js
  apps/native-component-list/screens/AV/RecordingScreen.js
  apps/native-component-list/screens/ExpoApisScreen.js
Labels: in progress

#2966 [Web] GLView
  apps/native-component-list/screens/GL/ExpoTHREE.js
  apps/native-component-list/screens/GL/ExpoTHREE.web.js
  apps/native-component-list/screens/GL/GLScreen.js
  apps/native-component-list/screens/GL/GLScreens.js
  apps/native-component-list/screens/GL/GLSnapshotsScreen.js
  packages/expo-gl/src/GLView.js
  packages/expo-gl/src/GLView.types.js
  packages/expo-gl/src/GLView.web.js
Labels: in progress, project: web

#3201 updated NCL webpack config
  apps/native-component-list/package.json
  apps/native-component-list/webpack.config.js
Labels: in progress, project: web

#3241 [ncl] AV upgrade
  apps/native-component-list/navigation/ExpoComponentsStackNavigator.js
  apps/native-component-list/screens/AV/AudioPlayer.js
  apps/native-component-list/screens/AV/AudioScreen.js
  apps/native-component-list/screens/AV/Player.js
  apps/native-component-list/screens/AV/Recorder.js
  apps/native-component-list/screens/AV/VideoPlayer.js
  apps/native-component-list/screens/AV/VideoScreen.js
  apps/native-component-list/screens/VideoScreen.js
Labels: in progress

#3264 [expo-localization] Updated readme
  packages/expo-localization/README.md
Labels: in progress

#3263 [expo-app-auth][iOS] Fix refresh key
  packages/expo-app-auth/ios/EXAppAuth/EXAppAuth+JSON.m
  packages/expo-app-auth/ios/EXAppAuth/EXAppAuth.m
Labels: in progress

#3123 [Web] MapView
  apps/native-component-list/web/index.html
  packages/expo/package.json
  packages/expo/src/Expo.ts
  packages/expo/src/Maps/MapView.ts
  packages/expo/src/Maps/MapView.web.tsx
  packages/expo/src/Maps/Marker.tsx
  yarn.lock
Labels: project: web

#3271 Add missing expo packages
  android/app/src/main/java/host/exp/exponent/MainApplication.java
Labels: in progress

#3188 Fix casting error in expo-print
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.java
Labels: in progress

#3257 [expo-sensors] Added isAvailable method to all sensors
  docs/versions/unversioned/sdk/accelerometer.md
  docs/versions/unversioned/sdk/devicemotion.md
  docs/versions/unversioned/sdk/gyroscope.md
  docs/versions/unversioned/sdk/magnetometer.md
  docs/versions/unversioned/sdk/pedometer.md
  ios/Exponent/Kernel/Services/EXSensorManager.m
  ios/Exponent/Versioned/Core/UniversalModules/EXSensorsManagerBinding.h
  ios/Exponent/Versioned/Core/UniversalModules/EXSensorsManagerBinding.m
  packages/expo-sensors-interface/android/src/main/java/expo/interfaces/sensors/SensorServiceSubscription.java
  packages/expo-sensors-interface/ios/EXSensorsInterface/EXAccelerometerInterface.h
  packages/expo-sensors-interface/ios/EXSensorsInterface/EXDeviceMotionInterface.h
  packages/expo-sensors-interface/ios/EXSensorsInterface/EXGyroscopeInterface.h
  packages/expo-sensors-interface/ios/EXSensorsInterface/EXMagnetometerInterface.h
  packages/expo-sensors-interface/ios/EXSensorsInterface/EXMagnetometerUncalibratedInterface.h
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/AccelerometerModule.java
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.java
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/GyroscopeModule.java
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/MagnetometerModule.java
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/MagnetometerUncalibratedModule.java
  packages/expo-sensors/build/DeviceSensor.d.ts
  packages/expo-sensors/build/DeviceSensor.js
  packages/expo-sensors/build/DeviceSensor.js.map
  packages/expo-sensors/ios/EXSensors/EXSensorsManager.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXAccelerometer.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXBaseSensorModule.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXDeviceMotion.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXGyroscope.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXMagnetometer.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXMagnetometerUncalibrated.m
  packages/expo-sensors/src/DeviceSensor.ts
  packages/jest-expo/src/expoModules.js
Labels: in progress

#3272 install platforms;android-28 and build-tools;28.0.3 to fix the license issue
  android/shell.nix
Labels: in progress

#3280 [docs] remove CI configuration file examples from docs
  docs/versions/unversioned/distribution/turtle-cli.md
  docs/versions/v32.0.0/distribution/turtle-cli.md
Labels: in progress

#3275 [ios] add super calls to template AppDelegate.m
  docs/versions/unversioned/expokit/expokit.md
  docs/versions/v32.0.0/expokit/expokit.md
  exponent-view-template/ios/exponent-view-template/AppDelegate.m
Labels: in progress, project: expokit

#3289 [web][NCL] AV import fix
  apps/native-component-list/navigation/ExpoComponentsStackNavigator.web.js
  apps/native-component-list/webpack.config.js
Labels: Bug, in progress, project: web

#3060 [expo-module-template] Create new typescript ready universal module template
  docs/versions/unversioned/workflow/expo-cli.md
  guides/Expo Universal Module Infrastructure.md
  packages/expo-module-template/README.md
  packages/expo-module-template/android/build.gradle
  packages/expo-module-template/android/src/main/AndroidManifest.xml
  packages/expo-module-template/android/src/main/java/expo/module/template/ModuleTemplateModule.java
  packages/expo-module-template/android/src/main/java/expo/module/template/ModuleTemplatePackage.java
  packages/expo-module-template/android/src/main/java/expo/module/template/ModuleTemplateView.java
  packages/expo-module-template/android/src/main/java/expo/module/template/ModuleTemplateViewManager.java
  packages/expo-module-template/babel.config.js
  packages/expo-module-template/index.js
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplate.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplate.m
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateModule.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateModule.m
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateView.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateView.m
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateViewManager.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateViewManager.m
  packages/expo-module-template/package.json
  packages/expo-module-template/src/ExpoModuleTemplateView.tsx
  packages/expo-module-template/src/index.ts
  packages/expo-module-template/tsconfig.json
Labels: in progress

#3314 [nix] Upgrade expo-cli to 2.7.0
  nix/nodepackages/node-packages.nix
Labels: in progress

#3281 [android][ios][ts][docs][ncl] implement background fetch on Android
  CHANGELOG.md
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/expo/modules/taskManager/TaskManagerUtils.java
  android/versioned-abis/expoview-abi32_0_0/src/main/java/abi32_0_0/expo/modules/taskManager/TaskService.java
  apps/native-component-list/package.json
  apps/native-component-list/screens/BackgroundFetchScreen.js
  docs/versions/unversioned/sdk/background-fetch.md
  packages/expo-background-fetch/android/build.gradle
  packages/expo-background-fetch/android/src/main/AndroidManifest.xml
  packages/expo-background-fetch/android/src/main/java/expo/modules/backgroundfetch/BackgroundFetchModule.java
  packages/expo-background-fetch/android/src/main/java/expo/modules/backgroundfetch/BackgroundFetchTaskConsumer.java
  packages/expo-background-fetch/build/BackgroundFetch.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.js
  packages/expo-background-fetch/build/BackgroundFetch.js.map
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetch.m
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetchTaskConsumer.m
  packages/expo-background-fetch/src/BackgroundFetch.ts
  packages/expo-task-manager-interface/android/src/main/java/expo/interfaces/taskManager/TaskConsumer.java
  packages/expo-task-manager-interface/android/src/main/java/expo/interfaces/taskManager/TaskConsumerInterface.java
  packages/expo-task-manager-interface/android/src/main/java/expo/interfaces/taskManager/TaskManagerUtilsInterface.java
  packages/expo-task-manager-interface/android/src/main/java/expo/interfaces/taskManager/TaskServiceInterface.java
  packages/expo-task-manager/android/src/main/AndroidManifest.xml
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/TaskManagerInternalModule.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/TaskManagerUtils.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/TaskService.java
  yarn.lock
Labels: in progress

#3305 [expo-file-system] Register EXFilePermissionModule in the module registry
  packages/expo-file-system/ios/EXFileSystem/EXFilePermissionModule.h
  packages/expo-file-system/ios/EXFileSystem/EXFilePermissionModule.m
Labels: in progress

#3327 [docs] Generate navigation data with babel preval
  docs/.babelrc
  docs/.gitignore
  docs/common/navigation-data.js
  docs/common/navigation.js
  docs/common/sidebar-navigation-order.js
  docs/common/versions.js
  docs/components/DocumentationPage.js
  docs/generated/.gitkeep
  docs/mdjs/index.js
  docs/package.json
  docs/yarn.lock
Labels: in progress

#3328 [tests] Move mocking functions into jest-expo so that unimodules can use them
  packages/expo/src/__tests__/Amplitude-test.ts
  packages/expo/src/__tests__/AuthSession-test.ts
  packages/expo/src/__tests__/ErrorRecovery-test.ts
  packages/expo/src/__tests__/Location-test.ts
  packages/expo/src/__tests__/Notifications-test.ts
  packages/expo/src/__tests__/Segment-test.ts
  packages/expo/src/__tests__/WebBrowser-test.ts
  packages/expo/src/environment/__tests__/validate-test.ts
  packages/jest-expo/jest-preset.json
  packages/jest-expo/package.json
  packages/jest-expo/src/index.js
  packages/jest-expo/src/preset/assetFileTransformer.js
  packages/jest-expo/src/preset/createMockConstants.js
  packages/jest-expo/src/preset/expoModules.js
  packages/jest-expo/src/preset/internalExpoModules.js
  packages/jest-expo/src/preset/setup.js
Labels: in progress

#3273 [android][ios][ts][docs] Refactor Location's getCurrentPositionAsync and watchPositionAsync
  CHANGELOG.md
  apps/test-suite/tests/Location.js
  docs/versions/unversioned/sdk/location.md
  ios/Exponent.xcodeproj/xcshareddata/xcschemes/Exponent.xcscheme
  packages/expo-core/android/src/main/java/expo/core/Promise.java
  packages/expo-core/android/src/main/java/expo/core/interfaces/CodedThrowable.java
  packages/expo-core/android/src/main/java/expo/core/interfaces/services/UIManager.java
  packages/expo-errors/android/src/main/java/expo/errors/CodedException.java
  packages/expo-errors/android/src/main/java/expo/errors/CodedRuntimeException.java
  packages/expo-location/android/build.gradle
  packages/expo-location/android/src/main/java/expo/modules/location/LocationActivityResultListener.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationHelpers.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationRequestCallbacks.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationRequestRejectedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationRequestTimeoutException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationSettingsUnsatisfiedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationUnauthorizedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationUnavailableException.java
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/LocationTaskConsumer.java
  packages/expo-location/build/ExpoLocation.web.js
  packages/expo-location/build/ExpoLocation.web.js.map
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/ios/EXLocation/EXLocation.m
  packages/expo-location/src/ExpoLocation.web.ts
  packages/expo-location/src/Location.ts
  packages/expo-react-native-adapter/android/src/main/java/expo/adapters/react/services/UIManagerModuleWrapper.java
  packages/expo/src/__tests__/Location-test.ts
Labels: in progress

#2408 [sdk] Brightness module audit
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/BrightnessModule.java
  apps/test-suite/tests/Brightness.js
  docs/versions/unversioned/sdk/brightness.md
  ios/Exponent/Versioned/Core/Api/EXBrightness.m
  packages/expo-core/android/src/main/java/expo/core/InvalidArgumentException.java
  packages/expo/src/Brightness.ts
  packages/expo/src/__tests__/Brightness-test.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: in progress, project: sdk

#3293 [web] Added web support to `babel-preset-expo`
  apps/native-component-list/babel.config.js
  apps/native-component-list/package.json
  packages/babel-preset-expo/index.js
  packages/babel-preset-expo/package.json
Labels: in progress, project: web

#3262 [Haptic] Fixed Haptic errors
  packages/expo/src/Haptic/ExponentHaptic.ts
  packages/expo/src/Haptic/Haptic.ts
  packages/expo/src/__tests__/Haptic-test.ts
  packages/jest-expo/src/index.js
Labels: Bug, in progress

#3291 [web] Updated ExponentConstants.web
  apps/native-component-list/webpack.config.js
  packages/expo-constants/build/ExponentConstants.web.d.ts
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/package.json
  packages/expo-constants/src/ExponentConstants.web.ts
  yarn.lock
Labels: Constants, in progress, project: web

#2963 [Web] Camera
  apps/native-component-list/screens/Camera/CameraScreen.js
  docs/versions/unversioned/sdk/map-view.md
  packages/expo-barcode-scanner/src/BarCodeScanner.web.js
  packages/expo-camera/README.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/CameraModule/CameraModule.d.ts
  packages/expo-camera/build/CameraModule/CameraModule.js
  packages/expo-camera/build/CameraModule/CameraModule.js.map
  packages/expo-camera/build/CameraModule/CameraModule.types.d.ts
  packages/expo-camera/build/CameraModule/CameraModule.types.js
  packages/expo-camera/build/CameraModule/CameraModule.types.js.map
  packages/expo-camera/build/CameraModule/CameraUtils.d.ts
  packages/expo-camera/build/CameraModule/CameraUtils.js
  packages/expo-camera/build/CameraModule/CameraUtils.js.map
  packages/expo-camera/build/CameraModule/CapabilityUtils.d.ts
  packages/expo-camera/build/CameraModule/CapabilityUtils.js
  packages/expo-camera/build/CameraModule/CapabilityUtils.js.map
  packages/expo-camera/build/CameraModule/constants.d.ts
  packages/expo-camera/build/CameraModule/constants.js
  packages/expo-camera/build/CameraModule/constants.js.map
  packages/expo-camera/build/ExponentCamera.d.ts
  packages/expo-camera/build/ExponentCamera.js
  packages/expo-camera/build/ExponentCamera.js.map
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/build/ExponentCameraManager.d.ts
  packages/expo-camera/build/ExponentCameraManager.js
  packages/expo-camera/build/ExponentCameraManager.js.map
  packages/expo-camera/build/ExponentCameraManager.web.d.ts
  packages/expo-camera/build/ExponentCameraManager.web.js
  packages/expo-camera/build/ExponentCameraManager.web.js.map
  packages/expo-camera/package.json
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/CameraModule/CameraModule.ts
  packages/expo-camera/src/CameraModule/CameraModule.types.ts
  packages/expo-camera/src/CameraModule/CameraUtils.ts
  packages/expo-camera/src/CameraModule/CapabilityUtils.ts
  packages/expo-camera/src/CameraModule/constants.ts
  packages/expo-camera/src/ExponentCamera.ts
  packages/expo-camera/src/ExponentCamera.web.tsx
  packages/expo-camera/src/ExponentCameraManager.ts
  packages/expo-camera/src/ExponentCameraManager.web.ts
Labels: in progress, project: web

#3342 [web] expo-react-native-adapter
  packages/expo-react-native-adapter/build/NativeModulesProxy.web.d.ts
  packages/expo-react-native-adapter/build/NativeModulesProxy.web.js
  packages/expo-react-native-adapter/build/NativeModulesProxy.web.js.map
  packages/expo-react-native-adapter/src/NativeModulesProxy.web.ts
Labels: in progress, project: web

#2962 [Web] Video
  apps/native-component-list/screens/AV/Player.js
  packages/expo-av/build/AV.js
  packages/expo-av/build/AV.js.map
  packages/expo-av/build/Audio.js
  packages/expo-av/build/Audio.js.map
  packages/expo-av/build/Audio/AudioAvailability.js
  packages/expo-av/build/Audio/AudioAvailability.js.map
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/build/ExpoVideoManager.d.ts
  packages/expo-av/build/ExpoVideoManager.js
  packages/expo-av/build/ExpoVideoManager.js.map
  packages/expo-av/build/ExpoVideoManager.web.d.ts
  packages/expo-av/build/ExpoVideoManager.web.js
  packages/expo-av/build/ExpoVideoManager.web.js.map
  packages/expo-av/build/ExponentAV.d.ts
  packages/expo-av/build/ExponentAV.js
  packages/expo-av/build/ExponentAV.js.map
  packages/expo-av/build/ExponentAV.web.d.ts
  packages/expo-av/build/ExponentAV.web.js
  packages/expo-av/build/ExponentAV.web.js.map
  packages/expo-av/build/ExponentVideo.d.ts
  packages/expo-av/build/ExponentVideo.js
  packages/expo-av/build/ExponentVideo.js.map
  packages/expo-av/build/ExponentVideo.web.d.ts
  packages/expo-av/build/ExponentVideo.web.js
  packages/expo-av/build/ExponentVideo.web.js.map
  packages/expo-av/build/Video.d.ts
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/build/Video.types.d.ts
  packages/expo-av/build/Video.types.js
  packages/expo-av/build/Video.types.js.map
  packages/expo-av/build/Video.web.d.ts
  packages/expo-av/build/Video.web.js
  packages/expo-av/build/Video.web.js.map
  packages/expo-av/src/AV.ts
  packages/expo-av/src/Audio.ts
  packages/expo-av/src/Audio/AudioAvailability.ts
  packages/expo-av/src/Audio/Recording.ts
  packages/expo-av/src/Audio/Sound.ts
  packages/expo-av/src/ExpoVideoManager.ts
  packages/expo-av/src/ExpoVideoManager.web.ts
  packages/expo-av/src/ExponentAV.ts
  packages/expo-av/src/ExponentAV.web.ts
  packages/expo-av/src/ExponentVideo.tsx
  packages/expo-av/src/ExponentVideo.web.tsx
  packages/expo-av/src/Video.tsx
  packages/expo-av/src/Video.types.ts
  packages/expo-av/src/Video.web.tsx
Labels: in progress, project: web

#3354 [Web] Linear Gradient fixed style bug
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
Labels: Bug, LinearGradient, in progress, project: web

#3363 Moved location and constants tests to unimodules
  packages/expo-constants/src/__tests__/Constants-test.ts
  packages/expo-location/package.json
  packages/expo-location/src/__tests__/Location-test.ts
Labels: Constants, Location, in progress

#3341 Added types to Constants
  packages/expo-constants/build/Constants.d.ts
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/build/ExponentConstants.web.d.ts
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/ios/EXConstants/EXConstants.m
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/ExponentConstants.web.ts
  packages/expo/src/AR.ts
  packages/expo/src/StoreReview/StoreReview.ts
  packages/expo/src/logs/RemoteLogging.ts
  packages/expo/src/logs/__tests__/LogSerialization-test.tsx
Labels: Constants, TypeScript, in progress, project: web

#3225 [docs] update 'expo build:ios' docs
  docs/pages/versions/unversioned/distribution/building-standalone-apps.md
  docs/pages/versions/v32.0.0/distribution/building-standalone-apps.md
Labels: in progress

#3297 [web] Resolving all redirected modules to `expo`
  apps/native-component-list/components/CannyFooter.js
  apps/native-component-list/screens/Contacts/ContactDetailScreen.js
  apps/native-component-list/screens/LinkingScreen.js
  apps/native-component-list/webpack.config.js
  packages/expo/src/web/Image/AssetSourceResolver.ts
  packages/expo/src/web/Image/assetPathUtils.ts
  packages/expo/src/web/Image/resolveAssetSource.ts
  packages/expo/src/web/Network/RCTNetworking.ts
  packages/expo/src/web/Utilities/HMRLoadingView.ts
  packages/expo/src/web/Utilities/Platform.ts
Labels: in progress, project: web

#3371 [docs] add a page on app transfers
  docs/common/sidebar-navigation-order.js
  docs/pages/versions/unversioned/distribution/app-transfers.md
  docs/pages/versions/v30.0.0/distribution/app-transfers.md
  docs/pages/versions/v31.0.0/distribution/app-transfers.md
  docs/pages/versions/v32.0.0/distribution/app-transfers.md
Labels: in progress

#3340 [TypeScript] FileSystem migration
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/EmbeddedAssets.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
  packages/expo-asset/src/__tests__/EmbeddedAssets-test.ts
  packages/expo-file-system/.npmignore
  packages/expo-file-system/README.md
  packages/expo-file-system/babel.config.js
  packages/expo-file-system/build/ExponentFileSystem.d.ts
  packages/expo-file-system/build/ExponentFileSystem.js
  packages/expo-file-system/build/ExponentFileSystem.js.map
  packages/expo-file-system/build/ExponentFileSystem.web.d.ts
  packages/expo-file-system/build/ExponentFileSystem.web.js
  packages/expo-file-system/build/ExponentFileSystem.web.js.map
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/build/FileSystem.types.d.ts
  packages/expo-file-system/build/FileSystem.types.js
  packages/expo-file-system/build/FileSystem.types.js.map
  packages/expo-file-system/build/index.d.ts
  packages/expo-file-system/build/index.js
  packages/expo-file-system/build/index.js.map
  packages/expo-file-system/index.js
  packages/expo-file-system/package.json
  packages/expo-file-system/src/ExponentFileSystem.ts
  packages/expo-file-system/src/ExponentFileSystem.web.js
  packages/expo-file-system/src/ExponentFileSystem.web.ts
  packages/expo-file-system/src/FileSystem.js
  packages/expo-file-system/src/FileSystem.ts
  packages/expo-file-system/src/FileSystem.types.ts
  packages/expo-file-system/src/__tests__/FileSystem-test.ts
  packages/expo-file-system/src/index.ts
  packages/expo-file-system/tsconfig.json
  packages/expo/src/Expo.ts
Labels: FileSystem, TypeScript, in progress

#3369 Added Action Sheet example
  apps/native-component-list/components/ShowActionSheetButton.js
  apps/native-component-list/navigation/ExpoApisStackNavigator.js
  apps/native-component-list/package.json
  apps/native-component-list/screens/ActionSheetScreen.js
  apps/native-component-list/screens/ExpoApisScreen.js
  yarn.lock
Labels: in progress, project: web
