Repository expo/expo, pull requests merged in 2019-07, with the labels that each got.

#4723 [IAP] Update package.json and README
  packages/expo-in-app-purchases/README.md
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/InAppPurchasesModule.java
  packages/expo-in-app-purchases/package.json
  packages/expo-in-app-purchases/src/.gitkeep
Labels: InAppPurchases

#4777 [IAP] Fix null reference error in Android implementation of getPurchaseHistory
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/BillingManager.java
  packages/expo-in-app-purchases/package.json
Labels: InAppPurchases

#4607 [docs] In-App Purchases
  docs/pages/versions/unversioned/bare/unimodules-full-list.md
  docs/pages/versions/unversioned/sdk/in-app-purchases.md
  docs/pages/versions/v33.0.0/bare/unimodules-full-list.md
  docs/pages/versions/v33.0.0/sdk/in-app-purchases.md
Labels: InAppPurchases, project: docs

#4844 Added legacy AR constants back
  packages/expo/src/AR.ts
Labels: AR, bug

#4888 [storybook][web] Fixed SVG tests
  apps/storybook/.storybook/storyshots.test.js
  apps/storybook/stories/Components/SVG.stories.js
  apps/storybook/test/jest.config.web.js
Labels: project: web

#4891 [web] Fix Font loading
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/src/Font.ts
Labels: Font, bug, project: web

#4892 [web] Added font loading test to test suite
  apps/test-suite/TestUtils.js
  apps/test-suite/app.json
  apps/test-suite/tests/Font.js
Labels: Font, project: web

#4894 [web] Fixed test suite
  apps/test-suite/README.md
  apps/test-suite/package.json
  apps/test-suite/puppeteer-test/index.js
  apps/test-suite/puppeteer-test/package.json
  apps/test-suite/puppeteer-test/yarn.lock
  apps/test-suite/tests/Crypto.js
  apps/test-suite/tests/GLView.js
  apps/test-suite/webpack.ci.js
Labels: GLView, bug, project: web

#4974 Export RCT Emitters from react-native-adapter
  packages/@unimodules/react-native-adapter/build/SyntheticPlatformEmitter.js
  packages/@unimodules/react-native-adapter/build/SyntheticPlatformEmitter.js.map
  packages/@unimodules/react-native-adapter/build/index.d.ts
  packages/@unimodules/react-native-adapter/build/index.js
  packages/@unimodules/react-native-adapter/build/index.js.map
  packages/@unimodules/react-native-adapter/build/nativeEmitters.d.ts
  packages/@unimodules/react-native-adapter/build/nativeEmitters.js
  packages/@unimodules/react-native-adapter/build/nativeEmitters.js.map
  packages/@unimodules/react-native-adapter/build/nativeEmitters.web.d.ts
  packages/@unimodules/react-native-adapter/build/nativeEmitters.web.js
  packages/@unimodules/react-native-adapter/build/nativeEmitters.web.js.map
  packages/@unimodules/react-native-adapter/src/SyntheticPlatformEmitter.ts
  packages/@unimodules/react-native-adapter/src/index.ts
  packages/@unimodules/react-native-adapter/src/nativeEmitters.ts
  packages/@unimodules/react-native-adapter/src/nativeEmitters.web.ts
  packages/expo/build/Notifications/Notifications.js
  packages/expo/build/Notifications/Notifications.js.map
  packages/expo/build/Updates/Updates.js
  packages/expo/build/Updates/Updates.js.map
  packages/expo/src/Notifications/Notifications.ts
  packages/expo/src/Updates/Updates.ts
Labels: Notifications, Updates, project: web

#5004 [ios][notification] Add a `doNotOpenInForeground` option for `UNNotificationAction`
  docs/pages/versions/unversioned/sdk/notifications.md
  ios/Exponent/Versioned/Core/Api/EXNotifications.m
  packages/expo/build/Notifications/Notifications.types.d.ts
  packages/expo/build/Notifications/Notifications.types.js.map
  packages/expo/src/Notifications/Notifications.types.ts
Labels: Notifications

#4988 Made expo package optional in expo-web constants
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/src/ExponentConstants.web.ts
Labels: Constants, project: web

#4987 [web][crypto] Added error for usage with insecure origins
  docs/pages/versions/unversioned/sdk/crypto.md
  packages/expo-crypto/build/ExpoCrypto.web.js
  packages/expo-crypto/build/ExpoCrypto.web.js.map
  packages/expo-crypto/src/ExpoCrypto.web.ts
Labels: project: web

#4802 [ios][docs] Add support for options which allows displaying notifications in foreground
  CHANGELOG.md
  apps/native-component-list/app.json
  docs/pages/versions/unversioned/guides/push-notifications.md
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/unversioned/workflow/configuration.md
  ios/Exponent/Kernel/Services/EXUserNotificationManager.m
  packages/expo/build/Notifications/Notifications.js
  packages/expo/build/Notifications/Notifications.js.map
  packages/expo/build/Notifications/Notifications.types.d.ts
  packages/expo/build/Notifications/Notifications.types.js.map
  packages/expo/src/Notifications/Notifications.ts
  packages/expo/src/Notifications/Notifications.types.ts
Labels: Notifications

#5012 [web] Removed all config in favor of an identical universal solution
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
  packages/babel-preset-expo/__tests__/index-test.js
  packages/babel-preset-expo/index.js
Labels: project: web

#5044 [location][web][android] Added error messages for Google Geocoding API
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/src/Location.ts
Labels: Location, project: web

#5006 [jest-expo] Create a multi-project config that runs iOS, Android, and Web
  packages/expo-module-scripts/createJestPreset.js
  packages/expo-module-scripts/jest-preset.js
  packages/expo-module-scripts/universal/jest-preset.js
  packages/jest-expo/babel.config.js
  packages/jest-expo/package.json
  packages/jest-expo/tests/__tests__/jest-test.js
  packages/jest-expo/tests/default-extension.android.js
  packages/jest-expo/tests/default-extension.ios.js
  packages/jest-expo/tests/default-extension.web.js
  packages/jest-expo/tests/fallback-extension.js
  packages/jest-expo/tests/fallback-extension.native.js
  packages/jest-expo/tests/fallback-extension.node.js
  packages/jest-expo/universal/jest-preset.js
Labels: project: web

#4966 Added speech tests
  apps/test-suite/ExponentTest.js
  apps/test-suite/ExponentTest.web.js
  apps/test-suite/TestUtils.js
  apps/test-suite/puppeteer-test/index.js
  apps/test-suite/tests/Localization.js
  apps/test-suite/tests/SVG.js
  apps/test-suite/tests/Speech.js
  packages/expo-speech/build/ExponentSpeech.web.d.ts
  packages/expo-speech/build/ExponentSpeech.web.js
  packages/expo-speech/build/ExponentSpeech.web.js.map
  packages/expo-speech/build/Speech.types.d.ts
  packages/expo-speech/build/Speech.types.js.map
  packages/expo-speech/src/Speech/ExponentSpeech.web.ts
  packages/expo-speech/src/Speech/Speech.types.ts
Labels: Speech, project: web

#4787 [ios][android][docs] Supports rich content (image, audio, and video) in push notifications
  CHANGELOG.md
  android/expoview/src/main/java/host/exp/exponent/notifications/PushNotificationHelper.java
  apps/native-component-list/src/api/registerForPushNotificationsAsync.ts
  apps/native-component-list/src/screens/NotificationScreen.tsx
  apps/test-suite/tests/Notifications.js
  docs/pages/versions/unversioned/guides/push-notifications.md
  ios/ExpoNotificationServiceExtension/ExNotificationService.h
  ios/ExpoNotificationServiceExtension/ExNotificationService.m
  ios/ExpoNotificationServiceExtension/Info.plist
  ios/Exponent.xcodeproj/project.pbxproj
Labels: Notifications
