Repository expo/expo, pull requests merged in 2019-02, with the labels that each got.

#3372 Fixed CI SDK tests
  .circleci/config.yml
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/build/FileSystem.types.d.ts
  packages/expo-file-system/build/FileSystem.types.js.map
  packages/expo-file-system/src/FileSystem.ts
  packages/expo-file-system/src/FileSystem.types.ts
Labels: ScreenOrientation

#3365 [docs] Remove runtime global "environment variables"
  docs/common/versions.js
  docs/components/VersionSelector.js
  docs/env-config.js
  docs/pages/_document.js
Labels: in progress

#3368 Created `SyntheticPlatformEmitter`
  packages/expo-react-native-adapter/README.md
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.d.ts
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.js
  packages/expo-react-native-adapter/build/SyntheticPlatformEmitter.js.map
  packages/expo-react-native-adapter/build/index.d.ts
  packages/expo-react-native-adapter/build/index.js
  packages/expo-react-native-adapter/build/index.js.map
  packages/expo-react-native-adapter/src/SyntheticPlatformEmitter.ts
  packages/expo-react-native-adapter/src/index.ts
Labels: in progress, project: web

#3359 [docs] Get rid of lodash
  docs/common/navigation.js
  docs/components/DocumentationPage.js
  docs/components/VersionSelector.js
  docs/package.json
Labels: in progress

#3387 [sdk] jest tests for screen orientation
  packages/expo/src/ScreenOrientation/ScreenOrientation.ts
  packages/expo/src/__tests__/ScreenOrientation-test.ts
Labels: in progress

#3388 Removed moment
  docs/pages/versions/unversioned/sdk/localization.md
  packages/expo-localization/package.json
  packages/expo-localization/src/ExpoLocalization.web.js
Labels: Localization, in progress, project: web

#3364 [Web] Audio
  apps/native-component-list/screens/ExpoApisScreen.js
  packages/expo-av/build/Audio/Sound.d.ts
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/build/ExponentAV.web.d.ts
  packages/expo-av/build/ExponentAV.web.js
  packages/expo-av/build/ExponentAV.web.js.map
  packages/expo-av/build/Video.d.ts
  packages/expo-av/src/Audio/Sound.ts
  packages/expo-av/src/ExponentAV.web.ts
Labels: Audio, in progress, project: web

#3355 [Web] ViewShot
  apps/native-component-list/screens/ExpoApisScreen.js
  packages/expo/src/Expo.ts
  packages/expo/src/takeSnapshotAsync/Creator.web.ts
  packages/expo/src/takeSnapshotAsync/Fonts.web.ts
  packages/expo/src/takeSnapshotAsync/Images.web.ts
  packages/expo/src/takeSnapshotAsync/ProcessSources.web.ts
  packages/expo/src/takeSnapshotAsync/Utils.web.ts
  packages/expo/src/takeSnapshotAsync/captureRef.ts
  packages/expo/src/takeSnapshotAsync/captureRef.web.ts
  packages/expo/src/takeSnapshotAsync/takeSnapshotAsync.ts
Labels: in progress, project: web, takeSnapshotAsync

#3357 Created "Migrating Universal Modules to TypeScript"
  guides/Migrating Universal Modules to TypeScript.md
Labels: TypeScript, in progress

#3383 [Web] Test Suite Puppeteer
  .circleci/config.yml
  apps/test-suite/App.js
  apps/test-suite/package.json
  apps/test-suite/puppeteer-test/index.js
  apps/test-suite/puppeteer-test/package.json
  apps/test-suite/puppeteer-test/yarn.lock
  apps/test-suite/web/apple-touch-icon.png
  apps/test-suite/web/favicon.ico
  apps/test-suite/web/index.html
  apps/test-suite/web/manifest.json
  apps/test-suite/webpack.config.js
  yarn.lock
Labels: in progress, project: web

#3391 [web] Updated Camera demo
  apps/native-component-list/screens/Camera/CameraScreen.js
  apps/native-component-list/screens/Camera/GalleryScreen.web.js
  apps/native-component-list/screens/Camera/Photo.web.js
  packages/expo-camera/build/CameraModule/CameraModule.d.ts
  packages/expo-camera/build/CameraModule/CameraModule.js
  packages/expo-camera/build/CameraModule/CameraModule.js.map
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/src/CameraModule/CameraModule.ts
  packages/expo-camera/src/ExponentCamera.web.tsx
Labels: Camera, in progress, project: web

#3400 [TypeScript] Migrated expo-analytics-segment
  .circleci/config.yml
  packages/expo-analytics-segment/.npmignore
  packages/expo-analytics-segment/babel.config.js
  packages/expo-analytics-segment/build/ExponentSegment.d.ts
  packages/expo-analytics-segment/build/ExponentSegment.js
  packages/expo-analytics-segment/build/ExponentSegment.js.map
  packages/expo-analytics-segment/build/ExponentSegment.web.d.ts
  packages/expo-analytics-segment/build/ExponentSegment.web.js
  packages/expo-analytics-segment/build/ExponentSegment.web.js.map
  packages/expo-analytics-segment/build/Segment.d.ts
  packages/expo-analytics-segment/build/Segment.js
  packages/expo-analytics-segment/build/Segment.js.map
  packages/expo-analytics-segment/index.js
  packages/expo-analytics-segment/package.json
  packages/expo-analytics-segment/src/ExponentSegment.ts
  packages/expo-analytics-segment/src/ExponentSegment.web.ts
  packages/expo-analytics-segment/src/Segment.js
  packages/expo-analytics-segment/src/Segment.ts
  packages/expo-analytics-segment/src/__tests__/Segment-test.ts
  packages/expo-analytics-segment/tsconfig.json
  packages/expo/src/Expo.ts
  packages/expo/src/__tests__/Segment-test.ts
Labels: Segment, TypeScript, in progress, project: web

#3406 [MediaLibrary] Add support for smart albums on iOS
  apps/native-component-list/screens/MediaLibrary/MediaAlbumsScreen.js
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.java
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
  packages/expo-media-library/src/MediaLibrary.js
Labels: MediaLibrary

#3407 Use safeAreaInsets in ExAppLoadingView
  ios/Exponent/Kernel/Views/Loading/EXAppLoadingView.m
Labels: in progress

#3397 [docs] Add hidden inter-version links
  docs/components/VersionSelector.js
Labels: in progress

#3423 [iOS][expo-speech] Add method which returns list of all available voices
  CHANGELOG.md
  apps/native-component-list/screens/TextToSpeechScreen.js
  docs/pages/versions/unversioned/sdk/speech.md
  packages/expo-speech/build/Speech.d.ts
  packages/expo-speech/build/Speech.js
  packages/expo-speech/build/Speech.js.map
  packages/expo-speech/build/Speech.types.d.ts
  packages/expo-speech/build/Speech.types.js
  packages/expo-speech/build/Speech.types.js.map
  packages/expo-speech/ios/EXSpeech/EXSpeech.m
  packages/expo-speech/src/Speech/Speech.ts
  packages/expo-speech/src/Speech/Speech.types.ts
Labels: in progress

#3431 [ios] Fix bare notifications in standalone mode
  ios/Exponent/Kernel/Core/EXKernel.m
  ios/Exponent/Kernel/Services/EXUserNotificationManager.m
Labels: in progress

#3429 Update CODEOWNERS for Expo packages
  .github/CODEOWNERS
Labels: in progress

#3436 add ExpoKeepAwakePackage to homeExpoPackages
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.java
Labels: in progress

#3370 [docs] Screen orientation
  docs/pages/versions/unversioned/sdk/screen-orientation.md
Labels: in progress

#3419 [TypeScript] Migrated expo-media-library
  packages/expo-media-library/.npmignore
  packages/expo-media-library/babel.config.js
  packages/expo-media-library/build/ExponentMediaLibrary.d.ts
  packages/expo-media-library/build/ExponentMediaLibrary.js
  packages/expo-media-library/build/ExponentMediaLibrary.js.map
  packages/expo-media-library/build/ExponentMediaLibrary.web.d.ts
  packages/expo-media-library/build/ExponentMediaLibrary.web.js
  packages/expo-media-library/build/ExponentMediaLibrary.web.js.map
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/index.js
  packages/expo-media-library/package.json
  packages/expo-media-library/src/ExponentMediaLibrary.ts
  packages/expo-media-library/src/ExponentMediaLibrary.web.ts
  packages/expo-media-library/src/MediaLibrary.ts
  packages/expo-media-library/src/__tests__/MediaLibrary-test.ts
  packages/expo-media-library/tsconfig.json
  packages/expo/src/Expo.ts
  yarn.lock
Labels: MediaLibrary, TypeScript, in progress

#3414 [TypeScript] Migrated expo-local-authentication
  .circleci/config.yml
  packages/expo-local-authentication/.npmignore
  packages/expo-local-authentication/babel.config.js
  packages/expo-local-authentication/build/ExpoLocalAuthentication.d.ts
  packages/expo-local-authentication/build/ExpoLocalAuthentication.js
  packages/expo-local-authentication/build/ExpoLocalAuthentication.js.map
  packages/expo-local-authentication/build/ExpoLocalAuthentication.web.d.ts
  packages/expo-local-authentication/build/ExpoLocalAuthentication.web.js
  packages/expo-local-authentication/build/ExpoLocalAuthentication.web.js.map
  packages/expo-local-authentication/build/LocalAuthentication.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.types.js
  packages/expo-local-authentication/build/LocalAuthentication.types.js.map
  packages/expo-local-authentication/index.js
  packages/expo-local-authentication/package.json
  packages/expo-local-authentication/src/ExpoLocalAuthentication.ts
  packages/expo-local-authentication/src/ExpoLocalAuthentication.web.js
  packages/expo-local-authentication/src/ExpoLocalAuthentication.web.ts
  packages/expo-local-authentication/src/LocalAuthentication.js
  packages/expo-local-authentication/src/LocalAuthentication.ts
  packages/expo-local-authentication/src/LocalAuthentication.types.ts
  packages/expo-local-authentication/src/__tests__/LocalAuthentication-test.ts
  packages/expo-local-authentication/tsconfig.json
  packages/expo/src/Expo.ts
Labels: LocalAuthentication, TypeScript, in progress

#2904 [Android] BarCodeScanner - sending bounding-box of code in event
  CHANGELOG.md
  apps/native-component-list/screens/BarCodeScannerScreen.js
  packages/expo-barcode-scanner-interface/android/src/main/java/expo/interfaces/barcodescanner/BarCodeScannerResult.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/ExpoBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/GMVBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ZxingBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/BarCodeScannerEventHelper.java
  packages/expo-barcode-scanner/src/BarCodeScanner.js
Labels: in progress

#3449 [32.0.0][expo-app-auth] Add missing activity to AndroidManifest.xml
  template-files/android/AndroidManifest.xml
Labels: in progress

#3427 Convert IntentLauncherAndroid to unimodule
  CHANGELOG.md
  android/app/build.gradle
  android/app/src/main/java/host/exp/exponent/MainApplication.java
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/IntentLauncherModule.java
  android/settings.gradle
  apps/native-component-list/screens/IntentLauncherScreen.js
  docs/pages/versions/unversioned/sdk/intent-launcher.md
  packages/expo-errors/android/src/main/java/expo/errors/CurrentActivityNotFoundException.java
  packages/expo-errors/android/src/main/java/expo/errors/ModuleNotFoundException.java
  packages/expo-intent-launcher/.npmignore
  packages/expo-intent-launcher/README.md
  packages/expo-intent-launcher/android/.gitignore
  packages/expo-intent-launcher/android/build.gradle
  packages/expo-intent-launcher/android/src/main/AndroidManifest.xml
  packages/expo-intent-launcher/android/src/main/java/expo/modules/intentlauncher/IntentLauncherModule.java
  packages/expo-intent-launcher/android/src/main/java/expo/modules/intentlauncher/IntentLauncherPackage.java
  packages/expo-intent-launcher/android/src/main/java/expo/modules/intentlauncher/exceptions/ActivityAlreadyStartedException.java
  packages/expo-intent-launcher/babel.config.js
  packages/expo-intent-launcher/build/ExpoIntentLauncher.d.ts
  packages/expo-intent-launcher/build/ExpoIntentLauncher.js
  packages/expo-intent-launcher/build/ExpoIntentLauncher.js.map
  packages/expo-intent-launcher/build/ExpoIntentLauncher.web.d.ts
  packages/expo-intent-launcher/build/ExpoIntentLauncher.web.js
  packages/expo-intent-launcher/build/ExpoIntentLauncher.web.js.map
  packages/expo-intent-launcher/build/IntentLauncher.d.ts
  packages/expo-intent-launcher/build/IntentLauncher.js
  packages/expo-intent-launcher/build/IntentLauncher.js.map
  packages/expo-intent-launcher/package.json
  packages/expo-intent-launcher/src/.gitkeep
  packages/expo-intent-launcher/src/ExpoIntentLauncher.ts
  packages/expo-intent-launcher/src/ExpoIntentLauncher.web.ts
  packages/expo-intent-launcher/src/IntentLauncher.ts
  packages/expo-intent-launcher/tsconfig.json
  packages/expo/package.json
  packages/expo/src/Expo.ts
  packages/expo/src/IntentLauncherAndroid/ExponentIntentLauncher.ts
Labels: IntentLauncherAndroid, in progress

#3416 [TypeScript] Migrated expo-contacts
  .circleci/config.yml
  apps/native-component-list/screens/Contacts/ContactDetailScreen.js
  apps/test-suite/tests/Contacts.web.js
  packages/expo-contacts/.npmignore
  packages/expo-contacts/babel.config.js
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/build/ExpoContacts.d.ts
  packages/expo-contacts/build/ExpoContacts.js
  packages/expo-contacts/build/ExpoContacts.js.map
  packages/expo-contacts/build/ExpoContacts.web.d.ts
  packages/expo-contacts/build/ExpoContacts.web.js
  packages/expo-contacts/build/ExpoContacts.web.js.map
  packages/expo-contacts/index.js
  packages/expo-contacts/package.json
  packages/expo-contacts/src/Contacts.ts
  packages/expo-contacts/src/ExpoContacts.ts
  packages/expo-contacts/src/ExpoContacts.web.ts
  packages/expo-contacts/src/__tests__/Contacts-test.ts
  packages/expo-contacts/tsconfig.json
  packages/expo/src/Expo.ts
Labels: Contacts, TypeScript

#3420 [TypeScript] Migrated expo-google-sign-in
  .circleci/config.yml
  CHANGELOG.md
  apps/test-suite/tests/GoogleSignIn.js
  packages/expo-google-sign-in/.npmignore
  packages/expo-google-sign-in/babel.config.js
  packages/expo-google-sign-in/build/ExpoGoogleSignIn.d.ts
  packages/expo-google-sign-in/build/ExpoGoogleSignIn.js
  packages/expo-google-sign-in/build/ExpoGoogleSignIn.js.map
  packages/expo-google-sign-in/build/ExpoGoogleSignIn.web.d.ts
  packages/expo-google-sign-in/build/ExpoGoogleSignIn.web.js
  packages/expo-google-sign-in/build/ExpoGoogleSignIn.web.js.map
  packages/expo-google-sign-in/build/GoogleAuthData.d.ts
  packages/expo-google-sign-in/build/GoogleAuthData.js
  packages/expo-google-sign-in/build/GoogleAuthData.js.map
  packages/expo-google-sign-in/build/GoogleAuthentication.d.ts
  packages/expo-google-sign-in/build/GoogleAuthentication.js
  packages/expo-google-sign-in/build/GoogleAuthentication.js.map
  packages/expo-google-sign-in/build/GoogleIdentity.d.ts
  packages/expo-google-sign-in/build/GoogleIdentity.js
  packages/expo-google-sign-in/build/GoogleIdentity.js.map
  packages/expo-google-sign-in/build/GoogleSignIn.d.ts
  packages/expo-google-sign-in/build/GoogleSignIn.js
  packages/expo-google-sign-in/build/GoogleSignIn.js.map
  packages/expo-google-sign-in/build/GoogleSignIn.types.d.ts
  packages/expo-google-sign-in/build/GoogleSignIn.types.js
  packages/expo-google-sign-in/build/GoogleSignIn.types.js.map
  packages/expo-google-sign-in/build/GoogleUser.d.ts
  packages/expo-google-sign-in/build/GoogleUser.js
  packages/expo-google-sign-in/build/GoogleUser.js.map
  packages/expo-google-sign-in/index.js
  packages/expo-google-sign-in/package.json
  packages/expo-google-sign-in/src/ExpoGoogleSignIn.ts
  packages/expo-google-sign-in/src/ExpoGoogleSignIn.web.ts
  packages/expo-google-sign-in/src/GoogleAuthData.ts
  packages/expo-google-sign-in/src/GoogleAuthentication.ts
  packages/expo-google-sign-in/src/GoogleIdentity.ts
  packages/expo-google-sign-in/src/GoogleSignIn.ts
  packages/expo-google-sign-in/src/GoogleSignIn.types.js
  packages/expo-google-sign-in/src/GoogleSignIn.types.ts
  packages/expo-google-sign-in/src/GoogleUser.ts
  packages/expo-google-sign-in/src/__tests__/GoogleSignIn-test.ts
  packages/expo-google-sign-in/tsconfig.json
  packages/expo/src/Expo.ts
Labels: Google, TypeScript

#3418 [TypeScript] Migrated expo-face-detector
  .circleci/config.yml
  packages/expo-face-detector/.npmignore
  packages/expo-face-detector/babel.config.js
  packages/expo-face-detector/build/ExpoFaceDetector.d.ts
  packages/expo-face-detector/build/ExpoFaceDetector.js
  packages/expo-face-detector/build/ExpoFaceDetector.js.map
  packages/expo-face-detector/build/ExpoFaceDetector.web.d.ts
  packages/expo-face-detector/build/ExpoFaceDetector.web.js
  packages/expo-face-detector/build/ExpoFaceDetector.web.js.map
  packages/expo-face-detector/build/FaceDetector.d.ts
  packages/expo-face-detector/build/FaceDetector.js
  packages/expo-face-detector/build/FaceDetector.js.map
  packages/expo-face-detector/index.js
  packages/expo-face-detector/package.json
  packages/expo-face-detector/src/ExpoFaceDetector.ts
  packages/expo-face-detector/src/ExpoFaceDetector.web.ts
  packages/expo-face-detector/src/FaceDetector.js
  packages/expo-face-detector/src/FaceDetector.ts
  packages/expo-face-detector/src/__tests__/FaceDetector-test.ts
  packages/expo-face-detector/tsconfig.json
  packages/expo/src/Expo.ts
Labels: FaceDetector, TypeScript

#3398 Migrate expo-localization to TypeScript
  .circleci/config.yml
  apps/native-component-list/screens/LocalizationScreen.js
  apps/test-suite/tests/Localization.js
  packages/expo-localization/.npmignore
  packages/expo-localization/README.md
  packages/expo-localization/babel.config.js
  packages/expo-localization/build/ExpoLocalization.d.ts
  packages/expo-localization/build/ExpoLocalization.js
  packages/expo-localization/build/ExpoLocalization.js.map
  packages/expo-localization/build/ExpoLocalization.web.d.ts
  packages/expo-localization/build/ExpoLocalization.web.js
  packages/expo-localization/build/ExpoLocalization.web.js.map
  packages/expo-localization/build/Localization.d.ts
  packages/expo-localization/build/Localization.js
  packages/expo-localization/build/Localization.js.map
  packages/expo-localization/build/Localization.types.d.ts
  packages/expo-localization/build/Localization.types.js
  packages/expo-localization/build/Localization.types.js.map
  packages/expo-localization/index.js
  packages/expo-localization/package.json
  packages/expo-localization/src/ExpoLocalization.ts
  packages/expo-localization/src/ExpoLocalization.web.ts
  packages/expo-localization/src/Localization.js
  packages/expo-localization/src/Localization.ts
  packages/expo-localization/src/Localization.types.ts
  packages/expo-localization/src/__tests__/Localization-test.ts
  packages/expo-localization/tsconfig.json
  packages/expo/src/DangerZone.ts
  packages/expo/src/Expo.ts
  packages/expo/src/Localization.ts
Labels: Localization, TypeScript, project: web

#3415 [TypeScript] Migrated expo-barcode-scanner
  .circleci/config.yml
  packages/expo-barcode-scanner/.npmignore
  packages/expo-barcode-scanner/babel.config.js
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.js
  packages/expo-barcode-scanner/build/BarCodeScanner.js.map
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.js
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.js.map
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.js
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.js.map
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerView.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerView.js
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerView.js.map
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerView.web.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerView.web.js
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerView.web.js.map
  packages/expo-barcode-scanner/index.js
  packages/expo-barcode-scanner/package.json
  packages/expo-barcode-scanner/src/BarCodeScanner.js
  packages/expo-barcode-scanner/src/BarCodeScanner.tsx
  packages/expo-barcode-scanner/src/BarCodeScanner.web.js
  packages/expo-barcode-scanner/src/ExpoBarCodeScannerModule.ts
  packages/expo-barcode-scanner/src/ExpoBarCodeScannerModule.web.ts
  packages/expo-barcode-scanner/src/ExpoBarCodeScannerView.ts
  packages/expo-barcode-scanner/src/ExpoBarCodeScannerView.web.tsx
  packages/expo-barcode-scanner/src/__tests__/BarCodeScanner-test.tsx
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap
  packages/expo-barcode-scanner/tsconfig.json
  yarn.lock
Labels: BarCodeScanner, TypeScript, in progress

#3454 [jest] support mocking for Platform from expo-core
  packages/jest-expo/src/index.js
Labels: in progress

#3392 [Web] ScreenOrientation
  apps/native-component-list/screens/ScreenOrientationScreen.js
  apps/test-suite/App.js
  apps/test-suite/tests/ScreenOrientation.js
  packages/expo/src/ScreenOrientation/ExpoScreenOrientation.web.ts
  packages/expo/src/ScreenOrientation/ScreenOrientation.ts
  packages/expo/src/ScreenOrientation/ScreenOrientation.types.ts
Labels: ScreenOrientation, in progress, project: web

#3461 [Android][AVModule]Set public access to AVModule methods
  packages/expo-av/android/src/main/java/expo/modules/av/AVModule.java
Labels: in progress

#3466 [Firebase] Updated tests
  packages/expo-firebase-analytics/.npmignore
  packages/expo-firebase-analytics/src/__tests__/Analytics-test.ts
  packages/expo-firebase-app/.gitignore
  packages/expo-firebase-app/src/__tests__/App-test.ts
  packages/expo-firebase-auth/src/__tests__/Auth-test.ts
  packages/expo-firebase-auth/src/__tests__/EmailLink-test.ts
  packages/expo-firebase-auth/src/__tests__/Phone-test.ts
  packages/expo-firebase-auth/src/__tests__/Provider-test.ts
  packages/expo-firebase-auth/src/__tests__/User-test.ts
  packages/expo-firebase-crashlytics/src/__tests__/Crashlytics-test.ts
  packages/expo-firebase-database/src/__tests__/RefOnce-test.ts
  packages/expo-firebase-database/src/__tests__/RefSet-test.ts
  packages/expo-firebase-database/src/__tests__/Snapshot-test.ts
  packages/expo-firebase-database/src/__tests__/Transactions-test.ts
  packages/expo-firebase-firestore/src/__tests__/Batch-test.ts
  packages/expo-firebase-firestore/src/__tests__/Blob-test.ts
  packages/expo-firebase-firestore/src/__tests__/CollectionCursors-test.ts
  packages/expo-firebase-firestore/src/__tests__/CollectionLimit-test.ts
  packages/expo-firebase-firestore/src/__tests__/CollectionReference-test.ts
  packages/expo-firebase-firestore/src/__tests__/CollectionSnapshot-test.ts
  packages/expo-firebase-firestore/src/__tests__/CollectionWhere-test.ts
  packages/expo-firebase-firestore/src/__tests__/DocumentReference-test.ts
  packages/expo-firebase-firestore/src/__tests__/DocumentSnapshot-test.ts
  packages/expo-firebase-firestore/src/__tests__/FieldPath-test.ts
  packages/expo-firebase-firestore/src/__tests__/FieldValue-test.ts
  packages/expo-firebase-firestore/src/__tests__/Firestore-test.ts
  packages/expo-firebase-firestore/src/__tests__/Path-test.ts
  packages/expo-firebase-firestore/src/__tests__/Transactions-test.ts
  packages/expo-firebase-functions/src/__tests__/Functions-test.ts
  packages/expo-firebase-instance-id/src/__tests__/IID-test.ts
  packages/expo-firebase-invites/src/__tests__/Invites-test.ts
  packages/expo-firebase-links/src/__tests__/Links-test.ts
  packages/expo-firebase-messaging/src/__tests__/Messaging-test.ts
  packages/expo-firebase-notifications/src/__tests__/Notifications-test.ios.ts
  packages/expo-firebase-notifications/src/__tests__/Notifications-test.ts
  packages/expo-firebase-notifications/src/__tests__/background/actions-test.ts
  packages/expo-firebase-notifications/src/__tests__/background/messaging-test.ts
  packages/expo-firebase-performance/src/__tests__/HttpMetric-test.ts
  packages/expo-firebase-performance/src/__tests__/Perf-test.ts
  packages/expo-firebase-performance/src/__tests__/Trace-test.ts
  packages/expo-firebase-remote-config/src/__tests__/Config-test.ts
  packages/expo-firebase-storage/src/__tests__/Storage-test.ts
Labels: in progress, project: firebase

#3447 [docs] fix links in location docs
  docs/pages/versions/unversioned/sdk/location.md
  docs/pages/versions/v32.0.0/sdk/location.md
Labels: in progress, project: docs

#3486 [docs] Fixed styling error
  docs/pages/versions/unversioned/sdk/app-auth.md
  docs/pages/versions/unversioned/sdk/google-sign-in.md
  docs/pages/versions/v32.0.0/sdk/app-auth.md
  docs/pages/versions/v32.0.0/sdk/google-sign-in.md
Labels: in progress, project: docs

#3493 [android] Bump Android versions to 2.10.6 (105)
  android/app/build.gradle
  fastlane/android/metadata/en-US/changelogs/105.txt
Labels: in progress

#3448 [docs] Info about how app signing on android works
  docs/common/sidebar-navigation-order.js
  docs/components/DocumentationSidebar.js
  docs/pages/versions/unversioned/distribution/app-signing.md
  docs/pages/versions/unversioned/workflow/expo-cli.md
  docs/pages/versions/v32.0.0/distribution/app-signing.md
  docs/pages/versions/v32.0.0/workflow/expo-cli.md
Labels: in progress, project: docs

#3445 [ios] Ensure code to hide inactive app record controller is executed
  ios/Client/EXRootViewController.m
Labels: in progress

#3413 Updating webpack prod builds
  apps/native-component-list/.gitignore
  apps/native-component-list/app.json
  apps/native-component-list/constants/index.js
  apps/native-component-list/package.json
  apps/native-component-list/screens/MediaLibrary/MediaDetailsScreen.js
  apps/native-component-list/screens/MediaLibrary/MediaLibraryCell.js
  apps/native-component-list/screens/MediaLibrary/MediaLibraryScreen.js
  apps/native-component-list/web/icons-192.png
  apps/native-component-list/web/icons-512.png
  apps/native-component-list/web/index.html
  apps/native-component-list/web/manifest.json
  apps/native-component-list/web/serve.json
  apps/native-component-list/webpack/webpack.common.js
  apps/native-component-list/webpack/webpack.dev.js
  apps/native-component-list/webpack/webpack.prod.js
  apps/native-component-list/webpack/webpackLocations.js
  packages/babel-preset-expo/index.js
  yarn.lock
Labels: in progress, project: web

#3510 [iOS] Fix NOTIFICATION permission prior SDK32
  ios/Client/EXAppDelegate.m
  ios/Exponent/ExpoKit/ExpoKit.h
  ios/Exponent/ExpoKit/ExpoKit.m
Labels: in review

#3513 [expo-image-picker][iOS] Fix cropping rectangle displacement during cropping phase
  apps/native-component-list/screens/ImagePickerScreen.js
  packages/expo-image-picker/ios/EXImagePicker/EXImagePicker.m
Labels: in progress

#3500 [expo-asset] Work in the normal react-native context
  packages/expo-asset/build/Asset.d.ts
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/package.json
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
  packages/expo-asset/src/ts-declarations/react-native-assets.d.ts
  packages/expo-camera-interface/package.json
  packages/expo-constants-interface/package.json
  packages/expo-core/package.json
  packages/expo-errors/package.json
  packages/expo-facebook/package.json
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
  packages/expo-file-system/package.json
  packages/expo-font/package.json
Labels: in progress

#3560 Added types to the ExponentFileSystem platform module
  packages/expo-file-system/build/ExponentFileSystem.d.ts
  packages/expo-file-system/build/ExponentFileSystem.js
  packages/expo-file-system/build/ExponentFileSystem.js.map
  packages/expo-file-system/build/ExponentFileSystem.web.d.ts
  packages/expo-file-system/build/ExponentFileSystem.web.js
  packages/expo-file-system/build/ExponentFileSystem.web.js.map
  packages/expo-file-system/build/ExponentFileSystemShim.d.ts
  packages/expo-file-system/build/ExponentFileSystemShim.js
  packages/expo-file-system/build/ExponentFileSystemShim.js.map
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/build/FileSystem.types.d.ts
  packages/expo-file-system/build/FileSystem.types.js.map
  packages/expo-file-system/src/ExponentFileSystem.ts
  packages/expo-file-system/src/ExponentFileSystem.web.ts
  packages/expo-file-system/src/ExponentFileSystemShim.ts
  packages/expo-file-system/src/FileSystem.ts
  packages/expo-file-system/src/FileSystem.types.ts
  yarn.lock
Labels: FileSystem, TypeScript, project: web

#3545 [Web] Moved RN Image polyfill into expo-asset
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/build/AssetRegistry.d.ts
  packages/expo-asset/build/AssetRegistry.js
  packages/expo-asset/build/AssetRegistry.js.map
  packages/expo-asset/build/AssetRegistry.web.d.ts
  packages/expo-asset/build/AssetRegistry.web.js
  packages/expo-asset/build/AssetRegistry.web.js.map
  packages/expo-asset/build/AssetSourceResolver.d.ts
  packages/expo-asset/build/AssetSourceResolver.js
  packages/expo-asset/build/AssetSourceResolver.js.map
  packages/expo-asset/build/AssetSourceResolver.web.d.ts
  packages/expo-asset/build/AssetSourceResolver.web.js
  packages/expo-asset/build/AssetSourceResolver.web.js.map
  packages/expo-asset/build/AssetSources.js
  packages/expo-asset/build/AssetSources.js.map
  packages/expo-asset/build/resolveAssetSource.d.ts
  packages/expo-asset/build/resolveAssetSource.js
  packages/expo-asset/build/resolveAssetSource.js.map
  packages/expo-asset/build/resolveAssetSource.web.d.ts
  packages/expo-asset/build/resolveAssetSource.web.js
  packages/expo-asset/build/resolveAssetSource.web.js.map
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/AssetRegistry.ts
  packages/expo-asset/src/AssetRegistry.web.ts
  packages/expo-asset/src/AssetSourceResolver.ts
  packages/expo-asset/src/AssetSourceResolver.web.ts
  packages/expo-asset/src/AssetSources.ts
  packages/expo-asset/src/__tests__/AssetSources-test.ts
  packages/expo-asset/src/resolveAssetSource.ts
  packages/expo-asset/src/resolveAssetSource.web.ts
  packages/expo/src/web/Image/assetPathUtils.ts
Labels: Asset, project: web

#3529 [expo-av] Add pitch algorithm to set rate
  apps/native-component-list/screens/AV/AudioPlayer.js
  apps/test-suite/tests/Audio.js
  docs/pages/versions/unversioned/sdk/av.md
  packages/expo-av/build/AV.d.ts
  packages/expo-av/build/AV.js
  packages/expo-av/build/AV.js.map
  packages/expo-av/build/Audio.d.ts
  packages/expo-av/build/Audio.js
  packages/expo-av/build/Audio.js.map
  packages/expo-av/build/Audio/Sound.d.ts
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
  packages/expo-av/src/AV.ts
  packages/expo-av/src/Audio.ts
  packages/expo-av/src/Audio/Sound.ts
Labels: in progress

#3349 [ci][nix][fastlane] add building unsigned Expo Client
  .circleci/config.yml
  bin/aws
  bin/aws_bash_completer
  bin/aws_completer
  fastlane/Fastfile
  update-dependencies
Labels: in progress

#3577 Removed Expo.Util
  CHANGELOG.md
  apps/native-component-list/navigation/ExpoApis.js
  apps/native-component-list/screens/ExpoApisScreen.js
  apps/native-component-list/screens/UtilScreen.js
  packages/expo/src/Expo.ts
  packages/expo/src/Util.ts
Labels: Updates

#3401 [TypeScript] Migrated expo-gl
  .circleci/config.yml
  apps/test-suite/App.js
  apps/test-suite/tests/GLView.js
  packages/expo-gl/.npmignore
  packages/expo-gl/babel.config.js
  packages/expo-gl/build/GLView.d.ts
  packages/expo-gl/build/GLView.js
  packages/expo-gl/build/GLView.js.map
  packages/expo-gl/build/GLView.types.d.ts
  packages/expo-gl/build/GLView.types.js
  packages/expo-gl/build/GLView.types.js.map
  packages/expo-gl/build/GLView.web.d.ts
  packages/expo-gl/build/GLView.web.js
  packages/expo-gl/build/GLView.web.js.map
  packages/expo-gl/build/index.d.ts
  packages/expo-gl/build/index.js
  packages/expo-gl/build/index.js.map
  packages/expo-gl/index.js
  packages/expo-gl/package.json
  packages/expo-gl/src/GLView.tsx
  packages/expo-gl/src/GLView.types.js
  packages/expo-gl/src/GLView.types.ts
  packages/expo-gl/src/GLView.web.tsx
  packages/expo-gl/src/__tests__/GLView-test.tsx
  packages/expo-gl/src/__tests__/__snapshots__/GLView-test.tsx.snap
  packages/expo-gl/src/index.ts
  packages/expo-gl/tsconfig.json
  yarn.lock
Labels: GLView, TypeScript, project: web

#3604 Deleted expo/src/Brightness.ts
  packages/expo/src/Brightness.ts
Labels: Brightness

#3605 [web][Camera] Removed requires that were importing all of RN on web
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.js
  packages/expo-camera/build/index.js.map
  packages/expo-camera/src/ExponentCamera.web.tsx
  packages/expo-camera/src/index.ts
Labels: Camera, project: web

#3603 [web] Fixed web support for ads-facebook
  CHANGELOG.md
  packages/expo-ads-facebook/build/AdIconView.web.d.ts
  packages/expo-ads-facebook/build/AdIconView.web.js
  packages/expo-ads-facebook/build/AdIconView.web.js.map
  packages/expo-ads-facebook/build/AdMediaView.web.d.ts
  packages/expo-ads-facebook/build/AdMediaView.web.js
  packages/expo-ads-facebook/build/AdMediaView.web.js.map
  packages/expo-ads-facebook/build/AdSettings.web.d.ts
  packages/expo-ads-facebook/build/AdSettings.web.js
  packages/expo-ads-facebook/build/AdSettings.web.js.map
  packages/expo-ads-facebook/build/AdTriggerView.web.d.ts
  packages/expo-ads-facebook/build/AdTriggerView.web.js
  packages/expo-ads-facebook/build/AdTriggerView.web.js.map
  packages/expo-ads-facebook/build/BannerAd.web.d.ts
  packages/expo-ads-facebook/build/BannerAd.web.js
  packages/expo-ads-facebook/build/BannerAd.web.js.map
  packages/expo-ads-facebook/build/InterstitialAdManager.js
  packages/expo-ads-facebook/build/InterstitialAdManager.js.map
  packages/expo-ads-facebook/build/NativeAdsManager.web.d.ts
  packages/expo-ads-facebook/build/NativeAdsManager.web.js
  packages/expo-ads-facebook/build/NativeAdsManager.web.js.map
  packages/expo-ads-facebook/build/index.js
  packages/expo-ads-facebook/build/index.js.map
  packages/expo-ads-facebook/build/index.web.d.ts
  packages/expo-ads-facebook/build/index.web.js
  packages/expo-ads-facebook/build/index.web.js.map
  packages/expo-ads-facebook/build/withNativeAd.web.d.ts
  packages/expo-ads-facebook/build/withNativeAd.web.js
  packages/expo-ads-facebook/build/withNativeAd.web.js.map
  packages/expo-ads-facebook/src/AdIconView.web.tsx
  packages/expo-ads-facebook/src/AdMediaView.web.tsx
  packages/expo-ads-facebook/src/AdSettings.web.ts
  packages/expo-ads-facebook/src/AdTriggerView.web.tsx
  packages/expo-ads-facebook/src/BannerAd.web.tsx
  packages/expo-ads-facebook/src/InterstitialAdManager.ts
  packages/expo-ads-facebook/src/NativeAdsManager.web.tsx
  packages/expo-ads-facebook/src/index.ts
  packages/expo-ads-facebook/src/index.web.ts
  packages/expo-ads-facebook/src/withNativeAd.web.tsx
Labels: project: web

#3607 [web] Changed export in Payments.ts
  packages/expo/src/Payments.ts
Labels: Payments, project: web
