Repository expo/expo, pull requests merged in 2019-06, with the labels that each got.

#4372 [storybook] deleted Loki
  apps/storybook/.loki/.gitignore
  apps/storybook/.loki/reference/chrome_laptop_APIs_Constants.png
  apps/storybook/.loki/reference/chrome_laptop_Components_BlurView.png
  apps/storybook/.loki/reference/chrome_laptop_Components_Linear_Gradient.png
  apps/storybook/.storybook/config.js
  apps/storybook/package.json
Labels: project: storybook, project: web

#4373 [storybook] Fix component packages
  apps/storybook/package.json
  apps/storybook/stories/components/BlurViewScreen.js
  apps/storybook/stories/components/LinearGradientScreen.js
  yarn.lock
Labels: project: storybook, project: web

#4379 [storybook] Jest snapshots
  .circleci/config.yml
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-constants-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-components-blur-view-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-components-linear-gradient-1-snap.png
  apps/storybook/.storybook/__snapshots__/storyshots.test.js.snap
  apps/storybook/.storybook/config.js
  apps/storybook/.storybook/decorator-centered.js
  apps/storybook/.storybook/storyshots.test.js
  apps/storybook/__mocks__/fileMock.js
  apps/storybook/assets/black-128x256.png
  apps/storybook/assets/example_image_1.jpg
  apps/storybook/assets/exponent-icon@2x.png
  apps/storybook/assets/exponent-icon@3x.png
  apps/storybook/assets/icons/app.png
  apps/storybook/assets/icons/loading.png
  apps/storybook/assets/qrcode_photo_wikipedia.jpg
  apps/storybook/assets/roadster.jpg
  apps/storybook/babel.config.js
  apps/storybook/package.json
  apps/storybook/stories/components/BlurViewScreen.js
  apps/storybook/stories/components/LinearGradientScreen.js
  apps/storybook/stories/ui-explorer/AppText.js
  apps/storybook/stories/ui-explorer/Code.js
  apps/storybook/stories/ui-explorer/DocItem.js
  apps/storybook/stories/ui-explorer/Section.js
  apps/storybook/stories/ui-explorer/StyleList.js
  apps/storybook/stories/ui-explorer/TextList.js
  apps/storybook/stories/ui-explorer/UIExplorer.js
  apps/storybook/stories/ui-explorer/rem.js
  apps/storybook/test/enzyme.config.js
  apps/storybook/test/jest.config.native.js
  apps/storybook/test/jest.config.web.js
  package.json
  yarn.lock
Labels: project: storybook, project: web

#4398 [docs] Create Random docs
  docs/pages/versions/unversioned/sdk/random.md
Labels: project: docs

#4397 [docs] Create Crypto docs
  docs/pages/versions/unversioned/sdk/crypto.md
Labels: project: docs

#4151 [web] Added option for CJS to babel preset
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/index.js
  packages/babel-preset-expo/package.json
Labels: project: web

#4385 [web] Fix bug with ImagePicker in Safari when selecting videos by adding full MIME types
  packages/expo-image-picker/build/ExponentImagePicker.web.js
  packages/expo-image-picker/build/ExponentImagePicker.web.js.map
  packages/expo-image-picker/src/ImagePicker/ExponentImagePicker.web.ts
Labels: ImagePicker, project: web

#4414 [storybook] Added contributing guide
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-accelerometer-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-asset-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-constants-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-permissions-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-screen-orientation-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-ap-is-updates-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-components-blur-view-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-components-linear-gradient-1-snap.png
  apps/storybook/.storybook/__image_snapshots__/storyshots-test-js-image-getting-started-contributing-1-snap.png
  apps/storybook/.storybook/__snapshots__/storyshots.test.js.snap
  apps/storybook/.storybook/config.js
  apps/storybook/package.json
  apps/storybook/stories/APIs/Accelerometer.stories.jsx
  apps/storybook/stories/Components/AppLoading.stories.js
  apps/storybook/stories/Components/LinearGradient.stories.js
  apps/storybook/stories/Components/SVG.stories.js
  apps/storybook/stories/get-started/Contributing.notes.md
  apps/storybook/stories/get-started/Contributing.stories.js
  apps/storybook/stories/ui-explorer/ActionBar.js
  apps/storybook/stories/ui-explorer/Code.js
  apps/storybook/stories/ui-explorer/JSXBlock.js
  apps/storybook/stories/ui-explorer/Markdown.js
  apps/storybook/stories/ui-explorer/Markdown.native.js
  apps/storybook/stories/ui-explorer/SyntaxHighlighter.js
  apps/storybook/stories/ui-explorer/UIExplorer.js
  apps/storybook/stories/ui-explorer/index.js
  apps/storybook/stories/ui-explorer/theme.js
  yarn.lock
Labels: project: storybook, project: web

#4362 [web] Added docs for using Expo in the browser
  docs/pages/versions/unversioned/introduction/running-in-the-browser.md
Labels: project: docs, project: web

#4364 [web] Added publishing guide for web
  docs/pages/versions/unversioned/distribution/publishing-websites.md
Labels: project: docs, project: web

#4433 [home] Moved options button to new file
  home/components/OptionsButton.android.js
  home/components/OptionsButton.js
  home/screens/ProfileScreen.js
Labels: project: home

#4434 [home] Make home more platform agnostic
  home/components/AddProjectButton.android.js
  home/components/CloseButton.js
  home/components/Form.js
  home/components/OpenProjectByURLButton.js
  home/components/SearchBar.js
  home/screens/QRCodeScreen.js
Labels: project: home, project: web

#4435 [home] Created web version of ExponentKernel
  home/api/ApiV2HttpClient.ts
  home/components/OpenProjectByURLButton.ios.js
  home/components/SearchBar.ios.js
  home/components/SearchResults.js
  home/menu/MenuView.js
  home/redux/SettingsActions.js
  home/storage/LocalStorage.js
  home/universal/ExponentKernel.js
  home/universal/ExponentKernel.web.js
  home/utils/Environment.js
  home/utils/addListenerWithNativeCallback.js
Labels: project: home, project: web

#4349 Using Bugsnag
  docs/pages/versions/unversioned/guides/using-bugsnag.md
Labels: project: docs

#4363 [web] Added docs for customizing the Expo webpack config.
  docs/pages/versions/unversioned/guides/customizing-webpack.md
Labels: project: docs, project: web

#4438 [web] fixed mail composer bug
  packages/expo-mail-composer/build/ExpoMailComposer.web.js
  packages/expo-mail-composer/build/ExpoMailComposer.web.js.map
  packages/expo-mail-composer/package.json
  packages/expo-mail-composer/src/ExpoMailComposer.web.ts
Labels: MailComposer, bug, project: web

#4508 [web] Added guide for testing web performance
  docs/pages/versions/unversioned/guides/web-performance.md
Labels: project: web

#4532 Optimized expo home assets
  home/.expo-shared/assets.json
  home/assets/ios-menu-copy.png
  home/assets/ios-menu-home.png
  home/assets/ios-menu-information-circle.png
  home/assets/ios-menu-refresh.png
  home/assets/menu-md-close.png
Labels: project: home

#4424 [home] Added image banner for Expo home.
  home/HomeApp.js
  home/api/__tests__/ApiV2HttpClient-test.js
  home/assets/banner-image.png
  home/components/HeadingText.js
  home/components/Profile.js
  home/components/SearchBar.js
  home/components/SettingsButton.js
  home/navigation/Navigation.js
  home/package.json
  home/redux/ProfileActions.js
  home/redux/ProfileReducer.js
  home/redux/Store.js
  home/redux/__mocks__/Store.js
  home/screens/CameraScreen.js
  home/screens/MediaLibrary/MediaAlbumsScreen.tsx
  home/screens/MediaLibrary/MediaLibraryCell.tsx
  home/screens/MediaLibrary/MediaLibraryScreen.tsx
  home/screens/MediaLibrary/MediaLibraryScreens.ts
  home/screens/ProfileScreen.js
  home/storage/LocalStorage.js
Labels: Camera, MediaLibrary, project: home

#4534 [home] Removed the albums screen
  home/navigation/Navigation.js
  home/screens/MediaLibrary/MediaAlbumsScreen.tsx
  home/screens/MediaLibrary/MediaLibraryScreens.ts
Labels: project: home

#4533 [home] Added more web compatibility
  home/components/NavigationScrollView.js
  home/components/NavigationScrollView.native.js
  home/components/Profile.js
  home/components/ProfileCard.js
  home/components/ProjectCard.js
  home/components/SeeAllProjectsButton.js
  home/components/SeeAllSnacksButton.js
  home/components/SmallProjectCard.js
  home/components/SnackCard.js
  home/navigation/Navigation.web.js
  home/package.json
  home/screens/DiagnosticsScreen.js
  home/screens/ProjectsScreen.js
  home/screens/SearchScreen.js
  home/utils/addListenerWithNativeCallback.web.js
Labels: project: home, project: web

#4556 [docs][web] Added info about expo customize and editing static files.
  docs/pages/versions/unversioned/guides/customizing-webpack.md
Labels: project: docs, project: web

#4141 @cruzach/lottie example
  docs/pages/versions/unversioned/sdk/lottie.md
  docs/pages/versions/v31.0.0/sdk/lottie.md
  docs/pages/versions/v32.0.0/sdk/lottie.md
Labels: Lottie

#4639 [docs] Added notice about web availability
  docs/pages/versions/unversioned/sdk/accelerometer.md
  docs/pages/versions/unversioned/sdk/barometer.md
  docs/pages/versions/unversioned/sdk/devicemotion.md
  docs/pages/versions/unversioned/sdk/gyroscope.md
  docs/pages/versions/unversioned/sdk/magnetometer.md
Labels: project: docs

#4515 [web] Notifications
  packages/expo/src/Notifications/ExponentNotifications.web.ts
  packages/expo/src/Notifications/Notifications.ts
  packages/expo/src/Notifications/Notifications.types.ts
Labels: Notifications, project: web

#4689 [docs][web] copied the sensors changes to 33
  docs/pages/versions/v33.0.0/sdk/accelerometer.md
  docs/pages/versions/v33.0.0/sdk/barometer.md
  docs/pages/versions/v33.0.0/sdk/devicemotion.md
  docs/pages/versions/v33.0.0/sdk/gyroscope.md
  docs/pages/versions/v33.0.0/sdk/magnetometer.md
Labels: project: docs, project: web

#4695 Fixed contacts sharing on ios
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: Contacts, bug

#4687 [web] Updated tabs template for web
  templates/expo-template-tabs/navigation/AppNavigator.web.js
  templates/expo-template-tabs/navigation/MainTabNavigator.js
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/yarn.lock
Labels: project: web

#4416 Expo In App Purchases
  packages/expo-in-app-purchases/.npmignore
  packages/expo-in-app-purchases/README.md
  packages/expo-in-app-purchases/android/.gitignore
  packages/expo-in-app-purchases/android/build.gradle
  packages/expo-in-app-purchases/android/src/main/AndroidManifest.xml
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/BillingManager.java
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/InAppPurchasesModule.java
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/InAppPurchasesPackage.java
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/UpdateListener.java
  packages/expo-in-app-purchases/babel.config.js
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.d.ts
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.js
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.js.map
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.js
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.types.js
  packages/expo-in-app-purchases/build/InAppPurchases.types.js.map
  packages/expo-in-app-purchases/ios/EXInAppPurchases.podspec
  packages/expo-in-app-purchases/ios/EXInAppPurchases/EXInAppPurchasesModule.h
  packages/expo-in-app-purchases/ios/EXInAppPurchases/EXInAppPurchasesModule.m
  packages/expo-in-app-purchases/package.json
  packages/expo-in-app-purchases/src/.gitkeep
  packages/expo-in-app-purchases/src/ExpoInAppPurchases.ts
  packages/expo-in-app-purchases/src/InAppPurchases.ts
  packages/expo-in-app-purchases/src/InAppPurchases.types.ts
  packages/expo-in-app-purchases/tsconfig.json
  packages/expo-in-app-purchases/unimodule.json
Labels: InAppPurchases

#4724 [tools] Fix android-tasks script
  tools/android-tasks.js
Labels: bug
