Repository expo/expo, pull requests merged in 2020-11, with the labels that each got.

#11062 [expo-constants] Set executionEnvironment to ExecutionEnvironment.Bare on web
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/ExponentConstants.web.ts
  packages/expo-constants/src/__tests__/Constants-test.ts
  packages/expo-constants/src/__tests__/__snapshots__/Constants-test.ts.snap.node
  packages/expo-constants/src/__tests__/__snapshots__/Constants-test.ts.snap.web
Labels: Constants, Platform: web

#11071 Migrate generate module from expo-cli to expotools
  tools/expotools/package.json
  tools/expotools/src/commands/CreateUnimodule.ts
  tools/expotools/src/generate-module/ModuleConfiguration.ts
  tools/expotools/src/generate-module/configureModule.ts
  tools/expotools/src/generate-module/fetchTemplate.ts
  tools/expotools/src/generate-module/generateModuleAsync.ts
  tools/expotools/src/generate-module/promptQuestionsAsync.ts
  tools/expotools/yarn.lock
Labels: expotools

#11094 Update expo-cli.md
  docs/pages/workflow/expo-cli.md
Labels: docs

#11110 update cli headers
  docs/pages/workflow/expo-cli.md
Labels: docs

#11111 Revert to class component
  apps/native-component-list/src/screens/LinearGradientScreen.tsx
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/build/LinearGradient.d.ts
  packages/expo-linear-gradient/build/LinearGradient.js
  packages/expo-linear-gradient/build/LinearGradient.js.map
  packages/expo-linear-gradient/src/LinearGradient.tsx
Labels: LinearGradient

#11115 Use terminal block components for cli page
  docs/pages/workflow/expo-cli.md
Labels: docs
