Repository expo/expo, pull requests merged in 2020-09, with the labels that each got.

#9955 [expotools] Add template option to 'et create-unimodule'
  tools/expotools/src/commands/CreateUnimodule.ts
Labels: enhancement

#9998 [docs] Simplify installation
  docs/pages/get-started/installation.md
Labels: docs

#10230 [docs] Right sidebar with Table of Contents
  docs/common/headingManager.js
  docs/common/headingManager.test.js
  docs/common/headingsMdPlugin.js
  docs/common/translate-markdown.js
  docs/common/utilities.js
  docs/components/DocumentationNestedScrollLayout.js
  docs/components/DocumentationPage.js
  docs/components/DocumentationSidebar.js
  docs/components/DocumentationSidebarGroup.js
  docs/components/DocumentationSidebarRight.js
  docs/components/DocumentationSidebarRight.test.js
  docs/components/DocumentationSidebarRightLink.js
  docs/components/Permalink.js
  docs/components/__snapshots__/DocumentationSidebarRight.test.js.snap
  docs/components/base/list.js
  docs/components/page-higher-order/withDocumentationElements.js
  docs/components/page-higher-order/withHeadingManager.js
  docs/components/page-higher-order/withSlugger.js
  docs/components/plugins/AppConfigSchemaPropertiesTable.js
  docs/components/plugins/AppConfigSchemaPropertiesTable.test.js
  docs/components/plugins/Headings.js
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.js.snap
  docs/next.config.js
  docs/pages/guides.md
  docs/pages/index.md
  docs/pages/preview/index.js
  docs/pages/versions/unversioned/config/app.md
  docs/pages/versions/unversioned/index.md
  docs/pages/versions/unversioned/sdk/app-auth.md
  docs/pages/versions/v36.0.0/sdk/app-auth.md
  docs/pages/versions/v37.0.0/index.md
  docs/pages/versions/v37.0.0/sdk/app-auth.md
  docs/pages/versions/v38.0.0/config/app.md
  docs/pages/versions/v38.0.0/index.md
  docs/pages/versions/v38.0.0/sdk/app-auth.md
  docs/pages/versions/v39.0.0/config/app.md
  docs/pages/versions/v39.0.0/index.md
  docs/pages/versions/v39.0.0/sdk/app-auth.md
  docs/pages/workflow/web.md
Labels: docs

#9907 [iOS][amplitude] Update docs
  docs/pages/versions/v36.0.0/sdk/amplitude.md
  docs/pages/versions/v37.0.0/sdk/amplitude.md
  docs/pages/versions/v38.0.0/sdk/amplitude.md
Labels: don't merge

#10213 [docs] Add <Tabs/> component plugin
  docs/components/plugins/AuthSessionElements.js
  docs/components/plugins/Tabs.js
  docs/pages/guides/authentication.md
  docs/pages/push-notifications/push-notifications-setup.md
Labels: docs
