Repository expo/expo, pull requests merged in 2020-01, with the labels that each got.

#6636 Typo
  docs/pages/versions/unversioned/distribution/security.md
  docs/pages/versions/v36.0.0/distribution/security.md
Labels: project: docs

#6672 Fix SSR support in error-recovery
  packages/expo-error-recovery/build/ExpoErrorRecovery.web.js
  packages/expo-error-recovery/build/ExpoErrorRecovery.web.js.map
  packages/expo-error-recovery/src/ExpoErrorRecovery.web.ts
Labels: ErrorRecovery, Platform: web

#6703 [docs] Install next-adapter as a dev dependency
  docs/pages/versions/unversioned/guides/using-nextjs.md
  docs/pages/versions/v36.0.0/guides/using-nextjs.md
Labels: Platform: web, project: docs

#6706 [ios] Fix react-native-community/cli bug in bare-expo
  package.json
  yarn.lock
Labels: Detox

#6708 Use expanded pods to match bare template
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Pods/Manifest.lock
Labels: Detox

#6675 [docs] Update Localization
  docs/pages/versions/unversioned/sdk/localization.md
  docs/pages/versions/v36.0.0/sdk/localization.md
Labels: Localization, project: docs

#6718 Created guide for using Preact with expo for web
  docs/pages/versions/unversioned/guides/using-preact.md
Labels: Platform: web, project: docs

#6757 [image-picker][sharing] Small fixes while working on tutorial
  packages/expo-image-picker/build/ExponentImagePicker.js.map
  packages/expo-image-picker/build/ExponentImagePicker.web.d.ts
  packages/expo-image-picker/build/ExponentImagePicker.web.js
  packages/expo-image-picker/build/ExponentImagePicker.web.js.map
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/package.json
  packages/expo-image-picker/src/ExponentImagePicker.ts
  packages/expo-image-picker/src/ExponentImagePicker.web.ts
  packages/expo-image-picker/src/ImagePicker.ts
  packages/expo-image-picker/src/ImagePicker.types.ts
  packages/expo-image-picker/src/__tests__/ExponentImagePicker-test.web.ts
  packages/expo-sharing/build/ExpoSharing.web.js
  packages/expo-sharing/build/ExpoSharing.web.js.map
  packages/expo-sharing/package.json
  packages/expo-sharing/src/ExpoSharing.web.ts
  packages/expo-sharing/src/__tests__/Sharing-test.native.ts
  packages/expo-sharing/src/__tests__/Sharing-test.web.ts
Labels: ImagePicker, Permissions

#6716 [app-auth] add try-catch in authWithConfiguration, set responseType on builder
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/AppAuthModule.java
Labels: AppAuth

#6809 Remove UA Parser from expo-constants
  CHANGELOG.md
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/package.json
  packages/expo-constants/src/ExponentConstants.web.ts
Labels: Constants, Platform: web

#6855 Updated EMS docs
  packages/expo-module-scripts/README.md
Labels: project: docs

#6863 Use createElement on Video component
  packages/expo-av/build/ExponentVideo.web.js
  packages/expo-av/build/ExponentVideo.web.js.map
  packages/expo-av/src/ExponentVideo.web.tsx
Labels: Platform: web, Video
