Repository expo/expo, pull requests merged in 2020-02, with the labels that each got.

#6959 update jest-expo-puppeteer dependencies
  packages/jest-expo-puppeteer/build/index.d.ts.map
  packages/jest-expo-puppeteer/build/index.js
  packages/jest-expo-puppeteer/build/index.js.map
  packages/jest-expo-puppeteer/package.json
  packages/jest-expo-puppeteer/src/index.ts
  yarn.lock
Labels: Jest with Expo

#6910 [contacts] Fixed 'fields' parameter type in getContactByIdAsync function
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: Contacts

#6961 Create styled-components guide
  docs/pages/versions/unversioned/guides/using-styled-components.md
Labels: Platform: web, project: docs

#6733 [expo-notifications] Add getExpoPushTokenAsync()
  apps/test-suite/tests/NewNotifications.js
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/build/index.d.ts
  packages/expo-notifications/build/index.js
  packages/expo-notifications/build/index.js.map
  packages/expo-notifications/package.json
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
  packages/expo-notifications/src/index.ts
Labels: Notifications

#6791 [docs] Fix google-sign-in example & GoogleService-Info.plist updates
  docs/pages/versions/unversioned/sdk/google-sign-in.md
  docs/pages/versions/v36.0.0/sdk/google-sign-in.md
Labels: Google, project: docs

#7023 [html-elements] Force flex direction to column on web
  packages/html-elements/build/elements/Layout.web.js
  packages/html-elements/build/elements/Layout.web.js.map
  packages/html-elements/build/elements/Text.web.js
  packages/html-elements/build/elements/Text.web.js.map
  packages/html-elements/src/elements/Layout.web.tsx
  packages/html-elements/src/elements/Text.web.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Layout-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.web
Labels: Platform: web

#6694 Prevent invalid dates from throwing an error on Android for expo-contacts
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.java
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: Contacts

#7040 [html-elements] Use Courier font for Code elements
  apps/native-component-list/src/screens/HTMLElementsScreen.tsx
  packages/html-elements/README.md
  packages/html-elements/build/elements/Text.js
  packages/html-elements/build/elements/Text.js.map
  packages/html-elements/src/elements/Text.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.web
Labels: Platform: web

#7044 [html-elements] Update font sizes
  apps/native-component-list/src/screens/HTMLElementsScreen.tsx
  apps/test-suite/tests/HTML.js
  packages/html-elements/README.md
  packages/html-elements/build/elements/Anchor.js
  packages/html-elements/build/elements/Anchor.js.map
  packages/html-elements/build/elements/Lists.js
  packages/html-elements/build/elements/Lists.js.map
  packages/html-elements/build/elements/Text.d.ts
  packages/html-elements/build/elements/Text.js
  packages/html-elements/build/elements/Text.js.map
  packages/html-elements/src/elements/Anchor.tsx
  packages/html-elements/src/elements/Lists.tsx
  packages/html-elements/src/elements/Text.tsx
  packages/html-elements/src/elements/__tests__/Text-test.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.web
Labels: Platform: web

#7043 [contacts] Show rawDates whenever any date is requested
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.java
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: Contacts

#7062 Updated HTML Lists
  apps/native-component-list/src/screens/HTMLElementsScreen.tsx
  apps/test-suite/tests/HTML.js
  packages/html-elements/README.md
  packages/html-elements/build/elements/Anchor.d.ts
  packages/html-elements/build/elements/Lists.d.ts
  packages/html-elements/build/elements/Lists.js
  packages/html-elements/build/elements/Lists.js.map
  packages/html-elements/build/elements/Lists.web.d.ts
  packages/html-elements/build/elements/Lists.web.js
  packages/html-elements/build/elements/Lists.web.js.map
  packages/html-elements/build/elements/Text.d.ts
  packages/html-elements/build/elements/_Text.web.d.ts
  packages/html-elements/build/primitives/Text.d.ts
  packages/html-elements/build/primitives/Text.js
  packages/html-elements/build/primitives/Text.js.map
  packages/html-elements/build/primitives/View.d.ts
  packages/html-elements/build/primitives/View.js.map
  packages/html-elements/src/elements/Lists.tsx
  packages/html-elements/src/elements/Lists.web.tsx
  packages/html-elements/src/elements/__tests__/Lists-test.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Lists-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Lists-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Lists-test.tsx.snap.web
  packages/html-elements/src/primitives/Text.tsx
  packages/html-elements/src/primitives/View.tsx
Labels: Platform: web

#7060 Skip font loading listener on webkit
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
Labels: Font, Platform: web, bug

#5743 [docs] Update react-native-appearance module documentation with a full example
  docs/pages/versions/unversioned/sdk/appearance.md
  docs/pages/versions/v35.0.0/sdk/appearance.md
Labels: project: docs

#7138 fix app auth code block
  docs/pages/versions/unversioned/sdk/app-auth.md
  docs/pages/versions/v35.0.0/sdk/app-auth.md
  docs/pages/versions/v36.0.0/sdk/app-auth.md
Labels: bug, project: docs

#7152 Remove ANY_HOSTNAME_VERIFIER from Android app-auth debug connection builder
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/UnsafeConnectionBuilder.java
Labels: AppAuth

#7174 Fix the wrong order of `req, res` in the doc.
  docs/pages/versions/unversioned/guides/using-nextjs.md
  docs/pages/versions/v36.0.0/guides/using-nextjs.md
Labels: Platform: web, project: docs

#7187 [app-auth] Remove restricted unsafe connection features
  CHANGELOG.md
  packages/expo-app-auth/android/src/main/java/expo/modules/appauth/UnsafeConnectionBuilder.java
  packages/expo-app-auth/build/AppAuth.js
  packages/expo-app-auth/build/AppAuth.js.map
  packages/expo-app-auth/src/AppAuth.ts
Labels: AppAuth, project: android-runtime

#7151 Added web migration to safe-area-context docs
  docs/pages/versions/unversioned/sdk/safe-area-context.md
  docs/pages/versions/v36.0.0/sdk/safe-area-context.md
Labels: project: docs

#7177 Created comparision section for expo-app-auth docs
  docs/pages/versions/unversioned/sdk/app-auth.md
  docs/pages/versions/v36.0.0/sdk/app-auth.md
Labels: AppAuth, project: docs

#6662 Create docs for setting up native Firebase
  docs/pages/versions/unversioned/guides/setup-native-firebase.md
Labels: project: docs
