Repository expo/expo, pull requests merged in 2020-08, with the labels that each got.

#9520 [home] Add an experience screen
  home/App.tsx
  home/api/ApolloClient.ts
  home/components/CloseButton.tsx
  home/components/ExperienceView.tsx
  home/components/ExperienceView.types.ts
  home/components/ExploreTab.tsx
  home/components/Form.ios.tsx
  home/components/Form.tsx
  home/components/Icons.tsx
  home/components/ListItem.tsx
  home/components/Profile.tsx
  home/components/ProjectCard.tsx
  home/components/ProjectList.tsx
  home/components/ProjectListItem.tsx
  home/components/ShareProjectButton.tsx
  home/components/Views.tsx
  home/constants/Colors.ts
  home/containers/Experience.tsx
  home/containers/Explore.tsx
  home/containers/Profile.tsx
  home/containers/ProjectsList.tsx
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/package.json
  home/screens/ExperienceScreen.tsx
  home/screens/ProjectsScreen.tsx
  home/utils/Environment.ts
  home/utils/Strings.tsx
  home/utils/useSDKExpired.ts
  yarn.lock
Labels: enhancement, home

#9553 [auth-session] Strava support
  apps/native-component-list/src/screens/AuthSession/AuthCard.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  docs/pages/guides/authentication.md
  docs/static/images/sdk/auth-session/strava.png
Labels: AuthSession, docs, enhancement

#9555 [chore] Upgrade react-navigation
  apps/native-component-list/package.json
  home/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/package.json
  yarn.lock
Labels: enhancement

#9575 Fix webpack config monorepo reloading
  apps/native-component-list/webpack.config.js
  apps/test-suite/webpack.config.js
Labels: Platform: web, bug

#9583 [ncl] Created static web files
  apps/native-component-list/assets/images/large-example.jpg
  apps/native-component-list/assets/images/user.png
  apps/native-component-list/assets/images/user@2x.png
  apps/native-component-list/assets/images/user@3x.png
  apps/native-component-list/web/favicon-16.png
  apps/native-component-list/web/favicon-32.png
  apps/native-component-list/web/favicon.ico
  apps/native-component-list/web/index.html
  apps/native-component-list/web/manifest.json
  apps/native-component-list/web/pwa/apple-touch-icon/apple-touch-icon-180.png
  apps/native-component-list/web/pwa/chrome-icon/chrome-icon-144.png
  apps/native-component-list/web/pwa/chrome-icon/chrome-icon-192.png
  apps/native-component-list/web/pwa/chrome-icon/chrome-icon-512.png
Labels: Platform: web

#9567 [expo-av] Fix Video resizeMode not updated on Android
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/video/VideoTextureView.java
  packages/expo-av/android/src/main/java/expo/modules/av/video/VideoView.java
Labels: AV, Android, Video

#9580 [ncl] Use react-navigation link instead of touchable for lists
  apps/native-component-list/src/navigation/ExpoComponents.ts
  apps/native-component-list/src/screens/ComponentListScreen.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/GL/GLScreen.tsx
Labels: enhancement

#9600 Create action to publish web ncl on master
  .github/workflows/publish-demo.yml
Labels: Platform: web

#9576 [web][notifications] Add permissions
  apps/native-component-list/src/screens/NotificationScreen.tsx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/NotificationPermissionsModule.js
  packages/expo-notifications/build/NotificationPermissionsModule.js.map
  packages/expo-notifications/src/NotificationPermissionsModule.ts
Labels: Notifications, Platform: web

#9612 [expo-av] Fix Audio prepareToRecordAsync after it failed once
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAudioSessionManager.m
Labels: AV, Audio, iOS

#4166 [Web] Barcode Scanner
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.js
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.js.map
  packages/expo-barcode-scanner/src/ExpoBarCodeScannerModule.web.ts
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/build/WebCameraUtils.d.ts
  packages/expo-camera/build/WebCameraUtils.js
  packages/expo-camera/build/WebCameraUtils.js.map
  packages/expo-camera/build/useWebCameraStream.js
  packages/expo-camera/build/useWebCameraStream.js.map
  packages/expo-camera/build/useWebQRScanner.d.ts
  packages/expo-camera/build/useWebQRScanner.js
  packages/expo-camera/build/useWebQRScanner.js.map
  packages/expo-camera/package.json
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/ExponentCamera.web.tsx
  packages/expo-camera/src/WebCameraUtils.ts
  packages/expo-camera/src/useWebCameraStream.ts
  packages/expo-camera/src/useWebQRScanner.ts
  yarn.lock
Labels: BarCodeScanner, Camera, Platform: web

#9633 [ncl] Upgrade react-native-action-sheet
  apps/native-component-list/package.json
  yarn.lock
Labels: Platform: web

#9630 [expo-camera][web] Fix web camera bugs
  apps/native-component-list/src/navigation/ExpoComponents.ts
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/QRCodeScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/build/WebCameraUtils.d.ts
  packages/expo-camera/build/WebCameraUtils.js
  packages/expo-camera/build/WebCameraUtils.js.map
  packages/expo-camera/build/useWebCameraStream.d.ts
  packages/expo-camera/build/useWebCameraStream.js
  packages/expo-camera/build/useWebCameraStream.js.map
  packages/expo-camera/build/useWebQRScanner.d.ts
  packages/expo-camera/build/useWebQRScanner.js
  packages/expo-camera/build/useWebQRScanner.js.map
  packages/expo-camera/src/ExponentCamera.web.tsx
  packages/expo-camera/src/WebCameraUtils.ts
  packages/expo-camera/src/useWebCameraStream.ts
  packages/expo-camera/src/useWebQRScanner.ts
Labels: Camera, Platform: web

#9634 Added web section support to Slider in docs
  docs/pages/versions/v38.0.0/sdk/slider.md
Labels: Platform: web, docs

#9639 Improved the pedometer screen in NCL
  apps/native-component-list/src/screens/PedometerScreen.tsx
  apps/native-component-list/src/utilities/useResolvedValue.ts
Labels: enhancement

#9640 [contacts] add isAvailableAsync method
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  docs/pages/versions/unversioned/sdk/contacts.md
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: Contacts, Platform: web, enhancement

#9668 [brightness] Created isAvailableAsync() method
  apps/native-component-list/src/screens/BrightnessScreen.tsx
  docs/pages/versions/unversioned/sdk/brightness.md
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/build/Brightness.d.ts
  packages/expo-brightness/build/Brightness.js
  packages/expo-brightness/build/Brightness.js.map
  packages/expo-brightness/src/Brightness.ts
Labels: Brightness, enhancement

#9641 [calendar] Create isAvailableAsync method
  docs/pages/versions/unversioned/sdk/calendar.md
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
Labels: Calendar

#9669 [secure-store] Created isAvailableAsync method
  apps/native-component-list/src/screens/SecureStoreScreen.tsx
  docs/pages/versions/unversioned/sdk/securestore.md
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/build/ExpoSecureStore.web.d.ts
  packages/expo-secure-store/build/ExpoSecureStore.web.js
  packages/expo-secure-store/build/ExpoSecureStore.web.js.map
  packages/expo-secure-store/build/SecureStore.d.ts
  packages/expo-secure-store/build/SecureStore.js
  packages/expo-secure-store/build/SecureStore.js.map
  packages/expo-secure-store/src/ExpoSecureStore.web.ts
  packages/expo-secure-store/src/SecureStore.ts
Labels: SecureStore

#9662 [store-review] Added error codes to docs
  docs/pages/versions/unversioned/sdk/storereview.md
Labels: docs

#9671 [web] add empty permission shims
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/build/ExpoBrightness.web.d.ts
  packages/expo-brightness/build/ExpoBrightness.web.js
  packages/expo-brightness/build/ExpoBrightness.web.js.map
  packages/expo-brightness/src/ExpoBrightness.web.ts
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/ExpoCalendar.web.d.ts
  packages/expo-calendar/build/ExpoCalendar.web.js
  packages/expo-calendar/build/ExpoCalendar.web.js.map
  packages/expo-calendar/src/ExpoCalendar.web.ts
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/ExpoContacts.web.d.ts
  packages/expo-contacts/build/ExpoContacts.web.js
  packages/expo-contacts/build/ExpoContacts.web.js.map
  packages/expo-contacts/src/ExpoContacts.web.ts
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/ExponentMediaLibrary.web.d.ts
  packages/expo-media-library/build/ExponentMediaLibrary.web.js
  packages/expo-media-library/build/ExponentMediaLibrary.web.js.map
  packages/expo-media-library/src/ExponentMediaLibrary.web.ts
Labels: Brightness, Calendar, Contacts, MediaLibrary, Platform: web

#9661 [background-fetch][chore] Provide better shim for web
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/build/BackgroundFetch.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.js
  packages/expo-background-fetch/build/BackgroundFetch.js.map
  packages/expo-background-fetch/build/BackgroundFetch.types.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.types.js
  packages/expo-background-fetch/build/BackgroundFetch.types.js.map
  packages/expo-background-fetch/build/ExpoBackgroundFetch.d.ts
  packages/expo-background-fetch/build/ExpoBackgroundFetch.js
  packages/expo-background-fetch/build/ExpoBackgroundFetch.js.map
  packages/expo-background-fetch/build/ExpoBackgroundFetch.web.d.ts
  packages/expo-background-fetch/build/ExpoBackgroundFetch.web.js
  packages/expo-background-fetch/build/ExpoBackgroundFetch.web.js.map
  packages/expo-background-fetch/src/BackgroundFetch.ts
  packages/expo-background-fetch/src/BackgroundFetch.types.ts
  packages/expo-background-fetch/src/ExpoBackgroundFetch.ts
  packages/expo-background-fetch/src/ExpoBackgroundFetch.web.ts
Labels: Platform: web

#9670 Fix motion permission bug on web
  apps/native-component-list/src/screens/PermissionsScreen.tsx
  packages/expo-permissions/CHANGELOG.md
  packages/expo-permissions/build/ExpoPermissions.web.js
  packages/expo-permissions/build/ExpoPermissions.web.js.map
  packages/expo-permissions/src/ExpoPermissions.web.ts
Labels: Permissions, Platform: web, sensors

#9690 [admob] Added isAvailableAsync
  apps/native-component-list/src/screens/AdMobScreen.tsx
  docs/pages/versions/unversioned/sdk/admob.md
  packages/expo-ads-admob/CHANGELOG.md
  packages/expo-ads-admob/build/AdMob.d.ts
  packages/expo-ads-admob/build/AdMob.js
  packages/expo-ads-admob/build/AdMob.js.map
  packages/expo-ads-admob/src/AdMob.ts
Labels: Admob, enhancement

#9691 [gl] Fix node unit tests
  apps/native-component-list/package.json
  packages/@unimodules/react-native-adapter/package.json
  packages/babel-preset-expo/package.json
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/build/Canvas.js
  packages/expo-gl/build/Canvas.js.map
  packages/expo-gl/src/Canvas.tsx
  packages/html-elements/build/elements/Text.d.ts
  packages/html-elements/build/elements/_Text.web.d.ts
  packages/html-elements/package.json
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Headings-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Lists-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Table-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.web
  packages/jest-expo-enzyme/package.json
  packages/jest-expo/package.json
  yarn.lock
Labels: GLView, bug, project: upstream

#9741 [camera] Fix QR scanning on Android
  home/screens/QRCodeScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
Labels: Camera, bug

#9715 [ncl] Remove RNCore screen
  apps/native-component-list/src/components/Page.tsx
  apps/native-component-list/src/navigation/ExpoApis.ts
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/navigation/ExpoComponents.ts
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/navigation/MainNavigators.tsx
  apps/native-component-list/src/navigation/ReactNativeCoreStackNavigator.tsx
  apps/native-component-list/src/navigation/RootNavigation.tsx
  apps/native-component-list/src/screens/ActionSheetScreen.tsx
  apps/native-component-list/src/screens/ActivityIndicatorScreen.tsx
  apps/native-component-list/src/screens/AlertScreen.tsx
  apps/native-component-list/src/screens/ButtonScreen.tsx
  apps/native-component-list/src/screens/CheckBoxScreen.tsx
  apps/native-component-list/src/screens/ClipboardScreen.tsx
  apps/native-component-list/src/screens/DrawerLayoutAndroidScreen.android.tsx
  apps/native-component-list/src/screens/DrawerLayoutAndroidScreen.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/ModalScreen.tsx
  apps/native-component-list/src/screens/PickerScreen.tsx
  apps/native-component-list/src/screens/PressableScreen.tsx
  apps/native-component-list/src/screens/ProgressBarAndroidScreen.tsx
  apps/native-component-list/src/screens/ProgressViewIOSScreen.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.android.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.ios.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.web.tsx
  apps/native-component-list/src/screens/ScrollViewScreen.tsx
  apps/native-component-list/src/screens/SliderScreen.tsx
  apps/native-component-list/src/screens/StatusBarScreen.tsx
  apps/native-component-list/src/screens/SwitchScreen.tsx
  apps/native-component-list/src/screens/TextInputScreen.tsx
  apps/native-component-list/src/screens/TextScreen.tsx
  apps/native-component-list/src/screens/TouchableBounceScreen.native.tsx
  apps/native-component-list/src/screens/TouchableBounceScreen.web.tsx
  apps/native-component-list/src/screens/TouchablesScreen.tsx
Labels: enhancement

#9821 [docs] rephrase pwa references
  docs/pages/guides/progressive-web-apps.md
  docs/pages/workflow/web.md
Labels: Platform: web, docs

#9953 [docs] Added info about keychain access in Expo CLI
  docs/pages/distribution/security.md
Labels: docs
