Repository expo/expo, pull requests merged in 2020-05, with the labels that each got.

#8108 Delete propTypes in expo-linear-gradient
  packages/expo-linear-gradient/build/LinearGradient.d.ts
  packages/expo-linear-gradient/build/LinearGradient.js
  packages/expo-linear-gradient/build/LinearGradient.js.map
  packages/expo-linear-gradient/src/LinearGradient.tsx
Labels: LinearGradient, Platform: web

#8111 Moved auth session guides to the guides section
  docs/pages/guides/authentication.md
  docs/pages/versions/unversioned/sdk/auth-session.md
  docs/pages/versions/v37.0.0/sdk/auth-session.md
  docs/static/images/sdk/auth-session/apple.png
  docs/static/images/sdk/auth-session/firebase-phone.png
Labels: AppleAuthentication, AuthSession, FirebaseRecaptcha, project: docs

#7876 [DeviceMotion] convert rotationRate to degrees
  docs/pages/versions/unversioned/sdk/devicemotion.md
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.java
  packages/expo-sensors/build/DeviceMotion.d.ts
  packages/expo-sensors/build/DeviceMotion.js.map
  packages/expo-sensors/build/ExponentDeviceMotion.web.d.ts
  packages/expo-sensors/build/ExponentDeviceMotion.web.js
  packages/expo-sensors/build/ExponentDeviceMotion.web.js.map
  packages/expo-sensors/ios/EXSensors/EXSensorsManager.h
  packages/expo-sensors/ios/EXSensors/EXSensorsManager.m
  packages/expo-sensors/src/DeviceMotion.ts
  packages/expo-sensors/src/ExponentDeviceMotion.web.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: DeviceMotion

#7852 Added sensors permission for iOS 13
  apps/native-component-list/src/screens/AccelerometerScreen.tsx
  docs/pages/versions/unversioned/sdk/accelerometer.md
  docs/pages/versions/unversioned/sdk/devicemotion.md
  docs/pages/versions/unversioned/sdk/gyroscope.md
  docs/pages/versions/unversioned/sdk/permissions.md
  packages/expo-permissions/build/ExpoPermissions.web.d.ts
  packages/expo-permissions/build/ExpoPermissions.web.js
  packages/expo-permissions/build/ExpoPermissions.web.js.map
  packages/expo-permissions/build/Permissions.d.ts
  packages/expo-permissions/build/Permissions.js
  packages/expo-permissions/build/Permissions.js.map
  packages/expo-permissions/build/Permissions.types.d.ts
  packages/expo-permissions/build/Permissions.types.js.map
  packages/expo-permissions/src/ExpoPermissions.web.ts
  packages/expo-permissions/src/Permissions.ts
  packages/expo-permissions/src/Permissions.types.ts
  packages/expo-sensors/build/ExponentAccelerometer.web.js
  packages/expo-sensors/build/ExponentAccelerometer.web.js.map
  packages/expo-sensors/build/ExponentDeviceMotion.web.js
  packages/expo-sensors/build/ExponentDeviceMotion.web.js.map
  packages/expo-sensors/build/ExponentGyroscope.web.js
  packages/expo-sensors/build/ExponentGyroscope.web.js.map
  packages/expo-sensors/build/utils/isSensorEnabledAsync.web.d.ts
  packages/expo-sensors/build/utils/isSensorEnabledAsync.web.js
  packages/expo-sensors/build/utils/isSensorEnabledAsync.web.js.map
  packages/expo-sensors/src/ExponentAccelerometer.web.ts
  packages/expo-sensors/src/ExponentDeviceMotion.web.ts
  packages/expo-sensors/src/ExponentGyroscope.web.ts
  packages/expo-sensors/src/utils/isSensorEnabledAsync.web.ts
Labels: Permissions, Platform: web, sensors

#7995 [expo-gl][web] Allow createElement & unstable_createElement …
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/build/Canvas.js
  packages/expo-gl/build/Canvas.js.map
  packages/expo-gl/build/GLView.d.ts
  packages/expo-gl/build/createElement.native.d.ts
  packages/expo-gl/build/createElement.native.js
  packages/expo-gl/build/createElement.native.js.map
  packages/expo-gl/build/createElement.web.d.ts
  packages/expo-gl/build/createElement.web.js
  packages/expo-gl/build/createElement.web.js.map
  packages/expo-gl/src/Canvas.tsx
  packages/expo-gl/src/createElement.native.tsx
  packages/expo-gl/src/createElement.web.tsx
Labels: Platform: web

#8110 fix web ncl
  apps/native-component-list/now.json
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  apps/native-component-list/src/screens/BatteryScreen.web.tsx
Labels: Platform: web

#8183 Fix web errors being thrown
  packages/expo-splash-screen/build/ExpoSplashScreen.web.d.ts
  packages/expo-splash-screen/build/ExpoSplashScreen.web.js
  packages/expo-splash-screen/build/ExpoSplashScreen.web.js.map
  packages/expo-splash-screen/package.json
  packages/expo-splash-screen/src/ExpoSplashScreen.web.ts
  packages/expo-splash-screen/src/__tests__/SplashScreen-test.ts
Labels: Platform: web, SplashScreen

#7301 Updating SDK documentation : AppAuth doesn't work with Gitlab oAuth
  docs/pages/versions/v36.0.0/sdk/app-auth.md
Labels: AppAuth, project: docs

#8184 Added tips and tricks for authentication
  docs/pages/guides/authentication.md
  docs/pages/versions/unversioned/sdk/app-auth.md
  docs/pages/versions/v37.0.0/sdk/app-auth.md
Labels: AuthSession, project: docs

#8188 [auth-session] Dropbox auth
  apps/native-component-list/src/screens/AuthSession/AuthCard.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  docs/pages/guides/authentication.md
  docs/static/images/sdk/auth-session/dropbox.png
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/src/AuthRequest.ts
  packages/expo-auth-session/src/__tests__/AuthRequest-test.ts
Labels: AuthSession

#8206 [auth-session] Expose window features in prompt
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/build/AuthRequest.types.d.ts
  packages/expo-auth-session/build/AuthRequest.types.js.map
  packages/expo-auth-session/src/AuthRequest.ts
  packages/expo-auth-session/src/AuthRequest.types.ts
  packages/expo-web-browser/build/ExpoWebBrowser.web.d.ts
  packages/expo-web-browser/build/ExpoWebBrowser.web.js
  packages/expo-web-browser/build/ExpoWebBrowser.web.js.map
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/build/WebBrowser.types.d.ts
  packages/expo-web-browser/build/WebBrowser.types.js.map
  packages/expo-web-browser/src/ExpoWebBrowser.web.ts
  packages/expo-web-browser/src/WebBrowser.ts
  packages/expo-web-browser/src/WebBrowser.types.ts
  packages/expo-web-browser/src/__tests__/ExpoWebBrowser-test.web.ts
Labels: AuthSession, Platform: web, WebBrowser

#8170 Add universal bundler spec compliance rules to babel-preset-expo
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/__tests__/__snapshots__/disable-ambiguous-requires-test.js.snap
  packages/babel-preset-expo/__tests__/disable-ambiguous-requires-test.js
  packages/babel-preset-expo/index.js
  packages/babel-preset-expo/plugins/disable-ambiguous-requires.js
Labels: Platform: web

#7834 [home] Remove unused SearchResults and ProfileCard
  home/api/generated/graphqlFragmentTypes.json
  home/components/ProfileCard.js
  home/components/SearchResults.js
  home/generate-graphql-fragment-types.sh
Labels: project: home

#8333 [docs] Add more visibility to the web browser method
  docs/pages/guides/authentication.md
  docs/pages/versions/unversioned/sdk/auth-session.md
  docs/pages/versions/v37.0.0/sdk/auth-session.md
Labels: AuthSession, project: docs

#8345 [docs] Fix await usage in battery snack example
  docs/pages/versions/unversioned/sdk/battery.md
  docs/pages/versions/v37.0.0/sdk/battery.md
  docs/static/examples/unversioned/battery.js
  docs/static/examples/v37.0.0/battery.js
Labels: Battery, project: docs

#8105 Updated web constants
  apps/test-suite/tests/Constants.js
  packages/expo-asset/build/PlatformUtils.d.ts
  packages/expo-constants/build/Constants.d.ts
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/ExponentConstants.web.ts
Labels: Constants, Platform: web

#8353 useAutoDiscovery() import missing for google
  docs/pages/guides/authentication.md
Labels: AuthSession, project: docs

#8347 Replace deprecated require actual with jest method
  home/api/__tests__/ApiV2HttpClient-test.js
  packages/@unimodules/react-native-adapter/src/__tests__/NativeModulesProxy-test.ts
  packages/@unimodules/react-native-adapter/src/__tests__/NativeViewManagerAdapter-test.tsx
  packages/expo-asset/src/__tests__/Asset-test.ts
  packages/expo-asset/src/__tests__/AssetSources-test.ts
  packages/expo-asset/src/__tests__/EmbeddedAssets-test.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/jest-expo/src/preset/setup.js
Labels: Launch-blocking

#8386 [expo-notification][ios] Add ScopedNotificationPresentationModule
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationPresentationModule.h
  ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationPresentationModule.m
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
  packages/expo-notifications/ios/EXNotifications/Notifications/Presenting/EXNotificationPresentationModule.h
  packages/expo-notifications/ios/EXNotifications/Notifications/Presenting/EXNotificationPresentationModule.m
Labels: Launch-blocking

#8431 [local-authentication] added supported authentication type estimate with package manager
  docs/pages/versions/unversioned/sdk/local-authentication.md
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.java
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.types.js
  packages/expo-local-authentication/build/LocalAuthentication.types.js.map
  packages/expo-local-authentication/src/LocalAuthentication.types.ts
Labels: Launch-blocking, LocalAuthentication

#8434 [react-native-screens] Upgrade react-native-screens to 2.8.0
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/Screen.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenContainer.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenFragment.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStack.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStackFragment.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStackHeaderConfig.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStackHeaderConfigViewManager.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Pods/.project_cache/installation_cache.yaml
  apps/bare-expo/ios/Pods/Local Podspecs/RNScreens.podspec.json
  apps/bare-expo/ios/Pods/Manifest.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreen.h
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreen.m
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreenContainer.m
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreenStack.m
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreenStackHeaderConfig.h
  ios/Exponent/Versioned/Core/Api/Screens/RNSScreenStackHeaderConfig.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: Launch-blocking

#8420 Updated next.js docs with CRNA, and CNA
  docs/pages/guides/using-nextjs.md
Labels: Platform: web, project: docs

#8437 [expo-notification] Prevent from notification being dispatch twice
  android/expoview/src/main/java/host/exp/exponent/fcm/ExpoFcmMessagingService.java
  apps/test-suite/app.json
Labels: Launch-blocking

#8441 [segmented-control] Upgrade @react-native-community/segmented-control to 1.6.1
  CHANGELOG.md
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/SegmentedControl/RNCSegmentedControl.h
  ios/Exponent/Versioned/Core/Api/Components/SegmentedControl/RNCSegmentedControl.m
  ios/Exponent/Versioned/Core/Api/Components/SegmentedControl/RNCSegmentedControlManager.h
  ios/Exponent/Versioned/Core/Api/Components/SegmentedControl/RNCSegmentedControlManager.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: Launch-blocking

#8048 [sentry docs] Use Updates.manifest.revisionId in bare
  docs/pages/guides/using-sentry.md
Labels: Launch-blocking

#8378 [expo-notifications] Fix click handler on android
  android/expoview/src/main/java/host/exp/exponent/fcm/ExpoFcmMessagingService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.java
  android/expoview/src/main/java/host/exp/exponent/notifications/ScopedNotificationRequest.java
  android/expoview/src/main/java/host/exp/exponent/notifications/ScopedNotificationsUtils.java
  android/expoview/src/main/java/host/exp/exponent/services/ScopedExpoNotificationsService.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentDB.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedExpoNotificationPresentationModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedNotificationScheduler.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedNotificationsEmitter.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedNotificationsHandler.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedNotificationsUtils.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/service/NotificationResponseReceiver.java
  template-files/android/AndroidManifest.xml
Labels: Launch-blocking

#8326 [expo-screen-capture] add screen capture module
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.java
  docs/pages/versions/unversioned/sdk/screen-capture.md
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/Pods/.project_cache/installation_cache.yaml
  ios/Pods/.project_cache/metadata_cache.yaml
  ios/Pods/EXScreenCapture.xcodeproj/project.pbxproj
  ios/Pods/Headers/Private/EXScreenCapture/EXScreenCaptureModule.h
  ios/Pods/Headers/Public/EXScreenCapture/EXScreenCaptureModule.h
  ios/Pods/Local Podspecs/EXScreenCapture.podspec.json
  ios/Pods/Manifest.lock
  ios/Pods/Pods.xcodeproj/project.pbxproj
  ios/Pods/Target Support Files/EXScreenCapture/EXScreenCapture-dummy.m
  ios/Pods/Target Support Files/EXScreenCapture/EXScreenCapture-prefix.pch
  ios/Pods/Target Support Files/EXScreenCapture/EXScreenCapture.xcconfig
  ios/Pods/Target Support Files/Pods-Exponent/Pods-Exponent.debug.xcconfig
  ios/Pods/Target Support Files/Pods-Exponent/Pods-Exponent.release.xcconfig
  ios/Pods/Target Support Files/Pods-ExponentIntegrationTests/Pods-ExponentIntegrationTests.debug.xcconfig
  ios/Pods/Target Support Files/Pods-ExponentIntegrationTests/Pods-ExponentIntegrationTests.release.xcconfig
  ios/Pods/Target Support Files/Pods-Tests/Pods-Tests.debug.xcconfig
  ios/Pods/Target Support Files/Pods-Tests/Pods-Tests.release.xcconfig
  packages/expo-screen-capture/README.md
  packages/expo-screen-capture/android/.gitignore
  packages/expo-screen-capture/android/build.gradle
  packages/expo-screen-capture/android/src/main/AndroidManifest.xml
  packages/expo-screen-capture/android/src/main/kotlin/expo/modules/screencapture/ScreenCaptureModule.kt
  packages/expo-screen-capture/android/src/main/kotlin/expo/modules/screencapture/ScreenCapturePackage.kt
  packages/expo-screen-capture/babel.config.js
  packages/expo-screen-capture/build/ExpoScreenCapture.d.ts
  packages/expo-screen-capture/build/ExpoScreenCapture.js
  packages/expo-screen-capture/build/ExpoScreenCapture.js.map
  packages/expo-screen-capture/build/ExpoScreenCapture.web.d.ts
  packages/expo-screen-capture/build/ExpoScreenCapture.web.js
  packages/expo-screen-capture/build/ExpoScreenCapture.web.js.map
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/ios/EXScreenCapture.podspec
  packages/expo-screen-capture/ios/EXScreenCapture/EXScreenCaptureModule.h
  packages/expo-screen-capture/ios/EXScreenCapture/EXScreenCaptureModule.m
  packages/expo-screen-capture/package.json
  packages/expo-screen-capture/src/ExpoScreenCapture.ts
  packages/expo-screen-capture/src/ExpoScreenCapture.web.ts
  packages/expo-screen-capture/src/ScreenCapture.ts
  packages/expo-screen-capture/src/__tests__/ScreenCapture-test.native.js
  packages/expo-screen-capture/src/__tests__/ScreenCaptureHook-test.native.js
  packages/expo-screen-capture/tsconfig.json
  packages/expo-screen-capture/unimodule.json
  packages/jest-expo/src/preset/expoModules.js
Labels: Launch-blocking

#8454 Deprecated AR on web
  packages/expo/src/deprecated.web.ts
Labels: AR, Platform: web

#7963 [auth-session] Twitch Support
  apps/native-component-list/src/screens/AuthSession/AuthCard.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  docs/pages/guides/authentication.md
  docs/static/images/sdk/auth-session/twitch.png
Labels: AuthSession

#8442 [ios] Remove AR module
  CHANGELOG.md
  ExpoKit.podspec
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Optional/ARKit/EXAR.h
  ios/Exponent/Versioned/Optional/ARKit/EXAR.m
  ios/Exponent/Versioned/Optional/ARKit/EXGLARSessionManager.h
  ios/Exponent/Versioned/Optional/ARKit/EXGLARSessionManager.m
  ios/Pods/.project_cache/installation_cache.yaml
  ios/Pods/ABI35_0_0.xcodeproj/project.pbxproj
  ios/Pods/ABI36_0_0.xcodeproj/project.pbxproj
  ios/Pods/ABI37_0_0.xcodeproj/project.pbxproj
  ios/Pods/Headers/Private/ABI35_0_0ExpoKit/ABI35_0_0EXAR.h
  ios/Pods/Headers/Private/ABI35_0_0ExpoKit/ABI35_0_0EXGLARSessionManager.h
  ios/Pods/Headers/Private/ABI36_0_0ExpoKit/ABI36_0_0EXAR.h
  ios/Pods/Headers/Private/ABI36_0_0ExpoKit/ABI36_0_0EXGLARSessionManager.h
  ios/Pods/Headers/Private/ABI37_0_0ExpoKit/ABI37_0_0EXAR.h
  ios/Pods/Headers/Private/ABI37_0_0ExpoKit/ABI37_0_0EXGLARSessionManager.h
  ios/Pods/Headers/Public/ABI35_0_0ExpoKit/ABI35_0_0EXAR.h
  ios/Pods/Headers/Public/ABI35_0_0ExpoKit/ABI35_0_0EXGLARSessionManager.h
  ios/Pods/Headers/Public/ABI36_0_0ExpoKit/ABI36_0_0EXAR.h
  ios/Pods/Headers/Public/ABI36_0_0ExpoKit/ABI36_0_0EXGLARSessionManager.h
  ios/Pods/Headers/Public/ABI37_0_0ExpoKit/ABI37_0_0EXAR.h
  ios/Pods/Headers/Public/ABI37_0_0ExpoKit/ABI37_0_0EXGLARSessionManager.h
  ios/versioned-react-native/ABI35_0_0/Expo/Optional/ARKit/ABI35_0_0EXAR.h
  ios/versioned-react-native/ABI35_0_0/Expo/Optional/ARKit/ABI35_0_0EXAR.m
  ios/versioned-react-native/ABI35_0_0/Expo/Optional/ARKit/ABI35_0_0EXGLARSessionManager.h
  ios/versioned-react-native/ABI35_0_0/Expo/Optional/ARKit/ABI35_0_0EXGLARSessionManager.m
  ios/versioned-react-native/ABI36_0_0/Expo/ExpoKit/Optional/ARKit/ABI36_0_0EXAR.h
  ios/versioned-react-native/ABI36_0_0/Expo/ExpoKit/Optional/ARKit/ABI36_0_0EXAR.m
  ios/versioned-react-native/ABI36_0_0/Expo/ExpoKit/Optional/ARKit/ABI36_0_0EXGLARSessionManager.h
  ios/versioned-react-native/ABI36_0_0/Expo/ExpoKit/Optional/ARKit/ABI36_0_0EXGLARSessionManager.m
  ios/versioned-react-native/ABI37_0_0/Expo/ExpoKit/Optional/ARKit/ABI37_0_0EXAR.h
  ios/versioned-react-native/ABI37_0_0/Expo/ExpoKit/Optional/ARKit/ABI37_0_0EXAR.m
  ios/versioned-react-native/ABI37_0_0/Expo/ExpoKit/Optional/ARKit/ABI37_0_0EXGLARSessionManager.h
  ios/versioned-react-native/ABI37_0_0/Expo/ExpoKit/Optional/ARKit/ABI37_0_0EXGLARSessionManager.m
  packages/expo/build/AR.d.ts
  packages/expo/build/AR.js
  packages/expo/build/AR.js.map
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.js
  packages/expo/build/Expo.js.map
  packages/expo/build/ExpoLazy.js
  packages/expo/build/ExpoLazy.js.map
  packages/expo/build/deprecated.js
  packages/expo/build/deprecated.js.map
  packages/expo/build/removed.js
  packages/expo/build/removed.js.map
  packages/expo/src/AR.ts
  packages/expo/src/Expo.ts
  packages/expo/src/deprecated.ts
  packages/expo/src/removed.ts
  packages/jest-expo/src/preset/expoModules.js
  template-files/ios/ExpoKit.podspec
Labels: Launch-blocking

#8475 [image-picker] Skip camera permission on web
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ExponentImagePicker.web.d.ts
  packages/expo-image-picker/build/ExponentImagePicker.web.js
  packages/expo-image-picker/build/ExponentImagePicker.web.js.map
  packages/expo-image-picker/src/ExponentImagePicker.web.ts
Labels: ImagePicker, Platform: web

#7477 [expo] Remove packages that don't actually need any additional setup now
  packages/expo/requiresExtraSetup.json
Labels: Launch-blocking

#8451 Add @react-native-community/[picker|slider]
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/PickerItemSelectEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/RNCPickerPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactDialogPickerManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactDropdownPickerManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPicker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSlider.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSliderEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSliderManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSliderPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSlidingCompleteEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSlidingStartEvent.java
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/AV/Slider.tsx
  apps/native-component-list/src/screens/AV/Slider.web.tsx
  apps/native-component-list/src/screens/AppleAuthenticationScreen.tsx
  apps/native-component-list/src/screens/BrightnessScreen.tsx
  apps/native-component-list/src/screens/GL/GLHeadlessRenderingScreen.tsx
  apps/native-component-list/src/screens/Image/AnimationBar.tsx
  apps/native-component-list/src/screens/LottieScreen.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.android.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.ios.tsx
  apps/native-component-list/src/screens/ReactNativeCore/ReactNativeCoreScreen.web.tsx
  docs/pages/versions/unversioned/sdk/picker.md
  docs/pages/versions/unversioned/sdk/slider.md
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPicker.h
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPicker.m
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPickerManager.h
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPickerManager.m
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSlider.h
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSlider.m
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSliderManager.h
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSliderManager.m
  packages/expo/bundledNativeModules.json
  tools/expotools/src/commands/UpdateVendoredModule.ts
  yarn.lock
Labels: Launch-blocking

#8486 [expo-notifications][expo-permissions] Move notification permission requesters to notifications package
  apps/bare-expo/ios/Pods/.project_cache/installation_cache.yaml
  apps/bare-expo/ios/Pods/EXNotifications.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Pods/EXPermissions.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Pods/Headers/Private/EXNotifications/EXRemoteNotificationPermissionRequester.h
  apps/bare-expo/ios/Pods/Headers/Private/EXNotifications/EXRemoteNotificationPermissionSingletonModule.h
  apps/bare-expo/ios/Pods/Headers/Private/EXPermissions/EXRemoteNotificationPermissionRequester.h
  apps/bare-expo/ios/Pods/Headers/Private/EXPermissions/EXUserNotificationPermissionRequester.h
  apps/bare-expo/ios/Pods/Headers/Public/EXNotifications/EXRemoteNotificationPermissionRequester.h
  apps/bare-expo/ios/Pods/Headers/Public/EXNotifications/EXRemoteNotificationPermissionSingletonModule.h
  apps/bare-expo/ios/Pods/Headers/Public/EXPermissions/EXRemoteNotificationPermissionRequester.h
  apps/bare-expo/ios/Pods/Headers/Public/EXPermissions/EXUserNotificationPermissionRequester.h
  docs/pages/versions/unversioned/sdk/permissions.md
  ios/Exponent/Versioned/Core/UniversalModules/Permissions/EXScopedPermissions.m
  ios/Pods/.project_cache/installation_cache.yaml
  ios/Pods/EXNotifications.xcodeproj/project.pbxproj
  ios/Pods/EXPermissions.xcodeproj/project.pbxproj
  ios/Pods/Headers/Private/EXNotifications/EXRemoteNotificationPermissionRequester.h
  ios/Pods/Headers/Private/EXNotifications/EXRemoteNotificationPermissionSingletonModule.h
  ios/Pods/Headers/Private/EXPermissions/EXRemoteNotificationPermissionRequester.h
  ios/Pods/Headers/Private/EXPermissions/EXUserNotificationPermissionRequester.h
  ios/Pods/Headers/Public/EXNotifications/EXRemoteNotificationPermissionRequester.h
  ios/Pods/Headers/Public/EXNotifications/EXRemoteNotificationPermissionSingletonModule.h
  ios/Pods/Headers/Public/EXPermissions/EXRemoteNotificationPermissionRequester.h
  ios/Pods/Headers/Public/EXPermissions/EXUserNotificationPermissionRequester.h
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Permissions/EXNotificationPermissionsModule.m
  packages/expo-notifications/ios/EXNotifications/Permissions/EXRemoteNotificationPermissionRequester.h
  packages/expo-notifications/ios/EXNotifications/Permissions/EXRemoteNotificationPermissionRequester.m
  packages/expo-notifications/ios/EXNotifications/Permissions/EXRemoteNotificationPermissionSingletonModule.h
  packages/expo-notifications/ios/EXNotifications/Permissions/EXRemoteNotificationPermissionSingletonModule.m
  packages/expo-permissions/CHANGELOG.md
  packages/expo-permissions/ios/EXPermissions/EXPermissions.m
  packages/expo-permissions/ios/EXPermissions/Requesters/RemoteNotification/EXRemoteNotificationPermissionRequester.h
  packages/expo-permissions/ios/EXPermissions/Requesters/UserNotification/EXUserNotificationPermissionRequester.h
  packages/expo-permissions/ios/EXPermissions/Requesters/UserNotification/EXUserNotificationPermissionRequester.m
Labels: Launch-blocking

#8438 @mczernek/app loader migration
  android/expoview/src/main/AndroidManifest.xml
  android/expoview/src/main/java/host/exp/exponent/ExpoApplication.java
  android/versioned-abis/expoview-abi37_0_0/src/main/java/abi37_0_0/org/unimodules/adapters/react/ReactAdapterPackage.java
  packages/@unimodules/react-native-adapter/android/src/main/AndroidManifest.xml
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/ReactAdapterPackage.java
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/android/src/main/java/expo/modules/backgroundfetch/BackgroundFetchTaskConsumer.java
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/android/src/main/AndroidManifest.xml
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/TaskService.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/Utils.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/repository/BareTasksAndEventsRepository.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/repository/ManagedTasksAndEventsRepository.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/repository/TasksAndEventsRepository.java
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/repository/TasksPersistence.java
  packages/unimodules-app-loader/android/src/main/java/org/unimodules/apploader/AppLoaderProvider.java
Labels: Launch-blocking

#8526 [unimodules/core] Fix AppDelegate swift bug
  packages/@unimodules/core/ios/UMCore/UMAppDelegateWrapper.m
Labels: bug

#8518 [expo-sqlite] Fix Web support
  apps/test-suite/TestModules.js
  apps/test-suite/tests/SQLite.js
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLite.types.d.ts
  packages/expo-sqlite/build/SQLite.types.js
  packages/expo-sqlite/build/SQLite.types.js.map
  packages/expo-sqlite/build/SQLite.web.d.ts
  packages/expo-sqlite/build/SQLite.web.js
  packages/expo-sqlite/build/SQLite.web.js.map
  packages/expo-sqlite/package.json
  packages/expo-sqlite/src/SQLite.types.ts
  packages/expo-sqlite/src/SQLite.web.ts
  packages/expo-sqlite/src/ts-declarations/global.d.ts
  packages/expo-sqlite/src/ts-declarations/process.d.ts
  yarn.lock
Labels: Platform: web, SQLite
