Repository expo/expo, pull requests merged in 2021-07, with the labels that each got.

#12950 [AV][iOS] Allow video audio to continue to play in the background
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAVObject.h
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
  packages/expo-av/ios/EXAV/Video/EXVideoView.m
Labels: bot: passed checks

#13462 [docs][clients] shorten and fix getting started example
  docs/pages/clients/getting-started.md
Labels: bot: passed checks

#13453 [skip ci][dev-client] Update README
  packages/expo-dev-client/README.md
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/README.md
Labels: bot: suggestions

#13466 [docs] EAS Build - update default image + update cache docs
  docs/pages/build-reference/android-builds.md
  docs/pages/build-reference/caching.md
  docs/pages/build-reference/infrastructure.md
  docs/pages/build-reference/variables.md
Labels: bot: passed checks

#13447 [Docs] Update dev client docs
  docs/pages/clients/eas-build.md
  docs/pages/clients/getting-started.md
  docs/pages/clients/installation.md
  docs/pages/clients/introduction.md
  docs/pages/clients/troubleshooting.md
  docs/public/static/images/dev-client-launcher.png
Labels: bot: passed checks, dev-client-launch

#13464 [docs][clients] add reanimated and splash-screen to compat page
  docs/pages/clients/compatibility.md
Labels: bot: passed checks

#13328 [github] dev client issue templates
  .github/ISSUE_TEMPLATE/dev_client_bug_report.yml
Labels: bot: passed checks, dev-client-launch

#13401 Use separate intent tags for AndroidManifest
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/AndroidManifest.xml
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/android/src/main/AndroidManifest.xml
Labels: bot: suggestions

#13440 [beta-docs] update release workflow to include beta issue tracker
  guides/releasing/Release Workflow.md
Labels: bot: passed checks

#13448 @tc/preview changes existing docs
  docs/pages/guides/using-hermes.md
  docs/pages/workflow/customizing.md
Labels: bot: passed checks, dev-client-launch

#13338 [docs] Add dev client to top level docs
  docs/components/DocumentationHeader.tsx
  docs/components/DocumentationPage.tsx
  docs/constants/FeatureFlags.js
  docs/constants/navigation-data.js
  docs/constants/navigation.js
  docs/pages/eas/index.md
  docs/pages/feature-preview/index.md
Labels: bot: passed checks, dev-client-launch

#13197 [docs] add updates integration to dev client setup docs
  docs/pages/clients/installation.md
  docs/public/static/diffs/client/app-delegate-updates.diff
  docs/public/static/diffs/client/main-activity-and-application.diff
  docs/public/static/diffs/client/main-application-updates.diff
Labels: bot: passed checks, dev-client-launch

#8791 [web][expo-av] Added recording web support via MediaRecorder
  apps/test-suite/TestModules.js
  apps/test-suite/tests/Recording.js
  docs/pages/versions/unversioned/sdk/audio.md
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Audio/Recording.d.ts
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/build/ExponentAV.web.d.ts
  packages/expo-av/build/ExponentAV.web.js
  packages/expo-av/build/ExponentAV.web.js.map
  packages/expo-av/src/Audio/Recording.ts
  packages/expo-av/src/ExponentAV.web.ts
Labels: AV, Platform: web, bot: passed checks

#13467 [NCL][test-suite] Rely on the same FB appId on Android and iOS
  apps/native-component-list/app.json
  apps/native-component-list/src/screens/FacebookAppEventsScreen.tsx
  apps/native-component-list/src/screens/FacebookLoginScreen.tsx
  apps/test-suite/tests/FBBannerAd.js
  apps/test-suite/tests/Facebook.js
Labels: bot: passed checks

#13477 [docs][background-fetch] backport docs
  docs/pages/versions/v42.0.0/sdk/background-fetch.md
Labels: bot: passed checks

#13485 [docs] add missing API data for v42 BackgroundFetch page
  docs/public/static/data/v42.0.0/expo-background-fetch.json
Labels: bot: passed checks

#13478 [home] update profile refresh control
  .gitignore
  home/components/ProfileView.tsx
Labels: bot: passed checks

#13469 Update ios.md
  docs/pages/submit/ios.md
Labels: bot: passed checks

#13483 add SDK 42 blog post link
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.md
Labels: bot: passed checks

#13494 [android] Escape Android autolinking script for windows
  packages/@unimodules/react-native-adapter/CHANGELOG.md
  packages/@unimodules/react-native-adapter/scripts/autolinking.gradle
Labels: bot: passed checks

#13481 [expo-updates-interface] remove unnecessary gradle dependency on unimodules-core
  packages/expo-updates-interface/android/build.gradle
Labels: bot: suggestions

#13451 [docs] improve `resolveTypeName` function, simplify union types, add tests
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
Labels: bot: passed checks

#13416 [image] Add webP support
  apps/native-component-list/assets/images/example3.webp
  apps/native-component-list/assets/videos/ace.webp
  apps/native-component-list/src/screens/Image/images/images.ts
  apps/native-component-list/src/screens/Image/tests/sources.ts
  packages/expo-image/android/build.gradle
  packages/expo-image/android/proguard-rules.pro
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/expo-image.podspec
  packages/expo-image/ios/EXImageViewManager.m
Labels: bot: passed checks

#13502 [unimodules-core][ios] Fix `getModuleImplementingProtocol` cannot find protocols which starts with "UM"
  packages/@unimodules/core/ios/UMCore/Protocols/UMAppLifecycleListener.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMAppLifecycleService.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMEventEmitter.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMEventEmitterService.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMInternalModule.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMJavaScriptContextProvider.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMKernelService.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMLogHandler.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMModuleRegistryConsumer.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMUIManager.h
  packages/@unimodules/core/ios/UMCore/Protocols/UMUtilitiesInterface.h
Labels: bot: suggestions

#13496 [android] Fix null pointer when working with null manifest
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.java
Labels: bot: passed checks

#13501 [expo-updates][ios] remove usage of deprecated reload method
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
Labels: bot: passed checks

#13491 [docs] Mention Node version of 14 or above
  CONTRIBUTING.md
Labels: bot: passed checks, docs

#13444 Added info about manifest merging to config plugin docs
  docs/components/base/code.tsx
  docs/components/base/languages/index.ts
  docs/components/base/languages/properties.ts
  docs/pages/guides/config-plugins.md
Labels: bot: passed checks

#13078 [docs][no ci] Added VSCode extension to installation
  docs/pages/get-started/installation.md
Labels: bot: passed checks

#13499 [docs][clients] add installation instructions for projects without unimodules
  docs/pages/clients/installation.md
  docs/public/static/diffs/client/app-delegate-no-unimodules.diff
  docs/public/static/diffs/client/gradle-no-unimodules.diff
  docs/public/static/diffs/client/main-activity-and-application-no-unimodules.diff
  docs/public/static/diffs/client/podfile-no-unimodules.diff
  docs/public/static/diffs/client/settings-gradle-no-unimodules.diff
  docs/public/static/images/client/xcode_bridging_header_alert.png
Labels: bot: passed checks

#13424 [expo-constants] Modularized expo-constants without further app setup
  .gitattributes
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile.lock
  apps/bare-sandbox/android/app/build.gradle
  apps/bare-sandbox/ios/bare-sandbox.xcodeproj/project.pbxproj
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/README.md
  packages/expo-constants/android/build.gradle
  packages/expo-constants/ios/EXConstants.podspec
  packages/expo-constants/ios/EXConstants/EXConstantsService.m
  packages/expo-constants/scripts/get-app-config-android.gradle
  packages/expo-constants/scripts/get-app-config-ios.sh
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#13418 [expo-media-library] Add isAvailableAsync method
  docs/pages/versions/unversioned/sdk/media-library.md
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/package.json
  packages/expo-media-library/src/MediaLibrary.ts
  packages/expo-media-library/src/__tests__/MediaLibrary-test.native.ts
  packages/expo-media-library/src/__tests__/MediaLibrary-test.web.ts
Labels: bot: passed checks

#13327 [babel-preset-expo] Improve detection for NextJS 11 as a bundler
  packages/babel-preset-expo/index.js
Labels: bot: passed checks

#13508 [client] Different icon for `unversioned` flavor
  android/app/src/unversioned/res/mipmap-hdpi-v26/ic_foreground_unversioned.png
  android/app/src/unversioned/res/mipmap-hdpi-v26/ic_launcher.xml
  android/app/src/unversioned/res/mipmap-hdpi/ic_launcher.png
  android/app/src/unversioned/res/mipmap-mdpi-v26/ic_foreground_unversioned.png
  android/app/src/unversioned/res/mipmap-mdpi-v26/ic_launcher.xml
  android/app/src/unversioned/res/mipmap-mdpi/ic_launcher.png
  android/app/src/unversioned/res/mipmap-xhdpi-v26/ic_foreground_unversioned.png
  android/app/src/unversioned/res/mipmap-xhdpi-v26/ic_launcher.xml
  android/app/src/unversioned/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/unversioned/res/mipmap-xxhdpi-v26/ic_foreground_unversioned.png
  android/app/src/unversioned/res/mipmap-xxhdpi-v26/ic_launcher.xml
  android/app/src/unversioned/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/unversioned/res/mipmap-xxxhdpi-v26/ic_foreground_unversioned.png
  android/app/src/unversioned/res/mipmap-xxxhdpi-v26/ic_launcher.xml
  android/app/src/unversioned/res/mipmap-xxxhdpi/ic_launcher.png
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/1024.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/120-1.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/120.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/152.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/167.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/180.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/40.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/58.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/60.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/76.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/80.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/87.png
  ios/Exponent/Images.xcassets/AppIconUnversioned.appiconset/Contents.json
  ios/Exponent/Images.xcassets/Contents.json
Labels: bot: passed checks

#7557 Add support for app.config.js in jest-expo
  packages/jest-expo/package.json
  packages/jest-expo/src/preset/createMockConstants.js
  yarn.lock
Labels: Jest with Expo

#13528 [ci][ios] fix shell app build break
  .github/workflows/shell-app-ios.yml
Labels: bot: passed checks

#13497 [ci] Update workflows to macOS 11
  .github/workflows/ad-hoc-client-shell-app-ios.yml
  .github/workflows/client-ios.yml
  .github/workflows/development-client.yml
  .github/workflows/ios-unit-tests.yml
  .github/workflows/shell-app-ios.yml
  .github/workflows/test-suite.yml
  apps/bare-expo/ios/Build-Phases/generate-dynamic-macros.sh
  ios/Build-Phases/generate-dynamic-macros.sh
Labels: bot: passed checks

#13504 [expo-battery][android] rewrite batterymodule to kotlin
  packages/expo-battery/CHANGELOG.md
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryLevelReceiver.java
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryLevelReceiver.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.java
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryPackage.java
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryPackage.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryStateReceiver.java
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryStateReceiver.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryStatusNativeToJS.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/PowerSaverReceiver.java
  packages/expo-battery/android/src/main/java/expo/modules/battery/PowerSaverReceiver.kt
Labels: bot: passed checks

#13517 [expo-clipboard][android] clean code in clipboard module
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardEventEmitter.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
Labels: bot: passed checks

#13272 Foundation of first-class support for native modules written in Swift
  apps/bare-expo/ios/BareExpo/AppDelegate.swift
  apps/bare-expo/ios/Podfile.lock
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Podfile
  ios/Podfile.lock
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/src/platforms/ios.ts
  packages/expo-modules-core/ios/ExpoModulesCore.h
  packages/expo-modules-core/ios/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Swift/Convertibles/ConvertibleFromDictionary.swift
  packages/expo-modules-core/ios/Swift/Errors.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyArgumentType.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyMethod.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyMethodArgument.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/ModuleRegistry.swift
  packages/expo-modules-core/ios/Swift/Modules/AnyModule.swift
  packages/expo-modules-core/ios/Swift/Modules/Module.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionBuilder.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/ModulesProvider.swift
  packages/expo-modules-core/ios/Swift/Promise.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
Labels: bot: suggestions

#13531 [ios] Pass manifest into EXScopedFacebook
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Exponent/Versioned/Core/UniversalModules/EXFacebook/EXScopedFacebook.h
  ios/Exponent/Versioned/Core/UniversalModules/EXFacebook/EXScopedFacebook.m
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.h
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
  ios/Podfile.lock
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/ABI40_0_0EXVersionManager.mm
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/ABI40_0_0EXScopedModuleRegistryAdapter.h
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/ABI40_0_0EXScopedModuleRegistryAdapter.m
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/EXFacebook/ABI40_0_0EXScopedFacebook.h
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/EXFacebook/ABI40_0_0EXScopedFacebook.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/ABI41_0_0EXVersionManager.mm
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/ABI41_0_0EXScopedModuleRegistryAdapter.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/ABI41_0_0EXScopedModuleRegistryAdapter.m
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/EXFacebook/ABI41_0_0EXScopedFacebook.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/EXFacebook/ABI41_0_0EXScopedFacebook.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/ABI42_0_0EXVersionManager.mm
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/ABI42_0_0EXScopedModuleRegistryAdapter.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/ABI42_0_0EXScopedModuleRegistryAdapter.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/EXFacebook/ABI42_0_0EXScopedFacebook.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/EXFacebook/ABI42_0_0EXScopedFacebook.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseRawManifest.h
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseRawManifest.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesRawManifest.h
Labels: bot: suggestions

#13539 [notifications] Check if icon file exists before removing
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/src/__tests__/withNotificationsAndroid-test.ts
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
Labels: bot: passed checks

#13532 [expo-facebook] Remove swift noop plugin
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/plugin/build/withFacebook.js
  packages/expo-facebook/plugin/build/withNoopSwiftFile.d.ts
  packages/expo-facebook/plugin/build/withNoopSwiftFile.js
  packages/expo-facebook/plugin/src/withFacebook.ts
  packages/expo-facebook/plugin/src/withNoopSwiftFile.ts
Labels: bot: passed checks

#13544 [expo-dev-launcher] add missing fields to release DevLauncherController
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
Labels: bot: passed checks

#13535 [dev-client] Fix web compatibility
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/build/DevLauncherErrorManager.web.d.ts
  packages/expo-dev-launcher/build/DevLauncherErrorManager.web.js
  packages/expo-dev-launcher/build/DevLauncherErrorManager.web.js.map
  packages/expo-dev-launcher/build/WebUnsupportedError.d.ts
  packages/expo-dev-launcher/build/WebUnsupportedError.js
  packages/expo-dev-launcher/build/WebUnsupportedError.js.map
  packages/expo-dev-launcher/build/setUpErrorHandler.fx.web.d.ts
  packages/expo-dev-launcher/build/setUpErrorHandler.fx.web.js
  packages/expo-dev-launcher/build/setUpErrorHandler.fx.web.js.map
  packages/expo-dev-launcher/src/DevLauncherErrorManager.web.ts
  packages/expo-dev-launcher/src/WebUnsupportedError.ts
  packages/expo-dev-launcher/src/setUpErrorHandler.fx.web.ts
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/build/DevMenu.d.ts
  packages/expo-dev-menu/build/DevMenu.js
  packages/expo-dev-menu/build/DevMenu.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.js
  packages/expo-dev-menu/build/ExpoDevMenu.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.types.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.types.js
  packages/expo-dev-menu/build/ExpoDevMenu.types.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.web.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.web.js
  packages/expo-dev-menu/build/ExpoDevMenu.web.js.map
  packages/expo-dev-menu/build/WebUnsupportedError.d.ts
  packages/expo-dev-menu/build/WebUnsupportedError.js
  packages/expo-dev-menu/build/WebUnsupportedError.js.map
  packages/expo-dev-menu/src/DevMenu.ts
  packages/expo-dev-menu/src/ExpoDevMenu.ts
  packages/expo-dev-menu/src/ExpoDevMenu.types.ts
  packages/expo-dev-menu/src/ExpoDevMenu.web.ts
  packages/expo-dev-menu/src/WebUnsupportedError.ts
Labels: bot: suggestions

#13548 [docs] Fix link to config-plugins from expo-dev-client's Getting Started guide
  docs/pages/clients/getting-started.md
Labels: bot: passed checks

#13551 [expo-modules-autolinking] Extend @tsconfig/node12 base config
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/autolinking.js
  packages/expo-modules-autolinking/build/autolinking.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/package.json
  packages/expo-modules-autolinking/tsconfig.json
  yarn.lock
Labels: bot: passed checks

#13543 [ios] Pass manifest into EXScopedFirebaseCore
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFirebaseCore.h
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFirebaseCore.m
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/ABI40_0_0EXScopedFirebaseCore.h
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/ABI40_0_0EXScopedFirebaseCore.m
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/UniversalModules/ABI40_0_0EXScopedModuleRegistryAdapter.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/ABI41_0_0EXScopedFirebaseCore.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/ABI41_0_0EXScopedFirebaseCore.m
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/ABI41_0_0EXScopedModuleRegistryAdapter.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/ABI42_0_0EXScopedFirebaseCore.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/ABI42_0_0EXScopedFirebaseCore.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/ABI42_0_0EXScopedModuleRegistryAdapter.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseRawManifest.h
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseRawManifest.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesRawManifest.h
Labels: bot: suggestions

#13506 [docs] EAS Build - unified workflow
  docs/components/plugins/EasJsonPropertiesTable.tsx
  docs/pages/build/eas-json.md
  docs/scripts/schemas/unversioned/eas-json-android-schema.js
  docs/scripts/schemas/unversioned/eas-json-ios-schema.js
Labels: bot: passed checks

#13541 [docs] Add Google fonts Snack example
  docs/pages/guides/using-custom-fonts.md
Labels: bot: passed checks

#13550 [swift] Accessing internal modules from legacy module registry
  packages/expo-modules-core/ios/ModuleRegistry/EXModuleRegistry.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/ModuleRegistry.swift
  packages/expo-modules-core/ios/Swift/Modules/AnyModule.swift
  packages/expo-modules-core/ios/Swift/Modules/Module.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
Labels: bot: suggestions

#13559 [docs] Readded babel plugins note to be listed last
  docs/pages/versions/unversioned/sdk/reanimated.md
  docs/pages/versions/v42.0.0/sdk/reanimated.md
Labels: bot: passed checks

#13565 [docs] remove all mentions of generic worfklow
  docs/pages/app-signing/local-credentials.md
  docs/pages/build-reference/android-builds.md
  docs/pages/build-reference/apk.md
  docs/pages/build-reference/build-configuration.md
  docs/pages/build-reference/ios-builds.md
  docs/pages/build-reference/simulators.md
  docs/pages/build-reference/variables.md
  docs/pages/build/internal-distribution.md
  docs/pages/build/updates.md
  docs/pages/clients/eas-build.md
Labels: bot: passed checks

#13568 [unimodules][android] changed preBuild.dependsOn with quotes
  packages/@unimodules/react-native-adapter/CHANGELOG.md
  packages/@unimodules/react-native-adapter/android/build.gradle
Labels: bot: passed checks

#13373 [ios][android] disable flipper in bare-expo
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo/AppDelegate.swift
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
Labels: bot: passed checks

#13572 [android] restore initializeFlipper call in MainApplication
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
Labels: bot: passed checks

#13570 [docs] Added iOS 15 capabilities
  docs/pages/build-reference/ios-capabilities.md
Labels: docs

#13538 [expo-print] Rewriting to kotlin
  packages/expo-print/CHANGELOG.md
  packages/expo-print/android/src/main/java/expo/modules/print/FileUtils.java
  packages/expo-print/android/src/main/java/expo/modules/print/FileUtils.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintDocumentAdapterLayoutCallback.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintDocumentAdapterWriteCallback.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintModule.java
  packages/expo-print/android/src/main/java/expo/modules/print/PrintModule.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.java
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPackage.java
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPackage.kt
Labels: bot: passed checks

#13398 [client] Update NewManifest field paths for new extra field format
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.java
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/BaseLegacyRawManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/NewRawManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/RawManifest.kt
Labels: bot: suggestions

#13587 [gl-cpp] Add kotlin gradle plugin, fixes #12707
  packages/expo-gl-cpp/android/build.gradle
Labels: bot: passed checks

#13527 [android][calendar]Refactor calendar module
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/android/build.gradle
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarEvenFactory.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.java
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarPackage.java
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarPackage.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/Constants.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/JsValuesMappers.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/ModuleDestroyedException.kt
Labels: bot: passed checks

#13591 [templates] Remove AppleTVOS12 JavaScriptCore.framework
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#13590 [templates] Remove xib file
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
  templates/expo-template-bare-minimum/ios/HelloWorld/Base.lproj/LaunchScreen.xib
Labels: bot: passed checks

#13555 [expo-updates] remove side effect from UpdatesDevLauncherController.initialize()
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
Labels: bot: passed checks

#13510 [checkbox] reimplement expo-checkbox in javascript
  apps/native-component-list/src/screens/CheckboxScreen.tsx
  docs/pages/versions/unversioned/sdk/checkbox.md
  packages/expo-checkbox/CHANGELOG.md
  packages/expo-checkbox/build/Checkbox.types.js.map
  packages/expo-checkbox/build/CheckboxUnavailable.d.ts
  packages/expo-checkbox/build/CheckboxUnavailable.js
  packages/expo-checkbox/build/CheckboxUnavailable.js.map
  packages/expo-checkbox/build/ExpoCheckbox.android.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.android.js
  packages/expo-checkbox/build/ExpoCheckbox.android.js.map
  packages/expo-checkbox/build/ExpoCheckbox.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.js
  packages/expo-checkbox/build/ExpoCheckbox.js.map
  packages/expo-checkbox/build/ExpoCheckbox.web.js
  packages/expo-checkbox/build/ExpoCheckbox.web.js.map
  packages/expo-checkbox/package.json
  packages/expo-checkbox/src/Checkbox.types.ts
  packages/expo-checkbox/src/CheckboxUnavailable.tsx
  packages/expo-checkbox/src/ExpoCheckbox.android.tsx
  packages/expo-checkbox/src/ExpoCheckbox.tsx
  packages/expo-checkbox/src/ExpoCheckbox.web.tsx
  packages/expo-checkbox/src/__tests__/CheckBox-test.ts
  packages/expo-checkbox/src/__tests__/ExpoCheckBox-test.android.tsx
  packages/expo-checkbox/src/__tests__/ExpoCheckBox-test.ios.tsx
  packages/expo-checkbox/src/__tests__/ExpoCheckBox-test.tsx
  packages/expo-checkbox/src/__tests__/ExpoCheckBox-test.web.tsx
  packages/expo-checkbox/src/__tests__/__snapshots__/ExpoCheckBox-test.web.tsx.snap.web
Labels: bot: passed checks

#13586 [ios] Update NewManifest field paths for new extra field format
  ios/Exponent/Kernel/Views/EXAppViewController.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseLegacyRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseLegacyRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesNewRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesNewRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseLegacyRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseLegacyRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesNewRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesNewRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/UniversalModules/EXNotifications/ABI41_0_0EXScopedNotificationCategoryMigrator.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseLegacyRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseLegacyRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesNewRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesNewRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/UniversalModules/EXNotifications/ABI42_0_0EXScopedNotificationCategoryMigrator.m
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/RawManifest.kt
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseLegacyRawManifest.h
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseLegacyRawManifest.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseRawManifest.h
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesBaseRawManifest.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesNewRawManifest.h
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesNewRawManifest.m
  packages/expo-updates/ios/EXUpdates/Update/RawManifest/EXUpdatesRawManifest.h
Labels: bot: suggestions

#13600 use the same version of `react-test-renderer` across the workspace
  packages/expo-gl/package.json
  packages/jest-expo-enzyme/package.json
  packages/jest-expo/package.json
  yarn.lock
Labels: bot: suggestions

#13604 [github] add notice about dev-client version to issue template
  .github/ISSUE_TEMPLATE/dev_client_bug_report.yml
Labels: bot: passed checks

#13598 [docs][clients] add note to installation page about iOS module name
  docs/pages/clients/installation.md
Labels: bot: passed checks

#13605 @tc/dev client docs 0713
  docs/pages/clients/getting-started.md
  docs/pages/clients/installation.md
  docs/pages/clients/introduction.md
  docs/pages/feature-preview/index.md
Labels: bot: passed checks

#13566 [ios] Swiftify expo-tracking-transparency
  ios/Podfile.lock
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/src/platforms/ios.ts
  packages/expo-modules-core/ios/Swift/Methods/AnyArgumentType.swift
  packages/expo-modules-core/ios/Swift/Promise.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
  packages/expo-tracking-transparency/expo-module.config.json
  packages/expo-tracking-transparency/ios/EXTrackingTransparency.podspec
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/TrackingTransparencyModule.swift
Labels: bot: suggestions

#13610 [expo-constants] fix absolute path in script to inconsistent Podfile.lock
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/ios/EXConstants.podspec
Labels: bot: passed checks

#13601 [ios] backport misc changes to versioned EXUpdates and EXUpdatesInterface
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesAppController+Internal.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesAppController.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesConfig.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesDevLauncherController.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesDevLauncherController.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesBareUpdate.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesLegacyUpdate.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesNewUpdate.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseLegacyRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesNewRawManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/ABI40_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/RawManifest/NSDictionary+ABI40_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdatesInterface/ABI40_0_0EXUpdatesInterface/ABI40_0_0EXUpdatesExternalInterface.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesAppController+Internal.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesAppController.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesConfig.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesDevLauncherController.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesDevLauncherController.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesBareUpdate.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesLegacyUpdate.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesNewUpdate.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseLegacyRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesBaseRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesNewRawManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/ABI41_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/RawManifest/NSDictionary+ABI41_0_0EXUpdatesRawManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdatesInterface/ABI41_0_0EXUpdatesInterface/ABI41_0_0EXUpdatesExternalInterface.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/ABI42_0_0EXUpdatesAppController+Internal.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/ABI42_0_0EXUpdatesAppController.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/ABI42_0_0EXUpdatesConfig.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/ABI42_0_0EXUpdatesDevLauncherController.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesBaseLegacyRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/RawManifest/ABI42_0_0EXUpdatesNewRawManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdatesInterface/ABI42_0_0EXUpdatesInterface/ABI42_0_0EXUpdatesExternalInterface.h
Labels: bot: passed checks

#13621 [camera][ios] add permission fns to named exports
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.js
  packages/expo-camera/build/index.js.map
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/index.ts
Labels: bot: passed checks

#13439 [constants][updates] update bundle scripts to correctly find project
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/scripts/get-app-config-ios.sh
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/scripts/create-manifest-ios.sh
  packages/expo-updates/scripts/createManifest.js
Labels: bot: passed checks

#13596 [android] Add kotlin spotless ktlint linter for bare-expo
  android/build.gradle
  apps/bare-expo/android/.idea/codeStyles/Project.xml
  apps/bare-expo/android/.idea/runConfigurations.xml
  apps/bare-expo/android/build.gradle
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarEvenFactory.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/JsValuesMappers.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/ModuleDestroyedException.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherExpoAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherPublishedAppLoader.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherColorsHelper.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherAppError.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifest.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManager.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/activitydelegates/DevLauncherReactActivityNOPDelegate.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/splashscreen/DevLauncherSplashScreenProvider.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherURLHelperTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParserTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestTest.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuManagerInterface.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/items/DevMenuItemsContainerInterface.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuDefaultSettings.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuHost.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/KeyValueCachedProperty.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/api/DevMenuExpoApiClient.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/api/DevMenuMetroClient.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/detectors/ThreeFingerLongPressDetector.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/devtools/DevMenuDevToolsDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/helpers/DevMenuReflectionExtensions.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalFontManagerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalSessionManagerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalWebBrowserModule.kt
  packages/expo-dev-menu/android/src/test/java/expo/modules/devmenu/detectors/ShakeDetectorTest.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/FileUtils.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorPackage.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/RotateAction.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/CompressionImageExporter.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/BorderDrawable.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/OutlineProvider.kt
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/ExpoImageOkHttpClientGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/OkHttpClientProgressInterceptor.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/singletons/SplashScreen.kt
Labels: bot: suggestions

#13582 [expo-local-authentication][android] Rewrite to kotlin
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.java
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationPackage.java
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationPackage.kt
Labels: bot: suggestions

#13525 [ios] Swiftify expo-haptics
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-haptics/expo-module.config.json
  packages/expo-haptics/ios/EXHaptics.podspec
  packages/expo-haptics/ios/EXHaptics/HapticsModule.swift
  packages/expo-modules-core/ios/Swift/Promise.swift
Labels: bot: suggestions

#13595 [docs] EAS Build with submodules
  docs/constants/navigation.js
  docs/pages/build-reference/how-tos.md
Labels: bot: passed checks

#13618 [docs] Drop permissions API page and redirect to permissions guide
  docs/common/error-utilities.ts
  docs/pages/versions/unversioned/sdk/permissions.md
  docs/pages/versions/v40.0.0/sdk/permissions.md
  docs/pages/versions/v41.0.0/sdk/permissions.md
  docs/pages/versions/v42.0.0/sdk/permissions.md
Labels: bot: passed checks

#13567 [docs] add "Components" section to the generated docs, migrate `AppleAuthenticationButton`
  docs/components/plugins/APISection.tsx
  docs/components/plugins/Headings.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/apple-authentication.md
  docs/public/static/data/unversioned/expo-apple-authentication.json
  packages/expo-apple-authentication/CHANGELOG.md
  packages/expo-apple-authentication/build/AppleAuthentication.types.d.ts
  packages/expo-apple-authentication/build/AppleAuthentication.types.js.map
  packages/expo-apple-authentication/build/AppleAuthenticationButton.d.ts
  packages/expo-apple-authentication/build/AppleAuthenticationButton.js
  packages/expo-apple-authentication/build/AppleAuthenticationButton.js.map
  packages/expo-apple-authentication/src/AppleAuthentication.types.ts
  packages/expo-apple-authentication/src/AppleAuthenticationButton.tsx
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13619 [maps] Rerun upgrade react-native-maps to 0.28.0
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapOverlay.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapOverlayManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapPolyline.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapView.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapManager.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapModule.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapOverlay.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapOverlayManager.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapPolyline.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapView.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/RegionChangeEvent.java
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMap.h
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMap.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapManager.h
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapManager.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapOverlay.h
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapOverlay.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapOverlayManager.m
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMap.h
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMap.m
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMapManager.m
Labels: bot: passed checks

#13645 [autolinking] Link only project's dependencies
  apps/native-component-list/package.json
  packages/expo-modules-autolinking/build/autolinking.d.ts
  packages/expo-modules-autolinking/build/autolinking.js
  packages/expo-modules-autolinking/build/autolinking.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/src/autolinking.ts
  packages/expo-modules-autolinking/src/index.ts
Labels: bot: passed checks

#13505 [expo-sms][android] Rewriting expo-sms to kotlin.
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSModule.java
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSModule.kt
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSPackage.java
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSPackage.kt
Labels: bot: passed checks

#13562 [expo-analytics-segment][android] rewriting expo analytics segment to kotlin
  packages/expo-analytics-segment/CHANGELOG.md
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentModule.java
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentModule.kt
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentPackage.java
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentPackage.kt
Labels: bot: passed checks

#13629 [expo-battery][android] Add unit tests.
  packages/expo-battery/CHANGELOG.md
  packages/expo-battery/android/build.gradle
  packages/expo-battery/android/src/test/java/expo/modules/battery/BatteryModuleTest.kt
  packages/expo-battery/android/src/test/java/expo/modules/battery/MockedEventEmitter.java
  packages/expo-battery/android/src/test/java/expo/modules/battery/TestUtils.kt
  packages/unimodules-test-core/android/build.gradle
  packages/unimodules-test-core/android/src/main/java/org/unimodules/test/core/UnimoduleMocks.kt
Labels: bot: passed checks

#13632 [dev-launcher][ios] Fix compatibility with RN 0.64
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherRedBox.m
  packages/expo-dev-launcher/ios/Unsafe/RCTPackagerConnection+EXDevLauncherPackagerConnectionInterceptor.m
Labels: bot: passed checks

#13649 [swift] Implement event listeners as part of module definition and basic lifecycle events
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/EventListener.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/ModuleRegistry.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/TrackingTransparencyModule.swift
Labels: bot: suggestions

#13633 [expo-print][ios] fix printing html
  packages/expo-print/CHANGELOG.md
  packages/expo-print/ios/EXPrint/EXWKPDFRenderer.m
  packages/expo-print/ios/EXPrint/EXWKSnapshotPDFRenderer.m
  packages/expo-print/ios/EXPrint/EXWKViewPDFRenderer.h
  packages/expo-print/ios/EXPrint/EXWKViewPDFRenderer.m
Labels: bot: passed checks

#13652 [docs] Webview snack example
  docs/pages/versions/unversioned/sdk/webview.md
  docs/pages/versions/v42.0.0/sdk/webview.md
Labels: bot: passed checks

#13657 [facebook] Update TS and auto-generate docs
  docs/pages/versions/unversioned/sdk/facebook.md
  docs/pages/versions/v42.0.0/sdk/facebook.md
  docs/public/static/data/unversioned/expo-facebook.json
  docs/public/static/data/v42.0.0/expo-facebook.json
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/build/Facebook.d.ts
  packages/expo-facebook/build/Facebook.js
  packages/expo-facebook/build/Facebook.js.map
  packages/expo-facebook/src/Facebook.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13648 [ci][android] Fix emulator hanging and block other workflows
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13597 [expo-dev-launcher][android] update plugin and docs to only initialize UpdatesDevLauncherController in debug builds
  docs/public/static/diffs/client/main-application-updates.diff
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
Labels: bot: passed checks

#13592 [expo-crypto][android] Add unit tests.
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/android/build.gradle
  packages/expo-crypto/android/src/test/java/expo/modules/crypto/CryptoModuleTest.kt
  packages/expo-crypto/android/src/test/java/expo/modules/crypto/ExpectedEncodingResults.kt
Labels: bot: passed checks

#13611 [android][calendar] Add AttendeeBuilder, minor refactoring
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/AttendeeBuilder.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarEventBuilder.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.kt
Labels: bot: suggestions

#13503 [image] Add SVG support
  apps/native-component-list/assets/images/expo.svg
  apps/native-component-list/src/screens/Image/images/images.ts
  apps/native-component-list/src/screens/Image/tests/sources.ts
  packages/expo-image/android/build.gradle
  packages/expo-image/android/proguard-rules.pro
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDecoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDrawable.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDrawableTranscoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGSoftwareLayerSetter.kt
  packages/expo-image/expo-image.podspec
  packages/expo-image/ios/EXImageCustomCoders.h
  packages/expo-image/ios/EXImageCustomCoders.m
  packages/expo-image/ios/EXImageView.m
  packages/expo-image/ios/EXImageViewManager.m
Labels: bot: passed checks

#13676 Fixed typos
  docs/pages/versions/unversioned/sdk/auth-session.md
  docs/pages/versions/v38.0.0/sdk/auth-session.md
  docs/pages/versions/v39.0.0/sdk/auth-session.md
  docs/pages/versions/v40.0.0/sdk/auth-session.md
  docs/pages/versions/v41.0.0/sdk/auth-session.md
  docs/pages/versions/v42.0.0/sdk/auth-session.md
Labels: bot: passed checks

#13620 [stripe][docs] Explain from where to import constants for linking
  docs/pages/versions/unversioned/sdk/stripe.md
  docs/pages/versions/v42.0.0/sdk/stripe.md
Labels: bot: passed checks

#13681 [expo-updates] Fixes Instrumental tests on Android
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/LegacyRawManifest.kt
Labels: bot: suggestions

#13457 [expo-modules][android] propose module-level app or activity customization support
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainActivity.java
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  packages/@unimodules/core/android/build.gradle
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/BasePackage.java
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/ApplicationLifecycleListener.kt
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/Package.java
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/ReactActivityLifecycleListener.kt
  packages/@unimodules/core/android/src/main/java/org/unimodules/core/interfaces/ReactNativeHostHandler.kt
  packages/@unimodules/react-native-adapter/android/build.gradle
  packages/@unimodules/react-native-adapter/android/proguard-rules.pro
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/ApplicationLifecycleDispatcher.kt
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/ModuleRegistryAdapter.java
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/ReactActivityDelegateWrapper.kt
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/ReactNativeHostWrapper.kt
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenPackage.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenReactActivityLifecycleListener.kt
Labels: bot: suggestions

#13659 [camera][ios] fix video quality regression
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: bot: passed checks

#13602 [js] Update JS code to read manifest2 when manifest is not available
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  apps/native-component-list/src/screens/AuthSession/LegacyAuthSession.tsx
  home/utils/Environment.ts
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-firebase-analytics/CHANGELOG.md
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js.map
  packages/expo-firebase-analytics/src/ExpoFirebaseAnalytics.ts
  packages/expo-firebase-core/CHANGELOG.md
  packages/expo-firebase-core/build/FirebaseOptions.js
  packages/expo-firebase-core/build/FirebaseOptions.js.map
  packages/expo-firebase-core/src/FirebaseOptions.ts
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Linking.ts
  packages/expo-linking/src/Schemes.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js.map
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/getDevicePushTokenAsync.web.ts
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
  packages/expo-store-review/CHANGELOG.md
  packages/expo-store-review/build/StoreReview.js
  packages/expo-store-review/build/StoreReview.js.map
  packages/expo-store-review/src/StoreReview.ts
  packages/expo/build/environment/logging.fx.js
  packages/expo/build/environment/logging.fx.js.map
  packages/expo/build/logs/LogSerialization.js
  packages/expo/build/logs/LogSerialization.js.map
  packages/expo/build/logs/RemoteLogging.js
  packages/expo/build/logs/RemoteLogging.js.map
  packages/expo/src/environment/logging.fx.ts
  packages/expo/src/logs/LogSerialization.ts
  packages/expo/src/logs/RemoteLogging.ts
Labels: bot: passed checks

#13667 [expo-constants][ios] Fix app.config not generated
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/scripts/get-app-config-ios.sh
  packages/expo-constants/scripts/getAppConfig.js
Labels: bot: passed checks

#13660 Update imagepicker.md
  docs/pages/versions/unversioned/sdk/imagepicker.md
  docs/pages/versions/v42.0.0/sdk/imagepicker.md
Labels: bot: passed checks

#13671 Minor SplashScreen example lint
  docs/pages/versions/unversioned/sdk/splash-screen.md
Labels: bot: passed checks

#13655 [swift] Move setting method's queue to separate function
  packages/expo-modules-core/ios/Swift/Methods/AnyMethod.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
Labels: bot: suggestions

#13650 [font] add doc comments in source
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/font.md
  docs/public/static/data/unversioned/expo-font.json
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/Font.types.d.ts
  packages/expo-font/build/Font.types.js
  packages/expo-font/build/Font.types.js.map
  packages/expo-font/build/FontHooks.d.ts
  packages/expo-font/build/FontHooks.js
  packages/expo-font/build/FontHooks.js.map
  packages/expo-font/src/Font.ts
  packages/expo-font/src/Font.types.ts
  packages/expo-font/src/FontHooks.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13690 [camera][ios] remove permission validation from init method
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: bot: passed checks

#13607 [templates] Added iOS background color support
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.m
Labels: bot: passed checks

#13707 [expo-auth-session] Mock hostUri in tests
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/expo-auth-session/src/__tests__/SessionUrlProvider-test.ts
Labels: bot: suggestions

#13708 [docs] updated pwa guides
  docs/pages/guides/progressive-web-apps.md
  docs/pages/guides/using-nextjs.md
  docs/pages/workflow/web.md
Labels: bot: passed checks

#13701 Revert "[ci][android] Fix emulator hanging and block other workflows (#13648)"
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13673 [sms][test-suite] Handle null/undefined recipients & extend tests
  apps/native-component-list/src/screens/SMSScreen.tsx
  apps/test-suite/tests/SMS.ios.js
  apps/test-suite/tests/SMS.js
  apps/test-suite/tests/SMSCommon.js
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/build/SMS.js
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/src/SMS.ts
Labels: bot: passed checks

#13630 [error-recovery][android] Add unit tests
  packages/expo-error-recovery/CHANGELOG.md
  packages/expo-error-recovery/android/build.gradle
  packages/expo-error-recovery/android/src/main/java/expo/modules/errorrecovery/ErrorRecoveryModule.kt
  packages/expo-error-recovery/android/src/test/java/expo/modules/errorrecovery/ErrorRecoveryModuleTest.kt
  packages/unimodules-test-core/android/build.gradle
Labels: bot: suggestions

#13638 [dev-launcher] Use dependency injection & make package more testable
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherExpoAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherLocalAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherPublishedAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherReactNativeAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherDevMenuExtensions.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/koin/DevLauncherKoinApp.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/koin/DevLauncherKoinComponent.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherControllerInterface.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherIntentRegistry.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/menu/DevLauncherMenuDelegate.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManager.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/tests/DevLauncherDisabledTestInterceptor.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/tests/DevLauncherTestInterceptor.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuDefaultSettings.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/tests/DevMenuDisabledTestInterceptor.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/tests/DevMenuTestInterceptor.kt
Labels: bot: suggestions

#13712 [ios] Migrate expo-linear-gradient to use expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-linear-gradient/ios/EXLinearGradient.podspec
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradient.h
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradient.m
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradientManager.h
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradientManager.m
  packages/expo-linear-gradient/package.json
Labels: bot: suggestions

#13716 [docs] Fix Snacks after dev domain migration
  docs/README.md
  docs/common/snack.ts
  docs/components/plugins/SnackEmbed.tsx
  docs/pages/guides/color-schemes.md
  docs/pages/versions/unversioned/sdk/stripe.md
  docs/pages/workflow/already-used-react-native.md
  docs/pages/workflow/glossary-of-terms.md
  docs/pages/workflow/snack.md
Labels: bot: passed checks

#13693 [brightness] add doc comments in source
  docs/components/plugins/APISection.tsx
  docs/pages/versions/unversioned/sdk/brightness.md
  docs/public/static/data/unversioned/expo-brightness.json
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/build/Brightness.d.ts
  packages/expo-brightness/build/Brightness.js
  packages/expo-brightness/build/Brightness.js.map
  packages/expo-brightness/src/Brightness.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13719 Correct documentation-related links in Readme
  README.md
Labels: bot: passed checks

#13720 [brightness] remove reverted change from changelog
  packages/expo-brightness/CHANGELOG.md
Labels: bot: passed checks

#13710 docs: corrected syntax and fixed sample plugin implementation
  docs/pages/guides/config-plugins.md
Labels: bot: passed checks

#13599 [apps][home] migrate `async-storage` and `masked-view` packages
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/GL/GLMaskScreen.tsx
  apps/native-component-list/src/screens/MaskedViewScreen.tsx
  home/package.json
  yarn.lock
Labels: bot: passed checks

#13644 [docs] added warning about config plugins modifying the sdkVersion
  docs/pages/guides/config-plugins.md
Labels: bot: passed checks

#13733 Revert "[expo-update][iOS][android] save asset with a key that does n…
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyManifest.kt
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesBareUpdate.m
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.m
Labels: bot: passed checks

#13704 [swift] Implement view managers with the new Swift API
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
  packages/expo-modules-core/ios/Swift/Views/AnyViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ConcreteViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ViewFactory.swift
  packages/expo-modules-core/ios/Swift/Views/ViewManagerDefinition.swift
  packages/expo-modules-core/ios/Swift/Views/ViewManagerDefinitionBuilder.swift
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
Labels: bot: suggestions

#13654 [expo-speech] fix getting listener count
  packages/@unimodules/react-native-adapter/CHANGELOG.md
  packages/@unimodules/react-native-adapter/build/EventEmitter.js
  packages/@unimodules/react-native-adapter/build/EventEmitter.js.map
  packages/@unimodules/react-native-adapter/src/EventEmitter.ts
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/build/Speech.js
  packages/expo-speech/build/Speech.js.map
  packages/expo-speech/src/Speech/Speech.ts
Labels: bot: passed checks

#13699 [expo-contacts] resolve presentFormAsync when form closes
  apps/native-component-list/src/screens/Contacts/ContactDetailScreen.tsx
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.java
  packages/expo-contacts/ios/EXContacts/EXContacts.m
  packages/expo-contacts/ios/EXContacts/EXContactsViewController.h
  packages/expo-contacts/ios/EXContacts/EXContactsViewController.m
Labels: bot: passed checks

#13722 [swift] Add Swift implementation of expo-linear-gradient
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-linear-gradient/expo-module.config.json
  packages/expo-linear-gradient/ios/EXLinearGradient.podspec
  packages/expo-linear-gradient/ios/EXLinearGradient/LinearGradientModule.swift
Labels: bot: suggestions

#13678 [expo-document-picker][android] Fix file uri
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
Labels: bot: passed checks

#13674 [sms][android] Add unit tests
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/android/build.gradle
  packages/expo-sms/android/src/main/java/expo/modules/sms/SMSModule.kt
  packages/expo-sms/android/src/test/java/expo/modules/sms/MockActivityProvider.kt
  packages/expo-sms/android/src/test/java/expo/modules/sms/SMSModuleTest.kt
Labels: bot: suggestions

#13694 [android][cellular] Rewrite cellular module to kotlin
  packages/expo-cellular/CHANGELOG.md
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularGeneration.kt
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.java
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.kt
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularPackage.java
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularPackage.kt
Labels: bot: passed checks

#13594 [linear-gradient] simplify props TS types
  docs/public/static/data/unversioned/expo-linear-gradient.json
  packages/expo-linear-gradient/build/LinearGradient.d.ts
  packages/expo-linear-gradient/build/LinearGradient.js.map
  packages/expo-linear-gradient/build/NativeLinearGradient.types.d.ts
  packages/expo-linear-gradient/build/NativeLinearGradient.types.js.map
  packages/expo-linear-gradient/src/LinearGradient.tsx
  packages/expo-linear-gradient/src/NativeLinearGradient.types.ts
Labels: bot: suggestions

#13737 [android][cellular]Fix lint issue
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.kt
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularPackage.kt
Labels: bot: suggestions

#13005 [docs] remove top level sections from sidebar in /guides
  docs/components/DocumentationSidebarGroup.tsx
  docs/constants/navigation-data.js
  docs/constants/navigation.js
  docs/pages/guides.md
Labels: bot: passed checks

#13735 [docs] fix Edit Page link issue, add tests
  docs/components/DocumentationFooter.test.tsx
  docs/components/DocumentationFooter.tsx
Labels: bot: passed checks

#13715 [checkbox] add doc comments in source
  docs/components/base/list.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/checkbox.md
  docs/public/static/data/unversioned/expo-checkbox.json
  packages/expo-checkbox/build/Checkbox.types.d.ts
  packages/expo-checkbox/build/Checkbox.types.js.map
  packages/expo-checkbox/src/Checkbox.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13736 [docs] add SDK 42 to the versions matrix
  docs/pages/versions/unversioned/index.md
  docs/pages/versions/v42.0.0/index.md
Labels: bot: passed checks

#13713 [cellular] Add 5g support for cellular module
  apps/native-component-list/src/screens/CellularScreen.tsx
  packages/expo-cellular/CHANGELOG.md
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularGeneration.kt
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.kt
  packages/expo-cellular/build/Cellular.types.d.ts
  packages/expo-cellular/build/Cellular.types.js
  packages/expo-cellular/build/Cellular.types.js.map
  packages/expo-cellular/ios/EXCellular/CellularModule.swift
  packages/expo-cellular/ios/EXCellular/EXCellularModule.h
  packages/expo-cellular/ios/EXCellular/EXCellularModule.m
  packages/expo-cellular/src/Cellular.types.ts
Labels: bot: passed checks

#13698 [ios] Fix simulator build broken on m1
  ios/Podfile
Labels: bot: passed checks

#12735 [jest-expo]: Use Jest 26 instead of 25.
  packages/jest-expo/package.json
  yarn.lock
Labels: bot: passed checks

#13740 [ABI][EXUpdates] revert filenames to contain extensions
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/Update/ABI39_0_0EXUpdatesBareUpdate.m
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/Update/ABI39_0_0EXUpdatesLegacyUpdate.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesBareUpdate.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesLegacyUpdate.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesBareUpdate.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesLegacyUpdate.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/ABI42_0_0EXUpdatesBareUpdate.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/ABI42_0_0EXUpdatesLegacyUpdate.m
Labels: bot: passed checks

#13718 [docs] update the 'Build Webhooks' page - we now call webhook when the build is canceled
  docs/pages/distribution/webhooks.md
Labels: bot: passed checks

#13628 [video] Fix inline playback on Safari iOS (web)
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/ExponentVideo.web.js
  packages/expo-av/build/ExponentVideo.web.js.map
  packages/expo-av/src/ExponentVideo.web.tsx
Labels: bot: passed checks

#13748 [docs] improve linking in `APISection` component
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
Labels: bot: passed checks

#13745 [ios] Migrate expo-av to use expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV.podspec
  packages/expo-av/ios/EXAV/EXAV.h
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAVPlayerData.h
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
  packages/expo-av/ios/EXAV/EXAudioRecordingPermissionRequester.m
  packages/expo-av/ios/EXAV/EXAudioSessionManager.h
  packages/expo-av/ios/EXAV/EXAudioSessionManager.m
  packages/expo-av/ios/EXAV/Video/EXVideoManager.h
  packages/expo-av/ios/EXAV/Video/EXVideoManager.m
  packages/expo-av/ios/EXAV/Video/EXVideoView.h
  packages/expo-av/ios/EXAV/Video/EXVideoView.m
Labels: bot: suggestions

#13749 [ios] Migrate expo-file-system to use expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem.podspec
  packages/expo-file-system/ios/EXFileSystem/EXFilePermissionModule.h
  packages/expo-file-system/ios/EXFileSystem/EXFilePermissionModule.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemAssetLibraryHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemLocalFileHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionHandler.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionResumableDownloadTaskDelegate.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionResumableDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionTaskDelegate.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionUploadTaskDelegate.m
Labels: bot: passed checks

#13728 [web][image-manipulator] Fix incorrect compression value when maximum requested
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js.map
  packages/expo-image-manipulator/src/ExpoImageManipulator.web.ts
Labels: bot: passed checks

#13750 [ios] Migrate expo-camera to use expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera.podspec
  packages/expo-camera/ios/EXCamera/EXCamera.h
  packages/expo-camera/ios/EXCamera/EXCamera.m
  packages/expo-camera/ios/EXCamera/EXCameraCameraPermissionRequester.m
  packages/expo-camera/ios/EXCamera/EXCameraManager.h
  packages/expo-camera/ios/EXCamera/EXCameraManager.m
  packages/expo-camera/ios/EXCamera/EXCameraMicrophonePermissionRequester.m
  packages/expo-camera/ios/EXCamera/EXCameraPermissionRequester.m
Labels: bot: passed checks

#13726 [android][image-manipulator] Fix Android regressions
  apps/test-suite/TestModules.js
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/FileUtils.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.kt
Labels: bot: suggestions

#13734 [swift] Add basic unit tests for the new API
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile
  ios/Podfile.lock
  packages/expo-modules-core/ios/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/ModuleRegistry.swift
  packages/expo-modules-core/ios/Tests/Mocks/ModuleMocks.swift
  packages/expo-modules-core/ios/Tests/Mocks/ModulesProviderMock.swift
  packages/expo-modules-core/ios/Tests/ModuleEventListenersTests.swift
  packages/expo-modules-core/ios/Tests/ModuleRegistryTests.swift
Labels: bot: suggestions
