Repository expo/expo, pull requests merged in 2021-11, with the labels that each got.

#14962 [sweet-api][kotlin] Use type converter to convert props
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/AnyViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ConcreteViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/views/ConcreteViewPropTest.kt
Labels: bot: suggestions

#14979 [docs] fix `FaceDetector` examples
  docs/pages/versions/unversioned/sdk/facedetector.md
  docs/pages/versions/v43.0.0/sdk/facedetector.md
Labels: bot: passed checks

#14907 [docs] Update plugin docs for a few libraries
  docs/pages/versions/unversioned/sdk/admob.md
  docs/pages/versions/unversioned/sdk/facebook-ads.md
  docs/pages/versions/unversioned/sdk/filesystem.md
  docs/pages/versions/unversioned/sdk/media-library.md
  docs/pages/versions/unversioned/sdk/tracking-transparency.md
  docs/pages/versions/v43.0.0/sdk/admob.md
  docs/pages/versions/v43.0.0/sdk/facebook-ads.md
  docs/pages/versions/v43.0.0/sdk/filesystem.md
  docs/pages/versions/v43.0.0/sdk/media-library.md
  docs/pages/versions/v43.0.0/sdk/tracking-transparency.md
Labels: bot: passed checks

#14980 [jest-expo] update and simplify `transformIgnorePatters`
  docs/pages/guides/testing-with-jest.md
  packages/jest-expo/jest-preset.js
Labels: bot: passed checks

#14995 [babel-preset-expo] Switch to automatic jsxRuntime by default
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
  packages/babel-preset-expo/__tests__/index-test.js
  packages/babel-preset-expo/index.js
Labels: bot: passed checks

#14984 fix: crash on launch for incomplete OTA
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.m
Labels: bot: suggestions

#14998 [ci] fix sdk-43 ios ci failures
  .github/workflows/client-ios.yml
  .github/workflows/ios-unit-tests.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13556 Add Street Number to reverse geocode (iOS)
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationHelpers.java
  packages/expo-location/build/LocationGoogleGeocoding.js
  packages/expo-location/ios/EXLocation/EXLocation.m
  packages/expo-location/src/Location.types.ts
  packages/expo-location/src/LocationGoogleGeocoding.ts
Labels: bot: passed checks

#14955 [dev-launcher][ios] Add more tests
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherMenuDelegate.swift
  packages/expo-dev-launcher/ios/EXDevLauncherRecentlyOpenedAppsRegistry.swift
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.h
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherControllerTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherMenuDelegateTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherPendingDeepLinkRegistryTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherRCTBridgeTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherRecentlyOpenedAppsRegistryTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherTest.swift
Labels: bot: suggestions

#14958 [sweet][ios] Implement sending events from native to JavaScript
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/Services/EXReactNativeEventEmitter.h
  packages/expo-modules-core/ios/Services/EXReactNativeEventEmitter.m
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/Modules/Module.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
Labels: bot: passed checks

#14959 [clipboard][ios] Sweetify expo-clipboard on iOS
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/expo-module.config.json
  packages/expo-clipboard/ios/EXClipboard.podspec
  packages/expo-clipboard/ios/EXClipboard/ClipboardModule.swift
  packages/expo-clipboard/unimodule.json
Labels: bot: passed checks

#14957 [dev-menu-interface][ios] Add tests
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-menu-interface/expo-dev-menu-interface.podspec
  packages/expo-dev-menu-interface/ios/Tests/DevMenuActionTest.swift
  packages/expo-dev-menu-interface/ios/Tests/DevMenuEASUpdatesTest.swift
  packages/expo-dev-menu-interface/ios/Tests/DevMenuItemsContainerTest.swift
  packages/expo-dev-menu-interface/ios/Tests/DevMenuLinkTest.swift
  packages/expo-dev-menu-interface/ios/Tests/DevMenuScreenTest.swift
  packages/expo-dev-menu-interface/ios/Tests/DevMenuSelectionListTest.swift
Labels: bot: passed checks

#14988 [sweet][ios] Make some common types convertible
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/ConvertibleArgument.swift
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
  packages/expo-modules-core/ios/Tests/MethodWithConvertiblesSpec.swift
Labels: bot: passed checks

#14961 [sweet-api][kotlin] Add support for basic system events
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/EventListener.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/EventName.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/KotlinInteropModuleRegistryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/ModuleRegistryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/modules/ModuleDefinitionBuilderTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/modules/ModuleHolderTest.kt
Labels: bot: suggestions

#14943 [facedetector][android] Rewrite module to Kotlin
  packages/expo-face-detector/CHANGELOG.md
  packages/expo-face-detector/android/build.gradle
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetector.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetector.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetectorProvider.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetectorProvider.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorConstants.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorModule.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorModule.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorPackage.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorPackage.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorUtils.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorUtils.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ImageDimensions.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/tasks/FileFaceDetectionCompletionListener.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/tasks/FileFaceDetectionCompletionListener.kt
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/tasks/FileFaceDetectionTask.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/tasks/FileFaceDetectionTask.kt
Labels: bot: passed checks

#14977 [docs] update `AppConfigSchemaPropertiesTable`, remove old schemas
  docs/components/plugins/AppConfigSchemaPropertiesTable.tsx
  docs/scripts/schemas/v36.0.0/app-config-schema.js
  docs/scripts/schemas/v37.0.0/app-config-schema.js
Labels: bot: passed checks

#15001 [module-scripts] match dependencies version with workspace
  packages/expo-module-scripts/package.json
  yarn.lock
Labels: bot: suggestions

#15002 [docs] EAS Build - changes after switching to no-commit workflow
  docs/pages/build-reference/android-builds.md
  docs/pages/build-reference/build-configuration.md
  docs/pages/build-reference/how-tos.md
  docs/pages/build-reference/ios-builds.md
  docs/pages/build/eas-json.md
  docs/pages/submit/eas-json.md
Labels: bot: passed checks

#14997 [expo-go] bump expo go version
  ios/Exponent/Supporting/Info.plist
Labels: bot: passed checks

#15008 [expo-updates] fix handling of unexpectedly missing assets
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.m
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.m
Labels: bot: passed checks

#14537 [docs] Update docs for "EAS" and "Classic Services"
  docs/common/error-utilities.test.ts
  docs/common/error-utilities.ts
  docs/components/DocumentationHeader.tsx
  docs/components/DocumentationPage.tsx
  docs/components/DocumentationSidebar.tsx
  docs/constants/FeatureFlags.js
  docs/constants/navigation-data.js
  docs/constants/navigation.js
  docs/deploy.sh
  docs/next.config.js
  docs/pages/app-signing/app-credentials.md
  docs/pages/app-signing/managed-credentials.md
  docs/pages/archived/adhoc-builds.md
  docs/pages/bare/exploring-bare-workflow.md
  docs/pages/bare/using-libraries.md
  docs/pages/build-reference/build-webhook.md
  docs/pages/build/building-on-ci.md
  docs/pages/build/introduction.md
  docs/pages/build/setup.md
  docs/pages/classic/building-standalone-apps.md
  docs/pages/classic/turtle-cli.md
  docs/pages/distribution/app-stores.md
  docs/pages/distribution/hosting-your-app.md
  docs/pages/distribution/introduction.md
  docs/pages/distribution/release-channels.md
  docs/pages/distribution/uploading-apps.md
  docs/pages/distribution/webhooks.md
  docs/pages/eas/index.md
  docs/pages/feature-preview/index.md
  docs/pages/guides.md
  docs/pages/guides/app-icons.md
  docs/pages/guides/authentication.md
  docs/pages/guides/configuring-updates.md
  docs/pages/guides/environment-variables.md
  docs/pages/guides/how-expo-works.md
  docs/pages/guides/linking.md
  docs/pages/guides/offline-support.md
  docs/pages/guides/preloading-and-caching-assets.md
  docs/pages/guides/setting-up-continuous-integration.md
  docs/pages/introduction/walkthrough.md
  docs/pages/introduction/why-not-expo.md
  docs/pages/push-notifications/faq.md
  docs/pages/push-notifications/sending-notifications.md
  docs/pages/push-notifications/using-fcm.md
  docs/pages/submit/introduction.md
  docs/pages/workflow/already-used-react-native.md
  docs/pages/workflow/glossary-of-terms.md
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.md
Labels: bot: passed checks

#15015 [docs] Update apple authentication to reflect EAS usage
  docs/pages/versions/unversioned/sdk/apple-authentication.md
  docs/pages/versions/v43.0.0/sdk/apple-authentication.md
Labels: bot: passed checks

#15006 [sweet-api][kotlin] Add a way of getting the ReactApplicationContext
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
Labels: bot: suggestions

#14986 [status-bar] add doc comments in source
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/status-bar.md
  docs/public/static/data/unversioned/expo-status-bar.json
  packages/expo-status-bar/build/ExpoStatusBar.d.ts
  packages/expo-status-bar/build/ExpoStatusBar.js
  packages/expo-status-bar/build/ExpoStatusBar.js.map
  packages/expo-status-bar/build/StatusBar.types.d.ts
  packages/expo-status-bar/build/StatusBar.types.js.map
  packages/expo-status-bar/build/setStatusBarBackgroundColor.d.ts
  packages/expo-status-bar/build/setStatusBarBackgroundColor.js
  packages/expo-status-bar/build/setStatusBarBackgroundColor.js.map
  packages/expo-status-bar/build/setStatusBarHidden.d.ts
  packages/expo-status-bar/build/setStatusBarHidden.js
  packages/expo-status-bar/build/setStatusBarHidden.js.map
  packages/expo-status-bar/build/setStatusBarNetworkActivityIndicatorVisible.d.ts
  packages/expo-status-bar/build/setStatusBarNetworkActivityIndicatorVisible.js
  packages/expo-status-bar/build/setStatusBarNetworkActivityIndicatorVisible.js.map
  packages/expo-status-bar/build/setStatusBarStyle.d.ts
  packages/expo-status-bar/build/setStatusBarStyle.js
  packages/expo-status-bar/build/setStatusBarStyle.js.map
  packages/expo-status-bar/build/setStatusBarTranslucent.d.ts
  packages/expo-status-bar/build/setStatusBarTranslucent.js
  packages/expo-status-bar/build/setStatusBarTranslucent.js.map
  packages/expo-status-bar/src/ExpoStatusBar.tsx
  packages/expo-status-bar/src/StatusBar.types.ts
  packages/expo-status-bar/src/setStatusBarBackgroundColor.ts
  packages/expo-status-bar/src/setStatusBarHidden.ts
  packages/expo-status-bar/src/setStatusBarNetworkActivityIndicatorVisible.ts
  packages/expo-status-bar/src/setStatusBarStyle.ts
  packages/expo-status-bar/src/setStatusBarTranslucent.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#15022 [docs] fix broken link to the AppAuth package
  docs/pages/versions/unversioned/sdk/google.md
  docs/pages/versions/v39.0.0/sdk/google.md
  docs/pages/versions/v40.0.0/sdk/google.md
  docs/pages/versions/v41.0.0/sdk/google.md
  docs/pages/versions/v42.0.0/sdk/google.md
  docs/pages/versions/v43.0.0/sdk/google.md
Labels: bot: passed checks

#14978 [tools] update TypeDoc and TS, regenerate `unversioned` APIs data
  docs/public/static/data/unversioned/expo-analytics-amplitude.json
  docs/public/static/data/unversioned/expo-analytics-segment.json
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-asset.json
  docs/public/static/data/unversioned/expo-background-fetch.json
  docs/public/static/data/unversioned/expo-barcode-scanner.json
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/unversioned/expo-brightness.json
  docs/public/static/data/unversioned/expo-checkbox.json
  docs/public/static/data/unversioned/expo-clipboard.json
  docs/public/static/data/unversioned/expo-error-recovery.json
  docs/public/static/data/unversioned/expo-face-detector.json
  docs/public/static/data/unversioned/expo-facebook.json
  docs/public/static/data/unversioned/expo-firebase-analytics.json
  docs/public/static/data/unversioned/expo-firebase-core.json
  docs/public/static/data/unversioned/expo-font.json
  docs/public/static/data/unversioned/expo-haptics.json
  docs/public/static/data/unversioned/expo-image-manipulator.json
  docs/public/static/data/unversioned/expo-image-picker.json
  docs/public/static/data/unversioned/expo-in-app-purchases.json
  docs/public/static/data/unversioned/expo-intent-launcher.json
  docs/public/static/data/unversioned/expo-keep-awake.json
  docs/public/static/data/unversioned/expo-localization.json
  docs/public/static/data/unversioned/expo-location.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-navigation-bar.json
  docs/public/static/data/unversioned/expo-network.json
  docs/public/static/data/unversioned/expo-pedometer.json
  docs/public/static/data/unversioned/expo-print.json
  docs/public/static/data/unversioned/expo-random.json
  docs/public/static/data/unversioned/expo-screen-capture.json
  docs/public/static/data/unversioned/expo-screen-orientation.json
  docs/public/static/data/unversioned/expo-secure-store.json
  docs/public/static/data/unversioned/expo-sharing.json
  docs/public/static/data/unversioned/expo-sms.json
  docs/public/static/data/unversioned/expo-speech.json
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/unversioned/expo-task-manager.json
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/unversioned/expo-video-thumbnails.json
  docs/public/static/data/unversioned/expo-web-browser.json
  packages/expo-cellular/plugin/build/withCellular.js
  tools/package.json
  tools/tsconfig.json
  tools/yarn.lock
Labels: bot: suggestions

#15024 [docs] correct typo in the plist key name
  docs/pages/versions/unversioned/sdk/audio.md
  docs/pages/versions/v39.0.0/sdk/audio.md
  docs/pages/versions/v40.0.0/sdk/audio.md
  docs/pages/versions/v41.0.0/sdk/audio.md
  docs/pages/versions/v41.0.0/sdk/audio.md.orig
  docs/pages/versions/v42.0.0/sdk/audio.md
  docs/pages/versions/v43.0.0/sdk/audio.md
Labels: bot: passed checks

#15028 [amplitude] Make userId optional
  packages/expo-analytics-amplitude/CHANGELOG.md
  packages/expo-analytics-amplitude/android/src/main/java/expo/modules/analytics/amplitude/AmplitudeModule.kt
  packages/expo-analytics-amplitude/build/Amplitude.d.ts
  packages/expo-analytics-amplitude/build/Amplitude.js
  packages/expo-analytics-amplitude/build/Amplitude.js.map
  packages/expo-analytics-amplitude/src/Amplitude.ts
Labels: bot: passed checks

#15025 [ios] Optimize compiling Swift files
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-cellular/ios/EXCellular.podspec
  packages/expo-clipboard/ios/EXClipboard.podspec
  packages/expo-haptics/ios/EXHaptics.podspec
  packages/expo-linear-gradient/ios/EXLinearGradient.podspec
  packages/expo-modules-core/ios/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/ModuleRegistry.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Records/Field.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
  packages/expo-modules-core/ios/Swift/Views/ConcreteViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
  packages/expo-tracking-transparency/ios/EXTrackingTransparency.podspec
Labels: bot: suggestions

#15026 [splash-screens] Fix removing KVO exception if keyWindow changed
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: passed checks

#15019 [updates] Workaround double bridge initialization
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppDelegate.m
Labels: bot: passed checks

#14366 [firebase-analytics] Remove native `setScreenName` method and deprecate `setCurrentScreen`
  docs/public/static/data/unversioned/expo-firebase-analytics.json
  packages/expo-firebase-analytics/CHANGELOG.md
  packages/expo-firebase-analytics/android/src/main/java/expo/modules/firebase/analytics/FirebaseAnalyticsModule.java
  packages/expo-firebase-analytics/build/Analytics.d.ts
  packages/expo-firebase-analytics/build/Analytics.js
  packages/expo-firebase-analytics/build/Analytics.js.map
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.d.ts
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js.map
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.web.d.ts
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.web.js
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.web.js.map
  packages/expo-firebase-analytics/build/FirebaseAnalyticsJS.d.ts
  packages/expo-firebase-analytics/build/FirebaseAnalyticsJS.js
  packages/expo-firebase-analytics/build/FirebaseAnalyticsJS.js.map
  packages/expo-firebase-analytics/src/Analytics.ts
  packages/expo-firebase-analytics/src/ExpoFirebaseAnalytics.ts
  packages/expo-firebase-analytics/src/ExpoFirebaseAnalytics.web.ts
  packages/expo-firebase-analytics/src/FirebaseAnalyticsJS.ts
Labels: bot: passed checks

#15023 [Location][Android] Check for null value of mLocationClient to prevent a crash
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/LocationTaskConsumer.java
Labels: bot: passed checks

#15038 [firebase-recaptcha] Update imports on web for the latest firebase JS sdk
  packages/expo-firebase-recaptcha/CHANGELOG.md
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifierModal.web.d.ts
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifierModal.web.js
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifierModal.web.js.map
  packages/expo-firebase-recaptcha/package.json
  packages/expo-firebase-recaptcha/src/FirebaseRecaptchaVerifierModal.web.tsx
  packages/expo-firebase-recaptcha/src/__tests__/FirebaseRecaptchaVerifierModalWeb-test.tsx
  yarn.lock
Labels: bot: passed checks

#15005 [sweet-api][kotlin] Add better error handling
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KPromiseWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/Promise.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ReadableTypeExtensions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/methods/AnyMethod.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/methods/Method.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/methods/PromiseMethod.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterHelper.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/PromiseMock.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/ModuleHolderTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/exception/CodedExceptionTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/methods/AnyMethodTest.kt
Labels: bot: suggestions

#14904 [expo-av][ios] Implement JSI Audio on iOS
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-av/build/Audio/Sound.d.ts
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/ios/EXAV.podspec
  packages/expo-av/ios/EXAV/AudioSampleCallback/AudioSampleCallbackWrapper.h
  packages/expo-av/ios/EXAV/AudioSampleCallback/AudioSampleCallbackWrapper.mm
  packages/expo-av/ios/EXAV/AudioSampleCallback/EXAV+AudioSampleCallback.h
  packages/expo-av/ios/EXAV/AudioSampleCallback/EXAV+AudioSampleCallback.mm
  packages/expo-av/ios/EXAV/AudioSampleCallback/EXAudioSampleCallback.h
  packages/expo-av/ios/EXAV/AudioSampleCallback/EXAudioSampleCallback.mm
  packages/expo-av/ios/EXAV/AudioSampleCallback/Utils/ReactCallbackWrapper.h
  packages/expo-av/ios/EXAV/AudioSampleCallback/Utils/ReactCallbackWrapper.mm
  packages/expo-av/ios/EXAV/EXAV.h
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAVPlayerData.h
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
  packages/expo-av/src/Audio/Sound.ts
Labels: bot: suggestions

#15032 Fix Sentry documentation
  docs/pages/guides/using-sentry.md
Labels: bot: passed checks

#15034 Use expo start instead of react-native start
  templates/expo-template-bare-minimum/package.json
Labels: bot: passed checks

#15049 [expo-updates] check for duplicate asset rows when reaping
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/UpdatesDatabaseTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/AssetDao.kt
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.m
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseTests.m
Labels: bot: passed checks

#14929 [template] Update onConfigurationChanged for Android
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainActivity.java
Labels: bot: passed checks

#14549 [filesystem][android] Rewrite module to Kotlin
  apps/bare-expo/android/build.gradle
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/build.gradle
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/CountingRequestBody.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FilePermissionModule.java
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FilePermissionModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemFileProvider.java
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemFileProvider.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemPackage.java
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemPackage.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/UploadType.kt
Labels: bot: passed checks

#15065 [expo-av][ios] Fix crash when audio callback is removed
  packages/expo-av/ios/EXAV/AudioSampleCallback/AudioSampleCallbackWrapper.mm
Labels: bot: suggestions

#15042 [sweet][ios] Handle arguments of array types
  packages/expo-modules-core/ios/Swift/Arguments/AnyArgument.swift
  packages/expo-modules-core/ios/Swift/Arguments/AnyArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/ArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/CollectionArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/ConvertibleArgument.swift
  packages/expo-modules-core/ios/Swift/Arguments/RawArgumentType.swift
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyArgumentType.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyMethod.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyMethodArgument.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/Modules/AnyModule.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/Promise.swift
  packages/expo-modules-core/ios/Swift/Records/Record.swift
  packages/expo-modules-core/ios/Tests/ArgumentTypeSpec.swift
  packages/expo-modules-core/ios/Tests/MethodSpec.swift
Labels: bot: suggestions

#14883 [core] Enhance RN wrapper for 3rd-party libraries integration
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/BasePackage.java
  packages/expo-modules-core/android/src/main/java/expo/modules/core/ModulePriorities.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/Package.java
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactActivityHandler.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactNativeHostHandler.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.kt
  packages/expo/android/proguard-rules.pro
  packages/expo/android/src/main/java/expo/modules/ApplicationLifecycleDispatcher.kt
  packages/expo/android/src/main/java/expo/modules/ExpoModulesPackage.kt
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapper.kt
Labels: bot: suggestions

#15071 [core] Fix autolinking failure on Android R8
  packages/expo/android/proguard-rules.pro
Labels: bot: passed checks

#15074 [docs] Remove reference to Snack in push notification guide
  docs/pages/push-notifications/overview.md
Labels: bot: passed checks

#15075 Typo in Environment variables page
  docs/pages/guides/environment-variables.md
Labels: bot: passed checks

#15069 [packages] match few dependencies to the workspace versions
  packages/expo-ads-facebook/CHANGELOG.md
  packages/expo-ads-facebook/package.json
  packages/expo-camera/package.json
  packages/expo-dev-menu/package.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/package.json
  packages/expo-modules-autolinking/package.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/package.json
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/package.json
  packages/expo-yarn-workspaces/CHANGELOG.md
  packages/expo-yarn-workspaces/package.json
  yarn.lock
Labels: bot: suggestions

#15082 [cellular] Remove legacy Objective-C implementation
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-cellular/CHANGELOG.md
  packages/expo-cellular/ios/CellularModule.swift
  packages/expo-cellular/ios/EXCellular/EXCellularModule.h
  packages/expo-cellular/ios/EXCellular/EXCellularModule.m
  packages/expo-cellular/ios/ExpoCellular.podspec
Labels: bot: passed checks

#15068 [sweet][ios] Handle optional types in method arguments
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/AnyArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/CollectionArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/RawArgumentType.swift
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Tests/ArgumentTypeSpec.swift
  packages/expo-modules-core/ios/Tests/MethodSpec.swift
Labels: bot: passed checks

#15088 [sweet][ios] Refactor argument type casting mechanism
  packages/expo-modules-core/ios/Swift/Arguments/AnyArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/ArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/CollectionArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/RawArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/Types/ArrayArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/Types/ConvertibleArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/Types/OptionalArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/Types/PromiseArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/Types/RawArgumentType.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Tests/MethodSpec.swift
Labels: bot: suggestions

#15097 Update example in calendar docs to use getDefaultCalendarAsync
  docs/pages/versions/unversioned/sdk/calendar.md
  docs/pages/versions/v43.0.0/sdk/calendar.md
Labels: bot: passed checks

#15106 [navigation-bar] fix deps
  packages/expo-navigation-bar/package.json
Labels: bot: suggestions

#15083 [haptics] Remove legacy Objective-C implementation
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/ios/EXHaptics/EXHapticsModule.h
  packages/expo-haptics/ios/EXHaptics/EXHapticsModule.m
  packages/expo-haptics/ios/ExpoHaptics.podspec
  packages/expo-haptics/ios/HapticsModule.swift
Labels: bot: passed checks

#15092 [ncl] update Expo URLs, small tweaks
  apps/native-component-list/package.json
  apps/native-component-list/src/api/registerForPushNotificationsAsync.ts
  apps/native-component-list/src/screens/ActionSheetScreen.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  apps/native-component-list/src/screens/HTMLElementsScreen.tsx
  apps/native-component-list/src/screens/Image/images/images.ts
  apps/native-component-list/src/screens/LinkingScreen.tsx
  apps/native-component-list/src/screens/NotificationScreen.tsx
  apps/native-component-list/src/screens/WebBrowserScreen.tsx
  apps/native-component-list/src/screens/WebViewScreen.tsx
Labels: bot: passed checks

#15067 [apps][home] match few dependencies to the workspace versions
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  yarn.lock
Labels: bot: passed checks

#15123 [expo-updates] retain embedded asset fields when merging asset entities
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/AssetDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderFiles.kt
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.m
Labels: bot: passed checks

#15018 [docs] EAS Build/Submit docs work
  docs/constants/navigation.js
  docs/pages/build-reference/eas-json.md
  docs/pages/build-reference/troubleshooting.md
  docs/pages/build-reference/variables.md
  docs/pages/build/automating-submissions.md
  docs/pages/build/eas-json.md
  docs/pages/build/internal-distribution.md
  docs/pages/build/introduction.md
  docs/pages/build/setup.md
  docs/pages/build/updates.md
  docs/pages/eas/index.md
  docs/pages/guides/environment-variables.md
  docs/pages/submit/android.md
  docs/pages/submit/ios.md
  docs/pages/workflow/debugging.md
  docs/public/static/images/eas-build/environment-secrets/project-creation-navigation.png
  docs/public/static/images/eas-build/environment-secrets/project-creation-web.png
  docs/public/static/images/eas-build/environment-secrets/secrets-account-nav.png
  docs/public/static/images/eas-build/environment-secrets/secrets-empty.png
  docs/public/static/images/eas-build/environment-secrets/secrets-populated.png
  docs/public/static/images/eas-build/environment-secrets/secrets-project-nav.png
Labels: bot: passed checks

#15115 [apps][packages] fix incorrectly ordered dependencies
  apps/bare-sandbox/package.json
  packages/expo-firebase-recaptcha/package.json
  packages/expo-navigation-bar/package.json
  packages/expo-system-ui/package.json
Labels: bot: suggestions

#15114 [packages] fix Jest preset deprecation warning
  packages/expo-ads-admob/package.json
  packages/expo-asset/package.json
  packages/expo-barcode-scanner/package.json
  packages/expo-calendar/package.json
  packages/expo-dev-client/package.json
  packages/expo-document-picker/package.json
  packages/expo-face-detector/package.json
  packages/expo-firebase-core/package.json
  packages/expo-google-sign-in/package.json
  packages/expo-mail-composer/package.json
  packages/expo-modules-core/package.json
  packages/expo-modules-core/src/__tests__/__snapshots__/deprecate-test.ts.snap.android
  packages/expo-modules-core/src/__tests__/__snapshots__/deprecate-test.ts.snap.node
  packages/expo-modules-core/src/__tests__/__snapshots__/deprecate-test.ts.snap.web
  packages/expo-navigation-bar/package.json
  packages/expo-notifications/package.json
  packages/expo-print/package.json
  packages/expo-sms/package.json
  packages/expo-speech/package.json
  packages/expo-sqlite/package.json
  packages/expo-system-ui/package.json
  packages/expo-tracking-transparency/package.json
Labels: bot: suggestions

#15129 [sweet][ios] Handle enums in method arguments
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/ios/HapticsModule.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/ArgumentType.swift
  packages/expo-modules-core/ios/Swift/Arguments/Types/EnumArgumentType.swift
  packages/expo-modules-core/ios/Tests/ArgumentTypeSpec.swift
Labels: bot: passed checks

#15120 [bare-expo] Make Gradle faster
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/gradle.properties
  apps/bare-expo/scripts/setup-android-project.sh
  tools/src/commands/AndroidGenerateDynamicMacros.ts
  tools/src/dynamic-macros/generateDynamicMacros.ts
Labels: bot: passed checks

#15144 [home] Remove unused code
  home/components/AdditionalTwoFactorOptionsButton.tsx
Labels: bot: passed checks

#15127 [expo-system-ui] Add nullable type to getBackgroundColorAsync
  docs/public/static/data/unversioned/expo-system-ui.json
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/build/SystemUI.d.ts
  packages/expo-system-ui/build/SystemUI.js
  packages/expo-system-ui/build/SystemUI.js.map
  packages/expo-system-ui/src/SystemUI.ts
Labels: bot: passed checks

#15109 [android] Fix building error from outside of project root
  android/settings.gradle
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/settings.gradle
  apps/bare-sandbox/android/app/build.gradle
  apps/bare-sandbox/android/settings.gradle
  docs/public/static/diffs/expo-android.diff
  docs/public/static/diffs/react-native-unimodules-android.diff
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/plugin/build/withCamera.js
  packages/expo-camera/plugin/src/__tests__/__snapshots__/withCamera-test.ts.snap
  packages/expo-camera/plugin/src/withCamera.ts
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/README.md
  packages/expo/scripts/autolinking.gradle
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/build.gradle
  templates/expo-template-bare-minimum/android/settings.gradle
Labels: bot: passed checks

#15113 [constants] add doc comments in source, improve types
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/constants.md
  docs/public/static/data/unversioned/expo-constants.json
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#15070 [expo-dev-menu] Fix cli warning
  packages/expo-dev-menu/vendored/react-native-gesture-handler/src/GestureHandlerRootView.android.expo.js
Labels: bot: suggestions

#15073 [dev-client][android] Remove usage of the `GlobalScope`
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherControllerInterface.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-menu-interface/android/build.gradle
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuManagerInterface.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/devtools/DevMenuDevToolsDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuPackagerCommandHandlersSwapper.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: suggestions

#15135 [sweet][kotlin] Implement sending events from native to JavaScript
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/EventsDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/KEventEmitterWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/ModuleRegistryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/modules/ModuleDefinitionBuilderTest.kt
Labels: bot: suggestions

#15133 [packages] fix tests after Jest preset migration
  packages/expo-asset/package.json
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.android
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.node
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.web
  packages/expo-face-detector/src/__tests__/FaceDetector-test.ts
  packages/expo-google-sign-in/src/__tests__/GoogleSignIn-test.ts
  packages/expo-notifications/package.json
  packages/expo-sms/src/__tests__/SMS-test.ts
Labels: bot: suggestions

#15153 [web-browser] use platform annotations, update few comments
  docs/public/static/data/unversioned/expo-web-browser.json
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/build/WebBrowser.types.d.ts
  packages/expo-web-browser/build/WebBrowser.types.js
  packages/expo-web-browser/build/WebBrowser.types.js.map
  packages/expo-web-browser/src/WebBrowser.ts
  packages/expo-web-browser/src/WebBrowser.types.ts
Labels: bot: suggestions

#15147 Update reanimated InstallSection href
  docs/pages/versions/unversioned/sdk/reanimated.md
  docs/pages/versions/v43.0.0/sdk/reanimated.md
Labels: bot: passed checks

#15100 [updates] Fix autolayout broken in ipad rotation
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppDelegate.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.m
Labels: bot: passed checks

#15154 [template] Fix hermes command not found on monorepo
  templates/expo-template-bare-minimum/android/app/build.gradle
Labels: bot: passed checks

#15148 [docs] ios submissions with latest ASC API Key directions
  docs/pages/submit/ios.md
Labels: bot: passed checks

#15156 [sweet][android] Handle enums in method arguments
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterHelper.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/EnumTypeConverterTest.kt
Labels: bot: suggestions

#15141 [sweet][cellular] Use new API on Android
  packages/expo-cellular/android/build.gradle
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.kt
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularPackage.kt
  packages/expo-cellular/expo-module.config.json
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ReactLifecycleDelegate.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
Labels: bot: suggestions

#14993 [templates] Add missing react test render and upgrade jest
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-bare-minimum/yarn.lock
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/yarn.lock
Labels: bot: passed checks

#15165 [sweat][kotlin] Add support for Pair and float type
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/BasicTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterHelper.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/BasicTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/PairTypeConverterTest.kt
Labels: bot: suggestions

#15122 [home] List "unpublished" projects in home
  home/components/AccountView.tsx
  home/components/ProfileView.tsx
  home/components/ProjectList.tsx
  home/components/ProjectListItem.tsx
  home/components/ProjectView.tsx
  home/containers/Account.tsx
  home/containers/Profile.tsx
  home/containers/Project.tsx
  home/graphql/fragments/CommonAppData.fragment.graphql
  home/graphql/queries/AccountDataQuery.query.graphql
  home/graphql/queries/ProfileDataQuery.query.graphql
  home/graphql/queries/ProfileProjectsQuery.query.graphql
  home/graphql/queries/ProjectsListQuery.query.graphql
  home/graphql/types.ts
Labels: bot: passed checks

#15124 [home] Use more modern graphql-codegen for queries and types
  home/components/AccountView.tsx
  home/components/ProfileView.tsx
  home/components/ProjectView.tsx
  home/components/SnackList.tsx
  home/containers/Account.tsx
  home/containers/Profile.tsx
  home/containers/ProfileProjectsList.tsx
  home/containers/ProfileSnacksList.tsx
  home/containers/Project.tsx
  home/containers/ProjectsList.tsx
  home/containers/SnacksList.tsx
  home/graphql-codegen.yml
  home/graphql/fragments/CommonSnackData.fragment.graphql
  home/graphql/queries/AccountDataQuery.query.graphql
  home/graphql/queries/ProfileDataQuery.query.graphql
  home/graphql/queries/ProfileSnacksQuery.query.graphql
  home/graphql/queries/SnacksListQuery.query.graphql
  home/graphql/types.ts
  home/package.json
  yarn.lock
Labels: bot: passed checks

#15175 Fix tiny typo on Limitations docs page
  docs/pages/build-reference/limitations.md
Labels: bot: passed checks

#15176 Fix tiny typo on Internal Distribution docs page
  docs/pages/build/internal-distribution.md
Labels: bot: passed checks

#15167 [config-universe] match dependencies to the workspace versions
  package.json
  packages/eslint-config-universe/.prettierrc
  packages/eslint-config-universe/CHANGELOG.md
  packages/eslint-config-universe/README.md
  packages/eslint-config-universe/package.json
  yarn.lock
Labels: bot: passed checks

#12678 docs: specify yarn edit script location
  CONTRIBUTING.md
Labels: docs, bot: passed checks

#15126 [docs] Added info about external packages required for EAS Build
  docs/pages/build-reference/migrating.md
  docs/pages/guides/color-schemes.md
Labels: bot: passed checks

#15179 [docs] update EAS Update intro and getting started
  docs/constants/navigation-data.js
  docs/constants/navigation.js
  docs/pages/eas-update/custom-updates-server.md
  docs/pages/eas-update/debug-updates.md
  docs/pages/eas-update/deployment-patterns.md
  docs/pages/eas-update/eas-update-and-eas-cli.md
  docs/pages/eas-update/faq.md
  docs/pages/eas-update/getting-started.md
  docs/pages/eas-update/github-actions.md
  docs/pages/eas-update/how-eas-update-works.md
  docs/pages/eas-update/index.js
  docs/pages/eas-update/introduction.md
  docs/pages/eas-update/optimize-assets.md
  docs/pages/preview/eas-update/index.js
  docs/pages/preview/eas-update/introduction.md
Labels: bot: passed checks

#15184 [docs] fix links to other EAS Build pages
  docs/pages/build/setup.md
Labels: bot: passed checks

#15189 [docs] `StoreReview` move Usage above API
  docs/pages/versions/unversioned/sdk/storereview.md
  docs/pages/versions/v43.0.0/sdk/storereview.md
Labels: bot: passed checks

#15191 [docs] update docs on the eas build local plugin
  docs/pages/build-reference/local-builds.md
Labels: bot: passed checks

#15168 [linear-gradient][ios] Rewrite entire module to Swift
  apps/bare-expo/ios/Podfile.lock
  docs/public/static/data/unversioned/expo-linear-gradient.json
  ios/Podfile.lock
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/build/LinearGradient.d.ts
  packages/expo-linear-gradient/build/LinearGradient.js.map
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradient.h
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradient.m
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradientLayer.h
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradientLayer.m
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradientManager.h
  packages/expo-linear-gradient/ios/EXLinearGradient/EXLinearGradientManager.m
  packages/expo-linear-gradient/ios/EXLinearGradient/LinearGradientModule.swift
  packages/expo-linear-gradient/ios/ExpoLinearGradient.podspec
  packages/expo-linear-gradient/ios/LinearGradientLayer.swift
  packages/expo-linear-gradient/ios/LinearGradientModule.swift
  packages/expo-linear-gradient/ios/LinearGradientView.swift
  packages/expo-linear-gradient/src/LinearGradient.tsx
  packages/expo-linear-gradient/unimodule.json
  packages/expo-modules-core/ios/Swift/Conversions.swift
Labels: bot: suggestions

#15194 [docs] Link to runtime versions doc from EAS Update getting started
  docs/pages/eas-update/getting-started.md
Labels: bot: passed checks

#14888 [github] update development build issue template
  .github/ISSUE_TEMPLATE/dev_client_bug_report.yml
Labels: bot: passed checks

#15027 [tools] Fix versioning C++ code on iOS
  packages/expo-av/ios/EXAV/AudioSampleCallback/AudioSampleCallbackWrapper.h
  packages/expo-av/ios/EXAV/AudioSampleCallback/Utils/CallbackWrapper.h
  packages/expo-av/ios/EXAV/AudioSampleCallback/Utils/CallbackWrapper.mm
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
  packages/expo-modules-autolinking/scripts/ios/cocoapods/pod_target.rb
  tools/src/versioning/ios/transforms/expoModulesTransforms.ts
Labels: bot: suggestions

#15200 [issue template] use double quotes
  .github/ISSUE_TEMPLATE/dev_client_bug_report.yml
Labels: bot: passed checks

#15146 Update expo-system-ui module on iOS
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/ios/ExpoSystemUI/ExpoSystemUIModule.swift
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.m
Labels: bot: passed checks

#15198 [tools] Don't update dep version when it's satisfying current range
  tools/src/publish-packages/tasks/updateWorkspaceProjects.ts
Labels: bot: passed checks

#15207 [docs] "JavaScript inspector" wording consistency
  docs/pages/guides/using-hermes.md
Labels: bot: passed checks

#15171 [sweet][kotlin] Refactor conversion system
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/DynamicExtenstions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/methods/AnyMethod.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/methods/Method.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/methods/PromiseMethod.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/BasicTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/BasicTypeConverters.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/KClassTypeWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ListTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/MapTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterHelper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ConcreteViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/methods/AnyMethodTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/methods/TypeConverterHelperTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RecordTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/BasicTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/EnumTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/PairTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/views/ConcreteViewPropTest.kt
Labels: bot: suggestions

#15137 [sweet-api][kotlin] Add support for activity methods
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ReactLifecycleDelegate.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/EventListener.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/EventName.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/OnActivityResultPayload.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
Labels: bot: suggestions

#15211 [docs] Add temporary client-side redirect for dev clients
  docs/common/error-utilities.ts
Labels: bot: passed checks

#15213 [docs] added reference for backgroundColor
  docs/pages/build-reference/migrating.md
Labels: bot: passed checks

#15058 [template] Remove old metadata
  templates/expo-template-bare-minimum/android/app/src/main/res/drawable/splashscreen.xml
  templates/expo-template-bare-minimum/android/app/src/main/res/values/colors.xml
  templates/expo-template-bare-minimum/android/app/src/main/res/values/styles.xml
Labels: bot: passed checks

#15202 [tools] Fix prompt options when choosing the version to publish
  tools/src/publish-packages/tasks/resolveReleaseTypeAndVersion.ts
  tools/src/publish-packages/tasks/selectPackagesToPublish.ts
Labels: bot: passed checks

#15192 [calendar] add doc comments in source, improve types
  docs/pages/versions/unversioned/sdk/calendar.md
  docs/public/static/data/unversioned/expo-calendar.json
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#15216 [Docs] fix broken links in /classic pages
  docs/pages/classic/building-standalone-apps.md
  docs/pages/classic/turtle-cli.md
Labels: bot: passed checks

#15235 Cherrypick missing commits from sdk-43 branch
  fastlane/Fastfile
  fastlane/android/metadata/en-US/changelogs/160.txt
  packages/expo/bundledNativeModules.json
  packages/jest-expo/src/preset/assetFileTransformer.js
Labels: bot: passed checks

#15057 [expo-dev-client][plugin] Fix android adding duplicate schemes
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/plugin/build/constants.d.ts
  packages/expo-dev-client/plugin/build/constants.js
  packages/expo-dev-client/plugin/build/getDefaultScheme.d.ts
  packages/expo-dev-client/plugin/build/getDefaultScheme.js
  packages/expo-dev-client/plugin/build/withDevClient.d.ts
  packages/expo-dev-client/plugin/build/withDevClient.js
  packages/expo-dev-client/plugin/build/withGeneratedAndroidScheme.d.ts
  packages/expo-dev-client/plugin/build/withGeneratedAndroidScheme.js
  packages/expo-dev-client/plugin/build/withGeneratedIosScheme.d.ts
  packages/expo-dev-client/plugin/build/withGeneratedIosScheme.js
  packages/expo-dev-client/plugin/src/__tests__/withGeneratedAndroidScheme-test.ts
  packages/expo-dev-client/plugin/src/__tests__/withGeneratedIosScheme-test.ts
  packages/expo-dev-client/plugin/src/withDevClient.ts
  packages/expo-dev-client/plugin/src/withGeneratedAndroidScheme.ts
  packages/expo-dev-client/plugin/src/withGeneratedIosScheme.ts
Labels: bot: passed checks

#15201 [docs] add redirect to deploy script
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#15236 Document using expo-yarn-workspaces with EAS Build
  packages/expo-yarn-workspaces/README.md
Labels: bot: suggestions

#15221 [expo-modules-core][expo] add parameter to onDidCreateReactInstanceManager
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactNativeHostHandler.kt
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapper.kt
Labels: bot: passed checks

#15241 [modules-core] Fix package name in some warning
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js.map
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
Labels: bot: suggestions

#15243 [docs] EAS Submit - override applicationId/bundleIdentifier
  docs/scripts/schemas/unversioned/eas-json-submit-android-schema.js
  docs/scripts/schemas/unversioned/eas-json-submit-ios-schema.js
Labels: bot: passed checks

#12523 [expo-sqlite] Remove lodash
  home/package.json
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/package.json
  packages/expo-sqlite/src/SQLite.ts
  yarn.lock
Labels: bot: passed checks

#15254 [docs] better sentry docs
  docs/pages/guides/using-sentry.md
Labels: bot: passed checks

#15257 [templates] Bump up expo-updates to 0.10.15
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-bare-minimum/yarn.lock
Labels: bot: passed checks

#15260 Update using-firebase.md
  docs/pages/guides/using-firebase.md
Labels: bot: passed checks

#15270 [workspace] update Expo URLs in main readme file
  README.md
Labels: bot: passed checks

#15272 Update using-sentry.md
  docs/pages/guides/using-sentry.md
Labels: bot: passed checks

#15266 [ios] Migrate expo-localization to the new API
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/expo-module.config.json
  packages/expo-localization/ios/EXLocalization/EXLocalization.h
  packages/expo-localization/ios/EXLocalization/EXLocalization.m
  packages/expo-localization/ios/ExpoLocalization.podspec
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/unimodule.json
Labels: bot: passed checks

#14428 [expo-modules-core] introduce EXAppDefines to get app building configurations
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/EXAppDefines.h
  packages/expo-modules-core/ios/EXAppDefines.m
  packages/expo-modules-core/ios/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/Tests/EXAppDefinesTest.m
  packages/expo/ios/EXAppDefinesLoader.h
  packages/expo/ios/EXAppDefinesLoader.m
  packages/expo/ios/Expo.h
Labels: bot: passed checks

#15252 [sweet][kotlin] Make sure that incorrect prop wont crash app
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
Labels: bot: suggestions

#15242 [dev-launcher] Add support for RN 66
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/react-native-66/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManager.kt
Labels: bot: suggestions

#15240 [dev-launcher][ios] Add uncaught exception handler
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherUncaughtExceptionHandler.swift
Labels: bot: suggestions

#15090 [dev-launcher][android] Add crash handler
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherUncaughtExceptionHandler.kt
Labels: bot: suggestions

#15251 [sweet][kotlin] Handle `Unit` as a return type
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KPromiseWrapper.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/KPromiseWrapperTest.kt
Labels: bot: suggestions

#15283 [dev-menu][ios] Fix cannot define symbols - reanimated
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/NativeModules/NativeReanimatedModule.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/NativeModules/NativeReanimatedModuleSpec.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Registries/EventHandlerRegistry.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Registries/MapperRegistry.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Registries/WorkletsCache.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/FrozenObject.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/MutableValue.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/MutableValueSetterProxy.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/RemoteObject.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/ShareableValue.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/JSIStoreValueUser.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/Mapper.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/RuntimeDecorator.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/Scheduler.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/WorkletEventHandler.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/NativeModules/DevMenuNativeReanimatedModule.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/NativeModules/DevMenuNativeReanimatedModuleSpec.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Registries/DevMenuEventHandlerRegistry.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Registries/DevMenuMapperRegistry.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Registries/DevMenuWorkletsCache.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuFrozenObject.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuHostFunctionHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuMutableValue.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuMutableValueSetterProxy.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuRemoteObject.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuRuntimeManager.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuShareableValue.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuSharedParent.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuValueWrapper.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SpecTools/DevMenuErrorHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuJSIStoreValueUser.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuMapper.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuPlatformDepMethodsHolder.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuReanimatedHiddenHeaders.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuRuntimeDecorator.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuScheduler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuWorkletEventHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/NativeProxy.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/REAIOSErrorHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/REAIOSLogger.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/REAIOSScheduler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/REAIOSScheduler.mm
Labels: bot: suggestions

#15284 [dev-menu][ios] Fix `extract` function is undefined
  packages/expo-dev-menu/TargetValidator.rb
Labels: bot: suggestions

#15262 [core][ios] Make the no-argument module initializer unavailable
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Modules/Module.swift
Labels: bot: suggestions

#15265 [core][ios] Lazy loading module constants
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
  packages/expo-modules-core/ios/Tests/ConstantsSpec.swift
Labels: bot: suggestions

#15287 [expo] remove `AppLoadingPlaceholder` component
  packages/expo/build/launch/AppLoadingPlaceholder.d.ts
  packages/expo/build/launch/AppLoadingPlaceholder.js
  packages/expo/build/launch/AppLoadingPlaceholder.js.map
  packages/expo/src/launch/AppLoadingPlaceholder.tsx
Labels: bot: passed checks

#15226 [linking] add doc comments in source, remove deprecation, update types
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/linking.md
  docs/public/static/data/unversioned/expo-linking.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/build/Linking.types.d.ts
  packages/expo-linking/build/Linking.types.js.map
  packages/expo-linking/src/Linking.ts
  packages/expo-linking/src/Linking.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#15087 [bare-expo] Fix start-metro script on Linux
  CONTRIBUTING.md
  apps/bare-expo/scripts/start-metro.sh
Labels: bot: passed checks

#15293 Added deprecation notices to `expo-app-auth`
  packages/expo-app-auth/CHANGELOG.md
  packages/expo-app-auth/build/AppAuth.d.ts
  packages/expo-app-auth/build/AppAuth.js
  packages/expo-app-auth/build/AppAuth.js.map
  packages/expo-app-auth/src/AppAuth.ts
Labels: bot: passed checks

#15285 [docs] add docs for submit webhooks
  docs/components/DocumentationSidebar.tsx
  docs/constants/navigation-data.js
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/build-reference/build-webhook.md
  docs/pages/build/setup.md
  docs/pages/classic/building-standalone-apps.md
  docs/pages/eas/index.md
  docs/pages/eas/webhooks.md
Labels: bot: passed checks

#15278 [core][ios] Make Foundation.URL a convertible type
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: passed checks

#15055 [docs] Add first draft of working with monorepos
  docs/constants/navigation.js
  docs/pages/guides/monorepos.md
Labels: bot: passed checks

#15296 [expo-gl] support for reanimated worklets
  android/versioned-abis/expoview-abi41_0_0/src/main/java/abi41_0_0/expo/modules/gl/GLContext.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/expo/modules/gl/GLContext.java
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/gl/GLContext.java
  ios/versioned-react-native/ABI41_0_0/Expo/EXGL/ABI41_0_0EXGL/ABI41_0_0EXGLContext.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXGL/ABI41_0_0EXGL/ABI41_0_0EXGLContext.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXGL/ABI41_0_0EXGL/ABI41_0_0EXGLObjectManager.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXGL/ABI41_0_0EXGL/ABI41_0_0EXGLView.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXGL/ABI42_0_0EXGL/ABI42_0_0EXGLContext.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXGL/ABI42_0_0EXGL/ABI42_0_0EXGLContext.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXGL/ABI42_0_0EXGL/ABI42_0_0EXGLObjectManager.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXGL/ABI42_0_0EXGL/ABI42_0_0EXGLView.m
  ios/versioned/sdk43/EXGL/EXGL/ABI43_0_0EXGLContext.h
  ios/versioned/sdk43/EXGL/EXGL/ABI43_0_0EXGLContext.mm
  ios/versioned/sdk43/EXGL/EXGL/ABI43_0_0EXGLObjectManager.mm
  ios/versioned/sdk43/EXGL/EXGL/ABI43_0_0EXGLView.mm
  packages/expo-gl-cpp/.gitignore
  packages/expo-gl-cpp/android/build.gradle
  packages/expo-gl-cpp/android/dist/arm64-v8a/libexpo-gl.so
  packages/expo-gl-cpp/android/dist/armeabi-v7a/libexpo-gl.so
  packages/expo-gl-cpp/android/dist/x86/libexpo-gl.so
  packages/expo-gl-cpp/android/dist/x86_64/libexpo-gl.so
  packages/expo-gl-cpp/android/src/main/java/expo/modules/gl/cpp/EXGL.java
  packages/expo-gl-cpp/android/src/main/jni/Android.mk
  packages/expo-gl-cpp/android/src/main/jni/EXGL.cpp
  packages/expo-gl-cpp/cpp/EXGLContext-inl.h
  packages/expo-gl-cpp/cpp/EXGLContext.cpp
  packages/expo-gl-cpp/cpp/EXGLContext.h
  packages/expo-gl-cpp/cpp/EXGLContextManager.cpp
  packages/expo-gl-cpp/cpp/EXGLContextManager.h
  packages/expo-gl-cpp/cpp/EXJsiArgsTransform.h
  packages/expo-gl-cpp/cpp/EXJsiUtils.h
  packages/expo-gl-cpp/cpp/EXWebGLMethods.cpp
  packages/expo-gl-cpp/cpp/EXWebGLMethods.def
  packages/expo-gl-cpp/cpp/EXWebGLMethods.h
  packages/expo-gl-cpp/cpp/EXWebGLMethodsHelpers.h
  packages/expo-gl-cpp/cpp/EXWebGLRenderer.cpp
  packages/expo-gl-cpp/cpp/EXWebGLRenderer.h
  packages/expo-gl-cpp/cpp/TypedArrayApi.cpp
  packages/expo-gl-cpp/cpp/TypedArrayApi.h
  packages/expo-gl-cpp/cpp/UEXGL.cpp
  packages/expo-gl-cpp/cpp/UEXGL.h
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLContext.java
  packages/expo-gl/build/GLUtils.js
  packages/expo-gl/build/GLUtils.js.map
  packages/expo-gl/build/GLView.d.ts
  packages/expo-gl/build/GLView.js
  packages/expo-gl/build/GLView.js.map
  packages/expo-gl/build/GLView.types.d.ts
  packages/expo-gl/build/GLView.types.js.map
  packages/expo-gl/ios/EXGL/EXGLContext.h
  packages/expo-gl/ios/EXGL/EXGLContext.mm
  packages/expo-gl/ios/EXGL/EXGLObjectManager.mm
  packages/expo-gl/ios/EXGL/EXGLView.mm
  packages/expo-gl/src/GLUtils.ts
  packages/expo-gl/src/GLView.tsx
  packages/expo-gl/src/GLView.types.ts
Labels: bot: passed checks

#15308 [core] Fix `EXAppDefines.APP_DEBUG` returns YES in release build
  packages/expo-modules-core/ios/EXAppDefines.h
  packages/expo-modules-core/ios/EXAppDefines.m
  packages/expo-modules-core/ios/Tests/EXAppDefinesTest.m
Labels: bot: suggestions

#15304 [core] Fix android handlers be skipped if the first one returns null
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapper.kt
Labels: bot: passed checks

#15305 [docs] Fix broken permission redirects
  docs/common/error-utilities.test.ts
  docs/common/error-utilities.ts
Labels: bot: passed checks

#15286 [dev-client] Try to fix `java.net.BindException` in unit tests on CI
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParserTest.kt
  packages/expo-dev-menu/android/src/test/java/expo/modules/devmenu/helpers/DevMenuOkHttpExtensionTest.kt
Labels: bot: suggestions

#15228 [module-template] Use the sweet API
  packages/expo-module-template/android/build.gradle
  packages/expo-module-template/android/src/main/java/expo/modules/template/ModuleTemplateModule.kt
  packages/expo-module-template/android/src/main/java/expo/modules/template/ModuleTemplatePackage.kt
  packages/expo-module-template/android/src/main/java/expo/modules/template/ModuleTemplateView.kt
  packages/expo-module-template/android/src/main/java/expo/modules/template/ModuleTemplateViewManager.kt
  packages/expo-module-template/android/src/test/java/expo/modules/template/ModuleTemplateModuleTest.kt
  packages/expo-module-template/build/ExpoModuleTemplateNativeView.d.ts
  packages/expo-module-template/build/ExpoModuleTemplateNativeView.js
  packages/expo-module-template/build/ExpoModuleTemplateNativeView.js.map
  packages/expo-module-template/build/ExpoModuleTemplateView.d.ts
  packages/expo-module-template/build/ExpoModuleTemplateView.js
  packages/expo-module-template/build/ExpoModuleTemplateView.js.map
  packages/expo-module-template/expo-module.config.json
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateModule.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateModule.m
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateView.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateView.m
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateViewManager.h
  packages/expo-module-template/ios/EXModuleTemplate/EXModuleTemplateViewManager.m
  packages/expo-module-template/ios/ExpoModuleTemplate.podspec
  packages/expo-module-template/ios/ExpoModuleTemplateModule.swift
  packages/expo-module-template/ios/ExpoModuleTemplateView.swift
  packages/expo-module-template/src/ExpoModuleTemplateNativeView.ts
  packages/expo-module-template/src/ExpoModuleTemplateView.tsx
  packages/expo-module-template/unimodule.json
  tools/src/generate-module/configureModule.ts
Labels: bot: suggestions

#15312 [dev-client] Update test runner
  packages/expo-dev-client/package.json
  yarn.lock
Labels: bot: suggestions

#15166 [linear-gradient] Rewrite using sweet API on Android
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/android/build.gradle
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientManager.java
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientModule.kt
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientPackage.java
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientView.java
  packages/expo-linear-gradient/expo-module.config.json
Labels: bot: passed checks

#15317 [module-template] Fix ios build error from wrong view name
  packages/expo-module-template/ios/ExpoModuleTemplateModule.swift
  packages/expo-module-template/ios/ExpoModuleTemplateView.swift
Labels: bot: suggestions

#15299 [autolinking] Patch react podspec for swift integration
  ios/Exponent/Versioned/Core/Internal/EXScopedModuleRegistry.h
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/React-Core.modulemap
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/cocoapods/pod_target.rb
  packages/expo-modules-autolinking/scripts/ios/cocoapods/sandbox.rb
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/transforms/podspecTransforms.ts
Labels: bot: passed checks

#15302 [docs] update eas.json docs
  docs/pages/build/eas-json.md
  docs/pages/submit/eas-json.md
Labels: bot: passed checks

#15102 [firebase-recaptcha] Add missing _reset method to modal verifier
  apps/test-suite/package.json
  apps/test-suite/tests/FirebaseJSSDK.js
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/v43.0.0/sdk/firebase-recaptcha.md
  packages/expo-firebase-recaptcha/CHANGELOG.md
  packages/expo-firebase-recaptcha/build/FirebaseRecaptcha.types.js.map
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifier.js
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifier.js.map
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifierModal.d.ts
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifierModal.js
  packages/expo-firebase-recaptcha/build/FirebaseRecaptchaVerifierModal.js.map
  packages/expo-firebase-recaptcha/src/FirebaseRecaptcha.types.ts
  packages/expo-firebase-recaptcha/src/FirebaseRecaptchaVerifier.ts
  packages/expo-firebase-recaptcha/src/FirebaseRecaptchaVerifierModal.tsx
  yarn.lock
Labels: bot: passed checks

#15332 [docs] update background-fetch examples
  docs/pages/versions/unversioned/sdk/background-fetch.md
  docs/pages/versions/v43.0.0/sdk/background-fetch.md
Labels: bot: passed checks
