Repository expo/expo, pull requests merged in 2021-02, with the labels that each got.

#11810 use config-types package for ExpoConfig type
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js.map
  packages/expo-notifications/src/getDevicePushTokenAsync.web.ts
  packages/expo/build/Notifications/ExponentNotificationsHelper.web.js
  packages/expo/build/Notifications/ExponentNotificationsHelper.web.js.map
  packages/expo/build/environment/LogBox.fx.expo.js
  packages/expo/build/environment/LogBox.fx.expo.js.map
  packages/expo/src/Notifications/ExponentNotificationsHelper.web.ts
  packages/expo/src/environment/LogBox.fx.expo.ts
Labels: Constants

#11831 Bump configure-splash-screen
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/package.json
  yarn.lock
Labels: SplashScreen

#11900 Remove lodash from expo-camera and expo-barcode-scanner
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.js
  packages/expo-barcode-scanner/build/BarCodeScanner.js.map
  packages/expo-barcode-scanner/package.json
  packages/expo-barcode-scanner/src/BarCodeScanner.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/utils/props.d.ts
  packages/expo-camera/build/utils/props.js
  packages/expo-camera/build/utils/props.js.map
  packages/expo-camera/package.json
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/utils/__tests__/props-test.node.ts
  packages/expo-camera/src/utils/__tests__/props-test.ts
  packages/expo-camera/src/utils/props.ts
Labels: BarCodeScanner, Camera

#11904 [expo-camera] Remove barCodeTypes
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/utils/props.js
  packages/expo-camera/build/utils/props.js.map
  packages/expo-camera/src/utils/props.ts
Labels: Camera

#11894 [docs] clarify managed support for EAS
  docs/pages/build-reference/limitations.md
  docs/pages/build/setup.md
Labels: docs

#11906 [local-auth] Remove deprecation warning for authenticateAsync
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/src/LocalAuthentication.ts
Labels: LocalAuthentication

#11905 [store-review] Remove deprecated isSupported
  packages/expo-store-review/CHANGELOG.md
  packages/expo-store-review/build/StoreReview.d.ts
  packages/expo-store-review/build/StoreReview.js
  packages/expo-store-review/build/StoreReview.js.map
  packages/expo-store-review/src/StoreReview.ts
Labels: StoreReview

#11907 [expo-haptics] Remove deprecated methods
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/build/Haptics.d.ts
  packages/expo-haptics/build/Haptics.js
  packages/expo-haptics/build/Haptics.js.map
  packages/expo-haptics/src/Haptics.ts
Labels: Haptic

#11977 [document-picker] created plugin
  apps/native-component-list/app.config.js
  apps/native-component-list/app.json
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/README.md
  packages/expo-document-picker/app.plugin.js
  packages/expo-document-picker/package.json
  packages/expo-document-picker/plugin/build/withDocumentPicker.d.ts
  packages/expo-document-picker/plugin/build/withDocumentPicker.js
  packages/expo-document-picker/plugin/build/withDocumentPickerIOS.d.ts
  packages/expo-document-picker/plugin/build/withDocumentPickerIOS.js
  packages/expo-document-picker/plugin/jest.config.js
  packages/expo-document-picker/plugin/src/__tests__/withDocumentPickerIOS-test.ts
  packages/expo-document-picker/plugin/src/withDocumentPicker.ts
  packages/expo-document-picker/plugin/src/withDocumentPickerIOS.ts
  packages/expo-document-picker/plugin/tsconfig.json
Labels: DocumentPicker

#11979 Created plugin for apple authentication
  packages/expo-apple-authentication/CHANGELOG.md
  packages/expo-apple-authentication/app.plugin.js
  packages/expo-apple-authentication/package.json
  packages/expo-apple-authentication/plugin/build/withAppleAuth.d.ts
  packages/expo-apple-authentication/plugin/build/withAppleAuth.js
  packages/expo-apple-authentication/plugin/build/withAppleAuthIOS.d.ts
  packages/expo-apple-authentication/plugin/build/withAppleAuthIOS.js
  packages/expo-apple-authentication/plugin/jest.config.js
  packages/expo-apple-authentication/plugin/src/__tests__/withAppleAuthIOS-test.ts
  packages/expo-apple-authentication/plugin/src/withAppleAuth.ts
  packages/expo-apple-authentication/plugin/src/withAppleAuthIOS.ts
  packages/expo-apple-authentication/plugin/tsconfig.json
Labels: AppleAuthentication

#11981 [expo-updates] Created config plugin
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/app.plugin.js
  packages/expo-updates/package.json
  packages/expo-updates/plugin/__mocks__/@expo/image-utils.ts
  packages/expo-updates/plugin/__mocks__/fs.ts
  packages/expo-updates/plugin/__mocks__/resolve-from.ts
  packages/expo-updates/plugin/build/withUpdates.d.ts
  packages/expo-updates/plugin/build/withUpdates.js
  packages/expo-updates/plugin/build/withUpdatesAndroid.d.ts
  packages/expo-updates/plugin/build/withUpdatesAndroid.js
  packages/expo-updates/plugin/build/withUpdatesIOS.d.ts
  packages/expo-updates/plugin/build/withUpdatesIOS.js
  packages/expo-updates/plugin/jest.config.js
  packages/expo-updates/plugin/src/__tests__/__snapshots__/withUpdatesAndroid-test.ts.snap
  packages/expo-updates/plugin/src/__tests__/__snapshots__/withUpdatesIOS-test.ts.snap
  packages/expo-updates/plugin/src/__tests__/fixtures/build-with-incorrect-create-manifest-android-path.gradle
  packages/expo-updates/plugin/src/__tests__/fixtures/build-without-create-manifest-android.gradle
  packages/expo-updates/plugin/src/__tests__/fixtures/project-with-incorrect-create-manifest-ios-path.pbxproj
  packages/expo-updates/plugin/src/__tests__/fixtures/project-without-create-manifest-ios.pbxproj
  packages/expo-updates/plugin/src/__tests__/fixtures/react-native-AndroidManifest.xml
  packages/expo-updates/plugin/src/__tests__/withUpdatesAndroid-test.ts
  packages/expo-updates/plugin/src/__tests__/withUpdatesIOS-test.ts
  packages/expo-updates/plugin/src/withUpdates.ts
  packages/expo-updates/plugin/src/withUpdatesAndroid.ts
  packages/expo-updates/plugin/src/withUpdatesIOS.ts
  packages/expo-updates/plugin/tsconfig.json
  yarn.lock
Labels: Updates

#11663 [localization] Add currency, separators, isMetric and update region
  apps/test-suite/tests/Localization.js
  docs/pages/versions/unversioned/sdk/localization.md
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.java
  packages/expo-localization/build/ExpoLocalization.d.ts
  packages/expo-localization/build/ExpoLocalization.js
  packages/expo-localization/build/ExpoLocalization.js.map
  packages/expo-localization/build/Localization.d.ts
  packages/expo-localization/build/Localization.js
  packages/expo-localization/build/Localization.js.map
  packages/expo-localization/build/Localization.types.d.ts
  packages/expo-localization/build/Localization.types.js.map
  packages/expo-localization/ios/EXLocalization/EXLocalization.m
  packages/expo-localization/src/ExpoLocalization.ts
  packages/expo-localization/src/Localization.ts
  packages/expo-localization/src/Localization.types.ts
  packages/expo-localization/src/__tests__/Localization-test.native.ts
  packages/expo-localization/src/__tests__/Localization-test.web.ts
Labels: Localization
