Repository expo/expo, pull requests merged in 2021-06, with the labels that each got.

#13104 [in-app-purchase] update types
  apps/native-component-list/src/screens/InAppPurchases/InAppPurchases.tsx
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.types.js.map
  packages/expo-in-app-purchases/src/InAppPurchases.ts
  packages/expo-in-app-purchases/src/InAppPurchases.types.ts
Labels: bot: passed checks

#13001 [dev-launcher][ios] Connect to the WebSocket during development
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: suggestions

#13110 [av][web] Add permission requester
  packages/expo-av/build/ExponentAV.web.d.ts
  packages/expo-av/build/ExponentAV.web.js
  packages/expo-av/build/ExponentAV.web.js.map
  packages/expo-av/src/ExponentAV.web.ts
Labels: bot: suggestions

#13075 [guides] Add a guide about updating changelogs
  CONTRIBUTING.md
  guides/contributing/Updating Changelogs.md
Labels: bot: passed checks

#12679 docs: fix setPurchaseListener example
  docs/pages/versions/unversioned/sdk/in-app-purchases.md
  docs/pages/versions/v41.0.0/sdk/in-app-purchases.md
Labels: bot: passed checks, docs

#13050 [clipboard] add native implementation for expo-clipboard
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.java
  apps/native-component-list/src/screens/ClipboardScreen.tsx
  docs/pages/versions/unversioned/sdk/clipboard.md
  docs/public/static/data/unversioned/expo-clipboard.json
  ios/Podfile.lock
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/.gitignore
  packages/expo-clipboard/android/build.gradle
  packages/expo-clipboard/android/src/main/AndroidManifest.xml
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardEventEmitter.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardPackage.kt
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/ExpoClipboard.d.ts
  packages/expo-clipboard/build/ExpoClipboard.js
  packages/expo-clipboard/build/ExpoClipboard.js.map
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts
  packages/expo-clipboard/build/ExpoClipboard.web.js
  packages/expo-clipboard/build/ExpoClipboard.web.js.map
  packages/expo-clipboard/ios/EXClipboard.podspec
  packages/expo-clipboard/ios/EXClipboard/EXClipboardModule.h
  packages/expo-clipboard/ios/EXClipboard/EXClipboardModule.m
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/ExpoClipboard.ts
  packages/expo-clipboard/src/ExpoClipboard.web.ts
  packages/expo-clipboard/src/__tests__/Clipboard-test.native.ts
  packages/expo-clipboard/src/__tests__/Clipboard-test.web.ts
  packages/expo-clipboard/unimodule.json
  packages/jest-expo/src/preset/expoModules.js
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13120 [bare-apps][templates] Update gradle.properties for jsEngine replacement
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/gradle.properties
  apps/bare-sandbox/android/app/build.gradle
  apps/bare-sandbox/android/gradle.properties
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/gradle.properties
  templates/expo-template-bare-typescript/android/app/build.gradle
  templates/expo-template-bare-typescript/android/gradle.properties
Labels: bot: passed checks

#13095 [tools] Add a command installing pods where they need to be updated
  scripts/check-cocoapods-lockfiles.sh
  tools/src/commands/PodInstallCommand.ts
Labels: bot: passed checks

#13135 [docs] Explicitly mention timeouts in expo-updates docs
  docs/pages/versions/unversioned/sdk/updates.md
  docs/pages/versions/v40.0.0/sdk/updates.md
  docs/pages/versions/v41.0.0/sdk/updates.md
Labels: bot: passed checks

#13113 [expo-updates][android] reset selection policy in UpdatesDevLauncherController
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
Labels: bot: suggestions

#13112 [expo-updates][ios] implement EXUpdatesDevLauncherController
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController+Internal.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
Labels: bot: passed checks

#13020 [dev-launcher][android] Reduce crashes when user is spamming deep links
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
Labels: bot: suggestions

#13145 [docs] Remove duplicated eslint modules
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#13136 [expo-updates-interface] make Update nullable in onSuccess callback
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.java
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesInterface.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
Labels: bot: passed checks

#13150 [ios] backport #13112 to versioned code
  ios/Podfile.lock
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesAppController+Internal.h
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesAppController.m
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesConfig.h
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesConfig.m
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesDevLauncherController.h
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesDevLauncherController.m
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesModule.m
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesService.h
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdates/ABI39_0_0EXUpdates/ABI39_0_0EXUpdatesService.m
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdatesInterface/ABI39_0_0EXUpdatesInterface.podspec
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdatesInterface/ABI39_0_0EXUpdatesInterface/ABI39_0_0EXUpdatesInterface.h
  ios/versioned-react-native/ABI39_0_0/Expo/EXUpdatesInterface/package.json
  ios/versioned-react-native/ABI39_0_0/dependencies.rb
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesAppController+Internal.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesAppController.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesConfig.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesConfig.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesDevLauncherController.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesDevLauncherController.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesModule.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesService.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/ABI40_0_0EXUpdatesService.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdatesInterface/ABI40_0_0EXUpdatesInterface.podspec
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdatesInterface/ABI40_0_0EXUpdatesInterface/ABI40_0_0EXUpdatesInterface.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdatesInterface/package.json
  ios/versioned-react-native/ABI40_0_0/dependencies.rb
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesAppController+Internal.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesAppController.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesConfig.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesConfig.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesDevLauncherController.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesDevLauncherController.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesModule.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesService.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/ABI41_0_0EXUpdatesService.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdatesInterface/ABI41_0_0EXUpdatesInterface.podspec
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdatesInterface/ABI41_0_0EXUpdatesInterface/ABI41_0_0EXUpdatesInterface.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdatesInterface/package.json
  ios/versioned-react-native/ABI41_0_0/dependencies.rb
Labels: bot: passed checks

#13153 [tools] Fix issues with versioning on iOS
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/transforms/postTransforms.ts
Labels: bot: passed checks

#13142 [docs] Remove pending web support for Facebook
  docs/pages/versions/unversioned/sdk/facebook.md
  docs/pages/versions/v38.0.0/sdk/facebook.md
  docs/pages/versions/v39.0.0/sdk/facebook.md
  docs/pages/versions/v40.0.0/sdk/facebook.md
  docs/pages/versions/v41.0.0/sdk/facebook.md
Labels: bot: passed checks

#13143 [docs] Remove pending web support for Google
  docs/pages/versions/unversioned/sdk/google-sign-in.md
  docs/pages/versions/unversioned/sdk/google.md
  docs/pages/versions/v38.0.0/sdk/google-sign-in.md
  docs/pages/versions/v38.0.0/sdk/google.md
  docs/pages/versions/v39.0.0/sdk/google-sign-in.md
  docs/pages/versions/v39.0.0/sdk/google.md
  docs/pages/versions/v40.0.0/sdk/google-sign-in.md
  docs/pages/versions/v40.0.0/sdk/google.md
  docs/pages/versions/v41.0.0/sdk/google-sign-in.md
  docs/pages/versions/v41.0.0/sdk/google.md
Labels: bot: passed checks

#13144 [docs] Remove pending web support for AppAuth
  docs/pages/versions/unversioned/sdk/app-auth.md
  docs/pages/versions/v38.0.0/sdk/app-auth.md
  docs/pages/versions/v39.0.0/sdk/app-auth.md
  docs/pages/versions/v40.0.0/sdk/app-auth.md
  docs/pages/versions/v41.0.0/sdk/app-auth.md
Labels: bot: passed checks

#13157 [docs] Remove web support notation for barcode scanner
  docs/pages/versions/unversioned/sdk/bar-code-scanner.md
  docs/pages/versions/v38.0.0/sdk/bar-code-scanner.md
  docs/pages/versions/v39.0.0/sdk/bar-code-scanner.md
  docs/pages/versions/v40.0.0/sdk/bar-code-scanner.md
  docs/pages/versions/v41.0.0/sdk/bar-code-scanner.md
Labels: bot: passed checks

#13162 Update datetimepicker to 3.5.2
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/Common.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/MinuteIntervalSnappableTimePickerDialog.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNConstants.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNDate.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNDatePickerDialogModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNTimePickerDialogModule.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent/Versioned/Core/Api/Components/DateTimePicker/RNDateTimePicker.m
  ios/Exponent/Versioned/Core/Api/Components/DateTimePicker/RNDateTimePickerManager.m
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  yarn.lock
Labels: bot: passed checks

#13154 [ios][android] Update react-native-svg to 12.1.1
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/ClipPathView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/svg/VirtualView.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/Svg/Brushes/RNSVGPainter.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGClipPath.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGDefs.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGDefs.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGForeignObject.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGGroup.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGGroup.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGLinearGradient.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGMarker.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGMask.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGPattern.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGRadialGradient.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGSvgView.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Elements/RNSVGUse.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGNode.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGRenderable.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGRenderable.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/RNSVGUIKit.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGFontData.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTSpan.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTSpan.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGText.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTopAlignedLabel.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Text/RNSVGTopAlignedLabel.ios.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGBezierElement.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGLength.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGMarkerPosition.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGPathMeasure.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGPathParser.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/Utils/RNSVGViewBox.h
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGDefsManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGNodeManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGRenderableManager.m
  ios/Exponent/Versioned/Core/Api/Components/Svg/ViewManagers/RNSVGSvgViewManager.m
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/legacy.ts
  yarn.lock
Labels: bot: passed checks

#13160 [tools] Add CMake support to the versioning script
  tools/src/versioning/android/android-copy-expoview.sh
  tools/src/versioning/android/index.ts
Labels: bot: passed checks

#13152 [ios][android] update react-native-picker to v1.16.1
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/CheckedTextViewImpl.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/PickerBlurEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/PickerFocusEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPicker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerLocalData.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerShadowNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/TextViewImpl.java
  android/expoview/src/main/res/layout/simple_spinner_dropdown_item.xml
  android/expoview/src/main/res/layout/simple_spinner_item.xml
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/components/Page.tsx
  apps/native-component-list/src/screens/PickerScreen.tsx
  ios/Exponent.xcodeproj/project.pbxproj
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  yarn.lock
Labels: bot: passed checks

#13159 [ios][android] Update react-native-screens to 3.3.0
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/Screen.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenContainer.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenDismissedEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenFragment.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStack.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStackFragment.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStackHeaderConfig.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenStackHeaderConfigViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenWindowTraits.java
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-screens/RNScreens.podspec.json
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.m
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenContainer.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenContainer.m
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStack.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStack.m
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStackAnimator.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStackAnimator.m
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStackHeaderConfig.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStackHeaderConfig.m
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenWindowTraits.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenWindowTraits.m
  ios/vendored/unversioned/react-native-screens/ios/RNSSearchBar.h
  ios/vendored/unversioned/react-native-screens/ios/RNSSearchBar.m
  ios/vendored/unversioned/react-native-screens/ios/UIViewController+RNScreens.h
  ios/vendored/unversioned/react-native-screens/ios/UIViewController+RNScreens.m
  packages/expo/bundledNativeModules.json
  tools/src/versioning/ios/versionVendoredModules.ts
  yarn.lock
Labels: bot: passed checks

#13133 [contacts] Switch to androidx.annotation.Nullable
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/build.gradle
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.java
Labels: bot: passed checks

#12749 [docs] bump Expo styleguide
  docs/global-styles/extras.ts
  docs/package.json
  docs/pages/_app.tsx
  docs/yarn.lock
Labels: docs

#13138 [android][expo-battery] Add method to check if battery optimization is enabled
  apps/native-component-list/src/screens/BatteryScreen.tsx
  packages/expo-battery/CHANGELOG.md
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.java
  packages/expo-battery/build/Battery.d.ts
  packages/expo-battery/build/Battery.js
  packages/expo-battery/build/Battery.js.map
  packages/expo-battery/src/Battery.ts
Labels: bot: passed checks

#13188 [ios][android] Update react-native-webview to 11.6.2
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopHttpErrorEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingErrorEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopLoadingStartEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopRenderProcessGoneEvent.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-webview/apple/RNCWKProcessPoolManager.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWKProcessPoolManager.m
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.m
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewManager.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewManager.m
  ios/vendored/unversioned/react-native-webview/react-native-webview.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#13166 [home] Styling fixes, fix crashes on iOS due to TouchableNativeFeedback
  home/components/PrimaryButton.tsx
  home/components/Views.tsx
  home/screens/UserSettingsScreen.tsx
  ios/Exponent/Supporting/Info.plist
Labels: bot: passed checks

#13175 Added config plugin for expo cellular
  packages/expo-cellular/CHANGELOG.md
  packages/expo-cellular/README.md
  packages/expo-cellular/app.plugin.js
  packages/expo-cellular/plugin/build/withCellular.d.ts
  packages/expo-cellular/plugin/build/withCellular.js
  packages/expo-cellular/plugin/src/withCellular.ts
  packages/expo-cellular/plugin/tsconfig.json
Labels: bot: passed checks

#13076 [contacts][android] fix test suite for Android contacts
  apps/bare-expo/android/app/src/main/AndroidManifest.xml
  apps/bare-expo/metro.config.js
  apps/test-suite/metro.config.js
  apps/test-suite/tests/Contacts.js
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.java
Labels: bot: suggestions

#13194 [docs] use fixed table layout in PlatformsSection
  docs/components/plugins/PlatformsSection.tsx
Labels: bot: passed checks

#12782 [notifications] feat: add custom notification sound files plugin
  apps/native-component-list/app.config.js
  apps/native-component-list/assets/sounds/cat.wav
  apps/native-component-list/src/screens/NotificationScreen.tsx
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/v41.0.0/sdk/notifications.md
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/README.md
  packages/expo-notifications/package.json
  packages/expo-notifications/plugin/build/withNotifications.d.ts
  packages/expo-notifications/plugin/build/withNotifications.js
  packages/expo-notifications/plugin/build/withNotificationsAndroid.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/build/withNotificationsIOS.d.ts
  packages/expo-notifications/plugin/build/withNotificationsIOS.js
  packages/expo-notifications/plugin/src/__tests__/fixtures/cat.wav
  packages/expo-notifications/plugin/src/__tests__/fixtures/project.pbxproj
  packages/expo-notifications/plugin/src/__tests__/withNotificationsAndroid-test.ts
  packages/expo-notifications/plugin/src/__tests__/withNotificationsiOS-test.ts
  packages/expo-notifications/plugin/src/withNotifications.ts
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
  packages/expo-notifications/plugin/src/withNotificationsIOS.ts
  yarn.lock
Labels: bot: passed checks

#13148 update / fix usage of react-native-fade-in-image
  home/components/ListItem.tsx
  home/components/SeeAllProjectsButton.tsx
  home/package.json
  home/types/react-native-fade-in-image.d.ts
  yarn.lock
Labels: bot: passed checks

#13149 [docs] update config plugins docs
  docs/pages/guides/config-plugins.md
Labels: bot: passed checks

#13109 [barcode-scanner][web] Add permission requester
  docs/pages/versions/unversioned/sdk/bar-code-scanner.md
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.d.ts
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.js
  packages/expo-barcode-scanner/build/ExpoBarCodeScannerModule.web.js.map
  packages/expo-barcode-scanner/src/ExpoBarCodeScannerModule.web.ts
Labels: bot: suggestions

#13204 [expo-dev-client] Fix `react-native.config.js` not being added in `expo prebuild --platform android`
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/plugin/build/withDevClient.js
  packages/expo-dev-client/plugin/src/withDevClient.ts
Labels: bot: passed checks

#13165 Upgrade stripe-react-native for SDK 42
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardChangedEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/Errors.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/Mappers.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentMethodCreateParamsFactory.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentSheetFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeContainerManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeContainerView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeSdkCardView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeSdkCardViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeSdkModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeSdkPackage.kt
  android/versioned-abis/expoview-abi40_0_0/build.gradle
  android/versioned-abis/expoview-abi41_0_0/build.gradle
  ios/Podfile.lock
  ios/vendored/sdk41/stripe-react-native/ABI41_0_0stripe-react-native.podspec.json
  ios/vendored/sdk41/stripe-react-native/ios/StripeSdk.m
  ios/vendored/unversioned/stripe-react-native/ios/ApplePayButtonManager.m
  ios/vendored/unversioned/stripe-react-native/ios/ApplePayButtonView.swift
  ios/vendored/unversioned/stripe-react-native/ios/CardFieldManager.m
  ios/vendored/unversioned/stripe-react-native/ios/CardFieldView.swift
  ios/vendored/unversioned/stripe-react-native/ios/Errors.swift
  ios/vendored/unversioned/stripe-react-native/ios/Mappers.swift
  ios/vendored/unversioned/stripe-react-native/ios/PaymentMethodFactory.swift
  ios/vendored/unversioned/stripe-react-native/ios/StripeContainerManager.m
  ios/vendored/unversioned/stripe-react-native/ios/StripeContainerManager.swift
  ios/vendored/unversioned/stripe-react-native/ios/StripeContainerView.swift
  ios/vendored/unversioned/stripe-react-native/ios/StripeSdk.m
  ios/vendored/unversioned/stripe-react-native/ios/StripeSdk.swift
  ios/vendored/unversioned/stripe-react-native/stripe-react-native.podspec.json
  packages/expo/bundledNativeModules.json
  tools/src/versioning/ios/transforms/vendoredModulesTransforms.ts
Labels: bot: passed checks

#13079 bugfix: expo-yarn-workspaces: support nested packages under the workspace key
  packages/expo-yarn-workspaces/webpack.js
Labels: bot: suggestions

#13195 [docs] add missing types to `TrackingTransparency`, regenerate data files
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/unversioned/expo-tracking-transparency.json
  packages/expo-tracking-transparency/CHANGELOG.md
  packages/expo-tracking-transparency/build/TrackingTransparency.d.ts
  packages/expo-tracking-transparency/build/TrackingTransparency.js
  packages/expo-tracking-transparency/build/TrackingTransparency.js.map
  packages/expo-tracking-transparency/src/TrackingTransparency.ts
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#13193 [video-thumbnails] add doc comments in source
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/video-thumbnails.md
  docs/public/static/data/unversioned/expo-video-thumbnails.json
  packages/expo-video-thumbnails/CHANGELOG.md
  packages/expo-video-thumbnails/build/VideoThumbnails.d.ts
  packages/expo-video-thumbnails/build/VideoThumbnails.js
  packages/expo-video-thumbnails/build/VideoThumbnails.js.map
  packages/expo-video-thumbnails/build/VideoThumbnailsTypes.types.d.ts
  packages/expo-video-thumbnails/build/VideoThumbnailsTypes.types.js.map
  packages/expo-video-thumbnails/src/VideoThumbnails.ts
  packages/expo-video-thumbnails/src/VideoThumbnailsTypes.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13209 [dev-client][ios] Initialize only required modules
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
  packages/expo-dev-launcher/ios/Headers/RCTCxxBridge+Private.h
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-menu/ios/DevMenuRCTBridge.m
  packages/expo-dev-menu/ios/Headers/RCTCxxBridge+Private.h
Labels: bot: suggestions

#13196 Added android style reset
  templates/expo-template-bare-minimum/android/app/src/main/res/values/styles.xml
Labels: bot: passed checks

#13163 Move permission from template into expo-av
  packages/expo-av/CHANGELOG.md
  packages/expo-av/plugin/build/withAV.js
  packages/expo-av/plugin/src/withAV.ts
Labels: bot: passed checks

#13216 [template] Reset Android theme manually
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainActivity.java
Labels: bot: passed checks

#13214 [expo-updates-interface] rename iOS protocol to EXUpdatesExternalInterface
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesExternalInterface.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.h
Labels: bot: suggestions

#12934 [dev-launcher] Improve error messages
  docs/pages/clients/installation.md
  packages/expo-dev-client/build/DevClient.d.ts
  packages/expo-dev-client/build/DevClient.js
  packages/expo-dev-client/build/DevClient.js.map
  packages/expo-dev-client/src/DevClient.ts
  packages/expo-dev-launcher/build/DevLauncher.d.ts
  packages/expo-dev-launcher/build/DevLauncher.js
  packages/expo-dev-launcher/build/DevLauncher.js.map
  packages/expo-dev-launcher/build/DevelopementClient.d.ts
  packages/expo-dev-launcher/build/DevelopementClient.js
  packages/expo-dev-launcher/build/DevelopementClient.js.map
  packages/expo-dev-launcher/package.json
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
  packages/expo-dev-launcher/src/DevLauncher.ts
  packages/expo-dev-launcher/src/DevelopementClient.ts
Labels: bot: suggestions

#13224 [ios] small fixes to NCL and test suite following QA
  apps/native-component-list/src/components/GoogleSignInButton.tsx
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/DeviceScreen.tsx
  apps/native-component-list/src/screens/DrawerLayoutAndroidScreen.android.tsx
  apps/native-component-list/src/screens/DrawerLayoutAndroidScreen.tsx
  apps/native-component-list/src/screens/GoogleSignInScreen.tsx
  apps/native-component-list/src/screens/Location/BackgroundLocationMapScreen.tsx
  apps/native-component-list/src/screens/SliderScreen.tsx
  apps/native-component-list/src/screens/TrackingTransparencyScreen.tsx
  apps/test-suite/tests/FBNativeAd.js
  apps/test-suite/tests/SQLite.js
Labels: bot: passed checks

#13237 [ios] use isUsingDeveloperTool where necessary
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcher.m
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherWithTimeout.m
  ios/Exponent/Kernel/AppLoader/EXAppLoader.m
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
Labels: bot: passed checks

#13140 [android] pickFirst for only necessary libraries
  android/app/build.gradle
  tools/src/versioning/android/android-build-aar.sh
  tools/src/versioning/android/libraries.ts
Labels: bot: passed checks

#13239 [docs] remove on-page API content ToCs
  docs/pages/versions/unversioned/sdk/accelerometer.md
  docs/pages/versions/unversioned/sdk/device.md
  docs/pages/versions/unversioned/sdk/network.md
  docs/pages/versions/unversioned/sdk/screen-orientation.md
Labels: bot: passed checks

#13213 [contacts] fix test-suite for contacts on ios
  apps/test-suite/tests/Contacts.js
Labels: bot: passed checks

#13236 [expo-av] Fixed an issue with Audio Interruption Mode not correctly being set on Android
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
Labels: bot: passed checks

#13244 [android] Fix duplicated libraries build break on linux
  android/expoview/build.gradle
Labels: bot: passed checks

#13242 Update configuration md
  docs/pages/workflow/configuration.md
Labels: bot: passed checks

#13207 [analytics-segment] add doc comments in source
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionTypes.test.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/pages/versions/unversioned/sdk/segment.md
  docs/public/static/data/unversioned/expo-analytics-segment.json
  packages/expo-analytics-segment/CHANGELOG.md
  packages/expo-analytics-segment/build/Segment.d.ts
  packages/expo-analytics-segment/build/Segment.js
  packages/expo-analytics-segment/build/Segment.js.map
  packages/expo-analytics-segment/src/Segment.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13256 [docs] Add barcode-scanner permission APIs for current SDKs
  docs/pages/versions/unversioned/sdk/bar-code-scanner.md
  docs/pages/versions/v39.0.0/sdk/bar-code-scanner.md
  docs/pages/versions/v40.0.0/sdk/bar-code-scanner.md
  docs/pages/versions/v41.0.0/sdk/bar-code-scanner.md
Labels: bot: passed checks

#13258 [ios][android] upgrade fb audience network
  android/app/build.gradle
  ios/Podfile.lock
  ios/versioned-react-native/ABI39_0_0/Expo/EXAdsFacebook/ABI39_0_0EXAdsFacebook.podspec
  ios/versioned-react-native/ABI40_0_0/Expo/EXAdsFacebook/ABI40_0_0EXAdsFacebook.podspec
  ios/versioned-react-native/ABI41_0_0/Expo/EXAdsFacebook/ABI41_0_0EXAdsFacebook.podspec
  packages/expo-ads-facebook/CHANGELOG.md
  packages/expo-ads-facebook/android/build.gradle
  packages/expo-ads-facebook/ios/EXAdsFacebook.podspec
Labels: bot: passed checks

#13261 [device] Add missing Apple devices
  packages/expo-device/CHANGELOG.md
  packages/expo-device/build/ModelNames.d.ts
  packages/expo-device/build/ModelNames.js
  packages/expo-device/build/ModelNames.js.map
  packages/expo-device/ios/EXDevice/EXDevice.m
  packages/expo-device/src/ModelNames.ts
Labels: bot: suggestions

#13259 [payments-stripe] Deprecate in favor of @stripe/stripe-react-native
  docs/pages/versions/unversioned/sdk/payments.md
  docs/pages/versions/v41.0.0/sdk/payments.md
  packages/expo-payments-stripe/CHANGELOG.md
  packages/expo-payments-stripe/README.md
  packages/expo-payments-stripe/build/Stripe.js
  packages/expo-payments-stripe/build/Stripe.js.map
  packages/expo-payments-stripe/src/Stripe.ts
Labels: bot: passed checks

#13226 [android][ios][home] open Expo Go with expo.dev/expo-go universal link
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.java
  home/HomeApp.tsx
  ios/Exponent/Supporting/Exponent.entitlements
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks

#13262 [android][qa] minor fixes for test-suite and NCL
  android/expoview/src/main/AndroidManifest.xml
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  apps/native-component-list/src/screens/TaskManagerScreen.tsx
  apps/test-suite/tests/Calendar.js
  apps/test-suite/tests/FileSystem.js
  apps/test-suite/tests/MediaLibrary.js
Labels: bot: passed checks

#13252 [docs] EAS Build: update build process info
  docs/pages/build-reference/ios-builds.md
Labels: bot: passed checks

#13275 [CI][Android] Fix `The following variables are used in this project, but they are set to NOTFOUND`
  android/expoview/build.gradle
Labels: bot: passed checks

#13231 [ENG-975][image-manipulator] convert Android code to Kotlin
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/FileUtils.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/FileUtils.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorPackage.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorPackage.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/Action.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/CropAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/FlipAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/FlipType.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/ResizeAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/RotateAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/Action.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/ActionCrop.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/ActionFlip.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/ActionResize.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/Actions.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/SaveOptions.java
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/SaveOptions.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/SaveOptionsFormat.java
  packages/expo-image-manipulator/build/ImageManipulator.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.js
  packages/expo-image-manipulator/build/ImageManipulator.js.map
  packages/expo-image-manipulator/build/validators.d.ts
  packages/expo-image-manipulator/build/validators.js
  packages/expo-image-manipulator/build/validators.js.map
  packages/expo-image-manipulator/src/ImageManipulator.ts
  packages/expo-image-manipulator/src/__tests__/validators-test.ts
  packages/expo-image-manipulator/src/validators.ts
Labels: bot: passed checks

#13177 @tc/eng 961
  docs/README.md
  docs/components/plugins/Tabs.js
  docs/constants/navigation.js
  docs/pages/clients/eas-build.md
  docs/pages/clients/getting-started.md
  docs/pages/clients/installation.md
  docs/pages/clients/introduction.md
Labels: bot: passed checks

#13263 [segment][android] upgrade segment version v4.9.4
  packages/expo-analytics-segment/CHANGELOG.md
  packages/expo-analytics-segment/android/build.gradle
  packages/expo-analytics-segment/android/src/main/java/expo/modules/analytics/segment/SegmentModule.java
Labels: bot: passed checks

#13265 add fs-extra (and type) to necessary packages
  packages/expo-firebase-core/plugin/build/withFirebaseCore.js
  packages/expo-firebase-core/plugin/src/withFirebaseCore.ts
  packages/expo-modules-autolinking/package.json
  packages/expo-screen-orientation/plugin/build/withScreenOrientation.js
  packages/expo-screen-orientation/plugin/src/withScreenOrientation.ts
  yarn.lock
Labels: bot: suggestions

#13238 [android] Add Hermes support for Expo Go
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.java
  android/expoview/src/test/java/versioned/host/exp/exponent/VersionedUtilsTest.kt
  android/expoview/src/test/resources/plain.74.hbc
  android/expoview/src/test/resources/plain.js
  tools/src/versioning/android/index.ts
Labels: bot: passed checks

#13285 [docs] EAS Build - add Big Sur image
  docs/pages/build-reference/infrastructure.md
Labels: bot: passed checks

#13279 Fix Tracking Transparency Warning
  docs/pages/versions/unversioned/sdk/tracking-transparency.md
  docs/pages/versions/v41.0.0/sdk/tracking-transparency.md
Labels: bot: passed checks

#13281 [home] Use showInRecents on auth session to prevent prematurely closing the browser
  home/components/ProfileUnauthenticated.tsx
Labels: bot: passed checks

#13289 [network] add doc comments in source
  docs/components/base/paragraph.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/pages/versions/unversioned/sdk/network.md
  docs/public/static/data/unversioned/expo-network.json
  packages/expo-network/build/Network.d.ts
  packages/expo-network/build/Network.js
  packages/expo-network/build/Network.js.map
  packages/expo-network/build/Network.types.d.ts
  packages/expo-network/build/Network.types.js
  packages/expo-network/build/Network.types.js.map
  packages/expo-network/src/Network.ts
  packages/expo-network/src/Network.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13288 [haptics] add doc comments in source
  docs/pages/versions/unversioned/sdk/haptics.md
  docs/public/static/data/unversioned/expo-haptics.json
  packages/expo-haptics/build/Haptics.d.ts
  packages/expo-haptics/build/Haptics.js
  packages/expo-haptics/build/Haptics.js.map
  packages/expo-haptics/build/Haptics.types.d.ts
  packages/expo-haptics/build/Haptics.types.js
  packages/expo-haptics/build/Haptics.types.js.map
  packages/expo-haptics/src/Haptics.ts
  packages/expo-haptics/src/Haptics.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13225 [secure-store] add doc comments in source
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionTypes.tsx
  docs/global-styles/tables.ts
  docs/pages/versions/unversioned/sdk/securestore.md
  docs/public/static/data/unversioned/expo-secure-store.json
  packages/expo-secure-store/build/SecureStore.d.ts
  packages/expo-secure-store/build/SecureStore.js
  packages/expo-secure-store/build/SecureStore.js.map
  packages/expo-secure-store/src/SecureStore.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13278 [SDK 42] Update iOS versioning scripts for react-native-svg
  tools/src/versioning/ios/transforms/postTransforms.ts
  tools/src/versioning/ios/transforms/vendoredModulesTransforms.ts
Labels: bot: passed checks

#13130 [notifications] feat: respond to notifications while app is backgrounded
  apps/native-component-list/src/screens/NotificationScreen.tsx
  docs/pages/versions/unversioned/sdk/notifications.md
  fastlane/Fastfile
  ios/Exponent/Supporting/Info.plist
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetchTaskConsumer.m
  packages/expo-modules-core/ios/Interfaces/TaskManager/EXTaskConsumerInterface.h
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/README.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/NotificationsPackage.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/BackgroundRemoteNotificationTaskConsumer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/ExpoBackgroundNotificationTasksModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/FirebaseMessagingDelegate.kt
  packages/expo-notifications/build/BackgroundNotificationTasksModule.native.d.ts
  packages/expo-notifications/build/BackgroundNotificationTasksModule.native.js
  packages/expo-notifications/build/BackgroundNotificationTasksModule.native.js.map
  packages/expo-notifications/build/BackgroundNotificationTasksModule.types.d.ts
  packages/expo-notifications/build/BackgroundNotificationTasksModule.types.js
  packages/expo-notifications/build/BackgroundNotificationTasksModule.types.js.map
  packages/expo-notifications/build/BackgroundNotificationTasksModule.web.d.ts
  packages/expo-notifications/build/BackgroundNotificationTasksModule.web.js
  packages/expo-notifications/build/BackgroundNotificationTasksModule.web.js.map
  packages/expo-notifications/build/index.d.ts
  packages/expo-notifications/build/index.js
  packages/expo-notifications/build/index.js.map
  packages/expo-notifications/build/registerTaskAsync.d.ts
  packages/expo-notifications/build/registerTaskAsync.js
  packages/expo-notifications/build/registerTaskAsync.js.map
  packages/expo-notifications/build/unregisterTaskAsync.d.ts
  packages/expo-notifications/build/unregisterTaskAsync.js
  packages/expo-notifications/build/unregisterTaskAsync.js.map
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundNotificationTasksModule.h
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundNotificationTasksModule.m
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundRemoteNotificationConsumer.h
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundRemoteNotificationConsumer.m
  packages/expo-notifications/package.json
  packages/expo-notifications/src/BackgroundNotificationTasksModule.native.ts
  packages/expo-notifications/src/BackgroundNotificationTasksModule.types.ts
  packages/expo-notifications/src/BackgroundNotificationTasksModule.web.ts
  packages/expo-notifications/src/index.ts
  packages/expo-notifications/src/registerTaskAsync.ts
  packages/expo-notifications/src/unregisterTaskAsync.ts
  packages/expo-task-manager/ios/EXTaskManager/EXTaskService.m
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface/UMTaskConsumerInterface.h
Labels: bot: suggestions

#13294 Added `android:usesCleartextTraffic=true`
  templates/expo-template-bare-minimum/android/app/src/main/AndroidManifest.xml
Labels: bot: passed checks

#13283 [expo-updates] add runtimeVersion support to classic updates
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/LegacyManifestTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/LegacyRawManifest.kt
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.m
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateTests.m
Labels: bot: passed checks

#13232 fix: crash of file system when try to read cache dir file on android
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
Labels: bot: passed checks

#13299 [bare-expo][android] Configure metro to download assets specified in the NCL
  apps/bare-expo/metro.config.js
Labels: bot: passed checks

#13301 [ios] Add dummy Swift file to native iOS tests
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-structured-headers/ios/EXStructuredHeaders.podspec
  packages/expo-structured-headers/ios/Tests/dummy.swift
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/Tests/dummy.swift
Labels: bot: suggestions

#13293 [client] Fix ExponentKernel.sdkVersions type inference in home
  home/kernel/Kernel.ts
  home/kernel/MockKernel.ts
Labels: bot: passed checks

#13267 [background-fetch] add doc comments in source, export missing type
  apps/native-component-list/src/screens/BackgroundFetchScreen.tsx
  docs/pages/versions/unversioned/sdk/background-fetch.md
  docs/public/static/data/unversioned/expo-background-fetch.json
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/build/BackgroundFetch.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.js
  packages/expo-background-fetch/build/BackgroundFetch.js.map
  packages/expo-background-fetch/build/BackgroundFetch.types.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.types.js
  packages/expo-background-fetch/build/BackgroundFetch.types.js.map
  packages/expo-background-fetch/src/BackgroundFetch.ts
  packages/expo-background-fetch/src/BackgroundFetch.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13257 [speech] add doc comments in source
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/speech.md
  docs/public/static/data/unversioned/expo-speech.json
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/build/Speech.d.ts
  packages/expo-speech/build/Speech.js
  packages/expo-speech/build/Speech.js.map
  packages/expo-speech/build/Speech.types.d.ts
  packages/expo-speech/build/Speech.types.js
  packages/expo-speech/build/Speech.types.js.map
  packages/expo-speech/src/Speech/Speech.ts
  packages/expo-speech/src/Speech/Speech.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13208 Inherit env vars in get-app-config-android.gradle
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/scripts/get-app-config-android.gradle
Labels: bot: passed checks

#13322 [docs] developer menu shortcut for Windows
  docs/pages/workflow/debugging.md
Labels: bot: passed checks

#13310 [expo-updates] move update URL checks to later in update lifecycle
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
Labels: bot: passed checks

#13324 [guides] add more info about Android versioning
  guides/releasing/Release Workflow.md
Labels: bot: passed checks

#13325 [docs] update 39, 40, 41 schemas
  docs/scripts/schemas/v39.0.0/app-config-schema.js
  docs/scripts/schemas/v40.0.0/app-config-schema.js
  docs/scripts/schemas/v41.0.0/app-config-schema.js
  docs/yarn.lock
Labels: bot: passed checks

#13323 [autolinking] Support for expo-module.config.json
  packages/expo-modules-autolinking/build/autolinking.js
  packages/expo-modules-autolinking/build/autolinking.js.map
  packages/expo-modules-autolinking/src/autolinking.ts
Labels: bot: passed checks

#13108 [setup] Update Android setup scripts & docs
  .envrc
  .github/workflows/android-unit-tests.yml
  .github/workflows/client-android.yml
  .github/workflows/development-client.yml
  .github/workflows/shell-app-android.yml
  CONTRIBUTING.md
  apps/bare-expo/scripts/create-emulator.sh
  apps/bare-expo/scripts/start-emulator.sh
  apps/bare-expo/scripts/wait-for-emulator.sh
  scripts/setup-react-android.sh
Labels: bot: passed checks

#13306 [tools] small improvements and changes to the API data generation
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIDataTypes.ts
  docs/public/static/data/unversioned/expo-analytics-segment.json
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-application.json
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/unversioned/expo-blur.json
  docs/public/static/data/unversioned/expo-cellular.json
  docs/public/static/data/unversioned/expo-clipboard.json
  docs/public/static/data/unversioned/expo-haptics.json
  docs/public/static/data/unversioned/expo-keep-awake.json
  docs/public/static/data/unversioned/expo-linear-gradient.json
  docs/public/static/data/unversioned/expo-localization.json
  docs/public/static/data/unversioned/expo-mail-composer.json
  docs/public/static/data/unversioned/expo-network.json
  docs/public/static/data/unversioned/expo-pedometer.json
  docs/public/static/data/unversioned/expo-print.json
  docs/public/static/data/unversioned/expo-random.json
  docs/public/static/data/unversioned/expo-secure-store.json
  docs/public/static/data/unversioned/expo-sharing.json
  docs/public/static/data/unversioned/expo-splash-screen.json
  docs/public/static/data/unversioned/expo-store-review.json
  docs/public/static/data/unversioned/expo-task-manager.json
  docs/public/static/data/unversioned/expo-tracking-transparency.json
  docs/public/static/data/unversioned/expo-video-thumbnails.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13308 [expo-updates] backport rtv with dual update server assumption
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/LegacyManifestTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyManifest.kt
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.m
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateTests.m
Labels: bot: suggestions

#13340 [EXUpdates] Add cherry picked expo-updates to ABI 42
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/ABI42_0_0EXUpdatesLegacyUpdate.m
Labels: bot: passed checks

#13345 [android] fix android versioning prompt
  tools/src/versioning/android/index.ts
Labels: bot: passed checks

#13198 [expo-dev-launcher] add updates integration to config plugin
  .github/workflows/development-client.yml
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/package.json
  packages/expo-dev-launcher/plugin/build/resolveExpoUpdatesVersion.d.ts
  packages/expo-dev-launcher/plugin/build/resolveExpoUpdatesVersion.js
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/build/withDevLauncherAppDelegate.d.ts
  packages/expo-dev-launcher/plugin/build/withDevLauncherAppDelegate.js
  packages/expo-dev-launcher/plugin/src/__tests__/__snapshots__/withDevLauncherAppDelegate-test.ts.snap
  packages/expo-dev-launcher/plugin/src/__tests__/withDevLauncherAppDelegate-test.ts
  packages/expo-dev-launcher/plugin/src/resolveExpoUpdatesVersion.ts
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
  packages/expo-dev-launcher/plugin/src/withDevLauncherAppDelegate.ts
Labels: bot: passed checks

#13330 [docs] add section on customizing your runtime
  docs/pages/clients/getting-started.md
Labels: bot: passed checks

#13355 [ci] Fix android test-suite ci connection reset error
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13240 [sms] add doc comments in source, export missing types
  docs/pages/versions/unversioned/sdk/sms.md
  docs/public/static/data/unversioned/expo-sms.json
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/build/SMS.d.ts
  packages/expo-sms/build/SMS.js
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/build/SMS.types.d.ts
  packages/expo-sms/build/SMS.types.js.map
  packages/expo-sms/src/SMS.ts
  packages/expo-sms/src/SMS.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13189 [web-browser] add doc comments in source
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/webbrowser.md
  docs/public/static/data/unversioned/expo-web-browser.json
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/build/WebBrowser.types.d.ts
  packages/expo-web-browser/build/WebBrowser.types.js
  packages/expo-web-browser/build/WebBrowser.types.js.map
  packages/expo-web-browser/src/WebBrowser.ts
  packages/expo-web-browser/src/WebBrowser.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13346 [expo-dev-launcher][expo-updates] reset updates module state on each load
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.java
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesExternalInterface.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesService.java
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController+Internal.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
Labels: bot: passed checks

#13341 [camera] fix camera video codec validation
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: Appearance, bot: passed checks

#13192 [maps] Upgrade react-native-maps to 0.28.0
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapOverlay.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapOverlayManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapPolyline.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/FusedLocationSource.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/ImageReader.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/RegionChangeEvent.java
  apps/native-component-list/package.json
  home/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMap.h
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMap.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapManager.h
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapManager.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapMarker.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapOverlay.h
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapOverlay.m
  ios/Exponent/Versioned/Core/Api/Components/GoogleMaps/AIRGoogleMapOverlayManager.m
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMap.h
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMap.m
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMapManager.m
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#13359 [ios] move RCTOverrideAppearancePreference into versioned block
  ios/Exponent/Kernel/Views/EXAppViewController.m
Labels: bot: passed checks

#13360 [iOS] cherry-pick expo-camera codec validation
  ios/versioned-react-native/ABI42_0_0/Expo/EXCamera/ABI42_0_0EXCamera/ABI42_0_0EXCamera.m
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: bot: passed checks

#13362 [android] backport react-native-maps updates to sdk-42
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapManager.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapModule.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapOverlay.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapOverlayManager.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapPolyline.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/AirMapView.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/FusedLocationSource.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/ImageReader.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/api/components/maps/RegionChangeEvent.java
Labels: bot: passed checks

#13364 [ios] Backport react-native-maps updates to sdk-42
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMap.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMap.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMapManager.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMapManager.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMapMarker.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMapOverlay.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMapOverlay.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/GoogleMaps/ABI42_0_0AIRGoogleMapOverlayManager.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/Maps/ABI42_0_0AIRMap.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/Maps/ABI42_0_0AIRMap.m
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Components/Maps/ABI42_0_0AIRMapManager.m
Labels: bot: passed checks

#13317 [image] Convert Android source to Kotlin
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageAppGlideModule.java
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageAppGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImagePackage.java
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImagePackage.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.java
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.java
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.kt
  packages/expo-image/android/src/main/java/expo/modules/image/YogaUtils.kt
  packages/expo-image/android/src/main/java/expo/modules/image/decoding/InputStreamBitmapFactoryOptionsDecoder.java
  packages/expo-image/android/src/main/java/expo/modules/image/decoding/InputStreamBitmapFactoryOptionsDecoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/decoding/InputStreamBitmapOptionsDecoderGlideModule.java
  packages/expo-image/android/src/main/java/expo/modules/image/decoding/InputStreamBitmapOptionsDecoderGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/BorderDrawable.java
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/BorderDrawable.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/OutlineProvider.java
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/OutlineProvider.kt
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ImageCacheType.java
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ImageCacheType.kt
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ImageResizeMode.java
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ImageResizeMode.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageErrorEvent.java
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageErrorEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadEvent.java
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadEventsManager.java
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadEventsManager.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadStartEvent.java
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadStartEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageProgressEvent.java
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageProgressEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/ExpoImageOkHttpClientGlideModule.java
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/ExpoImageOkHttpClientGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/OkHttpClientProgressInterceptor.java
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/OkHttpClientProgressInterceptor.kt
Labels: bot: passed checks

#12917 [android] Split Expo Go to unversioned and versioned flavors
  .github/workflows/client-android.yml
  android/app/build.gradle
  android/app/src/main/res/values/strings.xml
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/RNObject.java
  android/expoview/src/unversioned/java/host/exp/exponent/experience/MultipleVersionReactNativeActivity.java
  android/expoview/src/versioned/java/host/exp/exponent/experience/MultipleVersionReactNativeActivity.java
  android/versioned-abis/expoview-abi39_0_0/build.gradle
  android/versioned-abis/expoview-abi40_0_0/build.gradle
  android/versioned-abis/expoview-abi41_0_0/build.gradle
  android/versioned-abis/expoview-abi42_0_0/build.gradle
  fastlane/Fastfile
  guides/Creating Versioned Expo SDK for Android.md
  guides/Developing Expo Go.md
  guides/Releasing Expo Go for Android.md
  template-files/android/AndroidManifest.xml
  tools/package.json
  tools/src/client-build/AndroidClientBuilder.ts
  tools/src/commands/AndroidBuildPackages.ts
  tools/src/versioning/android/android-build-aar.sh
  tools/src/versioning/android/android-copy-expoview.sh
  tools/src/versioning/android/index.ts
  tools/yarn.lock
Labels: bot: passed checks

#13329 [vendored lib][react-native-screens] Update to 3.4.0
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenContainer.java
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-screens/RNScreens.podspec.json
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.m
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenContainer.m
  ios/vendored/unversioned/react-native-screens/ios/RNSSearchBar.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#13368 [docs] Haptics snack example
  docs/pages/versions/unversioned/sdk/haptics.md
  docs/pages/versions/v41.0.0/sdk/haptics.md
Labels: bot: passed checks

#13315 [autolinking] Generating Swift modules providers on iOS
  packages/@unimodules/react-native-adapter/scripts/autolinking.rb
  packages/@unimodules/react-native-adapter/scripts/ios/autolinking_manager.rb
  packages/@unimodules/react-native-adapter/scripts/ios/cocoapods/target_definition.rb
  packages/@unimodules/react-native-adapter/scripts/ios/cocoapods/user_project_integrator.rb
  packages/@unimodules/react-native-adapter/scripts/ios/constants.rb
  packages/@unimodules/react-native-adapter/scripts/ios/package.rb
  packages/@unimodules/react-native-adapter/scripts/ios/project_integrator.rb
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/autolinking.js
  packages/expo-modules-autolinking/build/autolinking.js.map
  packages/expo-modules-autolinking/build/platforms/ios.d.ts
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/autolinking.ts
  packages/expo-modules-autolinking/src/platforms/ios.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: suggestions

#13352 [screen-capture] add doc comments in source, export missing type
  docs/pages/versions/unversioned/sdk/screen-capture.md
  docs/public/static/data/unversioned/expo-screen-capture.json
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13369 [ios][sdk 42] Fixes following versioned QA
  apps/native-component-list/src/screens/FacebookAppEventsScreen.tsx
  apps/native-component-list/src/screens/ImageManipulatorScreen.tsx
  apps/native-component-list/src/screens/LottieScreen.tsx
  ios/versioned-react-native/ABI42_0_0/Expo/EXFacebook/ABI42_0_0EXFacebook/ABI42_0_0EXFacebook.m
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/ios/EXFacebook/EXFacebook.m
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/build/validators.js
  packages/expo-image-manipulator/build/validators.js.map
  packages/expo-image-manipulator/src/__tests__/validators-test.ts
  packages/expo-image-manipulator/src/validators.ts
Labels: bot: passed checks

#13363 [expo-dev-launcher][android] fix switching from prod to dev mode
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
Labels: bot: passed checks

#13367 [ci] increase timeout factors
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13376 [android] use hermes engine if specifing jsEngine in manifest
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/RawManifest.kt
Labels: bot: suggestions

#13377 [CI] Schedule versioned Expo Go builds
  .github/workflows/client-android.yml
  .github/workflows/client-ios.yml
Labels: bot: passed checks

#13222 [docs] Add hermes guide
  docs/pages/guides/using-hermes.md
Labels: bot: passed checks

#13350 Getting started improvements
  docs/constants/navigation.js
  docs/pages/clients/eas-build.md
  docs/pages/clients/getting-started.md
Labels: bot: passed checks

#13382 [dev-client][plugin] Use Node module resolution to find package paths for Podfile
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/plugin/build/withDevMenu.js
  packages/expo-dev-menu/plugin/src/withDevMenu.ts
Labels: bot: passed checks

#13375 [expo-dev-launcher] send expo-updates-environment: DEVELOPMENT header in manifest requests
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: passed checks

#13388 Added missing android intents
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/AndroidManifest.xml
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/AndroidManifest.xml
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/AndroidManifest.xml
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/src/main/AndroidManifest.xml
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/android/src/main/AndroidManifest.xml
Labels: bot: passed checks

#13390 Bump config-plugins to v3.0.0
  packages/expo-ads-admob/package.json
  packages/expo-ads-facebook/package.json
  packages/expo-app-auth/package.json
  packages/expo-apple-authentication/package.json
  packages/expo-av/package.json
  packages/expo-background-fetch/package.json
  packages/expo-barcode-scanner/package.json
  packages/expo-branch/package.json
  packages/expo-brightness/package.json
  packages/expo-calendar/package.json
  packages/expo-camera/package.json
  packages/expo-contacts/package.json
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo-document-picker/package.json
  packages/expo-facebook/package.json
  packages/expo-facebook/plugin/build/withFacebookAndroid.d.ts
  packages/expo-facebook/plugin/build/withFacebookAndroid.js
  packages/expo-facebook/plugin/src/withFacebookAndroid.ts
  packages/expo-file-system/package.json
  packages/expo-image-picker/package.json
  packages/expo-local-authentication/package.json
  packages/expo-location/package.json
  packages/expo-media-library/package.json
  packages/expo-notifications/package.json
  packages/expo-notifications/plugin/build/withNotificationsAndroid.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/src/__tests__/withNotificationsAndroid-test.ts
  packages/expo-notifications/plugin/src/__tests__/withNotificationsiOS-test.ts
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
  packages/expo-payments-stripe/package.json
  packages/expo-screen-orientation/package.json
  packages/expo-sensors/package.json
  packages/expo-task-manager/package.json
  packages/expo-tracking-transparency/package.json
  packages/expo-updates/package.json
  yarn.lock
Labels: bot: suggestions

#13397 [ci] fix android emulator timeouts
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13384 [dev-launcher][ios] Ensure error handler is initialized
  docs/pages/clients/installation.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/build/DevLauncher.d.ts
  packages/expo-dev-launcher/build/DevLauncher.js
  packages/expo-dev-launcher/build/DevLauncher.js.map
  packages/expo-dev-launcher/build/DevLauncherErrorManager.d.ts
  packages/expo-dev-launcher/build/DevLauncherErrorManager.js
  packages/expo-dev-launcher/build/DevLauncherErrorManager.js.map
  packages/expo-dev-launcher/build/setUpErrorHandler.fx.d.ts
  packages/expo-dev-launcher/build/setUpErrorHandler.fx.js
  packages/expo-dev-launcher/build/setUpErrorHandler.fx.js.map
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherRedBox.h
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherRedBox.m
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRedBoxInterceptor.swift
  packages/expo-dev-launcher/ios/expo-dev-launcher-Bridging-Header.h
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
  packages/expo-dev-launcher/src/DevLauncher.ts
  packages/expo-dev-launcher/src/DevLauncherErrorManager.ts
  packages/expo-dev-launcher/src/setUpErrorHandler.fx.ts
Labels: bot: passed checks

#13399 Added android: namespace bindings to AndroidManifests
  packages/expo-contacts/android/src/main/AndroidManifest.xml
  packages/expo-document-picker/android/src/main/AndroidManifest.xml
  packages/expo-sms/android/src/main/AndroidManifest.xml
Labels: bot: suggestions

#13387 [docs][background-fetch] add example implementation to BackgroundFetch
  docs/pages/versions/unversioned/sdk/background-fetch.md
  docs/public/static/data/unversioned/expo-background-fetch.json
  docs/public/static/images/simulate-background-fetch-instruments.png
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/build/BackgroundFetch.types.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.types.js.map
  packages/expo-background-fetch/src/BackgroundFetch.types.ts
Labels: bot: passed checks

#13392 [docs] Add section about reliable push notifications
  docs/pages/push-notifications/sending-notifications.md
Labels: bot: passed checks

#13400 [docs] minor dependencies bump, small cleanup
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#13402 [ci][android] try to make cache hit
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#13393 [dev-menu] Fix crash from inspector request failures
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/api/DevMenuMetroClient.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/devtools/DevMenuDevToolsDelegate.kt
Labels: bot: suggestions

#13396 [app-loading] add doc comments in source
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/app-loading.md
  docs/public/static/data/unversioned/expo-app-loading.json
  packages/expo-app-loading/CHANGELOG.md
  packages/expo-app-loading/build/AppLoading.d.ts
  packages/expo-app-loading/build/AppLoading.js.map
  packages/expo-app-loading/build/AppLoading.types.d.ts
  packages/expo-app-loading/build/AppLoading.types.js
  packages/expo-app-loading/build/AppLoading.types.js.map
  packages/expo-app-loading/build/index.d.ts
  packages/expo-app-loading/build/index.js
  packages/expo-app-loading/build/index.js.map
  packages/expo-app-loading/src/AppLoading.tsx
  packages/expo-app-loading/src/AppLoading.types.ts
  packages/expo-app-loading/src/index.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#13337 [docs] improvement and fixes for the APISection component
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.test.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
Labels: bot: suggestions

#13406 [docs] update ESLint and Prettier, reformat files
  docs/components/base/languages/groovy.ts
  docs/components/base/languages/kotlin.ts
  docs/components/base/languages/objectivec.ts
  docs/components/base/languages/ruby.ts
  docs/components/base/languages/swift.ts
  docs/components/page-higher-order/withHeadingManager.tsx
  docs/components/plugins/Headings.tsx
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#13394 [image] Remove dead Android versions checks
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/BorderDrawable.kt
Labels: bot: passed checks

#13408 [ci] Fix sheduled client build
  .github/workflows/client-android.yml
  .github/workflows/client-ios.yml
Labels: bot: passed checks

#13326 [android] SDK 42 Versioned QA
  apps/native-component-list/src/screens/AuthSession/AuthResult.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  apps/native-component-list/src/screens/FacebookAppEventsScreen.tsx
  apps/test-suite/tests/FileSystem.js
Labels: bot: passed checks

#13414 [docs] help users navigate the choices in dev client getting started …
  docs/pages/clients/getting-started.md
Labels: bot: passed checks

#13351 doc: async function returns a Promise
  docs/pages/versions/unversioned/sdk/sqlite.md
  docs/pages/versions/v38.0.0/sdk/sqlite.md
  docs/pages/versions/v39.0.0/sdk/sqlite.md
  docs/pages/versions/v40.0.0/sdk/sqlite.md
  docs/pages/versions/v41.0.0/sdk/sqlite.md
  docs/pages/versions/v42.0.0/sdk/sqlite.md
Labels: bot: passed checks

#13413 [docs] add account member_limit to working together doc
  docs/pages/accounts/working-together.md
Labels: bot: passed checks

#13403 [dev-menu][ios] Don't use the `RCT_DEBUG` flag anymore
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuPackagerConnectionHandler.swift
Labels: bot: passed checks

#13422 [dev-launcher][android] Fix can't reload app from the blue screen
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManager.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
Labels: bot: suggestions

#13423 [dev-launcher][android] Fix `JSPackagerClient` wasn't close properly in RN 0.63.4
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuPackagerCommandHandlersSwapper.kt
Labels: bot: suggestions

#13421 [dev-launcher][ios] Show blue screen only if needed
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherRedBox.m
Labels: bot: suggestions

#13411 [notifications][android] respect shouldPlaySound: false in setNotificationHandler
  docs/pages/versions/unversioned/sdk/notifications.md
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/README.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.java
Labels: bot: passed checks

#13425 [android][segment] update segment proguard
  android/app/proguard-rules.pro
  android/expoview/proguard-rules.pro
Labels: bot: passed checks

#13365 [expo-updates][android] Allow optional 'string:' prefix to runtime
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesConfigurationInstrumentationTest.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.java
Labels: bot: suggestions
