Repository expo/expo, pull requests merged in 2021-01, with the labels that each got.

#6388 [android] Fix Manifest Merger replacing applicationId placeholder
  android/versioned-abis/expoview-abi38_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi39_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi40_0_0/src/main/AndroidManifest.xml
  tools/src/versioning/android/android-copy-unimodule.sh
Labels: Launch-blocking, expotools

#11623 created expo-branch plugin
  packages/expo-branch/CHANGELOG.md
  packages/expo-branch/app.plugin.js
  packages/expo-branch/package.json
  packages/expo-branch/plugin/build/withBranch.d.ts
  packages/expo-branch/plugin/build/withBranch.js
  packages/expo-branch/plugin/build/withBranchAndroid.d.ts
  packages/expo-branch/plugin/build/withBranchAndroid.js
  packages/expo-branch/plugin/build/withBranchIOS.d.ts
  packages/expo-branch/plugin/build/withBranchIOS.js
  packages/expo-branch/plugin/jest.config.js
  packages/expo-branch/plugin/src/__tests__/fixtures/react-native-AndroidManifest.xml
  packages/expo-branch/plugin/src/__tests__/withBranchAndroid-test.ts
  packages/expo-branch/plugin/src/__tests__/withBranchIOS-test.ts
  packages/expo-branch/plugin/src/withBranch.ts
  packages/expo-branch/plugin/src/withBranchAndroid.ts
  packages/expo-branch/plugin/src/withBranchIOS.ts
  packages/expo-branch/plugin/tsconfig.json
  packages/expo-module-scripts/jest-preset-plugin.js
Labels: Branch

#11624 created expo-facebook plugin
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/app.plugin.js
  packages/expo-facebook/package.json
  packages/expo-facebook/plugin/build/withFacebook.d.ts
  packages/expo-facebook/plugin/build/withFacebook.js
  packages/expo-facebook/plugin/build/withFacebookAndroid.d.ts
  packages/expo-facebook/plugin/build/withFacebookAndroid.js
  packages/expo-facebook/plugin/build/withFacebookIOS.d.ts
  packages/expo-facebook/plugin/build/withFacebookIOS.js
  packages/expo-facebook/plugin/jest.config.js
  packages/expo-facebook/plugin/src/__tests__/fixtures/react-native-AndroidManifest.xml
  packages/expo-facebook/plugin/src/__tests__/withFacebookAndroid-test.ts
  packages/expo-facebook/plugin/src/__tests__/withFacebookIOS-test.ts
  packages/expo-facebook/plugin/src/withFacebook.ts
  packages/expo-facebook/plugin/src/withFacebookAndroid.ts
  packages/expo-facebook/plugin/src/withFacebookIOS.ts
  packages/expo-facebook/plugin/tsconfig.json
Labels: Facebook

#11633 created expo-notifications plugin
  package.json
  packages/expo-branch/CHANGELOG.md
  packages/expo-branch/plugin/build/withBranchAndroid.js
  packages/expo-branch/plugin/src/withBranchAndroid.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/app.plugin.js
  packages/expo-notifications/package.json
  packages/expo-notifications/plugin/__mocks__/@expo/image-utils.ts
  packages/expo-notifications/plugin/__mocks__/fs.ts
  packages/expo-notifications/plugin/build/withNotifications.d.ts
  packages/expo-notifications/plugin/build/withNotifications.js
  packages/expo-notifications/plugin/build/withNotificationsAndroid.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/build/withNotificationsIOS.d.ts
  packages/expo-notifications/plugin/build/withNotificationsIOS.js
  packages/expo-notifications/plugin/jest.config.js
  packages/expo-notifications/plugin/src/__tests__/fixtures/icon.png
  packages/expo-notifications/plugin/src/__tests__/withNotificationsAndroid-test.ts
  packages/expo-notifications/plugin/src/withNotifications.ts
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
  packages/expo-notifications/plugin/src/withNotificationsIOS.ts
  packages/expo-notifications/plugin/tsconfig.json
  yarn.lock
Labels: Notifications

#11634 created splash-screen plugin
  packages/expo-splash-screen/app.plugin.js
  packages/expo-splash-screen/plugin/build/withSplashScreen.d.ts
  packages/expo-splash-screen/plugin/build/withSplashScreen.js
  packages/expo-splash-screen/plugin/build/withSplashScreenAndroid.d.ts
  packages/expo-splash-screen/plugin/build/withSplashScreenAndroid.js
  packages/expo-splash-screen/plugin/build/withSplashScreenIOS.d.ts
  packages/expo-splash-screen/plugin/build/withSplashScreenIOS.js
  packages/expo-splash-screen/plugin/jest.config.js
  packages/expo-splash-screen/plugin/src/withSplashScreen.ts
  packages/expo-splash-screen/plugin/src/withSplashScreenAndroid.ts
  packages/expo-splash-screen/plugin/src/withSplashScreenIOS.ts
  packages/expo-splash-screen/plugin/tsconfig.json
Labels: SplashScreen

#11636 created ads-admob plugin
  packages/expo-ads-admob/CHANGELOG.md
  packages/expo-ads-admob/app.plugin.js
  packages/expo-ads-admob/package.json
  packages/expo-ads-admob/plugin/build/withAdMob.d.ts
  packages/expo-ads-admob/plugin/build/withAdMob.js
  packages/expo-ads-admob/plugin/build/withAdMobAndroid.d.ts
  packages/expo-ads-admob/plugin/build/withAdMobAndroid.js
  packages/expo-ads-admob/plugin/build/withAdMobIOS.d.ts
  packages/expo-ads-admob/plugin/build/withAdMobIOS.js
  packages/expo-ads-admob/plugin/jest.config.js
  packages/expo-ads-admob/plugin/src/__tests__/fixtures/react-native-AndroidManifest.xml
  packages/expo-ads-admob/plugin/src/__tests__/withAdMobAndroid-test.ts
  packages/expo-ads-admob/plugin/src/__tests__/withAdMobIOS-test.ts
  packages/expo-ads-admob/plugin/src/withAdMob.ts
  packages/expo-ads-admob/plugin/src/withAdMobAndroid.ts
  packages/expo-ads-admob/plugin/src/withAdMobIOS.ts
  packages/expo-ads-admob/plugin/tsconfig.json
Labels: Admob

#11686 [docs] Auto TypeScript setup
  docs/pages/guides/typescript.md
Labels: docs

#9562 [auth-session] Imgur support
  apps/native-component-list/src/screens/AuthSession/AuthCard.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  docs/pages/guides/authentication.md
  docs/static/images/sdk/auth-session/imgur.png
Labels: AuthSession, enhancement
