Repository expo/expo, pull requests merged in 2021-08, with the labels that each got.

#13838 [Docs] update eas build example config for changes
  docs/pages/clients/eas-build.md
Labels: bot: passed checks

#13865 [dev-menu-interface][ios] Prebuilding prepararion
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-menu-interface/expo-dev-menu-interface.podspec
  packages/expo-dev-menu-interface/ios/DevMenuBridgeProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuDelegateProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuExtensionProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuManagerProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuManagerProviderProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuUIResponderExtensionProtocol.swift
  packages/expo-dev-menu-interface/ios/ExpoApiClient/DevMenuEASUpdates.swift
  packages/expo-dev-menu-interface/ios/ExpoApiClient/DevMenuExpoApiClientProtocol.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuAction.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuDataSource.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuExportedCallable.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuGroup.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuItem.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuItemsContainer.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuItemsContainerProtocol.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuLink.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuScreen.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuScreenItem.swift
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuSelectionList.swift
Labels: bot: passed checks

#13813 [docs] EAS Build - new eas.json format
  docs/pages/app-signing/local-credentials.md
  docs/pages/build-reference/apk.md
  docs/pages/build-reference/build-configuration.md
  docs/pages/build-reference/simulators.md
  docs/pages/build-reference/variables.md
  docs/pages/build/eas-json.md
  docs/pages/build/internal-distribution.md
  docs/pages/build/updates.md
  docs/scripts/schemas/unversioned/eas-json-android-schema.js
  docs/scripts/schemas/unversioned/eas-json-common-schema.js
  docs/scripts/schemas/unversioned/eas-json-ios-schema.js
Labels: bot: passed checks

#13875 [docs] update "Javascript" to "JavaScript"
  docs/pages/guides/using-clojurescript.md
  docs/pages/troubleshooting/react-native-version-mismatch.md
  docs/pages/versions/unversioned/react-native/platformcolor.md
  docs/pages/versions/unversioned/sdk/gl-view.md
  docs/pages/versions/v38.0.0/sdk/gl-view.md
  docs/pages/versions/v39.0.0/react-native/platformcolor.md
  docs/pages/versions/v39.0.0/sdk/gl-view.md
  docs/pages/versions/v40.0.0/react-native/platformcolor.md
  docs/pages/versions/v40.0.0/sdk/gl-view.md
  docs/pages/versions/v41.0.0/react-native/platformcolor.md
  docs/pages/versions/v41.0.0/sdk/gl-view.md
  docs/pages/versions/v42.0.0/react-native/platformcolor.md
  docs/pages/versions/v42.0.0/sdk/gl-view.md
  docs/pages/workflow/already-used-react-native.md
  docs/pages/workflow/debugging.md
Labels: bot: passed checks

#13799 [expo-print][ios] Add markupFormatter printToFile
  packages/expo-print/CHANGELOG.md
  packages/expo-print/build/Print.types.d.ts
  packages/expo-print/build/Print.types.js.map
  packages/expo-print/ios/EXPrint/EXPrint.m
  packages/expo-print/src/Print.types.ts
Labels: bot: suggestions

#13859 [image-picker] Add permission hooks from factory
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ImagePicker.d.ts
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/src/ImagePicker.ts
Labels: bot: passed checks

#13849 [ads-admob] Add permission hook from factory
  packages/expo-ads-admob/CHANGELOG.md
  packages/expo-ads-admob/build/AdMob.d.ts
  packages/expo-ads-admob/build/AdMob.js
  packages/expo-ads-admob/build/AdMob.js.map
  packages/expo-ads-admob/src/AdMob.ts
Labels: bot: passed checks

#13852 [barcode-scanner] Add permissions hook from factory
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.js
  packages/expo-barcode-scanner/build/BarCodeScanner.js.map
  packages/expo-barcode-scanner/src/BarCodeScanner.tsx
Labels: bot: passed checks

#13854 [calendar] Add permission hooks from factory
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
Labels: bot: passed checks

#13860 [location] Add permission hooks from modules factory
  packages/expo-location/CHANGELOG.md
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/src/Location.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/PermissionsHook.d.ts
  packages/expo-modules-core/build/PermissionsHook.js.map
  packages/expo-modules-core/src/PermissionsHook.ts
Labels: bot: passed checks

#13812 [document-picker] add doc comments in source
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/document-picker.md
  docs/public/static/data/unversioned/expo-document-picker.json
  packages/expo-document-picker/build/index.d.ts
  packages/expo-document-picker/build/index.js
  packages/expo-document-picker/build/index.js.map
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/src/index.ts
  packages/expo-document-picker/src/types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13820 [android] Kotlinize kernel services
  android/expoview/src/main/java/host/exp/exponent/kernel/services/BaseKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/BaseKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/ErrorRecoveryManager.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/ErrorRecoveryManager.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/ExpoKernelServiceRegistry.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/ExpoKernelServiceRegistry.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/PermissionsKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/PermissionsKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/linking/LinkingKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/linking/LinkingKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/AccelerometerKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/AccelerometerKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/BarometerKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/BarometerKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/BaseSensorKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/BaseSensorKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/GravitySensorKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/GravitySensorKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/GyroscopeKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/GyroscopeKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/LinearAccelerationSensorKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/LinearAccelerationSensorKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/MagnetometerKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/MagnetometerKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/MagnetometerUncalibratedKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/MagnetometerUncalibratedKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/RotationVectorSensorKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/RotationVectorSensorKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/SensorEventListener.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/SensorEventListener.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/SensorKernelServiceSubscription.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/SensorKernelServiceSubscription.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/SubscribableSensorKernelService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/services/sensors/SubscribableSensorKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/modules/ClearExperienceData.java
Labels: bot: passed checks

#13774 [analytics-amplitude][ncl] Add API tests
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/Amplitude/AmplitudeScreen.tsx
  apps/native-component-list/src/screens/Amplitude/TrackingOptionsSelector.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  packages/expo-analytics-amplitude/CHANGELOG.md
Labels: bot: passed checks

#13850 [ads-facebook] Add permission hook from factory
  packages/expo-ads-facebook/CHANGELOG.md
  packages/expo-ads-facebook/build/AdSettings.d.ts
  packages/expo-ads-facebook/build/AdSettings.js
  packages/expo-ads-facebook/build/AdSettings.js.map
  packages/expo-ads-facebook/src/AdSettings.ts
Labels: bot: passed checks

#13792 [expo-application][android] Rewrite android code to Kotlin
  packages/expo-application/CHANGELOG.md
  packages/expo-application/android/src/main/java/expo/modules/application/ApplicationModule.java
  packages/expo-application/android/src/main/java/expo/modules/application/ApplicationModule.kt
  packages/expo-application/android/src/main/java/expo/modules/application/ApplicationPackage.java
  packages/expo-application/android/src/main/java/expo/modules/application/ApplicationPackage.kt
Labels: bot: suggestions

#13840 [template] Add react-native-safe-area-context to expo-template-bare-minimum
  templates/expo-template-bare-minimum/package.json
Labels: bot: passed checks

#13868 [expo-dev-launcher][android] add more unit tests
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherRecentlyOpenedAppsRegistry.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/DevLauncherRecentlyOpenedAppsRegistryTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/configurators/DevLauncherExpoActivityConfiguratorTest.kt
Labels: bot: suggestions

#13887 [expo-updates] sync changelog with sdk-42 branch
  packages/expo-updates/CHANGELOG.md
Labels: bot: passed checks

#13889 [expo-updates] add change log warning
  packages/expo-updates/CHANGELOG.md
Labels: bot: passed checks

#13851 [av] Add permissions hook from factory
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Audio/Recording.d.ts
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/src/Audio/Recording.ts
Labels: bot: passed checks

#13446 [expo-av] Added ability to disable microphone permission
  packages/expo-av/CHANGELOG.md
  packages/expo-av/plugin/build/withAV.d.ts
  packages/expo-av/plugin/build/withAV.js
  packages/expo-av/plugin/src/withAV.ts
Labels: bot: suggestions

#13891 docs: fix React Navigation integration example for notifications
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/v42.0.0/sdk/notifications.md
Labels: bot: passed checks

#13890 [expo-dev-launcher][ios] add EXDevLauncherURLHelperTests
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherURLHelper.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherManifestParserTests.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
  packages/expo-dev-launcher/ios/Tests/dummy.swift
Labels: bot: suggestions

#13836 [android] Kotlinize ExpoApplication
  android/app/src/test/java/host/exp/exponent/AppLoaderTests.java
  android/app/src/test/java/host/exp/exponent/utils/AppLoaderResults.java
  android/expoview/src/main/java/host/exp/exponent/ABIVersion.java
  android/expoview/src/main/java/host/exp/exponent/ABIVersion.kt
  android/expoview/src/main/java/host/exp/exponent/AppLoader.java
  android/expoview/src/main/java/host/exp/exponent/ExpoApplication.java
  android/expoview/src/main/java/host/exp/exponent/ExpoApplication.kt
  android/expoview/src/main/java/host/exp/exponent/ExpoHandler.java
  android/expoview/src/main/java/host/exp/exponent/ExpoHandler.kt
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.java
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentIntentService.java
  android/expoview/src/main/java/host/exp/exponent/ExponentIntentService.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.java
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentUncaughtExceptionHandler.java
  android/expoview/src/main/java/host/exp/exponent/ExponentUncaughtExceptionHandler.kt
  android/expoview/src/main/java/host/exp/exponent/LauncherActivity.java
  android/expoview/src/main/java/host/exp/exponent/LauncherActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/test/java/host/exp/exponent/ABIVersionTest.java
  android/expoview/src/test/java/host/exp/exponent/ABIVersionTest.kt
Labels: bot: passed checks

#13894 [docs] regenerate API data JSONs
  docs/public/static/data/unversioned/expo-brightness.json
  docs/public/static/data/unversioned/expo-font.json
  docs/public/static/data/unversioned/expo-local-authentication.json
  docs/public/static/data/unversioned/expo-print.json
Labels: bot: passed checks

#13751 [document-picker][android][ios][web] Allow multiple mimetypes and fix bug
  docs/pages/versions/unversioned/sdk/document-picker.md
  docs/public/static/data/unversioned/expo-document-picker.json
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerOptions.kt
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/build/index.js
  packages/expo-document-picker/build/index.js.map
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/ios/EXDocumentPicker/EXDocumentPickerModule.m
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
  packages/expo-document-picker/src/index.ts
  packages/expo-document-picker/src/types.ts
Labels: bot: suggestions

#13898 [screen-orientation][ios] fix building on Xcode 13
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationRegistry.m
Labels: bot: suggestions

#13901 [autolinking] Use NodeJS to resolve autolinking script location & popularise it among other imports
  android/app/build.gradle
  android/expoview/build.gradle
  android/settings.gradle
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/settings.gradle
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-sandbox/android/app/build.gradle
  apps/bare-sandbox/android/settings.gradle
  apps/bare-sandbox/ios/Podfile
  apps/bare-sandbox/ios/Podfile.lock
  docs/pages/bare/installing-updates.md
  docs/pages/guides/setup-native-firebase.md
  docs/public/static/diffs/expo-updates-android.diff
  docs/public/static/diffs/react-native-unimodules-android.diff
  docs/public/static/diffs/react-native-unimodules-ios.diff
  ios/Podfile
  ios/Podfile.lock
  packages/expo-modules-core/README.md
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/settings.gradle
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: suggestions

#13915 [ci][tools] Submit review reports as comments instead of reviews
  tools/src/GitHub.ts
  tools/src/code-review/index.ts
  tools/src/code-review/reports.ts
  tools/src/code-review/types.ts
Labels: bot: passed checks

#13911 [expo-dev-launcher][ios] add EXDevLauncherRecentlyOpenedAppsRegistryTests
  packages/expo-dev-launcher/ios/EXDevLauncherRecentlyOpenedAppsRegistry.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherRecentlyOpenedAppsRegistryTests.swift
Labels: bot: suggestions

#13906 [android] Fix erroneous manifest JSON direct access
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/fcm/ExpoFirebaseMessagingDelegate.java
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.java
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/exponent/notifications/NotificationHelper.java
  android/expoview/src/main/java/host/exp/exponent/notifications/PushNotificationHelper.java
  android/expoview/src/main/java/host/exp/exponent/notifications/ScopedExpoNotificationBuilder.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExperienceDBObject.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentDB.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentDBObject.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/RawManifest.kt
Labels: bot: passed checks

#13801 [expo-updates] store assets with filename = key.fileExtension
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewManifest.kt
  packages/expo-updates/android/src/test/java/expo/modules/updates/UpdatesUtilsTest.java
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAsset.m
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesBareUpdate.m
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.m
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesNewUpdate.m
  packages/expo-updates/ios/Tests/EXUpdatesSelectionPolicyFilterAwareTests.m
  packages/expo-updates/ios/Tests/Tests.m
Labels: bot: passed checks

#13904 [IAP][ios] make optional arguments actually optional
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/build/InAppPurchases.js
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/ios/EXInAppPurchases/EXInAppPurchasesModule.m
  packages/expo-in-app-purchases/src/InAppPurchases.ts
Labels: bot: passed checks

#13819 [docs] runtime version doc page
  docs/constants/navigation.js
  docs/pages/distribution/runtime-versions.md
Labels: bot: passed checks

#13871 [home] Publish to @expo-dogfooding/home on every commit
  .github/workflows/home.yml
  tools/src/ExpoCLI.ts
  tools/src/XDL.ts
  tools/src/commands/PublishDevExpoHomeCommand.ts
  tools/src/commands/PublishDogfoodExpoHomeCommand.ts
  tools/src/typings/AppConfig.ts
Labels: bot: passed checks

#13883 [client] Add dogfood home build option
  .github/workflows/dogfooding-clients.yml
  ios/Exponent/Kernel/Environment/EXBuildConstants.h
  ios/Exponent/Kernel/Environment/EXBuildConstants.m
  tools/src/commands/WorkflowDispatch.ts
  tools/src/dynamic-macros/AndroidMacrosGenerator.ts
  tools/src/dynamic-macros/IosMacrosGenerator.ts
  tools/src/dynamic-macros/macros.ts
Labels: bot: passed checks

#13930 [expo-dev-launcher] Display linking scheme used by app in URL field
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/bundle/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/components/UrlInput.tsx
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
Labels: bot: passed checks

#13832 [docs] Add `fileExtension` to Expo Updates Spec
  docs/pages/technical-specs/expo-updates-0.md
Labels: bot: passed checks

#13935 [autolinking] Fix docs autolinking script location
  docs/public/static/diffs/react-native-unimodules-android.diff
Labels: bot: passed checks

#13939 [docs] fix expo.ios replacements to expo.io
  docs/pages/distribution/turtle-cli.md
  docs/pages/expokit/eject.md
  docs/pages/expokit/universal-modules-and-expokit.md
  docs/pages/guides/authentication.md
  docs/pages/guides/config-plugins.md
  docs/pages/guides/setup-native-firebase.md
  docs/pages/introduction/walkthrough.md
  docs/pages/push-notifications/using-fcm.md
  docs/pages/versions/unversioned/sdk/calendar.md
  docs/pages/versions/unversioned/sdk/google-sign-in.md
  docs/pages/versions/v38.0.0/sdk/google-sign-in.md
  docs/pages/versions/v39.0.0/sdk/google-sign-in.md
  docs/pages/versions/v40.0.0/sdk/google-sign-in.md
  docs/pages/versions/v41.0.0/sdk/calendar.md
  docs/pages/versions/v41.0.0/sdk/google-sign-in.md
  docs/pages/versions/v42.0.0/sdk/calendar.md
  docs/pages/versions/v42.0.0/sdk/google-sign-in.md
  docs/pages/workflow/expo-cli.md
  docs/public/static/images/google-sign-in.md
  docs/scripts/schemas/unversioned/eas-json-ios-schema.js
  docs/scripts/schemas/v36.0.0/app-config-schema.js
  docs/scripts/schemas/v37.0.0/app-config-schema.js
  docs/scripts/schemas/v38.0.0/app-config-schema.js
Labels: bot: passed checks

#13902 [docs] Fix typos in Environment variables and secrets docs
  docs/pages/build-reference/variables.md
Labels: bot: passed checks

#13909 [expo-updates] Fix username not properly supplied to expo-updates plugin
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/package.json
  packages/expo-updates/plugin/build/withUpdates.js
  packages/expo-updates/plugin/src/__tests__/withUpdates-test.ts
  packages/expo-updates/plugin/src/withUpdates.ts
  yarn.lock
Labels: bot: passed checks

#13926 [expo-dev-launcher][expo-updates] fix opening multiple different published apps in dev client
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelperTest.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.h
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherUpdatesHelperTests.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
Labels: bot: passed checks

#13929 [android] Update Gradle to 6.9
  android/gradle/wrapper/gradle-wrapper.properties
  android/versioned-react-native/gradle/wrapper/gradle-wrapper.properties
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-sandbox/android/gradle/wrapper/gradle-wrapper.properties
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.properties
Labels: bot: passed checks

#13892 [autolinking] Add e2e tests
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/e2e/TestUtils.ts
  packages/expo-modules-autolinking/e2e/__tests__/__snapshots__/monorepo-test.ts.snap
  packages/expo-modules-autolinking/e2e/__tests__/monorepo-test.ts
  packages/expo-modules-autolinking/jest.config.js
  packages/expo-modules-autolinking/package.json
  packages/expo-modules-autolinking/src/index.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
  tools/src/Git.ts
  yarn.lock
Labels: bot: passed checks

#13845 [dev-menu] Add basic tests
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-menu-interface/ios/MenuItems/DevMenuAction.swift
  packages/expo-dev-menu/app/components/ListFooter.tsx
  packages/expo-dev-menu/app/screens/DevMenuProfileScreen.tsx
  packages/expo-dev-menu/app/screens/DevMenuSettingsScreen.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/ios/DevMenuExpoApiClient.swift
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/Tests/DevMenuExpoApiClientTests.swift
  packages/expo-dev-menu/ios/Tests/DevMenuSessionTests.swift
  packages/expo-dev-menu/ios/Tests/DevMenuUtilsTests.swift
  packages/expo-dev-menu/ios/Tests/DevMenuVendoredModulesUtilsTests.swift
  packages/expo-dev-menu/ios/UITests/DevMenuLooper.swift
  packages/expo-dev-menu/ios/UITests/DevMenuTestOptions.swift
  packages/expo-dev-menu/ios/UITests/DevMenuTests.swift
  packages/expo-dev-menu/ios/UITests/DevMenuUIMatchers.swift
  packages/expo-dev-menu/ios/UITests/MockedBridges.swift
  packages/expo-dev-menu/ios/UITests/UIView+DevMenuExtension.swift
  packages/expo-dev-menu/ios/UITests/XCTestCase+DevMenuExtension.swift
Labels: bot: suggestions

#13884 [IAP][android] Upgrade Google Play Billing dependency
  apps/native-component-list/src/screens/InAppPurchases/InAppPurchases.tsx
  docs/pages/versions/unversioned/sdk/in-app-purchases.md
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/android/build.gradle
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/BillingManager.java
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.js
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/src/InAppPurchases.ts
Labels: bot: passed checks

#13951 [android] Use autolinking v2 in Expo Go
  android/app/build.gradle
  android/app/src/main/java/host/exp/exponent/MainApplication.java
  android/expoview/build.gradle
  android/settings.gradle
  packages/expo-firebase-analytics/android/build.gradle
  packages/expo-firebase-core/android/build.gradle
  packages/expo-modules-core/android-linker/build.gradle
  packages/expo-modules-core/scripts/autolinking.gradle
  tools/package.json
Labels: bot: suggestions

#13946 [babel-preset-expo] Updated snapshots
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
Labels: bot: passed checks

#13960 [actions] Run dogfooding home kernel publish before building client
  .github/workflows/dogfooding-clients.yml
  ios/Client/EXHomeAppManager.m
  tools/src/commands/PublishDogfoodExpoHomeCommand.ts
Labels: bot: passed checks

#13952 [ios][android] Deprecate react-native-unimodules autolinking
  packages/@unimodules/react-native-adapter/scripts/ios/autolinking_manager.rb
  packages/react-native-unimodules/cocoapods.rb
  packages/react-native-unimodules/gradle.groovy
Labels: bot: suggestions

#13764 [docs] fix constant name
  docs/pages/versions/unversioned/sdk/filesystem.md
  docs/pages/versions/v39.0.0/sdk/filesystem.md
  docs/pages/versions/v40.0.0/sdk/filesystem.md
  docs/pages/versions/v41.0.0/sdk/filesystem.md
  docs/pages/versions/v42.0.0/sdk/filesystem.md
Labels: bot: passed checks

#13973 Fix typo in `android/settings.gradle`
  android/settings.gradle
Labels: bot: passed checks

#13956 [expo-font][android] Rewrite android code to Kotlin
  packages/expo-font/CHANGELOG.md
  packages/expo-font/android/build.gradle
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.java
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.kt
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderPackage.java
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderPackage.kt
Labels: bot: passed checks

#13870 [android] Kotlinize ReactNativeActivity and ExperienceActivity
  android/app/src/main/java/host/exp/exponent/MainActivity.java
  android/app/src/main/java/host/exp/exponent/MainActivity.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentIntentService.kt
  android/expoview/src/main/java/host/exp/exponent/experience/BaseExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/BaseExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/DetachActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/DetachActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/DevBundleDownloadProgressListener.java
  android/expoview/src/main/java/host/exp/exponent/experience/DevBundleDownloadProgressListener.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/TvActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/TvActivity.kt
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.java
  android/expoview/src/main/java/host/exp/exponent/kernel/DevMenuManager.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/expoview/Exponent.java
  android/expoview/src/main/java/host/exp/expoview/Exponent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.java
  android/versioned-abis/expoview-abi39_0_0/src/main/java/abi39_0_0/host/exp/exponent/VersionedUtils.java
  android/versioned-abis/expoview-abi40_0_0/src/main/java/abi40_0_0/host/exp/exponent/VersionedUtils.java
  android/versioned-abis/expoview-abi41_0_0/src/main/java/abi41_0_0/host/exp/exponent/VersionedUtils.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/VersionedUtils.java
Labels: bot: passed checks

#13907 [Docs] add page on custom client workflows
  docs/constants/navigation.js
  docs/pages/clients/development-workflows.md
Labels: bot: passed checks

#13983 [jest-expo-enzyme] Upgrade to unofficial React 17 adapter
  packages/jest-expo-enzyme/build/index.d.ts
  packages/jest-expo-enzyme/build/index.d.ts.map
  packages/jest-expo-enzyme/build/setupEnzyme.native.js
  packages/jest-expo-enzyme/build/setupEnzyme.native.js.map
  packages/jest-expo-enzyme/build/setupEnzyme.web.js
  packages/jest-expo-enzyme/build/setupEnzyme.web.js.map
  packages/jest-expo-enzyme/package.json
  packages/jest-expo-enzyme/src/setupEnzyme.native.ts
  packages/jest-expo-enzyme/src/setupEnzyme.web.ts
  yarn.lock
Labels: bot: passed checks

#13986 [android] Bump android versionCode for a dogfood build
  android/app/build.gradle
Labels: bot: passed checks

#13945 [babel-preset-expo] Added support for jsxRuntime option
  apps/bare-sandbox/.eslintrc.js
  apps/bare-sandbox/App.js
  apps/bare-sandbox/babel.config.js
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
  packages/babel-preset-expo/__tests__/index-test.js
  packages/babel-preset-expo/index.js
Labels: bot: suggestions

#13984 [babel-preset-expo] Overwrite the object rest spread plugin without l…
  packages/babel-preset-expo/index.js
Labels: bot: passed checks

#13959 [expo-go] Fix reading `userInterfaceStyle` on Android if it's in root options
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/raw/RawManifest.kt
Labels: bot: passed checks

#13971 [ios] Use Quick and Nimble instead of XCTest in expo-modules-core
  ios/Nimble.podspec
  ios/Podfile
  ios/Podfile.lock
  ios/Quick.podspec
  packages/expo-modules-core/ios/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/Tests/MethodCallsTests.swift
  packages/expo-modules-core/ios/Tests/MethodSpec.swift
  packages/expo-modules-core/ios/Tests/ModuleEventListenersSpec.swift
  packages/expo-modules-core/ios/Tests/ModuleEventListenersTests.swift
  packages/expo-modules-core/ios/Tests/ModuleRegistrySpec.swift
  packages/expo-modules-core/ios/Tests/ModuleRegistryTests.swift
Labels: bot: suggestions

#13972 [tools] Fix ios versioning after rn 0.64 upgrade
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/transforms/podspecTransforms.ts
  tools/src/versioning/ios/versionReactNative.ts
Labels: bot: passed checks

#13897 [print][ios] Rename markupFormatterIOS to useMarkupFormatter
  docs/public/static/data/unversioned/expo-print.json
  packages/expo-print/CHANGELOG.md
  packages/expo-print/build/Print.js
  packages/expo-print/build/Print.js.map
  packages/expo-print/build/Print.types.d.ts
  packages/expo-print/build/Print.types.js.map
  packages/expo-print/ios/EXPrint/EXPrint.m
  packages/expo-print/src/Print.ts
  packages/expo-print/src/Print.types.ts
Labels: bot: suggestions

#13942 [iap][android] getPurchaseHistoryAsync accepts map of options
  apps/native-component-list/src/screens/InAppPurchases/InAppPurchases.tsx
  docs/pages/versions/unversioned/sdk/in-app-purchases.md
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/InAppPurchasesModule.java
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.js
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/src/InAppPurchases.ts
Labels: bot: suggestions

#13989 [expo-google-sign-in] Created config plugin to disable arm64
  packages/expo-google-sign-in/CHANGELOG.md
  packages/expo-google-sign-in/app.plugin.js
  packages/expo-google-sign-in/plugin/build/withGoogleSignIn.d.ts
  packages/expo-google-sign-in/plugin/build/withGoogleSignIn.js
  packages/expo-google-sign-in/plugin/build/withGoogleSignIn.js.map
  packages/expo-google-sign-in/plugin/src/withGoogleSignIn.ts
  packages/expo-google-sign-in/plugin/tsconfig.json
Labels: bot: passed checks

#13990 [expo-dev-client] fix .npmignore
  packages/expo-dev-client/.npmignore
  packages/expo-dev-client/.tests/instrumented/app/index.js
  packages/expo-dev-client/.tests/instrumented/build.sh
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/src/androidTest/assets/bundled_app.bundle
Labels: bot: suggestions

#13948 Bump babel-plugin-module-resolver@4.1.0
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  packages/babel-preset-expo/package.json
  packages/expo-dev-menu/package.json
  yarn.lock
Labels: bot: suggestions

#13997 [android] Kotlinize ErrorActivity
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/experience/BaseExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorActivity.java
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorConsoleFragment.java
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorConsoleFragment.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorFragment.java
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorFragment.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorQueueAdapter.java
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorQueueAdapter.kt
  android/expoview/src/main/res/layout/simple_spinner_dropdown_item.xml
  android/expoview/src/main/res/layout/simple_spinner_item.xml
Labels: bot: passed checks

#13996 [android][keep-awake] Rewrite android code to Kotlin
  packages/expo-keep-awake/CHANGELOG.md
  packages/expo-keep-awake/android/build.gradle
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/ExpoKeepAwakeManager.java
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/ExpoKeepAwakeManager.kt
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/KeepAwakeModule.java
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/KeepAwakeModule.kt
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/KeepAwakePackage.java
  packages/expo-keep-awake/android/src/main/java/expo/modules/keepawake/KeepAwakePackage.kt
Labels: bot: passed checks

#13914 [android][barcode-scanner] Rewrite barcode scanner to kotlin
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/build.gradle
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerPackage.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerPackage.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerProvider.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerProvider.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewManager.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewManager.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/ExpoBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/ExpoBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ExpoBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ExpoBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/GMVBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/GMVBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ZxingBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ZxingBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/BarCodeScannerListMappers.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/BarCodeScannerResultSerializer.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/BarCodeScannerResultSerializer.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/Frame.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/Frame.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/FrameFactory.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/FrameFactory.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/ImageDimensions.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/ImageDimensions.kt
Labels: bot: passed checks

#14010 [android][sharing] Rewrite module from Java to Kotlin
  packages/expo-sharing/CHANGELOG.md
  packages/expo-sharing/android/build.gradle
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingFileProvider.java
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingFileProvider.kt
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingModule.java
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingModule.kt
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingPackage.java
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingPackage.kt
Labels: bot: passed checks

#14012 [expo] Use jest require actual for jest 26 support
  packages/expo/src/__mocks__/Constants-development.ts
Labels: bot: passed checks

#13993 [android][expo-brightness] Rewrite android code to Kotlin
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/android/build.gradle
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessModule.java
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessModule.kt
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessPackage.java
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessPackage.kt
Labels: bot: passed checks

#13936 [media-library] add doc comments in source, correct types
  docs/components/plugins/APISection.tsx
  docs/pages/versions/unversioned/sdk/media-library.md
  docs/public/static/data/unversioned/expo-media-library.json
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/ExponentMediaLibrary.web.d.ts
  packages/expo-media-library/build/ExponentMediaLibrary.web.js.map
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/ExponentMediaLibrary.web.ts
  packages/expo-media-library/src/MediaLibrary.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13968 [image-manipulator] add doc comments in source
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/pages/versions/unversioned/sdk/imagemanipulator.md
  docs/public/static/data/unversioned/expo-image-manipulator.json
  packages/expo-image-manipulator/build/ImageManipulator.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.js
  packages/expo-image-manipulator/build/ImageManipulator.js.map
  packages/expo-image-manipulator/build/ImageManipulator.types.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.types.js
  packages/expo-image-manipulator/build/ImageManipulator.types.js.map
  packages/expo-image-manipulator/src/ImageManipulator.ts
  packages/expo-image-manipulator/src/ImageManipulator.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#13981 Jonathan/eng 1768 update versioned expo updates config
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/package.json
  packages/expo-updates/plugin/build/withUpdates.js
  packages/expo-updates/plugin/build/withUpdatesAndroid.d.ts
  packages/expo-updates/plugin/build/withUpdatesAndroid.js
  packages/expo-updates/plugin/build/withUpdatesIOS.d.ts
  packages/expo-updates/plugin/build/withUpdatesIOS.js
  packages/expo-updates/plugin/src/__tests__/__snapshots__/withUpdatesAndroid-test.ts.snap
  packages/expo-updates/plugin/src/__tests__/__snapshots__/withUpdatesIOS-test.ts.snap
  packages/expo-updates/plugin/src/__tests__/fixtures/build-with-incorrect-create-manifest-android-path.gradle
  packages/expo-updates/plugin/src/__tests__/fixtures/build-without-create-manifest-android.gradle
  packages/expo-updates/plugin/src/__tests__/fixtures/project-with-incorrect-create-manifest-ios-path.pbxproj
  packages/expo-updates/plugin/src/__tests__/fixtures/project-without-create-manifest-ios.pbxproj
  packages/expo-updates/plugin/src/__tests__/fixtures/react-native-AndroidManifest.xml
  packages/expo-updates/plugin/src/__tests__/withUpdates-test.ts
  packages/expo-updates/plugin/src/__tests__/withUpdatesAndroid-test.ts
  packages/expo-updates/plugin/src/__tests__/withUpdatesIOS-test.ts
  packages/expo-updates/plugin/src/withUpdates.ts
  packages/expo-updates/plugin/src/withUpdatesAndroid.ts
  packages/expo-updates/plugin/src/withUpdatesIOS.ts
Labels: bot: passed checks

#13975 [image-picker][android] Fix background bug
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
Labels: bot: passed checks

#13994 [android][expo-random] Rewrite android code to Kotlin
  packages/expo-random/CHANGELOG.md
  packages/expo-random/android/src/main/java/expo/modules/random/RandomModule.java
  packages/expo-random/android/src/main/java/expo/modules/random/RandomModule.kt
  packages/expo-random/android/src/main/java/expo/modules/random/RandomPackage.java
  packages/expo-random/android/src/main/java/expo/modules/random/RandomPackage.kt
Labels: bot: passed checks

#13998 [image-picker][android] Add missing GPSHPositioningError exif parameter
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerConstants.kt
Labels: bot: suggestions

#13953 [unimodules] Fix `cannot find "unimodules-test-core"`
  packages/@unimodules/core/unimodules-core.gradle
Labels: bot: suggestions

#14037 [ios] Update CocoaPods to 1.10.2
  Gemfile
  Gemfile.lock
  ios/Podfile.lock
Labels: bot: passed checks

#14017 [docs] Clarify the common developmentClient field
  docs/scripts/schemas/unversioned/eas-json-common-schema.js
Labels: bot: passed checks

#14044 [home] hotfix for home app
  home/menu/DevMenuView.tsx
Labels: bot: passed checks

#14013 [tools] Fix android versioning after rn 0.64 upgrade
  tools/src/Packages.ts
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/libraries.ts
  tools/src/versioning/android/versionReactNative.ts
Labels: bot: suggestions

#14040 [expo-modules-core] Fix cycle
  apps/bare-expo/android/.idea/runConfigurations.xml
  packages/expo-modules-core/android-linker/build.gradle
  packages/expo-modules-core/scripts/autolinking.gradle
Labels: bot: suggestions

#14046 [ios][autolinking] Move autolinking scripts from the adapter to expo-modules-core
  apps/bare-expo/ios/Podfile
  apps/bare-sandbox/ios/Podfile
  ios/Podfile
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/cocoapods/target_definition.rb
  packages/expo-modules-autolinking/scripts/ios/cocoapods/user_project_integrator.rb
  packages/expo-modules-autolinking/scripts/ios/constants.rb
  packages/expo-modules-autolinking/scripts/ios/package.rb
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
  packages/expo-modules-core/README.md
  packages/expo-modules-core/scripts/autolinking.rb
  packages/react-native-unimodules/cocoapods.rb
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: suggestions

#13976 [sqlite] add doc comments in source, update types
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/sqlite.md
  docs/public/static/data/unversioned/expo-sqlite.json
  packages/expo-sqlite/build/SQLite.d.ts
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/build/SQLite.types.d.ts
  packages/expo-sqlite/build/SQLite.types.js.map
  packages/expo-sqlite/src/SQLite.ts
  packages/expo-sqlite/src/SQLite.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#14048 [unimodules] Add deprecation notices to CHANGELOGs and READMEs
  packages/@unimodules/core/CHANGELOG.md
  packages/@unimodules/core/README.md
  packages/@unimodules/react-native-adapter/CHANGELOG.md
  packages/@unimodules/react-native-adapter/README.md
  packages/react-native-unimodules/CHANGELOG.md
  packages/react-native-unimodules/README.md
Labels: bot: passed checks

#13961 [IAP][ios] no more extra request on purchaseItemAsync
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/ios/EXInAppPurchases/EXInAppPurchasesModule.m
Labels: bot: passed checks

#13857 [facebook] Add permission hooks from factory
  docs/public/static/data/unversioned/expo-facebook.json
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/build/Facebook.d.ts
  packages/expo-facebook/build/Facebook.js
  packages/expo-facebook/build/Facebook.js.map
  packages/expo-facebook/src/Facebook.ts
Labels: bot: passed checks

#13855 [camera] Add permission hooks from factory
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks

#13864 [tracking-transparency] Add permission hooks from modules factory
  .github/CODEOWNERS
  docs/public/static/data/unversioned/expo-tracking-transparency.json
  packages/expo-tracking-transparency/CHANGELOG.md
  packages/expo-tracking-transparency/build/TrackingTransparency.d.ts
  packages/expo-tracking-transparency/build/TrackingTransparency.js
  packages/expo-tracking-transparency/build/TrackingTransparency.js.map
  packages/expo-tracking-transparency/src/TrackingTransparency.ts
Labels: bot: passed checks

#13863 [notifications] Add permission hooks from modules factory
  packages/expo-modules-core/build/PermissionsHook.d.ts
  packages/expo-modules-core/build/PermissionsHook.js
  packages/expo-modules-core/build/PermissionsHook.js.map
  packages/expo-modules-core/src/PermissionsHook.ts
  packages/expo-modules-core/src/__tests__/PermissionsHook-test.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/NotificationPermissions.d.ts
  packages/expo-notifications/build/NotificationPermissions.js
  packages/expo-notifications/build/NotificationPermissions.js.map
  packages/expo-notifications/build/NotificationPermissions.types.d.ts
  packages/expo-notifications/build/NotificationPermissions.types.js.map
  packages/expo-notifications/src/NotificationPermissions.ts
  packages/expo-notifications/src/NotificationPermissions.types.ts
Labels: bot: suggestions

#14071 [expo] Rebuild permissions hook for new generics
  packages/expo-ads-admob/build/AdMob.d.ts
  packages/expo-ads-facebook/build/AdSettings.d.ts
  packages/expo-av/build/Audio/Recording.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-brightness/build/Brightness.d.ts
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-camera/build/Camera.d.ts
  packages/expo-facebook/build/Facebook.d.ts
  packages/expo-image-picker/build/ImagePicker.d.ts
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/src/ImagePicker.ts
  packages/expo-location/build/Location.d.ts
  packages/expo-tracking-transparency/build/TrackingTransparency.d.ts
Labels: bot: suggestions

#14072 [home] Update expo.io -> expo.dev for login auth session
  home/api/Config.ts
Labels: bot: passed checks

#14075 [chore] optimize and move Readme image
  .github/resources/banner.png
  README.md
  style/banner.png
Labels: bot: passed checks

#14069 [docs][tools] update TypeDoc, APISection components simplification
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-app-loading.json
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/unversioned/expo-checkbox.json
  docs/public/static/data/unversioned/expo-clipboard.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-pedometer.json
  docs/public/static/data/unversioned/expo-print.json
  docs/public/static/data/unversioned/expo-screen-capture.json
  docs/public/static/data/unversioned/expo-speech.json
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/unversioned/expo-task-manager.json
  tools/package.json
  tools/src/commands/GenerateDocsAPIData.ts
  tools/yarn.lock
Labels: bot: passed checks

#14066 [dev-menu][android] Fix `Only fullscreen opaque activities can request orientation`
  packages/expo-dev-menu/android/src/main/AndroidManifest.xml
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuActivity.kt
Labels: bot: suggestions

#14026 [dev-launcher][ios] Fix crashes when app does not have custom scheme
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
Labels: bot: suggestions

#14025 [dev-menu][ios] Add test interceptor
  packages/expo-dev-menu/ios/DevMenuSettings.swift
  packages/expo-dev-menu/ios/DevMenuTestInterceptor.swift
Labels: bot: suggestions

#14082 [autolinking][android] Move autolinking.gradle to `expo-modules-autolinking`
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-core/scripts/autolinking.gradle
Labels: bot: suggestions

#14068 [image-picker][ios] Add possibility to choose presentation style
  docs/pages/versions/unversioned/sdk/imagepicker.md
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.js
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/EXImagePicker/EXImagePicker.m
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#14047 [constants] Fix build phase error in xcode for nodejs possibly not found in nvm
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/ios/EXConstants.podspec
Labels: bot: passed checks

#14062 [docs] remove domain transition code from deploy script
  docs/deploy.sh
  docs/next.config.js
  docs/public/docs.expo.io-robots.txt
  docs/public/robots.txt
Labels: bot: passed checks

#13862 [media-library] Add permission hooks from modules factory
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks

#14000 [android] Kotlinize headless and detached app stuff
  android/expoview/src/main/java/host/exp/exponent/experience/DetachedModuleRegistryAdapter.java
  android/expoview/src/main/java/host/exp/exponent/experience/DetachedModuleRegistryAdapter.kt
  android/expoview/src/main/java/host/exp/exponent/headless/HeadlessAppRecord.java
  android/expoview/src/main/java/host/exp/exponent/headless/HeadlessAppRecord.kt
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.java
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/taskManager/AppLoaderInterface.java
  android/expoview/src/main/java/host/exp/exponent/taskManager/AppLoaderInterface.kt
  android/expoview/src/main/java/host/exp/exponent/taskManager/AppRecordInterface.java
  android/expoview/src/main/java/host/exp/exponent/taskManager/AppRecordInterface.kt
  android/expoview/src/main/java/host/exp/exponent/taskManager/ExpoHeadlessAppLoader.java
  android/expoview/src/main/java/host/exp/exponent/taskManager/ExpoHeadlessAppLoader.kt
Labels: bot: passed checks

#14051 [expo] Send device platform back to CLI
  packages/expo/build/logs/RemoteLogging.js
  packages/expo/build/logs/RemoteLogging.js.map
  packages/expo/src/logs/RemoteLogging.ts
  packages/expo/src/logs/__tests__/__snapshots__/RemoteLogging-test.native.ts.snap.android
  packages/expo/src/logs/__tests__/__snapshots__/RemoteLogging-test.native.ts.snap.ios
Labels: bot: suggestions

#14063 [splash-screen] monitor rootViewController re-show splash if needed
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenViewController.h
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenViewController.m
Labels: bot: passed checks

#14034 [ios] fix autolink error from pod install
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-sandbox/ios/Podfile
  docs/pages/guides/setup-native-firebase.md
  docs/public/static/diffs/react-native-unimodules-ios.diff
  ios/Podfile
  ios/Podfile.lock
  packages/expo-modules-core/README.md
  packages/expo-modules-core/scripts/autolinking.rb
  packages/react-native-unimodules/cocoapods.rb
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: suggestions

#14064 [dev-client][android] Fix compatibility with RN 0.65
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParser.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-launcher/android/src/react-native-64/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManager.kt
  packages/expo-dev-launcher/android/src/react-native-65/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/api/DevMenuExpoApiClient.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/helpers/DevMenuOkHttpExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
Labels: bot: suggestions

#13319 [file-system][android] Make network task cancelable
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/CountingRequestBody.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.java
Labels: bot: suggestions

#13318 [file-system][js] Make network task cancelable
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/build/FileSystem.types.d.ts
  packages/expo-file-system/build/FileSystem.types.js.map
  packages/expo-file-system/src/FileSystem.ts
  packages/expo-file-system/src/FileSystem.types.ts
Labels: bot: suggestions

#14079 [apps] Replace `@unimodules/*` imports with `expo-modules-core`
  apps/bare-sandbox/package.json
  apps/native-component-list/src/screens/AppleAuthenticationScreen.tsx
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/GL/PIXISpriteScreen.tsx
  apps/native-component-list/src/screens/NotificationScreen.tsx
  apps/native-component-list/src/screens/PickerScreen.tsx
  apps/native-component-list/src/screens/ScreenOrientationScreen.tsx
  apps/native-component-list/src/screens/SensorScreen.tsx
  apps/native-component-list/src/screens/SwitchScreen.tsx
  apps/native-component-list/src/screens/ViewShotScreen.tsx
  apps/test-suite/TestModules.js
  apps/test-suite/TestUtils.js
  apps/test-suite/tests/Battery.js
  apps/test-suite/tests/Calendar.js
  apps/test-suite/tests/CalendarReminders.js
  apps/test-suite/tests/Contacts.web.js
  apps/test-suite/tests/Facebook.js
  apps/test-suite/tests/FileSystem.js
  apps/test-suite/tests/GLView.js
  apps/test-suite/tests/GoogleSignIn.js
  apps/test-suite/tests/Notifications.js
  apps/test-suite/tests/SQLite.js
  apps/test-suite/utils/Environment.js
  packages/expo/src/__tests__/Expo-test.native.ts
Labels: bot: passed checks

#14016 [test-suite] persist selected tests when returning to SelectScreen
  apps/test-suite/screens/SelectScreen.js
Labels: bot: passed checks

#14087 [expo] Added web side effect for __fbBatchedBridgeConfig
  packages/expo/build/Expo.fx.web.js
  packages/expo/build/Expo.fx.web.js.map
  packages/expo/src/Expo.fx.web.ts
  packages/expo/src/__tests__/__fbBatchedBridgeConfig-test.ts
Labels: bot: passed checks

#14102 [expotools] upgrade typescript to v4.3.5
  tools/package.json
  tools/src/Markdown.ts
  tools/src/S3.ts
  tools/src/Utils.ts
  tools/src/vendoring/devmenu/steps/Task.ts
  tools/src/vendoring/legacy.ts
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/versionExpoModules.ts
  tools/yarn.lock
Labels: bot: passed checks

#14100 [splash-screen] Fix exception from rootViewController KVO
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: suggestions

#14009 [swift] Automatically convert dictionaries to structs (records)
  packages/expo-modules-core/ios/Swift/Convertibles/ConvertibleFromDictionary.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/Records/AnyField.swift
  packages/expo-modules-core/ios/Swift/Records/Field.swift
  packages/expo-modules-core/ios/Swift/Records/FieldExtensions.swift
  packages/expo-modules-core/ios/Swift/Records/FieldOption.swift
  packages/expo-modules-core/ios/Swift/Records/Record.swift
  packages/expo-modules-core/ios/Tests/MethodSpec.swift
  packages/expo-modules-core/ios/Tests/RecordSpec.swift
Labels: bot: suggestions

#14065 [dev-launcher][plugin] Fix config plugin is not idempotent
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
Labels: bot: suggestions

#14112 [blur] web: fix bug with too high `intensity`, update tint colors
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/build/getBackgroundColor.js
  packages/expo-blur/build/getBackgroundColor.js.map
  packages/expo-blur/src/BlurView.web.tsx
  packages/expo-blur/src/__tests__/BlurView-test.web.tsx
  packages/expo-blur/src/getBackgroundColor.ts
Labels: bot: passed checks

#14111 [autolinking] Fix circular dependency
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-core/android-linker/build.gradle
Labels: bot: suggestions

#14110 [docs] update `BlurView` example
  docs/pages/versions/unversioned/sdk/blur-view.md
  docs/pages/versions/v42.0.0/sdk/blur-view.md
Labels: bot: passed checks

#14056 [web][image-manipulator] Fix handling of multiple actions
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js.map
  packages/expo-image-manipulator/src/ExpoImageManipulator.web.ts
Labels: bot: passed checks

#14070 [intent-launcher] add doc comments in source, introduce `ActivityAction`
  apps/native-component-list/src/screens/IntentLauncherScreen.tsx
  docs/pages/versions/unversioned/sdk/intent-launcher.md
  docs/public/static/data/unversioned/expo-intent-launcher.json
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-intent-launcher/build/IntentLauncher.d.ts
  packages/expo-intent-launcher/build/IntentLauncher.js
  packages/expo-intent-launcher/build/IntentLauncher.js.map
  packages/expo-intent-launcher/src/IntentLauncher.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#14014 [android] Kotlinize various util and other classes
  android/app/src/androidTest/java/host/exp/exponent/utils/TestNativeModuleServer.java
  android/app/src/androidTest/java/host/exp/exponent/utils/TestNativeModuleServer.kt
  android/expoview/src/main/java/host/exp/exponent/ActivityResultListener.java
  android/expoview/src/main/java/host/exp/exponent/ActivityResultListener.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentIntentService.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  android/expoview/src/main/java/host/exp/exponent/analytics/Analytics.java
  android/expoview/src/main/java/host/exp/exponent/analytics/Analytics.kt
  android/expoview/src/main/java/host/exp/exponent/analytics/EXL.java
  android/expoview/src/main/java/host/exp/exponent/analytics/EXL.kt
  android/expoview/src/main/java/host/exp/exponent/branch/BranchManager.java
  android/expoview/src/main/java/host/exp/exponent/branch/BranchManager.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorFragment.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/network/ExponentHttpClient.kt
  android/expoview/src/main/java/host/exp/exponent/referrer/InstallReferrerReceiver.java
  android/expoview/src/main/java/host/exp/exponent/referrer/InstallReferrerReceiver.kt
  android/expoview/src/main/java/host/exp/exponent/test/TestActionEvent.java
  android/expoview/src/main/java/host/exp/exponent/test/TestActionEvent.kt
  android/expoview/src/main/java/host/exp/exponent/test/TestCompletedEvent.java
  android/expoview/src/main/java/host/exp/exponent/test/TestCompletedEvent.kt
  android/expoview/src/main/java/host/exp/exponent/test/TestResolvePromiseEvent.java
  android/expoview/src/main/java/host/exp/exponent/test/TestResolvePromiseEvent.kt
  android/expoview/src/main/java/host/exp/exponent/views/ExponentImageButton.java
  android/expoview/src/main/java/host/exp/exponent/views/ExponentImageButton.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/test/ExponentTestNativeModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/test/ExponentTestNativeModule.kt
  android/versioned-abis/expoview-abi39_0_0/src/main/java/abi39_0_0/host/exp/exponent/modules/test/ExponentTestNativeModule.java
  android/versioned-abis/expoview-abi40_0_0/src/main/java/abi40_0_0/host/exp/exponent/modules/test/ExponentTestNativeModule.java
  android/versioned-abis/expoview-abi41_0_0/src/main/java/abi41_0_0/host/exp/exponent/modules/test/ExponentTestNativeModule.java
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/test/ExponentTestNativeModule.java
Labels: bot: suggestions

#14018 [android] Kotlinize storage
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/fcm/FcmRegistrationIntentService.java
  android/expoview/src/main/java/host/exp/exponent/kernel/DevMenuManager.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/exponent/modules/ExponentKernelModule.java
  android/expoview/src/main/java/host/exp/exponent/network/ExponentNetwork.kt
  android/expoview/src/main/java/host/exp/exponent/notifications/ExponentNotificationIntentService.java
  android/expoview/src/main/java/host/exp/exponent/notifications/NotificationHelper.java
  android/expoview/src/main/java/host/exp/exponent/referrer/InstallReferrerReceiver.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExperienceDBObject.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExperienceDBObject.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentDB.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentDB.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentInstallationId.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentInstallationId.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentSharedPreferences.java
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentSharedPreferences.kt
  android/versioned-abis/expoview-abi39_0_0/build.gradle
  android/versioned-abis/expoview-abi40_0_0/build.gradle
  android/versioned-abis/expoview-abi41_0_0/build.gradle
  android/versioned-abis/expoview-abi42_0_0/build.gradle
Labels: bot: passed checks

#14121 [android] Fix build packages
  android/settings.gradle
  tools/src/commands/AndroidBuildPackages.ts
Labels: bot: passed checks

#14091 [android] Remove old manifest and bundle loading code
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  android/expoview/src/main/java/host/exp/exponent/di/NativeModuleDepsProvider.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Crypto.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/ExponentUrls.kt
  android/expoview/src/main/java/host/exp/exponent/network/ExponentHttpClient.kt
  android/expoview/src/main/java/host/exp/exponent/referrer/InstallReferrerReceiver.kt
  android/expoview/src/main/java/host/exp/expoview/Exponent.kt
Labels: bot: passed checks

#14122 [autolinking][android] Fix `org.unimodules.BasePackage` cannot be cast to `Package`
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/e2e/TestUtils.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
Labels: bot: passed checks

#14120 [docs] regenerate API data, mark two types as non-linkable
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-app-loading.json
  docs/public/static/data/unversioned/expo-brightness.json
  docs/public/static/data/unversioned/expo-error-recovery.json
  docs/public/static/data/unversioned/expo-facebook.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-tracking-transparency.json
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/build/Brightness.d.ts
  packages/expo-brightness/build/Brightness.js
  packages/expo-brightness/build/Brightness.js.map
  packages/expo-brightness/src/Brightness.ts
Labels: bot: passed checks

#13918 [tools] versioning libhermes.so soname for android
  tools/README.md
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/versionReactNative.ts
Labels: bot: passed checks

#14139 Enable CoreSimulator module by default for dog fooding
  .envrc
Labels: bot: passed checks

#14130 [modules-core] Fix `-[RCTModuleRegistry getAllExportedModules]: unrecognized selector`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Services/EXReactNativeEventEmitter.m
Labels: bot: passed checks

#14138 [web][camera]: Fix QRcode scanning by updating @koale/useworker
  docs/pages/versions/unversioned/sdk/bar-code-scanner.md
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/package.json
Labels: bot: passed checks

#14038 [image-picker][android] Add missing exif data to cropped image
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerConstants.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/tasks/ImageResultTask.kt
Labels: bot: suggestions

#14085 [go] Add warning for unsupported classic update runtime version
  home/components/ListItem.tsx
  home/components/ProjectView.tsx
  home/containers/Project.tsx
  home/graphql/queries/ProjectQuery.query.generated.ts
  home/graphql/queries/ProjectQuery.query.graphql
  home/graphql/types.ts
Labels: bot: passed checks

#14150 [screen-orientation] add doc comments in source
  docs/pages/versions/unversioned/sdk/screen-orientation.md
  docs/public/static/data/unversioned/expo-screen-orientation.json
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/build/ScreenOrientation.d.ts
  packages/expo-screen-orientation/build/ScreenOrientation.js
  packages/expo-screen-orientation/build/ScreenOrientation.js.map
  packages/expo-screen-orientation/build/ScreenOrientation.types.d.ts
  packages/expo-screen-orientation/build/ScreenOrientation.types.js
  packages/expo-screen-orientation/build/ScreenOrientation.types.js.map
  packages/expo-screen-orientation/src/ScreenOrientation.ts
  packages/expo-screen-orientation/src/ScreenOrientation.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#14151 [github] add Discord link to the issue form
  .github/ISSUE_TEMPLATE/config.yml
Labels: bot: passed checks

#14153 [babel-preset] add missing plugin dependency
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
  packages/babel-preset-expo/package.json
  yarn.lock
Labels: bot: passed checks

#14133 [image][android] Add prop - fadeDuration
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.kt
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.js.map
  packages/expo-image/src/Image.tsx
Labels: Image, bot: passed checks

#14132 [ios][core] Automatically register expo modules
  apps/bare-expo/ios/BareExpo/AppDelegate.swift
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/ModuleRegistry/EXModuleRegistry.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXViewManagerAdapterClassesRegistry.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXViewManagerAdapterClassesRegistry.m
  packages/expo-modules-core/ios/ModuleRegistryProvider/EXModuleRegistryProvider.h
  packages/expo-modules-core/ios/ModuleRegistryProvider/EXModuleRegistryProvider.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  packages/expo-modules-core/ios/Services/EXReactNativeAdapter.h
  packages/expo-modules-core/ios/Services/EXReactNativeAdapter.m
  packages/expo-modules-core/ios/Services/EXReactNativeEventEmitter.m
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
  packages/expo-modules-core/ios/ViewManagerAdapter/EXViewManagerAdapter.h
  packages/expo-modules-core/ios/ViewManagerAdapter/EXViewManagerAdapter.m
  packages/expo-modules-core/react-native.config.js
Labels: bot: passed checks

#14131 [image][android] Add prop - blurRadius
  packages/expo-image/android/build.gradle
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.kt
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.js.map
  packages/expo-image/src/Image.tsx
Labels: bot: passed checks

#14160 [android] Fix RNObject method call argument unboxed comparison
  android/expoview/src/main/java/host/exp/exponent/RNObject.kt
Labels: bot: passed checks

#14142 Move background location to the expo-location package
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/plugin/build/withBackgroundFetch.js
  packages/expo-background-fetch/plugin/src/withBackgroundFetch.ts
  packages/expo-location/CHANGELOG.md
  packages/expo-location/plugin/build/withLocation.d.ts
  packages/expo-location/plugin/build/withLocation.js
  packages/expo-location/plugin/src/withLocation.ts
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/plugin/build/withTaskManager.js
  packages/expo-task-manager/plugin/src/withTaskManager.ts
Labels: bot: passed checks

#13616 [expo-random] fallback to Math.random during development
  packages/expo-random/CHANGELOG.md
  packages/expo-random/build/Random.d.ts
  packages/expo-random/build/Random.js
  packages/expo-random/build/Random.js.map
  packages/expo-random/src/Random.ts
  packages/expo-random/src/ts-declarations/global.d.ts
Labels: bot: passed checks

#14105 [firebase-analytics] Update TS typings to allow null user property values
  packages/expo-firebase-analytics/CHANGELOG.md
  packages/expo-firebase-analytics/build/Analytics.d.ts
  packages/expo-firebase-analytics/build/Analytics.js.map
  packages/expo-firebase-analytics/src/Analytics.ts
Labels: bot: passed checks

#14158 [core-modules] Fix inline node scripts in readme
  packages/expo-modules-core/README.md
Labels: bot: suggestions

#13730 [docs] Add auto-generating permission tables for android and ios
  docs/components/Permalink.tsx
  docs/components/base/paragraph.tsx
  docs/components/icons/QuestionIcon.tsx
  docs/components/plugins/permissions/AndroidPermissions.tsx
  docs/components/plugins/permissions/IOSPermissions.tsx
  docs/components/plugins/permissions/data/android.json
  docs/components/plugins/permissions/data/index.ts
  docs/components/plugins/permissions/data/ios.json
  docs/components/plugins/permissions/index.ts
Labels: bot: passed checks

#14163 [template] React Native Image gif and webp support
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/gradle.properties
Labels: bot: passed checks
