Repository expo/expo, pull requests merged in 2021-09, with the labels that each got.

#14237 [android][expo-manifests] Audit usage of getSDKVersion to ensure lack of requirement
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/fcm/ExpoFirebaseMessagingDelegate.kt
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ScopedErrorRecoveryModule.kt
  android/versioned-abis/expoview-abi39_0_0/src/main/java/abi39_0_0/host/exp/exponent/modules/universal/ScopedErrorRecoveryModule.kt
  android/versioned-abis/expoview-abi40_0_0/src/main/java/abi40_0_0/host/exp/exponent/modules/universal/ScopedErrorRecoveryModule.kt
  android/versioned-abis/expoview-abi41_0_0/src/main/java/abi41_0_0/host/exp/exponent/modules/universal/ScopedErrorRecoveryModule.kt
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/host/exp/exponent/modules/universal/ScopedErrorRecoveryModule.kt
  packages/expo-manifests/android/src/androidTest/java/expo/modules/manifests/core/NewManifestTest.kt
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/BaseLegacyManifest.kt
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/NewManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
Labels: bot: suggestions

#14222 [android][kernel] Fix ReactNativeStaticHelpers.getBundleUrlForActivityId argument order
  android/ReactAndroid/src/main/java/com/facebook/react/devsupport/DevServerHelper.java
  android/expoview/src/main/java/host/exp/exponent/ReactNativeStaticHelpers.kt
  android/tools/src/main/java/host/exp/exponent/tools/ReactAndroidCodeTransformer.java
Labels: bot: passed checks

#14242 [linking] Fix naming for ensure slash methods
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/src/Linking.ts
Labels: bot: suggestions

#14245 [shared-element] Update react-native-shared-element to 0.8.2
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementContent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementDrawable.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementNode.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementNodeManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementStyle.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementTransition.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementTransitionItem.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementTransitionManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/sharedelement/RNSharedElementView.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/SharedElementScreen.tsx
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Components/SharedElement/RNSharedElementNode.m
  ios/Exponent/Versioned/Core/Api/Components/SharedElement/RNSharedElementStyle.m
  ios/Exponent/Versioned/Core/Api/Components/SharedElement/RNSharedElementTransition.h
  ios/Exponent/Versioned/Core/Api/Components/SharedElement/RNSharedElementTransition.m
  ios/Exponent/Versioned/Core/Api/Components/SharedElement/RNSharedElementTransitionItem.h
  ios/Exponent/Versioned/Core/Api/Components/SharedElement/RNSharedElementTransitionManager.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#14259 [firebase] Update firebase-js-sdk to 8.10.0
  CHANGELOG.md
  apps/test-suite/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#14104 [picker][android] multiline support for RNPicker
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  android/expoview/src/main/res/layout/simple_spinner_dropdown_item.xml
  android/expoview/src/main/res/layout/simple_spinner_item.xml
  apps/native-component-list/src/screens/PickerScreen.tsx
Labels: bot: passed checks

#14251 [expo-dev-launcher] fix RN version checker in build.gradle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
Labels: bot: passed checks

#14195 [expo-dev-launcher] add manifestURL to exported constants for snack
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherControllerInterface.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/modules/DevLauncherModuleTest.kt
  packages/expo-dev-launcher/ios/EXDevLauncher.m
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherModuleTests.m
Labels: bot: suggestions

#14196 [expo-dev-launcher][expo-dev-menu] add flag to disable dev menu auto-launch
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/DevLauncherControllerTest.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuManagerInterface.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/UITests/DevMenuTests.swift
Labels: bot: passed checks

#14204 Fix Cmd+D opening both Dev Menu and React Native Debug Menu
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: passed checks

#14266 Fix React Native key commands getting disabled after dev menu is shown
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuRootView.m
Labels: bot: passed checks

#14253 [video-thumbnails] Fix thumbnail generator tolerances to 0
  packages/expo-video-thumbnails/CHANGELOG.md
  packages/expo-video-thumbnails/ios/EXVideoThumbnails/EXVideoThumbnailsModule.m
Labels: bot: passed checks

#14273 [expo-manifests][android] Move factory into package
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentDB.kt
  android/expoview/src/main/java/host/exp/exponent/utils/ToastHelper.kt
  ios/Client/EXHomeAppManager.m
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  ios/Exponent/Kernel/AppLoader/EXAppLoader.m
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsManifestFactory.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsManifestFactory.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesUpdate.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXUpdates/ABI40_0_0EXUpdates/Update/ABI40_0_0EXUpdatesUpdate.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsManifestFactory.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsManifestFactory.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesUpdate.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXUpdates/ABI41_0_0EXUpdates/Update/ABI41_0_0EXUpdatesUpdate.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsManifestFactory.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsManifestFactory.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/ABI42_0_0EXUpdatesUpdate.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXUpdates/ABI42_0_0EXUpdates/Update/ABI42_0_0EXUpdatesUpdate.m
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/ios/EXManifests/EXManifestsManifestFactory.h
  packages/expo-manifests/ios/EXManifests/EXManifestsManifestFactory.m
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestFactory.kt
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesUpdate.h
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesUpdate.m
Labels: bot: suggestions

#14272 [android] Use JSONObjectUtils in client code
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/experience/splashscreen/ManagedAppSplashScreenConfiguration.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/services/PermissionsKernelService.kt
  android/expoview/src/main/java/host/exp/exponent/notifications/ExponentNotification.kt
  android/expoview/src/main/java/host/exp/exponent/notifications/ExponentNotificationManager.kt
  android/expoview/src/main/java/host/exp/exponent/notifications/NotificationHelper.kt
  android/expoview/src/main/java/host/exp/exponent/notifications/PushNotificationHelper.kt
  android/expoview/src/main/java/host/exp/exponent/utils/ExperienceActivityUtils.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
Labels: bot: suggestions

#14288 [android] Fix build
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/expo/modules/updates/UpdatesDevLauncherController.java
Labels: bot: passed checks

#14276 [expo-modules-core] Fix redbox error for "Unable to find module for UMReactNativeEventEmitter"
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeModulesProxy.native.js
  packages/expo-modules-core/build/NativeModulesProxy.native.js.map
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  packages/expo-modules-core/ios/Services/EXReactNativeEventEmitter.m
  packages/expo-modules-core/src/NativeModulesProxy.native.ts
Labels: bot: passed checks

#14281 [android][location] getCurrentPositionAsync issue fix
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
Labels: bot: passed checks

#14027 [dev-client] Add detox e2e tests
  .github/workflows/development-client-e2e.yml
  .github/workflows/development-client.yml
  packages/expo-dev-client/.detoxrc.json
  packages/expo-dev-client/e2e/DevLauncher.e2e.ts
  packages/expo-dev-client/e2e/android/DetoxTest.java
  packages/expo-dev-client/e2e/android/MainActivity.java
  packages/expo-dev-client/e2e/android/MainApplication.java
  packages/expo-dev-client/e2e/app/App.tsx
  packages/expo-dev-client/e2e/config.json
  packages/expo-dev-client/e2e/environments.js
  packages/expo-dev-client/e2e/ios/AppDelegate.m
  packages/expo-dev-client/package.json
  packages/expo-dev-client/test-runner.config.js
  yarn.lock
Labels: bot: suggestions

#14262 [docs] Update null typing for FirebaseAnalytics.setUserProperties
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js.map
  packages/expo-firebase-analytics/src/ExpoFirebaseAnalytics.ts
Labels: bot: suggestions

#14300 [expo-local-authentication][Android] Detect samsung face recognition
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
Labels: bot: passed checks

#14298 [ci] reduce android testing time by building x86_64 only
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/test-suite.yml
  apps/bare-expo/android/app/build.gradle
Labels: bot: passed checks

#14299 [expo-gl-cpp] disable VAO extension
  packages/expo-gl-cpp/android/dist/arm64-v8a/libexpo-gl.so
  packages/expo-gl-cpp/android/dist/armeabi-v7a/libexpo-gl.so
  packages/expo-gl-cpp/android/dist/x86/libexpo-gl.so
  packages/expo-gl-cpp/android/dist/x86_64/libexpo-gl.so
  packages/expo-gl-cpp/cpp/EXGLContext.cpp
  packages/expo-gl/CHANGELOG.md
Labels: bot: passed checks

#14313 [core] Add missing imports to iOS frameworks
  packages/expo-modules-core/ios/Swift/CodedError.swift
  packages/expo-modules-core/ios/Swift/Methods/AnyMethod.swift
  packages/expo-modules-core/ios/Swift/Methods/ConcreteMethod.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/Views/AnyViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ConcreteViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ViewFactory.swift
  packages/expo-modules-core/ios/Swift/Views/ViewManagerDefinition.swift
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
Labels: bot: suggestions

#14134 [ios][audio] Add audio metadata (title) updates
  apps/native-component-list/src/screens/AV/AudioPlayer.tsx
  apps/native-component-list/src/screens/AV/Player.tsx
  docs/pages/versions/unversioned/sdk/audio.md
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/AV.d.ts
  packages/expo-av/build/AV.js.map
  packages/expo-av/build/Audio/Sound.d.ts
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/build/index.d.ts
  packages/expo-av/build/index.js.map
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAVPlayerData.h
  packages/expo-av/ios/EXAV/EXAVPlayerData.m
  packages/expo-av/src/AV.ts
  packages/expo-av/src/Audio/Sound.ts
  packages/expo-av/src/index.ts
Labels: bot: passed checks

#14302 [firebase-analytics] update doc comments, extract API data
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/public/static/data/unversioned/expo-firebase-analytics.json
  packages/expo-firebase-analytics/build/Analytics.d.ts
  packages/expo-firebase-analytics/build/Analytics.js
  packages/expo-firebase-analytics/build/Analytics.js.map
  packages/expo-firebase-analytics/src/Analytics.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#14305 [docs] add support for tables in `APISection` comments
  docs/components/base/paragraph.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/package.json
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/yarn.lock
  packages/expo-apple-authentication/build/AppleAuthentication.types.d.ts
  packages/expo-apple-authentication/build/AppleAuthentication.types.js
  packages/expo-apple-authentication/build/AppleAuthentication.types.js.map
  packages/expo-apple-authentication/src/AppleAuthentication.types.ts
Labels: bot: suggestions

#14318 [auto-linking] Parameters audit
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks

#14173 [media][ios] remove `assets-library://` usage in favour of `ph://`
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
Labels: bot: passed checks

#14322 [et] Fix `remove-sdk-version` (can't find TestSuiteTests.java)
  tools/src/versioning/android/index.ts
Labels: bot: passed checks

#14287 [expo-manifests] Support exposdk:UNVERSIONED runtimeVersion
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Podfile.lock
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsNewManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsNewManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsNewManifest.m
  packages/expo-manifests/android/src/androidTest/java/expo/modules/manifests/core/NewManifestTest.kt
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/NewManifest.kt
  packages/expo-manifests/ios/EXManifests/EXManifestsNewManifest.m
  packages/expo-manifests/ios/Tests/EXManifestsNewManifestTests.m
Labels: bot: suggestions

#14217 [in-app-purchases] add doc comments in source
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/in-app-purchases.md
  docs/public/static/data/unversioned/expo-in-app-purchases.json
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.js
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.types.js
  packages/expo-in-app-purchases/build/InAppPurchases.types.js.map
  packages/expo-in-app-purchases/src/InAppPurchases.ts
  packages/expo-in-app-purchases/src/InAppPurchases.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#14319 [docs] bump Puppeteer, update test-links script
  docs/package.json
  docs/scripts/test-links.js
  docs/yarn.lock
Labels: bot: passed checks

#14267 [slider] upgrade react-native-slider to v4.1.4
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSlider.h
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSlider.m
  ios/Exponent/Versioned/Core/Api/Components/Slider/RNCSliderManager.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#14264 [picker] upgrade react-native-picker to v1.16.7
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/PickerBlurEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/PickerFocusEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPicker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  android/expoview/src/main/res/drawable/ic_dropdown.xml
  android/expoview/src/main/res/drawable/spinner_dropdown_background.xml
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#14271 [mask-view] upgrade masked view to v0.2.5
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maskedview/RNCMaskedView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maskedview/RNCMaskedViewManager.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#14324 [ci] reduce android unit test time
  .github/workflows/android-unit-tests.yml
  tools/src/commands/AndroidNativeUnitTests.ts
Labels: bot: passed checks

#14301 [android][ios] Update react-native-webview to 11.13.0
  CHANGELOG.md
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-webview/apple/RNCWKProcessPoolManager.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.m
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewManager.m
  ios/vendored/unversioned/react-native-webview/react-native-webview.podspec.json
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
Labels: bot: passed checks

#14333 [android] Fix kotlin nullability issues
  android/expoview/src/main/java/host/exp/exponent/notifications/model/ScopedNotificationRequest.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedExpoNotificationCategoriesModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedExpoNotificationPresentationModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedNotificationScheduler.kt
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingModule.kt
Labels: bot: suggestions

#14233 [image][android] Add `resizeMode: "repeat"` support
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ImageUtils.kt
Labels: bot: passed checks

#14309 [expo-modules][android] Extract `ModuleDestroyedException` into `expo-modules-core`
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/ScopeCancelationException.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ModuleDestroyedException.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/tasks/ImageResultTask.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/tasks/VideoResultTask.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/core/errors/ModuleDestroyedException.kt
Labels: bot: suggestions

#14277 Make expo package linkable by RN instead of expo-modules-core
  android/app/build.gradle
  android/app/src/main/java/host/exp/exponent/MainApplication.java
  android/expoview/build.gradle
  android/settings.gradle
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainActivity.java
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/bare-expo/android/settings.gradle
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-sandbox/ios/Podfile
  ios/Podfile
  ios/Podfile.lock
  packages/expo-firebase-analytics/android/build.gradle
  packages/expo-firebase-core/android/build.gradle
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-core/android-linker/src/main/AndroidManifest.xml
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ExpoModulesPackageListDelegate.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
  packages/expo-modules-core/expo-module.config.json
  packages/expo-modules-core/package.json
  packages/expo-modules-core/react-native.config.js
  packages/expo/android/.gitignore
  packages/expo/android/build.gradle
  packages/expo/android/src/main/AndroidManifest.xml
  packages/expo/android/src/main/java/expo/modules/ApplicationLifecycleDispatcher.kt
  packages/expo/android/src/main/java/expo/modules/ExpoModulesPackage.kt
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapper.kt
  packages/expo/expo-module.config.json
  packages/expo/ios/Expo.h
  packages/expo/ios/Expo.podspec
  packages/expo/package.json
  packages/expo/react-native.config.js
  packages/expo/scripts/autolinking.gradle
  packages/expo/scripts/autolinking.rb
Labels: bot: suggestions

#14315 [docs] update EAS Submit docs + add page on eas.json
  docs/components/plugins/EasJsonPropertiesTable.tsx
  docs/constants/navigation.js
  docs/pages/build/eas-json.md
  docs/pages/submit/android.md
  docs/pages/submit/classic-builds.md
  docs/pages/submit/eas-json.md
  docs/pages/submit/introduction.md
  docs/pages/submit/ios.md
  docs/scripts/schemas/unversioned/eas-json-build-android-schema.js
  docs/scripts/schemas/unversioned/eas-json-build-common-schema.js
  docs/scripts/schemas/unversioned/eas-json-build-ios-schema.js
  docs/scripts/schemas/unversioned/eas-json-submit-android-schema.js
  docs/scripts/schemas/unversioned/eas-json-submit-ios-schema.js
Labels: bot: passed checks

#14325 [tools] Fix obtaining PR's diff in code-review command
  tools/src/code-review/index.ts
Labels: bot: passed checks

#14326 [tools] Fix calculating the position of code review comments
  tools/src/code-review/reviewers/reviewChangelogEntries.ts
Labels: bot: passed checks

#14344 [tools] Another try to fix obtaining PR's diff
  tools/src/GitHub.ts
  tools/src/code-review/index.ts
Labels: bot: passed checks

#14331 [lottie] upgrade to v4.0.3
  CHANGELOG.md
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/sdk40/lottie-react-native/ABI40_0_0-lottie-react-native.podspec.json
  ios/vendored/sdk41/lottie-react-native/ABI41_0_0lottie-react-native.podspec.json
  ios/vendored/sdk42/lottie-react-native/ABI42_0_0lottie-react-native.podspec.json
  ios/vendored/unversioned/lottie-react-native/lottie-react-native.podspec.json
  ios/vendored/unversioned/lottie-react-native/src/ios/LottieReactNative/AnimationViewManagerModule.swift
  ios/vendored/unversioned/lottie-react-native/src/ios/LottieReactNative/ContainerView.swift
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#14329 [netinfo] upgrade netinfo to v6.0.2
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/NetInfoModule.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-community/netinfo/ios/RNCConnectionState.h
  ios/vendored/unversioned/@react-native-community/netinfo/ios/RNCConnectionState.m
  ios/vendored/unversioned/@react-native-community/netinfo/ios/RNCConnectionStateWatcher.h
  ios/vendored/unversioned/@react-native-community/netinfo/ios/RNCConnectionStateWatcher.m
  ios/vendored/unversioned/@react-native-community/netinfo/ios/RNCNetInfo.h
  ios/vendored/unversioned/@react-native-community/netinfo/ios/RNCNetInfo.m
  ios/vendored/unversioned/@react-native-community/netinfo/react-native-netinfo.podspec.json
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#14346 [modules-core] Fix crashes in the project that doesn't contain any swift modules
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
Labels: bot: suggestions

#14343 [modules-core] Fix `Cannot read property 'addProxiedListener' of null` on Android.
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeModulesProxy.native.js
  packages/expo-modules-core/build/NativeModulesProxy.native.js.map
  packages/expo-modules-core/src/NativeModulesProxy.native.ts
Labels: bot: passed checks

#14270 [segmented-control] upgrade segmented control to v2.4.0
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-segmented-control/segmented-control/ios/RNCSegmentedControl.h
  ios/vendored/unversioned/@react-native-segmented-control/segmented-control/ios/RNCSegmentedControl.m
  ios/vendored/unversioned/@react-native-segmented-control/segmented-control/ios/RNCSegmentedControlManager.h
  ios/vendored/unversioned/@react-native-segmented-control/segmented-control/ios/RNCSegmentedControlManager.m
  ios/vendored/unversioned/@react-native-segmented-control/segmented-control/react-native-segmented-control.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#14198 [updates] modularize expo-updates without further app setup
  android/gradle.properties
  docs/pages/bare/installing-updates.md
  docs/public/static/diffs/expo-updates-android.diff
  docs/public/static/diffs/expo-updates-ios.diff
  ios/Podfile
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactNativeHostHandler.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/README.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/proguard-rules.pro
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.java
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppDelegate.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppDelegate.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.m
  packages/expo-updates/scripts/create-manifest-android.gradle
  packages/expo-updates/scripts/create-manifest-ios.sh
  packages/expo-updates/scripts/createManifest.js
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapper.kt
Labels: bot: passed checks

#14307 [dev-client][plugins] Link to installation instructions in config plugin error messages
  packages/expo-dev-client/plugin/build/constants.d.ts
  packages/expo-dev-client/plugin/build/constants.js
  packages/expo-dev-client/plugin/build/withDevClient.js
  packages/expo-dev-client/plugin/src/constants.ts
  packages/expo-dev-client/plugin/src/withDevClient.ts
  packages/expo-dev-launcher/plugin/build/constants.d.ts
  packages/expo-dev-launcher/plugin/build/constants.js
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/build/withDevLauncherAppDelegate.js
  packages/expo-dev-launcher/plugin/src/constants.ts
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
  packages/expo-dev-launcher/plugin/src/withDevLauncherAppDelegate.ts
  packages/expo-dev-menu/plugin/build/constants.d.ts
  packages/expo-dev-menu/plugin/build/constants.js
  packages/expo-dev-menu/plugin/build/withDevMenu.js
  packages/expo-dev-menu/plugin/build/withDevMenuAppDelegate.js
  packages/expo-dev-menu/plugin/src/constants.ts
  packages/expo-dev-menu/plugin/src/withDevMenu.ts
  packages/expo-dev-menu/plugin/src/withDevMenuAppDelegate.ts
Labels: bot: suggestions

#14356 [android][location] Backport google services workaround for location provider
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/expo/modules/location/LocationModule.java
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
Labels: bot: passed checks

#14314 [expo] Move error-recovery to optionalDependencies
  apps/bare-expo/package.json
  packages/expo/build/launch/RecoveryProps.d.ts
  packages/expo/build/launch/RecoveryProps.js
  packages/expo/build/launch/RecoveryProps.js.map
  packages/expo/build/launch/withExpoRoot.js
  packages/expo/build/launch/withExpoRoot.js.map
  packages/expo/build/launch/withExpoRoot.web.js
  packages/expo/build/launch/withExpoRoot.web.js.map
  packages/expo/package.json
  packages/expo/src/launch/RecoveryProps.ts
  packages/expo/src/launch/withExpoRoot.tsx
  packages/expo/src/launch/withExpoRoot.web.tsx
Labels: bot: passed checks

#14189 [firebase-analytics] Add support for logging the `items` array to `logEvent`
  apps/test-suite/tests/FirebaseAnalytics.js
  docs/public/static/data/unversioned/expo-firebase-analytics.json
  packages/expo-firebase-analytics/CHANGELOG.md
  packages/expo-firebase-analytics/android/src/main/java/expo/modules/firebase/analytics/FirebaseAnalyticsModule.java
  packages/expo-firebase-analytics/build/Analytics.d.ts
  packages/expo-firebase-analytics/build/Analytics.js
  packages/expo-firebase-analytics/build/Analytics.js.map
  packages/expo-firebase-analytics/build/FirebaseAnalyticsJS.js
  packages/expo-firebase-analytics/build/FirebaseAnalyticsJS.js.map
  packages/expo-firebase-analytics/src/Analytics.ts
  packages/expo-firebase-analytics/src/FirebaseAnalyticsJS.ts
  packages/expo-firebase-analytics/src/__tests__/FirebaseAnalyticsJS-test.ts
Labels: bot: passed checks

#14350 [expo-modules-core] fix prebuilding error
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  tools/src/CocoaPods.ts
  tools/src/prebuilds/Prebuilder.ts
  tools/src/prebuilds/XcodeGen.ts
Labels: bot: passed checks

#14345 [docs] Update already-used-react-native.md
  docs/pages/workflow/already-used-react-native.md
Labels: bot: passed checks

#14362 [updates] Fix declared dependencies in expo-updates and related packages
  packages/expo-json-utils/android/build.gradle
  packages/expo-json-utils/ios/EXJSONUtils.podspec
  packages/expo-manifests/android/build.gradle
  packages/expo-manifests/ios/EXManifests.podspec
  packages/expo-structured-headers/android/build.gradle
  packages/expo-structured-headers/ios/EXStructuredHeaders.podspec
  packages/expo-updates-interface/android/build.gradle
  packages/expo-updates/package.json
Labels: bot: suggestions

#14348 [modules-core] Fix compatibility with RN 0.65 (view manager installation)
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
Labels: bot: suggestions

#14380 Recommend different PHP sdk for notifications
  docs/pages/push-notifications/sending-notifications.md
Labels: bot: passed checks

#14379 Various cleanups in unimodules packages
  apps/bare-expo/package.json
  apps/bare-sandbox/android/settings.gradle
  apps/bare-sandbox/package.json
  package.json
  packages/@unimodules/core/CHANGELOG.md
  packages/@unimodules/core/README.md
  packages/@unimodules/core/build/index.js
  packages/@unimodules/core/build/index.js.map
  packages/@unimodules/core/src/index.ts
  packages/@unimodules/react-native-adapter/CHANGELOG.md
  packages/@unimodules/react-native-adapter/README.md
  packages/react-native-unimodules/CHANGELOG.md
  packages/react-native-unimodules/cocoapods.rb
  packages/react-native-unimodules/gradle.groovy
  packages/react-native-unimodules/package.json
Labels: bot: passed checks

#14378 Update CocoaPods to 1.11.0
  Gemfile
  Gemfile.lock
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
Labels: bot: passed checks

#14387 [ci] Remove Ad-hoc iOS Client workflow
  .github/workflows/ad-hoc-client-shell-app-ios.yml
Labels: bot: passed checks

#14384 [autolinking] Generate Swift modules provider in all projects
  ios/Podfile
  ios/Podfile.lock
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/e2e/__tests__/__snapshots__/monorepo-test.ts.snap
  packages/expo-modules-autolinking/e2e/__tests__/monorepo-test.ts
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
  packages/expo-modules-autolinking/src/platforms/ios.ts
  packages/expo-modules-core/ios/Swift/ModuleRegistry.swift
  packages/expo-modules-core/ios/Swift/ModulesProvider.swift
  packages/expo-modules-core/ios/Tests/Mocks/ModulesProviderMock.swift
  packages/expo/scripts/autolinking.rb
Labels: bot: suggestions

#14303 [expo] update react-native-safe-area-context to 3.3.2
  CHANGELOG.md
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Labels: bot: passed checks

#14393 [home] bump GraphQL codegen, migrate to `TypedDocumentNode`
  home/containers/Account.tsx
  home/containers/Profile.tsx
  home/containers/ProfileProjectsList.tsx
  home/containers/ProfileSnacksList.tsx
  home/containers/Project.tsx
  home/containers/ProjectsList.tsx
  home/containers/SnacksList.tsx
  home/graphql-codegen.yml
  home/graphql/queries/AccountDataQuery.query.generated.ts
  home/graphql/queries/ProfileDataQuery.query.generated.ts
  home/graphql/queries/ProfileProjectsQuery.query.generated.ts
  home/graphql/queries/ProfileSnacksQuery.query.generated.ts
  home/graphql/queries/ProjectQuery.query.generated.ts
  home/graphql/queries/ProjectsListQuery.query.generated.ts
  home/graphql/queries/SnacksListQuery.query.generated.ts
  home/graphql/queries/ViewerUsernameQuery.query.generated.ts
  home/graphql/types.ts
  home/package.json
  home/utils/getViewerUsernameAsync.ts
  yarn.lock
Labels: bot: passed checks

#14396 [expo-modules-core] Added Platform.isAsyncDebugging
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/Platform.d.ts
  packages/expo-modules-core/build/Platform.js
  packages/expo-modules-core/build/Platform.js.map
  packages/expo-modules-core/build/environment/browser.d.ts
  packages/expo-modules-core/build/environment/browser.js
  packages/expo-modules-core/build/environment/browser.js.map
  packages/expo-modules-core/build/environment/browser.web.d.ts
  packages/expo-modules-core/build/environment/browser.web.js
  packages/expo-modules-core/build/environment/browser.web.js.map
  packages/expo-modules-core/src/Platform.ts
  packages/expo-modules-core/src/environment/browser.ts
  packages/expo-modules-core/src/environment/browser.web.ts
Labels: bot: passed checks

#14363 [dev-launcher] Suppress `"main" has not been registered` error
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/build/DevLauncherErrorManager.js
  packages/expo-dev-launcher/build/DevLauncherErrorManager.js.map
  packages/expo-dev-launcher/plugin/build/withDevLauncherAppDelegate.js
  packages/expo-dev-launcher/src/DevLauncherErrorManager.ts
Labels: bot: passed checks

#14407 [expo-modules-core] move library proguard rules for ReactNative wrappers
  packages/@unimodules/react-native-adapter/android/build.gradle
  packages/expo/android/build.gradle
  packages/expo/android/proguard-rules.pro
Labels: bot: suggestions

#14371 Upgrade react-native-screens to 3.7.2
  CHANGELOG.md
  yarn.lock
Labels: bot: passed checks

#14349 [react native pager view] update for SDK 43
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/Helper.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/NestedScrollableHost.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/PagerViewPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/PagerViewViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/ViewPagerAdapter.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/ViewPagerViewHolder.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/event/PageScrollEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/event/PageScrollStateChangedEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/event/PageSelectedEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/FragmentAdapter.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/RNCViewPagerPackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/ReactViewPagerManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/ViewPagerFragment.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/event/PageScrollEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/event/PageScrollStateChangedEvent.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/viewpager/event/PageSelectedEvent.java
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/PagerViewScreen.tsx
  ios/ExpoKit.podspec
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-pager-view/ios/RCTConvert+UIPageViewControllerNavigationOrientation.h
  ios/vendored/unversioned/react-native-pager-view/ios/RCTConvert+UIPageViewControllerNavigationOrientation.m
  ios/vendored/unversioned/react-native-pager-view/ios/RCTConvert+UIPageViewControllerTransitionStyle.h
  ios/vendored/unversioned/react-native-pager-view/ios/RCTConvert+UIPageViewControllerTransitionStyle.m
  ios/vendored/unversioned/react-native-pager-view/ios/RCTOnPageScrollEvent.h
  ios/vendored/unversioned/react-native-pager-view/ios/RCTOnPageScrollEvent.m
  ios/vendored/unversioned/react-native-pager-view/ios/RCTOnPageScrollStateChanged.h
  ios/vendored/unversioned/react-native-pager-view/ios/RCTOnPageScrollStateChanged.m
  ios/vendored/unversioned/react-native-pager-view/ios/RCTOnPageSelected.h
  ios/vendored/unversioned/react-native-pager-view/ios/RCTOnPageSelected.m
  ios/vendored/unversioned/react-native-pager-view/ios/ReactNativePageView.h
  ios/vendored/unversioned/react-native-pager-view/ios/ReactNativePageView.m
  ios/vendored/unversioned/react-native-pager-view/ios/ReactViewPagerManager.h
  ios/vendored/unversioned/react-native-pager-view/ios/ReactViewPagerManager.m
  ios/vendored/unversioned/react-native-pager-view/ios/UIViewController+CreateExtension.h
  ios/vendored/unversioned/react-native-pager-view/ios/UIViewController+CreateExtension.m
  ios/vendored/unversioned/react-native-pager-view/react-native-pager-view.podspec.json
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/vendoring/legacy.ts
  yarn.lock
Labels: bot: passed checks

#14410 [docs] revert installing-updates change and will land again after sdk43 release
  docs/pages/bare/installing-updates.md
  docs/public/static/diffs/expo-updates-android.diff
  docs/public/static/diffs/expo-updates-ios.diff
Labels: bot: passed checks

#14414 [docs] cli update
  docs/pages/workflow/expo-cli.md
Labels: docs, bot: passed checks

#13684 [docs] update Next.js guide
  docs/pages/guides/using-nextjs.md
Labels: bot: passed checks

#14261 [templates] Remove expo forked react-native from managed apps
  docs/pages/troubleshooting/react-native-version-mismatch.md
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Labels: bot: passed checks

#14377 [chore] add `yarn-deduplicate`, deduplicate workspace lock
  home/package.json
  home/tsconfig.json
  package.json
  packages/expo-av/build/ExponentVideo.d.ts
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-dev-menu/package.json
  packages/expo/build/environment/DevLoadingView.d.ts
  yarn.lock
Labels: bot: suggestions

#14418 [expo-modules-core] revert prebuilding xcframework
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
  tools/src/CocoaPods.ts
  tools/src/prebuilds/Prebuilder.ts
  tools/src/prebuilds/XcodeGen.ts
Labels: bot: passed checks

#14420 [chore] bump react types to correct version
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: passed checks

#14417 [github] update questions issue template
  .github/ISSUE_TEMPLATE/questions.yml
Labels: bot: passed checks

#14419 [chore] sort dependencies in `package.json` files
  packages/expo-modules-autolinking/package.json
  packages/expo-processing/package.json
  packages/jest-expo-puppeteer/package.json
Labels: bot: passed checks

#14284 [Expo Go] Improve UX when trying to load an incompatible project
  android/expoview/src/main/java/host/exp/exponent/exceptions/ManifestException.kt
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  ios/Exponent/Kernel/Views/EXErrorView.m
Labels: bot: passed checks

#14404 [Expo Go][iOS] Catch invalid manifest assertions better
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsBaseManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsBaseManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsBaseManifest.m
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.m
Labels: bot: suggestions

#14408 [media-library] Do not reject on EXIF parsing failure
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/build.gradle
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/GetAssets.java
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryUtils.java
Labels: bot: passed checks

#14123 [stories] implement stories CLI
  packages/expo-stories/.eslintrc.js
  packages/expo-stories/.gitignore
  packages/expo-stories/.npmignore
  packages/expo-stories/README.md
  packages/expo-stories/babel.config.js
  packages/expo-stories/bin/index.js
  packages/expo-stories/build/cli/addStoriesAsync.d.ts
  packages/expo-stories/build/cli/addStoriesAsync.js
  packages/expo-stories/build/cli/addStoriesAsync.js.map
  packages/expo-stories/build/cli/commands/build.d.ts
  packages/expo-stories/build/cli/commands/build.js
  packages/expo-stories/build/cli/commands/build.js.map
  packages/expo-stories/build/cli/commands/init.d.ts
  packages/expo-stories/build/cli/commands/init.js
  packages/expo-stories/build/cli/commands/init.js.map
  packages/expo-stories/build/cli/commands/watch.d.ts
  packages/expo-stories/build/cli/commands/watch.js
  packages/expo-stories/build/cli/commands/watch.js.map
  packages/expo-stories/build/cli/index.d.ts
  packages/expo-stories/build/cli/index.js
  packages/expo-stories/build/cli/index.js.map
  packages/expo-stories/build/cli/removeStoryAsync.d.ts
  packages/expo-stories/build/cli/removeStoryAsync.js
  packages/expo-stories/build/cli/removeStoryAsync.js.map
  packages/expo-stories/build/cli/saveManifestAsync.d.ts
  packages/expo-stories/build/cli/saveManifestAsync.js
  packages/expo-stories/build/cli/saveManifestAsync.js.map
  packages/expo-stories/build/cli/shared.d.ts
  packages/expo-stories/build/cli/shared.js
  packages/expo-stories/build/cli/shared.js.map
  packages/expo-stories/build/cli/writeStoriesAsync.d.ts
  packages/expo-stories/build/cli/writeStoriesAsync.js
  packages/expo-stories/build/cli/writeStoriesAsync.js.map
  packages/expo-stories/build/types/index.d.ts
  packages/expo-stories/build/types/index.js
  packages/expo-stories/build/types/index.js.map
  packages/expo-stories/package.json
  packages/expo-stories/src/cli/__tests__/hashPath.test.ts
  packages/expo-stories/src/cli/addStoriesAsync.ts
  packages/expo-stories/src/cli/commands/build.ts
  packages/expo-stories/src/cli/commands/init.ts
  packages/expo-stories/src/cli/commands/watch.ts
  packages/expo-stories/src/cli/index.ts
  packages/expo-stories/src/cli/removeStoryAsync.ts
  packages/expo-stories/src/cli/saveManifestAsync.ts
  packages/expo-stories/src/cli/shared.ts
  packages/expo-stories/src/cli/writeStoriesAsync.ts
  packages/expo-stories/src/types/index.ts
  packages/expo-stories/tsconfig.json
  yarn.lock
Labels: bot: passed checks

#14416 [ios] upgrade amazon-cognito-identity-js native module
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/cognito/RNAWSCognitoModule.java
  ios/Exponent/Versioned/Core/Api/Cognito/RNAWSCognito.h
  ios/Exponent/Versioned/Core/Api/Cognito/RNAWSCognito.m
  ios/Podfile
  ios/Podfile.lock
  ios/vendored/common/JKBigInteger.podspec.json
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/ABI40_0_0ExpoKit.podspec
  ios/versioned-react-native/ABI40_0_0/Expo/ExpoKit/Core/Api/Cognito/ABI40_0_0RNAWSCognito.h
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/ABI41_0_0ExpoKit.podspec
  ios/versioned-react-native/ABI41_0_0/Expo/ExpoKit/Core/Api/Cognito/ABI41_0_0RNAWSCognito.h
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/ABI42_0_0ExpoKit.podspec
  ios/versioned-react-native/ABI42_0_0/Expo/ExpoKit/Core/Api/Cognito/ABI42_0_0RNAWSCognito.h
Labels: bot: passed checks

#14394 [android][mail-composer] Rewrite mail composer module from Java to Kotlin
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/build.gradle
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerFileProvider.java
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerFileProvider.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.java
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerPackage.java
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerPackage.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailIntentBuilder.kt
Labels: bot: passed checks

#14423 [facebook] add correct return types to the `withFacebookIOS` setters
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/plugin/build/withFacebookIOS.d.ts
  packages/expo-facebook/plugin/build/withFacebookIOS.js
  packages/expo-facebook/plugin/src/withFacebookIOS.ts
  yarn.lock
Labels: bot: passed checks

#14279 [file-system][iOS] Modernized/corrected getFreeDiskStorageAsync implementation
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: bot: passed checks

#14431 [NCL][test-suite] sort test cases by name
  apps/native-component-list/src/screens/ComponentListScreen.tsx
  apps/test-suite/TestModules.js
Labels: bot: passed checks

#14437 [docs] Use community Figma file
  docs/pages/guides/app-icons.md
Labels: bot: passed checks

#13874 [audio][recording][docs] Update "prepareAsync" to "prepareToRecordAsync" in Docs
  docs/pages/versions/unversioned/sdk/audio.md
Labels: bot: passed checks

#14438 [updates] Fixing app.manifest does not generated from Xcode build phase script
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/scripts/create-manifest-ios.sh
Labels: bot: passed checks

#14358 [picker] upgrade to 2.1.0
  CHANGELOG.md
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent.xcodeproj/project.pbxproj
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#14125 [stories] implement expo stories RN app
  apps/sandbox/metro.config.js
  packages/expo-stories/README.md
  packages/expo-stories/clients/app/App.tsx
  packages/expo-stories/clients/app/getStories.ts
  packages/expo-stories/clients/app/index.tsx
  packages/expo-stories/clients/app/screens/SelectedStoryDetails.tsx
  packages/expo-stories/clients/app/screens/SelectedStoryFilesList.tsx
  packages/expo-stories/clients/app/screens/StoryFilesList.tsx
  packages/expo-stories/clients/app/styles.ts
  packages/expo-stories/clients/app/types.ts
  packages/expo-stories/components/Button.tsx
  packages/expo-stories/components/Container.tsx
  packages/expo-stories/components/Json.tsx
  packages/expo-stories/components/ListRow.tsx
  packages/expo-stories/components/TestRunner/ExponentTest.tsx
  packages/expo-stories/components/TestRunner/components/DoneText.tsx
  packages/expo-stories/components/TestRunner/components/PlatformTouchable.android.tsx
  packages/expo-stories/components/TestRunner/components/PlatformTouchable.tsx
  packages/expo-stories/components/TestRunner/components/Portal.tsx
  packages/expo-stories/components/TestRunner/components/RunnerError.tsx
  packages/expo-stories/components/TestRunner/components/SpecResult.tsx
  packages/expo-stories/components/TestRunner/components/SuiteResult.tsx
  packages/expo-stories/components/TestRunner/components/Suites.tsx
  packages/expo-stories/components/TestRunner/constants/Colors.ts
  packages/expo-stories/components/TestRunner/constants/StatusEmojis.ts
  packages/expo-stories/components/TestRunner/constants/Statuses.ts
  packages/expo-stories/components/TestRunner/index.tsx
  packages/expo-stories/components/Toggle.tsx
  packages/expo-stories/components/index.ts
  packages/expo-stories/metro-config.js
  packages/expo-stories/package.json
  packages/expo-stories/webpack-config.js
  yarn.lock
Labels: bot: passed checks

#14425 [android][expo-crypto] Rewrite android code to Kotlin
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/android/src/main/java/expo/modules/crypto/CryptoModule.java
  packages/expo-crypto/android/src/main/java/expo/modules/crypto/CryptoModule.kt
  packages/expo-crypto/android/src/main/java/expo/modules/crypto/CryptoPackage.java
  packages/expo-crypto/android/src/main/java/expo/modules/crypto/CryptoPackage.kt
  packages/expo-crypto/android/src/test/java/expo/modules/crypto/CryptoModuleTest.kt
  packages/expo-crypto/android/src/test/java/expo/modules/crypto/ExpectedEncodingResults.kt
Labels: bot: passed checks

#14433 [dev-client] Fix e2e tests
  packages/expo-dev-client/e2e/android/MainActivity.java
  packages/expo-dev-client/e2e/android/MainApplication.java
  packages/expo-dev-client/e2e/ios/AppDelegate.m
  packages/expo-dev-client/package.json
  packages/expo-dev-client/test-runner.config.js
  packages/expo-updates-interface/android/build.gradle
  yarn.lock
Labels: bot: suggestions

#14452 Upgrade stripe-react-native to 0.2.2
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/GooglePayFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentSheetFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeSdkModule.kt
  ios/Podfile.lock
  ios/vendored/unversioned/@stripe/stripe-react-native/stripe-react-native.podspec.json
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#14439 [expo] Updates splash, adds dist/ to gitignore
  templates/expo-template-bare-minimum/gitignore
  templates/expo-template-blank-typescript/assets/splash.png
  templates/expo-template-blank-typescript/gitignore
  templates/expo-template-blank/assets/splash.png
  templates/expo-template-blank/gitignore
  templates/expo-template-tabs/assets/images/splash.png
  templates/expo-template-tabs/gitignore
Labels: bot: passed checks

#14447 [android][ios] Fix anonymous manifest detection and behavior
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
Labels: bot: passed checks

#14457 [expo] Remove dependency on react-native-safe-area-context
  packages/expo/build/environment/DevLoadingView.d.ts
  packages/expo/build/environment/DevLoadingView.js
  packages/expo/build/environment/DevLoadingView.js.map
  packages/expo/package.json
  packages/expo/src/environment/DevLoadingView.tsx
Labels: bot: passed checks

#14421 [jest-expo-puppeteer] match `jest-expo` Jest version, update dependencies
  packages/jest-expo-puppeteer/package.json
  yarn.lock
Labels: bot: passed checks

#14342 [firebase-core] add doc comments in source
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/firebase-core.md
  docs/public/static/data/unversioned/expo-firebase-core.json
  packages/expo-firebase-core/CHANGELOG.md
  packages/expo-firebase-core/build/ExpoFirebaseCore.web.d.ts
  packages/expo-firebase-core/build/ExpoFirebaseCore.web.js.map
  packages/expo-firebase-core/build/FirebaseCore.d.ts
  packages/expo-firebase-core/build/FirebaseCore.js
  packages/expo-firebase-core/build/FirebaseCore.js.map
  packages/expo-firebase-core/build/FirebaseOptions.d.ts
  packages/expo-firebase-core/build/FirebaseOptions.js.map
  packages/expo-firebase-core/src/ExpoFirebaseCore.web.ts
  packages/expo-firebase-core/src/FirebaseCore.ts
  packages/expo-firebase-core/src/FirebaseOptions.ts
  packages/expo-firebase-recaptcha/build/FirebaseRecaptcha.d.ts
  packages/expo-firebase-recaptcha/build/FirebaseRecaptcha.js.map
  packages/expo-firebase-recaptcha/src/FirebaseRecaptcha.tsx
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#14434 [android][constants] Rewrite android code to Kotlin
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/android/build.gradle
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsModule.java
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsModule.kt
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsPackage.java
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsPackage.kt
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsService.java
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsService.kt
  packages/expo-constants/android/src/main/java/expo/modules/constants/ExponentInstallationId.java
  packages/expo-constants/android/src/main/java/expo/modules/constants/ExponentInstallationId.kt
Labels: bot: passed checks

#14409 [templates] Update templates for the next SDK
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainActivity.java
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.java
  templates/expo-template-bare-minimum/android/build.gradle
  templates/expo-template-bare-minimum/android/settings.gradle
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.h
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.m
  templates/expo-template-bare-minimum/ios/Podfile
  templates/expo-template-bare-minimum/ios/Podfile.lock
  templates/expo-template-bare-minimum/ios/Podfile.properties.json
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-bare-minimum/yarn.lock
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank-typescript/yarn.lock
  templates/expo-template-blank/package.json
  templates/expo-template-blank/yarn.lock
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/yarn.lock
Labels: bot: passed checks

#14451 [ENG-1950][docs] document EAS_BUILD_ID
  docs/pages/build-reference/variables.md
Labels: bot: passed checks

#14478 [expoview] Bump `com.theartofdev.edmodo:android-image-cropper`
  android/app/build.gradle
  android/expoview/build.gradle
Labels: bot: passed checks

#14485 [devicefarm] Remove device farm
  android/app/build.gradle
  android/build.gradle
  fastlane/Fastfile
  fastlane/README.md
Labels: bot: passed checks

#14491 [client] Fix ConstantsBinding on new kotlinized ConstantsService
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ConstantsBinding.kt
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsService.kt
Labels: bot: suggestions

#14446 Added docs on using typescript for config files
  docs/pages/guides/typescript.md
Labels: docs, bot: passed checks

#14464 [expo-updates-interface] remove unnecessary dependency on expo-modules-core
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/build.gradle
Labels: bot: passed checks

#14460 [expo-manifests] dev client compatibility
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/ios/EXManifests.podspec
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.h
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
  packages/expo-manifests/ios/EXManifests/EXManifestsManifest.h
Labels: bot: passed checks

#14461 [expo-dev-client] add expo-manifests dependency
  docs/public/static/diffs/client/podfile-no-unimodules.diff
  docs/public/static/diffs/client/settings-gradle-no-unimodules.diff
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/build.gradle
  packages/expo-dev-client/dependencies.js
  packages/expo-dev-client/expo-dev-client.podspec
  packages/expo-dev-client/package.json
  packages/expo-dev-client/test-runner.config.js
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/expo-dev-launcher.podspec
Labels: bot: suggestions

#14462 [expo-dev-launcher] replace android DevLauncherManifest class with expo-manifests
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/src/androidTest/java/com/expo/modules/devclient/tests/DevClientLoadLocalAppTest.kt
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherExpoAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherLocalAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherPublishedAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherControllerInterface.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/configurators/DevLauncherExpoActivityConfigurator.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifest.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParser.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestTypes.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/menu/DevLauncherMenuDelegate.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelperTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/configurators/DevLauncherExpoActivityConfiguratorTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParserTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestTest.kt
  packages/expo-dev-launcher/android/src/testDebug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactoryTest.kt
Labels: bot: passed checks

#14463 [expo-dev-launcher] replace iOS EXDevLauncherManifest class with EXManifestsManifest
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncher.m
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherMenuDelegate.swift
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifest.swift
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestHelper.swift
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestParser.h
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestParser.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherManifestHelperTests.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherManifestParserTests.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherModuleTests.m
Labels: bot: passed checks

#14503 [ios] backport relevant changes from #14460 to versioned EXManifests
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsBaseManifest.h
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsBaseManifest.m
  ios/versioned-react-native/ABI40_0_0/Expo/EXManifests/EXManifests/ABI40_0_0EXManifestsManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsBaseManifest.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsBaseManifest.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXManifests/EXManifests/ABI41_0_0EXManifestsManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsBaseManifest.h
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsBaseManifest.m
  ios/versioned-react-native/ABI42_0_0/Expo/EXManifests/EXManifests/ABI42_0_0EXManifestsManifest.h
Labels: bot: passed checks

#14489 [tools] fix android versioning
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/Package.java
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/NativeResourcesBasedSplashScreenViewProvider.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenReactActivityLifecycleListener.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenView.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.java
  tools/src/versioning/android/android-copy-expo-module.sh
  tools/src/versioning/android/android-packages-to-keep.txt
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/versionReactNative.ts
Labels: bot: suggestions

#14467 [splash-screen] Fix warning when reload apps
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: passed checks

#14507 [ios][tools] Fix shell app building errors
  template-files/ios/ExpoKit-Podfile-versioned
  tools/src/commands/IosShellApp.ts
Labels: bot: passed checks

#14476 [module-template] add lint setup and lint script
  packages/expo-module-template/.eslintrc.js
  packages/expo-module-template/babel.config.js
  packages/expo-module-template/build/ExpoModuleTemplate.web.d.ts
  packages/expo-module-template/build/ExpoModuleTemplate.web.js
  packages/expo-module-template/build/ExpoModuleTemplate.web.js.map
  packages/expo-module-template/build/ExpoModuleTemplateNativeView.js.map
  packages/expo-module-template/build/ExpoModuleTemplateNativeView.web.js
  packages/expo-module-template/build/ExpoModuleTemplateNativeView.web.js.map
  packages/expo-module-template/build/ExpoModuleTemplateView.js
  packages/expo-module-template/build/ExpoModuleTemplateView.js.map
  packages/expo-module-template/build/ModuleTemplate.d.ts
  packages/expo-module-template/build/ModuleTemplate.js
  packages/expo-module-template/build/ModuleTemplate.js.map
  packages/expo-module-template/package.json
  packages/expo-module-template/src/ExpoModuleTemplate.web.ts
  packages/expo-module-template/src/ExpoModuleTemplateNativeView.ts
  packages/expo-module-template/src/ExpoModuleTemplateNativeView.web.tsx
  packages/expo-module-template/src/ExpoModuleTemplateView.tsx
  packages/expo-module-template/src/ModuleTemplate.ts
Labels: bot: suggestions

#14492 [facebook][ios] update app id in bare expo, fix error handler
  apps/bare-expo/ios/BareExpo/Info.plist
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/ios/EXFacebook/EXFacebook.m
Labels: bot: passed checks

#14483 [ios][constants] fix path and revert skipping get-app-config-ios.sh
  packages/expo-constants/scripts/get-app-config-ios.sh
Labels: bot: suggestions

#14093 [ios][BareExpo] Install expo-screen-orientation module
  apps/bare-expo/ios/BareExpo-Bridging-Header.h
  apps/bare-expo/ios/BareExpo/AppDelegate.swift
Labels: bot: passed checks

#14136 [eyw] Keep compatibility with React Native <= 63 by using blacklist it is available
  packages/expo-yarn-workspaces/CHANGELOG.md
  packages/expo-yarn-workspaces/index.js
Labels: bot: passed checks

#14504 [splash-screen] Update @expo/configure-splash-screen
  packages/expo-splash-screen/package.json
  yarn.lock
Labels: bot: suggestions

#14502 [ios] Fix registering native event emitter module
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.m
Labels: bot: passed checks

#14511 [android] update hermes bytecode version for react-native 0.64
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
Labels: bot: passed checks

#14508 [docs] update platforms data for picker and intent launcher
  docs/pages/versions/unversioned/sdk/intent-launcher.md
  docs/pages/versions/unversioned/sdk/picker.md
  docs/pages/versions/v38.0.0/sdk/intent-launcher.md
  docs/pages/versions/v38.0.0/sdk/picker.md
  docs/pages/versions/v39.0.0/sdk/intent-launcher.md
  docs/pages/versions/v39.0.0/sdk/picker.md
  docs/pages/versions/v40.0.0/sdk/intent-launcher.md
  docs/pages/versions/v40.0.0/sdk/picker.md
  docs/pages/versions/v41.0.0/sdk/intent-launcher.md
  docs/pages/versions/v41.0.0/sdk/picker.md
  docs/pages/versions/v42.0.0/sdk/intent-launcher.md
  docs/pages/versions/v42.0.0/sdk/picker.md
Labels: bot: passed checks

#14495 [docs] display `@see` comments in `APISection` content
  docs/components/plugins/APISection.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#14516 [web][speech] Improve expo speech for web.
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/build/ExponentSpeech.web.d.ts
  packages/expo-speech/build/ExponentSpeech.web.js
  packages/expo-speech/build/ExponentSpeech.web.js.map
  packages/expo-speech/src/Speech/ExponentSpeech.web.ts
Labels: bot: passed checks

#14517 [tools] Add missing transforms to iOS versioning
  tools/src/versioning/ios/transforms/postTransforms.ts
Labels: bot: passed checks

#14376 [ci] Update Xcode to 13.0 on GitHub Actions
  .github/workflows/client-ios.yml
  .github/workflows/ios-unit-tests.yml
  .github/workflows/shell-app-ios.yml
  .github/workflows/test-suite.yml
  .github/workflows/versioning.yml
  apps/bare-expo/package.json
Labels: bot: passed checks

#14518 [media-library] Fix creating assets in Android 11
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/CreateAsset.java
Labels: bot: passed checks

#14522 [barcode-scanner] add doc comments in source
  docs/components/plugins/APISection.test.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/bar-code-scanner.md
  docs/public/static/data/unversioned/expo-barcode-scanner.json
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.js
  packages/expo-barcode-scanner/build/BarCodeScanner.js.map
  packages/expo-barcode-scanner/src/BarCodeScanner.tsx
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#14413 [media-library][android] retrieve location data from photos on androi…
  android/expoview/src/main/AndroidManifest.xml
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/GetAssets.java
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.java
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryUtils.java
  packages/expo-media-library/plugin/src/withMediaLibrary.ts
Labels: bot: passed checks

#14538 [expo] remove deprecated `LogReporter`
  packages/expo/package.json
  packages/expo/tools/LogReporter.js
Labels: bot: passed checks

#14531 [docs] remove redundant files
  docs/.github/PULL_REQUEST_TEMPLATE.md
  docs/public/static/icloud-entitlement.png
  docs/public/static/images/app-auth.md
  docs/public/static/images/google-sign-in.md
Labels: bot: passed checks

#14540 [docs] add Xcode 13 image info
  docs/pages/build-reference/infrastructure.md
Labels: bot: passed checks

#14541 [screen-orientation] Fix integration with `react-native-screens` orientation prop
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.h
  ios/Exponent/Kernel/Views/EXAppViewController.m
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationViewController.m
Labels: bot: passed checks

#14543 [ios][screen-orientation] Fix orientation lock not working in bare workflow
  packages/expo-modules-core/ios/Services/EXReactNativeAdapter.m
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationModule.m
Labels: bot: suggestions

#14499 [expo-updates][android][sqlite] make assets.type nullable
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/UpdatesDatabaseMigrationTest.java
  packages/expo-updates/android/src/androidTest/schemas/expo.modules.updates.db.UpdatesDatabase/7.json
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/UpdatesDatabase.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/entity/AssetEntity.java
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesNewUpdate.m
Labels: bot: passed checks

#14547 [expo-notifications] Fix DevicePushTokenAutoRegistration-test
  packages/expo-notifications/src/__tests__/DevicePushTokenAutoRegistration-test.ts
Labels: bot: suggestions

#14546 [templates] Automatically resolve RN path in Xcode build scripts
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#14524 [splashscreen][ios] have warning timer wait for js bundle to load
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/splashscreen/ManagedAppSplashScreenViewController.kt
  ios/Exponent/Kernel/Views/EXAppViewController.m
  ios/Exponent/Kernel/Views/Loading/EXManagedAppSplashScreenViewController.h
  ios/Exponent/Kernel/Views/Loading/EXManagedAppSplashScreenViewController.m
Labels: bot: passed checks

#14554 [splashscreen] Fix android build
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
Labels: bot: passed checks

#14559 [tools] Remove unwanted local xcframeworks when publishing
  tools/src/publish-packages/tasks/prebuildPackagesTask.ts
Labels: bot: passed checks

#14552 [workspace] match `@testing-library/react-hooks` versions
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/package.json
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-module-scripts/package.json
  packages/expo-permissions/CHANGELOG.md
  packages/expo-permissions/package.json
  yarn.lock
Labels: bot: passed checks

#14569 [av] Fix JNI detected error in application: java_object == null
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/player/SimpleExoPlayerData.java
Labels: bot: passed checks

#14571 [babel-preset] Fix tests snapshots
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
Labels: bot: passed checks

#14574 Hermes Engine documentation: Grammatical Change removal of Extra Word
  docs/pages/guides/using-hermes.md
Labels: bot: passed checks

#14557 [splash][android] prevent native crash in splashscreen warning timer
  android/expoview/src/main/java/host/exp/exponent/experience/splashscreen/ManagedAppSplashScreenViewController.kt
Labels: bot: passed checks
