Repository expo/expo, pull requests merged in 2021-05, with the labels that each got.

#12850 [dev-menu] Remove test screens
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/app/components/MainOptions.tsx
  packages/expo-dev-menu/app/screens/DevMenuTestScreen.tsx
  packages/expo-dev-menu/app/views/DevMenuContainer.tsx
  packages/expo-dev-menu/ios/Modules/DevMenuExtensions.swift
Labels: 🤖 warned

#12418 [docs] + note indicating getStepCountAsync platform support
  docs/pages/versions/v38.0.0/sdk/pedometer.md
  docs/pages/versions/v39.0.0/sdk/pedometer.md
  docs/pages/versions/v40.0.0/sdk/pedometer.md
Labels: docs

#9431 [docs] Removed duplicated text
  docs/pages/workflow/already-used-react-native.md
Labels: docs

#10205 Update av.md
  docs/pages/versions/unversioned/sdk/av.md
Labels: docs

#10814 [docs] Clarify Node version support
  docs/pages/get-started/installation.md
Labels: docs

#11727 [docs] Update payments.md
  docs/pages/versions/unversioned/sdk/payments.md
Labels: docs

#12838 [cellular] add doc comments in source
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/pages/versions/unversioned/sdk/cellular.md
  docs/public/static/data/unversioned/expo-cellular.json
  packages/expo-cellular/CHANGELOG.md
  packages/expo-cellular/build/Cellular.d.ts
  packages/expo-cellular/build/Cellular.js
  packages/expo-cellular/build/Cellular.js.map
  packages/expo-cellular/build/Cellular.types.d.ts
  packages/expo-cellular/build/Cellular.types.js
  packages/expo-cellular/build/Cellular.types.js.map
  packages/expo-cellular/src/Cellular.ts
  packages/expo-cellular/src/Cellular.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: 🤖 approved

#12744 Update firebase-analytics.md
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/pages/versions/v41.0.0/sdk/firebase-analytics.md
Labels: docs

#11366 Specify all required auth token scopes
  docs/pages/guides/using-sentry.md
Labels: docs

#12875 [dev-client][plugin] Update installation plugin
  packages/expo-dev-launcher/plugin/src/withDevLauncherAppDelegate.ts
  packages/expo-dev-menu/plugin/build/withDevMenuAppDelegate.js
  packages/expo-dev-menu/plugin/src/withDevMenuAppDelegate.ts
Labels: 🤖 warned

#12817 [expo-constants] Add new manifest2 field and make existing field optional
  apps/jest-expo-mock-generator/App.js
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  apps/native-component-list/src/screens/AuthSession/LegacyAuthSession.tsx
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/tests/Notifications.js
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/build/ExponentConstants.web.js
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/ExponentConstants.web.ts
  packages/expo-constants/src/__tests__/Constants-test.ts
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/build/withDevLauncherAppDelegate.js
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Schemes.ts
  packages/expo-linking/src/__tests__/Linking-test.ts
  packages/expo-linking/src/__tests__/Schemes-test.native.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js.map
  packages/expo-notifications/src/getDevicePushTokenAsync.web.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
  packages/expo/build/environment/logging.fx.js
  packages/expo/build/environment/logging.fx.js.map
  packages/expo/build/logs/RemoteLogging.js
  packages/expo/build/logs/RemoteLogging.js.map
  packages/expo/src/__mocks__/Constants-development.ts
  packages/expo/src/environment/logging.fx.ts
  packages/expo/src/logs/RemoteLogging.ts
  packages/expo/src/logs/__tests__/LogSerialization-test.native.tsx
Labels: 🤖 warned

#12897 [image-picker] fix: view being transparent on iOS 14.5
  ios/versioned-react-native/ABI41_0_0/Expo/EXImagePicker/ABI41_0_0EXImagePicker/ABI41_0_0EXImagePicker.m
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/EXImagePicker/EXImagePicker.m
Labels: 🤖 approved

#12909 [dev-menu] Fix compatibility with RN 0.64
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalSessionManagerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuReactInternalSettings.kt
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-dev-menu/vendored/react-native-gesture-handler/ios/DevMenuRNGestureHandlerManager.h
Labels: 🤖 warned

#12913 [linking] Throw exception as expected by expo-auth-session tests
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Schemes.ts
Labels: 🤖 warned

#12919 [expo-dev-launcher] Fix incorrect dev menu and flash of launcher
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: 🤖 approved

#12921 [expo-dev-launcher] Build plugin JS
  packages/expo-dev-launcher/plugin/build/withDevLauncherAppDelegate.js
Labels: 🤖 warned

#11833 [docs][expo-av] Document that Audio web support is pending
  docs/pages/versions/unversioned/sdk/audio.md
  docs/pages/versions/v40.0.0/sdk/audio.md
  docs/pages/versions/v41.0.0/sdk/audio.md
Labels: docs

#12912 [barcode] Migrate interface to expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/build.gradle
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerProvider.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewManager.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ExpoBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/GMVBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ZxingBarCodeScanner.java
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/BarCodeScannerResultSerializer.java
  packages/expo-barcode-scanner/ios/EXBarCodeScanner.podspec
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScanner.h
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScanner.m
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScannerProvider.h
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScannerProvider.m
  packages/expo-barcode-scanner/package.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/build.gradle
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewHelper.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewManager.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/events/BarCodeScannedEvent.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/BarCodeScannerAsyncTask.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/BarCodeScannerAsyncTaskDelegate.java
  packages/expo-camera/ios/EXCamera.podspec
  packages/expo-camera/ios/EXCamera/EXCamera.m
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScanner.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerInterface.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerProvider.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerProviderInterface.java
  packages/expo/bundledNativeModules.json
  packages/react-native-unimodules/CHANGELOG.md
  packages/react-native-unimodules/package.json
  packages/unimodules-barcode-scanner-interface/CHANGELOG.md
  packages/unimodules-barcode-scanner-interface/README.md
  packages/unimodules-barcode-scanner-interface/android/.gitignore
  packages/unimodules-barcode-scanner-interface/android/build.gradle
  packages/unimodules-barcode-scanner-interface/android/src/main/AndroidManifest.xml
  packages/unimodules-barcode-scanner-interface/android/src/main/java/org/unimodules/interfaces/barcodescanner/BarCodeScannerProvider.java
  packages/unimodules-barcode-scanner-interface/android/src/main/java/org/unimodules/interfaces/barcodescanner/BarCodeScannerResult.java
  packages/unimodules-barcode-scanner-interface/android/src/main/java/org/unimodules/interfaces/barcodescanner/BarCodeScannerSettings.java
  packages/unimodules-barcode-scanner-interface/android/src/main/java/org/unimodules/interfaces/barcodescanner/BarCodeScannerSettingsKey.java
  packages/unimodules-barcode-scanner-interface/index.js
  packages/unimodules-barcode-scanner-interface/ios/UMBarCodeScannerInterface.podspec
  packages/unimodules-barcode-scanner-interface/ios/UMBarCodeScannerInterface/UMBarCodeScannerInterface.h
  packages/unimodules-barcode-scanner-interface/ios/UMBarCodeScannerInterface/UMBarCodeScannerProviderInterface.h
  packages/unimodules-barcode-scanner-interface/package.json
  packages/unimodules-barcode-scanner-interface/unimodule.json
Labels: 🤖 approved

#12748 Update calendar.md
  docs/pages/versions/unversioned/sdk/calendar.md
  docs/pages/versions/v41.0.0/sdk/calendar.md
Labels: docs

#12927 [apple-auth] Updated plugin to be more automated
  packages/expo-apple-authentication/CHANGELOG.md
  packages/expo-apple-authentication/package.json
  packages/expo-apple-authentication/plugin/build/withAppleAuthIOS.d.ts
  packages/expo-apple-authentication/plugin/build/withAppleAuthIOS.js
  packages/expo-apple-authentication/plugin/jest.config.js
  packages/expo-apple-authentication/plugin/src/__tests__/withAppleAuthIOS-test.ts
  packages/expo-apple-authentication/plugin/src/withAppleAuthIOS.ts
  yarn.lock
Labels: 🤖 approved

#12857 Create app tracking transparency unimodule
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/TrackingTransparencyScreen.tsx
  docs/pages/versions/unversioned/sdk/tracking-transparency.md
  docs/pages/versions/v41.0.0/sdk/tracking-transparency.md
  docs/public/static/data/unversioned/expo-tracking-transparency.json
  docs/public/static/data/v41.0.0/expo-tracking-transparency.json
  ios/Podfile.lock
  ios/versioned-react-native/ABI41_0_0/Expo/EXTrackingTransparency/ABI41_0_0EXTrackingTransparency.podspec
  ios/versioned-react-native/ABI41_0_0/Expo/EXTrackingTransparency/ABI41_0_0EXTrackingTransparency/ABI41_0_0EXTrackingPermissionRequester.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXTrackingTransparency/ABI41_0_0EXTrackingTransparency/ABI41_0_0EXTrackingPermissionRequester.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXTrackingTransparency/ABI41_0_0EXTrackingTransparency/ABI41_0_0EXTrackingTransparencyModule.h
  ios/versioned-react-native/ABI41_0_0/Expo/EXTrackingTransparency/ABI41_0_0EXTrackingTransparency/ABI41_0_0EXTrackingTransparencyModule.m
  ios/versioned-react-native/ABI41_0_0/Expo/EXTrackingTransparency/package.json
  ios/versioned-react-native/ABI41_0_0/dependencies.rb
  packages/expo-tracking-transparency/.eslintrc.js
  packages/expo-tracking-transparency/.npmignore
  packages/expo-tracking-transparency/CHANGELOG.md
  packages/expo-tracking-transparency/README.md
  packages/expo-tracking-transparency/app.plugin.js
  packages/expo-tracking-transparency/babel.config.js
  packages/expo-tracking-transparency/build/ExpoTrackingTransparency.d.ts
  packages/expo-tracking-transparency/build/ExpoTrackingTransparency.js
  packages/expo-tracking-transparency/build/ExpoTrackingTransparency.js.map
  packages/expo-tracking-transparency/build/TrackingTransparency.d.ts
  packages/expo-tracking-transparency/build/TrackingTransparency.js
  packages/expo-tracking-transparency/build/TrackingTransparency.js.map
  packages/expo-tracking-transparency/ios/EXTrackingTransparency.podspec
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingPermissionRequester.h
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingPermissionRequester.m
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingTransparencyModule.h
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingTransparencyModule.m
  packages/expo-tracking-transparency/package.json
  packages/expo-tracking-transparency/plugin/build/withTrackingTransparency.d.ts
  packages/expo-tracking-transparency/plugin/build/withTrackingTransparency.js
  packages/expo-tracking-transparency/plugin/jest.config.js
  packages/expo-tracking-transparency/plugin/src/__tests__/withTrackingTransparency-test.ts
  packages/expo-tracking-transparency/plugin/src/withTrackingTransparency.ts
  packages/expo-tracking-transparency/plugin/tsconfig.json
  packages/expo-tracking-transparency/src/ExpoTrackingTransparency.ts
  packages/expo-tracking-transparency/src/TrackingTransparency.ts
  packages/expo-tracking-transparency/src/__tests__/TrackingTransparency-test.ts
  packages/expo-tracking-transparency/tsconfig.json
  packages/expo-tracking-transparency/unimodule.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: 🤖 approved

#12936 [face-detector] Migrate interface to expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  ios/Podfile.lock
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/build.gradle
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewHelper.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/events/FaceDetectionErrorEvent.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/FaceDetectorAsyncTaskDelegate.java
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/FaceDetectorTask.java
  packages/expo-camera/ios/EXCamera.podspec
  packages/expo-camera/ios/EXCamera/EXCamera.m
  packages/expo-face-detector/CHANGELOG.md
  packages/expo-face-detector/android/build.gradle
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetector.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/ExpoFaceDetectorProvider.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/FaceDetectorModule.java
  packages/expo-face-detector/android/src/main/java/expo/modules/facedetector/tasks/FileFaceDetectionTask.java
  packages/expo-face-detector/ios/EXFaceDetector.podspec
  packages/expo-face-detector/ios/EXFaceDetector/EXFaceDetectorManager.h
  packages/expo-face-detector/ios/EXFaceDetector/EXFaceDetectorManager.m
  packages/expo-face-detector/ios/EXFaceDetector/EXFaceDetectorManagerProvider.h
  packages/expo-face-detector/ios/EXFaceDetector/EXFaceDetectorManagerProvider.m
  packages/expo-face-detector/package.json
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/facedetector/FaceDetector.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/facedetector/FaceDetectorInterface.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/facedetector/FaceDetectorProvider.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/facedetector/FaceDetectorProviderInterface.java
  packages/expo-modules-core/ios/Interfaces/FaceDetector/EXFaceDetectorManager.h
  packages/expo-modules-core/ios/Interfaces/FaceDetector/EXFaceDetectorManagerInterface.h
  packages/expo-modules-core/ios/Interfaces/FaceDetector/EXFaceDetectorManagerProvider.h
  packages/expo-modules-core/ios/Interfaces/FaceDetector/EXFaceDetectorManagerProviderInterface.h
  packages/expo/bundledNativeModules.json
  packages/react-native-unimodules/package.json
  packages/unimodules-face-detector-interface/CHANGELOG.md
  packages/unimodules-face-detector-interface/README.md
  packages/unimodules-face-detector-interface/android/.gitignore
  packages/unimodules-face-detector-interface/android/build.gradle
  packages/unimodules-face-detector-interface/android/src/main/AndroidManifest.xml
  packages/unimodules-face-detector-interface/android/src/main/java/org/unimodules/interfaces/facedetector/FaceDetectionError.java
  packages/unimodules-face-detector-interface/android/src/main/java/org/unimodules/interfaces/facedetector/FaceDetectionSkipped.java
  packages/unimodules-face-detector-interface/android/src/main/java/org/unimodules/interfaces/facedetector/FaceDetectionUnspecifiedError.java
  packages/unimodules-face-detector-interface/android/src/main/java/org/unimodules/interfaces/facedetector/FaceDetectorProvider.java
  packages/unimodules-face-detector-interface/android/src/main/java/org/unimodules/interfaces/facedetector/FacesDetectionCompleted.java
  packages/unimodules-face-detector-interface/index.js
  packages/unimodules-face-detector-interface/ios/UMFaceDetectorInterface.podspec
  packages/unimodules-face-detector-interface/ios/UMFaceDetectorInterface/UMFaceDetectorManagerProvider.h
  packages/unimodules-face-detector-interface/package.json
  packages/unimodules-face-detector-interface/unimodule.json
Labels: 🤖 warned

#12951 [clipboard] fix newlines not being copied on web
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/build/ExpoClipboard.web.js
  packages/expo-clipboard/build/ExpoClipboard.web.js.map
  packages/expo-clipboard/src/ExpoClipboard.web.ts
Labels: 🤖 approved

#12893 [bare-expo] Add detox testing for android
  .github/workflows/test-suite.yml
  CONTRIBUTING.md
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/app/src/androidTest/java/dev/expo/payments/DetoxTest.java
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainActivity.java
  apps/bare-expo/android/build.gradle
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/package.json
  apps/test-suite/tests/FirebaseCore.js
  yarn.lock
Labels: 🤖 approved

#12949 [font] Migrate interface to expo-modules-core
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/@unimodules/react-native-adapter/android/build.gradle
  packages/@unimodules/react-native-adapter/android/src/main/java/org/unimodules/adapters/react/services/FontManagerModule.java
  packages/@unimodules/react-native-adapter/ios/UMReactNativeAdapter.podspec
  packages/@unimodules/react-native-adapter/ios/UMReactNativeAdapter/Services/UMReactFontManager.m
  packages/expo-font/CHANGELOG.md
  packages/expo-font/android/build.gradle
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.java
  packages/expo-font/ios/EXFont.podspec
  packages/expo-font/ios/EXFont/EXFontLoader.m
  packages/expo-font/ios/EXFont/EXFontLoaderProcessor.h
  packages/expo-font/ios/EXFont/EXFontScaler.h
  packages/expo-font/ios/EXFont/Singletons/EXFontScalersManager.h
  packages/expo-font/ios/EXFont/Singletons/EXFontScalersManager.m
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/font/FontManager.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/font/FontManagerInterface.java
  packages/expo-modules-core/ios/Interfaces/Font/EXFontProcessorInterface.h
  packages/expo-modules-core/ios/Interfaces/Font/EXFontScalerInterface.h
  packages/expo-modules-core/ios/Interfaces/Font/EXFontScalersManagerInterface.h
  packages/expo/bundledNativeModules.json
  packages/react-native-unimodules/CHANGELOG.md
  packages/react-native-unimodules/package.json
  packages/unimodules-font-interface/CHANGELOG.md
  packages/unimodules-font-interface/README.md
  packages/unimodules-font-interface/android/.gitignore
  packages/unimodules-font-interface/android/build.gradle
  packages/unimodules-font-interface/android/src/main/AndroidManifest.xml
  packages/unimodules-font-interface/index.js
  packages/unimodules-font-interface/ios/UMFontInterface.podspec
  packages/unimodules-font-interface/ios/UMFontInterface/UMFontManagerInterface.h
  packages/unimodules-font-interface/ios/UMFontInterface/UMFontProcessorInterface.h
  packages/unimodules-font-interface/ios/UMFontInterface/UMFontScalerInterface.h
  packages/unimodules-font-interface/ios/UMFontInterface/UMFontScalersManagerInterface.h
  packages/unimodules-font-interface/package.json
  packages/unimodules-font-interface/unimodule.json
Labels: 🤖 warned

#12879 [ios][splash] remove autoHideAsync warning
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenController.m
Labels: 🤖 warned

#12962 [skip ci][home] add tracking transparency request to home
  home/screens/UserSettingsScreen.tsx
  packages/expo-tracking-transparency/CHANGELOG.md
  packages/expo-tracking-transparency/build/TrackingTransparency.js
  packages/expo-tracking-transparency/build/TrackingTransparency.js.map
  packages/expo-tracking-transparency/src/TrackingTransparency.ts
Labels: 🤖 approved

#12971 [dev-launcher] Fix app hanging on the splash screen on iOS.
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Headers/RCTBundleURLProvider+Private.h
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherBundleURLProviderInterceptor.swift
  packages/expo-dev-launcher/ios/Unsafe/RCTPackagerConnection+EXDevLauncherPackagerConnectionInterceptor.h
  packages/expo-dev-launcher/ios/Unsafe/RCTPackagerConnection+EXDevLauncherPackagerConnectionInterceptor.m
  packages/expo-dev-launcher/ios/expo-dev-launcher-Bridging-Header.h
Labels: 🤖 approved

#12991 Fix typos
  docs/pages/bare/using-libraries.md
  docs/pages/build-reference/how-tos.md
  docs/pages/clients/getting-started.md
  docs/pages/clients/installation.md
  docs/pages/expokit/expokit.md
  docs/pages/guides/assets.md
  docs/pages/guides/how-expo-works.md
  docs/pages/troubleshooting/application-has-not-been-registered.md
Labels: docs

#12989 Added terminal UI option to development mode guide
  docs/pages/workflow/development-mode.md
Labels: docs

#12953 [auth-session][notifications] Use originalFullName instead of currentFullName
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.ios.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/expo-auth-session/src/__tests__/SessionUrlProvider-test.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
  packages/jest-expo/src/preset/createMockConstants.js
Labels: 🤖 approved

#12955 [expo-constants][js] Ensure classic manifest originalFullName is used over id
  apps/native-component-list/src/screens/AuthSession/LegacyAuthSession.tsx
  home/utils/Environment.ts
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
Labels: 🤖 warned

#12569 [docs] add eslint plugin lodash import scope rule
  docs/.eslintrc.js
  docs/package.json
  docs/yarn.lock
Labels: docs

#12404 [docs] clarify docs manual local credentials for internal distribution
  docs/pages/build/internal-distribution.md
Labels: docs

#13006 Bump config plugins
  packages/expo-ads-admob/package.json
  packages/expo-ads-facebook/package.json
  packages/expo-app-auth/package.json
  packages/expo-apple-authentication/package.json
  packages/expo-av/package.json
  packages/expo-background-fetch/package.json
  packages/expo-barcode-scanner/package.json
  packages/expo-branch/package.json
  packages/expo-brightness/package.json
  packages/expo-calendar/package.json
  packages/expo-camera/package.json
  packages/expo-contacts/package.json
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo-document-picker/package.json
  packages/expo-facebook/package.json
  packages/expo-facebook/plugin/build/withFacebookAndroid.js
  packages/expo-facebook/plugin/build/withFacebookIOS.d.ts
  packages/expo-facebook/plugin/src/withFacebookAndroid.ts
  packages/expo-file-system/package.json
  packages/expo-image-picker/package.json
  packages/expo-local-authentication/package.json
  packages/expo-location/package.json
  packages/expo-media-library/package.json
  packages/expo-notifications/package.json
  packages/expo-payments-stripe/package.json
  packages/expo-screen-orientation/package.json
  packages/expo-sensors/package.json
  packages/expo-task-manager/package.json
  packages/expo-tracking-transparency/package.json
  packages/expo-updates/package.json
  packages/expo-yarn-workspaces/package.json
  packages/expo/package.json
  packages/jest-expo-puppeteer/package.json
  packages/jest-expo/package.json
  yarn.lock
Labels: 🤖 warned

#13037 chore(uuid): refactor to v7 import style
  home/api/__tests__/AuthSessions-test.js
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/src/FileSystem.ts
  packages/expo-notifications/build/ServerRegistrationModule.web.js
  packages/expo-notifications/build/ServerRegistrationModule.web.js.map
  packages/expo-notifications/build/presentNotificationAsync.js
  packages/expo-notifications/build/presentNotificationAsync.js.map
  packages/expo-notifications/build/scheduleNotificationAsync.js
  packages/expo-notifications/build/scheduleNotificationAsync.js.map
  packages/expo-notifications/src/ServerRegistrationModule.web.ts
  packages/expo-notifications/src/presentNotificationAsync.ts
  packages/expo-notifications/src/scheduleNotificationAsync.ts
  packages/expo-updates/scripts/createManifest.js
  packages/expo/build/environment/getInstallationIdAsync.js
  packages/expo/build/environment/getInstallationIdAsync.js.map
  packages/expo/src/environment/getInstallationIdAsync.ts
  tools/src/dynamic-macros/macros.ts
Labels: 🤖 warned

#13043 Update uuid dependency to v8.3.2
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/package.json
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/package.json
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/package.json
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/package.json
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/package.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/package.json
  packages/expo/package.json
  tools/package.json
  tools/yarn.lock
  yarn.lock
Labels: 🤖 approved

#13022 [image-loader] Migrate interface to expo-modules-core
  ios/Podfile.lock
  packages/@unimodules/react-native-adapter/android/build.gradle
  packages/expo-barcode-scanner/android/build.gradle
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.java
  packages/expo-barcode-scanner/ios/EXBarCodeScanner.podspec
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScannerModule.m
  packages/expo-camera/android/build.gradle
  packages/expo-camera/ios/EXCamera.podspec
  packages/expo-image-loader/android/build.gradle
  packages/expo-image-loader/android/src/main/java/expo/modules/imageloader/ImageLoaderModule.kt
  packages/expo-image-loader/ios/EXImageLoader.podspec
  packages/expo-image-loader/ios/EXImageLoader/EXImageLoader.h
  packages/expo-image-loader/ios/EXImageLoader/EXImageLoader.m
  packages/expo-image-manipulator/android/build.gradle
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.java
  packages/expo-image-manipulator/ios/EXImageManipulator.podspec
  packages/expo-image-manipulator/ios/EXImageManipulator/EXImageManipulatorModule.m
  packages/expo-image-picker/android/build.gradle
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/CompressionImageExporter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/imageloader/ImageLoader.java
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/imageloader/ImageLoaderInterface.java
  packages/expo-notifications/android/build.gradle
  packages/unimodules-image-loader-interface/CHANGELOG.md
  packages/unimodules-image-loader-interface/README.md
  packages/unimodules-image-loader-interface/android/.gitignore
  packages/unimodules-image-loader-interface/android/build.gradle
  packages/unimodules-image-loader-interface/android/src/main/AndroidManifest.xml
  packages/unimodules-image-loader-interface/index.js
  packages/unimodules-image-loader-interface/ios/UMImageLoaderInterface.podspec
  packages/unimodules-image-loader-interface/ios/UMImageLoaderInterface/UMImageLoaderInterface.h
  packages/unimodules-image-loader-interface/package.json
  packages/unimodules-image-loader-interface/unimodule.json
Labels: 🤖 warned

#13021 [dev-menu] Fix actions doesn't dismiss menu
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/ios/Interceptors/DevMenuKeyCommandsInterceptor.swift
Labels: 🤖 approved

#13023 [local-authentication][android] Fix promise won't be resolved if the user used a PIN
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.java
Labels: 🤖 approved

#13029 Remove deep imports from plugins
  packages/expo-ads-admob/CHANGELOG.md
  packages/expo-ads-admob/plugin/build/withAdMobIOS.d.ts
  packages/expo-ads-admob/plugin/src/withAdMobIOS.ts
  packages/expo-branch/CHANGELOG.md
  packages/expo-branch/plugin/build/withBranchAndroid.d.ts
  packages/expo-branch/plugin/build/withBranchAndroid.js
  packages/expo-branch/plugin/build/withBranchIOS.d.ts
  packages/expo-branch/plugin/build/withBranchIOS.js
  packages/expo-branch/plugin/src/withBranchAndroid.ts
  packages/expo-branch/plugin/src/withBranchIOS.ts
  packages/expo-facebook/CHANGELOG.md
  packages/expo-facebook/plugin/build/withFacebookAndroid.d.ts
  packages/expo-facebook/plugin/build/withFacebookAndroid.js
  packages/expo-facebook/plugin/build/withFacebookIOS.d.ts
  packages/expo-facebook/plugin/build/withFacebookIOS.js
  packages/expo-facebook/plugin/src/withFacebookAndroid.ts
  packages/expo-facebook/plugin/src/withFacebookIOS.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/plugin/build/withNotificationsAndroid.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
Labels: 🤖 approved

#13061 Bump config plugins, config, metro-config, xdl, webpack-config
  packages/expo-ads-admob/package.json
  packages/expo-ads-facebook/package.json
  packages/expo-app-auth/package.json
  packages/expo-apple-authentication/package.json
  packages/expo-av/package.json
  packages/expo-background-fetch/package.json
  packages/expo-barcode-scanner/package.json
  packages/expo-branch/package.json
  packages/expo-brightness/package.json
  packages/expo-calendar/package.json
  packages/expo-camera/package.json
  packages/expo-constants/package.json
  packages/expo-contacts/package.json
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo-document-picker/package.json
  packages/expo-facebook/package.json
  packages/expo-file-system/package.json
  packages/expo-image-picker/package.json
  packages/expo-local-authentication/package.json
  packages/expo-location/package.json
  packages/expo-media-library/package.json
  packages/expo-notifications/package.json
  packages/expo-notifications/plugin/build/withNotificationsAndroid.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
  packages/expo-payments-stripe/package.json
  packages/expo-screen-orientation/package.json
  packages/expo-sensors/package.json
  packages/expo-task-manager/package.json
  packages/expo-tracking-transparency/package.json
  packages/expo-updates/package.json
  packages/expo-yarn-workspaces/package.json
  packages/expo/package.json
  packages/jest-expo-puppeteer/package.json
  packages/jest-expo/package.json
  yarn.lock
Labels: 🤖 warned

#13063 [ci][tools] Forbid adding large files and gifs to the repo
  tools/package.json
  tools/src/Git.ts
  tools/src/code-review/index.ts
  tools/src/code-review/reports.ts
  tools/src/code-review/reviewers/reviewForbiddenFiles.ts
  tools/yarn.lock
Labels: 🤖 rejected

#13069 [danger] Remove danger from the packages workspace
  .github/CODEOWNERS
  dangerfile.ts
  packages/danger/.eslintrc.js
  packages/danger/babel.config.js
  packages/danger/build/AndroidPermissionsChecker.d.ts
  packages/danger/build/AndroidPermissionsChecker.js
  packages/danger/build/AndroidPermissionsChecker.js.map
  packages/danger/build/ChangelogChecker.d.ts
  packages/danger/build/ChangelogChecker.js
  packages/danger/build/ChangelogChecker.js.map
  packages/danger/build/GithubApiWrapper.d.ts
  packages/danger/build/GithubApiWrapper.js
  packages/danger/build/GithubApiWrapper.js.map
  packages/danger/build/PullRequestManager.d.ts
  packages/danger/build/PullRequestManager.js
  packages/danger/build/PullRequestManager.js.map
  packages/danger/build/Utils.d.ts
  packages/danger/build/Utils.js
  packages/danger/build/Utils.js.map
  packages/danger/build/index.d.ts
  packages/danger/build/index.js
  packages/danger/build/index.js.map
  packages/danger/package.json
  packages/danger/src/AndroidPermissionsChecker.ts
  packages/danger/src/ChangelogChecker.ts
  packages/danger/src/GithubApiWrapper.ts
  packages/danger/src/PullRequestManager.ts
  packages/danger/src/Utils.ts
  packages/danger/src/__tests__/PullRequestManager.test.ts
  packages/danger/src/__tests__/Utils.test.ts
  packages/danger/src/index.ts
  packages/danger/src/ts-declarations/danger.d.ts
  packages/danger/tsconfig.json
  yarn.lock
Labels: 🤖 approved

#13000 [dev-launcher] Update footer style on main screen
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/res/drawable-mdpi/bundle_assets_settingsfilledicon.png
  packages/expo-dev-launcher/android/src/debug/res/drawable-mdpi/bundle_assets_userfilledicon.png
  packages/expo-dev-launcher/bundle/assets/settings-filled-icon.png
  packages/expo-dev-launcher/bundle/assets/user-filled-icon.png
  packages/expo-dev-launcher/bundle/components/BottomTabs.tsx
  packages/expo-dev-launcher/bundle/screens/LauncherMainScreen.tsx
  packages/expo-dev-launcher/ios/assets/bundle/assets/settings-filled-icon.png
  packages/expo-dev-launcher/ios/assets/bundle/assets/user-filled-icon.png
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: 🤖 warned

#12983 [dev-menu][android] Add websocket support
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/devtools/DevMenuDevToolsDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuPackagerCommandHandlersSwapper.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/websockets/DevMenuCommandHandlersProvider.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: 🤖 warned

#13042 [dev-menu] Add js runtime information
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/views/DevMenuAppInfo.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: 🤖 approved

#13067 [docs] Fixes typo in uploading-apps.md
  docs/pages/distribution/uploading-apps.md
Labels: 🤖 approved

#12937 Add page on sharing before shipping
  docs/pages/guides/sharing-preview-releases.md
  docs/public/static/videos/guides/load-project.mp4
Labels: 🤖 approved

#13030 [expo-updates-interface] add package and Android interface
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/README.md
  packages/expo-updates-interface/android/.gitignore
  packages/expo-updates-interface/android/build.gradle
  packages/expo-updates-interface/android/src/main/AndroidManifest.xml
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.java
  packages/expo-updates-interface/index.js
  packages/expo-updates-interface/package.json
  packages/expo-updates-interface/unimodule.json
Labels: 🤖 approved

#13032 [expo-updates][android] implement UpdatesDevLauncherController
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.java
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.java
  packages/expo-updates/package.json
Labels: 🤖 approved

#13072 [docs] update EAS Build docs
  docs/pages/app-signing/local-credentials.md
  docs/pages/build-reference/android-builds.md
  docs/pages/build-reference/build-configuration.md
  docs/pages/build-reference/how-tos.md
  docs/pages/build-reference/ios-builds.md
  docs/pages/build-reference/limitations.md
  docs/pages/build/eas-json.md
  docs/pages/build/internal-distribution.md
  docs/pages/build/setup.md
  docs/public/static/images/eas-build/configure/01-configure-platform.png
  docs/public/static/images/eas-build/configure/02-configure-app-ids.png
  docs/public/static/images/eas-build/configure/03-next-steps.png
  docs/public/static/images/eas-build/expo-init.png
  docs/public/static/images/eas-build/walkthrough/02-init-complete.png
  docs/public/static/images/eas-build/walkthrough/03-set-application-ids.png
  docs/public/static/images/eas-build/walkthrough/04-configure-platform.png
  docs/public/static/images/eas-build/walkthrough/05-configure-android.png
  docs/public/static/images/eas-build/walkthrough/06-configure-xcode.png
  docs/public/static/images/eas-build/walkthrough/07-configure-commit.png
  docs/public/static/images/eas-build/walkthrough/08-configure-complete.png
  docs/public/static/images/eas-build/walkthrough/09-build-android-keystore.png
  docs/public/static/images/eas-build/walkthrough/10-build-android-queued.png
  docs/public/static/images/eas-build/walkthrough/11-build-android-logs.png
  docs/public/static/images/eas-build/walkthrough/12-build-android-finished-web.png
  docs/public/static/images/eas-build/walkthrough/13-build-android-finished-terminal.png
  docs/public/static/images/eas-build/walkthrough/14-build-ios-finished-terminal.png
  docs/public/static/images/eas-build/walkthrough/15-build-ios-finished-web.png
Labels: 🤖 approved

#13071 [kernel] Fix `getInitialURL` returns `https://expo.io:443/<team>/<slug>` instead of null in standalone app
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.java
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.java
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.m
  ios/Exponent/Versioned/Core/Internal/EXLinkingManager.m
Labels: 🤖 approved

#13077 [docs] expo-tracking-transparency: add warning about NSUserTrackingUsageDescription
  docs/pages/versions/unversioned/sdk/tracking-transparency.md
  docs/pages/versions/v41.0.0/sdk/tracking-transparency.md
Labels: 🤖 approved

#13085 Update notifications.md
  docs/pages/versions/unversioned/sdk/notifications.md
Labels: 🤖 approved

#13080 [spelling] azimut -> azimuth
  android/versioned-abis/expoview-abi39_0_0/src/main/java/abi39_0_0/expo/modules/location/LocationModule.java
  android/versioned-abis/expoview-abi40_0_0/src/main/java/abi40_0_0/expo/modules/location/LocationModule.java
  android/versioned-abis/expoview-abi41_0_0/src/main/java/abi41_0_0/expo/modules/location/LocationModule.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
Labels: 🤖 warned

#13031 [expo-dev-launcher][android] add ability to load published projects via expo-updates
  packages/expo-dev-client/dependencies.js
  packages/expo-dev-client/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherExpoAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherLocalAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherPublishedAppLoader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherReactNativeAppLoader.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifest.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParser.kt
  packages/expo-dev-launcher/bundle/components/UrlInput.tsx
Labels: 🤖 warned

#13002 [dev-launcher][ios] Show error screen on deep link failure
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: suggestions

#13088 [expo-updates-interface][ios] add podspec and EXUpdatesInterface protocol
  packages/expo-updates-interface/ios/EXUpdatesInterface.podspec
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesInterface.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
Labels: bot: suggestions

#12935 [dev-menu] Fix spamming profile or settings pushes multiple screens
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/components/ListLink.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: bot: passed checks

#13041 [dev-menu] Integrate javascript inspector
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherPackagerConnectionSettings.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/api/DevMenuMetroClient.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/devtools/DevMenuDevToolsDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuPackagerConnectionSettings.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/websockets/DevMenuCommandHandlersProvider.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: passed checks

#13087 [expo-dev-launcher][ios] add ability to load published projects via expo-updates
  packages/expo-dev-client/expo-dev-client.podspec
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifest.swift
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestParser.h
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestParser.m
Labels: bot: suggestions
