Repository expo/expo, pull requests merged in 2022-09, with the labels that each got.

#18916 [docs] convert app to ESM
  docs/.eslintrc.cjs
  docs/common/error-utilities.ts
  docs/components/DocumentationPage.tsx
  docs/constants/FeatureFlags.cjs
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/constants/versions.cjs
  docs/jest.config.js
  docs/mdx-plugins/remark-export-headings.cjs
  docs/mdx-plugins/remark-export-headings.test.js
  docs/mdx-plugins/remark-export-yaml.cjs
  docs/mdx-plugins/remark-export-yaml.test.js
  docs/mdx-plugins/remark-link-rewrite.cjs
  docs/mdx-plugins/remark-link-rewrite.test.js
  docs/next.config.js
  docs/package.json
  docs/scripts/create-sitemap.cjs
  docs/scripts/test-links.js
  docs/ui/components/Navigation/ApiVersionSelect.tsx
  docs/ui/components/Search/Search.tsx
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/VersionSelector.tsx
Labels: bot: passed checks

#18923 [docs] APISection: small tweaks for the display, fix spacing
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#18922 [docs][packages] update typos and links in doc comments
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v43.0.0/expo-app-loading.json
  docs/public/static/data/v43.0.0/expo-media-library.json
  docs/public/static/data/v43.0.0/expo-screen-capture.json
  docs/public/static/data/v43.0.0/expo-sms.json
  docs/public/static/data/v43.0.0/expo-sqlite.json
  docs/public/static/data/v46.0.0/expo-auth-session.json
  docs/public/static/data/v46.0.0/expo-camera.json
  packages/expo-auth-session/build/AuthRequest.types.d.ts
  packages/expo-auth-session/build/AuthRequest.types.js.map
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/src/AuthRequest.types.ts
  packages/expo-auth-session/src/AuthSession.types.ts
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/Camera.types.ts
Labels: bot: suggestions

#18931 feat(docs): Update configuring-statusbar.md
  docs/pages/guides/configuring-statusbar.md
Labels: bot: passed checks

#18941 [docs][linking]: Fix link for deep links with Branch
  docs/pages/guides/linking.md
Labels: docs, bot: passed checks

#18943 [docs] fixes typo in promptToConfigurePushNotifications
  docs/pages/build-reference/eas-json.md
Labels: bot: passed checks

#18917 changed minInterval value for testing in android
  docs/pages/versions/unversioned/sdk/background-fetch.md
Labels: docs, bot: passed checks

#18944 changed minInterval value for testing in android
  docs/pages/versions/v46.0.0/sdk/background-fetch.md
Labels: bot: passed checks

#18945 [docs] fixes typo EAS Build Limitations page
  docs/pages/build-reference/limitations.md
Labels: docs, bot: passed checks

#18952 [docs][adopting-prebuild]: Fix keyboard shortcut reference
  docs/pages/guides/adopting-prebuild.md
Labels: bot: passed checks

#18946 [camera] Fix native module exports
  packages/expo-camera/build/ExponentCameraManager.d.ts.map
  packages/expo-camera/build/ExponentCameraManager.js
  packages/expo-camera/build/ExponentCameraManager.js.map
  packages/expo-camera/src/ExponentCameraManager.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions

#18961 [av] Fix native module exports
  packages/expo-av/build/ExpoVideoManager.d.ts
  packages/expo-av/build/ExpoVideoManager.d.ts.map
  packages/expo-av/build/ExpoVideoManager.js
  packages/expo-av/build/ExpoVideoManager.js.map
  packages/expo-av/src/ExpoVideoManager.ts
Labels: bot: suggestions

#18949 [docs] Update Notifications snack/ doc to ensure compatibility with Android 13
  docs/pages/versions/unversioned/sdk/notifications.md
Labels: bot: passed checks

#18903 feat(docs): update SDK pages to reflect new CLI
  docs/pages/build-reference/ios-capabilities.md
  docs/pages/versions/unversioned/index.md
  docs/pages/versions/unversioned/sdk/apple-authentication.md
  docs/pages/versions/unversioned/sdk/auth-session.md
  docs/pages/versions/unversioned/sdk/background-fetch.md
  docs/pages/versions/unversioned/sdk/bar-code-scanner.md
  docs/pages/versions/unversioned/sdk/build-properties.md
  docs/pages/versions/unversioned/sdk/crypto.md
  docs/pages/versions/unversioned/sdk/document-picker.md
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/unversioned/sdk/imagepicker.md
  docs/pages/versions/unversioned/sdk/in-app-purchases.md
  docs/pages/versions/unversioned/sdk/localization.md
  docs/pages/versions/unversioned/sdk/media-library.md
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/unversioned/sdk/reanimated.md
  docs/pages/versions/unversioned/sdk/screen-orientation.md
  docs/pages/versions/unversioned/sdk/sharing.md
  docs/pages/versions/unversioned/sdk/sqlite.md
  docs/pages/versions/unversioned/sdk/stripe.md
  docs/pages/versions/unversioned/sdk/tracking-transparency.md
  docs/pages/versions/unversioned/sdk/updates.md
Labels: bot: passed checks

#18821 Update build.md
  docs/pages/development/build.md
Labels: docs, bot: passed checks

#18929 feat(docs): Update errors.md
  docs/pages/guides/errors.md
Labels: bot: passed checks

#18942 feat(docs): No generic "Expo app" usage
  docs/pages/development/introduction.md
  docs/pages/distribution/app-stores.md
  docs/pages/distribution/app-transfers.md
  docs/pages/distribution/custom-updates-server.md
  docs/pages/get-started/errors.md
  docs/pages/guides/authentication.md
  docs/pages/guides/config-plugins.md
  docs/pages/guides/environment-variables.md
  docs/pages/guides/how-expo-works.md
  docs/pages/guides/monorepos.md
  docs/pages/guides/typescript.md
  docs/pages/guides/using-bugsnag.md
  docs/pages/guides/using-custom-fonts.md
  docs/pages/guides/using-firebase.md
  docs/pages/introduction/faq.md
  docs/pages/push-notifications/overview.md
  docs/pages/push-notifications/using-fcm.md
  docs/pages/tutorial/configuration.md
  docs/pages/ui-programming/react-native-toast.md
  docs/pages/workflow/debugging.md
  docs/pages/workflow/glossary-of-terms.md
  docs/pages/workflow/logging.md
  docs/pages/workflow/using-libraries.md
Labels: bot: passed checks

#18926 feat(docs): update distribution docs
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/deploy.sh
  docs/pages/archive/classic-updates/building-standalone-apps.md
  docs/pages/distribution/index.js
  docs/pages/distribution/introduction.md
  docs/pages/distribution/uploading-apps.md
  docs/pages/eas-metadata/getting-started.md
  docs/pages/submit/index.js
  docs/pages/submit/ios.md
  docs/pages/workflow/run-on-device.md
  docs/scripts/test-links.js
Labels: bot: passed checks

#18881 Update firebase docs
  docs/pages/guides/setup-native-firebase.md
  docs/pages/guides/using-firebase.md
Labels: docs, bot: passed checks

#18971 [expo] pin @sentry/react-native version
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#18973 feat(docs): combine using libraries docs
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/bare/using-libraries.md
  docs/pages/workflow/using-libraries.md
Labels: bot: passed checks

#18976 chore(docs): delete using-the-documentation
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/next-steps/using-the-documentation.md
  docs/pages/tutorial/follow-up.md
Labels: bot: passed checks

#18977 reuse community doc component
  docs/pages/index.tsx
  docs/pages/next-steps/community.md
Labels: bot: passed checks

#18975 feat(docs): move security doc from distribution to app signing
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/app-signing/app-credentials.md
  docs/pages/app-signing/managed-credentials.md
  docs/pages/app-signing/security.md
  docs/pages/archived/adhoc-builds.md
Labels: bot: passed checks

#18972 feat(docs): permissions update
  docs/pages/build-reference/app-versions.md
  docs/pages/guides/permissions.md
  docs/pages/versions/unversioned/sdk/map-view.md
  docs/pages/workflow/run-on-device.md
  docs/public/static/data/unversioned/expo-local-authentication.json
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/build/LocalAuthentication.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/src/LocalAuthentication.ts
Labels: bot: passed checks

#18983 feat(expo): drop console.warn and console.error wrappers
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.d.ts
  packages/expo/build/Expo.fx.d.ts.map
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/Expo.fx.web.d.ts
  packages/expo/build/Expo.fx.web.d.ts.map
  packages/expo/build/Expo.fx.web.js
  packages/expo/build/Expo.fx.web.js.map
  packages/expo/build/environment/react-native-logs.fx.d.ts
  packages/expo/build/environment/react-native-logs.fx.d.ts.map
  packages/expo/build/environment/react-native-logs.fx.js
  packages/expo/build/environment/react-native-logs.fx.js.map
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/Expo.fx.web.tsx
  packages/expo/src/environment/react-native-logs.fx.ts
Labels: bot: passed checks

#18986 [docs][permissions]: Update keyboard shortcut references
  docs/pages/guides/permissions.md
Labels: bot: passed checks

#18978 feat(docs): rewrite using-expo-client
  docs/pages/bare/using-expo-client.md
  docs/public/static/images/expo-go-fallback.png
Labels: bot: passed checks

#18906 fix(expo): fixed native entry resolving in release builds
  packages/expo/CHANGELOG.md
  packages/expo/scripts/resolveAppEntry.js
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#18979 feat(docs): consolidate web docs
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/bare/using-web.md
  docs/pages/guides/running-in-the-browser.md
  docs/pages/workflow/web.md
  docs/public/static/videos/bare-web.mp4
Labels: bot: passed checks

#18993 Better practice for use of initializeApp()
  docs/pages/guides/using-firebase.md
Labels: bot: passed checks

#18988 [tools] Fix versioning packages with common C++ code
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-gl/EXGL.podspec
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogger.swift
  tools/src/versioning/ios/transforms/expoModulesTransforms.ts
  tools/src/versioning/ios/versionExpoModules.ts
Labels: bot: suggestions

#18995 [docs] add missing import to workflow/using-libraries
  docs/pages/workflow/using-libraries.md
Labels: bot: passed checks

#19001 [docs] fix Reddit community description
  docs/pages/index.tsx
Labels: bot: passed checks

#18939 [dev-launcher][home][test-suite] remove deprecated removeEventListener
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/tests/Linking.js
  apps/test-suite/tests/Notifications.js
  home/navigation/Navigation.tsx
  home/screens/GeofencingScreen.tsx
  home/screens/LocationDiagnosticsScreen.tsx
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherAuth.ts
Labels: bot: passed checks

#18927 feat(docs): Update app-stores.md
  docs/pages/distribution/app-stores.md
Labels: bot: passed checks

#19007 increase discoverability of adopting prebuild
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/workflow/prebuild.md
Labels: bot: passed checks

#19008 Update ios-capabilities.md
  docs/pages/build-reference/ios-capabilities.md
Labels: bot: passed checks

#18974 feat(docs): update bare docs
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/bare/existing-apps.md
  docs/pages/bare/exploring-bare-workflow.md
  docs/pages/bare/hello-world.md
  docs/pages/bare/installing-expo-modules.md
  docs/pages/bare/installing-unimodules.md
  docs/pages/bare/migrating-from-expokit.md
  docs/pages/bare/unimodules-full-list.md
  docs/pages/guides/config-plugins.md
  docs/pages/versions/unversioned/index.md
  docs/pages/versions/v43.0.0/index.md
  docs/pages/versions/v44.0.0/index.md
  docs/pages/versions/v45.0.0/index.md
  docs/pages/versions/v46.0.0/index.md
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.md
  docs/public/static/videos/exploring-bare/buildopen.mp4
  docs/public/static/videos/exploring-bare/clientopen.mp4
  docs/public/static/videos/exploring-bare/custom.mp4
  docs/public/static/videos/exploring-bare/eject.mp4
  docs/public/static/videos/exploring-bare/expoinstall.mp4
  docs/public/static/videos/exploring-bare/guard.mp4
  docs/public/static/videos/exploring-bare/init.mp4
  docs/public/static/videos/exploring-bare/setup.mp4
  docs/public/static/videos/exploring-bare/web.mp4
Labels: bot: passed checks

#18968 feat(docs): clean up app transfer docs
  docs/pages/distribution/app-transfers.md
Labels: bot: passed checks

#18801 [docs] Fixed typo in usage example for customisable reCaptcha
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/v45.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.md
Labels: bot: passed checks

#19002 [docs] ensure same height of community cells
  docs/ui/components/Home/Cells.tsx
Labels: bot: passed checks

#18935 feat(docs): new linking guide
  docs/components/plugins/ConfigSection/ConfigReactNative.tsx
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/guides/deep-linking.md
  docs/pages/guides/linking.md
  docs/pages/versions/unversioned/sdk/linking.md
  docs/pages/versions/unversioned/sdk/webbrowser.md
  docs/pages/versions/v43.0.0/sdk/webbrowser.md
  docs/pages/versions/v44.0.0/sdk/webbrowser.md
  docs/pages/versions/v45.0.0/sdk/webbrowser.md
  docs/pages/versions/v46.0.0/sdk/webbrowser.md
  docs/public/static/data/unversioned/expo-linking.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/src/Linking.ts
Labels: bot: passed checks

#18982 feat(docs): updated additional resources
  docs/pages/next-steps/additional-resources.md
Labels: bot: passed checks

#18955 [docs] Update EAS Update migration doc to mention Update.channel
  docs/pages/eas-update/migrate-to-eas-update.md
Labels: bot: passed checks

#18985 [ncl] update Expo wordmark asset
  apps/native-component-list/assets/images/exponent-wordmark.png
  apps/native-component-list/assets/images/logo-wordmark.png
  apps/native-component-list/src/screens/MaskedViewScreen.tsx
Labels: bot: passed checks

#18399 [ci] Improve EAS Build workflows for Expo Go
  .github/actions/eas-build/action.yml
  .github/workflows/client-android-eas.yml
  .github/workflows/client-ios-eas.yml
  apps/eas-expo-go/.gitignore
  apps/eas-expo-go/eas.json
  apps/eas-expo-go/scripts/eas-build-post-install.sh
  apps/eas-expo-go/scripts/eas-build-pre-install.sh
Labels: bot: passed checks

#19004 [modules][ios] Restrict view definition elements
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Objects/ObjectDefinitionComponents.swift
  packages/expo-modules-core/ios/Swift/Views/ViewDefinition.swift
  packages/expo-modules-core/ios/Tests/ViewDefinitionSpec.swift
Labels: bot: passed checks

#18911 [expo-print] Fix crash when writing PDF
  packages/expo-print/CHANGELOG.md
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.kt
Labels: bot: passed checks

#19031 [docs][app-signin]: Reorder to iOS - Android for concistency
  docs/pages/app-signing/local-credentials.md
Labels: bot: passed checks

#18882 [docs] API Reference: updated headers levels and titles on various pages
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/unversioned/sdk/gesture-handler.md
  docs/pages/versions/unversioned/sdk/imagepicker.md
  docs/pages/versions/unversioned/sdk/intent-launcher.md
  docs/pages/versions/unversioned/sdk/map-view.md
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/unversioned/sdk/reanimated.md
  docs/pages/versions/v45.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v45.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v45.0.0/sdk/gesture-handler.md
  docs/pages/versions/v45.0.0/sdk/imagepicker.md
  docs/pages/versions/v45.0.0/sdk/intent-launcher.md
  docs/pages/versions/v45.0.0/sdk/map-view.md
  docs/pages/versions/v45.0.0/sdk/notifications.md
  docs/pages/versions/v45.0.0/sdk/reanimated.md
  docs/pages/versions/v46.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v46.0.0/sdk/gesture-handler.md
  docs/pages/versions/v46.0.0/sdk/imagepicker.md
  docs/pages/versions/v46.0.0/sdk/intent-launcher.md
  docs/pages/versions/v46.0.0/sdk/map-view.md
  docs/pages/versions/v46.0.0/sdk/notifications.md
  docs/pages/versions/v46.0.0/sdk/reanimated.md
Labels: bot: passed checks

#19040 Fix link to "adopting prebuild"
  docs/pages/workflow/prebuild.md
Labels: bot: passed checks

#19038 fix(cli): hide server rate limiting warning during `npx expo start`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
Labels: bot: passed checks

#18908 [firebase] Bump firebase native versions for our firebase packages
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  packages/expo-firebase-analytics/CHANGELOG.md
  packages/expo-firebase-analytics/android/build.gradle
  packages/expo-firebase-analytics/ios/EXFirebaseAnalytics.podspec
  packages/expo-firebase-core/CHANGELOG.md
  packages/expo-firebase-core/android/build.gradle
  packages/expo-firebase-core/ios/EXFirebaseCore.podspec
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#19015 [core] Added `REACT_NATIVE_DOWNLOADS_DIR` environment variable support
  .github/actions/expo-caches/action.yml
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/android-unit-tests.yml
  .github/workflows/client-android.yml
  .github/workflows/test-suite.yml
  .github/workflows/updates-e2e.yml
  android/expoview/build.gradle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
Labels: bot: passed checks

#19045 [docs] typo on Config Plugins
  docs/pages/guides/config-plugins.md
Labels: bot: passed checks

#18921 [ENG-3865][docs] update docs on EAS Build artifacts
  docs/pages/build-reference/android-builds.md
  docs/pages/build-reference/ios-builds.md
  docs/scripts/schemas/unversioned/eas-json-build-android-schema.js
  docs/scripts/schemas/unversioned/eas-json-build-common-schema.js
  docs/scripts/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks

#19035 [modules][ios] Introduce either types for function arguments
  packages/expo-modules-core/ios/Swift/Convertibles/Either.swift
  packages/expo-modules-core/ios/Tests/EitherSpec.swift
Labels: bot: suggestions

#19051 [docs] replace invalid headings, remove unnecessary <br/>s
  docs/pages/bare/installing-expo-modules.md
  docs/pages/bare/installing-updates.md
  docs/pages/build-reference/caching.md
  docs/pages/build-reference/limitations.md
  docs/pages/guides/linking.md
  docs/pages/guides/using-sentry.md
  docs/pages/versions/unversioned/sdk/auth-session.md
  docs/pages/versions/unversioned/sdk/captureRef.md
  docs/pages/versions/v43.0.0/sdk/auth-session.md
  docs/pages/versions/v43.0.0/sdk/captureRef.md
  docs/pages/versions/v43.0.0/sdk/facebook-ads.md
  docs/pages/versions/v44.0.0/sdk/auth-session.md
  docs/pages/versions/v44.0.0/sdk/captureRef.md
  docs/pages/versions/v44.0.0/sdk/facebook-ads.md
  docs/pages/versions/v45.0.0/sdk/auth-session.md
  docs/pages/versions/v45.0.0/sdk/captureRef.md
  docs/pages/versions/v45.0.0/sdk/facebook-ads.md
  docs/pages/versions/v46.0.0/sdk/auth-session.md
  docs/pages/versions/v46.0.0/sdk/captureRef.md
  docs/pages/workflow/expo-cli.md
  docs/pages/workflow/using-libraries.md
Labels: bot: passed checks

#19048 [ios] Fix mismatched Firebase versions in Expo Go
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile
  ios/Podfile.lock
  ios/versioned-react-native/ABI45_0_0/Expo/ExpoKit/ABI45_0_0ExpoKit.podspec
  ios/versioned-react-native/ABI46_0_0/Expo/ExpoKit/ABI46_0_0ExpoKit.podspec
  ios/versioned/sdk45/EXAdsAdMob/ABI45_0_0EXAdsAdMob.podspec.json
  ios/versioned/sdk45/EXAdsAdMob/EXAdsAdMob/ABI45_0_0EXAdsAdMob.m
  ios/versioned/sdk45/EXAdsAdMob/EXAdsAdMob/ABI45_0_0EXAdsGAMBannerView.m
  ios/versioned/sdk45/EXFirebaseAnalytics/ABI45_0_0EXFirebaseAnalytics.podspec.json
  ios/versioned/sdk45/EXFirebaseCore/ABI45_0_0EXFirebaseCore.podspec.json
  ios/versioned/sdk46/EXFirebaseAnalytics/ABI46_0_0EXFirebaseAnalytics.podspec.json
  ios/versioned/sdk46/EXFirebaseCore/ABI46_0_0EXFirebaseCore.podspec.json
Labels: bot: passed checks

#19011 [docs][dev-client] update eas-update to include extensions panel info…
  docs/pages/eas-update/expo-dev-client.md
  docs/public/static/images/dev-client/extensions-panel.png
Labels: bot: passed checks

#19036 Update routing-and-navigation.md
  docs/pages/guides/routing-and-navigation.md
Labels: bot: passed checks

#19056 [docs] remove deprecated navigation file
  docs/components/DocumentationPage.tsx
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/ui/components/Sidebar/SidebarSection.tsx
Labels: bot: passed checks

#18963 [dev-client] update config plugin to remove exp+ scheme from autoVeri…
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/plugin/build/withGeneratedAndroidScheme.d.ts
  packages/expo-dev-client/plugin/build/withGeneratedAndroidScheme.js
  packages/expo-dev-client/plugin/src/__tests__/withGeneratedAndroidScheme-test.ts
  packages/expo-dev-client/plugin/src/withGeneratedAndroidScheme.ts
Labels: bot: passed checks

#19023 Update customizing-metro.md
  docs/pages/guides/customizing-metro.md
  docs/pages/guides/customizing-webpack.md
Labels: bot: passed checks

#19025 created an introduction doc for explaining what `expo` is
  docs/constants/navigation.cjs
  docs/pages/introduction/expo.md
  docs/pages/introduction/index.js
Labels: bot: passed checks

#19058 [docs][expo-updates]: Add code syntax highlighting
  docs/pages/bare/installing-updates.md
Labels: bot: passed checks

#19061 drop electron and preact guides
  docs/constants/navigation.cjs
  docs/pages/guides/using-electron.md
  docs/pages/guides/using-preact.md
Labels: bot: passed checks

#19012 [docs][development/getting-started]: Add a note about rebuilding the dev client
  docs/pages/development/getting-started.md
Labels: bot: passed checks

#19000 [ENG-3865][docs] E2E tests: describe uploading screenshots from EAS Build
  docs/pages/build-reference/e2e-tests.md
  docs/public/static/images/eas-build/tests/04-artifacts.png
Labels: bot: passed checks

#18913 [expo] add getNativeModuleIfExists
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.d.ts.map
  packages/expo/build/Expo.js
  packages/expo/build/Expo.js.map
  packages/expo/build/proxies/NativeModules.d.ts
  packages/expo/build/proxies/NativeModules.d.ts.map
  packages/expo/build/proxies/NativeModules.js
  packages/expo/build/proxies/NativeModules.js.map
  packages/expo/src/Expo.ts
  packages/expo/src/proxies/NativeModules.ts
Labels: bot: passed checks

#19054 [module][Android] Add `android.graphics.Color` converter
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ColorTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/BasicTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/ColorTypeConverterTest.kt
Labels: bot: suggestions

#19067 Remove unnecessary pod dependencies from expo-av
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV.podspec
Labels: bot: passed checks

#19063 [tools] Ignore versioned and vendored Swift code when linting
  tools/src/code-review/reviewers/lintSwiftFiles.ts
Labels: bot: passed checks

#19059 [docs][getting-started]: Update Getting started pages to use new local CLI
  docs/pages/get-started/create-a-new-app.md
  docs/pages/get-started/installation.md
Labels: bot: passed checks

#19076 [tools] bump and clean up dependencies
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#17130 [font] Fix loading fonts on web and Next.js
  packages/expo-font/build/Font.types.d.ts
  packages/expo-font/build/Font.types.d.ts.map
  packages/expo-font/build/Font.types.js.map
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/src/Font.types.ts
  packages/expo-font/src/FontLoader.web.ts
  packages/expo-font/src/__tests__/FontLoader-test.web.ts
Labels: bot: suggestions

#19073 [docs] Use npx install for InstallSection except on SDK 43, 44, and 45 versioned docs
  docs/README.md
  docs/components/plugins/InstallSection.tsx
Labels: bot: passed checks

#19010 [dev-launcher] ui updates for landscape orientation
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/AndroidManifest.xml
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
  packages/expo-dev-launcher/bundle/components/ScreenContainer.tsx
  packages/expo-dev-launcher/bundle/screens/BranchesScreen.tsx
  packages/expo-dev-launcher/bundle/screens/ExtensionsScreen.tsx
  packages/expo-dev-launcher/bundle/screens/ExtensionsStack.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/bundle/screens/UpdatesScreen.tsx
Labels: bot: passed checks

#18957 [docs][tutorial]: Fix code examples in Image Picker
  docs/pages/tutorial/image-picker.md
  docs/public/static/examples/unversioned/tutorial/image-picker-log.js
  docs/public/static/examples/unversioned/tutorial/image-picker-show.js
  docs/public/static/examples/v43.0.0/tutorial/image-picker-log.js
  docs/public/static/examples/v43.0.0/tutorial/image-picker-show.js
  docs/public/static/examples/v44.0.0/tutorial/image-picker-log.js
  docs/public/static/examples/v44.0.0/tutorial/image-picker-show.js
  docs/public/static/examples/v45.0.0/tutorial/image-picker-log.js
  docs/public/static/examples/v45.0.0/tutorial/image-picker-show.js
  docs/public/static/examples/v46.0.0/tutorial/image-picker-log.js
  docs/public/static/examples/v46.0.0/tutorial/image-picker-show.js
Labels: bot: passed checks

#18987 [docs][writing-style-guide]: Add a guideline to avoid using workflows
  guides/Expo Documentation Writing Style Guide.md
Labels: bot: passed checks

#19082 [docs][firebase-analytics]: Add a note about native Firebase SDK
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/pages/versions/v43.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v44.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v45.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v46.0.0/sdk/firebase-analytics.md
Labels: bot: passed checks

#19003 [docs] BoxLink: support icons
  docs/pages/eas/index.md
  docs/pages/submit/introduction.md
  docs/ui/components/BoxLink/index.tsx
Labels: bot: passed checks

#19089 [docs] Search: transform URLs when running in dev mode
  docs/ui/components/Search/Search.tsx
Labels: bot: passed checks

#19079 [docs] iOS Simulator: small tweaks and fixes
  docs/pages/workflow/ios-simulator.md
Labels: bot: passed checks

#19055 [ios] Update stripe-react-native to 0.18.1 to fix compilation errors in Xcode 14
  CHANGELOG.md
  ios/Podfile.lock
  ios/vendored/sdk45/@stripe/stripe-react-native/ABI45_0_0stripe-react-native.podspec.json
  ios/vendored/sdk46/@stripe/stripe-react-native/ABI46_0_0stripe-react-native.podspec.json
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/ApplePayUtils.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFieldView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFormView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/Errors.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/FinancialConnections.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/Mappers.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/PaymentMethodFactory.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/StripeSdk.m
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/StripeSdk.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/pushprovisioning/AddToWalletButtonView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/pushprovisioning/PushProvisioningUtils.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/stripe-react-native.podspec.json
  packages/expo/bundledNativeModules.json
Labels: bot: needs changes

#18981 feat(docs): rewrite how-expo-works as expo-go doc
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/get-started/create-a-new-app.md
  docs/pages/guides/how-expo-works.md
  docs/pages/versions/v43.0.0/sdk/constants.md
  docs/pages/workflow/already-used-react-native.md
  docs/pages/workflow/expo-go.md
  docs/pages/workflow/glossary-of-terms.md
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/images/fetch-app-production.png
  docs/transition/sections.js
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: passed checks

#19028 [docs] Expand the EAS Metadata documentation
  docs/components/plugins/CodeBlocksTable.tsx
  docs/components/plugins/EasMetadataTable.tsx
  docs/constants/navigation.cjs
  docs/deploy.sh
  docs/pages/eas-metadata/getting-started.md
  docs/pages/eas-metadata/index.js
  docs/pages/eas-metadata/introduction.md
  docs/pages/eas/index.md
  docs/pages/eas/metadata/config.md
  docs/pages/eas/metadata/faq.md
  docs/pages/eas/metadata/getting-started.md
  docs/pages/eas/metadata/index.md
  docs/pages/eas/metadata/schema.md
  docs/pages/workflow/glossary-of-terms.md
  docs/scripts/schemas/unversioned/eas-json-submit-ios-schema.js
  docs/ui/components/Search/styles.ts
Labels: bot: passed checks

#19095 [ios] Turn off signing resource bundles in Xcode 14
  ios/Podfile
  ios/Podfile.lock
Labels: bot: passed checks

#19094 [modules][Android] Fix primitive array converter on JSI
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIAsyncFunctionsTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaReferencesCache.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaReferencesCache.h
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.cpp
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/ExpectedType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/BasicTypeConverters.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions

#19101 [docs] add missing key to the ToC labels
  docs/components/DocumentationSidebarRightLink.tsx
Labels: bot: passed checks

#19078 [ios][tools] Add Hermes support for Expo Go
  .gitignore
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Podfile
  ios/Podfile.lock
  ios/vendored/sdk45/react-native-reanimated/ios/native/NativeProxy.mm
  ios/vendored/sdk46/react-native-reanimated/ios/native/NativeProxy.mm
  ios/vendored/unversioned/react-native-reanimated/ios/native/NativeProxy.mm
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.h
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
  packages/expo-manifests/ios/EXManifests/EXManifestsManifest.h
  tools/src/Constants.ts
  tools/src/Transforms.ts
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/transforms/podspecTransforms.ts
  tools/src/versioning/ios/transforms/postTransforms.ts
  tools/src/versioning/ios/transforms/vendoredModulesTransforms.ts
  tools/src/versioning/ios/versionHermes.ts
  tools/src/versioning/ios/versionVendoredModules.ts
Labels: bot: suggestions

#19102 [docs] BoxLink: better support for external links
  docs/ui/components/BoxLink/index.tsx
Labels: bot: passed checks

#19097 [docs] Address docs accessibility concerns
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Search/styles.ts
  docs/ui/components/Sidebar/SidebarCollapsible.tsx
  docs/ui/components/Sidebar/SidebarHeadEntry.tsx
Labels: bot: passed checks

#19024 [expo-dev-menu][expo-dev-launcher] Disable onboarding popup with URL query param
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/Utils.js
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherURLHelper.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuDevSettings.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/ios/Modules/DevMenuPreferences.swift
Labels: bot: passed checks

#19107 [tools] Fix copyFileWithTransformsAsync regression
  tools/src/Transforms.ts
Labels: bot: passed checks

#19111 [templates] Turn off signing resource bundles in Xcode 14
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks

#19115 [templates] Source .xcode.env in start packager build phase
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#18458 [docs][location][permissions]: Update expo-location doc and permissions guide
  docs/pages/versions/unversioned/sdk/location.md
  docs/pages/versions/v45.0.0/sdk/location.md
  docs/pages/versions/v46.0.0/sdk/location.md
Labels: docs, bot: passed checks

#19091 [docs] SnackInline: apply new design to the component
  docs/components/plugins/SnackInline.tsx
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/v43.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v44.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v45.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.md
Labels: bot: passed checks

#18494 [DOCS] fixes `expo-camera` plugin configuration
  docs/pages/guides/config-plugins.md
Labels: bot: passed checks

#19099 [docs] Remove empty guides page
  docs/pages/guides.md
Labels: bot: passed checks

#19130 [docs][FirebaseAnalytics][FirebaseRecaptcha]: Add instructions about using with native Firebase SDK
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/v43.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v43.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v44.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v44.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v45.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v45.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v46.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.md
Labels: bot: passed checks

#19128 [ci] Fix expo-caches action for expo-yarn-workspaces generated AppEntry.js
  .github/actions/expo-caches/action.yml
  .github/workflows/publish-demo.yml
Labels: bot: passed checks

#19120 [modules][Android] Add JSI map converter
  packages/expo-modules-core/android/CMakeLists.txt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/cpp/javaclasses/Collections.h
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.cpp
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/ExpectedType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/BasicTypeConverters.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ColorTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ListTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/MapTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypedArrayTypeConverter.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/AnyTypeConverterTest.kt
Labels: bot: suggestions

#19117 [dev-launcher] Support react-native-v8
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/react-native-64/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-65/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-66/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-67/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-69/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
Labels: bot: passed checks

#19135 [docs][FirebaseAnalytics][FirebaseRecaptcha]: Revert changes and the contents of note back for other SDKs
  docs/pages/versions/v43.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v43.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v44.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v44.0.0/sdk/firebase-recaptcha.md
  docs/pages/versions/v45.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v45.0.0/sdk/firebase-recaptcha.md
Labels: bot: passed checks

#19116 [android] align hermes support integration as ios
  android/expoview/CMakeLists.txt
  android/expoview/build.gradle
  android/expoview/src/main/cpp/NativeProxy.cpp
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
  android/expoview/src/test/java/versioned/host/exp/exponent/VersionedUtilsTest.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/host/exp/exponent/VersionedUtils.kt
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/host/exp/exponent/VersionedUtils.kt
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  tools/src/vendoring/legacy.ts
  tools/src/versioning/android/android-build-aar.sh
  tools/src/versioning/android/transforms/expoviewTransforms.ts
Labels: bot: passed checks

#19133 [docs][authentication]: Update example to use EAS
  docs/pages/guides/authentication.md
Labels: bot: passed checks

#18560 [docs][authentication]: Update info regarding expo-facebook
  docs/pages/guides/authentication.md
Labels: bot: passed checks

#19121 [docs] remove AppJS conf banner
  docs/components/AppJSBanner.tsx/Background.tsx
  docs/components/AppJSBanner.tsx/index.tsx
  docs/components/DocumentationPage.tsx
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#19083 [ios] Various fixes for view recycling in Fabric
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-modules-core/ExpoModulesCore.podspec
  packages/expo-modules-core/common/cpp/fabric/ExpoViewComponentDescriptor.h
  packages/expo-modules-core/ios/Fabric/ExpoFabricView.swift
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.mm
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/Swift/AppContext.swift
Labels: bot: suggestions

#19146 [docs][routing]: Fix collapsible item content
  docs/pages/guides/routing-and-navigation.md
Labels: bot: passed checks

#19154 Update customizing-metro.md
  docs/pages/guides/customizing-metro.md
Labels: bot: passed checks

#19138 [modules][Android] Introduce either types for function arguments
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.cpp
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/ExpectedType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/Either.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/PairTypeConverterTest.kt
Labels: bot: suggestions

#19164 [docs] Debug Updates: use Terminal for EAS, fix typos, formatting
  docs/pages/eas-update/debug-updates.md
Labels: bot: passed checks

#19168 [modules][Android] Hide `Either` type behind opt-in flag
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/apifeatures/Features.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/Either.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions

#19169 [modules][Android] Add converters for some common android types
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/IOTypeConversionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/NetTypeConversionTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/io/FileTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/io/PathTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/net/URLTypConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/net/UriTypeConverter.kt
Labels: bot: suggestions

#18962 [docs] Adds doc on EAS Update rollouts
  docs/constants/navigation-deprecated.cjs
  docs/constants/navigation.cjs
  docs/pages/eas-update/rollouts.md
Labels: bot: passed checks

#19180 [modules][Android] Improve registration of activity contracts
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
Labels: bot: suggestions

#19171 [modules][Android] Add `toJSValue` to build-in types
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverterHelper.kt
Labels: bot: suggestions

#19156 [docs] add missing hide placeholders
  docs/pages/guides/icons.md
  docs/pages/versions/unversioned/sdk/background-fetch.md
  docs/pages/versions/v43.0.0/sdk/background-fetch.md
  docs/pages/versions/v44.0.0/sdk/background-fetch.md
  docs/pages/versions/v45.0.0/sdk/background-fetch.md
  docs/pages/versions/v46.0.0/sdk/background-fetch.md
Labels: bot: passed checks

#19187 [updates] Fix android instrumented test error
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/errorrecovery/ErrorRecoveryTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: suggestions

#19176 [modules][Android] Fix modules aren't created after reload
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
Labels: bot: suggestions

#19182 [docs]: Update EAS Update getting started
  docs/pages/eas-update/getting-started.md
Labels: bot: passed checks

#19124 [docs] improve the sidebar behaviour, especially on init render
  docs/components/DocumentationPage.tsx
  docs/ui/components/Sidebar/SidebarCollapsible.tsx
Labels: bot: passed checks

#18956 [docs] Updates env var guide to use Constants.expoConfig
  docs/pages/guides/environment-variables.md
Labels: bot: passed checks

#19103 [docs][ios][clipboard] Clarify documentation about `setUrlAsync`
  docs/public/static/data/unversioned/expo-clipboard.json
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/src/Clipboard.ts
Labels: bot: suggestions

#19193 [docs] ensure that we always have active sidebar link in viewport
  docs/ui/components/Sidebar/SidebarCollapsible.tsx
  docs/ui/components/Sidebar/SidebarLink.tsx
Labels: bot: passed checks

#19158 [docs] refactor ConfigurationDiff to DiffBlock, support raw input, add tests
  docs/components/plugins/ConfigurationDiff.tsx
  docs/pages/bare/installing-expo-modules.md
  docs/pages/bare/installing-updates.md
  docs/pages/development/installation.md
  docs/pages/guides/using-styled-components.md
  docs/ui/components/Snippet/DiffBlock.test.tsx
  docs/ui/components/Snippet/Snippet.tsx
  docs/ui/components/Snippet/SnippetContent.tsx
  docs/ui/components/Snippet/blocks/DiffBlock.tsx
  docs/ui/components/Snippet/blocks/Terminal.tsx
  docs/ui/components/Snippet/index.ts
Labels: bot: passed checks

#19184 [docs][notifications] Apply Android 13 advice to current/ previous SDK
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/v45.0.0/sdk/notifications.md
  docs/pages/versions/v46.0.0/sdk/notifications.md
Labels: bot: passed checks

#19175 [android][ios] Integrate JS inspector on Expo Go
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/DevMenuModule.kt
  android/expoview/src/main/res/values/strings.xml
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  ios/Exponent/Versioned/Core/EXVersionManager.mm
Labels: bot: passed checks

#19185 [expo-image-picker] Fix incorrect translation on UIImage
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/UIImage+fixOrientation.swift
Labels: bot: passed checks

#19159 [docs][FirebaseRecaptcha]: Remove TypeScript references from example
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.md
Labels: bot: passed checks

#19192 [modules][Android] Expose `NativeModulesProxy` config as a JSI module
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/NativeModulesProxyModule.kt
Labels: bot: suggestions

#19190 [modules][Kotlin] Improve logging
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/LogHandler.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/Logger.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/OSLogHandler.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/PersistentFileLogHandler.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/CoreLogger.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
Labels: bot: suggestions

#19155 [docs] fix scrollbars appearance in components on Windows
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/global-styles/extras.ts
  docs/global-styles/reset.ts
Labels: bot: passed checks

#19139 [docs] add info about new image with XCode 14 installed
  docs/pages/build-reference/infrastructure.md
Labels: bot: passed checks

#19132 feat(expo)!: drop expo-error-recovery
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/RecoveryProps.d.ts
  packages/expo/build/launch/RecoveryProps.d.ts.map
  packages/expo/build/launch/RecoveryProps.js
  packages/expo/build/launch/RecoveryProps.js.map
  packages/expo/build/launch/withExpoRoot.d.ts.map
  packages/expo/build/launch/withExpoRoot.js
  packages/expo/build/launch/withExpoRoot.js.map
  packages/expo/build/launch/withExpoRoot.types.d.ts
  packages/expo/build/launch/withExpoRoot.types.d.ts.map
  packages/expo/build/launch/withExpoRoot.types.js.map
  packages/expo/build/launch/withExpoRoot.web.d.ts.map
  packages/expo/build/launch/withExpoRoot.web.js
  packages/expo/build/launch/withExpoRoot.web.js.map
  packages/expo/package.json
  packages/expo/src/launch/RecoveryProps.ts
  packages/expo/src/launch/withExpoRoot.tsx
  packages/expo/src/launch/withExpoRoot.types.ts
  packages/expo/src/launch/withExpoRoot.web.tsx
Labels: bot: passed checks

#19122 [docs] tweaks and fixes on the UI programming pages
  docs/pages/guides/color-schemes.md
  docs/pages/guides/using-custom-fonts.md
  docs/pages/ui-programming/image-background.md
  docs/pages/ui-programming/implementing-a-checkbox.md
  docs/pages/ui-programming/react-native-styling-buttons.md
  docs/pages/ui-programming/react-native-toast.md
Labels: bot: passed checks

#19219 [docs] ensure that `unversioned` docs do not appear in PROD
  .github/workflows/docs.yml
  docs/constants/versions.js
  docs/package.json
  docs/scripts/generate-static-resources.js
Labels: bot: passed checks

#19206 [docs] support YT videos in Video component
  docs/components/plugins/Video.tsx
  docs/pages/development/introduction.md
  docs/pages/guides/app-icons.md
  docs/pages/guides/splash-screens.md
Labels: bot: passed checks

#19134 [docs] Add missing step
  docs/pages/guides/ios-developer-mode.md
Labels: bot: passed checks

#19214 deprecate error recovery in docs
  docs/pages/bare/error-recovery.md
  docs/pages/guides/errors.md
  docs/pages/versions/unversioned/sdk/error-recovery.md
  docs/pages/versions/v44.0.0/sdk/error-recovery.md
  docs/pages/versions/v45.0.0/sdk/error-recovery.md
  docs/pages/versions/v46.0.0/sdk/error-recovery.md
  packages/expo-error-recovery/CHANGELOG.md
  packages/expo-error-recovery/README.md
  packages/expo-error-recovery/build/ErrorRecovery.d.ts
  packages/expo-error-recovery/build/ErrorRecovery.d.ts.map
  packages/expo-error-recovery/build/ErrorRecovery.js
  packages/expo-error-recovery/build/ErrorRecovery.js.map
  packages/expo-error-recovery/src/ErrorRecovery.ts
Labels: bot: suggestions

#19222 [docs][tutorial]: Update info about Snack button
  docs/pages/tutorial/text.md
Labels: bot: passed checks

#19223 [docs][tutorial]: Add instructions & highlight for image-manipulator
  docs/pages/tutorial/sharing.md
Labels: bot: passed checks

#18343 [docs] Updates in Expo Modules guides
  docs/constants/navigation.js
  docs/pages/modules/android-lifecycle-listeners.md
  docs/pages/modules/appdelegate-subscribers.md
  docs/pages/modules/module-api.md
  docs/pages/modules/module-config.md
  docs/pages/modules/overview.md
Labels: bot: passed checks

#19224 [docs][firebase] Add required config plugin step
  docs/pages/versions/unversioned/sdk/firebase-analytics.md
  docs/pages/versions/unversioned/sdk/firebase-recaptcha.md
  docs/pages/versions/v46.0.0/sdk/firebase-analytics.md
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.md
Labels: bot: passed checks

#19235 [docs] Update video and template links
  docs/pages/guides/app-icons.md
  docs/pages/guides/splash-screens.md
Labels: bot: passed checks

#19243 [docs] fix code annotation formatting
  docs/components/base/code.tsx
Labels: bot: passed checks
