Repository expo/expo, pull requests merged in 2022-11, with the labels that each got.

#19369 [core][dev-client] Support react-native nightly builds
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
Labels: bot: passed checks

#19793 feat(cli): display the debug option more prominently in Terminal UI
  docs/pages/guides/using-hermes.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/commandsTable.ts
  packages/@expo/cli/src/start/interface/interactiveActions.ts
Labels: bot: suggestions

#19799 [create-expo-module] Add follow-up instructions
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/build/resolvePackageManager.d.ts
  packages/create-expo-module/build/resolvePackageManager.js
  packages/create-expo-module/build/resolvePackageManager.js.map
  packages/create-expo-module/src/create-expo-module.ts
  packages/create-expo-module/src/resolvePackageManager.ts
  packages/expo-module-template/$package.json
Labels: bot: passed checks

#19785 [docs] Add note to Skia docs about web installation
  docs/pages/versions/unversioned/sdk/skia.mdx
  docs/pages/versions/v46.0.0/sdk/skia.mdx
  docs/pages/versions/v47.0.0/sdk/skia.mdx
Labels: bot: passed checks

#19732 [Android] Remove deprecated android-extensions plugin
  packages/expo-eas-client/CHANGELOG.md
  packages/expo-eas-client/android/build.gradle
  packages/expo-module-template/android/build.gradle
  packages/expo-structured-headers/CHANGELOG.md
  packages/expo-structured-headers/android/build.gradle
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/build.gradle
Labels: bot: passed checks

#19701 [brightness] rename method to prevent violating Rules of Hooks
  docs/public/static/data/unversioned/expo-brightness.json
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessModule.kt
  packages/expo-brightness/build/Brightness.d.ts
  packages/expo-brightness/build/Brightness.d.ts.map
  packages/expo-brightness/build/Brightness.js
  packages/expo-brightness/build/Brightness.js.map
  packages/expo-brightness/src/Brightness.ts
Labels: bot: passed checks

#19601 [docs] Update limitations page
  docs/pages/introduction/why-not-expo.mdx
Labels: bot: passed checks

#19763 [docs] formatting and style tweaks for various pages
  docs/pages/get-started/installation.mdx
  docs/pages/introduction/expo.mdx
  docs/pages/workflow/expo-cli.mdx
  docs/ui/components/BoxLink/index.tsx
Labels: bot: passed checks

#19729 [iOS][Android] Update reanimated to 2.12.0
  CHANGELOG.md
  android/vendored/unversioned/react-native-reanimated/android/build.gradle
  android/vendored/unversioned/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/layoutReanimation/ReanimatedUIManager.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/UIImplementation/64/com/swmansion/reanimated/layoutReanimation/ReanimatedUIImplementation.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/UIImplementation/latest/com/swmansion/reanimated/layoutReanimation/ReanimatedUIImplementation.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/messageQueueThread/67/com/swmansion/reanimated/ReanimatedMessageQueueThread.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/messageQueueThread/latest/com/swmansion/reanimated/ReanimatedMessageQueueThread.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/nativeHierarchyManager/62/com/swmansion/reanimated/layoutReanimation/ReanimatedNativeHierarchyManager.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/nativeHierarchyManager/latest/com/swmansion/reanimated/layoutReanimation/ReanimatedNativeHierarchyManager.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/sdk47/react-native-reanimated/ABI47_0_0RNReanimated.podspec.json
  ios/vendored/sdk47/react-native-reanimated/ios/ABI47_0_0REAModule.mm
  ios/vendored/sdk47/react-native-reanimated/ios/keyboardObserver/ABI47_0_0REAKeyboardEventObserver.m
  ios/vendored/unversioned/react-native-reanimated/RNReanimated.podspec.json
  ios/vendored/unversioned/react-native-reanimated/ios/REAModule.mm
  ios/vendored/unversioned/react-native-reanimated/ios/keyboardObserver/REAKeyboardEventObserver.m
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  yarn.lock
Labels: bot: needs changes

#19803 remove console.warn from local authentication
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/build/LocalAuthentication.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/src/LocalAuthentication.ts
Labels: bot: passed checks

#19781 [docs] update Expo Config schema render, fix search issues
  docs/components/plugins/AppConfigSchemaPropertiesTable.test.tsx
  docs/components/plugins/AppConfigSchemaPropertiesTable.tsx
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
Labels: bot: passed checks

#19816 fix prebuild-config tests
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
Labels: bot: passed checks

#19802 fix(cli): resolve `metadata.json` file path absolutely for `npx expo export`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/writeContents.ts
Labels: bot: passed checks

#19815 [expo] Fix missing disable-missing-native-module-errors.js on npm
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: bot: passed checks

#19797 [create-expo-module] Fix example project bundling error
  packages/expo-module-template/example/metro.config.js
Labels: bot: passed checks

#19809 [updates] yet another fix for missing app.manifest on android
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/scripts/create-manifest-android.gradle
Labels: bot: passed checks

#19767 Add missing codeowners for package manager
  .github/CODEOWNERS
Labels: bot: passed checks

#19827 [bare-expo] Update detox
  apps/bare-expo/package.json
  yarn.lock
Labels: bot: passed checks

#19845 [expo] Send a warning for missing native modules
  packages/expo/CHANGELOG.md
  packages/expo/build/proxies/NativeModules.js
  packages/expo/build/proxies/NativeModules.js.map
  packages/expo/src/proxies/NativeModules.ts
Labels: bot: passed checks

#19843 [expo] Fix crash on v8
  packages/expo/CHANGELOG.md
  packages/expo/build/proxies/NativeModules.js
  packages/expo/build/proxies/NativeModules.js.map
  packages/expo/src/proxies/NativeModules.ts
Labels: bot: passed checks

#19795 [docs] Update using-hermes guide
  docs/pages/guides/using-hermes.mdx
  packages/@expo/dev-server/build/middleware/createJsInspectorMiddleware.js
  packages/@expo/dev-server/build/middleware/createJsInspectorMiddleware.js.map
  packages/@expo/dev-server/src/middleware/createJsInspectorMiddleware.ts
Labels: bot: passed checks

#19805 Fix react-native nightly test
  .github/workflows/test-suite-nightly.yml
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/build.gradle
  apps/bare-expo/android/settings.gradle
  apps/test-suite/components/Suites.js
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/build.gradle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherControllerTest.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/build.gradle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ExpoModulesCore.podspec
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/ReactDelegates/EXReactCompatibleHelpers.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactCompatibleHelpers.m
  packages/expo-modules-core/ios/ReactDelegates/EXReactDelegateWrapper.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactDelegateWrapper.m
  packages/expo-modules-core/ios/ReactDelegates/ExpoReactDelegate.swift
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapperBase.kt
  packages/expo/android/src/reactNativeHostWrapper64/expo/modules/ReactNativeHostWrapper.kt
  packages/expo/android/src/reactNativeHostWrapper67/expo/modules/ReactNativeHostWrapper.kt
  packages/expo/android/src/reactNativeHostWrapper69/expo/modules/ReactNativeHostWrapper.kt
  tools/src/commands/SetupReactNativeNightly.ts
Labels: bot: passed checks

#19819 [ios][haptics] Feedback Generators in HapticModule now operate on the main thread
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/ios/HapticsModule.swift
Labels: bot: passed checks

#19828 [ios][android][docs] "custom development build" -> "development build"
  android/expoview/src/main/java/host/exp/exponent/exceptions/ManifestException.kt
  docs/pages/guides/color-schemes.mdx
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
Labels: bot: passed checks

#19848 [expo] Revert #18913
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.d.ts.map
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/Expo.js
  packages/expo/build/Expo.js.map
  packages/expo/build/proxies/NativeModules.d.ts
  packages/expo/build/proxies/NativeModules.d.ts.map
  packages/expo/build/proxies/NativeModules.js
  packages/expo/build/proxies/NativeModules.js.map
  packages/expo/disable-missing-native-module-errors.js
  packages/expo/package.json
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/Expo.ts
  packages/expo/src/proxies/NativeModules.ts
Labels: bot: suggestions

#19823 drop .expo-shared directories
  templates/expo-template-blank-typescript/.expo-shared/assets.json
  templates/expo-template-blank/.expo-shared/assets.json
  templates/expo-template-tabs/.expo-shared/assets.json
Labels: bot: passed checks

#19790 [docs] Fix links to documentation in README files
  packages/expo-apple-authentication/README.md
  packages/expo-asset/README.md
  packages/expo-auth-session/README.md
  packages/expo-av/README.md
  packages/expo-background-fetch/README.md
  packages/expo-barcode-scanner/README.md
  packages/expo-battery/README.md
  packages/expo-blur/README.md
  packages/expo-brightness/README.md
  packages/expo-build-properties/README.md
  packages/expo-calendar/README.md
  packages/expo-camera/README.md
  packages/expo-cellular/README.md
  packages/expo-constants/README.md
  packages/expo-contacts/README.md
  packages/expo-crypto/README.md
  packages/expo-device/README.md
  packages/expo-document-picker/README.md
  packages/expo-error-recovery/README.md
  packages/expo-face-detector/README.md
  packages/expo-file-system/README.md
  packages/expo-firebase-analytics/README.md
  packages/expo-firebase-core/README.md
  packages/expo-firebase-recaptcha/README.md
  packages/expo-font/README.md
  packages/expo-gl/README.md
  packages/expo-haptics/README.md
  packages/expo-image-manipulator/README.md
  packages/expo-image-picker/README.md
  packages/expo-in-app-purchases/README.md
  packages/expo-intent-launcher/README.md
  packages/expo-keep-awake/README.md
  packages/expo-linear-gradient/README.md
  packages/expo-linking/README.md
  packages/expo-local-authentication/README.md
  packages/expo-localization/README.md
  packages/expo-location/README.md
  packages/expo-mail-composer/README.md
  packages/expo-media-library/README.md
  packages/expo-modules-autolinking/README.md
  packages/expo-navigation-bar/README.md
  packages/expo-network/README.md
  packages/expo-print/README.md
  packages/expo-screen-orientation/README.md
  packages/expo-secure-store/README.md
  packages/expo-sensors/README.md
  packages/expo-sharing/README.md
  packages/expo-sms/README.md
  packages/expo-speech/README.md
  packages/expo-sqlite/README.md
  packages/expo-status-bar/README.md
  packages/expo-store-review/README.md
  packages/expo-system-ui/README.md
  packages/expo-task-manager/README.md
  packages/expo-tracking-transparency/README.md
  packages/expo-updates/README.md
  packages/expo-video-thumbnails/README.md
  packages/expo-web-browser/README.md
Labels: bot: suggestions

#19838 [docs] bump Next, remove unused font
  docs/package.json
  docs/public/static/fonts/MaisonNeue-Bold.woff
  docs/public/static/fonts/MaisonNeue-Bold.woff2
  docs/public/static/fonts/MaisonNeue-Book.woff
  docs/public/static/fonts/MaisonNeue-Book.woff2
  docs/public/static/fonts/MaisonNeue-BookItalic.woff
  docs/public/static/fonts/MaisonNeue-BookItalic.woff2
  docs/public/static/fonts/MaisonNeue-Demi.woff
  docs/public/static/fonts/MaisonNeue-Demi.woff2
  docs/public/static/fonts/MaisonNeue-Light.woff
  docs/public/static/fonts/MaisonNeue-Light.woff2
  docs/yarn.lock
Labels: bot: passed checks

#19535 [docs][modules][Android] Add `SuspendFunction` to the documentation
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#19814 [docs] Add section about expo view
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#19788 [ios][image] Remove legacy Objective-C code
  packages/expo-image/ios/EXImageBorders.h
  packages/expo-image/ios/EXImageBorders.m
  packages/expo-image/ios/EXImageCornerRadii.h
  packages/expo-image/ios/EXImageCornerRadii.m
  packages/expo-image/ios/EXImageCustomCoders.h
  packages/expo-image/ios/EXImageCustomCoders.m
  packages/expo-image/ios/EXImageTypes.h
  packages/expo-image/ios/EXImageTypes.m
  packages/expo-image/ios/EXImageView.h
  packages/expo-image/ios/EXImageView.m
  packages/expo-image/ios/EXImageViewManager.h
  packages/expo-image/ios/EXImageViewManager.m
Labels: bot: passed checks

#19761 [sensors][docs] finish sensors conversion, update sensor pages
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionClasses.tsx
  docs/pages/versions/unversioned/sdk/light-sensor.mdx
  docs/pages/versions/unversioned/sdk/pedometer.mdx
  docs/pages/versions/unversioned/sdk/sensors.mdx
  docs/public/static/data/unversioned/expo-accelerometer.json
  docs/public/static/data/unversioned/expo-barometer.json
  docs/public/static/data/unversioned/expo-device-motion.json
  docs/public/static/data/unversioned/expo-gyroscope.json
  docs/public/static/data/unversioned/expo-light-sensor.json
  docs/public/static/data/unversioned/expo-magnetometer.json
  docs/public/static/data/unversioned/expo-pedometer.json
  docs/public/static/data/v47.0.0/expo-accelerometer.json
  docs/public/static/data/v47.0.0/expo-barometer.json
  docs/public/static/data/v47.0.0/expo-device-motion.json
  docs/public/static/data/v47.0.0/expo-gyroscope.json
  docs/public/static/data/v47.0.0/expo-light-sensor.json
  docs/public/static/data/v47.0.0/expo-magnetometer.json
  docs/public/static/data/v47.0.0/expo-pedometer.json
  packages/expo-sensors/build/Barometer.d.ts
  packages/expo-sensors/build/Barometer.d.ts.map
  packages/expo-sensors/build/Barometer.js.map
  packages/expo-sensors/build/DeviceSensor.d.ts
  packages/expo-sensors/build/DeviceSensor.d.ts.map
  packages/expo-sensors/build/DeviceSensor.js
  packages/expo-sensors/build/DeviceSensor.js.map
  packages/expo-sensors/build/LightSensor.d.ts
  packages/expo-sensors/build/LightSensor.d.ts.map
  packages/expo-sensors/build/LightSensor.js
  packages/expo-sensors/build/LightSensor.js.map
  packages/expo-sensors/build/Pedometer.d.ts
  packages/expo-sensors/build/Pedometer.d.ts.map
  packages/expo-sensors/build/Pedometer.js
  packages/expo-sensors/build/Pedometer.js.map
  packages/expo-sensors/src/Barometer.ts
  packages/expo-sensors/src/DeviceSensor.ts
  packages/expo-sensors/src/LightSensor.ts
  packages/expo-sensors/src/Pedometer.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#19818 [docs] improve Expo Config reference searchability
  docs/components/base/paragraph.tsx
  docs/components/plugins/AppConfigSchemaPropertiesTable.tsx
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
Labels: bot: passed checks

#19861 [docs] remove code signing early beta message
  docs/pages/eas-update/code-signing.mdx
Labels: bot: passed checks

#19817 fix(cli): fix Expo Go downloading indicator
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/rest/client.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithBaseUrl.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithOffline.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithProgress.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithProxy.ts
  packages/@expo/cli/src/utils/downloadAppAsync.ts
  packages/@expo/cli/src/utils/downloadExpoGoAsync.ts
Labels: bot: passed checks

#19822 fix(cli): improve ngrok error message format
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/AsyncNgrok.ts
Labels: bot: passed checks

#19233 feat(html-elements): upgrade to support react-native-web 0.18
  packages/html-elements/build/elements/Anchor.d.ts.map
  packages/html-elements/build/elements/Anchor.js
  packages/html-elements/build/elements/Anchor.js.map
  packages/html-elements/build/elements/Text.types.d.ts
  packages/html-elements/build/elements/Text.types.d.ts.map
  packages/html-elements/build/elements/Text.types.js.map
  packages/html-elements/build/primitives/Text.d.ts
  packages/html-elements/build/primitives/Text.d.ts.map
  packages/html-elements/build/primitives/Text.js.map
  packages/html-elements/build/primitives/View.d.ts
  packages/html-elements/build/primitives/View.d.ts.map
  packages/html-elements/build/primitives/View.js.map
  packages/html-elements/src/elements/Anchor.tsx
  packages/html-elements/src/elements/Text.types.ts
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.web
  packages/html-elements/src/primitives/Text.tsx
  packages/html-elements/src/primitives/View.tsx
Labels: bot: passed checks

#19878 TypeScript Handbook is deprecated
  docs/pages/guides/typescript.mdx
Labels: bot: passed checks

#19561 [ios][video-thumbnails] Migrate module to Sweet API
  apps/bare-expo/ios/Podfile.lock
  docs/pages/modules/module-api.mdx
  packages/expo-video-thumbnails/CHANGELOG.md
  packages/expo-video-thumbnails/build/ExpoVideoThumbnails.d.ts
  packages/expo-video-thumbnails/build/ExpoVideoThumbnails.d.ts.map
  packages/expo-video-thumbnails/build/ExpoVideoThumbnails.js
  packages/expo-video-thumbnails/build/ExpoVideoThumbnails.js.map
  packages/expo-video-thumbnails/expo-module.config.json
  packages/expo-video-thumbnails/ios/EXVideoThumbnails/EXVideoThumbnailsModule.h
  packages/expo-video-thumbnails/ios/EXVideoThumbnails/EXVideoThumbnailsModule.m
  packages/expo-video-thumbnails/ios/ExpoVideoThumbnails.podspec
  packages/expo-video-thumbnails/ios/VideoThumbnailsExceptions.swift
  packages/expo-video-thumbnails/ios/VideoThumbnailsModule.swift
  packages/expo-video-thumbnails/ios/VideoThumbnailsOptions.swift
  packages/expo-video-thumbnails/src/ExpoVideoThumbnails.ts
  packages/expo-video-thumbnails/unimodule.json
Labels: bot: passed checks

#19834 [docs] Add section about view callbacks
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#18559 [docs] Add more/update details to Developer menu in the Debugging guide
  docs/pages/workflow/debugging.mdx
  docs/public/static/images/expo-go-developer-menu.png
  docs/public/static/images/expo-go-element-inspector.png
  docs/public/static/images/react-native-community-cli-debugger-ui.png
Labels: bot: passed checks

#19890 [android] Fix sdk 45/46 crash from reanimated and gesture-handler
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/host/exp/exponent/modules/api/reanimated/NativeProxy.java
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/host/exp/exponent/modules/api/reanimated/NativeProxy.java
Labels: bot: passed checks

#19895 [modules][Android] Add list of the acceptable enum values
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/EnumTypeConverterTest.kt
Labels: bot: suggestions

#19900 [docs] Update developer menu screenshots
  docs/pages/workflow/debugging.mdx
  docs/public/static/images/expo-go-developer-menu.png
  docs/public/static/images/expo-go-element-inspector.png
Labels: bot: passed checks

#19884 [ncl] Rework expo-image examples in native-component-list
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ComponentListScreen.tsx
  apps/native-component-list/src/screens/Image/AnimationBar.tsx
  apps/native-component-list/src/screens/Image/CompareBar.tsx
  apps/native-component-list/src/screens/Image/ImageAllTestsScreen.tsx
  apps/native-component-list/src/screens/Image/ImageComparisonScreen.tsx
  apps/native-component-list/src/screens/Image/ImageComponents.tsx
  apps/native-component-list/src/screens/Image/ImageEventsView.tsx
  apps/native-component-list/src/screens/Image/ImageFlashListScreen.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  apps/native-component-list/src/screens/Image/ImageScreens.tsx
  apps/native-component-list/src/screens/Image/ImageStylesView.tsx
  apps/native-component-list/src/screens/Image/ImageTestListItem.tsx
  apps/native-component-list/src/screens/Image/ImageTestScreen.tsx
  apps/native-component-list/src/screens/Image/ImageTestsScreen.tsx
  apps/native-component-list/src/screens/Image/images/images.ts
  apps/native-component-list/src/screens/Image/tests/appearance.tsx
  packages/expo-image/build/ExpoImage.d.ts.map
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/src/ExpoImage.tsx
Labels: bot: passed checks

#19901 [modules][template] Start using `ExpoView` instead of Android's`View`
  packages/expo-module-template/android/src/main/java/{%= project.package %}/{%- project.name %}View.kt
Labels: bot: passed checks

#19634 Add manifest key to allow RTL in expo go experiences
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/utils/TextDirectionController.kt
  apps/bare-expo/ios/BareExpo/Info.plist
  dev-home-config.json
  home/menu/DevMenuView.tsx
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/Views/EXAppViewController.m
  ios/Exponent/Kernel/Views/EXTextDirectionController.swift
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/App.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/App.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/res/values/strings.xml
  packages/expo-localization/app.plugin.js
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/plugin/build/withExpoLocalization.d.ts
  packages/expo-localization/plugin/build/withExpoLocalization.js
  packages/expo-localization/plugin/src/withExpoLocalization.ts
  packages/expo-localization/plugin/tsconfig.json
Labels: bot: passed checks

#19800 chore(config): drop unused features
  packages/@expo/config/build/Config.d.ts
  packages/@expo/config/build/Config.js
  packages/@expo/config/build/Config.js.map
  packages/@expo/config/build/Config.types.d.ts
  packages/@expo/config/build/Config.types.js.map
  packages/@expo/config/build/Project.d.ts
  packages/@expo/config/build/Project.js
  packages/@expo/config/build/Project.js.map
  packages/@expo/config/build/getExpoSDKVersion.d.ts
  packages/@expo/config/build/getExpoSDKVersion.js
  packages/@expo/config/build/getExpoSDKVersion.js.map
  packages/@expo/config/build/index.d.ts
  packages/@expo/config/build/index.js
  packages/@expo/config/build/index.js.map
  packages/@expo/config/build/isLegacyImportsEnabled.d.ts
  packages/@expo/config/build/isLegacyImportsEnabled.js
  packages/@expo/config/build/isLegacyImportsEnabled.js.map
  packages/@expo/config/build/paths/extensions.d.ts
  packages/@expo/config/build/paths/extensions.js
  packages/@expo/config/build/paths/extensions.js.map
  packages/@expo/config/src/Config.ts
  packages/@expo/config/src/Config.types.ts
  packages/@expo/config/src/Project.ts
  packages/@expo/config/src/__tests__/Config-test.ts
  packages/@expo/config/src/__tests__/ConfigParsing-test.ts
  packages/@expo/config/src/__tests__/Web-test.ts
  packages/@expo/config/src/__tests__/fixtures/require-file/app.config.js
  packages/@expo/config/src/__tests__/getConfig-e2e-test.ts
  packages/@expo/config/src/__tests__/getConfig-test.ts
  packages/@expo/config/src/getExpoSDKVersion.ts
  packages/@expo/config/src/index.ts
  packages/@expo/config/src/isLegacyImportsEnabled.ts
  packages/@expo/config/src/paths/__tests__/__snapshots__/extensions-test.ts.snap
  packages/@expo/config/src/paths/__tests__/extensions-test.ts
  packages/@expo/config/src/paths/extensions.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.d.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
Labels: bot: passed checks

#19859 [ios] Migrate expo-gl to the new native modules API
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/ExpoGL.podspec
  packages/expo-gl/common/EXGLNativeApi.h
  packages/expo-gl/expo-module.config.json
  packages/expo-gl/ios/EXGL/EXGLViewManager.h
  packages/expo-gl/ios/EXGL/EXGLViewManager.mm
  packages/expo-gl/ios/EXGLCameraObject.h
  packages/expo-gl/ios/EXGLCameraObject.mm
  packages/expo-gl/ios/EXGLContext.h
  packages/expo-gl/ios/EXGLContext.mm
  packages/expo-gl/ios/EXGLObject.h
  packages/expo-gl/ios/EXGLObject.mm
  packages/expo-gl/ios/EXGLObjectManager.h
  packages/expo-gl/ios/EXGLObjectManager.mm
  packages/expo-gl/ios/EXGLView.h
  packages/expo-gl/ios/EXGLView.mm
  packages/expo-gl/ios/EXPlatformUtils.mm
  packages/expo-gl/ios/GLViewModule.swift
Labels: bot: passed checks

#19904 [docs] Expo Module Overview: update links appearance, add next steps
  docs/pages/modules/overview.mdx
Labels: bot: passed checks

#19908 [docs] minor: change order of SDKs for consistency
  docs/pages/guides/using-firebase.mdx
Labels: bot: passed checks

#19893 [docs] Remove preview from EAS Update known issues
  docs/pages/eas-update/known-issues.mdx
Labels: bot: passed checks

#19910 feat!(jest-expo): Drop support for .expo extension
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/tests/__tests__/workflow-test.ios.js
Labels: bot: passed checks

#19872 [cli][dev-server] Fix hermes debugger error on windows and linux
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/dev-server/build/JsInspector.d.ts
  packages/@expo/dev-server/build/JsInspector.js
  packages/@expo/dev-server/build/JsInspector.js.map
  packages/@expo/dev-server/build/LaunchBrowser.d.ts
  packages/@expo/dev-server/build/LaunchBrowser.js
  packages/@expo/dev-server/build/LaunchBrowser.js.map
  packages/@expo/dev-server/build/LaunchBrowser.types.d.ts
  packages/@expo/dev-server/build/LaunchBrowser.types.js
  packages/@expo/dev-server/build/LaunchBrowser.types.js.map
  packages/@expo/dev-server/build/LaunchBrowserImplLinux.d.ts
  packages/@expo/dev-server/build/LaunchBrowserImplLinux.js
  packages/@expo/dev-server/build/LaunchBrowserImplLinux.js.map
  packages/@expo/dev-server/build/LaunchBrowserImplMacOS.d.ts
  packages/@expo/dev-server/build/LaunchBrowserImplMacOS.js
  packages/@expo/dev-server/build/LaunchBrowserImplMacOS.js.map
  packages/@expo/dev-server/build/LaunchBrowserImplWindows.d.ts
  packages/@expo/dev-server/build/LaunchBrowserImplWindows.js
  packages/@expo/dev-server/build/LaunchBrowserImplWindows.js.map
  packages/@expo/dev-server/package.json
  packages/@expo/dev-server/src/JsInspector.ts
  packages/@expo/dev-server/src/LaunchBrowser.ts
  packages/@expo/dev-server/src/LaunchBrowser.types.ts
  packages/@expo/dev-server/src/LaunchBrowserImplLinux.ts
  packages/@expo/dev-server/src/LaunchBrowserImplMacOS.ts
  packages/@expo/dev-server/src/LaunchBrowserImplWindows.ts
  packages/@expo/dev-server/src/__tests__/JsInspector-test.ts
Labels: bot: passed checks

#19902 [image][Android] Make expo-image an Expo module
  packages/expo-image/android/build.gradle
  packages/expo-image/android/src/main/java/expo/modules/image/Exceptions.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImagePackage.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewManager.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/BorderDrawable.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/OutlineProvider.kt
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ImageCacheType.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageErrorEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadEventsManager.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageLoadStartEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/events/ImageProgressEvent.kt
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/ExpoImageOkHttpClientGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/OkHttpClientProgressInterceptor.kt
  packages/expo-image/android/src/main/java/expo/modules/image/records/events.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDecoder.kt
  packages/expo-image/build/ExpoImage.d.ts.map
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/expo-module.config.json
  packages/expo-image/src/ExpoImage.tsx
Labels: bot: passed checks

#19922 [docs] separate development Sentry errors from the production ones
  docs/pages/_app.tsx
Labels: bot: passed checks

#19907 [docs] Using Firebase: utilize Step component, other small tweaks
  docs/pages/guides/using-firebase.mdx
Labels: bot: passed checks

#19840 [docs] Add section about expo view
  docs/components/plugins/api/APISectionMethods.tsx
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#19923 [image][Android] Use custom PropGroup extension
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
Labels: bot: passed checks

#19906 [modules][Android] Add a component that declares a prop group
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilder.kt
Labels: bot: suggestions

#19924 [docs] fix typos in Expo modules docs, add Objective-C to dict
  docs/expo-dict.json
  docs/pages/modules/appdelegate-subscribers.mdx
  docs/pages/modules/module-api.mdx
  docs/pages/modules/overview.mdx
Labels: bot: passed checks

#19898 [android][store-review] Migrate expo-store-review to the new native m…
  packages/expo-store-review/CHANGELOG.md
  packages/expo-store-review/android/build.gradle
  packages/expo-store-review/android/src/main/java/expo/modules/storereview/StoreReviewExceptions.kt
  packages/expo-store-review/android/src/main/java/expo/modules/storereview/StoreReviewModule.kt
  packages/expo-store-review/android/src/main/java/expo/modules/storereview/StoreReviewPackage.kt
  packages/expo-store-review/expo-module.config.json
Labels: bot: passed checks

#19925 [image][Android] Remove custom `BorderDrawable`
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/BorderDrawable.kt
Labels: bot: passed checks

#19841 [docs] Add documentation about autolinking
  docs/constants/navigation.js
  docs/pages/modules/autolinking.mdx
Labels: bot: passed checks

#19912 [emc] Rephrase ArgumentCastException to use ordinal numbers
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/KotlinInteropModuleRegistryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/AnyFunctionTest.kt
  packages/expo-modules-core/ios/Swift/JavaScriptUtils.swift
Labels: bot: passed checks

#19928 [create-expo-module] Create an empty git repository
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/src/create-expo-module.ts
Labels: bot: passed checks

#19932 [image-picker] Fix incorrect asset type for videos on iOS
  apps/test-suite/tests/ImagePicker.js
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: passed checks

#19931 [dev-client][splash-screen] Fix error when running with new arch mode on android
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherClientHost.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuHost.kt
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenViewController.kt
Labels: bot: passed checks

#19930 [docs] bump Case Police, fix new warnings
  docs/package.json
  docs/pages/archived/expo-cli.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/distribution/publishing-websites.mdx
  docs/pages/get-started/errors.mdx
  docs/pages/guides/assets.mdx
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/customizing-webpack.mdx
  docs/pages/guides/progressive-web-apps.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/guides/using-nextjs.mdx
  docs/pages/guides/web-performance.mdx
  docs/pages/troubleshooting/application-has-not-been-registered.mdx
  docs/pages/troubleshooting/clear-cache-macos-linux.mdx
  docs/pages/troubleshooting/clear-cache-windows.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v43.0.0/sdk/notifications.mdx
  docs/pages/versions/v44.0.0/sdk/notifications.mdx
  docs/pages/versions/v45.0.0/sdk/notifications.mdx
  docs/pages/versions/v46.0.0/sdk/notifications.mdx
  docs/pages/versions/v47.0.0/sdk/notifications.mdx
  docs/pages/workflow/debugging.mdx
  docs/pages/workflow/expo-cli.mdx
  docs/pages/workflow/glossary-of-terms.mdx
  docs/pages/workflow/ios-simulator.mdx
  docs/pages/workflow/web.mdx
  docs/yarn.lock
Labels: bot: passed checks

#19920 [core] Fix NativeEventEmitter warning on android with jsc
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptModuleObjectTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/build/EventEmitter.d.ts.map
  packages/expo-modules-core/build/EventEmitter.js
  packages/expo-modules-core/build/EventEmitter.js.map
  packages/expo-modules-core/src/EventEmitter.ts
Labels: bot: passed checks

#19919 [cli] Fix start hermes debugger crash when starting with --dev-client
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
Labels: bot: passed checks

#19853 [docs] Update relevant config plugins docs to reflect re-exporting from expo pkg
  docs/pages/guides/config-plugins.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/workflow/configuration.mdx
Labels: bot: passed checks

#19801 [docs] Expo Module API tutorial
  docs/constants/navigation.js
  docs/pages/modules/android-lifecycle-listeners.mdx
  docs/pages/modules/appdelegate-subscribers.mdx
  docs/pages/modules/existing-library.mdx
  docs/pages/modules/get-started.mdx
  docs/pages/modules/module-api.mdx
  docs/pages/modules/module-config.mdx
  docs/pages/modules/native-module-tutorial.mdx
  docs/pages/modules/overview.mdx
  docs/pages/workflow/customizing.mdx
Labels: bot: passed checks

#19935 Fix web assets not loading in Metro for web on Windows
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroMultiPlatform.test.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks

#19944 [docs] Update React Native version in API reference
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v47.0.0/index.mdx
Labels: bot: passed checks

#19946 [docs] Update expo-document-picker for using with expo-file-system
  docs/pages/versions/unversioned/sdk/document-picker.mdx
  docs/pages/versions/v43.0.0/sdk/document-picker.mdx
  docs/pages/versions/v44.0.0/sdk/document-picker.mdx
  docs/pages/versions/v45.0.0/sdk/document-picker.mdx
  docs/pages/versions/v46.0.0/sdk/document-picker.mdx
  docs/pages/versions/v47.0.0/sdk/document-picker.mdx
Labels: bot: passed checks

#19933 [image][Android] Bump glide & small refactor
  packages/expo-image/android/build.gradle
  packages/expo-image/android/src/main/java/expo/modules/image/Exceptions.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/decoding/InputStreamBitmapFactoryOptionsDecoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/decoding/InputStreamBitmapOptionsDecoderGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/OutlineProvider.kt
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ImageResizeMode.kt
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Labels: bot: passed checks

#19950 [docs] Fix inconsistent use of the term development builds
  docs/pages/guides/authentication.mdx
  docs/pages/guides/using-hermes.mdx
  docs/pages/introduction/why-not-expo.mdx
  docs/pages/versions/v45.0.0/sdk/admob.mdx
  docs/pages/versions/v45.0.0/sdk/amplitude.mdx
  docs/pages/versions/v45.0.0/sdk/facebook-ads.mdx
  docs/pages/versions/v45.0.0/sdk/facebook.mdx
  docs/pages/versions/v45.0.0/sdk/google-sign-in.mdx
  docs/pages/versions/v45.0.0/sdk/segment.mdx
  docs/pages/workflow/customizing.mdx
  docs/pages/workflow/expo-go.mdx
  docs/pages/workflow/run-on-device.mdx
Labels: bot: passed checks

#19953 [docs] Video: fix hydration issue reported in Sentry
  docs/components/plugins/Video.tsx
Labels: bot: passed checks

#19951 [docs] Update reanimated doc to add web installation step
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/v47.0.0/sdk/reanimated.mdx
Labels: bot: passed checks

#19780 [docs] Update Testing with Jest guide
  docs/pages/guides/testing-with-jest.mdx
Labels: bot: passed checks

#19954 [docs] tweaks and fixes for the Expo modules guide
  docs/pages/modules/get-started.mdx
Labels: bot: passed checks

#19948 Change baseline icon pixel size
  packages/@expo/prebuild-config/build/plugins/icons/withAndroidIcons.js
  packages/@expo/prebuild-config/build/plugins/icons/withAndroidIcons.js.map
  packages/@expo/prebuild-config/src/plugins/icons/withAndroidIcons.ts
Labels: bot: passed checks

#19952 [create-expo-module] Cleanly handle View/Module suffix
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/build/types.d.ts
  packages/create-expo-module/build/types.js.map
  packages/create-expo-module/src/create-expo-module.ts
  packages/create-expo-module/src/types.ts
  packages/expo-module-template/$package.json
  packages/expo-module-template/android/src/main/java/{%= project.package %}/{%- project.moduleName %}.kt
  packages/expo-module-template/android/src/main/java/{%= project.package %}/{%- project.viewName %}.kt
  packages/expo-module-template/example/babel.config.js
  packages/expo-module-template/example/tsconfig.json
  packages/expo-module-template/expo-module.config.json
  packages/expo-module-template/ios/{%- project.moduleName %}.swift
  packages/expo-module-template/ios/{%- project.name %}.podspec
  packages/expo-module-template/ios/{%- project.viewName %}.swift
  packages/expo-module-template/src/index.ts
  packages/expo-module-template/src/{%- project.moduleName %}.ts
  packages/expo-module-template/src/{%- project.moduleName %}.web.ts
  packages/expo-module-template/src/{%- project.name %}.ts
  packages/expo-module-template/src/{%- project.name %}.types.ts
  packages/expo-module-template/src/{%- project.name %}View.tsx
  packages/expo-module-template/src/{%- project.name %}View.web.tsx
  packages/expo-module-template/src/{%- project.viewName %}.tsx
  packages/expo-module-template/src/{%- project.viewName %}.web.tsx
Labels: bot: passed checks

#19961 [docs] LightSensor: backport the latest docs to SDK 47
  docs/pages/versions/v47.0.0/sdk/light-sensor.mdx
Labels: bot: passed checks

#19963 [docs] Remove redundant compatibility page
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/development/compatibility.mdx
  docs/pages/development/introduction.mdx
Labels: bot: passed checks

#18475 fix(cli): prevent using default port 80 with tunnels
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/UrlCreator.ts
  packages/@expo/cli/src/start/server/__tests__/UrlCreator-test.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#19966 [docs] bump Sentry packages and setup
  docs/package.json
  docs/pages/_app.tsx
  docs/yarn.lock
Labels: bot: passed checks

#19958 [ios][image] Optimize rerendering on props change, use OnViewDidUpdateProps
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#19976 [docs] Fix link to EAS Update page
  docs/pages/bare/installing-updates.mdx
Labels: bot: passed checks

#19975 add missing babel plugin for web support in bare expo
  apps/bare-expo/babel.config.js
Labels: bot: passed checks

#19973 [docs] Update ImagePicker Snack example for SDK 47
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/v45.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v46.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v47.0.0/sdk/imagepicker.mdx
Labels: bot: passed checks

#19969 [docs] Sentry setup tweaks
  docs/pages/_app.tsx
  docs/pages/_error.tsx
Labels: bot: passed checks

#19947 [docs] Update expo-firebase-analytics
  docs/pages/versions/unversioned/sdk/firebase-analytics.mdx
  docs/pages/versions/v46.0.0/sdk/firebase-analytics.mdx
  docs/pages/versions/v47.0.0/sdk/firebase-analytics.mdx
Labels: bot: passed checks

#19979 [docs] add note on having multiple apps for fcm
  docs/pages/push-notifications/using-fcm.mdx
Labels: bot: passed checks

#19981 [docs] Update the tutorial link on the home page
  docs/pages/index.tsx
Labels: bot: passed checks

#19982 [docs] Fix page document picker page structure
  docs/pages/versions/v47.0.0/sdk/document-picker.mdx
Labels: bot: passed checks

#19988 [docs] Add native view tutorial
  docs/constants/navigation.js
  docs/pages/modules/native-module-tutorial.mdx
  docs/pages/modules/native-view-tutorial.mdx
  docs/public/static/images/modules/native-view-tutorial/web-browser.png
Labels: bot: passed checks

#19987 Clarify behavior of pre-install/post-install hooks
  docs/pages/build-reference/npm-hooks.mdx
Labels: bot: passed checks

#20003 [docs] Add redirects to 404 URLs from sentry report
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#19821 [config-plugins] Fix runtime version parsing on Android
  packages/@expo/config-plugins/build/android/Updates.d.ts
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/android/__tests__/Updates-test.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/plugin/src/__tests__/withUpdates-test.ts
Labels: bot: passed checks

#20006 [docs] make eas update intro page consistent with the other ones
  docs/pages/eas-update/introduction.mdx
Labels: bot: passed checks

#19980 [ios][local-authentication] Migrate module to Sweet API
  apps/bare-expo/ios/Podfile.lock
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/build/ExpoLocalAuthentication.d.ts
  packages/expo-local-authentication/build/ExpoLocalAuthentication.d.ts.map
  packages/expo-local-authentication/build/ExpoLocalAuthentication.js
  packages/expo-local-authentication/build/ExpoLocalAuthentication.js.map
  packages/expo-local-authentication/expo-module.config.json
  packages/expo-local-authentication/ios/EXLocalAuthentication/EXLocalAuthentication.h
  packages/expo-local-authentication/ios/EXLocalAuthentication/EXLocalAuthentication.m
  packages/expo-local-authentication/ios/ExpoLocalAuthentication.podspec
  packages/expo-local-authentication/ios/LocalAuthenticationModule.swift
  packages/expo-local-authentication/ios/LocalAuthenticationOptions.swift
  packages/expo-local-authentication/src/ExpoLocalAuthentication.ts
  packages/expo-local-authentication/unimodule.json
Labels: bot: passed checks

#20002 [iOS][expo-constants] migrate expo-contants to new modules API
  apps/bare-expo/ios/Podfile.lock
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/ExponentConstants.d.ts
  packages/expo-constants/build/ExponentConstants.d.ts.map
  packages/expo-constants/build/ExponentConstants.js
  packages/expo-constants/build/ExponentConstants.js.map
  packages/expo-constants/expo-module.config.json
  packages/expo-constants/ios/ConstantsModule.swift
  packages/expo-constants/ios/EXConstants.podspec
  packages/expo-constants/ios/EXConstants/EXConstants.h
  packages/expo-constants/ios/EXConstants/EXConstants.m
  packages/expo-constants/ios/EXConstantsInstallationIdProvider.h
  packages/expo-constants/ios/EXConstantsInstallationIdProvider.m
  packages/expo-constants/ios/EXConstantsService.h
  packages/expo-constants/ios/EXConstantsService.m
  packages/expo-constants/src/ExponentConstants.ts
  packages/expo-constants/unimodule.json
Labels: bot: passed checks

#20017 [iOS][expo-constants] add missing platform keys to module config
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/expo-module.config.json
Labels: bot: passed checks

#19993 [apps] fix ci test-suites failures
  apps/bare-expo/android/build.gradle
  apps/bare-expo/detox.config.js
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/bare-expo/e2e/Utils.js
  apps/bare-expo/e2e/babel.config.js
  apps/bare-expo/e2e/jest.config.js
  apps/bare-expo/e2e/jest.config.json
  apps/bare-expo/e2e/setup/setupDetox.js
  apps/bare-expo/e2e/utils/report.js
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/FirebaseRecaptchaScreen.tsx
  apps/test-suite/TestModules.js
  apps/test-suite/tests/FirebaseAnalytics.js
  apps/test-suite/tests/FirebaseCore.js
  apps/test-suite/tests/FirebaseRecaptcha.js
  yarn.lock
Labels: bot: passed checks

#20016 [android][expo-haptics] migrate expo-haptics to new modules api on an…
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/android/src/main/java/expo/modules/haptics/HapticsModule.kt
  packages/expo-haptics/android/src/main/java/expo/modules/haptics/HapticsPackage.kt
  packages/expo-haptics/expo-module.config.json
Labels: bot: passed checks

#19974 [android][expo-constants] migrate to new modules API
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsModule.kt
  packages/expo-constants/android/src/main/java/expo/modules/constants/ConstantsPackage.kt
  packages/expo-constants/expo-module.config.json
Labels: bot: passed checks

#20038 [docs] Fix typo in function call
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#20037 [modules] Fix `failed resolution of: Ljava/nio/file/Path;`
  docs/pages/modules/module-api.mdx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions

#20014 [expo-updates] Updates.isEmbeddedLaunch
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesInterface.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesService.kt
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/src/Updates.ts
Labels: bot: passed checks

#20044 [docs] Update minimum iOS version for Expo Go
  docs/pages/get-started/installation.mdx
Labels: bot: passed checks

#20051 [docs] Fix splash screen image and delete old image
  docs/pages/tutorial/configuration.mdx
  docs/public/static/images/tutorial/splash-old.png
Labels: bot: passed checks

#19921 [docs] Clarify that splash screen must be PNG
  docs/pages/guides/splash-screens.mdx
Labels: bot: passed checks

#20045 Update typescript.mdx to add slug parameter in ExpoConfig
  docs/pages/guides/typescript.mdx
Labels: bot: passed checks

#20060 [docs] Fix callback function
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#20008 [image] Refactor existing types of expo-image and examples
  apps/native-component-list/src/screens/Image/ImageFlashListScreen.tsx
  apps/native-component-list/src/screens/Image/ImageTestListItem.tsx
  apps/native-component-list/src/screens/Image/ImageTestView.tsx
  apps/native-component-list/src/screens/Image/resolveProps.ts
  apps/native-component-list/src/screens/Image/tests/sources.ts
  apps/native-component-list/src/screens/Image/types.ts
  packages/expo-image/build/ExpoImage.d.ts
  packages/expo-image/build/ExpoImage.d.ts.map
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/build/ExpoImage.web.d.ts
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/build/Image.js
  packages/expo-image/build/Image.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/build/index.d.ts
  packages/expo-image/build/index.d.ts.map
  packages/expo-image/build/index.js
  packages/expo-image/build/index.js.map
  packages/expo-image/src/ExpoImage.tsx
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.tsx
  packages/expo-image/src/Image.types.ts
  packages/expo-image/src/index.ts
Labels: bot: passed checks

#20056 [expo] Fix path inconsistencies when resolving app entry point during build phase
  packages/expo/scripts/resolveAppEntry.js
Labels: bot: suggestions

#20034 [image-picker][ios] Fix Animated GIF support
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ImagePicker.d.ts
  packages/expo-image-picker/build/ImagePicker.d.ts.map
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/ios/ImagePickerOptions.swift
  packages/expo-image-picker/ios/MediaHandler.swift
  packages/expo-image-picker/src/ImagePicker.ts
Labels: bot: passed checks

#20063 [modules][Android] Fixed views are not correctly initialized after reloading on Android
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
Labels: bot: suggestions

#19972 [ENG-6892][docs] add Xcode 14.1 image
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#20071 [docs] Remove "missing features" context from EAS Build limitations page
  docs/pages/build-reference/limitations.mdx
Labels: bot: passed checks

#19703 [docs] Update development build docs
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/development/build.mdx
  docs/pages/development/create-development-builds.mdx
  docs/pages/development/development-workflows.mdx
  docs/pages/development/extensions.mdx
  docs/pages/development/getting-started.mdx
  docs/pages/development/installation.mdx
  docs/pages/development/introduction.mdx
  docs/pages/development/troubleshooting.mdx
  docs/pages/development/upgrading.mdx
  docs/pages/development/use-development-builds.mdx
  docs/public/static/images/dev-client/android-build.jpg
  docs/public/static/images/dev-client/ios-build.jpg
Labels: bot: passed checks

#20073 [apps][packages] Fix ci issues
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  android/versioned-abis/expoview-abi45_0_0/build.gradle
  android/versioned-abis/expoview-abi46_0_0/build.gradle
  android/versioned-abis/expoview-abi47_0_0/build.gradle
  apps/bare-expo/ios/BareExpo/AppDelegate.mm
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-constants/build/ExponentConstants.d.ts
  packages/expo-constants/build/ExponentConstants.d.ts.map
  packages/expo-constants/build/ExponentConstants.js
  packages/expo-constants/build/ExponentConstants.js.map
  packages/expo-constants/src/ExponentConstants.ts
  packages/expo-dev-menu-interface/ios/expo-dev-menu-interface.podspec
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/ios/ReactDelegateHandler/ExpoDevMenuReactDelegateHandler.swift
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: suggestions

#20062 [android] backport fix for sdk47 to versioned code
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/expo/modules/adapters/react/ModuleRegistryAdapter.java
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: passed checks

#20085 [docs] Remove duplicate redirect
  docs/deploy.sh
Labels: bot: passed checks

#20084 [github] don't run EAS Build for Dependabot PRs
  .github/workflows/client-android-eas.yml
  .github/workflows/client-ios-eas.yml
  apps/native-component-list/package.json
  yarn.lock
Labels: bot: passed checks

#20064 [ios][splash-screen] Fixed 'No native splash screen registered for given view controller.' warning being shown when app is started in the background (i.e. headless)
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: passed checks

#20078 [cli] Upgrade @expo/code-signing-certificates dependency
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/utils/codesigning.ts
  packages/expo-updates/package.json
  yarn.lock
Labels: bot: suggestions

#20092 [docs] Update Reanimated doc structure Web support section
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/v47.0.0/sdk/reanimated.mdx
Labels: bot: passed checks

#20094 [docs] `chmod +x docs/deploy.sh`
  docs/deploy.sh
Labels: bot: passed checks

#20093 [github] expo-caches: bump cache action
  .github/actions/expo-caches/action.yml
Labels: bot: passed checks

#20098 [docs] fix url to "Use development builds"
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/development/create-development-builds.mdx
  docs/pages/development/installation.mdx
Labels: bot: passed checks

#20105 Corrected typo
  docs/pages/guides/testing-with-jest.mdx
Labels: bot: passed checks

#20046 [print][ios] fix width/ height not working on HTML print
  docs/pages/versions/unversioned/sdk/print.mdx
  packages/expo-print/CHANGELOG.md
  packages/expo-print/ios/EXPrint/EXPrint.m
  packages/expo-print/ios/EXPrint/EXWKViewPrintPDFRenderer.m
Labels: bot: passed checks

#20111 [docs] Update instructions in ios developer menu guide
  docs/pages/guides/ios-developer-mode.mdx
  docs/public/static/images/ios-16-developer-mode-0.jpg
Labels: bot: passed checks

#20116 [docs] Update internal distribution page
  docs/pages/build/internal-distribution.mdx
Labels: bot: passed checks

#20120 [expo-updates] Clean up updates E2E setup script
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/Updates-e2e-assets.test.ts
  packages/expo-updates/e2e/__tests__/Updates-e2e-basic.test.ts
  packages/expo-updates/e2e/__tests__/setup/index.js
  packages/expo-updates/e2e/__tests__/setup/project.js
Labels: bot: passed checks

#20124 [docs] Fix typo on internal distribution page
  docs/pages/build/internal-distribution.mdx
Labels: bot: passed checks

#20128 [docs] Fix typo in `create-a-modal` tutorial page
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#20104 [dev-client] Fix `RCTStatusBarManager` module requires that the `UIViewControllerBasedStatusBarAppearance` to be false
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/StatusBarMock.js
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/metro.config.js
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/StatusBarMock.js
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/metro.config.js
  packages/expo-dev-menu/package.json
  yarn.lock
Labels: bot: suggestions

#19959 [ios][image] Implement blurRadius and tintColor props
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.js
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#20135 [dev-launcher] Add keyboard avoiding view
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions

#20133 [docs] Update component import statement in the Readme
  docs/README.md
Labels: bot: passed checks

#19782 [docs] Update Netlify deployment docs to include redirect instructions
  docs/pages/distribution/publishing-websites.mdx
Labels: bot: passed checks

#20076 [expotools] fix publish-dev-home
  tools/src/ExpoCLI.ts
  tools/src/XDL.ts
  tools/src/commands/PublishDevExpoHomeCommand.ts
Labels: bot: passed checks

#20139 [android] Align fbjni version to 0.2.2
  android/vendored/sdk47/react-native-reanimated/android/build.gradle
  android/vendored/unversioned/react-native-reanimated/android/build.gradle
Labels: bot: passed checks

#20032 [docs] improved search/command menu
  docs/README.md
  docs/package.json
  docs/tsconfig.json
  docs/ui/components/Button/Button.tsx
  docs/ui/components/CommandMenu/BarLoader.tsx
  docs/ui/components/CommandMenu/CommandFooter.tsx
  docs/ui/components/CommandMenu/CommandMenu.tsx
  docs/ui/components/CommandMenu/CommandMenuTrigger.tsx
  docs/ui/components/CommandMenu/Items/ExpoDocsItem.tsx
  docs/ui/components/CommandMenu/Items/ExpoItem.tsx
  docs/ui/components/CommandMenu/Items/FootnoteSection.tsx
  docs/ui/components/CommandMenu/Items/RNDirectoryItem.tsx
  docs/ui/components/CommandMenu/Items/RNDocsItem.tsx
  docs/ui/components/CommandMenu/Items/icons.tsx
  docs/ui/components/CommandMenu/Items/index.ts
  docs/ui/components/CommandMenu/Items/styles.ts
  docs/ui/components/CommandMenu/expoEntries.ts
  docs/ui/components/CommandMenu/index.ts
  docs/ui/components/CommandMenu/styles.ts
  docs/ui/components/CommandMenu/types.ts
  docs/ui/components/CommandMenu/utils.ts
  docs/ui/components/Search/Search.tsx
  docs/ui/components/Search/styles.ts
  docs/yarn.lock
Labels: bot: passed checks

#20131 [camera][Android] Use downsampling in case of the OOM exception
  packages/expo-camera/android/src/main/java/expo/modules/camera/Options.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/ResolveTakenPictureAsyncTask.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/Camera.types.ts
Labels: bot: suggestions

#20141 Fix importing barcode scanner interfaces on case-sensitive file systems
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScanner.h
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/EXBarCodeScannerProvider.h
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: bot: passed checks
