Repository expo/expo, pull requests merged in 2022-02, with the labels that each got.

#16129 [ios][crypto] Migrate the module to Swift
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/expo-module.config.json
  packages/expo-crypto/ios/CryptoModule.swift
  packages/expo-crypto/ios/DigestAlgorithm.swift
  packages/expo-crypto/ios/DigestOptions.swift
  packages/expo-crypto/ios/EXCrypto/EXCrypto.h
  packages/expo-crypto/ios/EXCrypto/EXCrypto.m
  packages/expo-crypto/ios/ExpoCrypto.podspec
  packages/expo-crypto/unimodule.json
Labels: bot: passed checks

#16137 [ios][core] Add the base class for expo views
  packages/expo-modules-core/ios/ExpoModulesCore.h
  packages/expo-modules-core/ios/Swift/Views/ExpoView.swift
Labels: bot: suggestions

#16133 [docs] Add redesigned table components
  docs/global-styles/tables.ts
  docs/ui/components/Markdown/index.tsx
  docs/ui/components/Table/Cell.tsx
  docs/ui/components/Table/HeaderCell.tsx
  docs/ui/components/Table/Row.tsx
  docs/ui/components/Table/Table.tsx
  docs/ui/components/Table/TableHead.tsx
  docs/ui/components/Table/TableHeaders.tsx
  docs/ui/components/Table/index.ts
  docs/ui/components/Table/types.ts
Labels: docs, bot: passed checks

#16093 [docs] Simplify the documentation sidebar rendering
  docs/components/DocumentationSidebar.tsx
  docs/components/DocumentationSidebarCollapsible.tsx
  docs/constants/navigation.js
  docs/types/common.ts
Labels: docs, bot: passed checks

#16127 [docs][auth-session] Add missing types
  docs/pages/versions/unversioned/sdk/auth-session.md
  docs/pages/versions/v44.0.0/sdk/auth-session.md
Labels: bot: passed checks

#16087 [cli] Added auth commands to expo
  packages/expo/bin/cli.ts
  packages/expo/cli/login/index.ts
  packages/expo/cli/logout/index.ts
  packages/expo/cli/register/index.ts
  packages/expo/cli/register/registerAsync.ts
  packages/expo/cli/utils/__tests__/api-test.ts
  packages/expo/cli/utils/analytics/rudderstackClient.ts
  packages/expo/cli/utils/api.ts
  packages/expo/cli/utils/env.ts
  packages/expo/cli/utils/errors.ts
  packages/expo/cli/utils/graphql/client.ts
  packages/expo/cli/utils/graphql/generated.ts
  packages/expo/cli/utils/graphql/queries/UserQuery.ts
  packages/expo/cli/utils/link.ts
  packages/expo/cli/utils/prompts.ts
  packages/expo/cli/utils/user/UserSettings.ts
  packages/expo/cli/utils/user/__mocks__/user.ts
  packages/expo/cli/utils/user/__tests__/actions-test.ts
  packages/expo/cli/utils/user/__tests__/otp-test.ts
  packages/expo/cli/utils/user/__tests__/sessionStorage-test.ts
  packages/expo/cli/utils/user/__tests__/user-test.ts
  packages/expo/cli/utils/user/actions.ts
  packages/expo/cli/utils/user/otp.ts
  packages/expo/cli/utils/user/sessionStorage.ts
  packages/expo/cli/utils/user/user.ts
  packages/expo/cli/whoami/index.ts
  packages/expo/cli/whoami/whoamiAsync.ts
  packages/expo/e2e/__tests__/index-test.ts
  packages/expo/e2e/__tests__/login-test.ts
  packages/expo/e2e/__tests__/logout-test.ts
  packages/expo/e2e/__tests__/register-test.ts
  packages/expo/e2e/__tests__/whoami-test.ts
  packages/expo/package.json
  yarn.lock
Labels: bot: passed checks

#16135 [docs] Add redesigned callout component with blockquote adapter
  docs/jest.config.js
  docs/jest.setup.js
  docs/package.json
  docs/types/global.d.ts
  docs/ui/components/Callout/Callout.test.tsx
  docs/ui/components/Callout/index.tsx
  docs/ui/components/Markdown/Blockquote.test.tsx
  docs/ui/components/Markdown/Blockquote.tsx
  docs/ui/components/Markdown/index.tsx
  docs/yarn.lock
Labels: docs, bot: passed checks

#15934 [android][file-system] Fixed Range header in download request
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
Labels: bot: passed checks

#16172 [tools] move type packages to dev dependencies, update few of them
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#16166 [docs] Upgrade Next to 11 with webpack 4
  docs/next-env.d.ts
  docs/next.config.js
  docs/package.json
  docs/pages/versions/unversioned/sdk/facebook.md
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/v41.0.0/sdk/screen-capture.md
  docs/pages/versions/v42.0.0/sdk/notifications.md
  docs/pages/versions/v42.0.0/sdk/screen-capture.md
  docs/pages/versions/v43.0.0/sdk/facebook.md
  docs/pages/versions/v43.0.0/sdk/notifications.md
  docs/pages/versions/v44.0.0/sdk/facebook.md
  docs/pages/versions/v44.0.0/sdk/notifications.md
  docs/scripts/create-sitemap.js
  docs/types/global.d.ts
  docs/yarn.lock
Labels: docs, bot: passed checks

#16170 [expo-updates] Fix asset hash encoding specification
  docs/pages/technical-specs/expo-updates-0.md
Labels: bot: passed checks

#16181 [tools] update dev dependencies
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#16167 [camera] Fix null pointer exception when barcode scanner or face detector are not installed
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks

#11244 Update uploading-apps to avoid Transporter error
  docs/pages/distribution/uploading-apps.md
Labels: docs, bot: passed checks

#15965 Removes SnackInline ("Try this example on Snack") from AuthSession Docs
  docs/pages/guides/authentication.md
Labels: bot: passed checks

#16144 Update debugging.md
  docs/pages/workflow/debugging.md
Labels: bot: passed checks

#16168 Update using-svgs.md to include a reference to React Native Babel Tra…
  docs/pages/ui-programming/using-svgs.md
Labels: bot: passed checks

#15516 [ios] Add EXErrorView text colors to avoid dark mode issues
  ios/Exponent/Kernel/Views/EXErrorView.m
Labels: bot: passed checks

#15017 docs: add haptics disable case where camera is on
  docs/pages/versions/unversioned/sdk/haptics.md
Labels: bot: passed checks

#15169 [expo-media-library] prebuild fails when withMediaLibrary plugin enabled
  packages/expo-media-library/plugin/build/withMediaLibrary.js
  packages/expo-media-library/plugin/src/withMediaLibrary.ts
Labels: bot: suggestions

#15938 [dev-launcher][Android] Send uncaught exceptions to bundler server
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherOkHttpExtensions.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherUncaughtExceptionHandler.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/logs/DevLauncherRemoteLog.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/logs/DevLauncherRemoteLogManager.kt
Labels: bot: suggestions

#16067 [dev-menu] refactor dev menu on iOS to simplify dev-launcher relationship
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherMenuDelegate.swift
  packages/expo-dev-menu-interface/ios/DevMenuDelegateProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuManagerProtocol.swift
  packages/expo-dev-menu-interface/ios/DevMenuManagerProviderProtocol.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/app/components/AppProviders.tsx
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/components/__tests__/Main.test.tsx
  packages/expo-dev-menu/app/hooks/useAppInfo.tsx
  packages/expo-dev-menu/app/hooks/useBuildInfo.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/app/native-modules/__mocks__/DevMenu.ts
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-dev-menu/ios/DevMenuExtensionDefaultSettings.swift
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuPackagerConnectionHandler.swift
  packages/expo-dev-menu/ios/DevMenuSession.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.h
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
  packages/expo-dev-menu/ios/Headers/EXDevMenu-Bridging-Header.h
  packages/expo-dev-menu/ios/Modules/DeMenuManagerProvider.swift
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/ios/Modules/DevMenuManagerProvider.m
Labels: bot: passed checks

#16197 [dev-menu] fix broken import and rebundle
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: bot: suggestions

#16195 [dev-menu] Remove vendored reanimated from release builds
  packages/expo-dev-menu/android/build.gradle
Labels: bot: suggestions

#16204 [docs] Update netinfo.md
  docs/pages/versions/unversioned/sdk/netinfo.md
  docs/pages/versions/v44.0.0/sdk/netinfo.md
Labels: bot: passed checks

#16157 [expo-dev-launcher] turn off updates auto-setup in debug builds
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/AndroidManifest.xml
Labels: bot: suggestions

#16199 [dev-menu][android] fixes for dev menu on android
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherDevMenuExtensions.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/hooks/useBottomSheet.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/setupTests.ts
Labels: bot: suggestions

#16221 [dev-client] Fix iOS unit tests
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherMenuDelegateTest.swift
  packages/expo-dev-menu/ios/Tests/DevMenuManagerProviderTest.swift
  packages/expo-dev-menu/ios/Tests/DevMenuSessionTests.swift
  packages/expo-dev-menu/ios/Tests/EXDevMenuAppInfoTest.swift
  packages/expo-dev-menu/ios/UITests/DevMenuTests.swift
Labels: bot: suggestions

#15964 [dev-launcher][iOS] Send uncaught exceptions to bundler server
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherUncaughtExceptionHandler.swift
  packages/expo-dev-launcher/ios/Logs/EXDevLauncherRemoteLogsManager.swift
Labels: bot: suggestions

#16198 [dev-client] Fix e2e tests
  packages/expo-dev-client/e2e/DevLauncher.e2e.ts
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/components/UrlDropdown.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions

#16188 [docs] Add redesigned collapsible component
  docs/ui/components/Collapsible/Collapsible.test.tsx
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Markdown/Blockquote.test.tsx
  docs/ui/components/Markdown/index.tsx
  docs/ui/foundations/icons.tsx
Labels: docs, bot: passed checks

#15806 [expo-av] Enable selection of audio recording input
  apps/native-component-list/src/screens/AV/AudioInputSelector.tsx
  apps/native-component-list/src/screens/AV/Recorder.tsx
  apps/test-suite/tests/Recording.js
  docs/pages/versions/unversioned/sdk/audio.md
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
  packages/expo-av/android/src/main/java/expo/modules/av/AVManagerInterface.java
  packages/expo-av/android/src/main/java/expo/modules/av/AVModule.java
  packages/expo-av/build/Audio/Recording.d.ts
  packages/expo-av/build/Audio/Recording.d.ts.map
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/build/Audio/Recording.types.d.ts
  packages/expo-av/build/Audio/Recording.types.d.ts.map
  packages/expo-av/build/Audio/Recording.types.js.map
  packages/expo-av/ios/EXAV/EXAV.h
  packages/expo-av/ios/EXAV/EXAV.m
  packages/expo-av/ios/EXAV/EXAudioSessionManager.m
  packages/expo-av/src/Audio/Recording.ts
  packages/expo-av/src/Audio/Recording.types.ts
Labels: bot: passed checks

#16122 [image-picker][Android][plugin] Migrate to `com.github.CanHub:Android-Image-Cropper`
  THIRD-PARTY-LICENSES
  android/app/build.gradle
  android/expoview/build.gradle
  android/versioned-abis/expoview-abi42_0_0/build.gradle
  android/versioned-abis/expoview-abi42_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/expo/modules/imagepicker/ImagePickerConstants.kt
  android/versioned-abis/expoview-abi42_0_0/src/main/java/abi42_0_0/expo/modules/imagepicker/ImagePickerModule.kt
  android/versioned-abis/expoview-abi43_0_0/build.gradle
  android/versioned-abis/expoview-abi43_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/imagepicker/ImagePickerConstants.kt
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/imagepicker/ImagePickerModule.kt
  android/versioned-abis/expoview-abi44_0_0/build.gradle
  android/versioned-abis/expoview-abi44_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/imagepicker/ImagePickerConstants.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/imagepicker/ImagePickerModule.kt
  apps/bare-sandbox/android/app/src/main/AndroidManifest.xml
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/README.md
  packages/expo-image-picker/android/build.gradle
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerConstants.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/plugin/build/withImagePicker.js
  packages/expo-image-picker/plugin/src/__tests__/withImagePicker-test.ts
  packages/expo-image-picker/plugin/src/withImagePicker.ts
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks

#16059 [av] video: add doc comments in source, code cleanup, APISection tweaks
  apps/native-component-list/src/screens/AV/VideoPlayer.tsx
  apps/native-component-list/src/screens/ImagePickerScreen.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/av.md
  docs/pages/versions/unversioned/sdk/video.md
  docs/public/static/data/unversioned/expo-video.json
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/ExponentVideo.web.d.ts
  packages/expo-av/build/ExponentVideo.web.d.ts.map
  packages/expo-av/build/ExponentVideo.web.js
  packages/expo-av/build/ExponentVideo.web.js.map
  packages/expo-av/build/Video.d.ts
  packages/expo-av/build/Video.d.ts.map
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/build/Video.types.d.ts
  packages/expo-av/build/Video.types.d.ts.map
  packages/expo-av/build/Video.types.js
  packages/expo-av/build/Video.types.js.map
  packages/expo-av/src/ExponentVideo.web.tsx
  packages/expo-av/src/Video.tsx
  packages/expo-av/src/Video.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#16217 chore: rename master to main in contributing guidelines
  CONTRIBUTING.md
Labels: bot: passed checks

#16189 [cli] migrate API refactor from `expo start`
  packages/expo/__mocks__/progress.ts
  packages/expo/cli/api/__tests__/fixtures/versions-latest.json
  packages/expo/cli/api/__tests__/getVersions-test.ts
  packages/expo/cli/api/endpoint.ts
  packages/expo/cli/api/getVersions.ts
  packages/expo/cli/api/graphql/client.ts
  packages/expo/cli/api/graphql/generated.ts
  packages/expo/cli/api/graphql/queries/UserQuery.ts
  packages/expo/cli/api/rest/__tests__/client-test.ts
  packages/expo/cli/api/rest/__tests__/fixtures/panda.png
  packages/expo/cli/api/rest/__tests__/wrapFetchWithBaseUrl-test.ts
  packages/expo/cli/api/rest/__tests__/wrapFetchWithProgress-test.ts
  packages/expo/cli/api/rest/cache/FileSystemCache.ts
  packages/expo/cli/api/rest/cache/response.ts
  packages/expo/cli/api/rest/cache/wrapFetchWithCache.ts
  packages/expo/cli/api/rest/client.ts
  packages/expo/cli/api/rest/client.types.ts
  packages/expo/cli/api/rest/wrapFetchWithBaseUrl.ts
  packages/expo/cli/api/rest/wrapFetchWithProgress.ts
  packages/expo/cli/api/user/UserSettings.ts
  packages/expo/cli/api/user/__mocks__/sessionStorage.ts
  packages/expo/cli/api/user/__mocks__/user.ts
  packages/expo/cli/api/user/__tests__/actions-test.ts
  packages/expo/cli/api/user/__tests__/otp-test.ts
  packages/expo/cli/api/user/__tests__/sessionStorage-test.ts
  packages/expo/cli/api/user/__tests__/user-test.ts
  packages/expo/cli/api/user/actions.ts
  packages/expo/cli/api/user/otp.ts
  packages/expo/cli/api/user/sessionStorage.ts
  packages/expo/cli/api/user/user.ts
  packages/expo/cli/login/index.ts
  packages/expo/cli/logout/index.ts
  packages/expo/cli/prebuild/resolveOptions.ts
  packages/expo/cli/utils/__tests__/api-test.ts
  packages/expo/cli/utils/__tests__/downloadExpoGoAsync-test.ts
  packages/expo/cli/utils/__tests__/obj-test.ts
  packages/expo/cli/utils/__tests__/tar-test.ts
  packages/expo/cli/utils/__tests__/url-test.ts
  packages/expo/cli/utils/__tests__/utils.ts
  packages/expo/cli/utils/analytics/rudderstackClient.ts
  packages/expo/cli/utils/api.ts
  packages/expo/cli/utils/downloadAppAsync.ts
  packages/expo/cli/utils/downloadExpoGoAsync.ts
  packages/expo/cli/utils/env.ts
  packages/expo/cli/utils/npm.ts
  packages/expo/cli/utils/obj.ts
  packages/expo/cli/utils/progress.ts
  packages/expo/cli/utils/prompts.ts
  packages/expo/cli/utils/tar.ts
  packages/expo/cli/utils/url.ts
  packages/expo/cli/utils/user/__mocks__/user.ts
  packages/expo/cli/whoami/whoamiAsync.ts
  packages/expo/e2e/__tests__/whoami-test.ts
Labels: bot: passed checks

#16225 [docs] fix broken link to internal distribution
  docs/scripts/schemas/unversioned/eas-json-build-common-schema.js
Labels: bot: passed checks

#16224 [docs] fix links to Apple docs on the Linking page
  docs/pages/guides/linking.md
Labels: bot: passed checks

#16124 [dev-launcher] move session fns from dev-menu to dev-launcher i
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/bundle/apiClient.ts
  packages/expo-dev-launcher/bundle/functions/__tests__/startAuthSessionAsync.test.ts
  packages/expo-dev-launcher/bundle/functions/restoreUserAsync.ts
  packages/expo-dev-launcher/bundle/functions/startAuthSessionAsync.ts
  packages/expo-dev-launcher/bundle/hooks/useUser.tsx
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherAuth.ts
  packages/expo-dev-launcher/bundle/native-modules/DevMenu.ts
  packages/expo-dev-launcher/bundle/native-modules/DevMenuInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevLauncherAuth.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevMenuInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevMenuWebBrowser.ts
  packages/expo-dev-launcher/bundle/screens/__tests__/UserProfileScreen.test.tsx
  packages/expo-dev-launcher/ios/EXDevLauncherAuth.h
  packages/expo-dev-launcher/ios/EXDevLauncherAuth.m
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-launcher/setupTests.ts
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuExpoSessionDelegate.swift
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
Labels: bot: passed checks

#16156 [document-picker] Handle nil MIME type
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/ios/EXDocumentPicker/EXDocumentPickerModule.m
Labels: bot: passed checks

#16191 [web][image-manipulator] Remove data:image part in base64
  apps/test-suite/tests/ImageManipulator.js
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js
  packages/expo-image-manipulator/build/ExpoImageManipulator.web.js.map
  packages/expo-image-manipulator/src/ExpoImageManipulator.web.ts
Labels: bot: passed checks

#16232 Update CHANGELOG.md
  CHANGELOG.md
Labels: bot: passed checks

#16145 [av] audio: refactor interruption modes to enums, export missing type
  apps/native-component-list/src/screens/AV/AudioModeSelector.android.tsx
  apps/native-component-list/src/screens/AV/AudioModeSelector.ios.tsx
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Audio.d.ts
  packages/expo-av/build/Audio.d.ts.map
  packages/expo-av/build/Audio.js
  packages/expo-av/build/Audio.js.map
  packages/expo-av/build/Audio.types.d.ts
  packages/expo-av/build/Audio.types.d.ts.map
  packages/expo-av/build/Audio.types.js
  packages/expo-av/build/Audio.types.js.map
  packages/expo-av/build/index.d.ts
  packages/expo-av/build/index.d.ts.map
  packages/expo-av/build/index.js
  packages/expo-av/build/index.js.map
  packages/expo-av/src/Audio.ts
  packages/expo-av/src/Audio.types.ts
  packages/expo-av/src/index.ts
Labels: bot: passed checks

#16229 [docs] Refactor analytics into a provider
  docs/common/analytics.tsx
  docs/pages/_app.tsx
  docs/providers/Analytics.tsx
Labels: docs, bot: passed checks

#16226 [docs] Add grid based layout component
  docs/ui/components/Layout/Layout.tsx
  docs/ui/components/Layout/LayoutScroll.tsx
  docs/ui/components/Layout/index.ts
Labels: docs, bot: passed checks

#16237 Fix `lottie-react-native` typo in CHANGELOG.md
  CHANGELOG.md
Labels: bot: passed checks

#16193 [docs] Clean up navigation constant to render new sidebar navigation
  docs/components/DocumentationPage.tsx
  docs/constants/navigation-deprecated.js
  docs/constants/navigation.js
Labels: docs, bot: passed checks

#16231 [dev-launcher][android] move authentication fns to dev-launcher
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherAuth.kt
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherAuth.ts
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalSessionManagerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalWebBrowserModule.kt
Labels: bot: suggestions

#16245 fix: update `fbemitter`
  packages/expo-ads-facebook/CHANGELOG.md
  packages/expo-ads-facebook/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/package.json
  packages/expo/package.json
  yarn.lock
Labels: bot: passed checks

#16248 [docs] Fix persisting scroll and background colors in navigation
  docs/ui/components/Layout/LayoutScroll.tsx
  docs/ui/components/Layout/index.ts
  docs/ui/components/Layout/usePersistScroll.ts
  docs/ui/components/Navigation/Navigation.tsx
  docs/ui/components/Navigation/PageLink.tsx
Labels: docs, bot: passed checks

#16228 [dev-menu][android] simplify relationship between dev-menu and dev-client
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherControllerInterface.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/menu/DevLauncherMenuDelegate.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/testDebug/java/expo/modules/devlauncher/DevLauncherControllerTest.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuManagerProvider.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalSessionManagerModule.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: passed checks

#16249 [docs] Add proper layout background colors
  docs/ui/components/Layout/Layout.tsx
Labels: bot: passed checks

#16252 [docs] Fix constants example in expo modules guide
  docs/pages/modules/module-api.md
Labels: bot: passed checks

#16259 Update variants.md
  docs/pages/build-reference/variants.md
Labels: bot: passed checks

#16253 [docs] Add headings with anchor icons
  docs/components/page-higher-order/DocumentationElements.tsx
  docs/next.config.js
  docs/package.json
  docs/ui/components/Text/Text.test.tsx
  docs/ui/components/Text/index.tsx
  docs/ui/components/Text/types.ts
  docs/ui/components/Text/withAnchor.test.tsx
  docs/ui/components/Text/withAnchor.tsx
  docs/yarn.lock
Labels: docs, bot: passed checks

#16216 [expo-updates][cli] Add expo-updates CLI
  .github/workflows/expo-updates-cli.yml
  packages/expo-updates/.gitignore
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/bin/cli.js
  packages/expo-updates/cli/__mocks__/fs.js
  packages/expo-updates/cli/__tests__/configure-test.ts
  packages/expo-updates/cli/__tests__/fixtures/invalid-certificate.pem
  packages/expo-updates/cli/__tests__/fixtures/invalid-private-key.pem
  packages/expo-updates/cli/__tests__/fixtures/invalid-public-key.pem
  packages/expo-updates/cli/__tests__/generate-test.ts
  packages/expo-updates/cli/cli.ts
  packages/expo-updates/cli/configureCodeSigning.ts
  packages/expo-updates/cli/configureCodeSigningAsync.ts
  packages/expo-updates/cli/generateCodeSigning.ts
  packages/expo-updates/cli/generateCodeSigningAsync.ts
  packages/expo-updates/cli/utils/args.ts
  packages/expo-updates/cli/utils/log.ts
  packages/expo-updates/cli/utils/modifyConfigAsync.ts
  packages/expo-updates/jest.cli.config.js
  packages/expo-updates/package.json
  packages/expo-updates/ts-declarations/xcode/index.d.ts
  packages/expo-updates/tsconfig.cli.json
  yarn.lock
Labels: bot: passed checks

#16299 [home] Fix broken build
  home/screens/AudioDiagnosticsScreen.tsx
  home/utils/useAudio.ts
Labels: bot: passed checks

#16260 [expo-modules-autolinking] add ios.swiftModuleName to expo-module config
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/platforms/ios.d.ts
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/e2e/__tests__/__snapshots__/monorepo-test.ts.snap
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/platforms/__tests__/ios-test.ts
  packages/expo-modules-autolinking/src/platforms/ios.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks

#16274 [expo-notifications][docs] Fix readme
  packages/expo-notifications/README.md
Labels: bot: suggestions

#16300 [apps] cleanup and fixes after AV type changes
  apps/test-suite/tests/Audio.js
  apps/test-suite/tests/Recording.js
  home/screens/AudioDiagnosticsScreen.tsx
  home/utils/useAudio.ts
Labels: bot: passed checks

#16268 [ios][web-browser] Fix dismissing the browser
  packages/expo-web-browser/ios/WebBrowserSession.swift
Labels: bot: suggestions

#16303 [docs] Add hotfix for the sentry spam
  docs/common/sentry-utilities.ts
Labels: bot: passed checks

#16305 [docs] Update Sentry DSN
  docs/pages/_app.tsx
Labels: bot: passed checks

#16265 [docs] EAS Build - switch latest image to Monterey
  docs/pages/build-reference/infrastructure.md
Labels: bot: passed checks

#16288 [docs] Add redesigned button components
  docs/ui/components/Button/Button.tsx
  docs/ui/components/Button/ButtonBase.tsx
  docs/ui/components/Button/colors.ts
  docs/ui/components/Button/index.ts
  docs/ui/components/Text/index.tsx
  docs/ui/foundations/icons.tsx
Labels: docs, bot: passed checks

#16301 Fix typo on expo updates page
  docs/pages/bare/updating-your-app.md
Labels: bot: passed checks

#16302 [dev-launcher] refactor modal component
  packages/expo-dev-launcher/bundle/components/BaseModal.tsx
  packages/expo-dev-launcher/bundle/components/DeepLinkModal.tsx
  packages/expo-dev-launcher/bundle/components/DevServerExplainerModal.tsx
  packages/expo-dev-launcher/bundle/components/LoadAppErrorModal.tsx
  packages/expo-dev-launcher/bundle/components/LogoutConfirmationModal.tsx
  packages/expo-dev-launcher/bundle/hooks/useModalStack.tsx
  packages/expo-dev-launcher/bundle/hooks/usePendingDeepLink.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/UserProfileScreen.tsx
Labels: bot: suggestions

#16309 [dev-client-components] extend and cleanup dev-client components
  packages/expo-dev-client-components/CHANGELOG.md
  packages/expo-dev-client-components/build/Button.d.ts
  packages/expo-dev-client-components/build/Button.d.ts.map
  packages/expo-dev-client-components/build/Button.js
  packages/expo-dev-client-components/build/Button.js.map
  packages/expo-dev-client-components/build/Image.d.ts
  packages/expo-dev-client-components/build/Text.d.ts
  packages/expo-dev-client-components/build/Text.d.ts.map
  packages/expo-dev-client-components/build/Text.js
  packages/expo-dev-client-components/build/Text.js.map
  packages/expo-dev-client-components/build/View.d.ts
  packages/expo-dev-client-components/build/View.d.ts.map
  packages/expo-dev-client-components/build/View.js
  packages/expo-dev-client-components/build/View.js.map
  packages/expo-dev-client-components/build/theme.d.ts
  packages/expo-dev-client-components/build/theme.d.ts.map
  packages/expo-dev-client-components/build/theme.js
  packages/expo-dev-client-components/build/theme.js.map
  packages/expo-dev-client-components/src/Button.tsx
  packages/expo-dev-client-components/src/Text.tsx
  packages/expo-dev-client-components/src/View.tsx
  packages/expo-dev-client-components/src/theme.ts
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
  packages/expo-dev-launcher/bundle/components/BaseModal.tsx
  packages/expo-dev-launcher/bundle/components/DeepLinkModal.tsx
  packages/expo-dev-launcher/bundle/components/LogoutConfirmationModal.tsx
  packages/expo-dev-launcher/bundle/components/UrlDropdown.tsx
  packages/expo-dev-launcher/bundle/hooks/useModalStack.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/bundle/screens/UserProfileScreen.tsx
  packages/expo-dev-menu/app/components/Main.tsx
Labels: bot: suggestions

#16270 [dev-menu][android] remove dev menu session
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuManagerInterface.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuSessionInterface.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuDefaultExtensionSettings.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuSession.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: suggestions

#16315 [docs] updates notification service date
  docs/pages/push-notifications/faq.md
Labels: bot: passed checks

#16324 [home] add kitchen sink tab for dev-client-components-reference
  home/navigation/Navigation.tsx
  home/screens/KitchenSink.tsx
Labels: bot: passed checks

#16325 [docs] fix eas update configuration link
  docs/pages/eas-update/how-eas-update-works.md
Labels: bot: passed checks

#16295 Change 'apk' to 'aab' as playstore no longer accept apk
  docs/pages/workflow/expo-cli.md
Labels: bot: passed checks

#16296 Add step to reload environment variables
  docs/pages/workflow/android-studio-emulator.md
Labels: bot: passed checks

#16328 [docs] Show clearer notices that "expo build" will stop on Jan 4, 2023, update ExpoKit deprecation messages
  docs/pages/archived/adhoc-builds.md
  docs/pages/classic/building-standalone-apps.md
  docs/pages/expokit/eject.md
  docs/pages/expokit/expokit.md
  docs/pages/expokit/overview.md
  docs/pages/expokit/universal-modules-and-expokit.md
  docs/pages/workflow/glossary-of-terms.md
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.md
Labels: bot: passed checks

#16171 Update release-channels.md
  docs/pages/distribution/release-channels.md
Labels: bot: passed checks

#16269 [Android][clipboard] Rewrite module to Sweet API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/build.gradle
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardEventEmitter.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardPackage.kt
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/expo-clipboard/expo-module.config.json
  packages/unimodules-test-core/android/build.gradle
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleMock.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/PromiseMock.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/TestUtils.kt
Labels: bot: passed checks

#16038 Upgrade to react-native 0.67
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/bare-expo/android/app/src/main/res/values/styles.xml
  apps/bare-expo/android/build.gradle
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/bare-sandbox/android/app/build.gradle
  apps/bare-sandbox/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/bare-sandbox/android/app/src/main/res/values/styles.xml
  apps/bare-sandbox/android/gradle.properties
  apps/bare-sandbox/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-sandbox/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  package.json
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/react-native-67/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManager.kt
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo/cli/prebuild/__tests__/fixtures/react-native-project.ts
  packages/expo/package.json
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/app/src/main/res/drawable/rn_edit_text_material.xml
  templates/expo-template-bare-minimum/android/app/src/main/res/values/styles.xml
  templates/expo-template-bare-minimum/android/build.gradle
  templates/expo-template-bare-minimum/android/gradle.properties
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.properties
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions

#16348 Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: bot: passed checks

#16163 [expo-updates] fix: issue where launch screen wouldn't show
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
Labels: bot: passed checks

#16351 [cli] Disable extra tests that are unrelated to the CLI
  .github/workflows/cli.yml
  .github/workflows/native-component-list.yml
  .github/workflows/publish-demo.yml
  .github/workflows/sdk.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#16350 [cli] Remove extra instances of fs-extra
  packages/expo/cli/api/user/__tests__/user-test.ts
  packages/expo/cli/prebuild/__tests__/clearNativeFolder-test.ts
  packages/expo/cli/prebuild/clearNativeFolder.ts
  packages/expo/cli/utils/__tests__/mergeGitIgnorePaths-test.ts
  packages/expo/cli/utils/dir.ts
  packages/expo/cli/utils/downloadAppAsync.ts
  packages/expo/cli/utils/nodeModules.ts
  packages/expo/e2e/__tests__/utils.ts
Labels: bot: passed checks

#16332 [cli][start] Added persisted project state modules
  packages/expo/cli/start/project/ProjectDevices.ts
  packages/expo/cli/start/project/ProjectSettings.ts
  packages/expo/cli/start/project/__tests__/ProjectDevices-test.ts
  packages/expo/cli/start/project/__tests__/dotExpo-test.ts
  packages/expo/cli/start/project/dotExpo.ts
Labels: bot: passed checks

#16341 [dev-launcher] Add crash report screen
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorRegistry.kt
  packages/expo-dev-launcher/bundle/App.tsx
  packages/expo-dev-launcher/bundle/components/AppProviders.tsx
  packages/expo-dev-launcher/bundle/functions/getInitialData.ts
  packages/expo-dev-launcher/bundle/hooks/useCrashReport.tsx
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/screens/CrashReportScreen.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherErrorRegistry.swift
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherUncaughtExceptionHandler.swift
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks

#16316 [expo-localization] fix: Exception in HostObject::get for prop 'NativeUnimoduleProxy': java.lang.NullPointerException
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
Labels: bot: passed checks

#16271 [dev-menu] update initial props on android and ios
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuAppInfo.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/app/App.tsx
  packages/expo-dev-menu/app/components/AppProviders.tsx
  packages/expo-dev-menu/app/components/__tests__/Main.test.tsx
  packages/expo-dev-menu/app/hooks/useAppInfo.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/app/native-modules/__mocks__/DevMenu.ts
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.h
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/ios/Tests/EXDevMenuAppInfoTest.swift
Labels: bot: suggestions

#16349 [docs] update expo-cli docs for 5.2.0
  docs/pages/workflow/expo-cli.md
Labels: bot: passed checks

#16384 [docs] Apply consistent styling to list items and update the link of react-native-elements docs
  docs/pages/guides/userinterface.md
Labels: bot: passed checks

#16385 [Tutorial]Deprecated function on platform-differences.md
  docs/pages/tutorial/platform-differences.md
Labels: bot: passed checks

#16267 [ncl] Refactor examples for WebBrowser (part 1)
  apps/native-component-list/src/components/Configurator.tsx
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/WebBrowser/OpenAuthSessionAsyncDemo.tsx
  apps/native-component-list/src/screens/WebBrowser/OpenBrowserAsyncDemo.tsx
  apps/native-component-list/src/screens/WebBrowser/WebBrowserScreen.tsx
  apps/native-component-list/src/screens/WebBrowserScreen.tsx
Labels: bot: passed checks

#16372 [dev-launcher] Fix crash when using hermes on android react-native 0.67
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherClientHost.kt
Labels: bot: suggestions

#16364 [dev-client][CI] Save logs on the failure
  packages/expo-dev-client/.detoxrc.js
Labels: bot: suggestions

#16347 [docs] Add platform specific runtime version description
  docs/pages/eas-update/runtime-versions.md
Labels: bot: passed checks

#16397 [templates] update locks after bumping RN in workspace
  templates/expo-template-bare-minimum/yarn.lock
  templates/expo-template-blank-typescript/yarn.lock
  templates/expo-template-blank/yarn.lock
  templates/expo-template-tabs/yarn.lock
Labels: bot: passed checks

#16359 [cli] Created ngrok resolver
  packages/expo/cli/start/doctor/ngrok/ExternalModule.ts
  packages/expo/cli/start/doctor/ngrok/NgrokResolver.ts
  packages/expo/cli/start/doctor/ngrok/__tests__/ExternalModule-test.ts
  packages/expo/cli/utils/delay.ts
Labels: bot: passed checks

#16358 [cli] Add more API methods required for start command
  packages/expo/cli/api/__tests__/fixtures/44.0.0.json
  packages/expo/cli/api/__tests__/fixtures/UNVERSIONED.json
  packages/expo/cli/api/__tests__/fixtures/native-modules/44.0.0.json
  packages/expo/cli/api/__tests__/fixtures/projects/4254c843-457a-4a6e-9b21-1506dc175ba4.json
  packages/expo/cli/api/__tests__/getExpoSchema-test.ts
  packages/expo/cli/api/__tests__/getNativeModuleVersions-test.ts
  packages/expo/cli/api/__tests__/getProject-test.ts
  packages/expo/cli/api/__tests__/signManifest-test.ts
  packages/expo/cli/api/__tests__/updateDevelopmentSession-test.ts
  packages/expo/cli/api/getExpoSchema.ts
  packages/expo/cli/api/getNativeModuleVersions.ts
  packages/expo/cli/api/getProject.ts
  packages/expo/cli/api/graphql/client.ts
  packages/expo/cli/api/rest/__tests__/client-test.ts
  packages/expo/cli/api/rest/client.ts
  packages/expo/cli/api/signManifest.ts
  packages/expo/cli/api/updateDevelopmentSession.ts
  packages/expo/cli/api/user/UserSettings.ts
  packages/expo/cli/api/user/__mocks__/UserSettings.ts
  packages/expo/cli/api/user/__tests__/UserSettings-test.ts
  packages/expo/cli/api/user/__tests__/actions-test.ts
  packages/expo/cli/api/user/__tests__/otp-test.ts
  packages/expo/cli/api/user/__tests__/sessionStorage-test.ts
  packages/expo/cli/api/user/__tests__/user-test.ts
  packages/expo/cli/api/user/sessionStorage.ts
  packages/expo/cli/api/user/user.ts
  packages/expo/cli/utils/__tests__/downloadExpoGoAsync-test.ts
  packages/expo/cli/utils/__tests__/tar-test.ts
  packages/expo/cli/utils/analytics/rudderstackClient.ts
  packages/expo/cli/utils/env.ts
  packages/expo/package.json
Labels: bot: passed checks

#16391 [clipboard][ios] Add support for images and URLs
  apps/native-component-list/src/screens/ClipboardScreen.tsx
  apps/test-suite/TestModules.js
  apps/test-suite/tests/Clipboard.js
  docs/public/static/data/unversioned/expo-clipboard.json
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/Clipboard.types.d.ts
  packages/expo-clipboard/build/Clipboard.types.d.ts.map
  packages/expo-clipboard/build/Clipboard.types.js
  packages/expo-clipboard/build/Clipboard.types.js.map
  packages/expo-clipboard/ios/ClipboardExceptions.swift
  packages/expo-clipboard/ios/ClipboardModule.swift
  packages/expo-clipboard/ios/ClipboardOptions.swift
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/Clipboard.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#16424 Environment variable name fix
  docs/pages/build-reference/variants.md
Labels: bot: passed checks

#16425 [home][dcc] add optional theme override to dev client components
  home/HomeApp.tsx
  packages/expo-dev-client-components/README.md
  packages/expo-dev-client-components/build/Button.d.ts
  packages/expo-dev-client-components/build/Button.js
  packages/expo-dev-client-components/build/Button.js.map
  packages/expo-dev-client-components/build/Image.d.ts
  packages/expo-dev-client-components/build/Image.js
  packages/expo-dev-client-components/build/Image.js.map
  packages/expo-dev-client-components/build/Text.d.ts
  packages/expo-dev-client-components/build/Text.js
  packages/expo-dev-client-components/build/Text.js.map
  packages/expo-dev-client-components/build/ThemeProvider.d.ts
  packages/expo-dev-client-components/build/ThemeProvider.d.ts.map
  packages/expo-dev-client-components/build/ThemeProvider.js
  packages/expo-dev-client-components/build/ThemeProvider.js.map
  packages/expo-dev-client-components/build/View.d.ts
  packages/expo-dev-client-components/build/View.js
  packages/expo-dev-client-components/build/View.js.map
  packages/expo-dev-client-components/build/create-primitive.d.ts
  packages/expo-dev-client-components/build/create-primitive.d.ts.map
  packages/expo-dev-client-components/build/create-primitive.js
  packages/expo-dev-client-components/build/create-primitive.js.map
  packages/expo-dev-client-components/build/index.d.ts
  packages/expo-dev-client-components/build/index.d.ts.map
  packages/expo-dev-client-components/build/index.js
  packages/expo-dev-client-components/build/index.js.map
  packages/expo-dev-client-components/build/theme.d.ts
  packages/expo-dev-client-components/build/useExpoTheme.d.ts.map
  packages/expo-dev-client-components/build/useExpoTheme.js
  packages/expo-dev-client-components/build/useExpoTheme.js.map
  packages/expo-dev-client-components/package.json
  packages/expo-dev-client-components/setupTests.js
  packages/expo-dev-client-components/src/Button.tsx
  packages/expo-dev-client-components/src/Image.tsx
  packages/expo-dev-client-components/src/Text.tsx
  packages/expo-dev-client-components/src/ThemeProvider.tsx
  packages/expo-dev-client-components/src/View.tsx
  packages/expo-dev-client-components/src/__tests__/create-primitive.test.tsx
  packages/expo-dev-client-components/src/create-primitive.tsx
  packages/expo-dev-client-components/src/index.ts
  packages/expo-dev-client-components/src/useExpoTheme.ts
Labels: bot: suggestions

#16419 [autolinking] Fix finding transitive modules
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/autolinking/findModules.js
  packages/expo-modules-autolinking/build/autolinking/findModules.js.map
  packages/expo-modules-autolinking/src/autolinking/findModules.ts
Labels: bot: passed checks

#16412 Update notifications.md (API code example)
  docs/pages/versions/unversioned/sdk/notifications.md
Labels: bot: passed checks

#16433 Update sharing.md code snippet (missing dep)
  docs/pages/tutorial/sharing.md
Labels: bot: passed checks

#16427 [dev-launcher][dev-menu] update dark mode styles
  packages/expo-dev-client-components/build/theme.d.ts
  packages/expo-dev-client-components/build/theme.js
  packages/expo-dev-client-components/build/theme.js.map
  packages/expo-dev-client-components/src/theme.ts
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
  packages/expo-dev-launcher/bundle/components/BaseModal.tsx
  packages/expo-dev-launcher/bundle/components/DeepLinkModal.tsx
  packages/expo-dev-launcher/bundle/components/LogoutConfirmationModal.tsx
  packages/expo-dev-launcher/bundle/components/UrlDropdown.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/bundle/screens/UserProfileScreen.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-menu/app/components/Main.tsx
Labels: bot: suggestions

#16444 [modules-core][Android] Add utility to infer error codes
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
Labels: bot: suggestions

#16445 [navigation-bar] Fix getVisibilityAsync crash Android 10 and older
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarModule.kt
Labels: bot: passed checks

#16462 docs: remove unreferenced information
  docs/pages/development/getting-started.md
Labels: bot: passed checks

#16464 [tools] remove unused const to fix build
  tools/src/commands/UpdateReactNative.ts
Labels: bot: passed checks

#16436 [android][ios] Deprecate react-native-appearance
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/ExpoAppearanceModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/ExpoAppearancePackage.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/rncappearance/RNCAppearanceModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/appearance/rncappearance/RNCAppearancePackage.java
  apps/native-component-list/App.tsx
  apps/native-component-list/app.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/AppearanceScreen.tsx
  dev-home-config.json
  home/App.tsx
  home/HomeApp.tsx
  home/menu/DevMenuApp.tsx
  home/package.json
  home/redux/SettingsActions.ts
  home/redux/SettingsReducer.ts
  home/redux/__mocks__/Store.ts
  home/screens/UserSettingsScreen.tsx
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Versioned/Core/Api/Appearance/RNCAppearance.h
  ios/Exponent/Versioned/Core/Api/Appearance/RNCAppearance.m
  ios/Exponent/Versioned/Core/Api/Appearance/RNCAppearanceProvider.h
  ios/Exponent/Versioned/Core/Api/Appearance/RNCAppearanceProvider.m
  ios/Exponent/Versioned/Core/Api/Appearance/RNCAppearanceProviderManager.h
  ios/Exponent/Versioned/Core/Api/Appearance/RNCAppearanceProviderManager.m
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/vendoring/legacy.ts
  yarn.lock
Labels: bot: passed checks

#16446 [packages] Remove backward compatible workarounds and drop react-native 0.64 support
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/build.gradle
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/CountingRequestBody.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
  packages/expo-image/android/build.gradle
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/OkHttpClientProgressInterceptor.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/NativeModulesProxy/EXComponentDataCompatibleWrapper.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXComponentDataCompatibleWrapper.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/Swift/Views/ComponentData.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Crypto.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: passed checks

#16329 [cli][start] Added doctor validations
  packages/expo/__mocks__/@expo/osascript.ts
  packages/expo/__mocks__/@expo/spawn-async.ts
  packages/expo/__mocks__/fs/promises.ts
  packages/expo/__mocks__/progress.ts
  packages/expo/cli/api/rest/client.ts
  packages/expo/cli/start/doctor/Prerequisite.ts
  packages/expo/cli/start/doctor/__tests__/Prerequisite-test.ts
  packages/expo/cli/start/doctor/apple/SimulatorAppPrerequisite.ts
  packages/expo/cli/start/doctor/apple/XcodePrerequisite.ts
  packages/expo/cli/start/doctor/apple/XcrunPrerequisite.ts
  packages/expo/cli/start/doctor/apple/__tests__/SimulatorAppPrerequisite-test.ts
  packages/expo/cli/start/doctor/apple/__tests__/XcodePrerequisite-test.ts
  packages/expo/cli/start/doctor/apple/__tests__/XcrunPrerequisite-test.ts
  packages/expo/cli/start/doctor/dependencies/__tests__/bundledNativeModules-test.ts
  packages/expo/cli/start/doctor/dependencies/__tests__/ensureDependenciesAsync-test.ts
  packages/expo/cli/start/doctor/dependencies/__tests__/getMissingPackages-test.ts
  packages/expo/cli/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/expo/cli/start/doctor/dependencies/bundledNativeModules.ts
  packages/expo/cli/start/doctor/dependencies/ensureDependenciesAsync.ts
  packages/expo/cli/start/doctor/dependencies/getMissingPackages.ts
  packages/expo/cli/start/doctor/dependencies/validateDependenciesVersions.ts
  packages/expo/cli/start/doctor/typescript/TypeScriptProjectPrerequisite.ts
  packages/expo/cli/start/doctor/typescript/__tests__/TypeScriptProjectPrerequisite-test.ts
  packages/expo/cli/start/doctor/typescript/__tests__/updateTSConfig-test.ts
  packages/expo/cli/start/doctor/typescript/updateTSConfig.ts
  packages/expo/cli/start/doctor/web/WebSupportProjectPrerequisite.ts
  packages/expo/cli/start/doctor/web/__tests__/WebSupportProjectPrerequisite-test.ts
  packages/expo/cli/utils/__tests__/ansi-test.ts
  packages/expo/cli/utils/__tests__/delay-test.ts
  packages/expo/cli/utils/__tests__/fn-test.ts
  packages/expo/cli/utils/__tests__/validateApplicationId-test.ts
  packages/expo/cli/utils/ansi.ts
  packages/expo/cli/utils/dir.ts
  packages/expo/cli/utils/env.ts
  packages/expo/cli/utils/errors.ts
  packages/expo/cli/utils/fn.ts
  packages/expo/cli/utils/glob.ts
  packages/expo/e2e/__tests__/utils.ts
  packages/expo/e2e/setup.ts
Labels: bot: passed checks
