Repository expo/expo, pull requests merged in 2022-06, with the labels that each got.

#17669 [e-m-c][Android Add enum auto-conversion tests
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RecordTypeConverterTest.kt
Labels: bot: suggestions

#17686 [notifications] Fix android 12 notification trampolines
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/AndroidManifest.xml
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationForwarderActivity.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
Labels: bot: passed checks

#17709 [eslint-config] support TypeScript 4.7, bump dependencies
  packages/eslint-config-universe/CHANGELOG.md
  packages/eslint-config-universe/package.json
  yarn.lock
Labels: bot: passed checks

#17665 chore(cli): use `nxp expo install` for recommended missing dependency check
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/ensureDependenciesAsync-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/ensureDependenciesAsync.ts
Labels: bot: passed checks

#17574 [docs] Improve JS troubleshooting guides
  docs/pages/build-reference/troubleshooting.md
Labels: bot: passed checks

#17664 chore: add debug log about unversioned packages
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
Labels: bot: passed checks

#17701 [dev-menu] Show information about needed app reload before debugging while using Hermes
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuAppInfo.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/app/components/BottomSheet.tsx
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
Labels: bot: suggestions

#17716 [docs] update Styleguide, replace most of the icons
  docs/components/DocumentationFooter.tsx
  docs/components/DocumentationHeader.tsx
  docs/components/DocumentationSidebarCollapsible.tsx
  docs/components/VersionSelector.tsx
  docs/components/base/list.tsx
  docs/components/base/paragraph.tsx
  docs/components/icons/Bullet.tsx
  docs/components/icons/ChatBoxes.tsx
  docs/components/icons/CheckCircle.tsx
  docs/components/icons/ChevronDown.tsx
  docs/components/icons/DismissIcon.tsx
  docs/components/icons/ExternalLink.tsx
  docs/components/icons/Info.tsx
  docs/components/icons/Menu.tsx
  docs/components/icons/MoreHorizontal.tsx
  docs/components/icons/PendingCircle.tsx
  docs/components/icons/QuestionIcon.tsx
  docs/components/icons/SDK.tsx
  docs/components/icons/SlashShortcut.tsx
  docs/components/icons/Spectacles.tsx
  docs/components/icons/X.tsx
  docs/components/icons/XCircle.tsx
  docs/components/plugins/AlgoliaSearch.tsx
  docs/components/plugins/PlatformsSection.tsx
  docs/components/plugins/SnackInline.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/permissions/AndroidPermissions.tsx
  docs/package.json
  docs/pages/index.tsx
  docs/ui/components/Callout/index.tsx
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Header/Header.tsx
  docs/ui/components/Header/Logo.tsx
  docs/ui/components/Header/Search.tsx
  docs/ui/components/Home/resources/APIIcons.tsx
  docs/ui/components/Navigation/ApiVersionSelect.tsx
  docs/ui/components/Navigation/SectionList.tsx
  docs/ui/components/Snippet/actions/CopyAction.tsx
  docs/ui/components/Table/index.ts
  docs/ui/foundations/icons.tsx
  docs/yarn.lock
Labels: bot: passed checks

#17730 [docs] Fix inline snack submit buttons
  docs/components/plugins/SnackInline.tsx
Labels: bot: passed checks

#17732 [expo-updates][android] Fix asset hash storage
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/UpdatesDatabaseMigrationTest.kt
  packages/expo-updates/android/src/androidTest/schemas/expo.modules.updates.db.UpdatesDatabase/11.json
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/UpdatesDatabase.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
Labels: bot: passed checks

#17733 [docs] fix few docs internal links
  docs/pages/guides/monorepos.md
  docs/pages/ui-programming/implementing-a-checkbox.md
  docs/pages/versions/unversioned/sdk/map-view.md
  docs/pages/versions/v45.0.0/sdk/map-view.md
Labels: bot: passed checks

#17739 [docs] remove several of the global styles
  docs/components/plugins/AuthSessionElements.tsx
  docs/components/plugins/ConfigurationDiff.tsx
  docs/global-styles/extras.ts
Labels: bot: passed checks

#17750 [Docs] Fix typo in caching.md
  docs/pages/build-reference/caching.md
Labels: bot: passed checks

#17731 Link typo
  docs/pages/ui-programming/react-native-toast.md
Labels: bot: passed checks

#17743 [expo] add missing expo-screen-capture version
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#17713 feat(babel-preset-expo): preserve import export on webpack only
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/index.js
Labels: bot: passed checks

#17760 Fix typo
  docs/pages/modules/appdelegate-subscribers.md
Labels: bot: passed checks

#17754 [expo-dev-launcher] Remove unnecessary safe call
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
Labels: bot: suggestions

#17755 [expo-dev-launcher] getApplicationIconUri code reoder to remove warning
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
Labels: bot: suggestions

#17756 [docs] Add some useful redirects for Expo Modules API
  docs/deploy.sh
  docs/pages/modules/index.js
Labels: bot: passed checks

#17761 [expo-crypto] Add sync version of the `digestString` function
  packages/expo-crypto/android/src/main/java/expo/modules/crypto/CryptoModule.kt
Labels: bot: suggestions

#17734 [expo-dev-launcher] fix opening published update from URL on android
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
Labels: bot: suggestions

#17737 [updates-e2e] add a test for loading multiple assets with expected hashes
  packages/expo-updates/e2e/__tests__/Updates-e2e.test.ts
  packages/expo-updates/e2e/__tests__/assets/lubo-minar-j2RgHfqKhCM-unsplash.jpg
  packages/expo-updates/e2e/__tests__/assets/niklas-liniger-zuPiCN7xekM-unsplash.jpg
  packages/expo-updates/e2e/__tests__/assets/patrick-untersee-XJjsuuDwWas-unsplash.jpg
  packages/expo-updates/e2e/__tests__/utils/update.ts
Labels: bot: suggestions

#17769 [home] remove unused graphql declarations from account deletion port
  dev-home-config.json
  home/graphql.schema.json
  home/graphql/types.ts
  home/screens/SettingsScreen/DeleteAccountSection/SendSMSOTPToSecondFactorDevice.mutation.graphql
  home/screens/SettingsScreen/DeleteAccountSection/TwoFactorAuthMutations.mutation.graphql
Labels: bot: passed checks

#17767 [expo-dev-menu] fix copy on onboarding screen
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/components/Onboarding.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: bot: suggestions

#17762 [dev-menu] Restore `open RN dev menu` and `js inspector` options
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuAppInfo.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuDevSettings.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: bot: suggestions

#17712 [dev-client][iOS] autodetect launcher packager
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: passed checks

#17745 [expo-updates] Validate asset hash against expected hash before writing file to disk
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderFiles.kt
  packages/expo-updates/e2e/__tests__/Updates-e2e.test.ts
  packages/expo-updates/e2e/__tests__/utils/update.ts
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAsset.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
Labels: bot: passed checks

#17707 [Android][Notifications] Fix Data-only FCM Notifications appearing in Notification Drawer
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  packages/expo-notifications/android/src/test/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegateTest.kt
Labels: bot: passed checks

#17780 [dev-launcher][dev-menu] fix `RCTBridge.currentBridge` to be override
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuRCTBridge.m
Labels: bot: passed checks

#17796 [docs] update dev client screenshot
  docs/pages/development/getting-started.md
  docs/public/static/images/dev-client-launcher.png
  docs/public/static/images/dev-client/launcher-screen.png
Labels: bot: passed checks

#17805 [docs] update Slider docs for renamed package
  docs/pages/versions/unversioned/sdk/slider.md
  docs/pages/versions/v45.0.0/sdk/slider.md
Labels: bot: passed checks

#17808 fix classic-builds href
  docs/pages/submit/introduction.md
Labels: bot: passed checks

#15969 remove most references to `expo eject`in favor of `prebuild`
  apps/native-component-list/package.json
  docs/pages/bare/exploring-bare-workflow.md
  docs/pages/guides/authentication.md
  docs/pages/guides/config-plugins.md
  docs/pages/guides/monorepos.md
  guides/releasing/Release Workflow.md
  packages/expo-auth-session/build/providers/Google.d.ts
  packages/expo-auth-session/build/providers/Google.js.map
  packages/expo-auth-session/src/providers/Google.ts
  packages/expo-document-picker/README.md
  packages/expo-updates/README.md
  packages/expo-yarn-workspaces/workspace-template/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
Labels: bot: suggestions

#17821 [module-template] Fix creating expo modules
  packages/expo-module-template/$package.json
  packages/expo-module-template/package.json
Labels: bot: passed checks

#17802 [docs] Fix hyperlink in `MapView` docs
  docs/pages/versions/unversioned/sdk/map-view.md
  docs/pages/versions/v45.0.0/sdk/map-view.md
Labels: bot: passed checks

#16365 [expo-store-review] Updated rejection message when review flow fails
  docs/pages/versions/v44.0.0/sdk/storereview.md
  packages/expo-store-review/CHANGELOG.md
  packages/expo-store-review/android/src/main/java/expo/modules/storereview/StoreReviewModule.kt
Labels: bot: passed checks

#17835 [jest-expo] Fix auth-session tests
  packages/expo-web-browser/src/__tests__/WebBrowser-test.native.ts
  packages/jest-expo/src/index.js
Labels: bot: passed checks

#17833 [Web][camera] Prevent immediate QR worker clean up
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/useWebQRScanner.js
  packages/expo-camera/build/useWebQRScanner.js.map
  packages/expo-camera/src/useWebQRScanner.ts
Labels: bot: passed checks

#17832 [Android][Expo Go] Fix building on Apple Silicon
  android/build.gradle
Labels: bot: passed checks

#17751 [notifications] Fix opening wrong activity for expo go
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
Labels: bot: suggestions

#17608 [ios][tests][clipboard] Try writing expo-module iOS unit tests
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile
  ios/Podfile.lock
  packages/expo-clipboard/ios/ExpoClipboard.podspec
  packages/expo-clipboard/ios/Tests/ClipboardModuleSpec.swift
  packages/expo-clipboard/ios/Tests/MockUIPasteboard.swift
Labels: bot: passed checks

#17836 [sweet API][Kotlin] Export property names in the expo modules host object
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIInteropModuleRegistry.kt
Labels: bot: suggestions

#17812 [Android][iOS][notifications] Support unregistering from push notifications
  apps/native-component-list/src/screens/NotificationScreen.tsx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.java
  packages/expo-notifications/android/src/test/java/expo/modules/notifications/tokens/PushTokenModuleTest.kt
  packages/expo-notifications/build/PushTokenManager.types.d.ts
  packages/expo-notifications/build/PushTokenManager.types.d.ts.map
  packages/expo-notifications/build/PushTokenManager.types.js.map
  packages/expo-notifications/build/index.d.ts
  packages/expo-notifications/build/index.d.ts.map
  packages/expo-notifications/build/index.js
  packages/expo-notifications/build/index.js.map
  packages/expo-notifications/build/unregisterForNotificationsAsync.d.ts
  packages/expo-notifications/build/unregisterForNotificationsAsync.d.ts.map
  packages/expo-notifications/build/unregisterForNotificationsAsync.js
  packages/expo-notifications/build/unregisterForNotificationsAsync.js.map
  packages/expo-notifications/ios/EXNotifications/PushToken/EXPushTokenModule.m
  packages/expo-notifications/src/PushTokenManager.types.ts
  packages/expo-notifications/src/index.ts
  packages/expo-notifications/src/unregisterForNotificationsAsync.ts
Labels: bot: passed checks

#17667 [ios] Implement sweet typed arrays
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/JSI/EXJavaScriptTypedArray.h
  packages/expo-modules-core/ios/JSI/EXJavaScriptTypedArray.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptValue.h
  packages/expo-modules-core/ios/JSI/EXJavaScriptValue.mm
  packages/expo-modules-core/ios/JSI/JavaScriptValue.swift
  packages/expo-modules-core/ios/JSI/TypedArray.cpp
  packages/expo-modules-core/ios/JSI/TypedArray.h
  packages/expo-modules-core/ios/Swift/Arguments/AnyArgument.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicTypedArrayType.swift
  packages/expo-modules-core/ios/Swift/JavaScriptUtils.swift
  packages/expo-modules-core/ios/Swift/TypedArrays/AnyTypedArray.swift
  packages/expo-modules-core/ios/Swift/TypedArrays/ConcreteTypedArrays.swift
  packages/expo-modules-core/ios/Swift/TypedArrays/GenericTypedArray.swift
  packages/expo-modules-core/ios/Swift/TypedArrays/TypedArray.swift
  packages/expo-modules-core/ios/Tests/TypedArraysSpec.swift
Labels: bot: passed checks

#17666 fix(cli): prevent starting tunnel on web to ensure native works
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
Labels: bot: passed checks

#17855 [web-browser] Fix `service not registered` exception on Android
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/android/src/main/java/expo/modules/webbrowser/CustomTabsConnectionHelper.kt
Labels: bot: suggestions

#17838 [android] backport #17686 #17751
  android/versioned-abis/expoview-abi43_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/NotificationForwarderActivity.kt
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/NotificationForwarderActivity.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/NotificationForwarderActivity.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
Labels: bot: passed checks

#17857 [dev-launcher][Android] Fix the error screen is empty
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorActivity.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherUncaughtExceptionHandler.kt
Labels: bot: suggestions

#17858 [dev-launcher][Android] Fix the application crashing when the user forces in the system setting
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/activitydelegates/DevLauncherReactActivityNOPDelegate.kt
Labels: bot: suggestions

#17863 [apps][home] run doctor, fix dependencies
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  apps/native-component-list/package.json
  apps/test-suite/package.json
  home/package.json
  yarn.lock
Labels: bot: passed checks

#17874 make jest-expo compatible with jest@28.x
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/assetFileTransformer.js
Labels: bot: passed checks

#17856 feat(cli): automatically enable `DEBUG` when `EXPO_DEBUG` is enabled
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
Labels: bot: passed checks

#17633 [dev-launcher] add button to clear recently opened apps, update UI to…
  packages/expo-dev-client-components/src/View.tsx
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherURLHelper.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherControllerInterface.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherRecentlyOpenedAppsRegistry.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherURLHelperTest.kt
  packages/expo-dev-launcher/android/src/testDebug/java/expo/modules/devlauncher/launcher/DevLauncherRecentlyOpenedAppsRegistryTest.kt
  packages/expo-dev-launcher/bundle/components/EASUpdatesRows.tsx
  packages/expo-dev-launcher/bundle/functions/formatUpdateUrl.ts
  packages/expo-dev-launcher/bundle/hooks/useOnUpdatePress.tsx
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/providers/RecentlyOpenedAppsProvider.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
  packages/expo-dev-launcher/ios/EXDevLauncherRecentlyOpenedAppsRegistry.swift
  packages/expo-dev-launcher/ios/EXDevLauncherURLHelper.swift
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherRecentlyOpenedAppsRegistryTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherRecentlyOpenedAppsRegistryTests.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
Labels: bot: suggestions

#17487 docs: add migration guide for expo-cli
  docs/pages/workflow/expo-cli.md
Labels: docs, bot: passed checks, CLI

#17882 feat(cli): added migration warning for old commands
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
  packages/@expo/cli/e2e/__tests__/index-test.ts
Labels: bot: passed checks

#17873 [packages] update platform tags in packages TSDoc, regenerate API data files
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/unversioned/expo-image-manipulator.json
  docs/public/static/data/unversioned/expo-in-app-purchases.json
  packages/expo-apple-authentication/build/AppleAuthentication.types.d.ts
  packages/expo-apple-authentication/build/AppleAuthentication.types.d.ts.map
  packages/expo-apple-authentication/build/AppleAuthentication.types.js
  packages/expo-apple-authentication/build/AppleAuthentication.types.js.map
  packages/expo-apple-authentication/src/AppleAuthentication.types.ts
  packages/expo-image-manipulator/build/ImageManipulator.types.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.types.js
  packages/expo-image-manipulator/build/ImageManipulator.types.js.map
  packages/expo-image-manipulator/src/ImageManipulator.types.ts
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts.map
  packages/expo-in-app-purchases/build/InAppPurchases.types.js
  packages/expo-in-app-purchases/build/InAppPurchases.types.js.map
  packages/expo-in-app-purchases/src/InAppPurchases.types.ts
Labels: bot: suggestions

#17871 [notifications] Fix issues from push notifications
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/fcm/FcmRegistrationIntentService.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/notifications/NotificationsModule.java
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/host/exp/exponent/modules/api/notifications/NotificationsModule.java
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/host/exp/exponent/modules/api/notifications/NotificationsModule.java
  android/versioned-abis/expoview-abi45_0_0/build.gradle
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/host/exp/exponent/modules/api/notifications/NotificationsModule.java
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
Labels: bot: passed checks

#17817 [expo-updates][iOS] Get downloaded update IDs
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesExternalInterface.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.h
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/Tests/EXUpdatesAppLauncherWithDatabaseTests.m
Labels: bot: suggestions

#17892 [notifications] Limit the trampolines fix on android 12+
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/NotificationsService.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
Labels: bot: suggestions

#17885 [docs] recommend dev clients in favor of bare workflow
  docs/pages/expokit/overview.md
Labels: bot: passed checks

#17886 fix(cli): add no-op `--experimental-bundle` flag to `expo export`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/index.ts
Labels: bot: passed checks

#17854 Some improvements in create-expo-module script
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/build/resolvePackageManager.d.ts
  packages/create-expo-module/build/resolvePackageManager.js
  packages/create-expo-module/build/resolvePackageManager.js.map
  packages/create-expo-module/package.json
  packages/create-expo-module/src/create-expo-module.ts
  packages/create-expo-module/src/resolvePackageManager.ts
Labels: bot: passed checks

#17860 Make Expo Modules template more robust
  packages/expo-module-template/android/src/main/java/{%= project.package %}/{%- project.name %}Module.kt
  packages/expo-module-template/ios/{%- project.name %}Module.swift
  packages/expo-module-template/ios/{%- project.name %}View.swift
  packages/expo-module-template/src/{%- project.name %}.ts
  packages/expo-module-template/src/{%- project.name %}View.tsx
Labels: bot: passed checks

#17822 [docs] Home: add Office Hours tile
  docs/pages/index.tsx
  docs/ui/components/Button/Button.tsx
  docs/ui/components/Home/HomeButton.tsx
  docs/ui/components/Home/resources/OfficeHoursImage.tsx
  docs/ui/components/Home/resources/index.tsx
Labels: bot: passed checks

#17850 [ios][expo go] improve error/"go home" screen design
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/Views/EXErrorView.m
  ios/Exponent/Kernel/Views/EXErrorView.xib
Labels: bot: passed checks

#17878 [menu] Fix integration between reanimated and gesture handler
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-dev-menu/ios/DevMenuVendoredModulesUtils.h
  packages/expo-dev-menu/ios/DevMenuVendoredModulesUtils.m
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/REAInitializer.mm
  tools/src/commands/Vendor.ts
Labels: bot: suggestions

#17915 [docs] update expo-updates guide to latest SDK version
  docs/pages/bare/installing-updates.md
  docs/public/static/diffs/expo-updates-ios.diff
  docs/public/static/diffs/expo-updates-js.diff
Labels: bot: passed checks

#17714 feat(expo): add web and bundle splitting support to DevLoadingView
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.web.d.ts.map
  packages/expo/build/Expo.fx.web.js
  packages/expo/build/Expo.fx.web.js.map
  packages/expo/build/environment/DevLoadingView.d.ts.map
  packages/expo/build/environment/DevLoadingView.js
  packages/expo/build/environment/DevLoadingView.js.map
  packages/expo/build/environment/DevLoadingViewNativeModule.d.ts
  packages/expo/build/environment/DevLoadingViewNativeModule.d.ts.map
  packages/expo/build/environment/DevLoadingViewNativeModule.js
  packages/expo/build/environment/DevLoadingViewNativeModule.js.map
  packages/expo/build/environment/DevLoadingViewNativeModule.native.d.ts
  packages/expo/build/environment/DevLoadingViewNativeModule.native.d.ts.map
  packages/expo/build/environment/DevLoadingViewNativeModule.native.js
  packages/expo/build/environment/DevLoadingViewNativeModule.native.js.map
  packages/expo/build/environment/getInitialSafeArea.d.ts
  packages/expo/build/environment/getInitialSafeArea.d.ts.map
  packages/expo/build/environment/getInitialSafeArea.js
  packages/expo/build/environment/getInitialSafeArea.js.map
  packages/expo/build/environment/getInitialSafeArea.native.d.ts
  packages/expo/build/environment/getInitialSafeArea.native.d.ts.map
  packages/expo/build/environment/getInitialSafeArea.native.js
  packages/expo/build/environment/getInitialSafeArea.native.js.map
  packages/expo/src/Expo.fx.web.tsx
  packages/expo/src/environment/DevLoadingView.tsx
  packages/expo/src/environment/DevLoadingViewNativeModule.native.ts
  packages/expo/src/environment/DevLoadingViewNativeModule.ts
  packages/expo/src/environment/getInitialSafeArea.native.ts
  packages/expo/src/environment/getInitialSafeArea.ts
Labels: bot: passed checks

#17084 chore(cli): migrate to debug package
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/api/rest/wrapFetchWithOffline.ts
  packages/@expo/cli/src/export/exportAssets.ts
  packages/@expo/cli/src/export/saveAssets.ts
  packages/@expo/cli/src/install/checkPackages.ts
  packages/@expo/cli/src/install/utils/autoAddConfigPlugins.ts
  packages/@expo/cli/src/log.ts
  packages/@expo/cli/src/prebuild/copyTemplateFiles.ts
  packages/@expo/cli/src/prebuild/prebuildAsync.ts
  packages/@expo/cli/src/prebuild/resolveTemplate.ts
  packages/@expo/cli/src/run/android/resolveInstallApkName.ts
  packages/@expo/cli/src/start/doctor/apple/SimulatorAppPrerequisite.ts
  packages/@expo/cli/src/start/doctor/apple/XcodePrerequisite.ts
  packages/@expo/cli/src/start/doctor/dependencies/bundledNativeModules.ts
  packages/@expo/cli/src/start/doctor/dependencies/getMissingPackages.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
  packages/@expo/cli/src/start/doctor/ngrok/ExternalModule.ts
  packages/@expo/cli/src/start/doctor/typescript/TypeScriptProjectPrerequisite.ts
  packages/@expo/cli/src/start/doctor/web/WebSupportProjectPrerequisite.ts
  packages/@expo/cli/src/start/interface/KeyPressHandler.ts
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/interface/startInterface.ts
  packages/@expo/cli/src/start/platforms/ExpoGoInstaller.ts
  packages/@expo/cli/src/start/platforms/PlatformManager.ts
  packages/@expo/cli/src/start/platforms/android/ADBServer.ts
  packages/@expo/cli/src/start/platforms/android/activateWindow.ts
  packages/@expo/cli/src/start/platforms/android/adb.ts
  packages/@expo/cli/src/start/platforms/android/adbReverse.ts
  packages/@expo/cli/src/start/platforms/android/gradle.ts
  packages/@expo/cli/src/start/platforms/ios/getBestSimulator.ts
  packages/@expo/cli/src/start/platforms/ios/xcrun.ts
  packages/@expo/cli/src/start/project/devices.ts
  packages/@expo/cli/src/start/server/AsyncNgrok.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/start/server/DevelopmentSession.ts
  packages/@expo/cli/src/start/server/UrlCreator.ts
  packages/@expo/cli/src/start/server/middleware/InterstitialPageMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/RuntimeRedirectMiddleware.ts
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
  packages/@expo/cli/src/utils/FileNotifier.ts
  packages/@expo/cli/src/utils/downloadAppAsync.ts
  packages/@expo/cli/src/utils/downloadExpoGoAsync.ts
  packages/@expo/cli/src/utils/editor.ts
  packages/@expo/cli/src/utils/exit.ts
  packages/@expo/cli/src/utils/getRunningProcess.ts
  packages/@expo/cli/src/utils/npm.ts
  packages/@expo/cli/src/utils/prompts.ts
  packages/@expo/cli/src/utils/tar.ts
  packages/@expo/cli/src/utils/validateApplicationId.ts
  packages/@expo/cli/src/utils/variadic.ts
Labels: bot: passed checks

#17922 [autolinking] Support direct paths to modules
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/autolinking/findModules.js
  packages/expo-modules-autolinking/build/autolinking/findModules.js.map
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.js
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.js.map
  packages/expo-modules-autolinking/src/autolinking/findModules.ts
  packages/expo-modules-autolinking/src/autolinking/mergeLinkingOptions.ts
Labels: bot: suggestions

#17741 [e-m-c][ios] Expose `NativeModulesProxy` config as a JSI module
  packages/expo-modules-core/build/NativeModulesProxy.native.d.ts.map
  packages/expo-modules-core/build/NativeModulesProxy.native.js
  packages/expo-modules-core/build/NativeModulesProxy.native.js.map
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/NativeModulesProxy/NativeModulesProxyModule.swift
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/ExpoBridgeModule.swift
  packages/expo-modules-core/src/NativeModulesProxy.native.ts
  packages/expo-modules-core/src/ts-declarations/ExpoModules.d.ts
Labels: bot: passed checks

#17634 [ios][tools][ci] Redesign iOS unit tests
  .github/actions/expo-caches/action.yml
  .github/workflows/ios-unit-tests.yml
  .gitignore
  apps/native-tests/.gitattributes
  apps/native-tests/.gitignore
  apps/native-tests/app.json
  apps/native-tests/index.js
  apps/native-tests/ios/.gitignore
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/NativeTests.xcodeproj/xcshareddata/xcschemes/NativeTests.xcscheme
  apps/native-tests/ios/NativeTests.xcworkspace/contents.xcworkspacedata
  apps/native-tests/ios/NativeTests.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/native-tests/ios/NativeTests/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/native-tests/ios/NativeTests/Images.xcassets/Contents.json
  apps/native-tests/ios/NativeTests/Images.xcassets/SplashScreen.imageset/Contents.json
  apps/native-tests/ios/NativeTests/Images.xcassets/SplashScreen.imageset/splashscreen.png
  apps/native-tests/ios/NativeTests/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  apps/native-tests/ios/NativeTests/Images.xcassets/SplashScreenBackground.imageset/background.png
  apps/native-tests/ios/NativeTests/Info.plist
  apps/native-tests/ios/NativeTests/SplashScreen.storyboard
  apps/native-tests/ios/NativeTests/Supporting/Expo.plist
  apps/native-tests/ios/NativeTests/main.m
  apps/native-tests/ios/Podfile
  apps/native-tests/ios/Podfile.lock
  apps/native-tests/ios/Podfile.properties.json
  apps/native-tests/package.json
  fastlane/Fastfile
  fastlane/README.md
  fastlane/actions/generate_test_scheme.rb
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherControllerTest.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/ios/Tests/DevMenuAppInstanceTest.swift
  packages/expo-dev-menu/ios/Tests/DevMenuVendoredModulesUtilsTests.swift
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
  packages/expo/scripts/autolinking.rb
  tools/src/Packages.ts
  tools/src/commands/IosNativeUnitTests.ts
Labels: bot: passed checks

#17925 fix(expo-linking): return a subscription-like object from `addEventListener` on web
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/ExpoLinking.web.d.ts
  packages/expo-linking/build/ExpoLinking.web.d.ts.map
  packages/expo-linking/build/ExpoLinking.web.js
  packages/expo-linking/build/ExpoLinking.web.js.map
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.d.ts.map
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/src/ExpoLinking.web.ts
  packages/expo-linking/src/Linking.ts
  packages/expo-linking/src/__tests__/Linking-test.web.ts
Labels: bot: passed checks

#17778 [docs] Added Expo plugin to install Native Firebase
  docs/pages/guides/setup-native-firebase.md
Labels: bot: passed checks

#17946 Update React Native Directory Link
  docs/pages/workflow/glossary-of-terms.md
Labels: bot: passed checks

#17938 [sweet API][Kotlin] Add method to drain event loop
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIInteropModuleRegistry.kt
Labels: bot: suggestions

#17940 [sweet API][Kotlin] Add `isArray` and `getArray` functions to `JavaScriptValue`
  packages/expo-modules-core/android/src/main/cpp/JavaScriptValue.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptValue.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptValue.kt
Labels: bot: suggestions

#17943 [sweet API][Kotlin] Set up a test environment for async flow
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.h
Labels: bot: suggestions

#17950 [sweet][swift] Fix optional function arguments
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/AnyArgument.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicOptionalType.swift
  packages/expo-modules-core/ios/Tests/DynamicTypeSpec.swift
  packages/expo-modules-core/ios/Tests/FunctionSpec.swift
Labels: bot: passed checks

#17927 feat(cli): add web support to metro
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/fixtures/with-assets/app.json
  packages/@expo/cli/e2e/fixtures/with-assets/babel.config.js
  packages/@expo/cli/e2e/fixtures/with-assets/package.json
  packages/@expo/cli/e2e/fixtures/with-assets/public/favicon.ico
  packages/@expo/cli/package.json
  packages/@expo/cli/src/customize/templates.ts
  packages/@expo/cli/src/export/__tests__/printBundleSizes-test.ts
  packages/@expo/cli/src/export/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/export/index.ts
  packages/@expo/cli/src/export/resolveOptions.ts
  packages/@expo/cli/src/export/web/exportWebAsync.ts
  packages/@expo/cli/src/start/doctor/web/WebSupportProjectPrerequisite.ts
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/__tests__/__snapshots__/webTemplate-test.ts.snap
  packages/@expo/cli/src/start/server/__tests__/webTemplate-test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroBundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/middleware/ExpoMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/HistoryFallbackMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/ServeStaticMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/HistoryFallbackMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ManifestMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ServeStaticMiddleware-test.ts
  packages/@expo/cli/src/start/server/platformBundlers.ts
  packages/@expo/cli/src/start/server/webTemplate.ts
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
  packages/@expo/cli/src/start/server/webpack/__tests__/WebpackBundlerDevServer-test.ts
  packages/@expo/cli/src/start/startAsync.ts
  packages/@expo/cli/src/utils/env.ts
  yarn.lock
Labels: bot: passed checks

#17942 [sweet API][Kotlin] Allow the `Any` type in the `TypeConverter`
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/BasicTypeConverters.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ListTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/MapTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions

#17953 [web-browser] Make `redirectUrl` auth session argument optional
  docs/public/static/data/unversioned/expo-web-browser.json
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.d.ts.map
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/ios/WebAuthSession.swift
  packages/expo-web-browser/ios/WebBrowserModule.swift
  packages/expo-web-browser/src/WebBrowser.ts
Labels: bot: passed checks

#17954 [av][docs] move documentation to source, use docs autogeneration feature
  apps/native-component-list/src/screens/AV/Recorder.tsx
  apps/test-suite/tests/Recording.js
  docs/components/plugins/api/APISectionClasses.tsx
  docs/pages/versions/unversioned/sdk/audio.md
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/AV.types.d.ts
  packages/expo-av/build/AV.types.d.ts.map
  packages/expo-av/build/AV.types.js.map
  packages/expo-av/build/Audio.d.ts
  packages/expo-av/build/Audio.d.ts.map
  packages/expo-av/build/Audio.js
  packages/expo-av/build/Audio.js.map
  packages/expo-av/build/Audio.types.d.ts
  packages/expo-av/build/Audio.types.d.ts.map
  packages/expo-av/build/Audio.types.js
  packages/expo-av/build/Audio.types.js.map
  packages/expo-av/build/Audio/AudioAvailability.d.ts
  packages/expo-av/build/Audio/AudioAvailability.d.ts.map
  packages/expo-av/build/Audio/AudioAvailability.js
  packages/expo-av/build/Audio/AudioAvailability.js.map
  packages/expo-av/build/Audio/Recording.d.ts
  packages/expo-av/build/Audio/Recording.d.ts.map
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/build/Audio/Recording.types.d.ts
  packages/expo-av/build/Audio/Recording.types.d.ts.map
  packages/expo-av/build/Audio/Recording.types.js.map
  packages/expo-av/build/Audio/RecordingConstants.d.ts
  packages/expo-av/build/Audio/RecordingConstants.d.ts.map
  packages/expo-av/build/Audio/RecordingConstants.js
  packages/expo-av/build/Audio/RecordingConstants.js.map
  packages/expo-av/build/Audio/Sound.d.ts
  packages/expo-av/build/Audio/Sound.d.ts.map
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/build/ExponentAV.web.js
  packages/expo-av/build/ExponentAV.web.js.map
  packages/expo-av/src/AV.types.ts
  packages/expo-av/src/Audio.ts
  packages/expo-av/src/Audio.types.ts
  packages/expo-av/src/Audio/AudioAvailability.ts
  packages/expo-av/src/Audio/Recording.ts
  packages/expo-av/src/Audio/Recording.types.ts
  packages/expo-av/src/Audio/RecordingConstants.ts
  packages/expo-av/src/Audio/Sound.ts
  packages/expo-av/src/ExponentAV.web.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#17955 Creating Expo module with the example app
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/build/createExampleApp.d.ts
  packages/create-expo-module/build/createExampleApp.js
  packages/create-expo-module/build/createExampleApp.js.map
  packages/create-expo-module/build/packageManager.d.ts
  packages/create-expo-module/build/packageManager.js
  packages/create-expo-module/build/packageManager.js.map
  packages/create-expo-module/build/types.d.ts
  packages/create-expo-module/build/types.js
  packages/create-expo-module/build/types.js.map
  packages/create-expo-module/package.json
  packages/create-expo-module/src/create-expo-module.ts
  packages/create-expo-module/src/createExampleApp.ts
  packages/create-expo-module/src/packageManager.ts
  packages/create-expo-module/src/types.ts
  packages/expo-module-template/$package.json
  packages/expo-module-template/.npmignore
  packages/expo-module-template/android/src/main/java/{%= project.package %}/{%- project.name %}Module.kt
  packages/expo-module-template/example/App.tsx
  packages/expo-module-template/example/metro.config.js
  packages/expo-module-template/example/tsconfig.json
  packages/expo-module-template/expo-module.config.json
  packages/expo-module-template/ios/{%- project.name %}Module.swift
  packages/expo-module-template/src/{%- project.name %}.ts
  yarn.lock
Labels: bot: passed checks

#17935 GitLab CI: fix the path to the cache
  docs/pages/build/building-on-ci.md
Labels: bot: passed checks

#17956 [docs] Update Contacts calendar formats
  docs/pages/versions/unversioned/sdk/contacts.md
  docs/pages/versions/v42.0.0/sdk/contacts.md
  docs/pages/versions/v43.0.0/sdk/contacts.md
  docs/pages/versions/v44.0.0/sdk/contacts.md
  docs/pages/versions/v45.0.0/sdk/contacts.md
Labels: bot: passed checks

#17740 [docs] APISection: use tables for methods arguments
  docs/components/plugins/APISection.test.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#17572 [e-m-c][Android] Create `ActivityResultsRegistry`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityaware/AppCompatActivityAware.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityaware/AppCompatActivityAwareHelper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityaware/OnActivityAvailableListener.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/ActivityResultsManager.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultCaller.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultFallbackCallback.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultLauncher.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/DataPersistor.kt
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
Labels: bot: passed checks

#17939 [versioning][android] rewrite expo modules versioning to ts
  tools/src/versioning/android/android-copy-expo-module.sh
  tools/src/versioning/android/android-packages-to-keep.txt
  tools/src/versioning/android/expoModulesTransforms.ts
  tools/src/versioning/android/expoviewTransforms.ts
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/packagesConfig.ts
Labels: bot: passed checks

#17671 [image-picker][Android] Migrate to `registerForActivityResult`
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerConstants.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerExceptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/MediaHandler.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/PendingPromise.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/PickerResultsStore.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CameraContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ContractsUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/CompressionImageExporter.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/CropImageExporter.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/ImageExporter.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/RawImageExporter.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/fileprovider/ImagePickerFileProvider.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/fileproviders/CacheFileProvider.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/fileproviders/CropFileProvider.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/fileproviders/FileProvider.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/tasks/ImageResultTask.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/tasks/VideoResultTask.kt
Labels: bot: suggestions

#17962 [image-picker][Android] Update & cleanup gradle dependencies
  packages/expo-image-picker/android/build.gradle
Labels: bot: suggestions

#17974 [notifications] Fix older notifications be overwritten issue
  android/versioned-abis/expoview-abi43_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/NotificationForwarderActivity.kt
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/NotificationForwarderActivity.kt
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/NotificationForwarderActivity.kt
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/AndroidManifest.xml
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationForwarderActivity.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
Labels: bot: passed checks

#17980 [docs] Notifications: fix missing dependency in example
  docs/pages/versions/unversioned/sdk/notifications.md
Labels: bot: passed checks

#17982 [android] Fix random crash from retrieving the finishing task
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
Labels: bot: passed checks

#17995 [docs] Fix sharable typo on multiple places in docs
  docs/pages/build/internal-distribution.md
  docs/scripts/schemas/unversioned/eas-json-build-common-schema.js
Labels: bot: passed checks

#17996 [docs] Using Firebase: refactor the guide with multiple changes
  docs/pages/guides/using-firebase.md
Labels: bot: passed checks

#17961 Update using-fcm.md
  docs/pages/push-notifications/using-fcm.md
Labels: bot: passed checks

#17933 [expo-updates][Android] Get downloaded update IDs
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.java
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/launcher/DatabaseLauncherTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/UpdateDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
Labels: bot: passed checks

#17416 Remove Android from platform compatability
  docs/pages/versions/unversioned/sdk/blur-view.md
Labels: bot: passed checks

#18001 [docs] remove walkthrough page and references
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.js
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/bare/exploring-bare-workflow.md
Labels: bot: passed checks

#17919 [docs] use Terminal component on few more pages, other small tweaks
  docs/pages/accounts/account-types.md
  docs/pages/accounts/programmatic-access.md
  docs/pages/build-reference/how-tos.md
  docs/pages/development/extensions.md
  docs/pages/development/troubleshooting.md
  docs/pages/distribution/hosting-your-app.md
  docs/pages/guides/config-plugins.md
  docs/pages/guides/using-styled-components.md
  docs/pages/guides/web-performance.md
  docs/pages/workflow/publishing.md
Labels: bot: passed checks

#17987 [emc][image-picker][Android] Migrate to custom `AppContextActivityResultContract`
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CameraContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/ActivityResultsManager.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultCaller.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultContract.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultFallbackCallback.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultLauncher.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultRegistry.kt
Labels: bot: passed checks

#17991 [sweet][Kotlin] Add `Any` type converter
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/AnyTypeConverterTest.kt
Labels: bot: suggestions

#17988 [sweet][Kotlin] Add `Property` component
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionData.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewGroupDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/modules/ModuleDefinitionBuilderTest.kt
Labels: bot: suggestions

#18009 [sweet][Kotlin] Fix instrumental tests not working on JSC
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
Labels: bot: suggestions

#17990 [sweet][Kotlin] Use `unordered_map` instead of `map`
  packages/expo-modules-core/android/src/main/cpp/CachedReferencesRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/CachedReferencesRegistry.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
Labels: bot: suggestions

#17992 feat(cli): add multi-platform bundle logging during export
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportAssets.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/start/server/metro/TerminalReporter.ts
Labels: bot: passed checks

#18013 [docs][speech] Document volume as web only
  docs/public/static/data/unversioned/expo-speech.json
  docs/public/static/data/v45.0.0/expo-speech.json
  packages/expo-speech/build/Speech.types.d.ts
  packages/expo-speech/build/Speech.types.d.ts.map
  packages/expo-speech/build/Speech.types.js.map
  packages/expo-speech/src/Speech/Speech.types.ts
Labels: bot: passed checks

#17865 [expo-constants] Add getter for expo client config
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.d.ts.map
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.d.ts.map
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/__tests__/Constants-test.ts
Labels: bot: passed checks

#18015 [sweet][Kotlin] Add properties
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIPropertiesTest.kt
  packages/expo-modules-core/android/src/main/cpp/JNIFunctionBody.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptModuleObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponentBuilder.kt
Labels: bot: suggestions

#18018 [docs-readme] Add info about using Terminal component
  docs/README.md
Labels: bot: passed checks

#18010 [clipboard][web] Fix setStringAsync bouncing on Safari
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/build/web/ClipboardModule.d.ts.map
  packages/expo-clipboard/build/web/ClipboardModule.js
  packages/expo-clipboard/build/web/ClipboardModule.js.map
  packages/expo-clipboard/src/web/ClipboardModule.ts
Labels: bot: passed checks

#17840 [av][android] Fix crashes due to accessing player from the wrong thread
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
Labels: bot: passed checks

#18043 [barcode-scanner] update tests snapshots
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.node
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.web
Labels: bot: suggestions

#18036 [android][clipboard] Use Sweet API coroutines
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
Labels: bot: passed checks

#18044 [dev-menu] add missing dependency, rebuild assets with RN 0.69
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  yarn.lock
Labels: bot: suggestions

#17936 [cli] fix ignored existing plugins on expo install
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/install/installAsync.ts
Labels: bot: passed checks
