Repository expo/expo, pull requests merged in 2022-03, with the labels that each got.

#16473 Update overview.md
  docs/pages/push-notifications/overview.md
Labels: bot: passed checks

#16466 [dev-client] Run e2e tests weekly on the latest RN version
  .github/workflows/development-client-latest-e2e.yml
  packages/expo-dev-client/package.json
  packages/expo-dev-client/test-runner.config.js
Labels: bot: suggestions

#16485 [emc] fix Kotlin compilation warning
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
Labels: bot: suggestions

#16441 [expo-dev-client][expo-modules-core] Android automatic setup of dev client
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainActivity.java
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/bare-expo/android/build.gradle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/expo-44/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/expo-45/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/DevLauncherPackage.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/android/src/expo-44/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/expo-45/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuReactRootViewContainer.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactActivityHandler.java
  packages/expo/android/proguard-rules.pro
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
Labels: bot: passed checks

#16442 [expo-dev-launcher] add auto updates integration on Android
  apps/bare-expo/android/build.gradle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/expo-45/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/with-updates/java/expo/modules/devlauncher/DevLauncherUpdatesInterfaceDelegate.kt
  packages/expo-dev-launcher/android/src/without-updates/java/expo/modules/devlauncher/DevLauncherUpdatesInterfaceDelegate.kt
Labels: bot: passed checks

#16491 [docs] Give guidance on checking for updates
  docs/pages/guides/configuring-updates.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: suggestions

#16478 [dev-launcher] update button background on error prompt (dark mode)
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
Labels: bot: suggestions

#16438 [ads-admob] Set GADIsAdManagerApp in Info.plist to fix crash on startup
  packages/expo-ads-admob/CHANGELOG.md
  packages/expo-ads-admob/plugin/build/withAdMobIOS.js
  packages/expo-ads-admob/plugin/src/withAdMobIOS.ts
Labels: bot: passed checks

#16486 [dev-launcher] Expose method to determine if you are running in a development build
  packages/expo-dev-client/build/DevClient.d.ts
  packages/expo-dev-client/build/DevClient.d.ts.map
  packages/expo-dev-client/build/DevClient.js
  packages/expo-dev-client/build/DevClient.js.map
  packages/expo-dev-client/src/DevClient.ts
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/build/DevLauncher.d.ts
  packages/expo-dev-launcher/build/DevLauncher.d.ts.map
  packages/expo-dev-launcher/build/DevLauncher.js
  packages/expo-dev-launcher/build/DevLauncher.js.map
  packages/expo-dev-launcher/src/DevLauncher.ts
Labels: bot: suggestions

#16480 [expo-updates] Fix codesigning header name
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
Labels: bot: passed checks

#16474 [dev-launcher] fix header layout issue
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
Labels: bot: suggestions

#16375 [expo-updates][android] Support certificate chains
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainNotCAIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainNotCALeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainNotCARoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainPathLenViolationIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainPathLenViolationLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainPathLenViolationRoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainRoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/invalidSignatureChainLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/noCodeSigningExtendedUsage.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/noKeyUsage.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/signatureInvalid.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/test.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/validityExpired.pem
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateChainTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CodeSigningAlgorithmTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CodeSigningConfigurationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/SignatureHeaderInfoTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/CryptoTest.kt
  packages/expo-updates/android/src/main/certificates/expo-root.pem
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CertificateChain.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CodeSigningAlgorithm.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CodeSigningConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/SignatureHeaderInfo.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Crypto.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LegacySignatureUtils.kt
Labels: bot: passed checks

#16416 [modules-core][android] Improve test library
  packages/expo-clipboard/android/build.gradle
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/unimodules-test-core/android/build.gradle
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleController.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleMock.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleMockHolder.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleMockInvocationHandler.kt
Labels: bot: suggestions

#16479 [yarn-workspace][bare-expo] Fix wrong react-native bundling
  apps/bare-expo/metro.config.js
  packages/expo-yarn-workspaces/CHANGELOG.md
  packages/expo-yarn-workspaces/index.js
Labels: bot: passed checks

#16469 [docs] move anchors wrapper to custom Markdown header components
  docs/ui/components/Button/index.ts
  docs/ui/components/Markdown/index.tsx
  docs/ui/components/Text/index.tsx
Labels: bot: passed checks

#16505 [CLI] Added lint step to CI
  .github/workflows/cli.yml
  packages/expo/.eslintignore
  packages/expo/cli/api/user/__tests__/user-test.ts
  packages/expo/package.json
Labels: bot: passed checks

#16495 [expo-dev-launcher][expo-dev-menu] gate config plugin mods by SDK version
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
  packages/expo-dev-menu/.npmignore
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/package.json
  packages/expo-dev-menu/plugin/build/withDevMenu.js
  packages/expo-dev-menu/plugin/src/withDevMenu.ts
Labels: bot: suggestions

#16496 [expo-dev-menu] add expo-modules auto setup on iOS
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/expo-module.config.json
  packages/expo-dev-menu/ios/ReactDelegateHandler/ExpoDevMenuReactDelegateHandler.swift
Labels: bot: suggestions

#16508 [cli] Pull in utils changes from #16160
  packages/expo/__mocks__/env-editor.ts
  packages/expo/cli/api/getVersions.ts
  packages/expo/cli/api/user/__mocks__/sessionStorage.ts
  packages/expo/cli/api/user/__tests__/user-test.ts
  packages/expo/cli/utils/FileNotifier.ts
  packages/expo/cli/utils/__mocks__/downloadExpoGoAsync.ts
  packages/expo/cli/utils/__mocks__/exit.ts
  packages/expo/cli/utils/__tests__/FileNotifier-test.ts
  packages/expo/cli/utils/__tests__/array-test.ts
  packages/expo/cli/utils/__tests__/delay-test.ts
  packages/expo/cli/utils/__tests__/downloadExpoGoAsync-test.ts
  packages/expo/cli/utils/__tests__/editor-test.ts
  packages/expo/cli/utils/__tests__/getRunningProcess-test.ts
  packages/expo/cli/utils/__tests__/tar-test.ts
  packages/expo/cli/utils/__tests__/url-test.ts
  packages/expo/cli/utils/analytics/getDevClientProperties.ts
  packages/expo/cli/utils/array.ts
  packages/expo/cli/utils/downloadExpoGoAsync.ts
  packages/expo/cli/utils/editor.ts
  packages/expo/cli/utils/env.ts
  packages/expo/cli/utils/exit.ts
  packages/expo/cli/utils/getOrPromptApplicationId.ts
  packages/expo/cli/utils/getRunningProcess.ts
  packages/expo/cli/utils/glob.ts
  packages/expo/cli/utils/ip.ts
  packages/expo/cli/utils/ora.ts
  packages/expo/cli/utils/port.ts
  packages/expo/cli/utils/prompts.ts
  packages/expo/cli/utils/scheme.ts
  packages/expo/cli/utils/url.ts
  packages/expo/e2e/setup.ts
  packages/expo/package.json
  yarn.lock
Labels: bot: passed checks

#16504 [dev-client][e2] Add slack notifications
  .github/workflows/development-client-latest-e2e.yml
Labels: bot: passed checks

#16524 [clipboard] Add `hasStringAsync`
  apps/test-suite/tests/Clipboard.js
  docs/public/static/data/unversioned/expo-clipboard.json
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts.map
  packages/expo-clipboard/build/ExpoClipboard.web.js
  packages/expo-clipboard/build/ExpoClipboard.web.js.map
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/ExpoClipboard.web.ts
Labels: bot: passed checks

#16430 [tools] Introduce sync-sdk-branch-changelogs
  tools/src/Changelogs.ts
  tools/src/Git.ts
  tools/src/commands/SyncSdkBranchChangelogs.ts
Labels: bot: passed checks

#16519 [expo] Create CHANGELOG
  packages/expo/CHANGELOG.md
Labels: bot: passed checks

#16543 [expo-camera] check null for faceDetector setting
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks

#16544 [ios][android][av] Fix downloaded file not being used for local assets
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/AV.d.ts.map
  packages/expo-av/build/AV.js
  packages/expo-av/build/AV.js.map
  packages/expo-av/src/AV.ts
Labels: bot: passed checks

#16411 [image-picker] Rewrite ncl screen
  apps/native-component-list/src/components/Configurator.tsx
  apps/native-component-list/src/components/FunctionDemo/ActionButton.tsx
  apps/native-component-list/src/components/FunctionDemo/Configurator.tsx
  apps/native-component-list/src/components/FunctionDemo/ConfiguratorChoice.tsx
  apps/native-component-list/src/components/FunctionDemo/Divider.tsx
  apps/native-component-list/src/components/FunctionDemo/EnumButton.tsx
  apps/native-component-list/src/components/FunctionDemo/FunctionDemo.tsx
  apps/native-component-list/src/components/FunctionDemo/FunctionSignature.tsx
  apps/native-component-list/src/components/FunctionDemo/Platforms.tsx
  apps/native-component-list/src/components/FunctionDemo/index.ts
  apps/native-component-list/src/components/FunctionDemo/index.types.ts
  apps/native-component-list/src/components/FunctionDemo/utils.ts
  apps/native-component-list/src/components/MonoTextWithCountdown.tsx
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/BlurView/BlurViewWithControls.tsx
  apps/native-component-list/src/screens/BlurView/useLoopingAnimatedValue.ts
  apps/native-component-list/src/screens/BlurView/utils.ts
  apps/native-component-list/src/screens/ImagePicker/ImageOrVideoPreview.tsx
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  apps/native-component-list/src/screens/ImagePickerScreen.tsx
  apps/native-component-list/src/screens/WebBrowser/OpenAuthSessionAsyncDemo.tsx
  apps/native-component-list/src/screens/WebBrowser/OpenBrowserAsyncDemo.tsx
  apps/native-component-list/src/utilities/useResettingState.ts
Labels: bot: passed checks

#16521 [expo-dev-client][bare-expo] restore ability of host apps to disable dev client
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/bare-expo/ios/BareExpo/AppDelegate.swift
  packages/expo-dev-launcher/android/src/expo-44/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/expo-45/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-dev-menu/android/src/expo-44/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/expo-45/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/ios/ReactDelegateHandler/ExpoDevMenuReactDelegateHandler.swift
Labels: bot: suggestions

#16522 [expo-dev-launcher] remove initialization side effects
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
Labels: bot: passed checks

#16536 [home] add new tab icons and associated routes for redesign (behind flag)
  home/FeatureFlags.ts
  home/components/Icons.tsx
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/package.json
  home/screens/HomeScreen.tsx
  yarn.lock
Labels: home, bot: passed checks

#16537 [home] add home screen header
  home/assets/client-logo.png
  home/components/HomeScreenHeader.tsx
  home/graphql-codegen.yml
  home/graphql.config.yml
  home/graphql.schema.json
  home/graphql/fragments/CurrentUserData.fragment.graphql
  home/graphql/queries/CurrentUserQuery.query.graphql
  home/graphql/types.ts
  home/navigation/Navigation.tsx
  home/package.json
  home/screens/HomeScreen.tsx
  home/screens/KitchenSink.tsx
  home/utils/useTheme.ts
  packages/expo-dev-client-components/build/View.d.ts
  packages/expo-dev-client-components/build/View.d.ts.map
  packages/expo-dev-client-components/build/View.js
  packages/expo-dev-client-components/build/View.js.map
  packages/expo-dev-client-components/build/theme.d.ts
  packages/expo-dev-client-components/build/theme.d.ts.map
  packages/expo-dev-client-components/build/theme.js
  packages/expo-dev-client-components/build/theme.js.map
  packages/expo-dev-client-components/src/View.tsx
  packages/expo-dev-client-components/src/theme.ts
  yarn.lock
Labels: home

#16538 [home] redesign 'Development servers' section and refactor related files
  home/components/ListItem.tsx
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/screens/HomeScreen.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/DevelopmentServerImage.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/DevelopmentServerSubtitle.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/DevelopmentServerTitle.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/index.tsx
  home/screens/HomeScreen/DevelopmentServersHeader.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/index.tsx
  packages/expo-dev-client-components/build/Text.d.ts
  packages/expo-dev-client-components/build/Text.d.ts.map
  packages/expo-dev-client-components/build/Text.js
  packages/expo-dev-client-components/build/Text.js.map
  packages/expo-dev-client-components/build/ThemeProvider.d.ts
  packages/expo-dev-client-components/build/ThemeProvider.d.ts.map
  packages/expo-dev-client-components/build/ThemeProvider.js
  packages/expo-dev-client-components/build/ThemeProvider.js.map
  packages/expo-dev-client-components/build/index.d.ts
  packages/expo-dev-client-components/build/index.d.ts.map
  packages/expo-dev-client-components/build/index.js
  packages/expo-dev-client-components/build/index.js.map
  packages/expo-dev-client-components/src/Text.tsx
  packages/expo-dev-client-components/src/ThemeProvider.tsx
  packages/expo-dev-client-components/src/index.ts
Labels: home

#16539 [home][dcc] update diagnostics screen design
  home/FeatureFlags.ts
  home/components/PressableOpacity.tsx
  home/navigation/Navigation.tsx
  home/screens/RedesignedDiagnosticsScreen/DiagnosticsButton.tsx
  home/screens/RedesignedDiagnosticsScreen/index.tsx
  packages/expo-dev-client-components/build/theme.js
  packages/expo-dev-client-components/build/theme.js.map
  packages/expo-dev-client-components/src/theme.ts
Labels: home

#16540 [home] add 'recently opened' projects section to redesigned home screen
  home/components/PressableOpacity.tsx
  home/screens/HomeScreen/AppIcon.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/DevelopmentServerSubtitle.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/index.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/RecentlyOpenedHeader.tsx
  home/screens/HomeScreen/RecentlyOpenedListItem/index.tsx
  home/screens/HomeScreen/RecentlyOpenedSection.tsx
  home/screens/HomeScreen/index.tsx
Labels: home

#16490 [docs] add redesigned Terminal component
  docs/ui/components/Snippet/Snippet.tsx
  docs/ui/components/Snippet/SnippetAction.tsx
  docs/ui/components/Snippet/SnippetContent.tsx
  docs/ui/components/Snippet/SnippetHeader.tsx
  docs/ui/components/Snippet/actions/CopyAction.tsx
  docs/ui/components/Snippet/blocks/Terminal.tsx
  docs/ui/components/Snippet/index.ts
Labels: bot: passed checks

#16529 [sweet api][android] Add validators & required fields to records
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/FieldValidator.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Required.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/ValidationBinder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Validators.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RecordTypeConverterTest.kt
Labels: bot: suggestions

#16545 [autolinking][android] Fix `cannot cast object 'ExpoAutolinkingManager@' with class 'ExpoAutolinkingManager' to class 'ExpoAutolinkingManager'`
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
Labels: bot: passed checks

#16488 [dev-launcher][android] Use the `DevSupportManagerFactory`
  packages/expo-dev-launcher/android/src/expo-44/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/expo-45/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/DevLauncherPackage.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-launcher/android/src/react-native-64/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-65/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-66/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-67/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManagerFactory.kt
  packages/expo-dev-launcher/android/src/react-native-67/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
Labels: bot: suggestions

#16516 [cli] Added modules for interacting with Apple and Android platforms
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/platforms/AppIdResolver.ts
  packages/expo/cli/start/platforms/DeviceManager.ts
  packages/expo/cli/start/platforms/ExpoGoInstaller.ts
  packages/expo/cli/start/platforms/PlatformManager.ts
  packages/expo/cli/start/platforms/__mocks__/ExpoGoInstaller.ts
  packages/expo/cli/start/platforms/__tests__/AppIdResolver-test.ts
  packages/expo/cli/start/platforms/__tests__/ExpoGoInstaller-test.ts
  packages/expo/cli/start/platforms/__tests__/PlatformManager-test.ts
  packages/expo/cli/start/platforms/android/ADBServer.ts
  packages/expo/cli/start/platforms/android/AndroidAppIdResolver.ts
  packages/expo/cli/start/platforms/android/AndroidDeviceManager.ts
  packages/expo/cli/start/platforms/android/AndroidPlatformManager.ts
  packages/expo/cli/start/platforms/android/__tests__/ADBServer-test.ts
  packages/expo/cli/start/platforms/android/__tests__/AndroidAppIdResolver-test.ts
  packages/expo/cli/start/platforms/android/__tests__/AndroidDeviceManager-test.ts
  packages/expo/cli/start/platforms/android/__tests__/AndroidPlatformManager-test.ts
  packages/expo/cli/start/platforms/android/__tests__/activateWindow-test.ts
  packages/expo/cli/start/platforms/android/__tests__/adb-test.ts
  packages/expo/cli/start/platforms/android/__tests__/adbReverse-test.ts
  packages/expo/cli/start/platforms/android/__tests__/emulator-test.ts
  packages/expo/cli/start/platforms/android/__tests__/fixtures/adb-output.ts
  packages/expo/cli/start/platforms/android/__tests__/getDevices-test.ts
  packages/expo/cli/start/platforms/android/activateWindow.ts
  packages/expo/cli/start/platforms/android/adb.ts
  packages/expo/cli/start/platforms/android/adbReverse.ts
  packages/expo/cli/start/platforms/android/emulator.ts
  packages/expo/cli/start/platforms/android/getDevices.ts
  packages/expo/cli/start/platforms/android/promptAndroidDevice.ts
  packages/expo/cli/start/platforms/ios/AppleAppIdResolver.ts
  packages/expo/cli/start/platforms/ios/AppleDeviceManager.ts
  packages/expo/cli/start/platforms/ios/ApplePlatformManager.ts
  packages/expo/cli/start/platforms/ios/__mocks__/assertSystemRequirements.ts
  packages/expo/cli/start/platforms/ios/__mocks__/ensureSimulatorAppRunning.ts
  packages/expo/cli/start/platforms/ios/__mocks__/simctl.ts
  packages/expo/cli/start/platforms/ios/__tests__/AppleAppIdResolver-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/AppleDeviceManager-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/ApplePlatformManager-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/ensureSimulatorAppRunning-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/fixtures/xcrun-simctl-list-devices.json
  packages/expo/cli/start/platforms/ios/__tests__/getBestSimulator-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/promptAppleDevice-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/simctl-test.ts
  packages/expo/cli/start/platforms/ios/__tests__/xcrun-test.ts
  packages/expo/cli/start/platforms/ios/assertSystemRequirements.ts
  packages/expo/cli/start/platforms/ios/ensureSimulatorAppRunning.ts
  packages/expo/cli/start/platforms/ios/getBestSimulator.ts
  packages/expo/cli/start/platforms/ios/promptAppleDevice.ts
  packages/expo/cli/start/platforms/ios/simctl.ts
  packages/expo/cli/start/platforms/ios/xcrun.ts
  packages/expo/cli/utils/analytics/rudderstackClient.ts
  packages/expo/cli/utils/exit.ts
  packages/expo/e2e/jest-cli.config.js
Labels: bot: passed checks

#16557 [cli][start] Added UrlCreator module
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/server/UrlCreator.ts
  packages/expo/cli/start/server/__tests__/UrlCreator-test.ts
Labels: bot: passed checks

#16555 [cli][start] Added development session module
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/server/DevelopmentSession.ts
  packages/expo/cli/start/server/__mocks__/DevelopmentSession.ts
  packages/expo/cli/start/server/__tests__/DevelopmentSession-test.ts
  packages/expo/package.json
  yarn.lock
Labels: bot: passed checks

#16571 [sweet api][kotlin] Add explicit null conversion in promise wrapper
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KPromiseWrapper.kt
Labels: bot: suggestions

#16576 [modules-core][android] Enum -> JS conversion
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KPromiseWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Record.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumSerializer.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/EnumSerializerTest.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleMockInvocationHandler.kt
Labels: bot: suggestions

#16569 [sweet api][kotlin] Add more validators
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/FieldValidator.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/ValidationBinder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Validators.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/TruthExtensions.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/IsCollectionNotEmptyBinderTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/NumericRangeValidatorTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RecordTypeValidatorsTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RegexValidatorTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/SizeBinderTest.kt
Labels: bot: suggestions

#16578 [expo-av][iOS] - Fix AVAudioSession deactivation
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/EXAudioSessionManager.m
Labels: bot: passed checks

#16579 [ncl] Fix `FunctionDemo` not displaying falsy values
  apps/native-component-list/src/components/FunctionDemo/FunctionDemo.tsx
Labels: bot: passed checks

#15586 [av][iOS] Re-enable `expotools prebuild expo-av`
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-av/ios/EXAV.podspec
  tools/src/prebuilds/Prebuilder.ts
Labels: bot: suggestions

#16556 [cli][start] Added ngrok module
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/server/AsyncNgrok.ts
  packages/expo/cli/start/server/__mocks__/AsyncNgrok.ts
  packages/expo/cli/start/server/__tests__/AsyncNgrok-test.ts
  packages/expo/cli/utils/__tests__/delay-test.ts
  packages/expo/cli/utils/delay.ts
Labels: bot: passed checks

#16561 Drop most web feature pending links from docs
  docs/pages/versions/unversioned/sdk/amplitude.md
  docs/pages/versions/unversioned/sdk/captureRef.md
  docs/pages/versions/unversioned/sdk/facedetector.md
  docs/pages/versions/unversioned/sdk/local-authentication.md
  docs/pages/versions/unversioned/sdk/notifications.md
  docs/pages/versions/unversioned/sdk/segment.md
  docs/pages/versions/v40.0.0/sdk/amplitude.md
  docs/pages/versions/v40.0.0/sdk/captureRef.md
  docs/pages/versions/v40.0.0/sdk/facedetector.md
  docs/pages/versions/v40.0.0/sdk/legacy-notifications.md
  docs/pages/versions/v40.0.0/sdk/local-authentication.md
  docs/pages/versions/v40.0.0/sdk/notifications.md
  docs/pages/versions/v40.0.0/sdk/segment.md
  docs/pages/versions/v41.0.0/sdk/amplitude.md
  docs/pages/versions/v41.0.0/sdk/captureRef.md
  docs/pages/versions/v41.0.0/sdk/facedetector.md
  docs/pages/versions/v41.0.0/sdk/local-authentication.md
  docs/pages/versions/v41.0.0/sdk/notifications.md
  docs/pages/versions/v41.0.0/sdk/segment.md
  docs/pages/versions/v42.0.0/sdk/amplitude.md
  docs/pages/versions/v42.0.0/sdk/captureRef.md
  docs/pages/versions/v42.0.0/sdk/facedetector.md
  docs/pages/versions/v42.0.0/sdk/local-authentication.md
  docs/pages/versions/v42.0.0/sdk/notifications.md
  docs/pages/versions/v42.0.0/sdk/segment.md
  docs/pages/versions/v43.0.0/sdk/amplitude.md
  docs/pages/versions/v43.0.0/sdk/captureRef.md
  docs/pages/versions/v43.0.0/sdk/facedetector.md
  docs/pages/versions/v43.0.0/sdk/local-authentication.md
  docs/pages/versions/v43.0.0/sdk/notifications.md
  docs/pages/versions/v43.0.0/sdk/segment.md
  docs/pages/versions/v44.0.0/sdk/amplitude.md
  docs/pages/versions/v44.0.0/sdk/captureRef.md
  docs/pages/versions/v44.0.0/sdk/facedetector.md
  docs/pages/versions/v44.0.0/sdk/local-authentication.md
  docs/pages/versions/v44.0.0/sdk/notifications.md
  docs/pages/versions/v44.0.0/sdk/segment.md
Labels: docs, bot: passed checks

#16565 [home] implement projects section for redesigned Expo Go homescreen
  home/graphql.schema.json
  home/graphql/types.ts
  home/navigation/Navigation.tsx
  home/screens/HomeScreen/DevelopmentServersOpenURL.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/HomeScreenData.query.graphql
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/ProjectsHeader.tsx
  home/screens/HomeScreen/ProjectsListItem.tsx
  home/screens/HomeScreen/ProjectsSection.tsx
  home/screens/HomeScreen/RecentlyOpenedSection.tsx
  home/screens/HomeScreen/index.tsx
  home/screens/ProjectsScreen.tsx
  home/utils/useTheme.ts
  packages/expo-dev-client-components/build/useExpoTheme.js
  packages/expo-dev-client-components/build/useExpoTheme.js.map
  packages/expo-dev-client-components/src/useExpoTheme.ts
Labels: home, bot: suggestions

#16574 [home][dcc] update border color/divider colors for dark mode
  home/components/HomeScreenHeader.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/ProjectsSection.tsx
  home/screens/HomeScreen/RecentlyOpenedListItem/index.tsx
  home/screens/HomeScreen/RecentlyOpenedSection.tsx
  packages/expo-dev-client-components/build/View.d.ts
  packages/expo-dev-client-components/build/View.d.ts.map
  packages/expo-dev-client-components/build/View.js
  packages/expo-dev-client-components/build/View.js.map
  packages/expo-dev-client-components/src/View.tsx
Labels: home

#16584 [home] update statusbar and tab colors, add headers to Diagnostics and Settings screens
  home/HomeApp.tsx
  home/components/ThemedStatusBar.tsx
  home/navigation/BottomTabNavigator.android.ts
  home/navigation/BottomTabNavigator.ts
  home/navigation/Navigation.tsx
  home/navigation/defaultNavigationOptions.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/index.tsx
  home/screens/RedesignedDiagnosticsScreen/index.tsx
Labels: home

#16586 [home] add snacks section to new home screen
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/SnacksListItem.tsx
  home/screens/HomeScreen/SnacksSection.tsx
  home/screens/HomeScreen/TextHeader.tsx
  packages/expo-dev-client-components/build/View.d.ts
  packages/expo-dev-client-components/build/View.d.ts.map
  packages/expo-dev-client-components/build/View.js
  packages/expo-dev-client-components/build/View.js.map
  packages/expo-dev-client-components/src/View.tsx
Labels: home, bot: suggestions

#16476 [dev-menu] update dev menu dev settings
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
  packages/expo-dev-menu/ios/EXDevMenuDevSettings.h
  packages/expo-dev-menu/ios/EXDevMenuDevSettings.m
  packages/expo-dev-menu/ios/EXDevMenuDevSettings.swift
  packages/expo-dev-menu/ios/Headers/EXDevMenu-Bridging-Header.h
Labels: bot: suggestions

#16588 Update CODEOWNERS for CLI
  .github/CODEOWNERS
Labels: bot: passed checks

#16581 [ncl] Support platform-specific function demo
  apps/native-component-list/src/components/FunctionDemo/FunctionDemo.tsx
  apps/native-component-list/src/components/FunctionDemo/Platforms.tsx
Labels: bot: passed checks

#16587 [cli] Pull in start command shim from #16518
  packages/expo/CHANGELOG.md
  packages/expo/bin/cli.ts
  packages/expo/cli/start/__tests__/resolveOptions-test.ts
  packages/expo/cli/start/index.ts
  packages/expo/cli/start/resolveOptions.ts
  packages/expo/cli/start/startAsync.ts
  packages/expo/e2e/__tests__/config-test.ts
  packages/expo/e2e/__tests__/index-test.ts
  packages/expo/e2e/__tests__/start-test.ts
Labels: bot: passed checks

#16599 [docs] Updates EAS Update debugging guide
  docs/pages/eas-update/debug-updates.md
  docs/public/static/images/eas-update/debug-map.png
  docs/public/static/images/eas-update/network-request.png
Labels: bot: passed checks

#16603 [docs] using a more inclusive language option
  docs/pages/guides/permissions.md
Labels: bot: passed checks

#16610 [docs] broken link to sources
  docs/pages/modules/module-api.md
Labels: bot: passed checks

#16604 [docs] use more inclusive terminology in variables
  docs/components/DocumentationFooter.tsx
Labels: bot: passed checks

#16511 [autolinking] Support multiple podspecs and gradle projects in a package
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/platforms/android.d.ts
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/build/platforms/ios.d.ts
  packages/expo-modules-autolinking/build/platforms/ios.js
  packages/expo-modules-autolinking/build/platforms/ios.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/e2e/__tests__/__snapshots__/monorepo-test.ts.snap
  packages/expo-modules-autolinking/e2e/__tests__/monorepo-test.ts
  packages/expo-modules-autolinking/package.json
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/package.rb
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/__tests__/mockHelpers.ts
  packages/expo-modules-autolinking/src/autolinking/__tests__/findModules-test.ts
  packages/expo-modules-autolinking/src/index.ts
  packages/expo-modules-autolinking/src/platforms/__tests__/android-test.ts
  packages/expo-modules-autolinking/src/platforms/__tests__/ios-test.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-autolinking/src/platforms/ios.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks

#16621 [sweet api][Kotlin] Improve conversion from native side to js
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KPromiseWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Record.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumSerializer.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverterHelper.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/JSTypeConverterTest.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/ModuleMockInvocationHandler.kt
  packages/unimodules-test-core/android/src/main/java/expo/modules/test/core/TestJSContainerProvider.kt
Labels: bot: suggestions

#16559 [cli][start] Added manifest middleware
  packages/expo/CHANGELOG.md
  packages/expo/cli/log.ts
  packages/expo/cli/start/server/middleware/ClassicManifestMiddleware.ts
  packages/expo/cli/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/expo/cli/start/server/middleware/ExpoMiddleware.ts
  packages/expo/cli/start/server/middleware/ManifestMiddleware.ts
  packages/expo/cli/start/server/middleware/__tests__/ClassicManifestMiddleware-test.ts
  packages/expo/cli/start/server/middleware/__tests__/ExpoGoManifestHandlerMiddleware-test.ts
  packages/expo/cli/start/server/middleware/__tests__/ExpoMiddleware-test.ts
  packages/expo/cli/start/server/middleware/__tests__/ManifestMiddleware-test.ts
  packages/expo/cli/start/server/middleware/__tests__/fixtures/icon.png
  packages/expo/cli/start/server/middleware/__tests__/resolveAssets-test.ts
  packages/expo/cli/start/server/middleware/__tests__/resolveEntryPoint-test.ts
  packages/expo/cli/start/server/middleware/__tests__/resolvePlatform-test.ts
  packages/expo/cli/start/server/middleware/resolveAssets.ts
  packages/expo/cli/start/server/middleware/resolveEntryPoint.ts
  packages/expo/cli/start/server/middleware/resolvePlatform.ts
  packages/expo/cli/start/server/middleware/server.types.ts
  packages/expo/cli/utils/analytics/rudderstackClient.ts
Labels: bot: passed checks

#16560 [cli][start] Added interstitial middleware
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/server/middleware/InterstitialPageMiddleware.ts
  packages/expo/cli/start/server/middleware/RuntimeRedirectMiddleware.ts
  packages/expo/cli/start/server/middleware/__tests__/InterstitialPageMiddleware-test.ts
  packages/expo/cli/start/server/middleware/__tests__/RuntimeRedirectMiddleware-test.ts
  packages/expo/package.json
  packages/expo/static/loading-page/index.html
Labels: bot: passed checks

#16566 [sweet][android] Implement `groupView`
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/GroupViewManagerWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewGroupDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewGroupDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
Labels: bot: suggestions

#16551 [clipboard] Add support for HTML content
  apps/test-suite/tests/Clipboard.js
  docs/public/static/data/unversioned/expo-clipboard.json
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardOptions.kt
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/Clipboard.types.d.ts
  packages/expo-clipboard/build/Clipboard.types.d.ts.map
  packages/expo-clipboard/build/Clipboard.types.js
  packages/expo-clipboard/build/Clipboard.types.js.map
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts.map
  packages/expo-clipboard/build/ExpoClipboard.web.js
  packages/expo-clipboard/build/ExpoClipboard.web.js.map
  packages/expo-clipboard/ios/ClipboardModule.swift
  packages/expo-clipboard/ios/ClipboardOptions.swift
  packages/expo-clipboard/ios/NSAttributedString+utilities.swift
  packages/expo-clipboard/ios/UIPasteboard+html.swift
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/Clipboard.types.ts
  packages/expo-clipboard/src/ExpoClipboard.web.ts
  packages/expo-clipboard/src/__tests__/Clipboard-test.native.ts
Labels: bot: passed checks

#16607 [expo-updates][android] Add support for expo project information certificate extension
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainRoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/chainIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/chainLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/chainRoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/test.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/test.pem
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateChainTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CodeSigningConfigurationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CertificateChain.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CodeSigningConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: passed checks

#16642 [docs] redesign: Algolia search results
  docs/public/static/libs/algolia/algolia.css
Labels: bot: passed checks

#16655 [ncl] rename example3.webp to example4.webp
  apps/native-component-list/assets/images/example4.webp
  apps/native-component-list/src/screens/Image/images/images.ts
Labels: bot: passed checks

#16631 [cli] Added Metro dev server module
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/server/BundlerDevServer.ts
  packages/expo/cli/start/server/DevServerManager.ts
  packages/expo/cli/start/server/__tests__/BundlerDevServer-test.ts
  packages/expo/cli/start/server/__tests__/openPlatforms-test.ts
  packages/expo/cli/start/server/metro/MetroBundlerDevServer.ts
  packages/expo/cli/start/server/metro/__tests__/MetroBundlerDevServer-test.ts
  packages/expo/cli/start/server/metro/instantiateMetro.ts
  packages/expo/cli/start/server/metro/resolveFromProject.ts
  packages/expo/cli/start/server/middleware/createDevServerMiddleware.ts
  packages/expo/cli/start/server/openPlatforms.ts
  packages/expo/package.json
Labels: bot: passed checks

#16615 [image-picker][android] Fix failure when allowsEditing is true and non-jpeg file picked
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/tasks/ImageResultTask.kt
Labels: bot: passed checks

#16602 [dev-menu] restore onboarding screen and autolaunch on initial install
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/app/App.tsx
  packages/expo-dev-menu/app/components/AppProviders.tsx
  packages/expo-dev-menu/app/components/GestureHandlerTouchableWrapper.tsx
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/components/Onboarding.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/app/hooks/useMenuPreferences.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
Labels: bot: suggestions

#16656 [sweet api][Kotlin] Add `asyncFunction` component and deprecate `function` component
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionWithPromise.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/AnyFunctionTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/TypeConverterHelperTest.kt
Labels: bot: suggestions

#16648 [home] hook home screen data query into existing pull-to-refresh flow
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/index.tsx
Labels: bot: passed checks

#16647 [home][dcc] add Inter font for consistent text styles/weights across platforms in 2022 redesign
  home/HomeApp.tsx
  home/assets/Inter/Inter-Black.otf
  home/assets/Inter/Inter-BlackItalic.otf
  home/assets/Inter/Inter-Bold.otf
  home/assets/Inter/Inter-BoldItalic.otf
  home/assets/Inter/Inter-ExtraBold.otf
  home/assets/Inter/Inter-ExtraBoldItalic.otf
  home/assets/Inter/Inter-ExtraLight.otf
  home/assets/Inter/Inter-ExtraLightItalic.otf
  home/assets/Inter/Inter-Italic.otf
  home/assets/Inter/Inter-Light.otf
  home/assets/Inter/Inter-LightItalic.otf
  home/assets/Inter/Inter-Medium.otf
  home/assets/Inter/Inter-MediumItalic.otf
  home/assets/Inter/Inter-Regular.otf
  home/assets/Inter/Inter-SemiBold.otf
  home/assets/Inter/Inter-SemiBoldItalic.otf
  home/assets/Inter/Inter-Thin.otf
  home/assets/Inter/Inter-ThinItalic.otf
  home/components/HomeScreenHeader.tsx
  home/navigation/BottomTabNavigator.ts
  home/navigation/defaultNavigationOptions.tsx
  home/screens/HomeScreen/DevelopmentServersHeader.tsx
  home/screens/HomeScreen/RecentlyOpenedHeader.tsx
  home/screens/HomeScreen/TextHeader.tsx
  packages/expo-dev-client-components/build/Button.d.ts
  packages/expo-dev-client-components/build/Text.d.ts
  packages/expo-dev-client-components/build/theme.d.ts
  packages/expo-dev-client-components/build/theme.d.ts.map
  packages/expo-dev-client-components/build/theme.js
  packages/expo-dev-client-components/build/theme.js.map
  packages/expo-dev-client-components/src/theme.ts
Labels: bot: suggestions

#16597 [home] add border to pressable diagnostic options
  home/components/PressableOpacity.tsx
  home/screens/RedesignedDiagnosticsScreen/DiagnosticsButton.tsx
Labels: home, bot: passed checks

#16600 [home] implement redesigned projects and snacks list pages
  home/components/HomeScreenHeader.tsx
  home/components/RedesignedProjectsListItem.tsx
  home/components/RedesignedSnacksListItem.tsx
  home/constants/Colors.ts
  home/graphql/types.ts
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/navigation/defaultNavigationOptions.tsx
  home/package.json
  home/screens/HomeScreen/AppIcon.tsx
  home/screens/HomeScreen/HomeScreenData.query.graphql
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/ProjectsListItem.tsx
  home/screens/HomeScreen/ProjectsSection.tsx
  home/screens/HomeScreen/SnacksSection.tsx
  home/screens/RedesignedProjectsListScreen/ProjectList.tsx
  home/screens/RedesignedProjectsListScreen/index.tsx
  home/screens/RedesignedSnacksListScreen.tsx/SnackList.tsx
  home/screens/RedesignedSnacksListScreen.tsx/SnacksList.tsx
  home/screens/RedesignedSnacksListScreen.tsx/index.tsx
  yarn.lock
Labels: home, bot: suggestions

#16632 [home] redesign settings tab
  home/components/RedesignedSectionHeader.tsx
  home/navigation/Navigation.tsx
  home/screens/HomeScreen/DevelopmentServersOpenQR.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/RedesignedSettingsScreen/CheckListItem.tsx
  home/screens/RedesignedSettingsScreen/ConstantsSection.tsx
  home/screens/RedesignedSettingsScreen/DevMenuGestureSection.tsx
  home/screens/RedesignedSettingsScreen/RadioListItem.tsx
  home/screens/RedesignedSettingsScreen/ShakeDeviceIcon.tsx
  home/screens/RedesignedSettingsScreen/SignOutSection.tsx
  home/screens/RedesignedSettingsScreen/ThemeSection.tsx
  home/screens/RedesignedSettingsScreen/ThreeFingerPressIcon.tsx
  home/screens/RedesignedSettingsScreen/TrackingSection.tsx
  home/screens/RedesignedSettingsScreen/index.tsx
Labels: bot: passed checks

#16665 [eslint-config-universe] update Readme
  packages/eslint-config-universe/README.md
Labels: bot: suggestions

#16630 [core][ios] Introduce asyncFunction definition component
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Functions/AsyncFunction.swift
  packages/expo-modules-core/ios/Swift/Functions/ConcreteFunction.swift
  packages/expo-modules-core/ios/Swift/Objects/ObjectDefinitionComponents.swift
Labels: bot: passed checks

#16562 [dev-launcher] remove dev menu from extra modules
  packages/expo-dev-client/android/src/androidTest/java/com/expo/modules/devclient/interceptors/DevMenuTestInterceptor.kt
  packages/expo-dev-client/android/src/androidTest/java/com/expo/modules/devclient/scenarios/DevLauncherBasicScenario.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/expo-44/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/expo-45/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/bundle/functions/__tests__/getInitialData.test.ts
  packages/expo-dev-launcher/bundle/functions/getInitialData.ts
  packages/expo-dev-launcher/bundle/hooks/useDevMenuPreferences.tsx
  packages/expo-dev-launcher/bundle/native-modules/DevMenuInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/DevMenuPreferences.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevMenuInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevMenuPreferences.ts
  packages/expo-dev-launcher/bundle/providers/AppProviders.tsx
  packages/expo-dev-launcher/bundle/providers/DevMenuPreferencesProvider.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/SettingsScreen.test.tsx
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/setupTests.ts
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuManagerInterface.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuPreferencesInterface.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuDefaultPreferences.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuPreferences.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/tests/DevMenuDisabledTestInterceptor.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/tests/DevMenuTestInterceptor.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/ios/Modules/DevMenuPreferences.m
  packages/expo-dev-menu/ios/Modules/DevMenuPreferences.swift
Labels: bot: suggestions

#16649 [expo-updates][android] Allow non-codesigned manifests for Expo Go
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CodeSigningConfigurationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CodeSigningConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/SignatureHeaderInfo.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: passed checks

#16661 [expo-updates][android] Add support for expo project information certificate extension
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/chainRoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/chainIntermediate.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/chainLeaf.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/chainRoot.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/privatekeys/test.pem
  packages/expo-updates/android/src/androidTest/certificates/expo.modules.updates.codesigning.CertificateFixtures/test.pem
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateChainTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CodeSigningConfigurationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CertificateChain.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CodeSigningConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: passed checks

#16679 [android][expo-updates] Fix Expo go app loading
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
Labels: bot: passed checks

#16644 [expo-updates] fix primitive type default values in UpdatesConfiguration
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesConfigurationInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
Labels: bot: passed checks

#16658 feat(cli): added custom metro terminal reporter to dev server
  packages/expo/CHANGELOG.md
  packages/expo/cli/start/server/metro/MetroTerminalReporter.ts
  packages/expo/cli/start/server/metro/TerminalReporter.ts
  packages/expo/cli/start/server/metro/TerminalReporter.types.ts
  packages/expo/cli/start/server/metro/__tests__/MetroTerminalReporter-test.ts
  packages/expo/cli/start/server/metro/__tests__/TerminalReporter-test.ts
  packages/expo/cli/start/server/metro/instantiateMetro.ts
Labels: bot: suggestions

#16611 [av][android] Fix crashes caused by accessing player on wrong thread
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/build.gradle
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
Labels: bot: passed checks

#16669 [image-manipulator][ios] Fix rotation on iOS may cause a border around the image
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulations.swift
Labels: bot: passed checks

#16707 [docs] Update vector icons imports
  docs/pages/guides/icons.md
  docs/pages/guides/preloading-and-caching-assets.md
  docs/pages/ui-programming/implementing-a-checkbox.md
  docs/pages/versions/unversioned/sdk/splash-screen.md
  docs/pages/versions/v40.0.0/sdk/splash-screen.md
  docs/pages/versions/v41.0.0/sdk/splash-screen.md
  docs/pages/versions/v42.0.0/sdk/splash-screen.md
  docs/pages/versions/v43.0.0/sdk/splash-screen.md
  docs/pages/versions/v44.0.0/sdk/splash-screen.md
Labels: bot: passed checks

#16670 [expo-in-app-purchases][android] added the ability to set obfuscatedAccountId, obfuscatedProfileId and isVrPurchaseFlow
  apps/native-component-list/src/screens/InAppPurchases/InAppPurchases.tsx
  packages/expo-in-app-purchases/CHANGELOG.md
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/BillingManager.java
  packages/expo-in-app-purchases/android/src/main/java/expo/modules/inapppurchases/InAppPurchasesModule.java
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.d.ts.map
  packages/expo-in-app-purchases/build/InAppPurchases.js
  packages/expo-in-app-purchases/build/InAppPurchases.js.map
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts
  packages/expo-in-app-purchases/build/InAppPurchases.types.d.ts.map
  packages/expo-in-app-purchases/build/InAppPurchases.types.js
  packages/expo-in-app-purchases/build/InAppPurchases.types.js.map
  packages/expo-in-app-purchases/ios/EXInAppPurchases/EXInAppPurchasesModule.m
  packages/expo-in-app-purchases/src/InAppPurchases.ts
  packages/expo-in-app-purchases/src/InAppPurchases.types.ts
Labels: bot: passed checks

#16645 [github] add Updates e2e workflow that builds a test APK
  .github/workflows/updates-e2e.yml
Labels: bot: passed checks

#16653 [docs] update runtimeVersion format for eas update
  docs/pages/eas-update/runtime-versions.md
Labels: bot: passed checks

#16518 feat(cli): add Terminal UI to `npx expo start`
  packages/expo/CHANGELOG.md
  packages/expo/cli/log.ts
  packages/expo/cli/start/interface/KeyPressHandler.ts
  packages/expo/cli/start/interface/commandsTable.ts
  packages/expo/cli/start/interface/interactiveActions.ts
  packages/expo/cli/start/interface/startInterface.ts
  packages/expo/cli/start/server/DevServerManager.ts
  packages/expo/cli/start/startAsync.ts
  packages/expo/cli/utils/analytics/rudderstackClient.ts
  packages/expo/cli/utils/errors.ts
  packages/expo/cli/utils/prompts.ts
  packages/expo/e2e/__tests__/start-test.ts
  packages/expo/package.json
  yarn.lock
Labels: bot: passed checks

#16721 [docs] EAS Secrets - specify secrets size limit
  docs/pages/build-reference/variables.md
Labels: bot: passed checks

#16730 ci(cli): disable watch mode in CI
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/taskfile.js
Labels: bot: passed checks

#16731 [cli] Enable file watchers for `yarn build` only with a TTY attached
  packages/@expo/cli/taskfile.js
Labels: bot: suggestions

#16737 [docs] fix breaking example of metro config
  docs/pages/versions/unversioned/sdk/sqlite.md
Labels: bot: passed checks

#16709 [expo-manifests][expo-dev-launcher] add logUrl getter to manifest classes
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherUncaughtExceptionHandler.kt
  packages/expo-dev-launcher/ios/Errors/EXDevLauncherUncaughtExceptionHandler.swift
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.h
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
  packages/expo-manifests/ios/EXManifests/EXManifestsManifest.h
Labels: bot: passed checks

#16741 [expo-eas-client-id] Fix build
  apps/test-suite/tests/EASClientID.js
  packages/expo-eas-client-id/android/src/main/java/expo/modules/easclientid/EASClientIDModule.kt
  packages/expo-eas-client-id/build/EASClientID.d.ts
  packages/expo-eas-client-id/build/EASClientID.d.ts.map
  packages/expo-eas-client-id/build/EASClientID.js
  packages/expo-eas-client-id/build/EASClientID.js.map
  packages/expo-eas-client-id/ios/EASClientId/EASClientIDModule.swift
  packages/expo-eas-client-id/src/EASClientID.ts
Labels: bot: suggestions

#16729 [expo-updates] Pass EAS-Client-ID in header for asset and manifest requests
  ios/Podfile.lock
  packages/expo-eas-client-id/ios/EASClientID/EASClientID.swift
  packages/expo-eas-client-id/ios/EASClientID/EASClientIDModule.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
Labels: bot: suggestions

#16558 [dev-menu][dev-launcher] update dev-menu extensions API
  packages/expo-dev-client/e2e/android/MainApplication.java
  packages/expo-dev-launcher/build/DevLauncher.d.ts
  packages/expo-dev-launcher/build/DevLauncher.d.ts.map
  packages/expo-dev-launcher/build/DevLauncher.js.map
  packages/expo-dev-launcher/ios/EXDevLauncherDevMenuExtensions.m
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-launcher/src/DevLauncher.ts
  packages/expo-dev-menu-interface/ios/EXDevExtensions.swift
  packages/expo-dev-menu/app/components/__tests__/Main.test.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/app/native-modules/DevLauncher.ts
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/app/native-modules/__mocks__/DevLauncher.ts
  packages/expo-dev-menu/app/native-modules/__mocks__/DevMenu.ts
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuRCTBridge.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/setupTests.ts
Labels: bot: suggestions

#16747 chore: drop unused files from expo package
  packages/expo/taskfile-swc.js
  packages/expo/taskfile.js
Labels: bot: suggestions

#16708 [home] implement branch list screen
  home/components/BranchListItem.tsx
  home/components/UpdateListItem.tsx
  home/graphql.schema.json
  home/graphql/queries/BranchDetails.query.graphql
  home/graphql/queries/BranchesForProjectQuery.query.graphql
  home/graphql/types.ts
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/screens/BranchDetailsScreen/BranchDetailsContainer.tsx
  home/screens/BranchDetailsScreen/BranchDetailsView.tsx
  home/screens/BranchDetailsScreen/BranchHeader.tsx
  home/screens/BranchDetailsScreen/EmptySection.tsx
  home/screens/BranchDetailsScreen/LegacyLaunchSection.tsx
  home/screens/BranchDetailsScreen/WarningBox.tsx
  home/screens/BranchDetailsScreen/index.tsx
  home/screens/BranchListScreen/BranchList.tsx
  home/screens/BranchListScreen/BranchListView.tsx
  home/screens/BranchListScreen/index.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/KitchenSink.tsx
  home/screens/RedesignedProjectScreen/EASUpdateLaunchSection.tsx
  home/screens/RedesignedProjectsListScreen/ProjectList.tsx
  home/screens/RedesignedSnacksListScreen/SnackList.tsx
  home/screens/RedesignedSnacksListScreen/SnacksList.tsx
  home/screens/RedesignedSnacksListScreen/index.tsx
Labels: home

#16634 [expo-updates][ios] Support certificate chains
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Supporting/expo-root.pem
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCodeSigningAlgorithm.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCodeSigningConfiguration.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesSignatureHeaderInfo.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCertificateChain.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningAlgorithm.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningConfiguration.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningError.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesSignatureHeaderInfo.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.m
  packages/expo-updates/ios/Tests/EXUpdatesCertificateChainTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesCodeSigningAlgorithmTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesCodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesSignatureHeaderInfoTests.swift
  packages/expo-updates/ios/Tests/Support/certificates/chainIntermediate.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainLeaf.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainNotCAIntermediate.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainNotCALeaf.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainNotCARoot.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainPathLenViolationIntermediate.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainPathLenViolationLeaf.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainPathLenViolationRoot.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainRoot.pem
  packages/expo-updates/ios/Tests/Support/certificates/invalidSignatureChainLeaf.pem
  packages/expo-updates/ios/Tests/Support/certificates/noCodeSigningExtendedUsage.pem
  packages/expo-updates/ios/Tests/Support/certificates/noKeyUsage.pem
  packages/expo-updates/ios/Tests/Support/certificates/signatureInvalid.pem
  packages/expo-updates/ios/Tests/Support/certificates/test.pem
  packages/expo-updates/ios/Tests/Support/certificates/validityExpired.pem
  packages/expo-updates/ios/Tests/TestHelper.swift
Labels: bot: passed checks

#16726 [expo-updates][ios] Add support for expo project information certificate extension
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCertificateChain.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningConfiguration.swift
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCodeSigningError.swift
  packages/expo-updates/ios/Tests/EXUpdatesCertificateChainTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesCodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderManifestParsingTest.m
  packages/expo-updates/ios/Tests/Support/certificates/chainIntermediate.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainLeaf.pem
  packages/expo-updates/ios/Tests/Support/certificates/chainRoot.pem
  packages/expo-updates/ios/Tests/Support/certificates/privatekeys/chainIntermediatePrivateKey.pem
  packages/expo-updates/ios/Tests/Support/certificates/privatekeys/chainLeafPrivateKey.pem
  packages/expo-updates/ios/Tests/Support/certificates/privatekeys/chainRootPrivateKey.pem
  packages/expo-updates/ios/Tests/Support/certificates/privatekeys/testPrivateKey.pem
  packages/expo-updates/ios/Tests/Support/certificates/test.pem
  packages/expo-updates/ios/Tests/TestHelper.swift
Labels: bot: passed checks

#16716 [home] add account switcher modal
  home/App.tsx
  home/HomeApp.tsx
  home/api/ApolloClient.ts
  home/components/HomeScreenHeader.tsx
  home/graphql/fragments/CurrentUserData.fragment.graphql
  home/graphql/types.ts
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/AccountModal/LoggedOutAccountView.tsx
  home/screens/AccountModal/ModalHeader.tsx
  home/screens/AccountModal/index.tsx
  home/screens/HomeScreen/DevelopmentServersOpenURL.tsx
  home/screens/HomeScreen/HomeScreenData.query.graphql
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/index.tsx
  home/screens/RedesignedSettingsScreen/SignOutSection.tsx
  home/screens/RedesignedSettingsScreen/index.tsx
  home/utils/AccountNameContext.tsx
  home/utils/InitialDataContext.tsx
Labels: home, bot: passed checks

#15010 [notifications][android] upgrade firebase messaging and replace "getInstanceId" call
  android/expoview/build.gradle
  android/versioned-abis/expoview-abi43_0_0/build.gradle
  android/versioned-abis/expoview-abi43_0_0/src/main/java/abi43_0_0/expo/modules/notifications/tokens/PushTokenModule.java
  android/versioned-abis/expoview-abi44_0_0/build.gradle
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/notifications/tokens/PushTokenModule.java
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.java
Labels: bot: passed checks

#16770 [docs] Fix duplicate key in side bar rendering
  docs/components/DocumentationSidebar.tsx
Labels: bot: passed checks

#16763 [docs] consistent wording between apple and google submit docs
  docs/pages/submit/ios.md
Labels: bot: passed checks

#16762 [docs]: update wording on limitations
  docs/pages/build-reference/limitations.md
Labels: bot: passed checks

#16759 [docs] typo in build troubleshooting
  docs/pages/build-reference/troubleshooting.md
Labels: bot: passed checks

#16758 [docs] typo in eas.json build schema tooltip
  docs/pages/build-reference/eas-json.md
Labels: bot: passed checks

#16765 [docs]: update outdated react typescript cheatsheet link
  docs/pages/guides/typescript.md
Labels: bot: passed checks

#16481 [clipboard][web] Add support for images
  apps/native-component-list/src/screens/Clipboard/ClipboardScreen.tsx
  docs/pages/versions/unversioned/sdk/clipboard.md
  docs/public/static/data/unversioned/expo-clipboard.json
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts
  packages/expo-clipboard/build/ExpoClipboard.web.d.ts.map
  packages/expo-clipboard/build/ExpoClipboard.web.js
  packages/expo-clipboard/build/ExpoClipboard.web.js.map
  packages/expo-clipboard/build/web/ClipboardModule.d.ts
  packages/expo-clipboard/build/web/ClipboardModule.d.ts.map
  packages/expo-clipboard/build/web/ClipboardModule.js
  packages/expo-clipboard/build/web/ClipboardModule.js.map
  packages/expo-clipboard/build/web/Exceptions.d.ts
  packages/expo-clipboard/build/web/Exceptions.d.ts.map
  packages/expo-clipboard/build/web/Exceptions.js
  packages/expo-clipboard/build/web/Exceptions.js.map
  packages/expo-clipboard/build/web/Utils.d.ts
  packages/expo-clipboard/build/web/Utils.d.ts.map
  packages/expo-clipboard/build/web/Utils.js
  packages/expo-clipboard/build/web/Utils.js.map
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/ExpoClipboard.web.ts
  packages/expo-clipboard/src/web/ClipboardModule.ts
  packages/expo-clipboard/src/web/Exceptions.ts
  packages/expo-clipboard/src/web/Utils.ts
Labels: bot: passed checks

#16775 Modify the URL of app store of Expo Go app
  docs/pages/get-started/installation.md
Labels: bot: passed checks

#16771 [docs] detect broken internal links in generated doc comments, fix links
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-app-loading.json
  docs/public/static/data/unversioned/expo-background-fetch.json
  docs/public/static/data/unversioned/expo-constants.json
  docs/public/static/data/unversioned/expo-face-detector.json
  docs/public/static/data/unversioned/expo-in-app-purchases.json
  docs/public/static/data/unversioned/expo-intent-launcher.json
  docs/public/static/data/unversioned/expo-linear-gradient.json
  docs/public/static/data/unversioned/expo-linking.json
  docs/public/static/data/unversioned/expo-location.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-screen-capture.json
  docs/public/static/data/unversioned/expo-sms.json
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v44.0.0/expo-app-loading.json
  docs/public/static/data/v44.0.0/expo-constants.json
  docs/public/static/data/v44.0.0/expo-linking.json
  docs/public/static/data/v44.0.0/expo-media-library.json
  docs/public/static/data/v44.0.0/expo-screen-capture.json
  docs/public/static/data/v44.0.0/expo-sms.json
  docs/public/static/data/v44.0.0/expo-sqlite.json
  packages/expo-app-loading/build/AppLoading.types.d.ts
  packages/expo-app-loading/build/AppLoading.types.js.map
  packages/expo-app-loading/src/AppLoading.types.ts
  packages/expo-av/build/Video.types.d.ts
  packages/expo-av/build/Video.types.js.map
  packages/expo-av/src/Video.types.ts
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/src/Linking.ts
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/MediaLibrary.ts
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
  packages/expo-sms/build/SMS.types.d.ts
  packages/expo-sms/build/SMS.types.js.map
  packages/expo-sms/src/SMS.types.ts
  packages/expo-sqlite/build/SQLite.d.ts
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/src/SQLite.ts
Labels: bot: suggestions

#16786 [dev-client][e2e] Update test runner to `0.0.9`
  .github/workflows/development-client-latest-e2e.yml
  packages/expo-dev-client/.detoxrc.js
  packages/expo-dev-client/package.json
  yarn.lock
Labels: bot: suggestions

#16779 [home] Get name from EAS Update Manifests to show in 'recently opened' section and dev menu
  home/menu/DevMenuTaskInfo.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/HomeScreen/RecentlyOpenedSection.tsx
Labels: home, bot: passed checks

#16783 [docs]: mark deprecated SDK versions as deprecated
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.md
Labels: bot: passed checks

#16773 [docs] make code snippet match Snack
  docs/pages/tutorial/platform-differences.md
Labels: bot: passed checks

#16777 [core][ios] Evaluating JavaScript code from Swift
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.h
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Tests/JavaScriptRuntimeSpec.swift
Labels: bot: suggestions

#16796 Fix test snapshots after removing ViewPropTypes
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.android
  packages/expo-barcode-scanner/src/__tests__/__snapshots__/BarCodeScanner-test.tsx.snap.ios
  packages/expo-gl/src/__tests__/__snapshots__/GLView-test.tsx.snap.android
  packages/expo-gl/src/__tests__/__snapshots__/GLView-test.tsx.snap.ios
  packages/expo-linear-gradient/src/__tests__/__snapshots__/LinearGradient-test.native.tsx.snap.android
Labels: bot: suggestions

#16754 fix(cli): build watcher
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/taskfile.js
Labels: bot: passed checks

#16688 [docs] update broken link, formatting tweaks
  docs/pages/workflow/customizing.md
Labels: bot: passed checks

#16795 [eas-client-id] Move back to constants
  apps/test-suite/tests/EASClientID.js
  packages/expo-eas-client-id/android/src/main/java/expo/modules/easclientid/EASClientIDModule.kt
  packages/expo-eas-client-id/build/EASClientID.d.ts
  packages/expo-eas-client-id/build/EASClientID.d.ts.map
  packages/expo-eas-client-id/build/EASClientID.js
  packages/expo-eas-client-id/build/EASClientID.js.map
  packages/expo-eas-client-id/ios/EASClientID/EASClientIDModule.swift
  packages/expo-eas-client-id/src/EASClientID.ts
Labels: bot: suggestions

#16778 [expo-updates] Document new code signing configuration fields
  packages/expo-updates/README.md
Labels: bot: suggestions

#16798 [expo-updates][e2e] Fix e2e test
  .github/workflows/updates-e2e.yml
Labels: bot: passed checks

#16801 [home] enable redesign and publish to expo-home-dev for dogfooding
  dev-home-config.json
  home/FeatureFlags.ts
Labels: home, bot: passed checks

#16768 [docs]: use terminal blocks instead of code blocks for terminal commands
  docs/pages/distribution/release-channels.md
Labels: bot: passed checks

#16767 [docs] various updates (wording, links) in app store distribution
  docs/pages/distribution/app-stores.md
Labels: bot: passed checks

#16802 [expo-updates] Add expo-eas-client-id to package.json
  packages/expo-updates/package.json
Labels: bot: suggestions

#16711 [expo-dev-launcher] respect androidNavigationBar app.json settings at runtime
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherExpoAppLoader.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/configurators/DevLauncherExpoActivityConfigurator.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestTypes.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/configurators/DevLauncherExpoActivityConfiguratorTest.kt
Labels: bot: passed checks

#16782 Entirely remove unimodules-task-manager-interface
  .github/CODEOWNERS
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-background-fetch/ios/EXBackgroundFetch.podspec
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetch.m
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetchTaskConsumer.h
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetchTaskConsumer.m
  packages/expo-location/ios/EXLocation.podspec
  packages/expo-location/ios/EXLocation/EXLocation.m
  packages/expo-location/ios/EXLocation/TaskConsumers/EXGeofencingTaskConsumer.h
  packages/expo-location/ios/EXLocation/TaskConsumers/EXGeofencingTaskConsumer.m
  packages/expo-location/ios/EXLocation/TaskConsumers/EXLocationTaskConsumer.h
  packages/expo-location/ios/EXLocation/TaskConsumers/EXLocationTaskConsumer.m
  packages/expo-location/package.json
  packages/expo-modules-core/ios/Interfaces/TaskManager/EXTaskServiceInterface.h
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundNotificationTasksModule.m
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundRemoteNotificationConsumer.h
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundRemoteNotificationConsumer.m
  packages/expo-notifications/package.json
  packages/expo-task-manager/ios/EXTaskManager.podspec
  packages/expo-task-manager/ios/EXTaskManager/EXTask.h
  packages/expo-task-manager/ios/EXTaskManager/EXTaskExecutionRequest.h
  packages/expo-task-manager/ios/EXTaskManager/EXTaskExecutionRequest.m
  packages/expo-task-manager/ios/EXTaskManager/EXTaskManager.h
  packages/expo-task-manager/ios/EXTaskManager/EXTaskManager.m
  packages/expo-task-manager/ios/EXTaskManager/EXTaskManagerAppDelegate.m
  packages/expo-task-manager/ios/EXTaskManager/EXTaskService.h
  packages/expo-task-manager/ios/EXTaskManager/EXTaskService.m
  packages/expo-task-manager/package.json
  packages/expo/bundledNativeModules.json
  packages/unimodules-task-manager-interface/CHANGELOG.md
  packages/unimodules-task-manager-interface/README.md
  packages/unimodules-task-manager-interface/index.js
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface.podspec
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface/UMTaskConsumerInterface.h
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface/UMTaskInterface.h
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface/UMTaskLaunchReason.h
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface/UMTaskManagerInterface.h
  packages/unimodules-task-manager-interface/ios/UMTaskManagerInterface/UMTaskServiceInterface.h
  packages/unimodules-task-manager-interface/package.json
  packages/unimodules-task-manager-interface/unimodule.json
  tools/src/versioning/android/unversionablePackages.json
Labels: bot: suggestions

#16671 [ios] Fix BlurView and LinearGradientView not rendering when the border radius is set
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/ios/EXBlur/BlurView.swift
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/ios/LinearGradientView.swift
Labels: bot: passed checks

#16813 [docs] standardize the `@deprecated` doc annotation
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-calendar.json
  docs/public/static/data/unversioned/expo-cellular.json
  docs/public/static/data/unversioned/expo-clipboard.json
  docs/public/static/data/unversioned/expo-constants.json
  docs/public/static/data/unversioned/expo-firebase-analytics.json
  docs/public/static/data/unversioned/expo-image-picker.json
  docs/public/static/data/unversioned/expo-location.json
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
  packages/expo-cellular/build/Cellular.d.ts
  packages/expo-cellular/build/Cellular.js
  packages/expo-cellular/build/Cellular.js.map
  packages/expo-cellular/src/Cellular.ts
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
  packages/expo-firebase-analytics/build/Analytics.d.ts
  packages/expo-firebase-analytics/build/Analytics.js
  packages/expo-firebase-analytics/build/Analytics.js.map
  packages/expo-firebase-analytics/src/Analytics.ts
  packages/expo-image-picker/build/ImagePicker.d.ts
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ImagePicker.ts
  packages/expo-image-picker/src/ImagePicker.types.ts
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/build/Location.types.d.ts
  packages/expo-location/build/Location.types.js.map
  packages/expo-location/src/Location.ts
  packages/expo-location/src/Location.types.ts
Labels: bot: suggestions

#16793 [android][local-authentication] Add the ability to set confirmation requirement
  docs/public/static/data/unversioned/expo-local-authentication.json
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.types.js.map
  packages/expo-local-authentication/src/LocalAuthentication.types.ts
  packages/expo-local-authentication/src/__tests__/LocalAuthentication-test.native.ts
Labels: bot: passed checks

#16734 [lint] Use espree (built-in) instead of Babel
  apps/test-suite/tests/GoogleSignIn.js
  apps/test-suite/tests/helpers.js
  packages/eslint-config-universe/CHANGELOG.md
  packages/eslint-config-universe/package.json
  packages/eslint-config-universe/shared/core.js
  packages/eslint-config-universe/shared/typescript.js
  packages/expo/src/environment/react-native-logs.fx.ts
  packages/expo/src/environment/validate.fx.ts
  yarn.lock
Labels: bot: suggestions

#16753 fix(cli): use queue to prevent process event listener warning
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/__tests__/exit-test.ts
  packages/@expo/cli/src/utils/__tests__/fn-test.ts
  packages/@expo/cli/src/utils/exit.ts
  packages/@expo/cli/src/utils/fn.ts
Labels: bot: passed checks

#16814 [tools] Fix versioning on iOS
  tools/src/versioning/ios/transforms/expoModulesTransforms.ts
  tools/src/versioning/ios/transforms/postTransforms.ts
  tools/src/versioning/ios/versionExpoModules.ts
  tools/src/versioning/ios/versionExpoModulesProvider.ts
Labels: bot: passed checks

#16799 [expo-dev-menu] fix gradle buildscript compatibility with flavors
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
Labels: bot: passed checks

#16812 [dev-client][e2e] Fix `Module was compiled with an incompatible version of Kotlin`
  packages/expo-dev-client/android/build.gradle
  packages/expo-dev-client/package.json
  yarn.lock
Labels: bot: suggestions

#16810 [ci] fix ci failures
  .github/workflows/android-instrumentation-tests.yml
  apps/test-suite/tests/EASClientID.js
  packages/expo-eas-client-id/CHANGELOG.md
  packages/expo-eas-client-id/build/EASClientID.d.ts
  packages/expo-eas-client-id/build/EASClientID.d.ts.map
  packages/expo-eas-client-id/build/EASClientID.js
  packages/expo-eas-client-id/build/EASClientID.js.map
  packages/expo-eas-client-id/build/EASClientID.web.d.ts
  packages/expo-eas-client-id/build/EASClientID.web.d.ts.map
  packages/expo-eas-client-id/build/EASClientID.web.js
  packages/expo-eas-client-id/build/EASClientID.web.js.map
  packages/expo-eas-client-id/build/index.d.ts
  packages/expo-eas-client-id/build/index.d.ts.map
  packages/expo-eas-client-id/build/index.js
  packages/expo-eas-client-id/build/index.js.map
  packages/expo-eas-client-id/package.json
  packages/expo-eas-client-id/src/EASClientID.ts
  packages/expo-eas-client-id/src/EASClientID.web.ts
  packages/expo-eas-client-id/src/index.ts
Labels: bot: passed checks

#16797 [expo-updates] Trim whitespace for expo project information embedded in code signing certificate
  packages/expo-updates/android/src/main/java/expo/modules/updates/codesigning/CertificateChain.kt
  packages/expo-updates/ios/EXUpdates/CodeSigning/EXUpdatesCertificateChain.swift
Labels: bot: suggestions

#16733 [core] Fix ModulesProviderProtocol casting error in XCTest targets
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegatesLoader.m
  packages/expo-modules-core/ios/AppDelegates/ExpoAppDelegate.swift
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.h
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/Swift/ModulesProvider.swift
  packages/expo-modules-core/ios/Swift/SwiftInteropBridge.swift
Labels: bot: passed checks

#16794 [autolinking] Fix react_import_patcher doesn't work in a folder with spaces
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ReactImportsPatcher.js
  packages/expo-modules-autolinking/build/ReactImportsPatcher.js.map
  packages/expo-modules-autolinking/scripts/ios/react_import_patcher.rb
  packages/expo-modules-autolinking/src/ReactImportsPatcher.ts
Labels: bot: passed checks

#16832 [home] use Inter font wherever we use DCC Text
  home/components/ConstantItem.tsx
  home/components/RedesignedProjectsListItem.tsx
  home/components/RedesignedSnacksListItem.tsx
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/DevelopmentServerSubtitle.tsx
  home/screens/HomeScreen/DevelopmentServerListItem/DevelopmentServerTitle.tsx
  home/screens/HomeScreen/DevelopmentServersHeader.tsx
  home/screens/HomeScreen/DevelopmentServersOpenQR.tsx
  home/screens/HomeScreen/DevelopmentServersOpenURL.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/HomeScreen/ProjectsSection.tsx
  home/screens/HomeScreen/RecentlyOpenedHeader.tsx
  home/screens/HomeScreen/RecentlyOpenedListItem/index.tsx
  home/screens/HomeScreen/SnacksSection.tsx
  home/screens/RedesignedDiagnosticsScreen/DiagnosticsButton.tsx
  home/screens/RedesignedProjectScreen/EASUpdateLaunchSection.tsx
  home/screens/RedesignedSettingsScreen/CheckListItem.tsx
  home/screens/RedesignedSettingsScreen/DevMenuGestureSection.tsx
  home/screens/RedesignedSettingsScreen/RadioListItem.tsx
  home/screens/RedesignedSettingsScreen/ThemeSection.tsx
  home/screens/RedesignedSettingsScreen/TrackingSection.tsx
Labels: home, bot: passed checks

#16828 Fix JSI runtime being unexpectedly deallocated by shared pointer
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.h
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
Labels: bot: suggestions

#16787 [clipboard] Redesign event listener
  apps/native-component-list/src/screens/Clipboard/ClipboardListenerDemo.tsx
  docs/public/static/data/unversioned/expo-clipboard.json
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/Clipboard.types.d.ts
  packages/expo-clipboard/build/Clipboard.types.d.ts.map
  packages/expo-clipboard/build/Clipboard.types.js
  packages/expo-clipboard/build/Clipboard.types.js.map
  packages/expo-clipboard/ios/ClipboardModule.swift
  packages/expo-clipboard/ios/UIPasteboard+html.swift
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/Clipboard.types.ts
Labels: bot: suggestions

#16792 [dev-launcher][iOS] Improve handling of LAN permission crash
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: suggestions

#16075 [av] Implement JSI Audio on Android
  packages/expo-av/android/.gitignore
  packages/expo-av/android/CMakeLists.txt
  packages/expo-av/android/build.gradle
  packages/expo-av/android/src/main/cpp/EXAV.cpp
  packages/expo-av/android/src/main/cpp/JAVManager.cpp
  packages/expo-av/android/src/main/cpp/JAVManager.h
  packages/expo-av/android/src/main/cpp/JPlayerData.cpp
  packages/expo-av/android/src/main/cpp/JPlayerData.h
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
  packages/expo-av/android/src/main/java/expo/modules/av/AVManagerInterface.java
  packages/expo-av/android/src/main/java/expo/modules/av/player/MediaPlayerData.java
  packages/expo-av/android/src/main/java/expo/modules/av/player/PlayerData.java
  packages/expo-av/android/src/main/java/expo/modules/av/player/SimpleExoPlayerData.java
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/src/Audio/Sound.ts
Labels: bot: suggestions
