Repository expo/expo, pull requests merged in 2022-07, with the labels that each got.

#17999 [media-library] Prevent `_exportAsset` from crashing
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
Labels: bot: passed checks

#18028 [packages] fix ci errors
  packages/expo-blur/src/__tests__/BlurView-test.web.tsx
  packages/expo-camera/build/ExponentCamera.web.d.ts
  packages/expo-camera/build/ExponentCamera.web.d.ts.map
  packages/expo-checkbox/src/__tests__/__snapshots__/ExpoCheckBox-test.web.tsx.snap.web
  packages/expo-dev-client-components/setupTests.js
  packages/expo-modules-core/src/__tests__/__snapshots__/Platform-test.ts.snap.web
  packages/html-elements/src/elements/__tests__/Anchor-test.tsx
  packages/html-elements/src/elements/__tests__/Lists-test.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Headings-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Layout-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Lists-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Table-test.tsx.snap.web
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.web
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/src/preset/setup-web.js
Labels: bot: suggestions

#18045 [netifo][iOS][Android] Upgrade `@react-native-community/netinfo` from `8.2.0` to `9.3.0`
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/ConnectivityReceiver.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-community/netinfo/react-native-netinfo.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18052 [go][iOS][Android] Upgrade `react-native-maps` from `0.30.2` to `0.31.1`
  android/app/build.gradle
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapCalloutManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapMarker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapMarkerManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapOverlay.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapOverlayManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapPolygonManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapPolylineManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/AirMapView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/maps/ImageReader.java
  android/versioned-abis/expoview-abi43_0_0/build.gradle
  android/versioned-abis/expoview-abi44_0_0/build.gradle
  android/versioned-abis/expoview-abi45_0_0/build.gradle
  apps/native-component-list/package.json
  home/package.json
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMapManager.m
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMapPolyline.h
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMapPolyline.m
  ios/Exponent/Versioned/Core/Api/Components/Maps/AIRMapPolylineManager.m
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/legacy.ts
  yarn.lock
Labels: bot: suggestions

#18050 [go][iOS][Android] Upgrade `react-native-view-shot` from `3.1.2` to `3.3.0`
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/RNViewShotModule.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/ViewShot.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent/Versioned/Core/Api/ViewShot/RNViewShot.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18051 [go][iOS][Android] Upgrade `lottie-react-native` from `5.0.1` to `5.1.3`
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/lottie/LottieAnimationViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/lottie/LottieAnimationViewPropertyManager.java
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/lottie-react-native/lottie-react-native.podspec.json
  ios/vendored/unversioned/lottie-react-native/src/ios/LottieReactNative/ContainerView.swift
  ios/vendored/unversioned/lottie-react-native/src/ios/LottieReactNative/LRNAnimationViewManagerObjC.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18047 [go][iOS][Android] Upgrade `react-native-webview` from `11.18.1` to `11.22.4`
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewModule.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-webview/apple/RNCWKProcessPoolManager.m
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.m
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewManager.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewManager.m
  ios/vendored/unversioned/react-native-webview/react-native-webview.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18037 [docs]: Improve Installation page under Getting Started
  docs/pages/get-started/installation.md
Labels: bot: passed checks

#18056 [expo-updates][iOS] Fix crash in Expo Go
  ios/Exponent/Kernel/Views/EXAppViewController.m
  ios/Podfile
  ios/versioned/sdk43/EXUpdates/EXUpdates/ABI43_0_0EXUpdatesService.m
  ios/versioned/sdk44/EXUpdates/EXUpdates/ABI44_0_0EXUpdatesService.m
  ios/versioned/sdk45/EXUpdates/EXUpdates/ABI45_0_0EXUpdatesService.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
Labels: bot: passed checks

#18074 [home] don't poll for projects if not logged in
  home/screens/HomeScreen/HomeScreenView.tsx
Labels: bot: passed checks

#18073 [expo-dev-menu][iOS] Fix use_frameworks!
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuRCTBridge.m
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
Labels: bot: passed checks

#18058 [docs] Create a new app: Add improvements to the docs page
  docs/pages/get-started/create-a-new-app.md
Labels: bot: passed checks

#18079 [docs] Sharing Release: fix Video alt text, improve readability for editors
  docs/pages/guides/sharing-preview-releases.md
Labels: bot: passed checks

#18078 [#18077] [expo-sqlite] Support nulls in query args
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLite.types.d.ts
  packages/expo-sqlite/build/SQLite.types.d.ts.map
  packages/expo-sqlite/build/SQLite.types.js.map
  packages/expo-sqlite/src/SQLite.types.ts
Labels: bot: passed checks

#18076 [expo-av][iOS] fix race conditions
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/Video/EXVideoView.m
Labels: bot: passed checks

#18082 [docs] BackgroundFetch: fix API section in unversioned file
  docs/pages/versions/unversioned/sdk/background-fetch.md
Labels: bot: passed checks

#18085 [go][iOS][Android] Upgrade `react-native-reanimated` from `2.8.0` to `2.9.1`
  android/expoview/src/main/Common/cpp/Tools/RuntimeDecorator.cpp
  android/expoview/src/main/cpp/NativeProxy.cpp
  android/expoview/src/main/cpp/headers/NativeProxy.h
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/sensor/ReanimatedSensorListener.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/reanimated/sensor/ReanimatedSensorType.java
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-reanimated/Common/cpp/Tools/RuntimeDecorator.cpp
  ios/vendored/unversioned/react-native-reanimated/RNReanimated.podspec.json
  ios/vendored/unversioned/react-native-reanimated/ios/native/REAInitializer.mm
  ios/vendored/unversioned/react-native-reanimated/ios/sensor/ReanimatedSensor.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18019 [sharing] Fix return type of `shareAsync`
  docs/public/static/data/unversioned/expo-sharing.json
  packages/expo-sharing/CHANGELOG.md
  packages/expo-sharing/android/src/main/java/expo/modules/sharing/SharingModule.kt
  packages/expo-sharing/build/Sharing.d.ts
  packages/expo-sharing/build/Sharing.d.ts.map
  packages/expo-sharing/build/Sharing.js.map
  packages/expo-sharing/ios/EXSharing/EXSharingModule.m
  packages/expo-sharing/src/Sharing.ts
Labels: bot: passed checks

#18088 Revert "[ncl] Upgrade `@react-navigation` to v6 (#18055)"
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/MainNavigators.tsx
  apps/native-component-list/src/navigation/MainTabNavigator.tsx
  apps/native-component-list/src/navigation/RootNavigation.tsx
  apps/native-component-list/src/screens/Reanimated/ReanimatedLightbox.tsx
  apps/native-component-list/src/screens/SearchScreen.tsx
  apps/native-component-list/src/utilities/loadAssetsAsync.ts
  yarn.lock
Labels: bot: passed checks

#18062 [docs] Tutorial: Remove web references
  docs/constants/navigation-deprecated.js
  docs/constants/navigation.js
  docs/pages/tutorial/button.md
  docs/pages/tutorial/configuration.md
  docs/pages/tutorial/follow-up.md
  docs/pages/tutorial/image-picker.md
  docs/pages/tutorial/image.md
  docs/pages/tutorial/planning.md
  docs/pages/tutorial/sharing.md
  docs/pages/tutorial/text.md
Labels: bot: passed checks

#18089 [go][iOS][Android] Upgrade `react-native-gesture-handler@2.2.0` ➡️ `2.5.0`
  CHANGELOG.md
  android/expoview/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerDelegate.java
  android/expoview/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerButtonManagerInterface.java
  android/expoview/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerDelegate.java
  android/expoview/src/main/java/com/facebook/react/viewmanagers/RNGestureHandlerRootViewManagerInterface.java
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/BaseGestureHandlerInteractionController.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/GestureHandler.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/GestureHandlerOrchestrator.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/GestureHandlerRegistryImpl.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/NativeViewGestureHandler.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/PanGestureHandler.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/PinchGestureHandler.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/RNGestureHandlerPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/ReactContextExtensions.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/ScaleGestureDetector.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerEnabledRootView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerRegistry.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerRootHelper.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerRootView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerRootViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/gesturehandler/react/RNGestureHandlerStateChangeEvent.kt
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-gesture-handler/RNGestureHandler.podspec.json
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNFlingHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNNativeViewHandler.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNPanHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNPinchHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNRotationHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGHTouchEventType.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandler.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerActionType.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButton.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButton.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButtonComponentView.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButtonComponentView.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButtonManager.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButtonManager.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerEvents.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerEvents.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerManager.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerManager.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerModule.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerPointerTracker.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerPointerTracker.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerRegistry.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerRegistry.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerRootViewComponentView.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNManualActivationRecognizer.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNRootViewGestureRecognizer.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNTouchEventType.h
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/legacy.ts
Labels: bot: suggestions

#18092 [docs] EAS Build: Improve creating your first build docs
  docs/pages/build/setup.md
Labels: bot: passed checks

#18098 [Go][Android][iOS] Upgrade `@react-native-picker/picker@2.4.0` ➡️ `2.4.2`
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPicker.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/legacy.ts
  yarn.lock
Labels: bot: suggestions

#18096 [ncl][ImagePicker] Preview multiple images
  apps/native-component-list/src/screens/ImagePicker/ImageOrVideoPreview.tsx
Labels: bot: passed checks

#18100 Revert "[expo-av][iOS] Fix `unloadAsync` race conditions (#18076)"
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/Video/EXVideoView.m
Labels: bot: passed checks

#18032 [versioning][android] Support react-native 69
  .gitignore
  android/ReactAndroid/build.gradle
  android/versioned-react-native/build.gradle
  android/versioned-react-native/settings.gradle
  tools/package.json
  tools/src/Diff.ts
  tools/src/Transforms.ts
  tools/src/Transforms.types.ts
  tools/src/commands/UpdateReactNative.ts
  tools/src/versioning/android/android-build-aar.sh
  tools/src/versioning/android/android-packages-to-keep.txt
  tools/src/versioning/android/android-remove-reanimated-code-from-gradle.sh
  tools/src/versioning/android/cmakeTransforms.ts
  tools/src/versioning/android/expoviewTransforms.ts
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/libraries.ts
  tools/src/versioning/android/packagesConfig.ts
  tools/src/versioning/android/reactNativeTransforms.ts
  tools/src/versioning/android/utils.ts
  tools/src/versioning/android/versionCxx/index.ts
  tools/src/versioning/android/versionCxx/patches/expo-av.patch
  tools/src/versioning/android/versionCxx/patches/expo-gl-cpp.patch
  tools/src/versioning/android/versionCxx/patches/expo-modules-core.patch
  tools/src/versioning/android/versionReactNative.ts
  tools/yarn.lock
Labels: bot: passed checks

#18007 [docs] ConfigurationDiff: fix title overflow, small UI tweaks
  docs/components/plugins/ConfigurationDiff.tsx
Labels: bot: passed checks

#18070 [core][Android] Fix android tests on Hermes
  packages/expo-modules-core/android/build.gradle
Labels: bot: suggestions

#18093 [ci][tools] another attempt to fix android instrumented test failures
  .github/actions/expo-caches/action.yml
  tools/src/commands/AndroidNativeUnitTests.ts
Labels: bot: passed checks

#18099 [Go][Android][iOS] Upgrade `@react-native-community/slider@4.2.1` ➡️ `4.2.3`
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSlider.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/slider/ReactSliderManager.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18048 [android][ios] Upgrade react-native-safe-area-context to 4.3.1
  CHANGELOG.md
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-safe-area-context/ios/Fabric/RNCSafeAreaProviderComponentView.mm
  ios/vendored/unversioned/react-native-safe-area-context/ios/Fabric/RNCSafeAreaViewComponentView.mm
  ios/vendored/unversioned/react-native-safe-area-context/ios/SafeAreaContextSpec/SafeAreaContextSpec.h
  ios/vendored/unversioned/react-native-safe-area-context/react-native-safe-area-context.podspec.json
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions

#17872 [docs] APISection: improve entries and platform labels appearance
  docs/components/plugins/APISection.test.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/ui/components/Table/Cell.tsx
  docs/ui/components/Table/Table.tsx
Labels: bot: passed checks

#18097 [docs] EAS Build - add ubuntu 22.04 image
  docs/pages/build-reference/infrastructure.md
Labels: bot: passed checks

#18011 docs(EAS Submit): correct link to EAS Build intro
  docs/pages/submit/ios.md
Labels: bot: passed checks

#18075 [home] include bottom spacing when sdk warning is shown
  home/screens/ProjectScreen/LegacyLaunchSection.tsx
Labels: bot: passed checks

#17704 [ios] Add @shopify/react-native-skia vendoring support for Expo Go
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/Skia/SkiaScreen.tsx
  tools/src/CocoaPods.ts
  tools/src/Npm.ts
  tools/src/commands/UpdateVendoredModule.ts
  tools/src/vendoring/IosVendoring.ts
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/vendoring/types.ts
  tools/src/versioning/ios/transforms/vendoredModulesTransforms.ts
  tools/src/versioning/ios/versionVendoredModules.ts
  yarn.lock
Labels: bot: passed checks

#18108 [docs] tweaks and small fixes for APISection after redesign
  docs/components/base/list.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/ui/components/Callout/index.tsx
Labels: bot: passed checks

#18107 [docs] Using Gatsby: Delete the guide and add a redirect
  docs/common/error-utilities.ts
  docs/constants/navigation-deprecated.js
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/guides/using-gatsby.md
Labels: bot: passed checks

#17964 [android] Add @shopify/react-native-skia vendoring support for Expo Go
  android/app/proguard-rules.pro
  android/expoview/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/settings.gradle
  android/versioning_linking.gradle
  tools/src/Utils.ts
  tools/src/commands/AddSDKVersion.ts
  tools/src/vendoring/AndroidVendoring.ts
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/vendoring/config/react-native-skia.patch
  tools/src/vendoring/types.ts
  tools/src/versioning/android/copyExpoview.ts
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/transforms/expoviewTransforms.ts
  tools/src/versioning/android/transforms/vendoredModulesTransforms.ts
  tools/src/versioning/android/versionCxx/index.ts
  tools/src/versioning/android/versionVendoredModules.ts
Labels: bot: passed checks

#18113 [docs] Collapsible: fix double marker issue on mobile
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/ui/components/Collapsible/index.tsx
Labels: bot: passed checks

#18119 [sweet][ios] Make error cause accept optionals
  packages/expo-modules-core/ios/Swift/Exceptions/ChainableException.swift
Labels: bot: passed checks

#18106 [web-browser] Fix `windowFeatures` option on web
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/build/ExpoWebBrowser.web.js
  packages/expo-web-browser/build/ExpoWebBrowser.web.js.map
  packages/expo-web-browser/src/ExpoWebBrowser.web.ts
Labels: bot: passed checks

#18122 [docs] APISection: fixes and tweaks
  docs/components/base/list.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#18126 [create-expo-module] Ensure the target directory exists when provided
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/src/create-expo-module.ts
Labels: bot: passed checks

#18123 [docs] ConfigPluginsProperties: use APISection Platform tags
  docs/components/plugins/ConfigSection/ConfigPluginProperties.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
Labels: bot: passed checks

#18124 [module-template] Add support for web
  packages/expo-module-template/example/babel.config.js
  packages/expo-module-template/example/webpack.config.js
  packages/expo-module-template/src/{%- project.name %}.ts
  packages/expo-module-template/src/{%- project.name %}.types.ts
  packages/expo-module-template/src/{%- project.name %}Module.ts
  packages/expo-module-template/src/{%- project.name %}Module.web.ts
  packages/expo-module-template/src/{%- project.name %}View.tsx
  packages/expo-module-template/src/{%- project.name %}View.web.tsx
Labels: bot: passed checks

#18095 [docs] Upgrades @expo/styleguide
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#18110 [prebuild-config] Remove the dependency on expo-modules-autolinking
  packages/@expo/prebuild-config/build/getAutolinkedPackages.js
  packages/@expo/prebuild-config/build/getAutolinkedPackages.js.map
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.d.ts
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.js
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.js.map
  packages/@expo/prebuild-config/package.json
  packages/@expo/prebuild-config/src/getAutolinkedPackages.ts
  packages/@expo/prebuild-config/src/importExpoModulesAutolinking.ts
Labels: bot: passed checks

#18135 [image-picker][ios] Fix crash when picking gif
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: passed checks

#18138 [image-picker][ios] Restore support for GIFs
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: passed checks

#18149 [docs] Upgrading Expo SDK: Add SDK 45
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.md
Labels: bot: passed checks

#18137 [android][ios][ncl] Add FlashList
  CHANGELOG.md
  android/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/vendored/unversioned/@shopify/flash-list/android/build.gradle
  android/vendored/unversioned/@shopify/flash-list/android/src/main/AndroidManifest.xml
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/AutoLayoutShadow.kt
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/AutoLayoutView.kt
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/AutoLayoutViewManager.kt
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/CellContainer.java
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/CellContainerImpl.kt
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/CellContainerManager.kt
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/FlashListPackage.kt
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/FlashListScreen.tsx
  ios/Podfile.lock
  ios/vendored/unversioned/@shopify/flash-list/RNFlashList.podspec.json
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/AutoLayoutView.swift
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/AutoLayoutViewManager.m
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/AutoLayoutViewManager.swift
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/CellContainer.swift
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/CellContainerManager.m
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/CellContainerManager.swift
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/FlatListPro-Bridging-Header.h
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/versioning/android/transforms/vendoredModulesTransforms.ts
  yarn.lock
Labels: bot: suggestions

#18147 [home] don't factor in user data loading state when deciding to show log in button
  home/screens/HomeScreen/HomeScreenHeader.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
Labels: bot: passed checks

#18116 [expotools] Publish beta project templates
  tools/src/commands/PublishProjectTemplates.ts
Labels: bot: passed checks

#18142 [image-picker][ios] Add selection limit option
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  docs/public/static/data/unversioned/expo-image-picker.json
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/ImagePickerModule.swift
  packages/expo-image-picker/ios/ImagePickerOptions.swift
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#18143 [image-picker][ios] Support ordered selection
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  docs/public/static/data/unversioned/expo-image-picker.json
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/ImagePickerModule.swift
  packages/expo-image-picker/ios/ImagePickerOptions.swift
  packages/expo-image-picker/ios/MediaHandler.swift
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#18152 [dev-launcher] add organizations to account selector
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/babel.config.js
  packages/expo-dev-launcher/bundle/components/AppHeader.tsx
  packages/expo-dev-launcher/bundle/functions/getUserProfileAsync.ts
  packages/expo-dev-launcher/bundle/screens/UserProfileScreen.tsx
  packages/expo-dev-launcher/package.json
  yarn.lock
Labels: bot: passed checks

#18155 [expotools] Publish templates as 'next'
  tools/src/commands/PublishProjectTemplates.ts
Labels: bot: passed checks

#18156 [home] move account deletion to its own screen behind a button press
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/screens/DeleteAccountScreen/ConfirmationStep.tsx
  home/screens/DeleteAccountScreen/DeleteAccountPermissionsQuery.query.graphql
  home/screens/DeleteAccountScreen/OTPStep.tsx
  home/screens/DeleteAccountScreen/PasswordStep.tsx
  home/screens/DeleteAccountScreen/SMSDevice.tsx
  home/screens/DeleteAccountScreen/SecondFactorDevicesQuery.query.graphql
  home/screens/DeleteAccountScreen/SendSMSOTPToSecondFactorDevice.mutation.graphql
  home/screens/DeleteAccountScreen/UserPermissionData.fragment.graphql
  home/screens/DeleteAccountScreen/index.tsx
  home/screens/DeleteAccountScreen/utils.ts
  home/screens/SettingsScreen/DeleteAccountSection.tsx
Labels: bot: passed checks

#18169 [home] fix account name overflow
  home/screens/AccountModal/LoggedInAccountView.tsx
Labels: bot: passed checks

#18145 [image-picker][ios] Support video export preset
  packages/expo-image-picker/ios/ImagePickerExceptions.swift
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: help wanted, bot: suggestions

#18164 [android] Fix bundling to wrong hermes-engine
  android/expoview/build.gradle
Labels: bot: passed checks

#18172 chore(cli): drop preset versions in web check
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/web/WebSupportProjectPrerequisite.ts
Labels: bot: passed checks

#18176 [sweet][ios] Improve rejecting in do-catch
  packages/expo-modules-core/ios/Swift/Promise.swift
Labels: bot: passed checks

#18175 Upgrade react-native-screens to 3.15.0
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/FabricEnabledViewGroup.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/Screen.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/screens/ScreenWindowTraits.kt
  apps/bare-expo/package.json
  apps/bare-sandbox/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-screens/RNScreens.podspec.json
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.mm
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStack.mm
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStackHeaderSubview.h
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18165 [core] Fix remote debugging crash on Android
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
Labels: bot: passed checks

#18023 [ios] fix expo go crash when receiving notifications with content.data.body
  ios/Exponent/Kernel/Services/EXUserNotificationManager.m
Labels: bot: passed checks

#17816 [expotool] improve generate-bare-app tooling
  template-files/generate-bare-app/scripts/addPackages.js
  tools/package.json
  tools/src/commands/GenerateBareApp.ts
  tools/tsconfig.json
  tools/yarn.lock
Labels: bot: passed checks

#18163 [docs] API reference: Improve the index page
  docs/pages/versions/unversioned/index.md
  docs/pages/versions/v44.0.0/index.md
  docs/pages/versions/v45.0.0/index.md
  docs/pages/versions/v46.0.0/index.md
Labels: bot: passed checks

#18187 [android][ios] Upgrade @shopify/react-native-skia to v0.1.136
  CHANGELOG.md
  android/vendored/unversioned/@shopify/react-native-skia/cpp/api/JsiSkFont.h
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/api/JsiSkFont.h
  ios/vendored/unversioned/@shopify/react-native-skia/react-native-skia.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#18167 [dev-launcher][ios] configure dev launcher for development by using EX_DEV…
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
Labels: bot: suggestions

#18190 [docs] Increase max-old-space-size to 6.5GB
  docs/package.json
Labels: bot: passed checks

#18192 [docs] Use sourceCodeUrl if available for InstallSection
  docs/components/plugins/InstallSection.tsx
Labels: bot: passed checks

#18191 [home] fix dev menu sdk version display
  home/menu/DevMenuTaskInfo.tsx
  home/screens/ProjectScreen/ProjectView.tsx
Labels: bot: passed checks

#18186 [expo-constants] Fix types for new manifest extra.expoClient field
  packages/expo-auth-session/build/SessionUrlProvider.d.ts.map
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/build/providers/Facebook.d.ts.map
  packages/expo-auth-session/build/providers/Facebook.js
  packages/expo-auth-session/build/providers/Facebook.js.map
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.ios.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/expo-auth-session/src/__tests__/SessionUrlProvider-test.ts
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.d.ts.map
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
  packages/expo-linking/build/Linking.d.ts.map
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/src/Linking.ts
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
Labels: bot: suggestions

#18157 [tracking-transparency] Remove legacy Obj-C code
  packages/expo-tracking-transparency/CHANGELOG.md
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingPermissionRequester.h
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingPermissionRequester.m
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingTransparencyModule.h
  packages/expo-tracking-transparency/ios/EXTrackingTransparency/EXTrackingTransparencyModule.m
  packages/expo-tracking-transparency/ios/ExpoTrackingTransparency.podspec
  packages/expo-tracking-transparency/ios/TrackingTransparencyModule.swift
  packages/expo-tracking-transparency/ios/TrackingTransparencyPermissionRequester.swift
Labels: bot: passed checks

#18105 [dev-client] Partially fixed retrieving the React Context from the Android Flipper plugin
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
Labels: bot: suggestions

#18162 [docs] APISection: move deprecations and platforms to the top of boxes
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionDeprecationNote.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#18178 [docs] APISection: improve detection of optional state for params and props
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#18146 [docs] Classic/Standalone apps: Update the documentation
  docs/pages/classic/building-standalone-apps.md
Labels: bot: passed checks

#18183 Fixed "Internal Distribution.md" link
  docs/pages/introduction/faq.md
Labels: docs, bot: passed checks

#18161 [image-picker][Android] Add support for selecting multiple media files
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerResponse.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/MediaHandler.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CameraContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ContractsUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
Labels: bot: passed checks

#18206 [core][Android] Fix crashes in async functions
  packages/expo-modules-core/android/src/main/cpp/CachedReferencesRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JNIFunctionBody.cpp
  packages/expo-modules-core/android/src/main/cpp/JNIFunctionBody.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.h
Labels: bot: suggestions

#18195 [home] optional chain manifest.extra accesses to prevent dev menu crashes
  home/menu/DevMenuTaskInfo.tsx
Labels: bot: passed checks

#18185 [image-picker][ios] Return asset IDs
  docs/public/static/data/unversioned/expo-image-picker.json
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/ImagePickerExceptions.swift
  packages/expo-image-picker/ios/ImagePickerResponse.swift
  packages/expo-image-picker/ios/MediaHandler.swift
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#18189 [dev-launcher][ios][android] restore navigation state after opening eas update
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/bundle/functions/__tests__/getInitialData.test.ts
  packages/expo-dev-launcher/bundle/functions/getInitialData.ts
  packages/expo-dev-launcher/bundle/hooks/useOnUpdatePress.tsx
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/native-modules/__mocks__/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/providers/AppProviders.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/UpdatesScreen.test.tsx
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherInternal.m
  packages/expo-dev-launcher/setupTests.ts
Labels: bot: passed checks

#18208 [github] README: update link to Discord
  README.md
Labels: bot: passed checks

#18212 [github] Update CODEOWNERS
  .github/CODEOWNERS
Labels: bot: passed checks

#18216 [contributing] Update Java version
  CONTRIBUTING.md
Labels: bot: passed checks

#18199 [docs][splash-screen] Use preventAutoHide in global
  docs/pages/versions/unversioned/sdk/splash-screen.md
  docs/pages/versions/v45.0.0/sdk/splash-screen.md
  docs/pages/versions/v46.0.0/sdk/splash-screen.md
  docs/public/static/data/unversioned/expo-splash-screen.json
  docs/public/static/data/v45.0.0/expo-splash-screen.json
  docs/public/static/data/v46.0.0/expo-splash-screen.json
  packages/expo-splash-screen/build/SplashScreen.d.ts
  packages/expo-splash-screen/build/SplashScreen.d.ts.map
  packages/expo-splash-screen/build/SplashScreen.js
  packages/expo-splash-screen/build/SplashScreen.js.map
  packages/expo-splash-screen/src/SplashScreen.ts
Labels: bot: passed checks

#18209 [core][Kotlin] Add tests to check if the js value was passed as a reference
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptObjectTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptValueTest.kt
Labels: bot: suggestions

#18193 [home] don't reset store when logging in and never fetch projects if not logged in
  home/screens/AccountModal/LoggedOutAccountView.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
Labels: bot: passed checks

#18194 [home] use RN FlatList instead of RNGH to make fetch-on-scroll work on iOS
  home/components/FlatList.tsx
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/BranchDetailsScreen/BranchDetailsView.tsx
  home/screens/BranchListScreen/BranchListView.tsx
  home/screens/ProjectsListScreen/ProjectList.tsx
  home/screens/SnacksListScreen/SnackList.tsx
Labels: bot: passed checks

#18188 [expo-constants] Use new expoConfig field in various packages
  apps/native-component-list/src/screens/AuthSession/LegacyAuthSession.tsx
  packages/expo-auth-session/build/SessionUrlProvider.d.ts.map
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-auth-session/src/__tests__/ManifestTestUtils.ts
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.d.ts.map
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js
  packages/expo-firebase-analytics/build/ExpoFirebaseAnalytics.js.map
  packages/expo-firebase-analytics/src/ExpoFirebaseAnalytics.ts
  packages/expo-firebase-core/build/FirebaseOptions.d.ts.map
  packages/expo-firebase-core/build/FirebaseOptions.js
  packages/expo-firebase-core/build/FirebaseOptions.js.map
  packages/expo-firebase-core/src/FirebaseOptions.ts
  packages/expo-linking/build/Schemes.d.ts.map
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Schemes.ts
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js
  packages/expo-notifications/build/getDevicePushTokenAsync.web.js.map
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts.map
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/getDevicePushTokenAsync.web.ts
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
Labels: bot: suggestions

#18222 [create-expo-module] Use CLI spinners to indicate the progress
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/build/createExampleApp.js
  packages/create-expo-module/build/createExampleApp.js.map
  packages/create-expo-module/build/utils.d.ts
  packages/create-expo-module/build/utils.js
  packages/create-expo-module/build/utils.js.map
  packages/create-expo-module/package.json
  packages/create-expo-module/src/create-expo-module.ts
  packages/create-expo-module/src/createExampleApp.ts
  packages/create-expo-module/src/utils.ts
  yarn.lock
Labels: bot: passed checks

#18196 [expotools] Move publishing action to end of ppt
  tools/src/commands/PublishProjectTemplates.ts
  tools/src/utils/askAreYouSureAsync.ts
Labels: bot: passed checks

#18220 [tools] Ignore packages in __tests__ and __mocks__ directories
  tools/src/Packages.ts
Labels: bot: passed checks

#18217 [home] Remove expo-analytics-amplitude from home
  home/api/Analytics.ts
  home/api/AnalyticsUtils.ts
  home/api/__tests__/AnalyticsUtils-test.js
  home/package.json
  home/redux/SessionActions.ts
  home/screens/AccountModal/LoggedOutAccountView.tsx
  home/screens/DeleteAccountScreen/index.tsx
Labels: bot: passed checks

#18230 [expo-analytics-amplitude] Remove library
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ScopedAmplitudeModule.kt
  apps/bare-sandbox/package.json
  ios/Podfile.lock
  packages/@expo/cli/src/api/getNativeModuleVersions.ts
  packages/expo-analytics-amplitude/.eslintrc.js
  packages/expo-analytics-amplitude/.npmignore
  packages/expo-analytics-amplitude/CHANGELOG.md
  packages/expo-analytics-amplitude/README.md
  packages/expo-analytics-amplitude/android/.gitignore
  packages/expo-analytics-amplitude/android/build.gradle
  packages/expo-analytics-amplitude/android/src/main/AndroidManifest.xml
  packages/expo-analytics-amplitude/android/src/main/java/expo/modules/analytics/amplitude/AmplitudeModule.kt
  packages/expo-analytics-amplitude/android/src/main/java/expo/modules/analytics/amplitude/AmplitudePackage.kt
  packages/expo-analytics-amplitude/android/src/test/java/expo/modules/analytics/amplitude/AmplitudeModuleTest.kt
  packages/expo-analytics-amplitude/babel.config.js
  packages/expo-analytics-amplitude/build/Amplitude.d.ts
  packages/expo-analytics-amplitude/build/Amplitude.d.ts.map
  packages/expo-analytics-amplitude/build/Amplitude.js
  packages/expo-analytics-amplitude/build/Amplitude.js.map
  packages/expo-analytics-amplitude/build/ExpoAmplitude.d.ts
  packages/expo-analytics-amplitude/build/ExpoAmplitude.d.ts.map
  packages/expo-analytics-amplitude/build/ExpoAmplitude.js
  packages/expo-analytics-amplitude/build/ExpoAmplitude.js.map
  packages/expo-analytics-amplitude/build/ExpoAmplitude.web.d.ts
  packages/expo-analytics-amplitude/build/ExpoAmplitude.web.d.ts.map
  packages/expo-analytics-amplitude/build/ExpoAmplitude.web.js
  packages/expo-analytics-amplitude/build/ExpoAmplitude.web.js.map
  packages/expo-analytics-amplitude/ios/EXAmplitude.podspec
  packages/expo-analytics-amplitude/ios/EXAmplitude/EXAmplitude.h
  packages/expo-analytics-amplitude/ios/EXAmplitude/EXAmplitude.m
  packages/expo-analytics-amplitude/package.json
  packages/expo-analytics-amplitude/src/Amplitude.ts
  packages/expo-analytics-amplitude/src/ExpoAmplitude.ts
  packages/expo-analytics-amplitude/src/ExpoAmplitude.web.ts
  packages/expo-analytics-amplitude/src/__tests__/Amplitude-test.native.ts
  packages/expo-analytics-amplitude/tsconfig.json
  packages/expo-analytics-amplitude/unimodule.json
  yarn.lock
Labels: bot: suggestions

#18229 [splash-screen] fix splash screen doesn't show when reloading apps
  ios/Exponent/Kernel/Views/EXAppViewController.m
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenModule.m
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.h
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: passed checks

#18227 [tools] fix android versioning
  tools/src/versioning/android/copyExpoview.ts
  tools/src/versioning/android/versionCxx/patches/expo-modules-core.patch
  tools/src/versioning/android/versionVendoredModules.ts
Labels: bot: passed checks

#18224 [NCL] Fix AuthSession
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
Labels: bot: passed checks

#18237 [docs] API expo-image-picker: Fix typo bloc to block
  docs/public/static/data/unversioned/expo-image-picker.json
  docs/public/static/data/v46.0.0/expo-image-picker.json
  packages/expo-image-picker/build/ImagePicker.d.ts
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/src/ImagePicker.ts
Labels: bot: passed checks

#18236 [image-picker][android] Get asset IDs
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerResponse.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/MediaHandler.kt
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#17963 [image-picker][Android] Restore `allowsEditing` option
  android/expoview/build.gradle
  android/versioned-abis/expoview-abi44_0_0/build.gradle
  android/versioned-abis/expoview-abi44_0_0/src/main/java/abi44_0_0/expo/modules/imagepicker/ImagePickerModule.kt
  android/versioned-abis/expoview-abi45_0_0/build.gradle
  android/versioned-abis/expoview-abi45_0_0/src/main/java/abi45_0_0/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/build.gradle
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CameraContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ContractsUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
Labels: bot: suggestions

#18233 [home] remove unused retainApolloStore option from signout action
  dev-home-config.json
  home/redux/SessionActions.ts
Labels: bot: passed checks

#18249 [expo] Add `@sentry/react-native` to bundledNativeModules for SDK 45.
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#18247 [ios] Backport versioned JS namespace to SDK 44 and 45
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/Image/ABI44_0_0RCTImageEditingManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/NativeAnimation/ABI44_0_0RCTNativeAnimatedModule.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/NativeAnimation/ABI44_0_0RCTNativeAnimatedTurboModule.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/Network/ABI44_0_0RCTNetworking.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/PushNotificationIOS/ABI44_0_0RCTPushNotificationManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/Settings/ABI44_0_0RCTSettingsManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/Libraries/TypeSafety/ABI44_0_0RCTTypedModuleConstants.h
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/Base/ABI44_0_0RCTModuleMethod.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTAccessibilityManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTActionSheetManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTAlertManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTAppState.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTExceptionsManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTPlatform.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTStatusBarManager.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/CoreModules/ABI44_0_0RCTWebSocketModule.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/FBReactNativeSpec/FBReactNativeSpec/ABI44_0_0FBReactNativeSpec-generated.mm
  ios/versioned-react-native/ABI44_0_0/ReactNative/React/FBReactNativeSpec/FBReactNativeSpec/ABI44_0_0FBReactNativeSpec.h
  ios/versioned-react-native/ABI45_0_0/Expo/ExpoKit/Core/Api/SafeAreaContext/ABI45_0_0SafeAreaContextSpec.h
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/Image/ABI45_0_0RCTImageEditingManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/NativeAnimation/ABI45_0_0RCTNativeAnimatedModule.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/NativeAnimation/ABI45_0_0RCTNativeAnimatedTurboModule.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/Network/ABI45_0_0RCTNetworking.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/PushNotificationIOS/ABI45_0_0RCTPushNotificationManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/Settings/ABI45_0_0RCTSettingsManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/Libraries/TypeSafety/ABI45_0_0RCTTypedModuleConstants.h
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/Base/ABI45_0_0RCTModuleMethod.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTAccessibilityManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTActionSheetManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTAlertManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTAppState.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTExceptionsManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTPlatform.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTStatusBarManager.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/React/CoreModules/ABI45_0_0RCTWebSocketModule.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/codegen/ios/ABI45_0_0FBReactNativeSpec/ABI45_0_0FBReactNativeSpec-generated.mm
  ios/versioned-react-native/ABI45_0_0/ReactNative/codegen/ios/ABI45_0_0FBReactNativeSpec/ABI45_0_0FBReactNativeSpec.h
Labels: bot: passed checks

#18246 [tools] Various fixes in iOS versioning script
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/transforms/expoModulesTransforms.ts
  tools/src/versioning/ios/transforms/postTransforms.ts
  tools/src/versioning/ios/transforms/vendoredModulesTransforms.ts
  tools/src/versioning/ios/versionVendoredModules.ts
Labels: bot: passed checks

#18253 [dev-menu] Fix vendored reanimated
  packages/expo-dev-menu/vendored/react-native-reanimated/android/65-hermes/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/65-jsc/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/66-hermes/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/66-jsc/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/67-hermes/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/67-jsc/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/68-hermes/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/68-jsc/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/69-hermes/classes.jar
  packages/expo-dev-menu/vendored/react-native-reanimated/android/69-jsc/classes.jar
  tools/src/commands/Vendor.ts
Labels: bot: suggestions

#18173 [expo-av][iOS] Auto `unloadAsync` in `Video` before unmount occurs
  docs/pages/versions/unversioned/sdk/video.md
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Video.d.ts
  packages/expo-av/build/Video.d.ts.map
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/src/Video.tsx
Labels: bot: passed checks

#18256 [docs] bump Next, switch to React 18
  docs/common/headingManager.ts
  docs/common/translate-markdown.tsx
  docs/components/DocumentationHeader.tsx
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/components/DocumentationSidebar.tsx
  docs/components/DocumentationSidebarCollapsible.tsx
  docs/components/DocumentationSidebarLink.tsx
  docs/components/DocumentationSidebarRight.tsx
  docs/components/DocumentationSidebarRightLink.tsx
  docs/components/Permalink.tsx
  docs/components/VersionSelector.tsx
  docs/components/base/code.tsx
  docs/components/base/headings.tsx
  docs/components/base/link.tsx
  docs/components/base/list.tsx
  docs/components/base/paragraph.tsx
  docs/components/icons/Permalink.tsx
  docs/components/page-higher-order/withHeadingManager.tsx
  docs/components/plugins/AuthSessionElements.tsx
  docs/components/plugins/Headings.tsx
  docs/components/plugins/Highlight.tsx
  docs/components/plugins/InstallSection.tsx
  docs/components/plugins/PossibleRedirectNotification.tsx
  docs/components/plugins/Redirect.tsx
  docs/components/plugins/SnackInline.tsx
  docs/components/plugins/Video.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/next.config.js
  docs/package.json
  docs/providers/page-api-version.test.tsx
  docs/providers/page-api-version.tsx
  docs/tsconfig.json
  docs/ui/components/Callout/index.tsx
  docs/ui/components/Markdown/index.tsx
  docs/ui/components/Navigation/Navigation.tsx
  docs/ui/components/Text/withAnchor.tsx
  docs/yarn.lock
Labels: bot: passed checks

#18257 [ios] Backport recent changes in SplashScreen to SDK 44 and 45
  ios/versioned/sdk44/EXSplashScreen/EXSplashScreen/ABI44_0_0EXSplashScreenModule.m
  ios/versioned/sdk44/EXSplashScreen/EXSplashScreen/ABI44_0_0EXSplashScreenService.h
  ios/versioned/sdk44/EXSplashScreen/EXSplashScreen/ABI44_0_0EXSplashScreenService.m
  ios/versioned/sdk45/EXSplashScreen/EXSplashScreen/ABI45_0_0EXSplashScreenModule.m
  ios/versioned/sdk45/EXSplashScreen/EXSplashScreen/ABI45_0_0EXSplashScreenService.h
  ios/versioned/sdk45/EXSplashScreen/EXSplashScreen/ABI45_0_0EXSplashScreenService.m
Labels: bot: passed checks

#18240 [ncl] Update `DateTimePickerScreen` example
  apps/native-component-list/src/screens/DateTimePickerScreen.tsx
Labels: bot: passed checks

#18223 [av][docs] move documentation to source, autogenerate docs
  docs/components/plugins/APISection.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/versions/unversioned/sdk/audio.md
  docs/pages/versions/unversioned/sdk/av.md
  docs/pages/versions/unversioned/sdk/video.md
  docs/pages/versions/v46.0.0/sdk/audio.md
  docs/pages/versions/v46.0.0/sdk/av.md
  docs/pages/versions/v46.0.0/sdk/video.md
  docs/public/static/data/unversioned/expo-audio.json
  docs/public/static/data/unversioned/expo-av.json
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v46.0.0/expo-av.json
  docs/public/static/data/v46.0.0/expo-video.json
  packages/expo-av/build/AV.d.ts
  packages/expo-av/build/AV.d.ts.map
  packages/expo-av/build/AV.js
  packages/expo-av/build/AV.js.map
  packages/expo-av/build/AV.types.d.ts
  packages/expo-av/build/AV.types.d.ts.map
  packages/expo-av/build/AV.types.js
  packages/expo-av/build/AV.types.js.map
  packages/expo-av/build/Audio/Sound.d.ts
  packages/expo-av/build/Audio/Sound.d.ts.map
  packages/expo-av/build/Audio/Sound.js
  packages/expo-av/build/Audio/Sound.js.map
  packages/expo-av/build/Video.d.ts
  packages/expo-av/build/Video.d.ts.map
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/build/Video.types.d.ts
  packages/expo-av/build/Video.types.d.ts.map
  packages/expo-av/build/Video.types.js.map
  packages/expo-av/src/AV.ts
  packages/expo-av/src/AV.types.ts
  packages/expo-av/src/Audio/Sound.ts
  packages/expo-av/src/Video.tsx
  packages/expo-av/src/Video.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#18277 [tools][ios] Remove version prefix from the view manager name
  ios/versioned/sdk46/ExpoModulesCore/NativeModulesProxy/ABI46_0_0EXNativeModulesProxy.mm
  ios/versioned/sdk46/ExpoModulesCore/ViewManagerAdapter/ABI46_0_0EXViewManagerAdapter.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  tools/src/versioning/ios/transforms/expoModulesTransforms.ts
Labels: bot: suggestions

#18170 [docs] add experimental DocIcons components
  docs/pages/app-signing/app-credentials.md
  docs/pages/bare/installing-expo-modules.md
  docs/pages/introduction/managed-vs-bare.md
  docs/pages/tutorial/planning.md
  docs/ui/components/DocIcons/IconBase.tsx
  docs/ui/components/DocIcons/NoIcon.tsx
  docs/ui/components/DocIcons/YesIcon.tsx
  docs/ui/components/DocIcons/index.ts
Labels: bot: passed checks

#18267 [metro-config] fix test config, lint and rebuild files
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/getWatchFolders.js.map
  packages/@expo/metro-config/build/transformer/createMatcher.js.map
  packages/@expo/metro-config/build/transformer/getCacheKey.js.map
  packages/@expo/metro-config/jest.config.js
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/getWatchFolders.ts
  packages/@expo/metro-config/src/transformer/createMatcher.ts
  packages/@expo/metro-config/src/transformer/getCacheKey.ts
Labels: bot: passed checks

#18250 [expo] Add @sentry/react-native to bundledNativeModules
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#18269 [docs] improve typings after React 18 migration
  docs/common/translate-markdown.tsx
  docs/components/DocumentationHeader.tsx
  docs/components/DocumentationSidebarRight.tsx
  docs/components/DocumentationSidebarRightLink.tsx
  docs/components/Permalink.tsx
  docs/components/VersionSelector.tsx
  docs/components/base/code.tsx
  docs/components/base/headings.tsx
  docs/components/base/link.tsx
  docs/components/base/list.tsx
  docs/components/base/paragraph.tsx
  docs/components/icons/Permalink.tsx
  docs/components/page-higher-order/withHeadingManager.tsx
  docs/components/plugins/AuthSessionElements.tsx
  docs/components/plugins/Headings.tsx
  docs/components/plugins/Highlight.tsx
  docs/components/plugins/InstallSection.tsx
  docs/components/plugins/PossibleRedirectNotification.tsx
  docs/components/plugins/Redirect.tsx
  docs/components/plugins/Video.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
Labels: bot: passed checks

#18241 [docs] Expo CLI: Improve the docs and add note for creating a new expo project
  docs/pages/workflow/expo-cli.md
Labels: bot: passed checks

#18286 [docs] Preloading & Caching assets: Update the example
  docs/pages/guides/preloading-and-caching-assets.md
Labels: bot: passed checks

#18276 [docs] minor bumps for the dependencies, remove unused ones
  docs/components/DocumentationSidebarLink.tsx
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#18285 feat: add support for $EXPO_EDITOR
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/__tests__/editor-test.ts
  packages/@expo/cli/src/utils/editor.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#18288 [android] Fix dbflow crash in release build
  android/expoview/build.gradle
Labels: bot: passed checks

#17596 Update sharing.md
  docs/pages/tutorial/sharing.md
Labels: bot: passed checks

#18260 [docs] Home: add more animations, link icons, other small design tweaks
  docs/pages/index.tsx
  docs/ui/components/Home/Cells.tsx
  docs/ui/components/Home/HomeButton.tsx
  docs/ui/components/Snippet/Snippet.tsx
  docs/ui/components/Snippet/blocks/Terminal.tsx
Labels: bot: passed checks

#18295 [docs] add styling for the `kbd` element
  docs/common/translate-markdown.tsx
  docs/ui/components/Text/index.tsx
  docs/ui/components/Text/types.ts
Labels: bot: passed checks

#18287 [expo] Rename EXPO_USE_BETA_CLI to EXPO_USE_LOCAL_CLI and default to true
  packages/expo/bin/cli.js
Labels: bot: suggestions

#18297 [docs] Account Types: remove that org account cannot be renamed
  docs/pages/accounts/account-types.md
Labels: bot: passed checks

#18255 fix(metro-config): Fix symbolication bug `ENOENT
  packages/@expo/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: passed checks

#18298 fix(cli): fix installing latest client
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/__tests__/getVersions-test.ts
  packages/@expo/cli/src/api/getVersions.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithBaseUrl.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/getVersionedPackages-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/cli/src/start/platforms/ExpoGoInstaller.ts
  packages/@expo/cli/src/utils/downloadExpoGoAsync.ts
Labels: bot: passed checks

#18299 fix(cli): add mock `--non-interactive` flag to hide `eas update` errors
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
Labels: bot: passed checks

#18301 [bare-expo][ncl][jest-expo-puppteer] Replace web commands with local CLI equivalents
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/jest-expo-puppeteer/build/index.js
  packages/jest-expo-puppeteer/build/index.js.map
  packages/jest-expo-puppeteer/src/index.ts
Labels: bot: passed checks

#18306 [dev-menu][iOS] Fix compatibility with the `react-native-reanimated`
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/AnimatedSensor/AnimatedSensorModule.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/LayoutAnimations/LayoutAnimationsProxy.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/NativeModules/NativeReanimatedModule.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/NativeModules/NativeReanimatedModuleSpec.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Registries/EventHandlerRegistry.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Registries/MapperRegistry.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Registries/WorkletsCache.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/FrozenObject.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/MutableValue.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/MutableValueSetterProxy.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/RemoteObject.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/SharedItems/ShareableValue.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/FeaturesConfig.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/JSIStoreValueUser.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/Mapper.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/RuntimeDecorator.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/Scheduler.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/Tools/WorkletEventHandler.cpp
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/AnimatedSensor/DevMenuAnimatedSensorModule.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/LayoutAnimations/DevMenuLayoutAnimationsProxy.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/NativeModules/DevMenuNativeReanimatedModule.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/NativeModules/DevMenuNativeReanimatedModuleSpec.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Registries/DevMenuEventHandlerRegistry.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Registries/DevMenuMapperRegistry.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Registries/DevMenuWorkletsCache.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuFrozenObject.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuHostFunctionHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuMutableValue.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuMutableValueSetterProxy.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuRemoteObject.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuRuntimeManager.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuShareableValue.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuSharedParent.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SharedItems/DevMenuValueWrapper.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/SpecTools/DevMenuErrorHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuFeaturesConfig.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuJSIStoreValueUser.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuMapper.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuPlatformDepMethodsHolder.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuReanimatedHiddenHeaders.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuRuntimeDecorator.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuScheduler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/Common/cpp/headers/Tools/DevMenuWorkletEventHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/LayoutReanimation/DevMenuREAUIManager.mm
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/DevMenuREAIOSErrorHandler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/DevMenuREAIOSLogger.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/DevMenuREAIOSScheduler.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/DevMenuREAIOSScheduler.mm
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/NativeProxy.h
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/native/NativeProxy.mm
Labels: bot: suggestions

#17900 Nailed!
  docs/pages/distribution/optimizing-updates.md
Labels: bot: passed checks

#18324 [docs]: Improve kbd elements using Cmd symbol with Cmd prefix
  docs/pages/development/getting-started.md
  docs/pages/get-started/create-a-new-app.md
  docs/pages/guides/using-clojurescript.md
  docs/pages/workflow/debugging.md
  docs/pages/workflow/development-mode.md
  docs/pages/workflow/ios-simulator.md
  docs/pages/workflow/logging.md
Labels: bot: passed checks

#18312 fix(cli): ensure `expo build:web` recommends running `expo export:web`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
Labels: bot: passed checks

#18326 [docs] Extract some API section components
  docs/components/plugins/APIBox.tsx
  docs/components/plugins/ConfigSection/ConfigPluginProperties.tsx
  docs/components/plugins/PlatformIcon.tsx
  docs/components/plugins/PlatformTag.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/types/common.ts
Labels: bot: passed checks

#18284 [expo-updates][iOS] Logging and log reading
  packages/expo-modules-core/ios/Swift/Logging/LogHandlers.swift
  packages/expo-modules-core/ios/Swift/Logging/Logger.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesErrorCode.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogEntry.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogReader.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogger.swift
  packages/expo-updates/ios/Tests/EXUpdatesLogReaderTests.swift
  packages/expo-updates/ios/Tests/EXUpdatesLoggerTests.swift
Labels: bot: suggestions

#18318 [expo-updates][Android] Logging and log reading
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/logging/UpdatesLoggingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesErrorCode.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesLogEntry.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesLogReader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesLogType.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesLogger.kt
Labels: bot: passed checks

#18327 [docs] Update designs of the Module API docs page
  docs/pages/modules/module-api.md
Labels: bot: passed checks

#18339 [eyw] remove yarn lock from template, address Metro TODO
  .gitignore
  packages/expo-yarn-workspaces/index.js
  packages/expo-yarn-workspaces/package.json
  packages/expo-yarn-workspaces/workspace-template/yarn.lock
Labels: bot: suggestions

#18340 [tools] update lint dependencies
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#18334 [expotools] "Others" category in add-changelog
  tools/src/commands/AddChangelog.ts
Labels: bot: passed checks

#18337 [home] don't use cached responses on home screen, fix broken useCallbacks
  dev-home-config.json
  home/screens/BranchListScreen/BranchListView.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/ProjectsListScreen/ProjectList.tsx
  home/screens/SnacksListScreen/SnackList.tsx
Labels: bot: passed checks

#18341 Fix #18310
  packages/expo-linking/package.json
Labels: bot: suggestions

#18320 [docs][web-browser] Switch comment to indicate we use ASWebAuthenticationSession
  docs/public/static/data/unversioned/expo-web-browser.json
  docs/public/static/data/v46.0.0/expo-web-browser.json
  packages/expo-web-browser/build/WebBrowser.d.ts
  packages/expo-web-browser/build/WebBrowser.d.ts.map
  packages/expo-web-browser/build/WebBrowser.js
  packages/expo-web-browser/build/WebBrowser.js.map
  packages/expo-web-browser/src/WebBrowser.ts
Labels: bot: suggestions

#18144 Build Expo Go on EAS Build
  .github/actions/eas-build/action.yml
  .github/workflows/client-android-eas.yml
  .github/workflows/client-ios-eas.yml
  apps/eas-expo-go/android
  apps/eas-expo-go/app.config.ts
  apps/eas-expo-go/eas.json
  apps/eas-expo-go/index.js
  apps/eas-expo-go/ios
  apps/eas-expo-go/package.json
  apps/eas-expo-go/scripts/eas-build-post-install.sh
  apps/eas-expo-go/scripts/eas-build-pre-install.sh
  apps/eas-expo-go/scripts/eas-build-pre-upload-artifacts.sh
  apps/eas-expo-go/tsconfig.json
Labels: bot: passed checks

#18307 [dev-launcher][Android] Redesign the splash screen
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/splashscreen/DevLauncherSplashScreen.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/splashscreen/DevLauncherSplashScreenProvider.kt
Labels: bot: suggestions
