Repository expo/expo, pull requests merged in 2023-02, with the labels that each got.

#21005 feat(metro-config): block react-dom traces
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: passed checks

#21025 [eslint-config-universe] Upgrade typescript-eslint packages
  packages/eslint-config-universe/CHANGELOG.md
  packages/eslint-config-universe/package.json
  yarn.lock
Labels: bot: suggestions

#21015 [image][Android] Fix `excludeAppGlideModule` property
  packages/expo-image/android/build.gradle
Labels: bot: suggestions

#21032 Fix markdown hyperlink
  docs/pages/introduction/expo.mdx
Labels: bot: passed checks

#21020 [docs] add new Sidebar footer
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/ui/components/Header/Header.tsx
  docs/ui/components/Sidebar/SidebarFooter.tsx
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/SidebarSingleEntry.tsx
  docs/ui/components/Sidebar/icons/Archive.tsx
  docs/ui/components/Sidebar/icons/styles.ts
  docs/ui/components/Sidebar/index.ts
Labels: bot: passed checks

#21033 [camera][Android] Fixed `Cannot set prop 'barCodeScannerSettings' on view 'class expo.modules.camera.ExpoCameraView'`
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
Labels: bot: passed checks

#20889 [android][tools] fix android versioning
  android/build.gradle
  android/expoview/build.gradle
  android/expoview/src/main/java/host/exp/exponent/modules/ExponentKernelImageAppGlideModule.kt
  android/expoview/src/main/res/values/strings.xml
  android/gradle.properties
  android/settings.gradle
  packages/expo-image/android/build.gradle
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  tools/src/Packages.ts
  tools/src/versioning/android/libraries.ts
  tools/src/versioning/android/packagesConfig.ts
  tools/src/versioning/android/reactNativeTransforms.ts
  tools/src/versioning/android/transforms/vendoredModulesTransforms.ts
  tools/src/versioning/android/unversionablePackages.json
  tools/src/versioning/android/versionCxx/index.ts
  tools/src/versioning/android/versionCxx/patches/expo-av.patch
  tools/src/versioning/android/versionCxx/patches/expo-gl.patch
  tools/src/versioning/android/versionCxx/patches/expo-modules-core.patch
  tools/src/versioning/android/versionVendoredModules.ts
Labels: bot: suggestions

#21022 [cli][dev-server] fix hermes export sourcemap error
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/dev-server/build/MetroDevServer.js
  packages/@expo/dev-server/build/MetroDevServer.js.map
  packages/@expo/dev-server/src/MetroDevServer.ts
Labels: bot: passed checks

#21021 [docs] Update expo-secure-store to add info about Export compliance
  docs/pages/versions/unversioned/sdk/securestore.mdx
  docs/pages/versions/v46.0.0/sdk/securestore.mdx
  docs/pages/versions/v47.0.0/sdk/securestore.mdx
  guides/releasing/Release Workflow.md
Labels: bot: passed checks

#21014 [go] update @shopify/react-native-skia to 0.1.172
  CHANGELOG.md
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkJsiViewApi.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/dom/nodes/JsiCustomDrawingNode.h
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkJsiViewApi.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/dom/nodes/JsiCustomDrawingNode.h
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/RNSkMetalCanvasProvider.mm
  ios/vendored/unversioned/@shopify/react-native-skia/react-native-skia.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#20858 [3/3] update changelogs for react-native 0.71 upgrade
  packages/@expo/config-plugins/CHANGELOG.md
  packages/babel-preset-expo/CHANGELOG.md
  packages/eslint-config-universe/CHANGELOG.md
  packages/expo-av/CHANGELOG.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-updates/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/jest-expo/CHANGELOG.md
Labels: bot: passed checks

#21040 [document-picker] fill missing descriptions in `DocumentResult` type
  docs/public/static/data/unversioned/expo-document-picker.json
  docs/public/static/data/v47.0.0/expo-document-picker.json
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.d.ts.map
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/src/types.ts
Labels: bot: suggestions

#20991 [tools] Selecting pull requests to label in the publish command
  tools/src/publish-packages/tasks/addPublishedLabelToPullRequests.ts
Labels: bot: passed checks

#21055 [av][ncl][go] fix audio and video qa issues
  CHANGELOG.md
  android/vendored/unversioned/@react-native-community/slider/android/src/oldarch/java/com/reactnativecommunity/slider/ReactSliderManager.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/AV/AudioPlayer.tsx
  apps/native-component-list/src/screens/AV/JsiAudioBar.tsx
  apps/native-component-list/src/screens/AV/VideoPlayer.tsx
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-community/slider/react-native-slider.podspec.json
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/player/PlayerData.java
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#21057 [test-suite] fix video hanging
  apps/test-suite/tests/Video.js
Labels: bot: passed checks

#21043 [test-suite] Fix import in the Image example
  apps/test-suite/tests/Image.js
Labels: bot: passed checks

#21037 [core][iOS] Fix expo modules aren't added to global
  packages/expo-modules-core/ios/Swift/ExpoBridgeModule.swift
Labels: bot: suggestions

#21061 Update CHANGELOG.md
  CHANGELOG.md
Labels: bot: needs changes

#20869 [mail-composer][android] fix composeAsync not resolving after send/ discard
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.kt
Labels: bot: passed checks

#21001 Switch default JS engine to Hermes
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/ios/Podfile
  apps/fabric-tester/android/app/build.gradle
  apps/fabric-tester/ios/Podfile
  apps/native-tests/ios/Podfile
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/BuildProperties.js
  packages/@expo/config-plugins/build/android/BuildProperties.js.map
  packages/@expo/config-plugins/build/ios/BuildProperties.js
  packages/@expo/config-plugins/build/ios/BuildProperties.js.map
  packages/@expo/config-plugins/build/utils/BuildProperties.types.d.ts
  packages/@expo/config-plugins/build/utils/BuildProperties.types.js.map
  packages/@expo/config-plugins/src/android/BuildProperties.ts
  packages/@expo/config-plugins/src/ios/BuildProperties.ts
  packages/@expo/config-plugins/src/utils/BuildProperties.types.ts
  packages/@expo/dev-server/build/HermesBundler.js
  packages/@expo/dev-server/build/HermesBundler.js.map
  packages/@expo/dev-server/src/HermesBundler.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
  packages/expo-updates/e2e/__tests__/setup/create-updates-test.js
  packages/expo-updates/e2e/__tests__/setup/project.js
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/gradle.properties
  templates/expo-template-bare-minimum/ios/Podfile
  templates/expo-template-bare-minimum/ios/Podfile.properties.json
Labels: bot: suggestions

#21047 [docs] Update Hermes guide to state that Hermes is the new default engine
  docs/pages/guides/using-hermes.mdx
  docs/public/static/schemas/unversioned/app-config-schema.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks

#21063 [auth-session] Remove usage of deprecated `expo-random`
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/PKCE.d.ts.map
  packages/expo-auth-session/build/PKCE.js
  packages/expo-auth-session/build/PKCE.js.map
  packages/expo-auth-session/package.json
  packages/expo-auth-session/src/PKCE.ts
  packages/expo-auth-session/src/__tests__/AuthRequest-test.ts
Labels: bot: suggestions

#21062 [tools] fix react native nightlies test
  .github/workflows/test-suite-nightly.yml
  tools/src/commands/SetupReactNativeNightly.ts
  tools/src/react-native-nightlies/patches/bare-expo.patch
  tools/src/react-native-nightlies/patches/detox.patch
  tools/src/react-native-nightlies/patches/react-native-reanimated+2.12.0.patch
Labels: bot: passed checks

#20890 [expo-build-properties] Adds support for flipper
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/README.md
  packages/expo-build-properties/build/android.d.ts
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/ios.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/build/withBuildProperties.js
  packages/expo-build-properties/src/__tests__/android-test.ts
  packages/expo-build-properties/src/__tests__/pluginConfig-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/ios.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-build-properties/src/withBuildProperties.ts
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks

#21060 [docs] use Markdown for Config Plugin properties descriptions
  docs/components/plugins/ConfigSection/ConfigPluginProperties.tsx
  docs/pages/versions/unversioned/sdk/document-picker.mdx
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/unversioned/sdk/media-library.mdx
  docs/pages/versions/unversioned/sdk/screen-orientation.mdx
  docs/pages/versions/unversioned/sdk/tracking-transparency.mdx
  docs/pages/versions/v47.0.0/sdk/document-picker.mdx
  docs/pages/versions/v47.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v47.0.0/sdk/media-library.mdx
  docs/pages/versions/v47.0.0/sdk/screen-orientation.mdx
  docs/pages/versions/v47.0.0/sdk/tracking-transparency.mdx
Labels: bot: passed checks

#21075 [workspace] remove Fleet editor settings
  .fleet/settings.json
Labels: bot: passed checks

#21080 Avoid using rawManifestJson in RTL support
  ios/Exponent/Kernel/Views/EXAppViewController.m
Labels: bot: passed checks

#21024 [docs] Add a guide on How to build a config plugin and an Expo module
  docs/constants/navigation.js
  docs/pages/modules/config-plugin-and-native-module-tutorial.mdx
Labels: bot: passed checks

#21083 [docs] fix 404 on iOS push notification setup link
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v45.0.0/sdk/notifications.mdx
  docs/pages/versions/v46.0.0/sdk/notifications.mdx
  docs/pages/versions/v47.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#21069 feat(html-elements): improve assertions
  apps/native-component-list/src/screens/BlurView/Slider.tsx
  packages/html-elements/CHANGELOG.md
  packages/html-elements/build/css/createSafeStyledView.d.ts
  packages/html-elements/build/css/createSafeStyledView.d.ts.map
  packages/html-elements/build/css/createSafeStyledView.js
  packages/html-elements/build/css/createSafeStyledView.js.map
  packages/html-elements/build/css/createSafeStyledView.native.d.ts
  packages/html-elements/build/css/createSafeStyledView.native.d.ts.map
  packages/html-elements/build/css/createSafeStyledView.native.js
  packages/html-elements/build/css/createSafeStyledView.native.js.map
  packages/html-elements/build/css/filterStyles.d.ts
  packages/html-elements/build/css/filterStyles.d.ts.map
  packages/html-elements/build/css/filterStyles.js
  packages/html-elements/build/css/filterStyles.js.map
  packages/html-elements/build/primitives/Image.d.ts
  packages/html-elements/build/primitives/Image.d.ts.map
  packages/html-elements/build/primitives/Image.js
  packages/html-elements/build/primitives/Image.js.map
  packages/html-elements/build/primitives/Text.d.ts
  packages/html-elements/build/primitives/Text.d.ts.map
  packages/html-elements/build/primitives/Text.js
  packages/html-elements/build/primitives/Text.js.map
  packages/html-elements/build/primitives/View.d.ts
  packages/html-elements/build/primitives/View.d.ts.map
  packages/html-elements/build/primitives/View.js
  packages/html-elements/build/primitives/View.js.map
  packages/html-elements/build/primitives/createDevView.d.ts
  packages/html-elements/build/primitives/createDevView.d.ts.map
  packages/html-elements/build/primitives/createDevView.js
  packages/html-elements/build/primitives/createDevView.js.map
  packages/html-elements/src/css/__tests__/__snapshots__/createSafeStyledView.test.native.tsx.snap.android
  packages/html-elements/src/css/__tests__/__snapshots__/createSafeStyledView.test.native.tsx.snap.ios
  packages/html-elements/src/css/__tests__/createSafeStyledView.test.native.tsx
  packages/html-elements/src/css/createSafeStyledView.native.tsx
  packages/html-elements/src/css/createSafeStyledView.tsx
  packages/html-elements/src/css/filterStyles.ts
  packages/html-elements/src/elements/__tests__/__snapshots__/Headings-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Headings-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Rules-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Rules-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Table-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Table-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.ios
  packages/html-elements/src/primitives/Image.tsx
  packages/html-elements/src/primitives/Text.tsx
  packages/html-elements/src/primitives/View.tsx
  packages/html-elements/src/primitives/__tests__/__snapshots__/createDevView.test.ios.tsx.snap.ios
  packages/html-elements/src/primitives/__tests__/__snapshots__/createDevView.test.tsx.snap.android
  packages/html-elements/src/primitives/__tests__/__snapshots__/createDevView.test.tsx.snap.ios
  packages/html-elements/src/primitives/__tests__/__snapshots__/createDevView.test.tsx.snap.web
  packages/html-elements/src/primitives/__tests__/__snapshots__/createDevView.test.web.tsx.snap.web
  packages/html-elements/src/primitives/__tests__/createDevView.test.tsx
  packages/html-elements/src/primitives/createDevView.tsx
Labels: bot: passed checks

#21087 [docs] Fix doc about building apk on EAS build
  docs/pages/build-reference/apk.mdx
Labels: bot: passed checks

#21085 [ncl] Add example with a list of GIFs
  apps/native-component-list/src/screens/Image/ImageGifsScreen.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
Labels: bot: passed checks

#21086 [image][ios] Process images concurrently off the main thread
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#21096 [image][ios] Add prop `placeholderContentFit`
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#21100 [docs] Update publish websites page
  docs/pages/distribution/publishing-websites.mdx
Labels: bot: passed checks

#21101 [docs] Move Deprecated and Archived sections to Archive
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/archive/adhoc-builds.mdx
  docs/pages/archive/expo-cli.mdx
  docs/pages/archive/expokit/advanced-expokit-topics.mdx
  docs/pages/archive/expokit/eject.mdx
  docs/pages/archive/expokit/expokit.mdx
  docs/pages/archive/expokit/overview.mdx
  docs/pages/archive/expokit/universal-modules-and-expokit.mdx
  docs/pages/archive/notification-channels.mdx
  docs/pages/workflow/common-development-errors.mdx
  docs/pages/workflow/expo-cli.mdx
  docs/pages/workflow/glossary-of-terms.mdx
  docs/scripts/test-links.js
Labels: bot: passed checks

#21065 [expo-updates] E2E tests move to Hermes after 0.71.2
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/fixtures/Updates-assets.e2e.js
  packages/expo-updates/e2e/__tests__/fixtures/Updates-basic.e2e.js
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/tests/utils/server.js
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/tests/utils/update.js
  packages/expo-updates/e2e/__tests__/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/__tests__/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/__tests__/fixtures/project_files/eas.json
  packages/expo-updates/e2e/__tests__/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/__tests__/setup/project.js
Labels: bot: passed checks

#21106 [image] Add web placeholder content fit
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/src/ExpoImage.web.tsx
Labels: bot: passed checks

#20806 [core][Android][docs] Add `Long` to the documentation
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#21116 [docs] clarify that user migrating from Classic Builds is still using Classic Updates
  docs/pages/build-reference/migrating.mdx
Labels: bot: passed checks

#21117 [android] fix expo go build errors
  CHANGELOG.md
  android/build.gradle
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/FinancialConnectionsSheetFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/GooglePayLauncherFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/GooglePayRequestHelper.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentLauncherFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentSheetAppearance.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/StripeSdkModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/addresssheet/AddressLauncherFragment.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/pushprovisioning/AddToWalletButtonManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/pushprovisioning/TapAndPayProxy.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/utils/Extensions.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/utils/Mappers.kt
  android/gradle.properties
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/Mappers.kt
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentLauncherFragment.kt
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentLauncherFragment.kt
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/utils/Mappers.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/PaymentLauncherFragment.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/utils/Mappers.kt
  ios/Podfile.lock
  packages/expo/bundledNativeModules.json
Labels: bot: needs changes

#20835 [docs] Set correct `code` data type for ticket response in notification guides
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#21019 [template] remove unnecessary deps
  templates/expo-template-blank-typescript/package.json
Labels: bot: passed checks

#21118 Fix crash when reloading app while expo-av video is playing
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Views/ComponentData.swift
Labels: bot: passed checks

#21098 [file-system][ios] Add utf-8 uri support
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  ios/versioned/sdk48/EXFileSystem/EXFileSystem/ABI48_0_0EXFileSystem.m
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
Labels: bot: passed checks

#20951 [create-expo-module] Only run pod install on macOS
  packages/create-expo-module/src/createExampleApp.ts
Labels: bot: passed checks

#20952 [docs] Add missing config plugin documentation for expo-splash-screen
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
Labels: bot: passed checks

#21132 [docs] Simplify the splash screen configuration options
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
Labels: bot: passed checks

#21104 [notifications][docs] rename and export `getExpoPushTokenAsync` parameter type
  docs/public/static/data/unversioned/expo-notifications.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/Tokens.types.d.ts
  packages/expo-notifications/build/Tokens.types.d.ts.map
  packages/expo-notifications/build/Tokens.types.js.map
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts.map
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/Tokens.types.ts
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
Labels: bot: passed checks

#21134 [image] Update docs for the `transition` prop
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Labels: bot: suggestions

#21068 feat: support Hermes debugger on native when Metro web is running.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/middleware/HistoryFallbackMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/HistoryFallbackMiddleware-test.ts
  packages/@expo/dev-server/src/middleware/createJsInspectorMiddleware.ts
Labels: bot: passed checks

#21137 Fix expo-dev-menu not compiling in iOS native unit tests
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/scripts/reanimated_utils.rb
  packages/expo-dev-menu/vendored/react-native-reanimated/ios/DevMenuREAModule.mm
Labels: bot: suggestions

#21131 [docs] Add a guide on Configuring JS Engines
  docs/constants/navigation.js
  docs/pages/guides/configuring-js-engines.mdx
Labels: bot: passed checks

#21123 Add readme banners for some packages
  .github/resources/expo-av.svg
  .github/resources/expo-barcode-scanner.svg
  .github/resources/expo-battery.svg
  .github/resources/expo-blur.svg
  .github/resources/expo-brightness.svg
  .github/resources/expo-camera.svg
  .github/resources/expo-crypto.svg
  .github/resources/expo-file-system.svg
  .github/resources/expo-gl.svg
  .github/resources/expo-haptics.svg
  .github/resources/expo-image-manipulator.svg
  .github/resources/expo-image-picker.svg
  .github/resources/expo-image.svg
  .github/resources/expo-linear-gradient.svg
  .github/resources/expo-local-authentication.svg
  .github/resources/expo-localization.svg
  .github/resources/expo-location.svg
  .github/resources/expo-mail-composer.svg
  .github/resources/expo-media-library.svg
  .github/resources/expo-modules-autolinking.svg
  .github/resources/expo-modules-core.svg
  .github/resources/expo-network.svg
  .github/resources/expo-notifications.svg
  .github/resources/expo-secure-store.svg
  .github/resources/expo-sensors.svg
  .github/resources/expo-sms.svg
  .github/resources/expo-web-browser.svg
  packages/expo-av/README.md
  packages/expo-barcode-scanner/README.md
  packages/expo-battery/README.md
  packages/expo-blur/README.md
  packages/expo-brightness/README.md
  packages/expo-camera/README.md
  packages/expo-crypto/README.md
  packages/expo-file-system/README.md
  packages/expo-gl/README.md
  packages/expo-haptics/README.md
  packages/expo-image-manipulator/README.md
  packages/expo-image-picker/README.md
  packages/expo-image/README.md
  packages/expo-linear-gradient/README.md
  packages/expo-local-authentication/README.md
  packages/expo-localization/README.md
  packages/expo-location/README.md
  packages/expo-mail-composer/README.md
  packages/expo-media-library/README.md
  packages/expo-modules-autolinking/README.md
  packages/expo-modules-core/README.md
  packages/expo-network/README.md
  packages/expo-notifications/README.md
  packages/expo-secure-store/README.md
  packages/expo-sensors/README.md
  packages/expo-sms/README.md
  packages/expo-web-browser/README.md
Labels: bot: suggestions

#21129 [ios] Fix stripe-react-native version in vendored podspecs
  ios/Podfile.lock
  ios/vendored/sdk48/@stripe/stripe-react-native/ABI48_0_0stripe-react-native.podspec.json
  ios/vendored/unversioned/@stripe/stripe-react-native/stripe-react-native.podspec.json
Labels: bot: passed checks

#21127 Migrate tabs template to Expo Router
  templates/expo-template-tabs/App.tsx
  templates/expo-template-tabs/app.json
  templates/expo-template-tabs/app/(tabs)/_layout.tsx
  templates/expo-template-tabs/app/(tabs)/index.tsx
  templates/expo-template-tabs/app/(tabs)/two.tsx
  templates/expo-template-tabs/app/[...missing].tsx
  templates/expo-template-tabs/app/_layout.tsx
  templates/expo-template-tabs/app/modal.tsx
  templates/expo-template-tabs/babel.config.js
  templates/expo-template-tabs/components/EditScreenInfo.tsx
  templates/expo-template-tabs/components/ExternalLink.tsx
  templates/expo-template-tabs/components/StyledText.tsx
  templates/expo-template-tabs/components/Themed.tsx
  templates/expo-template-tabs/constants/Layout.ts
  templates/expo-template-tabs/hooks/useCachedResources.ts
  templates/expo-template-tabs/hooks/useColorScheme.ts
  templates/expo-template-tabs/index.ts
  templates/expo-template-tabs/navigation/LinkingConfiguration.ts
  templates/expo-template-tabs/navigation/index.tsx
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/screens/NotFoundScreen.tsx
  templates/expo-template-tabs/types.tsx
Labels: bot: passed checks

#20275 [expo-updates][android] Add support for version 1 of the protocol and directives
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/NewUpdateManifestTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/ResponseHeaderDataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestFactoryTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestMetadataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/selectionpolicy/SelectionPolicyFilterAwareTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/UpdateDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteUpdate.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestFactory.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestMetadata.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ResponseHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/UpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/ReaperSelectionPolicyFilterAware.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/SelectionPolicy.kt
Labels: bot: passed checks

#21146 Add `WebkitBackdropFilter` to support `react-native-web` styling.
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/src/BlurView.web.tsx
Labels: bot: passed checks

#21171 [docs] Fixes typos in localization code samples
  docs/pages/guides/localization.mdx
Labels: bot: passed checks

#20163 [RTL][Expo Go] Add description on Expo Go RTL support
  docs/pages/guides/localization.mdx
Labels: bot: passed checks

#21166 fix(cli): log format when modifying `tsconfig.json`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/typescript/updateTSConfig.ts
Labels: bot: passed checks

#21169 fix(cli): auto-detect the TLS version based on current node version
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/appleDevice/ClientManager.ts
  packages/@expo/cli/src/run/ios/appleDevice/client/LockdowndClient.ts
  packages/@expo/cli/src/run/ios/appleDevice/protocol/AbstractProtocol.ts
Labels: bot: passed checks

#21185 [ios][intent-launcher] Fix attempting to import module on iOS.
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-intent-launcher/build/ExpoIntentLauncher.ios.d.ts
  packages/expo-intent-launcher/build/ExpoIntentLauncher.ios.d.ts.map
  packages/expo-intent-launcher/build/ExpoIntentLauncher.ios.js
  packages/expo-intent-launcher/build/ExpoIntentLauncher.ios.js.map
  packages/expo-intent-launcher/src/ExpoIntentLauncher.ios.ts
Labels: bot: passed checks

#21193 [docs] fix typo in Expo CLI reference
  docs/pages/workflow/expo-cli.mdx
Labels: bot: passed checks

#21186 Update react-native-screens to 3.20.0
  CHANGELOG.md
  android/vendored/unversioned/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenViewManager.kt
  android/vendored/unversioned/react-native-screens/android/src/paper/java/com/facebook/react/viewmanagers/RNSScreenManagerDelegate.java
  android/vendored/unversioned/react-native-screens/android/src/paper/java/com/facebook/react/viewmanagers/RNSScreenManagerInterface.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-screens/RNScreens.podspec.json
  ios/vendored/unversioned/react-native-screens/ios/RNSConvert.h
  ios/vendored/unversioned/react-native-screens/ios/RNSConvert.mm
  ios/vendored/unversioned/react-native-screens/ios/RNSEnums.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.mm
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#21188 [docs] update Styleguide, remove font overwrites
  docs/components/base/code.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/package.json
  docs/pages/_app.tsx
  docs/ui/components/Text/index.tsx
  docs/yarn.lock
Labels: bot: passed checks

#21145 [doc] Fix expo-updates doc typo
  docs/pages/versions/v47.0.0/sdk/updates.mdx
  docs/pages/versions/v48.0.0/sdk/updates.mdx
Labels: bot: passed checks

#21194 fix(package-manager): inherit stdio when not running in silent mode
  packages/@expo/package-manager/build/node/BasePackageManager.js
  packages/@expo/package-manager/build/node/BasePackageManager.js.map
  packages/@expo/package-manager/src/node/BasePackageManager.ts
  packages/@expo/package-manager/src/node/__tests__/NpmPackageManager-test.ts
  packages/@expo/package-manager/src/node/__tests__/PnpmPackageManager-test.ts
  packages/@expo/package-manager/src/node/__tests__/YarnPackageManager-test.ts
Labels: bot: suggestions

#21139 [core][ios] Fix convertible implementation for URL to support unencoded strings
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Swift/Utilities.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: passed checks

#21007 [expo-updates][android] Add rollback to embedded update directive
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteUpdate.kt
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#21136 remove deprecated expo-app-loading
  docs/public/static/data/unversioned/expo-app-loading.json
  packages/expo-app-loading/.babelrc
  packages/expo-app-loading/.eslintrc.js
  packages/expo-app-loading/.npmignore
  packages/expo-app-loading/CHANGELOG.md
  packages/expo-app-loading/README.md
  packages/expo-app-loading/babel.config.js
  packages/expo-app-loading/build/AppLoading.d.ts
  packages/expo-app-loading/build/AppLoading.d.ts.map
  packages/expo-app-loading/build/AppLoading.js
  packages/expo-app-loading/build/AppLoading.js.map
  packages/expo-app-loading/build/AppLoading.types.d.ts
  packages/expo-app-loading/build/AppLoading.types.d.ts.map
  packages/expo-app-loading/build/AppLoading.types.js
  packages/expo-app-loading/build/AppLoading.types.js.map
  packages/expo-app-loading/build/AppLoadingNativeWrapper.d.ts
  packages/expo-app-loading/build/AppLoadingNativeWrapper.d.ts.map
  packages/expo-app-loading/build/AppLoadingNativeWrapper.js
  packages/expo-app-loading/build/AppLoadingNativeWrapper.js.map
  packages/expo-app-loading/build/index.d.ts
  packages/expo-app-loading/build/index.d.ts.map
  packages/expo-app-loading/build/index.js
  packages/expo-app-loading/build/index.js.map
  packages/expo-app-loading/package.json
  packages/expo-app-loading/src/AppLoading.tsx
  packages/expo-app-loading/src/AppLoading.types.ts
  packages/expo-app-loading/src/AppLoadingNativeWrapper.tsx
  packages/expo-app-loading/src/index.ts
  packages/expo-app-loading/tsconfig.json
  packages/expo-app-loading/unimodule.json
  packages/expo/bundledNativeModules.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions

#21135 remove deprecated expo-error-recovery
  .github/CODEOWNERS
  apps/bare-expo/package.json
  apps/native-tests/package.json
  docs/pages/versions/unversioned/sdk/error-recovery.mdx
  docs/public/static/data/unversioned/expo-error-recovery.json
  packages/expo-error-recovery/.eslintrc.js
  packages/expo-error-recovery/.npmignore
  packages/expo-error-recovery/CHANGELOG.md
  packages/expo-error-recovery/README.md
  packages/expo-error-recovery/android/.gitignore
  packages/expo-error-recovery/android/build.gradle
  packages/expo-error-recovery/android/src/main/AndroidManifest.xml
  packages/expo-error-recovery/android/src/main/java/expo/modules/errorrecovery/ErrorRecoveryModule.kt
  packages/expo-error-recovery/android/src/main/java/expo/modules/errorrecovery/ErrorRecoveryPackage.kt
  packages/expo-error-recovery/android/src/test/java/expo/modules/errorrecovery/ErrorRecoveryModuleTest.kt
  packages/expo-error-recovery/babel.config.js
  packages/expo-error-recovery/build/ErroRecoveryStore.d.ts
  packages/expo-error-recovery/build/ErroRecoveryStore.d.ts.map
  packages/expo-error-recovery/build/ErroRecoveryStore.js
  packages/expo-error-recovery/build/ErroRecoveryStore.js.map
  packages/expo-error-recovery/build/ErrorRecovery.d.ts
  packages/expo-error-recovery/build/ErrorRecovery.d.ts.map
  packages/expo-error-recovery/build/ErrorRecovery.fx.d.ts
  packages/expo-error-recovery/build/ErrorRecovery.fx.d.ts.map
  packages/expo-error-recovery/build/ErrorRecovery.fx.js
  packages/expo-error-recovery/build/ErrorRecovery.fx.js.map
  packages/expo-error-recovery/build/ErrorRecovery.js
  packages/expo-error-recovery/build/ErrorRecovery.js.map
  packages/expo-error-recovery/build/ExpoErrorRecovery.d.ts
  packages/expo-error-recovery/build/ExpoErrorRecovery.d.ts.map
  packages/expo-error-recovery/build/ExpoErrorRecovery.js
  packages/expo-error-recovery/build/ExpoErrorRecovery.js.map
  packages/expo-error-recovery/build/ExpoErrorRecovery.web.d.ts
  packages/expo-error-recovery/build/ExpoErrorRecovery.web.d.ts.map
  packages/expo-error-recovery/build/ExpoErrorRecovery.web.js
  packages/expo-error-recovery/build/ExpoErrorRecovery.web.js.map
  packages/expo-error-recovery/ios/EXErrorRecovery.podspec
  packages/expo-error-recovery/ios/EXErrorRecovery/EXErrorRecoveryModule.h
  packages/expo-error-recovery/ios/EXErrorRecovery/EXErrorRecoveryModule.m
  packages/expo-error-recovery/package.json
  packages/expo-error-recovery/src/.gitkeep
  packages/expo-error-recovery/src/ErroRecoveryStore.ts
  packages/expo-error-recovery/src/ErrorRecovery.fx.ts
  packages/expo-error-recovery/src/ErrorRecovery.ts
  packages/expo-error-recovery/src/ExpoErrorRecovery.ts
  packages/expo-error-recovery/src/ExpoErrorRecovery.web.ts
  packages/expo-error-recovery/tsconfig.json
  packages/expo-error-recovery/unimodule.json
  packages/expo-test-runner/build/TemplateProject.js
  packages/expo-test-runner/build/TemplateProject.js.map
  packages/expo-test-runner/src/TemplateProject.ts
  packages/expo-updates/e2e/__tests__/setup/project.js
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  tools/src/commands/GenerateBareApp.ts
  tools/src/commands/GenerateDocsAPIData.ts
  tools/src/prebuilds/Prebuilder.ts
Labels: bot: suggestions

#21088 feat(cli, metro-config): implement new unstable_serverRoot feature
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ClassicManifestMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ManifestMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/resolveEntryPoint.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: passed checks

#21199 Close config file watchers to ensure process can exit.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/createBundles.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/utils/FileNotifier.ts
Labels: bot: passed checks

#21202 [github] Validate issues and improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/issue-attention.yml
  .github/workflows/issue-opened.yml
  tools/src/commands/ValidateIssueCommand.ts
Labels: bot: passed checks

#21182 [ENG-7389][docs] update images documentation
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#21206 [core] Fix AppDelegateSubscriber broken on ios framework mode
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.mm
Labels: bot: passed checks

#21214 [image][Android] Fix SVGs are not rendered in the release mode
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ResourceIdHelper.kt
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Labels: bot: suggestions

#21192 [image][Android] Fix `You can't start or clear loads in RequestListener or Target callbacks`
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
Labels: bot: suggestions

#21215 [image][ios] Don't emit onProgress event when the asset size is unknown
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#21159 [docs] improves the migration guide
  docs/pages/eas-update/migrate-to-eas-update.mdx
Labels: bot: passed checks

#21222 [autolinking] Suppress node warnings about deprecated exports mapping
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/react_import_patcher.rb
Labels: bot: suggestions

#21224 [github] Use --pretty online instead of %B to ensure commit message is on one line
  .github/workflows/updates-e2e-android.yml
  .github/workflows/updates-e2e-ios.yml
Labels: bot: passed checks

#21226 Revert: [expo-updates][android] Add support for version 1 of the protocol and directives and rollback to embedded update directive
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/NewUpdateManifestTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/ResponseHeaderDataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestFactoryTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestMetadataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/selectionpolicy/SelectionPolicyFilterAwareTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/UpdateDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteUpdate.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestFactory.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestMetadata.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ResponseHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/UpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/ReaperSelectionPolicyFilterAware.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/SelectionPolicy.kt
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#21142 [docs] Clean up docs mentions of classic builds
  docs/components/plugins/ConfigSection/ConfigClassic.tsx
  docs/components/plugins/ConfigSection/index.ts
  docs/pages/app-signing/app-credentials.mdx
  docs/pages/app-signing/managed-credentials.mdx
  docs/pages/archive/classic-updates/configuring-updates.mdx
  docs/pages/archive/classic-updates/hosting-your-app.mdx
  docs/pages/archive/classic-updates/preloading-and-caching-assets.mdx
  docs/pages/archive/classic-updates/release-channels.mdx
  docs/pages/build-reference/limitations.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/build/introduction.mdx
  docs/pages/distribution/app-stores.mdx
  docs/pages/distribution/runtime-versions.mdx
  docs/pages/eas/webhooks.mdx
  docs/pages/guides/permissions.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/versions/unversioned/sdk/filesystem.mdx
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/unversioned/sdk/media-library.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/unversioned/sdk/tracking-transparency.mdx
  docs/pages/versions/v45.0.0/sdk/admob.mdx
  docs/pages/versions/v45.0.0/sdk/facebook-ads.mdx
  docs/pages/versions/v45.0.0/sdk/facebook.mdx
  docs/pages/versions/v45.0.0/sdk/filesystem.mdx
  docs/pages/versions/v45.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v45.0.0/sdk/media-library.mdx
  docs/pages/versions/v45.0.0/sdk/notifications.mdx
  docs/pages/versions/v45.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v46.0.0/sdk/filesystem.mdx
  docs/pages/versions/v46.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v46.0.0/sdk/media-library.mdx
  docs/pages/versions/v46.0.0/sdk/notifications.mdx
  docs/pages/versions/v46.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v47.0.0/sdk/filesystem.mdx
  docs/pages/versions/v47.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v47.0.0/sdk/media-library.mdx
  docs/pages/versions/v47.0.0/sdk/notifications.mdx
  docs/pages/versions/v47.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v48.0.0/sdk/filesystem.mdx
  docs/pages/versions/v48.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v48.0.0/sdk/media-library.mdx
  docs/pages/versions/v48.0.0/sdk/notifications.mdx
  docs/pages/versions/v48.0.0/sdk/tracking-transparency.mdx
  docs/pages/workflow/already-used-react-native.mdx
Labels: bot: passed checks

#21218 [fingerprint] export diffFingerprintChangesAsync
  packages/@expo/fingerprint/build/index.d.ts
  packages/@expo/fingerprint/build/index.js
  packages/@expo/fingerprint/build/index.js.map
  packages/@expo/fingerprint/src/index.ts
Labels: bot: passed checks

#21184 [docs] Add eas build:resign command
  docs/pages/app-signing/app-credentials.mdx
  docs/public/static/images/eas-build/eas-build-resign.png
Labels: bot: passed checks

#21191 [docs] Fix formatting and typos in various docs
  docs/common/error-utilities.ts
  docs/expo-dict.json
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/bare/installing-updates.mdx
  docs/pages/bare/updating-your-app.mdx
  docs/pages/build/internal-distribution.mdx
  docs/pages/guides/config-plugins.mdx
  docs/pages/guides/icons.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v47.0.0/sdk/notifications.mdx
  docs/pages/versions/v48.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#21234 Update app-credentials.mdx
  docs/pages/app-signing/app-credentials.mdx
Labels: bot: passed checks

#21237 [updates][docs] export missing types, regenerate docs data
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/v48.0.0/expo-updates.json
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: suggestions

#21223 [expo-updates] Break up E2E tests for better reliability
  .github/actions/eas-build/action.yml
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e-basic.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/__tests__/setup/create-eas-project-basic.js
Labels: bot: passed checks

#21240 feat(cli): improve ios multi-scheme resolution
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/appleDevice/AppleDevice.ts
  packages/@expo/cli/src/run/ios/appleDevice/client/InstallationProxyClient.ts
  packages/@expo/cli/src/run/ios/options/__tests__/resolveNativeScheme-test.ts
  packages/@expo/cli/src/run/ios/options/resolveNativeScheme.ts
Labels: bot: suggestions

#21217 [fingerprint] remove direct dependency to expo package
  packages/@expo/fingerprint/__mocks__/resolve-from.ts
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/package.json
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
Labels: bot: passed checks

#21236 [expo-av] Remove StyleSheet flattening
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/src/Video.tsx
Labels: bot: passed checks

#21246 [menu][iOS] Fixed `'jsc/JSCRuntime.h' file not found` when using JSC
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/expo-dev-menu.podspec
Labels: bot: suggestions

#21254 [docs] Fix typo in debug-updates.mdx
  docs/pages/eas-update/debug-updates.mdx
Labels: bot: passed checks

#21138 [expo-updates][docs] New quick start guide for updates
  docs/constants/navigation.js
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/eas-update/eas-update-with-local-build.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/public/static/images/eas-update/getting-started-after-update.png
  docs/public/static/images/eas-update/getting-started-before-update.png
Labels: bot: passed checks

#21260 [expo-updates] Correct debug instructions in DEVELOPMENT.md
  packages/expo-updates/DEVELOPMENT.md
Labels: bot: suggestions

#21263 fix(cli): only check if `unstable_serverRoot` is defined
  packages/@expo/cli/src/utils/analytics/getMetroProperties.ts
Labels: bot: suggestions

#21247 [gl] remove legacy case for Expo Go + fix gl context leak
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/build/GLView.d.ts
  packages/expo-gl/build/GLView.d.ts.map
  packages/expo-gl/build/GLView.js
  packages/expo-gl/build/GLView.js.map
  packages/expo-gl/build/GLWorkletContextManager.d.ts
  packages/expo-gl/build/GLWorkletContextManager.d.ts.map
  packages/expo-gl/build/GLWorkletContextManager.js
  packages/expo-gl/build/GLWorkletContextManager.js.map
  packages/expo-gl/build/GLWorkletContextProvider.d.ts
  packages/expo-gl/build/GLWorkletContextProvider.d.ts.map
  packages/expo-gl/build/GLWorkletContextProvider.js
  packages/expo-gl/build/GLWorkletContextProvider.js.map
  packages/expo-gl/common/EXWebGLRenderer.cpp
  packages/expo-gl/src/GLView.tsx
  packages/expo-gl/src/GLWorkletContextManager.ts
  packages/expo-gl/src/GLWorkletContextProvider.ts
Labels: bot: passed checks

#21264 cli(feat): reduce install prompt
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
Labels: bot: passed checks

#21219 Update customizing-metro.mdx
  docs/pages/guides/customizing-metro.mdx
Labels: bot: passed checks

#21266 [manifests] fix the default jsEngine for old sdks
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
Labels: bot: passed checks

#21269 [go] disable remote debugging when running on hermes
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  ios/Exponent/Versioned/Core/Internal/DevSupport/EXDevSettings.m
Labels: bot: passed checks

#21273 partial revert: [templates] Remove config options that don't apply to templates
  templates/expo-template-bare-minimum/app.json
  templates/expo-template-blank-typescript/app.json
  templates/expo-template-blank/app.json
  templates/expo-template-tabs/app.json
Labels: bot: passed checks

#21274 [dev-launcher] Fix Dev Client crash when server URL is missing the protocol
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherURLHelper.swift
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
Labels: bot: passed checks

#21187 [crypto] Add return type for randomUUID
  docs/public/static/data/unversioned/expo-crypto.json
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/build/Crypto.d.ts
  packages/expo-crypto/build/Crypto.d.ts.map
  packages/expo-crypto/build/Crypto.js.map
  packages/expo-crypto/src/Crypto.ts
Labels: bot: passed checks

#21281 fix import in android tutorial
  docs/pages/modules/native-module-tutorial.mdx
Labels: bot: passed checks

#21278 [expo-updates] Convert E2E tests to Typescript
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e-basic.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/__tests__/fixtures/App-assets.tsx
  packages/expo-updates/e2e/__tests__/fixtures/App.tsx
  packages/expo-updates/e2e/__tests__/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/__tests__/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/config.json
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/environment.js
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/__tests__/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/__tests__/fixtures/project_files/tsconfig.json
  packages/expo-updates/e2e/__tests__/setup/project.js
Labels: bot: suggestions

#21108 [autolinking][ios] Generate the modules provider in the build phase script
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  ios/Exponent.xcodeproj/project.pbxproj
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/constants.rb
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
Labels: bot: passed checks

#21258 [expo-updates] useUpdateEvents hook
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/UpdatesHooks.d.ts
  packages/expo-updates/build/UpdatesHooks.d.ts.map
  packages/expo-updates/build/UpdatesHooks.js
  packages/expo-updates/build/UpdatesHooks.js.map
  packages/expo-updates/build/index.d.ts
  packages/expo-updates/build/index.d.ts.map
  packages/expo-updates/build/index.js
  packages/expo-updates/build/index.js.map
  packages/expo-updates/e2e/__tests__/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/__tests__/setup/project.js
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/UpdatesHooks.ts
  packages/expo-updates/src/index.ts
Labels: bot: passed checks

#21292 [docs] Fix typo in create-a-modal tutorial page
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#21294 [docs] Fix typo in screenshot tutorial page
  docs/pages/tutorial/screenshot.mdx
Labels: bot: passed checks

#21259 [docs] Remove "Using EAS Submit with "expo build"" doc
  docs/constants/navigation.js
  docs/pages/submit/classic-builds.mdx
Labels: bot: passed checks

#21279 [ios][dev-menu] fix reload crash when dev-menu turned off
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/Modules/DevMenuModule.swift
Labels: bot: passed checks

#21309 [image][Android] Add `recyclingKey` prop to reset recycled image view content
  apps/native-component-list/src/screens/Image/ImageFlashListScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Labels: bot: suggestions

#21308 Update jest mocks
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions

#21290 [docs][expo-build-properties] Update "Using Flipper" docs for the SDK 48 `expo-build-properties` instructions
  docs/pages/guides/using-flipper.mdx
  docs/public/static/data/unversioned/expo-build-properties.json
  docs/public/static/data/v48.0.0/expo-build-properties.json
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: suggestions

#21196 [file-system][ios] Add UTF-8 URI support
  apps/bare-expo/ios/Podfile.lock
  apps/native-tests/ios/NativeTests.xcodeproj/xcshareddata/xcschemes/NativeTests.xcscheme
  apps/native-tests/ios/Podfile.lock
  apps/test-suite/tests/FileSystem.js
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/EXFileSystem.podspec
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
  packages/expo-file-system/ios/Tests/EXFileSystemSpec.swift
Labels: bot: passed checks

#21317 [ios] Fix expo-file-system not compiling for testing
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.m
Labels: bot: suggestions

#21300 [manifests] fix sdkVersion parsing
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.h
  packages/expo-manifests/ios/EXManifests/EXManifestsBaseManifest.m
Labels: bot: suggestions

#21230 [docs] Remove classic build references in app config schema & sync changes to docs
  docs/public/static/schemas/unversioned/app-config-schema.json
  docs/public/static/schemas/v48.0.0/app-config-schema.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/package.json
  packages/@expo/config-types/src/ExpoConfig.ts
  yarn.lock
Labels: bot: passed checks

#21326 [core][ios] Fix URI with encoded `#` getting cut off
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Utilities.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: suggestions

#21256 [expo-updates][android] Re-add support for v1 of the protocol
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/expo/modules/updates/UpdatesModule.kt
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/expo/modules/updates/UpdatesModule.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/codesigning/CertificateFixtures.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/NewUpdateManifestTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/ResponseHeaderDataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestFactoryTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/manifest/UpdateManifestMetadataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/selectionpolicy/SelectionPolicyFilterAwareTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/UpdateDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteUpdate.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestFactory.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ManifestMetadata.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/ResponseHeaderData.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/UpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/ReaperSelectionPolicyFilterAware.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/SelectionPolicy.kt
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#21328 [core][Android] Fail gracefully when view cannot be constructed
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
Labels: bot: suggestions

#21331 [expo-updates] Better README for E2E, move folders
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e-basic.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/fixtures/App-assets.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.h
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.m
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/UpdatesE2ETestModule.kt
  packages/expo-updates/e2e/fixtures/project_files/.detoxrc.json
  packages/expo-updates/e2e/fixtures/project_files/e2e/config.json
  packages/expo-updates/e2e/fixtures/project_files/e2e/environment.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/assets/lubo-minar-j2RgHfqKhCM-unsplash.jpg
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/assets/niklas-liniger-zuPiCN7xekM-unsplash.jpg
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/assets/patrick-untersee-XJjsuuDwWas-unsplash.jpg
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/fixtures/project_files/tsconfig.json
  packages/expo-updates/e2e/fixtures/test.png
  packages/expo-updates/e2e/setup/create-eas-project-assets.js
  packages/expo-updates/e2e/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/setup/create-updates-test.js
  packages/expo-updates/e2e/setup/project.js
Labels: bot: suggestions

#21313 [auth-session] Deprecate useProxy option
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequest.types.d.ts
  packages/expo-auth-session/build/AuthRequest.types.d.ts.map
  packages/expo-auth-session/build/AuthRequest.types.js.map
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.d.ts.map
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/src/AuthRequest.types.ts
  packages/expo-auth-session/src/AuthSession.types.ts
Labels: bot: passed checks

#20730 [docs] Add Google authentication with AuthSession API guide
  docs/constants/navigation.js
  docs/pages/guides/google-authentication.mdx
Labels: bot: passed checks

#21314 [auth-session] Fix references to makeRedirectUri
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v45.0.0/sdk/auth-session.mdx
  docs/pages/versions/v46.0.0/sdk/auth-session.mdx
  docs/pages/versions/v47.0.0/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v45.0.0/expo-auth-session.json
  docs/public/static/data/v46.0.0/expo-auth-session.json
  docs/public/static/data/v47.0.0/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/src/AuthSession.types.ts
Labels: bot: passed checks

#21333 [config-plugins] Apply react-native-maps AppDelegate plugin fix from @pchmn
  packages/@expo/config-plugins/build/ios/Maps.js
  packages/@expo/config-plugins/build/ios/Maps.js.map
  packages/@expo/config-plugins/src/ios/Maps.ts
  packages/@expo/config-plugins/src/ios/__tests__/Maps-test.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/AppDelegate.ts
Labels: bot: suggestions

#21334 [expo-updates] API doc changes for SDK 48
  docs/public/static/data/v48.0.0/expo-updates.json
Labels: bot: passed checks

#21335 chore(cli): fix e2e tests
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-web-test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-assets/package.json
  packages/@expo/cli/e2e/fixtures/with-blank/package.json
  packages/@expo/cli/e2e/fixtures/with-web/package.json
Labels: bot: suggestions

#20733 [docs] Add Facebook provider authentication guide
  docs/constants/navigation.js
  docs/pages/guides/facebook-authentication.mdx
  docs/public/static/images/authentication/facebook-app-settings.jpg
  docs/public/static/images/authentication/facebook-login-settings.jpg
Labels: bot: passed checks

#21325 [device][Android] Fix Device.getDeviceTypeAsync() returns TABLET on certain Android devices
  packages/expo-device/CHANGELOG.md
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
Labels: bot: suggestions

#21340 [core][ios] Fix `PhaseScriptExecution` failed with a nonzero exit code
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
Labels: bot: suggestions

#21200 [android][mail-composer] Migrate to new modules API
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerPackage.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailIntentBuilder.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/Records.kt
  packages/expo-mail-composer/expo-module.config.json
Labels: bot: passed checks

#21344 [expo-auth-session][docs] Remove auth.expo.io section and useProxy reference from examples
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/build/AuthRequest.d.ts
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/build/AuthRequestHooks.d.ts
  packages/expo-auth-session/build/AuthRequestHooks.d.ts.map
  packages/expo-auth-session/build/AuthRequestHooks.js
  packages/expo-auth-session/build/AuthRequestHooks.js.map
  packages/expo-auth-session/build/AuthSession.d.ts
  packages/expo-auth-session/build/AuthSession.d.ts.map
  packages/expo-auth-session/build/AuthSession.js
  packages/expo-auth-session/build/AuthSession.js.map
  packages/expo-auth-session/src/AuthRequest.ts
  packages/expo-auth-session/src/AuthRequestHooks.ts
  packages/expo-auth-session/src/AuthSession.ts
Labels: bot: passed checks

#21307 [docs] update Header and navigation Sidebar UIs, improve a11y
  docs/ui/components/CommandMenu/CommandMenuTrigger.tsx
  docs/ui/components/Header/Header.tsx
  docs/ui/components/Header/Logo.tsx
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Sidebar/SidebarFooter.tsx
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/SidebarSingleEntry.tsx
  docs/ui/components/Sidebar/icons/API.tsx
  docs/ui/components/Sidebar/icons/Archive.tsx
  docs/ui/components/Sidebar/icons/Documentation.tsx
  docs/ui/components/Sidebar/icons/Guides.tsx
  docs/ui/components/Sidebar/icons/styles.ts
Labels: bot: passed checks

#21345 [docs] Remove Expokit pages from archive and related references from glossary
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/archive/expokit/advanced-expokit-topics.mdx
  docs/pages/archive/expokit/eject.mdx
  docs/pages/archive/expokit/expokit.mdx
  docs/pages/archive/expokit/overview.mdx
  docs/pages/archive/expokit/universal-modules-and-expokit.mdx
  docs/pages/archive/glossary.mdx
  docs/pages/workflow/glossary-of-terms.mdx
Labels: bot: passed checks

#21310 [home] Fix SafeAreaView brief layout flash
  dev-home-config.json
  home/screens/HomeScreen/index.tsx
Labels: bot: passed checks

#21197 [expo-updates][e2e] Add rollback e2e
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/setup/project.js
  packages/expo-updates/package.json
Labels: bot: suggestions

#21359 [barcode][Android] Backport #18768 to versioned code
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
Labels: bot: passed checks

#21358 [barcode][Android] Backport `#18768` to SDK 46
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
Labels: bot: suggestions

#21357 [barcode][Android] Backport `#18768` to SDK 46
  android/versioned-abis/expoview-abi46_0_0/src/main/java/abi46_0_0/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
Labels: bot: passed checks

#21365 [apps][go][templates] Bump AGP to 7.4.1
  android/build.gradle
  apps/bare-expo/android/build.gradle
  apps/fabric-tester/android/build.gradle
  templates/expo-template-bare-minimum/android/build.gradle
Labels: bot: passed checks

#21363 [android][media-library] Fix passing sortBy argument to native
  apps/test-suite/tests/MediaLibrary.js
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssets.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssetsQuery.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsQueryTests.kt
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: suggestions

#21368 [go][android] fix textinput crash in home
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
Labels: bot: passed checks

#21360 [docs] UI tweaks and corrections
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/constants/navigation.js
  docs/global-styles/extras.ts
  docs/ui/components/Button/Button.tsx
  docs/ui/components/CommandMenu/styles.ts
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Layout/LayoutScroll.tsx
  docs/ui/components/Snippet/SnippetHeader.tsx
  docs/ui/components/Text/index.tsx
Labels: bot: passed checks

#21367 [auth-session] Add deprecation warning to promptAsync when using useProxy
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequest.d.ts.map
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/src/AuthRequest.ts
Labels: bot: suggestions

#21329 [exupdates][ios] Convert EXUpdatesUpdate tests to swift
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateTests.m
  packages/expo-updates/ios/Tests/EXUpdatesNewUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesNewUpdateTests.m
  packages/expo-updates/ios/Tests/EXUpdatesUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesUpdateTests.m
Labels: bot: suggestions
