Repository expo/expo, pull requests merged in 2023-06, with the labels that each got.

#22713 fix(cli): static render fix with side-effects
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
Labels: bot: passed checks

#22717 [docs][tutorial] Fix scale limit emoji sticker & remove extra boolean
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/gestures.mdx
  docs/public/static/examples/unversioned/tutorial/05-emoji-list/EmojiList.js
  docs/public/static/examples/unversioned/tutorial/06-gestures/CompleteEmojiSticker.js
  docs/public/static/examples/unversioned/tutorial/06-gestures/EmojiSticker.js
  docs/public/static/examples/v46.0.0/tutorial/05-emoji-list/EmojiList.js
  docs/public/static/examples/v46.0.0/tutorial/06-gestures/CompleteEmojiSticker.js
  docs/public/static/examples/v46.0.0/tutorial/06-gestures/EmojiSticker.js
  docs/public/static/examples/v47.0.0/tutorial/05-emoji-list/EmojiList.js
  docs/public/static/examples/v47.0.0/tutorial/06-gestures/CompleteEmojiSticker.js
  docs/public/static/examples/v47.0.0/tutorial/06-gestures/EmojiSticker.js
  docs/public/static/examples/v48.0.0/tutorial/05-emoji-list/EmojiList.js
  docs/public/static/examples/v48.0.0/tutorial/06-gestures/CompleteEmojiSticker.js
  docs/public/static/examples/v48.0.0/tutorial/06-gestures/EmojiSticker.js
Labels: bot: passed checks

#22701 [manifests] introduce getPluginProperties
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/build.gradle
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/JSONObjectExtension.kt
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/android/src/test/java/expo/modules/manifests/core/ManifestTest.kt
  packages/expo-manifests/android/src/test/java/expo/modules/manifests/core/NewManifestTest.kt
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-manifests/ios/Tests/ManifestSpec.swift
Labels: bot: passed checks

#22719 [docs] fix robots meta tag logic
  docs/components/DocumentationPage.tsx
Labels: bot: passed checks

#22720 [docs] Remove old guides that are moved to Home
  docs/pages/guides/splash-screens.mdx
  docs/pages/guides/testing-with-jest.mdx
Labels: bot: passed checks

#22660 [docs] Add advance routing section for Guides
  docs/constants/navigation.js
  docs/pages/router/advance/drawer.mdx
  docs/pages/router/advance/modal.mdx
  docs/pages/router/advance/nesting-navigators.mdx
  docs/pages/router/advance/root-layout.mdx
  docs/pages/router/advance/router-settings.mdx
  docs/pages/router/advance/stack.mdx
  docs/pages/router/advance/tabs.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/router/reference/faq.mdx
  docs/pages/router/reference/roadmap.mdx
  docs/pages/router/reference/screen-tracking.mdx
  docs/pages/router/reference/sitemap.mdx
  docs/pages/router/reference/troubleshooting.mdx
  docs/pages/router/reference/typescript.mdx
  docs/pages/router/static-rendering/async-routes.mdx
  docs/pages/router/static-rendering/root-html.mdx
  docs/public/static/images/expo-router-advance/directory.png
Labels: bot: passed checks

#22737 [@expo/config-plugins] Add comment to withUpdates to attempt to preempt bugs
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/build/ios/Updates.js
  packages/@expo/config-plugins/build/ios/Updates.js.map
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/ios/Updates.ts
  packages/expo-updates/plugin/src/withUpdates.ts
Labels: bot: suggestions

#22658 [android][image-picker] Use a more modern and streamlined system image picker
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  docs/public/static/data/unversioned/expo-image-picker.json
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/build.gradle
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ImagePicker.types.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
Labels: bot: passed checks

#22724 feat(cli): Add support for Metro lazy bundling
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ManifestMiddleware-test.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#22750 [docs] Add description to Development builds > Introduction page
  docs/pages/develop/development-builds/introduction.mdx
Labels: bot: passed checks

#22634 [gl] use jsi::Runtime from worklet only from UI thread
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/src/main/cpp/EXGLJniApi.cpp
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLContext.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/cpp/EXGL.java
  packages/expo-gl/common/EXGLNativeApi.cpp
  packages/expo-gl/common/EXGLNativeApi.h
  packages/expo-gl/common/EXGLNativeContext.cpp
  packages/expo-gl/common/EXGLNativeContext.h
  packages/expo-gl/common/EXWebGLRenderer.cpp
  packages/expo-gl/common/EXWebGLRenderer.h
  packages/expo-gl/ios/EXGLContext.mm
Labels: bot: passed checks

#22756 [image-picker] Fix AndroidManifest for Gradle 8
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
Labels: bot: suggestions

#22729 [docs] link to FYI for additional Firebase JS auth setup
  docs/pages/guides/using-firebase.mdx
Labels: bot: passed checks

#22735 [home] Remove use of app redirect username
  home/graphql.schema.json
  home/graphql/queries/ViewerPrimaryAccountNameQuery.query.graphql
  home/graphql/queries/ViewerUsernameQuery.query.graphql
  home/graphql/types.ts
  home/screens/AccountModal/LoggedOutAccountView.tsx
Labels: bot: passed checks

#22751 Disable minimum frame duration by default (CADisableMinimumFrameDurationOnPhone)
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/plugins/withIosBaseMods.js
  packages/@expo/config-plugins/build/plugins/withIosBaseMods.js.map
  packages/@expo/config-plugins/src/plugins/withIosBaseMods.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  templates/expo-template-bare-minimum/ios/HelloWorld/Info.plist
Labels: bot: suggestions

#22685 [use-updates] Config / config-plugins/metro-config deps should not be direct deps
  packages/@expo/use-updates/package.json
Labels: bot: suggestions

#22712 [dev-menu] Improve onboarding messaging
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/App.tsx
  packages/expo-dev-menu/app/components/LoadInitialData.tsx
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/components/Onboarding.tsx
Labels: bot: passed checks

#22726 [dev-launcher] fix hermes inspector connection issue
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/react-native-69/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManager.kt
  packages/expo-dev-launcher/android/src/react-native-72/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManager.kt
Labels: bot: passed checks

#22536 [docs] make `large` resource class only available for paid tier plans
  docs/public/static/schemas/unversioned/eas-json-build-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks

#22704 [docs] Add embedded video links in different docs
  docs/pages/build-reference/app-versions.mdx
  docs/pages/deploy/submit-to-app-stores.mdx
  docs/pages/develop/development-builds/create-a-build.mdx
Labels: bot: passed checks

#22769 [expo] bump bundled native version for sentry
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#22768 [docs] Format Glossary of terms page and move deprecated term to archive
  docs/pages/archive/glossary.mdx
  docs/pages/more/glossary-of-terms.mdx
Labels: bot: passed checks

#22107 [Android][expo-barcode-scanner] update barcode scanner library in Android
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/build.gradle
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerProvider.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/GMVBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/MLKitBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/ZxingBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/Frame.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/FrameFactory.kt
Labels: bot: passed checks

#22716 [expo-secure-store][android] Added automatic invalidated key exception handling
  docs/public/static/data/unversioned/expo-secure-store.json
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/android/src/main/java/expo/modules/securestore/SecureStoreExceptions.kt
  packages/expo-secure-store/android/src/main/java/expo/modules/securestore/SecureStoreModule.java
  packages/expo-secure-store/build/SecureStore.d.ts
  packages/expo-secure-store/build/SecureStore.d.ts.map
  packages/expo-secure-store/build/SecureStore.js
  packages/expo-secure-store/build/SecureStore.js.map
  packages/expo-secure-store/src/SecureStore.ts
Labels: bot: passed checks

#22765 [dev-launcher][dev-menu] Add contributing section to README
  packages/expo-dev-launcher/README.md
  packages/expo-dev-menu/README.md
Labels: bot: suggestions

#22793 [docs] tutorial wording tweak
  docs/pages/tutorial/create-your-first-app.mdx
Labels: bot: passed checks

#22797 [ci] use ubuntu-22.04 runner
  .github/workflows/android-unit-tests.yml
  .github/workflows/check-issues-nightly.yml
  .github/workflows/cli.yml
  .github/workflows/client-android-eas.yml
  .github/workflows/client-android.yml
  .github/workflows/client-ios-eas.yml
  .github/workflows/code-review.yml
  .github/workflows/commentator.yml
  .github/workflows/development-client.yml
  .github/workflows/docs.yml
  .github/workflows/dogfooding-clients.yml
  .github/workflows/expo-updates-cli.yml
  .github/workflows/expotools.yml
  .github/workflows/home.yml
  .github/workflows/issue-closed.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-stale.yml
  .github/workflows/issue-triage.yml
  .github/workflows/lock.yml
  .github/workflows/native-component-list.yml
  .github/workflows/publish-demo.yml
  .github/workflows/sdk.yml
  .github/workflows/shell-app-android.yml
  .github/workflows/shell-app-ios.yml
  .github/workflows/test-suite-lint.yml
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
  .github/workflows/updates-e2e.yml
  .github/workflows/web.yml
Labels: bot: passed checks

#22799 [docs] Remove unused installation instruction since SDK 45 is already dropped
  docs/components/plugins/InstallSection.tsx
Labels: bot: passed checks

#22801 Update SwiftLint to 0.52.2
  .github/workflows/code-review.yml
  .swiftlint.yml
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#22816 [docs] Fix link for Electron adapter example in Developer for web guide
  docs/pages/workflow/web.mdx
Labels: bot: passed checks

#22822 [config-plugins] add comment to update docs
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/ios/Updates.ts
Labels: bot: suggestions

#22792 [docs] wwdc23 capabilities updates
  docs/pages/build-reference/ios-capabilities.mdx
Labels: bot: passed checks

#22810 chore(template): drop missing reference to main.jsbundle
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#22748 feat(cli,router): support src/app directory in Expo Router
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/router.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/middleware/CreateFileMiddleware.ts
  packages/@expo/cli/src/start/server/type-generation/index.ts
  packages/@expo/cli/src/start/server/type-generation/routes.ts
  packages/@expo/cli/src/utils/dir.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/build/ios/Updates.js
  packages/@expo/config-plugins/build/ios/Updates.js.map
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
Labels: bot: passed checks

#22829 [docs] Remove duplicate "how" words
  docs/pages/eas-update/expo-dev-client.mdx
Labels: bot: passed checks

#22841 [home][ncl] fix loading or exporting bundles
  apps/native-component-list/metro.config.js
  dev-home-config.json
  home/metro.config.js
Labels: bot: passed checks

#22624 refactor(cli): only add `react` and `react-native` when missing in prebuild
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/__tests__/updatePackageJson-test.ts
  packages/@expo/cli/src/prebuild/updatePackageJson.ts
Labels: bot: passed checks

#22766 [cli] fix typecheck from react-native 0.72 upgrade
  .github/workflows/cli.yml
  packages/@expo/cli/package.json
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/start/server/metro/getCssModulesFromBundler.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/ts-declarations/metro-babel-transformer/index.d.ts
  packages/@expo/cli/ts-declarations/metro-config/index.d.ts
  packages/@expo/cli/ts-declarations/metro-source-map/index.d.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/dev-server/build/MetroDevServer.js
  packages/@expo/dev-server/build/MetroDevServer.js.map
  packages/@expo/dev-server/build/middleware/devServerMiddleware.d.ts
  packages/@expo/dev-server/src/MetroDevServer.ts
  yarn.lock
Labels: bot: suggestions

#22809 [docs] Document `eas device:rename`
  docs/pages/build/internal-distribution.mdx
Labels: bot: passed checks

#22820 [insights] Use CFBundleShortVersionString (aka: "version") rather than CFBundleVersion (aka: "build number")
  packages/expo-insights/ios/InsightsModule.swift
Labels: bot: passed checks

#22152 [screen-orientation][ios] Screen Orientation module audit
  apps/native-component-list/src/screens/ScreenOrientationScreen.tsx
  ios/Exponent/Kernel/Views/EXAppViewController.m
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/build/ExpoScreenOrientation.d.ts.map
  packages/expo-screen-orientation/build/ExpoScreenOrientation.js
  packages/expo-screen-orientation/build/ExpoScreenOrientation.js.map
  packages/expo-screen-orientation/expo-module.config.json
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationModule.h
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationModule.m
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationRegistry.h
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationRegistry.m
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationUtilities.h
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationUtilities.m
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationViewController.h
  packages/expo-screen-orientation/ios/EXScreenOrientation/EXScreenOrientationViewController.m
  packages/expo-screen-orientation/ios/EXScreenOrientation/NSString+UIInterfaceOrientationMask.h
  packages/expo-screen-orientation/ios/EXScreenOrientation/NSString+UIInterfaceOrientationMask.m
  packages/expo-screen-orientation/ios/ExpoScreenOrientation.podspec
  packages/expo-screen-orientation/ios/ScreenOrientationAppDelegate.swift
  packages/expo-screen-orientation/ios/ScreenOrientationExceptions.swift
  packages/expo-screen-orientation/ios/ScreenOrientationModule.swift
  packages/expo-screen-orientation/ios/ScreenOrientationRNSScreenWindowTraits.h
  packages/expo-screen-orientation/ios/ScreenOrientationReactDelegateHandler.swift
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
  packages/expo-screen-orientation/ios/ScreenOrientationUtilities.swift
  packages/expo-screen-orientation/ios/ScreenOrientationViewController.swift
  packages/expo-screen-orientation/ios/enums/ModuleOrientation.swift
  packages/expo-screen-orientation/ios/enums/ModuleOrientationLock.swift
  packages/expo-screen-orientation/src/ExpoScreenOrientation.ts
Labels: bot: passed checks

#22736 [cli] Add dependency exclusion to `npx expo install`
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/install/__tests__/checkPackages-test.ts
  packages/@expo/cli/src/install/checkPackages.ts
  packages/@expo/cli/src/install/installAsync.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/getVersionedPackages-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
  packages/@expo/cli/src/utils/__tests__/strings-test.ts
  packages/@expo/cli/src/utils/strings.ts
Labels: bot: passed checks

#22861 [docs] Update callout in reference docs for third party libraries
  docs/pages/versions/unversioned/sdk/captureRef.mdx
  docs/pages/versions/unversioned/sdk/flash-list.mdx
  docs/pages/versions/unversioned/sdk/lottie.mdx
  docs/pages/versions/unversioned/sdk/map-view.mdx
  docs/pages/versions/unversioned/sdk/picker.mdx
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/unversioned/sdk/safe-area-context.mdx
  docs/pages/versions/unversioned/sdk/shared-element.mdx
  docs/pages/versions/unversioned/sdk/skia.mdx
  docs/pages/versions/unversioned/sdk/svg.mdx
  docs/pages/versions/unversioned/sdk/view-pager.mdx
  docs/pages/versions/v46.0.0/sdk/captureRef.mdx
  docs/pages/versions/v46.0.0/sdk/flash-list.mdx
  docs/pages/versions/v46.0.0/sdk/lottie.mdx
  docs/pages/versions/v46.0.0/sdk/map-view.mdx
  docs/pages/versions/v46.0.0/sdk/picker.mdx
  docs/pages/versions/v46.0.0/sdk/reanimated.mdx
  docs/pages/versions/v46.0.0/sdk/safe-area-context.mdx
  docs/pages/versions/v46.0.0/sdk/shared-element.mdx
  docs/pages/versions/v46.0.0/sdk/skia.mdx
  docs/pages/versions/v46.0.0/sdk/svg.mdx
  docs/pages/versions/v46.0.0/sdk/view-pager.mdx
  docs/pages/versions/v47.0.0/sdk/captureRef.mdx
  docs/pages/versions/v47.0.0/sdk/flash-list.mdx
  docs/pages/versions/v47.0.0/sdk/lottie.mdx
  docs/pages/versions/v47.0.0/sdk/map-view.mdx
  docs/pages/versions/v47.0.0/sdk/picker.mdx
  docs/pages/versions/v47.0.0/sdk/reanimated.mdx
  docs/pages/versions/v47.0.0/sdk/safe-area-context.mdx
  docs/pages/versions/v47.0.0/sdk/shared-element.mdx
  docs/pages/versions/v47.0.0/sdk/skia.mdx
  docs/pages/versions/v47.0.0/sdk/svg.mdx
  docs/pages/versions/v47.0.0/sdk/view-pager.mdx
  docs/pages/versions/v48.0.0/sdk/captureRef.mdx
  docs/pages/versions/v48.0.0/sdk/flash-list.mdx
  docs/pages/versions/v48.0.0/sdk/lottie.mdx
  docs/pages/versions/v48.0.0/sdk/map-view.mdx
  docs/pages/versions/v48.0.0/sdk/picker.mdx
  docs/pages/versions/v48.0.0/sdk/reanimated.mdx
  docs/pages/versions/v48.0.0/sdk/safe-area-context.mdx
  docs/pages/versions/v48.0.0/sdk/shared-element.mdx
  docs/pages/versions/v48.0.0/sdk/skia.mdx
  docs/pages/versions/v48.0.0/sdk/svg.mdx
  docs/pages/versions/v48.0.0/sdk/view-pager.mdx
Labels: bot: passed checks

#22867 fix(cli, metro-config): fix tests and types
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/ts-declarations/metro-babel-transformer/index.d.ts
  packages/@expo/cli/ts-declarations/metro-source-map/index.d.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.d.ts
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js.map
  packages/@expo/metro-config/build/serializer/getCssDeps.d.ts
  packages/@expo/metro-config/build/serializer/getCssDeps.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.d.ts
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/build/traveling/metro-config.d.ts
  packages/@expo/metro-config/build/traveling/metro-config.js.map
  packages/@expo/metro-config/src/serializer/environmentVariableSerializerPlugin.ts
  packages/@expo/metro-config/src/serializer/getCssDeps.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
  packages/@expo/metro-config/src/traveling/metro-config.ts
Labels: bot: passed checks

#22868 Upgrade vendored lottie to 5.1.6
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/lottie-react-native/lottie-react-native.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22874 fix(cli): noop source maps for context modules
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ContextModuleSourceMapsMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ContextModuleSourceMapsMiddleware.test.ts
Labels: bot: suggestions

#22283 Intro to Continuous Native Generation
  docs/constants/navigation.js
  docs/pages/workflow/continuous-native-generation.mdx
Labels: bot: passed checks

#22863 [home] Add support for SSO users
  home/HomeApp.tsx
  home/api/ApolloClient.ts
  home/graphql.schema.json
  home/graphql/fragments/CurrentUserActorData.fragment.graphql
  home/graphql/queries/CurrentUserActorQuery.query.graphql
  home/graphql/queries/CurrentUserQuery.query.graphql
  home/graphql/queries/ProfileDataQuery.query.graphql
  home/graphql/queries/ProfileProjectsQuery.query.graphql
  home/graphql/queries/ProfileSnacksQuery.query.graphql
  home/graphql/types.ts
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/AccountModal/LoggedOutAccountView.tsx
  home/screens/AccountModal/index.tsx
  home/screens/HomeScreen/HomeScreenData.query.graphql
  home/screens/HomeScreen/HomeScreenHeader.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/screens/SettingsScreen/index.tsx
  home/utils/InitialDataContext.tsx
Labels: bot: passed checks

#22866 [dev-launcher] Run tsc on bundle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/apiClient.ts
  packages/expo-dev-launcher/bundle/functions/getDevSessionsAsync.ts
  packages/expo-dev-launcher/bundle/hooks/__mocks__/useDebounce.tsx
  packages/expo-dev-launcher/bundle/hooks/useOnUpdatePress.tsx
  packages/expo-dev-launcher/bundle/native-modules/DevLauncherInternal.ts
  packages/expo-dev-launcher/bundle/providers/AppProviders.tsx
  packages/expo-dev-launcher/bundle/providers/PendingDeepLinkProvider.tsx
  packages/expo-dev-launcher/bundle/providers/UpdatesConfigProvider.tsx
  packages/expo-dev-launcher/bundle/queries/useBranchesForApp.tsx
  packages/expo-dev-launcher/bundle/queries/useChannelsForApp.tsx
  packages/expo-dev-launcher/bundle/queries/useUpdatesForBranch.tsx
  packages/expo-dev-launcher/bundle/screens/CrashReportScreen.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/BranchesScreen.test.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/ExtensionsScreen.test.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/UpdatesScreen.test.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/UserProfileScreen.test.tsx
  packages/expo-dev-launcher/bundle/tsconfig.json
  packages/expo-dev-launcher/bundle/types.ts
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
Labels: bot: suggestions

#22882 [docs] Mark slider as supported on web
  docs/pages/versions/unversioned/sdk/slider.mdx
  docs/pages/versions/v46.0.0/sdk/slider.mdx
  docs/pages/versions/v47.0.0/sdk/slider.mdx
  docs/pages/versions/v48.0.0/sdk/slider.mdx
Labels: bot: passed checks

#22869 [go][android] ScopedContext error
  android/expoview/src/main/java/host/exp/exponent/utils/ScopedContext.kt
Labels: bot: passed checks

#22870 [dev-launcher] Mitigate unit tests flakiness
  packages/expo-dev-launcher/bundle/screens/__tests__/BranchesScreen.test.tsx
Labels: bot: suggestions

#22885 [docs] Footer: fix mobile layout
  docs/ui/components/Footer/Footer.tsx
  docs/ui/components/Footer/PageVote.tsx
Labels: bot: passed checks

#22802 [ci][android] fix versioned expo go build error
  .github/actions/expo-caches/action.yml
  android/versioned-abis/expoview-abi47_0_0/build.gradle
  android/versioned-abis/expoview-abi48_0_0/build.gradle
Labels: bot: passed checks

#22871 Bump babel-plugin-module-resolver
  apps/bare-expo/package.json
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/package.json
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/package.json
  yarn.lock
Labels: bot: passed checks

#22872 chore(config-plugins, prebuild-config): bump xml2js
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/package.json
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/package.json
  yarn.lock
Labels: bot: passed checks

#22896 [docs] Fix typo in Tutorial
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#22892 [Android][iOS] @react-native-community/netinfo 9.3.10, react-native-pager-view to 6.2.0
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/ConnectivityReceiver.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-community/netinfo/react-native-netinfo.podspec.json
  ios/vendored/unversioned/react-native-pager-view/ios/Fabric/RNCPagerViewComponentView.mm
  ios/vendored/unversioned/react-native-pager-view/ios/ReactNativePageView.m
  ios/vendored/unversioned/react-native-pager-view/react-native-pager-view.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22902 [ios][android] Update react-native-view-shot to 3.6.0
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/DebugViews.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/viewshot/ViewShot.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22844 [docs] Fix minor typo in Expo Go page
  docs/pages/get-started/expo-go.mdx
Labels: bot: passed checks

#22815 [docs] Remove Archive > Introduction from the sidebar
  docs/constants/navigation.js
  docs/pages/archive/index.mdx
Labels: bot: passed checks

#22909 [docs] Add callout in Slider reference docs
  docs/pages/versions/unversioned/sdk/slider.mdx
  docs/pages/versions/v46.0.0/sdk/slider.mdx
  docs/pages/versions/v47.0.0/sdk/slider.mdx
  docs/pages/versions/v48.0.0/sdk/slider.mdx
Labels: bot: passed checks

#22899 add plugin-proposal-export-namespace-from by default
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
  packages/babel-preset-expo/__tests__/index-test.js
  packages/babel-preset-expo/index.js
  packages/babel-preset-expo/package.json
Labels: bot: passed checks

#22847 [dev-launcher] Fix "multiple screens with the same name" warning
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/App.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks

#22925 feat(cli): add --go option to expo start
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/start/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/start/index.ts
  packages/@expo/cli/src/start/resolveOptions.ts
Labels: bot: passed checks

#22850 [docs] Update router faq
  docs/pages/router/reference/faq.mdx
Labels: bot: passed checks

#22849 chore(docs): Update async-routes.mdx
  docs/pages/router/static-rendering/async-routes.mdx
  docs/public/static/videos/expo-router/async-routes.mp4
Labels: bot: passed checks

#22786 [dev-launcher] Improve URL input validation responsiveness
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/components/UrlDropdown.tsx
  packages/expo-dev-launcher/bundle/functions/debounce.ts
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks

#22898 chore: update react-native@0.72.0-rc.6
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-expo/android/gradle.properties
  apps/bare-expo/package.json
  apps/eas-expo-go/eas.json
  apps/fabric-tester/android/gradle.properties
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  ios/Podfile.lock
  package.json
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  templates/expo-template-bare-minimum/android/gradle.properties
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions

#22879 [dev-launcher][ios] strip initialURL when deep linking from dev launcher
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
Labels: bot: passed checks

#22893 [android][ios] Upgrade @shopify/flash-list to 1.4.3
  android/vendored/unversioned/@shopify/flash-list/android/src/main/kotlin/com/shopify/reactnative/flash_list/AutoLayoutShadow.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@shopify/flash-list/RNFlashList.podspec.json
  ios/vendored/unversioned/@shopify/flash-list/ios/Sources/AutoLayoutView.swift
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22929 Fix metro JSC urls.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
  yarn.lock
Labels: bot: passed checks

#22846 [docs] Create platform-specific-modules guide for router
  docs/pages/router/advance/platform-specific-modules.mdx
Labels: bot: passed checks

#22881 feat(metro): strip `app/+html` files from client bundles.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: passed checks

#22650 update template gitignores
  templates/expo-template-bare-minimum/gitignore
  templates/expo-template-blank-typescript/gitignore
  templates/expo-template-blank/gitignore
  templates/expo-template-tabs/gitignore
Labels: bot: passed checks

#22880 [cli][packages] unify the default dev server port to 8081
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/run/android/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/run/ios/options/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/start/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/start/index.ts
  packages/@expo/cli/src/start/platforms/PlatformManager.ts
  packages/@expo/cli/src/start/platforms/__tests__/PlatformManager-test.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/AndroidPlatformManager-test.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/gradle-test.ts
  packages/@expo/cli/src/start/platforms/ios/__tests__/ApplePlatformManager-test.ts
  packages/@expo/cli/src/start/resolveOptions.ts
  packages/@expo/cli/src/start/server/UrlCreator.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/CreateFileMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/HistoryFallbackMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/InterstitialPageMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/RuntimeRedirectMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/resolvePlatform-test.ts
  packages/@expo/dev-server/build/middleware/clientLogsMiddleware.js
  packages/@expo/dev-server/build/middleware/clientLogsMiddleware.js.map
  packages/@expo/dev-server/src/middleware/__tests__/clientLogsMiddleware-test.ts
  packages/@expo/dev-server/src/middleware/clientLogsMiddleware.ts
  packages/expo-asset/src/__tests__/AssetSources-test.ts
  packages/expo-auth-session/build/AuthSession.d.ts
  packages/expo-auth-session/build/AuthSession.js
  packages/expo-auth-session/build/AuthSession.js.map
  packages/expo-auth-session/src/AuthSession.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestParserTest.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/launcher/manifest/DevLauncherManifestTest.kt
  packages/expo-dev-launcher/android/src/testDebug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactoryTest.kt
  packages/expo-dev-launcher/bundle/components/UrlDropdown.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/src/Linking.ts
  packages/expo-linking/src/__tests__/Linking-test.ts
  packages/expo-linking/src/__tests__/__snapshots__/Linking-test.ts.snap.android
  packages/expo-linking/src/__tests__/__snapshots__/Linking-test.ts.snap.ios
  packages/expo-linking/src/__tests__/__snapshots__/Linking-test.ts.snap.node
  packages/expo-linking/src/__tests__/__snapshots__/Linking-test.ts.snap.web
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo/build/environment/logging.fx.js
  packages/expo/build/environment/logging.fx.js.map
  packages/expo/src/environment/logging.fx.ts
Labels: bot: suggestions

#22923 [docs] PageTitle: refactor code in attempt to improve search
  docs/ui/components/PageTitle/PageTitle.tsx
Labels: bot: passed checks

#22906 Update vendored gesture handler to 2.12.0
  android/vendored/unversioned/react-native-gesture-handler/android/build.gradle
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/test-suite/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-gesture-handler/RNGestureHandler.podspec.json
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerManager.mm
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22940 [dev-launcher] Update bundle
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions

#22946 Fix wrong podfile lock hashes
  apps/bare-expo/ios/Podfile.lock
Labels: bot: passed checks

#22927 feat(docs): use custom layout icon for Expo Router Layout Routes
  docs/components/base/code.tsx
  docs/ui/components/FileTree/index.tsx
Labels: bot: passed checks

#22924 feat(cli): Add ability to switch runtimes during start.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/commandsTable.ts
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/interface/startInterface.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/start/server/UrlCreator.ts
Labels: bot: passed checks

#22883 [ENG-8871][docs] Codepush to EAS Update migration guide
  docs/constants/navigation.js
  docs/pages/bare/updating-your-app.mdx
  docs/pages/build/setup.mdx
  docs/pages/distribution/runtime-versions.mdx
  docs/pages/eas-update/eas-update-with-local-build.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/eas-update/migrate-codepush-to-eas-update.mdx
Labels: bot: passed checks

#22949 [android] fix versioned build error
  android/vendored/sdk47/react-native-reanimated/android/build.gradle
  android/vendored/sdk48/react-native-reanimated/android/build.gradle
Labels: bot: passed checks

#22936 refactor(cli): enable inspector proxy with network support by default
  docs/pages/more/expo-cli.mdx
  docs/ui/components/Tag/StatusTag.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/inspector-proxy/index.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#22739 [docs] Update installation guide
  docs/pages/get-started/create-a-project.mdx
  docs/pages/get-started/expo-go.mdx
  docs/pages/get-started/installation.mdx
Labels: bot: passed checks

#22956 [docs] Hide TOC in metro.config.js doc
  docs/pages/versions/v46.0.0/config/metro.mdx
  docs/pages/versions/v47.0.0/config/metro.mdx
  docs/pages/versions/v48.0.0/config/metro.mdx
Labels: bot: passed checks

#22955 [docs] Add info about known `UIImagePickerController` iOS issue in Image Picker and minor fix in usage section
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/v46.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v47.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v48.0.0/sdk/imagepicker.mdx
Labels: bot: passed checks

#22958 [ios][android] Update react-native-safe-area-context to 4.5.3
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdges.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdges.m
  ios/vendored/unversioned/react-native-safe-area-context/react-native-safe-area-context.podspec.json
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22957 [ios][android] Update @react-native-async-storage to 1.18.2
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/build.gradle
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/next/StorageSupplier.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-async-storage/async-storage/RNCAsyncStorage.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22827 [android][splash-screen] Migrate to new modules API
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenModule.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenPackage.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenViewController.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/exceptions/NoContentViewException.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/exceptions/SplashScreenExceptions.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/singletons/SplashScreenStatusBar.kt
  packages/expo-splash-screen/build/ExpoSplashScreen.d.ts
  packages/expo-splash-screen/build/ExpoSplashScreen.d.ts.map
  packages/expo-splash-screen/build/ExpoSplashScreen.js
  packages/expo-splash-screen/build/ExpoSplashScreen.js.map
  packages/expo-splash-screen/expo-module.config.json
  packages/expo-splash-screen/src/ExpoSplashScreen.ts
  packages/expo-splash-screen/unimodule.json
Labels: bot: passed checks

#22963 [docs] Fix formatting issues and other guidelines in CNG doc
  docs/pages/workflow/continuous-native-generation.mdx
Labels: bot: passed checks

#22965 [docs] Fix warning text to use `Callout` in Version Redirect Notification
  docs/components/plugins/VersionedRedirectNotification.tsx
Labels: bot: passed checks

#22966 [docs] Fix image max width in CNG doc
  docs/pages/workflow/continuous-native-generation.mdx
Labels: bot: passed checks

#22823 [ios][clipboard] Implement UIPasteControl button
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ClipboardPasteButtonScreen.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/build/Clipboard.d.ts
  packages/expo-clipboard/build/Clipboard.d.ts.map
  packages/expo-clipboard/build/Clipboard.js
  packages/expo-clipboard/build/Clipboard.js.map
  packages/expo-clipboard/build/Clipboard.types.d.ts
  packages/expo-clipboard/build/Clipboard.types.d.ts.map
  packages/expo-clipboard/build/Clipboard.types.js.map
  packages/expo-clipboard/build/ClipboardPasteButton.d.ts
  packages/expo-clipboard/build/ClipboardPasteButton.d.ts.map
  packages/expo-clipboard/build/ClipboardPasteButton.js
  packages/expo-clipboard/build/ClipboardPasteButton.js.map
  packages/expo-clipboard/build/ExpoClipboardPasteButton.d.ts
  packages/expo-clipboard/build/ExpoClipboardPasteButton.d.ts.map
  packages/expo-clipboard/build/ExpoClipboardPasteButton.js
  packages/expo-clipboard/build/ExpoClipboardPasteButton.js.map
  packages/expo-clipboard/ios/ClipboardModule.swift
  packages/expo-clipboard/ios/ClipboardPasteButton.swift
  packages/expo-clipboard/ios/ClipboardPasteButtonRecords.swift
  packages/expo-clipboard/src/Clipboard.ts
  packages/expo-clipboard/src/Clipboard.types.ts
  packages/expo-clipboard/src/ClipboardPasteButton.tsx
  packages/expo-clipboard/src/ExpoClipboardPasteButton.ts
Labels: bot: passed checks

#22907 [go] update react-native-reanimated to 3.3.0
  android/vendored/unversioned/react-native-reanimated/android/build.gradle
  android/vendored/unversioned/react-native-reanimated/android/src/main/cpp/NativeProxy.cpp
  android/vendored/unversioned/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/keyboardObserver/ReanimatedKeyboardEventListener.java
  android/vendored/unversioned/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/layoutReanimation/AnimationsManager.java
  android/vendored/unversioned/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/sensor/ReanimatedSensorListener.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  dev-home-config.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-reanimated/RNReanimated.podspec.json
  ios/vendored/unversioned/react-native-reanimated/ios/LayoutReanimation/REAAnimationsManager.m
  ios/vendored/unversioned/react-native-reanimated/ios/REAModule.mm
  ios/vendored/unversioned/react-native-reanimated/ios/REANodesManager.mm
  ios/vendored/unversioned/react-native-reanimated/ios/keyboardObserver/REAKeyboardEventObserver.h
  ios/vendored/unversioned/react-native-reanimated/ios/native/RCTAppDelegate+Reanimated.h
  ios/vendored/unversioned/react-native-reanimated/ios/native/RCTAppDelegate+Reanimated.mm
  ios/vendored/unversioned/react-native-reanimated/ios/native/REAInitializer.h
  ios/vendored/unversioned/react-native-reanimated/ios/native/REAInitializer.mm
  ios/vendored/unversioned/react-native-reanimated/ios/native/UIResponder+Reanimated.h
  ios/vendored/unversioned/react-native-reanimated/ios/native/UIResponder+Reanimated.mm
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  yarn.lock
Labels: bot: passed checks

#22785 [build-properties][autolinking] add extraPods and extraMavenRepos
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/pluginConfig-test.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/autolinking/extraDependencies.d.ts
  packages/expo-modules-autolinking/build/autolinking/extraDependencies.js
  packages/expo-modules-autolinking/build/autolinking/extraDependencies.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/package.json
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/src/autolinking/__tests__/extraDependencies-test.ts
  packages/expo-modules-autolinking/src/autolinking/extraDependencies.ts
  packages/expo-modules-autolinking/src/index.ts
Labels: bot: passed checks

#22953 [docs] expo update: strings.xml diff block
  docs/pages/bare/installing-updates.mdx
  docs/pages/bare/updating-your-app.mdx
  docs/pages/distribution/runtime-versions.mdx
  docs/public/static/diffs/expo-update-strings-xml.diff
Labels: bot: passed checks

#22919 [go] upgrade @react-native-picker/picker to 2.4.10
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/PickerScreen.tsx
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPicker.h
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPicker.m
  ios/Exponent/Versioned/Core/Api/Components/Picker/RNCPickerManager.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#22911 [go] upgrade @react-native-segmented-control/segmented-control to 2.4.1
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-segmented-control/segmented-control/react-native-segmented-control.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#21067 [templates][config-plugins][dev-server] aligned hermesEnabled property
  android/gradle.properties
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/gradle.properties
  apps/fabric-tester/android/app/build.gradle
  apps/fabric-tester/android/gradle.properties
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/BuildProperties.js
  packages/@expo/config-plugins/build/android/BuildProperties.js.map
  packages/@expo/config-plugins/build/utils/BuildProperties.types.d.ts
  packages/@expo/config-plugins/build/utils/BuildProperties.types.js.map
  packages/@expo/config-plugins/src/android/BuildProperties.ts
  packages/@expo/config-plugins/src/android/__tests__/BuildProperties-test.ts
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Updates-test.ts.snap
  packages/@expo/config-plugins/src/utils/BuildProperties.types.ts
  packages/@expo/dev-server/build/HermesBundler.js
  packages/@expo/dev-server/build/HermesBundler.js.map
  packages/@expo/dev-server/src/HermesBundler.ts
  packages/@expo/dev-server/src/__tests__/HermesBundler-test.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/expo-modules-core/android/CMakeLists.txt
  packages/expo-modules-core/android/build.gradle
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/gradle.properties
Labels: bot: suggestions

#22184 [dev-launcher][dev-menu][ios] Add support for Fabric
  apps/fabric-tester/ios/Podfile.lock
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherBridgeDelegate.h
  packages/expo-dev-launcher/ios/EXDevLauncherBridgeDelegate.mm
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXRCTAppDelegateInterceptor.h
  packages/expo-dev-launcher/ios/EXRCTAppDelegateInterceptor.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherBridgeDelegateHandler.h
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherBridgeDelegateHandler.mm
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/ios/DevClientAppDelegate.h
  packages/expo-dev-menu/ios/DevClientAppDelegate.mm
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-dev-menu/ios/DevMenuDevOptionsDelegate.swift
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuRCTBridge.h
  packages/expo-dev-menu/ios/DevMenuRCTBridge.mm
  packages/expo-dev-menu/ios/DevMenuWindow.swift
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
Labels: bot: passed checks

#22935 [expo] Bump sentry-expo and @sentry/react-native versions for SDK 49
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#22763 [expo-localization] Add hooks, config plugin changes and more features to expo-localization
  apps/bare-expo/android/app/src/main/AndroidManifest.xml
  apps/native-component-list/src/screens/LocalizationScreen.tsx
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationPackage.kt
  packages/expo-localization/build/ExpoLocalization.d.ts
  packages/expo-localization/build/ExpoLocalization.d.ts.map
  packages/expo-localization/build/ExpoLocalization.js
  packages/expo-localization/build/ExpoLocalization.js.map
  packages/expo-localization/build/ExpoLocalization.native.d.ts
  packages/expo-localization/build/ExpoLocalization.native.d.ts.map
  packages/expo-localization/build/ExpoLocalization.native.js
  packages/expo-localization/build/ExpoLocalization.native.js.map
  packages/expo-localization/build/Localization.d.ts
  packages/expo-localization/build/Localization.d.ts.map
  packages/expo-localization/build/Localization.js
  packages/expo-localization/build/Localization.js.map
  packages/expo-localization/build/Localization.types.d.ts
  packages/expo-localization/build/Localization.types.d.ts.map
  packages/expo-localization/build/Localization.types.js.map
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/plugin/build/withExpoLocalization.d.ts
  packages/expo-localization/plugin/build/withExpoLocalization.js
  packages/expo-localization/plugin/src/withExpoLocalization.ts
  packages/expo-localization/src/ExpoLocalization.native.ts
  packages/expo-localization/src/ExpoLocalization.ts
  packages/expo-localization/src/Localization.ts
  packages/expo-localization/src/Localization.types.ts
Labels: bot: passed checks

#22987 [docs] Update final snack link in Tutorial
  docs/pages/tutorial/introduction.mdx
Labels: bot: passed checks

#22988 [docs] Update guideline about using Libraries over module & add internal link
  guides/Expo Documentation Writing Style Guide.md
Labels: bot: passed checks

#22975 chore(cli): suppress EAS signing log in general workflow
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/codesigning.ts
Labels: bot: passed checks

#22851 [docs] Add ssg doc for expo router
  docs/constants/navigation.js
  docs/pages/router/reference/async-routes.mdx
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/router/static-rendering/root-html.mdx
Labels: bot: passed checks

#22848 chore(cli, docs): update typed routes
  docs/constants/navigation.js
  docs/pages/more/expo-cli.mdx
  docs/pages/router/reference/typed-routes.mdx
  docs/pages/router/reference/typescript.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/type-generation/__tests__/startTypescriptTypeGeneration.test.ts
  packages/@expo/cli/src/start/server/type-generation/startTypescriptTypeGeneration.ts
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/cli/src/utils/mergeGitIgnorePaths.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/Schemes.d.ts.map
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Schemes.ts
  packages/expo-linking/src/__tests__/Schemes-test.native.ts
Labels: bot: passed checks

#22982 [updates] add brotli support on android
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: passed checks

#22994 [build-properties] enable network inspector by default
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/ios.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/android-test.ts
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/ios.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: passed checks

#22973 [docs] Step: fix possible overflow on mobile in certain cases
  docs/ui/components/Step/Step.tsx
Labels: bot: passed checks

#22985 [expo-localization] Fix spotless lint on expo-localization
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationPackage.kt
Labels: bot: suggestions

#22990 [docs] Fix link with firebase example
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
Labels: bot: passed checks

#22052 [docs] replace class component example on `battery.md`
  docs/pages/versions/unversioned/sdk/battery.mdx
Labels: bot: passed checks

#22978 [docs] eas update: better navigation titles
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/eas-update/developing-with-eas-update.mdx
  docs/pages/eas-update/eas-update-and-eas-cli.mdx
  docs/pages/eas-update/eas-update-with-local-build.mdx
  docs/pages/eas-update/environment-variables.mdx
  docs/pages/eas-update/expo-dev-client.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/eas-update/migrate-to-eas-update.mdx
  docs/pages/eas-update/optimize-assets.mdx
Labels: bot: passed checks

#23000 feat(blur): enable blurring by default when static rendering.
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/src/BlurView.web.tsx
Labels: bot: passed checks

#22961 feat(cli): improve offline support
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/__mocks__/settings.ts
  packages/@expo/cli/src/api/rest/__tests__/wrapFetchWithOffline-test.ts
  packages/@expo/cli/src/api/rest/client.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithOffline.ts
  packages/@expo/cli/src/api/settings.ts
  packages/@expo/cli/src/api/user/__tests__/user-test.ts
  packages/@expo/cli/src/api/user/actions.ts
  packages/@expo/cli/src/api/user/user.ts
  packages/@expo/cli/src/register/__tests__/registerAsync.test.ts
  packages/@expo/cli/src/register/registerAsync.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/getVersionedPackages-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/bundledNativeModules.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
  packages/@expo/cli/src/start/index.ts
  packages/@expo/cli/src/start/platforms/ExpoGoInstaller.ts
  packages/@expo/cli/src/start/platforms/__tests__/ExpoGoInstaller-test.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevelopmentSession.ts
  packages/@expo/cli/src/start/server/__tests__/DevelopmentSession-test.ts
  packages/@expo/cli/src/start/server/middleware/ClassicManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ClassicManifestMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ExpoGoManifestHandlerMiddleware-test.ts
  packages/@expo/cli/src/utils/__tests__/codesigning-test.ts
  packages/@expo/cli/src/utils/__tests__/validateApplicationId-test.ts
  packages/@expo/cli/src/utils/ansi.ts
  packages/@expo/cli/src/utils/codesigning.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/cli/src/utils/validateApplicationId.ts
Labels: bot: passed checks

#22926 feat(cli): auto enable --dev-client in `npx expo start`
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/start/resolveOptions.ts
  packages/@expo/cli/src/utils/analytics/getDevClientProperties.ts
Labels: bot: passed checks

#23002 feat!(metro-config): add unstable_styles to css modules
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/css-modules.d.ts
  packages/@expo/metro-config/build/transform-worker/css-modules.js
  packages/@expo/metro-config/build/transform-worker/css-modules.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/css-modules.test.ts
  packages/@expo/metro-config/src/transform-worker/css-modules.ts
Labels: bot: passed checks

#23006 Add more banners for SDK packages
  .github/resources/expo-calendar.svg
  .github/resources/expo-cellular.svg
  .github/resources/expo-clipboard.svg
  .github/resources/expo-contacts.svg
  .github/resources/expo-dev-client.svg
  .github/resources/expo-device.svg
  .github/resources/expo-document-picker.svg
  .github/resources/expo-font.svg
  .github/resources/expo-keep-awake.svg
  .github/resources/expo-print.svg
  .github/resources/expo-screen-orientation.svg
  .github/resources/expo-sharing.svg
  .github/resources/expo-speech.svg
  .github/resources/expo-splash-screen.svg
  .github/resources/expo-sqlite.svg
  .github/resources/expo-status-bar.svg
  .github/resources/expo-store-review.svg
  .github/resources/expo-updates.svg
  packages/expo-calendar/README.md
  packages/expo-cellular/README.md
  packages/expo-clipboard/README.md
  packages/expo-contacts/README.md
  packages/expo-dev-client/README.md
  packages/expo-device/README.md
  packages/expo-document-picker/README.md
  packages/expo-font/README.md
  packages/expo-keep-awake/README.md
  packages/expo-print/README.md
  packages/expo-screen-orientation/README.md
  packages/expo-sharing/README.md
  packages/expo-speech/README.md
  packages/expo-splash-screen/README.md
  packages/expo-sqlite/README.md
  packages/expo-status-bar/README.md
  packages/expo-store-review/README.md
  packages/expo-updates/README.md
Labels: bot: suggestions

#22999 Prune root changelog entries for SDK 47 and older
  CHANGELOG.md
Labels: bot: needs changes

#23015 [docs] more eas update sidebar renames
  docs/pages/eas-update/github-actions.mdx
  docs/pages/eas-update/how-eas-update-works.mdx
Labels: bot: passed checks

#23001 [go] Improve onboarding messaging
  home/menu/DevMenuOnboarding.tsx
  home/menu/DevMenuServerInfo.tsx
  home/menu/DevMenuTaskInfo.tsx
  home/menu/DevMenuView.tsx
Labels: bot: passed checks

#22979 [ENG-9026][docs] better eas update file names
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/archive/classic-updates/introduction.mdx
  docs/pages/bare/error-recovery.mdx
  docs/pages/bare/installing-updates.mdx
  docs/pages/build-reference/migrating.mdx
  docs/pages/build/updates.mdx
  docs/pages/deploy/instant-updates.mdx
  docs/pages/eas-update/build-locally.mdx
  docs/pages/eas-update/debug.mdx
  docs/pages/eas-update/develop-faster.mdx
  docs/pages/eas-update/eas-cli.mdx
  docs/pages/eas-update/how-it-works.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/eas-update/migrate-from-classic-updates.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v47.0.0/sdk/updates.mdx
  docs/pages/versions/v48.0.0/sdk/updates.mdx
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
Labels: bot: passed checks

#22830 [web][location] Remove Geocoding API
  packages/expo-location/CHANGELOG.md
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.d.ts.map
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/build/LocationGoogleGeocoding.d.ts
  packages/expo-location/build/LocationGoogleGeocoding.d.ts.map
  packages/expo-location/build/LocationGoogleGeocoding.js
  packages/expo-location/build/LocationGoogleGeocoding.js.map
  packages/expo-location/src/Location.ts
  packages/expo-location/src/LocationGoogleGeocoding.ts
Labels: bot: passed checks

#22834 [auth-session] Remove all auth proxy APIs
  apps/native-component-list/src/screens/AuthSession/AuthResult.tsx
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  apps/native-component-list/src/screens/AuthSession/LegacyAuthSession.tsx
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequest.d.ts
  packages/expo-auth-session/build/AuthRequest.d.ts.map
  packages/expo-auth-session/build/AuthRequest.js
  packages/expo-auth-session/build/AuthRequest.js.map
  packages/expo-auth-session/build/AuthRequest.types.d.ts
  packages/expo-auth-session/build/AuthRequest.types.d.ts.map
  packages/expo-auth-session/build/AuthRequest.types.js.map
  packages/expo-auth-session/build/AuthSession.d.ts
  packages/expo-auth-session/build/AuthSession.d.ts.map
  packages/expo-auth-session/build/AuthSession.js
  packages/expo-auth-session/build/AuthSession.js.map
  packages/expo-auth-session/build/AuthSession.types.d.ts
  packages/expo-auth-session/build/AuthSession.types.d.ts.map
  packages/expo-auth-session/build/AuthSession.types.js.map
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/build/providers/Facebook.d.ts.map
  packages/expo-auth-session/build/providers/Facebook.js
  packages/expo-auth-session/build/providers/Facebook.js.map
  packages/expo-auth-session/build/providers/Google.d.ts.map
  packages/expo-auth-session/build/providers/Google.js
  packages/expo-auth-session/build/providers/Google.js.map
  packages/expo-auth-session/build/providers/ProviderUtils.d.ts
  packages/expo-auth-session/build/providers/ProviderUtils.d.ts.map
  packages/expo-auth-session/build/providers/ProviderUtils.js
  packages/expo-auth-session/build/providers/ProviderUtils.js.map
  packages/expo-auth-session/src/AuthRequest.ts
  packages/expo-auth-session/src/AuthRequest.types.ts
  packages/expo-auth-session/src/AuthSession.ts
  packages/expo-auth-session/src/AuthSession.types.ts
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.ios.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.web.ts
  packages/expo-auth-session/src/__tests__/SessionUrlProvider-test.ts
  packages/expo-auth-session/src/__tests__/__snapshots__/AuthSession-test.ios.ts.snap.ios
  packages/expo-auth-session/src/providers/Facebook.ts
  packages/expo-auth-session/src/providers/Google.ts
  packages/expo-auth-session/src/providers/ProviderUtils.ts
Labels: bot: passed checks

#23025 Update CODEOWNERS
  .github/CODEOWNERS
Labels: bot: passed checks

#23027 [docs] Step: prevent content shrinking
  docs/ui/components/Step/Step.tsx
Labels: bot: passed checks

#23026 Update react-native-safe-area-context to 4.6.3
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/NativeSafeAreaContextSpec.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaProviderManagerDelegate.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaProviderManagerInterface.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaViewManagerDelegate.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/RNCSafeAreaViewManagerInterface.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewEdges.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewLocalData.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/safeareacontext/SafeAreaViewShadowNode.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaShadowView.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaView.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdgeMode.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdgeMode.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdges.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaViewEdges.m
  ios/vendored/unversioned/react-native-safe-area-context/react-native-safe-area-context.podspec.json
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#23035 [go] update stripe-react-native to 0.28.0
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFieldView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFieldViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFormView.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/CardFormViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/FinancialConnectionsSheetFragment.kt
  ios/Podfile.lock
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFieldManager.m
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFieldView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFormManager.m
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/CardFormView.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/ios/StripeSdk.swift
  ios/vendored/unversioned/@stripe/stripe-react-native/stripe-react-native.podspec.json
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#23036 [go] update @shopify/react-native-skia to 0.1.195
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/RNSkAndroidView.h
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/RNSkOpenGLCanvasProvider.cpp
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/RNSkOpenGLCanvasProvider.h
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/SkiaOpenGLRenderer.cpp
  android/vendored/unversioned/@shopify/react-native-skia/android/cpp/rnskia-android/SkiaOpenGLRenderer.h
  android/vendored/unversioned/@shopify/react-native-skia/android/src/main/java/com/shopify/reactnative/skia/ViewScreenshotService.java
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkDomView.cpp
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkView.h
  android/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/dom/base/JsiDomDrawingNode.h
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkDomView.cpp
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkPictureView.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/RNSkView.h
  ios/vendored/unversioned/@shopify/react-native-skia/cpp/rnskia/dom/base/JsiDomDrawingNode.h
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/RNSkMetalCanvasProvider.h
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/RNSkMetalCanvasProvider.mm
  ios/vendored/unversioned/@shopify/react-native-skia/ios/RNSkia-iOS/SkiaUIView.mm
  ios/vendored/unversioned/@shopify/react-native-skia/react-native-skia.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#23018 [docs] configuration -> configure
  docs/pages/build/eas-json.mdx
  docs/pages/submit/eas-json.mdx
  docs/pages/workflow/configuration.mdx
Labels: bot: passed checks

#22833 feat(prebuild): Generate universal 1024x1024 iOS icon only.
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.js.map
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js.map
  packages/@expo/prebuild-config/src/plugins/icons/AssetContents.ts
  packages/@expo/prebuild-config/src/plugins/icons/__tests__/__snapshots__/withIosIcons-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/icons/__tests__/withIosIcons-test.ts
  packages/@expo/prebuild-config/src/plugins/icons/withIosIcons.ts
  templates/expo-template-bare-minimum/ios/HelloWorld/Images.xcassets/AppIcon.appiconset/Contents.json
Labels: bot: passed checks

#23019 [expo] Migrate internal usage of Constants.manifest to Constants.expoGoConfig
  packages/expo/build/environment/logging.fx.js
  packages/expo/build/environment/logging.fx.js.map
  packages/expo/src/environment/logging.fx.ts
Labels: bot: suggestions

#23017 [docs] Use short form verb for page titles in Guides section
  docs/pages/accounts/working-together.mdx
  docs/pages/app-signing/existing-credentials.mdx
  docs/pages/app-signing/local-credentials.mdx
  docs/pages/app-signing/managed-credentials.mdx
  docs/pages/app-signing/syncing-credentials.mdx
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/build-reference/build-with-monorepos.mdx
  docs/pages/build-reference/caching.mdx
  docs/pages/build-reference/e2e-tests.mdx
  docs/pages/build-reference/git-submodules.mdx
  docs/pages/build-reference/local-builds.mdx
  docs/pages/build-reference/migrating.mdx
  docs/pages/build-reference/npm-cache-with-yarn.mdx
  docs/pages/build-reference/private-npm-packages.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/build-reference/variants.mdx
  docs/pages/build/automating-submissions.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/build/setup.mdx
  docs/pages/build/updates.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas/metadata/getting-started.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/customizing-webpack.mdx
  docs/pages/guides/delaying-code.mdx
  docs/pages/guides/facebook-authentication.mdx
  docs/pages/guides/google-authentication.mdx
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/sharing-preview-releases.mdx
  docs/pages/guides/troubleshooting-proxies.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/guides/using-analytics.mdx
  docs/pages/guides/using-bugsnag.mdx
  docs/pages/guides/using-firebase.mdx
  docs/pages/guides/using-flipper.mdx
  docs/pages/guides/using-graphql.mdx
  docs/pages/guides/using-hermes.mdx
  docs/pages/guides/using-nextjs.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/guides/using-styled-components.mdx
  docs/pages/modules/existing-library.mdx
  docs/pages/submit/android.mdx
  docs/pages/submit/ios.mdx
Labels: bot: passed checks

#23034 [android][ios] Upgrade @react-native-community/datetimepicker to 7.2.0
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNDateTimePickerPackage.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#23049 fix(metro-config): fix core init order
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: suggestions

#23045 delete router styling docs
  docs/constants/navigation.js
  docs/pages/routing/styling.mdx
Labels: bot: passed checks

#23016 [docs][expo-auth-session] Remove proxy references from unversioned, add deprecation notice for SDK 48 and other fixes
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v48.0.0/sdk/auth-session.mdx
  docs/public/static/data/v48.0.0/expo-auth-session.json
Labels: bot: passed checks

#23048 [linking] Remove deprecated Constants.manifest / manifest2 access
  packages/expo-linking/build/Schemes.d.ts.map
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/src/Schemes.ts
Labels: bot: suggestions

#22740 Update navigation template to Expo Router v2
  templates/expo-template-tabs/.gitignore
  templates/expo-template-tabs/app.json
  templates/expo-template-tabs/app/(tabs)/_layout.tsx
  templates/expo-template-tabs/app/(tabs)/index.tsx
  templates/expo-template-tabs/app/(tabs)/two.tsx
  templates/expo-template-tabs/app/+html.tsx
  templates/expo-template-tabs/app/[...missing].tsx
  templates/expo-template-tabs/app/_layout.tsx
  templates/expo-template-tabs/app/modal.tsx
  templates/expo-template-tabs/babel.config.js
  templates/expo-template-tabs/components/EditScreenInfo.tsx
  templates/expo-template-tabs/components/ExternalLink.tsx
  templates/expo-template-tabs/components/Themed.tsx
  templates/expo-template-tabs/index.ts
  templates/expo-template-tabs/metro.config.js
  templates/expo-template-tabs/package.json
  templates/expo-template-tabs/tsconfig.json
Labels: bot: passed checks

#23050 [Expo Go][iOS] add missing stub implementation of AppLoaderTaskDelegate
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
Labels: bot: passed checks

#23054 [docs] Fix typo in Introduction page
  docs/pages/tutorial/introduction.mdx
Labels: bot: passed checks

#22813 [docs] Update Using Google authentication guide
  docs/pages/guides/google-authentication.mdx
  docs/public/static/images/ios-url-scheme.png
Labels: bot: passed checks

#22783 [expo-blur] Fix reanimated support for BlurView
  apps/native-component-list/src/screens/BlurView/BlurViewWithControls.tsx
  docs/public/static/data/unversioned/expo-blur.json
  packages/expo-blur/build/BlurView.d.ts
  packages/expo-blur/build/BlurView.d.ts.map
  packages/expo-blur/build/BlurView.js
  packages/expo-blur/build/BlurView.js.map
  packages/expo-blur/build/BlurView.types.d.ts
  packages/expo-blur/build/BlurView.types.d.ts.map
  packages/expo-blur/build/BlurView.types.js.map
  packages/expo-blur/build/BlurView.web.d.ts
  packages/expo-blur/build/BlurView.web.d.ts.map
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/src/BlurView.tsx
  packages/expo-blur/src/BlurView.types.ts
  packages/expo-blur/src/BlurView.web.tsx
Labels: bot: suggestions

#23033 [docs] ToC Sidebar: add scroll to top, allow multiline entries, UI tweaks
  docs/components/DocumentationSidebarRight.tsx
  docs/components/DocumentationSidebarRightLink.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
Labels: bot: passed checks

#23043 [build-properties] Add useCleartextTraffic option
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Permissions-test.ts.snap
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.d.ts
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/build/withBuildProperties.js
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-build-properties/src/withBuildProperties.ts
  templates/expo-template-bare-minimum/android/app/src/main/AndroidManifest.xml
Labels: bot: passed checks

#23031 [docs] EAS Build: add docs about set-env
  docs/pages/build-reference/variables.mdx
Labels: bot: passed checks

#23038 [expo-updates][android] Use sealed class for UpdatesStateEvent
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesStateMachineInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateEvent.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Labels: bot: suggestions
