Repository expo/expo, pull requests merged in 2023-08, with the labels that each got.

#23780 [ios][media-library] Fix using incorrect permissions requester
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
Labels: bot: passed checks

#23226 [docs] Update authentication.mdx
  docs/pages/guides/authentication.mdx
  docs/public/static/images/sdk/auth-session/keycloak.png
Labels: bot: passed checks

#23712 [docs] Update web instructions under manual installation in Expo Router doc
  docs/pages/routing/installation.mdx
Labels: bot: passed checks

#23786 chore(ncl): reduce watched folders to improve cold startup time
  apps/native-component-list/metro.config.js
  apps/native-component-list/metro.transformer.js
Labels: bot: passed checks

#23788 chore(expo-font): Change unloaded font error to a warning.
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/Font.d.ts.map
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/src/Font.ts
  packages/expo-font/src/__tests__/Font-test.native.ts
  packages/expo-font/src/__tests__/__snapshots__/Font-test.native.ts.snap.android
  packages/expo-font/src/__tests__/__snapshots__/Font-test.native.ts.snap.ios
Labels: bot: passed checks

#23785 Migrate router theme doc
  docs/pages/routing/appearance.mdx
Labels: bot: passed checks

#23783 [docs][updates] Clarify when channel is null/ how channel in eas.json relates to dev build
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: passed checks

#23758 [docs] Add doc for EAS SSO
  docs/constants/navigation.js
  docs/pages/accounts/sso.mdx
Labels: bot: passed checks

#23791 [sqlite] CRSQLite integration
  .gitignore
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile.lock
  apps/test-suite/tests/SQLite.ts
  packages/expo-sqlite/build/SQLite.d.ts
  packages/expo-sqlite/build/SQLite.d.ts.map
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/ios/CRSQLiteLoader.h
  packages/expo-sqlite/ios/CRSQLiteLoader.m
  packages/expo-sqlite/ios/ExpoSQLite.podspec
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-sqlite/ios/crsqlite.xcframework/Info.plist
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64/crsqlite.framework/Info.plist
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64/crsqlite.framework/crsqlite
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64_x86_64-simulator/crsqlite.framework/Info.plist
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64_x86_64-simulator/crsqlite.framework/crsqlite
  packages/expo-sqlite/src/SQLite.ts
Labels: bot: suggestions

#23798 feat(babel-preset-expo): auto add reanimated babel plugin when available
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/__tests__/__snapshots__/index-test.js.snap
  packages/babel-preset-expo/__tests__/index-test.js
  packages/babel-preset-expo/__tests__/samples/worklet.js
  packages/babel-preset-expo/index.js
Labels: bot: passed checks

#23732 [expo] Remove the environment validator
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.d.ts
  packages/expo/build/Expo.fx.d.ts.map
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/environment/validate.fx.d.ts
  packages/expo/build/environment/validate.fx.d.ts.map
  packages/expo/build/environment/validate.fx.js
  packages/expo/build/environment/validate.fx.js.map
  packages/expo/build/environment/validatorState.d.ts
  packages/expo/build/environment/validatorState.d.ts.map
  packages/expo/build/environment/validatorState.js
  packages/expo/build/environment/validatorState.js.map
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/__tests__/Expo-test.native.ts
  packages/expo/src/__tests__/__snapshots__/Expo-test.native.ts.snap.android
  packages/expo/src/__tests__/__snapshots__/Expo-test.native.ts.snap.ios
  packages/expo/src/environment/__tests__/validate-test.native.ts
  packages/expo/src/environment/validate.fx.ts
  packages/expo/src/environment/validatorState.ts
Labels: bot: passed checks

#23806 migrate parts of repo to expo cli
  apps/bare-expo/package.json
  apps/bare-expo/scripts/start-metro.sh
  packages/expo-dev-client/.tests/instrumented/build.sh
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-launcher/write_embedded_bundle.sh
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  packages/expo-dev-menu/scripts/start.sh
Labels: bot: passed checks

#23796 feat(docs): add info regarding push behavior
  docs/pages/router/advanced/stack.mdx
Labels: bot: passed checks

#23814 [docs] Minor fixes in config plugin intro and third-party authentication guide
  docs/pages/config-plugins/introduction.mdx
  docs/pages/guides/authentication.mdx
  docs/ui/components/Authentication/index.ts
Labels: bot: passed checks

#23776 [ios][camera] Fix flash not enabled during recording
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: bot: suggestions

#23811 [expo-localization] Change tsdocs to redirect to correct method
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/build/Localization.d.ts
  packages/expo-localization/build/Localization.js
  packages/expo-localization/build/Localization.js.map
  packages/expo-localization/src/Localization.ts
Labels: bot: passed checks

#23816 [ios][expo-av] Fixes recording status not reset when paused before stopping
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV/EXAV.m
Labels: bot: passed checks

#23827 [docs] Add Slot to import statement in code example
  docs/pages/router/advanced/platform-specific-modules.mdx
Labels: bot: passed checks

#23797 [docs] Update using-expo-cli.mdx
  docs/pages/bare/using-expo-cli.mdx
Labels: bot: passed checks

#23731 Remove `expo-constants` from dependencies of `expo`
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/launch/withDevTools.d.ts.map
  packages/expo/build/launch/withDevTools.js
  packages/expo/build/launch/withDevTools.js.map
  packages/expo/package.json
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/__mocks__/Constants-development.ts
  packages/expo/src/launch/withDevTools.tsx
Labels: bot: passed checks

#23824 [expo-modules-core][Android] NativeModulesProxy should refresh on reload
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
Labels: bot: passed checks

#23842 Remove `exp-artifacts` bucket mention
  tools/src/S3.ts
  tools/src/expotools.ts
Labels: bot: passed checks

#23834 [ios][camera] Fix dead or dark frames when video starts
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/EXCamera.m
Labels: bot: passed checks

#23832 [ENG-9562][docs] update rollout instructions
  docs/pages/eas-update/rollouts.mdx
Labels: bot: passed checks

#23847 [core][Android] Made `generateExpoModulesPackageList` task cacheable
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo/android/build.gradle
Labels: bot: suggestions

#23855 [core][Android] Remove old view managers logic
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/views/SimpleViewManagerAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/views/ViewGroupManagerAdapter.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/views/ViewManagerAdapterUtils.java
  packages/expo-modules-core/android/src/main/java/expo/modules/core/ModuleRegistry.java
  packages/expo-modules-core/android/src/main/java/expo/modules/core/ViewManager.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerType.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/views/ViewManagerDefinitionTest.kt
Labels: bot: suggestions

#23860 [core] Move `defineProperty` and `ObjectDeallocator` to common code
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptAnonymousObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/ObjectDeallocator.h
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/common/cpp/JSIUtils.cpp
  packages/expo-modules-core/common/cpp/JSIUtils.h
  packages/expo-modules-core/common/cpp/LazyObject.cpp
  packages/expo-modules-core/common/cpp/ObjectDeallocator.cpp
  packages/expo-modules-core/common/cpp/ObjectDeallocator.h
  packages/expo-modules-core/ios/JSI/EXJSIUtils.h
  packages/expo-modules-core/ios/JSI/EXJSIUtils.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptObject.mm
  packages/expo-modules-core/ios/JSI/EXObjectDeallocator.h
Labels: bot: suggestions

#23859 [docs] Update Bare overview page
  docs/pages/bare/overview.mdx
Labels: bot: passed checks

#23831 Fix bug preventing non-standard xcode projects from running with `npx expo run:ios`.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/codeSigning/xcodeCodeSigning.ts
Labels: bot: passed checks

#23874 [bare-expo] fix test-suite ios broken
  apps/bare-expo/detox.config.js
Labels: bot: passed checks

#23865 [docs] small web support note for rollouts
  docs/pages/eas-update/rollouts.mdx
Labels: bot: passed checks

#23836 [docs] Update title, description & other improvements for Use Expo CLI doc
  docs/pages/bare/using-expo-cli.mdx
Labels: bot: passed checks

#23848 [expo-modules-core] Add warnings to error manager
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/ErrorManagerModule.kt
  packages/expo-modules-core/build/sweet/setUpErrorManager.fx.js
  packages/expo-modules-core/build/sweet/setUpErrorManager.fx.js.map
  packages/expo-modules-core/src/sweet/setUpErrorManager.fx.ts
Labels: bot: passed checks

#23862 [speech][Android] Rewrite using new API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-speech/android/src/main/java/expo/modules/speech/LanguageUtils.kt
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechInputIsToLongException.kt
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechModule.kt
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechOptions.kt
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechPackage.kt
  packages/expo-speech/android/src/main/java/expo/modules/speech/VoiceRecord.kt
  packages/expo-speech/expo-module.config.json
Labels: bot: suggestions

#23833 fix(router): fix pushing basic stack
  .github/CODEOWNERS
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/src/__tests__/navigation.test.tsx
  packages/expo-router/src/global-state/routing.ts
Labels: bot: passed checks

#23868 [expo-font][docs] Examples should include error handling
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/routing/appearance.mdx
  docs/pages/versions/unversioned/sdk/font.mdx
Labels: bot: passed checks

#23888 fix tsc compilation in expo
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/registerRootComponent.d.ts
  packages/expo/build/launch/registerRootComponent.d.ts.map
  packages/expo/build/launch/registerRootComponent.js
  packages/expo/build/launch/registerRootComponent.js.map
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: passed checks

#23887 fix(router): fix tsc errors
  packages/expo-router/CHANGELOG.md
  packages/expo-router/_ctx.d.ts
  packages/expo-router/build/LocationProvider.d.ts
  packages/expo-router/build/LocationProvider.d.ts.map
  packages/expo-router/build/LocationProvider.js.map
  packages/expo-router/build/fork/expo/registerRootComponent.d.ts.map
  packages/expo-router/build/fork/expo/registerRootComponent.js
  packages/expo-router/build/fork/expo/registerRootComponent.js.map
  packages/expo-router/build/head/ExpoHead.ios.d.ts.map
  packages/expo-router/build/head/ExpoHead.ios.js
  packages/expo-router/build/head/ExpoHead.ios.js.map
  packages/expo-router/build/static/getRootComponent.js
  packages/expo-router/build/static/getRootComponent.js.map
  packages/expo-router/build/static/renderStaticContent.d.ts.map
  packages/expo-router/build/static/renderStaticContent.js
  packages/expo-router/build/static/renderStaticContent.js.map
  packages/expo-router/build/testing-library/require-context-ponyfill.d.ts.map
  packages/expo-router/build/testing-library/require-context-ponyfill.js
  packages/expo-router/build/testing-library/require-context-ponyfill.js.map
  packages/expo-router/build/types.d.ts
  packages/expo-router/build/types.d.ts.map
  packages/expo-router/build/types.js.map
  packages/expo-router/build/views/Toast.d.ts.map
  packages/expo-router/build/views/Toast.js
  packages/expo-router/build/views/Toast.js.map
  packages/expo-router/src/LocationProvider.tsx
  packages/expo-router/src/fork/expo/registerRootComponent.tsx
  packages/expo-router/src/head/ExpoHead.ios.tsx
  packages/expo-router/src/static/getRootComponent.ts
  packages/expo-router/src/static/renderStaticContent.tsx
  packages/expo-router/src/testing-library/require-context-ponyfill.ts
  packages/expo-router/src/ts-declarations.d.ts
  packages/expo-router/src/types.ts
  packages/expo-router/src/views/Toast.tsx
  packages/expo-router/tsconfig.json
  packages/expo/src/ts-declarations/process.d.ts
Labels: bot: suggestions

#23880 [ENG-9487][docs] add docs for custom builds
  docs/constants/navigation.js
  docs/pages/custom-builds/functions.mdx
  docs/pages/custom-builds/get-started.mdx
  docs/pages/custom-builds/schema.mdx
  docs/pages/preview/custom-build-config-schema.mdx
  docs/public/static/images/eas-build/custom-build-function-advanced.png
  docs/public/static/images/eas-build/custom-build-function.png
Labels: bot: passed checks, docs:preview, preview

#23901 [docs] final docs improvements before launching custom builds
  docs/pages/custom-builds/schema.mdx
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks, preview

#23904 [docs] use `eas/run_gradle` command in custom built-in functions example
  docs/pages/custom-builds/schema.mdx
Labels: bot: passed checks

#23843 [go] update lottie-react-native to 6.1.2
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/lottie/LottieAnimationViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/lottie/LottieAnimationViewPropertyManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/lottie/LottiePackage.java
  android/vendored/unversioned/lottie-react-native/android/build.gradle
  android/vendored/unversioned/lottie-react-native/android/gradle.properties
  android/vendored/unversioned/lottie-react-native/android/src/main/AndroidManifest.xml
  android/vendored/unversioned/lottie-react-native/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewManagerImpl.kt
  android/vendored/unversioned/lottie-react-native/android/src/main/java/com/airbnb/android/react/lottie/LottieAnimationViewPropertyManager.kt
  android/vendored/unversioned/lottie-react-native/android/src/main/java/com/airbnb/android/react/lottie/LottiePackage.kt
  android/vendored/unversioned/lottie-react-native/android/src/main/java/com/airbnb/android/react/lottie/OnAnimationFailureEvent.kt
  android/vendored/unversioned/lottie-react-native/android/src/main/java/com/airbnb/android/react/lottie/OnAnimationFinishEvent.kt
  android/vendored/unversioned/lottie-react-native/android/src/newarch/com/airbnb/android/react/lottie/LottieAnimationViewManager.kt
  android/vendored/unversioned/lottie-react-native/android/src/oldarch/com/airbnb/android/react/lottie/LottieAnimationViewManager.kt
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/LottieScreen.tsx
  ios/Podfile.lock
  ios/vendored/sdk47/lottie-react-native/ABI47_0_0lottie-react-native.podspec.json
  ios/vendored/sdk47/lottie-react-native/src/ios/LottieReactNative/ContainerView.swift
  ios/vendored/sdk48/lottie-react-native/ABI48_0_0lottie-react-native.podspec.json
  ios/vendored/sdk48/lottie-react-native/src/ios/LottieReactNative/ContainerView.swift
  ios/vendored/sdk49/lottie-react-native/ABI49_0_0lottie-react-native.podspec.json
  ios/vendored/sdk49/lottie-react-native/src/ios/LottieReactNative/ContainerView.swift
  ios/vendored/unversioned/lottie-react-native/ios/Fabric/LottieAnimationViewComponentView.h
  ios/vendored/unversioned/lottie-react-native/ios/Fabric/LottieAnimationViewComponentView.mm
  ios/vendored/unversioned/lottie-react-native/ios/Fabric/LottieContainerView.h
  ios/vendored/unversioned/lottie-react-native/ios/Fabric/RNLottieFabricConversions.h
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/AnimationViewManagerModule.swift
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/Bridging.h
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/ContainerView.swift
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/LRNAnimationViewManagerObjC.m
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/PlatformColor.swift
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/RCTConvert+Lottie.h
  ios/vendored/unversioned/lottie-react-native/ios/LottieReactNative/RCTConvert+Lottie.m
  ios/vendored/unversioned/lottie-react-native/lottie-react-native.podspec.json
  ios/vendored/unversioned/lottie-react-native/src/ios/LottieReactNative/ContainerView.swift
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  yarn.lock
Labels: bot: passed checks

#23875 [core][Android] Add ability to use enums as events
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
Labels: bot: suggestions

#23890 chore(router): pull in stable changes from #23795
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/getCssDeps.js
  packages/@expo/metro-config/build/serializer/getCssDeps.js.map
  packages/@expo/metro-config/src/serializer/__tests__/getCssDeps.test.ts
  packages/@expo/metro-config/src/serializer/getCssDeps.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/e2e/__tests__/__snapshots__/export.test.ts.snap
  packages/expo-router/e2e/__tests__/export.test.ts
  packages/expo-router/e2e/__tests__/utils.ts
  packages/expo-router/e2e/jest.config.js
  packages/expo-router/package.json
  yarn.lock
Labels: bot: passed checks

#23891 feat(router): Move entry registration to `expo`.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/expo/createRoot.d.ts
  packages/expo-router/build/fork/expo/createRoot.d.ts.map
  packages/expo-router/build/fork/expo/createRoot.js
  packages/expo-router/build/fork/expo/createRoot.js.map
  packages/expo-router/build/fork/expo/createRoot.native.d.ts
  packages/expo-router/build/fork/expo/createRoot.native.d.ts.map
  packages/expo-router/build/fork/expo/createRoot.native.js
  packages/expo-router/build/fork/expo/createRoot.native.js.map
  packages/expo-router/build/fork/expo/registerRootComponent.d.ts
  packages/expo-router/build/fork/expo/registerRootComponent.d.ts.map
  packages/expo-router/build/fork/expo/registerRootComponent.js
  packages/expo-router/build/fork/expo/registerRootComponent.js.map
  packages/expo-router/build/renderRootComponent.d.ts.map
  packages/expo-router/build/renderRootComponent.js
  packages/expo-router/build/renderRootComponent.js.map
  packages/expo-router/src/fork/expo/createRoot.native.tsx
  packages/expo-router/src/fork/expo/createRoot.tsx
  packages/expo-router/src/fork/expo/registerRootComponent.tsx
  packages/expo-router/src/renderRootComponent.tsx
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/createRoot.d.ts
  packages/expo/build/launch/createRoot.d.ts.map
  packages/expo/build/launch/createRoot.js
  packages/expo/build/launch/createRoot.js.map
  packages/expo/build/launch/createRoot.native.d.ts
  packages/expo/build/launch/createRoot.native.d.ts.map
  packages/expo/build/launch/createRoot.native.js
  packages/expo/build/launch/createRoot.native.js.map
  packages/expo/build/launch/registerRootComponent.d.ts.map
  packages/expo/build/launch/registerRootComponent.js
  packages/expo/build/launch/registerRootComponent.js.map
  packages/expo/src/launch/createRoot.native.tsx
  packages/expo/src/launch/createRoot.tsx
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: passed checks

#23889 chore(router)!: pull out @bacons/react-views
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/build/onboard/Tutorial.d.ts.map
  packages/expo-router/build/onboard/Tutorial.js
  packages/expo-router/build/onboard/Tutorial.js.map
  packages/expo-router/build/views/ErrorBoundary.d.ts.map
  packages/expo-router/build/views/ErrorBoundary.js
  packages/expo-router/build/views/ErrorBoundary.js.map
  packages/expo-router/build/views/Pressable.d.ts
  packages/expo-router/build/views/Pressable.d.ts.map
  packages/expo-router/build/views/Pressable.js
  packages/expo-router/build/views/Pressable.js.map
  packages/expo-router/build/views/Sitemap.d.ts.map
  packages/expo-router/build/views/Sitemap.js
  packages/expo-router/build/views/Sitemap.js.map
  packages/expo-router/build/views/Unmatched.js
  packages/expo-router/build/views/Unmatched.js.map
  packages/expo-router/package.json
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/onboard/Tutorial.tsx
  packages/expo-router/src/views/ErrorBoundary.tsx
  packages/expo-router/src/views/Pressable.tsx
  packages/expo-router/src/views/Sitemap.tsx
  packages/expo-router/src/views/Unmatched.tsx
  yarn.lock
Labels: bot: passed checks

#23867 [autolinking] Add support for pnpm isolated modules
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/autolinking/findModules.js
  packages/expo-modules-autolinking/build/autolinking/findModules.js.map
  packages/expo-modules-autolinking/src/autolinking/__tests__/findModules-test.ts
  packages/expo-modules-autolinking/src/autolinking/findModules.ts
Labels: bot: passed checks

#23442 [jest-expo] Generate `moduleNameMapper` from `tsconfig.json` if possible
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/jest-preset.js
  packages/jest-expo/package.json
  packages/jest-expo/src/preset/withTypescriptMapping.js
  packages/jest-expo/tests/__fixtures__/jsconfig/jsconfig.json
  packages/jest-expo/tests/__fixtures__/jsconfig/package.json
  packages/jest-expo/tests/__fixtures__/noconfig/package.json
  packages/jest-expo/tests/__fixtures__/tsconfig/package.json
  packages/jest-expo/tests/__fixtures__/tsconfig/tsconfig.json
  packages/jest-expo/tests/__tests__/withTypescriptMapping-test.js
Labels: bot: passed checks

#23620 [docs] Update monorepos docs for Expo-Router 49SDK Web support
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#23912 [jest] Ignore transforming react-native-reanimated/plugin
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/jest-preset.js
Labels: bot: passed checks

#23922 fix(docs): dynamic config url on variables page
  docs/pages/build-reference/variables.mdx
Labels: bot: passed checks

#23813 [sqlite] Address feedback to #23791
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile.lock
  apps/test-suite/tests/SQLite.ts
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Podfile.lock
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/CRSQLiteLoader.m
  packages/expo-sqlite/ios/ExpoSQLite.podspec
  packages/expo-sqlite/ios/SQLiteModule.swift
Labels: bot: suggestions

#23927 [docs] Add instructions on using TypeScript in unit tests
  docs/pages/develop/unit-testing.mdx
Labels: bot: passed checks

#23934 [docs] Fix Bracket Typo in Push Notifications Guide
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#23937 [expo] Add support for pnpm isolated modules
  packages/expo/CHANGELOG.md
  packages/expo/scripts/autolinking.gradle
  packages/expo/scripts/autolinking.rb
Labels: bot: passed checks

#23926 [autolinking] Resolve cli for isolated modules before running node scripts
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/react_import_patcher.rb
Labels: bot: passed checks

#23907 [core][Android] Promises can now be resolved without arguments
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/Promise.kt
Labels: bot: suggestions

#23883 [battery][Android] Migrated codebase to use Expo modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-battery/CHANGELOG.md
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryLevelReceiver.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryPackage.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryStateReceiver.kt
  packages/expo-battery/android/src/main/java/expo/modules/battery/PowerSaverReceiver.kt
  packages/expo-battery/android/src/test/java/expo/modules/battery/BatteryModuleTest.kt
  packages/expo-battery/android/src/test/java/expo/modules/battery/MockedEventEmitter.java
  packages/expo-battery/android/src/test/java/expo/modules/battery/TestUtils.kt
  packages/expo-battery/expo-module.config.json
Labels: bot: passed checks

#23933 [android][navigation-bar] Migrate to Expo Modules API
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarExceptions.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarModule.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarPackage.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarReactActivityLifecycleListener.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/singletons/NavigationBar.kt
  packages/expo-navigation-bar/expo-module.config.json
Labels: bot: passed checks

#23910 fix(cli): Improve file formatting when `EXPO_USE_METRO_WORKSPACE_ROOT` is used.
  apps/sandbox/.env
  apps/sandbox/.gitignore
  apps/sandbox/package.json
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
Labels: bot: passed checks

#23909 feat(cli): improved entry errors during metro static web rendering
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroBundlerDevServer-test.ts
Labels: bot: passed checks

#23928 [docs] Add info about defining `EXPO_USE_METRO_WORKSPACE_ROOT` for monorepo
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#23960 fix lint
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Labels: bot: passed checks

#23519 fix(cli): avoid creating dev client urls containing `_` in protocol
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/UrlCreator.ts
  packages/@expo/cli/src/start/server/__tests__/UrlCreator-test.ts
Labels: bot: passed checks

#23959 fix(router): prevent throwing in canGoBack when the navigation hasn't mounted
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/src/__tests__/navigation.test.tsx
  packages/expo-router/src/global-state/routing.ts
Labels: bot: suggestions

#23923 [ios][autolinking] Fix missed react import patches
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ReactImportsPatcher.js
  packages/expo-modules-autolinking/build/ReactImportsPatcher.js.map
  packages/expo-modules-autolinking/src/ReactImportsPatcher.ts
  packages/expo-modules-autolinking/src/__tests__/ReactImportsPatcher-test.ts
Labels: bot: passed checks

#23962 [docs] Remove /home from /development-builds and /config-plugins paths
  packages/@expo/config-plugins/README.md
  packages/expo-build-properties/README.md
  packages/expo-dev-client/README.md
  packages/expo-dev-launcher/README.md
  packages/expo-dev-menu/README.md
  packages/expo-image-picker/README.md
  packages/expo-notifications/README.md
Labels: bot: suggestions

#23983 [updates] fix node execution on windows
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
Labels: bot: passed checks

#23981 [docs] Add 'Star Us on GitHub' link like on the website
  docs/ui/components/Header/Header.tsx
Labels: bot: passed checks

#23973 [docs] Fix failed redirects from Sentry report
  docs/common/error-utilities.ts
Labels: bot: passed checks

#23987 feat(cli): pull in metro improvements from #23963
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/TerminalReporter.types.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroTerminalReporter-test.ts
Labels: bot: passed checks

#23989 [expo-go] Log graphql errors separately from primary account errors during sign in
  home/screens/AccountModal/LoggedOutAccountView.tsx
Labels: bot: passed checks

#23974 [go] fix top crash for android expo-go
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
Labels: bot: passed checks

#23906 [sensors][Android] Migrate to new API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/SensorProxy.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/SensorsPackage.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/ServiceNotFoundException.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/AccelerometerModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/BarometerModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/GyroscopeModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/LightSensorModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/MagnetometerModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/MagnetometerUncalibratedModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/PedometerModule.kt
  packages/expo-sensors/build/ExpoBarometer.d.ts
  packages/expo-sensors/build/ExpoBarometer.d.ts.map
  packages/expo-sensors/build/ExpoBarometer.js
  packages/expo-sensors/build/ExpoBarometer.js.map
  packages/expo-sensors/build/ExpoLightSensor.d.ts
  packages/expo-sensors/build/ExpoLightSensor.d.ts.map
  packages/expo-sensors/build/ExpoLightSensor.js
  packages/expo-sensors/build/ExpoLightSensor.js.map
  packages/expo-sensors/build/ExponentAccelerometer.d.ts
  packages/expo-sensors/build/ExponentAccelerometer.d.ts.map
  packages/expo-sensors/build/ExponentAccelerometer.js
  packages/expo-sensors/build/ExponentAccelerometer.js.map
  packages/expo-sensors/build/ExponentDeviceMotion.d.ts
  packages/expo-sensors/build/ExponentDeviceMotion.d.ts.map
  packages/expo-sensors/build/ExponentDeviceMotion.js
  packages/expo-sensors/build/ExponentDeviceMotion.js.map
  packages/expo-sensors/build/ExponentGyroscope.d.ts
  packages/expo-sensors/build/ExponentGyroscope.d.ts.map
  packages/expo-sensors/build/ExponentGyroscope.js
  packages/expo-sensors/build/ExponentGyroscope.js.map
  packages/expo-sensors/build/ExponentMagnetometer.d.ts
  packages/expo-sensors/build/ExponentMagnetometer.d.ts.map
  packages/expo-sensors/build/ExponentMagnetometer.js
  packages/expo-sensors/build/ExponentMagnetometer.js.map
  packages/expo-sensors/build/ExponentMagnetometerUncalibrated.d.ts
  packages/expo-sensors/build/ExponentMagnetometerUncalibrated.d.ts.map
  packages/expo-sensors/build/ExponentMagnetometerUncalibrated.js
  packages/expo-sensors/build/ExponentMagnetometerUncalibrated.js.map
  packages/expo-sensors/build/ExponentPedometer.d.ts
  packages/expo-sensors/build/ExponentPedometer.d.ts.map
  packages/expo-sensors/build/ExponentPedometer.js
  packages/expo-sensors/build/ExponentPedometer.js.map
  packages/expo-sensors/expo-module.config.json
  packages/expo-sensors/src/ExpoBarometer.ts
  packages/expo-sensors/src/ExpoLightSensor.ts
  packages/expo-sensors/src/ExponentAccelerometer.ts
  packages/expo-sensors/src/ExponentDeviceMotion.ts
  packages/expo-sensors/src/ExponentGyroscope.ts
  packages/expo-sensors/src/ExponentMagnetometer.ts
  packages/expo-sensors/src/ExponentMagnetometerUncalibrated.ts
  packages/expo-sensors/src/ExponentPedometer.ts
  packages/expo-sensors/unimodule.json
Labels: bot: passed checks

#23993 [sqlite] Update built-in SQLite on android
  apps/bare-expo/ios/Podfile.lock
  apps/test-suite/tests/SQLite.ts
  ios/Podfile.lock
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/build.gradle
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/ios/ExpoSQLite.podspec
Labels: bot: passed checks

#23988 chore(cli): enable static router tests
  apps/router-e2e/.env
  apps/sandbox/.env
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-router.test.ts
Labels: bot: passed checks

#23984 [expo-go] Add expo.fyi link to home unverified badge
  home/menu/DevMenuTaskInfo.tsx
Labels: bot: passed checks

#24006 [expo-updates] Remove mention of EAS from documentation in extra params methods
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: suggestions

#23166 [expo-updates][android] Bare update manifest non-nullability parity
  android/expoview/src/main/java/host/exp/exponent/ExpoGoLauncherSelectionPolicyFilterAware.kt
  android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/expo/modules/updates/UpdatesModule.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/expo/modules/updates/UpdatesModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/BuildDataTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/DatabaseIntegrityCheckTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/UpdatesDatabaseMigrationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/db/UpdatesDatabaseTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/launcher/DatabaseLauncherTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/selectionpolicy/ReaperSelectionPolicyDevelopmentClientTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/selectionpolicy/ReaperSelectionPolicyFilterAwareTest.kt
  packages/expo-updates/android/src/androidTest/schemas/expo.modules.updates.db.UpdatesDatabase/12.json
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/UpdatesDatabase.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/entity/UpdateEntity.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/LegacyUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/selectionpolicy/SelectionPolicies.kt
Labels: bot: passed checks

#23768 [image-picker][android] Fix non-serializable type
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CameraContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ContractsUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
Labels: bot: passed checks

#23902 [av][Android] Migrate `AVModule` to new API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/AVModule.java
  packages/expo-av/android/src/main/java/expo/modules/av/AVModule.kt
  packages/expo-av/android/src/main/java/expo/modules/av/AVPackage.java
  packages/expo-av/android/src/main/java/expo/modules/av/player/PlayerData.java
  packages/expo-av/build/ExponentAV.d.ts
  packages/expo-av/build/ExponentAV.d.ts.map
  packages/expo-av/build/ExponentAV.js
  packages/expo-av/build/ExponentAV.js.map
  packages/expo-av/expo-module.config.json
  packages/expo-av/src/ExponentAV.ts
Labels: bot: suggestions

#24000 [docs] Grammar fix on `using-hermes.mdx`
  docs/pages/guides/using-hermes.mdx
Labels: bot: passed checks

#24016 [go] add keep-awake module
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
Labels: bot: passed checks

#24002 [ci] try to improve ci stability
  .github/workflows/android-unit-tests.yml
  .github/workflows/client-android-eas.yml
  .github/workflows/client-android.yml
  .github/workflows/client-ios-eas.yml
  .github/workflows/client-ios.yml
  .github/workflows/ios-unit-tests.yml
  guides/releasing/Release Workflow.md
  packages/expo-clipboard/ios/NSAttributedString+utilities.swift
  packages/expo-clipboard/ios/Tests/ClipboardModuleSpec.swift
  packages/expo-clipboard/ios/Tests/MockNSAttributedString.swift
  tools/src/commands/WorkflowDispatch.ts
Labels: bot: suggestions

#24004 [core] fix missing fabric startup property
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/ReactDelegates/EXReactCompatibleHelpers.m
Labels: bot: passed checks

#24019 [core][dev-menu] fix react-native 0.73 compatibility [2/3]
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/expo-dev-menu.podspec
  packages/expo-dev-menu/ios/DevMenuRCTBridge.mm
  packages/expo-dev-menu/ios/ReactNativeCompatibles/ReactNative/DevClientAppDelegate.mm
  packages/expo-dev-menu/ios/ReactNativeCompatibles/ReactNative72/DevClientAppDelegate.mm
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/reactnative/expo/modules/kotlin/ReactNativeCompatibleHelper.kt
  packages/expo-modules-core/android/src/reactnative72/expo/modules/kotlin/ReactNativeCompatibleHelper.kt
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
Labels: bot: passed checks

#24025 [docs] Fix typo on 'Sharing Preview Releases'
  docs/pages/guides/sharing-preview-releases.mdx
Labels: bot: passed checks

#23976 [expo-apple-authentication][docs] Remove managed project instruction from README
  docs/pages/versions/unversioned/sdk/apple-authentication.mdx
  docs/pages/versions/v49.0.0/sdk/apple-authentication.mdx
  packages/expo-apple-authentication/README.md
Labels: bot: passed checks

#24014 [core][Android] Cleanup several Kotlin Opt-Ins
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/ActivityResultsManager.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/MapTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/viewevent/ViewEventDelegate.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/AnyFunctionTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/TypeConverterHelperTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/PairTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/views/ConcreteViewPropTest.kt
  packages/expo-modules-test-core/android/build.gradle
Labels: bot: suggestions

#24022 [core][Android] Add function builders
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/FunctionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
Labels: bot: suggestions

#23877 [contacts][android] Fix `addContactAsync` failing when e-mail id is provided
  apps/native-component-list/src/screens/Contacts/ContactUtils.ts
  apps/native-component-list/src/screens/Contacts/ContactsList.tsx
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  docs/public/static/data/unversioned/expo-contacts.json
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#24039 [expo-notifications][docs] Follow up changes on updating info about remote-notification
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v49.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#23697 [docs] Fix minor issues and format guides under More
  docs/pages/guides/using-flipper.mdx
  docs/pages/guides/using-nextjs.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#24027 feat(font): add static optimization for fonts in expo router
  apps/router-e2e/__e2e__/static-rendering/app/_layout.tsx
  apps/router-e2e/__e2e__/static-rendering/app/about.tsx
  apps/router-e2e/__e2e__/static-rendering/app/index.tsx
  apps/router-e2e/__e2e__/static-rendering/comic.ttf
  apps/router-e2e/__e2e__/static-rendering/sweet.ttf
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/routing/appearance.mdx
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-router.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export-router.test.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/ExpoFontLoader.web.d.ts
  packages/expo-font/build/ExpoFontLoader.web.d.ts.map
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/build/Font.d.ts.map
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/FontHooks.d.ts
  packages/expo-font/build/FontHooks.d.ts.map
  packages/expo-font/build/FontHooks.js
  packages/expo-font/build/FontHooks.js.map
  packages/expo-font/build/FontLoader.web.d.ts.map
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/build/memory.d.ts
  packages/expo-font/build/memory.d.ts.map
  packages/expo-font/build/memory.js
  packages/expo-font/build/memory.js.map
  packages/expo-font/build/server.d.ts
  packages/expo-font/build/server.d.ts.map
  packages/expo-font/build/server.js
  packages/expo-font/build/server.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
  packages/expo-font/src/Font.ts
  packages/expo-font/src/FontHooks.ts
  packages/expo-font/src/FontLoader.web.ts
  packages/expo-font/src/__tests__/Font-test.native.ts
  packages/expo-font/src/__tests__/Font-test.node.ts
  packages/expo-font/src/__tests__/Font-test.web.ts
  packages/expo-font/src/__tests__/FontHooks-test.ts
  packages/expo-font/src/__tests__/FontLoader-test.web.ts
  packages/expo-font/src/memory.ts
  packages/expo-font/src/server.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/static/renderStaticContent.d.ts.map
  packages/expo-router/build/static/renderStaticContent.js
  packages/expo-router/build/static/renderStaticContent.js.map
  packages/expo-router/src/static/renderStaticContent.tsx
Labels: bot: suggestions

#24051 fix imports lint
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
Labels: bot: passed checks

#24038 [expo-updates][docs] Add a note about using `fetchUpdateAsync` without `reloadAsync`
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: passed checks

#24047 [expo-media-library][docs] Add info about passing `endCursor` when using `after` property
  docs/public/static/data/unversioned/expo-media-library.json
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks

#24050 [docs] Updates diagrams with SVG background
  docs/public/static/images/eas-update/deployment-patterns/deployment-branch-dark.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-branch-dark.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-branch-dark.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-branch.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-branch.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-branch.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-platform-specific-dark.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-platform-specific-dark.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-platform-specific-dark.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-platform-specific.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-platform-specific.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-platform-specific.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-staging-dark.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-staging-dark.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-staging-dark.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-staging.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-staging.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-staging.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-two-command-dark.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-two-command-dark.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-two-command-dark.webp
  docs/public/static/images/eas-update/deployment-patterns/deployment-two-command.avif
  docs/public/static/images/eas-update/deployment-patterns/deployment-two-command.png
  docs/public/static/images/eas-update/deployment-patterns/deployment-two-command.webp
  docs/ui/components/Diagram/Diagram.tsx
  docs/ui/components/Diagram/DotGrid.tsx
Labels: bot: passed checks, preview

#24052 fix(router): Fix error overlay not being applied on web
  apps/sandbox/package.json
  package.json
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-router.test.ts.snap
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/effects.js
  packages/@expo/metro-runtime/build/effects.js.map
  packages/@expo/metro-runtime/build/error-overlay/ErrorOverlay.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/ErrorOverlay.js
  packages/@expo/metro-runtime/build/error-overlay/ErrorOverlay.js.map
  packages/@expo/metro-runtime/src/effects.ts
  packages/@expo/metro-runtime/src/error-overlay/ErrorOverlay.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/fork/NavigationContainer.native.d.ts
  packages/expo-router/build/fork/NavigationContainer.native.d.ts.map
  packages/expo-router/build/fork/NavigationContainer.native.js.map
  packages/expo-router/build/link/useLinkToPathProps.d.ts
  packages/expo-router/build/link/useLinkToPathProps.js
  packages/expo-router/build/link/useLinkToPathProps.js.map
  packages/expo-router/build/renderRootComponent.d.ts.map
  packages/expo-router/build/renderRootComponent.js
  packages/expo-router/build/renderRootComponent.js.map
  packages/expo-router/build/static/renderStaticContent.d.ts.map
  packages/expo-router/build/static/renderStaticContent.js
  packages/expo-router/build/static/renderStaticContent.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/fork/NavigationContainer.native.tsx
  packages/expo-router/src/link/useLinkToPathProps.tsx
  packages/expo-router/src/renderRootComponent.tsx
  packages/expo-router/src/static/renderStaticContent.tsx
  yarn.lock
Labels: bot: suggestions

#24076 [docs] Fix typo in troubleshooting.mdx
  docs/pages/build-reference/troubleshooting.mdx
Labels: bot: passed checks

#24015 [font][Android] Migrate to new API
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.kt
  packages/expo-font/CHANGELOG.md
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.kt
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderPackage.kt
  packages/expo-font/build/ExpoFontLoader.d.ts
  packages/expo-font/build/ExpoFontLoader.d.ts.map
  packages/expo-font/build/ExpoFontLoader.js
  packages/expo-font/build/ExpoFontLoader.js.map
  packages/expo-font/expo-module.config.json
  packages/expo-font/src/ExpoFontLoader.ts
Labels: bot: suggestions

#24074 fix(metro-runtime): Use `fixed` position for floating toast.
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/error-overlay/toast/ErrorToastContainer.web.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/toast/ErrorToastContainer.web.js
  packages/@expo/metro-runtime/build/error-overlay/toast/ErrorToastContainer.web.js.map
  packages/@expo/metro-runtime/src/error-overlay/toast/ErrorToastContainer.web.tsx
Labels: bot: passed checks

#24049 [expo-constants] Change source of truth for constants types
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.d.ts.map
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.d.ts.map
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/build/ExponentConstants.web.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/ExponentConstants.web.ts
  packages/expo-constants/src/__tests__/Constants-test.ts
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/build/DevLauncher.d.ts
  packages/expo-dev-launcher/build/DevLauncher.d.ts.map
  packages/expo-dev-launcher/build/DevLauncher.js.map
  packages/expo-dev-launcher/package.json
  packages/expo-dev-launcher/src/DevLauncher.ts
  packages/expo-manifests/.eslintrc.js
  packages/expo-manifests/.npmignore
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/babel.config.js
  packages/expo-manifests/build/Manifests.d.ts
  packages/expo-manifests/build/Manifests.d.ts.map
  packages/expo-manifests/build/Manifests.js
  packages/expo-manifests/build/Manifests.js.map
  packages/expo-manifests/expo-module.config.json
  packages/expo-manifests/index.js
  packages/expo-manifests/package.json
  packages/expo-manifests/src/Manifests.ts
  packages/expo-manifests/tsconfig.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#24053 [expo-manifests] Remove classic manifest types
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.d.ts.map
  packages/expo-constants/build/Constants.js
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.d.ts.map
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.ts
  packages/expo-constants/src/Constants.types.ts
  packages/expo-constants/src/__tests__/Constants-test.ts
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/build/DevLauncher.d.ts
  packages/expo-dev-launcher/build/DevLauncher.d.ts.map
  packages/expo-dev-launcher/build/DevLauncher.js.map
  packages/expo-dev-launcher/src/DevLauncher.ts
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/build/Manifests.d.ts
  packages/expo-manifests/build/Manifests.d.ts.map
  packages/expo-manifests/build/Manifests.js.map
  packages/expo-manifests/src/Manifests.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/build/UseUpdatesUtils.d.ts.map
  packages/expo-updates/build/UseUpdatesUtils.js
  packages/expo-updates/build/UseUpdatesUtils.js.map
  packages/expo-updates/src/Updates.types.ts
  packages/expo-updates/src/UseUpdatesUtils.ts
Labels: bot: passed checks

#24054 [config][cli] Remove classic manifest types
  docs/pages/archive/expo-cli.mdx
  guides/releasing/Quality Assurance.md
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/api/__tests__/signManifest-test.ts
  packages/@expo/cli/src/api/signManifest.ts
  packages/@expo/cli/src/export/exportAssets.ts
  packages/@expo/cli/src/export/getPublicExpoManifest.ts
  packages/@expo/cli/src/export/getResolvedLocales.ts
  packages/@expo/cli/src/start/index.ts
  packages/@expo/cli/src/start/resolveOptions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/middleware/ClassicManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ClassicManifestMiddleware-test.ts
  packages/@expo/cli/src/start/startAsync.ts
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/Config.types.d.ts
  packages/@expo/config/build/Config.types.js.map
  packages/@expo/config/src/Config.types.ts
Labels: bot: passed checks

#24066 [config-types] Remove classic updates
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/configureProjectAsync.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Updates.d.ts
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/build/ios/Updates.d.ts
  packages/@expo/config-plugins/build/ios/Updates.js
  packages/@expo/config-plugins/build/ios/Updates.js.map
  packages/@expo/config-plugins/build/utils/Updates.d.ts
  packages/@expo/config-plugins/build/utils/Updates.js
  packages/@expo/config-plugins/build/utils/Updates.js.map
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/android/__tests__/Updates-test.ts
  packages/@expo/config-plugins/src/ios/Updates.ts
  packages/@expo/config-plugins/src/ios/__tests__/Updates-test.ts
  packages/@expo/config-plugins/src/utils/Updates.ts
  packages/@expo/config-plugins/src/utils/__tests__/Updates-test.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/getPrebuildConfig.d.ts
  packages/@expo/prebuild-config/build/getPrebuildConfig.js
  packages/@expo/prebuild-config/build/getPrebuildConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-updates.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-updates.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-updates.js.map
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.d.ts
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/getPrebuildConfig.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-updates.ts
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/plugin/build/withUpdates.d.ts
  packages/expo-updates/plugin/build/withUpdates.js
  packages/expo-updates/plugin/src/__tests__/withUpdates-test.ts
  packages/expo-updates/plugin/src/withUpdates.ts
Labels: bot: passed checks

#24093 Patch `react-native-web` AppContainer to prevent adding extra divs.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-router.test.ts.snap
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/react-native-web-container.d.ts
  packages/expo-router/build/fork/react-native-web-container.d.ts.map
  packages/expo-router/build/fork/react-native-web-container.js
  packages/expo-router/build/fork/react-native-web-container.js.map
  packages/expo-router/src/fork/react-native-web-container.tsx
Labels: bot: passed checks

#24092 Prevent writing unused bundles with static Metro web.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-router.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/writeContents.ts
Labels: bot: passed checks

#24085 [docs] Add missing icon on BoxLink for docs in Home route
  docs/pages/config-plugins/introduction.mdx
  docs/pages/config-plugins/plugins-and-mods.mdx
  docs/pages/debugging/errors-and-warnings.mdx
  docs/pages/debugging/runtime-issues.mdx
  docs/pages/deploy/build-project.mdx
  docs/pages/develop/authentication.mdx
  docs/pages/develop/development-builds/create-a-build.mdx
  docs/pages/develop/development-builds/installation.mdx
  docs/pages/develop/development-builds/introduction.mdx
  docs/pages/develop/development-builds/share-with-your-team.mdx
  docs/pages/develop/user-interface/animation.mdx
  docs/pages/develop/user-interface/app-icons.mdx
  docs/pages/develop/user-interface/color-themes.mdx
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/develop/user-interface/next-steps.mdx
  docs/pages/develop/user-interface/safe-areas.mdx
  docs/pages/develop/user-interface/splash-screen.mdx
  docs/pages/develop/user-interface/store-data.mdx
  docs/pages/routing/appearance.mdx
Labels: bot: passed checks

#24101 [docs] fix links to reanimated
  docs/pages/develop/user-interface/animation.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/v46.0.0/sdk/reanimated.mdx
  docs/pages/versions/v47.0.0/sdk/reanimated.mdx
  docs/pages/versions/v48.0.0/sdk/reanimated.mdx
  docs/pages/versions/v49.0.0/sdk/reanimated.mdx
Labels: bot: passed checks

#24071 [expo-updates] Add rollback support to useUpdates()
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesStateMachineInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContext.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContextRollback.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateEvent.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/build/UpdatesEmitter.d.ts.map
  packages/expo-updates/build/UpdatesEmitter.js
  packages/expo-updates/build/UpdatesEmitter.js.map
  packages/expo-updates/build/UseUpdates.types.d.ts
  packages/expo-updates/build/UseUpdates.types.d.ts.map
  packages/expo-updates/build/UseUpdates.types.js
  packages/expo-updates/build/UseUpdates.types.js.map
  packages/expo-updates/build/UseUpdatesUtils.d.ts
  packages/expo-updates/build/UseUpdatesUtils.d.ts.map
  packages/expo-updates/build/UseUpdatesUtils.js
  packages/expo-updates/build/UseUpdatesUtils.js.map
  packages/expo-updates/e2e/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/UpdateResponse.swift
  packages/expo-updates/ios/EXUpdates/UpdatesStateMachine.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
  packages/expo-updates/ios/Tests/UpdatesStateMachineSpec.swift
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/Updates.types.ts
  packages/expo-updates/src/UpdatesEmitter.ts
  packages/expo-updates/src/UseUpdates.types.ts
  packages/expo-updates/src/UseUpdatesUtils.ts
  packages/expo-updates/src/__tests__/UseUpdates-test.ios.tsx
  packages/expo-updates/src/__tests__/UseUpdatesTestApp.tsx
Labels: bot: passed checks

#24109 [docs] Redirect Expo Updates v0 protocol link
  docs/deploy.sh
Labels: bot: passed checks

#24095 feat(cli): add monorepo asset support for export:embed
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/embed/index.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
Labels: bot: passed checks

#24026 [doc] Add note about PWAs and Metro/expo-router
  docs/pages/guides/progressive-web-apps.mdx
Labels: bot: passed checks

#24111 [docs] Remove expo-updates install from sentry-expo setup guide
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#24059 [localization] Add default temperature unit to the locale
  docs/public/static/data/unversioned/expo-localization.json
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationUtils.kt
  packages/expo-localization/build/ExpoLocalization.d.ts.map
  packages/expo-localization/build/ExpoLocalization.js
  packages/expo-localization/build/ExpoLocalization.js.map
  packages/expo-localization/build/Localization.d.ts
  packages/expo-localization/build/Localization.d.ts.map
  packages/expo-localization/build/Localization.js
  packages/expo-localization/build/Localization.js.map
  packages/expo-localization/build/Localization.types.d.ts
  packages/expo-localization/build/Localization.types.d.ts.map
  packages/expo-localization/build/Localization.types.js.map
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/src/ExpoLocalization.ts
  packages/expo-localization/src/Localization.ts
  packages/expo-localization/src/Localization.types.ts
Labels: bot: passed checks

#24116 [expo-updates] completely fix node execution on windows
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
Labels: bot: passed checks

#24113 [expo-updates] Remove @expo/use-updates
  packages/@expo/use-updates/.eslintrc.js
  packages/@expo/use-updates/.npmignore
  packages/@expo/use-updates/CHANGELOG.md
  packages/@expo/use-updates/README.md
  packages/@expo/use-updates/babel.config.js
  packages/@expo/use-updates/build/UseUpdates.d.ts
  packages/@expo/use-updates/build/UseUpdates.d.ts.map
  packages/@expo/use-updates/build/UseUpdates.js
  packages/@expo/use-updates/build/UseUpdates.js.map
  packages/@expo/use-updates/build/UseUpdates.types.d.ts
  packages/@expo/use-updates/build/UseUpdates.types.d.ts.map
  packages/@expo/use-updates/build/UseUpdates.types.js
  packages/@expo/use-updates/build/UseUpdates.types.js.map
  packages/@expo/use-updates/build/UseUpdatesEmitter.d.ts
  packages/@expo/use-updates/build/UseUpdatesEmitter.d.ts.map
  packages/@expo/use-updates/build/UseUpdatesEmitter.js
  packages/@expo/use-updates/build/UseUpdatesEmitter.js.map
  packages/@expo/use-updates/build/UseUpdatesUtils.d.ts
  packages/@expo/use-updates/build/UseUpdatesUtils.d.ts.map
  packages/@expo/use-updates/build/UseUpdatesUtils.js
  packages/@expo/use-updates/build/UseUpdatesUtils.js.map
  packages/@expo/use-updates/build/index.d.ts
  packages/@expo/use-updates/build/index.d.ts.map
  packages/@expo/use-updates/build/index.js
  packages/@expo/use-updates/build/index.js.map
  packages/@expo/use-updates/docs/.nojekyll
  packages/@expo/use-updates/docs/README.md
  packages/@expo/use-updates/docs/modules.md
  packages/@expo/use-updates/package.json
  packages/@expo/use-updates/src/UseUpdates.ts
  packages/@expo/use-updates/src/UseUpdates.types.ts
  packages/@expo/use-updates/src/UseUpdatesEmitter.ts
  packages/@expo/use-updates/src/UseUpdatesUtils.ts
  packages/@expo/use-updates/src/__tests__/UseUpdates-test.ios.tsx
  packages/@expo/use-updates/src/__tests__/UseUpdatesTestApp.tsx
  packages/@expo/use-updates/src/index.ts
  packages/@expo/use-updates/tsconfig.json
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/build/statemachine/UpdatesStateMachine.d.ts
  packages/expo-updates/build/statemachine/UpdatesStateMachine.js.map
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/src/statemachine/UpdatesStateMachine.ts
Labels: bot: suggestions

#24090 fix(expo, asset, cli)!: unify asset hashing
  apps/router-e2e/__e2e__/static-rendering/app/asset.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/package.json
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/middleware/server.types.ts
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/tools/hashAssetFiles.js
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/res/drawable-mdpi/_expodevclientcomponents_assets_logoicon.png
  packages/expo-dev-launcher/android/src/debug/res/drawable-xhdpi/_expodevclientcomponents_assets_logoicon.png
  packages/expo-dev-launcher/android/src/debug/res/drawable-xxhdpi/_expodevclientcomponents_assets_logoicon.png
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/metro.config.js
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/scripts/createManifest.js
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/expo/tools/hashAssetFiles.js
Labels: bot: passed checks

#24123 [core] Fix uuid generation
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/uuid/v4.js
  packages/expo-modules-core/build/uuid/v4.js.map
  packages/expo-modules-core/src/uuid/v4.ts
Labels: bot: passed checks

#24017 [gl][Android] Migrate to use Expo Modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLContext.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLObjectManagerModule.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLObjectManagerModule.kt
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLPackage.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLView.kt
  packages/expo-gl/build/GLView.d.ts.map
  packages/expo-gl/build/GLView.js
  packages/expo-gl/build/GLView.js.map
  packages/expo-gl/expo-module.config.json
  packages/expo-gl/src/GLView.tsx
Labels: bot: suggestions

#24135 [core][Android] Fixed owner type of view functions
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
Labels: bot: suggestions

#24083 [local-authentication][Android] Migrate to use Expo Modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationPackage.kt
  packages/expo-local-authentication/expo-module.config.json
Labels: bot: suggestions

#24132 [sqlite] Detect CTEs with SELECT query in Android
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteHelpers.kt
Labels: bot: passed checks

#24106 Update expo-router in bundledNativeModules.json
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks

#24119 [docs] Improve reference index
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v49.0.0/index.mdx
Labels: bot: passed checks

#24147 fix: prevent double renders when pushing stacks.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/src/fork/__tests__/getPathFromState-upstream.test.node.ts
  packages/expo-router/src/fork/getPathFromState.ts
Labels: bot: passed checks

#24149 fix(router): Use deeper clone to prevent state leak.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/src/fork/getPathFromState.ts
Labels: bot: passed checks

#24152 [android][sqlite] Backport #24132
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLiteHelpers.kt
Labels: bot: passed checks

#23903 [background-fetch][Android] Migrated codebase to use Expo modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/android/src/main/java/expo/modules/backgroundfetch/BackgroundFetchModule.java
  packages/expo-background-fetch/android/src/main/java/expo/modules/backgroundfetch/BackgroundFetchModule.kt
  packages/expo-background-fetch/android/src/main/java/expo/modules/backgroundfetch/BackgroundFetchPackage.java
  packages/expo-background-fetch/build/ExpoBackgroundFetch.d.ts
  packages/expo-background-fetch/build/ExpoBackgroundFetch.d.ts.map
  packages/expo-background-fetch/build/ExpoBackgroundFetch.js
  packages/expo-background-fetch/build/ExpoBackgroundFetch.js.map
  packages/expo-background-fetch/expo-module.config.json
  packages/expo-background-fetch/src/ExpoBackgroundFetch.ts
  packages/expo-background-fetch/unimodule.json
Labels: bot: passed checks

#24120 [docs] Update typed-routes.mdx
  docs/pages/router/reference/typed-routes.mdx
Labels: bot: passed checks

#24151 [docs] Added a missing changed word in Monorepo guide in a rationale for file watcher change
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#24097 [fingerprint] fix issues
  packages/@expo/fingerprint/build/Fingerprint.d.ts
  packages/@expo/fingerprint/build/Fingerprint.js
  packages/@expo/fingerprint/build/Fingerprint.js.map
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/e2e/__tests__/__snapshots__/managed-test.ts.snap
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/src/Fingerprint.ts
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Bare-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/__snapshots__/Bare-test.ts.snap
  packages/@expo/fingerprint/src/sourcer/__tests__/fixtures/RncliAutoLinking.json
Labels: bot: passed checks

#24068 [docs] mark in-app-purchases as deprecated
  docs/pages/versions/unversioned/sdk/in-app-purchases.mdx
  docs/pages/versions/v49.0.0/sdk/in-app-purchases.mdx
Labels: bot: passed checks

#24163 [docs] Use `APIBox` to apply API doc formatting in Expo Router Hooks API
  docs/pages/router/reference/hooks.mdx
Labels: bot: passed checks

#24160 [docs] Update UI libraries list
  docs/pages/ui-programming/user-interface-libraries.mdx
Labels: bot: passed checks

#24137 [core][Android] Add type converter for the `ReadableArguments` class
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ReadableArgumentsTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions

#24179 [docs] SafeAreaContext API reference and docs update
  docs/pages/versions/unversioned/sdk/safe-area-context.mdx
  docs/pages/versions/v49.0.0/sdk/safe-area-context.mdx
Labels: bot: passed checks

#24166 fix(router): support push going back to sibling with nested stack from a modal.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/stateOperations.d.ts.map
  packages/expo-router/build/link/stateOperations.js
  packages/expo-router/build/link/stateOperations.js.map
  packages/expo-router/src/__tests__/navigation.test.tsx
  packages/expo-router/src/link/stateOperations.ts
Labels: bot: passed checks

#24174 feat(expo-router): upstream #861 - add listener types
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/layouts/Drawer.d.ts
  packages/expo-router/build/layouts/Drawer.d.ts.map
  packages/expo-router/build/layouts/Drawer.js
  packages/expo-router/build/layouts/Drawer.js.map
  packages/expo-router/build/layouts/Stack.d.ts
  packages/expo-router/build/layouts/Stack.d.ts.map
  packages/expo-router/build/layouts/Stack.js.map
  packages/expo-router/build/layouts/Tabs.d.ts
  packages/expo-router/build/layouts/Tabs.d.ts.map
  packages/expo-router/build/layouts/Tabs.js.map
  packages/expo-router/build/layouts/withLayoutContext.d.ts
  packages/expo-router/build/layouts/withLayoutContext.d.ts.map
  packages/expo-router/build/layouts/withLayoutContext.js.map
  packages/expo-router/build/useScreens.d.ts
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/layouts/Drawer.tsx
  packages/expo-router/src/layouts/Stack.tsx
  packages/expo-router/src/layouts/Tabs.tsx
  packages/expo-router/src/layouts/withLayoutContext.tsx
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks

#24045 [expo-router] - add testing docs
  docs/constants/navigation.js
  docs/pages/router/reference/testing.mdx
Labels: bot: passed checks

#24189 [home][tools] Fix detecting home app for dynamic macros (try 2)
  tools/src/dynamic-macros/macros.ts
Labels: bot: passed checks

#22941 fix(cli): add missing `minimatch` and `glob` dependencies
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
Labels: bot: passed checks

#24188 feat(cli, docs): Update docs and cli to point out that ngrok has outages
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/AsyncNgrok.ts
Labels: bot: passed checks

#24162 fix!(cli): Favor remote versions endpoint over bundled versions
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/getVersionedPackages-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
Labels: bot: passed checks

#24191 feat(cli): improve xcode setup instructions
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/apple/XcodePrerequisite.ts
Labels: bot: passed checks

#24192 cli(fix): prevent `expo config --json` from logging env var logs
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/config-test.ts
  packages/@expo/cli/src/config/configAsync.ts
Labels: bot: passed checks

#24187 Create issue template for Expo Router
  .github/ISSUE_TEMPLATE/bug_report_router.yml
Labels: bot: passed checks

#24194 feat(cli): validate android package name
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/__tests__/validateApplicationId-test.ts
  packages/@expo/cli/src/utils/getOrPromptApplicationId.ts
  packages/@expo/cli/src/utils/validateApplicationId.ts
Labels: bot: passed checks

#24195 fix(expo-notifications): fix rendering with Node.js (ssg)
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/ServerRegistrationModule.web.d.ts.map
  packages/expo-notifications/build/ServerRegistrationModule.web.js
  packages/expo-notifications/build/ServerRegistrationModule.web.js.map
  packages/expo-notifications/src/ServerRegistrationModule.web.ts
Labels: bot: passed checks
