Repository expo/expo, pull requests merged in 2023-07, with the labels that each got.

#23235 feat(docs): Add component for sharing tab context
  docs/pages/distribution/publishing-websites.mdx
  docs/ui/components/Tabs/Tabs.tsx
Labels: bot: passed checks

#23224 [android][image-picker] Fix backported photo picker crashing with null intent
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
Labels: bot: passed checks

#23245 [ci] trying to fix flaky ios unit test ci
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/client-ios.yml
  .github/workflows/development-client-e2e.yml
  .github/workflows/development-client-latest-e2e.yml
  .github/workflows/development-client.yml
  .github/workflows/ios-unit-tests.yml
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
  .github/workflows/versioning.yml
  apps/native-tests/ios/Podfile.lock
  fastlane/Fastfile
Labels: bot: passed checks

#23220 fix(expo): use node resolution when invoking `@expo/cli` from `expo`
  packages/expo/CHANGELOG.md
  packages/expo/bin/cli
Labels: bot: passed checks

#23223 [camera] Fix crash when onBarCodeScanned or onFacesDetected callback is removed
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/ios/EXCamera/CameraViewModule.swift
Labels: bot: passed checks

#23191 [expo-image-picker] Bump cropper version to fix eas build
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/build.gradle
Labels: bot: passed checks

#23261 [ci] Stop caching yarn cache
  .github/actions/expo-caches/action.yml
Labels: bot: passed checks

#23228 [iOS] Refactor expo-screen-orientation for versioning
  ios/Podfile.lock
  ios/versioned/sdk49/ExpoScreenOrientation/ABI49_0_0ExpoScreenOrientation.podspec.json
  ios/versioned/sdk49/ExpoScreenOrientation/ScreenOrientationAppDelegate.swift
  ios/versioned/sdk49/ExpoScreenOrientation/ScreenOrientationModule.swift
  ios/versioned/sdk49/ExpoScreenOrientation/ScreenOrientationReactDelegateHandler.swift
  ios/versioned/sdk49/ExpoScreenOrientation/ScreenOrientationRegistry.swift
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationAppDelegate.swift
  packages/expo-screen-orientation/ios/ScreenOrientationModule.swift
  packages/expo-screen-orientation/ios/ScreenOrientationReactDelegateHandler.swift
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
Labels: bot: passed checks

#23237 Remove unneeded .ruby-version file
  .github/workflows/client-android.yml
  .github/workflows/client-ios-eas.yml
  .github/workflows/client-ios.yml
  .github/workflows/development-client-e2e.yml
  .github/workflows/development-client-latest-e2e.yml
  .github/workflows/dogfooding-clients.yml
  .github/workflows/ios-unit-tests.yml
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
  .github/workflows/versioning.yml
  .ruby-version
Labels: bot: passed checks

#23260 fix(metro-config): fix native css modules
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: suggestions

#23255 Update search-parameters.mdx
  docs/pages/router/reference/search-parameters.mdx
Labels: bot: passed checks

#23267 [docs] Fix minor typo in Expo CLI and warning callout in Metro config docs
  docs/pages/more/expo-cli.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v49.0.0/config/metro.mdx
Labels: bot: passed checks

#23276 Fix tsconfig paths and other SDK 49 Metro features.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/package.json
  packages/expo-updates/scripts/createManifest.js
Labels: bot: passed checks

#23240 feat(docs): add expo-router notifications example
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v49.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#23076 [docs] update universal linking guide with info from Expo Router
  docs/pages/guides/deep-linking.mdx
Labels: bot: passed checks

#23263 [docs] Add Aptabase Analytics
  docs/pages/guides/using-analytics.mdx
Labels: bot: passed checks

#23270 Update sending-notifications.mdx
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#22954 Gracefully handle font observer failure and extend timeout
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/build/FontLoader.web.d.ts.map
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
  packages/expo-font/src/FontLoader.web.ts
Labels: bot: passed checks

#23275 [ios][secure-store] Check for plist key if auth is required
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/ios/SecureStoreExceptions.swift
  packages/expo-secure-store/ios/SecureStoreModule.swift
Labels: bot: suggestions

#22629 feat: add generated types for Expo Router useSegment
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/jest.config.js
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/server/type-generation/__tests__/routes.test.ts
  packages/@expo/cli/src/start/server/type-generation/__typetests__/fixtures/basic.ts
  packages/@expo/cli/src/start/server/type-generation/__typetests__/generateFixtures.ts
  packages/@expo/cli/src/start/server/type-generation/__typetests__/route.test.ts
  packages/@expo/cli/src/start/server/type-generation/routes.ts
  packages/@expo/cli/tsconfig.json
  yarn.lock
Labels: bot: passed checks

#23278 [ios][secure-store] Backport to sdk49
  ios/versioned/sdk49/ExpoSecureStore/SecureStoreExceptions.swift
  ios/versioned/sdk49/ExpoSecureStore/SecureStoreModule.swift
Labels: bot: passed checks

#23069 [docs] Update Regulatory compliance pages
  docs/pages/regulatory-compliance/data-and-privacy-protection.mdx
  docs/pages/regulatory-compliance/gdpr.mdx
  docs/pages/regulatory-compliance/hipaa.mdx
  docs/pages/regulatory-compliance/privacy-shield.mdx
Labels: bot: passed checks

#23280 Update permissions.mdx
  docs/pages/guides/permissions.mdx
Labels: bot: passed checks

#23258 refactor(cli): disable inspector proxy inline source maps for vscode only
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/proxy.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/DebuggerScriptSource.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/NetworkResponse.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/PageReload.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeCompat.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeDebuggerGetPossibleBreakpoints.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeDebuggerScriptParsed.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeDebuggerSetBreakpointByUrl.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeRuntimeGetProperties.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeCompat.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeDebuggerGetPossibleBreakpoints.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeDebuggerScriptParsed.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeDebuggerSetBreakpointByUrl.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeRuntimeGetProperties.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/types.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/proxy.ts
Labels: bot: passed checks

#23283 Update internal-distribution.mdx
  docs/pages/build/internal-distribution.mdx
Labels: bot: passed checks

#23268 Add a config plugin and docs for secure-store requiresAuthentication
  docs/pages/versions/unversioned/sdk/securestore.mdx
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/app.plugin.js
  packages/expo-secure-store/build/SecureStore.d.ts
  packages/expo-secure-store/build/SecureStore.d.ts.map
  packages/expo-secure-store/build/SecureStore.js.map
  packages/expo-secure-store/plugin/build/withSecureStore.d.ts
  packages/expo-secure-store/plugin/build/withSecureStore.js
  packages/expo-secure-store/plugin/jest.config.js
  packages/expo-secure-store/plugin/src/withSecureStore.ts
  packages/expo-secure-store/plugin/tsconfig.json
  packages/expo-secure-store/src/SecureStore.ts
Labels: bot: passed checks

#23291 [docs] Move reset Google Play upload key to a collapsible
  docs/pages/app-signing/app-credentials.mdx
Labels: bot: passed checks

#23287 fix(cli, dev-server): add `SYSTEMROOT` for `open` when opening browsers on Windows
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/register/__tests__/registerAsync.test.ts
  packages/@expo/cli/src/register/registerAsync.ts
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
  packages/@expo/cli/src/utils/open.ts
  packages/@expo/dev-server/build/LaunchBrowserImplWindows.js
  packages/@expo/dev-server/build/LaunchBrowserImplWindows.js.map
  packages/@expo/dev-server/src/LaunchBrowserImplWindows.ts
Labels: bot: passed checks

#23292 [docs] Update docs for Expo Modules API
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#23293 [docs] Clean up "Learn more" links
  docs/pages/index.tsx
Labels: bot: passed checks

#23272 [ENG-9189][docs] add docs about new image
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#23259 refactor(cli): drop extraneous source fetch workaround for `metro@<0.75.1`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/DebuggerScriptSource.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/DebuggerScriptSource.test.ts
Labels: bot: passed checks

#23308 [docs] Update BlurView doc description
  docs/pages/versions/v46.0.0/sdk/blur-view.mdx
  docs/pages/versions/v47.0.0/sdk/blur-view.mdx
  docs/pages/versions/v48.0.0/sdk/blur-view.mdx
Labels: bot: passed checks

#23309 [docs] Update EAS Insights introduction doc
  docs/pages/eas-insights/introduction.mdx
Labels: bot: passed checks

#23310 Update navigation.js
  docs/constants/navigation.js
Labels: bot: passed checks

#23313 [docs] Migrate Expo Router docs from preview to main
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/router/advanced/drawer.mdx
  docs/pages/router/advanced/modals.mdx
  docs/pages/router/advanced/nesting-navigators.mdx
  docs/pages/router/advanced/platform-specific-modules.mdx
  docs/pages/router/advanced/root-layout.mdx
  docs/pages/router/advanced/router-settings.mdx
  docs/pages/router/advanced/shared-routes.mdx
  docs/pages/router/advanced/stack.mdx
  docs/pages/router/advanced/tabs.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/routing/create-pages.mdx
  docs/pages/routing/error-handling.mdx
  docs/pages/routing/installation.mdx
  docs/pages/routing/layouts.mdx
  docs/pages/routing/navigating-pages.mdx
Labels: bot: passed checks

#23242 [docs] Update environment variable guides for SDK 49 integrated env
  docs/pages/build-reference/variables.mdx
  docs/pages/eas-update/environment-variables.mdx
  docs/pages/guides/environment-variables.mdx
  docs/pages/versions/unversioned/config/metro.mdx
Labels: bot: passed checks

#23326 Update layouts.mdx
  docs/pages/routing/layouts.mdx
Labels: bot: passed checks

#23135 [document-picker] Remove deprecated fields and warning
  apps/native-component-list/src/screens/DocumentPickerScreen.tsx
  apps/native-component-list/src/screens/PrintScreen.tsx
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts.map
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/build/index.d.ts.map
  packages/expo-document-picker/build/index.js
  packages/expo-document-picker/build/index.js.map
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.d.ts.map
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
  packages/expo-document-picker/src/index.ts
  packages/expo-document-picker/src/types.ts
Labels: bot: passed checks

#23318 [go] Fix DevMenu window bounds on macOS
  ios/Client/Menu/EXDevMenuViewController.m
  ios/Client/Menu/EXDevMenuWindow.m
Labels: bot: passed checks

#23339 [dev-launcher] Update bundle
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions

#23244 [expo-updates][Android] Fix rollback embedded update logic
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/dao/UpdateDao.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
Labels: bot: passed checks

#23353 inserted missing slash so link is no longer broken
  docs/pages/routing/layouts.mdx
Labels: bot: passed checks

#23214 [docs] write up a guide for GitHub builds
  docs/constants/navigation.js
  docs/pages/accounts/programmatic-access.mdx
  docs/pages/build/building-from-github.mdx
  docs/public/static/images/eas-build/build-from-github/connect-a-repository.png
  docs/public/static/images/eas-build/build-from-github/eas-build-label.png
  docs/public/static/images/eas-build/build-from-github/gh-check-details.png
  docs/public/static/images/eas-build/build-from-github/github-build-ui.png
  docs/public/static/images/eas-build/build-from-github/install-github-app.png
  docs/public/static/images/eas-build/build-from-github/link-github-account.png
  docs/public/static/images/eas-build/build-from-github/project-github-page.png
  docs/public/static/images/eas-build/build-from-github/specify-base-directory.png
Labels: bot: passed checks

#23357 [docs] Update broken link in Expo Router installation docs
  docs/pages/routing/installation.mdx
Labels: bot: passed checks

#23331 [core] fix incorrect conversion of valid url
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Swift/Utilities.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: passed checks

#23329 [docs] Adopt Prebuild: add description & format intro
  docs/pages/guides/adopting-prebuild.mdx
Labels: bot: passed checks

#23366 [docs] specify explicit SDK version in router install docs
  docs/pages/routing/installation.mdx
Labels: bot: passed checks

#22938 [expo-tools] Check for unused transforms for vendored code.
  tools/src/Transforms.ts
  tools/src/Transforms.types.ts
  tools/src/vendoring/common.ts
  tools/src/versioning/android/versionCxx/index.ts
Labels: bot: passed checks

#23370 [docs] Update nesting-navigators.mdx
  docs/pages/router/advanced/nesting-navigators.mdx
Labels: bot: passed checks

#23350 [core][go] fix network inspector crash on android expo go
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/kotlin/devtools/ExpoNetworkInspectOkHttpInterceptors.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/ExpoNetworkInspectOkHttpInterceptors.kt
Labels: bot: passed checks

#23356 [expo-updates][Android] Correctly handle roll backs in JS module methods
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
Labels: bot: suggestions

#23377 [expo-updates][iOS] Correctly handle roll backs in JS module methods
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
Labels: bot: passed checks

#23374 [docs] Update upgrading-expo-sdk-walkthrough.mdx
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#23369 [blur][Android] Add BlurModule to ExperiencePackagePicker
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/ExperiencePackagePicker.kt
Labels: bot: passed checks

#23131 [docs] Update instances of `--dev-client` & port `19000` for SDK 48 and lower
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/build-reference/apk.mdx
  docs/pages/build-reference/simulators.mdx
  docs/pages/debugging/tools.mdx
  docs/pages/develop/development-builds/use-development-builds.mdx
  docs/pages/get-started/expo-go.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/guides/authentication.mdx
  docs/pages/guides/linking.mdx
  docs/pages/guides/using-flipper.mdx
  docs/pages/guides/using-hermes.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v49.0.0/config/metro.mdx
Labels: bot: passed checks

#23375 [docs] Fix internal links
  docs/pages/debugging/errors-and-warnings.mdx
  docs/pages/debugging/index.js
Labels: bot: passed checks

#23378 [docs] Format EAS webhooks doc
  docs/pages/eas/webhooks.mdx
Labels: bot: passed checks

#23397 [docs] Update broken link in EAS Update environnement variable
  docs/pages/eas-update/environment-variables.mdx
Labels: bot: passed checks

#23432 [docs] Fix typo in tabs.mdx
  docs/pages/router/advanced/tabs.mdx
Labels: bot: passed checks

#23376 [docs] Format docs in Expo account section
  docs/pages/accounts/account-types.mdx
  docs/pages/accounts/programmatic-access.mdx
  docs/pages/accounts/two-factor.mdx
  docs/pages/accounts/working-together.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/distribution/app-transfers.mdx
Labels: bot: passed checks

#23433 [docs] BuildProperties: Remove extra space character in a property's description
  docs/public/static/data/unversioned/expo-build-properties.json
  docs/public/static/data/v48.0.0/expo-build-properties.json
  docs/public/static/data/v49.0.0/expo-build-properties.json
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: passed checks

#23360 Remove expo-face-detector from bare-expo to support ARMs
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
Labels: bot: passed checks

#23385 [expo-updates][ios] Allow nil scopeKey for bare/embedded updates
  ios/versioned/sdk49/EXUpdates/EXUpdates/AppLoader/AppLoader.swift
  ios/versioned/sdk49/EXUpdates/EXUpdates/Database/UpdatesDatabase.swift
  ios/versioned/sdk49/EXUpdates/EXUpdates/SelectionPolicy/ReaperSelectionPolicyFilterAware.swift
  ios/versioned/sdk49/EXUpdates/EXUpdates/Update/BareUpdate.swift
  ios/versioned/sdk49/EXUpdates/EXUpdates/Update/Update.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/ReaperSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/Update/BareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/Update.swift
Labels: bot: passed checks

#23405 [core] fix network inspector does not preview response body without content-length header
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptor.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/cdp/CdpNetworkTypes.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptorTest.kt
  packages/expo-modules-core/ios/Swift/DevTools/CdpNetworkTypes.swift
  packages/expo-modules-core/ios/Swift/DevTools/ExpoRequestCdpInterceptor.swift
  packages/expo-modules-core/ios/Swift/DevTools/ExpoRequestInterceptorProtocol.swift
  packages/expo-modules-core/ios/Tests/ExpoRequestCdpInterceptorSpec.swift
Labels: bot: passed checks

#23413 [dev-menu] fix release build crash when importing `expo-dev-client`
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/build/ExpoDevMenu.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.d.ts.map
  packages/expo-dev-menu/build/ExpoDevMenu.js
  packages/expo-dev-menu/build/ExpoDevMenu.js.map
  packages/expo-dev-menu/src/ExpoDevMenu.ts
Labels: bot: passed checks

#23436 [go] fix network inspector crash on android
  android/expoview/src/main/java/host/exp/exponent/RNObject.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/KernelNetworkInterceptor.kt
Labels: bot: passed checks

#23418 [iOS][image] Fix `tintColor` prop not working for some SVGs
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  apps/native-component-list/src/screens/Image/ImageTintingScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#23435 [go] fix android crash when returning back to home
  dev-home-config.json
  home/menu/DevMenuBottomSheet.tsx
Labels: bot: passed checks

#23386 fix(cli): generate correct route types on Windows
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/type-generation/__tests__/routes.test.ts
  packages/@expo/cli/src/start/server/type-generation/routes.ts
Labels: bot: passed checks

#23434 [expo-image] Add color tinting on web
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/build/web/ImageWrapper.d.ts
  packages/expo-image/build/web/ImageWrapper.d.ts.map
  packages/expo-image/build/web/ImageWrapper.js
  packages/expo-image/build/web/ImageWrapper.js.map
  packages/expo-image/build/web/style.d.ts.map
  packages/expo-image/build/web/style.js
  packages/expo-image/build/web/style.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.types.ts
  packages/expo-image/src/web/ImageWrapper.tsx
  packages/expo-image/src/web/style.tsx
Labels: bot: passed checks

#23439 [docs] Update tables in Reference index
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v48.0.0/index.mdx
  docs/pages/versions/v49.0.0/index.mdx
Labels: bot: passed checks

#23429 [expo-updates][cli] Add missing chalk dependency to `expo-updates` cli
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/package.json
Labels: bot: passed checks

#23379 [docs] Format Use TypeScript guide
  docs/pages/guides/typescript.mdx
Labels: bot: passed checks

#23444 [docs] Add EAS Insights to the EAS introduction page
  docs/pages/eas/index.mdx
Labels: bot: passed checks

#23453 [docs] update lint stack, bump Next
  docs/package.json
  docs/ui/components/Snippet/SnippetHeader.tsx
  docs/yarn.lock
Labels: bot: passed checks

#23446 move pointerEvents to styles
  packages/expo/CHANGELOG.md
  packages/expo/build/environment/DevLoadingView.d.ts.map
  packages/expo/build/environment/DevLoadingView.js
  packages/expo/build/environment/DevLoadingView.js.map
  packages/expo/src/environment/DevLoadingView.tsx
Labels: bot: passed checks

#23469 Update typescript.mdx
  docs/pages/guides/typescript.mdx
Labels: bot: passed checks

#23474 Update typescript.mdx
  docs/pages/guides/typescript.mdx
Labels: bot: passed checks

#23470 [docs] mention useClassicUpdates
  docs/pages/archive/expo-cli.mdx
  docs/pages/eas-update/migrate-from-classic-updates.mdx
Labels: bot: passed checks

#22945 [expo cli] Changes for SSO user type and SSO login.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/endpoint.ts
  packages/@expo/cli/src/api/graphql/queries/UserQuery.ts
  packages/@expo/cli/src/api/user/UserSettings.ts
  packages/@expo/cli/src/api/user/__mocks__/user.ts
  packages/@expo/cli/src/api/user/__tests__/actions-test.ts
  packages/@expo/cli/src/api/user/__tests__/user-test.ts
  packages/@expo/cli/src/api/user/actions.ts
  packages/@expo/cli/src/api/user/expoSsoLauncher.ts
  packages/@expo/cli/src/api/user/user.ts
  packages/@expo/cli/src/graphql/generated.ts
  packages/@expo/cli/src/login/index.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#23428 [expo-updates] Native getter for state machine context
  packages/@expo/use-updates/build/UseUpdates.d.ts
  packages/@expo/use-updates/build/UseUpdates.d.ts.map
  packages/@expo/use-updates/build/UseUpdates.js
  packages/@expo/use-updates/build/UseUpdates.js.map
  packages/@expo/use-updates/build/UseUpdatesEmitter.d.ts
  packages/@expo/use-updates/build/UseUpdatesEmitter.d.ts.map
  packages/@expo/use-updates/build/UseUpdatesEmitter.js
  packages/@expo/use-updates/build/UseUpdatesEmitter.js.map
  packages/@expo/use-updates/docs/modules.md
  packages/@expo/use-updates/src/UseUpdates.ts
  packages/@expo/use-updates/src/UseUpdatesEmitter.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContext.kt
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/build/UpdatesHooks.d.ts
  packages/expo-updates/build/UpdatesHooks.d.ts.map
  packages/expo-updates/build/UpdatesHooks.js
  packages/expo-updates/build/UpdatesHooks.js.map
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/Updates.types.ts
  packages/expo-updates/src/UpdatesHooks.ts
Labels: bot: suggestions

#23160 [docs] [ENG-8506] Add new on_cancel hook to the docs
  docs/pages/build-reference/npm-hooks.mdx
Labels: bot: passed checks

#23336 [core][Android] Fix instrumented tests
  packages/expo-modules-core/android/CMakeLists.txt
  packages/expo-modules-core/android/build.gradle
  tools/src/commands/AndroidNativeUnitTests.ts
Labels: bot: suggestions

#23484 changed link so its no longer broken
  docs/pages/router/reference/faq.mdx
Labels: bot: passed checks

#23495 [docs] Fix internal links in Expo Router docs
  docs/pages/router/advanced/router-settings.mdx
  docs/pages/router/reference/async-routes.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/router/reference/faq.mdx
  docs/pages/router/reference/static-rendering.mdx
Labels: bot: passed checks

#23445 [expo-manifests][ios] Expose getMetadata method to match android
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/SelectionPolicies.swift
Labels: bot: suggestions

#23496 [docs] Sidebar: add icons for EAS Insights and Router sections
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks

#23456 [screen-orientation][ios] Fix initial orientation being set to portrait
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationUtilities.swift
  packages/expo-screen-orientation/ios/ScreenOrientationViewController.swift
Labels: bot: passed checks

#23471 [docs] Update publishing to vercel guide
  docs/pages/distribution/publishing-websites.mdx
Labels: bot: passed checks

#23077 feat(docs): Expo Router Apple Handoff guide
  docs/constants/navigation.js
  docs/pages/router/advanced/apple-handoff.mdx
Labels: bot: passed checks

#23491 [core] reland #23405
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptor.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/kotlin/devtools/cdp/CdpNetworkTypes.kt
  ios/versioned/sdk49/ExpoModulesCore/ios/Swift/DevTools/CdpNetworkTypes.swift
  ios/versioned/sdk49/ExpoModulesCore/ios/Swift/DevTools/ExpoRequestCdpInterceptor.swift
  ios/versioned/sdk49/ExpoModulesCore/ios/Swift/DevTools/ExpoRequestInterceptorProtocol.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptor.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/cdp/CdpNetworkTypes.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptorTest.kt
  packages/expo-modules-core/ios/Swift/DevTools/CdpNetworkTypes.swift
  packages/expo-modules-core/ios/Swift/DevTools/ExpoRequestCdpInterceptor.swift
  packages/expo-modules-core/ios/Swift/DevTools/ExpoRequestInterceptorProtocol.swift
  packages/expo-modules-core/ios/Tests/ExpoRequestCdpInterceptorSpec.swift
Labels: bot: passed checks

#23355 [docs] Expo Router: add docs for missing API reference
  docs/constants/navigation.js
  docs/pages/router/reference/hooks.mdx
  docs/pages/router/reference/redirects.mdx
  docs/pages/routing/navigating-pages.mdx
  docs/ui/components/RouteUrl/RuntimePopup.tsx
  docs/ui/components/RouteUrl/index.tsx
  docs/ui/components/Snippet/SnippetHeader.tsx
Labels: bot: passed checks

#23489 [docs][notifications] ack FCM legacy key deprecation
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#23499 fix(cli): Added improved error message for static metro when a package is missing
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroBundlerDevServer-test.ts
Labels: bot: passed checks

#23497 [expo-document-picker][ios] Fix type prop support in v13
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/ios/DocumentPickerModule.swift
  packages/expo-document-picker/ios/DocumentPickerOptions.swift
Labels: bot: passed checks

#23479 [expo-updates][Android] EX_UPDATES_ANDROID_DELAY_LOAD_APP settable from environment
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
Labels: bot: passed checks

#23462 [screen-orienetation][ios] Stop emitting events when no listeners are registered
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationModule.swift
Labels: bot: passed checks

#23501 [location][android] Downgrade play-services-location to 20.0.0
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/build.gradle
  packages/expo-location/android/src/main/java/expo/modules/location/LocationHelpers.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/LocationTaskConsumer.java
Labels: bot: passed checks

#23352 [docs] Guides: sidebar navigation
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/bare/overview.mdx
  docs/pages/build/automate-submissions.mdx
  docs/pages/build/introduction.mdx
  docs/pages/guides/delaying-code.mdx
  docs/pages/guides/errors.mdx
  docs/pages/guides/overview.mdx
  docs/pages/guides/using-bugsnag.mdx
  docs/pages/guides/using-graphql.mdx
  docs/pages/guides/using-styled-components.mdx
  docs/pages/submit/android.mdx
  docs/pages/submit/ios.mdx
  docs/pages/workflow/already-used-react-native.mdx
  docs/pages/workflow/run-on-device.mdx
  docs/pages/workflow/snack.mdx
  docs/ui/components/Sidebar/SidebarHead.tsx
Labels: bot: passed checks

#23468 [docs] Add Navigation to Home overview
  docs/pages/overview.mdx
Labels: bot: passed checks

#23505 [cli] Use node server default port selection for SSO login server
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/endpoint.ts
  packages/@expo/cli/src/api/user/expoSsoLauncher.ts
  packages/@expo/cli/src/api/user/user.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#23477 [cli] Add styling to SSO auth redirect completion page
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/user/expoSsoLauncher.ts
Labels: bot: passed checks

#23527 fix(cli): Set `preferNativePlatform` to `false` for all web requests.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroResolvers.test.ts
  packages/@expo/cli/src/start/server/metro/withMetroResolvers.ts
Labels: bot: passed checks

#22814 Fix port in use message for unidentified process
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/port.ts
Labels: bot: passed checks

#23507 Rework ExpoRouter HrefObject
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/type-generation/__typetests__/fixtures/basic.ts
  packages/@expo/cli/src/start/server/type-generation/__typetests__/route.test.ts
  packages/@expo/cli/src/start/server/type-generation/routes.ts
Labels: bot: passed checks

#23546 fix(metro-config): keep existing URL parts when rewriting virtual entrypoint urls
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/rewriteRequestUrl.js
  packages/@expo/metro-config/build/rewriteRequestUrl.js.map
  packages/@expo/metro-config/src/__tests__/rewriteRequestUrl.test.ts
  packages/@expo/metro-config/src/rewriteRequestUrl.ts
Labels: bot: passed checks

#23515 [media-library][Android] Fix `the bind value at index 1 is null` exception
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: suggestions

#23516 [media-library][Android] Fix `albumNeedsMigrationAsync` crashing if called with invalid `albumId`
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: suggestions

#23511 [expo-constants][Android] Fix Task ':expo-constants:packageDebugAssets' uses this output of task ':expo-constants:copyReleaseExpoConfig' without declaring an explicit or implicit dependency
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/scripts/get-app-config-android.gradle
Labels: bot: suggestions

#22601 [docs][ENG-8521] Rearrange information about VM specs
  docs/package.json
  docs/pages/build-reference/infrastructure.mdx
  docs/public/static/resource-specs.json
  docs/public/static/schemas/unversioned/eas-json-build-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
  docs/scripts/resource-specs-sync.mjs
  docs/types/resourceSpecs.d.ts
  docs/ui/components/Markdown/index.tsx
  docs/ui/components/utils/infrastructure.tsx
Labels: bot: passed checks

#23571 [core][Android] Improve error handling when working with promises
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/ExceptionDecorator.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SuspendFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/PromiseImpl.kt
Labels: bot: suggestions

#23509 add note about Expo Go and Analytics
  docs/pages/guides/using-analytics.mdx
Labels: bot: passed checks

#23577 [docs] Remove `hideFromSearch` in Home > Routing docs
  docs/pages/routing/appearance.mdx
  docs/pages/routing/create-pages.mdx
  docs/pages/routing/error-handling.mdx
  docs/pages/routing/installation.mdx
  docs/pages/routing/introduction.mdx
  docs/pages/routing/layouts.mdx
  docs/pages/routing/navigating-pages.mdx
Labels: bot: passed checks

#23578 [docs] Update BoxLink order in EAS Submit > Introduction
  docs/pages/submit/introduction.mdx
Labels: bot: passed checks

#23543 [tools] Remove ethon override
  Gemfile
  Gemfile.lock
Labels: bot: passed checks

#23573 [expo] Use `requireNativeModule` instead of `NativeModulesProxy.*`
  packages/expo-calendar/build/ExpoCalendar.d.ts
  packages/expo-calendar/build/ExpoCalendar.d.ts.map
  packages/expo-calendar/build/ExpoCalendar.js
  packages/expo-calendar/build/ExpoCalendar.js.map
  packages/expo-calendar/src/ExpoCalendar.ts
  packages/expo-eas-client/build/EASClient.d.ts
  packages/expo-eas-client/build/EASClient.d.ts.map
  packages/expo-eas-client/build/EASClient.js
  packages/expo-eas-client/build/EASClient.js.map
  packages/expo-eas-client/src/EASClient.ts
  packages/expo-image-manipulator/build/ExpoImageManipulator.d.ts
  packages/expo-image-manipulator/build/ExpoImageManipulator.d.ts.map
  packages/expo-image-manipulator/build/ExpoImageManipulator.js
  packages/expo-image-manipulator/build/ExpoImageManipulator.js.map
  packages/expo-image-manipulator/src/ExpoImageManipulator.ts
  packages/expo-image-picker/build/ExponentImagePicker.d.ts
  packages/expo-image-picker/build/ExponentImagePicker.d.ts.map
  packages/expo-image-picker/build/ExponentImagePicker.js
  packages/expo-image-picker/build/ExponentImagePicker.js.map
  packages/expo-image-picker/src/ExponentImagePicker.ts
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.d.ts
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.d.ts.map
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.js
  packages/expo-in-app-purchases/build/ExpoInAppPurchases.js.map
  packages/expo-in-app-purchases/src/ExpoInAppPurchases.ts
  packages/expo-keep-awake/build/ExpoKeepAwake.d.ts
  packages/expo-keep-awake/build/ExpoKeepAwake.d.ts.map
  packages/expo-keep-awake/build/ExpoKeepAwake.js
  packages/expo-keep-awake/build/ExpoKeepAwake.js.map
  packages/expo-keep-awake/src/ExpoKeepAwake.ts
  packages/expo-location/build/ExpoLocation.d.ts
  packages/expo-location/build/ExpoLocation.d.ts.map
  packages/expo-location/build/ExpoLocation.js
  packages/expo-location/build/ExpoLocation.js.map
  packages/expo-location/src/ExpoLocation.ts
  packages/expo-navigation-bar/build/ExpoNavigationBar.d.ts
  packages/expo-navigation-bar/build/ExpoNavigationBar.d.ts.map
  packages/expo-navigation-bar/build/ExpoNavigationBar.js
  packages/expo-navigation-bar/build/ExpoNavigationBar.js.map
  packages/expo-navigation-bar/src/ExpoNavigationBar.ts
  packages/expo-splash-screen/build/ExpoSplashScreen.d.ts.map
  packages/expo-splash-screen/build/ExpoSplashScreen.js
  packages/expo-splash-screen/build/ExpoSplashScreen.js.map
  packages/expo-splash-screen/src/ExpoSplashScreen.ts
  packages/expo-web-browser/build/ExpoWebBrowser.d.ts
  packages/expo-web-browser/build/ExpoWebBrowser.d.ts.map
  packages/expo-web-browser/build/ExpoWebBrowser.js
  packages/expo-web-browser/build/ExpoWebBrowser.js.map
  packages/expo-web-browser/src/ExpoWebBrowser.ts
Labels: bot: suggestions

#20583 [docs] Adds docs preview label
  .github/workflows/docs-pr-deploy.yml
  .github/workflows/docs-pr-destroy.yml
  .github/workflows/docs.yml
  docs/deploy.sh
  docs/ui/components/CommandMenu/Items/ExpoDocsItem.tsx
Labels: bot: passed checks, preview

#23579 [docs] Search: results grouping
  docs/ui/components/CommandMenu/CommandMenu.tsx
  docs/ui/components/CommandMenu/CommandMenuTrigger.tsx
  docs/ui/components/CommandMenu/Items/ExpoDocsItem.tsx
  docs/ui/components/CommandMenu/Items/ExpoItem.tsx
  docs/ui/components/CommandMenu/Items/RNDirectoryItem.tsx
  docs/ui/components/CommandMenu/Items/RNDocsItem.tsx
  docs/ui/components/CommandMenu/Items/icons.tsx
  docs/ui/components/CommandMenu/Items/styles.ts
  docs/ui/components/CommandMenu/expoEntries.ts
  docs/ui/components/CommandMenu/styles.ts
  docs/ui/components/CommandMenu/utils.ts
  docs/ui/components/Text/index.tsx
Labels: bot: passed checks

#23561 chore(docs): Use the router.canGoBack function from v2
  docs/pages/router/advanced/modals.mdx
Labels: bot: passed checks

#23560 chore(docs): integrate config plugins doc
  docs/pages/config-plugins/plugins-and-mods.mdx
  docs/ui/components/FileTree/index.tsx
Labels: bot: passed checks

#23563 @evanbacon/docs/fix router docs
  docs/pages/router/migrate/from-react-navigation.mdx
Labels: bot: passed checks

#23532 [expo-updates] New JS API useUpdates()
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/UpdatesEmitter.d.ts
  packages/expo-updates/build/UpdatesEmitter.d.ts.map
  packages/expo-updates/build/UpdatesEmitter.js
  packages/expo-updates/build/UpdatesEmitter.js.map
  packages/expo-updates/build/UpdatesHooks.d.ts
  packages/expo-updates/build/UpdatesHooks.d.ts.map
  packages/expo-updates/build/UpdatesHooks.js
  packages/expo-updates/build/UpdatesHooks.js.map
  packages/expo-updates/build/UseUpdates.d.ts
  packages/expo-updates/build/UseUpdates.d.ts.map
  packages/expo-updates/build/UseUpdates.js
  packages/expo-updates/build/UseUpdates.js.map
  packages/expo-updates/build/UseUpdates.types.d.ts
  packages/expo-updates/build/UseUpdates.types.d.ts.map
  packages/expo-updates/build/UseUpdates.types.js
  packages/expo-updates/build/UseUpdates.types.js.map
  packages/expo-updates/build/UseUpdatesUtils.d.ts
  packages/expo-updates/build/UseUpdatesUtils.d.ts.map
  packages/expo-updates/build/UseUpdatesUtils.js
  packages/expo-updates/build/UseUpdatesUtils.js.map
  packages/expo-updates/build/index.d.ts
  packages/expo-updates/build/index.d.ts.map
  packages/expo-updates/build/index.js
  packages/expo-updates/build/index.js.map
  packages/expo-updates/e2e/fixtures/App-apitest.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/setup/project.js
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/UpdatesEmitter.ts
  packages/expo-updates/src/UpdatesHooks.ts
  packages/expo-updates/src/UseUpdates.ts
  packages/expo-updates/src/UseUpdates.types.ts
  packages/expo-updates/src/UseUpdatesUtils.ts
  packages/expo-updates/src/__mocks__/ExpoUpdates.ts
  packages/expo-updates/src/__tests__/UseUpdates-test.ios.tsx
  packages/expo-updates/src/__tests__/UseUpdatesTestApp.tsx
  packages/expo-updates/src/index.ts
Labels: bot: passed checks

#23585 [docs] disable font ligatures in code elements
  docs/global-styles/extras.ts
Labels: bot: passed checks

#23581 [go][ios] Fix Expo Go not respecting the orientation field on initial load
  ios/Client/EXRootViewController.m
  ios/Exponent/Kernel/Views/EXAppViewController.m
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
Labels: bot: suggestions

#23583 [tools] Fix detecting home app for dynamic macros
  tools/src/dynamic-macros/macros.ts
Labels: bot: passed checks

#23572 [cellular] Enable jsi implementation
  packages/expo-cellular/build/ExpoCellular.d.ts
  packages/expo-cellular/build/ExpoCellular.d.ts.map
  packages/expo-cellular/build/ExpoCellular.js
  packages/expo-cellular/build/ExpoCellular.js.map
  packages/expo-cellular/src/ExpoCellular.ts
Labels: bot: suggestions

#23595 [docs] tweak outline style
  docs/global-styles/extras.ts
Labels: bot: passed checks

#23598 [docs] fix link in fonts.mdx
  docs/pages/develop/user-interface/fonts.mdx
Labels: bot: passed checks

#23421 fix: Expo Router generating types for invalid route files
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/type-generation/__tests__/routes.test.ts
  packages/@expo/cli/src/start/server/type-generation/routes.ts
Labels: bot: passed checks

#23608 [docs] Fix broken link in CNG docs
  docs/pages/workflow/continuous-native-generation.mdx
Labels: bot: passed checks

#23596 [docs] fix wrong link
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/src/FileSystem.ts
Labels: bot: suggestions

#23604 [docs] add missing keys to enumerated elements
  docs/pages/index.tsx
  docs/ui/components/FileTree/index.tsx
Labels: bot: passed checks

#23605 [docs] fix syntax highlight on Router pages
  docs/pages/router/advanced/drawer.mdx
  docs/pages/router/advanced/modals.mdx
  docs/pages/router/advanced/nesting-navigators.mdx
  docs/pages/router/advanced/platform-specific-modules.mdx
  docs/pages/router/advanced/router-settings.mdx
  docs/pages/router/advanced/shared-routes.mdx
  docs/pages/router/advanced/stack.mdx
  docs/pages/router/advanced/tabs.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/router/reference/hooks.mdx
  docs/pages/router/reference/redirects.mdx
  docs/pages/router/reference/screen-tracking.mdx
  docs/pages/router/reference/search-parameters.mdx
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/router/reference/troubleshooting.mdx
Labels: bot: passed checks

#23618 [docs] Expo Router docs: remove hideTOC flag and add missing description to some docs
  docs/pages/router/advanced/platform-specific-modules.mdx
  docs/pages/router/advanced/router-settings.mdx
  docs/pages/router/advanced/shared-routes.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/router/reference/redirects.mdx
  docs/pages/router/reference/screen-tracking.mdx
  docs/pages/router/reference/search-parameters.mdx
  docs/pages/router/reference/sitemap.mdx
  docs/pages/router/reference/src-directory.mdx
  docs/pages/router/reference/static-rendering.mdx
Labels: bot: passed checks

#23614 [docs] Reorganize Use EAS Update in an existing project page
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/bare/error-recovery.mdx
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/debug-advanced.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/migrate-from-classic-updates.mdx
  docs/pages/eas-update/updating-your-app.mdx
Labels: bot: passed checks

#23611 [docs] Analytics guide: hide TOC
  docs/pages/guides/using-analytics.mdx
Labels: bot: passed checks

#23623 [docs] Location: update outdated Enable Emulator location section
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/v48.0.0/sdk/location.mdx
  docs/pages/versions/v49.0.0/sdk/location.mdx
  docs/public/static/images/android-emulator-location.png
  docs/public/static/images/ios-simulator-location.png
  docs/public/static/images/sdk/location/enable-android-emulator-location.png
  docs/public/static/images/sdk/location/ios-simulator-location.png
Labels: bot: passed checks

#23562 [expo-manifests] Fix error in handling nested array
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile.lock
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
  packages/expo-manifests/android/src/test/java/expo/modules/manifests/core/ManifestTest.kt
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-manifests/ios/Tests/ManifestSpec.swift
Labels: bot: suggestions

#23621 fix(cli): allow multiple `--platform` flags in `expo export`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/export/index.ts
  packages/@expo/cli/src/export/resolveOptions.ts
Labels: bot: passed checks

#23602 [expo-updates][iOS] Fix template for EX_UPDATES_NATIVE_DEBUG
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/xcode.env.local
  packages/expo-updates/e2e/setup/project.js
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#23647 [docs] Fix internal link in Installing expo-modules
  docs/pages/bare/installing-expo-modules.mdx
Labels: bot: passed checks

#23624 [iOS] Refactor version manager in Expo Go
  ios/Client/EXHomeAppManager.m
  ios/Exponent-Bridging-Header.h
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  ios/Exponent/Versioned/Core/EXVersionManagerObjC.h
  ios/Exponent/Versioned/Core/EXVersionManagerObjC.m
  ios/Exponent/Versioned/Core/EXVersionUtils.h
  ios/Exponent/Versioned/Core/EXVersionUtils.mm
  ios/Exponent/Versioned/Core/Modules/ExpoGoModule.swift
  ios/Exponent/Versioned/Core/UniversalModules/EXConstantsBinding.h
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.h
  ios/Exponent/Versioned/Core/VersionManager.swift
  packages/expo-modules-core/ios/AppDelegates/EXLegacyAppDelegateWrapper.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryHolderReactModule.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryHolderReactModule.m
  packages/expo-modules-core/ios/ModuleRegistryProvider/EXModuleRegistryProvider.h
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/ExpoBridgeModule.swift
Labels: bot: suggestions

#23637 [screen-orientation][ios] Fix config plugin deleting the EXDefaultScreenOrientationMask key from Info.plist
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/plugin/build/withScreenOrientation.d.ts
  packages/expo-screen-orientation/plugin/build/withScreenOrientation.js
  packages/expo-screen-orientation/plugin/src/withScreenOrientation.ts
Labels: bot: passed checks

#23651 [modules-core][Android] Fixed the `ErrorViewGroup` cannot be cast to view class exception
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ErrorView.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ErrorViewGroup.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
Labels: bot: suggestions

#23617 [android][image-picker] Restore backported photo picker
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/build.gradle
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerExceptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CameraContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ContractsUtils.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
Labels: bot: passed checks

#23653 [core][Android] Add tracing
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/tracing/ExpoTrace.kt
Labels: bot: suggestions

#23655 [docs] FileSystem: Sync changes from to fix broken link
  docs/public/static/data/unversioned/expo-file-system.json
  docs/public/static/data/v49.0.0/expo-file-system.json
Labels: bot: passed checks

#22512 Fix ios crop box not dragging issue
  packages/expo-image-picker/ios/ImagePickerModule.swift
  packages/expo-image-picker/ios/UIImagePickerControllerExtentsion.swift
Labels: bot: suggestions

#23636 fix(cli): add deprecation notice to typed routes export and fix types
  apps/sandbox/package.json
  docs/pages/router/reference/typed-routes.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/type-generation/__typetests__/fixtures/basic.ts
  packages/@expo/cli/src/start/server/type-generation/routes.ts
  yarn.lock
Labels: bot: passed checks
