Repository expo/expo, pull requests merged in 2023-03, with the labels that each got.

#21391 [expo-updates][ios] Convert EXUpdatesConfig to swift
  ios/Exponent/Kernel/AppLoader/EXAbstractLoader+Updates.h
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherNoDatabase.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesBuildData.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.h
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController+Internal.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesUtils.h
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesBareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesLegacyUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/EXUpdatesNewUpdate.swift
  packages/expo-updates/ios/Tests/EXUpdatesAppLauncherWithDatabaseTests.m
  packages/expo-updates/ios/Tests/EXUpdatesBuildDataTests.m
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseIntegrityCheckTests.m
  packages/expo-updates/ios/Tests/EXUpdatesDatabaseTests.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderManifestParsingTest.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderTests.m
  packages/expo-updates/ios/Tests/EXUpdatesLegacyUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesNewUpdateSpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesReaperSelectionPolicyDevelopmentClientTests.m
  packages/expo-updates/ios/Tests/EXUpdatesReaperSelectionPolicyFilterAwareTests.m
  packages/expo-updates/ios/Tests/EXUpdatesSelectionPolicyFilterAwareTests.m
  packages/expo-updates/ios/Tests/EXUpdatesUpdateSpec.swift
  packages/expo-updates/ios/Tests/Tests.m
Labels: bot: suggestions

#21385 [docs] Update `expo-github-action` guides and examples
  docs/pages/accounts/programmatic-access.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/eas-update/github-actions.mdx
Labels: bot: passed checks

#21456 [docs] PageTitle: adjust DOM for Algolia crawler
  docs/ui/components/PageTitle/PageTitle.tsx
  docs/ui/components/Text/index.tsx
  docs/ui/components/Text/types.ts
Labels: bot: passed checks

#21457 [docs] Small fixes and redirects based on Sentry reports
  docs/common/error-utilities.ts
  docs/pages/build/setup.mdx
  docs/pages/development/installation.mdx
  docs/pages/eas-update/eas-update-with-local-build.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/submit/eas-json.mdx
Labels: bot: passed checks

#21383 [clipboard][Android] Fixed crash in clipboard listener on Android SDK <26
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardModule.kt
Labels: bot: suggestions

#21445 [docs] Remove manual Facebook & Google instructions from Authentication
  docs/pages/guides/authentication.mdx
Labels: bot: passed checks

#21408 [docs] Update Installation page to add a note about installing Node.js using a version manager
  docs/pages/get-started/installation.mdx
Labels: bot: passed checks

#21481 [ios] fix build errors
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFileSystem/EXScopedFileSystemModule.m
  ios/Podfile.lock
  packages/expo-dev-launcher/ios/EXDevLauncherController.h
Labels: bot: suggestions

#21265 [dev-server][dev-launcher] inspector network on ios
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Podfile.properties.json
  packages/@expo/dev-server/build/JsInspector.js
  packages/@expo/dev-server/build/JsInspector.js.map
  packages/@expo/dev-server/src/JsInspector.ts
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherUtils.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Labels: bot: suggestions

#21479 [core][ios] Fix jsc import when using use_frameworks
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
Labels: bot: suggestions

#21377 [autolinking] Introduce gradle plugin autolinking
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: suggestions

#21327 [dev-launcher] add gradle plugin to log all OkHttp requests
  apps/bare-expo/android/gradle.properties
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptor.kt
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/.gitignore
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/build.gradle.kts
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/src/main/kotlin/expo/modules/devlauncher/DevLauncherPlugin.kt
  packages/expo-dev-launcher/expo-module.config.json
Labels: bot: suggestions

#21487 [docs] fix typo on expo modules api documentation
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#21388 feat(expo)!: drop `EXPO_USE_LOCAL_CLI` in favor of using `expo` for the local CLI and `expo-cli` for the global CLI.
  apps/bare-expo/jest-puppeteer.config.js
  docs/pages/build-reference/android-builds.mdx
  docs/pages/build-reference/ios-builds.mdx
  packages/expo/CHANGELOG.md
  packages/expo/bin/cli
  packages/expo/bin/cli.js
  packages/expo/package.json
Labels: bot: suggestions

#21485 [docs] Update routing & navigation docs to point to `expo-router`
  docs/pages/guides/routing-and-navigation.mdx
  docs/public/static/videos/expo-router/routing.mp4
  docs/public/static/videos/routing-and-navigation/preview.mp4
Labels: bot: passed checks

#21458 [expo-updates] Consolidate E2E tests
  .github/workflows/updates-e2e-assets.yml
  .github/workflows/updates-e2e.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App-assets.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates-assets.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-basic.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/.detoxrc.json
  packages/expo-updates/e2e/fixtures/project_files/detox.config.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/config.json
  packages/expo-updates/e2e/fixtures/project_files/e2e/environment.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/jest.config.js
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/server.ts
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/fixtures/project_files/scripts/generate-test-update-bundles.js
  packages/expo-updates/e2e/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/setup/create-eas-project.js
  packages/expo-updates/e2e/setup/project.js
Labels: bot: passed checks

#21492 [docs] fix typo and anchor link
  docs/pages/guides/using-custom-fonts.mdx
Labels: bot: passed checks

#21486 [menu] Improve bottom sheet behaviour
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherActivity.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuActivity.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuInternalModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/DevMenuModule.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/modules/internals/DevMenuInternalMenuControllerModule.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
  packages/expo-dev-menu/app/native-modules/__mocks__/DevMenu.ts
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/build/DevMenu.d.ts
  packages/expo-dev-menu/build/DevMenu.d.ts.map
  packages/expo-dev-menu/build/DevMenu.js
  packages/expo-dev-menu/build/DevMenu.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.types.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.types.d.ts.map
  packages/expo-dev-menu/build/ExpoDevMenu.types.js.map
  packages/expo-dev-menu/build/ExpoDevMenu.web.d.ts.map
  packages/expo-dev-menu/build/ExpoDevMenu.web.js
  packages/expo-dev-menu/build/ExpoDevMenu.web.js.map
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-dev-menu/ios/DevMenuWindow.swift
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/ios/Modules/DevMenuModule.m
  packages/expo-dev-menu/ios/Modules/DevMenuModule.swift
  packages/expo-dev-menu/src/DevMenu.ts
  packages/expo-dev-menu/src/ExpoDevMenu.types.ts
  packages/expo-dev-menu/src/ExpoDevMenu.web.ts
Labels: bot: suggestions

#21500 [ios][local-authentication] Fix incorrect nil check
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/ios/LocalAuthenticationModule.swift
Labels: bot: suggestions

#21504 Add a guideline about using mdash in markdown files for docs
  guides/Expo Documentation Writing Style Guide.md
Labels: bot: passed checks

#21510 [dev-launcher] Update bundle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions

#21520 [expo-updates] E2E tests: graceful Detox failures
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
Labels: bot: passed checks

#21475 feat(cli): auto setup typescript during start
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/__tests__/startBundler-test.ts
  packages/@expo/cli/src/run/startBundler.ts
  packages/@expo/cli/src/start/doctor/Prerequisite.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/ensureDependenciesAsync-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/ensureDependenciesAsync.ts
  packages/@expo/cli/src/start/doctor/typescript/TypeScriptProjectPrerequisite.ts
  packages/@expo/cli/src/start/doctor/typescript/updateTSConfig.ts
  packages/@expo/cli/src/start/doctor/web/WebSupportProjectPrerequisite.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/waitForMetroToObserveTypeScriptFile.test.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
  packages/@expo/cli/src/start/server/metro/waitForMetroToObserveTypeScriptFile.ts
  packages/@expo/cli/src/start/startAsync.ts
  packages/@expo/cli/ts-declarations/metro-inspector-proxy/index.d.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
Labels: bot: suggestions

#21529 fix SDK version for path aliases
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/workflow/expo-cli.mdx
Labels: bot: passed checks

#21533 [expo] bump sentry dependency versions
  packages/expo/bundledNativeModules.json
Labels: bot: suggestions

#21538 Grammar mistake
  docs/pages/build/introduction.mdx
Labels: bot: passed checks

#21534 Update bar-code-scanner.mdx
  docs/pages/versions/unversioned/sdk/bar-code-scanner.mdx
  docs/pages/versions/v48.0.0/sdk/bar-code-scanner.mdx
Labels: bot: passed checks

#21528 fix copy paste issue in docs
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/v48.0.0/sdk/location.mdx
Labels: bot: passed checks

#21554 [file-system] fix unrecognized md5String selector crash
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemAssetLibraryHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemLocalFileHandler.m
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem/NSData+EXFileSystem.m
Labels: bot: suggestions

#21515 [tools] Update check-packages to check for bundle files
  tools/src/check-packages/checkPackageAsync.ts
  tools/src/check-packages/checkUniformityAsync.ts
Labels: bot: passed checks

#21549 [expo-media-library] Allow saving animated gifs
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/EXMediaLibrary/EXMediaLibrary.m
  packages/expo-media-library/ios/EXMediaLibrary/EXSaveToLibraryDelegate.h
  packages/expo-media-library/ios/EXMediaLibrary/EXSaveToLibraryDelegate.m
Labels: bot: suggestions

#21462 [cli][dev-menu][go] add react devtools
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/ReactDevToolsProxy.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ReactDevToolsPageMiddleware.ts
  packages/@expo/cli/static/react-devtools-page/index.html
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/websockets/DevMenuCommandHandlersProvider.kt
  packages/expo-dev-menu/ios/DevMenuPackagerConnectionHandler.swift
  yarn.lock
Labels: bot: suggestions

#21490 [dev-launcher] emits Expo(Network.receivedResponseBody) event
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptor.kt
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Labels: bot: suggestions

#21564 [docs] More descriptive "Debugging" page titles
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/workflow/debugging.mdx
Labels: bot: passed checks

#21396 feat(cli)!: use Expo CLI to bundle production apps
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/fabric-tester/android/app/build.gradle
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/workflow/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/embed/index.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/src/utils/resolveArgs.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Updates-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/@expo/dev-server/build/MetroDevServer.d.ts
  packages/@expo/dev-server/build/MetroDevServer.js
  packages/@expo/dev-server/build/MetroDevServer.js.map
  packages/@expo/dev-server/src/MetroDevServer.ts
  packages/expo/CHANGELOG.md
  packages/expo/scripts/resolveAppEntry.js
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: suggestions

#21393 [ios][secure-store] Migrate to expo modules
  apps/bare-expo/ios/Podfile.lock
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/build/ExpoSecureStore.d.ts
  packages/expo-secure-store/build/ExpoSecureStore.d.ts.map
  packages/expo-secure-store/build/ExpoSecureStore.js
  packages/expo-secure-store/build/ExpoSecureStore.js.map
  packages/expo-secure-store/expo-module.config.json
  packages/expo-secure-store/ios/EXSecureStore/EXSecureStore.h
  packages/expo-secure-store/ios/EXSecureStore/EXSecureStore.m
  packages/expo-secure-store/ios/ExpoSecureStore.podspec
  packages/expo-secure-store/ios/SecureStoreAccessible.swift
  packages/expo-secure-store/ios/SecureStoreExceptions.swift
  packages/expo-secure-store/ios/SecureStoreModule.swift
  packages/expo-secure-store/ios/SecureStoreOptions.swift
  packages/expo-secure-store/src/ExpoSecureStore.ts
  packages/expo-secure-store/unimodule.json
Labels: bot: suggestions

#21311 Sort jest mock generation
  apps/jest-expo-mock-generator/App.js
  apps/jest-expo-mock-generator/package.json
Labels: bot: passed checks

#21576 [expo-image][ios] Fixed tintColor not being passed to native view
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/src/ExpoImage.tsx
Labels: bot: suggestions

#21584 [core][Android] Expose `AppContext` from `KotlinInteropModuleRegistry`
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
Labels: bot: suggestions

#21587 [menu][Android] Remove unused code
  packages/expo-dev-menu/android/src/expo-44/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/expo-45/java/expo/modules/devmenu/DevMenuPackageDelegate.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
Labels: bot: suggestions

#21588 [android][document-picker] fix picking cancellation
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerResults.kt
Labels: bot: suggestions

#21493 [exupdates][ios] Convert file downloader to swift
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Kernel/Services/EXUpdatesManager.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppLauncher/EXUpdatesAppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesCrypto.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesEmbeddedAppLoader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.h
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.m
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesRemoteAppLoader.m
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabaseIntegrityCheck.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesReaper.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesModule.m
  packages/expo-updates/ios/EXUpdates/Multipart/EXUpdatesParameterParser.h
  packages/expo-updates/ios/EXUpdates/Multipart/EXUpdatesParameterParser.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderManifestParsingTest.m
  packages/expo-updates/ios/Tests/EXUpdatesFileDownloaderTests.m
  packages/expo-updates/ios/Tests/EXUpdatesParameterParserTests.m
Labels: bot: suggestions

#21570 [exupdates][ios] Convert error recovery to swift
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Podfile.lock
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesAppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.swift
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoverySpec.swift
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoveryTests.m
Labels: bot: passed checks

#21593 fix(expo-font): fix require cycle on web.
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/FontLoader.web.d.ts.map
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/src/FontLoader.web.ts
Labels: bot: suggestions

#21592 [expo-updates] Fix E2E after Swift conversion
  .github/workflows/updates-e2e.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/EXUpdatesE2ETestModule.m
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/ios/EXUpdates/AppLoader/EXUpdatesFileDownloader.swift
  packages/expo-updates/ios/EXUpdates/Database/EXUpdatesDatabase.swift
Labels: bot: passed checks, !

#21579 [android][go] fix broken reanimated layout animation
  android/expoview/src/main/java/versioned/host/exp/exponent/ExpoTurboPackage.kt
  android/vendored/sdk48/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/latest/com/swmansion/reanimated/ReanimatedUIManagerFactory.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/latest/com/swmansion/reanimated/ReanimatedUIManagerFactory.java
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/ExpoTurboPackage.kt
  tools/src/vendoring/config/expoGoConfig.ts
Labels: bot: passed checks

#21580 [linear-gradient] fix crash when r8 enabled
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientView.java
Labels: bot: suggestions

#21581 [jest-expo] use globalThis rather than global
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: suggestions

#21602 [expo-updates] Fix iOS native debug after Swift conversion
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/ios/EXUpdates.podspec
Labels: bot: passed checks

#21601 Syntax error on line 217 - (Handle push notifications with React Navigation) Doc
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v48.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#21614 Update configuring-js-engines.mdx
  docs/pages/guides/configuring-js-engines.mdx
Labels: bot: passed checks

#21612 [docs] Rename "Debugging" section titles to be more meaningful for various docs pages
  docs/pages/build-reference/ios-capabilities.mdx
  docs/pages/development/use-development-builds.mdx
  docs/pages/eas-update/debug-updates.mdx
  docs/pages/guides/config-plugins.mdx
  docs/pages/workflow/snack.mdx
Labels: bot: passed checks

#21616 [docs] remove invalid graphql links resources on using graphql section
  docs/pages/guides/using-graphql.mdx
Labels: bot: passed checks

#21613 [auth-session][docs] fix broken link in JSDoc, fix changelog formatting
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v48.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequestHooks.d.ts
  packages/expo-auth-session/build/AuthRequestHooks.js
  packages/expo-auth-session/build/AuthRequestHooks.js.map
  packages/expo-auth-session/src/AuthRequestHooks.ts
Labels: bot: passed checks

#21615 [docs] Fix typo in expo-contacts documentation
  docs/pages/versions/unversioned/sdk/contacts.mdx
  docs/pages/versions/v48.0.0/sdk/contacts.mdx
Labels: bot: passed checks

#21591 [exupdates][ios] Convert controllers to swift
  packages/expo-updates-interface/ios/EXUpdatesInterface/EXUpdatesExternalInterface.h
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController+Internal.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesAppController.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.m
  packages/expo-updates/ios/EXUpdates/EXUpdatesDevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesErrorRecovery.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesAppDelegateSubscriber.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/Tests/EXUpdatesErrorRecoverySpec.swift
Labels: bot: suggestions

#21622 [exupdates][ios] More swift rename cleanup
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncher.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncherNoDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/ErrorRecovery.swift
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesAppDelegateSubscriber.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/LauncherSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/LauncherSelectionPolicySingleUpdate.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/LoaderSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/ReaperSelectionPolicyDevelopmentClient.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/ReaperSelectionPolicyFilterAware.swift
  packages/expo-updates/ios/EXUpdates/SelectionPolicy/SelectionPolicy.swift
  packages/expo-updates/ios/EXUpdates/Update/BareUpdate.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
Labels: bot: suggestions

#21632 test(cli): wait until `socket.on('close')` is invoked in proxy test
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/proxy.test.ts
Labels: bot: suggestions

#21637 update sentry-testkit url address
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#21645 [expo-updates] E2E tests: Upgrade Detox config plugin
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/setup/project.js
Labels: bot: suggestions

#21657 [docs] Add redirects based on Sentry reports and fix formatting in tutorial
  docs/common/error-utilities.ts
  docs/pages/archive/adhoc-builds.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/technical-specs/expo-updates-1-draft.mdx
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
Labels: bot: passed checks

#21660 [docs] Expo CLI: improve env variables readability
  docs/pages/workflow/expo-cli.mdx
  docs/ui/components/Tag/StatusTag.tsx
Labels: bot: passed checks

#21560 feature(cli): add vscode compatibility handler to inspector proxy
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/VscodeCompat.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/VscodeCompat.test.ts
Labels: bot: suggestions

#21655 [exupdates][ios] Fix odd nullability issue in expo module
  ios/Exponent/Kernel/Services/EXUpdatesManager.m
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.h
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
Labels: bot: suggestions

#21652 [expo-updates][ios] Add support for version 1 of the protocol and rollbacks
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Podfile.lock
  packages/expo-dev-launcher/ios/EXDevLauncherRecentlyOpenedAppsRegistry.swift
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/ManifestHeaders.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/ResponseHeaderData.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/UpdateResponse.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherController.swift
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/Update.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/Tests/FileDownloaderManifestParsingSpec.swift
  packages/expo-updates/ios/Tests/NewUpdateSpec.swift
  packages/expo-updates/ios/Tests/ResponseHeaderDataSpec.swift
  packages/expo-updates/ios/Tests/SelectionPolicyFilterAwareSpec.swift
  packages/expo-updates/ios/Tests/TestHelper.swift
  packages/expo-updates/ios/Tests/UpdateSpec.swift
  packages/expo-updates/ios/Tests/UpdatesBuildDataSpec.swift
  packages/expo-updates/ios/Tests/UpdatesDatabaseSpec.swift
Labels: bot: needs changes

#21669 [docs] Fix the link "React Native basics guide"
  docs/pages/tutorial/follow-up.mdx
Labels: bot: passed checks

#21684 [exupdates][ios] Make test fixtures consistent across platforms
  packages/expo-updates/ios/Tests/CertificateChainTests.swift
  packages/expo-updates/ios/Tests/CertificateFixtures.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/FileDownloaderManifestParsingSpec.swift
Labels: bot: suggestions

#21685 [exupdates][ios] Convert more tests to swift/nimble
  packages/expo-updates/ios/Tests/CertificateChainSpec.swift
  packages/expo-updates/ios/Tests/CertificateChainTests.swift
  packages/expo-updates/ios/Tests/CodeSigningAlgorithmSpec.swift
  packages/expo-updates/ios/Tests/CodeSigningAlgorithmTests.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationSpec.swift
  packages/expo-updates/ios/Tests/CodeSigningConfigurationTests.swift
  packages/expo-updates/ios/Tests/SignatureHeaderInfoSpec.swift
  packages/expo-updates/ios/Tests/SignatureHeaderInfoTests.swift
Labels: bot: suggestions

#21681 Update create-your-first-app.mdx
  docs/pages/tutorial/create-your-first-app.mdx
Labels: bot: passed checks

#21661 [core][Android] Make `fallbackCallback` optional in the `registerForActivityResult` method
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultCaller.kt
Labels: bot: suggestions

#21658 [image][Android] Try to fix recycled bitmap error
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
Labels: bot: suggestions

#21572 feat(cli): add basic static rendering for router projects
  .gitignore
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-test.ts.snap
  packages/@expo/cli/e2e/__tests__/config-test.ts
  packages/@expo/cli/e2e/__tests__/export-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-router/app.json
  packages/@expo/cli/e2e/fixtures/with-router/app/_layout.js
  packages/@expo/cli/e2e/fixtures/with-router/app/about.js
  packages/@expo/cli/e2e/fixtures/with-router/app/index.js
  packages/@expo/cli/e2e/fixtures/with-router/babel.config.js
  packages/@expo/cli/e2e/fixtures/with-router/index.js
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/@expo/cli/e2e/fixtures/with-router/public/favicon.ico
  packages/@expo/cli/package.json
  packages/@expo/cli/src/export/__tests__/exportStaticAsync.test.ts
  packages/@expo/cli/src/export/createBundles.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
  packages/@expo/cli/src/utils/env.ts
  yarn.lock
Labels: bot: suggestions

#21397 feat(expo)!: use Expo CLI when building for development in Xcode
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/__tests__/fixtures/react-native-project.ts
  packages/@expo/cli/src/run/ios/codeSigning/__tests__/fixtures/project.pbxproj
  packages/@expo/cli/src/run/ios/codeSigning/__tests__/fixtures/signed-project.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/Swift-test.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-multitarget-missing-targetattributes.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-multitarget.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-rni.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-swift.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-with-entitlements.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-with-incorrect-create-manifest-ios-path.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/project-without-create-manifest-ios.pbxproj
  packages/@expo/config-plugins/src/ios/__tests__/fixtures/watch.pbxproj
  packages/@expo/fingerprint/src/sourcer/__tests__/fixtures/BareReactNative70Project.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/plugin/src/__tests__/fixtures/project.pbxproj
  packages/expo-notifications/plugin/src/__tests__/withNotificationsiOS-test.ts
  packages/expo/CHANGELOG.md
  packages/expo/scripts/compose-source-maps.js
  packages/expo/scripts/launchPackager.command
  packages/expo/scripts/node-binary.sh
  packages/expo/scripts/packager.sh
  packages/expo/scripts/react-native-xcode.sh
  packages/expo/scripts/xcode/with-environment.sh
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: suggestions

#21700 docs: fix heading name
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#21698 docs: fix sentence
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#21569 [core][ios] Fix automatic percent-encoding when converting to URL
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Swift/Utilities.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: suggestions

#21619 [docs] Adds AppJS banner
  docs/package.json
  docs/pages/index.tsx
  docs/ui/components/AppJSBanner/Background.tsx
  docs/ui/components/AppJSBanner/index.tsx
  docs/yarn.lock
Labels: bot: passed checks

#21695 [image][Android] Fix crashes caused by empty placeholder or source on Android
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Labels: bot: suggestions

#21701 [docs] fix AppJS button hover style
  docs/ui/components/AppJSBanner/index.tsx
Labels: bot: passed checks

#21703 [exupdates] Move version 1 of the protocol out of draft
  docs/constants/navigation.js
  docs/pages/bare/updating-your-app.mdx
  docs/pages/distribution/custom-updates-server.mdx
  docs/pages/eas-update/developing-with-eas-update.mdx
  docs/pages/technical-specs/archive/expo-updates-0.mdx
  docs/pages/technical-specs/expo-updates-1.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v47.0.0/sdk/updates.mdx
  docs/pages/versions/v48.0.0/sdk/updates.mdx
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/NewUpdateManifest.kt
  packages/expo-updates/guides/general.md
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
Labels: bot: suggestions

#21628 [image][Android] Add automatic asset downscaling to improve performance
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ImageViewWrapperTarget.kt
  packages/expo-image/android/src/main/java/expo/modules/image/enums/ContentFit.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Labels: bot: suggestions

#21636 [device][ios] Added support for desktop detection
  packages/expo-device/CHANGELOG.md
  packages/expo-device/ios/DeviceModule.swift
Labels: bot: suggestions

#21699 fix(fingerprint): update snapshot
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
Labels: bot: passed checks

#21644 feat(cli): Set node env for metro config in `expo export:embed`.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
Labels: bot: suggestions

#21706 [docs] Move Expo Updates v0 Technical Spec to /archive
  docs/constants/navigation.js
  docs/pages/archive/technical-specs/expo-updates-0.mdx
Labels: bot: passed checks

#21633 [device] Add deviceType constant
  apps/native-component-list/src/screens/DeviceScreen.tsx
  apps/test-suite/tests/Device.js
  packages/expo-device/CHANGELOG.md
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
  packages/expo-device/build/Device.d.ts
  packages/expo-device/build/Device.d.ts.map
  packages/expo-device/build/Device.js
  packages/expo-device/build/Device.js.map
  packages/expo-device/build/ExpoDevice.web.d.ts
  packages/expo-device/build/ExpoDevice.web.d.ts.map
  packages/expo-device/build/ExpoDevice.web.js
  packages/expo-device/build/ExpoDevice.web.js.map
  packages/expo-device/ios/DeviceModule.swift
  packages/expo-device/src/Device.ts
  packages/expo-device/src/ExpoDevice.web.ts
Labels: bot: needs changes

#21716 [docs] Remove `authToken` from Sentry configuration guide
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#21448 [tools] Fix publishing packages to NPM using OTP
  tools/src/Npm.ts
  tools/src/publish-packages/tasks/publishPackages.ts
Labels: bot: passed checks

#21729 Fix link to Snack in features table
  docs/pages/introduction/expo.mdx
Labels: bot: passed checks

#21737 [docs] Footer: tweaks based on feedback
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/Footer/PageVote.tsx
Labels: bot: passed checks

#21724 [github] Add workflow to check issues with pending validation labels
  .github/workflows/check-issues-nightly.yml
Labels: bot: passed checks

#21474 [docs] simple typo fixing inside Magnetometer.ts
  packages/expo-sensors/src/Magnetometer.ts
Labels: bot: suggestions

#21686 [docs][expo-document-picker][refactor]: Fixed a minor typo
  docs/public/static/data/unversioned/expo-document-picker.json
  docs/public/static/data/v46.0.0/expo-document-picker.json
  docs/public/static/data/v47.0.0/expo-document-picker.json
  docs/public/static/data/v48.0.0/expo-document-picker.json
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/src/types.ts
Labels: bot: suggestions

#21506 [docs] expo-image is availabe with Expo SDK 48
  docs/pages/versions/v48.0.0/sdk/image.mdx
Labels: bot: passed checks

#21764 [docs] Update Expo Image availability message
  docs/pages/versions/unversioned/sdk/image.mdx
  docs/pages/versions/v48.0.0/sdk/image.mdx
Labels: bot: passed checks

#21209 [tools] Fix the review bot complaining about changes in the root changelog
  tools/src/Constants.ts
  tools/src/code-review/reviewers/checkMissingChangelogs.ts
  tools/src/versioning/android/versionVendoredModules.ts
  tools/src/versioning/ios/versionVendoredModules.ts
Labels: bot: passed checks

#21751 [docs] refactor part of the components, use TW instead Emotion
  docs/components/plugins/EasMetadataTable.tsx
  docs/components/plugins/Highlight.tsx
  docs/components/plugins/PlatformsSection.tsx
  docs/components/plugins/PossibleRedirectNotification.tsx
  docs/components/plugins/VersionedRedirectNotification.tsx
  docs/components/plugins/Video.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionEnums.tsx
  docs/pages/index.tsx
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/Home/Cells.tsx
  docs/ui/components/Home/HomeButton.tsx
  docs/ui/components/Navigation/ApiVersionSelect.tsx
  docs/ui/components/Separator.tsx
Labels: bot: passed checks

#21760 [core][ios] Remove legacy view managers
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/EXViewManager.h
  packages/expo-modules-core/ios/EXViewManager.m
  packages/expo-modules-core/ios/ModuleRegistry/EXModuleRegistry.h
  packages/expo-modules-core/ios/ModuleRegistry/EXModuleRegistry.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXModuleRegistryAdapter.m
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXViewManagerAdapterClassesRegistry.h
  packages/expo-modules-core/ios/ModuleRegistryAdapter/EXViewManagerAdapterClassesRegistry.m
  packages/expo-modules-core/ios/ModuleRegistryProvider/EXModuleRegistryProvider.m
  packages/expo-modules-core/ios/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/ViewManagerAdapter/EXViewManagerAdapter.h
  packages/expo-modules-core/ios/ViewManagerAdapter/EXViewManagerAdapter.m
Labels: bot: suggestions

#21730 [ENG-7709][ci][docs] use `m-medium` resource class instead of deprecated `m1-medium` resource class
  apps/eas-expo-go/eas.json
  docs/pages/build-reference/infrastructure.mdx
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
  packages/expo-updates/e2e/fixtures/project_files/eas.json
Labels: bot: suggestions

#21771 [docs] Fix Separator component background color
  docs/ui/components/Separator.tsx
Labels: bot: passed checks

#21758 [ios] [image-picker] Return correct width/height for rotated videos
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: passed checks

#21773 [core][Android] Fixed `ReadableNativeMap` cannot be cast to the `Record`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
Labels: bot: suggestions

#21756 Remove debugging loaded modules in bare-expo
  apps/bare-expo/debugging.ts
  apps/bare-expo/debugging.web.ts
  apps/bare-expo/index.tsx
Labels: bot: passed checks

#21714 [expo-print][android] Migrate the expo-print module to the new modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  docs/public/static/data/unversioned/expo-print.json
  packages/expo-print/CHANGELOG.md
  packages/expo-print/android/src/main/java/expo/modules/print/PrintDocumentAdapter.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintExceptions.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintModule.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintOptions.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPDFRenderTask.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintPackage.kt
  packages/expo-print/android/src/main/java/expo/modules/print/PrintResponse.kt
  packages/expo-print/build/ExponentPrint.d.ts.map
  packages/expo-print/build/ExponentPrint.js
  packages/expo-print/build/ExponentPrint.js.map
  packages/expo-print/build/Print.d.ts
  packages/expo-print/build/Print.d.ts.map
  packages/expo-print/build/Print.js
  packages/expo-print/build/Print.js.map
  packages/expo-print/build/Print.types.d.ts
  packages/expo-print/build/Print.types.d.ts.map
  packages/expo-print/build/Print.types.js.map
  packages/expo-print/expo-module.config.json
  packages/expo-print/src/ExponentPrint.ts
  packages/expo-print/src/Print.ts
  packages/expo-print/src/Print.types.ts
Labels: bot: passed checks

#21767 [docs] Add a reference guide custom build configs
  docs/pages/build-reference/custom-build-config.mdx
  docs/public/static/images/eas-build/custom-build.png
Labels: bot: passed checks

#21753 [docs] Update E2E test doc for SDK 48 and Detox 20
  docs/pages/build-reference/e2e-tests.mdx
Labels: bot: passed checks

#21778 [core] Replace global with globalThis
  packages/expo-modules-core/build/requireNativeModule.js
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/src/requireNativeModule.ts
Labels: bot: passed checks

#21774 [core][Android] Make module initialization lazy
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptAnonymousObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.cpp
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.h
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIInteropModuleRegistry.kt
Labels: bot: suggestions

#20365 [modules][expo-document-picker] Support picking multiple documents
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/src/screens/DocumentPickerScreen.tsx
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerModule.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerOptions.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerResults.kt
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts.map
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/build/index.d.ts
  packages/expo-document-picker/build/index.d.ts.map
  packages/expo-document-picker/build/index.js
  packages/expo-document-picker/build/index.js.map
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.d.ts.map
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/expo-module.config.json
  packages/expo-document-picker/ios/DocumentPickerModule.swift
  packages/expo-document-picker/ios/DocumentPickerOptions.swift
  packages/expo-document-picker/ios/DocumentPickerResponse.swift
  packages/expo-document-picker/ios/DocumentPickingDelegate.swift
  packages/expo-document-picker/ios/EXDocumentPicker/EXDocumentPickerModule.h
  packages/expo-document-picker/ios/EXDocumentPicker/EXDocumentPickerModule.m
  packages/expo-document-picker/ios/Exceptions.swift
  packages/expo-document-picker/ios/ExpoDocumentPicker.podspec
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
  packages/expo-document-picker/src/index.ts
  packages/expo-document-picker/src/types.ts
  packages/expo-document-picker/unimodule.json
Labels: bot: suggestions

#21424 [expo-modules] Add tsconfig `paths` config to look for package definitions in the `/modules` directory
  packages/expo/tsconfig.base.json
Labels: bot: suggestions

#21779 [dev-launcher] support request redirections in network inspector
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptor.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherOkHttpInterceptors.kt
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/src/main/kotlin/expo/modules/devlauncher/DevLauncherPlugin.kt
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Labels: bot: suggestions

#21770 [docs] Remove expo-random references in third-party auth provider guides
  docs/pages/guides/facebook-authentication.mdx
  docs/pages/guides/google-authentication.mdx
Labels: bot: passed checks

#21702 [exupdates][ios] Fix config plist overriding
  ios/Podfile.lock
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/README.md
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/ios/Tests/MiscellaneousSpec.swift
  packages/expo-updates/ios/Tests/Support/fixtures/TestConfig.plist
  packages/expo-updates/ios/Tests/UpdateAssetSpec.swift
  packages/expo-updates/ios/Tests/UpdatesConfigSpec.swift
Labels: bot: suggestions

#21796 [package][expo-network] Fix broken link for docs
  packages/expo-network/README.md
Labels: bot: suggestions

#21797 [docs] Update manual installation steps for installing Expo modules in bare React Native
  docs/pages/bare/installing-expo-modules.mdx
  docs/public/static/diffs/expo-android.diff
  docs/public/static/diffs/expo-ios.diff
  docs/ui/components/Snippet/DiffBlock.test.tsx
Labels: bot: passed checks

#21804 [sdk-48][package/expo-network] Fix broken link for docs in branch sdk-48
  packages/expo-network/README.md
Labels: bot: suggestions

#21799 [core][Android] Add class component
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptClassTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassDefinitionData.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SuspendFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptModuleObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
Labels: bot: suggestions

#21806 [dev-launcher] support http post data for network inspector
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
  packages/expo-dev-launcher/ios/Network/EXDevLauncherRequestLoggerProtocol.swift
Labels: bot: suggestions

#21807 [dev-server] fix debugger pause from devtools startup
  packages/@expo/dev-server/build/JsInspector.js
  packages/@expo/dev-server/build/JsInspector.js.map
  packages/@expo/dev-server/src/JsInspector.ts
Labels: bot: passed checks

#21810 [docs] more emphatic direnv recommendation
  docs/pages/guides/environment-variables.mdx
Labels: bot: passed checks

#21812 [docs] Fix typos
  docs/common/headingManager.ts
  docs/pages/build-reference/eas-json.mdx
  docs/pages/modules/module-api.mdx
  docs/pages/versions/unversioned/sdk/image.mdx
  docs/pages/versions/v46.0.0/sdk/camera.mdx
  docs/pages/versions/v47.0.0/sdk/camera.mdx
  docs/pages/versions/v48.0.0/sdk/image.mdx
  docs/ui/components/TableOfContents/useHeadingObserver.ts
Labels: bot: passed checks

#21813 [expo-updates][Android] Fix missing manifest for flavor variants
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/scripts/create-manifest-android.gradle
Labels: bot: passed checks

#21785 [docs][webhook] Add EAS webhook retry info
  docs/pages/eas/webhooks.mdx
Labels: bot: passed checks

#21818 [expo-updates] Align properties for different UpdateEvent types
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#21814 [ios][speech] Migrate to Expo Modules
  apps/bare-expo/ios/Podfile.lock
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechModule.kt
  packages/expo-speech/build/ExponentSpeech.d.ts
  packages/expo-speech/build/ExponentSpeech.js
  packages/expo-speech/build/ExponentSpeech.js.map
  packages/expo-speech/expo-module.config.json
  packages/expo-speech/ios/EXSpeech/EXSpeech.h
  packages/expo-speech/ios/EXSpeech/EXSpeech.m
  packages/expo-speech/ios/ExpoSpeech.podspec
  packages/expo-speech/ios/SpeechDelegate.swift
  packages/expo-speech/ios/SpeechExceptions.swift
  packages/expo-speech/ios/SpeechModule.swift
  packages/expo-speech/ios/SpeechOptions.swift
  packages/expo-speech/src/Speech/ExponentSpeech.ts
  packages/expo-speech/unimodule.json
Labels: bot: suggestions

#21840 [image][ios] Fixes cache policy not being applied when set to none
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#21839 [image][ios] Fixes shouldDownscale don't respect the scale factor
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageUtils.swift
Labels: bot: passed checks

#21676 [dev-client-launcher] Add `mimeType` to network response enabling image previews
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/network/DevLauncherNetworkLogger.kt
  packages/expo-dev-launcher/ios/Network/EXDevLauncherNetworkLogger.swift
Labels: bot: passed checks

#21816 [core][Android] Add converter for `View`
  packages/expo-modules-core/android/src/main/cpp/Exceptions.cpp
  packages/expo-modules-core/android/src/main/cpp/Exceptions.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CommonExceptions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionWithPromiseComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypedArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewTypeConverter.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/AnyFunctionTest.kt
Labels: bot: suggestions

#21819 [ios][core] Pass AppContext to dynamic types and convertibles
  packages/expo-clipboard/ios/Tests/ClipboardModuleSpec.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.mm
  packages/expo-modules-core/ios/JSI/ExpoModulesHostObject.mm
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/Arguments/Convertible.swift
  packages/expo-modules-core/ios/Swift/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Swift/Classes/ClassComponent.swift
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Swift/Convertibles/Convertibles+Color.swift
  packages/expo-modules-core/ios/Swift/Convertibles/Either.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/AnyDynamicType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicArrayType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicConvertibleType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicEnumType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicOptionalType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicRawType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicSharedObjectType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicTypedArrayType.swift
  packages/expo-modules-core/ios/Swift/ExpoBridgeModule.swift
  packages/expo-modules-core/ios/Swift/Functions/AnyFunction.swift
  packages/expo-modules-core/ios/Swift/Functions/AsyncFunctionComponent.swift
  packages/expo-modules-core/ios/Swift/Functions/ConcurrentFunctionDefinition.swift
  packages/expo-modules-core/ios/Swift/Functions/SyncFunctionComponent.swift
  packages/expo-modules-core/ios/Swift/JavaScriptUtils.swift
  packages/expo-modules-core/ios/Swift/ModuleHolder.swift
  packages/expo-modules-core/ios/Swift/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/Swift/Objects/JavaScriptObjectBuilder.swift
  packages/expo-modules-core/ios/Swift/Objects/ObjectDefinition.swift
  packages/expo-modules-core/ios/Swift/Objects/PropertyComponent.swift
  packages/expo-modules-core/ios/Swift/Records/AnyField.swift
  packages/expo-modules-core/ios/Swift/Records/Field.swift
  packages/expo-modules-core/ios/Swift/Records/Record.swift
  packages/expo-modules-core/ios/Swift/Views/AnyViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ConcreteViewProp.swift
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
  packages/expo-modules-core/ios/Tests/ClassComponentSpec.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
  packages/expo-modules-core/ios/Tests/DynamicTypeSpec.swift
  packages/expo-modules-core/ios/Tests/EitherSpec.swift
  packages/expo-modules-core/ios/Tests/ExpoModulesSpec.swift
  packages/expo-modules-core/ios/Tests/FunctionSpec.swift
  packages/expo-modules-core/ios/Tests/PropertyComponentSpec.swift
  packages/expo-modules-core/ios/Tests/RecordSpec.swift
  packages/expo-modules-core/ios/Tests/SharedObjectRegistrySpec.swift
  packages/expo-modules-core/ios/Tests/TypedArraysSpec.swift
  packages/expo-modules-core/ios/Tests/ViewDefinitionSpec.swift
Labels: bot: suggestions

#21822 [core][ios] Split arguments conversion into two steps
  packages/expo-modules-core/ios/Swift/DynamicTypes/AnyDynamicType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicSharedObjectType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicTypedArrayType.swift
  packages/expo-modules-core/ios/Swift/Functions/AsyncFunctionComponent.swift
  packages/expo-modules-core/ios/Swift/Functions/ConcurrentFunctionDefinition.swift
  packages/expo-modules-core/ios/Swift/Functions/SyncFunctionComponent.swift
  packages/expo-modules-core/ios/Swift/JavaScriptUtils.swift
  packages/expo-modules-core/ios/Tests/DynamicTypeSpec.swift
  packages/expo-modules-core/ios/Tests/FunctionSpec.swift
Labels: bot: suggestions

#21856 [docs] Update docs search placeholder text
  docs/ui/components/CommandMenu/CommandMenu.tsx
Labels: bot: passed checks

#21829 [ios][core] Support for views in function's arguments
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts.map
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js.map
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicType.swift
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicViewType.swift
  packages/expo-modules-core/ios/Swift/Views/ViewDefinition.swift
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
Labels: bot: passed checks

#21798 [expo-image] Use asset resolution from expo-asset on the web
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/utils/AssetSourceResolver.web.d.ts
  packages/expo-image/build/utils/AssetSourceResolver.web.d.ts.map
  packages/expo-image/build/utils/AssetSourceResolver.web.js
  packages/expo-image/build/utils/AssetSourceResolver.web.js.map
  packages/expo-image/build/utils/resolveAssetSource.web.d.ts
  packages/expo-image/build/utils/resolveAssetSource.web.d.ts.map
  packages/expo-image/build/utils/resolveAssetSource.web.js
  packages/expo-image/build/utils/resolveAssetSource.web.js.map
  packages/expo-image/src/utils/AssetSourceResolver.web.ts
  packages/expo-image/src/utils/resolveAssetSource.web.ts
  packages/expo-image/src/utils/resolveAssetSource.web.tsx
Labels: bot: passed checks

#21489 [expo-standard-web-crypto] Switch to expo-crypto dependency
  packages/expo-standard-web-crypto/build/getRandomValues.d.ts.map
  packages/expo-standard-web-crypto/build/getRandomValues.js
  packages/expo-standard-web-crypto/build/getRandomValues.js.map
  packages/expo-standard-web-crypto/package.json
  packages/expo-standard-web-crypto/src/__mocks__/expo-crypto.ts
  packages/expo-standard-web-crypto/src/__mocks__/expo-random.ts
  packages/expo-standard-web-crypto/src/__tests__/getRandomValues-test.ts
  packages/expo-standard-web-crypto/src/getRandomValues.ts
Labels: bot: passed checks

#21828 [docs] Add a guide on how to use create-expo-module in your project
  docs/constants/navigation.js
  docs/pages/modules/use-create-expo-module-in-your-project.mdx
Labels: bot: passed checks

#21825 fix(cli): load `Debugger.getScriptSource` requests when using lan or tunnel
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/DebuggerScriptSource.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/DebuggerScriptSource.test.ts
Labels: bot: passed checks

#21827 feature(cli): add basic `Page.reload` support to reload the app from inspector
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/device.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/PageReload.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/__tests__/PageReload.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/types.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/index.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
Labels: bot: passed checks

#21838 [docs] Fix snack example in Localization guide
  docs/pages/guides/localization.mdx
Labels: bot: passed checks

#21864 [docs] partially migrate Snippet component to Tailwind
  docs/.eslintrc.cjs
  docs/ui/components/Snippet/SnippetAction.tsx
  docs/ui/components/Snippet/SnippetContent.tsx
  docs/ui/components/Snippet/SnippetHeader.tsx
  docs/ui/components/Snippet/blocks/SnackInline.tsx
  docs/ui/components/Snippet/blocks/Terminal.tsx
Labels: bot: passed checks

#21643 feat(metro-config): support any entry file in development builds that don't use Expo dev client
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.java
  apps/bare-expo/ios/BareExpo/AppDelegate.mm
  apps/fabric-tester/android/app/src/main/java/com/community/fabrictester/MainApplication.java
  apps/fabric-tester/ios/fabrictester/AppDelegate.mm
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/prebuild/__tests__/fixtures/react-native-project.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/resolveFromProject.ts
  packages/@expo/cli/ts-declarations/metro-config/index.d.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/paths/paths.d.ts
  packages/@expo/config/build/paths/paths.js.map
  packages/@expo/config/src/paths/paths.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/getModulesPaths.d.ts
  packages/@expo/metro-config/build/getModulesPaths.js
  packages/@expo/metro-config/build/getModulesPaths.js.map
  packages/@expo/metro-config/build/rewriteRequestUrl.d.ts
  packages/@expo/metro-config/build/rewriteRequestUrl.js
  packages/@expo/metro-config/build/rewriteRequestUrl.js.map
  packages/@expo/metro-config/jest.config.js
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
  packages/@expo/metro-config/src/__tests__/__fixtures__/hello-world/package.json
  packages/@expo/metro-config/src/__tests__/rewriteRequestUrl.test.ts
  packages/@expo/metro-config/src/getModulesPaths.ts
  packages/@expo/metro-config/src/rewriteRequestUrl.ts
  packages/@expo/metro-config/src/transformer/__tests__/createExoticTransformer-test.ts
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/e2e/android/MainApplication.java
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuHost.kt
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-dev-menu/plugin/src/__tests__/__snapshots__/withDevMenuAppDelegate-test.ts.snap
  packages/expo-dev-menu/plugin/src/__tests__/fixtures/AppDelegate-unimodules.m
  packages/expo-test-runner/templates/detox/android/app/src/main/java/com/testrunner/MainApplication.java
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/README.md
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.java
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.mm
Labels: bot: passed checks

#21882 Update metro.mdx
  docs/pages/versions/unversioned/config/metro.mdx
Labels: bot: passed checks

#21889 [expo-updates] fix broken reloadAsync API on iOS
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
Labels: bot: suggestions

#21757 [ios] [image-manipulator] Fix issue when manipulating image with unsupported color space
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulations.swift
Labels: bot: passed checks

#21855 [core][Android] Introduce shared object
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/JavaScriptViewModule.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptClassTest.kt
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.h
  packages/expo-modules-core/android/src/main/cpp/JavaReferencesCache.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.h
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/Utils.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptModuleObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewTypeConverter.kt
Labels: bot: suggestions

#21883 fix(expo-image): fix static rendering
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/web/style.d.ts.map
  packages/expo-image/build/web/style.js
  packages/expo-image/build/web/style.js.map
  packages/expo-image/src/web/style.tsx
Labels: bot: passed checks

#21886 feat(cli): add node target and externals to Metro
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-test.ts.snap
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/__snapshots__/externals.test.ts.snap
  packages/@expo/cli/src/start/server/metro/__tests__/externals.test.ts
  packages/@expo/cli/src/start/server/metro/externals.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks

#21901 prevent clobbering the default Metro server settings in custom app metro.config.js files
  apps/bare-expo/metro.config.js
  apps/native-component-list/metro.config.js
  apps/test-suite/metro.config.js
Labels: bot: passed checks

#21898 feat: add type comment in metro.config.js template
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/static/template/metro.config.js
  packages/expo/CHANGELOG.md
  packages/expo/metro-config.d.ts
  packages/expo/package.json
  templates/expo-template-bare-minimum/metro.config.js
Labels: bot: passed checks

#21884 feat(expo-image): add alt tag for web seo
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.d.ts.map
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/build/web/ImageWrapper.d.ts
  packages/expo-image/build/web/ImageWrapper.d.ts.map
  packages/expo-image/build/web/ImageWrapper.js
  packages/expo-image/build/web/ImageWrapper.js.map
  packages/expo-image/src/ExpoImage.tsx
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.types.ts
  packages/expo-image/src/web/ImageWrapper.tsx
Labels: bot: passed checks
