Repository expo/expo, pull requests merged in 2023-10, with the labels that each got.

#24683 [docs] Add capability to add caption under an image
  docs/components/plugins/ImageSpotlight.tsx
Labels: bot: passed checks

#24698 [docs] Fix minor verbiage and style guide formatting issues
  docs/pages/build-reference/migrating.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/build/introduction.mdx
  docs/pages/build/setup.mdx
  docs/pages/debugging/runtime-issues.mdx
  docs/pages/distribution/app-stores.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/modules/get-started.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/workflow/ios-simulator.mdx
  docs/pages/workflow/prebuild.mdx
Labels: bot: passed checks

#24645 [expo-updates][Android] Replace renameTo() with copyTo() when downloading assets
  .github/workflows/updates-e2e.yml
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/e2e/setup/project.js
Labels: bot: suggestions, bot: fingerprint compatible

#24704 [ci] fix check-packages
  packages/babel-preset-expo/build/index.js
Labels: bot: suggestions, bot: fingerprint compatible

#24710 [docs] add guide for using Bun
  docs/constants/navigation.js
  docs/pages/guides/using-bun.mdx
Labels: bot: passed checks

#24234 fix: param to getAvailablePictureSizesAsync is required
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.d.ts.map
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/src/Camera.tsx
Labels: bot: passed checks

#24689 fix(cli): prevent exporting Hermes sourcemaps when `--dump-sourcemap` is not provided
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/__tests__/exportApp-test.ts
  packages/@expo/cli/src/export/createBundles.ts
  packages/@expo/cli/src/export/createMetadataJson.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportHermes.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/export/writeContents.ts
  packages/@expo/cli/src/start/server/middleware/resolveAssets.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24686 chore(cli): drop path aliases warning
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint changed

#24715 [docs] Fix Duplicate meta description tags and add any missing description
  docs/pages/additional-resources/index.mdx
  docs/pages/bare/error-recovery.mdx
  docs/pages/deploy/app-stores-metadata.mdx
  docs/pages/develop/development-builds/next-steps.mdx
  docs/pages/develop/user-interface/next-steps.mdx
  docs/pages/routing/next-steps.mdx
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/tutorial/follow-up.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/introduction.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
  docs/pages/versions/unversioned/config/app.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v46.0.0/config/app.mdx
  docs/pages/versions/v46.0.0/config/metro.mdx
  docs/pages/versions/v47.0.0/config/app.mdx
  docs/pages/versions/v47.0.0/config/metro.mdx
  docs/pages/versions/v48.0.0/config/app.mdx
  docs/pages/versions/v48.0.0/config/metro.mdx
  docs/pages/versions/v49.0.0/config/app.mdx
  docs/pages/versions/v49.0.0/config/metro.mdx
Labels: bot: passed checks

#24733 [expo-image] [ENG-10268] support tintColor for SVGs on Android
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDecoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDrawableTranscoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#24727 [docs] Add known limitations to api-routes docs
  docs/pages/preview/api-routes.mdx
Labels: bot: passed checks

#24726 Shim `react-native-web` BackHandler to remove excessive error message.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/static/shims/react-native-web/dist/cjs/exports/BackHandler/index.js
  packages/@expo/cli/static/shims/react-native-web/dist/exports/BackHandler/index.js
Labels: bot: passed checks, bot: fingerprint changed

#24717 Support run-on-queue in test-core
  packages/expo-modules-test-core/build/getStructure.d.ts.map
  packages/expo-modules-test-core/build/getStructure.js
  packages/expo-modules-test-core/build/getStructure.js.map
  packages/expo-modules-test-core/src/getStructure.ts
Labels: bot: passed checks, bot: fingerprint changed

#24708 [expo] Re-export require functions
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.d.ts.map
  packages/expo/build/Expo.js
  packages/expo/build/Expo.js.map
  packages/expo/src/Expo.ts
Labels: bot: passed checks, bot: fingerprint changed

#24716 Use getRandomValues for getRandomBytesAsync
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/build/Crypto.d.ts.map
  packages/expo-crypto/build/Crypto.js
  packages/expo-crypto/build/Crypto.js.map
  packages/expo-crypto/src/Crypto.ts
  packages/expo-crypto/src/__tests__/Crypto-test.native.ts
  packages/expo-crypto/src/__tests__/Crypto-test.ts
Labels: bot: passed checks, bot: fingerprint changed

#24542 [expo-image][web] Fix issues with image hashes
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/utils/blurhash/useBlurhash.d.ts.map
  packages/expo-image/build/utils/blurhash/useBlurhash.js
  packages/expo-image/build/utils/blurhash/useBlurhash.js.map
  packages/expo-image/build/web/ImageWrapper.d.ts.map
  packages/expo-image/build/web/ImageWrapper.js
  packages/expo-image/build/web/ImageWrapper.js.map
  packages/expo-image/build/web/getImageWrapperEventHandler.d.ts
  packages/expo-image/build/web/getImageWrapperEventHandler.d.ts.map
  packages/expo-image/build/web/getImageWrapperEventHandler.js
  packages/expo-image/build/web/getImageWrapperEventHandler.js.map
  packages/expo-image/build/web/useSourceSelection.d.ts.map
  packages/expo-image/build/web/useSourceSelection.js
  packages/expo-image/build/web/useSourceSelection.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/utils/blurhash/useBlurhash.tsx
  packages/expo-image/src/web/ImageWrapper.tsx
  packages/expo-image/src/web/getImageWrapperEventHandler.ts
  packages/expo-image/src/web/useSourceSelection.ts
Labels: bot: passed checks, bot: fingerprint changed

#24738 fix(cli): fix app dir resolutions
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24736 [docs] Update deep-linking.mdx
  docs/pages/guides/deep-linking.mdx
Labels: bot: passed checks

#24555 [expo-device][ios] Update devices
  packages/expo-device/CHANGELOG.md
  packages/expo-device/ios/UIDevice.swift
Labels: bot: passed checks

#24744 [core][Android] Fix typed arrays couldn't be returned from synchronous functions
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/typedarray/ConcreteTypedArrays.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#24677 [ios][calendar] fix potential argument exception
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/EXCalendar/EXCalendar.m
Labels: bot: passed checks, bot: fingerprint changed

#24684 [expo-notifications] [ENG-10251] background notifications in foreground
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v49.0.0/sdk/notifications.mdx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/BackgroundRemoteNotificationTaskConsumer.java
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/EXBackgroundRemoteNotificationConsumer.m
Labels: bot: passed checks, bot: fingerprint changed

#24665 [dev-launcher] Improve 'Development servers' and 'Recently opened' UX
  .eslintignore
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/functions/getServerUrlFromDevSession.ts
  packages/expo-dev-launcher/bundle/providers/RecentlyOpenedAppsProvider.tsx
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks, bot: fingerprint changed

#24745 Update tests for expo crypto to use new mocking
  apps/jest-expo-mock-generator/App.js
  packages/expo-crypto/mocks/ExpoCrypto.ts
  packages/expo-crypto/src/__tests__/Crypto-test.native.ts
  packages/expo-modules-test-core/build/mockgen.d.ts.map
  packages/expo-modules-test-core/build/mockgen.js
  packages/expo-modules-test-core/build/mockgen.js.map
  packages/expo-modules-test-core/package.json
  packages/expo-modules-test-core/src/mockgen.ts
  packages/jest-expo/src/preset/expoModules.js
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#24637 [docs] Remove Implicit Flow/ Expo Go/ useProxy references from auth examples
  docs/pages/guides/authentication.mdx
Labels: bot: passed checks

#24758 [dev-launcher] rename tryToLaunchLastOpenedBundle config plugin option to launchModeExperimental
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/plugin/build/pluginConfig.d.ts
  packages/expo-dev-launcher/plugin/build/pluginConfig.js
  packages/expo-dev-launcher/plugin/build/withDevLauncher.js
  packages/expo-dev-launcher/plugin/src/pluginConfig.ts
  packages/expo-dev-launcher/plugin/src/withDevLauncher.ts
Labels: bot: passed checks, bot: fingerprint changed

#24718 [docs] Add a section for creating production builds locally
  docs/pages/deploy/build-project.mdx
  docs/pages/guides/local-app-development.mdx
Labels: bot: passed checks

#24709 [blur] Make blur on Android an experimental feature
  apps/native-component-list/src/screens/BlurView/BlurViewScreen.tsx
  apps/native-component-list/src/screens/BlurView/BlurViewWithControls.tsx
  docs/pages/versions/unversioned/sdk/blur-view.mdx
  docs/public/static/data/unversioned/expo-blur.json
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/android/src/main/java/expo/modules/blur/BlurModule.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/ExpoBlurView.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/enums/BlurMethod.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/enums/TintStyle.kt
  packages/expo-blur/build/BlurView.d.ts.map
  packages/expo-blur/build/BlurView.js
  packages/expo-blur/build/BlurView.js.map
  packages/expo-blur/build/BlurView.types.d.ts
  packages/expo-blur/build/BlurView.types.d.ts.map
  packages/expo-blur/build/BlurView.types.js.map
  packages/expo-blur/build/index.d.ts
  packages/expo-blur/build/index.d.ts.map
  packages/expo-blur/build/index.js.map
  packages/expo-blur/src/BlurView.tsx
  packages/expo-blur/src/BlurView.types.ts
  packages/expo-blur/src/__tests__/__snapshots__/BlurView-test.android.tsx.snap.android
  packages/expo-blur/src/__tests__/__snapshots__/BlurView-test.ios.tsx.snap.ios
  packages/expo-blur/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#24747 [docs] Add description tag to pages where it is missing
  docs/pages/regulatory-compliance/data-and-privacy-protection.mdx
  docs/pages/regulatory-compliance/gdpr.mdx
  docs/pages/regulatory-compliance/hipaa.mdx
  docs/pages/regulatory-compliance/privacy-shield.mdx
  docs/pages/troubleshooting/application-has-not-been-registered.mdx
  docs/pages/troubleshooting/clear-cache-macos-linux.mdx
  docs/pages/troubleshooting/clear-cache-windows.mdx
  docs/pages/troubleshooting/react-native-version-mismatch.mdx
Labels: bot: passed checks

#24200 [core] Add native functions for UUIDv5 generation
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/CoreModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/uuidv5/Exceptions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/uuidv5/Uuidv5.kt
  packages/expo-modules-core/build/requireNativeModule.d.ts
  packages/expo-modules-core/build/requireNativeModule.d.ts.map
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/build/uuid/uuid.d.ts.map
  packages/expo-modules-core/build/uuid/uuid.js
  packages/expo-modules-core/build/uuid/uuid.js.map
  packages/expo-modules-core/build/uuid/uuid.types.d.ts
  packages/expo-modules-core/build/uuid/uuid.types.d.ts.map
  packages/expo-modules-core/build/uuid/uuid.types.js
  packages/expo-modules-core/build/uuid/uuid.types.js.map
  packages/expo-modules-core/build/uuid/uuid.web.d.ts.map
  packages/expo-modules-core/build/uuid/uuid.web.js
  packages/expo-modules-core/build/uuid/uuid.web.js.map
  packages/expo-modules-core/build/uuid/v5.d.ts
  packages/expo-modules-core/build/uuid/v5.d.ts.map
  packages/expo-modules-core/build/uuid/v5.js
  packages/expo-modules-core/build/uuid/v5.js.map
  packages/expo-modules-core/ios/Swift/Modules/CoreModule.swift
  packages/expo-modules-core/ios/Swift/Uuidv5/Exceptions.swift
  packages/expo-modules-core/ios/Swift/Uuidv5/Uuidv5.swift
  packages/expo-modules-core/src/requireNativeModule.ts
  packages/expo-modules-core/src/uuid/uuid.ts
  packages/expo-modules-core/src/uuid/uuid.types.ts
  packages/expo-modules-core/src/uuid/uuid.web.ts
  packages/expo-modules-core/src/uuid/v5.ts
Labels: bot: suggestions, bot: fingerprint changed

#24769 [docs] Add pending web in Metro vs webpack table for bundle splitting
  docs/pages/guides/customizing-metro.mdx
Labels: bot: passed checks

#24770 [docs] Unify vscode extension name
  docs/pages/config-plugins/development-and-debugging.mdx
  docs/pages/deploy/app-stores-metadata.mdx
  docs/pages/develop/project-structure.mdx
  docs/pages/eas/metadata/config.mdx
  docs/pages/eas/metadata/faq.mdx
  docs/pages/eas/metadata/getting-started.mdx
  docs/pages/eas/metadata/index.mdx
  docs/pages/eas/metadata/schema.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/workflow/configuration.mdx
Labels: bot: passed checks

#24612 [docs] Add Windows instructions to set up Android Studio
  docs/pages/workflow/android-studio-emulator.mdx
  docs/public/static/images/android-studio/windows-android-home-variable.png
  docs/public/static/images/android-studio/windows-android-sdk-location.png
  docs/public/static/images/android-studio/windows-install-type.png
  docs/public/static/images/android-studio/windows-licenses.png
  docs/public/static/images/android-studio/windows-platform-tools-path.png
Labels: bot: passed checks

#24436 [docs] Update notifications registration example to call `setNotificationChannelAsync` before `requestPermissionsAsync` for Android 13
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#24735 chore(template): fix rehydration errors in tabs template
  templates/expo-template-tabs/app/(tabs)/_layout.tsx
  templates/expo-template-tabs/app/_layout.tsx
  templates/expo-template-tabs/components/Themed.tsx
  templates/expo-template-tabs/components/useClientOnlyValue.ts
  templates/expo-template-tabs/components/useClientOnlyValue.web.ts
  templates/expo-template-tabs/components/useColorScheme.ts
  templates/expo-template-tabs/components/useColorScheme.web.ts
Labels: bot: passed checks

#24778 [docs] typo fix
  docs/pages/guides/local-app-development.mdx
Labels: bot: passed checks

#24792 test(pkg-manager): typo in bun test description
  packages/create-expo/src/__tests__/resolvePackageManager.test.ts
Labels: bot: suggestions

#24528 feat(router): add unified route convention for handling 404s
  apps/router-e2e/__e2e__/server/app/+not-found.tsx
  apps/router-e2e/__e2e__/server/app/matching-route/alpha+api.ts
  apps/router-e2e/__e2e__/server/app/matching-route/alpha.tsx
  docs/constants/navigation.js
  docs/pages/router/reference/not-found.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/base-path.test.ts
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/Route.d.ts
  packages/expo-router/build/Route.d.ts.map
  packages/expo-router/build/Route.js.map
  packages/expo-router/build/fork/getPathFromState.d.ts.map
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/build/fork/getStateFromPath.d.ts.map
  packages/expo-router/build/fork/getStateFromPath.js
  packages/expo-router/build/fork/getStateFromPath.js.map
  packages/expo-router/build/getReactNavigationConfig.d.ts.map
  packages/expo-router/build/getReactNavigationConfig.js
  packages/expo-router/build/getReactNavigationConfig.js.map
  packages/expo-router/build/getRoutes.d.ts
  packages/expo-router/build/getRoutes.d.ts.map
  packages/expo-router/build/getRoutes.js
  packages/expo-router/build/getRoutes.js.map
  packages/expo-router/build/getServerManifest.d.ts.map
  packages/expo-router/build/getServerManifest.js
  packages/expo-router/build/getServerManifest.js.map
  packages/expo-router/build/sortRoutes.d.ts.map
  packages/expo-router/build/sortRoutes.js
  packages/expo-router/build/sortRoutes.js.map
  packages/expo-router/package.json
  packages/expo-router/src/Route.tsx
  packages/expo-router/src/__tests__/Route.test.node.ts
  packages/expo-router/src/__tests__/getRoutes.test.node.ts
  packages/expo-router/src/__tests__/getServerManifest.test.node.ts
  packages/expo-router/src/__tests__/globalState.test.node.tsx
  packages/expo-router/src/__tests__/navigation.test.tsx
  packages/expo-router/src/__tests__/smoke.test.tsx
  packages/expo-router/src/fork/__tests__/getPathFromState-upstream.test.node.ts
  packages/expo-router/src/fork/__tests__/getStateFromPath-upstream.test.node.ts
  packages/expo-router/src/fork/__tests__/getStateFromPath.test.node.ts
  packages/expo-router/src/fork/getPathFromState.ts
  packages/expo-router/src/fork/getStateFromPath.ts
  packages/expo-router/src/getReactNavigationConfig.ts
  packages/expo-router/src/getRoutes.ts
  packages/expo-router/src/getServerManifest.ts
  packages/expo-router/src/sortRoutes.ts
  packages/expo-router/src/utils/__tests__/mockState.test.node.ts
  templates/expo-template-tabs/app/+not-found.tsx
Labels: bot: passed checks, bot: fingerprint changed

#24794 [go][ios][1/n] Remove EXEnvironment.isDetached
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcher.m
  ios/Exponent/Kernel/AppLoader/CachedResource/EXCachedResource.m
  ios/Exponent/Kernel/AppLoader/CachedResource/EXJavaScriptResource.m
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  ios/Exponent/Kernel/AppLoader/EXDevelopmentHomeLoader.m
  ios/Exponent/Kernel/AppLoader/EXFileDownloader.m
  ios/Exponent/Kernel/Core/EXKernelAppRegistry.m
  ios/Exponent/Kernel/DevSupport/EXKernelDevKeyCommands.m
  ios/Exponent/Kernel/Environment/EXEnvironment.h
  ios/Exponent/Kernel/Environment/EXEnvironment.m
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.m
  ios/Exponent/Kernel/Services/EXPermissionsManager.m
  ios/Exponent/Kernel/Views/EXAppViewController.m
  ios/Exponent/Kernel/Views/EXErrorView.m
  ios/Tests/Environment/EXEnvironment+Tests.h
  ios/Tests/Environment/EXEnvironmentTests.m
Labels: bot: passed checks

#24796 [3/n][go][ios] Remove more standalone stuff
  ios/Exponent/ExpoKit/EXViewController.m
  ios/Exponent/Kernel/Core/EXKernel.m
  ios/Exponent/Kernel/Core/EXKernelAppRegistry.h
  ios/Exponent/Kernel/Core/EXKernelAppRegistry.m
  ios/Exponent/Kernel/Environment/EXEnvironment.h
  ios/Exponent/Kernel/Environment/EXEnvironment.m
  ios/Exponent/Kernel/ReactAppManager/EXReactAppExceptionHandler.m
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.m
  ios/Exponent/Kernel/Services/EXScopedBranchManager.m
  ios/Exponent/Kernel/Views/EXAppViewController.m
  ios/Tests/Environment/EXEnvironmentTests.m
  ios/versioned/sdk47/EXConstants/EXConstants/ABI47_0_0EXConstantsService.h
  ios/versioned/sdk47/EXConstants/EXConstants/ABI47_0_0EXConstantsService.m
  ios/versioned/sdk48/EXConstants/ABI48_0_0EXConstantsService.h
  ios/versioned/sdk48/EXConstants/ABI48_0_0EXConstantsService.m
  ios/versioned/sdk49/EXConstants/ABI49_0_0EXConstantsService.h
  ios/versioned/sdk49/EXConstants/ABI49_0_0EXConstantsService.m
  packages/expo-constants/ios/EXConstantsService.h
  packages/expo-constants/ios/EXConstantsService.m
Labels: bot: fingerprint changed

#24746 [core] Ensure native modules are installed before required
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/requireNativeModule.d.ts.map
  packages/expo-modules-core/build/requireNativeModule.js
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/ios/Swift/ExpoBridgeModule.m
  packages/expo-modules-core/ios/Swift/ExpoBridgeModule.swift
  packages/expo-modules-core/src/requireNativeModule.ts
Labels: bot: suggestions, bot: fingerprint changed

#24823 [ci] fix ios test-suite error
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#24678 [ios][expo-av] Update pitch algorithm settings
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/AV.d.ts
  packages/expo-av/build/AV.d.ts.map
  packages/expo-av/build/AV.js
  packages/expo-av/build/AV.js.map
  packages/expo-av/build/Video.d.ts
  packages/expo-av/build/Video.d.ts.map
  packages/expo-av/build/Video.js.map
  packages/expo-av/src/AV.ts
  packages/expo-av/src/Video.tsx
Labels: bot: passed checks

#24801 [image] Make `placeholderContentFit` prop visible in the docs
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24739 feat(server,cli,router): add more explicit route manifest
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/bundleApiRoutes.ts
  packages/@expo/cli/src/start/server/metro/fetchRouterManifest.ts
  packages/@expo/cli/src/start/server/metro/router.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/src/index.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/getServerManifest.d.ts
  packages/expo-router/build/getServerManifest.d.ts.map
  packages/expo-router/build/getServerManifest.js
  packages/expo-router/build/getServerManifest.js.map
  packages/expo-router/build/routes-manifest.d.ts
  packages/expo-router/build/routes-manifest.d.ts.map
  packages/expo-router/build/routes-manifest.js.map
  packages/expo-router/src/__tests__/getServerManifest.test.node.ts
  packages/expo-router/src/getServerManifest.ts
  packages/expo-router/src/routes-manifest.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24791 [android][barcode-scanner] fix: displayValue is incomplete
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/MLKitBarCodeScanner.kt
Labels: bot: passed checks, bot: fingerprint changed

#24784 [ios][barcode-scanner] fix: handling nil barcode types
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/ios/EXBarCodeScanner/BarCodeScannerModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#24838 [document-picker][web] Fix the promise not resolving when cancel is pressed
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts.map
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24830 [expo-clipboard] New mocking for expo-clipboard.
  packages/expo-clipboard/mocks/ExpoClipboard.ts
  packages/expo-clipboard/src/__tests__/Clipboard-test.native.ts
  packages/expo-modules-test-core/build/mockgen.d.ts.map
  packages/expo-modules-test-core/build/mockgen.js
  packages/expo-modules-test-core/build/mockgen.js.map
  packages/expo-modules-test-core/src/mockgen.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions, bot: fingerprint compatible

#24841 refactor(cli): skip loading the telemetry client when disabled
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24797 feat(router): Add className to Link prop
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/type-generation/routes.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/jest.config.js
  packages/expo-router/package.json
  packages/expo-router/src/__tests__/LocationProvider.test.web.ts
  packages/expo-router/src/__tests__/Route.test.web.ts
  packages/expo-router/src/__tests__/getReactNavigationConfig.test.web.ts
  packages/expo-router/src/__tests__/getRoutes.test.web.ts
  packages/expo-router/src/__tests__/getServerManifest.test.web.ts
  packages/expo-router/src/__tests__/globalState.test.web.tsx
  packages/expo-router/src/__tests__/hooks.test.ios.tsx
  packages/expo-router/src/__tests__/initialRouteName.test.ios.tsx
  packages/expo-router/src/__tests__/loadStaticParamsAsync.test.web.ts
  packages/expo-router/src/__tests__/matchers.test.web.ts
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/__tests__/useNavigation.test.web.ts
  packages/expo-router/src/fork/__tests__/__snapshots__/extractPathFromURL.test.ios.ts.snap.ios
  packages/expo-router/src/fork/__tests__/getPathFromState-upstream.test.web.ts
  packages/expo-router/src/fork/__tests__/getStateFromPath-upstream.test.web.ts
  packages/expo-router/src/fork/__tests__/getStateFromPath.test.web.ts
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/__tests__/Link.test.native.tsx
  packages/expo-router/src/link/__tests__/Link.test.web.tsx
  packages/expo-router/src/link/__tests__/href.test.web.ts
  packages/expo-router/src/onboard/__tests__/createEntryFile.test.web.ts
  packages/expo-router/src/utils/__tests__/mockState.test.web.ts
  packages/expo-router/src/utils/__tests__/url.test.web.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#24779 feat(babel-preset-expo, expo-router): Add Expo Router babel features to babel-preset-expo
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/babel-transformer.js
  packages/@expo/metro-config/build/babel-transformer.js.map
  packages/@expo/metro-config/src/__tests__/babel-transformer.test.ts
  packages/@expo/metro-config/src/babel-transformer.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/common.d.ts
  packages/babel-preset-expo/build/common.js
  packages/babel-preset-expo/build/expo-inline-manifest-plugin.d.ts
  packages/babel-preset-expo/build/expo-inline-manifest-plugin.js
  packages/babel-preset-expo/build/expo-router-plugin.d.ts
  packages/babel-preset-expo/build/expo-router-plugin.js
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/expo-inline-manifest-plugin.test.ts
  packages/babel-preset-expo/src/__tests__/expo-router-plugin.test.ts
  packages/babel-preset-expo/src/__tests__/index.test.ts
  packages/babel-preset-expo/src/common.ts
  packages/babel-preset-expo/src/expo-inline-manifest-plugin.ts
  packages/babel-preset-expo/src/expo-router-plugin.ts
  packages/babel-preset-expo/src/index.ts
  packages/expo-router/CHANGELOG.md
Labels: bot: passed checks, bot: fingerprint changed

#24845 [expo-device][expo-localization][iOS] Fix tvOS compilation
  packages/expo-device/CHANGELOG.md
  packages/expo-device/ios/DeviceModule.swift
  packages/expo-device/ios/ExpoDevice.podspec
  packages/expo-device/ios/UIDevice.swift
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/ios/ExpoLocalization.podspec
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-updates/e2e/setup/project.js
Labels: bot: suggestions, bot: fingerprint changed

#24831 Fix secure store module constraint mapping
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/ios/SecureStoreModule.swift
Labels: bot: passed checks

#24851 [core][iOS] Fix AppContextConfig initialization
  packages/expo-modules-core/ios/AppContext.swift
Labels: bot: suggestions, bot: fingerprint changed

#24619 [build-properties] Support modifying <queries> tag in android manifest
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Manifest.d.ts
  packages/@expo/config-plugins/build/android/Manifest.js.map
  packages/@expo/config-plugins/src/android/Manifest.ts
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Updates-test.ts.snap
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.d.ts
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/androidQueryUtils.d.ts
  packages/expo-build-properties/build/androidQueryUtils.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/build/withBuildProperties.js
  packages/expo-build-properties/src/__tests__/android-queries-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/androidQueryUtils.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-build-properties/src/withBuildProperties.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24855 [actions] remove 'need review' label if an issue is accepted
  .github/workflows/issue-triage.yml
Labels: bot: passed checks

#24839 Update @react-native-picker/picker to 2.5.1
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/picker/ReactPickerManager.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#24850 [android][ios] Upgrade react-native-webview to 13.6.2
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebChromeClient.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebView.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewClient.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManagerImpl.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewWrapper.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/events/TopNewWindowEvent.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.mm
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewImpl.h
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewImpl.m
  ios/vendored/unversioned/react-native-webview/apple/RNCWebViewManager.mm
  ios/vendored/unversioned/react-native-webview/react-native-webview.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#24836 [core] fix shared object exception for thread issues
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/SharedObjects/SharedObjectRegistry.swift
  packages/expo-modules-core/ios/Tests/SharedObjectRegistrySpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#24869 docs: remove unnecessary import from docs
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#24872 [docs] install prettier with eslint
  docs/pages/guides/using-eslint.mdx
Labels: bot: passed checks

#24772 [font] config plugin to link fonts in the native projects
  packages/expo-font/CHANGELOG.md
  packages/expo-font/app.plugin.js
  packages/expo-font/plugin/build/utils.d.ts
  packages/expo-font/plugin/build/utils.js
  packages/expo-font/plugin/build/withFonts.d.ts
  packages/expo-font/plugin/build/withFonts.js
  packages/expo-font/plugin/build/withFontsAndroid.d.ts
  packages/expo-font/plugin/build/withFontsAndroid.js
  packages/expo-font/plugin/build/withFontsIos.d.ts
  packages/expo-font/plugin/build/withFontsIos.js
  packages/expo-font/plugin/src/utils.ts
  packages/expo-font/plugin/src/withFonts.ts
  packages/expo-font/plugin/src/withFontsAndroid.ts
  packages/expo-font/plugin/src/withFontsIos.ts
  packages/expo-font/plugin/tsconfig.json
Labels: bot: passed checks, bot: fingerprint changed

#24888 [expo-image] [ENG-10268] support tintColor for SVGs on Android (part 2)
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
  packages/expo-image/android/src/main/java/expo/modules/image/svg/SVGDecoder.kt
Labels: bot: passed checks, bot: fingerprint changed

#24880 [expo-image][iOS] ImageView - check macCatalyst support to use ImageAnalyzer
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#24871 [ios][application] Migrate to Expo Modules API
  packages/expo-application/CHANGELOG.md
  packages/expo-application/build/Application.d.ts
  packages/expo-application/build/Application.d.ts.map
  packages/expo-application/build/Application.js
  packages/expo-application/build/Application.js.map
  packages/expo-application/build/Application.types.d.ts
  packages/expo-application/build/Application.types.d.ts.map
  packages/expo-application/build/Application.types.js
  packages/expo-application/build/Application.types.js.map
  packages/expo-application/build/ExpoApplication.d.ts.map
  packages/expo-application/build/ExpoApplication.js.map
  packages/expo-application/expo-module.config.json
  packages/expo-application/ios/ApplicationExceptions.swift
  packages/expo-application/ios/ApplicationModule.swift
  packages/expo-application/ios/ApplicationModuleProvisioningProfile.swift
  packages/expo-application/ios/EXApplication/EXApplication.h
  packages/expo-application/ios/EXApplication/EXApplication.m
  packages/expo-application/ios/EXApplication/EXProvisioningProfile.h
  packages/expo-application/ios/EXApplication/EXProvisioningProfile.m
  packages/expo-application/ios/ExpoApplication.podspec
  packages/expo-application/src/Application.ts
  packages/expo-application/src/Application.types.ts
  packages/expo-application/src/ExpoApplication.ts
Labels: bot: passed checks

#24897 [core][Android] Add type converter for the `Set` class
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIAsyncFunctionsTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/SetTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions, bot: fingerprint changed

#24898 [core][Android] Add `CommonExceptions.ModuleNotFound`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CommonExceptions.kt
Labels: bot: suggestions, bot: fingerprint changed

#24899 [core][Android] Fix `null` or `undefined` wasn't converted to `JavaScriptValue`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptValueTest.kt
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
Labels: bot: suggestions, bot: fingerprint changed

#24864 [expo-av][iOS] Fix compilation on tvOS
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV.podspec
  packages/expo-av/ios/EXAV/EXAVTV.m
  packages/expo-updates/e2e/setup/project.js
Labels: bot: suggestions, bot: fingerprint changed

#24876 update haptics docs
  docs/pages/versions/unversioned/sdk/haptics.mdx
  docs/pages/versions/v49.0.0/sdk/haptics.mdx
Labels: bot: passed checks

#24308 [cli][config] warn when dynamic config doesn't use static config present in project
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/Config.js
  packages/@expo/config/build/Config.js.map
  packages/@expo/config/build/Config.types.d.ts
  packages/@expo/config/build/Config.types.js.map
  packages/@expo/config/build/environment.d.ts
  packages/@expo/config/build/environment.js
  packages/@expo/config/build/environment.js.map
  packages/@expo/config/build/evalConfig.d.ts
  packages/@expo/config/build/evalConfig.js
  packages/@expo/config/build/evalConfig.js.map
  packages/@expo/config/src/Config.ts
  packages/@expo/config/src/Config.types.ts
  packages/@expo/config/src/__tests__/Config-test.ts
  packages/@expo/config/src/environment.ts
  packages/@expo/config/src/evalConfig.ts
Labels: bot: passed checks, bot: fingerprint changed

#24912 [docs] Fix header, outdated and duplicated info in Deep Linking on Android
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/pages/guides/deep-linking.mdx
Labels: bot: passed checks

#24903 [core][Android] Rework the `Either` type converter
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/EitherTypeConversionTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/Either.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#24904 Update react-native-maps to 1.8.0
  apps/native-component-list/package.json
  home/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#24921 [ci] Fix react-native nightly pod install
  .github/workflows/test-suite-nightly.yml
  tools/src/commands/SetupReactNativeNightly.ts
Labels: bot: passed checks

#24857 [docs] Update old forums link to Discord forums
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/build/setup.mdx
  docs/pages/debugging/errors-and-warnings.mdx
  docs/pages/debugging/runtime-issues.mdx
  docs/pages/faq.mdx
  docs/pages/index.tsx
  docs/pages/workflow/ios-simulator.mdx
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/Sidebar/SidebarFooter.tsx
Labels: bot: passed checks

#24908 feat(router): add target, rel, and download to Link component
  docs/pages/routing/navigating-pages.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/__tests__/Link.test.native.tsx
  packages/expo-router/src/link/__tests__/Link.test.web.tsx
Labels: bot: passed checks, bot: fingerprint changed

#24925 [ENG-10374] [expo-go] update Expo Go dev menu UI
  home/menu/DevMenuServerInfo.tsx
  home/menu/DevMenuView.tsx
Labels: bot: passed checks

#24860 [expo-updates][ios] Stub expo-updates in Expo Go and remove service pattern
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/Services/EXUpdatesDatabaseManager.h
  ios/Exponent/Kernel/Services/EXUpdatesManager.h
  ios/Exponent/Versioned/Core/Modules/ExpoGoExpoUpdatesModule.swift
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.h
  ios/Exponent/Versioned/Core/UniversalModules/EXUpdatesBinding.m
  ios/Exponent/Versioned/Core/UniversalModules/UpdatesBinding.swift
  ios/Exponent/Versioned/Core/VersionManager.swift
  ios/Podfile.lock
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/ModuleRegistry.swift
  packages/expo-modules-core/ios/Tests/ModuleRegistrySpec.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.h
  packages/expo-updates/ios/EXUpdates/EXUpdatesService.m
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogReader.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#24866 [sdk48] update react-native 0.71.14
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  ios/Podfile.lock
  package.json
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions

#24868 [sdk49] update react-native 0.72.6
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  home/package.json
  package.json
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#24865 [expo-updates][iOS] Fix Updates E2E CI
  .github/workflows/updates-e2e.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/E2ETestModule.swift
  packages/expo-updates/e2e/fixtures/project_files/.detoxrc.json
  packages/expo-updates/e2e/fixtures/project_files/detox.config.js
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/setup/project.js
  templates/expo-template-tv/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#24920 [docs][EAS Build] remove Intel resource class related docs
  docs/pages/build-reference/infrastructure.mdx
  docs/public/static/resource-specs.json
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks, preview

#24942 [android][brightness] Fix: add event to module definition
  packages/expo-brightness/CHANGELOG.md
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#24943 [android][screen-orientation] Fix: add event to module definition
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/android/src/main/java/expo/modules/screenorientation/ScreenOrientationModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#24118 [guides] add metro-config to versions endpoint update section
  guides/releasing/Release Workflow.md
Labels: bot: passed checks

#24142 [cli] Update expo package with `npx expo install --fix`
  guides/releasing/Release Workflow.md
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/__mocks__/@expo/package-manager.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/src/api/getVersions.ts
  packages/@expo/cli/src/install/__tests__/checkPackages-test.ts
  packages/@expo/cli/src/install/__tests__/installExpoPackage-test.ts
  packages/@expo/cli/src/install/applyPlugins.ts
  packages/@expo/cli/src/install/checkPackages.ts
  packages/@expo/cli/src/install/fixPackages.ts
  packages/@expo/cli/src/install/installAsync.ts
  packages/@expo/cli/src/install/installExpoPackage.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24892 [docs] Remove duplicated link in Local app development guide
  docs/pages/guides/local-app-development.mdx
Labels: bot: passed checks

#24935 Update api-routes.mdx
  docs/pages/preview/api-routes.mdx
Labels: bot: passed checks

#24927 chore(metro-config): noop exotic mode
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/README.md
  packages/@expo/metro-config/build/ExpoMetroConfig.d.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/env.d.ts
  packages/@expo/metro-config/build/env.js
  packages/@expo/metro-config/build/env.js.map
  packages/@expo/metro-config/build/transformer/generateFunctionMap.js
  packages/@expo/metro-config/build/transformer/generateFunctionMap.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
  packages/@expo/metro-config/src/env.ts
  packages/@expo/metro-config/src/transformer/generateFunctionMap.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24858 [docs] Adding small example how to edit Drawer
  docs/pages/router/advanced/drawer.mdx
Labels: bot: passed checks

#24930 chore(html-elements): use role prop on web
  docs/pages/router/reference/typed-routes.mdx
  docs/pages/routing/navigating-pages.mdx
  packages/html-elements/CHANGELOG.md
  packages/html-elements/README.md
  packages/html-elements/build/elements/Anchor.js
  packages/html-elements/build/elements/Anchor.js.map
  packages/html-elements/build/elements/Headings.d.ts.map
  packages/html-elements/build/elements/Headings.js
  packages/html-elements/build/elements/Headings.js.map
  packages/html-elements/build/elements/Layout.js
  packages/html-elements/build/elements/Layout.js.map
  packages/html-elements/build/elements/Lists.js
  packages/html-elements/build/elements/Lists.js.map
  packages/html-elements/build/elements/Table.web.d.ts.map
  packages/html-elements/build/elements/Table.web.js
  packages/html-elements/build/elements/Table.web.js.map
  packages/html-elements/build/elements/_Text.web.d.ts
  packages/html-elements/build/elements/_Text.web.d.ts.map
  packages/html-elements/build/elements/_Text.web.js
  packages/html-elements/build/elements/_Text.web.js.map
  packages/html-elements/build/primitives/RNWView.d.ts
  packages/html-elements/build/primitives/RNWView.d.ts.map
  packages/html-elements/build/primitives/RNWView.js
  packages/html-elements/build/primitives/RNWView.js.map
  packages/html-elements/build/primitives/Text.d.ts
  packages/html-elements/build/primitives/Text.d.ts.map
  packages/html-elements/build/primitives/Text.js
  packages/html-elements/build/primitives/Text.js.map
  packages/html-elements/build/primitives/View.d.ts
  packages/html-elements/build/primitives/View.d.ts.map
  packages/html-elements/build/primitives/View.js
  packages/html-elements/build/primitives/View.js.map
  packages/html-elements/src/elements/Anchor.tsx
  packages/html-elements/src/elements/Headings.tsx
  packages/html-elements/src/elements/Layout.tsx
  packages/html-elements/src/elements/Lists.tsx
  packages/html-elements/src/elements/Table.web.tsx
  packages/html-elements/src/elements/_Text.web.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Anchor-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Layout-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Layout-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Table-test.tsx.snap.web
  packages/html-elements/src/primitives/RNWView.tsx
  packages/html-elements/src/primitives/Text.tsx
  packages/html-elements/src/primitives/View.tsx
Labels: bot: passed checks, bot: fingerprint changed

#24951 [expo-updates][Android] Simplify UpdatesUtils.parseDateTime
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/logging/UpdatesLoggingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
Labels: bot: passed checks, bot: fingerprint changed

#24950 [docs] Remove unwanted comment in the example of Expo Router auth guide
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#24952 fix(cli): Prevent `npx expo export` and `npx expo export:embed` from hanging with file watchers.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24931 chore(expo-av, expo-camera, expo-gl, expo-checkbox): migrate pointer events props to styles
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Video.d.ts.map
  packages/expo-av/build/Video.js
  packages/expo-av/build/Video.js.map
  packages/expo-av/src/Video.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/ExponentCamera.web.js
  packages/expo-camera/build/ExponentCamera.web.js.map
  packages/expo-camera/src/ExponentCamera.web.tsx
  packages/expo-checkbox/CHANGELOG.md
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.web.js
  packages/expo-checkbox/build/ExpoCheckbox.web.js.map
  packages/expo-checkbox/src/ExpoCheckbox.web.tsx
  packages/expo-checkbox/src/__tests__/__snapshots__/ExpoCheckBox-test.web.tsx.snap.node
  packages/expo-checkbox/src/__tests__/__snapshots__/ExpoCheckBox-test.web.tsx.snap.web
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/build/Canvas.d.ts.map
  packages/expo-gl/build/Canvas.js
  packages/expo-gl/build/Canvas.js.map
  packages/expo-gl/src/Canvas.tsx
Labels: bot: passed checks, bot: fingerprint changed

#24893 chore(splash): upstream Expo Router splash screen changes
  docs/pages/routing/appearance.mdx
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/router-store.d.ts.map
  packages/expo-router/build/global-state/router-store.js
  packages/expo-router/build/global-state/router-store.js.map
  packages/expo-router/build/renderRootComponent.d.ts.map
  packages/expo-router/build/renderRootComponent.js
  packages/expo-router/build/renderRootComponent.js.map
  packages/expo-router/build/views/Splash.d.ts
  packages/expo-router/build/views/Splash.d.ts.map
  packages/expo-router/build/views/Splash.js
  packages/expo-router/build/views/Splash.js.map
  packages/expo-router/src/global-state/router-store.tsx
  packages/expo-router/src/renderRootComponent.tsx
  packages/expo-router/src/views/Splash.tsx
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/build/index.native.d.ts
  packages/expo-splash-screen/build/index.native.d.ts.map
  packages/expo-splash-screen/build/index.native.js
  packages/expo-splash-screen/build/index.native.js.map
  packages/expo-splash-screen/src/index.native.ts
Labels: bot: suggestions, bot: fingerprint changed

#24970 [expo-updates][android] Fix instrumentation test for new module
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/logging/UpdatesLoggingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
Labels: bot: suggestions, bot: fingerprint compatible

#24968 Fix API Routes not updating in `src/app` directory.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/bundleApiRoutes.ts
  packages/@expo/cli/src/start/server/metro/waitForMetroToObserveTypeScriptFile.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24967 [expo-calendar] [iOS] Fix unnecessary permission check for calendars when calling `saveCalendarAsync` with `entityType` `"reminder"`
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/EXCalendar/EXCalendar.m
Labels: bot: passed checks

#24649 [autolinking] support devtools plugins
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/autolinking/extraDependencies.d.ts
  packages/expo-modules-autolinking/build/autolinking/extraDependencies.js
  packages/expo-modules-autolinking/build/autolinking/extraDependencies.js.map
  packages/expo-modules-autolinking/build/autolinking/findModules.js
  packages/expo-modules-autolinking/build/autolinking/findModules.js.map
  packages/expo-modules-autolinking/build/autolinking/index.d.ts
  packages/expo-modules-autolinking/build/autolinking/index.js
  packages/expo-modules-autolinking/build/autolinking/index.js.map
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.d.ts
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.js
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.js.map
  packages/expo-modules-autolinking/build/autolinking/verifySearchResults.d.ts
  packages/expo-modules-autolinking/build/autolinking/verifySearchResults.js
  packages/expo-modules-autolinking/build/autolinking/verifySearchResults.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/platforms/devtools.d.ts
  packages/expo-modules-autolinking/build/platforms/devtools.js
  packages/expo-modules-autolinking/build/platforms/devtools.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/exports.d.ts
  packages/expo-modules-autolinking/exports.js
  packages/expo-modules-autolinking/src/autolinking/__tests__/extraDependencies-test.ts
  packages/expo-modules-autolinking/src/autolinking/__tests__/findModules-test.ts
  packages/expo-modules-autolinking/src/autolinking/extraDependencies.ts
  packages/expo-modules-autolinking/src/autolinking/findModules.ts
  packages/expo-modules-autolinking/src/autolinking/index.ts
  packages/expo-modules-autolinking/src/autolinking/mergeLinkingOptions.ts
  packages/expo-modules-autolinking/src/autolinking/verifySearchResults.ts
  packages/expo-modules-autolinking/src/index.ts
  packages/expo-modules-autolinking/src/platforms/devtools.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks, bot: fingerprint changed

#24650 [cli][prebuild-config] add devtools plugins support
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/customize/typescript.ts
  packages/@expo/cli/src/export/web/exportWebAsync.ts
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/DevServerManager.ts
  packages/@expo/cli/src/start/server/DevToolsPluginManager.ts
  packages/@expo/cli/src/start/server/__tests__/BundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroBundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/middleware/DevToolsPluginMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/ExpoMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/CreateFileMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/DevToolsPluginMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ExpoMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/InterstitialPageMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/RuntimeRedirectMiddleware-test.ts
  packages/@expo/cli/src/start/server/webpack/__tests__/WebpackBundlerDevServer-test.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/getAutolinkedPackages.js
  packages/@expo/prebuild-config/build/getAutolinkedPackages.js.map
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.d.ts
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.js
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.js.map
  packages/@expo/prebuild-config/src/getAutolinkedPackages.ts
  packages/@expo/prebuild-config/src/importExpoModulesAutolinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#24667 [expo] introduce api for devtools plugin
  packages/expo/CHANGELOG.md
  packages/expo/build/devtools/DevToolsPluginClient.d.ts
  packages/expo/build/devtools/DevToolsPluginClient.d.ts.map
  packages/expo/build/devtools/DevToolsPluginClient.js
  packages/expo/build/devtools/DevToolsPluginClient.js.map
  packages/expo/build/devtools/DevToolsPluginClientFactory.d.ts
  packages/expo/build/devtools/DevToolsPluginClientFactory.d.ts.map
  packages/expo/build/devtools/DevToolsPluginClientFactory.js
  packages/expo/build/devtools/DevToolsPluginClientFactory.js.map
  packages/expo/build/devtools/DevToolsPluginClientImplApp.d.ts
  packages/expo/build/devtools/DevToolsPluginClientImplApp.d.ts.map
  packages/expo/build/devtools/DevToolsPluginClientImplApp.js
  packages/expo/build/devtools/DevToolsPluginClientImplApp.js.map
  packages/expo/build/devtools/DevToolsPluginClientImplBrowser.d.ts
  packages/expo/build/devtools/DevToolsPluginClientImplBrowser.d.ts.map
  packages/expo/build/devtools/DevToolsPluginClientImplBrowser.js
  packages/expo/build/devtools/DevToolsPluginClientImplBrowser.js.map
  packages/expo/build/devtools/devtools.types.d.ts
  packages/expo/build/devtools/devtools.types.d.ts.map
  packages/expo/build/devtools/devtools.types.js
  packages/expo/build/devtools/devtools.types.js.map
  packages/expo/build/devtools/getConnectionInfo.d.ts
  packages/expo/build/devtools/getConnectionInfo.d.ts.map
  packages/expo/build/devtools/getConnectionInfo.js
  packages/expo/build/devtools/getConnectionInfo.js.map
  packages/expo/build/devtools/getConnectionInfo.native.d.ts
  packages/expo/build/devtools/getConnectionInfo.native.d.ts.map
  packages/expo/build/devtools/getConnectionInfo.native.js
  packages/expo/build/devtools/getConnectionInfo.native.js.map
  packages/expo/build/devtools/index.d.ts
  packages/expo/build/devtools/index.d.ts.map
  packages/expo/build/devtools/index.js
  packages/expo/build/devtools/index.js.map
  packages/expo/devtools.d.ts
  packages/expo/devtools.js
  packages/expo/package.json
  packages/expo/src/devtools/DevToolsPluginClient.ts
  packages/expo/src/devtools/DevToolsPluginClientFactory.ts
  packages/expo/src/devtools/DevToolsPluginClientImplApp.ts
  packages/expo/src/devtools/DevToolsPluginClientImplBrowser.ts
  packages/expo/src/devtools/__tests__/DevToolsPluginClient-test.ts
  packages/expo/src/devtools/__tests__/DevToolsPluginClientFactory-test.ts
  packages/expo/src/devtools/__tests__/DevToolsPluginClientImplApp-test.ts
  packages/expo/src/devtools/__tests__/MockWebSocket.ts
  packages/expo/src/devtools/devtools.types.ts
  packages/expo/src/devtools/getConnectionInfo.native.ts
  packages/expo/src/devtools/getConnectionInfo.ts
  packages/expo/src/devtools/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#24981 [docs] Improve description for local builds doc
  docs/pages/build-reference/local-builds.mdx
Labels: bot: passed checks

#24676 [docs] Update stack.mdx with alternative to Stack.Screen
  docs/pages/router/advanced/stack.mdx
Labels: bot: passed checks

#23508 [docs] Update navigating-pages.mdx changed router object to useRouter hook
  docs/pages/routing/navigating-pages.mdx
Labels: bot: passed checks

#23674 [docs] Clarify what "push" means for `<Link>`
  docs/pages/routing/navigating-pages.mdx
Labels: bot: passed checks

#24812 [sqlite][ios] introduce sqlite/next
  apps/test-suite/TestModules.js
  apps/test-suite/tests/SQLiteNext.ts
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/next/Database.d.ts
  packages/expo-sqlite/build/next/Database.d.ts.map
  packages/expo-sqlite/build/next/Database.js
  packages/expo-sqlite/build/next/Database.js.map
  packages/expo-sqlite/build/next/ExpoSQLiteNext.d.ts
  packages/expo-sqlite/build/next/ExpoSQLiteNext.d.ts.map
  packages/expo-sqlite/build/next/ExpoSQLiteNext.js
  packages/expo-sqlite/build/next/ExpoSQLiteNext.js.map
  packages/expo-sqlite/build/next/ExpoSQLiteNext.native.d.ts
  packages/expo-sqlite/build/next/ExpoSQLiteNext.native.d.ts.map
  packages/expo-sqlite/build/next/ExpoSQLiteNext.native.js
  packages/expo-sqlite/build/next/ExpoSQLiteNext.native.js.map
  packages/expo-sqlite/build/next/NativeDatabase.d.ts
  packages/expo-sqlite/build/next/NativeDatabase.d.ts.map
  packages/expo-sqlite/build/next/NativeDatabase.js
  packages/expo-sqlite/build/next/NativeDatabase.js.map
  packages/expo-sqlite/build/next/NativeStatement.d.ts
  packages/expo-sqlite/build/next/NativeStatement.d.ts.map
  packages/expo-sqlite/build/next/NativeStatement.js
  packages/expo-sqlite/build/next/NativeStatement.js.map
  packages/expo-sqlite/build/next/Statement.d.ts
  packages/expo-sqlite/build/next/Statement.d.ts.map
  packages/expo-sqlite/build/next/Statement.js
  packages/expo-sqlite/build/next/Statement.js.map
  packages/expo-sqlite/build/next/index.d.ts
  packages/expo-sqlite/build/next/index.d.ts.map
  packages/expo-sqlite/build/next/index.js
  packages/expo-sqlite/build/next/index.js.map
  packages/expo-sqlite/expo-module.config.json
  packages/expo-sqlite/ios/CRSQLiteLoader.h
  packages/expo-sqlite/ios/CRSQLiteLoader.m
  packages/expo-sqlite/ios/Exceptions.swift
  packages/expo-sqlite/ios/NativeDatabase.swift
  packages/expo-sqlite/ios/NativeStatement.swift
  packages/expo-sqlite/ios/SQLAction.swift
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-sqlite/ios/SQLiteModuleNext.swift
  packages/expo-sqlite/ios/SQLiteOptions.swift
  packages/expo-sqlite/next.d.ts
  packages/expo-sqlite/next.js
  packages/expo-sqlite/package.json
  packages/expo-sqlite/src/next/Database.ts
  packages/expo-sqlite/src/next/ExpoSQLiteNext.native.ts
  packages/expo-sqlite/src/next/ExpoSQLiteNext.ts
  packages/expo-sqlite/src/next/NativeDatabase.ts
  packages/expo-sqlite/src/next/NativeStatement.ts
  packages/expo-sqlite/src/next/Statement.ts
  packages/expo-sqlite/src/next/__mocks__/ExpoSQLiteNext.ts
  packages/expo-sqlite/src/next/__tests__/Database-test.node.ts
  packages/expo-sqlite/src/next/__tests__/Statement-test.node.ts
  packages/expo-sqlite/src/next/index.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#24963 [core][Android] `Any` converter doesn't use `ReadableMap` or `ReadableList` anymore
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/ExpectedType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#24985 [docs] update most of dependencies, related fixes
  docs/common/headingManager.test.ts
  docs/common/headingManager.ts
  docs/components/base/code.tsx
  docs/components/page-higher-order/withHeadingManager.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/Highlight.tsx
  docs/components/plugins/Video.tsx
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/jest.config.js
  docs/package.json
  docs/tsconfig.json
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/CommandMenu/Items/ExpoDocsItem.tsx
  docs/ui/components/CommandMenu/Items/ExpoItem.tsx
  docs/ui/components/CommandMenu/Items/FootnoteSection.tsx
  docs/ui/components/CommandMenu/Items/RNDirectoryItem.tsx
  docs/ui/components/CommandMenu/Items/RNDocsItem.tsx
  docs/ui/components/Footer/Footer.test.tsx
  docs/ui/components/Footer/Links.tsx
  docs/ui/components/RouteUrl/index.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#24986 [docs] Update private npm packages doc
  docs/pages/build-reference/private-npm-packages.mdx
Labels: bot: passed checks

#24996 [docs] add check/install step before running Docs Puppeteer test
  docs/.puppeteerrc.cjs
  docs/package.json
  docs/scripts/test-links.js
Labels: bot: passed checks, preview

#24905 feat(docs): document route parameters
  docs/pages/router/reference/search-parameters.mdx
Labels: bot: passed checks

#24973 feat(expo): Add WinterCG URL support
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/customizeFrame.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.d.ts
  packages/expo/build/Expo.fx.d.ts.map
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/winter/index.d.ts
  packages/expo/build/winter/index.d.ts.map
  packages/expo/build/winter/index.js
  packages/expo/build/winter/index.js.map
  packages/expo/build/winter/runtime.d.ts
  packages/expo/build/winter/runtime.d.ts.map
  packages/expo/build/winter/runtime.js
  packages/expo/build/winter/runtime.js.map
  packages/expo/build/winter/runtime.native.d.ts
  packages/expo/build/winter/runtime.native.d.ts.map
  packages/expo/build/winter/runtime.native.js
  packages/expo/build/winter/runtime.native.js.map
  packages/expo/build/winter/url.d.ts
  packages/expo/build/winter/url.d.ts.map
  packages/expo/build/winter/url.js
  packages/expo/build/winter/url.js.map
  packages/expo/package.json
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/__tests__/url-builtin.test.native.ts
  packages/expo/src/winter/index.ts
  packages/expo/src/winter/runtime.native.ts
  packages/expo/src/winter/runtime.ts
  packages/expo/src/winter/url.ts
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#25004 fix(expo): Encode Blob components in `URL.createObjectURL`.
  packages/expo/CHANGELOG.md
  packages/expo/build/winter/url.d.ts.map
  packages/expo/build/winter/url.js
  packages/expo/build/winter/url.js.map
  packages/expo/src/winter/url.ts
Labels: bot: passed checks, bot: fingerprint changed

#24990 [docs] Add a section on Navigate to a screen in a nested navigator
  docs/pages/router/advanced/nesting-navigators.mdx
Labels: bot: passed checks

#24636 [docs] Add info about `reset` action and accessing `navigation.navigate` prop in React Navigation migration guide
  docs/pages/router/migrate/from-react-navigation.mdx
Labels: bot: passed checks

#25007 [docs] expo-router authentication fix ts props
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#25012 [image][ios] Add support for `allowDownscaling` on iOS
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#24949 [expo-updates][ios][2/n] Refactor AppController callback types for JS methods
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/UpdateResponse.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
Labels: bot: fingerprint compatible

#24954 [expo-updates][android][1/n] Refactor responsibility
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
Labels: bot: suggestions, bot: fingerprint compatible

#24974 [expo-updates][expo-go][android] Backport ExpoGoUpdatesModule to SDK 49
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/adapters/react/ModuleRegistryAdapter.java
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/core/interfaces/Consumer.java
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesInterface.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesPackage.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesService.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/modules/universal/ExpoModuleRegistryAdapter.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/modules/universal/UpdatesBinding.kt
  packages/expo-updates/CHANGELOG.md
Labels: bot: fingerprint compatible

#24975 [expo-updates][android][4/n] Make a bunch of UpdatesController private
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
Labels: bot: fingerprint changed

#25006 disable url support
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.d.ts
  packages/expo/build/Expo.fx.d.ts.map
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/src/Expo.fx.tsx
Labels: bot: passed checks, bot: fingerprint changed

#25003 feat: Include static routes from `generateStaticParams` in server manifest.
  apps/router-e2e/__e2e__/server/app/blog-ssg/[post].tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/static/renderStaticContent.d.ts
  packages/expo-router/build/static/renderStaticContent.d.ts.map
  packages/expo-router/build/static/renderStaticContent.js
  packages/expo-router/build/static/renderStaticContent.js.map
  packages/expo-router/src/__tests__/loadStaticParamsAsync.test.web.ts
  packages/expo-router/src/static/renderStaticContent.tsx
Labels: bot: passed checks, bot: fingerprint changed

#25000 chore(cli): memoize warning about src/app dir
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/router.ts
Labels: bot: passed checks, bot: fingerprint changed

#24913 [docs] Add docs for migrating from expo webpack to expo router
  docs/constants/navigation.js
  docs/pages/guides/customizing-webpack.mdx
  docs/pages/router/migrate/from-expo-webpack.mdx
Labels: bot: passed checks

#24983 [audio][docs] Update Recording class to be experimental for web
  docs/public/static/data/unversioned/expo-audio.json
  docs/public/static/data/unversioned/expo-av.json
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v49.0.0/expo-audio.json
  docs/public/static/data/v49.0.0/expo-av.json
  docs/public/static/data/v49.0.0/expo-video.json
  packages/expo-av/build/Audio/Recording.d.ts
  packages/expo-av/build/Audio/Recording.d.ts.map
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/src/Audio/Recording.ts
Labels: bot: suggestions, bot: fingerprint changed

#24737 [location][android] Migrate to new modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationActivityResultListener.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationActivityResultListener.kt
  packages/expo-location/android/src/main/java/expo/modules/location/LocationExceptions.kt
  packages/expo-location/android/src/main/java/expo/modules/location/LocationHelpers.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationHelpers.kt
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.kt
  packages/expo-location/android/src/main/java/expo/modules/location/LocationPackage.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationRequestCallbacks.java
  packages/expo-location/android/src/main/java/expo/modules/location/LocationRequestCallbacks.kt
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationBackgroundUnauthorizedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationRequestRejectedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationSettingsUnsatisfiedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationUnauthorizedException.java
  packages/expo-location/android/src/main/java/expo/modules/location/exceptions/LocationUnavailableException.java
  packages/expo-location/android/src/main/java/expo/modules/location/records/LocationArguments.kt
  packages/expo-location/android/src/main/java/expo/modules/location/records/LocationResults.kt
  packages/expo-location/android/src/main/java/expo/modules/location/services/LocationTaskService.java
  packages/expo-location/android/src/main/java/expo/modules/location/services/LocationTaskService.kt
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/GeofencingTaskConsumer.java
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/GeofencingTaskConsumer.kt
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/LocationTaskConsumer.java
  packages/expo-location/android/src/main/java/expo/modules/location/taskConsumers/LocationTaskConsumer.kt
  packages/expo-location/expo-module.config.json
Labels: bot: passed checks, bot: fingerprint changed

#25011 [ENG-10384][docs] update Android images docs
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks, preview

#24634 [docs] Add info about `popToTop` action in Expo Router Stack navigation guide
  docs/pages/router/advanced/stack.mdx
Labels: bot: passed checks

#25020 [docs] Fix Deep Linking typo
  docs/pages/guides/deep-linking.mdx
Labels: bot: passed checks

#25027 [docs] ignore Prettier cache directory
  docs/.gitignore
Labels: bot: passed checks

#25035 [docs] static version selector in the Reference sidebar
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/tailwind.config.cjs
  docs/ui/components/Navigation/ApiVersionSelect.tsx
  docs/ui/components/Navigation/Navigation.tsx
  docs/ui/components/Sidebar/ApiVersionSelect.tsx
  docs/ui/components/Sidebar/Sidebar.tsx
  docs/ui/components/Sidebar/SidebarGroup.tsx
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/VersionSelector.tsx
  docs/ui/components/Sidebar/index.ts
Labels: bot: passed checks, preview

#25032 [expo-image] [android] fix crash when loading local files with no file extension
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Labels: bot: passed checks, bot: fingerprint changed

#25010 [expo-image][iOS] Fix compilation on tvOS
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ExpoImage.podspec
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/ios/Loaders/PhotoLibraryAssetLoader.swift
  packages/expo-image/ios/Thumbhash.swift
  packages/expo-image/ios/ThumbhashLoader.swift
  packages/expo-updates/e2e/setup/project.js
Labels: bot: suggestions, bot: fingerprint changed

#25039 [docs] Fix keyboard shortcut representation in Profiling JavaScript section
  docs/pages/debugging/tools.mdx
Labels: bot: passed checks

#25005 Migrate to `@expo/whatwg-url` to fix `SharedArrayBuffer` issue.
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/require-context-ponyfill.js
  packages/expo-router/build/testing-library/require-context-ponyfill.js.map
  packages/expo-router/src/testing-library/require-context-ponyfill.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.d.ts
  packages/expo/build/Expo.fx.d.ts.map
  packages/expo/build/Expo.fx.js
  packages/expo/build/Expo.fx.js.map
  packages/expo/build/winter/url.d.ts
  packages/expo/build/winter/url.d.ts.map
  packages/expo/build/winter/url.js
  packages/expo/build/winter/url.js.map
  packages/expo/package.json
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/winter/url.ts
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#25002 [docs] improve router docs
  docs/pages/router/advanced/stack.mdx
  docs/pages/router/reference/hooks.mdx
Labels: bot: passed checks

#24884 [expo-localization] Use non-deprecated APIs
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/build/Localization.types.d.ts
  packages/expo-localization/build/Localization.types.d.ts.map
  packages/expo-localization/build/Localization.types.js.map
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/src/Localization.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#24980 [image][ios][android] Add getCachePathAsync
  apps/test-suite/tests/Image.js
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/build/Image.js
  packages/expo-image/build/Image.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/src/Image.tsx
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions

#25021 [sqlite] add android implementation for sqlite/next api
  apps/test-suite/TestModules.js
  apps/test-suite/tests/SQLiteNext.ts
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/cpp/NativeDatabaseBinding.cpp
  packages/expo-sqlite/android/src/main/cpp/NativeDatabaseBinding.h
  packages/expo-sqlite/android/src/main/cpp/NativeStatementBinding.cpp
  packages/expo-sqlite/android/src/main/cpp/NativeStatementBinding.h
  packages/expo-sqlite/android/src/main/cpp/SQLite3Main.cpp
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeDatabase.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeDatabaseBinding.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeStatement.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeStatementBinding.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLExceptions.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLRecords.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLite3Wrapper.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModuleNext.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteOptions.kt
  packages/expo-sqlite/build/next/Database.d.ts
  packages/expo-sqlite/build/next/Database.d.ts.map
  packages/expo-sqlite/build/next/Database.js.map
  packages/expo-sqlite/build/next/NativeStatement.d.ts
  packages/expo-sqlite/build/next/NativeStatement.d.ts.map
  packages/expo-sqlite/build/next/NativeStatement.js.map
  packages/expo-sqlite/build/next/Statement.js
  packages/expo-sqlite/build/next/Statement.js.map
  packages/expo-sqlite/expo-module.config.json
  packages/expo-sqlite/src/next/Database.ts
  packages/expo-sqlite/src/next/NativeStatement.ts
  packages/expo-sqlite/src/next/Statement.ts
Labels: bot: passed checks, bot: fingerprint changed

#25022 [sqlite][ios] fix issues for sqlite/next
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/Exceptions.swift
  packages/expo-sqlite/ios/SQLiteModuleNext.swift
Labels: bot: passed checks, bot: fingerprint changed

#25053 [ios][camera] Fix barcode scanner regression
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#25008 [image][ios] Fix freeze/delay in rendering of WEBP images on iOS, add controls for stoping/starting animated images
  apps/test-suite/tests/Image.js
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.d.ts.map
  packages/expo-image/build/ExpoImage.js
  packages/expo-image/build/ExpoImage.js.map
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/build/Image.js
  packages/expo-image/build/Image.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/ExpoImage.tsx
  packages/expo-image/src/Image.tsx
  packages/expo-image/src/Image.types.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions

#25060 [core][iOS] Fix the object identifier for shared object types
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/DynamicTypes/DynamicSharedObjectType.swift
Labels: bot: suggestions, bot: fingerprint changed

#25072 [docs] Fix hydration issue for Video component
  docs/components/plugins/Video.tsx
Labels: bot: passed checks

#25075 [core][iOS] Add missing conversion of concurrent function results
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Conversions.swift
  packages/expo-modules-core/ios/Functions/ConcurrentFunctionDefinition.swift
Labels: bot: passed checks, bot: fingerprint changed

#25081 [build-properties] Update deploymentTarget unit test
  packages/expo-build-properties/src/__tests__/pluginConfig-test.ts
Labels: bot: suggestions, bot: fingerprint compatible
