Repository expo/expo, pull requests merged in 2023-12, with the labels that each got.

#25680 fix: disable inline requires
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25686 fix(metro-config): patch missing request parameters for react native default code loading
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/babel-transformer.js
  packages/@expo/metro-config/build/babel-transformer.js.map
  packages/@expo/metro-config/build/rewriteRequestUrl.d.ts
  packages/@expo/metro-config/build/rewriteRequestUrl.js
  packages/@expo/metro-config/build/rewriteRequestUrl.js.map
  packages/@expo/metro-config/src/__tests__/babel-transformer.test.ts
  packages/@expo/metro-config/src/__tests__/rewriteRequestUrl.test.ts
  packages/@expo/metro-config/src/babel-transformer.ts
  packages/@expo/metro-config/src/rewriteRequestUrl.ts
Labels: bot: passed checks, bot: fingerprint compatible

#25688 [core][Android] Fix `JavaScriptFunction` not working when return type wasn't provided
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/UnitTypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#25689 [core][Android] Add type information about module to module holder
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/KModuleEventEmitterWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/BaseAsyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SuspendFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/SuspendFunctionComponentTest.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/ModuleController.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/ModuleMockInvocationHandler.kt
Labels: bot: suggestions, bot: fingerprint changed

#25690 [test-core][Android] Move current implementation to legacy package
  packages/expo-clipboard/android/src/test/java/expo/modules/clipboard/ClipboardModuleTest.kt
  packages/expo-crypto/android/src/test/java/expo/modules/crypto/CryptoModuleTest.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumsTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsTest.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/ModuleController.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/ModuleMock.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/ModuleMockHolder.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/ModuleMockInvocationHandler.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/PromiseMock.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/TestJSContainerProvider.kt
  packages/expo-modules-test-core/android/src/main/java/expo/modules/test/core/legacy/TestUtils.kt
  packages/expo-web-browser/android/src/test/java/expo/modules/webbrowser/WebBrowserModuleTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#25650 [cli] Fix permission issue when user doesn't have permission to view app
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/user/actions.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ExpoGoManifestHandlerMiddleware-test.ts
  packages/@expo/cli/src/utils/codesigning.ts
Labels: bot: passed checks, bot: fingerprint compatible

#25695 [docs] CodeBlockTable: fix regression after switching to TW
  docs/components/base/code.tsx
  docs/components/plugins/APIBox.tsx
  docs/components/plugins/CodeBlocksTable.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Tabs/Tabs.tsx
Labels: bot: passed checks

#25649 fix(cli): use new `@react-native/dev-middleware` for debugging
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/debugging/InspectorDevice.ts
  packages/@expo/cli/src/start/server/metro/debugging/InspectorProxy.ts
  packages/@expo/cli/src/start/server/metro/debugging/__tests__/InspectorDevice.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/__tests__/InspectorProxy.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/createDebugMiddleware.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/NetworkResponse.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/PageReload.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/VscodeDebuggerGetPossibleBreakpoints.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/VscodeDebuggerScriptParsed.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/VscodeDebuggerSetBreakpointByUrl.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/VscodeRuntimeCallFunctionOn.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/VscodeRuntimeGetProperties.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/NetworkResponse.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/PageReload.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/VscodeDebuggerGetPossibleBreakpoints.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/VscodeDebuggerScriptParsed.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/VscodeDebuggerSetBreakpointByUrl.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/VscodeRuntimeCallFunctionOn.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/VscodeRuntimeGetProperties.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/__tests__/utils.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/types.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/utils.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/__tests__/proxy.test.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/device.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/handlers/utils.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/index.ts
  packages/@expo/cli/src/start/server/metro/inspector-proxy/proxy.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/ts-declarations/@react-native-dev-middleware/index.d.ts
Labels: bot: passed checks, bot: fingerprint changed

#25703 [docs] FeedbackForm: autofocus textarea, tweak focus outline
  docs/ui/components/Footer/FeedbackDialog.tsx
  docs/ui/components/Footer/Links.tsx
Labels: bot: passed checks

#23514 feature(cli): add `expo run` command to select platform to run
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
  packages/@expo/cli/e2e/__tests__/run-test.ts
  packages/@expo/cli/src/run/hints.ts
  packages/@expo/cli/src/run/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#25701 [docs] API: support displaying enum to string union conversions
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionTypes.tsx
Labels: bot: passed checks

#25709 [ci] Use Node 20.10.0+ for check-packages
  .github/workflows/sdk.yml
Labels: bot: passed checks

#25708 [expo-updates] E2E tests use asset exclusion/selection
  packages/expo-updates/e2e/fixtures/App-updates-disabled.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/includedAssets/test.png
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25660 [updates] disable broken test
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25558 refactor(pod-install): move over from `expo/expo-cli`
  .github/CODEOWNERS
  packages/pod-install/.gitignore
  packages/pod-install/CHANGELOG.md
  packages/pod-install/LICENSE
  packages/pod-install/README.md
  packages/pod-install/package.json
  packages/pod-install/src/index.ts
  packages/pod-install/src/update.ts
  packages/pod-install/src/utils.ts
  packages/pod-install/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#25732 [Android][core] Fix requesting only `WRITE_SETTINGS` rejecting promise even if the permission was granted
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/permissions/PermissionsService.kt
Labels: bot: suggestions, bot: fingerprint changed

#25415 [expo] fix missing concurrentRoot initialProps on new arch mode
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
Labels: bot: passed checks, bot: fingerprint changed

#25738 [camera] Improve test stability
  apps/test-suite/tests/Camera.js
Labels: bot: passed checks, bot: fingerprint compatible

#25737 [camera] `stopRecording`, `pausePreview` and `resumePreview` have been updated to return promises
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.d.ts.map
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/src/Camera.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#25718 [ci] Add slack failure notification to expo-updates E2E tests
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Labels: bot: passed checks

#25719 [ci] Add release variant to expo-updates e2e
  .github/workflows/tvos-compile-test.yml
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#25672 [doctor] Fix Doctor bin ("sh: expo-doctor: command not found")
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/package.json
Labels: bot: passed checks, bot: fingerprint changed

#25740 [docs] Update latest SDK Expo Battery example to use hook and other updates
  docs/pages/versions/unversioned/sdk/battery.mdx
  docs/pages/versions/v46.0.0/sdk/battery.mdx
  docs/pages/versions/v47.0.0/sdk/battery.mdx
  docs/pages/versions/v48.0.0/sdk/battery.mdx
  docs/pages/versions/v49.0.0/sdk/battery.mdx
Labels: bot: passed checks

#25741 [battery][docs] Fix formatting issue and typo in return value for battery level on web
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/v49.0.0/expo-battery.json
  packages/expo-battery/build/Battery.d.ts
  packages/expo-battery/build/Battery.js
  packages/expo-battery/build/Battery.js.map
  packages/expo-battery/build/Battery.types.d.ts
  packages/expo-battery/build/Battery.types.js
  packages/expo-battery/build/Battery.types.js.map
  packages/expo-battery/src/Battery.ts
  packages/expo-battery/src/Battery.types.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25704 [iOS] Fix unversioned QA issues in expo-file-system
  apps/test-suite/tests/FileSystem.js
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemModule.swift
Labels: bot: suggestions, bot: fingerprint changed

#25753 [expo-updates][e2e] Fix reload test on android
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25748 [updates][e2e] Run all variants on workflow dispatch
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Labels: bot: passed checks

#25751 [expo-updates] Improve JS API error messages and documentation for Expo Go and Dev Client
  android/expoview/src/main/java/versioned/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  ios/Exponent/Versioned/Core/Modules/ExpoGoExpoUpdatesModule.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
  packages/expo-updates/src/Updates.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25730 [home] Fix home not updating modal user state on login
  home/screens/AccountModal/index.tsx
Labels: bot: passed checks

#25729 [docs] Update babel config step code snippet
  docs/pages/router/installation.mdx
Labels: bot: passed checks

#25756 [ios][image-manipulator] fix threading issue
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulatorModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#25757 [core][Android] Fix functions scheduled on the main thread weren't being called as soon as possible
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyType.kt
Labels: bot: suggestions, bot: fingerprint changed

#25763 [media-library][Android] Fix promises being resolved twice
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#25761 [test-suite] Update SecureStore tests
  apps/test-suite/tests/SecureStore.js
Labels: bot: passed checks, bot: fingerprint compatible

#25759 [kernel] Fix deep links in expo go ios
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.h
  ios/Exponent/Kernel/Services/EXKernelLinkingManager.m
Labels: bot: passed checks

#25768 [updates][e2e] Increase timeout
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Labels: bot: passed checks

#25603 [docs] Add icons for Development Process and Distribution sidebar groups
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks

#25776 [expo-go][ios] Always run ios-generate-dynamic-macros build step
  ios/Exponent.xcodeproj/project.pbxproj
Labels: bot: passed checks

#25779 [docs] Update pre-release info for alpha->canary and mention beta
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v49.0.0/index.mdx
Labels: bot: passed checks

#25726 [core] add Data convertible on ios
  docs/pages/modules/module-api.mdx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Arguments/AnyArgument.swift
  packages/expo-modules-core/ios/DynamicTypes/DynamicDataType.swift
  packages/expo-modules-core/ios/DynamicTypes/DynamicDictionaryType.swift
  packages/expo-modules-core/ios/DynamicTypes/DynamicType.swift
  packages/expo-modules-core/ios/JSI/EXJSIConversions.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/Tests/BlobConvertiblesSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#25727 [core] add ByteArray convertible on android
  docs/pages/modules/module-api.mdx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/BlobTypeConversionTest.kt
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/ExpectedType.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ByteArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/folly/FollyDynamicExtensionConverter.kt
Labels: bot: passed checks, bot: fingerprint changed

#25786 [core] try to improve the stability for ios unit test
  packages/expo-modules-core/ios/Tests/BlobConvertiblesSpec.swift
Labels: bot: suggestions, bot: fingerprint changed

#25767 fix(expo-module-scripts): enable `universe/node` preset for root config files
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-module-scripts/eslintrc.base.js
Labels: bot: passed checks, bot: fingerprint changed

#25752 [docs] Add docs for rollbacks and update rollouts
  docs/constants/navigation.js
  docs/pages/eas-update/rollbacks.mdx
  docs/pages/eas-update/rollouts.mdx
Labels: bot: passed checks

#25765 [home] Fix path imports
  home/navigation/Navigation.tsx
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/DiagnosticsScreen/index.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/SettingsScreen/index.tsx
  home/tsconfig.json
Labels: bot: passed checks

#25789 [prebuilld-config] Fix splashscreen prebuild
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashLegacyMainActivity.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashLegacyMainActivity.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashLegacyMainActivity.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25770 [font] add custom native font support for Font.isLoaded
  apps/bare-expo/android/app/src/main/assets/fonts/icomoon.ttf
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo/Info.plist
  apps/bare-expo/ios/icomoon.ttf
  apps/test-suite/tests/Font.js
  packages/expo-font/CHANGELOG.md
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.kt
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/ios/EXFont/EXFontLoader.m
  packages/expo-font/src/Font.ts
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: passed checks, bot: fingerprint changed

#25801 [docs] Fix diff in configuration for Android section
  docs/pages/bare/installing-updates.mdx
Labels: bot: passed checks

#23841 [secure-store][ios] Add synchronous functions and change keychain handling
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/ios/SecureStoreModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#25807 [iOS] Use unversioned code for SDK 50
  exponent-view-template/ios/exponent-view-template/Supporting/EXSDKVersions.plist
  exponent-view-template/ios/exponent-view-template/Supporting/sdkVersions.json
  home/app.json
  ios/ExpoKit.podspec
  ios/Exponent/Kernel/Environment/EXVersions.m
  ios/Exponent/Supporting/EXSDKVersions.plist
  ios/Exponent/Supporting/sdkVersions.json
Labels: bot: passed checks

#25812 [android][tools] use unversioned expo go to serve sdk 50 projects
  android/expoview/src/main/java/host/exp/exponent/Constants.java
  android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/KernelNetworkInterceptor.kt
  android/sdkVersions.json
  tools/src/commands/AndroidBuildPackages.ts
Labels: bot: passed checks

#25813 [dev-menu][ios] Fix `Unable to find module for ExpoModulesCore.ViewModuleWrapper`
  packages/expo-dev-launcher/ios/ReactNative/EXDevLauncherRCTBridge.m
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuRCTBridge.mm
Labels: bot: suggestions, bot: fingerprint changed

#25805 [core][android] Support asking PermissionService for an empty permissions list
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/permissions/PermissionsService.kt
Labels: bot: suggestions, bot: fingerprint changed

#25699 [go] Add User Review section to Home screen
  android/expoview/src/main/java/host/exp/exponent/experience/BaseExperienceActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/exponent/modules/ExponentKernelModule.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentSharedPreferences.kt
  home/components/UserReviewSection.tsx
  home/graphql.schema.json
  home/graphql/fragments/CurrentUserActorData.fragment.graphql
  home/graphql/types.ts
  home/kernel/Kernel.ts
  home/navigation/Navigation.tsx
  home/navigation/Navigation.types.ts
  home/package.json
  home/screens/FeedbackFormScreen/index.tsx
  home/screens/HomeScreen/HomeScreenView.tsx
  home/utils/useUserReviewCheck.ts
  ios/Client/EXHomeAppManager.h
  ios/Client/EXHomeAppManager.m
  ios/Client/EXRootViewController.m
  ios/Exponent/Kernel/DevSupport/EXHomeModule.h
  ios/Exponent/Kernel/DevSupport/EXHomeModule.m
  ios/Exponent/Kernel/Views/EXAppViewController.h
  ios/Exponent/Kernel/Views/EXAppViewController.m
  packages/expo-dev-client-components/CHANGELOG.md
  packages/expo-dev-client-components/src/Button.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#25823 [tools] Fix prod home publish script
  tools/src/commands/PublishProdExpoHomeCommand.ts
Labels: bot: passed checks

#25806 [docs] Asset selection/exclusion for updates
  docs/constants/navigation.js
  docs/pages/eas-update/asset-selection.mdx
  docs/pages/eas-update/optimize-assets.mdx
Labels: bot: passed checks, preview

#25818 [android] Fix loading SDK 49 projects
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
Labels: bot: passed checks

#25742 refactor(uri-scheme): move over from `expo/expo-cli`
  .github/CODEOWNERS
  packages/uri-scheme/.eslintignore
  packages/uri-scheme/.eslintrc.js
  packages/uri-scheme/.gitignore
  packages/uri-scheme/CHANGELOG.md
  packages/uri-scheme/LICENSE
  packages/uri-scheme/README.md
  packages/uri-scheme/cli.js
  packages/uri-scheme/jest.config.js
  packages/uri-scheme/package.json
  packages/uri-scheme/src/Android.ts
  packages/uri-scheme/src/CLI.ts
  packages/uri-scheme/src/Ios.ts
  packages/uri-scheme/src/Options.ts
  packages/uri-scheme/src/URIScheme.ts
  packages/uri-scheme/src/__tests__/URIScheme-test.ts
  packages/uri-scheme/src/__tests__/fixtures/react-native/android/app/src/main/AndroidManifest.xml
  packages/uri-scheme/src/__tests__/fixtures/react-native/ios/Info.plist
  packages/uri-scheme/src/__tests__/fixtures/react-native/ios/demo.xcodeproj
  packages/uri-scheme/src/index.ts
  packages/uri-scheme/src/update.ts
  packages/uri-scheme/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#25825 [font] Fix Font.isLoaded on Expo Go
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/src/Font.ts
Labels: bot: suggestions, bot: fingerprint changed

#25743 refactor(plist): move to `expo/expo`
  .github/CODEOWNERS
  packages/@expo/plist/.eslintignore
  packages/@expo/plist/.eslintrc.js
  packages/@expo/plist/CHANGELOG.md
  packages/@expo/plist/README.md
  packages/@expo/plist/build/build.d.ts
  packages/@expo/plist/build/build.js
  packages/@expo/plist/build/build.js.map
  packages/@expo/plist/build/index.d.ts
  packages/@expo/plist/build/index.js
  packages/@expo/plist/build/index.js.map
  packages/@expo/plist/build/parse.d.ts
  packages/@expo/plist/build/parse.js
  packages/@expo/plist/build/parse.js.map
  packages/@expo/plist/jest.config.js
  packages/@expo/plist/package.json
  packages/@expo/plist/src/__tests__/build-test.ts
  packages/@expo/plist/src/__tests__/parse-test.ts
  packages/@expo/plist/src/build.ts
  packages/@expo/plist/src/index.ts
  packages/@expo/plist/src/parse.ts
  packages/@expo/plist/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#25746 refactor(osascript): move to `expo/expo`
  packages/@expo/osascript/.eslintignore
  packages/@expo/osascript/.eslintrc.js
  packages/@expo/osascript/CHANGELOG.md
  packages/@expo/osascript/LICENSE
  packages/@expo/osascript/README.md
  packages/@expo/osascript/build/index.d.ts
  packages/@expo/osascript/build/index.js
  packages/@expo/osascript/build/index.js.map
  packages/@expo/osascript/jest.config.js
  packages/@expo/osascript/package.json
  packages/@expo/osascript/src/index.ts
  packages/@expo/osascript/ts-declarations/exec-async/index.d.ts
  packages/@expo/osascript/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#25827 [ios][sensors] Prevent asking for permission on reload
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/ios/PedometerModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#25831 Fix common chunks with cyclic dependencies being linked in async routes.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-splitting.test.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/metro/serializeHtml.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
Labels: bot: passed checks, bot: fingerprint changed

#25830 feat(cli): prevent showing logs for source maps
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/TerminalReporter.ts
Labels: bot: passed checks, bot: fingerprint changed

#25832 chore(metro-runtime): Skip showing downloading overlay on web
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/async-require/loadBundle.d.ts.map
  packages/@expo/metro-runtime/build/async-require/loadBundle.js
  packages/@expo/metro-runtime/build/async-require/loadBundle.js.map
  packages/@expo/metro-runtime/src/async-require/__tests__/loadBundle.test.web.ts
  packages/@expo/metro-runtime/src/async-require/loadBundle.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25814 [ios] Swiftlint config
  .swiftlint.yml
Labels: bot: passed checks

#25834 [ios][application] Fix regression when getting release type in expo go
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-application/CHANGELOG.md
  packages/expo-application/ios/ApplicationModule.swift
  packages/expo-application/ios/ApplicationModuleProvisioningProfile.swift
  packages/expo-application/ios/EXApplication.podspec
  packages/expo-application/ios/EXApplication/EXProvisioningProfile.h
  packages/expo-application/ios/EXApplication/EXProvisioningProfile.m
Labels: bot: passed checks, bot: fingerprint changed

#25811 [android][tools] fix expo-go versioning for android
  android/expoview/build.gradle
  android/expoview/src/main/AndroidManifest.xml
  android/expoview/src/main/java/versioned/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  android/expoview/src/main/res/values/strings.xml
  android/versioned-abis/expoview-abi49_0_0/build.gradle
  android/versioned-abis/expoview-abi49_0_0/src/main/AndroidManifest.xml
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/localization/LocalizationModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  android/versioned-react-native/settings.gradle
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarReactActivityLifecycleListener.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/NativeResourcesBasedSplashScreenViewProvider.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenReactActivityLifecycleListener.kt
  packages/expo-system-ui/android/src/main/java/expo/modules/systemui/SystemUIReactActivityLifecycleListener.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.kt
  tools/src/versioning/android/android-build-aar.sh
  tools/src/versioning/android/android-manifest-merger/build.gradle
  tools/src/versioning/android/android-manifest-merger/settings.gradle.kts
  tools/src/versioning/android/android-packages-to-keep.txt
  tools/src/versioning/android/expoModulesTransforms.ts
  tools/src/versioning/android/index.ts
  tools/src/versioning/android/jarFiles.ts
  tools/src/versioning/android/java-toolkits/.gitattributes
  tools/src/versioning/android/java-toolkits/.gitignore
  tools/src/versioning/android/java-toolkits/android-manifest-merger/build.gradle.kts
  tools/src/versioning/android/java-toolkits/build.gradle.kts
  tools/src/versioning/android/java-toolkits/gradle/wrapper/gradle-wrapper.jar
  tools/src/versioning/android/java-toolkits/gradle/wrapper/gradle-wrapper.properties
  tools/src/versioning/android/java-toolkits/gradlew
  tools/src/versioning/android/java-toolkits/gradlew.bat
  tools/src/versioning/android/java-toolkits/kotlin-metadata-stripper/build.gradle.kts
  tools/src/versioning/android/java-toolkits/kotlin-metadata-stripper/src/main/kotlin/dev/expo/kotlinmetadatastripper/App.kt
  tools/src/versioning/android/java-toolkits/settings.gradle.kts
  tools/src/versioning/android/libraries.ts
  tools/src/versioning/android/packagesConfig.ts
  tools/src/versioning/android/reactNativeTransforms.ts
  tools/src/versioning/android/transforms/expoviewTransforms.ts
  tools/src/versioning/android/transforms/vendoredModulesTransforms.ts
  tools/src/versioning/android/versionReactNative.ts
  tools/src/versioning/android/versionVendoredModules.ts
Labels: bot: suggestions, bot: fingerprint changed

#25824 [ci] Improve Android instrumentation test reliability
  tools/src/commands/AndroidNativeUnitTests.ts
Labels: bot: passed checks

#25841 [go] fix launch crash on android release build
  android/app/proguard-rules.pro
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
Labels: bot: passed checks

#25589 fix(router): Ensure url params are decoded consistently across expo-router
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/LocationProvider.d.ts.map
  packages/expo-router/build/LocationProvider.js
  packages/expo-router/build/LocationProvider.js.map
  packages/expo-router/build/fork/getPathFromState.d.ts.map
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/src/LocationProvider.tsx
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/fork/getPathFromState.ts
  packages/expo-router/src/hooks.ts
Labels: bot: passed checks, bot: fingerprint changed

#25828 [docs] remove race condition from expo auth example
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#25820 [docs] Update local app development guide for JDK 17 on SDK 50+
  docs/pages/guides/local-app-development.mdx
Labels: bot: passed checks

#25817 fix(expo-modules-autolinking): resolve packages from `expo` package context
  docs/public/static/diffs/template-bare-minimum/diffInfo.json
  docs/public/static/diffs/template-bare-minimum/raw/44..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/45..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/48..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/49..unversioned.diff
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: suggestions, bot: fingerprint changed

#25769 refactor(schemer): move to `expo/expo`
  .github/CODEOWNERS
  packages/@expo/schemer/.eslintignore
  packages/@expo/schemer/.eslintrc.js
  packages/@expo/schemer/CHANGELOG.md
  packages/@expo/schemer/LICENSE
  packages/@expo/schemer/README.md
  packages/@expo/schemer/build/Error.d.ts
  packages/@expo/schemer/build/Error.js
  packages/@expo/schemer/build/Error.js.map
  packages/@expo/schemer/build/Util.d.ts
  packages/@expo/schemer/build/Util.js
  packages/@expo/schemer/build/Util.js.map
  packages/@expo/schemer/build/index.d.ts
  packages/@expo/schemer/build/index.js
  packages/@expo/schemer/build/index.js.map
  packages/@expo/schemer/e2e/__tests__/network-test.ts
  packages/@expo/schemer/e2e/fixtures/schema.json
  packages/@expo/schemer/e2e/jest.config.js
  packages/@expo/schemer/jest.config.js
  packages/@expo/schemer/package.json
  packages/@expo/schemer/src/Error.ts
  packages/@expo/schemer/src/Util.ts
  packages/@expo/schemer/src/__tests__/Schemer-test.ts
  packages/@expo/schemer/src/__tests__/Util-test.ts
  packages/@expo/schemer/src/__tests__/__snapshots__/Schemer-test.ts.snap
  packages/@expo/schemer/src/__tests__/fixtures/app.json
  packages/@expo/schemer/src/__tests__/fixtures/bad.json
  packages/@expo/schemer/src/__tests__/fixtures/badwithnot.json
  packages/@expo/schemer/src/__tests__/fixtures/check.png
  packages/@expo/schemer/src/__tests__/fixtures/invalidAppIcon.json
  packages/@expo/schemer/src/__tests__/fixtures/schema.json
  packages/@expo/schemer/src/__tests__/fixtures/secretlyPng.jpg
  packages/@expo/schemer/src/__tests__/fixtures/webp.webp
  packages/@expo/schemer/src/index.ts
  packages/@expo/schemer/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#25843 pull in router v3 fixes
  docs/pages/more/expo-cli.mdx
  docs/pages/router/appearance.mdx
  docs/pages/router/installation.mdx
  docs/pages/router/migrate/from-expo-webpack.mdx
  docs/pages/router/reference/static-rendering.mdx
  packages/expo-router/package.json
  templates/expo-template-tabs/app/_layout.tsx
  templates/expo-template-tabs/components/ExternalLink.tsx
  templates/expo-template-tabs/package.json
Labels: bot: suggestions, bot: fingerprint changed

#25833 feat(metro-config): fork entire transform worker
  packages/@expo/cli/e2e/__tests__/export-test.ts
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-splitting.test.ts
  packages/@expo/cli/e2e/__tests__/export/tailwind-postcss.test.ts
  packages/@expo/cli/e2e/fixtures/with-assets/babel.config.js
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/export/metroAssetLocalPath.ts
  packages/@expo/cli/src/start/server/metro/getCssModulesFromBundler.ts
  packages/@expo/cli/ts-declarations/metro-babel-transformer/index.d.ts
  packages/@expo/cli/ts-declarations/metro-cache-key/index.d.ts
  packages/@expo/cli/ts-declarations/metro-source-map/index.d.ts
  packages/@expo/cli/ts-declarations/metro-transform-plugins/index.d.ts
  packages/@expo/cli/ts-declarations/metro-transform-worker/index.d.ts
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/babel-transformer.js
  packages/@expo/metro-config/build/babel-transformer.js.map
  packages/@expo/metro-config/build/serializer/jsOutput.d.ts
  packages/@expo/metro-config/build/serializer/jsOutput.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/transform-worker/asset-transformer.d.ts
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js.map
  packages/@expo/metro-config/build/transform-worker/getAssets.d.ts
  packages/@expo/metro-config/build/transform-worker/getAssets.js
  packages/@expo/metro-config/build/transform-worker/getAssets.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.d.ts
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/build/transform-worker/transform-worker.d.ts
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/babel-transformer.ts
  packages/@expo/metro-config/src/serializer/jsOutput.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/metro-transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/metro-transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/asset-transformer.ts
  packages/@expo/metro-config/src/transform-worker/getAssets.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/index.ts
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#25826 [go] User Review Form updates
  android/expoview/src/main/java/host/exp/exponent/experience/ErrorActivity.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  home/components/UserReviewSection.tsx
  home/screens/FeedbackFormScreen/index.tsx
  home/utils/useUserReviewCheck.ts
Labels: bot: passed checks

#25766 refactor(pkcs12): move to `expo/expo`
  .github/CODEOWNERS
  packages/@expo/pkcs12/.eslintignore
  packages/@expo/pkcs12/.eslintrc.js
  packages/@expo/pkcs12/CHANGELOG.md
  packages/@expo/pkcs12/README.md
  packages/@expo/pkcs12/build/index.d.ts
  packages/@expo/pkcs12/build/index.js
  packages/@expo/pkcs12/build/index.js.map
  packages/@expo/pkcs12/jest.config.js
  packages/@expo/pkcs12/package.json
  packages/@expo/pkcs12/src/__tests__/__snapshots__/index-test.ts.snap
  packages/@expo/pkcs12/src/__tests__/index-test.ts
  packages/@expo/pkcs12/src/index.ts
  packages/@expo/pkcs12/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#25804 fix(metro-config): use explicit `@expo/metro-config` dependency with resolved module paths
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: bot: passed checks, bot: fingerprint changed

#25857 [expo-updates] better schedule for updates E2E CI
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
Labels: bot: passed checks

#25829 open api route docs
  docs/constants/navigation.js
  docs/pages/router/reference/api-routes.mdx
Labels: bot: suggestions, bot: fingerprint changed

#25858 fix(docs): drop API routes redirect
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#24832 [docs] Update expo router babel docs in setup for SDK 50
  docs/pages/router/installation.mdx
  docs/pages/router/reference/troubleshooting.mdx
Labels: bot: passed checks

#25860 [android][notifications] Prevent crash in OnCreate
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#25856 [expo] add missing fbemitter
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: bot: passed checks, bot: fingerprint changed

#25800 [native-component-list][android] Fix saving videos to gallery in CameraScreen
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
Labels: bot: passed checks

#25864 [docs] Update npx eas-cli@latest command references
  docs/pages/build/setup.mdx
  docs/pages/eas-update/build-locally.mdx
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/rollbacks.mdx
  docs/pages/eas-update/rollouts.mdx
Labels: bot: passed checks

#25674 [doctor] Report if project has unused static config
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/__mocks__/chalk.ts
  packages/expo-doctor/src/checks/ExpoConfigCommonIssueCheck.ts
  packages/expo-doctor/src/checks/__tests__/DirectPackageInstallCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/ExpoConfigCommonIssueCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/GlobalPackageInstalledCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/GlobalPrereqsVersionCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/InstalledDependencyVersionCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/PackageJsonCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/ProjectSetupCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/SupportPackageVersionCheck.test.ts
  packages/expo-doctor/src/checks/checks.types.ts
  packages/expo-doctor/src/doctor.ts
Labels: bot: passed checks, bot: fingerprint changed

#25850 refactor(native-component-list): drop `react-navigation@v4`
  apps/native-component-list/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#25866 [core][Android] Call `onCreate` when the `react` is ready
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
Labels: bot: suggestions, bot: fingerprint changed

#25879 fix(cli): use proper `deviceName` when opening debugger for multiple devices
  packages/@expo/cli/src/start/interface/interactiveActions.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25883 fix(cli): add back legacy inspector js middleware for dev menu
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/middleware/inspector/__tests__/createJsInspectorMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/inspector/createJsInspectorMiddleware.ts
Labels: bot: suggestions

#25790 [docs] Update development process overview
  docs/pages/workflow/overview.mdx
  docs/pages/workflow/using-libraries.mdx
Labels: bot: passed checks

#25881 [dev-menu] Update JS inspector URL
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/DevMenuModule.kt
  ios/Exponent/Versioned/Core/EXVersionManagerObjC.m
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/middleware/inspector/__tests__/createJsInspectorMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/inspector/createJsInspectorMiddleware.ts
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/api/DevMenuMetroClient.kt
  packages/expo-dev-menu/ios/DevMenuDevOptionsDelegate.swift
Labels: bot: passed checks, bot: fingerprint changed

#25848 docs: update monorepo guide for SDK 50
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#25885 [docs] Fix minor formatting issues
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/guides/using-hermes.mdx
  docs/pages/workflow/prebuild.mdx
  docs/pages/workflow/web.mdx
  docs/ui/components/Sidebar/SidebarHead.tsx
Labels: bot: passed checks

#25880 [updates][e2e] Make all test timeouts consistent
  packages/expo-updates/e2e/fixtures/Updates-disabled.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-startup.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/e2e/jest.config.js
Labels: bot: suggestions, bot: fingerprint compatible

#25886 chore(router): update peer deps
  packages/expo-router/CHANGELOG.md
  packages/expo-router/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#25861 fix(cli): Remove extraneous metro config reads
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.d.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#25891 [go] Remove background permissions requests
  home/screens/DiagnosticsScreen/GeofencingDiagnosticsScreen.tsx
  home/screens/DiagnosticsScreen/LocationDiagnosticsScreen.tsx
  ios/Exponent/Supporting/Info.plist
Labels: bot: passed checks

#25901 fix(metro-config): fix async bundling
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: passed checks, bot: fingerprint changed

#25900 [store-review][ios] Update isAvailableAsync to check if app is from TestFlight
  packages/expo-store-review/CHANGELOG.md
  packages/expo-store-review/ios/StoreReviewModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#25876 [docs] tweaks for the Newsletter sign up form
  docs/ui/components/Footer/Footer.tsx
  docs/ui/components/Footer/NewsletterSignUp.tsx
  docs/ui/components/Form/Input.tsx
Labels: bot: passed checks

#25888 Remove "uuid" from the dependencies of several packages
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/RandomScreen.tsx
  home/package.json
  packages/expo-constants/package.json
  packages/expo-contacts/package.json
  packages/expo-file-system/package.json
  packages/expo-notifications/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#25889 [docs] build-in -> built-in
  docs/pages/versions/unversioned/sdk/url.mdx
  docs/pages/versions/v50.0.0/sdk/url.mdx
Labels: bot: passed checks

#25908 [actions] Remove versioning workflow
  .github/workflows/versioning.yml
Labels: bot: passed checks

#25898 [expo-updates][Android] Remove unnecessary throw on duplicate asset
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: passed checks, bot: fingerprint changed

#25924 [home] Fix restoring user review date object from AsyncStorage
  dev-home-config.json
  home/components/UserReviewSection.tsx
  home/utils/useUserReviewCheck.ts
Labels: bot: passed checks

#25916 [asset] Fix asset source uri tests
  home/__mocks__/react-native.js
  packages/jest-expo/src/preset/internalExpoModules.js
Labels: bot: suggestions, bot: fingerprint changed

#25925 [docs] Prevent selecting line numbers on diffs
  docs/global-styles/diff.ts
Labels: bot: passed checks

#25926 fix(templates): bump to `@types/react@~18.2.45`
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-tabs/package.json
Labels: bot: passed checks

#25907 [install-expo-modules] add sdk 50 and react-native 0.73 support
  packages/install-expo-modules/CHANGELOG.md
  packages/install-expo-modules/src/plugins/android/__tests__/fixtures/MainActivity-rn073-updated.kt
  packages/install-expo-modules/src/plugins/android/__tests__/fixtures/MainActivity-rn073.kt
  packages/install-expo-modules/src/plugins/android/__tests__/fixtures/MainApplication-rn073-updated.kt
  packages/install-expo-modules/src/plugins/android/__tests__/fixtures/MainApplication-rn073.kt
  packages/install-expo-modules/src/plugins/android/__tests__/withAndroidModulesMainActivity-test.ts
  packages/install-expo-modules/src/plugins/android/__tests__/withAndroidModulesMainApplication-test.ts
  packages/install-expo-modules/src/utils/expoVersionMappings.ts
Labels: bot: passed checks, bot: fingerprint changed

#25913 [install-expo-modules] fix strange error when running on a managed project
  packages/install-expo-modules/CHANGELOG.md
  packages/install-expo-modules/src/index.ts
  packages/install-expo-modules/src/utils/projectRoot.ts
Labels: bot: passed checks, bot: fingerprint compatible

#25928 [docs] Update StoreReview isAvailableAsync TypeDoc
  docs/public/static/data/unversioned/expo-store-review.json
  docs/public/static/data/v50.0.0/expo-store-review.json
  packages/expo-store-review/build/StoreReview.d.ts
  packages/expo-store-review/build/StoreReview.js
  packages/expo-store-review/build/StoreReview.js.map
  packages/expo-store-review/src/StoreReview.ts
Labels: bot: suggestions, bot: fingerprint changed

#25929 [ios] Commit Gemfile.lock changes that result from running bundle install
  Gemfile.lock
Labels: bot: passed checks

#25896 (expo-env-info): add expo-router
  packages/expo-env-info/CHANGELOG.md
  packages/expo-env-info/src/diagnosticsAsync.ts
Labels: bot: passed checks, bot: fingerprint changed

#25872 fix(metro-config): Replace source-map snapshots for metro-transformer-worker with mappings tests
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/babel-transformer.js.map
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/build/env.js.map
  packages/@expo/metro-config/build/getWatchFolders.js.map
  packages/@expo/metro-config/build/loadBabelConfig.js.map
  packages/@expo/metro-config/build/rewriteRequestUrl.js.map
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js.map
  packages/@expo/metro-config/build/serializer/exportHermes.js.map
  packages/@expo/metro-config/build/serializer/exportPath.js.map
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.js.map
  packages/@expo/metro-config/build/serializer/fork/js.js.map
  packages/@expo/metro-config/build/serializer/getCssDeps.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js.map
  packages/@expo/metro-config/build/transform-worker/css-modules.js.map
  packages/@expo/metro-config/build/transform-worker/getAssets.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/build/transform-worker/postcss.js.map
  packages/@expo/metro-config/build/transform-worker/sass.js.map
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/build/transformSync.js.map
  packages/@expo/metro-config/build/transformer/generateFunctionMap.js.map
  packages/@expo/metro-config/build/transformer/getBabelConfig.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/metro-transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/metro-transform-worker.test.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#25849 [screen-capture][android] Add `getPermissionsAsync` and `requestPermissionsAsync` methods
  apps/native-component-list/src/screens/ScreenCaptureScreen.tsx
  docs/pages/versions/unversioned/sdk/screen-capture.mdx
  docs/public/static/data/unversioned/expo-screen-capture.json
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/android/src/main/AndroidManifest.xml
  packages/expo-screen-capture/android/src/main/java/expo/modules/screencapture/ScreenCaptureModule.kt
  packages/expo-screen-capture/android/src/main/java/expo/modules/screencapture/ScreenShotEventEmitter.kt
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.d.ts.map
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
Labels: bot: passed checks, bot: fingerprint changed

#25927 chore: add `.vscode/launch.json` to git ignore
  .gitignore
Labels: bot: passed checks

#25918 [docs] Fix vale warnings
  docs/.vale.ini
  docs/.vale/writing-styles/expo-docs/Consistency.yml
  docs/pages/build/orbit.mdx
  docs/pages/eas-update/asset-selection.mdx
  docs/pages/guides/using-eslint.mdx
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v49.0.0/index.mdx
  docs/pages/versions/v50.0.0/index.mdx
Labels: bot: passed checks

#25936 fix(cli): Invalidate API Route cache whenever any file in the repo changes
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/bundleApiRoutes.ts
  packages/@expo/cli/src/start/server/metro/router.ts
  packages/@expo/cli/src/start/server/metro/waitForMetroToObserveTypeScriptFile.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25949 [docs] Update `@expo/styleguide-search-ui` version to include Algolia link
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#25897 [home] Use relative imports instead of alias
  home/navigation/Navigation.tsx
  home/screens/AccountModal/LoggedInAccountView.tsx
  home/screens/DiagnosticsScreen/GeofencingDiagnosticsScreen.tsx
  home/screens/DiagnosticsScreen/LocationDiagnosticsScreen.tsx
  home/screens/DiagnosticsScreen/index.tsx
  home/screens/HomeScreen/DevelopmentServersPlaceholder.tsx
  home/screens/SettingsScreen/index.tsx
  home/tsconfig.json
Labels: bot: passed checks

#25874 [config-plugins] Separate out runtime version setting method for eas-cli
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Updates.d.ts
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/src/android/Updates.ts
Labels: bot: passed checks, bot: fingerprint changed

#25878 [updates][e2e] Attempt to make startup tests more reliable
  packages/expo-updates/e2e/fixtures/Updates-startup.e2e.ts
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#25935 feat(metro-config): add debug id support
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v50.0.0/config/metro.mdx
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/debugId.d.ts
  packages/@expo/metro-config/build/serializer/debugId.js
  packages/@expo/metro-config/build/serializer/debugId.js.map
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.d.ts
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.js
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.d.ts
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.d.ts
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/debugId.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.test.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.ts
  packages/@expo/metro-config/src/serializer/fork/baseJSBundle.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#24600 feat(router): BREAKING - router.push now uses PUSH navigation
  docs/pages/router/navigating-pages.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/router-store.d.ts
  packages/expo-router/build/global-state/router-store.d.ts.map
  packages/expo-router/build/global-state/router-store.js
  packages/expo-router/build/global-state/router-store.js.map
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/build/link/useLinkToPathProps.d.ts
  packages/expo-router/build/link/useLinkToPathProps.d.ts.map
  packages/expo-router/build/link/useLinkToPathProps.js
  packages/expo-router/build/link/useLinkToPathProps.js.map
  packages/expo-router/build/types.d.ts
  packages/expo-router/build/types.d.ts.map
  packages/expo-router/build/types.js.map
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/global-state/router-store.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/imperative-api.ts
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/useLinkToPathProps.tsx
  packages/expo-router/src/types.ts
Labels: bot: passed checks, Router, bot: fingerprint compatible

#25953 (babel-preset-expo): update snapshots
  packages/babel-preset-expo/src/__tests__/__snapshots__/index.test.ts.snap
Labels: bot: suggestions, bot: fingerprint compatible

#25954 (@expo/html-elements): update test snapshot
  packages/html-elements/babel/__tests__/__snapshots__/transform.test.js.snap
Labels: bot: suggestions, bot: fingerprint compatible

#25945 [core][Android] Bump Kotlin version from `1.8.10` to `1.8.22`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/ExpoModulesCorePlugin.gradle
  packages/expo-modules-core/android/build.gradle
  packages/expo/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#25946 [system-ui] fix RCTRootViewBackgroundColor setup from plugin
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/ios/ExpoSystemUI/ExpoSystemUIModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#25932 [docs] Add CNG reminder to native upgrade helper
  docs/pages/bare/upgrade.mdx
  tools/src/commands/GenerateBareDiffs.ts
Labels: bot: passed checks

#25822 [doctor] Allow skipping InstalledDependencyVersionCheck with env var
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/__tests__/doctor.test.ts
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/utils/env.ts
Labels: bot: passed checks

#25974 [dev-launcher][ios] Fix error view on dark mode
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/Views/EXDevLauncherErrorView.storyboard
Labels: bot: passed checks, bot: fingerprint changed

#25863 fix(cli): add support for `webpack-dev-server@4`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/webpack/WebpackBundlerDevServer.ts
Labels: bot: passed checks

#25975 [ios] Fix ExErrorView colors in dark mode
  ios/Exponent/Images.xcassets/backgroundDefault.colorset/Contents.json
  ios/Exponent/Images.xcassets/buttonSecondaryBackground.colorset/Contents.json
  ios/Exponent/Images.xcassets/buttonSecondaryText.colorset/Contents.json
  ios/Exponent/Images.xcassets/buttonTertiaryBackground.colorset/Contents.json
  ios/Exponent/Images.xcassets/buttonTertiaryText.colorset/Contents.json
  ios/Exponent/Images.xcassets/textDefault.colorset/Contents.json
  ios/Exponent/Images.xcassets/textSecondary.colorset/Contents.json
  ios/Exponent/Kernel/Views/EXErrorView.m
  ios/Exponent/Kernel/Views/EXErrorView.xib
Labels: bot: passed checks

#25986 [docs] Add redirects based on Algolia 404 report
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#25957 Make detecting if expo modules is installed more reliable
  packages/expo/react-native.config.js
Labels: !

#26001 [docs] Update template bare minimum diffs
  .github/workflows/bare-diffs.yml
  docs/public/static/diffs/template-bare-minimum/diffInfo.json
  docs/public/static/diffs/template-bare-minimum/raw/45..46.diff
  docs/public/static/diffs/template-bare-minimum/raw/45..47.diff
  docs/public/static/diffs/template-bare-minimum/raw/45..48.diff
  docs/public/static/diffs/template-bare-minimum/raw/45..49.diff
  docs/public/static/diffs/template-bare-minimum/raw/45..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/45..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..48.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..49.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..48.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..49.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/48..49.diff
  docs/public/static/diffs/template-bare-minimum/raw/48..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/48..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/49..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/49..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/50..unversioned.diff
Labels: bot: passed checks

#25990 fix(cli): add missing `@expo/image-utils` dependency
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
Labels: bot: passed checks, bot: fingerprint changed

#26004 [docs] Update template bare minimum diffs
  docs/public/static/diffs/template-bare-minimum/diffInfo.json
  docs/public/static/diffs/template-bare-minimum/raw/45..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/48..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/49..unversioned.diff
  docs/public/static/diffs/template-bare-minimum/raw/50..unversioned.diff
Labels: bot: passed checks

#26005 chore(image-utils): Remove mime package.
  packages/@expo/image-utils/CHANGELOG.md
  packages/@expo/image-utils/build/Image.d.ts
  packages/@expo/image-utils/build/Image.js
  packages/@expo/image-utils/build/Image.js.map
  packages/@expo/image-utils/package.json
  packages/@expo/image-utils/src/Image.ts
  packages/@expo/image-utils/src/__tests__/Image.test.ts
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#25955 (router): remove not-found param from web url on not found pages
  docs/pages/router/reference/testing.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getPathFromState.d.ts.map
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/build/matchers.d.ts
  packages/expo-router/build/matchers.d.ts.map
  packages/expo-router/build/matchers.js
  packages/expo-router/build/matchers.js.map
  packages/expo-router/build/testing-library/expect.js
  packages/expo-router/build/testing-library/expect.js.map
  packages/expo-router/build/testing-library/index.d.ts
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/src/__tests__/hooks.test.ios.tsx
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/fork/__tests__/getPathFromState-upstream.test.web.ts
  packages/expo-router/src/fork/getPathFromState.ts
  packages/expo-router/src/matchers.tsx
  packages/expo-router/src/testing-library/expect.ts
  packages/expo-router/src/testing-library/index.tsx
  packages/expo-router/types/jest.d.ts
Labels: bot: passed checks, bot: fingerprint changed

#25985 (router): fix drawer navigator navigation
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/global-state/routing.ts
Labels: bot: passed checks, bot: fingerprint changed

#25544 [docs] New architecture landing page
  docs/constants/navigation.js
  docs/pages/guides/new-architecture.mdx
Labels: bot: passed checks, preview

#25777 [status-bar] Remove code that accounts for useColorScheme possibly not existing
  packages/expo-status-bar/build/ExpoStatusBar.android.d.ts.map
  packages/expo-status-bar/build/ExpoStatusBar.android.js
  packages/expo-status-bar/build/ExpoStatusBar.android.js.map
  packages/expo-status-bar/build/ExpoStatusBar.ios.d.ts.map
  packages/expo-status-bar/build/ExpoStatusBar.ios.js
  packages/expo-status-bar/build/ExpoStatusBar.ios.js.map
  packages/expo-status-bar/build/useColorScheme.d.ts
  packages/expo-status-bar/build/useColorScheme.d.ts.map
  packages/expo-status-bar/build/useColorScheme.js
  packages/expo-status-bar/build/useColorScheme.js.map
  packages/expo-status-bar/src/ExpoStatusBar.android.tsx
  packages/expo-status-bar/src/ExpoStatusBar.ios.tsx
  packages/expo-status-bar/src/useColorScheme.ts
Labels: bot: suggestions, bot: fingerprint changed

#26008 fix(metro-config): Fix matching async chunks with special characters in the file names.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#25978 feat(cli): Update `run:ios` build warning formatting for SDK 50.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#25859 [metro-config] experimental pre-serialization plugins
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.d.ts
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.d.ts
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.d.ts
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
Labels: bot: passed checks, bot: fingerprint compatible
