Repository expo/expo, pull requests merged in 2023-01, with the labels that each got.

#20669 [docs] minor typo fix in tutorial
  docs/pages/tutorial/build-a-screen.mdx
Labels: bot: passed checks

#20600 Migrate expo-apple-authentication to the new modules API
  apps/bare-expo/ios/BareExpo/Bare Expo.entitlements
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  packages/expo-apple-authentication/CHANGELOG.md
  packages/expo-apple-authentication/build/AppleAuthenticationButton.d.ts
  packages/expo-apple-authentication/build/AppleAuthenticationButton.d.ts.map
  packages/expo-apple-authentication/build/AppleAuthenticationButton.js
  packages/expo-apple-authentication/build/AppleAuthenticationButton.js.map
  packages/expo-apple-authentication/build/ExpoAppleAuthenticationButton.d.ts
  packages/expo-apple-authentication/build/ExpoAppleAuthenticationButton.d.ts.map
  packages/expo-apple-authentication/build/ExpoAppleAuthenticationButton.js
  packages/expo-apple-authentication/build/ExpoAppleAuthenticationButton.js.map
  packages/expo-apple-authentication/expo-module.config.json
  packages/expo-apple-authentication/ios/AppleAuthenticationButton.swift
  packages/expo-apple-authentication/ios/AppleAuthenticationExceptions.swift
  packages/expo-apple-authentication/ios/AppleAuthenticationModule.swift
  packages/expo-apple-authentication/ios/AppleAuthenticationRequest.swift
  packages/expo-apple-authentication/ios/AppleAuthenticationRequestOptions.swift
  packages/expo-apple-authentication/ios/AppleAuthenticationUtils.swift
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthentication.h
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthentication.m
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationButton.h
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationButton.m
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationButtonViewManagers.m
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationMappings.h
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationMappings.m
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationRequest.h
  packages/expo-apple-authentication/ios/EXAppleAuthentication/EXAppleAuthenticationRequest.m
  packages/expo-apple-authentication/ios/ExpoAppleAuthentication.podspec
  packages/expo-apple-authentication/src/AppleAuthenticationButton.tsx
  packages/expo-apple-authentication/src/ExpoAppleAuthenticationButton.ts
  packages/expo-apple-authentication/unimodule.json
Labels: bot: passed checks

#20674 [sms] fix problematic JSDoc comment
  packages/expo-sms/build/SMS.d.ts
  packages/expo-sms/build/SMS.js
  packages/expo-sms/build/SMS.js.map
  packages/expo-sms/src/SMS.ts
Labels: bot: suggestions

#20645 [core][ios] Support for concurrent (async/await) functions in Swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Functions/AnyFunction.swift
  packages/expo-modules-core/ios/Swift/Functions/ConcurrentFunctionDefinition.swift
Labels: bot: passed checks

#20671 [docs] fix font in diff block component
  docs/pages/_app.tsx
Labels: bot: passed checks

#20673 [docs] small batch of tweaks and fixes
  docs/components/plugins/APIBox.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/build-reference/migrating.mdx
  docs/pages/guides/using-bugsnag.mdx
  docs/pages/modules/module-api.mdx
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/workflow/common-development-errors.mdx
  docs/pages/workflow/web.mdx
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Tag/styles.ts
Labels: bot: passed checks

#20670 [docs] Add redirect based on weekly Sentry report
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#20675 [apple-authentication] Fix build errors caused by CaseIterable protocol
  packages/expo-apple-authentication/ios/AppleAuthenticationButton.swift
  packages/expo-apple-authentication/ios/AppleAuthenticationModule.swift
  packages/expo-apple-authentication/ios/ButtonStyle.swift
  packages/expo-apple-authentication/ios/ButtonType.swift
Labels: bot: suggestions

#20668 [android][barcode-scanner] Migrate to new modules API
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerModule.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerPackage.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewFinder.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerViewManager.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/Exceptions.kt
  packages/expo-barcode-scanner/expo-module.config.json
Labels: bot: passed checks

#20541 [android][video-thumbnails] Migrate android to use new API
  packages/expo-video-thumbnails/CHANGELOG.md
  packages/expo-video-thumbnails/android/src/main/java/expo/modules/videothumbnails/Exceptions.kt
  packages/expo-video-thumbnails/android/src/main/java/expo/modules/videothumbnails/VideoThumbnailOptions.kt
  packages/expo-video-thumbnails/android/src/main/java/expo/modules/videothumbnails/VideoThumbnailsModule.java
  packages/expo-video-thumbnails/android/src/main/java/expo/modules/videothumbnails/VideoThumbnailsModule.kt
  packages/expo-video-thumbnails/android/src/main/java/expo/modules/videothumbnails/VideoThumbnailsPackage.java
  packages/expo-video-thumbnails/expo-module.config.json
Labels: bot: passed checks

#20633 [fabric-tester] Update expo-image example and add expo-apple-authentication
  apps/fabric-tester/App.tsx
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  apps/fabric-tester/ios/fabrictester/fabrictester.entitlements
  apps/fabric-tester/package.json
Labels: bot: passed checks

#20691 [docs] FCM-specific advice for InvalidCredentials error
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#20695 Fix typo
  docs/pages/submit/introduction.mdx
Labels: bot: passed checks

#20698 [blur] add basic JSDoc comment to the exported component
  packages/expo-blur/build/BlurView.d.ts
  packages/expo-blur/build/BlurView.d.ts.map
  packages/expo-blur/build/BlurView.js
  packages/expo-blur/build/BlurView.js.map
  packages/expo-blur/src/BlurView.tsx
Labels: bot: suggestions

#20701 [image] Fix ImageProps not allowing an array of styles
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#20059 [docs] Improve migration from classic to EAS Build
  docs/pages/build-reference/migrating.mdx
Labels: bot: passed checks

#20688 [image][Android] Start using two separate image views
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageView.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ImageViewWrapperTarget.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ViewConnectedTarget.kt
Labels: bot: suggestions

#20700 [image][ios] Add support for assets from the Photo Library
  apps/native-component-list/src/screens/MediaLibrary/MediaDetailsScreen.tsx
  apps/native-component-list/src/screens/MediaLibrary/MediaLibraryCell.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/BlurhashLoader.swift
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageSource.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/ios/Loaders/PhotoLibraryAssetLoader.swift
Labels: bot: passed checks

#20704 fix(cli): allow chained Metro resolvers to resolve when the predecessor resolvers throw a Metro resolution error.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/metroErrors.test.ts
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroResolvers.test.ts
  packages/@expo/cli/src/start/server/metro/metroErrors.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/metro/withMetroResolvers.ts
Labels: bot: passed checks

#20708 fix(expo-web-browser): add missing peer dependency on url
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/package.json
  yarn.lock
Labels: bot: suggestions

#20682 [docs] Indicate that some iOS images are available only for Intel wokers
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#20723 [docs] Fix typo in Next.js guide description
  docs/pages/guides/using-nextjs.mdx
Labels: bot: passed checks

#20709 [docs] Fix the "-" character in Expo Update tech specs
  docs/pages/technical-specs/expo-updates-0.mdx
Labels: bot: passed checks

#20722 [image][go] Add expo-image to Go
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  ios/Podfile
  ios/Podfile.lock
Labels: bot: passed checks

#20623 [core][ios] Returning object definitions from sync functions
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/Conversions.swift
  packages/expo-modules-core/ios/Swift/Functions/SyncFunctionComponent.swift
  packages/expo-modules-core/ios/Swift/Objects/ObjectDefinitionBuilder.swift
  packages/expo-modules-core/ios/Swift/Objects/ObjectDefinitionComponents.swift
  packages/expo-modules-core/ios/Tests/FunctionSpec.swift
Labels: bot: passed checks

#20702 [docs] Remove monochrome icon reference in App icon guide
  docs/pages/guides/app-icons.mdx
Labels: bot: passed checks

#20719 [core] fix boost build error on android
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
Labels: bot: passed checks

#20734 [docs] FAQ: Fix broken links to EAS
  docs/pages/introduction/faq.mdx
Labels: bot: passed checks

#20745 [docs] fix broken monorepo link in EAS Build Setup page
  docs/pages/build/setup.mdx
Labels: bot: passed checks

#20736 [docs] Fixes broken links for FAQ and glossary, and other minor fixes
  docs/pages/build-reference/variables.mdx
  docs/pages/guides/deep-linking.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/introduction/faq.mdx
  docs/pages/workflow/glossary-of-terms.mdx
Labels: bot: passed checks

#20754 feat(cli): improve UNVERSIONED (internal-only) support
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/platforms/ExpoGoInstaller.ts
  packages/@expo/cli/src/start/platforms/__tests__/ExpoGoInstaller-test.ts
  packages/@expo/cli/src/utils/__tests__/downloadExpoGoAsync-test.ts
  packages/@expo/cli/src/utils/downloadExpoGoAsync.ts
Labels: bot: passed checks

#20755 [core][ios] Fix view prop setters ignoring null and undefined values
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Fabric/ExpoFabricView.swift
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.h
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.mm
  packages/expo-modules-core/ios/Swift/Views/ViewModuleWrapper.swift
Labels: bot: suggestions

#20737 [tools] Stop prebuilding packages on publish
  tools/src/publish-packages/tasks/cleanPrebuildsTask.ts
  tools/src/publish-packages/tasks/prebuildPackagesTask.ts
  tools/src/publish-packages/tasks/publishPackagesPipeline.ts
Labels: bot: passed checks

#20760 [docs] ensure monospace font have a swap period
  docs/pages/_app.tsx
Labels: bot: passed checks

#20757 [ios] Fix File.exist? for ruby@3.2
  ios/versioned-react-native/ABI47_0_0/ReactNative/sdks/hermes-engine/ABI47_0_0hermes-engine.podspec
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/xcode_env_generator.rb
  tools/src/versioning/ios/index.ts
  tools/src/versioning/ios/transforms/podspecTransforms.ts
Labels: bot: passed checks

#20759 [docs] remove --experimental-bundle reference from EAS Build troubleshooting guide
  docs/pages/build-reference/troubleshooting.mdx
Labels: bot: passed checks

#20735 [docs] Fix broken infrastructure link on EAS Build limitations page
  docs/pages/build-reference/limitations.mdx
Labels: bot: passed checks

#20749 [gl][Android] Migrate view to new API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLPackage.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLView.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLView.kt
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLViewManager.java
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLViewModule.kt
  packages/expo-gl/expo-module.config.json
Labels: bot: passed checks

#20751 [core][Android] View-related DSL functions do not require providing the view's type in function parameters
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewGroupDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinitionBuilder.kt
Labels: bot: suggestions

#20761 [docs] update broken link react-native-maps API reference
  docs/pages/versions/unversioned/sdk/map-view.mdx
Labels: bot: passed checks

#20756 [core][Android] Allow to skip trailing optional arguments
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/KotlinInteropModuleRegistryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/functions/AnyFunctionTest.kt
Labels: bot: suggestions

#20769 [docs] Follow up PR to fix the section link MapView docs
  docs/pages/versions/v46.0.0/sdk/map-view.mdx
  docs/pages/versions/v47.0.0/sdk/map-view.mdx
Labels: bot: passed checks

#20772 [image][ios] Introduced source.cacheKey to customize the key used for caching the source
  apps/native-component-list/src/screens/Image/ImageCacheKeyScreen.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageSource.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#20776 [image][Android] Introduced source.cacheKey to customize the key used for caching the source
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/ExpoImageOkHttpClientGlideModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/records/SourceMap.kt
Labels: bot: suggestions

#20752 [linear-gradient] Stop using deprecated `ViewManager` DSL function
  packages/expo-linear-gradient/android/src/main/java/expo/modules/lineargradient/LinearGradientModule.kt
  packages/expo-linear-gradient/ios/LinearGradientModule.swift
Labels: bot: suggestions

#20766 [core][Android] Fix view prop setters ignoring null and undefined values
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/DynamicExtenstions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/AnyViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ConcreteViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
Labels: bot: passed checks

#20768 [docs] Add steps to update API reference docs
  CONTRIBUTING.md
  docs/README.md
Labels: bot: passed checks

#20785 [eslint-config-universe] fix import ignore pattern for Windows
  packages/eslint-config-universe/CHANGELOG.md
  packages/eslint-config-universe/shared/core.js
Labels: bot: passed checks

#20780 [go] vendor react-native-async-storage
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/ExpoTurboPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/ExponentAsyncStorageModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/ExponentUnsignedAsyncStorageModule.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/build.gradle
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/gradle.properties
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/AndroidManifest.xml
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncLocalStorageUtil.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncStorageErrorUtil.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncStorageExpoMigration.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncStorageModule.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncStoragePackage.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/ReactDatabaseSupplier.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/SerialExecutor.java
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/next/ArgumentHelpers.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/next/ErrorHelpers.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/next/StorageModule.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/next/StorageSupplier.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/test/java/com/reactnativecommunity/asyncstorage/next/ArgumentHelpersTest.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/src/test/java/com/reactnativecommunity/asyncstorage/next/StorageTest.kt
  android/vendored/unversioned/@react-native-async-storage/async-storage/android/testresults.gradle
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/app.config.js
  apps/native-component-list/package.json
  apps/native-component-list/plugins/withExpoAsyncStorage.js
  home/package.json
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-async-storage/async-storage/RNCAsyncStorage.podspec.json
  ios/vendored/unversioned/@react-native-async-storage/async-storage/ios/RNCAsyncStorage.h
  ios/vendored/unversioned/@react-native-async-storage/async-storage/ios/RNCAsyncStorage.m
  ios/vendored/unversioned/@react-native-async-storage/async-storage/ios/RNCAsyncStorageDelegate.h
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/IosVendoring.ts
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/vendoring/config/react-native-async-storage-scoped-storage-android.patch
  tools/src/vendoring/config/react-native-async-storage-scoped-storage-ios.patch
  tools/src/vendoring/types.ts
  yarn.lock
Labels: bot: needs changes

#20787 [core][Android] Add support for the `Long` type as function parameters
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIAsyncFunctionsTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaReferencesCache.cpp
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/types/CppType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverterProvider.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/CppType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions

#20788 [core] Cache registered native components to prevent errors on fast refresh
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts.map
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js.map
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
Labels: bot: passed checks

#20793 fix(docs): fix app icons documentation
  docs/pages/guides/app-icons.mdx
Labels: bot: passed checks

#20634 [image] Add animator for transitioning web images
  apps/native-component-list/src/screens/Image/ImageTransitionsScreen.tsx
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/web/AnimationManager.d.ts
  packages/expo-image/build/web/AnimationManager.d.ts.map
  packages/expo-image/build/web/AnimationManager.js
  packages/expo-image/build/web/AnimationManager.js.map
  packages/expo-image/build/web/ImageWrapper.d.ts
  packages/expo-image/build/web/ImageWrapper.d.ts.map
  packages/expo-image/build/web/ImageWrapper.js
  packages/expo-image/build/web/ImageWrapper.js.map
  packages/expo-image/build/web/style.d.ts
  packages/expo-image/build/web/style.d.ts.map
  packages/expo-image/build/web/style.js
  packages/expo-image/build/web/style.js.map
  packages/expo-image/build/web/useSourceSelection.d.ts
  packages/expo-image/build/web/useSourceSelection.d.ts.map
  packages/expo-image/build/web/useSourceSelection.js
  packages/expo-image/build/web/useSourceSelection.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/web/AnimationManager.tsx
  packages/expo-image/src/web/ImageWrapper.tsx
  packages/expo-image/src/web/style.tsx
  packages/expo-image/src/web/useSourceSelection.ts
Labels: bot: suggestions

#20773 [ENG-7158][ENG-7060][docs] add `resourceClass` field to eas json schema
  docs/public/static/schemas/unversioned/eas-json-build-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks

#20791 [core][Android] Add convenient getters to the `JavaScriptValue`
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIAsyncFunctionsTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIFunctionsTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIInteropModuleRegistryTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIPropertiesTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptObjectTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptValueTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptValue.kt
Labels: bot: suggestions

#20792 Remove strict null checks for expo location and fix NullPointerException crashes
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.java
Labels: bot: passed checks

#15826 Add web support to expo-keep-awake
  apps/test-suite/tests/KeepAwake.js
  docs/pages/versions/unversioned/sdk/keep-awake.mdx
  docs/public/static/data/unversioned/expo-keep-awake.json
  packages/expo-keep-awake/CHANGELOG.md
  packages/expo-keep-awake/build/ExpoKeepAwake.web.d.ts
  packages/expo-keep-awake/build/ExpoKeepAwake.web.d.ts.map
  packages/expo-keep-awake/build/ExpoKeepAwake.web.js
  packages/expo-keep-awake/build/ExpoKeepAwake.web.js.map
  packages/expo-keep-awake/build/KeepAwake.types.d.ts
  packages/expo-keep-awake/build/KeepAwake.types.d.ts.map
  packages/expo-keep-awake/build/KeepAwake.types.js
  packages/expo-keep-awake/build/KeepAwake.types.js.map
  packages/expo-keep-awake/build/index.d.ts
  packages/expo-keep-awake/build/index.d.ts.map
  packages/expo-keep-awake/build/index.js
  packages/expo-keep-awake/build/index.js.map
  packages/expo-keep-awake/src/ExpoKeepAwake.web.ts
  packages/expo-keep-awake/src/KeepAwake.types.ts
  packages/expo-keep-awake/src/index.ts
Labels: Platform: web, KeepAwake, bot: passed checks

#20798 [go] upgrade reanimated to 2.14.0
  CHANGELOG.md
  android/vendored/unversioned/react-native-reanimated/Common/cpp/NativeModules/NativeReanimatedModule.cpp
  android/vendored/unversioned/react-native-reanimated/Common/cpp/Tools/ReanimatedVersion.cpp
  android/vendored/unversioned/react-native-reanimated/Common/cpp/Tools/ReanimatedVersion.h
  android/vendored/unversioned/react-native-reanimated/android/CMakeLists.txt
  android/vendored/unversioned/react-native-reanimated/android/build.gradle
  android/vendored/unversioned/react-native-reanimated/android/src/main/cpp/NativeProxy.cpp
  android/vendored/unversioned/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/ReanimatedPackage.java
  android/vendored/unversioned/react-native-reanimated/android/src/main/java/com/swmansion/reanimated/sensor/ReanimatedSensorContainer.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/70/com/swmansion/reanimated/ReanimatedUIManagerFactory.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/70/com/swmansion/reanimated/layoutReanimation/ReanimatedUIManager.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/latest/com/swmansion/reanimated/ReanimatedUIManagerFactory.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/ReanimatedUIManager/latest/com/swmansion/reanimated/layoutReanimation/ReanimatedUIManager.java
  android/vendored/unversioned/react-native-reanimated/android/src/reactNativeVersionPatch/nativeHierarchyManager/latest/com/swmansion/reanimated/layoutReanimation/ReanimatedNativeHierarchyManager.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/Reanimated/ReanimatedLightbox.tsx
  home/package.json
  ios/Exponent/Versioned/Core/EXVersionManager.mm
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-reanimated/Common/cpp/NativeModules/NativeReanimatedModule.cpp
  ios/vendored/unversioned/react-native-reanimated/Common/cpp/Tools/ReanimatedVersion.cpp
  ios/vendored/unversioned/react-native-reanimated/Common/cpp/Tools/ReanimatedVersion.h
  ios/vendored/unversioned/react-native-reanimated/RNReanimated.podspec.json
  ios/vendored/unversioned/react-native-reanimated/ios/REAModule.mm
  ios/vendored/unversioned/react-native-reanimated/ios/native/REAInitializer.mm
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  yarn.lock
Labels: bot: needs changes

#20611 [linear-gradient] simplify web code
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js
  packages/expo-linear-gradient/build/NativeLinearGradient.web.js.map
  packages/expo-linear-gradient/src/NativeLinearGradient.web.tsx
Labels: bot: suggestions

#20243 [gh] Use M1 workers on EAS Build
  .github/actions/eas-build/action.yml
  .github/workflows/client-android-eas.yml
  .github/workflows/client-ios-eas.yml
  apps/eas-expo-go/eas.json
Labels: bot: passed checks

#20801 [image][Android] Improves accessibility on Android
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/Image.types.ts
Labels: bot: suggestions

#20808 auto import html elements package
  packages/html-elements/babel.js
Labels: bot: passed checks

#20812 [create-expo-module] Add basic telemetry
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/build/telemetry.d.ts
  packages/create-expo-module/build/telemetry.js
  packages/create-expo-module/build/telemetry.js.map
  packages/create-expo-module/package.json
  packages/create-expo-module/src/create-expo-module.ts
  packages/create-expo-module/src/telemetry.ts
  yarn.lock
Labels: bot: passed checks

#20805 [docs] APISection: fix comment example in tables, remove legacy code
  docs/components/plugins/AppConfigSchemaPropertiesTable.tsx
  docs/components/plugins/EasJsonPropertiesTable.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionDeprecationNote.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
Labels: bot: passed checks

#20819 [docs] Fix typo in eas.json configuration
  docs/pages/build/eas-json.mdx
Labels: bot: passed checks

#20817 [docs][auth-session] Remove outdated info and add missing type definitions
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v46.0.0/sdk/auth-session.mdx
  docs/pages/versions/v47.0.0/sdk/auth-session.mdx
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v47.0.0/expo-auth-session.json
  packages/expo-auth-session/build/providers/Facebook.d.ts
  packages/expo-auth-session/build/providers/Facebook.d.ts.map
  packages/expo-auth-session/build/providers/Facebook.js.map
  packages/expo-auth-session/build/providers/Google.d.ts
  packages/expo-auth-session/build/providers/Google.d.ts.map
  packages/expo-auth-session/build/providers/Google.js.map
  packages/expo-auth-session/src/providers/Facebook.ts
  packages/expo-auth-session/src/providers/Google.ts
Labels: bot: passed checks

#20818 [docs] tweaks related to the new color palette
  docs/components/base/code.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/global-styles/prism.ts
  docs/ui/components/Callout/index.tsx
  docs/ui/components/Tag/PlatformTag.tsx
  docs/ui/components/Tag/helpers.ts
  docs/ui/components/Text/index.tsx
Labels: bot: passed checks

#20804 [file-system] Fix UploadProgressData field name typo
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
  packages/expo-file-system/build/FileSystem.d.ts.map
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/build/FileSystem.types.d.ts
  packages/expo-file-system/build/FileSystem.types.d.ts.map
  packages/expo-file-system/build/FileSystem.types.js.map
  packages/expo-file-system/ios/EXFileSystem/EXFileSystem.m
  packages/expo-file-system/src/FileSystem.ts
  packages/expo-file-system/src/FileSystem.types.ts
Labels: bot: passed checks

#20810 [docs] Update FileSystem TypeDoc
  docs/public/static/data/unversioned/expo-file-system.json
Labels: bot: passed checks

#20803 [github] use Node 16 for all workflows
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/android-unit-tests.yml
  .github/workflows/dogfooding-clients.yml
  .github/workflows/home.yml
  .github/workflows/native-component-list.yml
  .github/workflows/publish-demo.yml
  .github/workflows/test-suite-lint.yml
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
  .github/workflows/updates-e2e-android.yml
  .github/workflows/updates-e2e-ios.yml
  .github/workflows/web.yml
  packages/expo-test-runner/package.json
  tools/package.json
  tools/yarn.lock
  yarn.lock
Labels: bot: passed checks

#20790 feat(expotools): use swc to compile source files
  .github/workflows/expotools.yml
  tools/bin/expotools.js
  tools/package.json
  tools/taskfile-swc.js
  tools/taskfile.js
  tools/yarn.lock
Labels: bot: passed checks

#20800 [image][web] Unmount image node if it is errored out
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/web/AnimationManager.d.ts
  packages/expo-image/build/web/AnimationManager.d.ts.map
  packages/expo-image/build/web/AnimationManager.js
  packages/expo-image/build/web/AnimationManager.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/web/AnimationManager.tsx
Labels: bot: suggestions

#20828 fix(cli): add react-native-web alias for metro web that doesn't rely on Babel
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks

#20516 [docs] Remove global cli reference from QuickStart on Home page
  docs/pages/index.tsx
Labels: bot: passed checks

#20827 fix(metro-config): add Exotic support for Expo SDK 47
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transformer/createMultiRuleTransformer.js
  packages/@expo/metro-config/build/transformer/createMultiRuleTransformer.js.map
  packages/@expo/metro-config/src/transformer/createMultiRuleTransformer.ts
Labels: bot: passed checks

#20826 [gh] Move updates-e2e to M1
  .github/workflows/updates-e2e-android.yml
  .github/workflows/updates-e2e-ios.yml
  packages/expo-updates/e2e/__tests__/fixtures/project_files/eas.json
Labels: bot: suggestions

#20825 [gh] Skip fetching local manifest on CI
  tools/src/dynamic-macros/macros.ts
Labels: bot: passed checks

#20270 [docs] Update Push notifications and expo-notifications docs
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/push-notifications/faq.mdx
  docs/pages/push-notifications/overview.mdx
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/push-notifications/receiving-notifications.mdx
  docs/pages/push-notifications/sending-notifications-custom.mdx
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v45.0.0/sdk/notifications.mdx
  docs/pages/versions/v46.0.0/sdk/notifications.mdx
  docs/pages/versions/v47.0.0/sdk/notifications.mdx
  docs/public/static/images/notifications/notification-on-android.jpg
  docs/public/static/images/notifications/push-notifications-tool-overview.jpg
  docs/public/static/images/notifications/server-key-from-fcm.jpg
Labels: bot: passed checks

#20844 [docs] Fix missing image in the Status Bar guide
  docs/pages/guides/configuring-statusbar.mdx
  docs/public/static/images/status-bar-style-comparison.jpg
Labels: bot: passed checks

#20846 [tools] Fix expotools not rebuilding on source change
  tools/bin/expotools.js
Labels: bot: passed checks

#20840 [tools] Adding "published" label to pull requests
  tools/package.json
  tools/src/GitHub.ts
  tools/src/GitHubActions.ts
  tools/src/Utils.ts
  tools/src/publish-packages/tasks/addPublishedLabelToPullRequests.ts
  tools/src/publish-packages/tasks/publishPackagesPipeline.ts
Labels: bot: passed checks

#20796 [docs][camera] clean up types, update code comments
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v47.0.0/expo-camera.json
  packages/expo-camera/build/Camera.d.ts
  packages/expo-camera/build/Camera.d.ts.map
  packages/expo-camera/build/Camera.js
  packages/expo-camera/build/Camera.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.d.ts.map
  packages/expo-camera/build/index.js
  packages/expo-camera/build/index.js.map
  packages/expo-camera/src/Camera.tsx
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/index.ts
Labels: bot: suggestions

#20851 [tools] Improve versions suggested by the publish command
  tools/src/publish-packages/tasks/resolveReleaseTypeAndVersion.ts
  tools/src/publish-packages/tasks/selectPackagesToPublish.ts
Labels: bot: passed checks

#20816 [docs][expo-constants]: Update the description for manifest and manifest2 properties
  docs/public/static/data/unversioned/expo-constants.json
  docs/public/static/data/v47.0.0/expo-constants.json
  packages/expo-constants/build/Constants.types.d.ts
  packages/expo-constants/build/Constants.types.js.map
  packages/expo-constants/src/Constants.types.ts
Labels: bot: passed checks

#20811 [core][docs] Document `Property` component
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#20848 [docs] Add a guide on how to generate a blurhash on a server
  docs/pages/versions/unversioned/sdk/image.mdx
Labels: bot: passed checks

#20833 [notifications] Update getExpoPushTokenAsync to make projectId required
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts.map
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
Labels: bot: passed checks

#20475 [updates] Avoid dependency on uuid
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/__tests__/fixtures/Updates-assets.e2e.js
  packages/expo-updates/e2e/__tests__/fixtures/Updates-basic.e2e.js
  packages/expo-updates/package.json
  packages/expo-updates/scripts/createManifest.js
Labels: bot: passed checks

#20854 Update npm install to yarn add
  docs/pages/guides/customizing-webpack.mdx
Labels: bot: passed checks

#20845 [image] Add blurRadius on web
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#20861 [build-properties] Add support for enabling Fabric through expo-build-properties
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/ios.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/ios.ts
  packages/expo-build-properties/src/pluginConfig.ts
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks

#20877 [bare-expo] fix test-suite ci failures
  apps/bare-expo/MainNavigator.tsx
  apps/bare-expo/detox.config.js
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  yarn.lock
Labels: bot: passed checks

#20863 [docs] Update verbiage around no installation required for Expo CLI
  docs/pages/get-started/installation.mdx
Labels: bot: passed checks

#20823 [docs] Add troubleshooting to sentry guide with expo-dev-client
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#20872 [ios][camera] Fix path where camera saves picture on simulator
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/EXCamera/CameraViewModule.swift
Labels: bot: passed checks

#20884 Fix typo
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#20878 fix(cli): pin `@expo/dev-server` to 0.1.120 for sdk 46 and web compatibility
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
Labels: bot: passed checks

#20866 [config-plugins] add build.gradle namespace test
  packages/@expo/config-plugins/src/android/__tests__/Package-test.ts
Labels: bot: suggestions

#20259 [expo-updates] Update spec for version 1: message part
  docs/constants/navigation.js
  docs/pages/bare/updating-your-app.mdx
  docs/pages/technical-specs/expo-updates-1-draft.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
Labels: bot: passed checks

#20739 [docs] Add possible remedy for Hermes debugger problems when the project is not served on LAN connection
  docs/pages/guides/using-hermes.mdx
Labels: bot: passed checks

#20859 [docs] Update expo-notifications getExpoPushTokenAsync arguments
  docs/pages/versions/unversioned/sdk/notifications.mdx
Labels: bot: passed checks

#20888 fix(cli): use known Expo schemes to use as dev client urls
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/__tests__/scheme-test.ts
  packages/@expo/cli/src/utils/scheme.ts
Labels: bot: passed checks

#20864 [core][Android] Returning object definitions from sync functions
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptAnonymousObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionData.kt
Labels: bot: suggestions

#20683 [android][image-manipulator] Migrate to new API
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/Exceptions.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorModule.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageManipulatorPackage.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ManipulationArguments.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/CropAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/FlipAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/FlipType.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/ResizeAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/actions/RotateAction.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/Actions.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/arguments/SaveOptions.kt
  packages/expo-image-manipulator/expo-module.config.json
Labels: bot: passed checks

#20897 [image][ios] Use SDImageAWebPCoder to speed up loading WebP images
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageModule.swift
Labels: bot: passed checks

#20898 [image][ios] Upgrade SDWebImage and SDWebImageAVIFCoder
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ExpoImage.podspec
Labels: bot: passed checks

#20893 feat(metro-config): add expo-image file types
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: passed checks

#20901 [docs] Minor fixes for push notifications and API references
  docs/common/error-utilities.ts
  docs/components/DocumentationPage.tsx
  docs/components/Head.tsx
  docs/pages/bare/installing-updates.mdx
  docs/pages/push-notifications/faq.mdx
  docs/pages/push-notifications/overview.mdx
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/push-notifications/receiving-notifications.mdx
  docs/pages/push-notifications/sending-notifications-custom.mdx
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/push-notifications/using-fcm.mdx
  docs/pages/versions/unversioned/sdk/print.mdx
  docs/pages/versions/unversioned/sdk/webbrowser.mdx
  docs/pages/versions/v45.0.0/sdk/print.mdx
  docs/pages/versions/v45.0.0/sdk/webbrowser.mdx
  docs/pages/versions/v46.0.0/sdk/print.mdx
  docs/pages/versions/v46.0.0/sdk/webbrowser.mdx
  docs/pages/versions/v47.0.0/sdk/print.mdx
  docs/pages/versions/v47.0.0/sdk/webbrowser.mdx
Labels: bot: passed checks

#20867 feat(html-elements): added div and babel tests
  packages/html-elements/README.md
  packages/html-elements/babel.js
  packages/html-elements/babel/__tests__/__snapshots__/transform.test.js.snap
  packages/html-elements/babel/__tests__/fixtures/one.js
  packages/html-elements/babel/__tests__/transform.test.js
  packages/html-elements/babel/jest.config.js
  packages/html-elements/build/elements/Layout.d.ts
  packages/html-elements/build/elements/Layout.d.ts.map
  packages/html-elements/build/elements/Layout.js
  packages/html-elements/build/elements/Layout.js.map
  packages/html-elements/build/elements/Text.d.ts
  packages/html-elements/build/elements/Text.d.ts.map
  packages/html-elements/build/elements/Text.js
  packages/html-elements/build/elements/Text.js.map
  packages/html-elements/package.json
  packages/html-elements/src/elements/Layout.tsx
  packages/html-elements/src/elements/Text.tsx
  packages/html-elements/src/elements/__tests__/Text-test.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.android
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.ios
  packages/html-elements/src/elements/__tests__/__snapshots__/Text-test.tsx.snap.web
Labels: bot: passed checks

#20900 [docs][style] allow padding top for `APISectionUtils`
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#20904 Fix unit tests for docs
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
Labels: bot: passed checks

#20910 [docs] Fix link on Expo Module API get started page
  docs/pages/modules/get-started.mdx
Labels: bot: passed checks

#20892 [image][ios] Support accessibility props on iOS
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageModule.swift
Labels: bot: passed checks

#20916 skip document mounting in node
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/registerRootComponent.js
  packages/expo/build/launch/registerRootComponent.js.map
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: suggestions

#20915 [image][ios] Add Live Text interaction in expo-image
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#20907 [media-library][android] Support granular permissions on Android 13
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/AndroidManifest.xml
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: passed checks

#20908 [image-picker][android] Support for granular permissions on Android 13
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
Labels: bot: passed checks

#20849 [docs] Add documentation about `GroupView` component
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#20913 [Android][iOS] Upgrade @react-native-community/netinfo to 9.3.7
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/netinfo/ConnectivityReceiver.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/@react-native-community/netinfo/react-native-netinfo.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: suggestions

#20899 [android][ios] Upgrade react-native-safe-area-context to 4.5.0
  CHANGELOG.md
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-safe-area-context/ios/Fabric/RNCSafeAreaProviderComponentView.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaProvider.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaUtils.h
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaUtils.m
  ios/vendored/unversioned/react-native-safe-area-context/ios/RNCSafeAreaView.m
  ios/vendored/unversioned/react-native-safe-area-context/react-native-safe-area-context.podspec.json
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#20922 [go][Android] Add support for new granular permissions on Android 13
  android/expoview/src/main/java/host/exp/exponent/utils/ScopedPermissionsRequester.kt
  android/expoview/src/main/res/values/strings.xml
Labels: bot: passed checks

#20920 [apple-authentication][docs] fix error code, other small tweaks
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/pages/versions/unversioned/sdk/apple-authentication.mdx
  docs/public/static/data/unversioned/expo-apple-authentication.json
  packages/expo-apple-authentication/build/AppleAuthentication.d.ts
  packages/expo-apple-authentication/build/AppleAuthentication.js
  packages/expo-apple-authentication/build/AppleAuthentication.js.map
  packages/expo-apple-authentication/package.json
  packages/expo-apple-authentication/src/AppleAuthentication.ts
Labels: bot: suggestions

#20896 fix(create-expo-module): skip creating a git repo when inside existing repo
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/src/create-expo-module.ts
Labels: bot: passed checks

#20895 [config-plugins][config-types] align with server schema
  docs/public/static/schemas/unversioned/app-config-schema.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks

#20726 Text to speech word tracking events
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechModule.kt
  packages/expo-speech/build/Speech.d.ts.map
  packages/expo-speech/build/Speech.js
  packages/expo-speech/build/Speech.js.map
  packages/expo-speech/build/Speech.types.d.ts
  packages/expo-speech/build/Speech.types.d.ts.map
  packages/expo-speech/build/Speech.types.js.map
  packages/expo-speech/ios/EXSpeech/EXSpeech.m
  packages/expo-speech/src/Speech/Speech.ts
  packages/expo-speech/src/Speech/Speech.types.ts
Labels: bot: passed checks

#20938 [go] Upgrade `react-native-screens` to `3.19.0`
  CHANGELOG.md
  android/vendored/unversioned/react-native-screens/android/build.gradle
  android/vendored/unversioned/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenViewManager.kt
  android/vendored/unversioned/react-native-screens/android/src/paper/java/com/facebook/react/viewmanagers/RNSScreenManagerDelegate.java
  android/vendored/unversioned/react-native-screens/android/src/paper/java/com/facebook/react/viewmanagers/RNSScreenManagerInterface.java
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/Screens/container.tsx
  apps/native-component-list/src/screens/Screens/nativeStack.tsx
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-screens/RNScreens.podspec.json
  ios/vendored/unversioned/react-native-screens/ios/RNSConvert.h
  ios/vendored/unversioned/react-native-screens/ios/RNSConvert.mm
  ios/vendored/unversioned/react-native-screens/ios/RNSEnums.h
  ios/vendored/unversioned/react-native-screens/ios/RNSFullWindowOverlay.mm
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.h
  ios/vendored/unversioned/react-native-screens/ios/RNSScreen.mm
  ios/vendored/unversioned/react-native-screens/ios/RNSScreenStackHeaderConfig.mm
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#20942 [image] ImageProps extends ViewProps
  packages/expo-image/CHANGELOG.md
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#20941 [expo-updates] Improvements in E2E scripts
  packages/expo-updates/e2e/__tests__/setup/create-updates-test.js
  packages/expo-updates/e2e/__tests__/setup/project.js
Labels: bot: suggestions

#20930 [android][ios] Upgrade react-native-gesture-handler to 2.9.0
  CHANGELOG.md
  android/vendored/unversioned/react-native-gesture-handler/android/build.gradle
  android/vendored/unversioned/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerButtonViewManager.kt
  android/vendored/unversioned/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerEvent.kt
  android/vendored/unversioned/react-native-gesture-handler/android/src/main/java/com/swmansion/gesturehandler/react/RNGestureHandlerModule.kt
  android/vendored/unversioned/react-native-gesture-handler/android/src/main/jni/CMakeLists.txt
  android/vendored/unversioned/react-native-gesture-handler/android/src/main/jni/cpp-adapter.cpp
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/test-suite/package.json
  home/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-gesture-handler/RNGestureHandler.podspec.json
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNFlingHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNForceTouchHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNLongPressHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNManualHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNNativeViewHandler.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNPanHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNPinchHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNRotationHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/Handlers/RNTapHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandler.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandler.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerActionType.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButton.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerButtonManager.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerDirection.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerEvents.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerEvents.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerManager.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerModule.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerModule.mm
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerPointerTracker.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerPointerTracker.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerRegistry.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerRegistry.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerState.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNGestureHandlerStateManager.h
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNManualActivationRecognizer.m
  ios/vendored/unversioned/react-native-gesture-handler/ios/RNRootViewGestureRecognizer.m
  packages/expo-stories/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#20928 [ENG-7222][docs] add resource class related documentation for EAS Build
  docs/pages/build-reference/infrastructure.mdx
  docs/public/static/schemas/unversioned/eas-json-build-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks

#20933 [android][ios][webview] Upgrade react native webview to 11.26.0
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/RNCWebViewManager.java
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/webview/URLUtil.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-webview/apple/RNCWebView.m
  ios/vendored/unversioned/react-native-webview/react-native-webview.podspec.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes

#20932 [android][ios] Upgrade react-native-pager-view to 6.1.2
  CHANGELOG.md
  android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/PagerViewViewManager.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/event/PageScrollStateChangedEvent.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/pagerview/event/PageSelectedEvent.kt
  android/vendored/unversioned/react-native-pager-view/android/build.gradle
  android/vendored/unversioned/react-native-pager-view/android/src/fabric/java/com/reactnativepagerview/PagerViewViewManager.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/AndroidManifest.xml
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/Helper.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/NestedScrollableHost.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/PagerViewViewManagerImpl.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/PagerViewViewPackage.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/ViewPagerAdapter.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/ViewPagerViewHolder.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/event/PageScrollEvent.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/event/PageScrollStateChangedEvent.kt
  android/vendored/unversioned/react-native-pager-view/android/src/main/java/com/reactnativepagerview/event/PageSelectedEvent.kt
  android/vendored/unversioned/react-native-pager-view/android/src/paper/java/com/reactnativepagerview/PagerViewViewManager.kt
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Podfile.lock
  ios/vendored/unversioned/react-native-pager-view/ios/Fabric/RNCPagerViewComponentView.h
  ios/vendored/unversioned/react-native-pager-view/ios/Fabric/RNCPagerViewComponentView.mm
  ios/vendored/unversioned/react-native-pager-view/ios/ReactNativePageView.h
  ios/vendored/unversioned/react-native-pager-view/ios/ReactNativePageView.m
  ios/vendored/unversioned/react-native-pager-view/ios/ReactViewPagerManager.m
  ios/vendored/unversioned/react-native-pager-view/react-native-pager-view.podspec.json
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/expoGoConfig.ts
  tools/src/vendoring/legacy.ts
  yarn.lock
Labels: bot: needs changes

#20939 fix(cli): simplify Metro watch mode and communicate when disabled
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/instantiateMetro.test.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
Labels: bot: passed checks

#20954 [module-scripts] Fix broken config plugin link on README
  packages/expo-module-scripts/README.md
Labels: bot: suggestions

#20891 feat(config)!: Remove support for `expo.entryPoint`
  packages/@expo/cli/src/start/server/middleware/__tests__/resolveEntryPoint-test.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/Config.types.d.ts
  packages/@expo/config/build/Config.types.js.map
  packages/@expo/config/build/paths/paths.js
  packages/@expo/config/build/paths/paths.js.map
  packages/@expo/config/src/Config.types.ts
  packages/@expo/config/src/paths/paths.ts
Labels: bot: suggestions

#20923 [ENG-7204][docs] update CocoaPods Cache server documentation
  docs/pages/build-reference/caching.mdx
Labels: bot: passed checks

#20957 [docs][image] Add a table with supported image formats
  docs/pages/versions/unversioned/sdk/image.mdx
Labels: bot: passed checks

#20765 [docs] Deep linking - adding details about the App ID
  docs/pages/guides/deep-linking.mdx
Labels: bot: passed checks

#20959 fix changelog entry
  CHANGELOG.md
Labels: bot: needs changes

#20956 [checkbox][docs] update types to fix autogenerated docs
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-checkbox.json
  docs/public/static/data/v47.0.0/expo-checkbox.json
  packages/expo-checkbox/README.md
  packages/expo-checkbox/build/Checkbox.d.ts
  packages/expo-checkbox/build/Checkbox.d.ts.map
  packages/expo-checkbox/build/Checkbox.js
  packages/expo-checkbox/build/Checkbox.js.map
  packages/expo-checkbox/build/Checkbox.types.d.ts
  packages/expo-checkbox/build/Checkbox.types.d.ts.map
  packages/expo-checkbox/build/Checkbox.types.js.map
  packages/expo-checkbox/build/ExpoCheckbox.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.js
  packages/expo-checkbox/build/ExpoCheckbox.js.map
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.web.js
  packages/expo-checkbox/build/ExpoCheckbox.web.js.map
  packages/expo-checkbox/src/Checkbox.ts
  packages/expo-checkbox/src/Checkbox.types.ts
  packages/expo-checkbox/src/ExpoCheckbox.tsx
  packages/expo-checkbox/src/ExpoCheckbox.web.tsx
Labels: bot: suggestions

#20961 [checkbox] remove deprecated `isAvailableAsync()` method
  docs/public/static/data/unversioned/expo-checkbox.json
  packages/expo-checkbox/CHANGELOG.md
  packages/expo-checkbox/build/ExpoCheckbox.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.js
  packages/expo-checkbox/build/ExpoCheckbox.js.map
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.web.js
  packages/expo-checkbox/build/ExpoCheckbox.web.js.map
  packages/expo-checkbox/src/ExpoCheckbox.tsx
  packages/expo-checkbox/src/ExpoCheckbox.web.tsx
  packages/expo-checkbox/src/__tests__/CheckBox-test.ts
Labels: bot: passed checks

#20962 [module-scripts] Remove jest-expo-enzyme reference from README
  packages/expo-module-scripts/README.md
Labels: bot: passed checks

#20967 [ncl] Fix website build
  apps/native-component-list/src/screens/PagerViewScreen.web.tsx
Labels: bot: passed checks

#20965 Use React 18 mounting pattern on web to avoid web warning
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/createRoot.d.ts
  packages/expo/build/launch/createRoot.d.ts.map
  packages/expo/build/launch/createRoot.js
  packages/expo/build/launch/createRoot.js.map
  packages/expo/build/launch/createRoot.native.d.ts
  packages/expo/build/launch/createRoot.native.d.ts.map
  packages/expo/build/launch/createRoot.native.js
  packages/expo/build/launch/createRoot.native.js.map
  packages/expo/build/launch/registerRootComponent.d.ts.map
  packages/expo/build/launch/registerRootComponent.js
  packages/expo/build/launch/registerRootComponent.js.map
  packages/expo/src/launch/createRoot.native.tsx
  packages/expo/src/launch/createRoot.tsx
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: passed checks

#20971 [expo-updates][Android] fix manifest generation for native debug for RN 0.71
  packages/expo-updates/scripts/create-manifest-android.gradle
  templates/expo-template-bare-minimum/android/app/build.gradle
Labels: bot: suggestions

#20966 Use position `fixed` to float fast refresh indicator to the bottom on web
  packages/expo/CHANGELOG.md
  packages/expo/build/environment/DevLoadingView.js
  packages/expo/build/environment/DevLoadingView.js.map
  packages/expo/src/environment/DevLoadingView.tsx
Labels: bot: passed checks

#20972 [build-properties][docs] update JSDoc comments, update doc page
  docs/pages/versions/unversioned/sdk/build-properties.mdx
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/build/withBuildProperties.d.ts
  packages/expo-build-properties/build/withBuildProperties.js
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-build-properties/src/withBuildProperties.ts
Labels: bot: suggestions

#20929 Upgrade `react-native-shared-element@0.8.7` ➡️ `react-native-shared-element@0.8.8`
  CHANGELOG.md
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
Labels: bot: needs changes

#20968 [docs] APISection: allow interfaces as component props
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionProps.tsx
  docs/public/static/data/unversioned/expo-image.json
Labels: bot: passed checks

#20982 [expo-updates] More E2E setup script changes
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/__tests__/setup/create-eas-project-assets.js
  packages/expo-updates/e2e/__tests__/setup/create-eas-project-basic.js
  packages/expo-updates/e2e/__tests__/setup/create-updates-test.js
  packages/expo-updates/e2e/__tests__/setup/project.js
Labels: bot: suggestions
