Repository expo/expo, pull requests merged in 2023-09, with the labels that each got.

#24213 feat(metro, cli, router): production static web source maps support
  apps/router-e2e/__e2e__/url-polyfill/app/index.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-router.test.ts
  packages/@expo/cli/src/export/__tests__/exportStaticAsync.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializerAssets.d.ts
  packages/@expo/metro-config/build/serializer/serializerAssets.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/src/serializer/serializerAssets.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
Labels: bot: passed checks

#24215 feat(router, metro-runtime): reduce production web code
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-router.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/effects.js
  packages/@expo/metro-runtime/build/effects.js.map
  packages/@expo/metro-runtime/build/error-overlay/index.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/index.js
  packages/@expo/metro-runtime/build/error-overlay/index.js.map
  packages/@expo/metro-runtime/build/error-overlay/modules/parseErrorStack/index.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/modules/parseErrorStack/index.js
  packages/@expo/metro-runtime/build/error-overlay/modules/parseErrorStack/index.js.map
  packages/@expo/metro-runtime/build/index.d.ts
  packages/@expo/metro-runtime/build/index.d.ts.map
  packages/@expo/metro-runtime/build/index.js
  packages/@expo/metro-runtime/build/index.js.map
  packages/@expo/metro-runtime/src/effects.ts
  packages/@expo/metro-runtime/src/error-overlay/index.tsx
  packages/@expo/metro-runtime/src/error-overlay/modules/parseErrorStack/index.ts
  packages/@expo/metro-runtime/src/index.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/renderRootComponent.d.ts.map
  packages/expo-router/build/renderRootComponent.js
  packages/expo-router/build/renderRootComponent.js.map
  packages/expo-router/build/views/ErrorBoundary.d.ts.map
  packages/expo-router/build/views/ErrorBoundary.js
  packages/expo-router/build/views/ErrorBoundary.js.map
  packages/expo-router/src/renderRootComponent.tsx
  packages/expo-router/src/views/ErrorBoundary.tsx
Labels: bot: suggestions

#24190 [docs] BlurView: update example, avoid using asset
  docs/pages/versions/unversioned/sdk/blur-view.mdx
  docs/pages/versions/v46.0.0/sdk/blur-view.mdx
  docs/pages/versions/v47.0.0/sdk/blur-view.mdx
  docs/pages/versions/v48.0.0/sdk/blur-view.mdx
  docs/pages/versions/v49.0.0/sdk/blur-view.mdx
Labels: bot: passed checks

#24211 [docs] Add a deprecation on Work together doc under Expo accounts
  docs/pages/accounts/working-together.mdx
Labels: bot: passed checks

#24153 [cli] Misleading build message
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/updateFromTemplate.ts
Labels: bot: passed checks

#24221 [ios][speech] fix: use new EventEmitter
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/build/Speech.d.ts.map
  packages/expo-speech/build/Speech.js
  packages/expo-speech/build/Speech.js.map
  packages/expo-speech/src/Speech/Speech.ts
Labels: bot: passed checks

#24155 [cli] Extend android package name validation
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/__tests__/validateApplicationId-test.ts
  packages/@expo/cli/src/utils/validateApplicationId.ts
Labels: bot: passed checks

#24206 [core][Android] Refactor dynamic properties to work well with shared objects
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptClassTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptModuleObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponentBuilder.kt
Labels: bot: suggestions

#24224 [core][Android] Add test for view function first arguments
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptViewModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewTypeConverter.kt
Labels: bot: suggestions

#24207 [core][Android] `SharedObjectTypeConverter` now can work with `Dynamic` objects
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/AnyViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ConcreteViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
Labels: bot: passed checks

#24226 [image-picker] Remove deprecation warnings
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ImagePicker.d.ts.map
  packages/expo-image-picker/build/ImagePicker.js
  packages/expo-image-picker/build/ImagePicker.js.map
  packages/expo-image-picker/src/ImagePicker.ts
Labels: bot: passed checks

#24103 [calendar][Android] Migrate to use Expo Modules API
  android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarPackage.kt
  packages/expo-calendar/expo-module.config.json
  packages/expo-calendar/unimodule.json
Labels: bot: suggestions

#24233 docs: fix broken links
  docs/pages/bare/install-dev-builds-in-bare.mdx
  docs/pages/build-reference/variables.mdx
  docs/pages/config-plugins/development-and-debugging.mdx
  docs/pages/custom-builds/schema.mdx
  docs/pages/modules/overview.mdx
Labels: bot: passed checks

#24230 [docs] Fix condition typo in environment-variables.mdx
  docs/pages/eas-update/environment-variables.mdx
Labels: bot: passed checks

#22405 Get the actual devServer hostURI
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#21316 [docs] adds steps required for email / phone links
  docs/pages/guides/linking.mdx
Labels: bot: passed checks

#24169 [docs] Update nesting-navigators.mdx for file structure clarity
  docs/pages/router/advanced/nesting-navigators.mdx
Labels: bot: passed checks

#24202 [docs] remove misleading Google Service Account link
  docs/pages/submit/android.mdx
Labels: bot: passed checks

#24139 [expo-notifications][docs] Passed projectId into getExpoPushTokenAsync in the examples for SDK 49+
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v49.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#24210 [splash-screen][ios] Remove 'No native splash screen registered' warning
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: passed checks

#24267 [expo-auth-session] Fix breaking change for expo-constants
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/SessionUrlProvider.d.ts.map
  packages/expo-auth-session/build/SessionUrlProvider.js
  packages/expo-auth-session/build/SessionUrlProvider.js.map
  packages/expo-auth-session/src/SessionUrlProvider.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.ios.ts
  packages/expo-auth-session/src/__tests__/AuthSession-test.native.ts
  packages/expo-auth-session/src/__tests__/ManifestTestUtils.ts
  packages/expo-auth-session/src/__tests__/SessionUrlProvider-test.ts
Labels: bot: passed checks

#24262 [core] Add `requireOptionalNativeModule`
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/ExponentConstants.d.ts
  packages/expo-constants/build/ExponentConstants.d.ts.map
  packages/expo-constants/build/ExponentConstants.js
  packages/expo-constants/build/ExponentConstants.js.map
  packages/expo-constants/src/ExponentConstants.ts
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/build/ExpoDevMenu.d.ts
  packages/expo-dev-menu/build/ExpoDevMenu.d.ts.map
  packages/expo-dev-menu/build/ExpoDevMenu.js
  packages/expo-dev-menu/build/ExpoDevMenu.js.map
  packages/expo-dev-menu/src/ExpoDevMenu.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/requireNativeModule.d.ts
  packages/expo-modules-core/build/requireNativeModule.d.ts.map
  packages/expo-modules-core/build/requireNativeModule.js
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/src/requireNativeModule.ts
Labels: bot: passed checks

#24043 [expo-blur][docs] Add a section about workaround for using `borderRadius`
  docs/pages/versions/unversioned/sdk/blur-view.mdx
  docs/pages/versions/v49.0.0/sdk/blur-view.mdx
Labels: bot: passed checks

#24146 [docs] Configure and integrate Vale in docs
  docs/.vale.ini
  docs/.vale/writing-styles/expo-docs/AppStores.yml
  docs/.vale/writing-styles/expo-docs/Bits.yml
  docs/.vale/writing-styles/expo-docs/Bytes.yml
  docs/.vale/writing-styles/expo-docs/Consistency.yml
  docs/.vale/writing-styles/expo-docs/Ellipses.yml
  docs/.vale/writing-styles/expo-docs/EmDash.yml
  docs/.vale/writing-styles/expo-docs/FirstPerson.yml
  docs/.vale/writing-styles/expo-docs/Gender.yml
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/.vale/writing-styles/expo-docs/HeadingPunctuation.yml
  docs/.vale/writing-styles/expo-docs/Latin.yml
  docs/.vale/writing-styles/expo-docs/Lists.yml
  docs/.vale/writing-styles/expo-docs/MergeConflictMarkers.yml
  docs/.vale/writing-styles/expo-docs/PlatformsOrder.yml
  docs/.vale/writing-styles/expo-docs/Readability.yml
  docs/.vale/writing-styles/expo-docs/SentenceLength.yml
  docs/.vale/writing-styles/expo-docs/Stores.yml
  docs/.vale/writing-styles/expo-docs/Wordiness.yml
  docs/README.md
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#24197 fix(router): Drawer layout incorrect position on initial load
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/src/ExpoRoot.tsx
Labels: bot: passed checks

#24219 feat(router): remove expo-router 2.0 deprecations
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/exports.d.ts
  packages/expo-router/build/exports.d.ts.map
  packages/expo-router/build/exports.js
  packages/expo-router/build/exports.js.map
  packages/expo-router/build/hooks.d.ts
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/views/Screen.d.ts
  packages/expo-router/build/views/Screen.d.ts.map
  packages/expo-router/build/views/Screen.js
  packages/expo-router/build/views/Screen.js.map
  packages/expo-router/src/exports.ts
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/views/Screen.tsx
Labels: bot: passed checks

#24271 [docs] Fix "app stores" inconsistent usage
  docs/.vale/writing-styles/expo-docs/AppStores.yml
  docs/.vale/writing-styles/expo-docs/Lists.yml
  docs/pages/archive/classic-updates/building-standalone-apps.mdx
Labels: bot: passed checks

#24270 [docs] Remove `expo-dict.json` & case-police
  .github/workflows/docs.yml
  docs/.vale/writing-styles/expo-docs/Consistency.yml
  docs/expo-dict.json
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#24244 feat(router): Add `unstable_styles` types.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/types/global.d.ts
Labels: bot: passed checks

#24291 feat(metro-runtime): Production bundle splitting runtime for web
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/LoadingView.d.ts
  packages/@expo/metro-runtime/build/LoadingView.d.ts.map
  packages/@expo/metro-runtime/build/LoadingView.js
  packages/@expo/metro-runtime/build/LoadingView.js.map
  packages/@expo/metro-runtime/build/async-require/fetchThenEval.web.js
  packages/@expo/metro-runtime/build/async-require/fetchThenEval.web.js.map
  packages/@expo/metro-runtime/build/async-require/index.native.d.ts
  packages/@expo/metro-runtime/build/async-require/index.native.d.ts.map
  packages/@expo/metro-runtime/build/async-require/index.native.js
  packages/@expo/metro-runtime/build/async-require/index.native.js.map
  packages/@expo/metro-runtime/build/effects.d.ts
  packages/@expo/metro-runtime/build/effects.js
  packages/@expo/metro-runtime/build/effects.js.map
  packages/@expo/metro-runtime/build/getDevServer.d.ts.map
  packages/@expo/metro-runtime/build/getDevServer.js
  packages/@expo/metro-runtime/build/getDevServer.js.map
  packages/@expo/metro-runtime/build/index.d.ts
  packages/@expo/metro-runtime/build/index.d.ts.map
  packages/@expo/metro-runtime/build/index.js
  packages/@expo/metro-runtime/build/index.js.map
  packages/@expo/metro-runtime/build/setupHMR.js
  packages/@expo/metro-runtime/build/setupHMR.js.map
  packages/@expo/metro-runtime/src/LoadingView.ts
  packages/@expo/metro-runtime/src/async-require/fetchThenEval.web.ts
  packages/@expo/metro-runtime/src/async-require/index.native.ts
  packages/@expo/metro-runtime/src/effects.ts
  packages/@expo/metro-runtime/src/getDevServer.ts
  packages/@expo/metro-runtime/src/index.ts
  packages/@expo/metro-runtime/src/setupHMR.ts
Labels: bot: passed checks

#24292 [core][iOS] AppContext configuration
  ios/Exponent/Versioned/Core/VersionManager.swift
  packages/expo-modules-core/ios/Swift/AppContext.swift
  packages/expo-modules-core/ios/Swift/AppContextConfig.swift
Labels: bot: suggestions

#24305 [go] fix ios expo go crash from exceptions
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/HeadlessApp/EXHeadlessAppRecord.m
  ios/Exponent/Kernel/ReactAppManager/EXReactAppExceptionHandler.m
Labels: bot: passed checks

#24247 Fix IOException: write failed: ENOSPC (No space left on device)
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/PersistentFileLog.kt
Labels: bot: passed checks

#24309 fix build files
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/views/ErrorBoundary.js
  packages/expo-router/build/views/ErrorBoundary.js.map
Labels: bot: suggestions

#24297 chore(expo-status-bar): reduce web bundle size
  packages/expo-status-bar/CHANGELOG.md
  packages/expo-status-bar/build/StatusBar.web.d.ts
  packages/expo-status-bar/build/StatusBar.web.d.ts.map
  packages/expo-status-bar/build/StatusBar.web.js
  packages/expo-status-bar/build/StatusBar.web.js.map
  packages/expo-status-bar/build/styleToBarStyle.web.d.ts
  packages/expo-status-bar/build/styleToBarStyle.web.d.ts.map
  packages/expo-status-bar/build/styleToBarStyle.web.js
  packages/expo-status-bar/build/styleToBarStyle.web.js.map
  packages/expo-status-bar/package.json
  packages/expo-status-bar/src/StatusBar.web.ts
  packages/expo-status-bar/src/styleToBarStyle.web.ts
Labels: bot: passed checks

#24312 [home] Fix tsc for expo-constants changes
  home/menu/DevMenuServerInfo.tsx
  home/menu/DevMenuTaskInfo.tsx
  home/redux/HistoryActions.ts
  home/screens/HomeScreen/RecentlyOpenedListItem/index.tsx
  home/screens/HomeScreen/RecentlyOpenedSection.tsx
  home/types/HistoryItem.ts
  home/utils/Environment.ts
Labels: bot: passed checks

#24311 [android] Fix compilation issues on main
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/reactnativestripesdk/pushprovisioning/AddToWalletButtonView.kt
  android/versioned-abis/expoview-abi47_0_0/src/main/java/abi47_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/pushprovisioning/AddToWalletButtonView.kt
  android/versioned-abis/expoview-abi48_0_0/src/main/java/abi48_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/pushprovisioning/AddToWalletButtonView.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/updates/UpdatesModule.kt
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/host/exp/exponent/modules/api/components/reactnativestripesdk/pushprovisioning/AddToWalletButtonView.kt
Labels: bot: passed checks

#24296 chore!(expo-splash-screen): Delete deprecated `hide` and `preventAutoHide` methods.
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/build/ExpoSplashScreen.d.ts
  packages/expo-splash-screen/build/ExpoSplashScreen.d.ts.map
  packages/expo-splash-screen/build/ExpoSplashScreen.js
  packages/expo-splash-screen/build/ExpoSplashScreen.js.map
  packages/expo-splash-screen/build/ExpoSplashScreen.web.d.ts
  packages/expo-splash-screen/build/ExpoSplashScreen.web.d.ts.map
  packages/expo-splash-screen/build/ExpoSplashScreen.web.js
  packages/expo-splash-screen/build/ExpoSplashScreen.web.js.map
  packages/expo-splash-screen/build/SplashScreen.d.ts
  packages/expo-splash-screen/build/SplashScreen.d.ts.map
  packages/expo-splash-screen/build/SplashScreen.js
  packages/expo-splash-screen/build/SplashScreen.js.map
  packages/expo-splash-screen/build/index.d.ts
  packages/expo-splash-screen/build/index.d.ts.map
  packages/expo-splash-screen/build/index.js
  packages/expo-splash-screen/build/index.js.map
  packages/expo-splash-screen/build/index.native.d.ts
  packages/expo-splash-screen/build/index.native.d.ts.map
  packages/expo-splash-screen/build/index.native.js
  packages/expo-splash-screen/build/index.native.js.map
  packages/expo-splash-screen/package.json
  packages/expo-splash-screen/src/ExpoSplashScreen.ts
  packages/expo-splash-screen/src/ExpoSplashScreen.web.ts
  packages/expo-splash-screen/src/SplashScreen.ts
  packages/expo-splash-screen/src/__mocks__/ExpoSplashScreen.ts
  packages/expo-splash-screen/src/__mocks__/ExpoSplashScreen.web.ts
  packages/expo-splash-screen/src/__tests__/SplashScreen-test.ts
  packages/expo-splash-screen/src/index.native.ts
  packages/expo-splash-screen/src/index.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#24185 feat(router, docs): Improve authentication guide
  apps/router-e2e/__e2e__/auth/app/(app)/_layout.tsx
  apps/router-e2e/__e2e__/auth/app/(app)/index.tsx
  apps/router-e2e/__e2e__/auth/app/(auth)/sign-in.tsx
  apps/router-e2e/__e2e__/auth/app/_layout.tsx
  apps/router-e2e/__e2e__/auth/ctx.tsx
  apps/router-e2e/__e2e__/auth/useStorageState.ts
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#24298 chore(expo-modules-core)!: remove and deprecate objects
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/LoadingView.js
  packages/@expo/metro-runtime/build/LoadingView.js.map
  packages/@expo/metro-runtime/src/LoadingView.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/SyntheticPlatformEmitter.d.ts
  packages/expo-modules-core/build/SyntheticPlatformEmitter.d.ts.map
  packages/expo-modules-core/build/SyntheticPlatformEmitter.js
  packages/expo-modules-core/build/SyntheticPlatformEmitter.js.map
  packages/expo-modules-core/build/deprecate.d.ts
  packages/expo-modules-core/build/deprecate.d.ts.map
  packages/expo-modules-core/build/deprecate.js
  packages/expo-modules-core/build/deprecate.js.map
  packages/expo-modules-core/build/index.d.ts
  packages/expo-modules-core/build/index.d.ts.map
  packages/expo-modules-core/build/index.js
  packages/expo-modules-core/build/index.js.map
  packages/expo-modules-core/build/sweet/setUpErrorManager.fx.web.d.ts
  packages/expo-modules-core/build/sweet/setUpErrorManager.fx.web.d.ts.map
  packages/expo-modules-core/build/sweet/setUpErrorManager.fx.web.js
  packages/expo-modules-core/build/sweet/setUpErrorManager.fx.web.js.map
  packages/expo-modules-core/package.json
  packages/expo-modules-core/src/SyntheticPlatformEmitter.ts
  packages/expo-modules-core/src/__tests__/deprecate-test.ts
  packages/expo-modules-core/src/deprecate.ts
  packages/expo-modules-core/src/index.ts
  packages/expo-modules-core/src/sweet/setUpErrorManager.fx.web.ts
  yarn.lock
Labels: bot: suggestions

#24299 [expo-updates][iOS][SDK 49] remove force unwrap in update download handling
  apps/native-tests/ios/Podfile.lock
  ios/versioned/sdk49/EXUpdates/EXUpdates/AppController.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
Labels: bot: passed checks

#24300 chore(linking)!: update linking module
  apps/test-suite/tests/Linking.js
  docs/pages/guides/linking.mdx
  docs/public/static/data/unversioned/expo-linking.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/build/ExpoLinking.web.d.ts
  packages/expo-linking/build/ExpoLinking.web.d.ts.map
  packages/expo-linking/build/ExpoLinking.web.js
  packages/expo-linking/build/ExpoLinking.web.js.map
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.d.ts.map
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/build/Schemes.d.ts.map
  packages/expo-linking/build/Schemes.js
  packages/expo-linking/build/Schemes.js.map
  packages/expo-linking/build/Schemes.web.d.ts
  packages/expo-linking/build/Schemes.web.d.ts.map
  packages/expo-linking/build/Schemes.web.js
  packages/expo-linking/build/Schemes.web.js.map
  packages/expo-linking/build/createURL.d.ts
  packages/expo-linking/build/createURL.d.ts.map
  packages/expo-linking/build/createURL.js
  packages/expo-linking/build/createURL.js.map
  packages/expo-linking/build/createURL.web.d.ts
  packages/expo-linking/build/createURL.web.d.ts.map
  packages/expo-linking/build/createURL.web.js
  packages/expo-linking/build/createURL.web.js.map
  packages/expo-linking/build/validateURL.d.ts
  packages/expo-linking/build/validateURL.d.ts.map
  packages/expo-linking/build/validateURL.js
  packages/expo-linking/build/validateURL.js.map
  packages/expo-linking/src/ExpoLinking.web.ts
  packages/expo-linking/src/Linking.ts
  packages/expo-linking/src/Schemes.ts
  packages/expo-linking/src/Schemes.web.ts
  packages/expo-linking/src/__tests__/__snapshots__/Linking-test.ts.snap.node
  packages/expo-linking/src/__tests__/__snapshots__/Linking-test.ts.snap.web
  packages/expo-linking/src/createURL.ts
  packages/expo-linking/src/createURL.web.ts
  packages/expo-linking/src/validateURL.ts
Labels: bot: passed checks

#24319 [template] update react types to the latest version
  templates/expo-template-blank-typescript/package.json
Labels: bot: passed checks

#24324 [docs] Update verbiage on Expo Router authentication guide
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#24284 clipboard: add instructions for installation in bare and managed projects
  packages/expo-clipboard/README.md
Labels: bot: suggestions

#24315 feat(cli): ensure port is running after build.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
  packages/@expo/cli/src/utils/__mocks__/port.ts
  packages/@expo/cli/src/utils/__tests__/port.test.ts
  packages/@expo/cli/src/utils/port.ts
Labels: bot: passed checks

#24320 [android][sqlite] Add support for running raw queries
  apps/test-suite/tests/SQLite.ts
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/build/SQLite.d.ts
  packages/expo-sqlite/build/SQLite.d.ts.map
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/src/SQLite.ts
Labels: bot: passed checks

#24265 [fingerprint] Add .fingerprintignore support
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Fingerprint.js
  packages/@expo/fingerprint/build/Fingerprint.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.d.ts
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/hash/Hash.d.ts
  packages/@expo/fingerprint/build/hash/Hash.js
  packages/@expo/fingerprint/build/hash/Hash.js.map
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/src/Fingerprint.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/hash/Hash.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Bare-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/PatchPackage-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Sourcer-test.ts
Labels: bot: passed checks

#24290 [fingerprint] Normalize expo config and remove runtimeVersion
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/sourcer/Utils.d.ts
  packages/@expo/fingerprint/build/sourcer/Utils.js
  packages/@expo/fingerprint/build/sourcer/Utils.js.map
  packages/@expo/fingerprint/e2e/__tests__/__snapshots__/managed-test.ts.snap
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/Utils.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Utils-test.ts
Labels: bot: passed checks

#24307 [go] try to fix android expo go top crash
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
Labels: bot: passed checks

#24334 [backport] #24320
  android/versioned-abis/expoview-abi49_0_0/src/main/java/abi49_0_0/expo/modules/sqlite/SQLiteModule.kt
Labels: bot: passed checks

#24336 [sqlite] only return successful result from executeSqlAsync
  apps/test-suite/tests/SQLite.ts
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLite.d.ts
  packages/expo-sqlite/build/SQLite.d.ts.map
  packages/expo-sqlite/build/SQLite.js
  packages/expo-sqlite/build/SQLite.js.map
  packages/expo-sqlite/build/SQLite.types.d.ts
  packages/expo-sqlite/build/SQLite.types.d.ts.map
  packages/expo-sqlite/build/SQLite.types.js.map
  packages/expo-sqlite/src/SQLite.ts
  packages/expo-sqlite/src/SQLite.types.ts
Labels: bot: passed checks

#24342 [docs] Add HTML tag for Google site verification
  docs/components/Head.tsx
Labels: bot: passed checks

#24339 [docs] Fix Ellipses guideline warnings from Vale
  docs/.vale/writing-styles/expo-docs/Ellipses.yml
  docs/pages/config-plugins/plugins-and-mods.mdx
  docs/pages/eas-update/how-it-works.mdx
  docs/pages/modules/native-view-tutorial.mdx
  docs/pages/versions/unversioned/sdk/tracking-transparency.mdx
  docs/pages/versions/v46.0.0/sdk/contacts.mdx
  docs/pages/versions/v46.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v47.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v48.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v49.0.0/sdk/tracking-transparency.mdx
Labels: bot: passed checks

#24327 [expo-updates][ios] Fix updates enabled defaulting
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
Labels: bot: passed checks

#24168 feat: detect Bun package manager
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/index.d.ts
  packages/@expo/package-manager/build/index.js
  packages/@expo/package-manager/build/index.js.map
  packages/@expo/package-manager/build/node/BunPackageManager.d.ts
  packages/@expo/package-manager/build/node/BunPackageManager.js
  packages/@expo/package-manager/build/node/BunPackageManager.js.map
  packages/@expo/package-manager/build/utils/nodeManagers.d.ts
  packages/@expo/package-manager/build/utils/nodeManagers.js
  packages/@expo/package-manager/build/utils/nodeManagers.js.map
  packages/@expo/package-manager/build/utils/nodeWorkspaces.d.ts
  packages/@expo/package-manager/build/utils/nodeWorkspaces.js
  packages/@expo/package-manager/build/utils/nodeWorkspaces.js.map
  packages/@expo/package-manager/package.json
  packages/@expo/package-manager/src/index.ts
  packages/@expo/package-manager/src/node/BunPackageManager.ts
  packages/@expo/package-manager/src/node/__tests__/BunPackageManager-test.ts
  packages/@expo/package-manager/src/utils/__tests__/nodeManagers-test.ts
  packages/@expo/package-manager/src/utils/nodeManagers.ts
  packages/@expo/package-manager/src/utils/nodeWorkspaces.ts
Labels: bot: passed checks

#24216 [tools] Switch expo home publishing to EAS update
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/ExponentUrls.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/expoview/Exponent.kt
  dev-home-config.json
  home/app.json
  ios/Client/EXHomeAppManager.h
  ios/Client/EXHomeAppManager.m
  ios/Client/EXRootViewController.m
  ios/Client/HomeAppLoader.swift
  ios/Client/HomeAppLoaderTask.swift
  ios/Client/ManifestAndAssetRequestHeaders.swift
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/AppLoader/EXAbstractLoader.m
  ios/Exponent/Kernel/AppLoader/EXHomeLoader.h
  ios/Exponent/Kernel/AppLoader/EXHomeLoader.m
  ios/Exponent/Kernel/Environment/EXBuildConstants.h
  ios/Exponent/Kernel/Environment/EXBuildConstants.m
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/ResponseHeaderData.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/UpdateResponse.swift
  packages/expo-updates/ios/EXUpdates/Update/BareUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/LegacyUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/NewUpdate.swift
  packages/expo-updates/ios/EXUpdates/Update/Update.swift
  tools/package.json
  tools/src/EASCLI.ts
  tools/src/EASUpdate.ts
  tools/src/commands/PublishDevExpoHomeCommand.ts
  tools/src/dynamic-macros/AndroidMacrosGenerator.ts
  tools/src/dynamic-macros/macros.ts
  tools/src/expotools.ts
  tools/src/typings/AppConfig.ts
  tools/yarn.lock
Labels: bot: suggestions

#24344 Add support for bun as a package manager.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/src/install/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/install/index.ts
  packages/@expo/cli/src/install/installAsync.ts
  packages/@expo/cli/src/install/resolveOptions.ts
  packages/@expo/cli/src/prebuild/index.ts
  packages/@expo/cli/src/prebuild/prebuildAsync.ts
  packages/@expo/cli/src/prebuild/resolveOptions.ts
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/utils/nodeManagers.js
  packages/@expo/package-manager/build/utils/nodeManagers.js.map
  packages/@expo/package-manager/src/node/__tests__/BunPackageManager-test.ts
Labels: bot: passed checks

#24346 feat(create-expo-module): add bun support
  packages/create-expo-module/build/resolvePackageManager.d.ts
  packages/create-expo-module/build/resolvePackageManager.js
  packages/create-expo-module/build/resolvePackageManager.js.map
  packages/create-expo-module/src/resolvePackageManager.ts
Labels: bot: passed checks

#24279 [image][iOS] Suppress operation canceled error
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: suggestions

#24133 [sensors][iOS] Migrate to Expo Modules API
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/src/screens/SensorScreen.tsx
  ios/Podfile.lock
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/expo-module.config.json
  packages/expo-sensors/ios/AccelerometerModule.swift
  packages/expo-sensors/ios/BarometerModule.swift
  packages/expo-sensors/ios/DeviceMotionModule.swift
  packages/expo-sensors/ios/EXMotionPermissionRequester.h
  packages/expo-sensors/ios/EXMotionPermissionRequester.m
  packages/expo-sensors/ios/EXSensors/EXSensorsManager.h
  packages/expo-sensors/ios/EXSensors/EXSensorsManager.m
  packages/expo-sensors/ios/EXSensors/Modules/EXPedometer.h
  packages/expo-sensors/ios/EXSensors/Modules/EXPedometer.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXAccelerometer.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXAccelerometer.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXBarometer.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXBarometer.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXBaseSensorModule.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXBaseSensorModule.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXDeviceMotion.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXDeviceMotion.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXGyroscope.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXGyroscope.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXMagnetometer.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXMagnetometer.m
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXMagnetometerUncalibrated.h
  packages/expo-sensors/ios/EXSensors/Modules/SensorModules/EXMagnetometerUncalibrated.m
  packages/expo-sensors/ios/ExpoSensors.podspec
  packages/expo-sensors/ios/GyroscopeModule.swift
  packages/expo-sensors/ios/MagnetometerModule.swift
  packages/expo-sensors/ios/MagnetometerUncalibratedModule.swift
  packages/expo-sensors/ios/PedometerModule.swift
  packages/expo-sensors/ios/SensorsUtils.swift
Labels: bot: passed checks

#24348 chore(router): Drop client-side mocking for `__dirname` and `__filename`.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/babel.js
Labels: bot: passed checks

#24033 [docs] Add a next steps doc in Routing to link to some Advanced, Reference and Migration guides
  docs/constants/navigation.js
  docs/pages/routing/error-handling.mdx
  docs/pages/routing/next-steps.mdx
Labels: bot: passed checks

#24347 [ios][sqlite] Add minimum OS version to Info.plist
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64/crsqlite.framework/Info.plist
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64_x86_64-simulator/crsqlite.framework/Info.plist
Labels: bot: passed checks

#24355 fix(package-manager): remove extra console log
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/node/BunPackageManager.js
  packages/@expo/package-manager/build/node/BunPackageManager.js.map
  packages/@expo/package-manager/src/node/BunPackageManager.ts
Labels: bot: passed checks

#24358 [android][image] fix gif and awebp memory leak (#24259)
  packages/expo-image/android/build.gradle
Labels: bot: suggestions

#24227 [ENG-9473] Document new build option: pnpm
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
Labels: bot: passed checks

#24369 [docs] Be more descriptive about index.js file usage in app directory - Update create-pages.mdx
  docs/pages/routing/create-pages.mdx
Labels: bot: passed checks

#23986 [docs] Remove Parallel installation doc and update App variants on the same device doc
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/build-reference/variants.mdx
  docs/pages/develop/development-builds/parallel-installation.mdx
  docs/pages/develop/development-builds/share-with-your-team.mdx
Labels: bot: passed checks

#24316 [ios] Remove dead code
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/ExpoKit/EXStandaloneAppDelegate.h
  ios/Exponent/ExpoKit/EXStandaloneAppDelegate.m
  ios/Exponent/ExpoKit/EXStandaloneViewController.h
  ios/Exponent/ExpoKit/EXStandaloneViewController.m
  ios/Exponent/ExpoKit/ExpoKit.h
  ios/Exponent/ExpoKit/ExpoKit.m
  ios/Exponent/ExpoKit/ExpoKitAppDelegate.h
  ios/Exponent/ExpoKit/ExpoKitAppDelegate.m
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherCacheOnly.h
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherCacheOnly.m
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherDevelopmentMode.h
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherDevelopmentMode.m
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherWithTimeout.h
  ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcherWithTimeout.m
  ios/Exponent/Kernel/AppLoader/CachedResource/EXCachedResource.h
  ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  ios/Exponent/Kernel/AppLoader/EXAbstractLoader.h
  ios/Exponent/Kernel/AppLoader/EXAbstractLoader.m
  ios/Exponent/Kernel/AppLoader/EXApiUtil.h
  ios/Exponent/Kernel/AppLoader/EXApiUtil.m
  ios/Exponent/Kernel/Environment/EXEnvironment.m
  ios/Exponent/Kernel/HeadlessApp/EXHeadlessAppLoader.h
  ios/Exponent/Kernel/HeadlessApp/EXHeadlessAppLoader.m
  ios/Exponent/Kernel/HeadlessApp/EXHeadlessAppRecord.h
  ios/Exponent/Kernel/HeadlessApp/EXHeadlessAppRecord.m
  ios/Exponent/Kernel/Services/Notifications/EXApiV2Client+EXRemoteNotifications.h
  ios/Exponent/Kernel/Services/Notifications/EXApiV2Client+EXRemoteNotifications.m
  ios/Exponent/Kernel/Services/Notifications/EXRemoteNotificationManager.h
  ios/Exponent/Kernel/Services/Notifications/EXRemoteNotificationManager.m
  ios/Tests/AppLoader/EXAppLoaderConfigurationTestsProdService.m
Labels: bot: passed checks

#24345 [tools] Remove classic publishing for apps
  tools/src/ExpoCLI.ts
  tools/src/TestSuite.ts
  tools/src/XDL.ts
  tools/src/commands/PublishApp.ts
  tools/src/commands/PublishVersionedTestSuiteCommand.ts
  tools/src/expotools.ts
Labels: bot: passed checks

#24314 drop `react-native-gesture-handler` in router
  docs/pages/router/advanced/drawer.mdx
  packages/@expo/cli/e2e/__tests__/__snapshots__/export-router.test.ts.snap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/package.json
  packages/expo-router/src/ExpoRoot.tsx
Labels: bot: suggestions

#24317 fix(router): infinite renders when using nested boundaries
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks

#24382 fix(metro-config): Normalize paths on Windows machines.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/getCssDeps.js
  packages/@expo/metro-config/build/serializer/getCssDeps.js.map
  packages/@expo/metro-config/src/serializer/__tests__/getCssDeps.test.ts
  packages/@expo/metro-config/src/serializer/getCssDeps.ts
Labels: bot: suggestions

#24126 [expo-updates] Add fingerprintExperimental runtime version policy
  docs/pages/eas-update/deployment-patterns.mdx
  docs/pages/eas-update/runtime-versions.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/InterstitialPageMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ExpoGoManifestHandlerMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/InterstitialPageMiddleware-test.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Updates.d.ts
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/build/ios/Updates.d.ts
  packages/@expo/config-plugins/build/ios/Updates.js
  packages/@expo/config-plugins/build/ios/Updates.js.map
  packages/@expo/config-plugins/build/plugins/android-plugins.d.ts
  packages/@expo/config-plugins/build/plugins/android-plugins.js.map
  packages/@expo/config-plugins/build/utils/Updates.d.ts
  packages/@expo/config-plugins/build/utils/Updates.js
  packages/@expo/config-plugins/build/utils/Updates.js.map
  packages/@expo/config-plugins/package.json
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/android/__tests__/Updates-test.ts
  packages/@expo/config-plugins/src/ios/Updates.ts
  packages/@expo/config-plugins/src/ios/__tests__/Updates-test.ts
  packages/@expo/config-plugins/src/plugins/android-plugins.ts
  packages/@expo/config-plugins/src/utils/Updates.ts
  packages/@expo/config-plugins/src/utils/__tests__/Updates-test.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks

#24112 [expo-updates] Prevent failed updates in checkForUpdateAsync()
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateEvent.kt
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/e2e/fixtures/App-apitest.tsx
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/UpdatesUtils.swift
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#22289 [image] tweaks and fixes for types JSDoc
  docs/public/static/data/unversioned/expo-image.json
Labels: bot: passed checks

#24380 [dev-launcher] Update dev session default ports to check
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/functions/getDevSessionsAsync.ts
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks

#24323 [av][ios] Fix the low quality audio preset
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Audio/RecordingConstants.d.ts.map
  packages/expo-av/build/Audio/RecordingConstants.js
  packages/expo-av/build/Audio/RecordingConstants.js.map
  packages/expo-av/src/Audio/RecordingConstants.ts
Labels: bot: passed checks

#24393 [menu][Android] Fix task ':packageReleaseAssets' uses this output of task ':copyAssets without declaring dependency
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/.gitignore
  packages/expo-dev-menu/android/build.gradle
Labels: bot: passed checks

#24399 [docs] Fix link to JavaScriptCore Engine
  docs/pages/more/glossary-of-terms.mdx
Labels: bot: passed checks

#24293 [docs] Make Copiable header links / Anchor tags for collapsible headers
  docs/components/Permalink.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/ui/components/Collapsible/Collapsible.test.tsx
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Navigation/Navigation.test.tsx
Labels: bot: passed checks

#24378 [dev-launcher] Fetch dev sessions whenever navigating to Home screen
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks

#24388 fix(router): Ignore root HTML automatically in the context module.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/_ctx.android.js
  packages/expo-router/_ctx.ios.js
  packages/expo-router/_ctx.js
  packages/expo-router/_ctx.web.js
Labels: bot: passed checks

#24385 refactor e2e tests
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-router.test.ts
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/export-side-effects.ts
  packages/@expo/cli/e2e/__tests__/export/single-page-app.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/export/url-polyfill.test.ts
  packages/@expo/cli/e2e/__tests__/export/without-sourcemaps.test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/cli/src/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/@expo/cli/src/utils/codesigning.ts
Labels: bot: passed checks

#24394 [docs] Fix missing images in Location
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/v46.0.0/sdk/location.mdx
  docs/pages/versions/v47.0.0/sdk/location.mdx
  docs/pages/versions/v48.0.0/sdk/location.mdx
  docs/pages/versions/v49.0.0/sdk/location.mdx
Labels: bot: passed checks

#24407 [docs] Fix push-notifications-setup.mdx formatting
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#24397 [docs] Fix broken links as reported after audit
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/additional-resources/index.mdx
  docs/pages/build-reference/eas-json.mdx
  docs/pages/build-reference/ios-builds.mdx
  docs/pages/build/eas-json.mdx
  docs/pages/build/setup.mdx
  docs/pages/custom-builds/schema.mdx
  docs/pages/eas-update/debug.mdx
  docs/pages/faq.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/guides/configuring-statusbar.mdx
  docs/pages/guides/icons.mdx
  docs/pages/guides/permissions.mdx
  docs/pages/guides/using-flipper.mdx
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
  docs/pages/router/reference/testing.mdx
  docs/pages/tutorial/follow-up.mdx
  docs/pages/versions/unversioned/sdk/bar-code-scanner.mdx
  docs/pages/versions/unversioned/sdk/in-app-purchases.mdx
  docs/pages/versions/v46.0.0/sdk/bar-code-scanner.mdx
  docs/pages/versions/v46.0.0/sdk/firebase-recaptcha.mdx
  docs/pages/versions/v47.0.0/sdk/bar-code-scanner.mdx
  docs/pages/versions/v47.0.0/sdk/firebase-recaptcha.mdx
  docs/pages/versions/v48.0.0/sdk/bar-code-scanner.mdx
  docs/pages/versions/v49.0.0/sdk/bar-code-scanner.mdx
  docs/pages/versions/v49.0.0/sdk/in-app-purchases.mdx
Labels: bot: passed checks

#24328 feat(babel): rewrite babel-preset-expo to use TypeScript
  packages/babel-preset-expo/.eslintrc.js
  packages/babel-preset-expo/.npmignore
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/__tests__/__snapshots__/disable-ambiguous-requires-test.js.snap
  packages/babel-preset-expo/__tests__/disable-ambiguous-requires-test.js
  packages/babel-preset-expo/babel.config.js
  packages/babel-preset-expo/build/index.d.ts
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/build/lazyImports.d.ts
  packages/babel-preset-expo/build/lazyImports.js
  packages/babel-preset-expo/jest.config.js
  packages/babel-preset-expo/lazy-imports-blacklist.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/plugins/disable-ambiguous-requires.js
  packages/babel-preset-expo/src/__tests__/__snapshots__/index.test.ts.snap
  packages/babel-preset-expo/src/__tests__/index.test.ts
  packages/babel-preset-expo/src/__tests__/samples/App.js
  packages/babel-preset-expo/src/__tests__/samples/App.tsx
  packages/babel-preset-expo/src/__tests__/samples/Lazy.js
  packages/babel-preset-expo/src/__tests__/samples/worklet.js
  packages/babel-preset-expo/src/index.ts
  packages/babel-preset-expo/src/lazyImports.ts
  packages/babel-preset-expo/tsconfig.json
Labels: bot: passed checks

#24383 [expo-modules-test-core] Add missing xml-js dependency
  packages/expo-modules-test-core/package.json
  yarn.lock
Labels: bot: passed checks

#23936 [ios][background-fetch] Migrate to Expo Modules API
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/build/ExpoBackgroundFetch.d.ts.map
  packages/expo-background-fetch/build/ExpoBackgroundFetch.js.map
  packages/expo-background-fetch/expo-module.config.json
  packages/expo-background-fetch/ios/BackgroundFetchExceptions.swift
  packages/expo-background-fetch/ios/BackgroundFetchModule.swift
  packages/expo-background-fetch/ios/BackgroundFetchRecords.swift
  packages/expo-background-fetch/ios/BackgroundFetchTaskConsumer.swift
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetch.h
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetch.m
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetchTaskConsumer.h
  packages/expo-background-fetch/ios/EXBackgroundFetch/EXBackgroundFetchTaskConsumer.m
  packages/expo-background-fetch/ios/ExpoBackgroundFetch.podspec
  packages/expo-background-fetch/src/ExpoBackgroundFetch.ts
Labels: bot: passed checks

#24392 [blur] Support more blur effects
  apps/bare-expo/android/.idea/codeStyles/Project.xml
  apps/native-component-list/src/screens/BlurView/BlurViewScreen.tsx
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/android/src/main/java/expo/modules/blur/BlurModule.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/BlurModuleUtils.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/ExpoBlurView.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/TintStyle.kt
  packages/expo-blur/build/BlurView.types.d.ts
  packages/expo-blur/build/BlurView.types.d.ts.map
  packages/expo-blur/build/BlurView.types.js.map
  packages/expo-blur/build/getBackgroundColor.d.ts.map
  packages/expo-blur/build/getBackgroundColor.js
  packages/expo-blur/build/getBackgroundColor.js.map
  packages/expo-blur/ios/BlurEffectView.swift
  packages/expo-blur/ios/BlurView.swift
  packages/expo-blur/ios/BlurViewModule.swift
  packages/expo-blur/ios/TintStyle.swift
  packages/expo-blur/src/BlurView.types.ts
  packages/expo-blur/src/getBackgroundColor.ts
Labels: bot: passed checks

#24401 [notifications][docs]: Fix broken internal links
  docs/public/static/data/unversioned/expo-notifications.json
  packages/expo-notifications/build/NotificationPermissions.d.ts
  packages/expo-notifications/build/NotificationPermissions.js
  packages/expo-notifications/build/NotificationPermissions.js.map
  packages/expo-notifications/build/registerTaskAsync.d.ts
  packages/expo-notifications/build/registerTaskAsync.js
  packages/expo-notifications/build/registerTaskAsync.js.map
  packages/expo-notifications/build/setNotificationChannelAsync.d.ts
  packages/expo-notifications/build/setNotificationChannelAsync.js
  packages/expo-notifications/build/setNotificationChannelAsync.js.map
  packages/expo-notifications/src/NotificationPermissions.ts
  packages/expo-notifications/src/registerTaskAsync.ts
  packages/expo-notifications/src/setNotificationChannelAsync.ts
Labels: bot: passed checks

#24366 Add EX_UPDATES_NATIVE_DEBUG support to Xcode env generator
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/xcode_env_generator.rb
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-pre-install.sh
  packages/expo-updates/e2e/fixtures/project_files/xcode.env.local
  packages/expo-updates/e2e/setup/project.js
  packages/expo/CHANGELOG.md
  packages/expo/scripts/autolinking.rb
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
Labels: bot: passed checks

#24359 docs(package-manager): clean up changelog
  packages/@expo/package-manager/CHANGELOG.md
Labels: bot: passed checks

#24373 chore(create-expo): move package from `expo/expo-cli` to `expo/expo`
  .github/workflows/cli.yml
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/package.json
  packages/@expo/package-manager/build/ios/CocoaPodsPackageManager.d.ts
  packages/@expo/package-manager/build/node/BasePackageManager.d.ts
  packages/@expo/package-manager/package.json
  packages/create-expo/.eslintignore
  packages/create-expo/.gh-assets/banner.svg
  packages/create-expo/.gitignore
  packages/create-expo/CHANGELOG.md
  packages/create-expo/README.md
  packages/create-expo/babel.config.js
  packages/create-expo/e2e/__tests__/index-test.ts
  packages/create-expo/e2e/jest.config.js
  packages/create-expo/jest.config.js
  packages/create-expo/package.json
  packages/create-expo/src/Examples.ts
  packages/create-expo/src/Template.ts
  packages/create-expo/src/__mocks__/fs.ts
  packages/create-expo/src/__mocks__/ora.ts
  packages/create-expo/src/__tests__/Examples.test.ts
  packages/create-expo/src/__tests__/Template.test.ts
  packages/create-expo/src/__tests__/createAsync.test.ts
  packages/create-expo/src/__tests__/resolvePackageManager.test.ts
  packages/create-expo/src/__tests__/telemetry.test.ts
  packages/create-expo/src/cli.ts
  packages/create-expo/src/cmd.ts
  packages/create-expo/src/createAsync.ts
  packages/create-expo/src/createFileTransform.ts
  packages/create-expo/src/error.ts
  packages/create-expo/src/index.ts
  packages/create-expo/src/legacyTemplates.ts
  packages/create-expo/src/log.ts
  packages/create-expo/src/paths.ts
  packages/create-expo/src/resolvePackageManager.ts
  packages/create-expo/src/resolveProjectRoot.ts
  packages/create-expo/src/sessionStorage.ts
  packages/create-expo/src/telemetry.ts
  packages/create-expo/src/utils/__tests__/args.test.ts
  packages/create-expo/src/utils/__tests__/array.test.ts
  packages/create-expo/src/utils/__tests__/log.test.ts
  packages/create-expo/src/utils/__tests__/npm.test.ts
  packages/create-expo/src/utils/__tests__/obj.test.ts
  packages/create-expo/src/utils/args.ts
  packages/create-expo/src/utils/array.ts
  packages/create-expo/src/utils/dir.ts
  packages/create-expo/src/utils/env.ts
  packages/create-expo/src/utils/git.ts
  packages/create-expo/src/utils/log.ts
  packages/create-expo/src/utils/npm.ts
  packages/create-expo/src/utils/obj.ts
  packages/create-expo/src/utils/update-check.ts
  packages/create-expo/template/gitignore
  packages/create-expo/tsconfig.json
  yarn.lock
Labels: bot: suggestions

#24415 [docs] Fix link for install app variants guide
  docs/pages/develop/development-builds/share-with-your-team.mdx
Labels: bot: passed checks

#24430 [config-plugins][config-types] align with server schema and fix errors
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: suggestions

#24405 [expo-gl][docs] Fix link and update verbiage
  docs/public/static/data/unversioned/expo-gl.json
  packages/expo-gl/build/GLView.types.d.ts
  packages/expo-gl/build/GLView.types.js.map
  packages/expo-gl/src/GLView.types.ts
Labels: bot: suggestions

#24434 [dev-menu] Add new hotkey binding
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/components/Onboarding.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/ios/Interceptors/DevMenuKeyCommandsInterceptor.swift
Labels: bot: passed checks

#24431 [core][iOS] Using shared ref as a prop
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Swift/DynamicTypes/DynamicSharedObjectType.swift
  packages/expo-modules-core/ios/Swift/SharedObjects/SharedRef.swift
Labels: bot: suggestions

#24440 Update puppeteer to 21.2.1, jest-puppeteer to 9.0.0
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/bare-expo/jest-puppeteer.config.js
  apps/bare-expo/package.json
  yarn.lock
Labels: bot: passed checks

#23943 [file-system][iOS] Migrate to Expo Modules API
  apps/bare-expo/ios/Podfile.lock
  apps/test-suite/tests/FileSystem.js
  ios/Exponent/Versioned/Core/EXVersionManagerObjC.m
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFileSystem/EXScopedFilePermissionModule.h
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFileSystem/EXScopedFilePermissionModule.m
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFileSystem/EXScopedFileSystemModule.h
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedFileSystem/EXScopedFileSystemModule.m
  ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
  ios/Podfile.lock
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/ExponentFileSystem.d.ts.map
  packages/expo-file-system/build/ExponentFileSystem.js
  packages/expo-file-system/build/ExponentFileSystem.js.map
  packages/expo-file-system/expo-module.config.json
  packages/expo-file-system/ios/EXFilePermissionModule.h
  packages/expo-file-system/ios/EXFilePermissionModule.m
  packages/expo-file-system/ios/EXFileSystem.h
  packages/expo-file-system/ios/EXFileSystem.m
  packages/expo-file-system/ios/EXFileSystem/EXFileSystemLocalFileHandler.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionCancelableUploadTaskDelegate.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionDownloadTaskDelegate.h
  packages/expo-file-system/ios/EXFileSystem/EXSessionTasks/EXSessionResumableDownloadTaskDelegate.h
  packages/expo-file-system/ios/EXFileSystemAssetLibraryHandler.h
  packages/expo-file-system/ios/EXFileSystemAssetLibraryHandler.m
  packages/expo-file-system/ios/EXFileSystemHandler.h
  packages/expo-file-system/ios/EXFileSystemLocalFileHandler.h
  packages/expo-file-system/ios/EXFileSystemLocalFileHandler.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionCancelableUploadTaskDelegate.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionCancelableUploadTaskDelegate.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionDownloadTaskDelegate.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionHandler.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionHandler.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionResumableDownloadTaskDelegate.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionResumableDownloadTaskDelegate.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionTaskDelegate.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionTaskDelegate.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionTaskDispatcher.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionTaskDispatcher.m
  packages/expo-file-system/ios/EXSessionTasks/EXSessionUploadTaskDelegate.h
  packages/expo-file-system/ios/EXSessionTasks/EXSessionUploadTaskDelegate.m
  packages/expo-file-system/ios/EXSessionTasks/EXTaskHandlersManager.h
  packages/expo-file-system/ios/EXSessionTasks/EXTaskHandlersManager.m
  packages/expo-file-system/ios/Encoding.swift
  packages/expo-file-system/ios/ExpoFileSystem.h
  packages/expo-file-system/ios/ExpoFileSystem.podspec
  packages/expo-file-system/ios/FileSystemBackgroundSessionHandler.swift
  packages/expo-file-system/ios/FileSystemExceptions.swift
  packages/expo-file-system/ios/FileSystemHelpers.swift
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/ios/FileSystemRecords.swift
  packages/expo-file-system/ios/NSData+EXFileSystem.h
  packages/expo-file-system/ios/NSData+EXFileSystem.m
  packages/expo-file-system/ios/NetworkingHelpers.swift
  packages/expo-file-system/ios/Tests/EXFileSystemSpec.swift
  packages/expo-file-system/src/ExponentFileSystem.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/ExpoAppDelegate.swift
Labels: bot: passed checks

#24442 [core][Android] Fixed random `NullPointerExceptions` when calling `Updates.reloadAsync`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaCallback.kt
Labels: bot: suggestions

#24435 [home] Fix apollo auth link spread ordering
  home/api/ApolloClient.ts
Labels: bot: passed checks

#24418 [expo-device][docs] Fix broken link for app config doc
  docs/public/static/data/unversioned/expo-device.json
  packages/expo-device/build/Device.d.ts
  packages/expo-device/build/Device.js
  packages/expo-device/build/Device.js.map
  packages/expo-device/src/Device.ts
Labels: bot: passed checks

#24449 [docs] Fix FAQ about custom entry point in build migration guide
  docs/pages/build-reference/migrating.mdx
Labels: bot: passed checks

#24426 [dev-menu] [ENG-10036] update dev menu to make refresh more prominent
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/README.md
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/components/__tests__/Main.test.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: bot: passed checks

#24453 Support mocking Node.js externals for client-side bundles.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroTerminalReporter-test.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks

#24455 Move `process.env` polyfill strip to `expo/metro-config`.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.d.ts
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/src/serializer/environmentVariableSerializerPlugin.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
Labels: bot: passed checks

#24456 split create-expo tests out of Expo CLI tests
  .github/workflows/cli.yml
  .github/workflows/create-expo-app.yml
Labels: bot: passed checks

#24446 [core][Android] Add SharedRefs
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/SharedRefTest.kt
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedRef.kt
Labels: bot: suggestions

#24458 [notifications][Android] Remove badge manager
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/NotificationsPackage.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/badge/BadgeModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/badge/BadgeModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/badge/ExpoBadgeManager.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/badge/interfaces/BadgeManager.java
Labels: bot: suggestions

#24448 [docs] separate copy and link icons on headers/ collapsibles
  docs/components/Permalink.tsx
  docs/components/icons/Permalink.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/ui/components/Collapsible/index.tsx
Labels: bot: passed checks, preview

#24464 [ios][file-system] throw correct error
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemHelpers.swift
Labels: bot: passed checks

#24466 [expo-updates][android] Make scopekey only required when getting database entity
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/BareUpdateManifest.kt
Labels: bot: suggestions

#24412 [go] Load embedded bundle and manifest in release builds
  android/expoview/src/main/java/host/exp/exponent/ExpoApplication.kt
  android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/KernelConstants.kt
  android/expoview/src/main/java/host/exp/exponent/storage/ExponentSharedPreferences.kt
  android/expoview/src/main/java/host/exp/expoview/ExpoViewBuildConfig.kt
  guides/releasing/Release Workflow.md
  ios/Client/EXHomeAppManager.h
  ios/Client/EXHomeAppManager.m
  ios/Client/EXRootViewController.m
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/Kernel/AppLoader/EXDevelopmentHomeLoader.h
  ios/Exponent/Kernel/AppLoader/EXDevelopmentHomeLoader.m
  ios/Exponent/Kernel/AppLoader/EXEmbeddedHomeLoader.h
  ios/Exponent/Kernel/AppLoader/EXEmbeddedHomeLoader.m
  ios/Tests/AppLoader/EXAppLoader+Tests.h
  ios/Tests/AppLoader/EXAppLoaderConfigurationTests.m
  ios/Tests/AppLoader/EXAppLoaderRequestExpectation.h
  ios/Tests/AppLoader/EXAppLoaderRequestExpectation.m
Labels: bot: passed checks

#24432 [tools] Add publish-prod-home command
  home/app.json
  tools/src/EASUpdate.ts
  tools/src/commands/PublishDevExpoHomeCommand.ts
  tools/src/commands/PublishProdExpoHomeCommand.ts
  tools/src/typings/AppConfig.ts
Labels: bot: passed checks

#24325 [ios] Remove legacy notifications module code
  ios/Exponent.xcodeproj/project.pbxproj
  ios/Exponent/ExpoKit/ExpoKit.m
  ios/Exponent/Kernel/Core/EXKernel.h
  ios/Exponent/Kernel/Core/EXKernel.m
  ios/Exponent/Kernel/Core/EXKernelServiceRegistry.h
  ios/Exponent/Kernel/Core/EXKernelServiceRegistry.m
  ios/Exponent/Kernel/Core/EXPendingNotification.h
  ios/Exponent/Kernel/Core/EXPendingNotification.m
  ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  ios/Exponent/Kernel/Services/EXErrorRecoveryManager.m
  ios/Exponent/Kernel/Services/EXUserNotificationManager.h
  ios/Exponent/Kernel/Services/EXUserNotificationManager.m
  ios/Exponent/Kernel/Services/Notifications/EXApiV2Client+EXRemoteNotifications.h
  ios/Exponent/Kernel/Services/Notifications/EXApiV2Client+EXRemoteNotifications.m
  ios/Exponent/Kernel/Services/Notifications/EXRemoteNotificationManager.h
  ios/Exponent/Kernel/Services/Notifications/EXRemoteNotificationManager.m
  ios/Exponent/Kernel/Services/Notifications/EXUserNotificationCenter.h
  ios/Exponent/Kernel/Services/Notifications/EXUserNotificationCenter.m
  ios/Exponent/Kernel/Services/Notifications/NSData+EXRemoteNotifications.h
  ios/Exponent/Kernel/Services/Notifications/NSData+EXRemoteNotifications.m
  ios/Exponent/Versioned/Core/Api/EXNotifications.h
  ios/Exponent/Versioned/Core/Api/EXNotifications.m
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/EXNotificationCenterDelegate.m
Labels: bot: passed checks

#24375 [ios][updates] bump sqlite version
  apps/bare-expo/ios/Podfile.lock
  ios/Podfile.lock
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/ExpoSQLite.podspec
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration4To5.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration5To6.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration6To7.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration7To8.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration8To9.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration9To10.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseInitialization.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseUtils.swift
  packages/expo-updates/ios/Tests/DatabaseInitializationSpec.swift
  yarn.lock
Labels: bot: passed checks

#24322 [android][sqlite] Add support for CRSQLite on Android
  apps/test-suite/tests/SQLite.ts
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/build.gradle
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLRecords.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/android/src/main/jniLibs/arm64-v8a/libcrsqlite.so
  packages/expo-sqlite/android/src/main/jniLibs/arm64/libcrsqlite.so
  packages/expo-sqlite/ios/crsqlite.xcframework/Info.plist
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64/crsqlite.framework/crsqlite
  packages/expo-sqlite/ios/crsqlite.xcframework/ios-arm64_x86_64-simulator/crsqlite.framework/crsqlite
Labels: bot: passed checks

#24428 [iOS] Experimental new Video component
  .github/resources/expo-video.svg
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/AV/VideoScreen.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  ios/Podfile.lock
  packages/expo-video/.eslintrc.js
  packages/expo-video/.npmignore
  packages/expo-video/CHANGELOG.md
  packages/expo-video/README.md
  packages/expo-video/android/.gitignore
  packages/expo-video/android/build.gradle
  packages/expo-video/android/src/main/AndroidManifest.xml
  packages/expo-video/babel.config.js
  packages/expo-video/build/NativeVideoModule.d.ts
  packages/expo-video/build/NativeVideoModule.d.ts.map
  packages/expo-video/build/NativeVideoModule.js
  packages/expo-video/build/NativeVideoModule.js.map
  packages/expo-video/build/NativeVideoView.d.ts
  packages/expo-video/build/NativeVideoView.d.ts.map
  packages/expo-video/build/NativeVideoView.js
  packages/expo-video/build/NativeVideoView.js.map
  packages/expo-video/build/VideoPlayer.d.ts
  packages/expo-video/build/VideoPlayer.d.ts.map
  packages/expo-video/build/VideoPlayer.js
  packages/expo-video/build/VideoPlayer.js.map
  packages/expo-video/build/VideoView.d.ts
  packages/expo-video/build/VideoView.d.ts.map
  packages/expo-video/build/VideoView.js
  packages/expo-video/build/VideoView.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js
  packages/expo-video/build/index.js.map
  packages/expo-video/expo-module.config.json
  packages/expo-video/ios/ExpoVideo.podspec
  packages/expo-video/ios/VideoContentFit.swift
  packages/expo-video/ios/VideoItem.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoView.swift
  packages/expo-video/package.json
  packages/expo-video/src/NativeVideoModule.ts
  packages/expo-video/src/NativeVideoView.ts
  packages/expo-video/src/VideoPlayer.ts
  packages/expo-video/src/VideoView.tsx
  packages/expo-video/src/index.ts
  packages/expo-video/tsconfig.json
Labels: bot: suggestions

#24478 [docs] Update verbiage, fix formatting issues and vale warnings in API Routes guide
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#24481 [expo-intent-launcher] [Android] Fix the crash on fulfilled promises when ActivityNotFoundException is thrown
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-intent-launcher/android/src/main/java/expo/modules/intentlauncher/IntentLauncherModule.kt
Labels: bot: passed checks

#24482 [docs] Add newsletter links to sidebar footer and Home page
  docs/pages/index.tsx
  docs/ui/components/Sidebar/SidebarFooter.tsx
Labels: bot: passed checks

#24477 [expo-contacts][docs] Fix broken link for app config doc
  docs/public/static/data/unversioned/expo-contacts.json
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#24462 [notifications][Android] Convert almost all exported modules to Kotlin
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedServerRegistrationModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/ExpoBackgroundNotificationTasksModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/ExpoBackgroundNotificationTasksModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/channels/NotificationChannelGroupManagerModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/channels/NotificationChannelGroupManagerModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/channels/NotificationChannelManagerModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/channels/NotificationChannelManagerModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/emitting/NotificationsEmitter.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/emitting/NotificationsEmitter.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/handling/NotificationsHandler.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/handling/NotificationsHandler.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/handling/SingleNotificationHandlerTask.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/serverregistration/ServerRegistrationModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/serverregistration/ServerRegistrationModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.kt
Labels: bot: suggestions

#24498 [sqlite] fix load extension test
  apps/test-suite/tests/SQLite.ts
  packages/expo-sqlite/CHANGELOG.md
Labels: bot: passed checks

#24497 [expo-dev-menu] fix ts and linting
  packages/expo-dev-menu/.eslintignore
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/App.tsx
  packages/expo-dev-menu/app/components/LoadInitialData.tsx
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/app/hooks/useClipboard.tsx
  packages/expo-dev-menu/app/hooks/useDevSettings.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  packages/expo-dev-menu/tsconfig.app.json
Labels: bot: passed checks

#24472 router v3 public fixes
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/getPublicExpoManifest.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/package.json
Labels: bot: passed checks

#24507 [docs] Fix typo in "Create a development build"
  docs/pages/develop/development-builds/create-a-build.mdx
Labels: bot: passed checks

#24505 chore(expo-network): remove deprecated getMacAddressAsync
  docs/public/static/data/unversioned/expo-network.json
  packages/expo-network/CHANGELOG.md
  packages/expo-network/build/ExpoNetwork.web.d.ts
  packages/expo-network/build/ExpoNetwork.web.d.ts.map
  packages/expo-network/build/ExpoNetwork.web.js
  packages/expo-network/build/ExpoNetwork.web.js.map
  packages/expo-network/build/Network.d.ts
  packages/expo-network/build/Network.d.ts.map
  packages/expo-network/build/Network.js
  packages/expo-network/build/Network.js.map
  packages/expo-network/src/ExpoNetwork.web.ts
  packages/expo-network/src/Network.ts
Labels: bot: passed checks

#24503 [expo-updates] Add missing export in checkForUpdateAsync result
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks

#24363 [config] fix withAnonymous raw config-plugin name serialization
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/Serialize.js
  packages/@expo/config/build/Serialize.js.map
  packages/@expo/config/src/Serialize.ts
Labels: bot: passed checks

#24494 [notifications][Android] Convert remaining modules to Kotlin
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedExpoNotificationCategoriesModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedExpoNotificationPresentationModule.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedNotificationScheduler.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/Utils.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/categories/ExpoNotificationCategoriesModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/categories/ExpoNotificationCategoriesModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/ExpoNotificationPresentationModule.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/ExpoNotificationPresentationModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/scheduling/NotificationScheduler.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/scheduling/NotificationScheduler.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/permissions/NotificationPermissionsModule.kt
Labels: bot: suggestions

#24495 [notifications] Use `requireNativeModule` instead of `NativeModulesProxy`
  packages/expo-notifications/build/BackgroundNotificationTasksModule.native.d.ts.map
  packages/expo-notifications/build/BackgroundNotificationTasksModule.native.js
  packages/expo-notifications/build/BackgroundNotificationTasksModule.native.js.map
  packages/expo-notifications/build/BadgeModule.native.d.ts.map
  packages/expo-notifications/build/BadgeModule.native.js
  packages/expo-notifications/build/BadgeModule.native.js.map
  packages/expo-notifications/build/NotificationCategoriesModule.native.d.ts.map
  packages/expo-notifications/build/NotificationCategoriesModule.native.js
  packages/expo-notifications/build/NotificationCategoriesModule.native.js.map
  packages/expo-notifications/build/NotificationChannelGroupManager.native.d.ts.map
  packages/expo-notifications/build/NotificationChannelGroupManager.native.js
  packages/expo-notifications/build/NotificationChannelGroupManager.native.js.map
  packages/expo-notifications/build/NotificationChannelManager.native.d.ts.map
  packages/expo-notifications/build/NotificationChannelManager.native.js
  packages/expo-notifications/build/NotificationChannelManager.native.js.map
  packages/expo-notifications/build/NotificationPermissionsModule.native.d.ts.map
  packages/expo-notifications/build/NotificationPermissionsModule.native.js
  packages/expo-notifications/build/NotificationPermissionsModule.native.js.map
  packages/expo-notifications/build/NotificationPresenterModule.native.d.ts.map
  packages/expo-notifications/build/NotificationPresenterModule.native.js
  packages/expo-notifications/build/NotificationPresenterModule.native.js.map
  packages/expo-notifications/build/NotificationScheduler.native.d.ts.map
  packages/expo-notifications/build/NotificationScheduler.native.js
  packages/expo-notifications/build/NotificationScheduler.native.js.map
  packages/expo-notifications/build/NotificationsEmitterModule.native.d.ts.map
  packages/expo-notifications/build/NotificationsEmitterModule.native.js
  packages/expo-notifications/build/NotificationsEmitterModule.native.js.map
  packages/expo-notifications/build/NotificationsHandlerModule.native.d.ts.map
  packages/expo-notifications/build/NotificationsHandlerModule.native.js
  packages/expo-notifications/build/NotificationsHandlerModule.native.js.map
  packages/expo-notifications/build/PushTokenManager.native.d.ts.map
  packages/expo-notifications/build/PushTokenManager.native.js
  packages/expo-notifications/build/PushTokenManager.native.js.map
  packages/expo-notifications/build/ServerRegistrationModule.native.d.ts.map
  packages/expo-notifications/build/ServerRegistrationModule.native.js
  packages/expo-notifications/build/ServerRegistrationModule.native.js.map
  packages/expo-notifications/src/BackgroundNotificationTasksModule.native.ts
  packages/expo-notifications/src/BadgeModule.native.ts
  packages/expo-notifications/src/NotificationCategoriesModule.native.ts
  packages/expo-notifications/src/NotificationChannelGroupManager.native.ts
  packages/expo-notifications/src/NotificationChannelManager.native.ts
  packages/expo-notifications/src/NotificationPermissionsModule.native.ts
  packages/expo-notifications/src/NotificationPresenterModule.native.ts
  packages/expo-notifications/src/NotificationScheduler.native.ts
  packages/expo-notifications/src/NotificationsEmitterModule.native.ts
  packages/expo-notifications/src/NotificationsHandlerModule.native.ts
  packages/expo-notifications/src/PushTokenManager.native.ts
  packages/expo-notifications/src/ServerRegistrationModule.native.ts
Labels: bot: suggestions

#24517 [templates][android] update template to replace usesCleartextTraffic
  templates/expo-template-bare-minimum/android/app/src/debug/AndroidManifest.xml
Labels: bot: passed checks

#24502 [dev-launcher] Fix useFocusEffect import
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/screens/HomeScreen.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks

#24457 fix(router): fix router.replace() navigation across nested navigators
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/link/stateOperations.d.ts
  packages/expo-router/build/link/stateOperations.d.ts.map
  packages/expo-router/build/link/stateOperations.js
  packages/expo-router/build/link/stateOperations.js.map
  packages/expo-router/src/__tests__/navigation.test.tsx
  packages/expo-router/src/__tests__/smoke.test.tsx
  packages/expo-router/src/global-state/__tests__/routing.test.node.ts
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/link/__tests__/stateOperations.test.node.ts
  packages/expo-router/src/link/stateOperations.ts
Labels: bot: passed checks, Router

#24524 [android][image-picker] Support filename and filesize on android
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerResponse.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/MediaHandler.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/ImageLibraryContract.kt
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#24520 [fingerprint] revamp config-plugins sourcer
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/README.md
  packages/@expo/fingerprint/__mocks__/@expo/spawn-async.ts
  packages/@expo/fingerprint/__mocks__/fs/promises.ts
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/hash/Hash.d.ts
  packages/@expo/fingerprint/build/hash/Hash.js
  packages/@expo/fingerprint/build/hash/Hash.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/sourcer/ExpoConfigLoader.d.ts
  packages/@expo/fingerprint/build/sourcer/ExpoConfigLoader.js
  packages/@expo/fingerprint/build/sourcer/ExpoConfigLoader.js.map
  packages/@expo/fingerprint/build/utils/Path.d.ts
  packages/@expo/fingerprint/build/utils/Path.js
  packages/@expo/fingerprint/build/utils/Path.js.map
  packages/@expo/fingerprint/e2e/__tests__/bare-test.ts
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/package.json
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/hash/Hash.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/ExpoConfigLoader.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/PatchPackage-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Sourcer-test.ts
  packages/@expo/fingerprint/src/utils/Path.ts
  packages/@expo/fingerprint/src/utils/__tests__/Path-test.ts
Labels: bot: passed checks

#24360 fix(package-manager): detect `bun` before `yarn` to allow `bun install --yarn` usage
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/utils/nodeManagers.js
  packages/@expo/package-manager/build/utils/nodeManagers.js.map
  packages/@expo/package-manager/src/utils/__tests__/nodeManagers-test.ts
  packages/@expo/package-manager/src/utils/nodeManagers.ts
Labels: bot: passed checks

#24506 [docs] Move API Routes guide under Preview
  docs/constants/navigation.js
  docs/pages/preview/api-routes.mdx
Labels: bot: passed checks

#24539 fix(package-manager): resolve linting issues and commit build files
  packages/@expo/package-manager/build/node/BunPackageManager.js
  packages/@expo/package-manager/build/node/BunPackageManager.js.map
  packages/@expo/package-manager/src/node/BunPackageManager.ts
Labels: bot: suggestions

#24203 [android] Remove unnecessary version checks
  android/app/src/androidTest/java/host/exp/exponent/utils/DeviceUtils.kt
  android/expoview/src/main/java/host/exp/exponent/LauncherActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  android/expoview/src/main/java/host/exp/exponent/utils/ExperienceActivityUtils.kt
  android/expoview/src/main/java/host/exp/exponent/utils/ScopedPermissionsRequester.kt
  android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
  packages/expo-av/android/src/main/java/expo/modules/av/player/MediaPlayerData.java
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.kt
  packages/expo-brightness/android/src/main/java/expo/modules/brightness/BrightnessModule.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardFileProvider.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/configurators/DevLauncherExpoActivityConfigurator.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/devtools/DevMenuDevToolsDelegate.kt
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/permissions/PermissionsService.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/singletons/NavigationBar.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/permissions/NotificationPermissionsModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoPresentationDelegate.kt
  packages/expo-secure-store/android/src/main/java/expo/modules/securestore/SecureStoreModule.kt
  packages/expo-secure-store/android/src/main/java/expo/modules/securestore/encryptors/HybridAESEncryptor.kt
Labels: bot: suggestions

#24529 feat(cli): reduce static group routes
  apps/router-e2e/__e2e__/server/app/(alpha)/beta.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/src/export/__tests__/exportStaticAsync.test.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
Labels: bot: passed checks

#24371 [docs] Add a guide on how to build apps locally
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/constants/navigation.js
  docs/pages/deploy/build-project.mdx
  docs/pages/develop/development-builds/create-a-build.mdx
  docs/pages/develop/development-builds/development-workflows.mdx
  docs/pages/guides/local-app-development.mdx
Labels: bot: passed checks, preview

#24525 chore(router): throw errors in tests
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/__tests__/navigation.test.tsx
Labels: bot: passed checks

#24546 feat(cli): Improve truncated Metro Node.js errors.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
Labels: bot: passed checks

#24510 feat(server): add Netlify adapter
  docs/pages/preview/api-routes.mdx
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/adapter/express.d.ts
  packages/@expo/server/adapter/express.js
  packages/@expo/server/adapter/netlify.d.ts
  packages/@expo/server/adapter/netlify.js
  packages/@expo/server/build/vendor/netlify.d.ts
  packages/@expo/server/build/vendor/netlify.js
  packages/@expo/server/build/vendor/netlify.js.map
  packages/@expo/server/package.json
  packages/@expo/server/src/vendor/netlify.ts
  yarn.lock
Labels: bot: passed checks
