Repository expo/expo, pull requests merged in 2024-02, with the labels that each got.

#26810 [config-plugins][expo-updates] Remove unused methods
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Updates.d.ts
  packages/@expo/config-plugins/build/android/Updates.js
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/build/ios/Updates.d.ts
  packages/@expo/config-plugins/build/ios/Updates.js
  packages/@expo/config-plugins/build/ios/Updates.js.map
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/android/__tests__/Updates-test.ts
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Updates-test.ts.snap
  packages/@expo/config-plugins/src/ios/Updates.ts
  packages/@expo/config-plugins/src/ios/__tests__/Updates-test.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Updates-test.ts.snap
Labels: bot: passed checks, bot: fingerprint changed

#26835 [ci] Pin cocoapods to version 1.14.3 in nightly workflow
  .github/workflows/test-react-native-nightly.yml
Labels: bot: passed checks

#26826 [ci] Switch iOS jobs to run on macos-14 runners
  .github/workflows/development-client.yml
  .github/workflows/ios-unit-tests.yml
  .github/workflows/test-suite.yml
  apps/bare-expo/scripts/start-ios-e2e-test.ts
Labels: bot: passed checks, bot: fingerprint changed

#26819 [docs] make it easier to copy headings/collapsible permalink
  docs/.eslintrc.cjs
  docs/common/headingManager.ts
  docs/common/useCopy.tsx
  docs/components/Permalink.tsx
  docs/components/icons/Permalink.tsx
  docs/components/plugins/APIBox.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/components/plugins/permissions/AndroidPermissions.tsx
  docs/components/plugins/permissions/IOSPermissions.tsx
  docs/package.json
  docs/tailwind.config.cjs
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Permalink/Permalink.tsx
  docs/ui/components/Permalink/PermalinkBase.tsx
  docs/ui/components/Permalink/PermalinkCopyButton.tsx
  docs/ui/components/Permalink/PermalinkIcon.tsx
  docs/ui/components/Permalink/index.tsx
  docs/ui/components/Tag/PlatformTags.tsx
  docs/ui/components/Text/index.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#26800 [cli] Add --active-arch-only flag
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/android/__tests__/resolveGradleProps-test.ts
  packages/@expo/cli/src/run/android/__tests__/resolveGradlePropsAsync-test.ts
  packages/@expo/cli/src/run/android/__tests__/resolveInstallApkName-test.ts
  packages/@expo/cli/src/run/android/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/run/android/__tests__/runAndroidAsync-test.ts
  packages/@expo/cli/src/run/android/index.ts
  packages/@expo/cli/src/run/android/resolveGradlePropsAsync.ts
  packages/@expo/cli/src/run/android/resolveInstallApkName.ts
  packages/@expo/cli/src/run/android/resolveOptions.ts
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/start/platforms/android/gradle.ts
Labels: bot: passed checks, bot: fingerprint changed

#26812 feat(cli): add stack traces to warnings and errors that originate in SSR
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/server/__tests__/__snapshots__/serverLogLikeMetro.test.ts.snap
  packages/@expo/cli/src/start/server/__tests__/serverLogLikeMetro.test.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroTerminalReporter-test.ts
  packages/@expo/cli/src/start/server/metro/__tests__/__snapshots__/MetroTerminalReporter-test.ts.snap
  packages/@expo/cli/src/start/server/serverLogLikeMetro.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/src/customizeFrame.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/HMRClient.d.ts.map
  packages/@expo/metro-runtime/build/HMRClient.js
  packages/@expo/metro-runtime/build/HMRClient.js.map
  packages/@expo/metro-runtime/src/HMRClient.ts
Labels: bot: passed checks, bot: fingerprint changed

#26769 [docs] Add a guide on how to support other platforms in Expo modules
  docs/constants/navigation.js
  docs/pages/modules/additional-platform-support.mdx
Labels: bot: passed checks, preview

#26864 [go] Update calendar permissions
  apps/expo-go/ios/Exponent/Supporting/Info.plist
Labels: bot: passed checks

#26604 [docs] Reference prebuild workaround for private package registry
  docs/pages/workflow/prebuild.mdx
Labels: bot: passed checks

#26834 chore(expo-router): reduce usage of expo-constants
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/__snapshots__/MetroTerminalReporter-test.ts.snap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/extractPathFromURL.d.ts.map
  packages/expo-router/build/fork/extractPathFromURL.js
  packages/expo-router/build/fork/extractPathFromURL.js.map
  packages/expo-router/build/head/ExpoHeadModule.d.ts
  packages/expo-router/build/head/ExpoHeadModule.d.ts.map
  packages/expo-router/build/head/ExpoHeadModule.js
  packages/expo-router/build/head/ExpoHeadModule.js.map
  packages/expo-router/build/head/ExpoHeadModule.native.d.ts
  packages/expo-router/build/head/ExpoHeadModule.native.d.ts.map
  packages/expo-router/build/head/ExpoHeadModule.native.js
  packages/expo-router/build/head/ExpoHeadModule.native.js.map
  packages/expo-router/build/link/linking.d.ts.map
  packages/expo-router/build/link/linking.js
  packages/expo-router/build/link/linking.js.map
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/fork/__tests__/extractPathFromURL.test.ios.ts
  packages/expo-router/src/fork/extractPathFromURL.ts
  packages/expo-router/src/head/ExpoHeadModule.native.ts
  packages/expo-router/src/head/ExpoHeadModule.ts
  packages/expo-router/src/link/linking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#26861 fix(router): fix issue with top-level catch-all not being matched in server renderer
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/getServerManifest.d.ts
  packages/expo-router/build/getServerManifest.d.ts.map
  packages/expo-router/build/getServerManifest.js
  packages/expo-router/build/getServerManifest.js.map
  packages/expo-router/src/__tests__/getServerManifest.test.web.ts
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/getServerManifest.ts
Labels: bot: passed checks, bot: fingerprint changed

#26724 [modules-core] add convertible support for `PlatformColor` and `DynamicColorIOS`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Convertibles/Convertibles+Color.swift
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: passed checks

#26868 fix(cli): filter url stacks out of node logs
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/serverLogLikeMetro.ts
Labels: bot: suggestions, bot: fingerprint compatible

#26881 [core][Android] Fix activity contract registration after host destruction
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
Labels: bot: suggestions, bot: fingerprint changed

#26882 [ios][camera] Fix maxDuration on videos
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Next/CameraViewNext.swift
Labels: bot: passed checks, bot: fingerprint changed

#26880 [ios][file-system] Fix uploads
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemExceptions.swift
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/ios/NetworkingHelpers.swift
  packages/expo-file-system/ios/Tests/EXFileSystemSpec.swift
Labels: bot: passed checks, bot: fingerprint compatible

#26862 chore: drop all unused E2E web code
  .github/CODEOWNERS
  .github/workflows/publish-demo.yml
  .github/workflows/test-suite.yml
  .github/workflows/web.yml
  CONTRIBUTING.md
  apps/bare-expo/app.json
  apps/bare-expo/e2e/TestSuite-test.web.js
  apps/bare-expo/e2e/jest.config.web.js
  apps/bare-expo/jest-puppeteer.config.js
  apps/bare-expo/now.json
  apps/bare-expo/package.json
  apps/native-component-list/app.json
  apps/native-component-list/babel.config.js
  apps/native-component-list/now.json
  apps/native-component-list/web/favicon-16.png
  apps/native-component-list/web/favicon-32.png
  apps/native-component-list/web/favicon.ico
  apps/native-component-list/web/index.html
  apps/native-component-list/web/manifest.json
  apps/native-component-list/web/pwa/apple-touch-icon/apple-touch-icon-180.png
  apps/native-component-list/web/pwa/chrome-icon/chrome-icon-144.png
  apps/native-component-list/web/pwa/chrome-icon/chrome-icon-192.png
  apps/native-component-list/web/pwa/chrome-icon/chrome-icon-512.png
  apps/native-component-list/webpack.config.js
  apps/test-suite/babel.config.js
  apps/test-suite/screens/TestScreen.js
  apps/test-suite/webpack.config.js
  guides/releasing/Release Workflow.md
  package.json
  packages/html-elements/README.md
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#26885 [docs] Fix broken internal links
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/debugging/devtools-plugins.mdx
  docs/pages/workflow/customizing.mdx
Labels: bot: passed checks

#26883 [camera-next][docs] Fix not found link issue
  docs/public/static/data/unversioned/expo-camera-next.json
  docs/public/static/data/v50.0.0/expo-camera-next.json
  packages/expo-camera/build/next/CameraView.d.ts
  packages/expo-camera/build/next/CameraView.js
  packages/expo-camera/build/next/CameraView.js.map
  packages/expo-camera/src/next/CameraView.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#26867 [docs] tweaks for the permalinks in collapsibles, icon switch
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Permalink/PermalinkCopyButton.tsx
Labels: bot: passed checks, preview

#26888 [camera] Fix barcodeTypes prop in types and in Swift
  apps/native-component-list/src/screens/Camera/CameraScreenNext.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/records/CameraRecords.kt
  packages/expo-camera/build/next/Camera.types.d.ts
  packages/expo-camera/build/next/Camera.types.js.map
  packages/expo-camera/ios/Next/BarcodeRecord.swift
  packages/expo-camera/ios/Next/BarcodeScanner.swift
  packages/expo-camera/src/next/Camera.types.ts
Labels: bot: passed checks

#26756 [expo-updates] Add assets:verify command to CLI
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/cli/__tests__/assetsVerify-test.ts
  packages/expo-updates/cli/assetsVerify.ts
  packages/expo-updates/cli/assetsVerifyAsync.ts
  packages/expo-updates/cli/assetsVerifyTypes.ts
  packages/expo-updates/cli/cli.ts
  packages/expo-updates/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#26902 Update from-react-navigation.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
Labels: bot: passed checks

#26896 [docs] change github feature preview notice theme to info
  docs/pages/build/building-from-github.mdx
Labels: bot: passed checks

#26905 [docs] remove the ability to copy permalink via one click
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/ui/components/Collapsible/index.tsx
  docs/ui/components/Permalink/Permalink.tsx
  docs/ui/components/Permalink/PermalinkCopyButton.tsx
  docs/ui/components/Permalink/index.tsx
Labels: bot: passed checks, preview

#26913 [docs] Update native-module-tutorial.mdx
  docs/pages/modules/native-module-tutorial.mdx
Labels: bot: passed checks

#26911 doc: update devtools-plugins.mdx
  docs/pages/debugging/devtools-plugins.mdx
Labels: bot: passed checks

#26918 [docs] Update outdated screenshots in EAS Update debugging guides
  docs/pages/eas-update/debug.mdx
  docs/public/static/images/eas-update/branch-update-list.png
  docs/public/static/images/eas-update/deployments-website-tab.png
Labels: bot: passed checks

#26919 [docs] Update FCM Legacy steps and image in Push notifications setup
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/public/static/images/notifications/server-key-from-fcm.jpg
  docs/public/static/images/notifications/server-key-from-fcm.png
Labels: bot: passed checks

#25391 [android][barcode-scanner] Return raw barcode value from scan results
  packages/expo-barcode-scanner/CHANGELOG.md
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannedEvent.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/BarCodeScannerView.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/scanners/MLKitBarCodeScanner.kt
  packages/expo-barcode-scanner/android/src/main/java/expo/modules/barcodescanner/utils/BarCodeScannerResultSerializer.kt
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts
  packages/expo-barcode-scanner/build/BarCodeScanner.d.ts.map
  packages/expo-barcode-scanner/build/BarCodeScanner.js.map
  packages/expo-barcode-scanner/src/BarCodeScanner.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/Events.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/analyzers/BarcodeAnalyzer.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/next/Camera.types.d.ts
  packages/expo-camera/build/next/Camera.types.d.ts.map
  packages/expo-camera/build/next/Camera.types.js.map
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/next/Camera.types.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerResult.java
Labels: bot: passed checks

#26921 [docs] Update `useUpdates` hook example in Updates API
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-updates/build/UseUpdates.d.ts
  packages/expo-updates/build/UseUpdates.d.ts.map
  packages/expo-updates/build/UseUpdates.js
  packages/expo-updates/build/UseUpdates.js.map
  packages/expo-updates/src/UseUpdates.ts
Labels: bot: passed checks, preview, bot: fingerprint changed

#26928 [docs] silence expected error in test suite
  docs/components/plugins/APISection.test.tsx
Labels: bot: passed checks

#26419 [image-picker] convert WEBP to PNG instead JPEG
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerUtils.kt
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: passed checks

#26886 [android][camera] Fix barcode scanning by setting higher resolution scan
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/ExpoCameraView.kt
Labels: bot: passed checks

#26792 [image][Android] Add downsampling when the asset exceeds the max bitmap size limit
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/CustomDownsampleStrategy.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
  packages/expo-image/android/src/main/java/expo/modules/image/records/DecodeFormat.kt
Labels: bot: suggestions, bot: fingerprint changed

#26906 [modules] Make ObjectDeallocator a native state instead of a host object
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptClassTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/common/cpp/ObjectDeallocator.cpp
  packages/expo-modules-core/common/cpp/ObjectDeallocator.h
Labels: bot: suggestions, bot: fingerprint changed

#26831 [crypto] Add support for macOS platform
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  packages/expo-crypto/CHANGELOG.md
  packages/expo-crypto/expo-module.config.json
  packages/expo-crypto/ios/ExpoCrypto.podspec
Labels: bot: passed checks, bot: fingerprint changed

#26933 [et] Fix publish command failing with `git exited with non-zero code: 1`
  tools/src/Workspace.ts
  tools/src/publish-packages/tasks/updateIosProjects.ts
Labels: bot: passed checks

#26838 [cli] Update ngrok instance to use https
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/AsyncNgrok.ts
  packages/@expo/cli/src/start/server/UrlCreator.ts
  packages/@expo/cli/src/start/server/__tests__/AsyncNgrok-test.ts
  packages/@expo/cli/src/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  templates/expo-template-bare-minimum/ios/HelloWorld/Info.plist
Labels: bot: passed checks, bot: fingerprint compatible

#26860 [doctor] Check that custom metro config extends @expo/metro-config
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/MetroConfigCheck.ts
  packages/expo-doctor/src/checks/__tests__/MetroConfigCheck.test.ts
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/utils/metroConfigLoader.ts
  packages/expo-doctor/ts-declarations/metro-config/index.d.ts
  packages/expo-doctor/ts-declarations/metro/index.d.ts
Labels: bot: passed checks, bot: fingerprint changed

#26854 [doctor] metro-config deep dependency check
  guides/releasing/Release Workflow.md
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/SupportPackageVersionCheck.ts
  packages/expo-doctor/src/checks/__tests__/SupportPackageVersionCheck.test.ts
  packages/expo-doctor/src/utils/strings.ts
Labels: bot: passed checks, bot: fingerprint compatible

#26932 Fix linking `expo` package when Expo autolinking is not used
  packages/expo/CHANGELOG.md
  packages/expo/Expo.podspec
Labels: bot: passed checks, bot: fingerprint changed

#26929 Add check in expo-doctor for expo-permissions
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/DirectPackageInstallCheck.ts
  packages/expo-doctor/src/checks/__tests__/DirectPackageInstallCheck.test.ts
Labels: bot: passed checks

#26870 [go] Add metadata field to Feedback form
  apps/expo-go/package.json
  apps/expo-go/src/screens/FeedbackFormScreen/index.tsx
Labels: bot: passed checks

#26931 Update jest mocks for sdk50
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions, bot: fingerprint changed

#26912 docs: fix missing bracket in fonts.mdx
  docs/pages/develop/user-interface/fonts.mdx
Labels: bot: passed checks

#26940 [expo-updates] Fix assets:verify command for images with multiple scales
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/cli/__tests__/assetsVerify-test.ts
  packages/expo-updates/cli/assetsVerify.ts
  packages/expo-updates/cli/assetsVerifyAsync.ts
  packages/expo-updates/cli/assetsVerifyTypes.ts
Labels: bot: passed checks, bot: fingerprint compatible

#26900 [camera] Fix type casing
  apps/native-component-list/src/screens/Camera/CameraScreenNext.tsx
  apps/native-component-list/src/screens/Camera/CameraScreenNextBarcode.tsx
  apps/native-tests/ios/Podfile.properties.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/CameraViewNextModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/analyzers/BarcodeAnalyzer.kt
  packages/expo-camera/build/next/Camera.types.d.ts
  packages/expo-camera/build/next/Camera.types.js.map
  packages/expo-camera/build/next/CameraView.d.ts
  packages/expo-camera/build/next/CameraView.js
  packages/expo-camera/build/next/CameraView.js.map
  packages/expo-camera/build/next/utils/props.d.ts.map
  packages/expo-camera/build/next/utils/props.js
  packages/expo-camera/build/next/utils/props.js.map
  packages/expo-camera/ios/Next/BarcodeScanner.swift
  packages/expo-camera/ios/Next/BarcodeScannerUtils.swift
  packages/expo-camera/ios/Next/CameraViewNext.swift
  packages/expo-camera/src/next/Camera.types.ts
  packages/expo-camera/src/next/CameraView.tsx
  packages/expo-camera/src/next/utils/props.ts
Labels: bot: passed checks, bot: fingerprint changed

#26947 [core][Android] Simplify `createJavaCallbackFromJSIFunction`
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/main/cpp/JavaCallback.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaCallback.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/ClassRegistry.kt
Labels: bot: suggestions, bot: fingerprint changed

#26959 Update xcodeProject-rn072-updated.pbxproj
  packages/install-expo-modules/src/plugins/cli/__tests__/fixtures/xcodeProject-rn072-updated.pbxproj
Labels: bot: suggestions, bot: fingerprint compatible

#26944 [core][Android] Ensure that `onCreate` before `OnActivityEntersForeground` event
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
Labels: bot: suggestions, bot: fingerprint changed

#26965 [blur][linear-gradient] Add Apple TV support
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/expo-module.config.json
  packages/expo-blur/ios/ExpoBlur.podspec
  packages/expo-blur/ios/TintStyle.swift
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/expo-module.config.json
  packages/expo-linear-gradient/ios/ExpoLinearGradient.podspec
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#26833 [docs] List multiple identity providers, link to config guides
  docs/pages/accounts/sso.mdx
Labels: bot: passed checks

#26979 [expo go] show app icon in for local development
  apps/expo-go/src/menu/DevMenuTaskInfo.tsx
  apps/expo-go/src/screens/HomeScreen/RecentlyOpenedListItem/index.tsx
  apps/expo-go/src/screens/HomeScreen/RecentlyOpenedSection.tsx
Labels: bot: passed checks

#26960 fix(cli): prevent run commands from hanging when the process completes.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#26986 [docs] updates: remove known issue
  docs/pages/eas-update/known-issues.mdx
Labels: bot: passed checks

#26988 [expo-updates] Make error messages consistent across platforms for dev client and disabled controllers
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
Labels: bot: passed checks, bot: fingerprint changed

#26996 [docs] Update @babel/plugin-proposal-export-namespace-from in gestures.mdx
  docs/pages/tutorial/gestures.mdx
Labels: bot: passed checks

#26950 [docs] Revise monorepo guide
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#26990 [android] Add application to Home activity modules
  android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
Labels: bot: passed checks

#26999 [docs] add the latest Evan's podcasts
  docs/public/static/talks.ts
Labels: bot: passed checks

#26821 [Android] Use cache-friendly exec
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/build.gradle
  apps/bare-expo/android/settings.gradle
  packages/expo-av/android/build.gradle
  packages/expo-constants/scripts/get-app-config-android.gradle
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-menu/android/build.gradle
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-core/android/build.gradle
  packages/expo/android/build.gradle
  packages/expo/scripts/autolinking.gradle
Labels: bot: suggestions, bot: fingerprint changed

#26997 [docs] Add a note about non-expo modules autolinking
  docs/pages/modules/autolinking.mdx
Labels: bot: passed checks

#26961 [docs] no more migrators from expo build
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/archive/classic-builds/migrating.mdx
  docs/pages/build/setup.mdx
Labels: bot: passed checks, preview

#26994 [expo-updates][android] Fix tests
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/launcher/DatabaseLauncherTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: suggestions, bot: fingerprint changed

#26987 [docs] Add BugSnag guide
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/guides/using-bugsnag.mdx
Labels: bot: passed checks, preview

#26955 [dev-menu] Allow registerDevMenuItems in non-dev bundles
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/build/DevMenu.d.ts.map
  packages/expo-dev-menu/build/DevMenu.js
  packages/expo-dev-menu/build/DevMenu.js.map
  packages/expo-dev-menu/src/DevMenu.ts
Labels: bot: passed checks, bot: fingerprint changed

#27013 Fix expo router src log memo.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/router.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27014 feat(metro-config): Add support for splitting on `require.resolveWeak` syntax.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
Labels: bot: suggestions, bot: fingerprint compatible

#26957 [expo-updates] remove use of legacy sdkVersion runtimeVersion policy
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/ExpoUpdatesManifest.kt
  packages/expo-manifests/android/src/test/java/expo/modules/manifests/core/ExpoUpdatesManifestTest.kt
  packages/expo-manifests/ios/EXManifests/ExpoUpdatesManifest.swift
  packages/expo-manifests/ios/Tests/ExpoUpdatesManifestSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#27009 [docs] Organize archived classic builds section
  docs/common/error-utilities.test.ts
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/archive/classic-builds/building-standalone-apps.mdx
  docs/pages/archive/classic-builds/migrating.mdx
  docs/pages/archive/classic-builds/turtle-cli.mdx
Labels: bot: passed checks

#27004 [core][Android] Add syntactic sugar for defining a prop group
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
Labels: bot: suggestions, bot: fingerprint changed

#27010 [dev-launcher][android] Replace DevLoadingModule with custom implementation
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherDevLoadingModule.kt
Labels: bot: passed checks

#27002 [font] Only include supported font files
  packages/expo-font/CHANGELOG.md
  packages/expo-font/plugin/build/utils.js
  packages/expo-font/plugin/build/withFontsAndroid.js
  packages/expo-font/plugin/src/utils.ts
  packages/expo-font/plugin/src/withFontsAndroid.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27019 Update using-sentry.mdx
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#26985 feat(cli): add `--no-bytecode` flag to `expo export`.
  apps/router-e2e/app.config.js
  docs/pages/guides/analyzing-bundles.mdx
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/export.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export.test.ts
  packages/@expo/cli/e2e/__tests__/export/no-bytecode.test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/export/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/export/__tests__/saveAssets-test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/export/index.ts
  packages/@expo/cli/src/export/resolveOptions.ts
  packages/@expo/cli/src/export/saveAssets.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/metroOptions.test.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/rewriteRequestUrl.js
  packages/@expo/metro-config/build/rewriteRequestUrl.js.map
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.d.ts
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.d.ts
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/build/transform-worker/resolveOptions.d.ts
  packages/@expo/metro-config/build/transform-worker/resolveOptions.js
  packages/@expo/metro-config/build/transform-worker/resolveOptions.js.map
  packages/@expo/metro-config/src/__tests__/rewriteRequestUrl.test.ts
  packages/@expo/metro-config/src/rewriteRequestUrl.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.test.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.ts
  packages/@expo/metro-config/src/serializer/fork/baseJSBundle.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/metro-transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/resolveOptions.test.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/@expo/metro-config/src/transform-worker/resolveOptions.ts
Labels: bot: passed checks, bot: fingerprint changed

#27017 [module-template] Replace babel module resolver with extraNodeModules in Metro config
  packages/expo-module-template/example/babel.config.js
  packages/expo-module-template/example/metro.config.js
Labels: bot: passed checks, bot: fingerprint changed

#26772 [cli] Update expo go installation prompt message
  packages/@expo/cli/src/start/platforms/DeviceManager.ts
  packages/@expo/cli/src/start/platforms/ExpoGoInstaller.ts
  packages/@expo/cli/src/start/platforms/PlatformManager.ts
  packages/@expo/cli/src/start/platforms/__tests__/ExpoGoInstaller-test.ts
  packages/@expo/cli/src/start/platforms/__tests__/PlatformManager-test.ts
  packages/@expo/cli/src/start/platforms/android/AndroidDeviceManager.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/AndroidPlatformManager-test.ts
  packages/@expo/cli/src/start/platforms/ios/AppleDeviceManager.ts
  packages/@expo/cli/src/utils/downloadExpoGoAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27008 [docs] New expo-updates assets:verify CLI command
  docs/pages/eas-update/asset-selection.mdx
Labels: bot: passed checks

#27033 [core] Fix test for Date convertible to use GMT timezone
  packages/expo-modules-core/ios/Tests/ConvertiblesSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#27034 [CI] Downgrade Maestro to 1.33.1 to fix timeouts
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#27029 [CI] Update runners and Xcode for testing nightlies
  .github/workflows/test-react-native-nightly.yml
  .github/workflows/test-suite-nightly.yml
Labels: bot: passed checks, bot: fingerprint changed

#27032 [iOS] Move away from SharedObjectRegistry being a singleton
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/Core/Classes/ClassDefinition.swift
  packages/expo-modules-core/ios/Core/Conversions.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicSharedObjectType.swift
  packages/expo-modules-core/ios/Core/ModuleHolder.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObject.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObjectRegistry.swift
  packages/expo-modules-core/ios/Tests/ClassDefinitionSpec.swift
  packages/expo-modules-core/ios/Tests/DynamicTypeSpec.swift
  packages/expo-modules-core/ios/Tests/SharedObjectRegistrySpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#27030 [camera][docs] regenerate data, small doc pages tweaks
  docs/pages/versions/unversioned/sdk/camera-next.mdx
  docs/pages/versions/v50.0.0/sdk/camera-next.mdx
  docs/public/static/data/unversioned/expo-camera-next.json
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v50.0.0/expo-camera-next.json
Labels: bot: passed checks

#27023 [docs] Update Use a Google Font section
  docs/pages/develop/user-interface/fonts.mdx
Labels: bot: passed checks, preview

#27036 [ncl][test-suite] Replace http urls with https
  apps/native-component-list/src/screens/AV/VideoScreen.tsx
  apps/native-component-list/src/screens/Contacts/ContactDetailScreen.tsx
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  apps/native-component-list/src/screens/GL/WebGL2TransformFeedbackScreen.tsx
  apps/native-component-list/src/screens/GifScreen.tsx
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  apps/test-suite/tests/Audio.js
  apps/test-suite/tests/AuthSession.js
  apps/test-suite/tests/FileSystem.js
  apps/test-suite/tests/Notifications.js
  apps/test-suite/tests/Video.js
Labels: bot: passed checks, bot: fingerprint compatible

#27031 [updates] try to fix updates e2e test error
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.kt
Labels: bot: passed checks, bot: fingerprint changed

#26711 [router] add pop/popToTop/canPop
  docs/pages/router/advanced/stack.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/router-store.d.ts
  packages/expo-router/build/global-state/router-store.d.ts.map
  packages/expo-router/build/global-state/router-store.js
  packages/expo-router/build/global-state/router-store.js.map
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/types.d.ts
  packages/expo-router/build/types.d.ts.map
  packages/expo-router/build/types.js.map
  packages/expo-router/src/__tests__/stacks.test.ios.tsx
  packages/expo-router/src/global-state/router-store.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/imperative-api.ts
  packages/expo-router/src/types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#26710 [router]: include search parameters in the default Screen.getId()
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/index.d.ts
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/build/useScreens.d.ts
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/__tests__/getId.test.tsx
  packages/expo-router/src/__tests__/search-params.test.ios.tsx
  packages/expo-router/src/testing-library/index.tsx
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#25930 fix(metro-config): Remove extraneous Babel pass
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/metro-transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/metro-transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions, bot: fingerprint changed

#27041 feat(cli): skip bundling production react modules in development
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportAsync.ts
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroMultiPlatform.test.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27056 [docs] PROVIDER_GOOGLE usage correction
  docs/pages/versions/unversioned/sdk/map-view.mdx
Labels: bot: passed checks

#26962 [docs] deprecate Classic Updates
  docs/pages/eas-update/develop-faster.mdx
  docs/pages/eas-update/faq.mdx
  docs/pages/eas-update/introduction.mdx
Labels: bot: passed checks

#27061 refactor(cli): enable lazy swc bundling
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/config-test.ts
  packages/@expo/cli/e2e/__tests__/customize-test.ts
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/e2e/__tests__/export-web-test.ts
  packages/@expo/cli/e2e/__tests__/export.test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/login-test.ts
  packages/@expo/cli/e2e/__tests__/logout-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/e2e/__tests__/register-test.ts
  packages/@expo/cli/e2e/__tests__/run-android-test.ts
  packages/@expo/cli/e2e/__tests__/run-ios-test.ts
  packages/@expo/cli/e2e/__tests__/run-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/whoami-test.ts
  packages/@expo/cli/taskfile-swc.js
Labels: bot: passed checks, bot: fingerprint changed

#26578 [router] move typed-routes logic into expo-router
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/type-generation/routes.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/_ctx-shared.js
  packages/expo-router/build/getRoutes.d.ts
  packages/expo-router/build/getRoutes.d.ts.map
  packages/expo-router/build/getRoutes.js
  packages/expo-router/build/getRoutes.js.map
  packages/expo-router/build/matchers.d.ts
  packages/expo-router/build/matchers.d.ts.map
  packages/expo-router/build/matchers.js
  packages/expo-router/build/matchers.js.map
  packages/expo-router/build/testing-library/index.d.ts
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/build/testing-library/require-context-ponyfill.d.ts
  packages/expo-router/build/testing-library/require-context-ponyfill.d.ts.map
  packages/expo-router/build/testing-library/require-context-ponyfill.js
  packages/expo-router/build/testing-library/require-context-ponyfill.js.map
  packages/expo-router/build/typed-routes/generate.d.ts
  packages/expo-router/build/typed-routes/generate.d.ts.map
  packages/expo-router/build/typed-routes/generate.js
  packages/expo-router/build/typed-routes/generate.js.map
  packages/expo-router/build/typed-routes/index.d.ts
  packages/expo-router/build/typed-routes/index.d.ts.map
  packages/expo-router/build/typed-routes/index.js
  packages/expo-router/build/typed-routes/index.js.map
  packages/expo-router/src/__tests__/type-generation.test.web.ts
  packages/expo-router/src/getRoutes.ts
  packages/expo-router/src/matchers.tsx
  packages/expo-router/src/testing-library/index.tsx
  packages/expo-router/src/testing-library/require-context-ponyfill.ts
  packages/expo-router/src/typed-routes/generate.ts
  packages/expo-router/src/typed-routes/index.ts
  packages/expo-router/tsconfig.json
  packages/expo-router/types/expo-router.d.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27058 [docs] update styleguide packages
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#27049 [docs] Update localization guide
  docs/pages/guides/localization.mdx
Labels: bot: passed checks, preview

#26978 [docs] Add mockgen reference to docs
  docs/constants/navigation.js
  docs/pages/modules/mocking.mdx
Labels: bot: passed checks, preview

#26934 [create–expo-module] Add template versions
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/src/create-expo-module.ts
Labels: bot: passed checks, bot: fingerprint changed

#27063 [docs] Add FAQ about monthly updated user counting
  docs/constants/navigation.js
  docs/pages/eas-update/faq.mdx
  docs/pages/eas-update/how-it-works.mdx
Labels: bot: passed checks

#27024 chore(cli): refactor custom bundler options
  apps/router-e2e/__e2e__/server/app/api/problematic+api.ts
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroBundlerDevServer-test.ts
  packages/@expo/cli/src/start/server/metro/bundleApiRoutes.ts
  packages/@expo/cli/src/start/server/metro/createServerRouteMiddleware.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/cli/src/start/server/metro/serializeHtml.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#27082 [expo-updates] Convert manifest creation scripts to typescript
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build-utils/createManifest.d.ts
  packages/expo-updates/build-utils/createManifest.js
  packages/expo-updates/build-utils/filterPlatformAssetScales.d.ts
  packages/expo-updates/build-utils/filterPlatformAssetScales.js
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
  packages/expo-updates/package.json
  packages/expo-updates/scripts/create-manifest-ios.sh
  packages/expo-updates/ts-declarations/expo__cli/index.d.ts
  packages/expo-updates/tsconfig.utils.json
  packages/expo-updates/utils/createManifest.ts
  packages/expo-updates/utils/filterPlatformAssetScales.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27094 [docs] Update monorepos.mdx
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#27086 [android][camera] Release camera on view destroy
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/CameraViewNextModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/ExpoCameraView.kt
Labels: bot: passed checks, bot: fingerprint changed

#27025 [tools] Add SDK tag when publishing from the release branch
  tools/src/commands/PublishPackages.ts
  tools/src/publish-packages/tasks/assignTagForSdkRelease.ts
  tools/src/publish-packages/tasks/publishPackages.ts
  tools/src/publish-packages/types.ts
Labels: bot: passed checks

#27075 [docs] Add Microsoft Entra ID as SSO provider
  docs/pages/accounts/sso.mdx
Labels: bot: passed checks

#27062 [docs] Add docs for new EAS functions
  docs/pages/custom-builds/schema.mdx
Labels: bot: passed checks

#26945 [jest-expo] Mock event emitter
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: passed checks, bot: fingerprint changed

#27097 [docs] mention `image` requirement in GH build docs
  docs/pages/build/building-from-github.mdx
Labels: bot: passed checks

#27078 [docs] Fixes and improvements to Building for TV
  docs/pages/guides/building-for-tv.mdx
Labels: bot: passed checks, preview

#27045 [core] Move some JSI utils to common code
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/common/cpp/JSIUtils.cpp
  packages/expo-modules-core/common/cpp/JSIUtils.h
  packages/expo-modules-core/ios/JSI/EXJSIUtils.h
  packages/expo-modules-core/ios/JSI/EXJSIUtils.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptObject.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
Labels: bot: passed checks, bot: fingerprint changed

#27116 [docs] Update push notification server for Rust
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks, preview

#26901 [expo-updates] Fix fingerprint runtime version policy
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/utils/Updates.d.ts
  packages/@expo/config-plugins/build/utils/Updates.js
  packages/@expo/config-plugins/build/utils/Updates.js.map
  packages/@expo/config-plugins/package.json
  packages/@expo/config-plugins/src/utils/Updates.ts
  packages/@expo/config-plugins/src/utils/__tests__/Updates-test.ts
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/src/Options.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesConfigurationInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/EmbeddedManifestUtils.kt
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/package.json
  packages/expo-updates/scripts/create-updates-resources-ios.sh
  packages/expo-updates/utils/build/createFingerprintAsync.d.ts
  packages/expo-updates/utils/build/createFingerprintAsync.js
  packages/expo-updates/utils/build/createManifestAsync.d.ts
  packages/expo-updates/utils/build/createManifestAsync.js
  packages/expo-updates/utils/build/createUpdatesResources.d.ts
  packages/expo-updates/utils/build/createUpdatesResources.js
  packages/expo-updates/utils/build/findUpProjectRoot.d.ts
  packages/expo-updates/utils/build/findUpProjectRoot.js
  packages/expo-updates/utils/build/vcs.d.ts
  packages/expo-updates/utils/build/vcs.js
  packages/expo-updates/utils/build/workflow.d.ts
  packages/expo-updates/utils/build/workflow.js
  packages/expo-updates/utils/src/createFingerprintAsync.ts
  packages/expo-updates/utils/src/createManifestAsync.ts
  packages/expo-updates/utils/src/createUpdatesResources.ts
  packages/expo-updates/utils/src/findUpProjectRoot.ts
  packages/expo-updates/utils/src/vcs.ts
  packages/expo-updates/utils/src/workflow.ts
  template-files/ios/ExpoKit-Podfile
  template-files/ios/ExpoKit-Podfile-versioned
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#27108 [issues] Add doctor, platform, dev build/ Expo Go options to SDK issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: bot: passed checks

#27123 [expo-updates] Remove legacy `expo bundle-assets` utilities
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/bundle-expo-assets.sh
  packages/expo-updates/expo-updates.gradle
  packages/expo-updates/run-expo.bat
  packages/expo-updates/run-expo.sh
Labels: bot: passed checks, bot: fingerprint changed

#27095 [expo] Mark the exp prop as optional, this is only used in Expo Go
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/registerRootComponent.d.ts
  packages/expo/build/launch/registerRootComponent.d.ts.map
  packages/expo/build/launch/registerRootComponent.js.map
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: passed checks, bot: fingerprint changed

#27118 [dev-menu][dev-launcher] fix nightlies build errors
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/devsupport/DevLauncherInternalSettings.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/com/facebook/react/devsupport/DevMenuReactInternalSettings.kt
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
Labels: bot: passed checks, bot: fingerprint changed

#27127 [docs] Add prerelease notice to `next` packages
  docs/components/PrereleaseNotice.tsx
  docs/pages/versions/unversioned/sdk/camera-next.mdx
  docs/pages/versions/unversioned/sdk/sqlite-next.mdx
  docs/pages/versions/v50.0.0/sdk/camera-next.mdx
  docs/pages/versions/v50.0.0/sdk/sqlite-next.mdx
Labels: bot: passed checks, preview

#27126 [camera] Add fallbackStrategy to QualitySelector
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/next/ExpoCameraView.kt
Labels: bot: passed checks

#27119 [expo-updates] Add expo-updates cli fingerprint:generate command
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/cli/build/cli.js
  packages/expo-updates/cli/build/generateFingerprint.d.ts
  packages/expo-updates/cli/build/generateFingerprint.js
  packages/expo-updates/cli/src/cli.ts
  packages/expo-updates/cli/src/generateFingerprint.ts
  packages/expo-updates/utils/build/createFingerprintAsync.d.ts
  packages/expo-updates/utils/build/createFingerprintAsync.js
  packages/expo-updates/utils/build/createFingerprintForBuildAsync.d.ts
  packages/expo-updates/utils/build/createFingerprintForBuildAsync.js
  packages/expo-updates/utils/build/createManifestAsync.d.ts
  packages/expo-updates/utils/build/createManifestForBuildAsync.d.ts
  packages/expo-updates/utils/build/createManifestForBuildAsync.js
  packages/expo-updates/utils/build/createUpdatesResources.js
  packages/expo-updates/utils/src/createFingerprintAsync.ts
  packages/expo-updates/utils/src/createFingerprintForBuildAsync.ts
  packages/expo-updates/utils/src/createManifestForBuildAsync.ts
  packages/expo-updates/utils/src/createUpdatesResources.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27146 [docs] Add icon to sqlite next
  docs/pages/versions/unversioned/sdk/sqlite-next.mdx
  docs/pages/versions/v50.0.0/sdk/sqlite-next.mdx
Labels: bot: passed checks, preview

#27140 [expotools] Fix check-package uniformity check for plugin, cli, utils subpackages
  tools/src/check-packages/checkPackageAsync.ts
Labels: bot: passed checks

#27149 [expo-calendar] fix build
  packages/expo-calendar/plugin/build/withCalendar.js
Labels: bot: suggestions, bot: fingerprint changed

#27148 [android][screen-capture] Reverse api constraint on permission
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/android/src/main/AndroidManifest.xml
Labels: bot: passed checks, bot: fingerprint changed

#27038 [core][iOS] Introduce base JS class for shared objects
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/common/cpp/JSIUtils.cpp
  packages/expo-modules-core/common/cpp/SharedObject.cpp
  packages/expo-modules-core/common/cpp/SharedObject.h
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/Core/Classes/ClassDefinition.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObjectRegistry.swift
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.h
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.mm
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.h
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/JSI/EXSharedObjectUtils.h
  packages/expo-modules-core/ios/JSI/EXSharedObjectUtils.mm
  packages/expo-modules-core/ios/Tests/SharedObjectSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#27159 chore: update the URL to match with the X visual
  README.md
Labels: bot: passed checks

#27068 fix[dev-launcher][android]: only enable DevLauncher HostHandler in case of auto setup enabled
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/react-native-69/debug/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-72/debug/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/rncompatibility/DevLauncherReactNativeHostHandler.kt
Labels: bot: passed checks

#27164 [docs] Fix redirects 404 issue
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/archive/classic-builds/building-standalone-apps.mdx
  docs/pages/archive/classic-updates/configuring-updates.mdx
  docs/pages/archive/classic-updates/hosting-your-app.mdx
  docs/pages/archive/classic-updates/offline-support.mdx
  docs/pages/archive/classic-updates/optimizing-updates.mdx
  docs/pages/archive/classic-updates/preloading-and-caching-assets.mdx
  docs/pages/archive/classic-updates/publishing.mdx
  docs/pages/archive/classic-updates/release-channels.mdx
  docs/pages/archive/classic-updates/updating-your-app.mdx
  docs/pages/archive/technical-specs/expo-updates-0.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/technical-specs/expo-sfv-0.mdx
Labels: bot: passed checks

#27003 [video][Android] Add borders support
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/build.gradle
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/android/src/main/java/expo/modules/video/YogaUtils.kt
  packages/expo-video/android/src/main/java/expo/modules/video/drawing/OutlineProvider.kt
Labels: bot: passed checks, bot: fingerprint changed

#27162 [docs] Glossary additions and tweaks
  docs/pages/more/glossary-of-terms.mdx
Labels: bot: passed checks

#27169 [bare-expo][test-suite] remove detox
  CONTRIBUTING.md
  Gemfile
  apps/bare-expo/App.tsx
  apps/bare-expo/MainNavigator.tsx
  apps/bare-expo/README.md
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/app/src/androidTest/java/dev/expo/payments/DetoxTest.java
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainActivity.kt
  apps/bare-expo/android/app/src/main/res/xml/network_security_config.xml
  apps/bare-expo/android/build.gradle
  apps/bare-expo/android/settings.gradle
  apps/bare-expo/detox.config.js
  apps/bare-expo/e2e/TestSuite-test.native.js
  apps/bare-expo/e2e/Utils.js
  apps/bare-expo/e2e/babel.config.js
  apps/bare-expo/e2e/jest.config.js
  apps/bare-expo/e2e/setup/setupDetox.js
  apps/bare-expo/e2e/setup/setupSockets.js
  apps/bare-expo/e2e/utils/report.js
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo.xcodeproj/xcshareddata/xcschemes/BareExpoDetox.xcscheme
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/bare-expo/relapse/RelapseError.js
  apps/bare-expo/relapse/client.js
  apps/bare-expo/relapse/protocol.js
  apps/bare-expo/relapse/server.js
  apps/bare-expo/scripts/build-detox-ios.sh
  apps/bare-expo/scripts/setup-android-project.sh
  apps/bare-expo/scripts/start-emulator.sh
  apps/bare-expo/scripts/start-ios-e2e-test.ts
  apps/bare-expo/scripts/start-metro.sh
  apps/bare-expo/scripts/start-simulator.sh
  apps/test-suite/AppNavigator.js
  apps/test-suite/TestModules.js
  apps/test-suite/components/DoneText.js
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/tests/Battery.js
  apps/test-suite/tests/SecureStore.js
  apps/test-suite/utils/Environment.js
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#27135 [docs] Update PrereleaseNotice to support a callout
  docs/components/PrereleaseNotice.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/pages/versions/unversioned/sdk/camera-next.mdx
  docs/pages/versions/unversioned/sdk/sqlite-next.mdx
  docs/pages/versions/v50.0.0/sdk/camera-next.mdx
  docs/pages/versions/v50.0.0/sdk/sqlite-next.mdx
  docs/ui/components/Callout/index.tsx
Labels: bot: passed checks

#27125 [devtools] export DevtoolsPluginClient
  packages/expo/CHANGELOG.md
  packages/expo/build/devtools/index.d.ts
  packages/expo/build/devtools/index.d.ts.map
  packages/expo/build/devtools/index.js
  packages/expo/build/devtools/index.js.map
  packages/expo/src/devtools/index.ts
Labels: bot: passed checks

#27178 [docs] Update Stripe reference
  docs/pages/versions/unversioned/sdk/stripe.mdx
  docs/pages/versions/v48.0.0/sdk/stripe.mdx
  docs/pages/versions/v49.0.0/sdk/stripe.mdx
  docs/pages/versions/v50.0.0/sdk/stripe.mdx
Labels: bot: passed checks

#27167 Fix splashscreen not autohiding on expo-go
  apps/expo-go/ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.m
Labels: bot: passed checks

#27120 Fix using parenthesis parenthesis in urls
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getStateFromPath.d.ts
  packages/expo-router/build/fork/getStateFromPath.d.ts.map
  packages/expo-router/build/fork/getStateFromPath.js
  packages/expo-router/build/fork/getStateFromPath.js.map
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/search-params.test.ios.tsx
  packages/expo-router/src/fork/getStateFromPath.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27092 [core][iOS] Native implementation of the EventEmitter in JS
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/common/cpp/EventEmitter.cpp
  packages/expo-modules-core/common/cpp/EventEmitter.h
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.h
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.mm
  packages/expo-modules-core/ios/Tests/EventEmitterSpec.swift
Labels: bot: passed checks, bot: fingerprint compatible

#27181 [tools] fix nightlies testing for react-native-safe-area-context
  .github/workflows/test-suite-nightly.yml
  tools/src/react-native-nightlies/patches/react-native-safe-area-context.patch
Labels: bot: passed checks

#27172 [ENG-11460] [expo-dev-menu] prevent app info from overflowing
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/app/components/Main.tsx
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
Labels: bot: passed checks, bot: fingerprint changed

#27147 fix: Fix the problem that stringifyDateValues is not compatible with simple type arrays
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
Labels: bot: passed checks

#27087 [docs] Update icons.mdx
  docs/pages/guides/icons.mdx
Labels: bot: passed checks

#27137 [docs] Link to WSL guide
  docs/pages/get-started/installation.mdx
Labels: bot: passed checks

#27188 [docs] fix error while parsing Clipboard API data
  docs/components/plugins/APISection.tsx
Labels: bot: passed checks

#27187 [file-system][ios] Fix downloadAsync for local files
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#27180 [dev-client] fix launching error when interop with expo-updates
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherMetadataHelper.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelperTest.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.h
  packages/expo-dev-launcher/ios/EXDevLauncherUpdatesHelper.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherUpdatesHelperTests.m
Labels: bot: passed checks, bot: fingerprint changed

#27202 [docs] Fix formatting issues and links in EAS JSON reference
  docs/public/static/schemas/unversioned/eas-json-build-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
  docs/public/static/schemas/unversioned/eas-json-submit-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-submit-ios-schema.js
Labels: bot: passed checks, preview

#27200 [docs] Update image-picker.mdx
  docs/pages/tutorial/image-picker.mdx
Labels: bot: passed checks

#26768 [local-authentication] Add support for `strong` and `weak` biometrics
  apps/native-component-list/src/screens/LocalAuthenticationScreen.tsx
  docs/public/static/data/unversioned/expo-local-authentication.json
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationRecords.kt
  packages/expo-local-authentication/build/LocalAuthentication.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.types.js
  packages/expo-local-authentication/build/LocalAuthentication.types.js.map
  packages/expo-local-authentication/ios/LocalAuthenticationModule.swift
  packages/expo-local-authentication/src/LocalAuthentication.ts
  packages/expo-local-authentication/src/LocalAuthentication.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#27213 fix(cli): fix critical issue with web dev urls
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/__snapshots__/serializeHtml.test.ts.snap
  packages/@expo/cli/src/start/server/metro/__tests__/serializeHtml.test.ts
  packages/@expo/cli/src/start/server/metro/serializeHtml.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27208 [ios][file-system] Fix copy async
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemExceptions.swift
  packages/expo-file-system/ios/FileSystemHelpers.swift
  packages/expo-file-system/ios/FileSystemModule.swift
Labels: bot: suggestions, bot: fingerprint changed
