Repository expo/expo, pull requests merged in 2024-06, with the labels that each got.

#29199 fix(expo-contacts): #29198 store full url & remove useless restrictio…
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/Decoding.swift
Labels: bot: passed checks

#29218 chore(cli): reduce export and improve SSR errors
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/createMetadataJson.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportAssets.ts
  packages/@expo/cli/src/export/exportHermes.ts
  packages/@expo/cli/src/export/fork-bundleAsync.ts
  packages/@expo/cli/src/export/saveAssets.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/cli/src/start/server/middleware/resolveAssets.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29364 [video][android] Fix "cover" and "fill" content fit
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/ContentFit.kt
Labels: bot: passed checks

#29226 [dev-launcher] rebuild bundle
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions, bot: fingerprint changed

#29372 [dev-launcher] rebuild bundle again
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions, bot: fingerprint changed

#29392 refactor(expo-sqlite): upgrade better-sqlite3 dev dependency for Node 22
  packages/expo-sqlite/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#28829 [core] remove view wrapper from ExpoFabricView
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/Core/Views/ExpoView.swift
  packages/expo-modules-core/ios/Core/Views/ViewDefinition.swift
  packages/expo-modules-core/ios/Fabric/ExpoFabricView.swift
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.h
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.mm
Labels: bot: passed checks, bot: fingerprint changed

#29271 [docs] Update local build docs for EAS update channel creation
  docs/pages/eas-update/build-locally.mdx
Labels: bot: passed checks

#29398 [docs] fix nested code block in an additional `pre` element
  docs/components/base/code.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
Labels: bot: passed checks

#29370 [expo-notifications][Android] Remove unneeded logging
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoNotificationLifecycleListener.java
Labels: bot: passed checks, bot: fingerprint changed

#29390 [brightness][docs] fix @experimental tag, use it in Brightness source comments
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/pages/more/expo-cli.mdx
  docs/public/static/data/unversioned/expo-brightness.json
  docs/ui/components/Tag/PlatformTags.tsx
  docs/ui/components/Tag/StatusTag.tsx
  packages/expo-brightness/build/Brightness.d.ts
  packages/expo-brightness/build/Brightness.d.ts.map
  packages/expo-brightness/build/Brightness.js
  packages/expo-brightness/build/Brightness.js.map
  packages/expo-brightness/src/Brightness.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29371 [docs] Fix Light Sensors Usage example
  docs/pages/versions/unversioned/sdk/light-sensor.mdx
  docs/pages/versions/v49.0.0/sdk/light-sensor.mdx
  docs/pages/versions/v50.0.0/sdk/light-sensor.mdx
  docs/pages/versions/v51.0.0/sdk/light-sensor.mdx
Labels: bot: passed checks

#29399 [docs] Revamp TypeScript guide
  docs/pages/guides/typescript.mdx
Labels: bot: passed checks, preview

#29395 [docs] update lint stack, apply new fixes/reformats
  docs/package.json
  docs/pages/accounts/sso.mdx
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/bare/upgrade.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/build/building-from-github.mdx
  docs/pages/build/internal-distribution.mdx
  docs/pages/eas-update/code-signing.mdx
  docs/pages/eas-update/continuous-deployment.mdx
  docs/pages/eas-update/debug-advanced.mdx
  docs/pages/eas-update/debug.mdx
  docs/pages/eas-update/publish.mdx
  docs/pages/guides/analyzing-bundles.mdx
  docs/pages/guides/building-for-tv.mdx
  docs/pages/guides/deep-linking.mdx
  docs/pages/guides/environment-variables.mdx
  docs/pages/guides/overview.mdx
  docs/pages/guides/progressive-web-apps.mdx
  docs/pages/guides/using-eslint.mdx
  docs/pages/guides/using-nextjs.mdx
  docs/pages/modules/module-api.mdx
  docs/pages/push-notifications/fcm-credentials.mdx
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/router/advanced/apple-handoff.mdx
  docs/pages/router/appearance.mdx
  docs/pages/router/reference/async-routes.mdx
  docs/pages/router/reference/src-directory.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/follow-up.mdx
  docs/pages/tutorial/introduction.mdx
  docs/pages/ui-programming/implementing-a-checkbox.mdx
  docs/pages/ui-programming/react-native-toast.mdx
  docs/pages/ui-programming/user-interface-libraries.mdx
  docs/pages/versions/unversioned/sdk/image.mdx
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/unversioned/sdk/media-library.mdx
  docs/pages/versions/unversioned/sdk/sqlite-legacy.mdx
  docs/pages/versions/unversioned/sdk/url.mdx
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/pages/versions/v49.0.0/sdk/media-library.mdx
  docs/pages/versions/v50.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v50.0.0/sdk/media-library.mdx
  docs/pages/versions/v50.0.0/sdk/notifications.mdx
  docs/pages/versions/v51.0.0/sdk/image.mdx
  docs/pages/versions/v51.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v51.0.0/sdk/media-library.mdx
  docs/pages/versions/v51.0.0/sdk/sqlite-legacy.mdx
  docs/pages/versions/v51.0.0/sdk/url.mdx
  docs/pages/versions/v51.0.0/sdk/video.mdx
  docs/pages/workflow/continuous-native-generation.mdx
  docs/yarn.lock
Labels: bot: passed checks, preview

#29373 [screen-capture] tweaks and fixes for JSDoc comments
  docs/public/static/data/unversioned/expo-screen-capture.json
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.d.ts.map
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29401 [build-properties] export missing types, update source comments
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29162 [cli] fix react devtools inspector error
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/CorsMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/ReactDevToolsPageMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/CorsMiddleware-test.ts
  packages/@expo/cli/static/react-devtools-page/index.html
  packages/@expo/cli/static/react-devtools-page/standalone.js
Labels: bot: passed checks, bot: fingerprint compatible

#28990 [video][ios] Add base64 certificate support
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/ios/ContentKeyDelegate.swift
  packages/expo-video/ios/Records/DRMOptions.swift
  packages/expo-video/src/VideoPlayer.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#29275 [docs] Rewrite the main expo-updates library doc
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v51.0.0/sdk/updates.mdx
  packages/expo-updates/DEVELOPMENT.md
  packages/expo-updates/README.md
Labels: bot: suggestions, preview, bot: fingerprint compatible

#29407 [docs] Update more EAS Update docs
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/bare/install-dev-builds-in-bare.mdx
  docs/pages/bare/installing-updates.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/eas-update/known-issues.mdx
  docs/pages/eas-update/publish.mdx
  docs/pages/faq.mdx
Labels: bot: passed checks

#29409 [docs] Fix bug where config docs were showing unversioned types
  docs/pages/versions/v49.0.0/config/app.mdx
  docs/pages/versions/v50.0.0/config/app.mdx
  docs/public/static/schemas/unversioned/app-config-schema.json
  docs/public/static/schemas/v51.0.0/app-config-schema.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29432 refactor(tools): update `@types/node` to latest 18
  tools/package.json
  tools/yarn.lock
Labels: bot: passed checks

#29434 refactor(expo-test-runner): update `@types/node` to latest 18
  packages/expo-test-runner/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#28798 [docs][sensors] Add note regarding running `watchStepCount` in background
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/public/static/data/unversioned/expo-pedometer.json
  packages/expo-sensors/build/Pedometer.d.ts
  packages/expo-sensors/build/Pedometer.d.ts.map
  packages/expo-sensors/build/Pedometer.js
  packages/expo-sensors/build/Pedometer.js.map
  packages/expo-sensors/src/Pedometer.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29402 [updates] fine tune e2e testing
  .github/actions/eas-build/action.yml
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App-updates-disabled.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates-dev-client.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-disabled.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/.detoxrc.json
  packages/expo-updates/e2e/fixtures/project_files/eas-hooks/eas-build-on-success.sh
  packages/expo-updates/e2e/fixtures/project_files/eas.json
Labels: bot: passed checks, bot: fingerprint compatible

#29443 [expo-notifications] remove extraneous console.log
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/utils/mapNotificationResponse.d.ts.map
  packages/expo-notifications/build/utils/mapNotificationResponse.js
  packages/expo-notifications/build/utils/mapNotificationResponse.js.map
  packages/expo-notifications/src/utils/mapNotificationResponse.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29441 [packages] pin @react-native package versions
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/package.json
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/package.json
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/package.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/package.json
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-navigation-bar/package.json
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#29365 [docs] API Reference rendering tweaks and fixes
  docs/common/headingManager.ts
  docs/components/DocumentationSidebarRight.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/components/plugins/APISection.test.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/components/plugins/api/styles.ts
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/v50.0.0/sdk/sqlite-next.mdx
  docs/pages/versions/v51.0.0/sdk/sqlite.mdx
  docs/ui/components/Callout/index.tsx
  docs/ui/components/Table/HeaderCell.tsx
  docs/ui/components/Text/index.tsx
  yarn.lock
Labels: bot: passed checks, preview, bot: fingerprint compatible

#29423 [docs] Remove platform compatibility table from third party library references for latest versioned docs
  docs/pages/versions/unversioned/sdk/flash-list.mdx
  docs/pages/versions/unversioned/sdk/gesture-handler.mdx
  docs/pages/versions/unversioned/sdk/masked-view.mdx
  docs/pages/versions/unversioned/sdk/picker.mdx
  docs/pages/versions/v49.0.0/sdk/gesture-handler.mdx
  docs/pages/versions/v50.0.0/sdk/gesture-handler.mdx
  docs/pages/versions/v51.0.0/sdk/flash-list.mdx
  docs/pages/versions/v51.0.0/sdk/gesture-handler.mdx
  docs/pages/versions/v51.0.0/sdk/masked-view.mdx
  docs/pages/versions/v51.0.0/sdk/picker.mdx
Labels: bot: passed checks

#29435 refactor(create-expo): update `@types/node` to latest 18
  packages/create-expo/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#29244 feat: Jump directly to source
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/build/ExpoHaptics.js
  packages/expo-haptics/build/ExpoHaptics.js.map
  packages/expo-haptics/build/ExpoHaptics.web.js
  packages/expo-haptics/build/ExpoHaptics.web.js.map
  packages/expo-haptics/build/Haptics.js
  packages/expo-haptics/build/Haptics.js.map
  packages/expo-haptics/build/Haptics.types.js
  packages/expo-haptics/build/Haptics.types.js.map
  packages/expo-haptics/package.json
  packages/expo-haptics/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#29201 fix(expo-contacts): presentFormAsync promise on Android
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
Labels: bot: passed checks

#29445 [docs] Fix Vale warnings in Updates API reference
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v51.0.0/sdk/updates.mdx
Labels: bot: passed checks

#29459 fix: [docs] Expo-Location Usage Example containes a falsy import when copied (by using the default tsconfig)
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/v49.0.0/sdk/location.mdx
  docs/pages/versions/v50.0.0/sdk/location.mdx
  docs/pages/versions/v51.0.0/sdk/location.mdx
Labels: bot: passed checks

#29481 [docs] Fix broken link in Linking guide
  docs/pages/guides/linking.mdx
Labels: bot: passed checks

#29051 Upgrade google-services gradle plugin to 4.4.1
  packages/@expo/config-plugins/build/android/GoogleServices.js
  packages/@expo/config-plugins/build/android/GoogleServices.js.map
  packages/@expo/config-plugins/src/android/GoogleServices.ts
  packages/@expo/config-plugins/src/android/__tests__/GoogleServices-test.ts
Labels: bot: suggestions

#29468 feat(cli): skip simulator open prompt.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/platforms/DeviceManager.ts
  packages/@expo/cli/src/start/platforms/PlatformManager.ts
  packages/@expo/cli/src/start/platforms/__tests__/PlatformManager-test.ts
  packages/@expo/cli/src/start/platforms/android/AndroidDeviceManager.ts
  packages/@expo/cli/src/start/platforms/ios/AppleDeviceManager.ts
  packages/@expo/cli/src/start/platforms/ios/simctl.ts
  packages/@expo/cli/ts-declarations/bplist-creator/index.d.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#29173 [gha] regenerate docs unversioned data on deploy
  .github/workflows/docs.yml
Labels: bot: passed checks, bot: fingerprint changed

#29272 [ios][location] Fix issue with "Allow Once" permission
  packages/expo-location/CHANGELOG.md
  packages/expo-location/ios/EXLocation/Requesters/EXBaseLocationRequester.m
Labels: bot: passed checks, bot: fingerprint changed

#29217 [camera] Enable torch on first render
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#29421 [camera] Make barcode type consistent
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/common/CommonEvents.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/legacy/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/records/CameraRecords.kt
  packages/expo-camera/ios/Current/BarcodeRecord.swift
  packages/expo-camera/ios/Current/BarcodeScannerUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#29500 [expo-modules-core][Android] UIManagerModule fix for Bridgeless
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/services/UIManagerModuleWrapper.java
Labels: bot: passed checks, bot: fingerprint changed

#29169 Fix expo-image tintColor on Safari
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/web/ColorTintFilter.js
  packages/expo-image/build/web/ColorTintFilter.js.map
  packages/expo-image/src/web/ColorTintFilter.tsx
Labels: bot: passed checks

#29497 Skip setting colors.xml if splashscreen config is null
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29463 fix(cli, metro-config): Fix source map generation in development.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.d.ts
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/src/serializer/__tests__/environmentVariableSerializerPlugin.test.ts
  packages/@expo/metro-config/src/serializer/environmentVariableSerializerPlugin.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/write_embedded_bundle.sh
Labels: bot: suggestions, bot: fingerprint changed

#29426 feat(babel-preset-expo): Add support for `export * from` to `use client` plugin.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/client-module-proxy-plugin.js
  packages/babel-preset-expo/src/__tests__/__snapshots__/client-module-proxy-plugin.test.ts.snap
  packages/babel-preset-expo/src/__tests__/client-module-proxy-plugin.test.ts
  packages/babel-preset-expo/src/__tests__/environment-restricted-imports.test.ts
  packages/babel-preset-expo/src/client-module-proxy-plugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29498 [docs] duplicate "Edit this page" button in `PageHeader`
  docs/common/test-utilities.tsx
  docs/components/DocumentationPage.tsx
  docs/ui/components/Footer/Footer.test.tsx
  docs/ui/components/PageTitle/PageTitle.test.tsx
  docs/ui/components/PageTitle/PageTitle.tsx
  docs/ui/components/PageTitle/PageTitleButtons.tsx
Labels: bot: passed checks, preview

#29499 [docs] refactor RouteUrl component
  docs/ui/components/RouteUrl/RouteUrlGroup.tsx
  docs/ui/components/RouteUrl/RouteUrlInner.tsx
  docs/ui/components/RouteUrl/RuntimePopup.tsx
  docs/ui/components/RouteUrl/index.tsx
  docs/ui/components/RouteUrl/utils.ts
Labels: bot: passed checks

#29487 [docs] rewrite header and ToC styling, breakpoints tweaks
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/components/DocumentationSidebarRight.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/ui/components/Header/Header.tsx
  docs/ui/components/Header/Logo.tsx
  docs/ui/components/Header/ThemeSelector.tsx
Labels: bot: passed checks, preview

#29506 [docs] remove SDK 48 docs remnant files
  docs/public/static/examples/v48.0.0/tutorial/01-layout/App.js
  docs/public/static/examples/v48.0.0/tutorial/01-layout/Button.js
  docs/public/static/examples/v48.0.0/tutorial/01-layout/ImageViewer.js
  docs/public/static/examples/v48.0.0/tutorial/02-image-picker/App.js
  docs/public/static/examples/v48.0.0/tutorial/02-image-picker/Button.js
  docs/public/static/examples/v48.0.0/tutorial/02-image-picker/ImageViewer.js
  docs/public/static/examples/v48.0.0/tutorial/03-button-options/App.js
  docs/public/static/examples/v48.0.0/tutorial/03-button-options/Button.js
  docs/public/static/examples/v48.0.0/tutorial/03-button-options/CircleButton.js
  docs/public/static/examples/v48.0.0/tutorial/03-button-options/IconButton.js
  docs/public/static/examples/v48.0.0/tutorial/04-modal/App.js
  docs/public/static/examples/v48.0.0/tutorial/04-modal/EmojiPicker.js
  docs/public/static/examples/v48.0.0/tutorial/05-emoji-list/App.js
  docs/public/static/examples/v48.0.0/tutorial/05-emoji-list/EmojiList.js
  docs/public/static/examples/v48.0.0/tutorial/05-emoji-list/EmojiSticker.js
  docs/public/static/examples/v48.0.0/tutorial/06-gestures/App.js
  docs/public/static/examples/v48.0.0/tutorial/06-gestures/CompleteEmojiSticker.js
  docs/public/static/examples/v48.0.0/tutorial/06-gestures/EmojiSticker.js
  docs/public/static/examples/v48.0.0/tutorial/07-screenshot/App.js
  docs/public/static/examples/v48.0.0/tutorial/08-run-on-web/App.js
Labels: bot: passed checks

#29508 [core][Android] Fixed converting from `null` to `Record` sometimes didn't work
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions, bot: fingerprint changed

#29466 feat(cli): support passing `--port 0` to use any free port.
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/__tests__/port.test.ts
  packages/@expo/cli/src/utils/port.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29502 [ios][expo-font] Fix issue loading fonts
  apps/native-component-list/assets/fonts/Inter/Inter-Black.otf
  apps/native-component-list/assets/fonts/Inter/Inter-BlackItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-Bold.otf
  apps/native-component-list/assets/fonts/Inter/Inter-BoldItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-ExtraBold.otf
  apps/native-component-list/assets/fonts/Inter/Inter-ExtraBoldItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-ExtraLight.otf
  apps/native-component-list/assets/fonts/Inter/Inter-ExtraLightItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-Italic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-Light.otf
  apps/native-component-list/assets/fonts/Inter/Inter-LightItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-Medium.otf
  apps/native-component-list/assets/fonts/Inter/Inter-MediumItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-Regular.otf
  apps/native-component-list/assets/fonts/Inter/Inter-SemiBold.otf
  apps/native-component-list/assets/fonts/Inter/Inter-SemiBoldItalic.otf
  apps/native-component-list/assets/fonts/Inter/Inter-Thin.otf
  apps/native-component-list/assets/fonts/Inter/Inter-ThinItalic.otf
  apps/native-component-list/assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf
  apps/native-component-list/assets/fonts/OpenSans/OpenSans-Light.ttf
  apps/native-component-list/assets/fonts/OpenSans/OpenSans-Medium.ttf
  apps/native-component-list/assets/fonts/OpenSans/OpenSans-SemiBold.ttf
  apps/native-component-list/assets/fonts/OpenSans/OpenSans_Condensed-BoldItalic.ttf
  apps/native-component-list/assets/fonts/OpenSans/OpenSans_Condensed-SemiBold.ttf
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/FontScreen.tsx
  apps/native-component-list/src/utilities/loadAssetsAsync.ts
  packages/expo-font/CHANGELOG.md
  packages/expo-font/ios/FontLoaderModule.swift
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#29513 [core][Android] Fix no implementation found for `JavaScriptModuleObject.initHybrid`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
Labels: bot: suggestions, bot: fingerprint changed

#29394 fix(secure-store/ios): improve default error message
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/ios/SecureStoreExceptions.swift
Labels: bot: passed checks

#28924 [iOS] Fix data race in `PersistentFileLogSpec.swift`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Tests/PersistentFileLogSpec.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/Tests/AppLauncherWithDatabaseSpec.swift
Labels: bot: passed checks

#27525 [audio] Introduce expo audio
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/Audio/AudioInputSelector.tsx
  apps/native-component-list/src/screens/Audio/AudioModeSelector.ios.tsx
  apps/native-component-list/src/screens/Audio/AudioPlayer.tsx
  apps/native-component-list/src/screens/Audio/AudioScreen.tsx
  apps/native-component-list/src/screens/Audio/Player.tsx
  apps/native-component-list/src/screens/Audio/Recorder.tsx
  apps/native-component-list/src/screens/Audio/RecordingScreen.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.d.ts
  packages/expo-audio/build/AudioModule.d.ts.map
  packages/expo-audio/build/AudioModule.js.map
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/index.d.ts
  packages/expo-audio/build/index.d.ts.map
  packages/expo-audio/build/index.js
  packages/expo-audio/build/index.js.map
  packages/expo-audio/build/utils/resolveAssetSource.d.ts
  packages/expo-audio/build/utils/resolveAssetSource.d.ts.map
  packages/expo-audio/build/utils/resolveAssetSource.js
  packages/expo-audio/build/utils/resolveAssetSource.js.map
  packages/expo-audio/build/utils/resolveSource.d.ts
  packages/expo-audio/build/utils/resolveSource.d.ts.map
  packages/expo-audio/build/utils/resolveSource.js
  packages/expo-audio/build/utils/resolveSource.js.map
  packages/expo-audio/ios/AudioExceptions.swift
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/ios/AudioRecorder.swift
  packages/expo-audio/ios/AudioRecordingRequester.swift
  packages/expo-audio/ios/AudioRecords.swift
  packages/expo-audio/ios/AudioSource.swift
  packages/expo-audio/ios/AudioUtils.swift
  packages/expo-audio/ios/RecordingDelegate.swift
  packages/expo-audio/ios/StringConversions.swift
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/index.ts
  packages/expo-audio/src/utils/resolveAssetSource.tsx
  packages/expo-audio/src/utils/resolveSource.ts
Labels: bot: suggestions, bot: fingerprint changed

#29530 [docs] Fix ToC UI
  docs/components/DocumentationSidebarRight.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
Labels: bot: passed checks

#28953 [expo-modules-core] Add stopObserving and startObserving functions
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/web/CoreModule.d.ts
  packages/expo-modules-core/build/web/CoreModule.d.ts.map
  packages/expo-modules-core/build/web/CoreModule.js
  packages/expo-modules-core/build/web/CoreModule.js.map
  packages/expo-modules-core/src/__tests__/EventEmitter-test.web.ts
  packages/expo-modules-core/src/__tests__/core-module/EventEmitter-test.ts
  packages/expo-modules-core/src/web/CoreModule.ts
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/src/__tests__/DeviceSensor-test.ios.ts
Labels: bot: passed checks, bot: fingerprint changed

#29424 [cellular][docs] Fix internal link for `allowsVoipAsync()` in the callout
  docs/public/static/data/unversioned/expo-cellular.json
  docs/public/static/data/v51.0.0/expo-cellular.json
  packages/expo-cellular/build/Cellular.d.ts
  packages/expo-cellular/build/Cellular.js
  packages/expo-cellular/build/Cellular.js.map
  packages/expo-cellular/src/Cellular.ts
Labels: bot: passed checks, bot: fingerprint changed

#29531 [expo-gl] Fix snapshots
  packages/expo-gl/src/__tests__/__snapshots__/GLView-test.tsx.snap.node
  packages/expo-gl/src/__tests__/__snapshots__/GLView-test.tsx.snap.web
Labels: bot: suggestions, bot: fingerprint changed

#29496 [docs] update build-properties `ios.deploymentTarget` example
  docs/pages/versions/unversioned/sdk/build-properties.mdx
Labels: bot: passed checks

#29529 fix(expo-contacts): do not reject `requestPermissionsAsync` promise on iOS
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/ContactsRequester.swift
Labels: bot: passed checks

#29532 update yarn.lock
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#29400 [dev-launcher] fix android reload error
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/runtime/NonFinalBridgelessDevSupportManager.java
Labels: bot: passed checks, bot: fingerprint changed

#29535 [docs] Update config plugin example in BuildProperties API reference
  docs/pages/versions/unversioned/sdk/build-properties.mdx
  docs/pages/versions/v50.0.0/sdk/build-properties.mdx
  docs/pages/versions/v51.0.0/sdk/build-properties.mdx
Labels: bot: passed checks

#29540 [sqlite] fix unit tests
  packages/expo-sqlite/src/__tests__/SQLiteDatabase-test.ios.ts
  packages/expo-sqlite/src/__tests__/SQLiteStatement-test.ios.ts
  packages/expo-sqlite/src/__tests__/hooks-test.ios.tsx
  packages/expo-sqlite/src/__tests__/paramUtils-test.ios.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29491 [expo-notifications][Android] Add default channel plugin prop, restore legacy icon and color
  docs/pages/versions/unversioned/sdk/notifications.mdx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoNotificationLifecycleListener.java
  packages/expo-notifications/plugin/build/withNotifications.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.d.ts
  packages/expo-notifications/plugin/build/withNotificationsAndroid.js
  packages/expo-notifications/plugin/src/withNotifications.ts
  packages/expo-notifications/plugin/src/withNotificationsAndroid.ts
Labels: bot: passed checks, bot: fingerprint changed

#29547 [Camera] Fix return type of scanFromURLAsync
  apps/native-component-list/src/screens/Camera/CameraScreenBarcodeFromURL.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.d.ts.map
  packages/expo-camera/build/index.js.map
  packages/expo-camera/src/index.ts
Labels: bot: passed checks

#29548 [docs] Update Set a component's background image guide
  docs/pages/ui-programming/image-background.mdx
  docs/public/static/images/imagebackground-example.png
Labels: bot: passed checks

#29546 [docs] Update "Use Sentry" tab from "SDK 50" to "SDK 50 and higher"
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#29556 [docs] Update file-based-routing.mdx
  docs/pages/develop/file-based-routing.mdx
Labels: bot: passed checks

#29168 feat(cli): Add experimental react-compiler support
  apps/router-e2e/__e2e__/compiler/app/index.tsx
  apps/router-e2e/app.config.js
  docs/constants/navigation.js
  docs/pages/guides/react-compiler.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/react-compiler.test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/babel-transformer.d.ts
  packages/@expo/metro-config/build/babel-transformer.js
  packages/@expo/metro-config/build/babel-transformer.js.map
  packages/@expo/metro-config/build/rewriteRequestUrl.js
  packages/@expo/metro-config/build/rewriteRequestUrl.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/babel-transformer.ts
  packages/@expo/metro-config/src/rewriteRequestUrl.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/build/common.d.ts
  packages/babel-preset-expo/build/common.js
  packages/babel-preset-expo/build/expo-router-plugin.js
  packages/babel-preset-expo/build/index.d.ts
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/react-compiler-runtime.js
  packages/babel-preset-expo/src/__tests__/__snapshots__/compiler.test.ts.snap
  packages/babel-preset-expo/src/__tests__/compiler.test.ts
  packages/babel-preset-expo/src/__tests__/samples/PureComponent.tsx
  packages/babel-preset-expo/src/__tests__/samples/compile-memo.tsx
  packages/babel-preset-expo/src/common.ts
  packages/babel-preset-expo/src/expo-router-plugin.ts
  packages/babel-preset-expo/src/index.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#29573 [docs] Fix verbiage in React Compiler guide
  docs/pages/guides/react-compiler.mdx
Labels: bot: passed checks

#29574 [docs] Fix verbiage and formatting issues in Build lifecycle hooks and npm hooks references
  docs/pages/build-reference/npm-cache-with-yarn.mdx
  docs/pages/build-reference/npm-hooks.mdx
Labels: bot: passed checks

#27409 [router] add platform extension docs
  docs/pages/router/advanced/platform-specific-modules.mdx
  docs/pages/router/create-pages.mdx
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#29591 [docs] typo: babel-expo-preset > babel-preset-expo
  docs/pages/router/advanced/drawer.mdx
Labels: bot: passed checks

#29570 make npx expo lint command more integrated with the CLI
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/lint.test.ts.snap
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/lint.test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-blank-51/App.js
  packages/@expo/cli/e2e/fixtures/with-blank-51/app.json
  packages/@expo/cli/e2e/fixtures/with-blank-51/package.json
  packages/@expo/cli/src/customize/__tests__/generate-test.ts
  packages/@expo/cli/src/customize/generate.ts
  packages/@expo/cli/src/customize/templates.ts
  packages/@expo/cli/src/lint/ESlintPrerequisite.ts
  packages/@expo/cli/static/template/.eslintrc.js
Labels: bot: passed checks, bot: fingerprint compatible

#29597 [video][Android] Bump androidx-media3 to `1.3.1`
  packages/expo-video/android/build.gradle
  packages/expo-video/android/src/main/AndroidManifest.xml
Labels: bot: suggestions, bot: fingerprint changed

#29605 [docs] Fx typo in internal-distribution-builds.mdx
  docs/pages/tutorial/eas/internal-distribution-builds.mdx
Labels: bot: passed checks

#29422 refactor(create-expo): swap `node-fetch` for built-in `fetch`
  .github/workflows/create-expo-app.yml
  packages/create-expo/CHANGELOG.md
  packages/create-expo/e2e/__tests__/index-test.ts
  packages/create-expo/package.json
  packages/create-expo/src/Examples.ts
  packages/create-expo/src/__tests__/Examples.test.ts
  packages/create-expo/src/__tests__/telemetry.test.ts
  packages/create-expo/src/telemetry.ts
  packages/create-expo/src/utils/fetch.ts
  packages/create-expo/src/utils/github.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#29504 docs(create-expo): update help output `create-expo --help`
  packages/create-expo/CHANGELOG.md
  packages/create-expo/src/cli.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29616 fix(expo-server): Fix headers not being passed as raw headers flat array in Vercel adapter
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/vendor/vercel.js
  packages/@expo/server/build/vendor/vercel.js.map
  packages/@expo/server/src/vendor/vercel.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29608 chore(cli): update e2e tests to sdk 51
  packages/@expo/cli/e2e/__tests__/customize-test.ts
  packages/@expo/cli/e2e/__tests__/export-async-imports-test.ts
  packages/@expo/cli/e2e/__tests__/export-web-test.ts
  packages/@expo/cli/e2e/__tests__/export.test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/lint.test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-assets/metro.config.js
  packages/@expo/cli/e2e/fixtures/with-assets/package.json
  packages/@expo/cli/e2e/fixtures/with-blank-51/App.js
  packages/@expo/cli/e2e/fixtures/with-blank-51/app.json
  packages/@expo/cli/e2e/fixtures/with-blank-51/package.json
  packages/@expo/cli/e2e/fixtures/with-blank/App.js
  packages/@expo/cli/e2e/fixtures/with-blank/metro.config.js
  packages/@expo/cli/e2e/fixtures/with-blank/package.json
  packages/@expo/cli/e2e/fixtures/with-circular-async-imports/metro.config.js
  packages/@expo/cli/e2e/fixtures/with-circular-async-imports/package.json
  packages/@expo/cli/e2e/fixtures/with-router/.gitignore
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/@expo/cli/e2e/fixtures/with-web/app.json
  packages/@expo/cli/e2e/fixtures/with-web/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#29619 chore: Improve export times
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/export/favicon.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/runServer-fork.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29623 [docs] Fix typo in boxlink
  docs/pages/tutorial/eas/next-steps.mdx
Labels: bot: passed checks

#29640 [workspace] Update broken link
  CONTRIBUTING.md
Labels: bot: passed checks

#29635 [babel-preset-expo] Update React Compiler version to latest
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/package.json
  yarn.lock
Labels: bot: passed checks

#29550 [docs] Update SDK 51 Expo Notification API reference to include `defaultChannel`
  docs/pages/versions/v51.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#29648 fix: provide more image metadata in image-picker
  apps/bare-expo/package.json
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/ImagePickerModule.swift
  packages/expo-image-picker/ios/MediaHandler.swift
Labels: bot: passed checks

#29599 [docs] APISection: add missing type parameters to method signatures
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#29601 [docs] APISection: unify classes render, tweak types appearance
  docs/common/headingManager.ts
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks, preview

#29560 [expo-video][iOS] Support Apple TV
  packages/expo-updates/e2e/setup/project.ts
  packages/expo-video/CHANGELOG.md
  packages/expo-video/expo-module.config.json
  packages/expo-video/ios/ExpoVideo.podspec
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoView.swift
Labels: bot: suggestions, bot: fingerprint changed

#29657 [expo-notifications][Android] Fix setBadgeCount() when badge count is 0
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/badge/BadgeHelper.kt
Labels: bot: suggestions, bot: fingerprint changed

#29659 [expo-notifications][Android] adjust logic in handling responses when app in background or killed
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationManager.java
Labels: bot: suggestions, bot: fingerprint changed

#29625 [dev-launcher][android] Detect dev servers running on localhost with adb reverse
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/functions/getDevSessionsAsync.ts
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks, bot: fingerprint changed

#29666 [docs] Remove public links of examples in AV API references
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/unversioned/sdk/av.mdx
  docs/pages/versions/v49.0.0/sdk/audio.mdx
  docs/pages/versions/v49.0.0/sdk/av.mdx
  docs/pages/versions/v50.0.0/sdk/audio.mdx
  docs/pages/versions/v50.0.0/sdk/av.mdx
  docs/pages/versions/v51.0.0/sdk/audio.mdx
  docs/pages/versions/v51.0.0/sdk/av.mdx
Labels: bot: passed checks

#29533 [sqlite][docs] Fix typo in `withTransactionAsync(task)` example
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/v51.0.0/expo-sqlite.json
  packages/expo-sqlite/build/SQLiteDatabase.d.ts
  packages/expo-sqlite/build/SQLiteDatabase.js
  packages/expo-sqlite/build/SQLiteDatabase.js.map
  packages/expo-sqlite/src/SQLiteDatabase.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29555 Fix cancel button on expo-contacts presentFormAsync for unknown contacts
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/ContactsModule.swift
Labels: bot: passed checks

#29677 [bare-expo] Enable warnings in pods
  apps/bare-expo/ios/Podfile
Labels: bot: passed checks, bot: fingerprint changed

#29645 [expo-modules-core][ios] Send open url event to all matching subscribers.
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/ExpoAppDelegate.swift
Labels: bot: passed checks, bot: fingerprint changed

#29658 [docs] rewrite Home page, small tweaks
  docs/.eslintrc.cjs
  docs/package.json
  docs/pages/additional-resources/index.mdx
  docs/pages/index.tsx
  docs/tailwind.config.cjs
  docs/ui/components/Authentication/Grid.tsx
  docs/ui/components/Footer/Footer.tsx
  docs/ui/components/Home/Cells.tsx
  docs/ui/components/Home/HeaderDescription.tsx
  docs/ui/components/Home/HomeButton.tsx
  docs/ui/components/Home/index.tsx
  docs/ui/components/Home/resources/CodecademyImage.tsx
  docs/ui/components/Home/resources/DevicesImage.tsx
  docs/ui/components/Home/resources/OfficeHoursImage.tsx
  docs/ui/components/Home/resources/QuickStartIcon.tsx
  docs/ui/components/Home/resources/SnackImage.tsx
  docs/ui/components/Home/resources/WhyImage.tsx
  docs/ui/components/Home/sections/ExploreAPIs.tsx
  docs/ui/components/Home/sections/JoinTheCommunity.tsx
  docs/ui/components/Home/sections/LearnMore.tsx
  docs/ui/components/Home/sections/QuickStart.tsx
  docs/ui/components/Home/sections/Talks.tsx
  docs/ui/components/Home/sections/index.ts
  docs/yarn.lock
Labels: bot: passed checks, preview

#29596 [image][Android] Fix warning in manifest
  packages/expo-image/android/src/main/AndroidManifest.xml
Labels: bot: suggestions, bot: fingerprint changed

#29197 fix(expo-image): reanimated on web
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/build/Image.js
  packages/expo-image/build/Image.js.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/Image.types.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.tsx
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#29681 [ios][camera] Return correct exif orientation
  apps/bare-expo/ios/Podfile.lock
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Common/ExpoCameraUtils.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/ios/Legacy/CameraViewLegacy.swift
Labels: bot: passed checks, bot: fingerprint changed

#29593 [updates] fine tune e2e tests
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/e2e/fixtures/Updates-dev-client.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-disabled.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-error-recovery.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-startup.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
Labels: bot: passed checks, bot: fingerprint changed

#29541 [asset][image] decouple @react-native/assets-registry
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/package.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#29647 chore(server): Reduce side-effects and imports
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/build/vendor/express.js
  packages/@expo/server/build/vendor/express.js.map
  packages/@expo/server/build/vendor/http.js
  packages/@expo/server/build/vendor/http.js.map
  packages/@expo/server/src/index.ts
  packages/@expo/server/src/vendor/express.ts
  packages/@expo/server/src/vendor/http.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29673 [expo-document-picker][ios] Fix video/* MIME Type
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/ios/DocumentPickerModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#29527 [gha] run only one workflow for most of docs changes
  .github/workflows/docs-pr-destroy.yml
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Labels: bot: passed checks, preview

#29646 feat(metro config): add asset handling for React Server Components
  packages/@expo/cli/ts-declarations/metro-babel-transformer/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.d.ts
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.js
  packages/@expo/metro-config/build/serializer/fork/baseJSBundle.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/serializer/serializerAssets.d.ts
  packages/@expo/metro-config/build/transform-worker/asset-transformer.d.ts
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.d.ts
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/customizeFrame.ts
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.test.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.ts
  packages/@expo/metro-config/src/serializer/fork/baseJSBundle.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/@expo/metro-config/src/serializer/serializerAssets.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/asset-transformer.test.ts
  packages/@expo/metro-config/src/transform-worker/asset-transformer.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/client-module-proxy-plugin.js
  packages/babel-preset-expo/src/client-module-proxy-plugin.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#29638 [expo-camera] Prevent shutter sound when device volume is muted
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks

#29505 [video][ios] Fix player status property always returning `undefined`
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#29053 [core][ios] Fix random conversion errors when converting JavaScript floating-point numbers to `Swift.Float`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicRawType.swift
Labels: bot: passed checks, bot: fingerprint changed

#29598 [video][Android] Fix `VideoPlayer.replace` not working when the previous source caused an error
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoManager.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
Labels: bot: passed checks, bot: fingerprint changed

#29667 [video] Fix web nativeControls default
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoView.web.js
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: passed checks

#29572 feat(metro-runtime): add location.reload() in native production apps
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/location/Location.native.d.ts.map
  packages/@expo/metro-runtime/build/location/Location.native.js
  packages/@expo/metro-runtime/build/location/Location.native.js.map
  packages/@expo/metro-runtime/src/location/Location.native.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29685 fix(cli): Support web imports of `react-native/Libraries/Image/resolveAssetSource` in Metro.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroMultiPlatform.test.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint changed

#29686 fix(cli): fix asset ID for static web exports
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/__tests__/persistMetroAssets.test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/exportAssets.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/export/persistMetroAssets.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29696 fix(cli): resolve module specifiers to posix paths on Windows
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29699 chore: do not sort search results alphabetically
  apps/native-component-list/src/screens/SearchScreen.tsx
Labels: bot: passed checks

#29697 [menu][Android] Fix `disableOnboarding=1` wasn't working when using the dev-client
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: suggestions, bot: fingerprint changed

#29694 [capture][Android] Fix module was crashing in the dev-client when going back to the home screen
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/android/src/main/java/expo/modules/screencapture/ScreenCaptureModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#29672 [docs] Sync xdl schemas for 50, 51, and unversioned
  docs/public/static/schemas/unversioned/app-config-schema.json
  docs/public/static/schemas/v50.0.0/app-config-schema.json
  docs/public/static/schemas/v51.0.0/app-config-schema.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29691 [docs] minor tweaks for API Reference pages
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/unversioned/sdk/storereview.mdx
  docs/pages/versions/v49.0.0/sdk/location.mdx
  docs/pages/versions/v49.0.0/sdk/storereview.mdx
  docs/pages/versions/v50.0.0/sdk/location.mdx
  docs/pages/versions/v50.0.0/sdk/storereview.mdx
  docs/pages/versions/v51.0.0/sdk/location.mdx
  docs/pages/versions/v51.0.0/sdk/storereview.mdx
Labels: bot: passed checks

#29592 [docs]: Add docs for +native-intend and other linking methods
  docs/constants/navigation.js
  docs/pages/router/advanced/native-intent.mdx
Labels: bot: passed checks, preview

#29707 [task-manager] fix example in JSDoc comment
  docs/public/static/data/unversioned/expo-task-manager.json
  packages/expo-task-manager/build/TaskManager.d.ts
  packages/expo-task-manager/build/TaskManager.d.ts.map
  packages/expo-task-manager/build/TaskManager.js
  packages/expo-task-manager/build/TaskManager.js.map
  packages/expo-task-manager/src/TaskManager.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29730 update yarn.lock
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#29704 [docs] exclude methods passed type in Table of Content links
  docs/components/DocumentationSidebarRightLink.tsx
Labels: bot: passed checks

#29678 fix: blur radius not working in expo-image
  apps/native-component-list/src/screens/Image/ImageAnimatedStyles.tsx
  apps/native-component-list/src/screens/Image/ImageComparisonScreen.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  apps/native-component-list/src/screens/Image/ImageTestListItem.tsx
  apps/native-component-list/src/screens/Image/tests/appearance.tsx
  apps/native-component-list/src/screens/Image/tests/borders.tsx
  apps/native-component-list/src/screens/Image/tests/constants.ts
  apps/native-component-list/src/screens/Image/tests/index.tsx
  apps/native-component-list/src/screens/Image/tests/shadows.tsx
  apps/native-component-list/src/screens/Image/types.ts
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks, bot: fingerprint changed

#29712 [android][camera] Fix image rendering when exif is true
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/legacy/tasks/ResolveTakenPictureAsyncTask.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/ResolveTakenPicture.kt
Labels: bot: passed checks, bot: fingerprint changed

#29734 [docs] add first batch of App.js 2024 talks
  docs/public/static/talks.ts
Labels: bot: passed checks

#29690 [ios] Reduce warnings
  apps/expo-go/ios/Podfile.lock
  packages/expo-apple-authentication/ios/AppleAuthenticationExceptions.swift
  packages/expo-asset/ios/AssetModule.swift
  packages/expo-calendar/ios/CalendarExceptions.swift
  packages/expo-calendar/ios/CalendarModule.swift
  packages/expo-calendar/ios/CalendarUtils.swift
  packages/expo-calendar/ios/Requesters/CalendarPermissionsRequester.swift
  packages/expo-calendar/ios/Requesters/RemindersPermissionsRequester.swift
  packages/expo-camera/ios/Common/CameraExceptions.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/ios/Legacy/CameraViewLegacy.swift
  packages/expo-cellular/ios/CellularModule.swift
  packages/expo-clipboard/ios/ClipboardExceptions.swift
  packages/expo-clipboard/ios/ClipboardOptions.swift
  packages/expo-clipboard/ios/ClipboardPasteButton.swift
  packages/expo-clipboard/ios/UIPasteboard+html.swift
  packages/expo-contacts/ios/ContactsExceptions.swift
  packages/expo-contacts/ios/ContactsModule.swift
  packages/expo-contacts/ios/Decoding.swift
  packages/expo-contacts/ios/Serialization.swift
  packages/expo-crypto/ios/CryptoModule.swift
  packages/expo-crypto/ios/DigestAlgorithm.swift
  packages/expo-crypto/ios/DigestOptions.swift
  packages/expo-document-picker/ios/DocumentPickerModule.swift
  packages/expo-haptics/ios/HapticsModule.swift
  packages/expo-image-manipulator/ios/ImageManipulatorArguments.swift
  packages/expo-image-picker/ios/ImagePickerOptions.swift
  packages/expo-image-picker/ios/MediaHandler.swift
  packages/expo-local-authentication/ios/LocalAuthenticationModule.swift
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-mail-composer/ios/MailComposerModule.swift
  packages/expo-maps/ios/ExpoMaps/PropsData.swift
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-modules-core/ios/Core/Events/EventDispatcher.swift
  packages/expo-modules-core/ios/Core/Events/LegacyEventEmitterCompat.swift
  packages/expo-modules-core/ios/Core/JavaScriptFunction.swift
  packages/expo-modules-core/ios/Core/Objects/ObjectDefinition.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObject.swift
  packages/expo-modules-core/ios/Core/Views/ViewModuleWrapper.swift
  packages/expo-modules-core/ios/FileSystemUtilities/FileSystemLegacyUtilities.swift
  packages/expo-modules-core/ios/JSI/JavaScriptRuntime.swift
  packages/expo-print/ios/ExpoPrintToFile.swift
  packages/expo-secure-store/ios/SecureStoreModule.swift
  packages/expo-sensors/ios/PedometerModule.swift
  packages/expo-video-thumbnails/ios/VideoThumbnailsModule.swift
  packages/expo-video/ios/ContentKeyDelegate.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
  packages/expo-web-browser/ios/WebBrowserOptions.swift
Labels: bot: suggestions, bot: fingerprint changed

#29709 [fingerprint] fix diffFingerprints for removed sources
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Fingerprint.d.ts
  packages/@expo/fingerprint/build/Fingerprint.js
  packages/@expo/fingerprint/build/Fingerprint.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Sort.d.ts
  packages/@expo/fingerprint/build/Sort.js
  packages/@expo/fingerprint/build/Sort.js.map
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/src/Fingerprint.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Sort.ts
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29687 [gha] Add workflow that publishes canaries
  .github/workflows/publish-canaries.yml
  tools/src/publish-packages/tasks/packPackageToTarball.ts
Labels: bot: passed checks

#29671 Fix @expo/vector-icons version in bundledNativeModules
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks, bot: fingerprint changed

#29732 fix(ios): getFreeDiskStorageAsync to return a more accurate result
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.d.ts.map
  packages/expo-file-system/build/FileSystem.js
  packages/expo-file-system/build/FileSystem.js.map
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/src/FileSystem.ts
Labels: bot: passed checks, bot: fingerprint changed

#29683 [docs] rewrite error page styling
  docs/pages/_error.tsx
  docs/ui/components/ErrorPage/NotFoundImage.tsx
  docs/ui/components/ErrorPage/RedirectImage.tsx
  docs/ui/components/ErrorPage/ServerErrorImage.tsx
  docs/ui/components/Layout/Layout.tsx
Labels: bot: passed checks, preview

#29740 docs: document media library MediaSubtype
  docs/public/static/data/unversioned/expo-media-library.json
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: suggestions, bot: fingerprint changed

#29747 [ios][media-library] Add back image loader
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/MediaLibraryImageLoader.h
  packages/expo-media-library/ios/MediaLibraryImageLoader.m
Labels: bot: passed checks, bot: fingerprint changed

#29749 [ios][image-picker] Handle microphone permissions being disabled
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/ImagePickerExceptions.swift
  packages/expo-image-picker/ios/ImagePickerModule.swift
  packages/expo-image-picker/ios/ImagePickerOptions.swift
  packages/expo-image-picker/ios/ImagePickerPermissionRequesters.swift
Labels: bot: passed checks, bot: fingerprint changed

#29641 [docs] Merge `ImageSpotlight` and `Video` to `ContentSpotlight`
  docs/pages/tutorial/introduction.mdx
  docs/ui/components/ContentSpotlight/LightboxImage.tsx
  docs/ui/components/ContentSpotlight/index.tsx
Labels: bot: passed checks

#29751 [docs] remove no longer need transitive dependencies resolutions
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks, preview

#29758 [docs] fix troubleshooting typo (international -> intentional)
  docs/pages/build-reference/troubleshooting.mdx
Labels: bot: passed checks

#29731 [docs] bump Styleguide packages, remove redundant customizations
  docs/package.json
  docs/tailwind.config.cjs
  docs/yarn.lock
Labels: bot: passed checks, preview

#29509 [docs] add last modification date to page Footer
  docs/components/DocumentationPage.tsx
  docs/components/page-higher-order/DocumentationElements.tsx
  docs/package.json
  docs/pages/build-reference/infrastructure.mdx
  docs/pages/technical-specs/expo-sfv-0.mdx
  docs/pages/technical-specs/expo-updates-1.mdx
  docs/scripts/append-dates.js
  docs/types/common.ts
  docs/ui/components/Footer/Footer.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#29738 [bare-expo] Change default web bundler to metro
  apps/bare-expo/app.json
Labels: bot: passed checks, bot: fingerprint changed

#27587 [expo-image] Fix blurhash not working and causing fetch to `blurhash:` uri.
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/utils/blurhash/useBlurhash.d.ts
  packages/expo-image/build/utils/blurhash/useBlurhash.d.ts.map
  packages/expo-image/build/utils/blurhash/useBlurhash.js
  packages/expo-image/build/utils/blurhash/useBlurhash.js.map
  packages/expo-image/build/utils/resolveHashString.web.d.ts
  packages/expo-image/build/utils/resolveHashString.web.d.ts.map
  packages/expo-image/build/utils/resolveHashString.web.js
  packages/expo-image/build/utils/resolveHashString.web.js.map
  packages/expo-image/build/web/hooks.d.ts
  packages/expo-image/build/web/hooks.d.ts.map
  packages/expo-image/build/web/hooks.js
  packages/expo-image/build/web/hooks.js.map
  packages/expo-image/src/utils/blurhash/useBlurhash.tsx
  packages/expo-image/src/utils/resolveHashString.web.tsx
  packages/expo-image/src/web/hooks.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29800 [camera] Fix typo and warning
  packages/expo-camera/android/build.gradle
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: suggestions, bot: fingerprint changed

#29428 [video][ios] Fix crashes when creating new players
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/NowPlayingManager.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
Labels: bot: passed checks, bot: fingerprint changed
