Repository expo/expo, pull requests merged in 2024-10, with the labels that each got.

#31777 [docs] Fix minor issues such as typos and grammatical errors in multiple docs
  docs/pages/app-signing/managed-credentials.mdx
  docs/pages/archive/push-notifications/notification-channels.mdx
  docs/pages/archive/push-notifications/sending-notifications-custom-fcm-legacy.mdx
  docs/pages/build-reference/easignore.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/eas-update/rollbacks.mdx
  docs/pages/eas-update/rollouts.mdx
  docs/pages/eas-update/runtime-versions.mdx
  docs/pages/guides/local-first.mdx
  docs/pages/modules/autolinking.mdx
  docs/pages/modules/module-api.mdx
  docs/pages/troubleshooting/application-has-not-been-registered.mdx
  docs/pages/versions/unversioned/sdk/stripe.mdx
  docs/pages/versions/unversioned/sdk/tracking-transparency.mdx
  docs/pages/versions/v49.0.0/sdk/stripe.mdx
  docs/pages/versions/v49.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v50.0.0/sdk/stripe.mdx
  docs/pages/versions/v50.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v51.0.0/sdk/stripe.mdx
  docs/pages/versions/v51.0.0/sdk/tracking-transparency.mdx
  docs/ui/components/Home/sections/DiscoverMore.tsx
Labels: bot: passed checks

#31755 [docs] Update docs for the expo package
  docs/public/static/data/unversioned/expo.json
  packages/expo-modules-core/build/ts-declarations/SharedObject.d.ts
  packages/expo-modules-core/build/ts-declarations/SharedObject.d.ts.map
  packages/expo-modules-core/build/ts-declarations/SharedRef.d.ts
  packages/expo-modules-core/build/ts-declarations/SharedRef.d.ts.map
  packages/expo-modules-core/src/ts-declarations/SharedObject.ts
  packages/expo-modules-core/src/ts-declarations/SharedRef.ts
Labels: bot: suggestions, preview, bot: fingerprint changed

#31756 feature(cli): add `run android --app-id` for custom app ids
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/run-android-test.ts.snap
  packages/@expo/cli/e2e/__tests__/__snapshots__/run-test.ts.snap
  packages/@expo/cli/src/run/android/__tests__/resolveGradlePropsAsync-test.ts
  packages/@expo/cli/src/run/android/__tests__/resolveLaunchProps-test.ts
  packages/@expo/cli/src/run/android/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/run/android/index.ts
  packages/@expo/cli/src/run/android/resolveGradlePropsAsync.ts
  packages/@expo/cli/src/run/android/resolveLaunchProps.ts
  packages/@expo/cli/src/run/android/resolveOptions.ts
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/start/platforms/PlatformManager.ts
  packages/@expo/cli/src/start/platforms/android/AndroidDeviceManager.ts
  packages/@expo/cli/src/start/platforms/android/AndroidPlatformManager.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/AndroidDeviceManager-test.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/AndroidPlatformManager-test.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/adb-test.ts
  packages/@expo/cli/src/start/platforms/android/adb.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31707 feat(cli): link server deployment to client
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/__tests__/xcodeCompilerLogger.test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/embed/exportServer.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
  packages/@expo/cli/src/export/embed/xcodeCompilerLogger.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/location/install.native.d.ts.map
  packages/@expo/metro-runtime/src/location/install.native.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30132 [expo-contacts][android] fix creating contacts with birthday
  apps/test-suite/tests/Contacts.js
  docs/public/static/data/unversioned/expo-contacts.json
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/models/BaseModel.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/models/BirthdayModel.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/models/DateModel.kt
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/ios/Serialization.swift
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#31569 fix: more strict config plugin resolution
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/utils/plugin-resolver.d.ts
  packages/@expo/config-plugins/build/utils/plugin-resolver.js
  packages/@expo/config-plugins/build/utils/plugin-resolver.js.map
  packages/@expo/config-plugins/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/.gitignore
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/README.md
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/app.plugin.js
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/lib/commonjs/index.js
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/lib/commonjs/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/lib/module/index.js
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/lib/module/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-lib/plugin/build/withTestPlugin.js
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-plugin/README.md
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-plugin/lib/commonjs/index.js
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-plugin/lib/commonjs/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-plugin/lib/module/index.js
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-plugin/lib/module/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/node_modules/test-plugin/package.json
  packages/@expo/config-plugins/src/utils/__tests__/fixtures/testPlugin.js
  packages/@expo/config-plugins/src/utils/__tests__/plugin-resolver-test.ts
  packages/@expo/config-plugins/src/utils/plugin-resolver.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31784 [core][Android] Set external memory pressure for shared objects
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageRef.kt
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/Image.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
Labels: bot: passed checks, bot: fingerprint changed

#31786 [image][Android] Add missing `return`
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#31782 [iOS][core] Don't convert convertibles if the value is already converted
  packages/expo-modules-core/ios/Core/Arguments/Convertibles.swift
  packages/expo-modules-core/ios/Core/Convertibles/Convertibles+Color.swift
  packages/expo-modules-core/ios/Core/Records/Record.swift
Labels: bot: fingerprint changed

#31788 feat(expo-image-picker): supply file object in expo-image-picker
  docs/public/static/data/unversioned/expo-image-picker.json
  packages/expo-image-picker/.npmignore
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ExponentImagePicker.web.js
  packages/expo-image-picker/build/ExponentImagePicker.web.js.map
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ExponentImagePicker.web.ts
  packages/expo-image-picker/src/ImagePicker.types.ts
  packages/expo-image-picker/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#31795 [notifications][android] fix notifications actions not being presented
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.kt
Labels: bot: passed checks, bot: fingerprint changed

#30247 [prebuild-config] add support for iOS 18 dark/tinted icons
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/image-utils/CHANGELOG.md
  packages/@expo/image-utils/build/Cache.js
  packages/@expo/image-utils/build/Cache.js.map
  packages/@expo/image-utils/build/Image.types.d.ts
  packages/@expo/image-utils/src/Cache.ts
  packages/@expo/image-utils/src/Image.types.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.js.map
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js.map
  packages/@expo/prebuild-config/src/plugins/icons/AssetContents.ts
  packages/@expo/prebuild-config/src/plugins/icons/__tests__/withIosIcons-test.ts
  packages/@expo/prebuild-config/src/plugins/icons/withIosIcons.ts
Labels: bot: passed checks

#31674 Adds more context to build and update docs on home page
  docs/pages/deploy/build-project.mdx
  docs/pages/deploy/send-over-the-air-updates.mdx
Labels: bot: passed checks, preview

#31804 [config-types] Sync with latest unversioned
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks

#31789 [core][updates] fix ios reload crash in new arch mode
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Modules/CoreModule.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/Procedures/RecreateReactContextProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/RelaunchProcedure.swift
Labels: bot: fingerprint changed

#31796 [notifications][android] add clarifying comments to code
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationManager.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/BackgroundRemoteNotificationTaskConsumer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/handling/NotificationsHandler.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/handling/SingleNotificationHandlerTask.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/NotificationListener.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/model/NotificationAction.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/model/NotificationCategory.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/FirebaseMessagingDelegate.kt
Labels: bot: suggestions, bot: fingerprint changed

#30524 [video][web] Add PiP support for web
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoView.d.ts
  packages/expo-video/build/VideoView.d.ts.map
  packages/expo-video/build/VideoView.js
  packages/expo-video/build/VideoView.js.map
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/build/VideoView.web.d.ts
  packages/expo-video/build/VideoView.web.d.ts.map
  packages/expo-video/build/VideoView.web.js
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoView.tsx
  packages/expo-video/src/VideoView.types.ts
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#31327 [video] Add `timeUpdate` event
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/IntervalUpdateClock.kt
  packages/expo-video/android/src/main/java/expo/modules/video/PlayerEvent.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayerListener.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/TimeUpdate.kt
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js.map
  packages/expo-video/ios/NowPlayingManager.swift
  packages/expo-video/ios/Records/TimeUpdate.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#31791 fix(cli, router): add minor fixes for rsc testing
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportServer.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/metro/withMetroResolvers.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/views/ErrorBoundary.js
  packages/expo-router/build/views/ErrorBoundary.js.map
  packages/expo-router/src/views/ErrorBoundary.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#31799 feat(rsc): add vector icon support
  apps/router-e2e/__e2e__/01-rsc/app/index.tsx
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#31808 [tools] Update SwiftLint to 0.57.0
  .github/workflows/code-review.yml
  .swiftlint.yml
  tools/package.json
  tools/src/linting/SwiftLint.ts
  tools/yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31811 [ios][android] Update @react-native-segmented-control to 2.5.4
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#30861 [dev-launcher][dev-menu] Clean up code availability for iOS 15.1
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/DevLauncherAuth.swift
  packages/expo-dev-launcher/ios/Logs/EXDevLauncherRemoteLogsManager.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuManager.swift
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-dev-menu/vendored/react-native-safe-area-context/ios/SafeAreaView/DevMenuRNCSafeAreaProviderManager.swift
  packages/expo-dev-menu/vendored/react-native-safe-area-context/ios/SafeAreaView/RCTView+DevMenuSafeAreaCompat.swift
Labels: bot: passed checks, bot: fingerprint changed

#31787 [core][Android] Improve error messages when converting `Either`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/DynamicExtenstions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/Either.kt
Labels: bot: suggestions, bot: fingerprint changed

#31827 [iOS][core] Improve converting function results
  packages/@expo/dom-webview/ios/DomWebView.swift
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Conversions.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/AnyDynamicType.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicArrayType.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicConvertibleType.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicEnumType.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicOptionalType.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicRawType.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicSharedObjectType.swift
  packages/expo-modules-core/ios/Core/Functions/AsyncFunctionDefinition.swift
  packages/expo-modules-core/ios/Core/Records/Record.swift
Labels: bot: suggestions, bot: fingerprint changed

#31834 [iOS][image] Fix isAnimated property always returning true
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/Image.swift
  packages/expo-image/ios/ImageModule.swift
Labels: bot: suggestions

#31831 [third-party] Update `react-native-gesture-handler` to `2.20.0`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/test-suite/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31832 [third-party] Update `react-native-reanimated` to `3.15.4`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31824 [go] fix ios build error
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Kernel/Core/EXKernel.m
  apps/expo-go/ios/Exponent/Kernel/Core/EXKernelAppRegistry.h
  apps/expo-go/ios/Exponent/Kernel/Core/EXKernelAppRegistry.m
  apps/expo-go/ios/Exponent/Kernel/Core/EXKernelServiceRegistry.h
  apps/expo-go/ios/Exponent/Kernel/Core/EXKernelServiceRegistry.m
  apps/expo-go/ios/Exponent/Kernel/Services/EXErrorRecoveryManager.h
  apps/expo-go/ios/Exponent/Kernel/Services/EXFileSystemManager.h
  apps/expo-go/ios/Exponent/Kernel/Services/EXKernelService.h
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks, bot: fingerprint changed

#31810 [ios][android] Update @shopify/flash-list from 1.6.4-> 1.7.1
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31776 [core] Add `nativeRefType` to `SharedRef`
  apps/native-component-list/src/screens/Image/ImageSharedRefFromManipulator.tsx
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ImageRef.kt
  packages/expo-image-manipulator/build/ImageManipulator.types.d.ts
  packages/expo-image-manipulator/build/ImageManipulator.types.d.ts.map
  packages/expo-image-manipulator/build/web/ImageManipulatorImageRef.web.d.ts
  packages/expo-image-manipulator/build/web/ImageManipulatorImageRef.web.d.ts.map
  packages/expo-image-manipulator/ios/ImageRef.swift
  packages/expo-image-manipulator/src/ImageManipulator.types.ts
  packages/expo-image-manipulator/src/web/ImageManipulatorImageRef.web.ts
  packages/expo-image/android/src/main/java/expo/modules/image/Image.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/utils.d.ts
  packages/expo-image/build/utils.d.ts.map
  packages/expo-image/build/utils/resolveSources.d.ts.map
  packages/expo-image/build/web/ImageRef.d.ts
  packages/expo-image/build/web/ImageRef.d.ts.map
  packages/expo-image/build/web/useSourceSelection.d.ts
  packages/expo-image/build/web/useSourceSelection.d.ts.map
  packages/expo-image/ios/Image.swift
  packages/expo-image/src/Image.types.ts
  packages/expo-image/src/utils.ts
  packages/expo-image/src/utils/resolveSources.tsx
  packages/expo-image/src/web/ImageRef.ts
  packages/expo-image/src/web/useSourceSelection.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/SharedRefTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedRef.kt
  packages/expo-modules-core/build/ts-declarations/SharedRef.d.ts
  packages/expo-modules-core/build/ts-declarations/SharedRef.d.ts.map
  packages/expo-modules-core/build/web/CoreModule.d.ts
  packages/expo-modules-core/build/web/CoreModule.d.ts.map
  packages/expo-modules-core/ios/Core/Classes/ClassDefinition.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObjectRegistry.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedRef.swift
  packages/expo-modules-core/ios/Tests/SharedRefSpec.swift
  packages/expo-modules-core/src/ts-declarations/SharedRef.ts
  packages/expo-modules-core/src/web/CoreModule.ts
Labels: bot: suggestions, bot: fingerprint changed

#31382 [docs] Update Get started tutorial
  docs/common/code-utilities.ts
  docs/components/base/code.tsx
  docs/constants/navigation.js
  docs/global-styles/global.css
  docs/pages/tutorial/add-navigation.mdx
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/tutorial/follow-up.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/introduction.mdx
  docs/pages/tutorial/overview.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
  docs/providers/TutorialChapterCompletionProvider.tsx
  docs/public/static/images/tutorial/01-app-running-on-all-platforms.png
  docs/public/static/images/tutorial/02-index-screen-changes.png
  docs/public/static/images/tutorial/03-bottom-tab-navigator.png
  docs/public/static/images/tutorial/04-tab-navigator-complete.png
  docs/public/static/images/tutorial/app-icon-visible.jpg
  docs/public/static/images/tutorial/app-icon-visible.png
  docs/public/static/images/tutorial/breakdown-of-layout.png
  docs/public/static/images/tutorial/button-options.jpg
  docs/public/static/images/tutorial/button-options.png
  docs/public/static/images/tutorial/buttons-created.jpg
  docs/public/static/images/tutorial/buttons-created.png
  docs/public/static/images/tutorial/emoji-picker.png
  docs/public/static/images/tutorial/initial-layout.jpg
  docs/public/static/images/tutorial/initial-layout.png
  docs/public/static/images/tutorial/modal-creation.jpg
  docs/public/static/images/tutorial/modal-creation.png
  docs/public/static/images/tutorial/statusbar-example.jpg
  docs/public/static/images/tutorial/statusbar-example.png
  docs/public/static/images/tutorial/sticker-smash-assets.zip
  docs/public/static/videos/tutorial/01-navigating-between-screens.mp4
  docs/public/static/videos/tutorial/02-complete-layout.mp4
  docs/public/static/videos/tutorial/02-not-found-route.mp4
  docs/public/static/videos/tutorial/03-image-picker-demo.mp4
  docs/public/static/videos/tutorial/04-complete-layout.mp4
  docs/public/static/videos/tutorial/emoji-picker.mp4
  docs/public/static/videos/tutorial/final.mp4
  docs/public/static/videos/tutorial/pan-gesture.mp4
  docs/public/static/videos/tutorial/saving-screenshot.mp4
  docs/public/static/videos/tutorial/select-emoji.mp4
  docs/public/static/videos/tutorial/splash-add.mp4
  docs/public/static/videos/tutorial/splash-fixed.mp4
  docs/public/static/videos/tutorial/splash-screen.mp4
  docs/public/static/videos/tutorial/tap-gesture.mp4
  docs/public/static/videos/tutorial/web.mp4
  docs/ui/components/ProgressTracker/TutorialData.ts
  docs/ui/components/ProgressTracker/index.tsx
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks, preview

#31816 [expo-go][android] Fix expo-updates app loader status callback
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
Labels: bot: passed checks

#31108 [expo] add useDOMImperativeHandle to accept ref calls from native
  apps/router-e2e/__e2e__/dom-components/app/index.tsx
  apps/router-e2e/__e2e__/dom-components/components/07-forward-ref.tsx
  docs/pages/guides/dom-components.mdx
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/dom-hooks.d.ts
  packages/expo/build/dom/dom-hooks.d.ts.map
  packages/expo/build/dom/dom.d.ts
  packages/expo/build/dom/dom.d.ts.map
  packages/expo/build/dom/dom.types.d.ts
  packages/expo/build/dom/dom.types.d.ts.map
  packages/expo/build/dom/dom.web.d.ts
  packages/expo/build/dom/dom.web.d.ts.map
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/src/dom/dom-hooks.ts
  packages/expo/src/dom/dom.ts
  packages/expo/src/dom/dom.types.ts
  packages/expo/src/dom/dom.web.ts
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks, bot: fingerprint changed

#31853 Fix typo in expo-dev-client.mdx
  docs/pages/eas-update/expo-dev-client.mdx
Labels: bot: passed checks

#31823 [expo-notifications] New monthly scheduled trigger type
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/scheduling/NotificationScheduler.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/MonthlyTrigger.java
  packages/expo-notifications/build/NotificationScheduler.types.d.ts
  packages/expo-notifications/build/NotificationScheduler.types.d.ts.map
  packages/expo-notifications/build/NotificationScheduler.types.js.map
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/scheduleNotificationAsync.d.ts.map
  packages/expo-notifications/build/scheduleNotificationAsync.js
  packages/expo-notifications/build/scheduleNotificationAsync.js.map
  packages/expo-notifications/ios/EXNotifications/Notifications/Scheduling/EXNotificationSchedulerModule.m
  packages/expo-notifications/src/NotificationScheduler.types.ts
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/__tests__/Notifications-test.ts
  packages/expo-notifications/src/scheduleNotificationAsync.ts
Labels: bot: passed checks, bot: fingerprint changed

#31847 [ios][calendar] Initialize EKEventStore as a singleton
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/CalendarModule.swift
Labels: bot: passed checks

#31841 [iOS][core] Disable view recycling in ExpoView
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Fabric/ExpoFabricView.swift
Labels: bot: passed checks, bot: fingerprint changed

#31295 [expo] integrate @expo/dom-webview
  apps/router-e2e/__e2e__/dom-components/app/index.tsx
  apps/router-e2e/__e2e__/dom-components/components/08-native-module-proxy.tsx
  apps/router-e2e/package.json
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/dom.types.d.ts
  packages/expo/build/dom/dom.types.d.ts.map
  packages/expo/build/dom/webview-wrapper.d.ts
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/package.json
  packages/expo/src/dom/dom.types.ts
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks, bot: fingerprint changed

#31858 [core][Android] Add support for `kotlin.time.Duration`
  docs/pages/modules/module-api.mdx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/types/DurationTypeConversionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/types/EitherTypeConversionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/types/ListTypeConversionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/types/TypeConversionHelper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/DurationTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ReturnType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
Labels: bot: suggestions, bot: fingerprint changed

#31514 [ios][camera] Remove preferredVideoStabilizationMode
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#31828 Update `react-native-pager-view` to 6.4.1
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31283 [docs] Clean up old internal links of Linking and deep linking guides
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/guides/authentication.mdx
  docs/pages/guides/deep-linking.mdx
  docs/pages/guides/linking.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/router/advanced/native-intent.mdx
  docs/pages/router/navigating-pages.mdx
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/unversioned/sdk/linking.mdx
  docs/pages/versions/unversioned/sdk/webbrowser.mdx
  docs/pages/versions/v49.0.0/sdk/auth-session.mdx
  docs/pages/versions/v49.0.0/sdk/linking.mdx
  docs/pages/versions/v49.0.0/sdk/webbrowser.mdx
  docs/pages/versions/v50.0.0/sdk/auth-session.mdx
  docs/pages/versions/v50.0.0/sdk/linking.mdx
  docs/pages/versions/v50.0.0/sdk/webbrowser.mdx
  docs/pages/versions/v51.0.0/sdk/auth-session.mdx
  docs/pages/versions/v51.0.0/sdk/linking.mdx
  docs/pages/versions/v51.0.0/sdk/webbrowser.mdx
Labels: bot: passed checks

#31844 [go] bump skia to 1.4.2
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31864 [docs] Update create new a project command and assets
  docs/pages/tutorial/create-your-first-app.mdx
  docs/public/static/images/tutorial/sticker-smash-assets.zip
Labels: bot: passed checks

#31860 [expo] Upgrade @react-native-community/netinfo to `11.4.1`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#31869 [expo] Upgrade @react-native-community/datetimepicker to `8.2.0`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31814 [templates][android] Cleanup bare-minimum template
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/settings.gradle
Labels: bot: suggestions

#31868 feat(metro-config): add magic import comments for server exports
  apps/router-e2e/__e2e__/server-magic-import/app/index.tsx
  apps/router-e2e/__e2e__/server-magic-import/app/methods+api.ts
  apps/router-e2e/serve.js
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/cli/e2e/__tests__/export/export-server-magic-import.test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/collect-dependencies-upstream.test.ts
  packages/@expo/metro-config/src/transform-worker/collect-dependencies.ts
Labels: bot: suggestions, bot: fingerprint compatible

#31653 [docs] fix DevMenu methods access
  docs/pages/versions/unversioned/sdk/dev-client.mdx
  docs/pages/versions/v51.0.0/sdk/dev-client.mdx
Labels: bot: passed checks

#31873 [docs] Fix lint error in DevClient API reference
  docs/pages/versions/v51.0.0/sdk/dev-client.mdx
Labels: bot: passed checks

#31867 [babel-preset-expo] Fix snapshots for worklets
  packages/babel-preset-expo/src/__tests__/__snapshots__/index.test.ts.snap
Labels: bot: suggestions, bot: fingerprint compatible

#31878 [docs] Fix broken link - /examples/sendNotificationToAPNS.js
  docs/pages/push-notifications/sending-notifications-custom.mdx
Labels: bot: passed checks

#31278 [sqlite] add a way to provide custom directory for the database
  apps/test-suite/tests/SQLite.ts
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/public/static/data/unversioned/expo-sqlite.json
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeDatabase.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLExceptions.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/build/NativeDatabase.d.ts
  packages/expo-sqlite/build/NativeDatabase.js.map
  packages/expo-sqlite/build/SQLiteDatabase.d.ts
  packages/expo-sqlite/build/SQLiteDatabase.d.ts.map
  packages/expo-sqlite/build/SQLiteDatabase.js
  packages/expo-sqlite/build/SQLiteDatabase.js.map
  packages/expo-sqlite/build/hooks.d.ts
  packages/expo-sqlite/build/hooks.d.ts.map
  packages/expo-sqlite/build/hooks.js
  packages/expo-sqlite/build/hooks.js.map
  packages/expo-sqlite/build/pathUtils.d.ts
  packages/expo-sqlite/build/pathUtils.d.ts.map
  packages/expo-sqlite/build/pathUtils.js
  packages/expo-sqlite/build/pathUtils.js.map
  packages/expo-sqlite/ios/Exceptions.swift
  packages/expo-sqlite/ios/NativeDatabase.swift
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-sqlite/src/NativeDatabase.ts
  packages/expo-sqlite/src/SQLiteDatabase.ts
  packages/expo-sqlite/src/__mocks__/ExpoSQLite.ts
  packages/expo-sqlite/src/__tests__/pathUtils-test.ios.ts
  packages/expo-sqlite/src/hooks.tsx
  packages/expo-sqlite/src/pathUtils.ts
Labels: bot: passed checks

#31884 [docs] Fix filename typo
  docs/pages/tutorial/build-a-screen.mdx
Labels: bot: passed checks

#28470 [docs] Update Adding a new module to an existing application section in Expo Modules API: Get started
  docs/pages/modules/get-started.mdx
Labels: bot: passed checks, preview

#31813 [expo] add a default AppEntryNotFound component
  packages/expo/CHANGELOG.md
  packages/expo/build/errors/AppEntryNotFound.d.ts
  packages/expo/build/errors/AppEntryNotFound.d.ts.map
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/errors/AppEntryNotFound.tsx
Labels: bot: passed checks, bot: fingerprint changed

#31887 [docs] fix ungrammatical expression in installing-expo-modules.mdx
  docs/pages/bare/installing-expo-modules.mdx
Labels: bot: passed checks

#31743 [docs] Add a Local app production and create a Local app section
  docs/constants/navigation.js
  docs/pages/build-reference/local-builds.mdx
  docs/pages/guides/local-app-development.mdx
  docs/pages/guides/local-app-production.mdx
  docs/pages/workflow/overview.mdx
Labels: bot: passed checks, preview

#31889 [docs] Add Linking section
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/debugging/tools.mdx
  docs/pages/guides/authentication.mdx
  docs/pages/guides/deep-linking.mdx
  docs/pages/guides/linking.mdx
  docs/pages/linking/android-app-links.mdx
  docs/pages/linking/into-other-apps.mdx
  docs/pages/linking/into-your-app.mdx
  docs/pages/linking/ios-universal-links.mdx
  docs/pages/linking/overview.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/router/advanced/native-intent.mdx
  docs/pages/router/navigating-pages.mdx
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/unversioned/sdk/linking.mdx
  docs/pages/versions/unversioned/sdk/webbrowser.mdx
  docs/pages/versions/v49.0.0/sdk/auth-session.mdx
  docs/pages/versions/v49.0.0/sdk/linking.mdx
  docs/pages/versions/v49.0.0/sdk/webbrowser.mdx
  docs/pages/versions/v50.0.0/sdk/auth-session.mdx
  docs/pages/versions/v50.0.0/sdk/linking.mdx
  docs/pages/versions/v50.0.0/sdk/webbrowser.mdx
  docs/pages/versions/v51.0.0/sdk/auth-session.mdx
  docs/pages/versions/v51.0.0/sdk/linking.mdx
  docs/pages/versions/v51.0.0/sdk/webbrowser.mdx
Labels: bot: passed checks

#31862 Update lottie-react-native to 7.0.0
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31890 [docs] Remove deprecated Google and Facebook auth provides from expo-auth-session API reference
  docs/pages/versions/unversioned/sdk/auth-session.mdx
Labels: bot: passed checks

#31845 [docs][secure-store] Add a paragraph on data persistance
  docs/pages/versions/unversioned/sdk/securestore.mdx
Labels: bot: passed checks, preview

#31865 [expo-screen-capture] Clarify and document how it works with the Android privacy changes.
  docs/pages/versions/unversioned/sdk/screen-capture.mdx
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/android/src/main/AndroidManifest.xml
  packages/expo-screen-capture/android/src/main/java/expo/modules/screencapture/ScreenCaptureModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#30602 [video] Add support for controlling the buffering behavior
  docs/public/static/data/unversioned/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/AudioFocusManager.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoManager.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/android/src/main/java/expo/modules/video/playbackService/ExpoVideoPlaybackService.kt
  packages/expo-video/android/src/main/java/expo/modules/video/playbackService/PlaybackServiceConnection.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/PlayerEvent.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerListener.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerLoadControl.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/BufferOptions.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/TimeUpdate.kt
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js.map
  packages/expo-video/ios/Records/BufferOptions.swift
  packages/expo-video/ios/Records/TimeUpdate.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#31829 [video][android] display subtitles button when subtitles exist
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/FullscreenPlayerActivity.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/PlayerEvent.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerListener.kt
Labels: bot: passed checks

#31898 [core][Android] Add a flag to turn warnings into errors
  packages/expo-modules-core/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#31897 [core][iOS] Fixed views using the incorrect `AppContext` instance
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts.map
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/Core/Modules/CoreModule.swift
  packages/expo-modules-core/ios/Core/Views/ViewModuleWrapper.swift
  packages/expo-modules-core/ios/Fabric/ExpoFabricView.swift
  packages/expo-modules-core/ios/Legacy/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
Labels: bot: suggestions, bot: fingerprint changed

#31842 [notifications] handle invalid subscription in removeNotificationSubscription
  docs/public/static/data/unversioned/expo-notifications.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/NotificationsEmitter.d.ts.map
  packages/expo-notifications/build/NotificationsEmitter.js
  packages/expo-notifications/build/NotificationsEmitter.js.map
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/NotificationsEmitter.ts
  packages/expo-notifications/src/__tests__/NotificationsEmitter-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31899 update @react-native-picker/picker to 2.8.1
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/PickerScreen.tsx
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#31683 [expo-file-system][next] Add better error handling to delete
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextExceptions.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemPath.kt
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemNextExceptions.swift
  packages/expo-file-system/ios/Next/FileSystemPath.swift
  packages/expo-file-system/src/next/ExpoFileSystem.types.ts
Labels: bot: suggestions, bot: fingerprint changed

#31835 [notifications][android] rename subTitle -> subText internally
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/debug/DebugLogging.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/INotificationContent.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/model/NotificationContent.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/model/RemoteNotificationContent.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/test/java/expo/modules/notifications/NotificationContentSerializationTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#31838 [notification][android] refactor ExpoNotificationBuilder
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/androidTest/kotlin/expo/modules/notifications/ExpoNotificationBuilderTest.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/INotificationContent.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/NotificationBuilder.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/BaseNotificationBuilder.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/BaseNotificationBuilder.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/CategoryAwareNotificationBuilder.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ChannelAwareNotificationBuilder.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoPresentationDelegate.kt
Labels: bot: passed checks, bot: fingerprint changed

#31863 Update react-native-safe-area-context to 4.11.0
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/router-e2e/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#31874 [expo-updates][cli] Disable console during runtime and fingeprint evaluation
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/cli/build/configureCodeSigning.js
  packages/expo-updates/cli/build/generateCodeSigning.js
  packages/expo-updates/cli/build/generateFingerprint.js
  packages/expo-updates/cli/build/resolveRuntimeVersion.js
  packages/expo-updates/cli/build/utils/withConsoleDisabledAsync.d.ts
  packages/expo-updates/cli/build/utils/withConsoleDisabledAsync.js
  packages/expo-updates/cli/src/configureCodeSigning.ts
  packages/expo-updates/cli/src/generateCodeSigning.ts
  packages/expo-updates/cli/src/generateFingerprint.ts
  packages/expo-updates/cli/src/resolveRuntimeVersion.ts
  packages/expo-updates/cli/src/utils/withConsoleDisabledAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31805 [expo-updates] Add launchDuration constant
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXAbstractLoader.h
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  apps/expo-go/ios/Exponent/Kernel/Services/EXUpdatesManager.m
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/ExpoGoExpoUpdatesModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/UpdatesBinding.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/Logger.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/LoggerTimer.kt
  packages/expo-modules-core/ios/Core/Logging/Logger.swift
  packages/expo-modules-core/ios/Core/Logging/LoggerTimer.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/build/ExpoUpdatesModule.types.d.ts
  packages/expo-updates/build/ExpoUpdatesModule.types.d.ts.map
  packages/expo-updates/build/ExpoUpdatesModule.types.js.map
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/UseUpdates.types.d.ts
  packages/expo-updates/build/UseUpdates.types.d.ts.map
  packages/expo-updates/build/UseUpdates.types.js.map
  packages/expo-updates/build/UseUpdatesUtils.d.ts.map
  packages/expo-updates/build/UseUpdatesUtils.js
  packages/expo-updates/build/UseUpdatesUtils.js.map
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/fixtures/App-updates-disabled.tsx
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/e2e/setup/create-updates-test.ts
  packages/expo-updates/e2e/setup/project.ts
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/src/ExpoUpdatesModule.types.ts
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/UseUpdates.types.ts
  packages/expo-updates/src/UseUpdatesUtils.ts
Labels: bot: passed checks, bot: fingerprint changed

#31891 [docs] Update local EAS Build guide's title
  docs/pages/build-reference/local-builds.mdx
Labels: bot: passed checks

#31892 [expo-notifications][iOS] Plugin should not overwrite existing aps-entitlement
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/plugin/build/withNotificationsIOS.js
  packages/expo-notifications/plugin/src/withNotificationsIOS.ts
Labels: bot: passed checks, bot: fingerprint changed

#31901 [video][android] turn off auto-PiP on video unmount
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
Labels: bot: passed checks

#31876 [docs] Consolidate various guides into Getting Started, clarify standalone service usage
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/eas-update/build-locally.mdx
  docs/pages/eas-update/code-signing.mdx
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/deployment.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/standalone-service.mdx
  docs/pages/eas-update/updating-your-app.mdx
Labels: bot: passed checks

#31904 [expo-media-library] Add info about Android sensitive permission changes to the docs.
  docs/pages/versions/unversioned/sdk/media-library.mdx
Labels: bot: passed checks

#31917 fix(babel-preset-expo): pin babel-plugin-react-compiler to fixed version avoiding `postinstall` issue
  packages/babel-preset-expo/package.json
Labels: bot: suggestions, bot: fingerprint changed

#31720 Remove file with invalid name for windows
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/__mocks__/node:fs.ts
Labels: bot: passed checks

#31902 [expo-image-picker] Remove READ_MEDIA_IMAGES and READ_MEDIA_VIDEO
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#31397 [expo-modules-core] Add failing testcase
  packages/expo-modules-core/ios/Tests/FunctionSpec.swift
Labels: bot: suggestions, bot: fingerprint changed

#31921 [core][Android] Rename `SharedObject.deallocate` to `SharedObject.sharedObjectDidRelease`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
Labels: bot: suggestions, bot: fingerprint changed

#31923 [core][Android] Cleanup the `NativeModulesProxy`
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/FabricComponentsRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/permissions/PermissionsService.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/utilities/KotlinUtilities.kt
Labels: bot: suggestions, bot: fingerprint changed

#31854 [expo-updates][ios] Refactor JS event queueing and emitting
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/Events/NoOpUpdatesEventManager.swift
  packages/expo-updates/ios/EXUpdates/Events/QueueUpdatesEventManager.swift
  packages/expo-updates/ios/EXUpdates/Events/UpdatesEventManager.swift
  packages/expo-updates/ios/EXUpdates/UpdatesStateMachine.swift
  packages/expo-updates/ios/Tests/UpdatesStateMachineSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#31819 [expo-updates] Refactor state machine event emitting and initial state
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/ExpoGoExpoUpdatesModule.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/events/QueueUpdatesEventManager.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContext.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
  packages/expo-updates/build/ExpoUpdatesModule.types.d.ts
  packages/expo-updates/build/ExpoUpdatesModule.types.d.ts.map
  packages/expo-updates/build/ExpoUpdatesModule.types.js.map
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/build/UpdatesEmitter.d.ts
  packages/expo-updates/build/UpdatesEmitter.d.ts.map
  packages/expo-updates/build/UpdatesEmitter.js
  packages/expo-updates/build/UpdatesEmitter.js.map
  packages/expo-updates/build/UseUpdates.d.ts.map
  packages/expo-updates/build/UseUpdates.js
  packages/expo-updates/build/UseUpdates.js.map
  packages/expo-updates/build/UseUpdatesUtils.d.ts
  packages/expo-updates/build/UseUpdatesUtils.d.ts.map
  packages/expo-updates/build/UseUpdatesUtils.js
  packages/expo-updates/build/UseUpdatesUtils.js.map
  packages/expo-updates/build/statemachine/UpdatesStateMachine.d.ts
  packages/expo-updates/build/statemachine/UpdatesStateMachine.d.ts.map
  packages/expo-updates/build/statemachine/UpdatesStateMachine.js
  packages/expo-updates/build/statemachine/UpdatesStateMachine.js.map
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/EXUpdates/UpdatesStateMachine.swift
  packages/expo-updates/src/ExpoUpdatesModule.types.ts
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/Updates.types.ts
  packages/expo-updates/src/UpdatesEmitter.ts
  packages/expo-updates/src/UseUpdates.ts
  packages/expo-updates/src/UseUpdatesUtils.ts
  packages/expo-updates/src/__mocks__/ExpoUpdates.ts
  packages/expo-updates/src/__tests__/UseUpdates-test.ios.tsx
  packages/expo-updates/src/statemachine/UpdatesStateMachine.ts
  packages/expo-updates/src/statemachine/__tests__/UpdatesStateMachine-test.node.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions, bot: fingerprint changed

#31871 [expo-updates] Remove clearUpdateCacheExperimentalAsync
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31856 [expo-notifications][Android] Convert trigger Java classes to Kotlin
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/build.gradle
  packages/expo-notifications/android/src/androidTest/kotlin/expo/modules/notifications/NotificationTriggerTest.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/scheduling/NotificationScheduler.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/ChannelAwareTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/DailyTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/DateTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/MonthlyTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/NotificationTriggers.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/TimeIntervalTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/WeeklyTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/YearlyTrigger.java
Labels: bot: passed checks, bot: fingerprint changed

#31920 [doctor] fix conditional on iOS non-CNG check
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/AppConfigFieldsNotSyncedToNativeProjectsCheck.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31914 [go] remove unused skia files
  apps/expo-go/android/vendored/common/libs/arm64-v8a/libskparagraph.a
  apps/expo-go/android/vendored/common/libs/arm64-v8a/libskshaper.a
  apps/expo-go/android/vendored/common/libs/arm64-v8a/libskunicode.a
  apps/expo-go/android/vendored/common/libs/arm64-v8a/libsvg.a
  apps/expo-go/android/vendored/common/libs/armeabi-v7a/libskparagraph.a
  apps/expo-go/android/vendored/common/libs/armeabi-v7a/libskshaper.a
  apps/expo-go/android/vendored/common/libs/armeabi-v7a/libskunicode.a
  apps/expo-go/android/vendored/common/libs/armeabi-v7a/libsvg.a
  apps/expo-go/android/vendored/common/libs/x86/libskparagraph.a
  apps/expo-go/android/vendored/common/libs/x86/libskshaper.a
  apps/expo-go/android/vendored/common/libs/x86/libskunicode.a
  apps/expo-go/android/vendored/common/libs/x86/libsvg.a
  apps/expo-go/android/vendored/common/libs/x86_64/libskparagraph.a
  apps/expo-go/android/vendored/common/libs/x86_64/libskshaper.a
  apps/expo-go/android/vendored/common/libs/x86_64/libskunicode.a
  apps/expo-go/android/vendored/common/libs/x86_64/libsvg.a
  apps/expo-go/ios/vendored/common/libskparagraph.xcframework
  apps/expo-go/ios/vendored/common/libskshaper.xcframework
  apps/expo-go/ios/vendored/common/libskunicode.xcframework
  apps/expo-go/ios/vendored/common/libsvg.xcframework
Labels: bot: passed checks

#31594 [expo-file-system][next] Add file permissions for expo go
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemDirectory.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemFile.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextExceptions.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemPath.kt
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
  packages/expo-file-system/ios/Next/FileSystemPath.swift
Labels: bot: passed checks, bot: fingerprint changed

#31939 [docs] Fix minor issues in multiple docs
  docs/pages/archive/push-notifications/sending-notifications-custom-fcm-legacy.mdx
  docs/pages/build-reference/variables.mdx
  docs/pages/eas-update/deployment.mdx
  docs/pages/guides/dom-components.mdx
  docs/pages/versions/unversioned/config/metro.mdx
Labels: bot: passed checks

#31661 Update stripe.mdx - Explain how to localize PaymentSheet on iOS
  docs/pages/versions/unversioned/sdk/stripe.mdx
Labels: bot: passed checks

#31949 Update use-standalone-expo-module-in-your-project.mdx
  docs/pages/modules/use-standalone-expo-module-in-your-project.mdx
Labels: bot: passed checks

#31918 [docs] Add a providers section in AuthSession API reference
  docs/pages/versions/unversioned/sdk/auth-session.mdx
Labels: bot: passed checks

#31919 [workspace][docs] Remove legacy test links script
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  docs/.puppeteerrc.cjs
  docs/package.json
  docs/scripts/test-links.js
  docs/yarn.lock
Labels: bot: passed checks

#31926 [doctor] Show more info on network errors, allow overriding of network errors
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/__tests__/doctor.test.ts
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/utils/__tests__/errors.test.ts
  packages/expo-doctor/src/utils/env.ts
  packages/expo-doctor/src/utils/errors.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31905 [notifications] remove usePermissions hook
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/NotificationPermissions.d.ts
  packages/expo-notifications/build/NotificationPermissions.d.ts.map
  packages/expo-notifications/build/NotificationPermissions.js
  packages/expo-notifications/build/NotificationPermissions.js.map
  packages/expo-notifications/src/NotificationPermissions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31780 fix: [iOS][contacts] display date in presentFormAsync
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/Decoding.swift
Labels: bot: passed checks

#31817 [expo-go][ios] Remove support for multiple SDK versions in Constants
  apps/expo-go/ios/Client/EXHomeAppManager.m
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Kernel/AppLoader/CachedResource/EXCachedResource.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXDevelopmentHomeLoader.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXFileDownloader.m
  apps/expo-go/ios/Exponent/Kernel/Environment/EXBuildConstants.h
  apps/expo-go/ios/Exponent/Kernel/Environment/EXBuildConstants.m
  apps/expo-go/ios/Exponent/Kernel/Environment/EXVersions.h
  apps/expo-go/ios/Exponent/Kernel/Environment/EXVersions.m
  apps/expo-go/ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.m
  apps/expo-go/ios/Exponent/Supporting/EXSDKVersions.plist
Labels: bot: passed checks

#31928 remove default babel config
  templates/expo-template-bare-minimum/babel.config.js
  templates/expo-template-blank-typescript/babel.config.js
  templates/expo-template-blank/babel.config.js
  templates/expo-template-default/babel.config.js
  templates/expo-template-tabs/babel.config.js
Labels: bot: passed checks

#31900 [iOS][camera]Migrate to swift concurrency
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Common/CameraExceptions.swift
  packages/expo-camera/ios/Current/BarcodeScanner.swift
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#31966 [expo][autolinking] decouple from rnc-cli
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/autolinking/index.d.ts
  packages/expo-modules-autolinking/build/autolinking/index.js
  packages/expo-modules-autolinking/build/autolinking/index.js.map
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.d.ts
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.js
  packages/expo-modules-autolinking/build/autolinking/mergeLinkingOptions.js.map
  packages/expo-modules-autolinking/src/autolinking/index.ts
  packages/expo-modules-autolinking/src/autolinking/mergeLinkingOptions.ts
  packages/expo/CHANGELOG.md
  packages/expo/react-native.config.js
Labels: bot: passed checks, bot: fingerprint changed

#31938 [expo-file-system][next] Disable in Expo Go.
  apps/test-suite/tests/FileSystemNext.ts
  docs/pages/versions/unversioned/sdk/filesystem-next.mdx
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/next/ExpoFileSystem.d.ts.map
  packages/expo-file-system/build/next/ExpoGoFileSystemNextStub.d.ts
  packages/expo-file-system/build/next/ExpoGoFileSystemNextStub.d.ts.map
  packages/expo-file-system/src/next/ExpoFileSystem.ts
  packages/expo-file-system/src/next/ExpoGoFileSystemNextStub.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31956 [sqlite] fix require cycle
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/pathUtils.js
  packages/expo-sqlite/build/pathUtils.js.map
  packages/expo-sqlite/src/pathUtils.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31955 feat(metro-config)!: Emit assets as strings instead of numeric lookups on web
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-splitting.test.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/asset-transformer.test.ts
  packages/@expo/metro-config/src/transform-worker/asset-transformer.ts
Labels: bot: suggestions, bot: fingerprint compatible

#31961 [docs] Add videos for universal app tutorial
  docs/pages/tutorial/add-navigation.mdx
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
Labels: bot: passed checks

#31940 [ncl] Separate the `expo-video` example screen into multiple screens
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/Video/VideoDRMScreen.tsx
  apps/native-component-list/src/screens/Video/VideoEventsScreen.tsx
  apps/native-component-list/src/screens/Video/VideoFullscreenScreen.tsx
  apps/native-component-list/src/screens/Video/VideoLiveTextInteractionScreen.tsx
  apps/native-component-list/src/screens/Video/VideoNowPlayingScreen.tsx
  apps/native-component-list/src/screens/Video/VideoPictureInPictureScreen.tsx
  apps/native-component-list/src/screens/Video/VideoPlaybackControlsScreen.tsx
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  apps/native-component-list/src/screens/Video/VideoSourcesScreen.tsx
  apps/native-component-list/src/screens/Video/videoSources.ts
  apps/native-component-list/src/screens/Video/videoStyles.ts
Labels: bot: passed checks

#31971 [iOS][core] Move updating props to `finalizeUpdates`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.mm
Labels: bot: suggestions, bot: fingerprint changed

#31967 [iOS][core] Made `CMTime` from `CoreMedia` a convertible type
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Convertibles/Convertibles+CMTime.swift
Labels: bot: suggestions, bot: fingerprint changed

#31958 [ci] Upgrade codemention and change comment preamble and epilogue
  .github/codemention.yml
  .github/workflows/codemention.yaml
Labels: bot: passed checks

#31968 [notifications] export PermissionStatus as value, not as type
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/__tests__/__snapshots__/index-test.ts.snap.ios
  packages/expo-notifications/src/__tests__/index-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31974 [cli] throw error for dom components when no webview installed
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/DomComponentsMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/DomComponentsMiddleware-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31929 [expo-updates] Refactor errors and logged info
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/LoggerUtils.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/OSLogHandler.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/PersistentFileLogHandler.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/logging/UpdatesLoggingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/errorrecovery/ErrorRecovery.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/errorrecovery/ErrorRecoveryHandler.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/events/QueueUpdatesEventManager.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesLogger.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/CheckForUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
Labels: bot: passed checks, bot: fingerprint changed

#31951 [expo-updates][android] Refactor where context is injected into controllers
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/modules/DevLauncherInternalModule.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelper.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelperTest.kt
  packages/expo-dev-launcher/android/src/testDebug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactoryTest.kt
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesStateMachineInstrumentationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/errorrecovery/ErrorRecoveryTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/launcher/DatabaseLauncherTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderManifestParsingTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/UpdatesDatabase.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/errorrecovery/ErrorRecovery.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/NoDatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/CheckForUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RelaunchProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Labels: bot: passed checks, bot: fingerprint changed

#31953 [expo-updates][android] Change most Log.* errors to UpdatesLogger errors
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/logging/PersistentFileLog.kt
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/EmbeddedLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/logging/UpdatesLoggingTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/errorrecovery/ErrorRecovery.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/NoDatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/logging/UpdatesLogReader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/EmbeddedManifestUtils.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/FetchUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RelaunchProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
Labels: bot: passed checks, bot: fingerprint changed

#31855 [babel-preset] allows type exports in dom components
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/use-dom-directive-plugin.d.ts
  packages/babel-preset-expo/build/use-dom-directive-plugin.js
  packages/babel-preset-expo/src/__tests__/use-dom-directive-plugin.test.ts
  packages/babel-preset-expo/src/use-dom-directive-plugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31977 [docs] Backport runtime version docs changes to 51
  docs/pages/versions/v51.0.0/sdk/updates.mdx
Labels: bot: passed checks

#31984 [docs] Fix Universal app introduction
  docs/pages/tutorial/introduction.mdx
Labels: bot: passed checks

#31988 [docs] Add logo and update description of the expo-video package
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/public/static/images/packages/expo-video.png
Labels: bot: passed checks, preview

#31996 [NCL] make ListButton easier to press
  apps/native-component-list/src/components/ListButton.tsx
Labels: bot: passed checks, bot: fingerprint changed

#31991 [docs] Use new video component to update all YouTube video embeds
  docs/pages/build-reference/app-versions.mdx
  docs/pages/debugging/runtime-issues.mdx
  docs/pages/develop/user-interface/splash-screen-and-app-icon.mdx
  docs/pages/eas-update/debug.mdx
  docs/pages/guides/keyboard-handling.mdx
  docs/pages/modules/native-module-tutorial.mdx
  docs/pages/modules/third-party-library.mdx
  docs/ui/components/ContentSpotlight/index.tsx
Labels: bot: passed checks

#31987 [docs] Explain how to use code signing without CNG
  docs/pages/eas-update/code-signing.mdx
Labels: bot: passed checks

#32003 [docs] Remove step6 to notify Google of sitemap changes in docs deployment
  docs/deploy.sh
Labels: bot: passed checks

#31999 [notifications][android] fix notification with ChannelAwareTrigger not being presented
  apps/native-component-list/src/screens/NotificationScreen.tsx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoSchedulingDelegate.kt
Labels: bot: passed checks, bot: fingerprint changed

#32000 [notifications][android] createNotificationChannel could return incorrect channel information
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/channels/managers/AndroidXNotificationsChannelManager.java
Labels: bot: passed checks, bot: fingerprint changed

#31997 [core] add docs links to Record implementations
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Field.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/Record.kt
  packages/expo-modules-core/ios/Core/Records/Field.swift
  packages/expo-modules-core/ios/Core/Records/Record.swift
Labels: bot: passed checks, bot: fingerprint changed

#31994 [docs] Enable text selection in SidebarTitle
  docs/ui/components/Sidebar/SidebarTitle.tsx
Labels: bot: passed checks

#31993 [docs] Change Universal app to Expo tutorial
  docs/constants/navigation.js
  docs/pages/tutorial/introduction.mdx
  docs/pages/tutorial/overview.mdx
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks

#32005 [docs] Improve markdown's `hr` tag
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
  docs/ui/components/Markdown/index.tsx
  docs/ui/components/VideoBoxLink/index.tsx
Labels: bot: passed checks

#31950 [docs] Fix differences between `projectId` push notification examples
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#31807 [iOS][video] Generating video thumbnails from the player
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  apps/native-component-list/src/screens/Video/VideoThumbnailsScreen.tsx
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/NativeVideoModule.d.ts
  packages/expo-video/build/NativeVideoModule.d.ts.map
  packages/expo-video/build/NativeVideoModule.js.map
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/VideoThumbnail.d.ts
  packages/expo-video/build/VideoThumbnail.d.ts.map
  packages/expo-video/build/VideoThumbnail.js
  packages/expo-video/build/VideoThumbnail.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js
  packages/expo-video/build/index.js.map
  packages/expo-video/ios/Thumbnails/VideoThumbnail.swift
  packages/expo-video/ios/Thumbnails/VideoThumbnailGenerator.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/src/NativeVideoModule.ts
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/VideoThumbnail.ts
  packages/expo-video/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#32011 [video] Fix code availability for tvOS
  packages/expo-video/ios/Thumbnails/VideoThumbnailGenerator.swift
Labels: bot: suggestions

#31915 [chore] Standardized Babel configuration to use `expo-module-scripts`.
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/babel.config.js
  packages/expo-checkbox/.npmignore
  packages/expo-checkbox/CHANGELOG.md
  packages/expo-checkbox/babel.config.js
  packages/expo-checkbox/tsconfig.json
  packages/expo-clipboard/.npmignore
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/babel.config.js
  packages/expo-clipboard/tsconfig.json
  packages/expo-dev-client-components/.npmignore
  packages/expo-dev-client-components/CHANGELOG.md
  packages/expo-dev-client-components/babel.config.js
  packages/expo-dev-client-components/tsconfig.json
  packages/expo-dev-client/.npmignore
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/babel.config.js
  packages/expo-dev-client/tsconfig.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/babel.config.js
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/babel.config.js
  packages/expo-module-template/babel.config.js
  packages/expo-navigation-bar/.npmignore
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-navigation-bar/babel.config.js
  packages/expo-navigation-bar/tsconfig.json
  packages/expo-screen-capture/.npmignore
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/babel.config.js
  packages/expo-screen-capture/tsconfig.json
  packages/expo-system-ui/.npmignore
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/babel.config.js
  packages/expo-system-ui/tsconfig.json
  packages/expo-tracking-transparency/CHANGELOG.md
  packages/expo-tracking-transparency/babel.config.js
Labels: bot: passed checks

#32017 [tools] Use expo-modules-autolinking react-native-config command
  tools/src/vendoring/index.ts
Labels: bot: passed checks

#32023 Typo: Update into-your-app.mdx
  docs/pages/linking/into-your-app.mdx
Labels: bot: passed checks

#32004 Update code block typos/inconsistencies
  docs/pages/tutorial/build-a-screen.mdx
Labels: bot: passed checks

#32026 [docs] Update import statement in Expo tutorial chapters and fix typo
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
Labels: bot: passed checks

#32025 [docs] Fix VideBoxLink and steps components usage
  docs/pages/guides/keyboard-handling.mdx
  docs/pages/modules/native-module-tutorial.mdx
  docs/pages/modules/third-party-library.mdx
Labels: bot: passed checks

#30614 [template-default] do not duplicate headerHeight value in styles
  templates/expo-template-default/components/ParallaxScrollView.tsx
Labels: bot: passed checks

#32002 [notifications][android] simplify DateTrigger
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/androidTest/kotlin/expo/modules/notifications/NotificationTriggerTest.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/NotificationTriggers.kt
Labels: bot: passed checks, bot: fingerprint changed

#32032 [notifications][android] refactor trigger serialization
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/androidTest/kotlin/expo/modules/notifications/NotificationTriggerTest.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/debug/DebugLogging.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/NotificationTrigger.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/NotificationTrigger.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/model/triggers/FirebaseNotificationTrigger.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/BaseNotificationBuilder.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/triggers/NotificationTriggers.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoPresentationDelegate.kt
  packages/expo-notifications/android/src/test/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegateTest.kt
Labels: bot: passed checks

#32033 [core][android] Add support for `onUserLeaveHint`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactActivityLifecycleListener.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ReactLifecycleDelegate.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/EventName.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
Labels: bot: passed checks

#32021 Update create-a-modal.mdx
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#32034 [docs] JS engine change unavailable in Expo go as of SDK 52
  docs/pages/guides/configuring-js-engines.mdx
Labels: bot: passed checks

#32014 [dev-launcher][network-addons] respect react.debuggableVariants
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/build.gradle.kts
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/src/main/kotlin/expo/modules/devlauncher/DevLauncherPlugin.kt
  packages/expo-network-addons/expo-network-addons-gradle-plugin/build.gradle.kts
  packages/expo-network-addons/expo-network-addons-gradle-plugin/src/main/kotlin/expo/modules/networkaddons/NetworkAddonsPlugin.kt
Labels: bot: passed checks, bot: fingerprint changed

#32029 refactor(cli): update debugging workflow to support RNDT
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/metro/debugging/createDebugMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/inspector/JsInspector.ts
Labels: bot: passed checks
