Repository expo/expo, pull requests merged in 2024-08, with the labels that each got.

#30744 [docs] Add info about `eas build:version:set` to set app versions in EAS Tutorial
  docs/pages/tutorial/eas/manage-app-versions.mdx
Labels: bot: passed checks

#30743 [dev-client] RN 0.75 support
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/src/androidTest/java/com/expo/modules/devclient/devmenu/DevClientTestExtension.kt
  packages/expo-dev-client/android/src/androidTest/java/com/expo/modules/devclient/tests/DevClientLoadLocalAppTest.kt
  packages/expo-dev-launcher/.npmignore
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherActivity.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherReactNativeHost.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/errors/DevLauncherAppError.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/devsupport/DevLauncherDevServerHelper.kt
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/devsupport/DevLauncherInternalSettings.kt
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/devsupport/DevLauncherSettings.kt
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/devsupport/NonFinalBridgeDevSupportManager.java
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/runtime/NonFinalBridgelessDevSupportManager.java
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/rncompatibility/DevLauncherBridgeDevSupportManager.kt
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/rncompatibility/DevLauncherBridgelessDevSupportManager.kt
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManagerFactory.kt
  packages/expo-dev-launcher/babel.config.js
  packages/expo-dev-launcher/expo-module.config.json
  packages/expo-dev-launcher/index.js
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/tsconfig.json
  packages/expo-dev-launcher/write_embedded_bundle.sh
  packages/expo-dev-menu/.npmignore
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuDevSettings.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuReactHost.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuReactNativeHost.kt
  packages/expo-dev-menu/android/src/main/java/com/facebook/react/devsupport/DevMenuReactSettings.kt
  packages/expo-dev-menu/android/src/main/java/com/facebook/react/devsupport/DevMenuSettingsBase.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuUtils.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/MovableFloatingActionButton.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/helpers/DevMenuReflectionExtensions.kt
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/index.js
  packages/expo-dev-menu/metro.config.js
  packages/expo-dev-menu/scripts/write_embedded_bundle.sh
  packages/expo-dev-menu/tsconfig.json
  packages/expo-modules-test-core/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#30746 [fingerprint] update readme
  packages/@expo/fingerprint/README.md
Labels: bot: suggestions, bot: fingerprint compatible

#30356 Add support for Babel configs other than `babel.config.js` in install-expo-modules
  packages/install-expo-modules/CHANGELOG.md
  packages/install-expo-modules/src/plugins/cli/withCliIntegration.ts
Labels: bot: passed checks

#30703 feat(metro-config): Implement require.unstable_importMaybeSync and use it in JSResource
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.d.ts
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/collect-dependencies-upstream.test.ts
  packages/@expo/metro-config/src/transform-worker/collect-dependencies.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30752 [cli] fix broken CorsMiddleware
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/middleware/mutations.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30771 [tools][github] Validate npm owners
  .github/workflows/validate-npm-owners.yml
  tools/package.json
  tools/src/commands/ValidateNpmOwnersCommand.ts
  tools/yarn.lock
Labels: bot: passed checks

#30765 [expo] fix update crash when R8 is enabled
  packages/expo/CHANGELOG.md
  packages/expo/android/proguard-rules.pro
Labels: bot: passed checks, bot: fingerprint changed

#30773 test(babel-preset-expo): add jsc regression test for preloaded modules and babel helpers
  packages/babel-preset-expo/src/__tests__/jsc-bundle.test.ts
Labels: bot: suggestions, bot: fingerprint changed

#30763 fix(babel-preset-expo): fix jsc builds
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/jsc-bundle.test.ts
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30748 [docs] AppConfigSchemaTable refactor and appearance fixes
  docs/components/plugins/AppConfigSchemaPropertiesTable.tsx
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/pages/versions/unversioned/config/app.mdx
  docs/pages/versions/v49.0.0/config/app.mdx
  docs/pages/versions/v50.0.0/config/app.mdx
  docs/pages/versions/v51.0.0/config/app.mdx
  docs/ui/components/AppConfigSchemaTable/AppConfigSchemaTable.test.tsx
  docs/ui/components/AppConfigSchemaTable/__snapshots__/AppConfigSchemaTable.test.tsx.snap
  docs/ui/components/AppConfigSchemaTable/helpers.ts
  docs/ui/components/AppConfigSchemaTable/index.tsx
  docs/ui/components/AppConfigSchemaTable/types.ts
Labels: bot: passed checks

#30777 [docs] CodeBlockTable: refactor to Tailwind
  docs/components/plugins/CodeBlocksTable.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/ui/components/AppConfigSchemaTable/__snapshots__/AppConfigSchemaTable.test.tsx.snap
Labels: bot: passed checks

#30783 refactor(config): simplify `modifyConfigAsync` and return `ExpoConfig` instead of `AppJSONConfig`
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/src/Config.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30667 [docs] Adds preview and production update docs
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/deploy/build-project.mdx
  docs/pages/deploy/instant-updates.mdx
  docs/pages/deploy/send-over-the-air-updates.mdx
  docs/pages/review/share-previews-with-your-team.mdx
  docs/public/static/images/eas-update/preview-updates-qr-code.png
Labels: bot: passed checks, preview

#30786 [Docs] Document expo doctor as a tool
  docs/pages/develop/tools.mdx
Labels: bot: passed checks

#30629 [video][ios] Add live indicator in the now playing info
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/NowPlayingManager.swift
Labels: bot: passed checks

#30754 [fingerprint] support sourceSkips configuration from string array
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Config.d.ts
  packages/@expo/fingerprint/build/Config.js
  packages/@expo/fingerprint/build/Config.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/src/Config.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/__tests__/Config-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30757 [updates] reexport fingerprint
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/fingerprint.d.ts
  packages/expo-updates/fingerprint.js
Labels: bot: passed checks, bot: fingerprint compatible

#30758 [fingerprint] update readme
  packages/@expo/fingerprint/README.md
Labels: bot: suggestions, bot: fingerprint compatible

#30768 [fingerprint] allow ignorePaths from fingerprint.config.js
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Config.js
  packages/@expo/fingerprint/build/Config.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/utils/Path.js
  packages/@expo/fingerprint/build/utils/Path.js.map
  packages/@expo/fingerprint/src/Config.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/utils/Path.ts
  packages/@expo/fingerprint/src/utils/__tests__/Path-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30448 Update glob pattern to recognise .kts
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/src/platforms/__tests__/android-test.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
Labels: bot: passed checks

#30759 [camera][android] Fix rendering order
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-image/src/utils.ts
Labels: bot: suggestions, bot: fingerprint changed

#30779 Update unit-testing.mdx
  docs/pages/develop/unit-testing.mdx
Labels: bot: passed checks

#30802 [ios][camera] Support active prop
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30812 [docs] Fix typo in Fonts guide
  docs/pages/develop/user-interface/fonts.mdx
Labels: bot: passed checks

#30804 [docs] Add Vale rule to detect and avoid using smart quotes
  docs/.vale/writing-styles/expo-docs/SmartQuotes.yml
  docs/README.md
  docs/pages/archive/classic-updates/advanced-release-channels.mdx
  docs/pages/archive/classic-updates/hosting-your-app.mdx
  docs/pages/archive/classic-updates/publishing.mdx
  docs/pages/archive/technical-specs/expo-updates-0.mdx
  docs/pages/config-plugins/development-and-debugging.mdx
  docs/pages/guides/editing-richtext.mdx
  docs/pages/technical-specs/expo-updates-1.mdx
  docs/pages/tutorial/screenshot.mdx
  docs/ui/components/Snippet/prism-bash.js
Labels: bot: passed checks

#30805 [docs] Remove `.mdx` extension references from internal links
  docs/pages/app-signing/existing-credentials.mdx
  docs/pages/app-signing/local-credentials.mdx
  docs/pages/app-signing/managed-credentials.mdx
  docs/pages/archive/classic-builds/turtle-cli.mdx
  docs/pages/archive/classic-updates/advanced-release-channels.mdx
  docs/pages/archive/notification-channels.mdx
  docs/pages/build-reference/app-versions.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/build/internal-distribution.mdx
  docs/pages/build/updates.mdx
  docs/pages/eas-insights/introduction.mdx
  docs/pages/eas/metadata/config.mdx
  docs/pages/eas/metadata/getting-started.mdx
  docs/pages/guides/sharing-preview-releases.mdx
  docs/pages/modules/existing-library.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/submit/android.mdx
  docs/pages/submit/ios.mdx
  docs/pages/technical-specs/expo-updates-1.mdx
  docs/pages/troubleshooting/clear-cache-macos-linux.mdx
  docs/pages/troubleshooting/clear-cache-windows.mdx
Labels: bot: passed checks

#30756 [docs] Improve App version management EAS Build page
  docs/pages/build-reference/app-versions.mdx
Labels: bot: passed checks, preview

#30787 [web][camera] Fixed issue; Camera would not load on web at the Expo t…
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
Labels: bot: passed checks

#30803 [docs] Minor fixes in multiple docs
  docs/pages/app-signing/existing-credentials.mdx
  docs/pages/app-signing/local-credentials.mdx
  docs/pages/app-signing/managed-credentials.mdx
  docs/pages/archive/classic-builds/turtle-cli.mdx
  docs/pages/archive/classic-updates/advanced-release-channels.mdx
  docs/pages/archive/notification-channels.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/build/internal-distribution.mdx
  docs/pages/build/updates.mdx
  docs/pages/deploy/submit-to-app-stores.mdx
  docs/pages/develop/next-steps.mdx
  docs/pages/develop/tools.mdx
  docs/pages/eas-insights/introduction.mdx
  docs/pages/eas-update/build-locally.mdx
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/updating-your-app.mdx
  docs/pages/eas/metadata/config.mdx
  docs/pages/eas/metadata/getting-started.mdx
  docs/pages/guides/building-for-tv.mdx
  docs/pages/guides/sharing-preview-releases.mdx
  docs/pages/guides/using-sentry.mdx
  docs/pages/modules/existing-library.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/review/overview.mdx
  docs/pages/submit/android.mdx
  docs/pages/submit/ios.mdx
  docs/pages/technical-specs/expo-updates-1.mdx
  docs/pages/troubleshooting/clear-cache-macos-linux.mdx
  docs/pages/troubleshooting/clear-cache-windows.mdx
  docs/pages/versions/unversioned/sdk/safe-area-context.mdx
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/v51.0.0/sdk/sqlite.mdx
  docs/scenes/get-started/set-up-your-environment/instructions/androidPhysicalDevelopmentBuildLocal.mdx
  docs/scenes/get-started/set-up-your-environment/instructions/androidSimulatedDevelopmentBuildLocal.mdx
  docs/scenes/get-started/set-up-your-environment/instructions/iosPhysicalDevelopmentBuildLocal.mdx
  docs/scenes/get-started/set-up-your-environment/instructions/iosSimulatedDevelopmentBuildLocal.mdx
Labels: bot: passed checks

#30813 [core] Implement JSON serializer for shared objects
  apps/native-component-list/src/screens/Image/ImageSharedRefScreen.tsx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/common/cpp/SharedObject.cpp
Labels: bot: suggestions, bot: fingerprint changed

#30419 Remove unused `mode` property from adapters examples
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#30747 fix(cli): update react server logic
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/rsc-renderer.d.ts.map
  packages/expo-router/build/rsc/rsc-renderer.js
  packages/expo-router/build/rsc/rsc-renderer.js.map
  packages/expo-router/src/rsc/rsc-renderer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30810 [router]: fix typed routes with hoisted routes and groups
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/typed-routes/generate.d.ts.map
  packages/expo-router/build/typed-routes/generate.js
  packages/expo-router/build/typed-routes/generate.js.map
  packages/expo-router/src/typed-routes/__tests__/type-generation.node.ts
  packages/expo-router/src/typed-routes/generate.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30750 [expo-notifications][Android] Eliminate unsupported types when processing notification intents from onCreate/onNewIntent
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/Utils.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
Labels: bot: passed checks, bot: fingerprint changed

#30784 [fingerprint] improve ignorePaths performance
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/hash/Hash.js
  packages/@expo/fingerprint/build/hash/Hash.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/utils/Path.d.ts
  packages/@expo/fingerprint/build/utils/Path.js
  packages/@expo/fingerprint/build/utils/Path.js.map
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/hash/Hash.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/utils/Path.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30830 [expo-notifications][Android] Add unit test for new method in Utils
  packages/expo-notifications/android/src/test/java/expo/modules/notifications/UtilsTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#29977 [router]: Fix fast refresh on layout files
  apps/router-e2e/__e2e__/fast-refresh/app/_layout.tsx
  apps/router-e2e/__e2e__/fast-refresh/app/index.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/fast-refresh.test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fast-refresh.d.ts
  packages/expo-router/build/fast-refresh.d.ts.map
  packages/expo-router/build/fast-refresh.js
  packages/expo-router/build/fast-refresh.js.map
  packages/expo-router/build/qualified-entry.d.ts
  packages/expo-router/build/qualified-entry.d.ts.map
  packages/expo-router/build/qualified-entry.js
  packages/expo-router/build/qualified-entry.js.map
  packages/expo-router/src/fast-refresh.ts
  packages/expo-router/src/qualified-entry.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#29490 [cli] prebuild: only alter scripts when they match default template values
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/__tests__/updatePackageJson-test.ts
  packages/@expo/cli/src/prebuild/updatePackageJson.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29511 refactor(cli): swap out `node-fetch` for `undici` to support Node 22
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/package.json
  packages/@expo/cli/src/api/getExpoGoIntermediateCertificate.ts
  packages/@expo/cli/src/api/getExpoSchema.ts
  packages/@expo/cli/src/api/getNativeModuleVersions.ts
  packages/@expo/cli/src/api/getProjectDevelopmentCertificate.ts
  packages/@expo/cli/src/api/getVersions.ts
  packages/@expo/cli/src/api/graphql/client.ts
  packages/@expo/cli/src/api/rest/__tests__/client-test.ts
  packages/@expo/cli/src/api/rest/__tests__/wrapFetchWithOffline-test.ts
  packages/@expo/cli/src/api/rest/__tests__/wrapFetchWithProgress-test.ts
  packages/@expo/cli/src/api/rest/__tests__/wrapFetchWithProxy.test.ts
  packages/@expo/cli/src/api/rest/cache/FileSystemCache.ts
  packages/@expo/cli/src/api/rest/cache/FileSystemResponseCache.ts
  packages/@expo/cli/src/api/rest/cache/ResponseCache.ts
  packages/@expo/cli/src/api/rest/cache/__tests__/ResponseCache.test.ts
  packages/@expo/cli/src/api/rest/cache/__tests__/wrapFetchWithCache.test.ts
  packages/@expo/cli/src/api/rest/cache/response.ts
  packages/@expo/cli/src/api/rest/cache/wrapFetchWithCache.ts
  packages/@expo/cli/src/api/rest/client.ts
  packages/@expo/cli/src/api/rest/client.types.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithBaseUrl.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithOffline.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithProgress.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithProxy.ts
  packages/@expo/cli/src/api/user/user.ts
  packages/@expo/cli/src/prebuild/resolveTemplate.ts
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/bundledNativeModules-test.ts
  packages/@expo/cli/src/start/server/middleware/inspector/JsInspector.ts
  packages/@expo/cli/src/start/server/middleware/inspector/__tests__/JsInspector-test.ts
  packages/@expo/cli/src/utils/__tests__/downloadExpoGoAsync-test.ts
  packages/@expo/cli/src/utils/__tests__/validateApplicationId-test.ts
  packages/@expo/cli/src/utils/downloadAppAsync.ts
  packages/@expo/cli/src/utils/fetch.ts
  packages/@expo/cli/src/utils/npm.ts
  packages/@expo/cli/src/utils/validateApplicationId.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30835 test(prebuild-config): resolve testing issues due to changes in various packages
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/testing-library/__tests__/prebuild-testing-lib.test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30832 refactor: Replace `tempy` with equivalent code
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/__mocks__/tempy.ts
  packages/@expo/cli/e2e/setup.ts
  packages/@expo/cli/package.json
  packages/@expo/cli/src/prebuild/updateFromTemplate.ts
  packages/@expo/cli/src/run/ios/validateExternalBinary.ts
  packages/@expo/cli/src/start/platforms/ios/devicectl.ts
  packages/@expo/cli/src/utils/__mocks__/createTempPath.ts
  packages/@expo/cli/src/utils/__tests__/mergeGitIgnorePaths-test.ts
  packages/@expo/cli/src/utils/createTempPath.ts
  packages/@expo/cli/src/utils/downloadAppAsync.ts
  packages/@expo/cli/src/utils/telemetry/DetachedClient.ts
  packages/@expo/cli/src/utils/telemetry/__tests__/DetachedClient.test.ts
  packages/@expo/image-utils/CHANGELOG.md
  packages/@expo/image-utils/build/Download.js
  packages/@expo/image-utils/build/Download.js.map
  packages/@expo/image-utils/e2e/__tests__/sharp-test.ts
  packages/@expo/image-utils/package.json
  packages/@expo/image-utils/src/Download.ts
  packages/@expo/prebuild-config/__mocks__/temp-dir.ts
  packages/expo-modules-autolinking/e2e/__tests__/monorepo-test.ts
  packages/expo-modules-autolinking/package.json
  packages/expo-test-runner/.npmignore
  packages/expo-test-runner/build/Paths.d.ts
  packages/expo-test-runner/build/Paths.js
  packages/expo-test-runner/build/Paths.js.map
  packages/expo-test-runner/build/registerCommand.js
  packages/expo-test-runner/build/registerCommand.js.map
  packages/expo-test-runner/package.json
  packages/expo-test-runner/src/Paths.ts
  packages/expo-test-runner/src/registerCommand.ts
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#19888 [ios] Experimental support for embedding SwiftUI views
  apps/native-component-list/src/screens/LinearGradientScreen.tsx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Api/Factories/ViewFactories.swift
  packages/expo-modules-core/ios/Core/Protocols/AnyViewDefinition.swift
  packages/expo-modules-core/ios/Core/Records/Record.swift
  packages/expo-modules-core/ios/Core/Views/ComponentData.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/Convertibles+SwiftUI.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/ExpoSwiftUI.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIHostingView.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewProps.swift
  packages/expo-modules-core/ios/Core/Views/ViewDefinition.swift
Labels: bot: passed checks, bot: fingerprint changed

#30814 [docs] Update outdated Developer menu section in Debugging and profiling tools
  docs/pages/debugging/tools.mdx
  docs/public/static/images/debugging/developer-menu.png
  docs/public/static/images/debugging/element-inspector.png
  docs/public/static/images/debugging/expo-go-developer-menu.png
  docs/public/static/images/debugging/expo-go-element-inspector.png
Labels: bot: passed checks

#30831 [android][camera] Set the previews scaleType when changing ratio
  docs/public/static/data/unversioned/expo-camera-legacy.json
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v51.0.0/expo-camera-legacy.json
  docs/public/static/data/v51.0.0/expo-camera.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraExceptions.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/records/CameraRecords.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30589 fix(jest-expo): fix jest-expo rsc snapshot writing
  packages/expo-router/.npmignore
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/views/EmptyRoute.d.ts.map
  packages/expo-router/build/views/EmptyRoute.js
  packages/expo-router/build/views/EmptyRoute.js.map
  packages/expo-router/build/views/Screen.d.ts.map
  packages/expo-router/build/views/Screen.js
  packages/expo-router/build/views/Screen.js.map
  packages/expo-router/build/views/Toast.d.ts.map
  packages/expo-router/build/views/Toast.js
  packages/expo-router/build/views/Toast.js.map
  packages/expo-router/jest-rsc.config.js
  packages/expo-router/package.json
  packages/expo-router/src/views/EmptyRoute.tsx
  packages/expo-router/src/views/Screen.tsx
  packages/expo-router/src/views/Toast.tsx
  packages/expo-router/src/views/__rsc_tests__/__snapshots__/views.test.tsx.snap.android
  packages/expo-router/src/views/__rsc_tests__/__snapshots__/views.test.tsx.snap.ios
  packages/expo-router/src/views/__rsc_tests__/__snapshots__/views.test.tsx.snap.web
  packages/expo-router/src/views/__rsc_tests__/views.test.tsx
  packages/expo-router/tsconfig.json
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/src/snapshot/createPlatformResolver.js
Labels: bot: passed checks, bot: fingerprint compatible

#30268 [router]: Fix creating/parsing URLs with array search params
  docs/pages/router/reference/url-parameters.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getPathFromState.d.ts.map
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/build/fork/getStateFromPath.d.ts.map
  packages/expo-router/build/fork/getStateFromPath.js
  packages/expo-router/build/fork/getStateFromPath.js.map
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/hooks.d.ts
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/src/__tests__/hooks.test.ios.tsx
  packages/expo-router/src/__tests__/search-params.test.ios.tsx
  packages/expo-router/src/fork/__tests__/getPathFromState.test.web.ts
  packages/expo-router/src/fork/__tests__/getStateFromPath.test.web.ts
  packages/expo-router/src/fork/getPathFromState.ts
  packages/expo-router/src/fork/getStateFromPath.ts
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/hooks.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30846 [android][camera] Implement custom resolution filter
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: suggestions, bot: fingerprint changed

#30819 [docs] Table: refactor to Tailwind, small appearance tweaks
  docs/common/test-utilities.tsx
  docs/components/DocumentationSidebarRight.test.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/components/plugins/APISection.test.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.test.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/package.json
  docs/tsconfig.json
  docs/ui/components/AppConfigSchemaTable/AppConfigSchemaTable.test.tsx
  docs/ui/components/AppConfigSchemaTable/__snapshots__/AppConfigSchemaTable.test.tsx.snap
  docs/ui/components/Table/Cell.tsx
  docs/ui/components/Table/HeaderCell.tsx
  docs/ui/components/Table/Row.tsx
  docs/ui/components/Table/Table.tsx
  docs/ui/components/Table/TableHead.tsx
  docs/ui/components/Table/utils.ts
  docs/yarn.lock
Labels: bot: passed checks, preview

#30742 fix(sdk): resolve some React 19+ issues in our testing tools
  docs/package.json
  docs/providers/page-api-version.test.tsx
  docs/yarn.lock
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Permissions-test.ts.snap
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/package.json
  packages/expo-asset/src/__tests__/AssetHooks-test.ts
  packages/expo-font/.npmignore
  packages/expo-font/CHANGELOG.md
  packages/expo-font/package.json
  packages/expo-font/src/__tests__/FontHooks-test.ts
  packages/expo-font/tsconfig.json
  packages/expo-keep-awake/CHANGELOG.md
  packages/expo-keep-awake/package.json
  packages/expo-keep-awake/src/__tests__/index-test.native.ts
  packages/expo-linking/src/__tests__/Linking-test.ts
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-module-scripts/createJestPreset.js
  packages/expo-module-scripts/jest-preset.js
  packages/expo-module-scripts/jest-setup-react-19.js
  packages/expo-module-scripts/package.json
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/package.json
  packages/expo-modules-core/src/__tests__/NativeViewManagerAdapter-test.native.tsx
  packages/expo-modules-core/src/__tests__/PermissionsHook-test.ts
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/package.json
  packages/expo-screen-capture/src/__tests__/ScreenCaptureHook-test.native.js
  packages/expo-sqlite/.npmignore
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/package.json
  packages/expo-sqlite/src/__tests__/hooks-test.ios.tsx
  packages/expo-sqlite/tsconfig.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#30855 [docs] Remove outdated info from Expo Router troubleshooting guide
  docs/pages/router/reference/troubleshooting.mdx
Labels: bot: passed checks

#30842 chore: Bump `npm-package-arg@^7` to `npm-package-arg@^11`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/node/NpmPackageManager.js
  packages/@expo/package-manager/build/node/NpmPackageManager.js.map
  packages/@expo/package-manager/package.json
  packages/@expo/package-manager/src/node/NpmPackageManager.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30816 [docs] Update Unit testing guide
  docs/pages/custom-builds/get-started.mdx
  docs/pages/develop/unit-testing.mdx
  docs/pages/modules/mocking.mdx
  docs/pages/router/reference/testing.mdx
Labels: bot: passed checks, preview

#30797 [config-plugins] Replace getAppThemeLightNoActionBarGroup by getAppThemeGroup
  .eslintignore
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/PrimaryColor.js
  packages/@expo/config-plugins/build/android/PrimaryColor.js.map
  packages/@expo/config-plugins/build/android/StatusBar.js
  packages/@expo/config-plugins/build/android/StatusBar.js.map
  packages/@expo/config-plugins/build/android/Styles.d.ts
  packages/@expo/config-plugins/build/android/Styles.js
  packages/@expo/config-plugins/build/android/Styles.js.map
  packages/@expo/config-plugins/src/android/PrimaryColor.ts
  packages/@expo/config-plugins/src/android/StatusBar.ts
  packages/@expo/config-plugins/src/android/Styles.ts
  packages/@expo/config-plugins/src/android/__tests__/PrimaryColor-test.ts
  packages/@expo/config-plugins/src/android/__tests__/StatusBar-test.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-navigation-bar/withAndroidNavigationBar.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-navigation-bar/withAndroidNavigationBar.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-system-ui/withAndroidRootViewBackgroundColor.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-system-ui/withAndroidRootViewBackgroundColor.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-navigation-bar/__tests__/withAndroidNavigationBar-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-navigation-bar/withAndroidNavigationBar.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-system-ui/__tests__/withAndroidRootViewBackgroundColor-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-system-ui/withAndroidRootViewBackgroundColor.ts
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-navigation-bar/plugin/build/withNavigationBar.js
  packages/expo-navigation-bar/plugin/src/__tests__/withNavigationBar-test.ts
  packages/expo-navigation-bar/plugin/src/withNavigationBar.ts
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/plugin/build/withAndroidRootViewBackgroundColor.js
  packages/expo-system-ui/plugin/src/__tests__/withAndroidRootViewBackgroundColor-test.ts
  packages/expo-system-ui/plugin/src/withAndroidRootViewBackgroundColor.ts
Labels: bot: passed checks

#30611 [cli] Allow developers to indicate some range of a package that they do not want to validate for
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/doctor/dependencies/__tests__/validateDependenciesVersions-test.ts
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#30845 [dev-launcher][dev-menu] Use JSC for bundling
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/screens/__tests__/HomeScreen.test.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/write_embedded_bundle.sh
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/scripts/write_embedded_bundle.sh
Labels: bot: suggestions, bot: fingerprint changed

#30507 feat: rework fast refresh indicator on web
  packages/expo/CHANGELOG.md
  packages/expo/build/environment/DevLoadingView.web.d.ts
  packages/expo/build/environment/DevLoadingView.web.d.ts.map
  packages/expo/src/environment/DevLoadingView.tsx
  packages/expo/src/environment/DevLoadingView.web.tsx
Labels: bot: passed checks, bot: fingerprint changed

#30875 feat(metro-config, cli, router): safe fixes from production exports
  apps/router-e2e/app.config.js
  apps/router-e2e/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/react-native-canary.test.ts
  packages/@expo/cli/e2e/playwright/dev/rsc.test.ts
  packages/@expo/cli/e2e/utils/command-instance.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/middleware/rsc.js
  packages/@expo/server/build/middleware/rsc.js.map
  packages/@expo/server/src/middleware/rsc.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/router/host.d.ts.map
  packages/expo-router/build/rsc/router/host.js
  packages/expo-router/build/rsc/router/host.js.map
  packages/expo-router/build/rsc/rsc-renderer.d.ts
  packages/expo-router/build/rsc/rsc-renderer.d.ts.map
  packages/expo-router/build/rsc/rsc-renderer.js
  packages/expo-router/build/rsc/rsc-renderer.js.map
  packages/expo-router/build/static/getServerManifest.d.ts
  packages/expo-router/build/static/getServerManifest.d.ts.map
  packages/expo-router/build/static/getServerManifest.js
  packages/expo-router/build/static/getServerManifest.js.map
  packages/expo-router/build/static/renderStaticContent.d.ts
  packages/expo-router/build/static/renderStaticContent.d.ts.map
  packages/expo-router/build/static/renderStaticContent.js
  packages/expo-router/build/static/renderStaticContent.js.map
  packages/expo-router/src/rsc/router/host.tsx
  packages/expo-router/src/rsc/rsc-renderer.ts
  packages/expo-router/src/static/getServerManifest.ts
  packages/expo-router/src/static/renderStaticContent.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#30865 [symbols] Clean up code availability for iOS 15.1
  packages/expo-symbols/CHANGELOG.md
  packages/expo-symbols/ios/SymbolView.swift
Labels: bot: passed checks, bot: fingerprint changed

#30864 [web-browser] Clean up code availability for iOS 15.1
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/ios/WebAuthSession.swift
  packages/expo-web-browser/ios/WebBrowserOptions.swift
Labels: bot: passed checks, bot: fingerprint changed

#30867 [location] Clean up code availability for iOS 15.1
  packages/expo-location/CHANGELOG.md
  packages/expo-location/build/Location.types.d.ts
  packages/expo-location/build/Location.types.js
  packages/expo-location/build/Location.types.js.map
  packages/expo-location/ios/EXLocation.m
  packages/expo-location/ios/Requesters/EXBaseLocationRequester.m
  packages/expo-location/src/Location.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30871 [image] Clean up code availability for iOS 15.1
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ExpoImage.podspec
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/Loaders/PhotoLibraryAssetLoader.swift
Labels: bot: passed checks, bot: fingerprint changed

#30863 [media-library] Clean up code availability for iOS 15.1
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/MediaLibraryExceptions.swift
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-media-library/ios/Requesters.swift
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks, bot: fingerprint changed

#30862 [notifications] Clean up code availability for iOS 15.1
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/README.md
  packages/expo-notifications/build/NotificationPermissions.d.ts
  packages/expo-notifications/build/NotificationPermissions.d.ts.map
  packages/expo-notifications/build/NotificationPermissions.js
  packages/expo-notifications/build/NotificationPermissions.js.map
  packages/expo-notifications/build/NotificationPermissions.types.d.ts
  packages/expo-notifications/build/NotificationPermissions.types.d.ts.map
  packages/expo-notifications/build/NotificationPermissions.types.js.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/ios/EXNotifications/Building/EXNotificationBuilder.m
  packages/expo-notifications/ios/EXNotifications/Notifications/Categories/EXNotificationCategoriesModule.m
  packages/expo-notifications/ios/EXNotifications/Notifications/EXNotificationCenterDelegate.m
  packages/expo-notifications/ios/EXNotifications/Notifications/EXNotificationSerializer.m
  packages/expo-notifications/ios/EXNotifications/Permissions/EXUserFacingNotificationsPermissionsRequester.m
  packages/expo-notifications/src/NotificationPermissions.ts
  packages/expo-notifications/src/NotificationPermissions.types.ts
  packages/expo-notifications/src/Notifications.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30887 Update next-steps.mdx
  docs/pages/develop/user-interface/next-steps.mdx
Labels: bot: passed checks

#30859 [video] Clean up code availability for iOS 15.1
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoView.d.ts
  packages/expo-video/build/VideoView.js
  packages/expo-video/build/VideoView.js.map
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/ios/NowPlayingManager.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoView.swift
  packages/expo-video/src/VideoView.tsx
  packages/expo-video/src/VideoView.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30894 [av][docs] Fix link to seek tolerance section
  docs/public/static/data/unversioned/expo-av.json
  docs/public/static/data/unversioned/expo-video-av.json
  packages/expo-av/build/AV.d.ts
  packages/expo-av/build/AV.js.map
  packages/expo-av/src/AV.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28587 [expo-updates][e2e] Add e2e for fingerprint policy
  .github/workflows/updates-e2e-fingerprint.yml
  packages/expo-updates/e2e/fixtures/Updates-fingerprint.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/.fingerprintignore
  packages/expo-updates/e2e/fixtures/project_files/e2e/tests/utils/update.ts
  packages/expo-updates/e2e/setup/create-fingerprint-eas-project.ts
  packages/expo-updates/e2e/setup/project.ts
  packages/expo-updates/utils/build/createFingerprintForBuildAsync.js
  packages/expo-updates/utils/src/createFingerprintForBuildAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30888 [android][audio] Support audio sampling
  apps/native-component-list/src/screens/Audio/expo-audio/AudioPlayer.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/JsiAudioBar.tsx
  packages/expo-audio/android/build.gradle
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/index.d.ts
  packages/expo-audio/build/index.d.ts.map
  packages/expo-audio/build/index.js
  packages/expo-audio/build/index.js.map
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/index.ts
Labels: bot: suggestions, bot: fingerprint changed

#30905 fix(metro-config): Fix incompatibility with `metro@0.80.10`
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js
  packages/@expo/metro-config/build/serializer/withExpoSerializers.js.map
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/@expo/metro-config/src/serializer/withExpoSerializers.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29043 [docs] Add url to suggested @sentry/react-native/expo config object as per sentry docs. npx sentry-expo-upload-sourcemaps fails without url specified
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#30788 [docs] update scripts.mdx [npx run reset-project] incorrect command changed
  docs/scenes/get-started/start-developing/ProjectStructure/files/scripts.mdx
Labels: bot: passed checks

#30880 [docs] First pass on a local-first guide
  docs/constants/navigation.js
  docs/pages/guides/local-first.mdx
Labels: bot: passed checks

#30825 [sqlite] add config plugin
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/app.plugin.js
  packages/expo-sqlite/package.json
  packages/expo-sqlite/plugin/babel.config.js
  packages/expo-sqlite/plugin/build/withSQLite.d.ts
  packages/expo-sqlite/plugin/build/withSQLite.js
  packages/expo-sqlite/plugin/src/withSQLite.ts
  packages/expo-sqlite/plugin/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#30826 [updates] rollback for system sqlite on ios
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration4To5.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration5To6.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration6To7.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration7To8.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration8To9.swift
  packages/expo-updates/ios/EXUpdates/Database/Migrations/UpdatesDatabaseMigration9To10.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseInitialization.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseUtils.swift
  packages/expo-updates/ios/Tests/DatabaseInitializationSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#30911 [bare-expo] update Podfile.lock
  apps/bare-expo/ios/Podfile.lock
Labels: bot: passed checks, bot: fingerprint changed

#30811 [web][camera] Fixed issue with facing on web mobile (30222)
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/ExpoCamera.web.d.ts
  packages/expo-camera/build/ExpoCamera.web.d.ts.map
  packages/expo-camera/build/ExpoCamera.web.js
  packages/expo-camera/build/ExpoCamera.web.js.map
  packages/expo-camera/src/ExpoCamera.web.tsx
Labels: bot: passed checks

#30918 [sqlite] fix build error for incremental pod install
  apps/bare-expo/ios/Podfile.lock
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile.lock
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/ExpoSQLite.podspec
Labels: bot: passed checks, bot: fingerprint changed

#30913 [autolinking] add packageName to android react-native-config
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.js
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/reactNativeConfig-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/androidResolver.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30914 [apps][templates] integrate core autolinking from our implementation
  apps/bare-expo/android/settings.gradle
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/fabric-tester/android/settings.gradle
  apps/fabric-tester/ios/Podfile
  apps/fabric-tester/ios/Podfile.lock
  apps/native-tests/ios/Podfile
  apps/native-tests/ios/Podfile.lock
  templates/expo-template-bare-minimum/android/settings.gradle
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks, bot: fingerprint changed

#30902 [modules-core][android] Add react-native 0.75 support
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/CoreModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/FilteredReadableMap.kt
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ExpoReactHostFactory.kt
Labels: bot: passed checks, bot: fingerprint changed

#30915 fix: use proper versions instead of `-unreleased`
  bun.lockb
  packages/@expo/config-plugins/package.json
  packages/@expo/config/package.json
  packages/@expo/prebuild-config/package.json
  packages/expo-file-system/package.json
  packages/expo-module-scripts/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#30904 [template] Add react-native 0.75 support
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.jar
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.properties
  templates/expo-template-bare-minimum/android/settings.gradle
Labels: bot: passed checks

#30828 [2/n] upgrade react-native 0.75
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile.lock
  apps/native-tests/package.json
  apps/router-e2e/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  package.json
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/package.json
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/setup/project.ts
  packages/expo/CHANGELOG.md
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/package.json
  patches/@react-native+gradle-plugin+0.75.0-rc.5.patch
  patches/@react-native+gradle-plugin+0.75.0-rc.7.patch
  patches/react-native+0.75.0-rc.5.patch
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#30431 [expo-font]: add getLoadedFonts() function
  apps/test-suite/tests/Font.js
  docs/pages/develop/user-interface/fonts.mdx
  docs/public/static/data/unversioned/expo-font.json
  packages/expo-asset/build/Asset.d.ts
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/ios/AssetModule.swift
  packages/expo-asset/src/Asset.ts
  packages/expo-font/CHANGELOG.md
  packages/expo-font/android/src/main/java/expo/modules/font/FontLoaderModule.kt
  packages/expo-font/build/ExpoFontLoader.web.d.ts
  packages/expo-font/build/ExpoFontLoader.web.d.ts.map
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.d.ts.map
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/Font.types.d.ts
  packages/expo-font/build/Font.types.d.ts.map
  packages/expo-font/build/Font.types.js.map
  packages/expo-font/build/FontLoader.web.d.ts.map
  packages/expo-font/build/FontLoader.web.js
  packages/expo-font/build/FontLoader.web.js.map
  packages/expo-font/build/memory.d.ts
  packages/expo-font/build/memory.d.ts.map
  packages/expo-font/build/memory.js
  packages/expo-font/build/memory.js.map
  packages/expo-font/ios/FontLoaderModule.swift
  packages/expo-font/src/ExpoFontLoader.web.ts
  packages/expo-font/src/Font.ts
  packages/expo-font/src/Font.types.ts
  packages/expo-font/src/FontLoader.web.ts
  packages/expo-font/src/__tests__/Font-test.native.ts
  packages/expo-font/src/__tests__/Font-test.node.ts
  packages/expo-font/src/__tests__/Font-test.web.ts
  packages/expo-font/src/__tests__/FontHooks-test.ts
  packages/expo-font/src/__tests__/FontLoader-test.web.ts
  packages/expo-font/src/memory.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions, bot: fingerprint changed

#30925 [config-plugins] fix test snapshot
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
Labels: bot: suggestions, bot: fingerprint compatible

#30928 [TV] update deployment target in TV compile CI
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30932 [docs] Fix broken link in Unit testing guide
  docs/pages/develop/unit-testing.mdx
Labels: bot: passed checks

#30896 Refactor expo-image-picker on iOS
  apps/test-suite/tests/ImagePicker.js
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/ios/ImagePickerHandler.swift
  packages/expo-image-picker/ios/ImagePickerModule.swift
  packages/expo-image-picker/ios/ImagePickerOptions.swift
  packages/expo-image-picker/ios/ImagePickerPermissionRequesters.swift
  packages/expo-image-picker/ios/ImagePickerUtils.swift
  packages/expo-image-picker/ios/ImageUtils.swift
  packages/expo-image-picker/ios/MediaHandler.swift
  packages/expo-image-picker/ios/VideoUtils.swift
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30941 [docs] Use "Type" column for tables and fix minor issues in Custom Build schema reference
  docs/pages/custom-builds/schema.mdx
Labels: bot: passed checks

#30943 [docs] Fix minor multiple issues
  docs/.vale.ini
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/pages/accounts/sso.mdx
  docs/pages/archive/classic-builds/building-standalone-apps.mdx
  docs/pages/tutorial/follow-up.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v50.0.0/config/metro.mdx
  docs/pages/versions/v51.0.0/config/metro.mdx
Labels: bot: passed checks

#30292 [apps] initial theming support
  apps/bare-expo/App.tsx
  apps/bare-expo/MainNavigator.tsx
  apps/bare-expo/metro.config.js
  apps/bare-expo/package.json
  apps/bare-expo/src/constants/Colors.ts
  apps/bare-expo/tsconfig.json
  apps/common/ThemeProvider.tsx
  apps/common/ThemeToggler.tsx
  apps/native-component-list/App.tsx
  apps/native-component-list/metro.config.js
  apps/native-component-list/package.json
  apps/native-component-list/src/components/Page.tsx
  apps/native-component-list/src/components/SearchBar.ios.tsx
  apps/native-component-list/src/components/TabBackground.tsx
  apps/native-component-list/src/components/TabIcon.tsx
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/navigation/StackConfig.tsx
  apps/native-component-list/src/screens/SearchScreen.tsx
  apps/native-component-list/tsconfig.json
  apps/test-suite/App.js
  apps/test-suite/AppNavigator.js
  apps/test-suite/components/Suites.js
  apps/test-suite/constants/Colors.js
  apps/test-suite/metro.config.js
  apps/test-suite/package.json
  apps/test-suite/screens/SelectScreen.js
  apps/test-suite/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30944 [core][Android] Introduced experimental converter
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/ExperimentalConverterTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaReferencesCache.cpp
  packages/expo-modules-core/android/src/main/cpp/javaclasses/Collections.h
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverterHelper.kt
Labels: bot: suggestions, bot: fingerprint changed

#30948 [Android][core] Fixed SharedObject class names are obfuscated when R8 is enabled
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/proguard-rules.pro
Labels: bot: suggestions, bot: fingerprint changed

#30953 docs: update json files
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-asset.json
  docs/public/static/data/unversioned/expo-barcode-scanner.json
  docs/public/static/data/unversioned/expo-blur.json
  docs/public/static/data/unversioned/expo-build-properties.json
  docs/public/static/data/unversioned/expo-checkbox.json
  docs/public/static/data/unversioned/expo-clipboard.json
  docs/public/static/data/unversioned/expo-gl.json
  docs/public/static/data/unversioned/expo-image-picker.json
  docs/public/static/data/unversioned/expo-image.json
  docs/public/static/data/unversioned/expo-linear-gradient.json
  docs/public/static/data/unversioned/expo-location.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/unversioned/expo-symbols.json
  docs/public/static/data/unversioned/expo-video.json
Labels: bot: passed checks

#30954 docs: support generating and rendering TypeOperator target types
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionUtils.tsx
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#30909 [router]: Fix incorrect routing sorting for static paths
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getStateFromPath.d.ts
  packages/expo-router/build/fork/getStateFromPath.d.ts.map
  packages/expo-router/build/fork/getStateFromPath.js
  packages/expo-router/build/fork/getStateFromPath.js.map
  packages/expo-router/src/__tests__/initialRouteName.test.ios.tsx
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/fork/__tests__/getStateFromPath.test.web.ts
  packages/expo-router/src/fork/getStateFromPath.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30675 [router]: add relativeToDirectory navigation option
  apps/router-e2e/__e2e__/maestro/__tests__/relative-imperative.yml
  apps/router-e2e/__e2e__/maestro/__tests__/relative-link.yml
  apps/router-e2e/__e2e__/maestro/app/(relative-imperative)/[fruit]/[fruit2].tsx
  apps/router-e2e/__e2e__/maestro/app/(relative-imperative)/[fruit]/index.tsx
  apps/router-e2e/__e2e__/maestro/app/(relative-link)/[fruit]/[fruit2].tsx
  apps/router-e2e/__e2e__/maestro/app/(relative-link)/[fruit]/index.tsx
  docs/pages/router/navigating-pages.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/build/link/path.d.ts
  packages/expo-router/build/link/path.d.ts.map
  packages/expo-router/build/link/path.js
  packages/expo-router/build/link/path.js.map
  packages/expo-router/build/link/useLinkToPathProps.d.ts
  packages/expo-router/build/link/useLinkToPathProps.d.ts.map
  packages/expo-router/build/link/useLinkToPathProps.js
  packages/expo-router/build/link/useLinkToPathProps.js.map
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/imperative-api.ts
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/path.ts
  packages/expo-router/src/link/useLinkToPathProps.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#30949 [ios][core] Add shared object lifecycle methods
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObject.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObjectRegistry.swift
Labels: bot: passed checks, bot: fingerprint changed

#30960 fix(babel-preset-expo): make babel-plugin-react-compiler an optional peer dep
  docs/pages/preview/react-compiler.mdx
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/index.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30945 docs: update prebuild
  docs/pages/workflow/prebuild.mdx
Labels: bot: passed checks

#30963 [modules-core][android] Update FilteredReadableMap to work with react-native 0.75
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/FilteredReadableMap.kt
Labels: bot: suggestions, bot: fingerprint changed

#30959 [docs] deploy files caching tweaks
  docs/deploy.sh
  docs/next.config.js
Labels: bot: passed checks, preview

#30967 chore: update e2e tests
  apps/router-e2e/__e2e__/rsc/app/index.tsx
  apps/router-e2e/index.js
  apps/router-e2e/metro.config.js
  apps/router-e2e/tailwind.config.js
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/rsc.test.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30981 Cherry pick filesystem fix to SDK51
  apps/test-suite/tests/FileSystem.js
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/FileSystemUtilities/FileSystemLegacyUtilities.swift
Labels: bot: passed checks, bot: fingerprint changed

#30974 [cli] fix virtual proxy entry serving address across network
  apps/bare-expo/android/app/build.gradle
  apps/expo-go/android/app/build.gradle
  apps/fabric-tester/android/app/build.gradle
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/start/server/middleware/DomComponentsMiddleware.ts
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js.map
  packages/@expo/metro-config/src/transform-worker/asset-transformer.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/use-dom-directive-plugin.js
  packages/babel-preset-expo/src/__tests__/use-dom-directive-plugin.test.ts
  packages/babel-preset-expo/src/use-dom-directive-plugin.ts
  templates/expo-template-bare-minimum/android/app/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#30975 [expo][cli][router-e2e] add public assets support
  apps/router-e2e/__e2e__/dom-components/app/index.tsx
  apps/router-e2e/__e2e__/dom-components/components/05-public-asset.tsx
  apps/router-e2e/__e2e__/dom-components/public/react-logo.png
  apps/router-e2e/app.config.js
  docs/pages/guides/dom-components.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/injection.d.ts
  packages/expo/build/dom/injection.d.ts.map
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/src/dom/injection.ts
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks, bot: fingerprint changed

#30926 docs: term clarifications in md files
  CONTRIBUTING.md
  apps/README.md
  apps/bare-expo/README.md
  packages/expo-apple-authentication/README.md
Labels: bot: suggestions, bot: fingerprint compatible

#30927 docs: update glossary of terms
  docs/pages/more/glossary-of-terms.mdx
Labels: bot: passed checks

#30992 [docs]: Fix env in `dom-components`
  docs/pages/guides/dom-components.mdx
Labels: bot: passed checks

#30966 [web][image-picker] Fixed web support for video selection
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/build/ExponentImagePicker.web.js
  packages/expo-image-picker/build/ExponentImagePicker.web.js.map
  packages/expo-image-picker/src/ExponentImagePicker.web.ts
Labels: bot: passed checks

#30952 [web][camera] Remove dependency on legacy types
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/ExpoCamera.web.d.ts
  packages/expo-camera/build/ExpoCamera.web.d.ts.map
  packages/expo-camera/build/ExpoCamera.web.js
  packages/expo-camera/build/ExpoCamera.web.js.map
  packages/expo-camera/build/ExpoCameraManager.web.d.ts
  packages/expo-camera/build/ExpoCameraManager.web.d.ts.map
  packages/expo-camera/build/ExpoCameraManager.web.js
  packages/expo-camera/build/ExpoCameraManager.web.js.map
  packages/expo-camera/build/legacy/Camera.d.ts
  packages/expo-camera/build/web/WebCameraUtils.d.ts
  packages/expo-camera/build/web/WebCameraUtils.d.ts.map
  packages/expo-camera/build/web/WebCameraUtils.js
  packages/expo-camera/build/web/WebCameraUtils.js.map
  packages/expo-camera/build/web/useWebCameraStream.d.ts
  packages/expo-camera/build/web/useWebCameraStream.d.ts.map
  packages/expo-camera/build/web/useWebCameraStream.js.map
  packages/expo-camera/src/ExpoCamera.web.tsx
  packages/expo-camera/src/ExpoCameraManager.web.ts
  packages/expo-camera/src/web/WebCameraUtils.ts
  packages/expo-camera/src/web/useWebCameraStream.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30891 [expo-video][android] Fix wrong event being sent when the volume is changed
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/PlayerEvent.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
Labels: bot: passed checks, bot: fingerprint changed

#27820 [expo-linear-gradient] Require at least two colors in typescript
  apps/native-component-list/src/screens/LinearGradientScreen.tsx
  apps/native-component-list/src/screens/ViewShotScreen.tsx
  docs/public/static/data/unversioned/expo-linear-gradient.json
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-linear-gradient/build/LinearGradient.d.ts
  packages/expo-linear-gradient/build/LinearGradient.d.ts.map
  packages/expo-linear-gradient/build/LinearGradient.js.map
  packages/expo-linear-gradient/src/LinearGradient.tsx
  packages/expo-linear-gradient/src/__tests__/LinearGradient-test.native.tsx
  packages/expo-linear-gradient/src/__tests__/LinearGradient-test.web.tsx
Labels: bot: passed checks, preview

#30934 [cli] add /expo-dev-plugins/broadcast endpoint
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/DevToolsPluginWebsocketEndpoint.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30935 [expo] add useTransportationNext for devtools plugin client to support binary payload
  apps/test-suite/TestModules.js
  apps/test-suite/tests/DevToolsPluginClient.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/devtools/DevToolsPluginClient.d.ts
  packages/expo/build/devtools/DevToolsPluginClient.d.ts.map
  packages/expo/build/devtools/MessageFramePacker.d.ts
  packages/expo/build/devtools/MessageFramePacker.d.ts.map
  packages/expo/build/devtools/blobUtils.d.ts
  packages/expo/build/devtools/blobUtils.d.ts.map
  packages/expo/build/devtools/devtools.types.d.ts
  packages/expo/build/devtools/devtools.types.d.ts.map
  packages/expo/src/devtools/DevToolsPluginClient.ts
  packages/expo/src/devtools/MessageFramePacker.ts
  packages/expo/src/devtools/__tests__/MessageFramePack-test.node.ts
  packages/expo/src/devtools/blobUtils.ts
  packages/expo/src/devtools/devtools.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30965 [sdk-51][dev-launcher][dev-menu] Add support for react-native 0.75
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherPackageDelegate.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherReactNativeHostHandler.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/errors/DevLauncherAppError.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/react/DevLauncherPackagerConnectionSettings.kt
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/launcher/DevLauncherReactHost.kt
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/launcher/DevLauncherReactNativeHost.kt
  packages/expo-dev-launcher/android/src/react-native-74/main/com/facebook/react/devsupport/DevLauncherDevServerHelper.kt
  packages/expo-dev-launcher/android/src/react-native-74/main/com/facebook/react/devsupport/DevLauncherInternalSettings.kt
  packages/expo-dev-launcher/android/src/react-native-74/main/com/facebook/react/devsupport/NonFinalBridgeDevSupportManager.java
  packages/expo-dev-launcher/android/src/react-native-74/main/com/facebook/react/runtime/NonFinalBridgelessDevSupportManager.java
  packages/expo-dev-launcher/android/src/react-native-75/debug/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/react-native-75/debug/expo/modules/devlauncher/launcher/DevLauncherReactHost.kt
  packages/expo-dev-launcher/android/src/react-native-75/debug/expo/modules/devlauncher/launcher/DevLauncherReactNativeHost.kt
  packages/expo-dev-launcher/android/src/react-native-75/debug/expo/modules/devlauncher/rncompatibility/DevLauncherBridgeDevSupportManager.kt
  packages/expo-dev-launcher/android/src/react-native-75/debug/expo/modules/devlauncher/rncompatibility/DevLauncherBridgelessDevSupportManager.kt
  packages/expo-dev-launcher/android/src/react-native-75/debug/expo/modules/devlauncher/rncompatibility/DevLauncherDevSupportManagerFactory.kt
  packages/expo-dev-launcher/android/src/react-native-75/main/com/facebook/react/devsupport/DevLauncherDevServerHelper.kt
  packages/expo-dev-launcher/android/src/react-native-75/main/com/facebook/react/devsupport/DevLauncherSettings.kt
  packages/expo-dev-launcher/android/src/react-native-75/main/com/facebook/react/devsupport/NonFinalBridgeDevSupportManager.java
  packages/expo-dev-launcher/android/src/react-native-75/main/com/facebook/react/runtime/NonFinalBridgelessDevSupportManager.java
  packages/expo-dev-launcher/assets/react-native-75/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuDevSettings.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuUtils.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/helpers/DevMenuReflectionExtensions.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuPackagerConnectionSettings.kt
  packages/expo-dev-menu/android/src/react-native-74/debug/expo/modules/devmenu/DevMenuReactHost.kt
  packages/expo-dev-menu/android/src/react-native-74/debug/expo/modules/devmenu/DevMenuReactNativeHost.kt
  packages/expo-dev-menu/android/src/react-native-74/main/com/facebook/react/devsupport/DevMenuReactInternalSettings.kt
  packages/expo-dev-menu/android/src/react-native-75/debug/expo/modules/devmenu/DevMenuReactHost.kt
  packages/expo-dev-menu/android/src/react-native-75/debug/expo/modules/devmenu/DevMenuReactNativeHost.kt
  packages/expo-dev-menu/android/src/react-native-75/main/com/facebook/react/devsupport/DevMenuReactSettings.kt
  packages/expo-dev-menu/android/src/react-native-75/main/com/facebook/react/devsupport/DevMenuSettingsBase.kt
  packages/expo-dev-menu/assets/react-native-75/EXDevMenuApp.android.js
Labels: bot: passed checks, bot: fingerprint changed

#30989 update react-native-screens to 3.34.0
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/router-e2e/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-a/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-b/package.json
  packages/@expo/cli/e2e/fixtures/with-router-typed-routes/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  patches/react-native-screens+3.31.1.patch
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#31003 [docs] Improve DOM components guide
  docs/pages/guides/dom-components.mdx
Labels: bot: passed checks

#31001 [SDK-51] fix(metro-runtime): Update native LoadingView to support react-native 0.75
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/LoadingView.native.d.ts
  packages/@expo/metro-runtime/build/LoadingView.native.d.ts.map
  packages/@expo/metro-runtime/build/LoadingView.native.js
  packages/@expo/metro-runtime/build/LoadingView.native.js.map
  packages/@expo/metro-runtime/src/LoadingView.native.ts
Labels: bot: passed checks, bot: fingerprint changed

#31016 [core][Android] Experimetal map converter
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/ExperimentalConverterTest.kt
  packages/expo-modules-core/android/src/main/cpp/JavaCallback.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaReferencesCache.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/JSTypeConverterHelper.kt
Labels: bot: suggestions, bot: fingerprint changed

#30980 fix(metro-config): fix source map url with sentry
  apps/router-e2e/metro.config.js
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/serializer-plugins.test.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30850 feat(metro-config, cli, router): production exports
  apps/router-e2e/.env
  apps/router-e2e/__e2e__/01-rsc/app/_layout.tsx
  apps/router-e2e/__e2e__/01-rsc/app/index.tsx
  apps/router-e2e/__e2e__/01-rsc/components/counter.tsx
  apps/router-e2e/__e2e__/01-rsc/lib/react-native.tsx
  apps/router-e2e/__e2e__/01-rsc/server.js
  apps/router-e2e/metro.config.js
  apps/router-e2e/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/hydration.test.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/export/saveAssets.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/cli/src/utils/stream.ts
  packages/@expo/cli/static/template/[...rsc]+api.ts
  packages/@expo/server/CHANGELOG.md
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/middleware.d.ts
  packages/expo-router/build/rsc/middleware.d.ts.map
  packages/expo-router/build/rsc/middleware.js
  packages/expo-router/build/rsc/middleware.js.map
  packages/expo-router/build/rsc/rsc-renderer.d.ts.map
  packages/expo-router/build/rsc/rsc-renderer.js.map
  packages/expo-router/src/rsc/middleware.ts
  packages/expo-router/src/rsc/rsc-renderer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31014 [docs] fix example in monorepos
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#31022 [template] Stub com.facebook.react.settings when react-native <= 0.74.3
  templates/expo-template-bare-minimum/android/react-settings-plugin/build.gradle.kts
  templates/expo-template-bare-minimum/android/react-settings-plugin/src/main/kotlin/expo/plugins/ReactSettingsPlugin.kt
  templates/expo-template-bare-minimum/android/settings.gradle
Labels: bot: passed checks

#31012 [create-expo] Update cli instructions for npm to use npx
  packages/create-expo/CHANGELOG.md
  packages/create-expo/src/cli.ts
Labels: bot: passed checks, bot: fingerprint compatible

#31036 [templates] Fix breaking change for unstable core autolinking
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/fabric-tester/ios/Podfile
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile
  apps/native-tests/ios/Podfile.lock
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks, bot: fingerprint changed

#31011 fix(expo-video): NaN current time when source is not provided
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoModule.swift
Labels: bot: passed checks

#31038 [expo-camera]: Disable camera shutter sound via CameraPictureOptions
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/Options.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/ios/Common/TakePictureOptions.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks

#31056 [docs] Fix Typo in DOM Components Documentation
  docs/pages/guides/dom-components.mdx
Labels: bot: passed checks

#31058 [android][core] Fix runtimeExecutor
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
Labels: bot: passed checks, bot: fingerprint changed

#31048 [expo-notifications][Android] Fix content.data in scheduled notifications surfaced to JS
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/build/getAllScheduledNotificationsAsync.d.ts.map
  packages/expo-notifications/build/getAllScheduledNotificationsAsync.js
  packages/expo-notifications/build/getAllScheduledNotificationsAsync.js.map
  packages/expo-notifications/build/getPresentedNotificationsAsync.d.ts.map
  packages/expo-notifications/build/getPresentedNotificationsAsync.js
  packages/expo-notifications/build/getPresentedNotificationsAsync.js.map
  packages/expo-notifications/build/utils/mapNotificationResponse.d.ts
  packages/expo-notifications/build/utils/mapNotificationResponse.d.ts.map
  packages/expo-notifications/build/utils/mapNotificationResponse.js
  packages/expo-notifications/build/utils/mapNotificationResponse.js.map
  packages/expo-notifications/src/getAllScheduledNotificationsAsync.ts
  packages/expo-notifications/src/getPresentedNotificationsAsync.ts
  packages/expo-notifications/src/utils/mapNotificationResponse.ts
Labels: bot: passed checks, bot: fingerprint changed

#31032 [font]: clarify font family name when using config plugin
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/versions/unversioned/sdk/font.mdx
Labels: bot: passed checks

#31061 [docs] tweaks for the Sentry setup
  docs/pages/_app.tsx
Labels: bot: passed checks

#30996 [docs] update Styleguide, correct related classes
  docs/package.json
  docs/tailwind.config.cjs
  docs/ui/components/Home/sections/QuickStart.tsx
  docs/ui/components/Sidebar/Sidebar.tsx
  docs/ui/components/Snippet/SnippetExpandOverlay.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#30801 [system-ui] Add edgeToEdge to config experiments
  apps/bare-expo/app.json
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/expo-constants/package.json
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/android/build.gradle
  packages/expo-system-ui/android/src/main/java/expo/modules/systemui/SystemUIReactActivityLifecycleListener.kt
  packages/expo-system-ui/android/src/main/java/expo/modules/systemui/singletons/SystemUI.kt
  packages/expo-system-ui/android/src/main/res/values-night/styles.xml
  packages/expo-system-ui/android/src/main/res/values-v26/styles.xml
  packages/expo-system-ui/android/src/main/res/values-v27/styles.xml
  packages/expo-system-ui/android/src/main/res/values-v29/styles.xml
  packages/expo-system-ui/android/src/main/res/values-v30/styles.xml
  packages/expo-system-ui/android/src/main/res/values/attrs.xml
  packages/expo-system-ui/android/src/main/res/values/colors.xml
  packages/expo-system-ui/android/src/main/res/values/public.xml
  packages/expo-system-ui/android/src/main/res/values/styles.xml
  packages/expo-system-ui/package.json
  packages/expo-system-ui/plugin/build/withAndroidEdgeToEdgeTheme.d.ts
  packages/expo-system-ui/plugin/build/withAndroidEdgeToEdgeTheme.js
  packages/expo-system-ui/plugin/build/withAndroidGradleEdgeToEdgeProperty.d.ts
  packages/expo-system-ui/plugin/build/withAndroidGradleEdgeToEdgeProperty.js
  packages/expo-system-ui/plugin/build/withSystemUI.js
  packages/expo-system-ui/plugin/src/__tests__/withAndroidEdgeToEdgeTheme-test.ts
  packages/expo-system-ui/plugin/src/__tests__/withAndroidGradleEdgeToEdgeProperty-test.ts
  packages/expo-system-ui/plugin/src/withAndroidEdgeToEdgeTheme.ts
  packages/expo-system-ui/plugin/src/withAndroidGradleEdgeToEdgeProperty.ts
  packages/expo-system-ui/plugin/src/withSystemUI.ts
Labels: bot: suggestions

#30993 [web][audio] Add initial web support
  apps/native-component-list/src/screens/Audio/expo-audio/AudioInputSelector.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/AudioModeSelector.web.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/AudioScreen.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/Recorder.tsx
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/AudioModule.web.d.ts
  packages/expo-audio/build/AudioModule.web.d.ts.map
  packages/expo-audio/build/AudioModule.web.js
  packages/expo-audio/build/AudioModule.web.js.map
  packages/expo-audio/build/ExpoAudio.d.ts
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/build/ExpoAudio.web.d.ts
  packages/expo-audio/build/ExpoAudio.web.d.ts.map
  packages/expo-audio/build/ExpoAudio.web.js
  packages/expo-audio/build/ExpoAudio.web.js.map
  packages/expo-audio/build/RecordingConstants.d.ts
  packages/expo-audio/build/RecordingConstants.d.ts.map
  packages/expo-audio/build/RecordingConstants.js
  packages/expo-audio/build/RecordingConstants.js.map
  packages/expo-audio/build/index.d.ts
  packages/expo-audio/build/index.d.ts.map
  packages/expo-audio/build/index.js
  packages/expo-audio/build/index.js.map
  packages/expo-audio/ios/AudioRecorder.swift
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/AudioModule.web.ts
  packages/expo-audio/src/ExpoAudio.ts
  packages/expo-audio/src/ExpoAudio.web.ts
  packages/expo-audio/src/RecordingConstants.ts
  packages/expo-audio/src/index.ts
  packages/expo-audio/src/ts-declarations/lib.dom.d.ts
Labels: bot: suggestions, bot: fingerprint changed

#31072 [av] fix build error on 0.75
  packages/expo-av/CHANGELOG.md
  packages/expo-av/ios/EXAV.podspec
Labels: bot: passed checks, bot: fingerprint changed

#31073 feat(web): add support for CSS in server components
  apps/router-e2e/__e2e__/01-rsc/app/_layout.tsx
  apps/router-e2e/__e2e__/01-rsc/app/index.tsx
  apps/router-e2e/__e2e__/01-rsc/global.css
  apps/router-e2e/__e2e__/01-rsc/home.module.css
  apps/router-e2e/__e2e__/rsc/app/index.tsx
  apps/router-e2e/__e2e__/rsc/lib/react-native.tsx
  apps/router-e2e/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/rsc.test.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/css-modules.d.ts
  packages/@expo/metro-config/build/transform-worker/css-modules.js
  packages/@expo/metro-config/build/transform-worker/css-modules.js.map
  packages/@expo/metro-config/build/transform-worker/css.d.ts
  packages/@expo/metro-config/build/transform-worker/css.js
  packages/@expo/metro-config/build/transform-worker/css.js.map
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/css.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/css.test.ts
  packages/@expo/metro-config/src/transform-worker/css-modules.ts
  packages/@expo/metro-config/src/transform-worker/css.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/src/messageSocket.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30922 [video] add fullscreen enter and exit events
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/build/VideoView.web.d.ts.map
  packages/expo-video/build/VideoView.web.js
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoView.swift
  packages/expo-video/src/VideoView.types.ts
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: passed checks

#31084 [updates] fix build error on react-native 0.75
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/react-native-74/main/expo/modules/updates/errorrecovery/ErrorRecovery.kt
  packages/expo-updates/android/src/react-native-75/main/expo/modules/updates/errorrecovery/ErrorRecovery.kt
Labels: bot: passed checks, bot: fingerprint changed

#26824 [expo-image][android] Add shared-ref based load API to expo-image
  apps/test-suite/tests/Image.js
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/Exceptions.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/Image.kt
  packages/expo-image/android/src/main/java/expo/modules/image/ImageLoadTask.kt
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#31096 autolinking: update deprecated platform docs
  docs/pages/modules/autolinking.mdx
Labels: bot: passed checks

#31093 [android][camera] Fix selecting `pictureSize`
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#31094 [font]: improvements to docs
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/versions/unversioned/sdk/font.mdx
  docs/public/static/data/unversioned/expo-font.json
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.d.ts.map
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/src/Font.ts
Labels: bot: suggestions, bot: fingerprint compatible

#31097 chore(expo-router): drop expo-status-bar
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/package.json
  packages/expo-router/src/ExpoRoot.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#31100 [dev-menu] Fix build error on 0.75
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/expo-dev-menu.podspec
Labels: bot: passed checks, bot: fingerprint changed

#31085 [create-expo] add a comment to sync the forbidden names list in WWW
  packages/create-expo/src/Template.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30997 [docs] Fix unit testing example
  docs/pages/develop/unit-testing.mdx
Labels: bot: passed checks

#31053 fix(font): include postScript font names in getLoadedFonts
  packages/expo-font/CHANGELOG.md
  packages/expo-font/ios/FontExceptions.swift
  packages/expo-font/ios/FontLoaderModule.swift
Labels: bot: passed checks, bot: fingerprint changed
