Repository expo/expo, pull requests merged in 2024-12, with the labels that each got.

#33331 [audio] Support creating an `AudioPlayer` instance without the hook
  apps/native-component-list/src/screens/Audio/AudioScreen.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/CreateAudioPlayerScreen.tsx
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/build/ExpoAudio.d.ts
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/build/ExpoAudio.web.d.ts
  packages/expo-audio/build/ExpoAudio.web.d.ts.map
  packages/expo-audio/build/ExpoAudio.web.js
  packages/expo-audio/build/ExpoAudio.web.js.map
  packages/expo-audio/src/ExpoAudio.ts
  packages/expo-audio/src/ExpoAudio.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33326 [sentry] Update recommended version
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks, bot: fingerprint changed

#33208 [expo-contacts][android] added support for favorite contacts
  apps/test-suite/tests/Contacts.js
  docs/public/static/data/unversioned/expo-contacts.json
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Columns.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#33311 [notifications][android]: don't interpret custom sounds without vibrations as silent
  .github/workflows/android-instrumentation-tests.yml
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/androidTest/kotlin/expo/modules/notifications/notifications/model/ExpoNotificationBuilderTest.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/model/NotificationContent.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.kt
Labels: bot: passed checks

#33152 Add blob support to fetch and expo-file-system/next
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemFile.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextModule.kt
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/build/next/FileSystem.d.ts
  packages/expo-file-system/build/next/FileSystem.d.ts.map
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
  packages/expo-file-system/src/next/ExpoFileSystem.types.ts
  packages/expo-file-system/src/next/FileSystem.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/winter/fetch/RequestUtils.d.ts
  packages/expo/build/winter/fetch/RequestUtils.d.ts.map
  packages/expo/src/winter/fetch/RequestUtils.ts
  packages/expo/src/winter/fetch/__tests__/RequestUtils-test.ts
Labels: bot: passed checks, bot: fingerprint changed

#33347 [android][camera] Add Google code scanner support
  apps/native-component-list/src/screens/Camera/CameraScreenBarcode.tsx
  docs/public/static/data/unversioned/expo-camera.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/build.gradle
  packages/expo-camera/android/src/main/AndroidManifest.xml
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraExceptions.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/analyzers/BarcodeScannerResultSerializer.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/analyzers/MLKitBarcodeAnalyzer.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/CameraView.d.ts
  packages/expo-camera/build/CameraView.d.ts.map
  packages/expo-camera/build/CameraView.js
  packages/expo-camera/build/CameraView.js.map
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/CameraView.tsx
Labels: bot: passed checks, bot: fingerprint changed

#33346 [iOS] Re-export ExpoModulesCore from Expo on iOS
  packages/expo/ios/Expo.swift
Labels: bot: suggestions, bot: fingerprint changed

#33327 [expo-network] Fix network emitters
  packages/expo-network/CHANGELOG.md
  packages/expo-network/build/ExpoNetwork.web.d.ts
  packages/expo-network/build/ExpoNetwork.web.d.ts.map
  packages/expo-network/build/ExpoNetwork.web.js
  packages/expo-network/build/ExpoNetwork.web.js.map
  packages/expo-network/src/ExpoNetwork.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33350 fix(expo-router) - regex change positive lookbehind for capture group on matcher method
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/matchers.js
  packages/expo-router/build/matchers.js.map
  packages/expo-router/src/matchers.tsx
Labels: bot: passed checks

#33282 [docs] improve search results for workflows
  docs/pages/workflows/get-started.mdx
Labels: bot: passed checks

#33328 Fix bare expo on web
  apps/native-component-list/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#33356 [core][Android] Fix failing test
  packages/expo-modules-core/common/cpp/EventEmitter.cpp
Labels: bot: suggestions, bot: fingerprint changed

#33343 [docs] Add missing info about using `--clear` option when modifying babel config file
  docs/pages/versions/unversioned/config/babel.mdx
  docs/pages/versions/v52.0.0/config/babel.mdx
Labels: bot: passed checks

#33352 [docs] Add `StructuredData` component for Development Builds introduction page
  docs/pages/develop/development-builds/introduction.mdx
  docs/ui/components/StructuredData/index.tsx
Labels: bot: passed checks

#33249 [config] Move getAccountUsername to CLI and make it package private
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/rest/client.ts
  packages/@expo/cli/src/api/user/UserSettings.ts
  packages/@expo/cli/src/api/user/__tests__/user-test.ts
  packages/@expo/cli/src/start/platforms/ios/devicectl.ts
  packages/@expo/cli/src/utils/__tests__/getAccountUsername-test.ts
  packages/@expo/cli/src/utils/codesigning.ts
  packages/@expo/cli/src/utils/downloadExpoGoAsync.ts
  packages/@expo/cli/src/utils/getAccountUsername.ts
  packages/@expo/cli/src/utils/getOrPromptApplicationId.ts
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/getAccountUsername.d.ts
  packages/@expo/config/build/getAccountUsername.js
  packages/@expo/config/build/getAccountUsername.js.map
  packages/@expo/config/build/getUserState.d.ts
  packages/@expo/config/build/getUserState.js
  packages/@expo/config/build/getUserState.js.map
  packages/@expo/config/build/index.d.ts
  packages/@expo/config/build/index.js
  packages/@expo/config/build/index.js.map
  packages/@expo/config/src/__tests__/getUserState-test.ts
  packages/@expo/config/src/getUserState.ts
  packages/@expo/config/src/index.ts
  packages/create-expo-module/build/telemetry.js
  packages/create-expo-module/build/telemetry.js.map
  packages/create-expo-module/src/telemetry.ts
Labels: bot: passed checks, bot: fingerprint changed

#33323 [fingerprint] fix error from USE_RNCORE_AUTOLINKING_FROM_EXPO
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/cli/build/commands/generateFingerprint.js
  packages/@expo/fingerprint/cli/src/commands/generateFingerprint.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33324 [fingerprint] fix the whole ios dir be ignored
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/hash/Hash.js
  packages/@expo/fingerprint/build/hash/Hash.js.map
  packages/@expo/fingerprint/build/utils/Path.d.ts
  packages/@expo/fingerprint/build/utils/Path.js
  packages/@expo/fingerprint/build/utils/Path.js.map
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/hash/Hash.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/utils/Path.ts
  packages/@expo/fingerprint/src/utils/__tests__/Path-test.ts
Labels: bot: passed checks, bot: fingerprint changed

#33365 [expo-audio] Support Apple TV
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/expo-module.config.json
  packages/expo-audio/ios/AudioComponentRegistry.swift
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioUtils.swift
  packages/expo-audio/ios/ExpoAudio.podspec
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions

#33063 [docs][notifications] guides overhaul
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/push-notifications/faq.mdx
  docs/pages/push-notifications/fcm-credentials.mdx
  docs/pages/push-notifications/obtaining-a-device-token-for-fcm-or-apns.mdx
  docs/pages/push-notifications/overview.mdx
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/push-notifications/receiving-notifications.mdx
  docs/pages/push-notifications/sending-notifications-custom.mdx
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/push-notifications/what-you-need-to-know.mdx
  docs/ui/components/NotificationsVideo.tsx
Labels: bot: passed checks

#33065 [docs][notifications] update reference docs
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#33236 [cli] Fix error after consecutive `run:ios` commands
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/runIosAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33378 [expo-go] Safely cast `devSettings`
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.kt
Labels: bot: passed checks

#33367 [expo-go] Fix loading progress crash
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/loading/LoadingProgressPopupController.kt
Labels: bot: passed checks

#33381 [docs] Update guide about sending events in Expo Modules
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks, preview

#33358 [docs] Add a reference for Expo specific properties for `package.json`
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/versions/unversioned/config/package-json.mdx
  docs/pages/versions/v52.0.0/config/package-json.mdx
  docs/pages/workflow/using-libraries.mdx
Labels: bot: passed checks, preview

#33351 [docs] Migrate common questions section to Expo Router introduction
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/router/introduction.mdx
  docs/pages/router/reference/faq.mdx
  docs/pages/router/reference/troubleshooting.mdx
Labels: bot: passed checks, preview

#33382 Remove myself from codemention
  .github/codemention.yml
Labels: bot: passed checks

#33362 [docs] point to native upgrade helper for previous versions of Expo Modules manual install guide
  docs/pages/bare/installing-expo-modules.mdx
Labels: bot: passed checks

#33380 [expo-go] Catch potential null pointer when generating uuid
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/storage/ExponentInstallationId.kt
Labels: bot: passed checks

#33399 [go][expo] update vendored react-native-webview to 13.12.5
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/modules/react-native-webview/android/src/main/java/com/reactnativecommunity/webview/RNCWebViewManagerImpl.kt
  apps/expo-go/modules/react-native-webview/android/src/newarch/com/reactnativecommunity/webview/RNCWebViewManager.java
  apps/expo-go/modules/react-native-webview/android/src/oldarch/com/reactnativecommunity/webview/RNCWebViewManager.java
  apps/expo-go/modules/react-native-webview/package.json
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/router-e2e/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#33384 Fix better sqlite build issue
  packages/expo-sqlite/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#33383 [cli][create-expo] Support GitHub shorthand for templates
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/__tests__/resolveOptions-test.ts
  packages/@expo/cli/src/prebuild/resolveOptions.ts
  packages/create-expo/CHANGELOG.md
  packages/create-expo/e2e/__tests__/index-test.ts
  packages/create-expo/src/Template.ts
  packages/create-expo/src/__tests__/Template.test.ts
Labels: bot: passed checks

#33389 [docs] Hide TOC and add missing BoxLink icons on multiple pages
  docs/pages/app-signing/existing-credentials.mdx
  docs/pages/build-reference/git-submodules.mdx
  docs/pages/build/introduction.mdx
  docs/pages/develop/development-builds/introduction.mdx
  docs/pages/eas-update/introduction.mdx
  docs/pages/eas-update/standalone-service.mdx
  docs/pages/eas/metadata/getting-started.mdx
  docs/pages/eas/metadata/index.mdx
  docs/pages/push-notifications/overview.mdx
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/workflow/web.mdx
Labels: bot: passed checks

#33385 [go] fix unsupported snack list item
  apps/expo-go/src/components/SnacksListItem.tsx
  apps/expo-go/src/utils/Environment.ts
Labels: bot: passed checks

#33357 [doctor] remove cmd.exe warning
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/warnings/windows.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33330 fix(cli): write and use the `ios.appleTeamId` in `run ios` using real devices
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/codeSigning/__tests__/resolveCertificateSigningIdentity-test.ts
  packages/@expo/cli/src/run/ios/codeSigning/configureCodeSigning.ts
  packages/@expo/cli/src/run/ios/codeSigning/resolveCertificateSigningIdentity.ts
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/build/Config.js
  packages/@expo/config/build/Config.js.map
  packages/@expo/config/src/Config.ts
Labels: bot: passed checks, bot: fingerprint changed

#32068 [expo-go][ios][1/n] Convert EXApiUtil to swift
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Kernel/AppLoader/AppFetcher/EXAppFetcher.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/CachedResource/EXJavaScriptResource.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXApiUtil.h
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXApiUtil.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXApiUtil.swift
  apps/expo-go/ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
Labels: bot: passed checks

#33369 feat(dom): Assert that DOM components cannot have `children`.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/use-dom-directive-plugin.js
  packages/babel-preset-expo/src/__tests__/use-dom-directive-plugin.test.ts
  packages/babel-preset-expo/src/use-dom-directive-plugin.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/webview-wrapper.d.ts
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks, bot: fingerprint changed

#33410 [fingerprint] add diff stability test
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30856 chore: update PR template and contributing.md
  .github/PULL_REQUEST_TEMPLATE
  CONTRIBUTING.md
Labels: bot: passed checks

#33345 docs: update notifications setup guide to use EventSubscription
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#33354 [notifications]: fix data serialization for notifications with `ChannelAwareTrigger`
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
Labels: bot: passed checks

#33407 [docs] Add `data-nosnippet` to Previous and Next buttons
  docs/ui/components/Footer/Footer.tsx
Labels: bot: passed checks

#33431 [bare][Android] Use correct `exec` in `build.gradle`
  apps/bare-expo/android/app/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#33292 [docs] Fix typos, broken link and formatting issues in EAS environment variables guides
  docs/pages/eas/environment-variables.mdx
  docs/pages/eas/using-environment-variables.mdx
Labels: bot: passed checks

#33310 [core][Android] Introduce library gradle plugin
  packages/expo-modules-core/expo-module.config.json
  packages/expo-modules-core/expo-modules-library/.gitignore
  packages/expo-modules-core/expo-modules-library/build.gradle.kts
  packages/expo-modules-core/expo-modules-library/src/main/kotlin/expo/modules/plugin/ExpoModulesCoreLibraryPlugin.kt
  packages/expo-modules-core/expo-modules-library/src/main/kotlin/expo/modules/plugin/ExtraPropertiesExtension.kt
  packages/expo-modules-core/expo-modules-library/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
Labels: bot: suggestions, bot: fingerprint changed

#33434 [docs] Update "kB" to "KiB" in EAS Environment variables guide
  docs/pages/eas/environment-variables.mdx
Labels: bot: passed checks

#33436 [docs] Fix internal links and redirects
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/build-reference/e2e-tests.mdx
  docs/pages/eas/environment-variables.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
Labels: bot: passed checks

#33361 [screen-orientation] Fixed event listeners on web.
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/build/ExpoScreenOrientation.web.d.ts
  packages/expo-screen-orientation/build/ExpoScreenOrientation.web.d.ts.map
  packages/expo-screen-orientation/build/ExpoScreenOrientation.web.js
  packages/expo-screen-orientation/build/ExpoScreenOrientation.web.js.map
  packages/expo-screen-orientation/build/ScreenOrientation.types.d.ts
  packages/expo-screen-orientation/build/ScreenOrientation.types.d.ts.map
  packages/expo-screen-orientation/build/ScreenOrientation.types.js.map
  packages/expo-screen-orientation/src/ExpoScreenOrientation.web.ts
  packages/expo-screen-orientation/src/ScreenOrientation.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#33405 [expo/fetch] Fix wrong content type when sending a blob as body
  packages/expo/CHANGELOG.md
  packages/expo/build/winter/fetch/RequestUtils.d.ts.map
  packages/expo/src/winter/fetch/RequestUtils.ts
Labels: bot: passed checks, bot: fingerprint changed

#33348 [iOS][core] Retire EXAppDelegateWrapper in favor of ExpoAppDelegate
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.h
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.mm
  packages/expo-modules-core/ios/AppDelegates/ExpoAppDelegate.swift
  packages/expo-modules-core/ios/AppDelegates/ExpoAppInstance.swift
  packages/expo-modules-core/ios/ReactDelegates/EXReactRootViewFactory.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactRootViewFactory.mm
Labels: bot: passed checks, bot: fingerprint changed

#33403 [docs] [ENG-14302] Update workflow flow control docs
  docs/pages/workflows/control-flow.mdx
Labels: bot: passed checks

#33445 Use nullish assignment operator to assign `entries` in `FormData`
  packages/expo/CHANGELOG.md
  packages/expo/src/winter/FormData.ts
Labels: bot: passed checks

#33446 Export types using `export type` instead of `export` in `expo-image-manipulator`
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/build/index.d.ts
  packages/expo-image-manipulator/build/index.d.ts.map
  packages/expo-image-manipulator/src/index.ts
Labels: bot: passed checks

#33447 Import types using `import-type` instead of `import` in `expo-modules-core`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeModulesProxy.d.ts
  packages/expo-modules-core/build/NativeModulesProxy.d.ts.map
  packages/expo-modules-core/build/NativeModulesProxy.native.d.ts
  packages/expo-modules-core/build/NativeModulesProxy.native.d.ts.map
  packages/expo-modules-core/build/index.d.ts
  packages/expo-modules-core/build/index.d.ts.map
  packages/expo-modules-core/src/NativeModulesProxy.native.ts
  packages/expo-modules-core/src/NativeModulesProxy.ts
  packages/expo-modules-core/src/index.ts
Labels: bot: passed checks

#33442 [core][Android] Rename module plugin to `expo-module-gradle-plugin`
  packages/expo-modules-core/expo-module-gradle-plugin/.gitignore
  packages/expo-modules-core/expo-module-gradle-plugin/build.gradle.kts
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ExpoModulesGradlePlugin.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ExtraPropertiesExtension.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-modules-core/expo-module.config.json
Labels: bot: suggestions, bot: fingerprint changed

#33359 Add additional default for project ID in notification options
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts.map
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
Labels: bot: passed checks

#33392 Update outdated info about no Cocoapods caching
  docs/pages/build-reference/limitations.mdx
Labels: bot: passed checks

#33391 Fix wording for disabling cocoapods cache
  docs/pages/build-reference/caching.mdx
Labels: bot: passed checks

#33444 [docs] include jazz in local-first doc
  docs/pages/guides/local-first.mdx
Labels: bot: passed checks

#33432 [updates] Fix `deferredRootView`
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
Labels: bot: passed checks, bot: fingerprint changed

#33366 feat(metro-config): add support for Webpack magic import comment
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/collect-dependencies-upstream.test.ts
  packages/@expo/metro-config/src/transform-worker/collect-dependencies.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33415 feat(cli): estimate binary path in minimal builds
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/XcodeBuild.ts
  packages/@expo/cli/src/run/ios/__tests__/XcodeBuild-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33435 [background-fetch][docs] Fix broken link to TaskManager reference
  docs/public/static/data/unversioned/expo-background-fetch.json
  packages/expo-background-fetch/build/BackgroundFetch.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.js
  packages/expo-background-fetch/build/BackgroundFetch.js.map
  packages/expo-background-fetch/src/BackgroundFetch.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33453 [ios][calendar] Use EXPermissionStatus instead of CalendarPermissionsStatus in calendar permissions requesters
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/Requesters/CalendarPermissionsRequester.swift
  packages/expo-calendar/ios/Requesters/CalendarPermissionsStatus.swift
  packages/expo-calendar/ios/Requesters/RemindersPermissionsRequester.swift
Labels: bot: passed checks

#33402 [autolinking][Android] Introduce the autolinking gradle plugin
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/.gitignore
  packages/expo-modules-autolinking/android/expo-gradle-plugin/README.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/.gitignore
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/GeneratePackagesListTask.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ProjectExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/.gitignore
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingSettingsExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingSettingsPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/GradleExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/MavenArtifactRepositoryExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/ProjectExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/SettingsExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/settings.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/.gitignore
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/AutolinkigCommandBuilder.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/ExpoGradleExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/Os.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/configuration/ExpoAutolinkingConfig.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/configuration/MavenCredentials.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/text/Colors.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/text/Emojis.kt
Labels: bot: passed checks, bot: fingerprint compatible

#33465 [core] Add `bundleURL` implementation to `ExpoAppInstance`
  packages/expo-modules-core/ios/AppDelegates/ExpoAppInstance.swift
Labels: bot: suggestions, bot: fingerprint changed

#33467 [template][Android] Reduce the number of `node` processes during the sync phase
  apps/bare-expo/android/build.gradle
  templates/expo-template-bare-minimum/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#33443 [iOS] Migrate AppDelegate in bare-expo to Swift
  apps/bare-expo/ios/AppDelegate.swift
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo/AppDelegate.h
  apps/bare-expo/ios/BareExpo/AppDelegate.mm
  apps/bare-expo/ios/BareExpo/main.m
  apps/bare-expo/ios/BareExpo/noop-file.swift
Labels: bot: passed checks, bot: fingerprint changed

#33471 chore(cli): add `User-Agent: expo-cli/<version>` to all fetch requests
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/graphql/client.ts
  packages/@expo/cli/src/api/rest/__tests__/client-test.ts
  packages/@expo/cli/src/api/rest/__tests__/wrapFetchWithUserAgent.test.ts
  packages/@expo/cli/src/api/rest/client.ts
  packages/@expo/cli/src/api/rest/wrapFetchWithUserAgent.ts
  packages/@expo/cli/src/utils/fetch.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33466 [ci] use macos-15 runner for ios-test
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
  apps/bare-expo/scripts/start-ios-e2e-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33468 fix(config-plugins): load iOS schemes on Windows by testing POSIX or UNIX path separators
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/ios/BuildScheme.js
  packages/@expo/config-plugins/build/ios/BuildScheme.js.map
  packages/@expo/config-plugins/src/ios/BuildScheme.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33344 fix(metro-config): Exclude `beforeAssetSerializationPlugins.preModules` from `stableChunkSource`
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/serializer-test-utils.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
Labels: bot: passed checks

#33474 [core] Make `bundleURL` open
  packages/expo-modules-core/ios/AppDelegates/ExpoAppInstance.swift
Labels: bot: suggestions, bot: fingerprint changed

#33475 [expo][Android] Remove unused function
  packages/expo/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#31420 [router] Prevent base url from being appended to external links
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/useLinkToPathProps.d.ts.map
  packages/expo-router/build/link/useLinkToPathProps.js
  packages/expo-router/build/link/useLinkToPathProps.js.map
  packages/expo-router/src/link/__tests__/Link.test.web.tsx
  packages/expo-router/src/link/useLinkToPathProps.tsx
Labels: bot: passed checks

#33477 [bare-expo] Update splashscreen assets
  apps/bare-expo/App.tsx
  apps/bare-expo/android/app/src/main/AndroidManifest.xml
  apps/bare-expo/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  apps/bare-expo/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  apps/bare-expo/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  apps/bare-expo/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  apps/bare-expo/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  apps/bare-expo/android/app/src/main/res/drawable/ic_launcher_background.xml
  apps/bare-expo/android/app/src/main/res/drawable/image1.jpg
  apps/bare-expo/android/app/src/main/res/drawable/image2.jpg
  apps/bare-expo/android/app/src/main/res/drawable/image3.jpg
  apps/bare-expo/android/app/src/main/res/values/styles.xml
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/BareExpo/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  apps/bare-expo/ios/BareExpo/Images.xcassets/SplashScreenLogo.imageset/image.png
  apps/bare-expo/ios/BareExpo/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  apps/bare-expo/ios/BareExpo/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/SplashScreen.storyboard
Labels: bot: passed checks, bot: fingerprint changed

#33464 Update new arch warning
  packages/expo/src/Expo.fx.tsx
Labels: bot: suggestions, bot: fingerprint changed

#33472 [splashscreen] Update the ios colors json
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.js.map
  packages/@expo/prebuild-config/src/plugins/icons/AssetContents.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashAssets.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashColors.ts
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/plugin/build/withSplashScreen.js
  packages/expo-splash-screen/plugin/src/withSplashScreen.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33414 [docs] add video running maestro locally
  docs/pages/build-reference/e2e-tests.mdx
  docs/public/static/videos/guides/local-e2e.mp4
Labels: bot: passed checks

#33487 [splashscreen] Guard againist null props
  packages/expo-splash-screen/plugin/build/withSplashScreen.d.ts
  packages/expo-splash-screen/plugin/build/withSplashScreen.js
  packages/expo-splash-screen/plugin/src/withSplashScreen.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33481 Fix baseUrl disappearing on web refresh
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/useLinking.d.ts.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/build/layouts/DrawerClient.d.ts
  packages/expo-router/build/layouts/StackClient.d.ts
  packages/expo-router/build/layouts/TabsClient.d.ts
  packages/expo-router/src/fork/useLinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33393 fix(metro-config): use POSIX-formatted relative module paths to stabelize module IDs across platforms
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/utils/filePath.js
  packages/@expo/metro-config/build/utils/filePath.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/utils/__tests__/filePath-test.ts
  packages/@expo/metro-config/src/utils/filePath.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33408 fix(cli): resolve remaining Windows pathing issues in CLI E2E
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33394 fix(metro-config): use POSIX-formatted filenames when transforming CSS modules
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33395 fix(metro-config): use POSIX-formatted CSS asset paths to avoid inconsistent URL paths to CSS files
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/getCssDeps.js
  packages/@expo/metro-config/build/serializer/getCssDeps.js.map
  packages/@expo/metro-config/src/serializer/getCssDeps.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33396 fix(metro-config): handle virtual RSC entry and client boundary paths properly on Windows
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33485 [go] upgrade crashlytics plugin v3 on android
  apps/eas-expo-go/scripts/eas-build-on-success.sh
  apps/expo-go/android/app/build.gradle
  apps/expo-go/android/build.gradle
  apps/expo-go/android/expoview/build.gradle
Labels: bot: passed checks

#33473 [autolinking] add library android.sourceDir support for react-native-config
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.js
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/androidResolver-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/androidResolver.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33491 fix(expo-video): add Android platform support for generateThumbnailsAsync in types
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoThumbnail.d.ts
  packages/expo-video/build/VideoThumbnail.d.ts.map
  packages/expo-video/build/VideoThumbnail.js.map
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoThumbnail.ts
Labels: bot: passed checks

#33476 [autolinking][Android] Add first tests
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingSettingsPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/test/kotlin/expo/modules/plugin/ExpoAutolinkingSettingsPluginTest.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/settings.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/configuration/ExpoAutolinkingConfig.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/test/kotlin/com/modules/plugin/connfiguration/ExpoAutolinkingConfigTest.kt
Labels: bot: suggestions, bot: fingerprint compatible

#33401 test(cli): refactor E2E tests and add utilities for multiplatform testing
  .github/workflows/cli.yml
  packages/@expo/cli/e2e/__tests__/__snapshots__/prebuild-test.ts.snap
  packages/@expo/cli/e2e/__tests__/config-test.ts
  packages/@expo/cli/e2e/__tests__/customize-test.ts
  packages/@expo/cli/e2e/__tests__/export-async-imports-test.ts
  packages/@expo/cli/e2e/__tests__/export-embed-eager.test.ts
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/e2e/__tests__/export-web-test.ts
  packages/@expo/cli/e2e/__tests__/export.test.ts
  packages/@expo/cli/e2e/__tests__/export/base-path.test.ts
  packages/@expo/cli/e2e/__tests__/export/export-embed-rsc.test.ts
  packages/@expo/cli/e2e/__tests__/export/export-no-ssg.test.ts
  packages/@expo/cli/e2e/__tests__/export/export-server-magic-import.test.ts
  packages/@expo/cli/e2e/__tests__/export/modal-splitting.test.ts
  packages/@expo/cli/e2e/__tests__/export/monorepo-test.ts
  packages/@expo/cli/e2e/__tests__/export/no-bytecode.test.ts
  packages/@expo/cli/e2e/__tests__/export/no-sitemap.test.ts
  packages/@expo/cli/e2e/__tests__/export/react-native-canary.test.ts
  packages/@expo/cli/e2e/__tests__/export/serializer-plugins.test.ts
  packages/@expo/cli/e2e/__tests__/export/server-env.test.ts
  packages/@expo/cli/e2e/__tests__/export/server-root-group.test.tsx
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/e2e/__tests__/export/single-page-app.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-splitting.test.ts
  packages/@expo/cli/e2e/__tests__/export/tailwind-postcss.test.ts
  packages/@expo/cli/e2e/__tests__/export/url-polyfill.test.ts
  packages/@expo/cli/e2e/__tests__/export/with-atlas.test.ts
  packages/@expo/cli/e2e/__tests__/export/without-sourcemaps.test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/lint.test.ts
  packages/@expo/cli/e2e/__tests__/login-test.ts
  packages/@expo/cli/e2e/__tests__/logout-test.ts
  packages/@expo/cli/e2e/__tests__/metro-server-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/e2e/__tests__/register-test.ts
  packages/@expo/cli/e2e/__tests__/run-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/__tests__/whoami-test.ts
  packages/@expo/cli/e2e/jest.config.js
  packages/@expo/cli/e2e/jest.setup.ts
  packages/@expo/cli/e2e/jest/expect-path.ts
  packages/@expo/cli/e2e/jest/test-windows.ts
  packages/@expo/cli/e2e/playwright.config.ts
  packages/@expo/cli/e2e/tsconfig.json
  packages/@expo/cli/e2e/utils/expo.ts
  packages/@expo/cli/e2e/utils/package.ts
  packages/@expo/cli/e2e/utils/path.ts
  packages/@expo/cli/e2e/utils/process.ts
  packages/@expo/cli/e2e/utils/server.ts
  packages/@expo/cli/jest.config.js
  packages/@expo/cli/jest.setup.ts
  packages/@expo/cli/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#33499 [docs] APISection: fix missing single-line examples content
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks, preview

#32069 [expo-notifications][iOS] Swift conversion 1: badge and server registration
  packages/expo-notifications/expo-module.config.json
  packages/expo-notifications/ios/EXNotifications.podspec
  packages/expo-notifications/ios/EXNotifications/Badge/BadgeModule.swift
  packages/expo-notifications/ios/EXNotifications/EXBadgeModule.h
  packages/expo-notifications/ios/EXNotifications/EXBadgeModule.m
  packages/expo-notifications/ios/EXNotifications/EXServerRegistrationModule.h
  packages/expo-notifications/ios/EXNotifications/EXServerRegistrationModule.m
  packages/expo-notifications/ios/EXNotifications/ServerRegistration/ServerRegistrationModule.swift
Labels: bot: suggestions, bot: fingerprint changed

#32612 [expo-notifications][iOS] Swift conversion 2: push token module
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/expo-module.config.json
  packages/expo-notifications/ios/EXNotifications/Badge/BadgeModule.swift
  packages/expo-notifications/ios/EXNotifications/PushToken/EXPushTokenListener.h
  packages/expo-notifications/ios/EXNotifications/PushToken/EXPushTokenManager.h
  packages/expo-notifications/ios/EXNotifications/PushToken/EXPushTokenManager.m
  packages/expo-notifications/ios/EXNotifications/PushToken/EXPushTokenModule.h
  packages/expo-notifications/ios/EXNotifications/PushToken/EXPushTokenModule.m
  packages/expo-notifications/ios/EXNotifications/PushToken/PushTokenAppDelegateSubscriber.swift
  packages/expo-notifications/ios/EXNotifications/PushToken/PushTokenModule.swift
Labels: bot: suggestions, bot: fingerprint changed

#33494 [go] remove unused smartlocation dep
  apps/expo-go/android/app/build.gradle
Labels: bot: passed checks

#33507 [splashscreen] Add vector drawable support on android
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashColors.ts
  packages/expo-splash-screen/CHANGELOG.md
Labels: bot: suggestions, bot: fingerprint compatible

#33503 fix(metro-config): only output relative file paths in sourcemap on Windows
  packages/@expo/cli/e2e/__tests__/export/serializer-plugins.test.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33518 [docs] Add 'isNew' metadata item and improve linting instructions in docs/Readme
  docs/README.md
Labels: bot: passed checks

#33504 fix(expo-file-system): add macOS availability checks
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemHelpers.swift
  packages/expo-file-system/ios/Next/FileSystemFileHandle.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
Labels: bot: passed checks

#33500 test(cli): improve test run time and output on GHA
  packages/@expo/cli/e2e/__tests__/__snapshots__/export.test.ts.snap
  packages/@expo/cli/e2e/__tests__/__snapshots__/lint.test.ts.snap
  packages/@expo/cli/e2e/__tests__/__snapshots__/run-android-test.ts.snap
  packages/@expo/cli/e2e/__tests__/__snapshots__/run-ios-test.ts.snap
  packages/@expo/cli/e2e/__tests__/__snapshots__/run-test.ts.snap
  packages/@expo/cli/e2e/__tests__/config-test.ts
  packages/@expo/cli/e2e/__tests__/customize-test.ts
  packages/@expo/cli/e2e/__tests__/export-async-imports-test.ts
  packages/@expo/cli/e2e/__tests__/export-embed-eager.test.ts
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/e2e/__tests__/export-monorepo-test.ts
  packages/@expo/cli/e2e/__tests__/export-web-test.ts
  packages/@expo/cli/e2e/__tests__/export.test.ts
  packages/@expo/cli/e2e/__tests__/export/base-path.test.ts
  packages/@expo/cli/e2e/__tests__/export/export-embed-rsc.test.ts
  packages/@expo/cli/e2e/__tests__/export/export-no-ssg.test.ts
  packages/@expo/cli/e2e/__tests__/export/export-server-magic-import.test.ts
  packages/@expo/cli/e2e/__tests__/export/modal-splitting.test.ts
  packages/@expo/cli/e2e/__tests__/export/no-bytecode.test.ts
  packages/@expo/cli/e2e/__tests__/export/no-sitemap.test.ts
  packages/@expo/cli/e2e/__tests__/export/react-native-canary.test.ts
  packages/@expo/cli/e2e/__tests__/export/serializer-plugins.test.ts
  packages/@expo/cli/e2e/__tests__/export/server-env.test.ts
  packages/@expo/cli/e2e/__tests__/export/server-root-group.test.tsx
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/e2e/__tests__/export/single-page-app.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-splitting.test.ts
  packages/@expo/cli/e2e/__tests__/export/tailwind-postcss.test.ts
  packages/@expo/cli/e2e/__tests__/export/url-polyfill.test.ts
  packages/@expo/cli/e2e/__tests__/export/with-atlas.test.ts
  packages/@expo/cli/e2e/__tests__/export/without-sourcemaps.test.ts
  packages/@expo/cli/e2e/__tests__/index-test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/lint.test.ts
  packages/@expo/cli/e2e/__tests__/login-test.ts
  packages/@expo/cli/e2e/__tests__/logout-test.ts
  packages/@expo/cli/e2e/__tests__/metro-server-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/e2e/__tests__/register-test.ts
  packages/@expo/cli/e2e/__tests__/run-android-test.ts
  packages/@expo/cli/e2e/__tests__/run-ios-test.ts
  packages/@expo/cli/e2e/__tests__/run-test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/__tests__/whoami-test.ts
  packages/@expo/cli/e2e/utils/expo.ts
  packages/@expo/cli/e2e/utils/log.ts
  packages/@expo/cli/e2e/utils/process.ts
  packages/@expo/cli/e2e/utils/server.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33532 [autolinking] fix incorrect __dirname in react-native-config
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/reactNativeConfig/config.js
  packages/expo-modules-autolinking/build/reactNativeConfig/config.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/config.ts
Labels: bot: passed checks

#33512 [fingeprint] Remove extraneous arg from command help doc
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/cli/build/commands/generateFingerprint.js
  packages/@expo/fingerprint/cli/src/commands/generateFingerprint.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33548 [docs] Update typo in code signing docs
  docs/pages/eas-update/code-signing.mdx
Labels: bot: passed checks

#33505 fix(expo-asset): add macOS platform
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/expo-module.config.json
  packages/expo-asset/ios/ExpoAsset.podspec
Labels: bot: passed checks

#33463 [expo] support FormData upload using blob
  apps/test-suite/tests/Fetch.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/devtools/DevToolsPluginClient.d.ts.map
  packages/expo/build/devtools/blobUtils.d.ts.map
  packages/expo/build/utils/blobUtils.d.ts
  packages/expo/build/utils/blobUtils.d.ts.map
  packages/expo/build/winter/FormData.d.ts
  packages/expo/build/winter/FormData.d.ts.map
  packages/expo/build/winter/fetch/RequestUtils.d.ts
  packages/expo/build/winter/fetch/RequestUtils.d.ts.map
  packages/expo/build/winter/fetch/convertFormData.d.ts
  packages/expo/build/winter/fetch/convertFormData.d.ts.map
  packages/expo/src/devtools/DevToolsPluginClient.ts
  packages/expo/src/devtools/MessageFramePacker.ts
  packages/expo/src/utils/blobUtils.ts
  packages/expo/src/winter/FormData.ts
  packages/expo/src/winter/__tests__/FormData.test.ios.ts
  packages/expo/src/winter/fetch/RequestUtils.ts
  packages/expo/src/winter/fetch/__tests__/RequestUtils-test.ts
  packages/expo/src/winter/fetch/__tests__/convertFormData-test.native.ts
  packages/expo/src/winter/fetch/convertFormData.ts
Labels: bot: passed checks, bot: fingerprint changed

#33550 docs: fix sound type in notification payload
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#33529 [docs] Minor fixes in multiple docs
  docs/pages/eas/environment-variables.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/workflow/using-libraries.mdx
  docs/pages/workflows/variables.mdx
Labels: bot: passed checks

#33533 [docs] Add a note on creating babel.config.js for SDK 49
  docs/pages/router/installation.mdx
Labels: bot: passed checks

#33530 [config-plugins] Skip react-native-maps plugin when it's not installed
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/ios/Maps.js
  packages/@expo/config-plugins/build/ios/Maps.js.map
  packages/@expo/config-plugins/src/ios/Maps.ts
Labels: bot: passed checks

#33559 [android][network] Added is connected null check
  packages/expo-network/CHANGELOG.md
  packages/expo-network/android/src/main/java/expo/modules/network/NetworkModule.kt
Labels: bot: passed checks

#33557 [expo] fix type errors from FormData
  packages/expo/CHANGELOG.md
  packages/expo/build/winter/FormData.d.ts.map
  packages/expo/src/winter/FormData.ts
Labels: bot: passed checks, bot: fingerprint changed

#33561 [expo-go] Remove starting service from LauncherActivity
  apps/expo-go/android/expoview/build.gradle
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExponentIntentService.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/LauncherActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
Labels: bot: passed checks

#25468 [mail-composer] Add get mail client functionality
  apps/bare-expo/ios/BareExpo/Info.plist
  apps/native-component-list/src/screens/IntentLauncherScreen.android.tsx
  apps/native-component-list/src/screens/MailComposerScreen.tsx
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-intent-launcher/android/src/main/java/expo/modules/intentlauncher/IntentLauncherModule.kt
  packages/expo-intent-launcher/android/src/main/java/expo/modules/intentlauncher/exceptions/PackageNotFoundException.kt
  packages/expo-intent-launcher/build/IntentLauncher.d.ts
  packages/expo-intent-launcher/build/IntentLauncher.d.ts.map
  packages/expo-intent-launcher/build/IntentLauncher.js
  packages/expo-intent-launcher/build/IntentLauncher.js.map
  packages/expo-intent-launcher/src/IntentLauncher.ts
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.kt
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/Records.kt
  packages/expo-mail-composer/app.plugin.js
  packages/expo-mail-composer/build/ExpoMailComposer.d.ts.map
  packages/expo-mail-composer/build/ExpoMailComposer.js
  packages/expo-mail-composer/build/ExpoMailComposer.js.map
  packages/expo-mail-composer/build/ExpoMailComposer.web.d.ts
  packages/expo-mail-composer/build/ExpoMailComposer.web.d.ts.map
  packages/expo-mail-composer/build/ExpoMailComposer.web.js
  packages/expo-mail-composer/build/ExpoMailComposer.web.js.map
  packages/expo-mail-composer/build/MailComposer.d.ts
  packages/expo-mail-composer/build/MailComposer.d.ts.map
  packages/expo-mail-composer/build/MailComposer.js
  packages/expo-mail-composer/build/MailComposer.js.map
  packages/expo-mail-composer/build/MailComposer.types.d.ts
  packages/expo-mail-composer/build/MailComposer.types.d.ts.map
  packages/expo-mail-composer/build/MailComposer.types.js.map
  packages/expo-mail-composer/ios/MailClients.swift
  packages/expo-mail-composer/ios/MailComposerModule.swift
  packages/expo-mail-composer/plugin/build/withMailComposer.d.ts
  packages/expo-mail-composer/plugin/build/withMailComposer.js
  packages/expo-mail-composer/plugin/jest.config.js
  packages/expo-mail-composer/plugin/src/withMailComposer.ts
  packages/expo-mail-composer/plugin/tsconfig.json
  packages/expo-mail-composer/src/ExpoMailComposer.ts
  packages/expo-mail-composer/src/ExpoMailComposer.web.ts
  packages/expo-mail-composer/src/MailComposer.ts
  packages/expo-mail-composer/src/MailComposer.types.ts
Labels: bot: passed checks

#33566 [android][camera] Handle `pictureSize` safely
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks, bot: fingerprint changed

#33564 [sqlite] fix error from converting null blob
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/SQLiteModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#33565 [sqlite] remove unused legacy sqlite bindings
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/cpp/SQLite3Main.cpp
  packages/expo-sqlite/android/src/main/cpp/SQLite3Wrapper.cpp
  packages/expo-sqlite/android/src/main/cpp/SQLite3Wrapper.h
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLite3Wrapper.kt
  packages/expo-sqlite/scripts/replace_symbols.ts
Labels: bot: passed checks, bot: fingerprint changed

#33556 [prebuild-config] add ReactNative78CompatPlugin
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/sdk52/ReactNative78CompatPlugin.d.ts
  packages/@expo/prebuild-config/build/plugins/sdk52/ReactNative78CompatPlugin.js
  packages/@expo/prebuild-config/build/plugins/sdk52/ReactNative78CompatPlugin.js.map
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/plugins/sdk52/ReactNative78CompatPlugin.ts
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33541 fix(cli): format client boundaries in SSR manifest as POSIX
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33540 fix(expo-router): transform UNIX file URLs to original os path
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/path.d.ts
  packages/expo-router/build/rsc/path.d.ts.map
  packages/expo-router/build/rsc/path.js
  packages/expo-router/build/rsc/path.js.map
  packages/expo-router/src/rsc/path.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33569 [autolinking][Android] Handle additional options passed from native side to plugin
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/GeneratePackagesListTask.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingSettingsExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/AutolinkigCommandBuilder.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/ExpoGradleExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/configuration/ExpoAutolinkingConfig.kt
Labels: bot: suggestions, bot: fingerprint compatible

#33562 [image][Android] Add information on how to prevent flickering
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/src/Image.types.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33519 chore: enable CLI E2E playwright tests on Windows
  .github/workflows/cli.yml
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/playwright.config.ts
  packages/@expo/cli/e2e/playwright/dev/02-server-actions.test.ts
  packages/@expo/cli/e2e/playwright/dev/03-server-actions-only.test.ts
  packages/@expo/cli/e2e/playwright/dev/css-global-import.test.ts
  packages/@expo/cli/e2e/playwright/dev/fast-refresh.test.ts
  packages/@expo/cli/e2e/playwright/dev/hydration.test.ts
  packages/@expo/cli/e2e/playwright/dev/react-compiler.test.ts
  packages/@expo/cli/e2e/playwright/dev/router-misc.test.ts
  packages/@expo/cli/e2e/playwright/dev/rsc.test.ts
  packages/@expo/cli/e2e/playwright/dev/stable-module-ids.test.ts
  packages/@expo/cli/e2e/playwright/page.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/e2e/playwright/prod/02-server-actions.test.ts
  packages/@expo/cli/e2e/playwright/prod/03-server-actions-only.test.ts
  packages/@expo/cli/e2e/playwright/prod/optimize-pass.test.ts
  packages/@expo/cli/e2e/playwright/prod/tree-shaking.test.ts
  packages/@expo/cli/e2e/utils/command-instance.ts
  packages/@expo/cli/e2e/utils/log.ts
  packages/@expo/cli/e2e/utils/process.ts
  packages/@expo/cli/e2e/utils/server.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33123 [video][ios] Dispatch `replaceCurrentItem` on main queue
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoPlayer.swift
Labels: bot: passed checks, bot: fingerprint changed

#33127 [video][ios] Use a new DispatchQueue for setting audio session
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoManager.swift
Labels: bot: passed checks, bot: fingerprint changed

#33571 [docs] Add missing tvOS support details
  docs/pages/versions/unversioned/sdk/network.mdx
  docs/pages/versions/unversioned/sdk/router.mdx
  docs/pages/versions/unversioned/sdk/status-bar.mdx
  docs/pages/versions/v51.0.0/sdk/network.mdx
  docs/pages/versions/v51.0.0/sdk/status-bar.mdx
  docs/pages/versions/v52.0.0/sdk/network.mdx
  docs/pages/versions/v52.0.0/sdk/router.mdx
  docs/pages/versions/v52.0.0/sdk/status-bar.mdx
Labels: bot: passed checks

#32361 fix(config-plugins): Only add `UISupportedInterfaceOrientations~ipad` if tablet support is also enabled.
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/ios/RequiresFullScreen.d.ts
  packages/@expo/config-plugins/build/ios/RequiresFullScreen.js
  packages/@expo/config-plugins/build/ios/RequiresFullScreen.js.map
  packages/@expo/config-plugins/build/utils/versions.d.ts
  packages/@expo/config-plugins/build/utils/versions.js
  packages/@expo/config-plugins/build/utils/versions.js.map
  packages/@expo/config-plugins/src/ios/RequiresFullScreen.ts
  packages/@expo/config-plugins/src/ios/__tests__/RequiresFullScreen-test.ts
  packages/@expo/config-plugins/src/utils/versions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33570 [docs] tweaks for `expo-video` reference page
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/pages/versions/v52.0.0/sdk/video.mdx
Labels: bot: passed checks

#33588 [docs] Add info about tvOS support in expo-status-bar
  docs/pages/versions/unversioned/sdk/status-bar.mdx
  docs/pages/versions/v51.0.0/sdk/status-bar.mdx
  docs/pages/versions/v52.0.0/sdk/status-bar.mdx
Labels: bot: passed checks

#33589 [media-library][ios] Fix `unknown` file type being returned for video files
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
Labels: bot: passed checks, bot: fingerprint changed

#33539 [templates][config-plugins] Add Swift/Objective-C bridging header to the template
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/__snapshots__/prebuild-test.ts.snap
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/ios/Swift.d.ts
  packages/@expo/config-plugins/build/ios/Swift.js
  packages/@expo/config-plugins/build/ios/Swift.js.map
  packages/@expo/config-plugins/build/ios/index.d.ts
  packages/@expo/config-plugins/build/ios/index.js
  packages/@expo/config-plugins/build/ios/index.js.map
  packages/@expo/config-plugins/src/ios/Swift.ts
  packages/@expo/config-plugins/src/ios/__tests__/Swift-test.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/BundleIdentifier-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/DevelopmentTeam-test.ts.snap
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/ProvisioningProfile-test.ts.snap
  packages/@expo/config-plugins/src/ios/index.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
  templates/expo-template-bare-minimum/ios/HelloWorld/HelloWorld-Bridging-Header.h
Labels: bot: passed checks, bot: fingerprint changed

#33578 [expo-go] Re-enable Crashlytics on iOS
  apps/expo-go/ios/Client/AppDelegate.swift
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks

#33210 [image] Omit `children` in the props type
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/src/Image.tsx
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#33603 [tools] update TypeDoc config to ignore inline comments
  docs/public/static/data/unversioned/expo-blur.json
  docs/public/static/data/v52.0.0/expo-blur.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#33605 [docs] update `unversioned` API data files after TypeDoc config change
  docs/public/static/data/unversioned/expo-apple-authentication.json
  docs/public/static/data/unversioned/expo-asset.json
  docs/public/static/data/unversioned/expo-audio-av.json
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/unversioned/expo-av.json
  docs/public/static/data/unversioned/expo-background-fetch.json
  docs/public/static/data/unversioned/expo-battery.json
  docs/public/static/data/unversioned/expo-brightness.json
  docs/public/static/data/unversioned/expo-calendar.json
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/unversioned/expo-checkbox.json
  docs/public/static/data/unversioned/expo-clipboard.json
  docs/public/static/data/unversioned/expo-constants.json
  docs/public/static/data/unversioned/expo-contacts.json
  docs/public/static/data/unversioned/expo-crypto.json
  docs/public/static/data/unversioned/expo-document-picker.json
  docs/public/static/data/unversioned/expo-face-detector.json
  docs/public/static/data/unversioned/expo-file-system-next.json
  docs/public/static/data/unversioned/expo-file-system.json
  docs/public/static/data/unversioned/expo-font.json
  docs/public/static/data/unversioned/expo-gl.json
  docs/public/static/data/unversioned/expo-image-manipulator.json
  docs/public/static/data/unversioned/expo-image-picker.json
  docs/public/static/data/unversioned/expo-image.json
  docs/public/static/data/unversioned/expo-intent-launcher.json
  docs/public/static/data/unversioned/expo-keep-awake.json
  docs/public/static/data/unversioned/expo-linear-gradient.json
  docs/public/static/data/unversioned/expo-linking.json
  docs/public/static/data/unversioned/expo-local-authentication.json
  docs/public/static/data/unversioned/expo-localization.json
  docs/public/static/data/unversioned/expo-location.json
  docs/public/static/data/unversioned/expo-mail-composer.json
  docs/public/static/data/unversioned/expo-manifests.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-network.json
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/unversioned/expo-print.json
  docs/public/static/data/unversioned/expo-router.json
  docs/public/static/data/unversioned/expo-screen-orientation.json
  docs/public/static/data/unversioned/expo-secure-store.json
  docs/public/static/data/unversioned/expo-sharing.json
  docs/public/static/data/unversioned/expo-sms.json
  docs/public/static/data/unversioned/expo-speech.json
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/unversioned/expo-status-bar.json
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/unversioned/expo-video-av.json
  docs/public/static/data/unversioned/expo-video-thumbnails.json
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/unversioned/expo-web-browser.json
  docs/public/static/data/unversioned/expo.json
Labels: bot: passed checks

#33601 [core][Android] Add module extension
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ExpoModulesGradlePlugin.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/Version.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/gradle/ExpoGradleHelperExtension.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/gradle/ExpoModuleExtension.kt
Labels: bot: suggestions, bot: fingerprint changed

#33572 [screen-orientation][ios] Fix crash with multiple threads accessing member
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
Labels: bot: passed checks, bot: fingerprint changed

#33574 [expo-font][ios] fix crash when accessing dictionary from multiple threads
  packages/expo-font/CHANGELOG.md
  packages/expo-font/ios/FontFamilyAliasManager.swift
Labels: bot: passed checks, bot: fingerprint changed

#33575 [docs] upgrade to Yarn v4, cleanup config files
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  docs/.gitignore
  docs/.prettierrc
  docs/.yarn/releases/yarn-4.5.3.cjs
  docs/.yarnrc.yml
  docs/package.json
  docs/postcss.config.cjs
  docs/yarn.lock
Labels: bot: passed checks, preview

#33129 [video] Add `FlatList` and `FlashList` examples
  apps/native-component-list/src/screens/Video/VideoFlashListScreen.tsx
  apps/native-component-list/src/screens/Video/VideoFlatListScreen.tsx
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  apps/native-component-list/src/screens/Video/videoSources.ts
Labels: bot: passed checks

#33606 [bare][autolinking][Android] Integrate with new plugin
  apps/bare-expo/android/settings.gradle
  packages/expo-modules-autolinking/android/expo-gradle-plugin/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingSettingsPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/MavenArtifactRepositoryExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/settings.gradle.kts
  packages/expo/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#33501 [docs] import Select component, replace all raw element usages
  docs/common/utilities.ts
  docs/components/DocumentationPage.tsx
  docs/jest.config.js
  docs/next.config.js
  docs/package.json
  docs/ui/components/Dropdown/Item.tsx
  docs/ui/components/Dropdown/index.tsx
  docs/ui/components/Header/ThemeSelector.tsx
  docs/ui/components/Select.tsx
  docs/ui/components/Sidebar/ApiVersionSelect.tsx
  docs/ui/components/TemplateBareMinimumDiffViewer/VersionSelector.tsx
  docs/ui/components/TemplateBareMinimumDiffViewer/index.tsx
  docs/yarn.lock
Labels: bot: passed checks

#33613 [env-info] add expo-updates
  packages/expo-env-info/CHANGELOG.md
  packages/expo-env-info/src/diagnosticsAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33611 [audio] fix obvious incorrect platform markings, add missing docs tags
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/ExpoAudio.d.ts
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: suggestions, preview, bot: fingerprint compatible

#33609 [android][location] Remove `smart-location-lib` dependency
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/build.gradle
  packages/expo-location/android/libs/io.nlopez.smartlocation-3.3.3-jetified.aar
  packages/expo-location/android/src/main/java/expo/modules/location/LocationHelpers.kt
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.kt
  packages/expo-location/android/src/main/java/expo/modules/location/LocationParams.kt
  packages/expo-location/expo-module.config.json
Labels: bot: passed checks, bot: fingerprint changed

#33599 [video][iOS] Option to set the maximum size of generated thumbnails
  apps/native-component-list/src/screens/Video/VideoThumbnailsScreen.tsx
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js.map
  packages/expo-video/ios/Thumbnails/VideoThumbnailGenerator.swift
  packages/expo-video/ios/Thumbnails/VideoThumbnailOptions.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/index.ts
Labels: bot: suggestions, bot: fingerprint changed

#33597 [fingerprint] fix ignorePaths for local modules
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/utils/Path.d.ts
  packages/@expo/fingerprint/build/utils/Path.js
  packages/@expo/fingerprint/build/utils/Path.js.map
  packages/@expo/fingerprint/src/utils/Path.ts
  packages/@expo/fingerprint/src/utils/__tests__/Path-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33598 [fingerprint] add ExpoConfigAll and PackageJsonScriptsAll SourceSkips
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/sourcer/SourceSkips.d.ts
  packages/@expo/fingerprint/build/sourcer/SourceSkips.js
  packages/@expo/fingerprint/build/sourcer/SourceSkips.js.map
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/SourceSkips.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Bare-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33349 [docs] Add info about manual app submission process for Submits to app stores page
  docs/pages/deploy/submit-to-app-stores.mdx
  docs/pages/guides/local-app-production.mdx
  docs/public/static/diffs/android-release-build.diff
Labels: bot: passed checks

#33612 [docs] Update Expo dashboard links in custom search
  docs/ui/components/Search/expoEntries.ts
Labels: bot: passed checks
