Repository expo/expo, pull requests merged in 2024-07, with the labels that each got.

#30052 [docs] remove redundant Tabs on few pages, small tweaks
  docs/.eslintrc.cjs
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/pages/guides/authentication.mdx
  docs/pages/router/installation.mdx
  docs/ui/components/Authentication/Box.tsx
  docs/ui/components/Table/Table.tsx
Labels: bot: passed checks

#30101 [docs] Hide missing info from Obtaining a device token for sending to FCM or APNs guide
  docs/pages/push-notifications/obtaining-a-device-token-for-fcm-or-apns.mdx
Labels: bot: passed checks

#30103 [ios][camera] Fix `takePicture` in simulator
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/CameraViewLegacyModule.swift
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/ios/Legacy/CameraViewLegacy.swift
  packages/expo-camera/ios/SimulatorUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#30096 [docs] add local caching for lint command
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  docs/.gitignore
  docs/package.json
  docs/scripts/lint.js
Labels: bot: passed checks

#30104 [video][ios] Fix crashes on iOS 16 and lower when source HTTP headers are undefined
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoPlayer.swift
Labels: bot: passed checks, bot: fingerprint changed

#30094 [docs] Update debugging tools to remove outdated info about `sentry-expo`
  docs/pages/debugging/tools.mdx
Labels: bot: passed checks

#30083 [docs] Fix section optional section headings in TypeScript guide and accordingly internal broken links
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
  docs/pages/router/reference/api-routes.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v49.0.0/config/metro.mdx
  docs/pages/versions/v50.0.0/config/metro.mdx
  docs/pages/versions/v51.0.0/config/metro.mdx
Labels: bot: passed checks

#30106 [docs] Add missing next step after obtaining device token
  docs/pages/push-notifications/obtaining-a-device-token-for-fcm-or-apns.mdx
Labels: bot: passed checks

#30009 [router]: prevent creating params object with null prototype
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/useLinking.d.ts.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/src/fork/useLinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30109 [docs] Update modal status bar example with fallback for other platforms
  docs/pages/router/advanced/modals.mdx
Labels: bot: passed checks

#30110 [docs] remove no longer used danger CI check
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  docs/.eslintignore
  docs/dangerfile.js
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#30076 [capture] updated hook from useScreenCapturePermissions to usePermissions
  docs/public/static/data/unversioned/expo-screen-capture.json
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
Labels: bot: passed checks

#30115 [docs] Archive Use Flipper guide
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/archive/using-flipper.mdx
Labels: bot: passed checks

#30118 [docs] Minor fixes
  docs/pages/archive/expo-cli.mdx
  docs/pages/billing/faq.mdx
  docs/pages/build-reference/troubleshooting.mdx
  docs/pages/eas-update/migrate-from-classic-updates.mdx
  docs/pages/router/advanced/modals.mdx
Labels: bot: passed checks

#30066 [dev-menu][iOS] Don't close the dev menu when hovering with the mouse
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuWindow.swift
Labels: bot: passed checks

#29405 [expo-linking] Add native sync functions
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/android/build.gradle
  packages/expo-linking/android/src/main/AndroidManifest.xml
  packages/expo-linking/android/src/main/java/expo/modules/linking/ExpoLinkingModule.kt
  packages/expo-linking/android/src/main/java/expo/modules/linking/ExpoLinkingPackage.kt
  packages/expo-linking/android/src/main/java/expo/modules/linking/LinkingReactActivityLifecycleListener.kt
  packages/expo-linking/build/ExpoLinking.d.ts
  packages/expo-linking/build/ExpoLinking.d.ts.map
  packages/expo-linking/build/ExpoLinking.js
  packages/expo-linking/build/ExpoLinking.js.map
  packages/expo-linking/build/ExpoLinking.web.d.ts
  packages/expo-linking/build/ExpoLinking.web.d.ts.map
  packages/expo-linking/build/ExpoLinking.web.js
  packages/expo-linking/build/ExpoLinking.web.js.map
  packages/expo-linking/build/Linking.d.ts
  packages/expo-linking/build/Linking.d.ts.map
  packages/expo-linking/build/Linking.js
  packages/expo-linking/build/Linking.js.map
  packages/expo-linking/build/RNLinking.d.ts
  packages/expo-linking/build/RNLinking.d.ts.map
  packages/expo-linking/build/RNLinking.js
  packages/expo-linking/build/RNLinking.js.map
  packages/expo-linking/build/RNLinking.web.d.ts
  packages/expo-linking/build/RNLinking.web.d.ts.map
  packages/expo-linking/build/RNLinking.web.js
  packages/expo-linking/build/RNLinking.web.js.map
  packages/expo-linking/expo-module.config.json
  packages/expo-linking/ios/ExpoLinking.podspec
  packages/expo-linking/ios/ExpoLinkingModule.swift
  packages/expo-linking/ios/ExpoLinkingRegistry.swift
  packages/expo-linking/ios/LinkingAppDelegateSubscriber.swift
  packages/expo-linking/mocks/ExpoLinking.ts
  packages/expo-linking/src/ExpoLinking.ts
  packages/expo-linking/src/ExpoLinking.web.ts
  packages/expo-linking/src/Linking.ts
  packages/expo-linking/src/RNLinking.ts
  packages/expo-linking/src/RNLinking.web.ts
Labels: bot: passed checks, bot: fingerprint changed

#29826 [expo-av] Fix unhandled rejection error
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/Audio/Recording.d.ts.map
  packages/expo-av/build/Audio/Recording.js
  packages/expo-av/build/Audio/Recording.js.map
  packages/expo-av/src/Audio/Recording.ts
Labels: bot: passed checks

#30129 [docs] Fix typo in guide page for using hermes
  docs/pages/guides/using-hermes.mdx
Labels: bot: passed checks

#28622 refactor(cli): use same icons for adb-over-wifi connected devices as ios prompt
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/platforms/android/__tests__/adb-test.ts
  packages/@expo/cli/src/start/platforms/android/__tests__/promptAndroidDevice-test.ts
  packages/@expo/cli/src/start/platforms/android/adb.ts
  packages/@expo/cli/src/start/platforms/android/promptAndroidDevice.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28808 [network] Add network state change listeners
  apps/native-component-list/src/screens/NetworkScreen.tsx
  packages/expo-network/CHANGELOG.md
  packages/expo-network/android/src/main/java/expo/modules/network/NetworkModule.kt
  packages/expo-network/build/ExpoNetwork.d.ts.map
  packages/expo-network/build/ExpoNetwork.js.map
  packages/expo-network/build/ExpoNetwork.web.d.ts
  packages/expo-network/build/ExpoNetwork.web.d.ts.map
  packages/expo-network/build/ExpoNetwork.web.js
  packages/expo-network/build/ExpoNetwork.web.js.map
  packages/expo-network/build/Network.d.ts
  packages/expo-network/build/Network.d.ts.map
  packages/expo-network/build/Network.js
  packages/expo-network/build/Network.js.map
  packages/expo-network/build/Network.types.d.ts
  packages/expo-network/build/Network.types.d.ts.map
  packages/expo-network/build/Network.types.js.map
  packages/expo-network/expo-module.config.json
  packages/expo-network/ios/NetworkModule.swift
  packages/expo-network/src/ExpoNetwork.ts
  packages/expo-network/src/ExpoNetwork.web.ts
  packages/expo-network/src/Network.ts
  packages/expo-network/src/Network.types.ts
Labels: bot: passed checks

#29639 [ios] Initial changes for iOS 18
  apps/expo-go/ios/Podfile.lock
  packages/expo-apple-authentication/CHANGELOG.md
  packages/expo-apple-authentication/ios/AppleAuthenticationExceptions.swift
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/ContactsRequester.swift
Labels: bot: suggestions, bot: fingerprint changed

#30133 [ios][audio] Use ref instead of pointer
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/ios/AudioRecorder.swift
Labels: bot: suggestions, bot: fingerprint changed

#30136 [docs] Add info about App submissions for federated Apple Developer accounts
  docs/pages/app-signing/apple-developer-program-roles-and-permissions.mdx
Labels: bot: passed checks

#30138 [docs] Remove outdated callout from MediaLibrary API reference
  docs/pages/versions/unversioned/sdk/media-library.mdx
  docs/pages/versions/v49.0.0/sdk/media-library.mdx
  docs/pages/versions/v50.0.0/sdk/media-library.mdx
  docs/pages/versions/v51.0.0/sdk/media-library.mdx
Labels: bot: passed checks

#29949 [docs] Add instructions for Apple Developer account program roles and permissions required for using EAS build
  docs/constants/navigation.js
  docs/pages/app-signing/apple-developer-program-roles-and-permissions.mdx
  docs/public/static/images/apple-access-settings.png
Labels: bot: passed checks, preview

#30113 fix(metro-config): allow expo entry in source map locations
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30074 fix(router): accept options function
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useScreens.d.ts
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks

#30090 [docs] Add troubleshooting overview page
  docs/constants/navigation.js
  docs/pages/troubleshooting/clear-cache-macos-linux.mdx
  docs/pages/troubleshooting/overview.mdx
Labels: bot: passed checks, preview

#30152 [docs] Fix ESLint warnings for Troubleshooting Overview page
  docs/pages/troubleshooting/overview.mdx
Labels: bot: passed checks

#30098 [core][Android] Decouple modules state from `AppContext`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JNIDeallocatorTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptClassTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/SharedObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/JNIInjector.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.h
  packages/expo-modules-core/android/src/main/cpp/RuntimeHolder.cpp
  packages/expo-modules-core/android/src/main/cpp/RuntimeHolder.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/RuntimeContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/CoreModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/KModuleEventEmitterWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SuspendFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JNIDeallocator.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/tests/RuntimeHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedRef.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/viewevent/ViewEvent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
  packages/expo-modules-core/common/cpp/TestingSyncJSCallInvoker.h
Labels: bot: suggestions, bot: fingerprint changed

#30128 [core][Android] Start using `noexcept`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/Exceptions.cpp
  packages/expo-modules-core/android/src/main/cpp/Exceptions.h
  packages/expo-modules-core/android/src/main/cpp/JNIDeallocator.cpp
  packages/expo-modules-core/android/src/main/cpp/JNIDeallocator.h
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.h
  packages/expo-modules-core/android/src/main/cpp/ThreadSafeJNIGlobalRef.h
Labels: bot: suggestions, bot: fingerprint changed

#30120 [manifests] tweak exported types and descriptions for docs
  docs/public/static/data/unversioned/expo-manifests.json
  packages/expo-manifests/build/Manifests.d.ts
  packages/expo-manifests/build/Manifests.d.ts.map
  packages/expo-manifests/build/Manifests.js.map
  packages/expo-manifests/src/Manifests.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30127 [docs] always show supported platforms in API reference entries
  docs/components/DocumentationSidebarRight.tsx
  docs/components/plugins/ConfigSection/ConfigPluginProperties.tsx
  docs/components/plugins/PlatformIcon.tsx
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionDeprecationNote.tsx
  docs/components/plugins/api/APISectionEnums.tsx
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/providers/TutorialChapterCompletionProvider.tsx
  docs/ui/components/Permalink/Permalink.tsx
  docs/ui/components/Tag/PlatformTag.tsx
  docs/ui/components/Tag/StatusTag.tsx
  docs/ui/components/Tag/Tag.tsx
  docs/ui/components/Tag/helpers.ts
  docs/ui/components/Tag/styles.ts
Labels: bot: passed checks, preview

#30156 [font] correct JSDoc comments, regenerate docs data
  docs/public/static/data/unversioned/expo-font.json
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/FontHooks.d.ts
  packages/expo-font/build/FontHooks.d.ts.map
  packages/expo-font/build/FontHooks.js
  packages/expo-font/build/FontHooks.js.map
  packages/expo-font/src/Font.ts
  packages/expo-font/src/FontHooks.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30160 [core][Android] Add tests that cover reload logic
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JNIDeallocatorTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIContextTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/ReloadTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/SharedObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/tests/RuntimeHolder.kt
Labels: bot: suggestions, bot: fingerprint changed

#30142 [docs] Update warning callout in React Compiler guide
  docs/pages/preview/react-compiler.mdx
Labels: bot: passed checks

#30157 [docs] Minor fixes to Linking and Deep Linking guides
  docs/pages/guides/deep-linking.mdx
  docs/pages/guides/linking.mdx
Labels: bot: passed checks

#30161 [docs] fix API ToC rendering for single Classes and Namespaces
  docs/components/plugins/APIBox.tsx
  docs/components/plugins/APISection.tsx
  docs/components/plugins/api/APIMethod.tsx
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/APISectionPlatformTags.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/modules/module-api.mdx
  docs/pages/versions/unversioned/sdk/sqlite.mdx
Labels: bot: passed checks

#30159 fix: expo update getting disabled in custom debug configurations
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
Labels: bot: passed checks

#30146 feat(metro-runtime): always enable async bundle loading
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/async-require/fetchThenEvalJs.d.ts.map
  packages/@expo/metro-runtime/build/async-require/fetchThenEvalJs.js
  packages/@expo/metro-runtime/build/async-require/fetchThenEvalJs.js.map
  packages/@expo/metro-runtime/build/async-require/index.js
  packages/@expo/metro-runtime/build/async-require/index.js.map
  packages/@expo/metro-runtime/build/async-require/index.native.d.ts
  packages/@expo/metro-runtime/build/async-require/index.native.d.ts.map
  packages/@expo/metro-runtime/build/async-require/index.native.js
  packages/@expo/metro-runtime/build/async-require/index.native.js.map
  packages/@expo/metro-runtime/build/async-require/loadBundle.d.ts.map
  packages/@expo/metro-runtime/build/async-require/loadBundle.js
  packages/@expo/metro-runtime/build/async-require/loadBundle.js.map
  packages/@expo/metro-runtime/build/error-overlay/ErrorOverlay.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/ErrorOverlay.js
  packages/@expo/metro-runtime/build/error-overlay/ErrorOverlay.js.map
  packages/@expo/metro-runtime/build/error-overlay/UI/AnsiHighlight.d.ts
  packages/@expo/metro-runtime/build/error-overlay/UI/AnsiHighlight.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/UI/AnsiHighlight.js
  packages/@expo/metro-runtime/build/error-overlay/UI/AnsiHighlight.js.map
  packages/@expo/metro-runtime/build/error-overlay/modules/parseErrorStack/index.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/modules/parseErrorStack/index.js
  packages/@expo/metro-runtime/build/error-overlay/modules/parseErrorStack/index.js.map
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorSourceMapStatus.d.ts
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorSourceMapStatus.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorSourceMapStatus.js.map
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorStackFrame.d.ts
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorStackFrame.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorStackFrame.js.map
  packages/@expo/metro-runtime/build/messageSocket.js
  packages/@expo/metro-runtime/build/messageSocket.js.map
  packages/@expo/metro-runtime/build/symbolicate.d.ts
  packages/@expo/metro-runtime/build/symbolicate.d.ts.map
  packages/@expo/metro-runtime/build/symbolicate.js
  packages/@expo/metro-runtime/build/symbolicate.js.map
  packages/@expo/metro-runtime/src/async-require/__tests__/loadBundle.test.ios.ts
  packages/@expo/metro-runtime/src/async-require/fetchThenEvalJs.ts
  packages/@expo/metro-runtime/src/async-require/index.native.ts
  packages/@expo/metro-runtime/src/async-require/index.ts
  packages/@expo/metro-runtime/src/async-require/loadBundle.ts
  packages/@expo/metro-runtime/src/error-overlay/ErrorOverlay.tsx
  packages/@expo/metro-runtime/src/error-overlay/UI/AnsiHighlight.tsx
  packages/@expo/metro-runtime/src/error-overlay/modules/parseErrorStack/index.ts
  packages/@expo/metro-runtime/src/error-overlay/overlay/LogBoxInspectorSourceMapStatus.tsx
  packages/@expo/metro-runtime/src/error-overlay/overlay/LogBoxInspectorStackFrame.tsx
  packages/@expo/metro-runtime/src/messageSocket.ts
  packages/@expo/metro-runtime/src/symbolicate.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30140 chore(metro-config): Fork collectDependencies to support customizations
  packages/@expo/cli/ts-declarations/metro/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.d.ts
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.d.ts
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/collect-dependencies-upstream.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/collect-dependencies-upstream.test.ts
  packages/@expo/metro-config/src/transform-worker/collect-dependencies.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30149 [expo-notifications] fix getExpoPushTokenAsync error messages
  packages/expo-notifications/build/getExpoPushTokenAsync.d.ts.map
  packages/expo-notifications/build/getExpoPushTokenAsync.js
  packages/expo-notifications/build/getExpoPushTokenAsync.js.map
  packages/expo-notifications/src/getExpoPushTokenAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30168 [keep-awake] add missing platform annotation
  docs/public/static/data/unversioned/expo-keep-awake.json
  packages/expo-keep-awake/build/KeepAwake.types.d.ts
  packages/expo-keep-awake/build/KeepAwake.types.d.ts.map
  packages/expo-keep-awake/build/KeepAwake.types.js.map
  packages/expo-keep-awake/src/KeepAwake.types.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30165 [notifications][docs] Fix Firebase guide link in README
  packages/expo-notifications/README.md
Labels: bot: passed checks, bot: fingerprint compatible

#30163 [dev-client] Fix homepage link in `package.json`
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#30162 [dev-launcher][docs] Fix link for `expo-dev-client` in README
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/README.md
Labels: bot: passed checks, bot: fingerprint changed

#30166 [docs] Remove old client and server-side redirects, fix internal links
  docs/common/error-utilities.test.ts
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/accounts/account-types.mdx
  docs/pages/accounts/programmatic-access.mdx
  docs/pages/app-signing/managed-credentials.mdx
  docs/pages/build/setup.mdx
  docs/pages/build/updates.mdx
  docs/pages/distribution/app-stores.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/modules/appdelegate-subscribers.mdx
  docs/pages/modules/autolinking.mdx
  docs/pages/modules/existing-library.mdx
  docs/pages/modules/overview.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v49.0.0/config/metro.mdx
  docs/pages/versions/v50.0.0/config/metro.mdx
  docs/pages/versions/v51.0.0/config/metro.mdx
  docs/scripts/test-links.js
  guides/Expo Documentation Writing Style Guide.md
Labels: bot: passed checks, preview

#30178 [ci] use xcode 15.4 for ios-unit-test
  .github/workflows/ios-unit-tests.yml
  fastlane/Fastfile
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherURLHelperTests.swift
Labels: bot: passed checks, bot: fingerprint changed

#29969 fix(media-library): getAssets crashes when result is empty
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/ExpoMediaLibrary.podspec
  packages/expo-media-library/ios/MediaLibraryExceptions.swift
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-media-library/ios/MediaLibraryRecords.swift
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-media-library/ios/TestSupport.swift
  packages/expo-media-library/ios/Tests/MediaLibrarySpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#30112 [docs] refactor EAS Build e2e tests docs
  docs/pages/archive/e2e-tests.mdx
  docs/pages/build-reference/e2e-tests.mdx
  docs/pages/custom-builds/schema.mdx
  docs/public/static/images/eas-build/archive/tests/01-click-me.png
  docs/public/static/images/eas-build/archive/tests/02-hi.png
  docs/public/static/images/eas-build/archive/tests/03-logs.png
  docs/public/static/images/eas-build/archive/tests/04-artifacts.png
  docs/public/static/images/eas-build/tests/01-home.png
  docs/public/static/images/eas-build/tests/02-explore.png
  docs/public/static/images/eas-build/tests/03-logs.png
  docs/public/static/images/eas-build/tests/04-artifacts.png
Labels: bot: passed checks, preview

#30185 [network][Android] Fix `NetworkCallback` was not registered
  packages/expo-network/CHANGELOG.md
  packages/expo-network/android/src/main/java/expo/modules/network/NetworkModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#30184 [menu][Android] Add movable FAB
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuReactRootViewContainer.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/MovableFloatingActionButton.kt
Labels: bot: suggestions, bot: fingerprint changed

#30195 [camera] Update docs for pictureSize prop
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v51.0.0/expo-camera-legacy.json
  docs/public/static/data/v51.0.0/expo-camera.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/records/CameraRecords.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30170 [docs] Move Troubleshooting Proxies guide from More to Troubleshooting section
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/troubleshooting/overview.mdx
  docs/pages/troubleshooting/proxies.mdx
  docs/pages/workflow/common-development-errors.mdx
Labels: bot: passed checks

#30191 fix: swift Enumerables did not convert to a JS value
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/TestEnums.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RecordTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/EnumSerializerTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/EnumTypeConverterTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/JSTypeConverterTest.kt
  packages/expo-modules-core/ios/Core/Conversions.swift
  packages/expo-modules-core/ios/Tests/RecordSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#30189 [application] add missing platform annotations
  docs/public/static/data/unversioned/expo-application.json
  packages/expo-application/build/Application.types.d.ts
  packages/expo-application/build/Application.types.d.ts.map
  packages/expo-application/build/Application.types.js
  packages/expo-application/build/Application.types.js.map
  packages/expo-application/src/Application.types.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30169 [network] correct connection type reported on iOS, specify platforms
  docs/public/static/data/unversioned/expo-network.json
  packages/expo-network/CHANGELOG.md
  packages/expo-network/build/Network.types.d.ts
  packages/expo-network/build/Network.types.d.ts.map
  packages/expo-network/build/Network.types.js
  packages/expo-network/build/Network.types.js.map
  packages/expo-network/ios/NetworkModule.swift
  packages/expo-network/ios/NetworkType.swift
  packages/expo-network/src/Network.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30145 [docs]: Use updated pod name DGCharts
  docs/pages/modules/third-party-library.mdx
Labels: bot: passed checks

#30147 feat(babel): add process.env.EXPO_SERVER for detecting universal server environments.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/client-module-proxy-plugin.js
  packages/babel-preset-expo/build/environment-restricted-imports.js
  packages/babel-preset-expo/build/expo-router-plugin.d.ts
  packages/babel-preset-expo/build/expo-router-plugin.js
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
  packages/babel-preset-expo/src/client-module-proxy-plugin.ts
  packages/babel-preset-expo/src/environment-restricted-imports.ts
  packages/babel-preset-expo/src/expo-router-plugin.ts
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30200 chore: make MissingTypeConverter error more useful
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
Labels: bot: suggestions, bot: fingerprint changed

#30204 [android][autolinking]: fix AWS S3 repository configuration
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
Labels: bot: passed checks

#30198 [docs] Fix code language for multiple API references examples
  docs/pages/versions/unversioned/sdk/checkbox.mdx
  docs/pages/versions/unversioned/sdk/imagemanipulator.mdx
  docs/pages/versions/unversioned/sdk/lottie.mdx
  docs/pages/versions/unversioned/sdk/screen-capture.mdx
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
  docs/pages/versions/unversioned/sdk/view-pager.mdx
  docs/pages/versions/v49.0.0/sdk/checkbox.mdx
  docs/pages/versions/v49.0.0/sdk/imagemanipulator.mdx
  docs/pages/versions/v49.0.0/sdk/lottie.mdx
  docs/pages/versions/v49.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v49.0.0/sdk/view-pager.mdx
  docs/pages/versions/v50.0.0/sdk/checkbox.mdx
  docs/pages/versions/v50.0.0/sdk/imagemanipulator.mdx
  docs/pages/versions/v50.0.0/sdk/lottie.mdx
  docs/pages/versions/v50.0.0/sdk/screen-capture.mdx
  docs/pages/versions/v50.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v50.0.0/sdk/view-pager.mdx
  docs/pages/versions/v51.0.0/sdk/checkbox.mdx
  docs/pages/versions/v51.0.0/sdk/imagemanipulator.mdx
  docs/pages/versions/v51.0.0/sdk/lottie.mdx
  docs/pages/versions/v51.0.0/sdk/screen-capture.mdx
  docs/pages/versions/v51.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v51.0.0/sdk/view-pager.mdx
Labels: bot: passed checks

#30211 [ios][image-manipulator] Prefer UIGraphicsImageRenderer
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulatorUtils.swift
  packages/expo-image-manipulator/ios/Transformers/ImageFlipTransformer.swift
  packages/expo-image-manipulator/ios/Transformers/ImageResizeTransformer.swift
  packages/expo-image-manipulator/ios/Transformers/ImageRotateTransformer.swift
Labels: bot: passed checks, bot: fingerprint changed

#30197 chore: add gitignore to expo-linking
  packages/expo-linking/android/.gitignore
Labels: bot: suggestions, bot: fingerprint changed

#30190 [gha] update Gradle setup action
  .github/actions/expo-caches/action.yml
Labels: bot: passed checks

#30205 Fix .cjs support in @expo/server API functions
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/src/index.ts
Labels: bot: passed checks

#30193 [menu][Android] Disable back gesture when interacting with FAB
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuReactRootViewContainer.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/MovableFloatingActionButton.kt
Labels: bot: suggestions, bot: fingerprint changed

#30214 fix link to docs on `checkPackages.ts`
  packages/@expo/cli/src/install/checkPackages.ts
Labels: bot: suggestions

#30187 [test-suite] fix expo-bare detection, UI tweaks
  apps/bare-expo/android/app/src/androidTest/java/dev/expo/payments/BareExpoTestSuite.kt
  apps/bare-expo/scripts/start-ios-e2e-test.ts
  apps/test-suite/AppNavigator.js
  apps/test-suite/components/DoneText.js
  apps/test-suite/components/Suites.js
  apps/test-suite/constants/Colors.js
  apps/test-suite/package.json
  apps/test-suite/screens/SelectScreen.js
Labels: bot: passed checks, bot: fingerprint changed

#30220 feat: allow woff and woff2 for iOS
  packages/expo-font/CHANGELOG.md
  packages/expo-font/plugin/build/utils.js
  packages/expo-font/plugin/build/withFonts.d.ts
  packages/expo-font/plugin/build/withFonts.js
  packages/expo-font/plugin/src/utils.ts
  packages/expo-font/plugin/src/withFonts.ts
Labels: bot: passed checks

#30216 [core][Android] Check if an exception can be thrown from a constructor
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/SharedObjectTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#30217 [core][Android] Fix record ctr with default parameters was ignored
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/allocators/ObjectConstructorFactory.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/allocators/ObjectConstructorFactoryTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/records/RecordTypeConverterTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#30237 [image-manipulator][iOS] Fix scale used by UIGraphicsImageRenderer
  packages/expo-image-manipulator/ios/ImageManipulatorUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#30240 [docs] Remove eas-update/custom-updates-server page
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/bare/installing-updates.mdx
  docs/pages/eas-update/custom-updates-server.mdx
  docs/pages/eas-update/faq.mdx
  docs/pages/eas-update/updating-your-app.mdx
  docs/pages/preview/dev-process-overview.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v51.0.0/sdk/updates.mdx
  docs/pages/workflow/overview.mdx
Labels: bot: passed checks

#30235 [docs] Update docs on org conversion to reflect new flow
  docs/pages/accounts/account-types.mdx
Labels: bot: passed checks

#30242 [docs] Fix type in deploy script
  docs/deploy.sh
Labels: bot: passed checks

#30218 [core] Expose SharedRef class in JS
  packages/expo-modules-core/build/SharedRef.d.ts
  packages/expo-modules-core/build/SharedRef.d.ts.map
  packages/expo-modules-core/build/index.d.ts
  packages/expo-modules-core/build/index.d.ts.map
  packages/expo-modules-core/build/ts-declarations/SharedRef.d.ts
  packages/expo-modules-core/build/ts-declarations/SharedRef.d.ts.map
  packages/expo-modules-core/build/ts-declarations/global.d.ts
  packages/expo-modules-core/build/ts-declarations/global.d.ts.map
  packages/expo-modules-core/build/web/CoreModule.d.ts.map
  packages/expo-modules-core/src/SharedRef.ts
  packages/expo-modules-core/src/index.ts
  packages/expo-modules-core/src/ts-declarations/SharedRef.ts
  packages/expo-modules-core/src/ts-declarations/global.ts
  packages/expo-modules-core/src/web/CoreModule.ts
  packages/expo-modules-core/types.d.ts
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.d.ts.map
  packages/expo/src/Expo.ts
Labels: bot: suggestions, bot: fingerprint changed

#30223 [ncl] cleanup screens, update `victory-native` to remove warnings
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/navigators/MainNavigator.tsx
  apps/native-component-list/src/screens/GifScreen.tsx
  apps/native-component-list/src/screens/SVG/examples/VictoryNative.tsx
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30239 [modules-core][android] Use getter methods in convertibles
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/FabricComponentsRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AnyFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ColorTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/DateTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ListTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/MapTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/SetTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/FilteredReadableMap.kt
Labels: bot: suggestions

#30243 [docs] Fix typo/syntax error in useFocusEffect API reference
  docs/pages/router/reference/hooks.mdx
Labels: bot: passed checks

#30250 [docs] fix broken link of query api
  docs/pages/router/reference/testing.mdx
Labels: bot: passed checks

#30249 [symbols] Fix import error on web
  docs/public/static/data/unversioned/expo-symbols.json
  docs/public/static/data/v51.0.0/expo-symbols.json
  packages/expo-symbols/CHANGELOG.md
  packages/expo-symbols/build/SymbolModule.types.d.ts
  packages/expo-symbols/build/SymbolModule.types.js.map
  packages/expo-symbols/build/SymbolView.web.d.ts
  packages/expo-symbols/build/SymbolView.web.d.ts.map
  packages/expo-symbols/build/SymbolView.web.js
  packages/expo-symbols/build/SymbolView.web.js.map
  packages/expo-symbols/src/SymbolModule.types.ts
  packages/expo-symbols/src/SymbolView.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#30175 feat(metro-config): support dynamic imports in server bundles
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.d.ts
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js.map
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/transform-worker/__tests__/collect-dependencies-upstream.test.ts
  packages/@expo/metro-config/src/transform-worker/collect-dependencies.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/@expo/metro-config/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30252 [docs] Add clarification to Vercel API Route docs
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#30251 [docs] Remove Development process overview from Preview
  docs/pages/preview/dev-process-overview.mdx
Labels: bot: passed checks

#30259 [docs] Add a reference to the Redux DevTools expo devtools plugin
  docs/pages/debugging/devtools-plugins.mdx
Labels: bot: passed checks

#30199 bump kotlin version to 1.9.24
  apps/bare-expo/android/build.gradle
  apps/fabric-tester/android/build.gradle
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/build.gradle.kts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/ExpoModulesCorePlugin.gradle
  packages/expo-network-addons/expo-network-addons-gradle-plugin/build.gradle.kts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/build.gradle.kts
  templates/expo-template-bare-minimum/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#30256 [docs] Improve callouts in e2e test guides and other changes
  docs/constants/navigation.js
  docs/pages/archive/e2e-tests.mdx
  docs/pages/build-reference/e2e-tests.mdx
Labels: bot: passed checks

#30255 [docs] Fix development error in `Tabs` component
  docs/ui/components/Tabs/Tabs.tsx
Labels: bot: passed checks

#30254 [docs] Clean up redirects that start with `home/`
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#30241 [core][iOS] Fix returning already registered shared objects
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Conversions.swift
  packages/expo-modules-core/ios/Tests/SharedObjectSpec.swift
Labels: bot: passed checks

#30212 [calendar] rewrite and update platform annotations, JSDoc other tweaks
  docs/public/static/data/unversioned/expo-calendar.json
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.d.ts.map
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30261 [docs] Update `MainApplication.kt` code diff in Installing expo-modules guide for React Native 0.74 and SDK 51
  docs/pages/bare/installing-expo-modules.mdx
  docs/public/static/diffs/expo-android.diff
Labels: bot: passed checks

#27375 (router): ensure initial route is created with params
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/Route.d.ts
  packages/expo-router/build/Route.d.ts.map
  packages/expo-router/build/Route.js
  packages/expo-router/build/Route.js.map
  packages/expo-router/build/fork/getStateFromPath.d.ts.map
  packages/expo-router/build/fork/getStateFromPath.js
  packages/expo-router/build/fork/getStateFromPath.js.map
  packages/expo-router/build/getRoutesCore.js
  packages/expo-router/build/getRoutesCore.js.map
  packages/expo-router/build/hooks.d.ts
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/Route.tsx
  packages/expo-router/src/__tests__/initialRouteName.test.ios.tsx
  packages/expo-router/src/fork/__tests__/getStateFromPath-upstream.test.web.ts
  packages/expo-router/src/fork/getStateFromPath.ts
  packages/expo-router/src/getRoutesCore.ts
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#30283 fix(router): fix expo go deep linking
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/extractPathFromURL.js
  packages/expo-router/build/fork/extractPathFromURL.js.map
  packages/expo-router/src/fork/__tests__/extractPathFromURL.test.ios.ts
  packages/expo-router/src/fork/extractPathFromURL.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30281 Update react-native-safe-area-context to 4.10.7
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/router-e2e/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#30276 [docs] Fix internal link for Expo Updates API reference
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/eas-update/faq.mdx
  docs/pages/workflow/overview.mdx
Labels: bot: passed checks

#30293 [docs] Remove duplicated section in Advanced EAS Update Debugging guide
  docs/pages/eas-update/debug-advanced.mdx
Labels: bot: passed checks

#30176 feat(cli): add support for string module IDs in Metro
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/stable-module-ids.test.ts
  packages/@expo/cli/jest.config.js
  packages/@expo/cli/metro-require/__tests__/MetroFastRefreshMockRuntime.ts
  packages/@expo/cli/metro-require/__tests__/fast-refresh-integration.test.tsx
  packages/@expo/cli/metro-require/__tests__/require.test.ts
  packages/@expo/cli/metro-require/require.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/src/utils/env.ts
  packages/@expo/cli/taskfile-swc.js
  packages/@expo/cli/taskfile.js
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/env.d.ts
  packages/@expo/metro-config/build/env.js
  packages/@expo/metro-config/build/env.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/env.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30279 [docs] Copy notifications changes to v51.0.0
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v51.0.0/sdk/notifications.mdx
Labels: bot: passed checks, preview

#30298 [docs] Update testing.mdx
  docs/pages/router/reference/testing.mdx
Labels: bot: passed checks

#30263 [docs] Update callout verbiage in Notifications docs
  docs/pages/push-notifications/sending-notifications-custom-fcm-legacy.mdx
  docs/pages/push-notifications/sending-notifications-custom.mdx
Labels: bot: passed checks

#30287 fix(cli): avoid crashing Hermes when hitting debugger breakpoint from vscode
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/debugging/__tests__/createHandlersFactory.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/__tests__/mockConnection.ts
  packages/@expo/cli/src/start/server/metro/debugging/createHandlersFactory.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/PageReload.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/VscodeRuntimeEvaluate.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/NetworkResponse.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/PageReload.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/VscodeDebuggerGetPossibleBreakpoints.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/VscodeDebuggerSetBreakpointByUrl.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/VscodeRuntimeCallFunctionOn.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/VscodeRuntimeEvaluate.test.ts
  packages/@expo/cli/src/start/server/metro/debugging/messageHandlers/__tests__/VscodeRuntimeGetProperties.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30244 [docs] Filter out methods inherited from common classes
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionClasses.tsx
Labels: bot: passed checks, preview

#30301 [expo-notifications][Android] fix data mapping in getLastNotificationResponseAsync
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v51.0.0/sdk/notifications.mdx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/NotificationsEmitter.d.ts.map
  packages/expo-notifications/build/NotificationsEmitter.js
  packages/expo-notifications/build/NotificationsEmitter.js.map
  packages/expo-notifications/build/useLastNotificationResponse.d.ts.map
  packages/expo-notifications/build/useLastNotificationResponse.js
  packages/expo-notifications/build/useLastNotificationResponse.js.map
  packages/expo-notifications/src/NotificationsEmitter.ts
  packages/expo-notifications/src/useLastNotificationResponse.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30299 [notifications][docs] Remove web platform mentions
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/v51.0.0/expo-notifications.json
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/Tokens.types.d.ts
  packages/expo-notifications/build/Tokens.types.d.ts.map
  packages/expo-notifications/build/Tokens.types.js.map
  packages/expo-notifications/build/setBadgeCountAsync.d.ts
  packages/expo-notifications/build/setBadgeCountAsync.js
  packages/expo-notifications/build/setBadgeCountAsync.js.map
  packages/expo-notifications/build/setNotificationCategoryAsync.d.ts
  packages/expo-notifications/build/setNotificationCategoryAsync.d.ts.map
  packages/expo-notifications/build/setNotificationCategoryAsync.js
  packages/expo-notifications/build/setNotificationCategoryAsync.js.map
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/Tokens.types.ts
  packages/expo-notifications/src/setBadgeCountAsync.ts
  packages/expo-notifications/src/setNotificationCategoryAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30312 dev-launcher: run bundle script to fix check-packages workflow
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions, bot: fingerprint changed

#30315 docs: bumped expo router version
  docs/pages/router/reference/authentication.mdx
Labels: bot: passed checks

#30102 feat: calendar dialogs
  apps/native-component-list/src/screens/EventsScreen.tsx
  apps/test-suite/tests/Calendar.js
  docs/pages/versions/unversioned/sdk/calendar.mdx
  docs/public/static/data/unversioned/expo-calendar.json
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/EventRecurrenceUtils.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/dialogs/CreateEventContract.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/dialogs/CreateEventIntentResult.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/dialogs/CreatedEventOptions.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/dialogs/ViewEventContract.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/dialogs/ViewEventIntentResult.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/dialogs/ViewedEventOptions.kt
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.d.ts.map
  packages/expo-calendar/build/Calendar.js
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/ios/CalendarExceptions.swift
  packages/expo-calendar/ios/CalendarModule.swift
  packages/expo-calendar/ios/Dialogs/CalendarDialogDelegate.swift
  packages/expo-calendar/ios/Dialogs/EditEventViewController.swift
  packages/expo-calendar/ios/Dialogs/ViewEventViewController.swift
  packages/expo-calendar/ios/Records/CalendarRecords.swift
  packages/expo-calendar/src/Calendar.ts
Labels: bot: suggestions, preview, bot: fingerprint changed

#30260 [docs] update EAS Build images docs
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks, preview

#30317 [docs] Remove multiple Expo Router version specifications from callouts and other places
  docs/pages/router/advanced/apple-handoff.mdx
  docs/pages/router/advanced/drawer.mdx
  docs/pages/router/appearance.mdx
  docs/pages/router/installation.mdx
  docs/pages/router/reference/api-routes.mdx
  docs/pages/router/reference/async-routes.mdx
  docs/pages/router/reference/faq.mdx
  docs/pages/router/reference/not-found.mdx
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/router/reference/troubleshooting.mdx
  docs/pages/router/reference/typed-routes.mdx
Labels: bot: passed checks

#30269 feat: allow array to merge in BuildProperties
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/BuildProperties.js
  packages/@expo/config-plugins/build/android/BuildProperties.js.map
  packages/@expo/config-plugins/src/android/BuildProperties.ts
  packages/@expo/config-plugins/src/android/__tests__/BuildProperties-test.ts
Labels: bot: passed checks

#30336 [docs] Fix typo in install expo modules guide
  docs/pages/brownfield/installing-expo-modules.mdx
Labels: bot: passed checks

#30022 [video][ios] Fix a race condition causing crashes when deallocating the player
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/NowPlayingManager.swift
  packages/expo-video/ios/VideoPlayer.swift
Labels: bot: passed checks, bot: fingerprint changed

#29894 refactor(config-plugins): upgrade `glob@7` to `glob@10`
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Package.js
  packages/@expo/config-plugins/build/android/Package.js.map
  packages/@expo/config-plugins/build/android/Paths.js
  packages/@expo/config-plugins/build/android/Paths.js.map
  packages/@expo/config-plugins/build/ios/Paths.js
  packages/@expo/config-plugins/build/ios/Paths.js.map
  packages/@expo/config-plugins/build/utils/glob.d.ts
  packages/@expo/config-plugins/build/utils/glob.js
  packages/@expo/config-plugins/build/utils/glob.js.map
  packages/@expo/config-plugins/package.json
  packages/@expo/config-plugins/src/android/Package.ts
  packages/@expo/config-plugins/src/android/Paths.ts
  packages/@expo/config-plugins/src/ios/Paths.ts
  packages/@expo/config-plugins/src/plugins/__tests__/withIosBaseMods-test.ts
  packages/@expo/config-plugins/src/utils/glob.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#29898 refactor(cli): upgrade `glob@7` to `glob@10`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/doctor/typescript/TypeScriptProjectPrerequisite.ts
  packages/@expo/cli/src/start/doctor/typescript/__tests__/TypeScriptProjectPrerequisite-test.ts
  packages/@expo/cli/src/start/server/metro/__tests__/router-test.ts
  packages/@expo/cli/src/utils/__tests__/glob-test.ts
  packages/@expo/cli/src/utils/glob.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#30340 fix(cli): resolve main module name by real filepath for `eas build --local`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30068 [video] Make the Picture in Picture support configurable
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/public/static/data/unversioned/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoExceptions.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/build/VideoView.d.ts
  packages/expo-video/build/VideoView.d.ts.map
  packages/expo-video/build/VideoView.js
  packages/expo-video/build/VideoView.js.map
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/plugin/build/withExpoVideo.d.ts
  packages/expo-video/plugin/build/withExpoVideo.js
  packages/expo-video/plugin/src/withExpoVideo.ts
  packages/expo-video/src/VideoView.tsx
  packages/expo-video/src/VideoView.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#30341 [dev-launcher]: better stacktrace for InvocationTargetException
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/react-native-74/debug/expo/modules/devlauncher/rncompatibility/DevLauncherBridgeDevSupportManager.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
Labels: bot: suggestions, bot: fingerprint changed

#29838 chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: bot: passed checks

#30338 [ios][camera] Fix gesture interactions
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#30344 [fingerprint] fix broken SourceSkips.PackageJsonAndroidAndIosScriptsIfNotContainRun
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/e2e/__tests__/updates-test.ts
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Bare-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30348 feat(babel, metro-config): detect module exports type and fix import support
  packages/@expo/cli/ts-declarations/metro-babel-transformer/index.d.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.d.ts
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js
  packages/@expo/metro-config/build/transform-worker/metro-transform-worker.js.map
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/@expo/metro-config/src/serializer/fork/__tests__/mini-metro.test.ts
  packages/@expo/metro-config/src/transform-worker/metro-transform-worker.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/detect-dynamic-exports.d.ts
  packages/babel-preset-expo/build/detect-dynamic-exports.js
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/detect-dynamic-exports.test.ts
  packages/babel-preset-expo/src/__tests__/index.test.ts
  packages/babel-preset-expo/src/detect-dynamic-exports.ts
  packages/babel-preset-expo/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#30345 feat(docs): Add metro aliases section
  docs/pages/guides/customizing-metro.mdx
Labels: bot: passed checks

#30331 fix(metro-runtime): improve origin errors
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/location/Location.native.d.ts.map
  packages/@expo/metro-runtime/build/location/install.native.d.ts
  packages/@expo/metro-runtime/build/location/install.native.d.ts.map
  packages/@expo/metro-runtime/src/location/Location.native.ts
  packages/@expo/metro-runtime/src/location/install.native.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30358 fix: add name to ModuleRegistryReadyNotifier
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ModuleRegistryReadyNotifier.java
Labels: bot: suggestions

#30228 [core][Android] Make `DecoratedException` open
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
Labels: bot: suggestions, bot: fingerprint changed

#30227 [core][Android] Fix some types weren't correctly converted when using coroutines
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SuspendFunctionComponent.kt
Labels: bot: suggestions, bot: fingerprint changed

#30296 [docs] Update concurrencies info in FAQ
  docs/pages/billing/faq.mdx
Labels: bot: passed checks

#29735 test(cli): add monorepo e2e test based on a custom fixture
  packages/@expo/cli/e2e/__tests__/export/monorepo-test.ts
  packages/@expo/cli/e2e/fixtures/with-monorepo/.gitignore
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-a/app.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-a/app/page-a.js
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-a/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-b/app.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-b/app/page-b.js
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-b/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#30369 Update faq.mdx
  docs/pages/billing/faq.mdx
Labels: bot: passed checks

#30350 [docs] Add client-side redirects based on recent SEO reports
  docs/common/error-utilities.ts
Labels: bot: passed checks

#30393 [docs] Remove irrelevant paragraph
  docs/pages/develop/user-interface/splash-screen-and-app-icon.mdx
Labels: bot: passed checks

#30328 [docs] Update Safe areas guide for default template
  docs/pages/develop/user-interface/safe-areas.mdx
Labels: bot: passed checks, preview

#30346 [docs] Update Animation doc under Develop
  docs/pages/develop/user-interface/animation.mdx
Labels: bot: passed checks

#29034 [docs] Add type LottieView
  docs/pages/versions/unversioned/sdk/lottie.mdx
Labels: bot: passed checks

#30399 [docs] Update Lottie API reference example to use `tsx`
  docs/pages/versions/unversioned/sdk/lottie.mdx
  docs/pages/versions/v49.0.0/sdk/lottie.mdx
  docs/pages/versions/v50.0.0/sdk/lottie.mdx
  docs/pages/versions/v51.0.0/sdk/lottie.mdx
Labels: bot: passed checks

#30374 [docs] enhance clarity in router/create-pages.mdx
  docs/pages/router/create-pages.mdx
Labels: bot: passed checks

#30326 [docs] cleanup of router examples code
  docs/pages/router/advanced/apple-handoff.mdx
  docs/pages/router/advanced/stack.mdx
  docs/pages/router/appearance.mdx
  docs/pages/router/error-handling.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
  docs/pages/router/navigating-pages.mdx
  docs/pages/router/reference/authentication.mdx
  docs/pages/router/reference/faq.mdx
  docs/pages/router/reference/hooks.mdx
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/router/reference/url-parameters.mdx
Labels: bot: passed checks

#30373 [docs] Fix links to bare React Native additional required configs for external libraries
  docs/pages/versions/unversioned/sdk/async-storage.mdx
  docs/pages/versions/unversioned/sdk/date-time-picker.mdx
  docs/pages/versions/unversioned/sdk/gesture-handler.mdx
  docs/pages/versions/unversioned/sdk/lottie.mdx
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/unversioned/sdk/screens.mdx
  docs/pages/versions/unversioned/sdk/webview.mdx
  docs/pages/versions/v49.0.0/sdk/async-storage.mdx
  docs/pages/versions/v49.0.0/sdk/date-time-picker.mdx
  docs/pages/versions/v49.0.0/sdk/gesture-handler.mdx
  docs/pages/versions/v49.0.0/sdk/lottie.mdx
  docs/pages/versions/v49.0.0/sdk/reanimated.mdx
  docs/pages/versions/v49.0.0/sdk/screens.mdx
  docs/pages/versions/v49.0.0/sdk/webview.mdx
  docs/pages/versions/v50.0.0/sdk/async-storage.mdx
  docs/pages/versions/v50.0.0/sdk/date-time-picker.mdx
  docs/pages/versions/v50.0.0/sdk/gesture-handler.mdx
  docs/pages/versions/v50.0.0/sdk/lottie.mdx
  docs/pages/versions/v50.0.0/sdk/reanimated.mdx
  docs/pages/versions/v50.0.0/sdk/screens.mdx
  docs/pages/versions/v51.0.0/sdk/async-storage.mdx
  docs/pages/versions/v51.0.0/sdk/date-time-picker.mdx
  docs/pages/versions/v51.0.0/sdk/gesture-handler.mdx
  docs/pages/versions/v51.0.0/sdk/lottie.mdx
  docs/pages/versions/v51.0.0/sdk/reanimated.mdx
  docs/pages/versions/v51.0.0/sdk/screens.mdx
  docs/pages/versions/v51.0.0/sdk/webview.mdx
Labels: bot: passed checks

#30226 [core][Android] Bump coroutines version to `1.7.3`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-web-browser/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#30360 [bare-expo]: allow navigator state persistence
  apps/bare-expo/MainNavigator.tsx
  packages/expo-dev-menu/app/native-modules/DevMenu.ts
Labels: bot: suggestions, bot: fingerprint changed

#30408 [docs] Fix multiple minor formatting and readability issues
  docs/.vale/writing-styles/expo-docs/Consistency.yml
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/using-firebase.mdx
  docs/pages/router/advanced/apple-handoff.mdx
  docs/pages/router/reference/static-rendering.mdx
  docs/pages/versions/unversioned/sdk/securestore.mdx
  docs/pages/versions/v50.0.0/sdk/securestore.mdx
  docs/pages/versions/v51.0.0/sdk/securestore.mdx
Labels: bot: passed checks

#30409 [docs] Add a callout about updating unversioned API reference in `README.md`
  docs/README.md
Labels: bot: passed checks

#30400 [ios][font] Fix fonts being removed in the background
  packages/expo-font/CHANGELOG.md
  packages/expo-font/ios/FontExceptions.swift
  packages/expo-font/ios/FontFamilyAliasManager.swift
  packages/expo-font/ios/FontLoaderModule.swift
  packages/expo-font/ios/FontUtils.swift
  packages/expo-font/ios/UIFont+FontFamilyAlias.swift
Labels: bot: passed checks, bot: fingerprint changed

#30332 feat(router): Add better errors and warnings for malformed route exports.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/getRoutesCore.d.ts.map
  packages/expo-router/build/getRoutesCore.js
  packages/expo-router/build/getRoutesCore.js.map
  packages/expo-router/src/getRoutesCore.ts
Labels: bot: passed checks, bot: fingerprint compatible

#29990 [router] Fix pushing multiple hashes on web
  apps/router-e2e/__e2e__/router-misc/app/hash-support.tsx
  apps/router-e2e/__e2e__/router-misc/app/index.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/router-misc.test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/fork/createMemoryHistory.d.ts
  packages/expo-router/build/fork/createMemoryHistory.d.ts.map
  packages/expo-router/build/fork/createMemoryHistory.js
  packages/expo-router/build/fork/createMemoryHistory.js.map
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/fork/createMemoryHistory.ts
  packages/expo-router/src/fork/getPathFromState.ts
  packages/expo-router/src/fork/useLinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30347 add docs for EXPO_USE_METRO_REQUIRE
  docs/pages/more/expo-cli.mdx
  docs/pages/versions/unversioned/config/metro.mdx
Labels: bot: passed checks

#30354 chore: Improve missing module errors.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/serializer/fork/js.js
  packages/@expo/metro-config/build/serializer/fork/js.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/serializer/fork/js.ts
Labels: bot: passed checks, bot: fingerprint compatible

#30086 refactor(cli): monitor and exit `expo export` after delay
  packages/@expo/cli/src/export/exportAsync.ts
  packages/@expo/cli/src/utils/exit.ts
Labels: bot: suggestions, bot: fingerprint compatible
