Repository expo/expo, pull requests merged in 2024-11, with the labels that each got.

#32329 [router][docs] Update Expo Router API reference
  docs/pages/versions/unversioned/sdk/router.mdx
  docs/pages/versions/v52.0.0/sdk/router.mdx
  docs/public/static/data/unversioned/expo-router.json
  docs/public/static/data/v52.0.0/expo-router.json
  packages/expo-router/build/hooks.d.ts
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/layouts/withLayoutContext.d.ts
  packages/expo-router/build/layouts/withLayoutContext.d.ts.map
  packages/expo-router/build/layouts/withLayoutContext.js
  packages/expo-router/build/layouts/withLayoutContext.js.map
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/build/link/useLinkHooks.d.ts
  packages/expo-router/build/link/useLinkHooks.d.ts.map
  packages/expo-router/build/link/useLinkHooks.js.map
  packages/expo-router/build/rsc/exports.d.ts
  packages/expo-router/build/rsc/exports.d.ts.map
  packages/expo-router/build/rsc/exports.js
  packages/expo-router/build/rsc/exports.js.map
  packages/expo-router/build/typed-routes/types.d.ts
  packages/expo-router/build/typed-routes/types.d.ts.map
  packages/expo-router/build/typed-routes/types.js.map
  packages/expo-router/build/types.d.ts
  packages/expo-router/build/types.d.ts.map
  packages/expo-router/build/types.js.map
  packages/expo-router/build/useFocusEffect.d.ts
  packages/expo-router/build/useFocusEffect.d.ts.map
  packages/expo-router/build/useFocusEffect.js
  packages/expo-router/build/useFocusEffect.js.map
  packages/expo-router/build/useNavigation.d.ts
  packages/expo-router/build/useNavigation.d.ts.map
  packages/expo-router/build/useNavigation.js
  packages/expo-router/build/useNavigation.js.map
  packages/expo-router/build/views/Navigator.d.ts
  packages/expo-router/build/views/Navigator.d.ts.map
  packages/expo-router/build/views/Navigator.js
  packages/expo-router/build/views/Navigator.js.map
  packages/expo-router/build/views/Try.d.ts
  packages/expo-router/build/views/Try.d.ts.map
  packages/expo-router/build/views/Try.js.map
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/imperative-api.ts
  packages/expo-router/src/layouts/withLayoutContext.tsx
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/useLinkHooks.ts
  packages/expo-router/src/rsc/exports.tsx
  packages/expo-router/src/typed-routes/types.ts
  packages/expo-router/src/types.ts
  packages/expo-router/src/useFocusEffect.ts
  packages/expo-router/src/useNavigation.ts
  packages/expo-router/src/views/Navigator.tsx
  packages/expo-router/src/views/Try.tsx
Labels: bot: passed checks, preview, bot: fingerprint compatible

#32534 Fix incorrect width/height reported with EXIF tags 5 and 7
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/exporters/RawImageExporter.kt
Labels: bot: passed checks

#32511 [docs] Add e2e test video
  docs/pages/build-reference/e2e-tests.mdx
Labels: bot: passed checks

#32494 [expo][expo-updates] re-export fingerprint in expo package instead of updates
  packages/@expo/fingerprint/README.md
  packages/expo-updates/package.json
  packages/expo-updates/utils/build/createFingerprintAsync.d.ts
  packages/expo-updates/utils/build/createFingerprintAsync.js
  packages/expo-updates/utils/build/resolveRuntimeVersionAsync.d.ts
  packages/expo-updates/utils/src/createFingerprintAsync.ts
  packages/expo-updates/utils/src/resolveRuntimeVersionAsync.ts
  packages/expo/CHANGELOG.md
  packages/expo/fingerprint.d.ts
  packages/expo/fingerprint.js
  packages/expo/package.json
Labels: bot: suggestions, bot: fingerprint changed

#32493 [fingerprint] add function signature stability test
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32519 feat(create-expo): Add hint for `--template` and `--example` args when those are omitted
  packages/create-expo/CHANGELOG.md
  packages/create-expo/src/cli.ts
  packages/create-expo/src/createAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32533 Fix static module view name in template
  packages/expo-module-template-local/index.ts
  packages/expo-module-template-local/ios/{%- project.moduleName %}.swift
  packages/expo-module-template/ios/{%- project.moduleName %}.swift
  packages/expo-module-template/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32547 [autolinking] Handle package with no dependencies
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32530 [docs] Fix minor issues expo modules api section
  docs/pages/modules/get-started.mdx
  docs/pages/modules/native-view-tutorial.mdx
  docs/pages/modules/overview.mdx
  docs/pages/modules/third-party-library.mdx
Labels: bot: passed checks

#32536 [docs] Fix code snippet in Expo tutorial configuration chapter
  docs/pages/tutorial/configuration.mdx
Labels: bot: passed checks

#32538 [docs] Update Podcasts and Live stream sections in Additional resources
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
Labels: bot: passed checks

#32539 [docs] Update modification date and add info about SDK 52 & SDK 51, improve tag example
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#32529 [docs] Additional platform support: Fix verbiage issues
  docs/pages/modules/additional-platform-support.mdx
Labels: bot: passed checks

#32548 Disable incompatible Snacks, use correct URLs
  apps/expo-go/graphql.schema.json
  apps/expo-go/package.json
  apps/expo-go/src/components/SnacksListItem.tsx
  apps/expo-go/src/graphql/fragments/CommonSnackData.fragment.graphql
  apps/expo-go/src/graphql/types.ts
  apps/expo-go/src/navigation/Navigation.tsx
  apps/expo-go/src/screens/HomeScreen/SnacksSection.tsx
  apps/expo-go/src/screens/SnacksListScreen/SnackList.tsx
  apps/expo-go/src/utils/UrlUtils.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#32561 [docs] Update required sizes for app store screenshots
  docs/pages/guides/store-assets.mdx
Labels: bot: passed checks

#32555 [cli] Update snapshots with `LSMinimumSystemVersion` property
  packages/@expo/config-plugins/build/plugins/withIosBaseMods.js
  packages/@expo/config-plugins/build/plugins/withIosBaseMods.js.map
  packages/@expo/config-plugins/src/plugins/withIosBaseMods.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
Labels: bot: suggestions

#32502 [babel-preset-expo][expo] add updates support for dom components
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/use-dom-directive-plugin.js
  packages/babel-preset-expo/src/__tests__/use-dom-directive-plugin.test.ts
  packages/babel-preset-expo/src/use-dom-directive-plugin.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/base.d.ts
  packages/expo/build/dom/base.d.ts.map
  packages/expo/build/dom/webview-wrapper.d.ts
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/src/dom/__tests__/base-test.ts
  packages/expo/src/dom/base.ts
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks, bot: fingerprint changed

#32560 [media-library] fix broken link in code comment
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/v52.0.0/expo-media-library.json
  packages/expo-media-library/.npmignore
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/MediaLibrary.ts
  packages/expo-media-library/tsconfig.json
Labels: bot: suggestions

#32470 [tools] update lint stack and easy to bump dependencies
  tools/package.json
  tools/src/Utils.ts
  tools/src/commands/GenerateBareApp.ts
  tools/yarn.lock
Labels: bot: passed checks

#32574 [docs] Prioritize vercel.json v3
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#31767 [docs] Add Router UI docs section
  docs/constants/navigation.js
  docs/pages/router/ui/tabs.mdx
  docs/pages/versions/unversioned/sdk/router-ui.mdx
  docs/public/static/data/unversioned/expo-router-ui.json
  packages/expo-router/build/ui/TabContext.d.ts
  packages/expo-router/build/ui/TabContext.d.ts.map
  packages/expo-router/build/ui/TabContext.js
  packages/expo-router/build/ui/TabContext.js.map
  packages/expo-router/build/ui/TabList.d.ts
  packages/expo-router/build/ui/TabList.d.ts.map
  packages/expo-router/build/ui/TabList.js
  packages/expo-router/build/ui/TabList.js.map
  packages/expo-router/build/ui/TabSlot.d.ts
  packages/expo-router/build/ui/TabSlot.d.ts.map
  packages/expo-router/build/ui/TabSlot.js
  packages/expo-router/build/ui/TabSlot.js.map
  packages/expo-router/build/ui/TabTrigger.d.ts
  packages/expo-router/build/ui/TabTrigger.d.ts.map
  packages/expo-router/build/ui/TabTrigger.js
  packages/expo-router/build/ui/TabTrigger.js.map
  packages/expo-router/build/ui/Tabs.d.ts
  packages/expo-router/build/ui/Tabs.d.ts.map
  packages/expo-router/build/ui/Tabs.js
  packages/expo-router/build/ui/Tabs.js.map
  packages/expo-router/src/ui/TabContext.tsx
  packages/expo-router/src/ui/TabList.tsx
  packages/expo-router/src/ui/TabSlot.tsx
  packages/expo-router/src/ui/TabTrigger.tsx
  packages/expo-router/src/ui/Tabs.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#27548 fix: don't assume reanimated exists when testing expo-router
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/mocks.js
  packages/expo-router/build/testing-library/mocks.js.map
  packages/expo-router/src/testing-library/mocks.ts
Labels: bot: passed checks

#32589 chore(ci): use default macos version of GHA for Expo Router E2E tests
  .github/workflows/router-e2e.yml
Labels: bot: passed checks

#32581 [docs] Add `isNew` flag to Router API reference
  docs/pages/versions/unversioned/sdk/router.mdx
  docs/pages/versions/v52.0.0/sdk/router.mdx
Labels: bot: passed checks

#32573 [docs] VideoBoxLink: scale video thumbnail correctly
  docs/ui/components/VideoBoxLink/index.tsx
Labels: bot: passed checks, preview

#32594 [router-e2e] fix broken test on web
  apps/router-e2e/__e2e__/dom-components/app/index.tsx
  apps/router-e2e/__e2e__/dom-components/components/08-native-module-proxy.web.tsx
Labels: bot: passed checks

#32541 [fingerprint] Create more formalized CLI
  .gitattributes
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/babel.config.js
  packages/@expo/fingerprint/cli/build/cli.d.ts
  packages/@expo/fingerprint/cli/build/cli.js
  packages/@expo/fingerprint/cli/build/commands/diffFingerprints.d.ts
  packages/@expo/fingerprint/cli/build/commands/diffFingerprints.js
  packages/@expo/fingerprint/cli/build/commands/generateFingerprint.d.ts
  packages/@expo/fingerprint/cli/build/commands/generateFingerprint.js
  packages/@expo/fingerprint/cli/build/runLegacyCLIAsync.d.ts
  packages/@expo/fingerprint/cli/build/runLegacyCLIAsync.js
  packages/@expo/fingerprint/cli/build/utils/args.d.ts
  packages/@expo/fingerprint/cli/build/utils/args.js
  packages/@expo/fingerprint/cli/build/utils/errors.d.ts
  packages/@expo/fingerprint/cli/build/utils/errors.js
  packages/@expo/fingerprint/cli/build/utils/log.d.ts
  packages/@expo/fingerprint/cli/build/utils/log.js
  packages/@expo/fingerprint/cli/build/utils/readFingerprintFileAsync.d.ts
  packages/@expo/fingerprint/cli/build/utils/readFingerprintFileAsync.js
  packages/@expo/fingerprint/cli/build/utils/withConsoleDisabledAsync.d.ts
  packages/@expo/fingerprint/cli/build/utils/withConsoleDisabledAsync.js
  packages/@expo/fingerprint/cli/src/cli.ts
  packages/@expo/fingerprint/cli/src/commands/diffFingerprints.ts
  packages/@expo/fingerprint/cli/src/commands/generateFingerprint.ts
  packages/@expo/fingerprint/cli/src/runLegacyCLIAsync.ts
  packages/@expo/fingerprint/cli/src/utils/args.ts
  packages/@expo/fingerprint/cli/src/utils/errors.ts
  packages/@expo/fingerprint/cli/src/utils/log.ts
  packages/@expo/fingerprint/cli/src/utils/readFingerprintFileAsync.ts
  packages/@expo/fingerprint/cli/src/utils/withConsoleDisabledAsync.ts
  packages/@expo/fingerprint/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#32580 refactor(cli): add non-exiting visibility to `export:embed` and show warning when force-quitting
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/utils/__tests__/exit-test.ts
  packages/@expo/cli/src/utils/__tests__/fixtures/exit-indefinite-process.js
  packages/@expo/cli/src/utils/exit.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32591 [go][android] Fix RNCDatePicker module not found
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
Labels: bot: passed checks

#32597 chore: move server action runtime to metro-runtime
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js
  packages/@expo/metro-config/build/transform-worker/asset-transformer.js.map
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/asset-transformer.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/index.d.ts
  packages/@expo/metro-runtime/build/index.d.ts.map
  packages/@expo/metro-runtime/package.json
  packages/@expo/metro-runtime/rsc/runtime.js
  packages/@expo/metro-runtime/rsc/virtual.js
  packages/@expo/metro-runtime/src/index.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fast-refresh.d.ts.map
  packages/expo-router/build/fast-refresh.js.map
  packages/expo-router/build/head/url.d.ts
  packages/expo-router/build/head/url.d.ts.map
  packages/expo-router/build/head/url.js
  packages/expo-router/build/head/url.js.map
  packages/expo-router/build/rsc/router/host.d.ts.map
  packages/expo-router/build/rsc/router/host.js
  packages/expo-router/build/rsc/router/host.js.map
  packages/expo-router/build/rsc/rsc-renderer.d.ts
  packages/expo-router/build/rsc/rsc-renderer.d.ts.map
  packages/expo-router/build/rsc/rsc-renderer.js
  packages/expo-router/build/rsc/rsc-renderer.js.map
  packages/expo-router/build/rsc/runtime.d.ts
  packages/expo-router/build/rsc/runtime.d.ts.map
  packages/expo-router/build/rsc/runtime.js
  packages/expo-router/build/rsc/runtime.js.map
  packages/expo-router/entry-classic.js
  packages/expo-router/package.json
  packages/expo-router/rsc/entry.js
  packages/expo-router/src/fast-refresh.ts
  packages/expo-router/src/head/url.tsx
  packages/expo-router/src/rsc/router/host.tsx
  packages/expo-router/src/rsc/rsc-renderer.ts
Labels: bot: suggestions, bot: fingerprint compatible

#32521 [create-expo-module] Update messaging about re-building
  packages/create-expo-module/src/create-expo-module.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32507 [templates] Align template .gitignore files
  templates/expo-template-bare-minimum/gitignore
  templates/expo-template-blank-typescript/gitignore
  templates/expo-template-blank/gitignore
  templates/expo-template-default/.gitignore
  templates/expo-template-tabs/.gitignore
  templates/expo-template-tabs/gitignore
Labels: bot: passed checks

#32601 fix(cli): Fix issue where renderer overwrote existing SSR modules.
  docs/pages/router/reference/api-routes.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32504 [cli] add dom components support to export command
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/__tests__/createMetadataJson-test.ts
  packages/@expo/cli/src/export/__tests__/exportDomComponents-test.ts
  packages/@expo/cli/src/export/createMetadataJson.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportDomComponents.ts
  packages/@expo/cli/src/utils/filePath.ts
  packages/expo/build/dom/base.d.ts.map
  packages/expo/src/dom/base.ts
Labels: bot: suggestions, bot: fingerprint changed

#32596 [expo][doc] replace EXPO_DOM_BASE_URL with EXPO_BASE_URL
  apps/router-e2e/__e2e__/dom-components/components/05-public-asset.tsx
  docs/pages/guides/dom-components.mdx
  packages/expo/CHANGELOG.md
  packages/expo/src/dom/injection.ts
Labels: bot: passed checks

#32609 feat(expo): Change DOM components defaults to be more automatic.
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks

#32607 feat(router): Add RSC support for `Stack.Screen`, `Tabs.Screen`, and `Drawer.Screen` components.
  apps/router-e2e/__e2e__/03-server-actions-only/components/server-actions.tsx
  packages/@expo/cli/e2e/playwright/dev/03-server-actions-only.test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/layouts/Drawer.d.ts
  packages/expo-router/build/layouts/Drawer.d.ts.map
  packages/expo-router/build/layouts/Drawer.js
  packages/expo-router/build/layouts/Drawer.js.map
  packages/expo-router/build/layouts/DrawerClient.d.ts
  packages/expo-router/build/layouts/DrawerClient.d.ts.map
  packages/expo-router/build/layouts/DrawerClient.js
  packages/expo-router/build/layouts/DrawerClient.js.map
  packages/expo-router/build/layouts/Stack.d.ts
  packages/expo-router/build/layouts/Stack.d.ts.map
  packages/expo-router/build/layouts/Stack.js
  packages/expo-router/build/layouts/Stack.js.map
  packages/expo-router/build/layouts/StackClient.d.ts
  packages/expo-router/build/layouts/StackClient.d.ts.map
  packages/expo-router/build/layouts/StackClient.js
  packages/expo-router/build/layouts/StackClient.js.map
  packages/expo-router/build/layouts/Tabs.d.ts
  packages/expo-router/build/layouts/Tabs.d.ts.map
  packages/expo-router/build/layouts/Tabs.js
  packages/expo-router/build/layouts/Tabs.js.map
  packages/expo-router/build/layouts/TabsClient.d.ts
  packages/expo-router/build/layouts/TabsClient.d.ts.map
  packages/expo-router/build/layouts/TabsClient.js
  packages/expo-router/build/layouts/TabsClient.js.map
  packages/expo-router/src/layouts/Drawer.tsx
  packages/expo-router/src/layouts/DrawerClient.tsx
  packages/expo-router/src/layouts/Stack.tsx
  packages/expo-router/src/layouts/StackClient.tsx
  packages/expo-router/src/layouts/Tabs.tsx
  packages/expo-router/src/layouts/TabsClient.tsx
  packages/expo-router/src/layouts/__rsc_tests__/Stack.test.tsx
  packages/expo-router/src/layouts/__rsc_tests__/__snapshots__/Stack.test.tsx.snap.android
  packages/expo-router/src/layouts/__rsc_tests__/__snapshots__/Stack.test.tsx.snap.ios
  packages/expo-router/src/layouts/__rsc_tests__/__snapshots__/Stack.test.tsx.snap.web
Labels: bot: suggestions

#32600 fix(cli): improve export eager cache key
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/guessHermes.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
  packages/@expo/cli/src/export/exportHermes.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32510 [go][Android] Synchronize `reloadExpoApp`
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
Labels: bot: passed checks

#32586 [expo-go] Request local network access at better times
  apps/expo-go/ios/Client/AppDelegate.swift
  apps/expo-go/ios/Client/EXRootViewController.m
  apps/expo-go/ios/Client/LocalNetworkAccessManager.swift
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Versioned/Core/Internal/EXLinkingManager.m
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks

#32428 [video] Add `audioMixingMode` property
  apps/native-component-list/src/screens/Video/VideoAudioScreen.tsx
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v52.0.0/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/AudioFocusManager.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/enums/AudioMixingMode.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/PlayerEvent.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerListener.kt
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js.map
  packages/expo-video/ios/Enums/AudioMixingMode.swift
  packages/expo-video/ios/NowPlayingManager.swift
  packages/expo-video/ios/VideoManager.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#32585 [video][android] Fix errors when setting a source with null uri
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/VideoSource.kt
Labels: bot: passed checks, bot: fingerprint changed

#32544 [cli] Catch all exceptions from telemetry flush to prevent upgrade errors
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/telemetry/clients/RudderDetachedClient.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32099 feat(router): add unstable_headers function for RSC
  apps/router-e2e/__e2e__/01-rsc/app/second.tsx
  apps/router-e2e/__e2e__/02-server-actions/components/counter.tsx
  apps/router-e2e/__e2e__/02-server-actions/components/server-actions-in-file.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/server-actions.tsx
  docs/pages/guides/server-components.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/02-server-actions.test.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/e2e/playwright/prod/02-server-actions.test.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/location/install.native.d.ts.map
  packages/@expo/metro-runtime/src/async-require/buildUrlForBundle.native.ts
  packages/@expo/metro-runtime/src/location/install.native.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/middleware/rsc.d.ts
  packages/@expo/server/build/middleware/rsc.js
  packages/@expo/server/build/middleware/rsc.js.map
  packages/@expo/server/src/middleware/rsc.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/middleware.d.ts
  packages/expo-router/build/rsc/middleware.d.ts.map
  packages/expo-router/build/rsc/middleware.js
  packages/expo-router/build/rsc/middleware.js.map
  packages/expo-router/build/rsc/server.d.ts
  packages/expo-router/build/rsc/server.d.ts.map
  packages/expo-router/build/rsc/server.js
  packages/expo-router/build/rsc/server.js.map
  packages/expo-router/rsc/headers.d.ts
  packages/expo-router/rsc/headers.js
  packages/expo-router/src/rsc/middleware.ts
  packages/expo-router/src/rsc/server.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32621 [expo-media-library] Fix asset types
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
Labels: bot: passed checks, bot: fingerprint changed

#32557 [task-manager] correct the return type of TaskManagerTaskExecutor
  apps/native-component-list/src/screens/NotificationScreen.tsx
  docs/public/static/data/unversioned/expo-task-manager.json
  docs/public/static/data/v52.0.0/expo-task-manager.json
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/build/TaskManager.d.ts
  packages/expo-task-manager/build/TaskManager.d.ts.map
  packages/expo-task-manager/build/TaskManager.js.map
  packages/expo-task-manager/src/TaskManager.ts
Labels: bot: passed checks

#32614 [docs] add Bluesky and Canny links to the community section
  docs/ui/components/Home/sections/JoinTheCommunity.tsx
Labels: bot: passed checks

#32537 [expo-go] Account for snack when setting query params
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/expoview/Exponent.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/ExponentIntentModule.kt
  packages/expo-manifests/android/src/main/java/expo/modules/manifests/core/Manifest.kt
Labels: bot: suggestions, bot: fingerprint changed

#32604 [splashscreen] Add dark mode support on iOS
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.d.ts
  packages/@expo/prebuild-config/build/plugins/icons/AssetContents.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashColors.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreen.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreen.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
  packages/@expo/prebuild-config/src/plugins/icons/AssetContents.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/InterfaceBuilder.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashAssets.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashColors.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreen.ts
Labels: bot: suggestions, bot: fingerprint compatible

#32622 [cli] Don't show message about running `expo install` again when we're not
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/install/installExpoPackage.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32617 fix(cli,config-plugins,doctor): avoid using path mutations in glob patterns
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Paths.js
  packages/@expo/config-plugins/build/android/Paths.js.map
  packages/@expo/config-plugins/src/android/Paths.ts
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/ProjectSetupCheck.ts
  packages/expo-doctor/src/checks/__tests__/ProjectSetupCheck.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32628 [docs] fix Bluesky profile link
  docs/ui/components/Home/sections/JoinTheCommunity.tsx
Labels: bot: passed checks

#32441 [docs] Audit and update Integrate Expo Modules API in an existing library
  docs/pages/modules/existing-library.mdx
Labels: bot: passed checks

#32304 [docs] Remove unwanted docs from archive
  docs/constants/navigation.js
  docs/pages/archive/classic-builds/building-standalone-apps.mdx
  docs/pages/archive/classic-builds/migrating.mdx
  docs/pages/archive/classic-builds/turtle-cli.mdx
  docs/pages/archive/classic-updates/preloading-and-caching-assets.mdx
  docs/pages/archive/expo-cli.mdx
  docs/pages/archive/managed-vs-bare.mdx
  docs/pages/archive/using-expo-client.mdx
  docs/pages/archive/using-flipper.mdx
Labels: bot: passed checks

#32199 [guides] Add a guide on writing document titles and headings
  guides/Expo Documentation Writing Style Guide.md
  guides/Wrtiting scannable titles and headings.md
  guides/assets/writing-guides/01-search-doc-example.png
  guides/assets/writing-guides/02-improved-search-doc-example.png
  guides/assets/writing-guides/03-procedure-example-two.png
  guides/assets/writing-guides/03-procedure-example.png
  guides/assets/writing-guides/04-non-procedural.png
Labels: bot: passed checks

#32623 [config-types] add usesBroadcastPushNotifications option for iOS config
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#32631 [font][expo] Remove Font.processFontFamily()
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.d.ts.map
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/src/Font.ts
  packages/expo-font/src/__tests__/Font-test.native.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/registerRootComponent.d.ts
  packages/expo/build/launch/registerRootComponent.d.ts.map
  packages/expo/src/Expo.fx.tsx
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: passed checks, bot: fingerprint changed

#32636 [prebuild-config][config-types] Rename ios.icon.any to ios.icon.light for consistency with Apple docs
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js
  packages/@expo/prebuild-config/build/plugins/icons/withIosIcons.js.map
  packages/@expo/prebuild-config/src/plugins/icons/withIosIcons.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32629 [expo][cli] fix public assets support for dom components
  apps/router-e2e/__e2e__/dom-components/components/05-public-asset.tsx
  docs/pages/guides/dom-components.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/DomComponentsMiddleware.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/injection.d.ts
  packages/expo/build/dom/injection.d.ts.map
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/src/dom/injection.ts
  packages/expo/src/dom/webview-wrapper.tsx
Labels: bot: passed checks

#32532 [dev-client] fix multiple reload when pressing r in terminal
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-client/android/src/androidTest/java/com/expo/modules/devclient/scenarios/DevLauncherBasicScenario.kt
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoader.kt
  packages/expo-dev-launcher/android/src/release/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/ReactHostWrapper.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/react/DevMenuAwareReactActivity.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPackage.kt
Labels: bot: passed checks, bot: fingerprint changed

#32564 [docs] Update `react-native init` to `@react-native-community/cli@latest`
  docs/pages/bare/install-dev-builds-in-bare.mdx
  docs/pages/bare/installing-updates.mdx
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/build/introduction.mdx
  docs/pages/guides/adopting-prebuild.mdx
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v52.0.0/index.mdx
  docs/pages/workflow/overview.mdx
  docs/pages/workflow/using-libraries.mdx
Labels: bot: passed checks

#29756 [router] Sitemap: add title, fix web CLS, tweak appearance slightly
  packages/@expo/cli/e2e/__tests__/export-embed-eager.test.ts
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/tailwind-postcss.test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/assets/error.png
  packages/expo-router/assets/file.png
  packages/expo-router/assets/forward.png
  packages/expo-router/assets/pkg.png
  packages/expo-router/assets/sitemap.png
  packages/expo-router/build/views/Sitemap.d.ts.map
  packages/expo-router/build/views/Sitemap.js
  packages/expo-router/build/views/Sitemap.js.map
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/views/Sitemap.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#32641 [go][Android] Invalidate experience's context
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
Labels: bot: passed checks

#32616 [docs] Allow selecting file names in SnippetHeader
  docs/ui/components/Snippet/SnippetHeader.tsx
Labels: bot: passed checks

#32649 [prebuild-config] Fix prebuild error due to float icon coords.
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/icons/withAndroidIcons.js
  packages/@expo/prebuild-config/build/plugins/icons/withAndroidIcons.js.map
  packages/@expo/prebuild-config/src/plugins/icons/withAndroidIcons.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32648 [splashscreen] Provide default width for legacy config
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getIosSplashConfig.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getIosSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getIosSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreen.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreen.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/InterfaceBuilder.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/__tests__/withAndroidSplashStyles-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getIosSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashAssets.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreen.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.ts
  packages/expo-splash-screen/plugin/build/withSplashScreen.d.ts
  packages/expo-splash-screen/plugin/build/withSplashScreen.js
  packages/expo-splash-screen/plugin/src/withSplashScreen.ts
  templates/expo-template-blank-typescript/app.json
  templates/expo-template-blank-typescript/assets/splash-icon.png
  templates/expo-template-blank-typescript/assets/splash.png
  templates/expo-template-blank/app.json
  templates/expo-template-blank/assets/splash-icon.png
  templates/expo-template-blank/assets/splash.png
  templates/expo-template-default/app.json
  templates/expo-template-default/assets/images/splash-icon.png
  templates/expo-template-default/assets/images/splash.png
  templates/expo-template-tabs/app.json
  templates/expo-template-tabs/assets/images/splash-icon.png
  templates/expo-template-tabs/assets/images/splash.png
Labels: bot: suggestions, bot: fingerprint compatible

#32620 [router] Onboard: tweaks for the welcome page
  packages/@expo/cli/e2e/__tests__/export-embed-eager.test.ts
  packages/expo-router/assets/logotype.png
  packages/expo-router/build/onboard/Tutorial.d.ts.map
  packages/expo-router/build/onboard/Tutorial.js
  packages/expo-router/build/onboard/Tutorial.js.map
  packages/expo-router/src/onboard/Tutorial.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#32644 [dev-launcher] fix build error when EX_DEV_CLIENT_NETWORK_INSPECTOR is off
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/DevLauncherNetworkInterceptor.swift
Labels: bot: passed checks, bot: fingerprint changed

#32653 [router] Onboard screen updates based on the feedback, changelog entry
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/onboard/Tutorial.d.ts.map
  packages/expo-router/build/onboard/Tutorial.js
  packages/expo-router/build/onboard/Tutorial.js.map
  packages/expo-router/src/onboard/Tutorial.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#32228 [video] Add support for directly creating an instance of `VideoPlayer`
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/pages/versions/v52.0.0/sdk/video.mdx
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v52.0.0/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoPlayer.d.ts
  packages/expo-video/build/VideoPlayer.d.ts.map
  packages/expo-video/build/VideoPlayer.js
  packages/expo-video/build/VideoPlayer.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js
  packages/expo-video/build/index.js.map
  packages/expo-video/src/VideoPlayer.tsx
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/index.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#32448 [docs] API Reference: visual tweaks and DOM simplification for types rendering
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataType.tsx
  docs/components/plugins/api/APISectionClasses.tsx
  docs/components/plugins/api/APISectionConstants.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/__snapshots__/APISectionUtils.test.tsx.snap
  docs/components/plugins/api/styles.tsx
Labels: bot: passed checks, preview

#32520 [@expo/cli] Get runtime version from expo-updates for local manifest serving
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/ExpoGoManifestHandlerMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/__tests__/ExpoGoManifestHandlerMiddleware-test.ts
  packages/@expo/cli/src/start/server/middleware/resolveRuntimeVersionWithExpoUpdatesAsync.ts
  packages/@expo/cli/src/utils/expoUpdatesCli.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32665 [docs] Fix grammar issue in expo-router tabs docs
  docs/pages/router/ui/tabs.mdx
Labels: bot: passed checks

#32658 [notifications][docs] minor improvements to TS docs
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/v52.0.0/expo-notifications.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/DevicePushTokenAutoRegistration.fx.d.ts
  packages/expo-notifications/build/DevicePushTokenAutoRegistration.fx.d.ts.map
  packages/expo-notifications/build/DevicePushTokenAutoRegistration.fx.js
  packages/expo-notifications/build/DevicePushTokenAutoRegistration.fx.js.map
  packages/expo-notifications/build/NotificationChannelGroupManager.types.d.ts
  packages/expo-notifications/build/NotificationChannelGroupManager.types.js.map
  packages/expo-notifications/build/NotificationChannelManager.types.d.ts
  packages/expo-notifications/build/NotificationChannelManager.types.js.map
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/NotificationsEmitter.d.ts
  packages/expo-notifications/build/NotificationsEmitter.d.ts.map
  packages/expo-notifications/build/NotificationsEmitter.js
  packages/expo-notifications/build/NotificationsEmitter.js.map
  packages/expo-notifications/build/NotificationsHandler.d.ts
  packages/expo-notifications/build/NotificationsHandler.js.map
  packages/expo-notifications/build/Tokens.types.d.ts
  packages/expo-notifications/build/Tokens.types.js.map
  packages/expo-notifications/build/registerTaskAsync.d.ts
  packages/expo-notifications/build/registerTaskAsync.js
  packages/expo-notifications/build/registerTaskAsync.js.map
  packages/expo-notifications/build/setNotificationChannelAsync.d.ts
  packages/expo-notifications/build/setNotificationChannelAsync.d.ts.map
  packages/expo-notifications/build/setNotificationChannelAsync.js
  packages/expo-notifications/build/setNotificationChannelAsync.js.map
  packages/expo-notifications/build/useLastNotificationResponse.d.ts
  packages/expo-notifications/build/useLastNotificationResponse.d.ts.map
  packages/expo-notifications/build/useLastNotificationResponse.js
  packages/expo-notifications/build/useLastNotificationResponse.js.map
  packages/expo-notifications/src/DevicePushTokenAutoRegistration.fx.ts
  packages/expo-notifications/src/NotificationChannelGroupManager.types.ts
  packages/expo-notifications/src/NotificationChannelManager.types.ts
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/NotificationsEmitter.ts
  packages/expo-notifications/src/NotificationsHandler.ts
  packages/expo-notifications/src/Tokens.types.ts
  packages/expo-notifications/src/registerTaskAsync.ts
  packages/expo-notifications/src/setNotificationChannelAsync.ts
  packages/expo-notifications/src/useLastNotificationResponse.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32659 [notifications] fix NotificationTrigger type
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/v52.0.0/expo-notifications.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/src/Notifications.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32660 [notifications] remove two deprecated exports
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/v52.0.0/expo-notifications.json
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/NotificationChannelManager.types.d.ts
  packages/expo-notifications/build/NotificationChannelManager.types.d.ts.map
  packages/expo-notifications/build/NotificationChannelManager.types.js
  packages/expo-notifications/build/NotificationChannelManager.types.js.map
  packages/expo-notifications/build/NotificationPermissions.types.d.ts
  packages/expo-notifications/build/NotificationPermissions.types.d.ts.map
  packages/expo-notifications/build/NotificationPermissions.types.js.map
  packages/expo-notifications/src/NotificationChannelManager.types.ts
  packages/expo-notifications/src/NotificationPermissions.types.ts
  packages/expo-notifications/src/__tests__/__snapshots__/index-test.ts.snap.ios
Labels: bot: passed checks, bot: fingerprint compatible

#32657 [docs] add Launch Party banner
  docs/package.json
  docs/pages/index.tsx
  docs/public/static/images/launch-party-banner-bg.svg
  docs/tailwind.config.cjs
  docs/ui/components/LaunchPartyBanner/ConfettiPopper.tsx
  docs/ui/components/LaunchPartyBanner/index.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#32646 [docs] Specify `expo-build-properties` is required to install in New Architecture guide
  docs/pages/guides/new-architecture.mdx
Labels: bot: passed checks

#32627 [docs] Fix minor issues in multiple docs
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/brownfield/overview.mdx
  docs/pages/develop/next-steps.mdx
  docs/pages/guides/dom-components.mdx
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/server-components.mdx
  docs/pages/guides/testing-rsc.mdx
  docs/pages/regulatory-compliance/data-and-privacy-protection.mdx
  docs/pages/router/reference/api-routes.mdx
  docs/pages/router/reference/sitemap.mdx
Labels: bot: passed checks

#32582 [video][android][ios] Add support for listing and selecting closed captions
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  apps/native-component-list/src/screens/Video/VideoSubtitlesScreen.tsx
  apps/native-component-list/src/screens/Video/videoSources.ts
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v52.0.0/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/PlayerEvent.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerListener.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerSubtitles.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/SubtitleTrack.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/VideoEventPayloads.kt
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/VideoPlayerEvents.types.d.ts
  packages/expo-video/build/VideoPlayerEvents.types.d.ts.map
  packages/expo-video/build/VideoPlayerEvents.types.js.map
  packages/expo-video/ios/Records/SubtitleTrack.swift
  packages/expo-video/ios/Records/VideoEventPayloads.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
  packages/expo-video/ios/VideoPlayerSubtitles.swift
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/VideoPlayerEvents.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#32603 [docs] Fix "The expected type comes from property 'ref'" error in screenshot tutorial
  docs/pages/tutorial/screenshot.mdx
Labels: bot: passed checks

#32671 [config-plugins] Remove circular import references to index files
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Updates.d.ts
  packages/@expo/config-plugins/build/android/Updates.js.map
  packages/@expo/config-plugins/build/ios/PrivacyInfo.d.ts
  packages/@expo/config-plugins/build/ios/PrivacyInfo.js
  packages/@expo/config-plugins/build/ios/PrivacyInfo.js.map
  packages/@expo/config-plugins/build/utils/Updates.js
  packages/@expo/config-plugins/build/utils/Updates.js.map
  packages/@expo/config-plugins/src/android/Updates.ts
  packages/@expo/config-plugins/src/ios/PrivacyInfo.ts
  packages/@expo/config-plugins/src/utils/Updates.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32639 [config-plugins] Sync base android manifest with template
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/plugins/withAndroidBaseMods.js
  packages/@expo/config-plugins/build/plugins/withAndroidBaseMods.js.map
  packages/@expo/config-plugins/src/plugins/withAndroidBaseMods.ts
Labels: bot: passed checks, bot: fingerprint changed

#32643 [templates] add react-native-webview to default template
  templates/expo-template-default/package.json
Labels: bot: passed checks

#32661 [splashscreen] Support full screen image on ios
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getIosSplashConfig.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getIosSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getIosSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboard.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboard.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/InterfaceBuilder.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/__tests__/getAndroidSplashConfig-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getIosSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashAssets.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboard.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.ts
  packages/expo-splash-screen/plugin/build/withSplashScreen.d.ts
  packages/expo-splash-screen/plugin/build/withSplashScreen.js
  packages/expo-splash-screen/plugin/src/withSplashScreen.ts
Labels: bot: suggestions, bot: fingerprint compatible

#32673 [expo-go][android] Fix experience loading
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
Labels: bot: passed checks

#32672 [config-plugins] Backport "Sync base android manifest with template" to SDK 51
  packages/@expo/config-plugins/build/plugins/withAndroidBaseMods.js
  packages/@expo/config-plugins/build/plugins/withAndroidBaseMods.js.map
  packages/@expo/config-plugins/src/plugins/withAndroidBaseMods.ts
Labels: bot: suggestions, bot: fingerprint changed

#32666 [go] Bump `screens` and `navigation`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/router-e2e/package.json
  apps/test-suite/package.json
  package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-a/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-b/package.json
  packages/@expo/cli/e2e/fixtures/with-router-typed-routes/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-router/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#32675 [iOS][gl] Convert GLView to Swift
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/ios/EXGLContext.h
  packages/expo-gl/ios/EXGLContext.mm
  packages/expo-gl/ios/EXGLObjectManager.mm
  packages/expo-gl/ios/EXGLView.h
  packages/expo-gl/ios/EXGLView.mm
  packages/expo-gl/ios/GLView.swift
  packages/expo-gl/ios/GLViewModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#32676 Manually set runtime version in bare-expo
  apps/bare-expo/app.json
Labels: bot: passed checks, bot: fingerprint changed

#32670 [core] fix self-signed connections in network inspector
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/DevTools/ExpoRequestInterceptorProtocol.swift
  packages/expo-modules-core/ios/DevTools/URLAuthenticationChallengeForwardSender.swift
  packages/expo-modules-core/ios/DevTools/URLSessionSessionDelegateProxy.swift
Labels: bot: passed checks, bot: fingerprint changed

#32626 [expo-file-system][next] Fix download function throwing an error if dst exists
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextExceptions.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextModule.kt
  packages/expo-file-system/ios/Next/FileSystemNextExceptions.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#32680 [expo-go] Fix snack loading in the emulator
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ExpoGoReactNativeHost.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/headless/InternalHeadlessAppLoader.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/Kernel.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/expoview/Exponent.kt
Labels: bot: passed checks

#32513 fix(cli): add `EMFILE` error handling for MacOS to clarify why Metro crashed
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/errors.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32690 [docs] Tag docs PR S3 buckets as "intended to be public"
  .github/workflows/docs-pr.yml
Labels: bot: passed checks, preview

#32677 [dev-launcher][ios] Fix handling deep links
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
Labels: bot: passed checks, bot: fingerprint changed

#32694 [TV] bump E2E test dependencies
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#32633 feat(babel): Support hoisting for inlined server actions.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/server-actions-plugin.js
  packages/babel-preset-expo/src/__tests__/server-actions.test.ts
  packages/babel-preset-expo/src/server-actions-plugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32699 [sqlite][doc] rename async-storage to kv-store
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/v52.0.0/sdk/sqlite.mdx
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/kv-store.d.ts
  packages/expo-sqlite/kv-store.js
  packages/expo-sqlite/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#32691 [docs] Remove legacy CLI reference in Expo CLI
  docs/pages/more/expo-cli.mdx
Labels: bot: passed checks

#32696 [docs] Update existing React Native instructions in DevClient reference
  docs/pages/versions/unversioned/sdk/dev-client.mdx
  docs/pages/versions/v50.0.0/sdk/dev-client.mdx
  docs/pages/versions/v51.0.0/sdk/dev-client.mdx
  docs/pages/versions/v52.0.0/sdk/dev-client.mdx
Labels: bot: passed checks

#32697 [docs] Update callout in FaceDetector reference
  docs/pages/versions/unversioned/sdk/facedetector.mdx
  docs/pages/versions/v52.0.0/sdk/facedetector.mdx
Labels: bot: passed checks

#32687 [expo-go] Adjust splashscreen on ios
  apps/expo-go/ios/Exponent/Kernel/Views/Loading/EXManagedAppSplashScreenViewProvider.m
Labels: bot: passed checks

#32705 [Android] start headless js context on the main thread
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/apploader/RNHeadlessAppLoader.kt
Labels: bot: passed checks, bot: fingerprint changed

#32707 [Android] Add initialised check when accessing splashScreen property
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenManager.kt
Labels: bot: passed checks, bot: fingerprint changed

#32709 [ncl] Fix failing ts lint in native component list
  apps/native-component-list/src/navigation/StackConfig.tsx
Labels: bot: passed checks

#32689 [docs] Home: community links section update
  docs/ui/components/Footer/NewsletterSignUp.tsx
  docs/ui/components/Home/sections/JoinTheCommunity.tsx
Labels: bot: passed checks, preview

#32710 [notifications][android] run notification tasks from killed state
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/RemoteMessageSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/background/BackgroundRemoteNotificationTaskConsumer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/FirebaseMessagingDelegate.kt
Labels: bot: passed checks, bot: fingerprint changed

#32693 [splashscreen] Update docs for 52
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
  docs/pages/versions/v52.0.0/sdk/splash-screen.mdx
  docs/public/static/data/unversioned/expo-splash-screen.json
  docs/public/static/data/v52.0.0/expo-splash-screen.json
  packages/expo-splash-screen/build/SplashScreen.types.d.ts
  packages/expo-splash-screen/build/SplashScreen.types.js.map
  packages/expo-splash-screen/build/index.d.ts
  packages/expo-splash-screen/build/index.d.ts.map
  packages/expo-splash-screen/build/index.js
  packages/expo-splash-screen/build/index.js.map
  packages/expo-splash-screen/src/SplashScreen.types.ts
  packages/expo-splash-screen/src/index.ts
Labels: bot: suggestions, preview, bot: fingerprint compatible

#32592 [docs] Fix verbiage issues in headless Tabs doc
  docs/constants/navigation.js
  docs/pages/router/advanced/custom-tabs.mdx
  docs/pages/router/ui/tabs.mdx
Labels: bot: passed checks

#32715 [docs] Clean up duplicate custom tabs guide
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/router/ui/tabs.mdx
  docs/pages/versions/unversioned/sdk/router-ui.mdx
  docs/pages/versions/v52.0.0/sdk/router-ui.mdx
Labels: bot: passed checks

#32543 [cli] Wrap telemetry flush in try/catch so it doesn't crash an upgrade from a previous SDK
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/telemetry/DetachedClient.ts
  packages/@expo/cli/src/utils/telemetry/__tests__/DetachedClient.test.ts
Labels: bot: passed checks, bot: fingerprint changed

#32719 [docs] Update fonts.mdx
  docs/pages/develop/user-interface/fonts.mdx
Labels: bot: passed checks

#32720 [splashscreen-51] Fix dev client crash
  packages/expo-splash-screen/ios/EXSplashScreen/EXSplashScreenService.m
Labels: bot: suggestions, bot: fingerprint changed

#32588 [docs] Remove duplicate API sections and Hooks API doc from Expo Router
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/router/advanced/native-intent.mdx
  docs/pages/router/advanced/stack.mdx
  docs/pages/router/error-handling.mdx
  docs/pages/router/navigating-pages.mdx
  docs/pages/router/reference/hooks.mdx
Labels: bot: passed checks

#32728 fix(expo-asset): Add support for simplified object asset format.
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/build/Asset.d.ts
  packages/expo-asset/build/Asset.d.ts.map
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32731 [docs] minor clean up of DOM components
  docs/pages/guides/dom-components.mdx
Labels: bot: passed checks

#32674 [notifications] various docs improvements
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#32727 [modules-core] Fix UIKit import when targeting macOS
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Fabric/ExpoFabricViewObjC.h
Labels: bot: passed checks, bot: fingerprint changed

#32735 fix(metro-config): Remove clientBoundaries warning.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32738 [docs] Remove duplicate word in CEA guide
  docs/pages/more/create-expo.mdx
Labels: bot: passed checks

#32716 [notifications] add enableBackgroundRemoteNotifications option to config plugin
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/plugin/build/withNotifications.d.ts
  packages/expo-notifications/plugin/build/withNotificationsIOS.d.ts
  packages/expo-notifications/plugin/build/withNotificationsIOS.js
  packages/expo-notifications/plugin/src/withNotifications.ts
  packages/expo-notifications/plugin/src/withNotificationsIOS.ts
Labels: bot: passed checks, bot: fingerprint changed

#32717 [notifications][docs] new enableBackgroundRemoteNotifications config plugin property
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#32747 [notifications][docs] fix mention of incorrect SDK version
  docs/pages/versions/v51.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#32744 [docs] Update DOM components guide description
  docs/pages/guides/dom-components.mdx
Labels: bot: passed checks

#32679 [cli]: Add expo-router install integration
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/customize-test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/@expo/cli/src/install/checkPackages.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/doctor/index.d.ts
  packages/expo-router/build/doctor/index.d.ts.map
  packages/expo-router/build/doctor/index.js
  packages/expo-router/build/doctor/index.js.map
  packages/expo-router/doctor.d.ts
  packages/expo-router/doctor.js
  packages/expo-router/package.json
  packages/expo-router/src/doctor/index.ts
  packages/expo-router/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#32750 [expo] Warn if new arch isn't explicitly enabled in app config when using Expo Go
  packages/expo/package.json
  packages/expo/src/Expo.fx.tsx
Labels: bot: suggestions, bot: fingerprint changed

#32721 [create-expo-module] Rethrow errors from npm
  packages/create-expo-module/build/createExampleApp.js
  packages/create-expo-module/build/createExampleApp.js.map
  packages/create-expo-module/build/packageManager.d.ts
  packages/create-expo-module/build/packageManager.js
  packages/create-expo-module/build/packageManager.js.map
  packages/create-expo-module/src/createExampleApp.ts
  packages/create-expo-module/src/packageManager.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32762 [router][cli] Add missing dep, handle missing router import
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/src/install/checkPackages.ts
  packages/expo-router/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#32554 [prebuild-config] Remove peer dependency on expo-modules-autolinking
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.js
  packages/@expo/prebuild-config/build/importExpoModulesAutolinking.js.map
  packages/@expo/prebuild-config/package.json
  packages/@expo/prebuild-config/src/importExpoModulesAutolinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32765 [templates] Fix gitignore being modified on blank js project
  packages/@expo/cli/src/start/server/type-generation/__tests__/startTypescriptTypeGeneration.test.ts
  packages/@expo/cli/src/start/server/type-generation/startTypescriptTypeGeneration.ts
  packages/create-expo/template/gitignore
  templates/expo-template-default/gitignore
  templates/expo-template-tabs/gitignore
Labels: bot: suggestions, bot: fingerprint compatible

#32766 [splashscreen] Old arch preventAutoHide fix
  packages/expo-splash-screen/ios/SplashScreenManager.swift
Labels: bot: suggestions, bot: fingerprint changed

#32551 [video] Modify aspect ratio coverage of Android PiP to be more specific
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
Labels: bot: passed checks

#32528 #32268: update jest-expo transform ignore patterns
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/jest-preset.js
Labels: bot: passed checks

#32755 [docs] expand supported ToC indent levels
  docs/components/DocumentationSidebarRightLink.tsx
Labels: bot: passed checks

#32769 [cli] Improve linking to modules in CLI E2E tests
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/customize-test.ts
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
Labels: bot: passed checks

#32774 [templates] Remove `DevSettingsActivity` from template and plugins
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/plugins/withAndroidBaseMods.js
  packages/@expo/config-plugins/build/plugins/withAndroidBaseMods.js.map
  packages/@expo/config-plugins/src/android/__tests__/__snapshots__/Permissions-test.ts.snap
  packages/@expo/config-plugins/src/plugins/withAndroidBaseMods.ts
  templates/expo-template-bare-minimum/android/app/src/main/AndroidManifest.xml
Labels: bot: passed checks

#32773 [video-thumbnails] Don't run generation on main thread
  packages/expo-video-thumbnails/CHANGELOG.md
  packages/expo-video-thumbnails/ios/VideoThumbnailsModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#32780 [expo-sqlite] Export plugin
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#32783 [core] Add `@DoNotStrip` annotation to `Either` types
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/Either.kt
Labels: bot: passed checks, bot: fingerprint changed

#32777 [docs] add expo/fetch api doc
  docs/pages/versions/unversioned/sdk/expo.mdx
  docs/pages/versions/v52.0.0/sdk/expo.mdx
Labels: bot: passed checks

#32763 chore: rename server actions to server functions
  docs/pages/guides/dom-components.mdx
  docs/pages/guides/server-components.mdx
  docs/pages/guides/testing-rsc.mdx
Labels: bot: passed checks

#32790 fix(cli): throw error when importing native module on web.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/metroErrors.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32785 fix(cli): move experimental no `react-native-web` mode to feature flag
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/web/WebSupportProjectPrerequisite.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32602 feat(cli): add `npx expo serve` command
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/bin/cli.ts
  packages/@expo/cli/e2e/__tests__/index-test.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/e2e/utils/command-instance.ts
  packages/@expo/cli/src/serve/index.ts
  packages/@expo/cli/src/serve/serveAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32776 [splashscreen] Vary android styles depending on config
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashMainActivity.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashMainActivity.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashMainActivity.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashScreen.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashScreen.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreen.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreen.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashMainActivity.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashScreen.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreen.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32733 fix(cli): add iPad as usbmux platform to os type
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/appleDevice/AppleDevice.ts
Labels: bot: passed checks

#32801 [docs] Update native modules tutorial
  docs/pages/modules/native-module-tutorial.mdx
Labels: bot: passed checks, preview

#32804 [docs] Move React Compiler guide out of Preview
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/guides/react-compiler.mdx
Labels: bot: passed checks

#32815 [docs] Remove unnecessary await in Splash Screen docs
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
Labels: bot: passed checks
