Repository expo/expo, pull requests merged in 2024-05, with the labels that each got.

#28535 [docs] add auto-submit info to GH builds guide
  docs/pages/build/building-from-github.mdx
  docs/public/static/images/eas-build/build-from-github/auto-submit-trigger-column.png
  docs/public/static/images/eas-build/build-from-github/eas-submit-form-fields.png
  docs/public/static/images/eas-build/build-from-github/edit-trigger-option.png
Labels: bot: passed checks

#28390 [video][android] Add support for setting now playing title and visibility
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/ExpoVideoPlaybackService.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/VideoMetadata.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/VideoSource.kt
Labels: bot: passed checks, bot: fingerprint changed

#28426 [video] Fix issues with the event system
  packages/expo-video/android/src/main/java/expo/modules/video/records/VolumeEvent.kt
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/ios/VideoPlayerObserver.swift
Labels: bot: suggestions, bot: fingerprint changed

#28453 [video][android] Improve audio focus management
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoExceptions.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayerAudioFocusManager.kt
Labels: bot: passed checks, bot: fingerprint changed

#28551 [video] Fix some types and improve doc comments
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v51.0.0/expo-video.json
  packages/expo-video/build/NativeVideoModule.d.ts
  packages/expo-video/build/NativeVideoModule.d.ts.map
  packages/expo-video/build/NativeVideoModule.js
  packages/expo-video/build/NativeVideoModule.js.map
  packages/expo-video/build/VideoPlayer.d.ts
  packages/expo-video/build/VideoPlayer.d.ts.map
  packages/expo-video/build/VideoPlayer.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/VideoView.d.ts
  packages/expo-video/build/VideoView.d.ts.map
  packages/expo-video/build/VideoView.js.map
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/build/VideoView.web.d.ts
  packages/expo-video/build/VideoView.web.d.ts.map
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/src/NativeVideoModule.ts
  packages/expo-video/src/VideoPlayer.tsx
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/VideoView.tsx
  packages/expo-video/src/VideoView.types.ts
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: suggestions, preview, bot: fingerprint compatible

#28555 [core][Android] Fix `field operation on NULL object` when reloading
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.h
Labels: bot: suggestions, bot: fingerprint changed

#28557 [expo][Android] Fix some Kotlin warnings
  packages/expo-av/android/src/main/java/expo/modules/av/AVModule.kt
  packages/expo-blur/android/src/main/java/expo/modules/blur/ExpoBlurView.kt
  packages/expo-calendar/android/src/main/java/expo/modules/calendar/CalendarModule.kt
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardFileProvider.kt
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardImage.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/models/BaseModel.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/models/DateModel.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuAppInfo.kt
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/FileUtils.kt
  packages/expo-image-manipulator/android/src/main/java/expo/modules/imagemanipulator/ManipulationArguments.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/MediaHandler.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationPackage.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/core/utilities/EmulatorUtilities.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AndroidExtensions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/Promise.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/ActivityResultsManager.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/AppContextActivityResultRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/activityresult/DataPersistor.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/ExpoRequestCdpInterceptor.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/devtools/cdp/CdpNetworkTypes.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CommonExceptions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/Either.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/NavigationBarModule.kt
  packages/expo-navigation-bar/android/src/main/java/expo/modules/navigationbar/singletons/NavigationBar.kt
  packages/expo-screen-orientation/android/src/main/java/expo/modules/screenorientation/ScreenOrientationModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/PedometerModule.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenPackage.kt
  packages/expo-splash-screen/android/src/main/java/expo/modules/splashscreen/SplashScreenReactActivityLifecycleListener.kt
  packages/expo-system-ui/android/src/main/java/expo/modules/systemui/SystemUIPackage.kt
  packages/expo-system-ui/android/src/main/java/expo/modules/systemui/SystemUIReactActivityLifecycleListener.kt
Labels: bot: suggestions, bot: fingerprint changed

#28484 [doctor] check if native files in local Expo modules are being ignored
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/ProjectSetupCheck.ts
  packages/expo-doctor/src/checks/__tests__/ProjectSetupCheck.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28563 [doctor] Don't match on stderr prefix on deep dep check
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/utils/explainDependencies.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28566 [expo-go][ios] Add privacy info
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/PrivacyInfo.xcprivacy
Labels: bot: passed checks

#28568 [docs] Only jump to anchor when pressing the anchor button
  docs/components/plugins/__snapshots__/AppConfigSchemaPropertiesTable.test.tsx.snap
  docs/ui/components/Collapsible/index.tsx
Labels: bot: passed checks

#28561 [expo] Upgrade `react-native-reanimated` to `3.10.0`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#28549 [dev-menu] Fix Menu background color in dark mode
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuViewController.swift
Labels: bot: passed checks, bot: fingerprint changed

#28578 [dev-menu] fix broken DevMenuExtension functionalities
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuExtensionInterface.kt
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuManagerInterface.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/extensions/DevMenuExtension.kt
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: passed checks, bot: fingerprint changed

#28546 [updates] support default non-specified entryFile in gradle plugin
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
Labels: bot: passed checks, bot: fingerprint compatible

#27971 [docs] Add a progress tracker for EAS Tutorial
  docs/pages/_app.tsx
  docs/pages/tutorial/eas/android-development-build.mdx
  docs/pages/tutorial/eas/android-production-build.mdx
  docs/pages/tutorial/eas/configure-development-build.mdx
  docs/pages/tutorial/eas/internal-distribution-builds.mdx
  docs/pages/tutorial/eas/introduction.mdx
  docs/pages/tutorial/eas/ios-development-build-for-devices.mdx
  docs/pages/tutorial/eas/ios-development-build-for-simulators.mdx
  docs/pages/tutorial/eas/ios-production-build.mdx
  docs/pages/tutorial/eas/manage-app-versions.mdx
  docs/pages/tutorial/eas/multiple-app-variants.mdx
  docs/pages/tutorial/eas/team-development.mdx
  docs/pages/tutorial/eas/using-github.mdx
  docs/providers/Analytics.tsx
  docs/providers/TutorialChapterCompletionProvider.tsx
  docs/ui/components/ProgressTracker/CircularProgressBar.tsx
  docs/ui/components/ProgressTracker/SuccessCheckmark.tsx
  docs/ui/components/ProgressTracker/TutorialData.ts
  docs/ui/components/ProgressTracker/index.tsx
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks, preview

#28577 [expo-store-review][ios] fix incorrect currentscene when multiple windowscenes opened
  packages/expo-store-review/CHANGELOG.md
  packages/expo-store-review/ios/StoreReviewModule.swift
Labels: bot: passed checks

#28570 [docs] Added Google Workspace to the supported identity providers
  docs/pages/accounts/sso.mdx
Labels: bot: passed checks

#28582 [expo-go] Improve error messaging with snack
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/exceptions/ManifestException.kt
  apps/expo-go/ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
  apps/expo-go/ios/Exponent/Kernel/Views/EXErrorView.xib
Labels: bot: passed checks

#28586 [go] fix NPE from ExpoNetworkInterceptor
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExpoNetworkInterceptor.kt
Labels: bot: passed checks

#28400 [core] add reloadAppAsync support
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/ExpoCoreModuleScreen.tsx
  docs/public/static/data/unversioned/expo-updates.json
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/CoreModule.kt
  packages/expo-modules-core/build/index.d.ts
  packages/expo-modules-core/build/index.d.ts.map
  packages/expo-modules-core/build/index.js
  packages/expo-modules-core/build/index.js.map
  packages/expo-modules-core/build/reload.d.ts
  packages/expo-modules-core/build/reload.d.ts.map
  packages/expo-modules-core/build/reload.js
  packages/expo-modules-core/build/reload.js.map
  packages/expo-modules-core/build/ts-declarations/global.d.ts
  packages/expo-modules-core/build/ts-declarations/global.d.ts.map
  packages/expo-modules-core/build/ts-declarations/global.js.map
  packages/expo-modules-core/build/web/CoreModule.js
  packages/expo-modules-core/build/web/CoreModule.js.map
  packages/expo-modules-core/ios/Core/Modules/CoreModule.swift
  packages/expo-modules-core/src/index.ts
  packages/expo-modules-core/src/reload.ts
  packages/expo-modules-core/src/ts-declarations/global.ts
  packages/expo-modules-core/src/web/CoreModule.ts
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
  packages/expo/CHANGELOG.md
  packages/expo/android/proguard-rules.pro
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.d.ts.map
  packages/expo/build/Expo.js
  packages/expo/build/Expo.js.map
  packages/expo/src/Expo.ts
Labels: bot: suggestions, bot: fingerprint changed

#28590 chore(expo-auth-session): Drop deprecated `expoClientId` field from auth proxy.
  apps/native-component-list/src/screens/AuthSession/AuthSessionScreen.tsx
  docs/pages/guides/authentication.mdx
  docs/public/static/data/unversioned/expo-auth-session.json
  docs/public/static/data/v51.0.0/expo-auth-session.json
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/providers/Facebook.d.ts
  packages/expo-auth-session/build/providers/Facebook.d.ts.map
  packages/expo-auth-session/build/providers/Facebook.js
  packages/expo-auth-session/build/providers/Facebook.js.map
  packages/expo-auth-session/build/providers/Google.d.ts
  packages/expo-auth-session/build/providers/Google.d.ts.map
  packages/expo-auth-session/build/providers/Google.js
  packages/expo-auth-session/build/providers/Google.js.map
  packages/expo-auth-session/src/providers/Facebook.ts
  packages/expo-auth-session/src/providers/Google.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28589 [dev-menu] Fix DevMenu showing up before the app is loaded when using the new architecture.
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuManager.swift
Labels: bot: passed checks, bot: fingerprint changed

#28591 Bump screens, rngh, and skia
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/expo-go/src/components/Views.tsx
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/GestureHandlerSwipeableScreen.tsx
  apps/native-component-list/src/screens/Reanimated/ReanimatedSwipeable.tsx
  apps/test-suite/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#28595 [fabric-tester] Disable privacy file aggregation on iOS
  apps/fabric-tester/ios/Podfile
Labels: bot: passed checks

#28599 [expo-splash-screen] No-op when native module is not installed
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/build/index.native.d.ts.map
  packages/expo-splash-screen/build/index.native.js
  packages/expo-splash-screen/build/index.native.js.map
  packages/expo-splash-screen/src/index.native.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28601 [android] Fix core tests
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptFunctionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptObjectTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptRuntimeTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptValueTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#28594 [docs] remove GitHub builds feature preview disclaimer
  docs/pages/build/building-from-github.mdx
Labels: bot: passed checks

#28606 [dev-menu][iOS] Fix JS Debugger not detecting correct engine in new arch
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/EXDevMenuAppInfo.m
Labels: bot: suggestions, bot: fingerprint changed

#28604 [asset] support android release resources
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/android/src/main/java/expo/modules/asset/AssetModule.kt
  packages/expo-asset/android/src/main/java/expo/modules/asset/ResourceAsset.kt
  packages/expo-asset/build/Asset.d.ts.map
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/src/Asset.ts
Labels: bot: passed checks, bot: fingerprint changed

#28607 [dev-menu] fix crash on release build
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/release/java/expo/modules/devmenu/DevMenuManager.kt
Labels: bot: passed checks, bot: fingerprint changed

#28451 [core] fix use_frameworks with new arch
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ExpoModulesCore.podspec
Labels: bot: passed checks, bot: fingerprint compatible

#28609 [image][android] add support for animated AVIFs
  docs/pages/versions/unversioned/sdk/image.mdx
  docs/pages/versions/v51.0.0/sdk/image.mdx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/build.gradle
Labels: bot: passed checks

#28611 [updates] fix e2e errors on ios
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/setup/project.ts
  packages/expo-updates/ios/EXUpdates.podspec
Labels: bot: passed checks, bot: fingerprint compatible

#28584 [docs] Fix multiple formatting issues and outdated links
  docs/pages/additional-resources/index.mdx
  docs/pages/build-reference/ios-capabilities.mdx
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/new-architecture.mdx
  docs/pages/guides/using-firebase.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/router/migrate/from-expo-webpack.mdx
  docs/pages/router/migrate/from-react-navigation.mdx
  docs/pages/router/navigating-pages.mdx
  docs/pages/versions/unversioned/sdk/asset.mdx
  docs/pages/versions/unversioned/sdk/screen-orientation.mdx
  docs/pages/versions/v48.0.0/sdk/screen-orientation.mdx
  docs/pages/versions/v49.0.0/sdk/screen-orientation.mdx
  docs/pages/versions/v50.0.0/sdk/screen-orientation.mdx
  docs/pages/versions/v51.0.0/sdk/asset.mdx
  docs/pages/versions/v51.0.0/sdk/screen-orientation.mdx
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
Labels: bot: passed checks

#28608 [ios][image] Fix avif images not rendering
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ExpoImage.podspec
Labels: bot: passed checks, bot: fingerprint changed

#28617 [dev-menu][iOS] Fix reloading app through "r" hotkey
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/Modules/DevMenuExtensions.swift
Labels: bot: passed checks, bot: fingerprint changed

#28619 [expo-go] Remove unused queries and overfetched fields
  apps/expo-go/graphql.schema.json
  apps/expo-go/src/graphql/queries/ProfileDataQuery.query.graphql
  apps/expo-go/src/graphql/queries/ProfileProjectsQuery.query.graphql
  apps/expo-go/src/graphql/queries/ProfileSnacksQuery.query.graphql
  apps/expo-go/src/graphql/types.ts
  apps/expo-go/src/screens/HomeScreen/HomeScreenData.query.graphql
Labels: bot: passed checks

#28588 [docs] show "Unversioned" API version in PR previews
  .github/workflows/docs-pr-deploy.yml
  docs/constants/versions.js
  docs/package.json
  docs/scripts/generate-static-resources.js
Labels: bot: passed checks, preview

#28620 [core][Android] Make `defaultAppContextMock` private
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptFunctionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptObjectTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptRuntimeTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptValueTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#28616 [iOS] Make it easier to use the new architecture in bare-expo
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
Labels: bot: passed checks, bot: fingerprint changed

#28615 [docs] Improve example in Use Bun guide
  docs/pages/guides/using-bun.mdx
Labels: bot: passed checks

#28612 [docs] Fix `zulu` installation command for SDK 49 and below
  docs/pages/guides/local-app-development.mdx
Labels: bot: passed checks

#28627 [device][Android] Replace deprecated method to get rotation
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#28628 [video][Android] Remove Kotlin warnings
  packages/expo-video/android/src/main/java/expo/modules/video/FullscreenPlayerActivity.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayerAudioFocusManager.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/android/src/main/java/expo/modules/video/drawing/OutlineProvider.kt
Labels: bot: suggestions, bot: fingerprint changed

#28626 [core][Android] Add the method name to unexpected exception
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
Labels: bot: suggestions, bot: fingerprint changed

#28629 [core][Android] Remove Kotlin warnings
  packages/expo-image/android/src/main/java/expo/modules/image/ImageViewWrapperTarget.kt
  packages/expo-image/android/src/main/java/expo/modules/image/drawing/OutlineProvider.kt
  packages/expo-image/android/src/main/java/expo/modules/image/thumbhash/ThumbhashDecoder.kt
Labels: bot: suggestions, bot: fingerprint changed

#28129 Add additional config flag to allow forcing RTL on LTR locales
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/utils/TextDirectionController.kt
  apps/expo-go/ios/Exponent/Kernel/Views/EXAppViewController.m
  apps/expo-go/ios/Exponent/Kernel/Views/EXTextDirectionController.swift
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/res/values/strings.xml
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/plugin/build/withExpoLocalization.d.ts
  packages/expo-localization/plugin/build/withExpoLocalization.js
  packages/expo-localization/plugin/src/withExpoLocalization.ts
  packages/expo-manifests/ios/EXManifests/Manifest.swift
Labels: bot: suggestions, bot: fingerprint changed

#28638 feature(expo-build-properties): add `ios.ccacheEnabled` option to enable c++ compiler cache
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/ios.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/ios.ts
  packages/expo-build-properties/src/pluginConfig.ts
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks, bot: fingerprint compatible

#28646 [build-properties] Add field to enable/disable privacy manifest aggregation
  docs/public/static/data/unversioned/expo-build-properties.json
  docs/public/static/data/v51.0.0/expo-build-properties.json
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/ios.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-localization/plugin/build/withExpoLocalization.d.ts
  packages/expo-localization/plugin/build/withExpoLocalization.js
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: suggestions

#28648 Fix TV compile CI
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#28634 [docs] Remove incorrect usage of `launch` function
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#28623 [video] Clean up types and export the VideoPlayer class
  docs/public/static/data/unversioned/expo-video.json
  docs/public/static/data/v51.0.0/expo-video.json
  packages/expo-video/build/NativeVideoModule.d.ts
  packages/expo-video/build/NativeVideoModule.d.ts.map
  packages/expo-video/build/NativeVideoModule.js.map
  packages/expo-video/build/VideoPlayer.d.ts
  packages/expo-video/build/VideoPlayer.d.ts.map
  packages/expo-video/build/VideoPlayer.js
  packages/expo-video/build/VideoPlayer.js.map
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/build/VideoView.d.ts.map
  packages/expo-video/build/VideoView.js.map
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/build/VideoView.web.d.ts
  packages/expo-video/build/VideoView.web.d.ts.map
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/build/index.d.ts
  packages/expo-video/build/index.d.ts.map
  packages/expo-video/build/index.js
  packages/expo-video/build/index.js.map
  packages/expo-video/src/NativeVideoModule.ts
  packages/expo-video/src/VideoPlayer.tsx
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
  packages/expo-video/src/VideoView.tsx
  packages/expo-video/src/VideoView.types.ts
  packages/expo-video/src/VideoView.web.tsx
  packages/expo-video/src/index.ts
Labels: bot: suggestions, preview, bot: fingerprint compatible

#28650 [camera] Support toggling `autoFocus` on and off
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v51.0.0/expo-camera.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/records/CameraRecords.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/utils/props.d.ts.map
  packages/expo-camera/build/utils/props.js
  packages/expo-camera/build/utils/props.js.map
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Current/CameraEnums.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/ios/Legacy/CameraEnumsLegacy.swift
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/utils/props.ts
Labels: bot: passed checks, bot: fingerprint changed

#28613 docs: drop additional references to `expo-cli` from docs
  docs/README.md
  docs/pages/troubleshooting/react-native-version-mismatch.mdx
Labels: bot: passed checks

#28457 [docs] Update Upgrade Expo SDK
  docs/pages/get-started/expo-go.mdx
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#28504 [docs] Update outdated info in Expo SDK libraries section
  docs/pages/workflow/using-libraries.mdx
  docs/public/static/images/guides/platform-tags.png
Labels: bot: passed checks

#28642 [cli] Filter out unavailable connected devices
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/appleDevice/AppleDevice.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28630 [docs] Update ESLint guide to include info on `npx expo lint`
  docs/pages/guides/using-eslint.mdx
Labels: bot: passed checks, preview

#28660 [docs] Fix internal links after for new Get Started section and other minor fixes
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/config-plugins/plugins-and-mods.mdx
  docs/pages/core-concepts.mdx
  docs/pages/develop/development-builds/introduction.mdx
  docs/pages/faq.mdx
  docs/pages/get-started/introduction.mdx
  docs/pages/guides/using-firebase.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/preview/dev-process-overview.mdx
  docs/pages/router/installation.mdx
  docs/pages/tutorial/create-your-first-app.mdx
  docs/pages/versions/unversioned/sdk/captureRef.mdx
  docs/pages/versions/unversioned/sdk/flash-list.mdx
  docs/pages/versions/unversioned/sdk/lottie.mdx
  docs/pages/versions/unversioned/sdk/map-view.mdx
  docs/pages/versions/unversioned/sdk/picker.mdx
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/unversioned/sdk/safe-area-context.mdx
  docs/pages/versions/unversioned/sdk/skia.mdx
  docs/pages/versions/unversioned/sdk/slider.mdx
  docs/pages/versions/unversioned/sdk/svg.mdx
  docs/pages/versions/unversioned/sdk/view-pager.mdx
  docs/pages/versions/v48.0.0/sdk/svg.mdx
  docs/pages/versions/v48.0.0/sdk/view-pager.mdx
  docs/pages/versions/v49.0.0/sdk/captureRef.mdx
  docs/pages/versions/v49.0.0/sdk/flash-list.mdx
  docs/pages/versions/v49.0.0/sdk/lottie.mdx
  docs/pages/versions/v49.0.0/sdk/map-view.mdx
  docs/pages/versions/v49.0.0/sdk/picker.mdx
  docs/pages/versions/v49.0.0/sdk/reanimated.mdx
  docs/pages/versions/v49.0.0/sdk/safe-area-context.mdx
  docs/pages/versions/v49.0.0/sdk/skia.mdx
  docs/pages/versions/v49.0.0/sdk/slider.mdx
  docs/pages/versions/v49.0.0/sdk/svg.mdx
  docs/pages/versions/v49.0.0/sdk/view-pager.mdx
  docs/pages/versions/v50.0.0/sdk/captureRef.mdx
  docs/pages/versions/v50.0.0/sdk/flash-list.mdx
  docs/pages/versions/v50.0.0/sdk/lottie.mdx
  docs/pages/versions/v50.0.0/sdk/map-view.mdx
  docs/pages/versions/v50.0.0/sdk/picker.mdx
  docs/pages/versions/v50.0.0/sdk/reanimated.mdx
  docs/pages/versions/v50.0.0/sdk/safe-area-context.mdx
  docs/pages/versions/v50.0.0/sdk/skia.mdx
  docs/pages/versions/v50.0.0/sdk/slider.mdx
  docs/pages/versions/v50.0.0/sdk/svg.mdx
  docs/pages/versions/v50.0.0/sdk/view-pager.mdx
  docs/pages/versions/v51.0.0/sdk/captureRef.mdx
  docs/pages/versions/v51.0.0/sdk/flash-list.mdx
  docs/pages/versions/v51.0.0/sdk/lottie.mdx
  docs/pages/versions/v51.0.0/sdk/map-view.mdx
  docs/pages/versions/v51.0.0/sdk/picker.mdx
  docs/pages/versions/v51.0.0/sdk/reanimated.mdx
  docs/pages/versions/v51.0.0/sdk/safe-area-context.mdx
  docs/pages/versions/v51.0.0/sdk/skia.mdx
  docs/pages/versions/v51.0.0/sdk/slider.mdx
  docs/pages/versions/v51.0.0/sdk/svg.mdx
  docs/pages/versions/v51.0.0/sdk/view-pager.mdx
  docs/pages/workflow/overview.mdx
Labels: bot: passed checks

#28664 [dev-launcher][dev-menu] Fix DevMenu getting unresponsive after reloading bundle on iOS
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevClientRootViewFactory.mm
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-dev-menu/ios/DevMenuRCTBridge.h
  packages/expo-dev-menu/ios/Modules/DevMenuExtensions.swift
  packages/expo-dev-menu/ios/Tests/DevMenuAppInstanceTest.swift
Labels: bot: passed checks, bot: fingerprint changed

#28661 [docs] Add "USB" to Vale's heading case rule
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
Labels: bot: passed checks

#28659 Upgrade `react-native-svg` to `15.2.0`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#28663 [docs] Fix installation step's command in Unit testing guide
  docs/pages/develop/unit-testing.mdx
Labels: bot: passed checks

#28675 [docs] Fix expo module .xcframework and .framwork ios dependency configuration example
  docs/pages/modules/third-party-library.mdx
Labels: bot: passed checks

#28674 [camera] Fix scanning ean13 barcodes
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/BarcodeScannerUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#28672 [docs] update EAS Build image tags
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#28665 [router]: fix typed routes crashing on folder move
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/require-context-ponyfill.d.ts
  packages/expo-router/build/testing-library/require-context-ponyfill.d.ts.map
  packages/expo-router/build/testing-library/require-context-ponyfill.js
  packages/expo-router/build/testing-library/require-context-ponyfill.js.map
  packages/expo-router/build/typed-routes/generate.js
  packages/expo-router/build/typed-routes/generate.js.map
  packages/expo-router/build/typed-routes/index.d.ts
  packages/expo-router/build/typed-routes/index.d.ts.map
  packages/expo-router/build/typed-routes/index.js
  packages/expo-router/build/typed-routes/index.js.map
  packages/expo-router/src/__tests__/type-generation.test.node.ts
  packages/expo-router/src/testing-library/require-context-ponyfill.ts
  packages/expo-router/src/typed-routes/generate.ts
  packages/expo-router/src/typed-routes/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28684 [core][Android] Add `onKeyDown` and `onKeyLongPress`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactActivityHandler.java
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
Labels: bot: suggestions, bot: fingerprint changed

#28662 [dev-launcher][updates] fix loading error when no runtimeVersion specified
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactory.kt
  packages/expo-dev-launcher/android/src/test/java/expo/modules/devlauncher/helpers/DevLauncherUpdatesHelperTest.kt
  packages/expo-dev-launcher/android/src/testDebug/java/expo/modules/devlauncher/launcher/loaders/DevLauncherAppLoaderFactoryTest.kt
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/android/src/main/java/expo/modules/updatesinterface/UpdatesInterface.kt
  packages/expo-updates-interface/ios/EXUpdatesInterface/UpdatesExternalInterface.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
Labels: bot: passed checks, bot: fingerprint changed

#28679 [docs] Add a redirect for `/learn` to point towards Tutorial > Introduction page
  docs/common/error-utilities.ts
  docs/deploy.sh
Labels: bot: passed checks

#28688 [templates] Fix get started tutorial link
  templates/expo-template-default/README.md
Labels: bot: passed checks

#28678 [image] Add native unit tests on iOS
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ExpoImage.podspec
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/Tests/ImageResizingSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#28681 [docs] update prettier installation instructions
  docs/pages/guides/using-eslint.mdx
Labels: bot: passed checks

#28677 [screen-orientation] Change var type to non-weak to fix orientation listeners.
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
Labels: bot: passed checks, bot: fingerprint changed

#28699 [router]: fix _layout file with platform extensions registering as a route
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/getRoutes.js
  packages/expo-router/build/getRoutes.js.map
  packages/expo-router/src/__tests__/platform-routes.test.android.tsx
  packages/expo-router/src/__tests__/platform-routes.test.ios.tsx
  packages/expo-router/src/__tests__/platform-routes.test.web.ts
  packages/expo-router/src/getRoutes.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28691 [dev-launcher] fix https dev server support
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/main/java/com/facebook/react/devsupport/DevLauncherDevServerHelper.kt
Labels: bot: passed checks, bot: fingerprint changed

#28700 Fix typo
  docs/pages/guides/new-architecture.mdx
Labels: bot: passed checks

#28714 [calendar] Workaround iOS 15 bug
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/Conversions/Conversions.swift
  packages/expo-calendar/ios/Conversions/EnumConversions.swift
Labels: bot: passed checks, bot: fingerprint changed

#28716 [av][android] Fix events not working
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/AVManager.java
  packages/expo-av/android/src/main/java/expo/modules/av/AVManagerInterface.java
  packages/expo-av/android/src/main/java/expo/modules/av/AVModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#28702 [dev-launcher][dev-menu] fix use_frameworks build errors
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher.podspec
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/expo-dev-menu.podspec
Labels: bot: passed checks, bot: fingerprint changed

#28721 [expo-speech] Fix listenerCount error.
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/build/ExponentSpeech.web.d.ts.map
  packages/expo-speech/build/ExponentSpeech.web.js
  packages/expo-speech/build/ExponentSpeech.web.js.map
  packages/expo-speech/src/Speech/ExponentSpeech.web.ts
Labels: bot: suggestions, bot: fingerprint compatible

#28706 [template-default] fix project reset on Windows
  templates/expo-template-default/package.json
Labels: bot: passed checks

#28725 Bump expo-updates-interface dependency version
  packages/expo-dev-client/package.json
  packages/expo-updates/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#28692 [cli] Fix HTTPS tunneling for usernames with dot
  apps/fabric-tester/ios/fabrictester/PrivacyInfo.xcprivacy
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/AsyncNgrok.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28724 fix: [expo-router][iOS] - Sitemap crashes App when UIViewControllerBasedStatusBarAppearance is set to YES
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/utils/statusbar.d.ts
  packages/expo-router/build/utils/statusbar.d.ts.map
  packages/expo-router/build/utils/statusbar.js
  packages/expo-router/build/utils/statusbar.js.map
  packages/expo-router/build/views/Sitemap.d.ts.map
  packages/expo-router/build/views/Sitemap.js
  packages/expo-router/build/views/Sitemap.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/utils/statusbar.ts
  packages/expo-router/src/views/Sitemap.tsx
Labels: bot: passed checks

#28717 [go] Fix a typo in the incompatible Expo Go version screen
  apps/expo-go/ios/Exponent/Kernel/AppLoader/CachedResource/EXManifestResource.m
Labels: bot: passed checks

#28735 fix(cli): export process exit
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28749 [camera] Fix maxDuration
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks, bot: fingerprint changed

#28331 [docs] Add Assets guide to Home
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/develop/user-interface/assets.mdx
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/eas-update/optimize-assets.mdx
  docs/pages/guides/assets.mdx
  docs/pages/guides/customizing-metro.mdx
Labels: bot: passed checks, preview

#28647 [docs] Add a usage section to link to Assets guide
  docs/pages/versions/unversioned/sdk/asset.mdx
  docs/pages/versions/v51.0.0/sdk/asset.mdx
Labels: bot: passed checks

#28747 [iOS][font] Fix some vector icons using incorrect fonts
  apps/native-component-list/src/screens/FontScreen.tsx
  packages/expo-font/CHANGELOG.md
  packages/expo-font/ios/FontFamilyAliasManager.swift
  packages/expo-font/ios/UIFont+FontFamilyAlias.swift
Labels: bot: passed checks, bot: fingerprint changed

#28752 [docs] Fix callout in Background Location methods section and other minor fixes
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/unversioned/sdk/task-manager.mdx
  docs/pages/versions/v49.0.0/sdk/location.mdx
  docs/pages/versions/v49.0.0/sdk/task-manager.mdx
  docs/pages/versions/v50.0.0/sdk/location.mdx
  docs/pages/versions/v50.0.0/sdk/task-manager.mdx
  docs/pages/versions/v51.0.0/sdk/location.mdx
  docs/pages/versions/v51.0.0/sdk/task-manager.mdx
Labels: bot: passed checks

#28750 [docs] Fix verbiage in Manage different app versions
  docs/pages/tutorial/eas/manage-app-versions.mdx
Labels: bot: passed checks

#28465 [docs] add back ASC Api Key instructions for `eas build` CI
  docs/pages/build/building-on-ci.mdx
Labels: bot: passed checks, preview

#28760 [camera] Remove unused property
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v51.0.0/expo-camera.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/records/CameraRecords.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/ios/Current/BarcodeRecord.swift
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#28777 [image-manipulator] Fix handling urls from the photo library
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulatorModule.swift
  packages/expo-image-manipulator/ios/ImageManipulatorUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#28783 [camera] Fix dead frames on initial mode switch
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#28793 Fix datetimepicker version in bundledNativeModules
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks, bot: fingerprint changed

#28795 Fix typo
  packages/expo-image-manipulator/ios/ImageManipulatorModule.swift
  packages/expo-image-manipulator/ios/ImageManipulatorUtils.swift
Labels: bot: suggestions, bot: fingerprint changed

#28761 [iOS|Android|Web][Sensors] Add timestamp to relevant sensor events.
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/AccelerometerModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/BarometerModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/GyroscopeModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/LightSensorModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/MagnetometerModule.kt
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/MagnetometerUncalibratedModule.kt
  packages/expo-sensors/build/Accelerometer.d.ts
  packages/expo-sensors/build/Accelerometer.d.ts.map
  packages/expo-sensors/build/Accelerometer.js.map
  packages/expo-sensors/build/Barometer.d.ts
  packages/expo-sensors/build/Barometer.d.ts.map
  packages/expo-sensors/build/Barometer.js.map
  packages/expo-sensors/build/DeviceMotion.d.ts
  packages/expo-sensors/build/DeviceMotion.d.ts.map
  packages/expo-sensors/build/DeviceMotion.js.map
  packages/expo-sensors/build/ExponentAccelerometer.web.d.ts
  packages/expo-sensors/build/ExponentAccelerometer.web.d.ts.map
  packages/expo-sensors/build/ExponentAccelerometer.web.js
  packages/expo-sensors/build/ExponentAccelerometer.web.js.map
  packages/expo-sensors/build/ExponentDeviceMotion.web.d.ts.map
  packages/expo-sensors/build/ExponentDeviceMotion.web.js
  packages/expo-sensors/build/ExponentDeviceMotion.web.js.map
  packages/expo-sensors/build/ExponentGyroscope.web.d.ts.map
  packages/expo-sensors/build/ExponentGyroscope.web.js
  packages/expo-sensors/build/ExponentGyroscope.web.js.map
  packages/expo-sensors/build/Gyroscope.d.ts
  packages/expo-sensors/build/Gyroscope.d.ts.map
  packages/expo-sensors/build/Gyroscope.js.map
  packages/expo-sensors/build/LightSensor.d.ts
  packages/expo-sensors/build/LightSensor.d.ts.map
  packages/expo-sensors/build/LightSensor.js.map
  packages/expo-sensors/build/Magnetometer.d.ts
  packages/expo-sensors/build/Magnetometer.d.ts.map
  packages/expo-sensors/build/Magnetometer.js.map
  packages/expo-sensors/build/MagnetometerUncalibrated.d.ts
  packages/expo-sensors/build/MagnetometerUncalibrated.d.ts.map
  packages/expo-sensors/build/MagnetometerUncalibrated.js.map
  packages/expo-sensors/ios/AccelerometerModule.swift
  packages/expo-sensors/ios/BarometerModule.swift
  packages/expo-sensors/ios/DeviceMotionModule.swift
  packages/expo-sensors/ios/GyroscopeModule.swift
  packages/expo-sensors/ios/MagnetometerModule.swift
  packages/expo-sensors/ios/MagnetometerUncalibratedModule.swift
  packages/expo-sensors/src/Accelerometer.ts
  packages/expo-sensors/src/Barometer.ts
  packages/expo-sensors/src/DeviceMotion.ts
  packages/expo-sensors/src/ExponentAccelerometer.web.ts
  packages/expo-sensors/src/ExponentDeviceMotion.web.ts
  packages/expo-sensors/src/ExponentGyroscope.web.ts
  packages/expo-sensors/src/Gyroscope.ts
  packages/expo-sensors/src/LightSensor.ts
  packages/expo-sensors/src/Magnetometer.ts
  packages/expo-sensors/src/MagnetometerUncalibrated.ts
  packages/expo-sensors/src/__tests__/Accelerometer-test.ios.ts
  packages/expo-sensors/src/__tests__/DeviceMotion-test.ios.ts
  packages/expo-sensors/src/__tests__/Gyroscope-test.ios.ts
  packages/expo-sensors/src/__tests__/Magnetometer-test.native.ts
Labels: bot: passed checks

#28673 Bring back local create-expo-module templates and fix require error.
  packages/create-expo-module/build/create-expo-module.js
  packages/create-expo-module/build/create-expo-module.js.map
  packages/create-expo-module/src/create-expo-module.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28413 docs(config-plugins): add `mods.ios.podfile` and `withPodfile` docs
  docs/pages/config-plugins/plugins-and-mods.mdx
Labels: bot: passed checks

#28786 fix(babel-preset-expo): Fix replacement of `__DEV__` in export statement.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/define-plugin.js
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
  packages/babel-preset-expo/src/define-plugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28806 [expo-updates][android] Upgrade room to fix building on windows
  packages/expo-updates/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#28790 [docs] Update TV docs for SDK 51 (including Expo Router support)
  docs/pages/guides/building-for-tv.mdx
Labels: bot: passed checks, preview

#28802 fix(cli): add `iPhone` as usbmux platform to os type
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/appleDevice/AppleDevice.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28814 [expo-updates][e2e] Attempt to fix nonderministic compilation error
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#28822 [docs] correct npx to npm when running `reset-project`
  docs/pages/get-started/next-steps.mdx
Labels: bot: passed checks

#28801 fix(cli): exit `findUp` methods if parent dir equals current dir
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/findUp.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28778 fix(cli): avoid adding `<project>/node_modules` as additional watch folder
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28803 [ncl] Set up nested navigation for expo-modules-core examples
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/navigation/MainNavigators.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  apps/native-component-list/src/screens/ModulesCore/CoreModuleScreen.tsx
  apps/native-component-list/src/screens/ModulesCore/EventEmitterScreen.tsx
  apps/native-component-list/src/screens/ModulesCore/ExpoModulesScreen.tsx
  apps/native-component-list/src/screens/ModulesCore/ModulesCoreScreen.tsx
  apps/native-component-list/src/types/ScreenConfig.ts
Labels: bot: passed checks

#28827 [workspace] Fix link and remove legacy Twitter reference
  README.md
Labels: bot: passed checks

#28826 [docs] Update compatibility version table in Expo Router installation
  docs/pages/router/installation.mdx
Labels: bot: passed checks

#28782 [docs] Expand on build errors caused by gitignore and typo fix
  docs/pages/build-reference/troubleshooting.mdx
Labels: bot: passed checks

#28833 test(create-expo): replace outdated e2e `App.js` with `app/_layout.tsx` assertion
  packages/create-expo/e2e/__tests__/index-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#28759 fix(cli): wait until Atlas export is ready before exiting export
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/export/exportAsync.ts
  packages/@expo/cli/src/start/server/metro/debugging/AtlasPrerequisite.ts
  packages/@expo/cli/src/start/server/metro/debugging/attachAtlas.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#28832 [screen-orientation][Android] Fix screen orientation change listener not firing
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/build/ScreenOrientation.d.ts.map
  packages/expo-screen-orientation/build/ScreenOrientation.js
  packages/expo-screen-orientation/build/ScreenOrientation.js.map
  packages/expo-screen-orientation/src/ScreenOrientation.ts
Labels: bot: suggestions, bot: fingerprint compatible

#28764 [Web] Fix: expo-modules-core server side error
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/web/index.web.d.ts
  packages/expo-modules-core/build/web/index.web.d.ts.map
  packages/expo-modules-core/build/web/index.web.js
  packages/expo-modules-core/build/web/index.web.js.map
  packages/expo-modules-core/src/web/index.web.ts
Labels: bot: passed checks

#28766 [docs] Update templates for starting the tutorial and an Expo Router app
  docs/pages/get-started/create-a-project.mdx
  docs/pages/router/installation.mdx
  docs/pages/tutorial/follow-up.mdx
Labels: bot: passed checks

#28881 [router] fix deep links from expo.dev QR codes
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/extractPathFromURL.d.ts.map
  packages/expo-router/build/fork/extractPathFromURL.js
  packages/expo-router/build/fork/extractPathFromURL.js.map
  packages/expo-router/src/fork/__tests__/__snapshots__/extractPathFromURL.test.ios.ts.snap.ios
  packages/expo-router/src/fork/__tests__/extractPathFromURL.test.ios.ts
  packages/expo-router/src/fork/extractPathFromURL.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28839 [sensors][android] Fix crash when using `DeviceMotion` module
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#28837 [av][web] Fix should `shouldCorrectPitch` not working on web
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/ExponentAV.web.d.ts.map
  packages/expo-av/build/ExponentAV.web.js
  packages/expo-av/build/ExponentAV.web.js.map
  packages/expo-av/src/ExponentAV.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28884 [keep-awake] Stop useKeepAwake calls deactivating each other by default.
  packages/expo-keep-awake/CHANGELOG.md
  packages/expo-keep-awake/build/index.d.ts
  packages/expo-keep-awake/build/index.d.ts.map
  packages/expo-keep-awake/build/index.js
  packages/expo-keep-awake/build/index.js.map
  packages/expo-keep-awake/src/__tests__/index-test.native.ts
  packages/expo-keep-awake/src/index.ts
Labels: bot: passed checks

#28883 [expo-notifications][Android] Get notification responses when app in background or not running
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/NotificationsPackage.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationManager.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/emitting/NotificationsEmitter.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/interfaces/NotificationListener.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoNotificationLifecycleListener.java
  packages/expo-notifications/build/NotificationsEmitter.d.ts.map
  packages/expo-notifications/build/NotificationsEmitter.js
  packages/expo-notifications/build/NotificationsEmitter.js.map
  packages/expo-notifications/src/NotificationsEmitter.ts
Labels: bot: passed checks, bot: fingerprint changed

#28860 [fingerprint] introduce fingerprint.config.js support
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Config.d.ts
  packages/@expo/fingerprint/build/Config.js
  packages/@expo/fingerprint/build/Config.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/src/Config.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Config-test.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
Labels: bot: passed checks, bot: fingerprint compatible

#28889 [sdk-50] Recommend newer version of datetime picker
  android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/components/datetimepicker/RNTimePickerDialogFragment.java
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  ios/Exponent/Versioned/Core/Api/Components/DateTimePicker/RNDateTimePickerShadowView.h
  ios/Exponent/Versioned/Core/Api/Components/DateTimePicker/RNDateTimePickerShadowView.m
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#28880 [docs] Add explanation about using `--template` option in Get started tutorial
  docs/pages/tutorial/create-your-first-app.mdx
Labels: bot: passed checks

#28897 [image-picker][Android] Add support for granular permissions
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: suggestions, bot: fingerprint changed

#28893 [launcher][Android] Remove unnecessary reload when opening backgrounded app from icon
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
Labels: bot: suggestions, bot: fingerprint changed

#28894 [tools] Assigning SDK tags also on the main branch
  tools/src/ProjectVersions.ts
  tools/src/publish-packages/tasks/assignTagForSdkRelease.ts
Labels: bot: passed checks

#28911 [ios][camera] Prevent crash when rendered on the simulator
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#28914 [workspace] Update blog link
  README.md
Labels: bot: passed checks

#28917 [ios][camera] Correct orientation when taking landscape pictures
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Common/ExpoCameraUtils.swift
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#28922 Update video.mdx
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/pages/versions/v51.0.0/sdk/video.mdx
Labels: bot: passed checks

#28912 [updates] fix fingerprint policy start error on debug build
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
Labels: bot: passed checks, bot: fingerprint changed

#28921 [notifications][iOS] Add support for `interruptionLevel`
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/ios/EXNotifications/Building/EXNotificationBuilder.m
  packages/expo-notifications/ios/EXNotifications/Notifications/EXNotificationSerializer.m
  packages/expo-notifications/src/Notifications.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#28919 fix(cli): parse npm view tarball objects instead of strings
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/npm.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28926 fix(cli): resolve real path of entry file for `export:embed`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28938 [expo-notifications][Android] Ensure response is correctly mapped in useLastNotificationResponse hook
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/NotificationsEmitter.d.ts.map
  packages/expo-notifications/build/NotificationsEmitter.js
  packages/expo-notifications/build/NotificationsEmitter.js.map
  packages/expo-notifications/build/useLastNotificationResponse.d.ts.map
  packages/expo-notifications/build/useLastNotificationResponse.js
  packages/expo-notifications/build/useLastNotificationResponse.js.map
  packages/expo-notifications/build/utils/mapNotificationResponse.d.ts
  packages/expo-notifications/build/utils/mapNotificationResponse.d.ts.map
  packages/expo-notifications/build/utils/mapNotificationResponse.js
  packages/expo-notifications/build/utils/mapNotificationResponse.js.map
  packages/expo-notifications/src/NotificationsEmitter.ts
  packages/expo-notifications/src/useLastNotificationResponse.ts
  packages/expo-notifications/src/utils/mapNotificationResponse.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28712 [fingerprint] support skip app versions from app config
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Config.js
  packages/@expo/fingerprint/build/Config.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/index.d.ts
  packages/@expo/fingerprint/build/index.js
  packages/@expo/fingerprint/build/index.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/sourcer/SourceSkips.d.ts
  packages/@expo/fingerprint/build/sourcer/SourceSkips.js
  packages/@expo/fingerprint/build/sourcer/SourceSkips.js.map
  packages/@expo/fingerprint/package.json
  packages/@expo/fingerprint/src/Config.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Config-test.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/index.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/SourceSkips.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#28932 [camera] fix broken links in JSDoc, add missing type re-export
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/v51.0.0/expo-camera.json
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.d.ts.map
  packages/expo-camera/build/index.js.map
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#28931 [camera][scanner] Set previewLayer on scanner
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/BarcodeScanner.swift
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#28929 [android][camera] Handle displaying landscape images correctly
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks, bot: fingerprint changed

#28936 [dev-launcher][iOS] Prevent React Native Dev Menu from showing up on launcher screen
  apps/fabric-tester/ios/Podfile.lock
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
Labels: bot: passed checks, bot: fingerprint changed

#28923 [docs] Fix Android Sensorlimits in Expo Sensors API reference
  docs/pages/versions/unversioned/sdk/sensors.mdx
  docs/pages/versions/v49.0.0/sdk/sensors.mdx
  docs/pages/versions/v50.0.0/sdk/sensors.mdx
  docs/pages/versions/v51.0.0/sdk/sensors.mdx
Labels: bot: passed checks

#28954 [docs] removed `facebookScheme` from docs since it's not available in SDK 48+
  docs/pages/versions/unversioned/sdk/auth-session.mdx
  docs/pages/versions/v49.0.0/sdk/auth-session.mdx
  docs/pages/versions/v50.0.0/sdk/auth-session.mdx
  docs/pages/versions/v51.0.0/sdk/auth-session.mdx
Labels: bot: passed checks

#28952 [ios] Remove warnings
  packages/expo-camera/ios/Common/CameraPermissionsRequester.swift
  packages/expo-camera/ios/Current/CameraEnums.swift
  packages/expo-camera/ios/Legacy/CameraEnumsLegacy.swift
  packages/expo-camera/ios/Legacy/CameraViewLegacy.swift
  packages/expo-file-system/ios/FileSystemHelpers.swift
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/ios/NetworkingHelpers.swift
  packages/expo-font/ios/FontUtils.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/ios/Loaders/PhotoLibraryAssetLoader.swift
  packages/expo-image/ios/ThumbhashLoader.swift
Labels: bot: suggestions, bot: fingerprint changed

#28955 [docs] fix typo
  docs/pages/debugging/tools.mdx
  docs/pages/guides/authentication.mdx
Labels: bot: passed checks

#28944 [core][Android] Removed unneeded in-between function call when resolving promise without arguments
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/Promise.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaCallback.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/PromiseImpl.kt
Labels: bot: suggestions, bot: fingerprint changed
