Repository expo/expo, pull requests merged in 2024-03, with the labels that each got.

#27285 [router] remove search parameters from screen.getId()
  docs/pages/router/navigating-pages.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/__tests__/getId.test.tsx
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/search-params.test.ios.tsx
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27378 [core] Set bridge on AppContext
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/Core/ExpoBridgeModule.mm
Labels: bot: passed checks, bot: fingerprint changed

#27381 [ios][file-system] Resolve promise manually after copying PHAsset
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemHelpers.swift
Labels: bot: passed checks, bot: fingerprint compatible

#27384 [core][Android] Remove `CookieManagerModule`
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/ReactAdapterPackage.java
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/services/CookieManagerModule.java
Labels: bot: suggestions, bot: fingerprint changed

#27306 [tools] fix nightlies testing
  tools/src/commands/SetupReactNativeNightly.ts
  tools/src/react-native-nightlies/patches/react-native-pager-view.patch
  tools/src/react-native-nightlies/patches/react-native-screens.patch
Labels: bot: passed checks, bot: fingerprint changed

#27372 [docs] Fix typo in Camera API references
  docs/pages/versions/unversioned/sdk/camera-next.mdx
  docs/pages/versions/v50.0.0/sdk/camera-next.mdx
  docs/pages/versions/v50.0.0/sdk/camera.mdx
Labels: bot: passed checks

#27385 [sqlite] add `expo.sqlite.customBuildFlags` property
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/CMakeLists.txt
  packages/expo-sqlite/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#27261 chore(server): update global Node polyfills
  apps/router-e2e/__e2e__/server/app/api/[dynamic]+api.ts
  apps/router-e2e/__e2e__/server/app/api/a/[...spread]+api.tsx
  apps/router-e2e/__e2e__/server/app/api/env-vars+api.ts
  apps/router-e2e/__e2e__/server/app/api/error+api.ts
  apps/router-e2e/__e2e__/server/app/api/externals+api.ts
  apps/router-e2e/__e2e__/server/app/api/json+api.ts
  apps/router-e2e/__e2e__/server/app/api/redirect+api.ts
  apps/router-e2e/__e2e__/server/app/matching-route/alpha+api.ts
  apps/router-e2e/__e2e__/server/app/methods+api.ts
  apps/router-e2e/tsconfig.json
  docs/pages/router/reference/api-routes.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/src/start/server/metro/createServerRouteMiddleware.ts
  packages/@expo/cli/src/start/server/middleware/inspector/LaunchBrowserImplWindows.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/environment.d.ts
  packages/@expo/server/build/environment.js
  packages/@expo/server/build/environment.js.map
  packages/@expo/server/build/index.d.ts
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/build/vendor/express.d.ts
  packages/@expo/server/build/vendor/express.js
  packages/@expo/server/build/vendor/express.js.map
  packages/@expo/server/build/vendor/http.d.ts
  packages/@expo/server/build/vendor/http.js
  packages/@expo/server/build/vendor/http.js.map
  packages/@expo/server/build/vendor/netlify.d.ts
  packages/@expo/server/build/vendor/netlify.js
  packages/@expo/server/build/vendor/netlify.js.map
  packages/@expo/server/build/vendor/vercel.d.ts
  packages/@expo/server/build/vendor/vercel.js
  packages/@expo/server/build/vendor/vercel.js.map
  packages/@expo/server/install.d.ts
  packages/@expo/server/package.json
  packages/@expo/server/src/environment.ts
  packages/@expo/server/src/index.ts
  packages/@expo/server/src/vendor/express.ts
  packages/@expo/server/src/vendor/http.ts
  packages/@expo/server/src/vendor/netlify.ts
  packages/@expo/server/src/vendor/vercel.ts
  packages/@expo/server/tsconfig.json
  packages/expo-router/CHANGELOG.md
  packages/expo-router/server.d.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#27361 [cli] Fix development codesigning certificate validity checks
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/codesigning.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27391 Update variants.mdx
  docs/pages/build-reference/variants.mdx
Labels: bot: passed checks

#27401 Update tabs.mdx
  docs/pages/router/advanced/tabs.mdx
Labels: bot: passed checks

#27402 [docs] Fix some syntax errors in the code snippet
  docs/pages/router/advanced/tabs.mdx
Labels: bot: passed checks

#27393 [core] Implement startObserving and stopObserving in the new EventEmitter class
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/common/cpp/EventEmitter.cpp
  packages/expo-modules-core/common/cpp/EventEmitter.h
  packages/expo-modules-core/ios/Tests/EventEmitterSpec.swift
Labels: bot: passed checks, bot: fingerprint compatible

#27333 [core][iOS] Sending events from shared objects
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObject.swift
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObjectRegistry.swift
  packages/expo-modules-core/ios/Tests/SharedObjectRegistrySpec.swift
  packages/expo-modules-core/ios/Tests/SharedObjectSpec.swift
Labels: bot: passed checks, bot: fingerprint compatible

#27394 [camera] Fix flash prop
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/next/utils/props.d.ts.map
  packages/expo-camera/build/next/utils/props.js
  packages/expo-camera/build/next/utils/props.js.map
  packages/expo-camera/ios/Next/ExpoCameraUtilsNext.swift
  packages/expo-camera/src/next/utils/props.ts
Labels: bot: passed checks, bot: fingerprint changed

#27417 [docs] Fix minor issues in Account types
  docs/pages/accounts/account-types.mdx
Labels: bot: passed checks

#27416 [docs] Update ImageSpotlight to disable slide mode when an image is in full screen mode
  docs/ui/components/LightboxImage/index.tsx
Labels: bot: passed checks

#27387 [expo-updates][cli] Add resolved workflow to debug info
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/utils/build/resolveRuntimeVersionAsync.d.ts
  packages/expo-updates/utils/build/resolveRuntimeVersionAsync.js
  packages/expo-updates/utils/src/__tests__/resolveRuntimeVersionAsync-test.ts
  packages/expo-updates/utils/src/resolveRuntimeVersionAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27390 [fingerprint] Fix inconsistent hashes for autolinking
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/utils/build/createFingerprintAsync.js
  packages/expo-updates/utils/src/createFingerprintAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27141 [fingerprint] Remove runtimeVersion from ignore normalization of expo config when policy
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
Labels: bot: suggestions, bot: fingerprint changed

#27422 [sqlite] add serialize / deserialize
  apps/test-suite/tests/SQLiteNext.ts
  docs/public/static/data/unversioned/expo-sqlite-next.json
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/cpp/NativeDatabaseBinding.cpp
  packages/expo-sqlite/android/src/main/cpp/NativeDatabaseBinding.h
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeDatabaseBinding.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModuleNext.kt
  packages/expo-sqlite/build/next/ExpoSQLiteNext.d.ts
  packages/expo-sqlite/build/next/ExpoSQLiteNext.d.ts.map
  packages/expo-sqlite/build/next/ExpoSQLiteNext.js
  packages/expo-sqlite/build/next/ExpoSQLiteNext.js.map
  packages/expo-sqlite/build/next/NativeDatabase.d.ts
  packages/expo-sqlite/build/next/NativeDatabase.d.ts.map
  packages/expo-sqlite/build/next/NativeDatabase.js.map
  packages/expo-sqlite/build/next/SQLiteDatabase.d.ts
  packages/expo-sqlite/build/next/SQLiteDatabase.d.ts.map
  packages/expo-sqlite/build/next/SQLiteDatabase.js
  packages/expo-sqlite/build/next/SQLiteDatabase.js.map
  packages/expo-sqlite/ios/SQLiteModuleNext.swift
  packages/expo-sqlite/src/next/ExpoSQLiteNext.ts
  packages/expo-sqlite/src/next/NativeDatabase.ts
  packages/expo-sqlite/src/next/SQLiteDatabase.ts
  packages/expo-sqlite/src/next/__mocks__/ExpoSQLiteNext.ts
  packages/expo-sqlite/src/next/__tests__/SQLiteDatabase-test.node.ts
Labels: bot: passed checks, bot: fingerprint changed

#27423 [sqlite] Support import `expo-sqlite/next` from ESM project
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#27431 [docs] Fix typo in `barecodeScannerSettings` example in Camera (Next) in SDK 50 API reference
  docs/public/static/data/v50.0.0/expo-camera-next.json
Labels: bot: passed checks

#27441 [docs] Add env var sharing docs to Custom Builds
  docs/pages/custom-builds/schema.mdx
Labels: bot: passed checks

#27424 [docs] [ENG-11196] Document using Block Kit
  docs/pages/custom-builds/schema.mdx
Labels: bot: passed checks

#27342 Upgrade React Native to 0.74.0-rc.2
  .github/workflows/test-suite.yml
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.kt
  apps/bare-expo/android/build.gradle
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-expo/ios/BareExpo/AppDelegate.mm
  apps/bare-expo/ios/BareExpo/Info.plist
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/src/components/RefreshControl.tsx
  apps/expo-go/src/components/Views.tsx
  apps/fabric-tester/android/app/src/main/java/com/community/fabrictester/MainApplication.kt
  apps/fabric-tester/android/build.gradle
  apps/fabric-tester/android/gradle/wrapper/gradle-wrapper.properties
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  apps/fabric-tester/ios/fabrictester/AppDelegate.mm
  apps/fabric-tester/ios/fabrictester/Info.plist
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile.lock
  package.json
  packages/@expo/cli/src/start/server/metro/debugging/InspectorDevice.ts
  packages/@expo/cli/src/start/server/metro/debugging/InspectorProxy.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/VscodeDebuggerScriptParsed.ts
  packages/@expo/cli/src/start/server/metro/debugging/inspectorHandlers/types.ts
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherControllerTest.swift
  packages/expo-dev-launcher/ios/main.jsbundle
  patches/react-native-reanimated+3.6.0-nightly-20231031-c56d44fd9.patch
  patches/react-native-reanimated+3.6.0.patch
  patches/react-native-safe-area-context+4.8.2.patch
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#27442 [fingerprint] fix ios expo modules not being sourced
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/package.json
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/expo-modules-autolinking/package.json
  packages/expo/package.json
Labels: bot: suggestions, bot: fingerprint changed

#27436 fix(server): fix duplex and tsc issue
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/vendor/express.js
  packages/@expo/server/build/vendor/express.js.map
  packages/@expo/server/build/vendor/http.js
  packages/@expo/server/build/vendor/http.js.map
  packages/@expo/server/build/vendor/netlify.js
  packages/@expo/server/build/vendor/netlify.js.map
  packages/@expo/server/build/vendor/vercel.js
  packages/@expo/server/build/vendor/vercel.js.map
  packages/@expo/server/install.d.ts
  packages/@expo/server/src/vendor/express.ts
  packages/@expo/server/src/vendor/http.ts
  packages/@expo/server/src/vendor/netlify.ts
  packages/@expo/server/src/vendor/vercel.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27435 [media-library] Fix guard condition causing rejections
  packages/expo-media-library/ios/MediaLibraryModule.swift
Labels: bot: suggestions

#27434 [jest-expo] create __REACT_DEVTOOLS_GLOBAL_HOOK__ stub
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: passed checks, bot: fingerprint changed

#27460 [router]: disable <Drawer /> tests due to RN gesture handler failing in Fabric
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#27438 chore(expo-checkbox): convert to function components
  packages/expo-checkbox/CHANGELOG.md
  packages/expo-checkbox/build/Checkbox.types.d.ts
  packages/expo-checkbox/build/Checkbox.types.d.ts.map
  packages/expo-checkbox/build/Checkbox.types.js.map
  packages/expo-checkbox/build/ExpoCheckbox.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.js
  packages/expo-checkbox/build/ExpoCheckbox.js.map
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts
  packages/expo-checkbox/build/ExpoCheckbox.web.d.ts.map
  packages/expo-checkbox/build/ExpoCheckbox.web.js
  packages/expo-checkbox/build/ExpoCheckbox.web.js.map
  packages/expo-checkbox/src/Checkbox.types.ts
  packages/expo-checkbox/src/ExpoCheckbox.tsx
  packages/expo-checkbox/src/ExpoCheckbox.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27459 [router]: refactor matchArrayGroupName to be similar to matchGroupName
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/getRoutes.js
  packages/expo-router/build/getRoutes.js.map
  packages/expo-router/build/matchers.d.ts
  packages/expo-router/build/matchers.d.ts.map
  packages/expo-router/build/matchers.js
  packages/expo-router/build/matchers.js.map
  packages/expo-router/src/__tests__/getRoutes.test.web.ts
  packages/expo-router/src/__tests__/matchers.test.web.ts
  packages/expo-router/src/getRoutes.ts
  packages/expo-router/src/matchers.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27450 [ci] use ubuntu runner to launch android emulator
  .github/actions/cleanup-linux-disk-space/action.yml
  .github/actions/use-android-emulator/action.yml
  .github/workflows/android-instrumentation-tests.yml
  .github/workflows/development-client-e2e.yml
  .github/workflows/development-client-latest-e2e.yml
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
Labels: bot: passed checks

#25696 [ios][contacts] Migrate to Expo Modules
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/test-suite/tests/Contacts.js
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/expo-module.config.json
  packages/expo-contacts/ios/ContactControllerDelegate.swift
  packages/expo-contacts/ios/ContactsExceptions.swift
  packages/expo-contacts/ios/ContactsKey.swift
  packages/expo-contacts/ios/ContactsModule.swift
  packages/expo-contacts/ios/ContactsRecords.swift
  packages/expo-contacts/ios/ContactsRequester.swift
  packages/expo-contacts/ios/ContactsViewController.swift
  packages/expo-contacts/ios/Decoding.swift
  packages/expo-contacts/ios/EXContacts/EXContacts+Serialization.h
  packages/expo-contacts/ios/EXContacts/EXContacts+Serialization.m
  packages/expo-contacts/ios/EXContacts/EXContacts.h
  packages/expo-contacts/ios/EXContacts/EXContacts.m
  packages/expo-contacts/ios/EXContacts/EXContactsPermissionRequester.h
  packages/expo-contacts/ios/EXContacts/EXContactsPermissionRequester.m
  packages/expo-contacts/ios/EXContacts/EXContactsViewController.h
  packages/expo-contacts/ios/EXContacts/EXContactsViewController.m
  packages/expo-contacts/ios/ExpoContacts.podspec
  packages/expo-contacts/ios/Serialization.swift
  packages/expo-contacts/src/Contacts.ts
Labels: bot: needs changes, bot: fingerprint changed

#27453 [docs] remove Random API reference, add redirects
  docs/common/error-utilities.ts
  docs/pages/versions/unversioned/sdk/random.mdx
  docs/pages/versions/v50.0.0/sdk/random.mdx
Labels: bot: passed checks, preview

#27449 [core][Android] Thrown an exception when nested types can't be converted instead of crashing
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/common/cpp/TypedArray.cpp
Labels: bot: suggestions, bot: fingerprint changed

#27467 [docs] Notifications: remove legacy notifications system hint
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v48.0.0/sdk/notifications.mdx
  docs/pages/versions/v49.0.0/sdk/notifications.mdx
  docs/pages/versions/v50.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#27446 [docs] Remove UInt from list of Kotlin primitives
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#27471 Deprecate old promise in core
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/Promise.java
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
Labels: bot: suggestions, bot: fingerprint changed

#27444 [docs] Add steps on enabling Developer Mode on a Mac with Xcode installed
  docs/pages/guides/ios-developer-mode.mdx
  docs/public/static/images/ios-dev-mode/with-xcode-01.png
  docs/public/static/images/ios-dev-mode/with-xcode-02.png
  docs/public/static/images/ios-dev-mode/with-xcode-03.jpg
Labels: bot: passed checks, preview

#27406 [docs] Update `startAsync()` deprecated callout in Expo AuthSession for SDK 48
  docs/public/static/data/v48.0.0/expo-auth-session.json
Labels: bot: passed checks

#27111 refactor(env): warn when using non-conventional `NODE_ENV` values
  packages/@expo/env/CHANGELOG.md
  packages/@expo/env/build/env.js
  packages/@expo/env/build/env.js.map
  packages/@expo/env/src/__tests__/env.test.ts
  packages/@expo/env/src/env.ts
Labels: bot: passed checks, bot: fingerprint changed

#27461 [docs] Update the EAS update develop faster doc
  docs/pages/eas-update/develop-faster.mdx
Labels: bot: passed checks, preview

#27469 [tools] fix nightlies patch errors
  tools/src/commands/SetupReactNativeNightly.ts
Labels: bot: passed checks

#27464 [notifications] tweak types and export missing ones
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
  docs/public/static/data/unversioned/expo-notifications.json
  packages/expo-notifications/build/NotificationChannelManager.types.d.ts
  packages/expo-notifications/build/NotificationChannelManager.types.d.ts.map
  packages/expo-notifications/build/NotificationChannelManager.types.js.map
  packages/expo-notifications/build/NotificationScheduler.types.d.ts
  packages/expo-notifications/build/NotificationScheduler.types.d.ts.map
  packages/expo-notifications/build/NotificationScheduler.types.js.map
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/Tokens.types.d.ts
  packages/expo-notifications/build/Tokens.types.d.ts.map
  packages/expo-notifications/build/Tokens.types.js.map
  packages/expo-notifications/build/useLastNotificationResponse.d.ts
  packages/expo-notifications/build/useLastNotificationResponse.d.ts.map
  packages/expo-notifications/build/useLastNotificationResponse.js
  packages/expo-notifications/build/useLastNotificationResponse.js.map
  packages/expo-notifications/src/NotificationChannelManager.types.ts
  packages/expo-notifications/src/NotificationScheduler.types.ts
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/Tokens.types.ts
  packages/expo-notifications/src/useLastNotificationResponse.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27289 [iOS] Integrate native views with bridgeless mode
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/ios/fabrictester.xcodeproj/project.pbxproj
  apps/fabric-tester/package.json
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts.map
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.js.map
  packages/expo-modules-core/build/requireNativeModule.d.ts
  packages/expo-modules-core/build/requireNativeModule.d.ts.map
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/ios/Core/Modules/CoreModule.swift
  packages/expo-modules-core/ios/Legacy/NativeModulesProxy/EXNativeModulesProxy.mm
  packages/expo-modules-core/ios/Legacy/Services/EXReactNativeAdapter.mm
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
  packages/expo-modules-core/src/requireNativeModule.ts
Labels: bot: suggestions, bot: fingerprint changed

#27326 [docs] Adding Calendly OAuth2 Guide
  docs/pages/guides/authentication.mdx
  docs/public/static/images/sdk/auth-session/calendly.svg
  docs/ui/components/Authentication/index.ts
Labels: bot: passed checks

#27303 feat(cli): Add experimental support for using a canary build of the React Native
  apps/router-e2e/__e2e__/react-native-canary/app/index.tsx
  apps/router-e2e/app.config.js
  apps/router-e2e/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/react-native-canary.test.ts
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroMultiPlatform.test.ts
  packages/@expo/cli/src/start/server/metro/externals.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/cli/static/canary/react-native/Libraries/Renderer/implementations/ReactFabric-dev.js
  packages/@expo/cli/static/canary/react-native/Libraries/Renderer/implementations/ReactFabric-prod.js
  packages/@expo/cli/static/canary/react-native/Libraries/Renderer/implementations/ReactFabric-profiling.js
  packages/@expo/cli/static/canary/react-native/Libraries/Renderer/implementations/ReactNativeRenderer-dev.js
  packages/@expo/cli/static/canary/react-native/Libraries/Renderer/implementations/ReactNativeRenderer-prod.js
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions, bot: fingerprint changed

#27476 [expotools] Enable NPM 2FA on `et promote-packages`
  tools/src/Npm.ts
  tools/src/promote-packages/tasks/promotePackages.ts
Labels: bot: passed checks

#27465 [core] Declare and document global JSI bindings
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/index.d.ts
  packages/expo-modules-core/build/index.d.ts.map
  packages/expo-modules-core/build/index.js.map
  packages/expo-modules-core/build/requireNativeModule.d.ts
  packages/expo-modules-core/build/requireNativeModule.d.ts.map
  packages/expo-modules-core/build/requireNativeModule.js.map
  packages/expo-modules-core/build/ts-declarations/EventEmitter.d.ts
  packages/expo-modules-core/build/ts-declarations/EventEmitter.d.ts.map
  packages/expo-modules-core/build/ts-declarations/EventEmitter.js
  packages/expo-modules-core/build/ts-declarations/EventEmitter.js.map
  packages/expo-modules-core/build/ts-declarations/SharedObject.d.ts
  packages/expo-modules-core/build/ts-declarations/SharedObject.d.ts.map
  packages/expo-modules-core/build/ts-declarations/SharedObject.js
  packages/expo-modules-core/build/ts-declarations/SharedObject.js.map
  packages/expo-modules-core/build/ts-declarations/global.d.ts
  packages/expo-modules-core/build/ts-declarations/global.d.ts.map
  packages/expo-modules-core/build/ts-declarations/global.js
  packages/expo-modules-core/build/ts-declarations/global.js.map
  packages/expo-modules-core/src/index.ts
  packages/expo-modules-core/src/requireNativeModule.ts
  packages/expo-modules-core/src/ts-declarations/EventEmitter.ts
  packages/expo-modules-core/src/ts-declarations/SharedObject.ts
  packages/expo-modules-core/src/ts-declarations/global.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27457 [fingerprint] Add more debug info
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/hash/Hash.d.ts
  packages/@expo/fingerprint/build/hash/Hash.js
  packages/@expo/fingerprint/build/hash/Hash.js.map
  packages/@expo/fingerprint/build/utils/Predicates.d.ts
  packages/@expo/fingerprint/build/utils/Predicates.js
  packages/@expo/fingerprint/build/utils/Predicates.js.map
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/hash/Hash.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/utils/Predicates.ts
  packages/expo-updates/cli/build/resolveRuntimeVersion.js
  packages/expo-updates/cli/src/resolveRuntimeVersion.ts
Labels: bot: suggestions, bot: fingerprint changed

#27487 [jest-expo] Add off() stub to mock
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: passed checks, bot: fingerprint compatible

#27475 [core][Android] Simplify `toAnyType` calls
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/FunctionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/PropertyComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
Labels: bot: suggestions, bot: fingerprint changed

#27369 [expo-asset] Add native expo asset module with downloadAsync function.
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/test-suite/tests/Asset.js
  apps/test-suite/tests/FileSystem.js
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/android/.gitignore
  packages/expo-asset/android/build.gradle
  packages/expo-asset/android/src/main/AndroidManifest.xml
  packages/expo-asset/android/src/main/java/expo/modules/asset/AssetModule.kt
  packages/expo-asset/build/Asset.d.ts.map
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/build/ExpoAsset.d.ts
  packages/expo-asset/build/ExpoAsset.d.ts.map
  packages/expo-asset/build/ExpoAsset.js
  packages/expo-asset/build/ExpoAsset.js.map
  packages/expo-asset/build/ExpoAsset.web.d.ts
  packages/expo-asset/build/ExpoAsset.web.d.ts.map
  packages/expo-asset/build/ExpoAsset.web.js
  packages/expo-asset/build/ExpoAsset.web.js.map
  packages/expo-asset/build/PlatformUtils.d.ts
  packages/expo-asset/build/PlatformUtils.d.ts.map
  packages/expo-asset/build/PlatformUtils.js
  packages/expo-asset/build/PlatformUtils.js.map
  packages/expo-asset/build/PlatformUtils.web.d.ts
  packages/expo-asset/build/PlatformUtils.web.d.ts.map
  packages/expo-asset/build/PlatformUtils.web.js
  packages/expo-asset/build/PlatformUtils.web.js.map
  packages/expo-asset/expo-module.config.json
  packages/expo-asset/ios/AssetModule.swift
  packages/expo-asset/ios/ExpoAsset.podspec
  packages/expo-asset/mocks/ExpoAsset.ts
  packages/expo-asset/package.json
  packages/expo-asset/src/Asset.ts
  packages/expo-asset/src/ExpoAsset.ts
  packages/expo-asset/src/ExpoAsset.web.ts
  packages/expo-asset/src/PlatformUtils.ts
  packages/expo-asset/src/PlatformUtils.web.ts
  packages/expo-asset/src/__tests__/Asset-test.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#27498 [packages] fix TypeDoc warnings in packages source comments
  docs/public/static/data/unversioned/expo-application.json
  docs/public/static/data/unversioned/expo-audio.json
  docs/public/static/data/unversioned/expo-contacts.json
  docs/public/static/data/unversioned/expo-location.json
  docs/public/static/data/unversioned/expo-navigation-bar.json
  docs/public/static/data/unversioned/expo-screen-capture.json
  packages/expo-application/build/Application.d.ts
  packages/expo-application/build/Application.d.ts.map
  packages/expo-application/build/Application.js
  packages/expo-application/build/Application.js.map
  packages/expo-application/src/Application.ts
  packages/expo-av/build/Audio/Recording.types.d.ts
  packages/expo-av/build/Audio/Recording.types.d.ts.map
  packages/expo-av/build/Audio/Recording.types.js.map
  packages/expo-av/src/Audio/Recording.types.ts
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/src/Contacts.ts
  packages/expo-location/build/Location.d.ts
  packages/expo-location/build/Location.js
  packages/expo-location/build/Location.js.map
  packages/expo-location/src/Location.ts
  packages/expo-navigation-bar/build/NavigationBar.d.ts
  packages/expo-navigation-bar/build/NavigationBar.js
  packages/expo-navigation-bar/build/NavigationBar.js.map
  packages/expo-navigation-bar/src/NavigationBar.ts
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27519 [core] Add helper in C++ to get the core JS object
  packages/expo-modules-core/common/cpp/EventEmitter.cpp
  packages/expo-modules-core/common/cpp/JSIUtils.h
  packages/expo-modules-core/common/cpp/SharedObject.cpp
Labels: bot: passed checks, bot: fingerprint compatible

#27497 [cli] Filter extra avd info when listing emulators
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/platforms/android/emulator.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27520 [docs] Update template bare minimum diffs
  docs/public/static/diffs/template-bare-minimum/diffInfo.json
  docs/public/static/diffs/template-bare-minimum/raw/45..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/46..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/47..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/48..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/49..50.diff
  docs/public/static/diffs/template-bare-minimum/raw/50..unversioned.diff
Labels: bot: passed checks

#27515 chore: Add additional tests for undefined platform minification behavior.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27514 chore: use `typeof window` checks for removing server code
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/css.js
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/css.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/__tests__/__snapshots__/transform-worker.test.ts.snap
  packages/@expo/metro-config/src/transform-worker/css.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/async-require/fetchThenEval.web.js
  packages/@expo/metro-runtime/build/async-require/fetchThenEval.web.js.map
  packages/@expo/metro-runtime/src/async-require/fetchThenEval.web.ts
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/web/imageStyles.js
  packages/expo-image/build/web/imageStyles.js.map
  packages/expo-image/src/web/imageStyles.tsx
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-system-ui/build/ExpoSystemUI.web.d.ts.map
  packages/expo-system-ui/build/ExpoSystemUI.web.js
  packages/expo-system-ui/build/ExpoSystemUI.web.js.map
  packages/expo-system-ui/src/ExpoSystemUI.web.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/launch/registerRootComponent.d.ts.map
  packages/expo/build/launch/registerRootComponent.js
  packages/expo/build/launch/registerRootComponent.js.map
  packages/expo/src/launch/registerRootComponent.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27527 [go][iOS] Use monospaced digit font on app loading progress view
  apps/expo-go/ios/Exponent/Kernel/Views/Loading/EXAppLoadingProgressWindowController.m
Labels: bot: passed checks

#27509 feat(babel): add process.env.EXPO_OS
  docs/pages/guides/tree-shaking.mdx
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/minify-sanity.test.ts
  packages/babel-preset-expo/src/__tests__/minify-util.ts
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
  packages/babel-preset-expo/src/index.ts
  packages/expo/CHANGELOG.md
  packages/expo/build/environment/DevLoadingView.d.ts
  packages/expo/build/environment/DevLoadingView.d.ts.map
  packages/expo/src/ts-declarations/process.d.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27529 fix ci
  packages/expo/build/environment/DevLoadingView.d.ts
  packages/expo/build/environment/DevLoadingView.d.ts.map
Labels: bot: suggestions, bot: fingerprint compatible

#27517 [core] Fix defining property with a value
  packages/expo-modules-core/common/cpp/JSIUtils.cpp
  packages/expo-modules-core/common/cpp/JSIUtils.h
Labels: bot: passed checks, bot: fingerprint compatible

#27532 [docs] Fix not found routes doc location to Expo Router Reference
  docs/constants/navigation.js
Labels: bot: passed checks

#27531 [core] Add AppContext initializer to ExpoBridgeModule
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/ExpoBridgeModule.h
  packages/expo-modules-core/ios/Core/ExpoBridgeModule.mm
Labels: bot: suggestions, bot: fingerprint compatible

#27534 [go][iOS] Remove EXScopedFilePermissionModule remaining references
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
Labels: bot: passed checks

#27535 [go][iOS] Remove EXMediaLibraryImageLoader remaining references
  apps/expo-go/ios/Exponent/Versioned/Core/EXVersionManagerObjC.m
Labels: bot: passed checks

#27546 [ios][camera] Ensure mute prop value is provided
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/next/Camera.types.d.ts
  packages/expo-camera/build/next/Camera.types.d.ts.map
  packages/expo-camera/build/next/Camera.types.js.map
  packages/expo-camera/build/next/utils/props.d.ts.map
  packages/expo-camera/build/next/utils/props.js
  packages/expo-camera/build/next/utils/props.js.map
  packages/expo-camera/src/next/Camera.types.ts
  packages/expo-camera/src/next/utils/props.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27545 [ios][camera] Fix initial orientation
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  apps/native-component-list/src/screens/Camera/CameraScreenNext.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/CameraView.swift
  packages/expo-camera/ios/Next/CameraViewNext.swift
Labels: bot: passed checks, bot: fingerprint changed

#27523 [core][Android] Sending events from shared objects
  apps/bare-expo/android/.idea/codeStyles/Project.xml
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/SharedObjectTest.kt
  packages/expo-modules-core/android/src/main/cpp/JNIInjector.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptFunction.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptFunction.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptValue.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
Labels: bot: suggestions, bot: fingerprint changed

#27507 [dev-menu][dev-launcher] fix jsc support
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#27367 [video] Add missing player properties
  apps/native-component-list/src/screens/Video/VideoScreen.tsx
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/build/VideoView.web.d.ts
  packages/expo-video/build/VideoView.web.d.ts.map
  packages/expo-video/build/VideoView.web.js
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoPlayer.swift
  packages/expo-video/src/VideoView.types.ts
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: passed checks, bot: fingerprint changed

#27563 [core][Android] Add getter for `AppContext` to `SharedObject`
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObject.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedRef.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoPlayer.kt
Labels: bot: suggestions, bot: fingerprint changed

#27572 [ios][camera] Fix crash when dev menu is presented
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Next/CameraViewNext.swift
Labels: bot: passed checks, bot: fingerprint changed

#27510 [core] Introduce a NativeModule class in JS
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/build/EventEmitter.d.ts
  packages/expo-modules-core/build/EventEmitter.d.ts.map
  packages/expo-modules-core/build/EventEmitter.js.map
  packages/expo-modules-core/build/NativeModulesProxy.types.d.ts
  packages/expo-modules-core/build/NativeModulesProxy.types.d.ts.map
  packages/expo-modules-core/build/NativeModulesProxy.types.js.map
  packages/expo-modules-core/build/ts-declarations/NativeModule.d.ts
  packages/expo-modules-core/build/ts-declarations/NativeModule.d.ts.map
  packages/expo-modules-core/build/ts-declarations/NativeModule.js
  packages/expo-modules-core/build/ts-declarations/NativeModule.js.map
  packages/expo-modules-core/build/ts-declarations/global.d.ts
  packages/expo-modules-core/build/ts-declarations/global.d.ts.map
  packages/expo-modules-core/build/ts-declarations/global.js.map
  packages/expo-modules-core/common/cpp/NativeModule.cpp
  packages/expo-modules-core/common/cpp/NativeModule.h
  packages/expo-modules-core/ios/Core/AppContext.swift
  packages/expo-modules-core/ios/Core/Modules/ModuleDefinition.swift
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.h
  packages/expo-modules-core/ios/JSI/EXJSIInstaller.mm
  packages/expo-modules-core/ios/JSI/EXJSIUtils.h
  packages/expo-modules-core/ios/JSI/EXJSIUtils.mm
  packages/expo-modules-core/src/EventEmitter.ts
  packages/expo-modules-core/src/NativeModulesProxy.types.ts
  packages/expo-modules-core/src/ts-declarations/NativeModule.ts
  packages/expo-modules-core/src/ts-declarations/global.ts
Labels: bot: passed checks, bot: fingerprint changed

#27522 [docs] add missing `PackagerAsset` type link
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks

#27521 [docs] layout fixes and Table of Content tweaks
  docs/common/routes.ts
  docs/common/test-utilities.tsx
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/components/DocumentationPage.tsx
  docs/components/DocumentationSidebarRight.test.tsx
  docs/components/DocumentationSidebarRight.tsx
  docs/components/DocumentationSidebarRightLink.tsx
  docs/components/ScrollContainer.tsx
  docs/components/__snapshots__/DocumentationSidebarRight.test.tsx.snap
  docs/pages/router/advanced/stack.mdx
  docs/ui/components/PagePlatformTags/index.tsx
  docs/ui/components/PageTitle/PageTitle.tsx
Labels: bot: passed checks, preview

#27552 [docs] Format and update verbiage in GitHub Actions guide
  docs/pages/eas-update/github-actions.mdx
Labels: bot: passed checks, preview

#27555 [docs] Optimize images
  docs/public/static/images/dev-client/preview.png
  docs/public/static/images/eas-build/build-from-github/builds-executed-automatically-on-branch.png
  docs/public/static/images/eas-build/build-from-github/connect-a-repository.png
  docs/public/static/images/eas-build/build-from-github/eas-build-label.png
  docs/public/static/images/eas-build/build-from-github/empty-build-triggers-table.png
  docs/public/static/images/eas-build/build-from-github/filled-build-trigger-form.png
  docs/public/static/images/eas-build/build-from-github/filled-build-triggers-table.png
  docs/public/static/images/eas-build/build-from-github/gh-check-details.png
  docs/public/static/images/eas-build/build-from-github/install-github-app.png
  docs/public/static/images/eas-build/build-from-github/link-github-account.png
  docs/public/static/images/eas-build/build-from-github/managing-build-triggers.png
  docs/public/static/images/eas-build/build-from-github/project-github-page.png
  docs/public/static/images/eas-build/build-from-github/pull-request-trigger-form.png
  docs/public/static/images/eas-build/build-from-github/pull-request-triggered-build.png
  docs/public/static/images/eas-build/build-from-github/specify-base-directory.png
  docs/public/static/images/eas-build/build-from-github/tag-triggered-build.png
  docs/public/static/images/eas-build/build-from-github/trigger-troubleshooting-status.png
  docs/public/static/images/eas-update/network-request.png
  docs/public/static/images/expo-router/tabs.png
  docs/public/static/images/guides/core-development-loop-dark.png
  docs/public/static/images/guides/sentry-tags.png
  docs/public/static/images/ios-dev-mode/ios-16-developer-mode-3.png
  docs/public/static/images/ios-dev-mode/with-xcode-02.png
  docs/public/static/images/share-dev-build/shareable-url.png
  docs/public/static/images/simulate-background-fetch-instruments.png
  docs/public/static/images/tutorial/button-options.jpg
  docs/public/static/images/tutorial/buttons-created.jpg
  docs/public/static/images/tutorial/buttons-layout.jpg
  docs/public/static/images/tutorial/complete-layout.jpg
  docs/public/static/images/tutorial/initial-layout.jpg
  docs/public/static/images/tutorial/modal-creation.jpg
  docs/public/static/images/tutorial/statusbar-example.jpg
Labels: bot: passed checks

#27586 [core][Android] Remove stub functions for `NativeEventEmitter`
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIPropertiesTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptModuleObjectTest.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
Labels: bot: suggestions, bot: fingerprint changed

#27569 [expo-image] Remove setState in useEffect in image.
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/ExpoImage.web.js
  packages/expo-image/build/ExpoImage.web.js.map
  packages/expo-image/build/web/useSourceSelection.d.ts
  packages/expo-image/build/web/useSourceSelection.d.ts.map
  packages/expo-image/build/web/useSourceSelection.js
  packages/expo-image/build/web/useSourceSelection.js.map
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/web/useSourceSelection.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27591 [core][Android] Unit converter now ignores nullability
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/UnitTypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#27592 [docs] Fix outdated information in various docs
  docs/pages/accounts/working-together.mdx
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/router/advanced/tabs.mdx
Labels: bot: passed checks

#27577 [fingerprint] Add more default android ignores that differ per machine
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/src/Options.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27580 [core] Return event subscription in the `addListener` function
  packages/expo-modules-core/build/ts-declarations/EventEmitter.d.ts
  packages/expo-modules-core/build/ts-declarations/EventEmitter.d.ts.map
  packages/expo-modules-core/build/ts-declarations/EventEmitter.js.map
  packages/expo-modules-core/common/cpp/EventEmitter.cpp
  packages/expo-modules-core/common/cpp/EventEmitter.h
  packages/expo-modules-core/ios/Tests/EventEmitterSpec.swift
  packages/expo-modules-core/src/ts-declarations/EventEmitter.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27567 [core][iOS] Add a function to schedule work on the runtime scheduler
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/SharedObjects/SharedObject.swift
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.h
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/JSI/JavaScriptRuntime.swift
Labels: bot: passed checks, bot: fingerprint compatible

#27287 [router] fix initial url on web when using baseUrl
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/fork/useLinking.d.ts
  packages/expo-router/build/fork/useLinking.d.ts.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/build/global-state/serverLocationContext.d.ts
  packages/expo-router/build/global-state/serverLocationContext.d.ts.map
  packages/expo-router/build/global-state/serverLocationContext.js
  packages/expo-router/build/global-state/serverLocationContext.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/fork/useLinking.ts
  packages/expo-router/src/global-state/serverLocationContext.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27609 [ci] Add scheduled Expo Go build
  .github/workflows/client-android-eas.yml
  .github/workflows/client-ios-eas.yml
Labels: bot: passed checks

#27604 [expo-go] Fix incorrect graphql query name
  apps/expo-go/graphql-codegen.yml
  apps/expo-go/graphql.schema.json
  apps/expo-go/src/components/BranchListItem.tsx
  apps/expo-go/src/graphql/queries/ProjectsQuery.query.graphql
  apps/expo-go/src/graphql/types.ts
  apps/expo-go/src/screens/ProjectScreen/EASUpdateLaunchSection.tsx
  apps/expo-go/src/screens/ProjectScreen/LegacyLaunchSection.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectContainer.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectHeader.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectView.tsx
Labels: bot: passed checks

#27603 [expo-dev-launcher] Remove debug settings for EAS Updates extension
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/providers/UpdatesConfigProvider.tsx
  packages/expo-dev-launcher/bundle/screens/SettingsScreen.tsx
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: passed checks, bot: fingerprint changed

#27611 [expo-dev-launcher] Fix cp
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
Labels: bot: suggestions, bot: fingerprint changed

#27610 [expo-go][android] Fix build
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExponentManifest.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/core/modules/ExpoGoUpdatesModule.kt
Labels: bot: passed checks

#27607 [expo-go] Remove classic updates
  apps/expo-go/src/components/Icons.tsx
  apps/expo-go/src/components/ProjectsListItem.tsx
  apps/expo-go/src/graphql/fragments/CommonAppData.fragment.graphql
  apps/expo-go/src/graphql/queries/BranchesForProjectQuery.query.graphql
  apps/expo-go/src/graphql/queries/ProjectsQuery.query.graphql
  apps/expo-go/src/graphql/types.ts
  apps/expo-go/src/screens/HomeScreen/ProjectsSection.tsx
  apps/expo-go/src/screens/ProjectScreen/EmptySection.tsx
  apps/expo-go/src/screens/ProjectScreen/LegacyLaunchSection.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectHeader.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectView.tsx
  apps/expo-go/src/screens/ProjectsListScreen/ProjectList.tsx
  apps/expo-go/src/utils/Environment.ts
  apps/expo-go/src/utils/useSDKExpired.ts
Labels: bot: passed checks

#27512 [router]: remove jest.fakeTimers from expo-router/testing-library
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/src/testing-library/index.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27590 [docs] update AppJS banner to match dashboard design
  docs/public/static/images/appjs.svg
  docs/tailwind.config.cjs
  docs/ui/components/AppJSBanner/AppJSIcon.tsx
  docs/ui/components/AppJSBanner/index.tsx
  docs/ui/components/Home/resources/DevicesImage.tsx
Labels: bot: passed checks

#27596 [docs] update overview pages content and presentation
  docs/pages/guides/overview.mdx
  docs/pages/overview.mdx
  docs/ui/components/CustomIcons/HandWaveIcon.tsx
Labels: bot: passed checks

#27622 [docs] cleanup incorrect Tailwind usecase
  docs/global-styles/global.css
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/versions/unversioned/sdk/filesystem.mdx
  docs/pages/versions/v48.0.0/sdk/filesystem.mdx
  docs/pages/versions/v49.0.0/sdk/filesystem.mdx
  docs/pages/versions/v50.0.0/sdk/filesystem.mdx
  docs/tailwind.config.cjs
Labels: bot: passed checks

#27625 [tools] Clean up the working tree after publishing canaries
  tools/src/Git.ts
  tools/src/commands/CherryPickCommand.ts
  tools/src/publish-packages/tasks/publishCanary.ts
Labels: bot: passed checks

#27626 [audio] Create module
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/AV/AudioScreen.tsx
  apps/native-component-list/src/screens/Audio/AudioPlayer.tsx
  apps/native-component-list/src/screens/Audio/AudioScreen.tsx
  apps/native-component-list/src/screens/ExpoApisScreen.tsx
  packages/expo-audio/.eslintrc.js
  packages/expo-audio/.npmignore
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/README.md
  packages/expo-audio/android/build.gradle
  packages/expo-audio/android/src/main/AndroidManifest.xml
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/babel.config.js
  packages/expo-audio/build/AudioModule.d.ts
  packages/expo-audio/build/AudioModule.d.ts.map
  packages/expo-audio/build/AudioModule.js
  packages/expo-audio/build/AudioModule.js.map
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/index.d.ts
  packages/expo-audio/build/index.d.ts.map
  packages/expo-audio/build/index.js
  packages/expo-audio/build/index.js.map
  packages/expo-audio/expo-module.config.json
  packages/expo-audio/ios/AudioExceptions.swift
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/ios/AudioRecords.swift
  packages/expo-audio/ios/ExpoAudio.podspec
  packages/expo-audio/package.json
  packages/expo-audio/src/AudioModule.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/index.ts
  packages/expo-audio/tsconfig.json
Labels: bot: needs changes, bot: fingerprint changed

#27628 [core][Android] Fix SharedObject deallocation crashing the app
  packages/expo-modules-core/android/src/main/cpp/JSIInteropModuleRegistry.cpp
Labels: bot: suggestions, bot: fingerprint changed

#27630 [core][Android] Fix app crashes during reloads
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/java/expo/modules/adapters/react/NativeModulesProxy.java
Labels: bot: suggestions, bot: fingerprint changed

#27530 feat(babel): minify typeof window
  docs/pages/guides/tree-shaking.mdx
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/build/index.d.ts
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/build/inline-env-vars.d.ts
  packages/babel-preset-expo/build/inline-env-vars.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
  packages/babel-preset-expo/src/index.ts
  packages/babel-preset-expo/src/inline-env-vars.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#27612 [expo-go] Fix bundling error for home
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExperiencePackagePicker.kt
Labels: bot: passed checks

#27613 [ENG-11698][docs] move error recovery doc
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/eas-update/error-recovery.mdx
Labels: bot: passed checks, preview

#27614 [docs] add website link to error recovery
  docs/pages/eas-update/error-recovery.mdx
Labels: bot: passed checks, preview

#27616 [ENG-11699][docs] Update expo-updates brownfield installation
  docs/pages/bare/installing-updates.mdx
Labels: bot: passed checks, preview

#27533 feat(babel): write new inline Platform module plugin
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/define-plugin.d.ts
  packages/babel-preset-expo/build/define-plugin.js
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/build/minify-platform-select-plugin.d.ts
  packages/babel-preset-expo/build/minify-platform-select-plugin.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
  packages/babel-preset-expo/src/define-plugin.ts
  packages/babel-preset-expo/src/index.ts
  packages/babel-preset-expo/src/minify-platform-select-plugin.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#27566 [cli] Fix 'Tunnel URL not found' warning when starting bundler
  packages/@expo/cli/src/start/server/metro/debugging/createDebugMiddleware.ts
Labels: bot: suggestions, bot: fingerprint changed

#27639 [module-template] Fix typo in `metro.config.js` comments
  packages/expo-module-template/example/metro.config.js
Labels: bot: passed checks

#27642 [ios][camera] Fix legacy camera getAvailablePictureSizes
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/CameraViewModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#27620 [router]: cancel ExpoRouter SplashScreen during test teardown
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/router-store.d.ts
  packages/expo-router/build/global-state/router-store.d.ts.map
  packages/expo-router/build/global-state/router-store.js
  packages/expo-router/build/global-state/router-store.js.map
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/src/global-state/router-store.tsx
  packages/expo-router/src/testing-library/index.tsx
Labels: bot: passed checks, bot: fingerprint changed

#27633 Upgrade react-native 0.74 across monorepo
  apps/bare-expo/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.jar
  apps/bare-expo/android/gradlew.bat
  apps/bare-expo/package.json
  apps/expo-go/package.json
  apps/fabric-tester/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/fabric-tester/android/build.gradle
  apps/fabric-tester/android/gradle/wrapper/gradle-wrapper.jar
  apps/fabric-tester/android/gradlew.bat
  apps/fabric-tester/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/NativeTests/Info.plist
  apps/native-tests/package.json
  apps/router-e2e/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  package.json
  packages/@expo/cli/package.json
  packages/babel-preset-expo/package.json
  packages/expo-asset/package.json
  packages/expo-dev-launcher/package.json
  packages/expo-dev-menu/package.json
  packages/expo-image/package.json
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.kt
  templates/expo-template-bare-minimum/android/app/src/main/res/drawable/rn_edit_text_material.xml
  templates/expo-template-bare-minimum/android/build.gradle
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.jar
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.properties
  templates/expo-template-bare-minimum/android/gradlew.bat
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.mm
  templates/expo-template-bare-minimum/ios/HelloWorld/Info.plist
  templates/expo-template-bare-minimum/package.json
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-blank/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#27601 [core][dev-client][updates] add bridgeless support for ExpoReactDelegate
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/EXDevLauncherDeferredRCTBridge.h
  packages/expo-dev-launcher/ios/ReactDelegateHandler/EXDevLauncherDeferredRCTBridge.m
  packages/expo-dev-launcher/ios/ReactDelegateHandler/EXDevLauncherDeferredRCTRootView.h
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/ReactDelegateHandler/ExpoDevMenuReactDelegateHandler.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.h
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.mm
  packages/expo-modules-core/ios/ReactDelegates/EXRCTBridgeDelegateInterceptor.h
  packages/expo-modules-core/ios/ReactDelegates/EXRCTBridgeDelegateInterceptor.m
  packages/expo-modules-core/ios/ReactDelegates/EXReactCompatibleHelpers.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactCompatibleHelpers.mm
  packages/expo-modules-core/ios/ReactDelegates/EXReactDelegateWrapper.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactDelegateWrapper.m
  packages/expo-modules-core/ios/ReactDelegates/EXReactDelegateWrapper.mm
  packages/expo-modules-core/ios/ReactDelegates/EXReactRootViewFactory.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactRootViewFactory.mm
  packages/expo-modules-core/ios/ReactDelegates/ExpoReactDelegate.swift
  packages/expo-modules-core/ios/ReactDelegates/ExpoReactDelegateHandler.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/EXDeferredRCTBridge.h
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/EXDeferredRCTBridge.m
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/EXDeferredRCTRootView.h
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
Labels: bot: passed checks, bot: fingerprint changed

#27646 [router]: export and matcher types from `expo-router/testing-library`
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/expect.js
  packages/expo-router/build/testing-library/expect.js.map
  packages/expo-router/build/testing-library/index.d.ts
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/src/__tests__/testing-library.test.ios.ts
  packages/expo-router/src/testing-library/expect.ts
  packages/expo-router/src/testing-library/index.tsx
  packages/expo-router/tsconfig.json
  packages/expo-router/types/jest.d.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27648 [router]: (revert 27512) remove jest.fakeTimers from expo-router/testing-library
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/src/testing-library/index.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27105 (router): add url hash support
  docs/pages/router/reference/search-parameters.mdx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getPathFromState.d.ts.map
  packages/expo-router/build/fork/getPathFromState.js
  packages/expo-router/build/fork/getPathFromState.js.map
  packages/expo-router/build/fork/getStateFromPath.d.ts
  packages/expo-router/build/fork/getStateFromPath.d.ts.map
  packages/expo-router/build/fork/getStateFromPath.js
  packages/expo-router/build/fork/getStateFromPath.js.map
  packages/expo-router/src/__tests__/hashs.test.ios.tsx
  packages/expo-router/src/fork/__tests__/getPathFromState.test.web.ts
  packages/expo-router/src/fork/__tests__/getStateFromPath.test.web.ts
  packages/expo-router/src/fork/getPathFromState.ts
  packages/expo-router/src/fork/getStateFromPath.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27412 [router]: consolidate router types
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/hooks.d.ts
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/layouts/Tabs.d.ts
  packages/expo-router/build/layouts/Tabs.d.ts.map
  packages/expo-router/build/layouts/Tabs.js.map
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/build/link/href.d.ts
  packages/expo-router/build/link/href.d.ts.map
  packages/expo-router/build/link/href.js
  packages/expo-router/build/link/href.js.map
  packages/expo-router/build/types.d.ts
  packages/expo-router/build/types.d.ts.map
  packages/expo-router/build/types.js.map
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/imperative-api.ts
  packages/expo-router/src/layouts/Tabs.tsx
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/href.ts
  packages/expo-router/src/types.ts
  packages/expo-router/tsconfig.json
  packages/expo-router/types/expo-router.d.ts
Labels: bot: passed checks, bot: fingerprint compatible

#26429 feat(cli, config-plugins): [3/3] patch based config-plugin
  packages/patch-project/CHANGELOG.md
  packages/patch-project/LICENSE
  packages/patch-project/README.md
  packages/patch-project/__mocks__/fs.ts
  packages/patch-project/__mocks__/fs/promises.ts
  packages/patch-project/app.plugin.js
  packages/patch-project/babel.config.js
  packages/patch-project/build/cli/dir.d.ts
  packages/patch-project/build/cli/dir.js
  packages/patch-project/build/cli/dir.js.map
  packages/patch-project/build/cli/generateNativeProjects.d.ts
  packages/patch-project/build/cli/generateNativeProjects.js
  packages/patch-project/build/cli/generateNativeProjects.js.map
  packages/patch-project/build/cli/index.d.ts
  packages/patch-project/build/cli/index.js
  packages/patch-project/build/cli/index.js.map
  packages/patch-project/build/cli/logger.d.ts
  packages/patch-project/build/cli/logger.js
  packages/patch-project/build/cli/logger.js.map
  packages/patch-project/build/cli/normalizeNativeProjects.d.ts
  packages/patch-project/build/cli/normalizeNativeProjects.js
  packages/patch-project/build/cli/normalizeNativeProjects.js.map
  packages/patch-project/build/cli/patchProjectAsync.d.ts
  packages/patch-project/build/cli/patchProjectAsync.js
  packages/patch-project/build/cli/patchProjectAsync.js.map
  packages/patch-project/build/cli/resolveFromExpoCli.d.ts
  packages/patch-project/build/cli/resolveFromExpoCli.js
  packages/patch-project/build/cli/resolveFromExpoCli.js.map
  packages/patch-project/build/cli/workingDirectories.d.ts
  packages/patch-project/build/cli/workingDirectories.js
  packages/patch-project/build/cli/workingDirectories.js.map
  packages/patch-project/build/env.d.ts
  packages/patch-project/build/env.js
  packages/patch-project/build/env.js.map
  packages/patch-project/build/gitPatch.d.ts
  packages/patch-project/build/gitPatch.js
  packages/patch-project/build/gitPatch.js.map
  packages/patch-project/build/withPatchPlugin.d.ts
  packages/patch-project/build/withPatchPlugin.js
  packages/patch-project/build/withPatchPlugin.js.map
  packages/patch-project/e2e/__tests__/localPackages.ts
  packages/patch-project/e2e/__tests__/patchProject-test.ts
  packages/patch-project/e2e/jest.config.js
  packages/patch-project/jest.config.js
  packages/patch-project/package.json
  packages/patch-project/src/__tests__/gitPatch-test.ts
  packages/patch-project/src/cli/__tests__/generateNativeProjects-test.ts
  packages/patch-project/src/cli/dir.ts
  packages/patch-project/src/cli/generateNativeProjects.ts
  packages/patch-project/src/cli/index.ts
  packages/patch-project/src/cli/logger.ts
  packages/patch-project/src/cli/normalizeNativeProjects.ts
  packages/patch-project/src/cli/patchProjectAsync.ts
  packages/patch-project/src/cli/resolveFromExpoCli.ts
  packages/patch-project/src/cli/workingDirectories.ts
  packages/patch-project/src/env.ts
  packages/patch-project/src/gitPatch.ts
  packages/patch-project/src/withPatchPlugin.ts
  packages/patch-project/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#27594 [docs] add basic code highlight for Terminal snippets
  docs/components/base/code.tsx
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/build-reference/local-builds.mdx
  docs/pages/deploy/instant-updates.mdx
  docs/pages/develop/user-interface/color-themes.mdx
  docs/pages/eas-update/code-signing.mdx
  docs/pages/eas-update/codepush.mdx
  docs/pages/eas-update/debug-advanced.mdx
  docs/pages/eas-update/debug.mdx
  docs/pages/eas-update/environment-variables.mdx
  docs/pages/eas-update/getting-started.mdx
  docs/pages/eas-update/migrate-from-classic-updates.mdx
  docs/pages/eas-update/rollbacks.mdx
  docs/pages/eas-update/rollouts.mdx
  docs/pages/get-started/expo-go.mdx
  docs/pages/guides/building-for-tv.mdx
  docs/pages/guides/new-architecture.mdx
  docs/pages/guides/progressive-web-apps.mdx
  docs/pages/guides/using-bun.mdx
  docs/pages/preview/dev-process-overview.mdx
  docs/pages/workflow/android-studio-emulator.mdx
  docs/pages/workflow/overview.mdx
  docs/ui/components/Snippet/blocks/Terminal.tsx
  docs/ui/components/Snippet/prism-bash.js
Labels: bot: passed checks, preview

#27413 [cli] doctor: message wording, small tweaks
  packages/@expo/cli/src/start/doctor/dependencies/validateDependenciesVersions.ts
Labels: bot: suggestions, bot: fingerprint compatible

#27634 [docs] fixes typo in tutorial
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#27649 [Docs] Missing word. Update create-your-first-app.mdx
  docs/pages/tutorial/create-your-first-app.mdx
Labels: bot: passed checks

#27656 [docs] Fix typo in tree-shaking guide and search parameters reference
  docs/pages/guides/tree-shaking.mdx
  docs/pages/router/reference/search-parameters.mdx
Labels: bot: passed checks

#27660 [docs] Hide hash support section from search parameters
  docs/pages/router/reference/search-parameters.mdx
Labels: bot: passed checks

#27644 [expo-go] Remove unused snackId dev sessions concept
  apps/expo-go/src/screens/HomeScreen/HomeScreenView.tsx
  apps/expo-go/src/screens/SettingsScreen/ConstantsSection.tsx
  apps/expo-go/src/utils/getSnackId.ts
Labels: bot: passed checks

#27658 [docs] Update v1 docs to mention google-services.json
  docs/pages/push-notifications/fcm-credentials.mdx
  docs/public/static/images/creating-google-service-account/fcm-v1/existing-service-account/04-setup-google-services-json.png
  docs/public/static/images/creating-google-service-account/fcm-v1/existing-service-account/05-upload-credential-complete.png
  docs/public/static/images/creating-google-service-account/fcm-v1/new-service-account/05-setup-google-services-json.png
  docs/public/static/images/creating-google-service-account/fcm-v1/new-service-account/06-upload-credential-complete.png
Labels: bot: passed checks, preview

#27655 [tools] Publishing canary templates in the publish script
  tools/src/ProjectTemplates.ts
  tools/src/publish-packages/tasks/publishCanary.ts
Labels: bot: passed checks

#27685 [docs] Remove Xcode resource signing step from migration guide
  docs/pages/eas-update/codepush.mdx
Labels: bot: passed checks

#27687 [patch-project] Set CLI to executable on build for consistency with yarn in root
  packages/patch-project/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#27672 [asset] fix reentrant promise resolving crash
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/ios/AssetModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#27621 [core][Android] Simplify `JSIContext` access
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/TestRunner.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIContextTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptFunctionTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptObjectTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptRuntimeTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JavaScriptValueTest.kt
  packages/expo-modules-core/android/src/main/cpp/Exceptions.cpp
  packages/expo-modules-core/android/src/main/cpp/Exceptions.h
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.cpp
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.h
  packages/expo-modules-core/android/src/main/cpp/JNIInjector.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.h
  packages/expo-modules-core/android/src/main/cpp/JavaCallback.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaCallback.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptFunction.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptFunction.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptModuleObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptObject.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptRuntime.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptTypedArray.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptTypedArray.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptValue.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptValue.h
  packages/expo-modules-core/android/src/main/cpp/JavaScriptWeakObject.cpp
  packages/expo-modules-core/android/src/main/cpp/JavaScriptWeakObject.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.h
  packages/expo-modules-core/android/src/main/cpp/WeakRuntimeHolder.cpp
  packages/expo-modules-core/android/src/main/cpp/WeakRuntimeHolder.h
  packages/expo-modules-core/android/src/main/cpp/types/AnyType.cpp
  packages/expo-modules-core/android/src/main/cpp/types/AnyType.h
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/FrontendConverter.h
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.cpp
  packages/expo-modules-core/android/src/main/cpp/types/JNIToJSIConverter.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIContext.kt
Labels: bot: suggestions, bot: fingerprint changed

#27565 [core][Android] Add bridgeless installer
  packages/expo-modules-core/android/src/main/cpp/JSIContext.cpp
  packages/expo-modules-core/android/src/main/cpp/JSIContext.h
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/AppContext.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JSIContext.kt
Labels: bot: suggestions, bot: fingerprint changed

#27663 [ci] downgrade test-suite ios-test macos
  .github/workflows/test-suite-nightly.yml
  .github/workflows/test-suite.yml
  apps/bare-expo/scripts/start-ios-e2e-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27653 [fingerprint] add cng-patches support
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Expo.d.ts
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/sourcer/Sourcer.js
  packages/@expo/fingerprint/build/sourcer/Sourcer.js.map
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/Sourcer.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/fixtures/PatchPackage.json
Labels: bot: passed checks, bot: fingerprint compatible

#27657 [fingerprint] include react-native package
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Packages.d.ts
  packages/@expo/fingerprint/build/sourcer/Packages.js
  packages/@expo/fingerprint/build/sourcer/Packages.js.map
  packages/@expo/fingerprint/build/sourcer/Sourcer.js
  packages/@expo/fingerprint/build/sourcer/Sourcer.js.map
  packages/@expo/fingerprint/e2e/__tests__/__snapshots__/managed-test.ts.snap
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/sourcer/Packages.ts
  packages/@expo/fingerprint/src/sourcer/Sourcer.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Packages-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27662 [fingerprint] enhance cli debugging
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/bin/cli.js
  packages/@expo/fingerprint/build/Dedup.js
  packages/@expo/fingerprint/build/Dedup.js.map
  packages/@expo/fingerprint/src/Dedup.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27629 [core][updates] Add bridgeless support for ReactNativeHostHandler
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.kt
  apps/fabric-tester/android/app/src/main/AndroidManifest.xml
  apps/fabric-tester/android/app/src/main/java/com/community/fabrictester/MainApplication.kt
  apps/fabric-tester/ios/fabrictester/Supporting/Expo.plist
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/core/interfaces/ReactNativeHostHandler.java
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/errorrecovery/ErrorRecovery.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
  packages/expo/CHANGELOG.md
  packages/expo/android/build.gradle
  packages/expo/android/src/main/java/expo/modules/ExpoReactHostFactory.kt
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapperBase.kt
  packages/expo/android/src/reactNativeHostWrapper71/expo/modules/ReactNativeHostWrapper.kt
  packages/expo/android/src/reactNativeHostWrapper73/expo/modules/ReactNativeHostWrapper.kt
  packages/expo/android/src/reactWrappers/expo/modules/ReactNativeHostWrapper.kt
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.kt
Labels: bot: passed checks, bot: fingerprint changed

#27686 chore(cli): fix fast resolver
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export.test.ts
  packages/@expo/cli/src/export/saveAssets.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/__tests__/createExpoMetroResolver.test.ts
  packages/@expo/cli/src/start/server/metro/createExpoMetroResolver.ts
  packages/@expo/cli/src/start/server/metro/createJResolver.ts
  packages/@expo/cli/src/utils/dir.ts
  packages/@expo/cli/src/utils/errors.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27698 Bump puppeteer to 22.4.1, jest-puppeteer to 10.0.1
  apps/bare-expo/package.json
  docs/package.json
  docs/yarn.lock
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#27701 [expo-go] Fix tsc
  apps/expo-go/package.json
  apps/expo-go/ts-declarations/url.d.ts
  apps/expo-go/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#27671 [docs] Regenerate constants/manifests/updates docs for 50 and unversioned
  docs/components/plugins/api/APISectionUtils.tsx
  docs/pages/versions/unversioned/sdk/manifests.mdx
  docs/pages/versions/v50.0.0/sdk/manifests.mdx
  docs/public/static/data/unversioned/expo-constants.json
  docs/public/static/data/unversioned/expo-manifests.json
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/v50.0.0/expo-constants.json
  docs/public/static/data/v50.0.0/expo-manifests.json
  docs/public/static/data/v50.0.0/expo-updates.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks, preview

#27673 [docs] Regenerate 49 and 48 for expo-updates and expo-constants
  docs/public/static/data/v49.0.0/expo-updates.json
Labels: bot: passed checks

#27674 [docs] Add cross-package link capability
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks, preview

#27705 chore(babel): drop unused babel/preset-env
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#27637 feat(jest-expo): support passing caller to babel-jest
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/config/getPlatformPreset.js
  packages/jest-expo/jest-preset.js
  packages/jest-expo/tests/__tests__/jest-test.js
Labels: bot: passed checks, bot: fingerprint compatible

#27597 [expo-updates] Add ability to override build-time fingerprint
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/utils/build/createFingerprintForBuildAsync.js
  packages/expo-updates/utils/src/createFingerprintForBuildAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#27636 chore(metro-runtime): Use `process.env.EXPO_OS` platform env checks to reduce
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/async-require/fetchAsync.native.d.ts.map
  packages/@expo/metro-runtime/build/async-require/fetchAsync.native.js
  packages/@expo/metro-runtime/build/async-require/fetchAsync.native.js.map
  packages/@expo/metro-runtime/build/async-require/loadBundle.d.ts.map
  packages/@expo/metro-runtime/build/async-require/loadBundle.js
  packages/@expo/metro-runtime/build/async-require/loadBundle.js.map
  packages/@expo/metro-runtime/build/error-overlay/Data/LogContext.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/Data/LogContext.js
  packages/@expo/metro-runtime/build/error-overlay/Data/LogContext.js.map
  packages/@expo/metro-runtime/build/error-overlay/UI/constants.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/UI/constants.js
  packages/@expo/metro-runtime/build/error-overlay/UI/constants.js.map
  packages/@expo/metro-runtime/build/error-overlay/index.d.ts.map
  packages/@expo/metro-runtime/build/error-overlay/index.js
  packages/@expo/metro-runtime/build/error-overlay/index.js.map
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorHeader.js
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorHeader.js.map
  packages/@expo/metro-runtime/src/async-require/fetchAsync.native.ts
  packages/@expo/metro-runtime/src/async-require/loadBundle.ts
  packages/@expo/metro-runtime/src/error-overlay/Data/LogContext.tsx
  packages/@expo/metro-runtime/src/error-overlay/UI/constants.ts
  packages/@expo/metro-runtime/src/error-overlay/index.tsx
  packages/@expo/metro-runtime/src/error-overlay/overlay/LogBoxInspectorHeader.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#27703 [contacts] Fix editing contacts on both platforms
  apps/native-component-list/src/screens/Contacts/ContactDetailScreen.tsx
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
  packages/expo-contacts/build/Contacts.js
  packages/expo-contacts/build/Contacts.js.map
  packages/expo-contacts/ios/ContactsModule.swift
  packages/expo-contacts/ios/Serialization.swift
  packages/expo-contacts/src/Contacts.ts
Labels: bot: needs changes, bot: fingerprint changed
