Repository expo/expo, pull requests merged in 2025-06, with the labels that each got.

#36048 [docs] Add expo-iap to In-App Purchases Documentation
  docs/pages/guides/in-app-purchases.mdx
Labels: bot: passed checks

#37173 [docs] Add missing indentation to navigation snippet
  docs/pages/tutorial/add-navigation.mdx
Labels: bot: passed checks

#37136 [ui] allow custom children in swift-ui button
  apps/native-component-list/src/screens/UI/ButtonScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/Button/index.d.ts
  packages/expo-ui/build/swift-ui/Button/index.d.ts.map
  packages/expo-ui/build/swift-ui/Button/index.js
  packages/expo-ui/build/swift-ui/Button/index.js.map
  packages/expo-ui/build/swift-ui/ContextMenu/utils.js
  packages/expo-ui/build/swift-ui/ContextMenu/utils.js.map
  packages/expo-ui/ios/Button/Button.swift
  packages/expo-ui/ios/Button/ButtonProps.swift
  packages/expo-ui/src/swift-ui/Button/index.tsx
  packages/expo-ui/src/swift-ui/ContextMenu/utils.ts
Labels: bot: passed checks

#37193 [android][updates] Cleanup resources on destroy
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/CheckForUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/FetchUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StateMachineSerialExecutorQueue.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Labels: bot: passed checks, bot: fingerprint changed

#37200 [sqlite][Android] Fix nullability of binding params
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeStatementBinding.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#36907 [docs] add Expo.plist annotation for Xcode users in eas-update docs
  docs/pages/eas-update/getting-started.mdx
Labels: bot: passed checks

#37224 [docs][expo-audio] Add missing useEffect import in example code
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/v53.0.0/sdk/audio.mdx
Labels: bot: passed checks

#37235 [expo-image][ios] Fix blurry images when using tintColor by respecting screen scale
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#37227 [android] [expo-image-picker] Prevent external applications from accessing the CropImageActivity
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/AndroidManifest.xml
Labels: bot: passed checks

#37248 [docs] Fix code example in GLView
  docs/pages/versions/unversioned/sdk/gl-view.mdx
  docs/pages/versions/v51.0.0/sdk/gl-view.mdx
  docs/pages/versions/v52.0.0/sdk/gl-view.mdx
  docs/pages/versions/v53.0.0/sdk/gl-view.mdx
Labels: bot: passed checks

#37177 [video][ios][1/4] `onStatusChange` audit - Fix player not entering 'error' state when loading fails
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoPlayerItem.swift
Labels: bot: passed checks

#37217 [template] Fix scroll inset in default template
  templates/expo-template-default/app/(tabs)/_layout.tsx
  templates/expo-template-default/components/ParallaxScrollView.tsx
  templates/expo-template-default/components/ui/TabBarBackground.ios.tsx
  templates/expo-template-default/components/ui/TabBarBackground.tsx
Labels: bot: passed checks

#37181 [video][ios][3/4] onStatusChange audit - Fix player going into `loading` status for a single frame when unpausing
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoPlayerObserver.swift
Labels: bot: passed checks

#37255 [docs] Home: reduce spacing of cells, other tweaks
  docs/ui/components/Home/components/GridCell.tsx
  docs/ui/components/Home/sections/QuickStart.tsx
Labels: bot: passed checks, preview

#37260 [docs] add first two published talks from App.js'25
  docs/public/static/talks.ts
Labels: bot: passed checks, preview

#37246 [sqlite] fix exception from empty sqlite session
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/cpp/NativeSessionBinding.cpp
  packages/expo-sqlite/ios/SQLiteModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#37243 [calendar][iOS] Don't encode event URLs
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/CalendarModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#37240 [jest-expo] Fix ES6 import syntax inconsistency in setup.js
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: passed checks

#37039 [0.80.0][kotlin] fixed breaking changes in 0.80 after kotlin conversion
  packages/expo-image/android/src/main/java/expo/modules/image/okhttp/GlideUrlWrapperLoader.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ReactLifecycleDelegate.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/events/KModuleEventEmitterWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/records/RecordTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/AnyTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ArrayTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ColorTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ExpoDynamic.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ListTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/MapTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/PairTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/ReadableArgumentsTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/SetTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterProvider.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/net/UriTypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#37278 [docs] Update additional resources
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
Labels: bot: passed checks

#37279 [0.80.0] updated lockfiles
  apps/expo-go/ios/Podfile.lock
  apps/native-tests/ios/Podfile.lock
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#35712 [docs] Update Config plugins section and add a guide on how to create a config plugin
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/package.json
  docs/pages/config-plugins/development-and-debugging.mdx
  docs/pages/config-plugins/introduction.mdx
  docs/pages/config-plugins/mods.mdx
  docs/pages/config-plugins/plugins-and-mods.mdx
  docs/pages/config-plugins/plugins.mdx
  docs/ui/components/ConfigPluginHierarchy/index.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#37194 [autolinking] add --transitive-linking-dependencies for edge-to-edge
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.js.map
  packages/expo-modules-autolinking/src/index.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/reactNativeConfig-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37204 [fingerprint] add useCNGForPlatforms to indicate project workflow
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/ExpoResolver.d.ts
  packages/@expo/fingerprint/build/ExpoResolver.js
  packages/@expo/fingerprint/build/ExpoResolver.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/ProjectWorkflow.d.ts
  packages/@expo/fingerprint/build/ProjectWorkflow.js
  packages/@expo/fingerprint/build/ProjectWorkflow.js.map
  packages/@expo/fingerprint/build/utils/Path.d.ts
  packages/@expo/fingerprint/build/utils/Path.js
  packages/@expo/fingerprint/build/utils/Path.js.map
  packages/@expo/fingerprint/package.json
  packages/@expo/fingerprint/src/ExpoResolver.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/ProjectWorkflow.ts
  packages/@expo/fingerprint/src/__tests__/Config-test.ts
  packages/@expo/fingerprint/src/__tests__/Fingerprint-filehook-test.ts
  packages/@expo/fingerprint/src/__tests__/Fingerprint-test.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/ProjectWorkflow-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/hash/__tests__/Hash-ReactImportsPatcher-test.ts
  packages/@expo/fingerprint/src/hash/__tests__/Hash-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Bare-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/PatchPackage-test.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Sourcer-test.ts
  packages/@expo/fingerprint/src/utils/Path.ts
  packages/@expo/fingerprint/src/utils/__tests__/Path-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37205 [fingerprint] ignore native files for CNG projects
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37209 [fingerprint] include edge-to-edge autolinking
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Bare.d.ts
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/build/sourcer/Sourcer.js
  packages/@expo/fingerprint/build/sourcer/Sourcer.js.map
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/Sourcer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37296 sync changelog
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/package.json
  packages/babel-preset-expo/CHANGELOG.md
  packages/expo-audio/CHANGELOG.md
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-av/CHANGELOG.md
  packages/expo-blur/CHANGELOG.md
  packages/expo-camera/CHANGELOG.md
  packages/expo-contacts/CHANGELOG.md
  packages/expo-crypto/CHANGELOG.md
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-gl/CHANGELOG.md
  packages/expo-image/CHANGELOG.md
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-linear-gradient/CHANGELOG.md
  packages/expo-media-library/CHANGELOG.md
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-notifications/CHANGELOG.md
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-symbols/CHANGELOG.md
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-ui/CHANGELOG.md
  packages/expo-updates/CHANGELOG.md
  packages/expo-video/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
  packages/jest-expo/CHANGELOG.md
Labels: bot: passed checks

#37295 Update create-a-modal.mdx
  docs/pages/tutorial/create-a-modal.mdx
Labels: bot: passed checks

#37282 Updated secure store iOS plist example key/value
  docs/pages/versions/unversioned/sdk/securestore.mdx
Labels: bot: passed checks

#37280 [core][Android] Fix linking of local aar's
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/ProjectExtension.kt
Labels: bot: suggestions, bot: fingerprint compatible

#37304 [docs] Fix existing React Native project info.plist instruction in SecureStore
  docs/pages/versions/v51.0.0/sdk/securestore.mdx
  docs/pages/versions/v52.0.0/sdk/securestore.mdx
  docs/pages/versions/v53.0.0/sdk/securestore.mdx
Labels: bot: passed checks

#37311 [dev-client] Fix integration with RN 0.80
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/helpers/DevLauncherReactUtils.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/react/DevLauncherBridgeDevSupportManager.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/react/DevLauncherDevSupportManagerSwapper.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuPackagerCommandHandlersSwapper.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/react/DevMenuShakeDetectorListenerSwapper.kt
Labels: bot: suggestions, bot: fingerprint changed

#37332 fix(fingerprint): move `glob` from `devDependencies` to `dependencies`
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#37175 [ios][audio] Synchronize access to component registry
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/ios/AudioComponentRegistry.swift
  packages/expo-audio/ios/AudioExceptions.swift
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioRecorder.swift
Labels: bot: passed checks, bot: fingerprint changed

#37198 [android][camera] Fix barcode scanner coordinates and performance
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/analyzers/BarcodeAnalyzer.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/ResolveTakenPicture.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/utils/BarCodeScannerListMappers.kt
Labels: bot: passed checks, bot: fingerprint changed

#37345 Update @react-native-async-storage/async-storage to 2.2.0
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/modules/@react-native-async-storage/async-storage/android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncStorageModule.java
  apps/expo-go/modules/@react-native-async-storage/async-storage/package.json
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  tools/src/vendoring/config/react-native-async-storage-scoped-storage.patch
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#37300 [image][iOS] Make `useAppleWebpCodec` a view prop instead of the source property
  apps/native-component-list/src/screens/Image/ImageFormatsScreen.tsx
  docs/public/static/data/unversioned/expo-image.json
  docs/public/static/data/v53.0.0/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageSource.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#37353 sync changelog
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-tests/package.json
  apps/paper-tester/package.json
  packages/expo-av/CHANGELOG.md
  packages/expo-camera/CHANGELOG.md
  packages/expo-image/CHANGELOG.md
  packages/expo-image/package.json
  packages/expo-video/CHANGELOG.md
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
Labels: bot: passed checks

#37151 [ios][splash-screen] Get SplashScreen storyboard name from plist file
  packages/expo-splash-screen/CHANGELOG.md
  packages/expo-splash-screen/ios/SplashScreenManager.swift
Labels: bot: passed checks

#37348 [docs] fix setup environment assets theme in Auto mode
  docs/scenes/get-started/set-up-your-environment/SelectCard.tsx
Labels: bot: passed checks, preview

#37340 [docs] Fix broken links
  docs/common/error-utilities.ts
  docs/pages/config-plugins/mods.mdx
  docs/pages/develop/development-builds/create-a-build.mdx
Labels: bot: passed checks

#37364 [docs] Fix lint and formatting issues
  docs/pages/guides/using-sentry.mdx
Labels: bot: passed checks

#37372 [bare-expo][video] fix ios beta 26 build and runtime problems.
  apps/bare-expo/ios/AppDelegate.swift
  packages/expo-video/ios/VideoPlayerItem.swift
Labels: bot: suggestions, bot: fingerprint changed

#37375 [docs] update instruction to latest SDK
  docs/pages/workflow/ios-simulator.mdx
Labels: bot: passed checks

#37377 [bare-expo][ios] fix: cannot find 'nw_tls_create_options' in scope
  apps/bare-expo/ios/AppDelegate.swift
Labels: bot: passed checks

#37380 [docs] Add `require-approval` and `doc` jobs
  docs/pages/eas/workflows/pre-packaged-jobs.mdx
  docs/pages/eas/workflows/syntax.mdx
Labels: docs, bot: passed checks, preview

#37320 [ios][expo-audio]: Fix changing pitch algorithm stops the playback if sampling is enabled
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/ios/AudioTapProcessor.m
Labels: bot: passed checks

#37399 [docs] Update Maestro and its documentation links
  docs/pages/archive/e2e-tests.mdx
  docs/pages/custom-builds/schema.mdx
  docs/pages/eas/workflows/reference/e2e-tests.mdx
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#37393 [ios][camera] Refactor CameraView
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/CameraView.d.ts.map
  packages/expo-camera/build/CameraView.js
  packages/expo-camera/build/CameraView.js.map
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Common/ExpoCameraUtils.swift
  packages/expo-camera/ios/Current/CameraPhotoCapture.swift
  packages/expo-camera/ios/Current/CameraSessionManager.swift
  packages/expo-camera/ios/Current/CameraVideoRecording.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/ios/SimulatorUtils.swift
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/CameraView.tsx
Labels: bot: passed checks, bot: fingerprint changed

#37411 [expo-screen-capture] add useScreenshotListener hook
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.d.ts.map
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/src/ScreenCapture.ts
Labels: bot: passed checks

#37363 [expo-image][android] fix resuming animation
  apps/native-component-list/src/screens/Image/ImageAnimationResuming.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageViewWrapper.kt
Labels: bot: passed checks, bot: fingerprint changed

#37412 chore(0.80): upgraded react-native-gesture-handler to 2.26.0
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/Podfile.lock
  apps/notification-tester/package.json
  apps/test-suite/package.json
  packages/expo/bundledNativeModules.json
  patches/react-native-gesture-handler+2.24.0.patch
  templates/expo-template-default/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#37374 [image] fix contentPosition is wrong after switching dark mode
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks, bot: fingerprint changed

#37231 [bare-expo][android] Fix TabNavigator insets and status bar color
  apps/bare-expo/MainNavigator.tsx
  apps/bare-expo/android/app/src/main/res/values/styles.xml
  apps/bare-expo/package.json
Labels: bot: passed checks, bot: fingerprint changed

#37429 [documents-picker][ios][android] add lastModified for native platforms
  apps/native-component-list/src/screens/DocumentPickerScreen.tsx
  docs/public/static/data/unversioned/expo-document-picker.json
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentDetailsReader.kt
  packages/expo-document-picker/android/src/main/java/expo/modules/documentpicker/DocumentPickerResults.kt
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.d.ts.map
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/ios/DocumentPickerModule.swift
  packages/expo-document-picker/ios/DocumentPickerResponse.swift
  packages/expo-document-picker/src/types.ts
Labels: bot: passed checks

#37464 [ios][audio] Change permission string
  packages/expo-audio/ios/AudioRecordingRequester.swift
Labels: bot: suggestions, bot: fingerprint changed

#37466 [docs] Fix google fonts import path
  docs/pages/develop/user-interface/fonts.mdx
Labels: bot: passed checks

#37463 [router][docs] Fix redirects example
  docs/public/static/data/unversioned/expo-router.json
  docs/public/static/data/v53.0.0/expo-router.json
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/src/link/Link.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#37475 [android][audio] Prevent status updates when player is paused
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
Labels: bot: passed checks, bot: fingerprint changed

#37298 migrate expo-keep-awake and expo-status-bar to package exports
  packages/expo-keep-awake/CHANGELOG.md
  packages/expo-keep-awake/build/ExpoKeepAwake.js
  packages/expo-keep-awake/build/ExpoKeepAwake.js.map
  packages/expo-keep-awake/build/ExpoKeepAwake.web.js
  packages/expo-keep-awake/build/ExpoKeepAwake.web.js.map
  packages/expo-keep-awake/build/KeepAwake.types.js
  packages/expo-keep-awake/build/KeepAwake.types.js.map
  packages/expo-keep-awake/build/index.js
  packages/expo-keep-awake/build/index.js.map
  packages/expo-keep-awake/package.json
  packages/expo-keep-awake/tsconfig.json
  packages/expo-status-bar/CHANGELOG.md
  packages/expo-status-bar/build/StatusBar.d.ts.map
  packages/expo-status-bar/package.json
  packages/expo-status-bar/src/StatusBar.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37446 [av][core][gl][sqlite] support android 16kb page size
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/build.gradle
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/android/build.gradle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#37454 [camera][image] bump lib versions for 16kb support
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/build.gradle
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#34962 chore(cli): avoid .expo/readme.md markdown rendering issue
  packages/@expo/cli/src/start/project/dotExpo.ts
Labels: bot: suggestions

#37501 [docs] Make it explicit file extensions should be boldified
  guides/Expo Documentation Writing Style Guide.md
Labels: bot: passed checks

#37485 [audio] Repurpose av tests
  apps/test-suite/tests/Audio.js
  apps/test-suite/tests/Audio.ts
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: suggestions, bot: fingerprint changed

#37500 [launcher][Android] Start migrating ui to compose
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/compose/DevLauncherMainView.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/compose/primitives/Accordion.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/compose/screens/Home.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/compose/screens/Settings.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/compose/ui/AppHeader.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/compose/ui/SectionHeader.kt
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuScreen.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/AppIcon.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Divider.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Spacer.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Surface.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Text.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/theme/Sizing.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/theme/Typography.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/AppInfo.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/Containers.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/MenuButton.kt
Labels: bot: suggestions

#37489 feat(metro-config): add browserslist support
  apps/router-e2e/package.json
  apps/router-e2e/postcss.config.mjs
  docs/pages/versions/unversioned/config/metro.mdx
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/browserslist.d.ts
  packages/@expo/metro-config/build/transform-worker/browserslist.js
  packages/@expo/metro-config/build/transform-worker/browserslist.js.map
  packages/@expo/metro-config/build/transform-worker/css-modules.js
  packages/@expo/metro-config/build/transform-worker/css-modules.js.map
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/serializer/__tests__/css.test.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/postcss.test.ts
  packages/@expo/metro-config/src/transform-worker/__tests__/transform-worker.test.ts
  packages/@expo/metro-config/src/transform-worker/browserslist.ts
  packages/@expo/metro-config/src/transform-worker/css-modules.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#37507 feat(expo): add TextDecoderStream and TextEncoderStream APIs to the global
  docs/pages/versions/unversioned/sdk/expo.mdx
  packages/expo/CHANGELOG.md
  packages/expo/build/winter/TextDecoderStream.d.ts
  packages/expo/build/winter/TextDecoderStream.d.ts.map
  packages/expo/src/winter/TextDecoderStream.ts
  packages/expo/src/winter/__tests__/TextDecoderStream.test.ios.ts
  packages/expo/src/winter/__tests__/TextEncoderStream.test.ios.ts
  packages/expo/src/winter/runtime.native.ts
Labels: bot: passed checks

#37508 [docs] Update platform-specific extensions and modules guide in Expo Router
  docs/pages/router/advanced/platform-specific-modules.mdx
Labels: bot: passed checks

#35335 [android][local-authentication] Add promptSubtitle and promptDescription for Android
  apps/native-component-list/src/screens/LocalAuthenticationScreen.tsx
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationModule.kt
  packages/expo-local-authentication/android/src/main/java/expo/modules/localauthentication/LocalAuthenticationRecords.kt
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.types.js.map
  packages/expo-local-authentication/src/LocalAuthentication.types.ts
  packages/expo-local-authentication/src/__tests__/LocalAuthentication-test.native.ts
Labels: bot: passed checks

#37271 Remove compromised link in expo-splash-screen README.md
  packages/expo-splash-screen/README.md
Labels: bot: suggestions

#37524 fix(jest-expo): disable default async require messaging socket in testing environments
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: passed checks, bot: fingerprint compatible

#37520 chore(expo 53): upgraded @react-native-community/datetimepicker to 8.4.1
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#36866 [router] Prevent error when using screen options with prefetching
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useFocusEffect.d.ts.map
  packages/expo-router/build/useFocusEffect.js
  packages/expo-router/build/useFocusEffect.js.map
  packages/expo-router/build/utils/stack.d.ts
  packages/expo-router/build/utils/stack.d.ts.map
  packages/expo-router/build/utils/stack.js
  packages/expo-router/build/utils/stack.js.map
  packages/expo-router/build/views/Screen.d.ts.map
  packages/expo-router/build/views/Screen.js
  packages/expo-router/build/views/Screen.js.map
  packages/expo-router/build/views/Unmatched.d.ts.map
  packages/expo-router/build/views/Unmatched.js
  packages/expo-router/build/views/Unmatched.js.map
  packages/expo-router/build/views/useSafeLayoutEffect.d.ts
  packages/expo-router/build/views/useSafeLayoutEffect.d.ts.map
  packages/expo-router/build/views/useSafeLayoutEffect.js
  packages/expo-router/build/views/useSafeLayoutEffect.js.map
  packages/expo-router/src/__tests__/prefetch.test.ios.tsx
  packages/expo-router/src/__tests__/useFocusEffect.test.ios.tsx
  packages/expo-router/src/useFocusEffect.ts
  packages/expo-router/src/utils/stack.ts
  packages/expo-router/src/views/Screen.tsx
  packages/expo-router/src/views/Unmatched.tsx
  packages/expo-router/src/views/useSafeLayoutEffect.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37521 [expo-go] Build on 0.80
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/android/app/build.gradle
  apps/expo-go/android/expoview/build.gradle
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/factories/ExpoGoDevSupportFactory.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/expoview/Exponent.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentDevBundleDownloadListener.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/DevMenuModule.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/av/SharedCookiesDataSourceFactory.kt
  apps/expo-go/android/settings.gradle
  apps/expo-go/android/tools/src/main/java/host/exp/exponent/tools/ReactAndroidCodeTransformer.java
  apps/expo-go/android/tools/src/main/java/host/exp/exponent/tools/ReactAndroidKotlinTransformer.java
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo-updates/android/build.gradle
  packages/expo/bundledNativeModules.json
  patches/@shopify+flash-list+1.7.6.patch
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#37540 [docs] Fix lint issue
  docs/pages/router/advanced/protected.mdx
Labels: bot: passed checks

#37539 [workspaces] Patch react-native-macos to find correct Hermes prebuild
  apps/bare-expo/macos/Podfile.lock
  apps/bare-expo/scripts/fixtures/macos/patches/react-native-macos+0.78.3.patch
  apps/bare-expo/scripts/setup-macos-project.sh
Labels: bot: passed checks, bot: fingerprint compatible

#37545 [docs] Update Video icon position in SidebarLink
  docs/ui/components/Sidebar/SidebarLink.tsx
Labels: bot: passed checks

#37536 [docs] Update SSO setup instructions
  docs/pages/accounts/sso.mdx
Labels: bot: passed checks

#37549 [ncl] Remove Lottie example
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/macos/Podfile.lock
  apps/bare-expo/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/LottieScreen.tsx
  patches/lottie-react-native+7.2.2.patch
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#37558 [CI] Convert Updates E2E disabled tests to Maestro
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-enabled.yml
  packages/expo-constants/build/Constants.d.ts.map
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.server.js.map
  packages/expo-constants/src/Constants.server.ts
  packages/expo-constants/src/Constants.ts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/fixtures/project_files/maestro/maestro-test-executor.sh
  packages/expo-updates/e2e/fixtures/project_files/maestro/tests/disabled_verifyState.yml
  packages/expo-updates/e2e/fixtures/project_files/maestro/tests/updates-e2e-disabled.yml
Labels: bot: suggestions, bot: fingerprint compatible

#37570 [CI][expo-constants] Fix check-packages warning
  packages/expo-constants/CHANGELOG.md
  packages/expo-constants/build/Constants.d.ts.map
  packages/expo-constants/build/Constants.js.map
  packages/expo-constants/build/Constants.server.d.ts.map
  packages/expo-constants/build/Constants.server.js.map
  packages/expo-constants/src/Constants.server.ts
  packages/expo-constants/src/Constants.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37572 [dev-client] Remove dev-launcher imports
  packages/expo-dev-client/build/DevClient.d.ts
  packages/expo-dev-client/build/DevClient.d.ts.map
  packages/expo-dev-client/build/DevClient.js
  packages/expo-dev-client/build/DevClient.js.map
  packages/expo-dev-client/plugin/build/withDevClient.d.ts
  packages/expo-dev-client/plugin/build/withDevClient.js
  packages/expo-dev-client/plugin/src/withDevClient.ts
  packages/expo-dev-client/src/DevClient.ts
Labels: bot: suggestions, bot: fingerprint compatible

#37556 [audio] Fix metering issues
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/ios/AudioRecorder.swift
  packages/expo-audio/ios/AudioUtils.swift
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: passed checks, bot: fingerprint changed

#37581 sync SDK 53 changelogs
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/server/CHANGELOG.md
  packages/babel-preset-expo/CHANGELOG.md
  packages/expo-dev-client/CHANGELOG.md
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-maps/CHANGELOG.md
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-router/CHANGELOG.md
  packages/expo-system-ui/CHANGELOG.md
  packages/expo-updates/CHANGELOG.md
  packages/expo-video/CHANGELOG.md
  packages/expo-web-browser/CHANGELOG.md
  packages/expo/CHANGELOG.md
Labels: bot: passed checks

#37111 [docs] Add header and screen options from React Navigation to Stack in Expo Router
  docs/package.json
  docs/pages/router/advanced/stack.mdx
  docs/public/data/react-navigation-options.json
  docs/scripts/fetch-react-navigation-options.js
  docs/ui/components/ReactNavigationOptions/index.tsx
Labels: bot: passed checks, preview

#37582 [docs] add Keith App.js'25 talk, pin it on home
  docs/public/static/talks.ts
Labels: bot: passed checks, preview

#37373 [expo-ui] Add ios glass button effect.
  apps/native-component-list/src/screens/UI/ButtonScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/Button/index.d.ts
  packages/expo-ui/build/swift-ui/Button/index.d.ts.map
  packages/expo-ui/build/swift-ui/Button/index.js.map
  packages/expo-ui/ios/Button/Button.swift
  packages/expo-ui/ios/Button/ButtonProps.swift
  packages/expo-ui/src/swift-ui/Button/index.tsx
Labels: bot: passed checks, bot: fingerprint changed

#37583 [docs] Fix minor issues in native module and native view tutorials
  docs/pages/modules/native-module-tutorial.mdx
  docs/pages/modules/native-view-tutorial.mdx
Labels: bot: passed checks

#37587 [launcher][Android] Add account screen
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherBottomTabsNavigator.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherMainView.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/primitives/Scaffold.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/Home.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/SignUp.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AppHeader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/BottomSheet.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/BottomTabBar.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/BottomTabButton.kt
Labels: bot: suggestions, bot: fingerprint changed

#37612 [calendar][iOS] Make location optional
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/ios/Records/CalendarRecords.swift
Labels: bot: passed checks

#37614 [launcher][Android] Add correct insets
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherBottomTabsNavigator.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/primitives/DefaultScaffold.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/Home.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/Settings.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AppHeader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/BottomTabBar.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/ScreenHeaderContainer.kt
Labels: bot: suggestions

#37486 [tools] remove @expo/xdl
  apps/eas-expo-go/eas.json
  guides/Creating Unimodules.md
  tools/package.json
  tools/patches/@expo+xdl+59.2.1.patch
  tools/src/AndroidDevice.ts
  tools/src/Constants.ts
  tools/src/IOSSimulator.ts
  tools/src/ProjectVersions.ts
  tools/src/Versions.ts
  tools/src/commands/ClientInstall.ts
  tools/src/commands/CreateUnimodule.ts
  tools/src/commands/EasDispatch.ts
  tools/src/commands/PromoteVersionsToProduction.ts
  tools/src/commands/PublishProdExpoHomeCommand.ts
  tools/src/commands/SyncBundledNativeModules.ts
  tools/src/commands/UpdateVersionsEndpoint.ts
  tools/src/dynamic-macros/IosMacrosGenerator.ts
  tools/src/dynamic-macros/macros.ts
  tools/src/generate-module/ModuleConfiguration.ts
  tools/src/generate-module/configureModule.ts
  tools/src/generate-module/fetchTemplate.ts
  tools/src/generate-module/generateModuleAsync.ts
  tools/src/generate-module/promptQuestionsAsync.ts
  tools/yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#37613 revert "remove expo-notifications from auto plugins"
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/expo-notifications.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/expo-notifications.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/expo-notifications.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/withAndroidNotifications.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/withAndroidNotifications.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/withAndroidNotifications.js.map
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-notifications/__tests__/withAndroidNotifications-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-notifications/expo-notifications.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-notifications/withAndroidNotifications.ts
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
Labels: bot: passed checks

#37624 [mail-composer][android] Replace LabeledIntent with Intent in composeAsync
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/android/src/main/java/expo/modules/mailcomposer/MailComposerModule.kt
Labels: bot: passed checks

#37272 Update api-routes.mdx - express@^5 not supported
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#37626 [docs] Add clarity about free plan credits in Billing
  docs/pages/billing/faq.mdx
  docs/pages/billing/plans.mdx
Labels: bot: passed checks

#36497 chore(cli): test latest LTS Node version `18 -> 20`
  .github/workflows/cli.yml
Labels: bot: passed checks, bot: fingerprint compatible

#37617 [docs] Add missing import reference for Directory in expo-file-system/next
  docs/pages/versions/unversioned/sdk/filesystem-next.mdx
  docs/pages/versions/v52.0.0/sdk/filesystem-next.mdx
  docs/pages/versions/v53.0.0/sdk/filesystem-next.mdx
Labels: bot: passed checks

#37594 [expo-file-system] Add total and available sizes, directory sizes for ios
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/next/ExpoFileSystem.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.d.ts.map
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/build/next/FileSystem.d.ts
  packages/expo-file-system/build/next/FileSystem.d.ts.map
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemNextExceptions.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
  packages/expo-file-system/src/next/ExpoFileSystem.ts
  packages/expo-file-system/src/next/ExpoFileSystem.types.ts
  packages/expo-file-system/src/next/FileSystem.ts
Labels: bot: suggestions, bot: fingerprint changed

#37671 chore: revert `node: 20` upgrade for Windows workflows due to RSC and async components
  .github/workflows/cli.yml
Labels: bot: passed checks

#37647 fix(expo-linking): Fix cold booting iOS apps with a universal link
  apps/router-e2e/.env
  apps/router-e2e/__e2e__/universal-linking/app/+native-intent.ts
  apps/router-e2e/__e2e__/universal-linking/app/.well-known/apple-app-site-association+api.ts
  apps/router-e2e/__e2e__/universal-linking/app/index.tsx
  apps/router-e2e/__e2e__/universal-linking/app/post/[post].tsx
  apps/router-e2e/app.config.js
  apps/router-e2e/package.json
  packages/expo-linking/CHANGELOG.md
  packages/expo-linking/ios/LinkingAppDelegateSubscriber.swift
Labels: bot: suggestions, bot: fingerprint changed

#37646 [CI][expo-updates] dev client updates E2E Maestro test
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-dev-client.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-old-arch.yml
  packages/expo-updates/e2e/fixtures/project_files/maestro/maestro-test-executor.sh
  packages/expo-updates/e2e/fixtures/project_files/maestro/tests/devClient_runUpdate.yml
  packages/expo-updates/e2e/fixtures/project_files/maestro/tests/devClient_verifyState.yml
  packages/expo-updates/e2e/fixtures/project_files/maestro/tests/updates-e2e-dev-client.yml
  packages/expo-updates/e2e/setup/create-dev-client-eas-project.ts
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#37681 [docs] Mention `groups` submit parameter
  docs/pages/eas/workflows/pre-packaged-jobs.mdx
  docs/pages/eas/workflows/syntax.mdx
  docs/public/static/schemas/unversioned/eas-json-submit-ios-schema.js
Labels: bot: passed checks

#37687 [tools] Throw error when attempting publishing specific packages as canaries.
  tools/src/commands/PublishPackages.ts
Labels: bot: passed checks

#37618 [ios][core] Support throwing errors in shared object constructor
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Classes/ClassDefinition.swift
  packages/expo-modules-core/ios/JSI/EXJavaScriptRuntime.mm
  packages/expo-modules-core/ios/Tests/ClassDefinitionSpec.swift
  packages/expo-modules-core/ios/Tests/ExceptionsSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#37677 [CI][expo-updates] Update README and comments
  packages/expo-updates/e2e/README.md
  packages/expo-updates/e2e/setup/create-bricking-measures-disabled-eas-project.ts
  packages/expo-updates/e2e/setup/create-dev-client-eas-project.ts
  packages/expo-updates/e2e/setup/create-disabled-eas-project.ts
  packages/expo-updates/e2e/setup/create-eas-project-custom-init.ts
  packages/expo-updates/e2e/setup/create-eas-project-old-arch.ts
  packages/expo-updates/e2e/setup/create-eas-project-tv.ts
  packages/expo-updates/e2e/setup/create-eas-project.ts
  packages/expo-updates/e2e/setup/create-error-recovery-eas-project.ts
  packages/expo-updates/e2e/setup/create-fingerprint-eas-project.ts
  packages/expo-updates/e2e/setup/create-startup-eas-project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#37702 [fingerprint] Respects ignore paths for patches dir
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/PatchPackage.js
  packages/@expo/fingerprint/build/sourcer/PatchPackage.js.map
  packages/@expo/fingerprint/src/sourcer/PatchPackage.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/PatchPackage-test.ts
Labels: bot: passed checks

#37728 Fix invalid check for publishing canary packages.
  tools/src/commands/PublishPackages.ts
Labels: bot: passed checks

#37635 refactor: upgrade Express to `express@5`
  apps/router-e2e/__e2e__/server-root-group/express.js
  apps/router-e2e/__e2e__/server/express.js
  apps/router-e2e/__e2e__/static-redirects/express.js
  apps/router-e2e/package.json
  docs/pages/router/reference/api-routes.mdx
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/package.json
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/e2e/setup/project.ts
  packages/expo-updates/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#37692 [file-system][next] Update `exists` logic to align with documentation
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemDirectory.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemFile.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemPath.kt
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemPath.swift
Labels: bot: passed checks, bot: fingerprint changed

#37660 [ios][dev-launcher] Add admin settings
  packages/expo-dev-launcher/ios/SwiftUI/DevLauncherViews.swift
  packages/expo-dev-launcher/ios/SwiftUI/SettingsTabView.swift
Labels: bot: suggestions, bot: fingerprint changed

#37661 [ios][dev-menu] Fix button press on scroll
  packages/expo-dev-menu/ios/SwiftUI/DevMenuMainView.swift
Labels: bot: suggestions, bot: fingerprint changed

#37698 [android][audio] Fix focus management issues
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
Labels: bot: passed checks, bot: fingerprint changed

#37682 fix[web][expo-image]: `alt` as alias for `accessibilityLabel`
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/ExpoImage.web.d.ts
  packages/expo-image/build/ExpoImage.web.d.ts.map
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/src/ExpoImage.web.tsx
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks

#37707 [updates] remove detox workaround
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesPackage.kt
Labels: bot: passed checks, bot: fingerprint changed

#37467 [expo-file-system/next] Satisfy TSC strict noImplicitOverride
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/next/FileSystem.d.ts.map
  packages/expo-file-system/src/next/FileSystem.ts
Labels: bot: passed checks

#37700 [expo-router] Allow for multiple children in Link.Trigger
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/index.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/LinkWithPreview.d.ts.map
  packages/expo-router/build/link/LinkWithPreview.js
  packages/expo-router/build/link/LinkWithPreview.js.map
  packages/expo-router/src/link/LinkWithPreview.tsx
  packages/expo-router/src/link/__tests__/Link.test.ios.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#37711 Chore(i18n): add isRTL code snippet
  docs/pages/guides/localization.mdx
Labels: bot: passed checks

#37629 [updates] Add basic support for macOS
  apps/bare-expo/macos/BareExpo-macOS.xcodeproj/project.pbxproj
  apps/bare-expo/macos/BareExpo-macOS/Supporting/Expo.plist
  apps/bare-expo/macos/Podfile.lock
  packages/expo-eas-client/CHANGELOG.md
  packages/expo-eas-client/ios/EASClient.podspec
  packages/expo-manifests/CHANGELOG.md
  packages/expo-manifests/ios/EXManifests.podspec
  packages/expo-manifests/ios/EXManifests/Manifest.swift
  packages/expo-structured-headers/CHANGELOG.md
  packages/expo-structured-headers/ios/EXStructuredHeaders.podspec
  packages/expo-updates-interface/CHANGELOG.md
  packages/expo-updates-interface/ios/EXUpdatesInterface.podspec
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates.podspec
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo-updates/scripts/create-updates-resources-ios.sh
Labels: bot: passed checks, bot: fingerprint changed

#36987 [ios][splashscreen] Fix default splashscreen without plugin
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashAssets.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/InterfaceBuilder.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashAssets.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withIosSplashScreenStoryboardImage.ts
  templates/expo-template-bare-minimum/ios/HelloWorld/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
  templates/expo-template-bare-minimum/ios/HelloWorld/Images.xcassets/SplashScreenLegacy.imageset/SplashScreenLegacy.png
Labels: bot: suggestions, bot: fingerprint compatible

#37703 [docs]: clarify KeyboardAwareScrollView recommendation
  docs/pages/guides/keyboard-handling.mdx
Labels: bot: passed checks

#37754 [sandbox] Bump react-native to 0.80.0
  apps/sandbox/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#37755 [expo] Remove outdated TODO comment from ExpoAppDelegate
  packages/expo/ios/AppDelegates/ExpoAppDelegate.swift
Labels: bot: suggestions, bot: fingerprint changed
