Repository expo/expo, pull requests merged in 2025-01, with the labels that each got.

#33860 [core][iOS] Support dispatching events by SwiftUI views
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Events/EventDispatcher.swift
  packages/expo-modules-core/ios/Core/Modules/CoreModule.swift
  packages/expo-modules-core/ios/Core/Protocols/AnyViewDefinition.swift
  packages/expo-modules-core/ios/Core/Records/Record.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewProps.swift
  packages/expo-modules-core/ios/Core/Views/ViewDefinition.swift
Labels: bot: passed checks, bot: fingerprint changed

#33904 [docs] Use complete option name instead of shorthand
  docs/pages/guides/environment-variables.mdx
  docs/pages/router/installation.mdx
Labels: bot: passed checks

#33900 [docs] Apply APIBox formatting to package.json reference
  docs/pages/versions/unversioned/config/package-json.mdx
  docs/pages/versions/v52.0.0/config/package-json.mdx
Labels: bot: passed checks

#33898 [docs] switch to MDX v3, update setup related dependencies
  docs/components/plugins/api/APISectionUtils.tsx
  docs/components/plugins/api/components/APICommentTextBlock.tsx
  docs/components/plugins/api/types.ts
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks, preview

#33899 [docs] APISection: display single line / non-block examples inline
  docs/components/plugins/api/components/APICommentTextBlock.tsx
Labels: bot: passed checks

#33902 [router][docs] Fix broken React Navigation docs links in Expo Router reference
  docs/components/plugins/api/APIStaticData.ts
  docs/public/static/data/unversioned/expo-router.json
  docs/public/static/data/v52.0.0/expo-router.json
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/link/Link.d.ts
  packages/expo-router/build/link/Link.d.ts.map
  packages/expo-router/build/link/Link.js.map
  packages/expo-router/build/link/useLinkHooks.d.ts
  packages/expo-router/build/link/useLinkHooks.js.map
  packages/expo-router/build/typed-routes/types.d.ts
  packages/expo-router/build/typed-routes/types.js.map
  packages/expo-router/build/ui/Tabs.js
  packages/expo-router/build/ui/Tabs.js.map
  packages/expo-router/build/useNavigation.d.ts
  packages/expo-router/build/useNavigation.js
  packages/expo-router/build/useNavigation.js.map
  packages/expo-router/src/imperative-api.ts
  packages/expo-router/src/link/Link.tsx
  packages/expo-router/src/link/useLinkHooks.ts
  packages/expo-router/src/typed-routes/types.ts
  packages/expo-router/src/ui/Tabs.tsx
  packages/expo-router/src/useNavigation.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33917 [expo-go] Fix reloading when typing in text input
  apps/expo-go/ios/Exponent/Kernel/DevSupport/EXKernelDevKeyCommands.m
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks

#33901 [core][iOS] Add `UnimplementedExpoView` as a stub for SwiftUI on the old architecture
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/UnimplementedExpoView.swift
Labels: bot: passed checks, bot: fingerprint changed

#33923 [docs] Highlighted a new import in the getting started tutorial
  docs/pages/tutorial/screenshot.mdx
Labels: bot: passed checks

#33920 [docs] Fix internal links and redirects
  docs/common/error-utilities.ts
  docs/deploy.sh
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
  docs/pages/versions/v50.0.0/sdk/notifications.mdx
  docs/pages/versions/v50.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v51.0.0/sdk/notifications.mdx
  docs/pages/versions/v51.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/splash-screen.mdx
Labels: bot: passed checks

#33921 [docs] Fix APIBox usage for app config schema
  docs/ui/components/AppConfigSchemaTable/__snapshots__/AppConfigSchemaTable.test.tsx.snap
  docs/ui/components/AppConfigSchemaTable/index.tsx
Labels: bot: passed checks

#33867 [packages][ios]Fix ScreenOrientation.addOrientationChangeListener() Freezes iOS Devices
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationRegistry.swift
Labels: bot: passed checks

#33274 [ios][expo-media-library] Introducing pairedVideoAsset
  apps/native-component-list/src/screens/MediaLibrary/MediaLibraryScreen.tsx
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks

#33925 [docs] small typo fix in custom tab layouts guide
  docs/pages/router/advanced/custom-tabs.mdx
Labels: bot: passed checks

#33708 [audio] Fix issues with `replace` method
  apps/native-component-list/src/screens/Audio/expo-audio/AudioPlayer.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/Player.tsx
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/ios/AudioTapProcessor.h
  packages/expo-audio/ios/AudioTapProcessor.m
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: passed checks, bot: fingerprint changed

#33934 fix(cli): Recurse server action exports to collect all references.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33928 [docs] Fix typos in multiple docs
  docs/pages/tutorial/image-picker.mdx
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/v52.0.0/sdk/audio.mdx
Labels: bot: passed checks

#33933 fix(babel): fix server action extraction position
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/server-actions-plugin.js
  packages/babel-preset-expo/src/__tests__/server-actions.test.ts
  packages/babel-preset-expo/src/server-actions-plugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33924 [docs] Update podcasts and live streams sections in additional resources
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
  docs/public/static/thumbnails/rnr-316.jpg
  docs/public/static/thumbnails/sedaily-01.webp
Labels: bot: passed checks

#33940 [audio] Minor refactor and docs
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/src/Audio.types.ts
Labels: bot: suggestions, bot: fingerprint changed

#33959 [docs] change fingerprintExperimental reference to fingerprint
  docs/pages/eas-update/deployment-patterns.mdx
Labels: bot: passed checks

#33825 [bun] Add support for text-based lockfile format
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/e2e/__tests__/prebuild-test.ts
  packages/@expo/cli/e2e/fixtures/with-monorepo/.gitignore
  packages/@expo/cli/src/install/index.ts
  packages/@expo/cli/src/prebuild/index.ts
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/utils/nodeManagers.d.ts
  packages/@expo/package-manager/build/utils/nodeManagers.js
  packages/@expo/package-manager/build/utils/nodeManagers.js.map
  packages/@expo/package-manager/src/utils/__tests__/nodeManagers-test.ts
  packages/@expo/package-manager/src/utils/nodeManagers.ts
  packages/create-expo-nightly/src/Packages.ts
Labels: bot: passed checks

#33957 [android][template] Correctly support dark mode
  templates/expo-template-bare-minimum/android/app/src/main/res/values/styles.xml
Labels: bot: passed checks

#33964 [android][bare-expo] Use DayNight theme
  apps/bare-expo/android/app/src/main/res/values/styles.xml
Labels: bot: passed checks, bot: fingerprint changed

#33878 fix(rsc): assorted fixes for RSC
  packages/@expo/cli/src/export/embed/exportServer.ts
  packages/@expo/cli/src/utils/env.ts
  packages/expo-router/build/rsc/router/host.d.ts.map
  packages/expo-router/build/rsc/router/host.js
  packages/expo-router/build/rsc/router/host.js.map
  packages/expo-router/build/rsc/server.js
  packages/expo-router/build/rsc/server.js.map
  packages/expo-router/src/rsc/router/host.tsx
  packages/expo-router/src/rsc/server.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33966 [docs] Add local-first videos
  docs/pages/guides/local-first.mdx
Labels: bot: passed checks

#33863 [android][calendar] add `EventRecurrenceUtils` unit tests
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/android/build.gradle
  packages/expo-calendar/android/src/test/java/expo/modules/calendar/EventRecurrenceUtilsTest.kt
Labels: bot: passed checks

#33858 [bare-expo] fix search navigation
  apps/native-component-list/src/screens/ComponentListScreen.tsx
Labels: bot: passed checks

#33719 [sensors] Add missing permission functions to DeviceMotion modules
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
  packages/expo-sensors/ios/DeviceMotionModule.swift
Labels: bot: passed checks

#33973 [docs] Add missing annotation for image container in Expo tutorial
  docs/pages/tutorial/build-a-screen.mdx
Labels: bot: passed checks

#33906 [cli] support --bytecode in export:embed
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-embed-test.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/export/embed/index.ts
  packages/@expo/cli/src/export/embed/resolveOptions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33802 Location can be null
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.d.ts.map
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/src/Calendar.ts
Labels: bot: passed checks

#33993 [contacts] Fix `native view manager isn't exported` warning
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/ContactAccessButton.d.ts.map
  packages/expo-contacts/src/ContactAccessButton.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#33633 refactor(env)!: remove environment variable state and allow fetching locally defined environments
  packages/@expo/env/CHANGELOG.md
  packages/@expo/env/build/env.d.ts
  packages/@expo/env/build/env.js
  packages/@expo/env/build/env.js.map
  packages/@expo/env/build/index.d.ts
  packages/@expo/env/build/index.js
  packages/@expo/env/build/index.js.map
  packages/@expo/env/src/__tests__/env.test.ts
  packages/@expo/env/src/__tests__/index.test.ts
  packages/@expo/env/src/env.ts
  packages/@expo/env/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33986 [android][audio] Guard againist permission errors when recording
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioUtils.kt
Labels: bot: passed checks, bot: fingerprint changed

#33989 [build-properties] Add `android.useDayNightTheme`
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.d.ts
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/build/withBuildProperties.js
  packages/expo-build-properties/src/__tests__/android-queries-test.ts
  packages/expo-build-properties/src/__tests__/withBuildPropertiesDayNight-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-build-properties/src/withBuildProperties.ts
Labels: bot: passed checks, bot: fingerprint changed

#33978 fix(router): Fix render store issue on native
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/middleware.js
  packages/expo-router/build/rsc/middleware.js.map
  packages/expo-router/build/rsc/router/create-pages.d.ts
  packages/expo-router/build/rsc/router/create-pages.d.ts.map
  packages/expo-router/build/rsc/server.d.ts
  packages/expo-router/build/rsc/server.d.ts.map
  packages/expo-router/build/rsc/server.js
  packages/expo-router/build/rsc/server.js.map
  packages/expo-router/src/rsc/middleware.ts
  packages/expo-router/src/rsc/server.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33977 [expo-updates][android] Use more robust mechanism for determining empty multipart bodies
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
Labels: bot: passed checks, bot: fingerprint changed

#33980 feat(cli): Add `--unstable-rebundle` flag to expo run:ios
  apps/router-e2e/app.config.js
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportEager.ts
  packages/@expo/cli/src/export/embed/exportEmbedAsync.ts
  packages/@expo/cli/src/run/ios/XcodeBuild.types.ts
  packages/@expo/cli/src/run/ios/index.ts
  packages/@expo/cli/src/run/ios/options/resolveOptions.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#33927 [docs] Update EAS tutorial
  docs/pages/tutorial/eas/android-production-build.mdx
  docs/pages/tutorial/eas/configure-development-build.mdx
  docs/pages/tutorial/eas/introduction.mdx
  docs/pages/tutorial/eas/ios-production-build.mdx
  docs/pages/tutorial/eas/manage-app-versions.mdx
  docs/public/static/images/tutorial/eas/new-project.png
Labels: bot: passed checks, preview

#33971 fix: add e2e testing to server function errors
  apps/router-e2e/__e2e__/04-server-error-boundaries/app/index.tsx
  apps/router-e2e/__e2e__/04-server-error-boundaries/components/bundler-error-actions.tsx
  apps/router-e2e/__e2e__/04-server-error-boundaries/components/server-actions.tsx
  apps/router-e2e/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/04-server-error-boundaries.test.ts
  packages/@expo/cli/src/export/embed/xcodeCompilerLogger.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/error-overlay/overlay/LogBoxInspectorMessageHeader.d.ts.map
  packages/@expo/metro-runtime/src/error-overlay/overlay/LogBoxInspectorMessageHeader.tsx
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/middleware/rsc.js
  packages/@expo/server/build/middleware/rsc.js.map
  packages/@expo/server/src/middleware/rsc.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/router/errors.d.ts
  packages/expo-router/build/rsc/router/errors.d.ts.map
  packages/expo-router/build/rsc/router/errors.js
  packages/expo-router/build/rsc/router/errors.js.map
  packages/expo-router/build/rsc/router/host.d.ts.map
  packages/expo-router/build/rsc/router/host.js
  packages/expo-router/build/rsc/router/host.js.map
  packages/expo-router/build/views/ErrorBoundary.d.ts.map
  packages/expo-router/build/views/ErrorBoundary.js
  packages/expo-router/build/views/ErrorBoundary.js.map
  packages/expo-router/src/rsc/router/errors.ts
  packages/expo-router/src/rsc/router/host.tsx
  packages/expo-router/src/views/ErrorBoundary.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#33551 [notifications] DateTriggerInput to only accept an object
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/scheduleNotificationAsync.js
  packages/expo-notifications/build/scheduleNotificationAsync.js.map
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/__tests__/Notifications-test.ts
  packages/expo-notifications/src/scheduleNotificationAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#32433 [updates] Add new state machine context about startup procedure
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesStateMachineInstrumentationTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/procedures/StateMachineSerialExecutorQueueTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RecreateReactContextProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RelaunchProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StateMachineProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StateMachineSerialExecutorQueue.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateContext.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateEvent.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateEventType.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
  packages/expo-updates/build/ExpoUpdates.web.d.ts.map
  packages/expo-updates/build/ExpoUpdates.web.js
  packages/expo-updates/build/ExpoUpdates.web.js.map
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/build/UseUpdates.d.ts.map
  packages/expo-updates/build/UseUpdates.js
  packages/expo-updates/build/UseUpdates.js.map
  packages/expo-updates/build/UseUpdates.types.d.ts
  packages/expo-updates/build/UseUpdates.types.d.ts.map
  packages/expo-updates/build/UseUpdates.types.js.map
  packages/expo-updates/build/UseUpdatesUtils.d.ts
  packages/expo-updates/build/UseUpdatesUtils.d.ts.map
  packages/expo-updates/build/UseUpdatesUtils.js
  packages/expo-updates/build/UseUpdatesUtils.js.map
  packages/expo-updates/e2e/fixtures/App.tsx
  packages/expo-updates/e2e/fixtures/Updates-error-recovery.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates-startup.e2e.ts
  packages/expo-updates/e2e/fixtures/Updates.e2e.ts
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/Procedures/CheckForUpdateProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/FetchUpdateProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/RecreateReactContextProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/RelaunchProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/StartupProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/StateMachineProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/StateMachineSerialExecutorQueue.swift
  packages/expo-updates/ios/EXUpdates/UpdatesStateMachine.swift
  packages/expo-updates/ios/Tests/UpdatesStateMachineSpec.swift
  packages/expo-updates/src/ExpoUpdates.web.ts
  packages/expo-updates/src/Updates.types.ts
  packages/expo-updates/src/UseUpdates.ts
  packages/expo-updates/src/UseUpdates.types.ts
  packages/expo-updates/src/UseUpdatesUtils.ts
  packages/expo-updates/src/__tests__/UseUpdates-test.ios.tsx
  packages/expo-updates/src/__tests__/UseUpdatesTestApp.tsx
Labels: bot: passed checks, bot: fingerprint changed

#34004 [updates] Disable fingerprint workflow in workflow file
  .github/workflows/updates-e2e-fingerprint.yml
Labels: bot: passed checks

#33996 [web-browser][ios] Fix crash when using popover presentation on iPad
  packages/expo-web-browser/CHANGELOG.md
  packages/expo-web-browser/ios/WebBrowserSession.swift
Labels: bot: passed checks

#33379 [1/n] upgrade to react-native 0.77 - fabric-tester
  apps/fabric-tester/App.tsx
  apps/fabric-tester/android/build.gradle
  apps/fabric-tester/app.json
  apps/fabric-tester/ios/Podfile.lock
  apps/fabric-tester/package.json
  package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/README.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/DevLauncherReactHost.kt
  packages/expo-dev-launcher/bundle/immediateShim.js
  packages/expo-dev-launcher/bundle/index.ts
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#33947 [3/n] upgrade to react-native 0.77 - bare-expo
  .github/workflows/test-suite.yml
  apps/bare-expo/android/build.gradle
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingPackage.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingTurboPackage.kt
  apps/bare-expo/package.json
  patches/lottie-react-native+7.1.0.patch
  patches/react-native-gesture-handler+2.20.2.patch
  patches/react-native-reanimated+3.16.1.patch
  patches/react-native-webview+13.12.2.patch
Labels: bot: passed checks, bot: fingerprint changed

#33946 [2/n] upgrade to react-native 0.77 - packages
  apps/bare-expo/ios/Podfile.lock
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/ReactHostWrapper.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/README.md
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/AppDelegates/ExpoAppDelegate.swift
  packages/expo-updates/expo-updates-gradle-plugin/build.gradle.kts
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapperBase.kt
  packages/expo/src/winter/fetch/__tests__/convertFormData-test.native.ts
  packages/html-elements/CHANGELOG.md
  packages/html-elements/build/primitives/View.d.ts
  packages/html-elements/build/primitives/View.d.ts.map
  packages/html-elements/build/primitives/View.js.map
  packages/html-elements/src/primitives/View.tsx
Labels: bot: suggestions, bot: fingerprint changed

#33991 [docs][filesystem][next]Add examples using `@expo/fetch`
  docs/pages/versions/unversioned/sdk/filesystem-next.mdx
Labels: bot: passed checks

#33694 [expo-updates] Fix expo-updates breaking filesystem on API24-25
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#34017 fix(metro-runtime): parse errors with babel code frame identical on Windows and Mac
  packages/@expo/cli/e2e/playwright/dev/04-server-error-boundaries.test.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/src/error-overlay/Data/parseLogBoxLog.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#34020 [4/n] upgrade to react-native 0.77 - fix podfile.lock
  .github/workflows/test-suite.yml
  apps/bare-expo/ios/Podfile.lock
  apps/fabric-tester/ios/Podfile.lock
Labels: bot: passed checks, bot: fingerprint changed

#34027 [5/n] upgrade to react-native 0.77 - expo-image type
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/utils.d.ts
  packages/expo-image/build/utils.d.ts.map
  packages/expo-image/src/utils.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34030 fix(env): do not overwrite existing environment variables in the legacy API
  packages/@expo/env/build/index.js
  packages/@expo/env/build/index.js.map
  packages/@expo/env/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34026 [expo-router] added guard in expo-router's fast-refresh to avoid `WeakSet key must be an object`
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fast-refresh.d.ts.map
  packages/expo-router/build/fast-refresh.js
  packages/expo-router/build/fast-refresh.js.map
  packages/expo-router/src/fast-refresh.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34028 [docs] Add missing light sensor in the Sensors description
  docs/pages/versions/unversioned/sdk/sensors.mdx
  docs/pages/versions/v50.0.0/sdk/sensors.mdx
  docs/pages/versions/v51.0.0/sdk/sensors.mdx
  docs/pages/versions/v52.0.0/sdk/sensors.mdx
Labels: bot: passed checks

#34003 [updates] Fix fingerprint test
  .github/actions/eas-build/action.yml
  .github/workflows/tvos-compile-test.yml
  .github/workflows/updates-e2e-disabled.yml
  .github/workflows/updates-e2e-error-recovery.yml
  .github/workflows/updates-e2e-fingerprint.yml
  .github/workflows/updates-e2e-startup.yml
  .github/workflows/updates-e2e.yml
  packages/expo-updates/e2e/fixtures/Updates-fingerprint.e2e.ts
  packages/expo-updates/e2e/fixtures/project_files/.fingerprintignore
Labels: bot: suggestions, bot: fingerprint compatible

#34033 [router]: Fix lint errors
  packages/expo-router/CHANGELOG.md
  packages/expo-router/src/__tests__/headless-tabs.test.ios.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#34036 [docs] Link updates config options to config page
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v51.0.0/sdk/updates.mdx
  docs/pages/versions/v52.0.0/sdk/updates.mdx
Labels: bot: passed checks

#34040 [mail-composer][iOS] Fix MailComposer backdrop dismiss on iPad
  packages/expo-mail-composer/CHANGELOG.md
  packages/expo-mail-composer/ios/MailComposingSession.swift
Labels: bot: suggestions, bot: fingerprint changed

#34035 [expo-updates][ios] Inject logger from controllers down to dependent objects
  apps/expo-go/ios/Client/HomeAppLoader.swift
  apps/expo-go/ios/Client/HomeAppLoaderTask.swift
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  apps/expo-go/ios/Exponent/Kernel/Services/EXUpdatesDatabaseManager.m
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/AppLauncher/AppLauncherWithDatabase.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoaderTask.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabase.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesDatabaseInitialization.swift
  packages/expo-updates/ios/EXUpdates/Database/UpdatesReaper.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/ErrorRecovery.swift
  packages/expo-updates/ios/EXUpdates/Logging/UpdatesLogger.swift
  packages/expo-updates/ios/EXUpdates/Procedures/CheckForUpdateProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/RelaunchProcedure.swift
  packages/expo-updates/ios/EXUpdates/Procedures/StartupProcedure.swift
  packages/expo-updates/ios/EXUpdates/UpdatesStateMachine.swift
Labels: bot: suggestions, bot: fingerprint changed

#34041 Bump apps to use react-native 0.77.0-rc.6
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/jest-expo-mock-generator/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile.lock
  apps/native-tests/package.json
  apps/router-e2e/package.json
  apps/test-suite/package.json
Labels: bot: passed checks, bot: fingerprint changed

#34031 [android][audio] Remove unused parameters to `setAudioModeAsync`
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecords.kt
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: passed checks, bot: fingerprint changed

#34002 [camera] Support pausing and resuming video recording
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  apps/native-component-list/src/screens/Camera/CameraScreenFull.tsx
  apps/native-component-list/src/screens/Camera/CameraScreenPauseRecording.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  docs/public/static/data/unversioned/expo-camera.json
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/CameraView.d.ts
  packages/expo-camera/build/CameraView.d.ts.map
  packages/expo-camera/build/CameraView.js
  packages/expo-camera/build/CameraView.js.map
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Common/CameraExceptions.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/CameraView.tsx
Labels: bot: passed checks, bot: fingerprint changed

#34053 [android][expo-navigation-bar] restrict color value type to avoid passing illegal PlatformColor
  packages/expo-navigation-bar/CHANGELOG.md
  packages/expo-navigation-bar/build/NavigationBar.d.ts
  packages/expo-navigation-bar/build/NavigationBar.d.ts.map
  packages/expo-navigation-bar/build/NavigationBar.js.map
  packages/expo-navigation-bar/src/NavigationBar.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34052 [ios][calendar] Correctly type `organizer` on `Event`
  apps/bare-expo/ios/Podfile.lock
  packages/expo-calendar/CHANGELOG.md
  packages/expo-calendar/build/Calendar.d.ts
  packages/expo-calendar/build/Calendar.d.ts.map
  packages/expo-calendar/build/Calendar.js.map
  packages/expo-calendar/ios/CalendarExceptions.swift
  packages/expo-calendar/ios/CalendarModule.swift
  packages/expo-calendar/src/Calendar.ts
Labels: bot: passed checks, bot: fingerprint changed

#34044 [expo-font][ios] Fix crash when writing to fontFamilyAliases
  packages/expo-font/CHANGELOG.md
  packages/expo-font/ios/FontFamilyAliasManager.swift
Labels: bot: passed checks

#34034 [docs] APISection: allow displaying override entities in classes
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionClasses.tsx
Labels: bot: passed checks, preview

#34042 [modules-core][iOS] Use REACT_NATIVE_PATH to determine react-native version
  apps/eas-expo-go/eas.json
  apps/expo-go/ios/Podfile.lock
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ExpoModulesCore.podspec
Labels: bot: passed checks, bot: fingerprint changed

#34057 [splashscreen] Fix prebuild without `--clean`
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/InterfaceBuilder.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/InterfaceBuilder.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34015 [autolinking] Add `coreFeatures` field
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/build/platforms/apple.js
  packages/expo-modules-autolinking/build/platforms/apple.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/index.ts
  packages/expo-modules-autolinking/src/platforms/__tests__/android-test.ts
  packages/expo-modules-autolinking/src/platforms/__tests__/apple-test.ts
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-autolinking/src/platforms/apple.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: suggestions, bot: fingerprint changed

#34037 [docs][1/n] Fix versioned links to app config
  docs/pages/versions/unversioned/sdk/apple-authentication.mdx
  docs/pages/versions/unversioned/sdk/av.mdx
  docs/pages/versions/unversioned/sdk/brightness.mdx
  docs/pages/versions/unversioned/sdk/calendar.mdx
  docs/pages/versions/unversioned/sdk/camera.mdx
  docs/pages/versions/unversioned/sdk/cellular.mdx
  docs/pages/versions/unversioned/sdk/contacts.mdx
  docs/pages/versions/unversioned/sdk/document-picker.mdx
  docs/pages/versions/unversioned/sdk/securestore.mdx
  docs/pages/versions/unversioned/sdk/sensors.mdx
  docs/pages/versions/unversioned/sdk/stripe.mdx
  docs/pages/versions/unversioned/sdk/tracking-transparency.mdx
  docs/pages/versions/v50.0.0/sdk/apple-authentication.mdx
  docs/pages/versions/v50.0.0/sdk/av.mdx
  docs/pages/versions/v50.0.0/sdk/brightness.mdx
  docs/pages/versions/v50.0.0/sdk/calendar.mdx
  docs/pages/versions/v50.0.0/sdk/camera-next.mdx
  docs/pages/versions/v50.0.0/sdk/camera.mdx
  docs/pages/versions/v50.0.0/sdk/cellular.mdx
  docs/pages/versions/v50.0.0/sdk/contacts.mdx
  docs/pages/versions/v50.0.0/sdk/document-picker.mdx
  docs/pages/versions/v50.0.0/sdk/notifications.mdx
  docs/pages/versions/v50.0.0/sdk/securestore.mdx
  docs/pages/versions/v50.0.0/sdk/sensors.mdx
  docs/pages/versions/v50.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v51.0.0/sdk/apple-authentication.mdx
  docs/pages/versions/v51.0.0/sdk/av.mdx
  docs/pages/versions/v51.0.0/sdk/brightness.mdx
  docs/pages/versions/v51.0.0/sdk/calendar.mdx
  docs/pages/versions/v51.0.0/sdk/camera-legacy.mdx
  docs/pages/versions/v51.0.0/sdk/camera.mdx
  docs/pages/versions/v51.0.0/sdk/cellular.mdx
  docs/pages/versions/v51.0.0/sdk/contacts.mdx
  docs/pages/versions/v51.0.0/sdk/document-picker.mdx
  docs/pages/versions/v51.0.0/sdk/securestore.mdx
  docs/pages/versions/v51.0.0/sdk/sensors.mdx
  docs/pages/versions/v51.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v52.0.0/sdk/apple-authentication.mdx
  docs/pages/versions/v52.0.0/sdk/av.mdx
  docs/pages/versions/v52.0.0/sdk/brightness.mdx
  docs/pages/versions/v52.0.0/sdk/calendar.mdx
  docs/pages/versions/v52.0.0/sdk/camera.mdx
  docs/pages/versions/v52.0.0/sdk/cellular.mdx
  docs/pages/versions/v52.0.0/sdk/contacts.mdx
  docs/pages/versions/v52.0.0/sdk/document-picker.mdx
  docs/pages/versions/v52.0.0/sdk/securestore.mdx
  docs/pages/versions/v52.0.0/sdk/sensors.mdx
  docs/pages/versions/v52.0.0/sdk/stripe.mdx
  docs/pages/versions/v52.0.0/sdk/tracking-transparency.mdx
Labels: bot: passed checks

#34038 [docs][2/n] More fixing of versioned links in versioned docs
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v50.0.0/config/metro.mdx
  docs/pages/versions/v51.0.0/config/metro.mdx
  docs/pages/versions/v52.0.0/config/metro.mdx
Labels: bot: passed checks

#34039 [docs][3/n] More versioned link fixes
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/unversioned/sdk/asset.mdx
  docs/pages/versions/unversioned/sdk/audio-av.mdx
  docs/pages/versions/unversioned/sdk/document-picker.mdx
  docs/pages/versions/unversioned/sdk/haptics.mdx
  docs/pages/versions/unversioned/sdk/stripe.mdx
  docs/pages/versions/v50.0.0/config/metro.mdx
  docs/pages/versions/v50.0.0/index.mdx
  docs/pages/versions/v50.0.0/sdk/document-picker.mdx
  docs/pages/versions/v50.0.0/sdk/haptics.mdx
  docs/pages/versions/v50.0.0/sdk/location.mdx
  docs/pages/versions/v50.0.0/sdk/stripe.mdx
  docs/pages/versions/v51.0.0/config/metro.mdx
  docs/pages/versions/v51.0.0/index.mdx
  docs/pages/versions/v51.0.0/sdk/asset.mdx
  docs/pages/versions/v51.0.0/sdk/document-picker.mdx
  docs/pages/versions/v51.0.0/sdk/haptics.mdx
  docs/pages/versions/v51.0.0/sdk/location.mdx
  docs/pages/versions/v51.0.0/sdk/stripe.mdx
  docs/pages/versions/v52.0.0/config/metro.mdx
  docs/pages/versions/v52.0.0/index.mdx
  docs/pages/versions/v52.0.0/sdk/asset.mdx
  docs/pages/versions/v52.0.0/sdk/document-picker.mdx
  docs/pages/versions/v52.0.0/sdk/haptics.mdx
  docs/pages/versions/v52.0.0/sdk/stripe.mdx
Labels: bot: passed checks

#33908 [docs] Fix `expo-dev-launcher` plugin name and app variant usage with `addGeneratedScheme`
  docs/pages/build-reference/variants.mdx
  docs/pages/versions/unversioned/sdk/dev-client.mdx
  docs/pages/versions/v51.0.0/sdk/dev-client.mdx
  docs/pages/versions/v52.0.0/sdk/dev-client.mdx
Labels: bot: passed checks

#34045 [fingerprint] Finish adding args to fingerprint CLI
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/cli/build/commands/generateFingerprint.js
  packages/@expo/fingerprint/cli/src/commands/generateFingerprint.ts
  packages/@expo/fingerprint/e2e/__tests__/bare-test.ts
  packages/@expo/fingerprint/e2e/__tests__/managed-test.ts
  packages/@expo/fingerprint/e2e/__tests__/updates-test.ts
  packages/@expo/fingerprint/e2e/__tests__/utils/CLIUtils.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  packages/@expo/fingerprint/src/sourcer/__tests__/Expo-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34072 [expo-updates] Add simple CLI E2E test
  .github/workflows/updates-e2e-cli.yml
  packages/expo-updates/cli/build/syncConfigurationToNativeAsync.js
  packages/expo-updates/cli/src/syncConfigurationToNativeAsync.ts
  packages/expo-updates/e2e-cli/__tests__/cli-test.ts
  packages/expo-updates/e2e-cli/__tests__/utils/CLIUtils.ts
  packages/expo-updates/e2e-cli/__tests__/utils/Utils.ts
  packages/expo-updates/e2e-cli/jest.config.js
  packages/expo-updates/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#34067 [dev-launcher] shorter timeout for launchLastOpenedBundle mode
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestParser.h
  packages/expo-dev-launcher/ios/Manifest/EXDevLauncherManifestParser.m
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherManifestParserTests.m
Labels: bot: passed checks, bot: fingerprint changed

#34087 [template][iOS] Clean up the `pbxproj` and `xcworkspace`
  templates/expo-template-bare-minimum/ios/HelloWorld.xcodeproj/project.pbxproj
  templates/expo-template-bare-minimum/ios/HelloWorld.xcworkspace/contents.xcworkspacedata
  templates/expo-template-bare-minimum/ios/HelloWorld.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: bot: passed checks

#34081 [Android][core][autolinking] Get access to `coreFeatures`
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/GradleExtension.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/configuration/ExpoAutolinkingConfig.kt
  packages/expo-modules-core/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#34077 [android][haptics] Add `performAndroidHapticsAsync()`
  apps/native-component-list/src/screens/HapticsScreen.tsx
  docs/public/static/data/unversioned/expo-haptics.json
  packages/expo-haptics/CHANGELOG.md
  packages/expo-haptics/android/src/main/java/expo/modules/haptics/HapticsModule.kt
  packages/expo-haptics/android/src/main/java/expo/modules/haptics/HapticsRecord.kt
  packages/expo-haptics/android/src/main/java/expo/modules/haptics/arguments/HapticsExceptions.kt
  packages/expo-haptics/build/Haptics.d.ts
  packages/expo-haptics/build/Haptics.d.ts.map
  packages/expo-haptics/build/Haptics.types.d.ts
  packages/expo-haptics/build/Haptics.types.d.ts.map
  packages/expo-haptics/src/Haptics.ts
  packages/expo-haptics/src/Haptics.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#34078 [6/n] upgrade to react-native 0.77 - improve 0.76 compatibility
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/bundle/immediateShim.js
  packages/expo-dev-launcher/bundle/index.ts
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  patches/react-native+0.77.0-rc.6.patch
Labels: bot: passed checks, bot: fingerprint changed

#34086 Fix ambiguous return type error in Swift closure
  packages/expo-splash-screen/ios/SplashScreenModule.swift
Labels: bot: suggestions

#34089 [audio] Add `didJustFinish` to AudioStatus event
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.web.d.ts.map
  packages/expo-audio/build/AudioModule.web.js
  packages/expo-audio/build/AudioModule.web.js.map
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.web.ts
Labels: bot: passed checks, bot: fingerprint changed

#34082 [ios][camera] Fix setting `videoQuality` prop
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/Options.kt
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Current/CameraRecordingOptions.swift
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#33972 Remove misleading limitation disclaimer in app-versions.mdx
  docs/pages/build-reference/app-versions.mdx
Labels: bot: passed checks

#34063 [docs] streamline code blocks content handling
  docs/common/code-utilities.ts
  docs/components/base/code.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/ui/components/Snippet/actions/CopyAction.tsx
  docs/ui/components/Snippet/blocks/SnackInline.tsx
Labels: bot: passed checks, preview

#34058 [docs] APISection: Namespace children will inherit parent platforms
  docs/components/plugins/api/APISectionMethods.tsx
  docs/components/plugins/api/APISectionNamespaces.tsx
  docs/components/plugins/api/components/APIBoxHeader.tsx
Labels: bot: passed checks, preview

#34070 chore(cli): add ability to run in EAS without needing to locally install first
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/embed/exportServer.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34091 feat(cli): Add support for ESM package imports support
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/package.json
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroMultiPlatform.test.ts
  packages/@expo/cli/src/start/server/metro/createJResolver.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#34097 docs: minor grammar fix
  docs/pages/distribution/app-size.mdx
Labels: bot: passed checks

#34011 [notifications] docs updates
  docs/pages/push-notifications/fcm-credentials.mdx
  docs/pages/push-notifications/what-you-need-to-know.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#34093 feat(cli): Add placeholder HTML for web exports with React Server Components enabled.
  apps/router-e2e/__e2e__/01-rsc/app/colors/[color].tsx
  apps/router-e2e/__e2e__/01-rsc/app/shapes/[shape].tsx
  apps/router-e2e/package.json
  docs/pages/guides/server-components.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/loadStaticParamsAsync.d.ts
  packages/expo-router/build/loadStaticParamsAsync.d.ts.map
  packages/expo-router/build/loadStaticParamsAsync.js
  packages/expo-router/build/loadStaticParamsAsync.js.map
  packages/expo-router/build/rsc/router/create-pages.js
  packages/expo-router/build/rsc/router/create-pages.js.map
  packages/expo-router/build/rsc/router/expo-definedRouter.d.ts.map
  packages/expo-router/build/rsc/router/expo-definedRouter.js
  packages/expo-router/build/rsc/router/expo-definedRouter.js.map
  packages/expo-router/build/static/getServerManifest.d.ts
  packages/expo-router/build/static/getServerManifest.d.ts.map
  packages/expo-router/build/static/getServerManifest.js
  packages/expo-router/build/static/getServerManifest.js.map
  packages/expo-router/build/static/renderStaticContent.d.ts
  packages/expo-router/build/static/renderStaticContent.d.ts.map
  packages/expo-router/build/static/renderStaticContent.js
  packages/expo-router/build/static/renderStaticContent.js.map
  packages/expo-router/src/loadStaticParamsAsync.ts
  packages/expo-router/src/rsc/router/create-pages.ts
  packages/expo-router/src/rsc/router/expo-definedRouter.ts
  packages/expo-router/src/static/getServerManifest.ts
  packages/expo-router/src/static/renderStaticContent.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#34092 [guides] Add guideline for referencing app config
  guides/Expo Documentation Writing Style Guide.md
Labels: bot: passed checks

#34122 feature(cli): add flag to disable dependency validation for `npx expo install` and `npx expo start`
  docs/pages/more/expo-cli.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/@expo/cli/src/install/installAsync.ts
  packages/@expo/cli/src/start/doctor/dependencies/getVersionedPackages.ts
  packages/@expo/cli/src/start/startAsync.ts
  packages/@expo/cli/src/utils/env.ts
Labels: bot: passed checks

#34128 fix(cli): Fix compiler usage with RSC HMR.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34129 fix(cli): Fix copying public files to dist/client in RSC exports.
  apps/router-e2e/__e2e__/01-rsc/public/_static-file.txt
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/publicFolder.ts
  packages/@expo/cli/src/export/saveAssets.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34112 [core] allows extending `process.env` types
  apps/native-component-list/.env
  apps/native-component-list/src/types/envChecks.ts
  apps/native-component-list/ts-declarations/env.d.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/ts-declarations/global.d.ts
  packages/expo-modules-core/build/ts-declarations/global.d.ts.map
  packages/expo-modules-core/src/ts-declarations/global.ts
Labels: bot: passed checks, bot: fingerprint changed

#34127 [cli][doctor] exclude `@expo-google-fonts/*` packages from new arch check
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/install/utils/__tests__/checkPackagesCompatibility-test.ts
  packages/@expo/cli/src/install/utils/checkPackagesCompatibility.ts
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/ReactNativeDirectoryCheck.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34116 [live-photo] tweak exports, update doc comments
  docs/public/static/data/unversioned/expo-live-photo.json
  packages/expo-live-photo/build/LivePhoto.types.d.ts
  packages/expo-live-photo/build/LivePhoto.types.d.ts.map
  packages/expo-live-photo/build/index.d.ts
  packages/expo-live-photo/build/index.d.ts.map
  packages/expo-live-photo/src/LivePhoto.types.ts
  packages/expo-live-photo/src/index.ts
Labels: bot: suggestions

#34012 [expo-blur][android] Bump Dimezis/BlurView to latest patch version
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/android/build.gradle
Labels: bot: passed checks

#34115 [docs] APISection: render type/props method params and their comments
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
Labels: bot: passed checks, preview

#34124 [iOS][core][autolinking] Get access to `coreFeatures`
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/packages_config.rb
  packages/expo-modules-core/ExpoModulesCore.podspec
Labels: bot: suggestions

#34139 [docs] EAS docs updates
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/constants/navigation.js
  docs/pages/eas/hosting/api-routes.mdx
  docs/pages/eas/hosting/custom-domain.mdx
  docs/pages/eas/hosting/deployments-and-aliases.mdx
  docs/pages/eas/hosting/environment-variables.mdx
  docs/pages/eas/hosting/get-started.mdx
  docs/pages/eas/hosting/index.mdx
  docs/pages/eas/hosting/introduction.mdx
  docs/pages/eas/hosting/reference/caching.mdx
  docs/pages/eas/hosting/reference/responses-and-headers.mdx
  docs/pages/eas/hosting/reference/worker-runtime.mdx
  docs/pages/eas/hosting/workflows.mdx
  docs/pages/eas/index.mdx
  docs/public/static/images/eas-hosting/crashes.png
  docs/public/static/images/eas-hosting/logs.png
  docs/public/static/images/eas-hosting/requests.png
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks

#34123 [docs] Add SEO updates to Migrate Expo CLI guide
  docs/pages/bare/using-expo-cli.mdx
Labels: bot: passed checks

#34021 [docs] Update references of `--save-dev` command in multiple pages
  docs/pages/develop/unit-testing.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/guides/using-eslint.mdx
Labels: bot: passed checks

#33759 @aleqsio/compose
  apps/expo-go/android/settings.gradle
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/ExpoComponentsScreen.tsx
  apps/native-component-list/src/screens/UIScreen.tsx
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/build.gradle
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ComposeViewProp.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ExpoComposeView.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ExpoView.kt
  packages/expo-ui/.eslintrc.js
  packages/expo-ui/.npmignore
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/README.md
  packages/expo-ui/android/build.gradle
  packages/expo-ui/android/src/main/AndroidManifest.xml
  packages/expo-ui/android/src/main/java/expo/modules/ui/ExpoUIModule.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SingleChoiceSegmentedControlView.kt
  packages/expo-ui/babel.config.js
  packages/expo-ui/build/ExpoUI.types.d.ts
  packages/expo-ui/build/ExpoUI.types.d.ts.map
  packages/expo-ui/build/ExpoUIModule.d.ts
  packages/expo-ui/build/ExpoUIModule.d.ts.map
  packages/expo-ui/build/ExpoUIView.d.ts
  packages/expo-ui/build/ExpoUIView.d.ts.map
  packages/expo-ui/build/index.d.ts
  packages/expo-ui/build/index.d.ts.map
  packages/expo-ui/expo-module.config.json
  packages/expo-ui/package.json
  packages/expo-ui/src/ExpoUI.types.ts
  packages/expo-ui/src/ExpoUIModule.ts
  packages/expo-ui/src/ExpoUIView.tsx
  packages/expo-ui/src/index.ts
  packages/expo-ui/tsconfig.json
Labels: bot: passed checks, bot: fingerprint changed

#34114 feat: support RN 0.77 in SDK 52
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingPackage.kt
  apps/bare-expo/modules/benchmarking/android/src/main/java/expo/modules/benchmark/BenchmarkingTurboPackage.kt
  apps/bare-expo/package.json
  apps/expo-go/ios/Client/AppDelegate.swift
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/PickerScreen.tsx
  apps/native-tests/ios/Podfile.lock
  apps/router-e2e/package.json
  package.json
  packages/@expo/cli/e2e/fixtures/with-router-typed-routes/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/README.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/ReactHostWrapper.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/README.md
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  packages/expo-dev-menu/ios/DevMenuAppInstance.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ExpoModulesCore.podspec
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.h
  packages/expo-modules-core/ios/AppDelegates/EXAppDelegateWrapper.mm
  packages/expo-modules-core/ios/AppDelegates/ExpoAppDelegate.swift
  packages/expo-modules-core/ios/AppDelegates/ExpoAppInstance.swift
  packages/expo-modules-core/ios/ReactDelegates/EXReactRootViewFactory.h
  packages/expo-modules-core/ios/ReactDelegates/EXReactRootViewFactory.mm
  packages/expo-updates/expo-updates-gradle-plugin/build.gradle.kts
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ReactNativeHostWrapperBase.kt
  packages/html-elements/CHANGELOG.md
  packages/html-elements/build/primitives/View.d.ts
  packages/html-elements/build/primitives/View.d.ts.map
  packages/html-elements/build/primitives/View.js.map
  packages/html-elements/src/primitives/View.tsx
  patches/@shopify+flash-list+1.7.1.patch
  patches/lottie-react-native+7.1.0.patch
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#34147 [docs] Add a script to generate `llms.txt` files on deployment
  docs/.gitignore
  docs/package.json
  docs/scripts/generate-llms-txt.js
Labels: bot: passed checks, preview

#34148 [docs] brands naming corrections, formatting tweaks
  docs/pages/bare/overview.mdx
  docs/pages/build-reference/infrastructure.mdx
  docs/pages/build/building-on-ci.mdx
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/progressive-web-apps.mdx
  docs/pages/guides/publishing-websites.mdx
  docs/pages/guides/using-bun.mdx
  docs/pages/more/create-expo.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/more/glossary-of-terms.mdx
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/v51.0.0/sdk/sqlite.mdx
  docs/pages/versions/v52.0.0/sdk/sqlite.mdx
Labels: bot: passed checks

#34158 [docs] apply ESLint custom rules also to `*.js` files, scripts tweaks
  docs/.eslintrc.cjs
  docs/common/code-utilities.ts
  docs/common/utilities.ts
  docs/constants/navigation.js
  docs/constants/versions.js
  docs/mdx-plugins/remark-link-rewrite.js
  docs/mdx-plugins/remark-link-rewrite.test.js
  docs/next.config.ts
  docs/package.json
  docs/scripts/append-dates.js
  docs/scripts/copy-latest.js
  docs/scripts/create-sitemap.js
  docs/scripts/generate-llms-txt.js
  docs/scripts/remove-version.js
  docs/scripts/schema-sync.cjs
  docs/ui/components/Layout/useAutoScrollTo.ts
  docs/ui/components/Snippet/prism-bash.js
  docs/ui/components/Tag/helpers.ts
Labels: bot: passed checks

#34155 [docs] Fix external broken links and other minor fixes
  docs/constants/navigation.js
  docs/pages/bare/installing-expo-modules.mdx
  docs/pages/bare/overview.mdx
  docs/pages/eas/hosting/workflows.mdx
  docs/pages/eas/webhooks.mdx
  docs/pages/tutorial/follow-up.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/versions/unversioned/sdk/gl-view.mdx
  docs/pages/versions/v50.0.0/sdk/gl-view.mdx
  docs/pages/versions/v51.0.0/sdk/gl-view.mdx
  docs/pages/versions/v52.0.0/sdk/filesystem-next.mdx
  docs/pages/versions/v52.0.0/sdk/gl-view.mdx
Labels: bot: passed checks

#34138 [blur][Android] Start using new module plugin
  packages/expo-blur/CHANGELOG.md
  packages/expo-blur/android/build.gradle
  packages/expo-modules-core/android/ExpoModulesCorePlugin.gradle
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ExpoModulesGradlePlugin.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#34168 Add temporary fix for HMR in RSC.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34164 [expo-av][docs] Fix platform for Enums in Audio
  docs/public/static/data/unversioned/expo-audio-av.json
  packages/expo-av/build/Audio.types.d.ts
  packages/expo-av/build/Audio.types.d.ts.map
  packages/expo-av/build/Audio.types.js
  packages/expo-av/build/Audio.types.js.map
  packages/expo-av/build/Audio/RecordingConstants.d.ts
  packages/expo-av/build/Audio/RecordingConstants.d.ts.map
  packages/expo-av/build/Audio/RecordingConstants.js
  packages/expo-av/build/Audio/RecordingConstants.js.map
  packages/expo-av/src/Audio.types.ts
  packages/expo-av/src/Audio/RecordingConstants.ts
Labels: bot: suggestions, preview, bot: fingerprint compatible

#34174 [android][camera] Fix pixelation with expo-gl
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-gl/android/src/main/java/expo/modules/gl/GLCameraObject.java
  packages/expo-ui/android/.gitignore
Labels: bot: suggestions, bot: fingerprint changed

#34181 [docs] add EAS Hosting shout out banner
  docs/pages/index.tsx
  docs/ui/components/EASHostingShoutoutBanner.tsx
Labels: bot: passed checks, preview

#34180 feat(cli): warn early about origin issue
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34185 [docs] fix header disappearing on mobile in certain situations
  docs/components/DocumentationNestedScrollLayout.tsx
Labels: bot: passed checks, preview

#34190 [ci] Only run codemention on primary repo (not forks)
  .github/workflows/codemention.yaml
Labels: bot: passed checks

#34212 [@expo/config-plugins] Throw more descriptive error when string resource tag value is empty
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/utils/XML.js
  packages/@expo/config-plugins/build/utils/XML.js.map
  packages/@expo/config-plugins/src/utils/XML.ts
  packages/@expo/config-plugins/src/utils/__tests__/XML-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34215 [expo-updates] Remove long-deprecated typescript types
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34211 feat: Add API routes support with RSC enabled.
  apps/router-e2e/__e2e__/01-rsc/app/api/endpoint+api.ts
  apps/router-e2e/__e2e__/03-server-actions-only/app/api/endpoint+api.ts
  apps/router-e2e/app.config.js
  apps/router-e2e/package.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/01-rsc.test.ts
  packages/@expo/cli/e2e/playwright/dev/02-server-actions.test.ts
  packages/@expo/cli/e2e/playwright/dev/03-server-actions-only.test.ts
  packages/@expo/cli/e2e/playwright/dev/04-server-error-boundaries.test.ts
  packages/@expo/cli/e2e/playwright/dev/rsc.test.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/e2e/playwright/prod/02-server-actions.test.ts
  packages/@expo/cli/e2e/playwright/prod/03-server-actions-only.test.ts
  packages/@expo/cli/e2e/playwright/prod/optimize-pass.test.ts
  packages/@expo/cli/e2e/playwright/prod/tree-shaking.test.ts
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ManifestMiddleware.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34150 feat(docs): add eas hosting option
  docs/pages/guides/publishing-websites.mdx
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#34169 feat(metro-runtime): Polyfill location.origin by default
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/rsc/router/host.d.ts.map
  packages/expo-router/build/rsc/router/host.js
  packages/expo-router/build/rsc/router/host.js.map
  packages/expo-router/plugin/build/index.js
  packages/expo-router/plugin/src/index.ts
  packages/expo-router/src/rsc/router/host.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#34226 [CI] fix iOS unit tests
  packages/expo-modules-core/ios/Tests/BlobConvertiblesSpec.swift
  packages/expo-updates/ios/Tests/AppLauncherWithDatabaseSpec.swift
  packages/expo-updates/ios/Tests/DatabaseInitializationSpec.swift
  packages/expo-updates/ios/Tests/DatabaseIntegrityCheckSpec.swift
  packages/expo-updates/ios/Tests/ErrorRecoverySpec.swift
  packages/expo-updates/ios/Tests/FileDownloaderManifestParsingSpec.swift
  packages/expo-updates/ios/Tests/FileDownloaderSpec.swift
  packages/expo-updates/ios/Tests/UpdatesBuildDataSpec.swift
  packages/expo-updates/ios/Tests/UpdatesDatabaseSpec.swift
  packages/expo-updates/ios/Tests/UpdatesLoggerSpec.swift
  packages/expo-updates/ios/Tests/UpdatesStateMachineSpec.swift
Labels: bot: suggestions, bot: fingerprint changed

#34216 fix: add SSR HMR for nested server actions
  apps/router-e2e/__e2e__/03-server-actions-only/app/index.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/nested-action.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/nested.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/server-actions.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/two-action.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/wrap-actions.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/wrapped-action-client-impl.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/wrapped-action-provider-impl.tsx
  apps/router-e2e/__e2e__/03-server-actions-only/components/wrapped-provider.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/03-server-actions-only.test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/src/messageSocket.native.ts
  packages/@expo/metro-runtime/src/messageSocket.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34213 feat(asset): add RSC support to expo-asset
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/web-preset.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/web-preset.ts
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/build/Asset.server.d.ts
  packages/expo-asset/build/Asset.server.d.ts.map
  packages/expo-asset/build/Asset.server.js
  packages/expo-asset/build/Asset.server.js.map
  packages/expo-asset/build/ImageAssets.d.ts.map
  packages/expo-asset/build/ImageAssets.js
  packages/expo-asset/build/ImageAssets.js.map
  packages/expo-asset/build/index.server.d.ts
  packages/expo-asset/build/index.server.d.ts.map
  packages/expo-asset/build/index.server.js
  packages/expo-asset/build/index.server.js.map
  packages/expo-asset/jest-rsc.config.js
  packages/expo-asset/package.json
  packages/expo-asset/src/Asset.server.ts
  packages/expo-asset/src/ImageAssets.ts
  packages/expo-asset/src/__rsc_tests__/index.test.ts
  packages/expo-asset/src/index.server.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34290 [android][camera] Fix activeRecording visibility in ExpoCameraView
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks

#34287 [haptics][docs] Minor fixes in API reference
  docs/public/static/data/unversioned/expo-haptics.json
  packages/expo-haptics/build/Haptics.d.ts
  packages/expo-haptics/build/Haptics.types.d.ts
  packages/expo-haptics/build/Haptics.types.d.ts.map
  packages/expo-haptics/src/Haptics.ts
  packages/expo-haptics/src/Haptics.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34297 [docs] add missing Expo Orbit link
  docs/pages/tutorial/eas/ios-development-build-for-simulators.mdx
Labels: bot: passed checks

#34222 [docs][custom-tabs] Typos and API correction
  docs/pages/router/advanced/custom-tabs.mdx
Labels: bot: passed checks

#34299 [docs] Refactor `generate-llms-txt` script code
  docs/scripts/generate-llms-txt.js
Labels: bot: passed checks

#34298 [docs][audio] Add definition of `audioSource`
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/v52.0.0/sdk/audio.mdx
Labels: bot: passed checks, preview

#34161 Add named views on Android
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KotlinInteropModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleHolder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ModuleRegistry.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/defaultmodules/CoreModule.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionData.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/viewevent/ViewEvent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerDefinition.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewManagerWrapperDelegate.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/modules/ModuleDefinitionBuilderTest.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/views/ViewManagerDefinitionTest.kt
  packages/expo-modules-core/build/NativeViewManagerAdapter.d.ts
  packages/expo-modules-core/build/NativeViewManagerAdapter.d.ts.map
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts
  packages/expo-modules-core/build/NativeViewManagerAdapter.native.d.ts.map
  packages/expo-modules-core/build/ts-declarations/NativeModule.d.ts
  packages/expo-modules-core/build/ts-declarations/NativeModule.d.ts.map
  packages/expo-modules-core/build/ts-declarations/global.d.ts
  packages/expo-modules-core/build/ts-declarations/global.d.ts.map
  packages/expo-modules-core/build/web/CoreModule.d.ts
  packages/expo-modules-core/build/web/CoreModule.d.ts.map
  packages/expo-modules-core/ios/Core/Modules/CoreModule.swift
  packages/expo-modules-core/src/NativeViewManagerAdapter.native.tsx
  packages/expo-modules-core/src/NativeViewManagerAdapter.tsx
  packages/expo-modules-core/src/ts-declarations/NativeModule.ts
  packages/expo-modules-core/src/ts-declarations/global.ts
  packages/expo-modules-core/src/web/CoreModule.ts
Labels: bot: passed checks, bot: fingerprint changed

#34198 [iOS][expo-ui] Add picker component
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/expo-module.config.json
  packages/expo-ui/ios/ExpoUI.podspec
  packages/expo-ui/ios/ExpoUIModule.swift
  packages/expo-ui/ios/SingleChoiceSegmentedControlProps.swift
  packages/expo-ui/ios/SingleChoiceSegmentedControlView.swift
Labels: bot: passed checks, bot: fingerprint changed

#34189 [docs] Update continuous deployment documentation
  docs/pages/eas-update/continuous-deployment.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v51.0.0/sdk/updates.mdx
  docs/pages/versions/v52.0.0/sdk/updates.mdx
Labels: bot: passed checks

#34292 chore: rebuild bundles with RN 0.77.0-rc.7
  apps/expo-go/package.json
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/assets/EXDevMenuApp.android.js
  packages/expo-dev-menu/assets/EXDevMenuApp.ios.js
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#34307 fix(cli): use POSIX path when converting route file name in API routes
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/export-no-ssg.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/server.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/export-no-ssg.test.ts
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34204 [templates] Fix `@react-native/gradle-plugin` resolution in `settings.gradle` for isolated dependencies
  templates/expo-template-bare-minimum/android/settings.gradle
Labels: bot: passed checks

#34203 [autolinking] Return realpath rather than installation path for `reactNativePath`
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34309 [core][Android] Fix `NoSuchElementException` thrown by compose views
  packages/expo-modules-core/android/proguard-rules.pro
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ComposeProps.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ExpoComposeView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SingleChoiceSegmentedControlView.kt
Labels: bot: suggestions, bot: fingerprint changed

#34208 chore(metro-config): Remove need for `expo-asset/tools/hashAssetFiles`
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/transform-worker/getAssets.d.ts
  packages/@expo/metro-config/build/transform-worker/getAssets.js
  packages/@expo/metro-config/build/transform-worker/getAssets.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/__tests__/ExpoMetroConfig-test.ts
  packages/@expo/metro-config/src/transform-worker/getAssets.ts
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/tools/hashAssetFiles.js
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/MetroConfigCheck.ts
  packages/expo-doctor/src/checks/__tests__/MetroConfigCheck.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34182 [video][web] Fix `playbackRate` not being applied in the setup function
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/src/VideoPlayer.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#34302 [android][camera] Fix setting preview provider
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks

#34308 [docs] Minor SEO improvements to multiple pages
  docs/pages/eas/hosting/get-started.mdx
  docs/pages/eas/hosting/introduction.mdx
  docs/pages/eas/index.mdx
  docs/pages/workflow/web.mdx
Labels: bot: passed checks

#34318 [docs][expo-application] fix grammar on expo-application page
  docs/pages/versions/unversioned/sdk/application.mdx
Labels: bot: passed checks

#33523 [docs] add exponent golang sdk community resource for push notifications
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#34289 fix(cli): Fix URI path being passed to `require-from-string` for static export and API route evals
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/e2e/fixtures/with-router/app.config.js
  packages/@expo/cli/e2e/fixtures/with-router/app/index.js
  packages/@expo/cli/e2e/playwright/dev/with-spaces.test.ts
  packages/@expo/cli/src/start/server/getStaticRenderFunctions.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/metroOptions.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34323 [application][docs] Fix grammatical issues in description
  docs/pages/versions/unversioned/sdk/application.mdx
  docs/pages/versions/v50.0.0/sdk/application.mdx
  docs/pages/versions/v51.0.0/sdk/application.mdx
  docs/pages/versions/v52.0.0/sdk/application.mdx
Labels: bot: passed checks
