Repository expo/expo, pull requests merged in 2025-07, with the labels that each got.

#37733 [fingerprint] ignore native binaries
  .github/workflows/fingerprint.yml
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/src/Options.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37758 [fingerprint] ignore sharp 0.32 binaries
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/src/Options.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37760 sync changelogs [skip ci]
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/config/CHANGELOG.md
  packages/@expo/env/CHANGELOG.md
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/image-utils/CHANGELOG.md
  packages/@expo/package-manager/CHANGELOG.md
  packages/expo-application/CHANGELOG.md
  packages/expo-asset/CHANGELOG.md
  packages/expo-av/CHANGELOG.md
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-task/CHANGELOG.md
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-camera/CHANGELOG.md
  packages/expo-cellular/CHANGELOG.md
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-doctor/CHANGELOG.md
  packages/expo-file-system/CHANGELOG.md
  packages/expo-font/CHANGELOG.md
  packages/expo-gl/CHANGELOG.md
  packages/expo-image/CHANGELOG.md
  packages/expo-linking/CHANGELOG.md
  packages/expo-local-authentication/CHANGELOG.md
  packages/expo-localization/CHANGELOG.md
  packages/expo-location/CHANGELOG.md
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-ui/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/install-expo-modules/CHANGELOG.md
  packages/jest-expo/CHANGELOG.md
  packages/patch-project/CHANGELOG.md
  packages/uri-scheme/CHANGELOG.md
Labels: bot: passed checks

#37761 [docs] Remove deprecated library from in-app purchases
  docs/pages/guides/in-app-purchases.mdx
Labels: bot: passed checks

#37664 [background-task][docs] Update background tasks inspection command
  docs/pages/versions/unversioned/sdk/background-task.mdx
  docs/pages/versions/v53.0.0/sdk/background-task.mdx
Labels: bot: passed checks

#37750 [image][docs]: Add description for `ImageBackground` component
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37768 [docs] Minor fixes and updates
  docs/pages/build-reference/caching.mdx
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/server-components.mdx
  docs/pages/tutorial/add-navigation.mdx
Labels: bot: passed checks

#37775 [screen-capture][docs] Add information to expo-screen-capture on how to trigger a screenshot in the Android emulator
  docs/pages/versions/unversioned/sdk/screen-capture.mdx
  docs/pages/versions/v51.0.0/sdk/screen-capture.mdx
  docs/pages/versions/v52.0.0/sdk/screen-capture.mdx
  docs/pages/versions/v53.0.0/sdk/screen-capture.mdx
Labels: bot: passed checks

#37786 [dev-launcher][Android] Strings in UI should match those on iOS
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/primitives/Accordion.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/Home.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/SectionHeader.kt
Labels: bot: passed checks, bot: fingerprint changed

#37781 [docs] Add doc for EAS Update request proxying
  docs/constants/navigation.js
  docs/pages/eas-update/request-proxying.mdx
Labels: bot: passed checks, preview

#37778 [Android][core] Fix `Value is undefined, expected an Object` in the `JNIUtils::emitEventOnJSIObject`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JNIUtils.cpp
Labels: bot: passed checks, bot: fingerprint changed

#37747 [expo-router] fix web back/forward buttons
  apps/router-e2e/__e2e__/router-misc/app/browser-buttons/index.tsx
  apps/router-e2e/__e2e__/router-misc/app/browser-buttons/one.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/router-misc.test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/useLinking.d.ts.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/src/fork/useLinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37789 feat(html): improve code font and add svg to the babel transform
  packages/html-elements/CHANGELOG.md
  packages/html-elements/babel.js
  packages/html-elements/src/elements/Text.tsx
  packages/html-elements/src/elements/__tests__/__snapshots__/Text.test.ios.tsx.snap.ios
Labels: bot: passed checks, bot: fingerprint compatible

#37800 [expo-router] fix link with preview on web and android platforms
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/BaseExpoRouterLink.d.ts
  packages/expo-router/build/link/BaseExpoRouterLink.d.ts.map
  packages/expo-router/build/link/BaseExpoRouterLink.js
  packages/expo-router/build/link/BaseExpoRouterLink.js.map
  packages/expo-router/build/link/ExpoLink.d.ts
  packages/expo-router/build/link/ExpoLink.d.ts.map
  packages/expo-router/build/link/ExpoLink.js
  packages/expo-router/build/link/ExpoLink.js.map
  packages/expo-router/build/link/LinkWithPreview.js
  packages/expo-router/build/link/LinkWithPreview.js.map
  packages/expo-router/src/link/BaseExpoRouterLink.tsx
  packages/expo-router/src/link/ExpoLink.tsx
  packages/expo-router/src/link/LinkWithPreview.tsx
  packages/expo-router/src/link/__tests__/Link.test.ios.tsx
  packages/expo-router/src/link/__tests__/Link.test.web.tsx
  packages/expo-router/src/link/__tests__/__snapshots__/Link.test.web.tsx.snap.node
  packages/expo-router/src/link/__tests__/__snapshots__/Link.test.web.tsx.snap.web
Labels: bot: passed checks, bot: fingerprint compatible

#37803 [android][autolinking] Update supported KSP/Kotlin versions
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/KSPLookup.kt
  packages/expo-modules-autolinking/scripts/generateKSPLookup.js
Labels: bot: suggestions, bot: fingerprint compatible

#37802 [autolinking][Android] Improve error message when Kotlin version provided by the user is not supported
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoRootProjectPlugin.kt
Labels: bot: passed checks, bot: fingerprint compatible

#37736 Add local package mocks for expofont to allow reverting #36586
  apps/jest-expo-mock-generator/App.tsx
  packages/expo-font/CHANGELOG.md
  packages/expo-font/mocks/ExpoFontLoader.ts
  packages/expo-font/mocks/ExpoFontUtils.ts
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/moduleMocks/expoModules.js
Labels: bot: passed checks, bot: fingerprint compatible

#37827 [docs] Fix section highlight in `TableOfContents`
  docs/ui/components/TableOfContents/TableOfContents.tsx
Labels: bot: passed checks

#37833 Added missing proguard rule files for notification and task manager
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/proguard-rules.pro
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/android/proguard-rules.pro
Labels: bot: passed checks, bot: fingerprint changed

#37807 [docs] Remove out of date information and elaborate
  docs/pages/eas-update/runtime-versions.mdx
Labels: bot: passed checks

#37815 [docs] Update router 101 to include protected routes
  docs/pages/router/basics/common-navigation-patterns.mdx
Labels: bot: passed checks

#37845 feat(router-e2e): Fast CSS-Modules Refresh E2E Coverage
  apps/router-e2e/__e2e__/fast-refresh/app/FastRefresh.module.css
  apps/router-e2e/__e2e__/fast-refresh/app/_layout.tsx
  apps/router-e2e/__e2e__/fast-refresh/app/index.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/playwright/dev/fast-refresh.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37849 [image-picker][android] fix: Adjust video metadata extraction to account for rotation
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/MediaHandler.kt
Labels: bot: passed checks, bot: fingerprint changed

#37836 [modules][android] Mark either converters as non-trivial.
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EitherTypeConverter.kt
Labels: bot: passed checks, bot: fingerprint changed

#37476 [expo-symbols] typo
  packages/expo-symbols/src/SymbolModule.types.ts
Labels: bot: suggestions

#37831 [build-properties] Add `android.buildArchs` option
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: passed checks, bot: fingerprint changed

#37806 Update `expo-maps` homepage on package.json
  packages/expo-maps/package.json
Labels: bot: suggestions

#37769 fix(cli): allow fast resolver to resolve nested `node_modules` packages in monorepos
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/createExpoMetroResolver.test.ts
  packages/@expo/cli/src/start/server/metro/createExpoMetroResolver.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37864 [build-properties] Add android.exclusiveMavenMirror option
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: passed checks, bot: fingerprint changed

#37665 [ui][ios] Make datepicker label hidden if empty, remove default value.
  apps/native-component-list/src/screens/UI/DateTimePickerScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/ios/DateTimePickerView.swift
Labels: bot: passed checks, bot: fingerprint changed

#37872 [sqlite] prevent SQLiteProvider re-render for passing new but same options
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/hooks.d.ts
  packages/expo-sqlite/build/hooks.d.ts.map
  packages/expo-sqlite/build/hooks.js
  packages/expo-sqlite/build/hooks.js.map
  packages/expo-sqlite/src/__tests__/hooks-test.ios.tsx
  packages/expo-sqlite/src/hooks.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#37739 [go] Improve landscape mode support
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/utils/DeviceSizeUtils.kt
  apps/expo-go/app.json
  apps/expo-go/src/components/Views.tsx
  apps/expo-go/src/navigation/defaultNavigationOptions.tsx
  apps/expo-go/src/screens/AccountModal/ModalHeader.tsx
  apps/expo-go/src/screens/AccountModal/index.tsx
  apps/expo-go/src/screens/BranchDetailsScreen/BranchDetailsView.tsx
  apps/expo-go/src/screens/BranchDetailsScreen/BranchHeader.tsx
  apps/expo-go/src/screens/BranchListScreen/BranchListView.tsx
  apps/expo-go/src/screens/DiagnosticsScreen/index.tsx
  apps/expo-go/src/screens/HomeScreen/HomeScreenHeader.tsx
  apps/expo-go/src/screens/HomeScreen/HomeScreenView.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectHeader.tsx
  apps/expo-go/src/screens/ProjectScreen/ProjectView.tsx
  apps/expo-go/src/screens/ProjectsListScreen/ProjectList.tsx
  apps/expo-go/src/screens/SettingsScreen/index.tsx
  apps/expo-go/src/screens/SnacksListScreen/SnackList.tsx
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks

#37834 [docs] Organized workflows examples, adds images
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/eas/workflows/examples.mdx
  docs/pages/eas/workflows/examples/create-development-builds.mdx
  docs/pages/eas/workflows/examples/deploy-to-production.mdx
  docs/pages/eas/workflows/examples/e2e-tests.mdx
  docs/pages/eas/workflows/examples/introduction.mdx
  docs/pages/eas/workflows/examples/publish-preview-update.mdx
  docs/public/static/images/eas-workflows/create-development-builds.png
  docs/public/static/images/eas-workflows/deploy-to-production.png
  docs/public/static/images/eas-workflows/publish-preview-update.png
Labels: bot: passed checks, preview

#37876 [docs] fixed example of local android building for production
  docs/public/static/diffs/android-release-build.diff
Labels: bot: passed checks

#37896 fix(jest-expo): reconfigure Jest React Canary resolver to use identical method as Metro
  packages/jest-expo/config/react-canaries-resolver.js
Labels: bot: suggestions, bot: fingerprint compatible

#37780 [docs] Update rollout docs to better details how to revert a per-update rollout
  docs/pages/eas-update/rollouts.mdx
Labels: bot: passed checks

#37830 [expo-router] fix <Stack.Screen> in HrefPreview
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/preview/HrefPreview.js
  packages/expo-router/build/link/preview/HrefPreview.js.map
  packages/expo-router/src/link/preview/HrefPreview.tsx
  packages/expo-router/src/link/preview/__tests__/HrefPreview.test.ios.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#37861 [menu][launcher][Android] Introduce `RowLayout`
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AppHeader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/RunningAppCard.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/SectionHeader.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/RowLayout.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/MenuButton.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/MenuInfo.kt
Labels: bot: suggestions, bot: fingerprint changed

#37859 [launcher][Android] Add option to switch account
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/BindingView.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ProfileViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/Profile.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountSelector.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/SessionService.kt
Labels: bot: suggestions, bot: fingerprint changed

#37885 [config-plugins] Expose CodeMod from android's config plugins.
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/index.d.ts
  packages/@expo/config-plugins/build/android/index.js
  packages/@expo/config-plugins/build/android/index.js.map
  packages/@expo/config-plugins/src/android/index.ts
Labels: bot: passed checks

#37895 [expo] fix ReactActivityDelegateWrapper reentrant issue
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/ReactActivityDelegateWrapper.kt
  packages/expo/android/src/test/java/expo/modules/ReactActivityDelegateWrapperDelayLoadTest.kt
Labels: bot: passed checks, bot: fingerprint changed

#37911 [launcher][Android] Display current account
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/BindingView.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherAction.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherBottomTabsNavigator.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/HomeViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Home.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Profile.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Settings.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/SettingsScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountAvatar.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountSelector.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AppHeader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/BottomTabBar.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/DependencyInjection.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/PackagerService.kt
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/AppInfo.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuViewModel.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/RowLayout.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Surface.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/MenuButton.kt
Labels: bot: suggestions, bot: fingerprint changed

#37909 [image][iOS] Add `enforceEarlyResizing` prop
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#37927 [audio][docs] Update recording example
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/v53.0.0/sdk/audio.mdx
Labels: bot: passed checks, preview

#37926 [docs] Fix typo in audio.mdx
  docs/pages/versions/unversioned/sdk/audio.mdx
Labels: bot: passed checks

#37918 [docs] Fix code annotation now showing up when hovering over a highlight
  docs/components/base/code.tsx
Labels: bot: passed checks, preview

#37595 [android][expo-ui] text input `autoCapitalize` property
  apps/native-component-list/src/screens/UI/TextInputScreen.android.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/android/src/main/java/expo/modules/ui/TextInputView.kt
  packages/expo-ui/build/jetpack-compose/TextInput/index.d.ts
  packages/expo-ui/build/jetpack-compose/TextInput/index.d.ts.map
  packages/expo-ui/build/jetpack-compose/TextInput/index.js.map
  packages/expo-ui/src/jetpack-compose/TextInput/index.tsx
Labels: bot: passed checks

#37929 [ios][audio] Throw when attempting to record without allowing
  apps/native-component-list/src/screens/Audio/expo-audio/Recorder.tsx
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioRecorder.swift
Labels: bot: passed checks, bot: fingerprint changed

#37936 [docs] Upgrade styleguide package to include AI assistant
  docs/package.json
  docs/styles/global.css
  docs/ui/components/Search/Search.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#37950 [ios][audio] Fix: setting allowBluetooth raises the min os version for tv
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/ios/AudioModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#37943 [launcher][Android] Add `DevelopmentSessionHelper` component
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/HomeViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/DevelopmentServerHelp.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/DependencyInjection.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/PackagerService.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Text.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/theme/Typography.kt
  packages/expo-dev-menu/android/src/main/res/font/robotomono_medium.ttf
Labels: bot: suggestions, bot: fingerprint changed

#37928 [video][android] Fix accessing `player.loop` causes app to crash
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#37954 [docs] Bump search-ui package
  docs/package.json
  docs/styles/global.css
  docs/yarn.lock
Labels: bot: passed checks, preview

#37874 [screen-capture][iOS] Implement-screenshot-prevention-ios
  apps/native-component-list/src/screens/ScreenCaptureScreen.tsx
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/build/ScreenCapture.d.ts
  packages/expo-screen-capture/build/ScreenCapture.js
  packages/expo-screen-capture/build/ScreenCapture.js.map
  packages/expo-screen-capture/ios/ScreenCaptureModule.swift
  packages/expo-screen-capture/src/ScreenCapture.ts
Labels: bot: passed checks

#36590 [ui][ios] Add TextInput placeholder prop
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/TextInput/index.d.ts
  packages/expo-ui/build/swift-ui/TextInput/index.d.ts.map
  packages/expo-ui/build/swift-ui/TextInput/index.js.map
  packages/expo-ui/src/swift-ui/TextInput/index.tsx
Labels: bot: passed checks

#37966 [docs] Improve search page ranking for environment variable pages
  docs/pages/eas/environment-variables.mdx
  docs/pages/eas/hosting/environment-variables.mdx
  docs/pages/get-started/set-up-your-environment.mdx
  docs/pages/guides/environment-variables.mdx
Labels: bot: passed checks

#37967 [docs] Fix SnackInline copy action for a code block
  docs/common/code-utilities.ts
Labels: bot: passed checks

#37978 Fix limitation link in fingerprint.mdx
  docs/pages/versions/unversioned/sdk/fingerprint.mdx
  docs/pages/versions/v52.0.0/sdk/fingerprint.mdx
  docs/pages/versions/v53.0.0/sdk/fingerprint.mdx
Labels: bot: passed checks

#36756 [expo-media-library][iOS] add support for filtering assets by media subtype
  apps/native-component-list/src/screens/MediaLibrary/MediaLibraryScreen.tsx
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/MediaLibraryRecords.swift
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks

#37981 [expo-router] fix detents in Modal
  apps/router-e2e/__e2e__/modal/app/index.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/modal/Modal.d.ts
  packages/expo-router/build/modal/Modal.d.ts.map
  packages/expo-router/build/modal/Modal.js
  packages/expo-router/build/modal/Modal.js.map
  packages/expo-router/build/modal/utils.d.ts
  packages/expo-router/build/modal/utils.d.ts.map
  packages/expo-router/build/modal/utils.js
  packages/expo-router/build/modal/utils.js.map
  packages/expo-router/src/modal/Modal.tsx
  packages/expo-router/src/modal/__tests__/detents.test.ios.ts
  packages/expo-router/src/modal/__tests__/modal.test.ios.tsx
  packages/expo-router/src/modal/utils.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38004 test(cli): pass login e2e test when rate limited
  packages/@expo/cli/e2e/__tests__/login-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38017 Add contributing guide
  .gitignore
  apps/router-e2e/README.md
  apps/router-e2e/package.json
Labels: bot: passed checks

#38019 chore: align test names with scripts
  apps/router-e2e/__e2e__/05-use-dom/app/_layout.tsx
  apps/router-e2e/__e2e__/05-use-dom/app/index.tsx
  apps/router-e2e/__e2e__/05-use-dom/app/second.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/02-actions.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/03-local-asset.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/04-tailwind.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/05-public-asset.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/06-nested.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/07-forward-ref.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/08-native-module-proxy.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/08-native-module-proxy.web.tsx
  apps/router-e2e/__e2e__/05-use-dom/components/09-router.tsx
  apps/router-e2e/__e2e__/05-use-dom/global.css
  apps/router-e2e/__e2e__/05-use-dom/public/react-logo.png
  apps/router-e2e/__e2e__/auth/ctx.tsx
  apps/router-e2e/__e2e__/web-modal/app/[test]/_layout.tsx
  apps/router-e2e/__e2e__/web-modal/app/[test]/modal-regular.tsx
  apps/router-e2e/__e2e__/web-modal/app/[test]/modal-transparent.tsx
  apps/router-e2e/__e2e__/web-modal/app/[test]/sheet-radius.tsx
  apps/router-e2e/__e2e__/web-modal/app/_layout.tsx
  apps/router-e2e/__e2e__/web-modal/app/index.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-full.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-margin.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-multi.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-regular.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-small.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-transparent.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal.tsx
  apps/router-e2e/__e2e__/web-modal/app/sheet-fit.tsx
  apps/router-e2e/__e2e__/web-modal/app/sheet-radius.tsx
  apps/router-e2e/package.json
Labels: bot: passed checks

#38023 Use pointerEvents style instead of prop for components on web.
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/ExpoCamera.web.d.ts.map
  packages/expo-camera/build/ExpoCamera.web.js
  packages/expo-camera/build/ExpoCamera.web.js.map
  packages/expo-camera/src/ExpoCamera.web.tsx
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/build/Canvas.d.ts.map
  packages/expo-gl/build/Canvas.js
  packages/expo-gl/build/Canvas.js.map
  packages/expo-gl/src/Canvas.tsx
Labels: bot: passed checks, bot: fingerprint changed

#38018 add demo of fit to contents
  apps/router-e2e/__e2e__/modal/app/index.tsx
Labels: bot: passed checks

#38025 chore: simplify/optimize web-modal tests
  apps/router-e2e/__e2e__/web-modal/app/_layout.tsx
  apps/router-e2e/__e2e__/web-modal/app/index.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-fit.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-margin.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-regular.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-scroll.tsx
  apps/router-e2e/__e2e__/web-modal/app/nested/_layout.tsx
  apps/router-e2e/__e2e__/web-modal/app/nested/modal-transparent.tsx
  apps/router-e2e/__e2e__/web-modal/app/nested/page.tsx
  apps/router-e2e/__e2e__/web-modal/app/nested/sheet-radius.tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/web-modal.test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38026 fix(router): a11y issues with focus trap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/modal/web/ModalStackRouteDrawer.web.d.ts.map
  packages/expo-router/build/modal/web/ModalStackRouteDrawer.web.js
  packages/expo-router/build/modal/web/ModalStackRouteDrawer.web.js.map
  packages/expo-router/build/modal/web/TransparentModalStackRouteDrawer.web.d.ts.map
  packages/expo-router/build/modal/web/TransparentModalStackRouteDrawer.web.js
  packages/expo-router/build/modal/web/TransparentModalStackRouteDrawer.web.js.map
  packages/expo-router/src/modal/web/ModalStackRouteDrawer.web.tsx
  packages/expo-router/src/modal/web/TransparentModalStackRouteDrawer.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#38007 [templates] Enable gradle parallel execution
  templates/expo-template-bare-minimum/android/gradle.properties
Labels: bot: passed checks

#37983 [docs] Update search UI package
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks, preview

#38040 [expo-router] Fix web modal styling
  apps/router-e2e/__e2e__/web-modal/app/_layout.tsx
  apps/router-e2e/__e2e__/web-modal/app/index.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-regular-bg.tsx
  apps/router-e2e/__e2e__/web-modal/app/sheet-bg.tsx
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/assets/modal.module.css
  packages/expo-router/build/modal/web/ModalStack.web.d.ts.map
  packages/expo-router/build/modal/web/ModalStack.web.js
  packages/expo-router/build/modal/web/ModalStack.web.js.map
  packages/expo-router/src/modal/web/ModalStack.web.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#37998 [launcher][Android] Validate URL input
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/ActionButton.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/RunningAppCard.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/ServerUrlInput.kt
Labels: bot: suggestions, bot: fingerprint changed

#38044 [launcher][Android] Add recently opened apps
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/HomeViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountSelector.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/utils/WithIsLast.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/PackagerService.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/DevLauncherRecentlyOpenedAppsRegistry.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Text.kt
Labels: bot: suggestions, bot: fingerprint changed

#36263 feat(lint): Add lint rules for Expo DOM Components and the "use dom" directive.
  packages/eslint-config-expo/CHANGELOG.md
  packages/eslint-config-expo/flat/utils/expo.js
  packages/eslint-plugin-expo/CHANGELOG.md
  packages/eslint-plugin-expo/build/rules/index.js
  packages/eslint-plugin-expo/build/rules/use-dom-exports.js
  packages/eslint-plugin-expo/docs/rules/use-dom-exports.md
  packages/eslint-plugin-expo/src/__tests__/use-dom-exports.test.ts
  packages/eslint-plugin-expo/src/rules/index.ts
  packages/eslint-plugin-expo/src/rules/use-dom-exports.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38043 [docs] specify jdk version in linux setup
  docs/scenes/get-started/set-up-your-environment/instructions/_androidStudioEnvironmentInstructions.mdx
Labels: bot: passed checks

#38002 [docs] Add react-native-keyboard-controller to third-party libraries
  docs/pages/versions/unversioned/sdk/keyboard-controller.mdx
Labels: bot: passed checks

#38052 [docs] Bump styleguide search-ui package
  docs/package.json
  docs/ui/components/Home/resources/DevicesImage.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#38001 [docs] add failed asset loading section
  docs/pages/eas-update/debug.mdx
  docs/public/static/images/eas-update/asset-list.png
Labels: bot: passed checks, preview

#38057 fix(expo-router): update test layout style for transparent modal component
  apps/router-e2e/__e2e__/web-modal/app/modal-transparent.tsx
Labels: bot: passed checks

#37923 [patch-project] fix sdk53 error
  packages/patch-project/CHANGELOG.md
  packages/patch-project/build/cli/dir.d.ts
  packages/patch-project/build/cli/dir.js
  packages/patch-project/build/cli/dir.js.map
  packages/patch-project/build/cli/normalizeNativeProjects.d.ts
  packages/patch-project/build/cli/normalizeNativeProjects.js
  packages/patch-project/build/cli/normalizeNativeProjects.js.map
  packages/patch-project/e2e/__tests__/localPackages.ts
  packages/patch-project/e2e/__tests__/patchProject-test.ts
  packages/patch-project/package.json
  packages/patch-project/src/cli/__tests__/fixtures/sdk53.pbxproj
  packages/patch-project/src/cli/__tests__/normalizeNativeProjects-test.ts
  packages/patch-project/src/cli/dir.ts
  packages/patch-project/src/cli/normalizeNativeProjects.ts
  packages/patch-project/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#38060 [patch-project] improve patch apply
  packages/patch-project/CHANGELOG.md
  packages/patch-project/build/gitPatch.js
  packages/patch-project/build/gitPatch.js.map
  packages/patch-project/src/gitPatch.ts
Labels: bot: passed checks, bot: fingerprint compatible

#37732 [expo-router] use web modal in Modal
  apps/router-e2e/__e2e__/modal/app/index.tsx
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/modal/Modal.d.ts.map
  packages/expo-router/build/modal/Modal.js
  packages/expo-router/build/modal/Modal.js.map
  packages/expo-router/build/modal/ModalContext.d.ts
  packages/expo-router/build/modal/ModalContext.d.ts.map
  packages/expo-router/build/modal/ModalContext.js
  packages/expo-router/build/modal/ModalContext.js.map
  packages/expo-router/build/modal/ModalsRenderer.d.ts
  packages/expo-router/build/modal/ModalsRenderer.d.ts.map
  packages/expo-router/build/modal/ModalsRenderer.js
  packages/expo-router/build/modal/ModalsRenderer.js.map
  packages/expo-router/build/modal/ModalsRenderer.web.d.ts
  packages/expo-router/build/modal/ModalsRenderer.web.d.ts.map
  packages/expo-router/build/modal/ModalsRenderer.web.js
  packages/expo-router/build/modal/ModalsRenderer.web.js.map
  packages/expo-router/build/modal/types.d.ts
  packages/expo-router/build/modal/types.d.ts.map
  packages/expo-router/build/modal/types.js
  packages/expo-router/build/modal/types.js.map
  packages/expo-router/build/modal/utils.d.ts
  packages/expo-router/build/modal/utils.d.ts.map
  packages/expo-router/build/modal/utils.js
  packages/expo-router/build/modal/utils.js.map
  packages/expo-router/src/modal/Modal.tsx
  packages/expo-router/src/modal/ModalContext.tsx
  packages/expo-router/src/modal/ModalsRenderer.tsx
  packages/expo-router/src/modal/ModalsRenderer.web.tsx
  packages/expo-router/src/modal/types.ts
  packages/expo-router/src/modal/utils.ts
Labels: bot: suggestions, bot: fingerprint compatible

#37832 [expo-router] fix navigation from preview to modal
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/_layout.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/fullScreenModal.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/index.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/modal.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/preview/native.d.ts
  packages/expo-router/build/link/preview/native.d.ts.map
  packages/expo-router/build/link/preview/native.js.map
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeModule.swift
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeNavigation.h
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeNavigation.mm
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeView.swift
  packages/expo-router/src/link/preview/native.tsx
  patches/react-native-screens+4.11.1-nightly-20250611-8b82e081e.patch
Labels: bot: passed checks, bot: fingerprint changed

#37910 [expo-file-system][next] Add `directory.info`
  apps/test-suite/tests/FileSystemNext.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemDirectory.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemFile.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemNextRecords.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemPath.kt
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/build/next/index.d.ts
  packages/expo-file-system/build/next/index.d.ts.map
  packages/expo-file-system/ios/Next/FileSystemDirectory.swift
  packages/expo-file-system/ios/Next/FileSystemFile.swift
  packages/expo-file-system/ios/Next/FileSystemNextModule.swift
  packages/expo-file-system/ios/Next/FileSystemNextRecords.swift
  packages/expo-file-system/ios/Next/FileSystemPath.swift
  packages/expo-file-system/src/next/ExpoFileSystem.types.ts
  packages/expo-file-system/src/next/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#38070 [docs] update `search-ui`, tweak styling
  docs/package.json
  docs/styles/global.css
  docs/yarn.lock
Labels: bot: passed checks, preview

#38066 [expo-cli] Fix e2e test for local run
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38077 [docs] Update build images specs
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#38082 [docs] upgrade `search-ui` package
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks, preview

#38067 [docs] Home: decrease the discovery tiles vibrancy
  docs/ui/components/Home/resources/OfficeHoursImage.tsx
  docs/ui/components/Home/resources/WhyImage.tsx
  docs/ui/components/Home/resources/index.tsx
  docs/ui/components/Home/sections/DiscoverMore.tsx
  docs/ui/components/Home/sections/JoinTheCommunity.tsx
  docs/ui/components/Home/sections/QuickStart.tsx
  docs/ui/components/Snippet/blocks/Terminal.tsx
Labels: bot: passed checks, preview

#38085 [expo-video][expo-media-library] Fix tvOS breakages
  apps/expo-workflow-testing/.eas/workflows/tv-compile.yml
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/MediaLibraryRecords.swift
  packages/expo-updates/e2e/setup/project.ts
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/Enums/FullscreenOrientation.swift
  packages/expo-video/ios/OrientationAVPlayerViewController.swift
  packages/expo-video/ios/VideoAirPlayButtonView.swift
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/ios/VideoView.swift
Labels: bot: suggestions, bot: fingerprint changed

#38097 [tvos][swift] Added missing tvos conditional
  packages/expo-video/ios/VideoView.swift
Labels: bot: suggestions, bot: fingerprint changed

#37984 [video][android] Fix duration property resetting to 0 on video repeat
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
Labels: bot: passed checks, bot: fingerprint changed

#37957 [expo-media-library][Android] fix Exif info loading
  docs/pages/versions/unversioned/sdk/media-library.mdx
  docs/public/static/data/unversioned/expo-media-library.json
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/AssetsOptions.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/AssetUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssets.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsQueryTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsTest.kt
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks

#37232 [localization] Add supportedLocales option to set app language from settings
  docs/pages/guides/localization.mdx
  packages/expo-localization/CHANGELOG.md
  packages/expo-localization/plugin/build/withExpoLocalization.d.ts
  packages/expo-localization/plugin/build/withExpoLocalization.js
  packages/expo-localization/plugin/src/withExpoLocalization.ts
Labels: bot: passed checks

#38100 [camera] Fix barcode options to correctly handle empty barcodeTypes
  apps/native-component-list/src/screens/Camera/CameraScreenBarcode.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/ios/CameraViewModule.swift
Labels: bot: passed checks

#38053 chore(expo-cli): Update terser (metro minifier library) to 5.43.1
  packages/@expo/cli/e2e/__tests__/export/no-bytecode.test.ts
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#37855 [tools] Make the publish script recommend patch on SDK branches.
  tools/src/publish-packages/helpers.ts
  tools/src/publish-packages/tasks/publishCanary.ts
  tools/src/publish-packages/tasks/selectPackagesToPublish.ts
Labels: bot: passed checks

#38090 [image] Add generateThumbhashAsync
  apps/native-component-list/src/screens/Image/ImageBlurhash.tsx
  apps/native-component-list/src/screens/Image/ImageGeneratePlaceholders.tsx
  apps/native-component-list/src/screens/Image/ImageScreen.tsx
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ExpoImageModule.kt
  packages/expo-image/android/src/main/java/expo/modules/image/thumbhash/ThumbhashDecoder.kt
  packages/expo-image/android/src/main/java/expo/modules/image/thumbhash/ThumbhashEncoder.kt
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/src/Image.tsx
Labels: bot: passed checks, bot: fingerprint changed

#38098 [audio] Improve documentation
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/ExpoAudio.d.ts
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: suggestions, preview, bot: fingerprint compatible

#38127 [docs] fix broken link to React Suspense documentation on Async Routes page
  docs/pages/router/reference/async-routes.mdx
Labels: bot: passed checks

#38129 [camera] Add no-op for dismissScanner to align module with iOS
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/build/CameraView.d.ts
  packages/expo-camera/build/CameraView.js
  packages/expo-camera/build/CameraView.js.map
  packages/expo-camera/src/CameraView.tsx
Labels: bot: passed checks

#38109 [app-integrity]: new package to verify app attestation
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/AppIntegrity/AppIntegrityScreen.android.tsx
  apps/native-component-list/src/screens/AppIntegrity/AppIntegrityScreen.ios.tsx
  apps/native-component-list/src/screens/AppIntegrity/AppIntegrityScreen.tsx
  packages/expo-app-integrity/.eslintrc.js
  packages/expo-app-integrity/.npmignore
  packages/expo-app-integrity/README.md
  packages/expo-app-integrity/android/.gitignore
  packages/expo-app-integrity/android/build.gradle
  packages/expo-app-integrity/android/src/main/AndroidManifest.xml
  packages/expo-app-integrity/android/src/main/java/expo/modules/integrity/IntegrityExceptions.kt
  packages/expo-app-integrity/android/src/main/java/expo/modules/integrity/IntegrityModule.kt
  packages/expo-app-integrity/babel.config.js
  packages/expo-app-integrity/build/AppIntegrity.d.ts
  packages/expo-app-integrity/build/AppIntegrity.d.ts.map
  packages/expo-app-integrity/build/AppIntegrity.js
  packages/expo-app-integrity/build/AppIntegrity.js.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.d.ts
  packages/expo-app-integrity/build/ExpoAppIntegrity.d.ts.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.js
  packages/expo-app-integrity/build/ExpoAppIntegrity.js.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.d.ts
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.d.ts.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.js
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.js.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.web.d.ts
  packages/expo-app-integrity/build/ExpoAppIntegrity.web.d.ts.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.web.js
  packages/expo-app-integrity/build/ExpoAppIntegrity.web.js.map
  packages/expo-app-integrity/build/index.d.ts
  packages/expo-app-integrity/build/index.d.ts.map
  packages/expo-app-integrity/build/index.js
  packages/expo-app-integrity/build/index.js.map
  packages/expo-app-integrity/expo-module.config.json
  packages/expo-app-integrity/ios/ExpoAppIntegrity.podspec
  packages/expo-app-integrity/ios/IntegrityExceptions.swift
  packages/expo-app-integrity/ios/IntegrityModule.swift
  packages/expo-app-integrity/mocks/ExpoAppIntegrity.ts
  packages/expo-app-integrity/package.json
  packages/expo-app-integrity/src/AppIntegrity.ts
  packages/expo-app-integrity/src/ExpoAppIntegrity.ts
  packages/expo-app-integrity/src/ExpoAppIntegrity.types.ts
  packages/expo-app-integrity/src/ExpoAppIntegrity.web.ts
  packages/expo-app-integrity/src/__tests__/ExpoAppIntegrity-test.native.ts
  packages/expo-app-integrity/src/index.ts
  packages/expo-app-integrity/tsconfig.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#38148 [android][image-picker] Support crop shape
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerOptions.kt
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/contracts/CropImageContract.kt
  packages/expo-image-picker/build/ImagePicker.types.d.ts
  packages/expo-image-picker/build/ImagePicker.types.d.ts.map
  packages/expo-image-picker/build/ImagePicker.types.js.map
  packages/expo-image-picker/src/ImagePicker.types.ts
Labels: bot: passed checks

#38130 [docs] add changelog links to SDK packages
  docs/ui/components/PageHeader/PageTitleButtons.tsx
  docs/ui/components/PageHeader/SdkPackageButton.tsx
Labels: bot: passed checks, preview

#38072 [core][iOS] Return proper dynamic type for AnyEither
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Arguments/Either.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicType.swift
  packages/expo-modules-core/ios/Tests/DynamicEitherTypeSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#38153 [expo-modules-core][android] Fix android build without coreFeatures compose
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/compose/expo/modules/kotlin/views/decorators/CommonProps.kt
Labels: bot: passed checks, bot: fingerprint changed

#38159 [expo-router] Add android and ios commands to package.json
  apps/router-e2e/package.json
Labels: bot: passed checks

#38158 [docs] tweaks for reference pages buttons
  docs/ui/components/PageHeader/PageHeader.test.tsx
  docs/ui/components/PageHeader/PageTitleButtons.tsx
  docs/ui/components/PageHeader/SdkPackageButton.tsx
Labels: bot: passed checks, preview

#38136 [docs] Update additional resources
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
Labels: bot: passed checks

#38161 [expo-go] fix ExpoUpdatesAppLoader.kt build errors
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
Labels: bot: passed checks

#38178 chore(tools): Add package+import ratcheting to allow dangerous dependencies
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks

#38175 docs(router-e2e): add note on how to run E2E tests
  apps/router-e2e/README.md
Labels: bot: passed checks

#38126 [docs] fix return symbol misalignment issue in reference documentation
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/components/APICommentTextBlock.tsx
Labels: bot: passed checks

#38078 Feat/expose fetch redirect
  apps/test-suite/tests/Fetch.ts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/DevTools/ExpoRequestInterceptorProtocol.swift
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/fetch/FetchExceptions.kt
  packages/expo/android/src/main/java/expo/modules/fetch/NativeRequest.kt
  packages/expo/android/src/main/java/expo/modules/fetch/NativeRequestInit.kt
  packages/expo/android/src/main/java/expo/modules/fetch/NativeRequestRedirect.kt
  packages/expo/android/src/main/java/expo/modules/fetch/NativeResponse.kt
  packages/expo/build/winter/fetch/NativeRequest.d.ts
  packages/expo/build/winter/fetch/NativeRequest.d.ts.map
  packages/expo/build/winter/fetch/fetch.d.ts.map
  packages/expo/build/winter/fetch/fetch.types.d.ts
  packages/expo/build/winter/fetch/fetch.types.d.ts.map
  packages/expo/ios/Fetch/ExpoURLSessionTask.swift
  packages/expo/ios/Fetch/FetchExceptions.swift
  packages/expo/ios/Fetch/NativeRequest.swift
  packages/expo/ios/Fetch/NativeRequestInit.swift
  packages/expo/ios/Fetch/NativeRequestRedirect.swift
  packages/expo/ios/Fetch/NativeResponse.swift
  packages/expo/src/winter/fetch/NativeRequest.ts
  packages/expo/src/winter/fetch/fetch.ts
  packages/expo/src/winter/fetch/fetch.types.ts
Labels: bot: passed checks

#38186 Update tree-shaking.mdx
  docs/pages/guides/tree-shaking.mdx
Labels: bot: passed checks

#38055 feat(metro-config): Add export namespace from support to import export plugin
  packages/@expo/metro-config/build/transform-plugins/import-export-plugin.js
  packages/@expo/metro-config/build/transform-plugins/import-export-plugin.js.map
  packages/@expo/metro-config/src/transform-plugins/__tests__/import-export-plugin.test.ts
  packages/@expo/metro-config/src/transform-plugins/import-export-plugin.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38188 [Expo Maps Docs] Fix: Expo dashboard UI says "Project Settings", not "Credentials"
  docs/pages/versions/unversioned/sdk/maps.mdx
  docs/pages/versions/v53.0.0/sdk/maps.mdx
Labels: bot: passed checks

#38162 [menu][Android] Add onboarding screen
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuAction.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuScreen.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuState.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuViewModel.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Text.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/Onboarding.kt
Labels: bot: suggestions, bot: fingerprint changed

#38133 [launcher][Android] Add crash report screen
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherBottomTabsNavigator.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/CrashReportModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/HomeViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/ProfileViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/SettingsViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/CrashReport.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Home.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Profile.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Settings.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/CrashReportScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/SettingsScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountSelector.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AppHeader.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/DependencyInjection.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/ErrorRegistryService.kt
  packages/expo-dev-launcher/android/src/main/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorRegistry.kt
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Text.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/theme/Typography.kt
Labels: bot: suggestions, bot: fingerprint changed

#38195 [expo-router] Improve modal demo
  apps/router-e2e/__e2e__/modal/app/_layout.tsx
  apps/router-e2e/__e2e__/modal/app/animations.tsx
  apps/router-e2e/__e2e__/modal/app/formsheet.tsx
  apps/router-e2e/__e2e__/modal/app/fullscreen.tsx
  apps/router-e2e/__e2e__/modal/app/index.tsx
  apps/router-e2e/__e2e__/modal/app/multiple.tsx
  apps/router-e2e/__e2e__/modal/app/pagesheet.tsx
  apps/router-e2e/__e2e__/modal/app/random.tsx
  apps/router-e2e/__e2e__/modal/components/MutateButton.tsx
Labels: bot: passed checks

#38105 [image][iOS] Fix caching resized images from Photo Library
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageSource.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks, bot: fingerprint changed

#37982 [expo-router] add formsheet warning
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/modal/Modal.d.ts
  packages/expo-router/build/modal/Modal.d.ts.map
  packages/expo-router/build/modal/Modal.js
  packages/expo-router/build/modal/Modal.js.map
  packages/expo-router/src/modal/Modal.tsx
  packages/expo-router/src/modal/__tests__/modal.test.ios.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#38215 [CI] Fix Android dev client E2E
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-dev-client.yml
Labels: bot: passed checks

#38185 [workflow] remove pr branch restrictions
  apps/expo-workflow-testing/.eas/workflows/tv-compile.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-bricking-measures-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-cli.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-custom-init.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-dev-client.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-enabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-error-recovery.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-fingerprint.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-old-arch.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-startup.yml
Labels: bot: passed checks

#38227 [asset] fix file scheme handling in `downloadAsync`
  apps/test-suite/tests/Asset.js
  apps/test-suite/tests/Asset.ts
  apps/test-suite/tests/Asset.web.ts
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/android/src/main/java/expo/modules/asset/AssetModule.kt
  packages/expo-asset/build/Asset.d.ts.map
  packages/expo-asset/build/Asset.fx.js
  packages/expo-asset/build/Asset.fx.js.map
  packages/expo-asset/build/Asset.js
  packages/expo-asset/build/Asset.js.map
  packages/expo-asset/build/Asset.server.d.ts.map
  packages/expo-asset/build/Asset.server.js
  packages/expo-asset/build/Asset.server.js.map
  packages/expo-asset/src/Asset.fx.ts
  packages/expo-asset/src/Asset.server.ts
  packages/expo-asset/src/Asset.ts
Labels: bot: passed checks, bot: fingerprint changed

#38114 [font] remove deprecated style 'type' attribute
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/ExpoFontLoader.web.d.ts.map
  packages/expo-font/build/ExpoFontLoader.web.js
  packages/expo-font/build/ExpoFontLoader.web.js.map
  packages/expo-font/src/ExpoFontLoader.web.ts
  packages/expo-font/src/__tests__/Font-test.node.ts
  packages/expo-font/src/__tests__/Font-test.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38206 [modules-autolinking][iOS] Add support for user script sandboxing
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/paper-tester/ios/Podfile.lock
  apps/paper-tester/ios/papertester.xcodeproj/project.pbxproj
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
Labels: bot: passed checks, bot: fingerprint changed

#38210 [autolinking][iOS] Add :projectRoot option to use_expo_modules
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
Labels: bot: passed checks, bot: fingerprint compatible

#38239 [docs] Add bi-directional links to Router reference and Router introduction pages
  docs/pages/router/advanced/authentication.mdx
  docs/pages/router/introduction.mdx
  docs/pages/versions/unversioned/sdk/router-ui.mdx
  docs/pages/versions/unversioned/sdk/router.mdx
  docs/pages/versions/v52.0.0/sdk/router-ui.mdx
  docs/pages/versions/v52.0.0/sdk/router.mdx
  docs/pages/versions/v53.0.0/sdk/router-ui.mdx
  docs/pages/versions/v53.0.0/sdk/router.mdx
Labels: bot: passed checks

#38235 [docs] Improve page titles and rank in EAS Hosting and Workflows sections
  docs/pages/eas/hosting/get-started.mdx
  docs/pages/eas/hosting/introduction.mdx
  docs/pages/eas/workflows/examples/create-development-builds.mdx
  docs/pages/eas/workflows/examples/deploy-to-production.mdx
  docs/pages/eas/workflows/examples/e2e-tests.mdx
  docs/pages/eas/workflows/examples/publish-preview-update.mdx
  docs/pages/eas/workflows/get-started.mdx
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#38217 [docs] Add a network connectivity troubleshooting section to the push notification service docs
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#38249 improve Bun API routes docs
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#38259 test(cli): Update E2E snapshots (expo-font changes)
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
Labels: bot: suggestions, bot: fingerprint compatible

#38251 [camera] improve `takePictureAsync` overload docs
  docs/public/static/data/unversioned/expo-camera.json
  packages/expo-camera/build/CameraView.d.ts
  packages/expo-camera/build/CameraView.d.ts.map
  packages/expo-camera/build/CameraView.js.map
  packages/expo-camera/src/CameraView.tsx
Labels: bot: suggestions, preview, bot: fingerprint compatible

#38243 [launcher][Android] Add error screen
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/ErrorViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/HomeViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/CrashReportScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/ErrorScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/launcher/errors/DevLauncherErrorActivity.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/services/PackagerService.kt
Labels: bot: suggestions, bot: fingerprint changed

#38073 [android][updates] Fix procedures across reloads
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Labels: bot: passed checks, bot: fingerprint changed

#38074 [updates] Introduce ReloadingView
  apps/bare-expo/ios/Podfile.lock
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/screens/UpdatesScreen.tsx
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RelaunchProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StateMachineSerialExecutorQueue.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/reloadscreen/ReloadScreenConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/reloadscreen/ReloadScreenManager.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/reloadscreen/ReloadScreenView.kt
  packages/expo-updates/build/ExpoUpdatesModule.types.d.ts
  packages/expo-updates/build/ExpoUpdatesModule.types.d.ts.map
  packages/expo-updates/build/ExpoUpdatesModule.types.js.map
  packages/expo-updates/build/ReloadScreen.types.d.ts
  packages/expo-updates/build/ReloadScreen.types.d.ts.map
  packages/expo-updates/build/ReloadScreen.types.js
  packages/expo-updates/build/ReloadScreen.types.js.map
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/build/Updates.types.d.ts
  packages/expo-updates/build/Updates.types.d.ts.map
  packages/expo-updates/build/Updates.types.js.map
  packages/expo-updates/ios/EXUpdates/Procedures/RelaunchProcedure.swift
  packages/expo-updates/ios/EXUpdates/ReloadScreen/ReloadExceptions.swift
  packages/expo-updates/ios/EXUpdates/ReloadScreen/ReloadScreenConfiguration.swift
  packages/expo-updates/ios/EXUpdates/ReloadScreen/ReloadScreenManager.swift
  packages/expo-updates/ios/EXUpdates/ReloadScreen/ReloadScreenView.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/package.json
  packages/expo-updates/src/ExpoUpdatesModule.types.ts
  packages/expo-updates/src/ReloadScreen.types.ts
  packages/expo-updates/src/Updates.ts
  packages/expo-updates/src/Updates.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#38260 Support `--output-dir` being a directory outside of the project root.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38263 feat(config-plugins): Support building activities with aliases.
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Manifest.d.ts
  packages/@expo/config-plugins/build/android/Manifest.js
  packages/@expo/config-plugins/build/android/Manifest.js.map
  packages/@expo/config-plugins/src/android/Manifest.ts
  packages/@expo/config-plugins/src/android/__tests__/Manifest-test.ts
  packages/@expo/config-plugins/src/android/__tests__/fixtures/icon-aliases-AndroidManifest.xml
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
Labels: bot: passed checks, bot: fingerprint changed

#38279 [updates] Remove singleton from reloading view
  apps/bare-expo/ios/Podfile.lock
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RelaunchProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/reloadscreen/ReloadScreenManager.kt
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/Procedures/RelaunchProcedure.swift
  packages/expo-updates/ios/EXUpdates/ReloadScreen/ReloadScreenManager.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
Labels: bot: suggestions, bot: fingerprint changed

#38246 [dev-menu][android] Add FAB to pull up the dev menu
  packages/expo-dev-menu-interface/android/src/main/java/expo/interfaces/devmenu/DevMenuPreferencesInterface.kt
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/debug/java/expo/modules/devmenu/DevMenuManager.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/DevMenuPreferences.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/BindingView.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuAction.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuScreen.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuState.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuViewModel.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/ComposeMovableFloatingActionButton.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/ExpoVelocityTracker.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/FabUtils.kt
Labels: bot: passed checks, bot: fingerprint changed

#38256 [expo/cli] Fix missing Error import stack with `EXPO_METRO_UNSTABLE_ERRORS` enabled and no cause
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/metroErrorInterface.test.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38132 [android][secure-store] Reset isAuthenticating when error is thrown
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/android/src/main/java/expo/modules/securestore/AuthenticationHelper.kt
Labels: bot: passed checks

#38294 [expo-go] Do not show message on emulator/simulator
  apps/expo-go/src/screens/HomeScreen/UpgradeWarning/utils.ts
Labels: bot: passed checks

#38309 update react compiler
  docs/pages/guides/react-compiler.mdx
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#38313 [docs] Document disableOnboarding flag for dev builds
  docs/pages/develop/development-builds/development-workflows.mdx
Labels: bot: passed checks

#38316 [docs] Clarify "Workflows" under the Hosting section, note that GitHub integration is optional, general capitalization and grammar
  docs/pages/build/building-on-ci.mdx
  docs/pages/eas/hosting/api-routes.mdx
  docs/pages/eas/hosting/introduction.mdx
  docs/pages/eas/hosting/workflows.mdx
  docs/pages/eas/index.mdx
  docs/pages/eas/workflows/automating-eas-cli.mdx
  docs/pages/guides/publishing-websites.mdx
  docs/pages/review/overview.mdx
  docs/pages/tutorial/eas/next-steps.mdx
Labels: bot: passed checks

#38319 pin node 22.14 in tv compile workflow
  apps/expo-workflow-testing/.eas/workflows/tv-compile.yml
Labels: bot: passed checks

#38318 [ios][expo-image] Remove trailing comma that was causing build errors
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageModule.swift
Labels: bot: passed checks

#38266 [android][expo-ui] `AlertDialog` component
  apps/native-component-list/src/screens/UI/AlertDialogScreen.android.tsx
  apps/native-component-list/src/screens/UI/AlertDialogScreen.ios.tsx
  apps/native-component-list/src/screens/UI/UIScreen.android.tsx
  packages/expo-modules-core/android/src/compose/expo/modules/kotlin/views/ExpoComposeView.kt
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/android/src/main/java/expo/modules/ui/AlertDialogView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/ExpoUIModule.kt
  packages/expo-ui/build/jetpack-compose/AlertDialog/index.d.ts
  packages/expo-ui/build/jetpack-compose/AlertDialog/index.d.ts.map
  packages/expo-ui/build/jetpack-compose/AlertDialog/index.js
  packages/expo-ui/build/jetpack-compose/AlertDialog/index.js.map
  packages/expo-ui/build/jetpack-compose/index.d.ts
  packages/expo-ui/build/jetpack-compose/index.d.ts.map
  packages/expo-ui/build/jetpack-compose/index.js
  packages/expo-ui/build/jetpack-compose/index.js.map
  packages/expo-ui/src/jetpack-compose/AlertDialog/index.tsx
  packages/expo-ui/src/jetpack-compose/index.tsx
Labels: bot: suggestions

#38298 [metro-config] Enable Import Export Support by Default
  docs/pages/guides/tree-shaking.mdx
  packages/@expo/cli/e2e/__tests__/export-dom-test.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: suggestions, bot: fingerprint compatible
