Repository expo/expo, pull requests merged in 2025-09, with the labels that each got.

#39252 [expo] Bump `react-native-reanimated` to `4.1.0`
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/native-tests/ios/Podfile.lock
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#39291 [docs] Remove unused images
  docs/public/static/images/ToastAndroid.png
  docs/public/static/images/accounts/converting-personal-account.png
  docs/public/static/images/bare/remove_start_packager.png
  docs/public/static/images/billing/receipts-03.png
  docs/public/static/images/debugging/react-native-community-cli-debugger-ui.png
  docs/public/static/images/dev-client/extensions-panel.png
  docs/public/static/images/eas-build/build-from-github/link-github-account.png
  docs/public/static/images/eas-build/build-from-github/managing-build-triggers.png
  docs/public/static/images/eas-update/channel-branch.png
  docs/public/static/images/eas-update/getting-started-after-update.png
  docs/public/static/images/eas-update/getting-started-before-update.png
  docs/public/static/images/eas-update/qr-preview.png
  docs/public/static/images/expo-router/link-preview-preview.png
  docs/public/static/images/faq-button-style-button.png
  docs/public/static/images/faq-button-style-pressable.png
  docs/public/static/images/fetch-app-development.png
  docs/public/static/images/imagebackground-example.png
  docs/public/static/images/notifications/server-key-from-fcm.png
  docs/public/static/images/using-flipper/app-inspect.jpg
  docs/public/static/images/using-flipper/setup-doctor.jpg
  docs/public/static/images/z-index/absolute-position.png
  docs/public/static/images/z-index/absolute-z-index-bounds.png
  docs/public/static/images/z-index/default-layout.png
  docs/public/static/images/z-index/default-visually-stacked.png
  docs/public/static/images/z-index/relative-z-index.png
  docs/public/static/images/z-index/z-index-parent.png
Labels: bot: passed checks

#39262 [core] add a prop to prevent force flattening of display content views
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/common/cpp/fabric/ExpoViewShadowNode.cpp
Labels: bot: passed checks, bot: fingerprint changed

#39269 [contacts] Improve type safety for Contact type
  apps/native-component-list/src/screens/Contacts/ContactUtils.ts
  apps/native-component-list/src/screens/Contacts/ContactsList.tsx
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#38727 [test-suite][media-library] Fix failing tests
  apps/test-suite/assets/hdr.jpg
  apps/test-suite/tests/MediaLibrary.js
Labels: bot: passed checks, bot: fingerprint compatible

#38932 [ci] refactor repeating of e2e tests
  .github/workflows/test-suite.yml
  apps/bare-expo/scripts/lib/e2e-common.js
  apps/bare-expo/scripts/start-android-e2e-test.js
  apps/bare-expo/scripts/start-ios-e2e-test.js
Labels: bot: passed checks, bot: fingerprint compatible

#39220 [docs] Update the Existing React Native apps section for SDK 54
  docs/pages/bare/install-dev-builds-in-bare.mdx
  docs/pages/bare/installing-expo-modules.mdx
  docs/public/static/diffs/expo-android.diff
  docs/public/static/diffs/expo-cli-android.diff
  docs/public/static/diffs/expo-ios.diff
  docs/ui/components/Snippet/DiffBlock.test.tsx
Labels: bot: passed checks

#39124 [android] [expo-clipboard] Obfuscate filenames in clipboard cache
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/android/src/main/java/expo/modules/clipboard/ClipboardImage.kt
Labels: bot: passed checks

#39298 [cli] Fix unnecessary version warning when prebuilding prerelease versions
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/updatePackageJson.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39297 [cli] Promote buildCacheProvider to stable
  docs/pages/guides/cache-builds-remotely.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/android/resolveOptions.ts
  packages/@expo/cli/src/run/ios/options/resolveOptions.ts
  packages/@expo/cli/src/utils/build-cache-providers/index.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39173 [file-system][iOS] Add `pickFileAsync` support
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  docs/public/static/data/unversioned/expo-file-system.json
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/ios/FilePickingHandler.swift
  packages/expo-file-system/ios/FilePickingUtils.swift
  packages/expo-file-system/ios/FileSystemExceptions.swift
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/src/ExpoFileSystem.types.ts
Labels: bot: passed checks

#39290 [core][android] Fix error manager
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/requireNativeModule.d.ts.map
  packages/expo-modules-core/build/sweet/NativeErrorManager.d.ts
  packages/expo-modules-core/build/sweet/NativeErrorManager.d.ts.map
  packages/expo-modules-core/src/requireNativeModule.ts
  packages/expo-modules-core/src/sweet/NativeErrorManager.ts
Labels: bot: passed checks, bot: fingerprint changed

#39006 [go][home] Add basic Native Bottom Tabs
  apps/expo-go/src/navigation/BottomTabNavigator.ts
  apps/expo-go/src/navigation/NativeBottomTabsNavigator.tsx
  apps/expo-go/src/navigation/Navigation.tsx
Labels: bot: passed checks, bot: fingerprint changed

#39319 [expo][iOS] add isLiquidGlassAvailable constant
  docs/public/static/data/unversioned/expo.json
  docs/public/static/data/v54.0.0/expo.json
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.d.ts
  packages/expo/build/Expo.d.ts.map
  packages/expo/build/environment/isLiquidGlassAvailable.d.ts
  packages/expo/build/environment/isLiquidGlassAvailable.d.ts.map
  packages/expo/build/environment/isLiquidGlassAvailable.ios.d.ts
  packages/expo/build/environment/isLiquidGlassAvailable.ios.d.ts.map
  packages/expo/expo-module.config.json
  packages/expo/ios/ExpoLiquidGlassConstantsModule.swift
  packages/expo/src/Expo.ts
  packages/expo/src/environment/isLiquidGlassAvailable.ios.ts
  packages/expo/src/environment/isLiquidGlassAvailable.ts
Labels: bot: passed checks, bot: fingerprint changed

#38926 Remove usage of deprecated Constants
  packages/expo-application/CHANGELOG.md
  packages/expo-application/android/src/main/java/expo/modules/application/ApplicationModule.kt
  packages/expo-application/ios/ApplicationModule.swift
  packages/expo-av/CHANGELOG.md
  packages/expo-av/android/src/main/java/expo/modules/av/video/VideoViewModule.kt
  packages/expo-av/ios/EXAV/Video/VideoViewModule.swift
  packages/expo-battery/CHANGELOG.md
  packages/expo-battery/android/src/main/java/expo/modules/battery/BatteryModule.kt
  packages/expo-battery/ios/BatteryModule.swift
  packages/expo-cellular/CHANGELOG.md
  packages/expo-cellular/android/src/main/java/expo/modules/cellular/CellularModule.kt
  packages/expo-cellular/ios/CellularModule.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/Modules/DevMenuInternalModule.swift
  packages/expo-dev-menu/ios/Tests/DevMenuInternalModuleTest.swift
  packages/expo-device/CHANGELOG.md
  packages/expo-device/android/src/main/java/expo/modules/device/DeviceModule.kt
  packages/expo-device/ios/DeviceModule.swift
  packages/expo-eas-client/CHANGELOG.md
  packages/expo-eas-client/android/src/main/java/expo/modules/easclient/EASClientModule.kt
  packages/expo-eas-client/ios/EASClient/EASClientModule.swift
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/legacy/FileSystemLegacyModule.kt
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/ios/Legacy/FileSystemLegacyModule.swift
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-module-template-local/android/src/main/java/{%= project.package %}/{%- project.moduleName %}.kt
  packages/expo-module-template-local/ios/{%- project.moduleName %}.swift
  packages/expo-module-template/android/src/main/java/{%= project.package %}/{%- project.moduleName %}.kt
  packages/expo-module-template/ios/{%- project.moduleName %}.swift
  packages/expo-print/CHANGELOG.md
  packages/expo-print/android/src/main/java/expo/modules/print/PrintModule.kt
  packages/expo-print/ios/ExpoPrintModule.swift
  packages/expo-router/CHANGELOG.md
  packages/expo-router/ios/ExpoHeadModule.swift
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/ios/SecureStoreModule.swift
  packages/expo-sensors/CHANGELOG.md
  packages/expo-sensors/android/src/main/java/expo/modules/sensors/modules/DeviceMotionModule.kt
  packages/expo-sensors/ios/DeviceMotionModule.swift
  packages/expo-speech/CHANGELOG.md
  packages/expo-speech/android/src/main/java/expo/modules/speech/SpeechModule.kt
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/android/src/main/java/expo/modules/taskManager/TaskManagerModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#39070 [ios][ui] - add GlassEffectContainer, Namespace and glassEffectId
  apps/native-component-list/src/screens/UI/GlassEffectScreen.ios.tsx
  apps/native-component-list/src/screens/UI/UIScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/GlassEffectContainer/index.d.ts
  packages/expo-ui/build/swift-ui/GlassEffectContainer/index.d.ts.map
  packages/expo-ui/build/swift-ui/GlassEffectContainer/index.js
  packages/expo-ui/build/swift-ui/GlassEffectContainer/index.js.map
  packages/expo-ui/build/swift-ui/Namespace.d.ts
  packages/expo-ui/build/swift-ui/Namespace.d.ts.map
  packages/expo-ui/build/swift-ui/Namespace.js
  packages/expo-ui/build/swift-ui/Namespace.js.map
  packages/expo-ui/build/swift-ui/index.d.ts
  packages/expo-ui/build/swift-ui/index.d.ts.map
  packages/expo-ui/build/swift-ui/index.js
  packages/expo-ui/build/swift-ui/index.js.map
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts.map
  packages/expo-ui/build/swift-ui/modifiers/index.js
  packages/expo-ui/build/swift-ui/modifiers/index.js.map
  packages/expo-ui/ios/ExpoUIModule.swift
  packages/expo-ui/ios/GlassEffectContainerView.swift
  packages/expo-ui/ios/Modifiers/ViewModifierRegistry.swift
  packages/expo-ui/ios/NamespaceRegistry.swift
  packages/expo-ui/ios/NamespaceView.swift
  packages/expo-ui/src/swift-ui/GlassEffectContainer/index.tsx
  packages/expo-ui/src/swift-ui/Namespace.tsx
  packages/expo-ui/src/swift-ui/index.tsx
  packages/expo-ui/src/swift-ui/modifiers/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#39187 [audio][android] Bump media3 version to 1.8.0
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#39344 [modules-core] Use new LongLivedObject.h and CallbackWrapper.h headers namespace
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JavaCallback.h
  packages/expo-modules-core/android/src/main/cpp/MethodMetadata.cpp
  packages/expo-modules-core/ios/JSI/EXJSIConversions.mm
Labels: bot: passed checks, bot: fingerprint changed

#38980 [video][android] Fix background playback pausing after some time
  apps/bare-expo/android/app/src/main/AndroidManifest.xml
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/public/static/data/unversioned/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/AndroidManifest.xml
  packages/expo-video/android/src/main/java/expo/modules/video/VideoExceptions.kt
  packages/expo-video/android/src/main/java/expo/modules/video/playbackService/ExpoVideoPlaybackService.kt
  packages/expo-video/android/src/main/java/expo/modules/video/playbackService/PlaybackServiceConnection.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/plugin/build/withExpoVideo.js
  packages/expo-video/plugin/src/withExpoVideo.ts
  packages/expo-video/src/VideoPlayer.types.ts
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks, bot: fingerprint changed

#39318 Add Babel's `transform-modules-commonjs` test suit for `import-export-plugin`
  packages/@expo/metro-config/src/transform-plugins/__tests__/__snapshots__/import-export-plugin-babel-loose-snapshots.test.ts.snap
  packages/@expo/metro-config/src/transform-plugins/__tests__/__snapshots__/import-export-plugin-babel-snapshots.test.ts.snap
  packages/@expo/metro-config/src/transform-plugins/__tests__/import-export-plugin-babel-loose-snapshots.test.ts
  packages/@expo/metro-config/src/transform-plugins/__tests__/import-export-plugin-babel-snapshots.test.ts
Labels: bot: suggestions, bot: fingerprint changed

#39322 [glass-effect] new package to render Glass effects on iOS
  apps/native-component-list/package.json
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/GlassView/GlassViewScreen.ios.tsx
  apps/native-component-list/src/screens/GlassView/GlassViewScreen.tsx
  docs/pages/versions/unversioned/sdk/glass-effect.mdx
  docs/public/static/data/unversioned/expo-glass-effect.json
  packages/expo-glass-effect/.eslintrc.js
  packages/expo-glass-effect/.npmignore
  packages/expo-glass-effect/CHANGELOG.md
  packages/expo-glass-effect/README.md
  packages/expo-glass-effect/babel.config.js
  packages/expo-glass-effect/build/GlassContainer.d.ts
  packages/expo-glass-effect/build/GlassContainer.d.ts.map
  packages/expo-glass-effect/build/GlassContainer.ios.d.ts
  packages/expo-glass-effect/build/GlassContainer.ios.d.ts.map
  packages/expo-glass-effect/build/GlassContainer.ios.js
  packages/expo-glass-effect/build/GlassContainer.ios.js.map
  packages/expo-glass-effect/build/GlassContainer.js
  packages/expo-glass-effect/build/GlassContainer.js.map
  packages/expo-glass-effect/build/GlassContainer.types.d.ts
  packages/expo-glass-effect/build/GlassContainer.types.d.ts.map
  packages/expo-glass-effect/build/GlassContainer.types.js
  packages/expo-glass-effect/build/GlassContainer.types.js.map
  packages/expo-glass-effect/build/GlassView.d.ts
  packages/expo-glass-effect/build/GlassView.d.ts.map
  packages/expo-glass-effect/build/GlassView.ios.d.ts
  packages/expo-glass-effect/build/GlassView.ios.d.ts.map
  packages/expo-glass-effect/build/GlassView.ios.js
  packages/expo-glass-effect/build/GlassView.ios.js.map
  packages/expo-glass-effect/build/GlassView.js
  packages/expo-glass-effect/build/GlassView.js.map
  packages/expo-glass-effect/build/GlassView.types.d.ts
  packages/expo-glass-effect/build/GlassView.types.d.ts.map
  packages/expo-glass-effect/build/GlassView.types.js
  packages/expo-glass-effect/build/GlassView.types.js.map
  packages/expo-glass-effect/build/index.d.ts
  packages/expo-glass-effect/build/index.d.ts.map
  packages/expo-glass-effect/build/index.js
  packages/expo-glass-effect/build/index.js.map
  packages/expo-glass-effect/expo-module.config.json
  packages/expo-glass-effect/ios/ExpoGlassEffect.podspec
  packages/expo-glass-effect/ios/GlassContainer.swift
  packages/expo-glass-effect/ios/GlassEffectModule.swift
  packages/expo-glass-effect/ios/GlassStyle.swift
  packages/expo-glass-effect/ios/GlassView.swift
  packages/expo-glass-effect/package.json
  packages/expo-glass-effect/src/GlassContainer.ios.tsx
  packages/expo-glass-effect/src/GlassContainer.tsx
  packages/expo-glass-effect/src/GlassContainer.types.ts
  packages/expo-glass-effect/src/GlassView.ios.tsx
  packages/expo-glass-effect/src/GlassView.tsx
  packages/expo-glass-effect/src/GlassView.types.ts
  packages/expo-glass-effect/src/__tests__/GlassView-test.ios.tsx
  packages/expo-glass-effect/src/__tests__/__snapshots__/GlassView-test.ios.tsx.snap.ios
  packages/expo-glass-effect/src/index.ts
  packages/expo-glass-effect/tsconfig.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks, bot: fingerprint changed

#39244 [filesystem] Add stubs for legacy methods, add next entrypoint.
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/index.d.ts
  packages/expo-file-system/build/index.d.ts.map
  packages/expo-file-system/build/legacyWarnings.d.ts
  packages/expo-file-system/build/legacyWarnings.d.ts.map
  packages/expo-file-system/next.ts
  packages/expo-file-system/src/index.ts
  packages/expo-file-system/src/legacyWarnings.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39361 [expo] load isLiquidGlassAvailable lazily
  packages/expo/CHANGELOG.md
  packages/expo/build/environment/isLiquidGlassAvailable.ios.d.ts.map
  packages/expo/src/environment/isLiquidGlassAvailable.ios.ts
Labels: bot: passed checks

#39303 [docs] Update app config schema for SDK 54 and unversioned
  docs/public/static/schemas/unversioned/app-config-schema.json
  docs/public/static/schemas/v54.0.0/app-config-schema.json
Labels: bot: passed checks

#39356 [notifications] do not send faulty duplicate TextInputNotificationResponse events
  apps/native-component-list/src/screens/NotificationScreen.tsx
  apps/notification-tester/README.md
  apps/notification-tester/src/Notifier.tsx
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/NotificationsPackage.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationManager.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoNotificationLifecycleListener.java
Labels: bot: passed checks, bot: fingerprint changed

#39307 [expo-router] adjust native tabs app for light and dark mode
  apps/router-e2e/__e2e__/native-tabs/app/_layout.tsx
  apps/router-e2e/__e2e__/native-tabs/app/explore/_layout.tsx
  apps/router-e2e/__e2e__/native-tabs/app/explore/index.tsx
  apps/router-e2e/__e2e__/native-tabs/app/explore/news/[title].tsx
  apps/router-e2e/__e2e__/native-tabs/app/faces/index.tsx
  apps/router-e2e/__e2e__/native-tabs/app/index.tsx
  apps/router-e2e/__e2e__/native-tabs/components/Post.tsx
Labels: bot: passed checks

#39375 test(babel-preset-expo): update snapshots
  packages/babel-preset-expo/src/__tests__/__snapshots__/index.test.ts.snap
Labels: bot: suggestions, bot: fingerprint compatible

#39354 [notifications] remove internal use of deprecated getLastNotificationResponseAsync
  packages/expo-notifications/build/useLastNotificationResponse.d.ts.map
  packages/expo-notifications/build/useLastNotificationResponse.js
  packages/expo-notifications/build/useLastNotificationResponse.js.map
  packages/expo-notifications/src/useLastNotificationResponse.ts
Labels: bot: suggestions, bot: fingerprint compatible

#39320 [video][web] Improve fullscreen methods compatibility
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoView.web.d.ts.map
  packages/expo-video/build/VideoView.web.js
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#39382 [bare-expo] Fix `node_modules` were indexed
  apps/bare-expo/android/.idea/modules/app/BareExpo.app.main.iml
Labels: bot: passed checks

#39272 [doctor] Prevent RN Directory check for packages that aren't native modules
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/AutolinkingDependencyDuplicatesCheck.ts
  packages/expo-doctor/src/checks/PeerDependencyChecks.ts
  packages/expo-doctor/src/checks/ReactNativeDirectoryCheck.ts
  packages/expo-doctor/src/checks/__tests__/AutolinkingDependencyDuplicatesCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/DirectoryCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/MetroConfigCheck.test.ts
  packages/expo-doctor/src/checks/__tests__/PeerDependencyChecks.test.ts
  packages/expo-doctor/src/checks/checks.types.ts
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/utils/autolinkingExportsLoader.ts
  packages/expo-doctor/src/utils/autolinkingResolutions.ts
  packages/expo-doctor/src/utils/versionedNativeModules.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39367 [docs] Cleanup filesystem docs
  docs/pages/versions/unversioned/sdk/filesystem.mdx
  docs/pages/versions/v53.0.0/sdk/filesystem-next.mdx
  docs/pages/versions/v54.0.0/sdk/filesystem.mdx
Labels: bot: passed checks

#39385 [core][Android] Remove usage of `kotlin.reflect.full.*`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/EnumExtensions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/KClassExtensions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/ReadableTypeExtensions.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/sharedobjects/SharedObjectTypeConverter.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/EnumTypeConverter.kt
Labels: bot: suggestions, bot: fingerprint changed

#39386 [docs] Add Better Auth example link to authentication documentation
  docs/pages/develop/authentication.mdx
Labels: bot: passed checks

#39308 Upgrade react-native-screens to 4.16.0
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/router-e2e/package.json
  docs/public/static/data/unversioned/expo-router-native-tabs.json
  docs/public/static/data/v54.0.0/expo-router-native-tabs.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#39388 [go] Proposal: Add new AppIcon file and fallback
  apps/expo-go/ios/AppIcon.icon/Assets/1-bg.svg
  apps/expo-go/ios/AppIcon.icon/Assets/2-logo.svg
  apps/expo-go/ios/AppIcon.icon/Assets/3-circle-black.svg
  apps/expo-go/ios/AppIcon.icon/Assets/3-slab.svg
  apps/expo-go/ios/AppIcon.icon/Assets/4-circle-black.svg
  apps/expo-go/ios/AppIcon.icon/Assets/4-circle-white.svg
  apps/expo-go/ios/AppIcon.icon/icon.json
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon-iOS-Dark-1024x1024@1x 1.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon-iOS-Dark-1024x1024@1x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon-iOS-Default-1024x1024@1x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon1024x1024.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon20x20@2x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon20x20@3x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon29x29@2x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon29x29@3x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon40x40@2x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon40x40@3x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon60x60@2x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon60x60@3x.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon76x76@2x~ipad.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon76x76~ipad.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/AppIcon83.5x83.5@2x~ipad.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/1024.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/120-1.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/120.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/152.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/167.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/180.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/40.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/58.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/60.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/76.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/80.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/87.png
  apps/expo-go/ios/Exponent/Images.xcassets/AppIconDebug.appiconset/Contents.json
Labels: bot: passed checks

#39426 [expo-go] fix tab bar hiding screen content
  apps/expo-go/src/screens/HomeScreen/HomeScreenView.tsx
  apps/expo-go/src/screens/SettingsScreen/index.tsx
Labels: bot: passed checks

#39416 [docs] Fix missing quote in command in BackgroundTasks
  docs/pages/versions/v53.0.0/sdk/background-task.mdx
  docs/pages/versions/v54.0.0/sdk/background-task.mdx
Labels: bot: passed checks

#39398 [expo-image-picker][ios] add .tiff file support
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/ImageUtils.swift
Labels: bot: passed checks

#39414 [docs] Add --max-warnings flag to ESLint tool for docs
  docs/package.json
Labels: bot: passed checks

#39415 [docs] Fix duplication in Vale > Stores.yml
  docs/.vale/writing-styles/expo-docs/Stores.yml
Labels: bot: passed checks

#39407 fix(metro-config): Collapse `unknown`/`<anonymous>` stack frames
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/src/customizeFrame.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39430 React-Compiler Docs: Install as dev dependency and fix flat config issues
  docs/pages/guides/react-compiler.mdx
Labels: bot: passed checks

#39445 [autolinking] Fix android options
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/commands/autolinkingOptions.js
  packages/expo-modules-autolinking/build/commands/autolinkingOptions.js.map
  packages/expo-modules-autolinking/src/commands/autolinkingOptions.ts
Labels: bot: passed checks, bot: fingerprint changed

#39420 fix(metro-config): Fix `ExportAllDeclaration` expansion in tree-shaking for `default` and duplicate cases
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/treeShakeSerializerPlugin.js
  packages/@expo/metro-config/build/serializer/treeShakeSerializerPlugin.js.map
  packages/@expo/metro-config/src/serializer/__tests__/tree-shaking.test.ts
  packages/@expo/metro-config/src/serializer/treeShakeSerializerPlugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39413 [bare-expo] migrate js stack navigators to native stack
  apps/bare-expo/MainNavigator.tsx
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/navigation/RootNavigation.tsx
  apps/native-component-list/src/navigation/StackConfig.tsx
  apps/native-component-list/src/screens/Screens/index.tsx
  apps/native-component-list/src/screens/Screens/navigation/index.tsx
  apps/native-component-list/src/screens/SearchScreen.tsx
  apps/native-component-list/src/screens/TextToSpeechScreen.tsx
  apps/test-suite/AppNavigator.js
Labels: bot: passed checks, bot: fingerprint compatible

#39465 [docs] Remove platform tag duplication in Expo FileSystem
  docs/public/static/data/v54.0.0/expo-file-system.json
Labels: bot: passed checks

#39478 [ios][expo-go] Fix menu flicker
  apps/expo-go/src/menu/DevMenuBottomSheet.tsx
Labels: bot: passed checks

#39458 docs(expo-router): document middleware matcher support
  docs/pages/router/reference/middleware.mdx
Labels: bot: passed checks, preview

#39457 [go/dev-menu][android] Add widescreen support
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/DevMenuManager.kt
  apps/expo-go/src/menu/DevMenuBottomSheet.tsx
  apps/expo-go/src/menu/DevMenuOnboarding.tsx
  apps/expo-go/src/menu/DevMenuServerInfo.tsx
  apps/expo-go/src/menu/DevMenuTaskInfo.tsx
  apps/expo-go/src/menu/DevMenuView.tsx
Labels: bot: passed checks

#39481 [go][android] Floating Action Button touchups
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/fab/FloatingActionButtonContent.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/fab/MovableFloatingActionButton.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/DevMenuModule.kt
  apps/expo-go/src/assets/dev_menu_fab_icon.png
  apps/expo-go/src/menu/DevMenuView.tsx
Labels: bot: passed checks

#39210 [file-system][iOS] Add `pickDirectoryAsync` support
  apps/bare-expo/ios/BareExpo/Info.plist
  apps/native-component-list/src/screens/FileSystemScreen.tsx
  apps/test-suite/tests/FileSystem.ts
  docs/public/static/data/unversioned/expo-file-system.json
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/ContactsModule.swift
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/ios/FilePickingHandler.swift
  packages/expo-file-system/ios/FilePickingUtils.swift
  packages/expo-file-system/ios/FileSystemDirectory.swift
  packages/expo-file-system/ios/FileSystemExceptions.swift
  packages/expo-file-system/ios/FileSystemFile.swift
  packages/expo-file-system/ios/FileSystemModule.swift
  packages/expo-file-system/ios/FileSystemPath.swift
  packages/expo-file-system/src/ExpoFileSystem.types.ts
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/ios/ImageManipulatorUtils.swift
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/FileSystemUtilities/FileSystemUtilities.swift
  packages/expo-sharing/CHANGELOG.md
  packages/expo-sharing/ios/SharingModule.swift
  packages/expo-video-thumbnails/CHANGELOG.md
  packages/expo-video-thumbnails/ios/VideoThumbnailsModule.swift
Labels: bot: passed checks

#39490 fix(metro-config): Update `InternalBytecode.js` stack collapsing
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/src/customizeFrame.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39495 chore: Bump to `react-native-worklets@~0.5.1`
  apps/bare-expo/package.json
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#39493 [docs] Adds `set-output` function documentation
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#38950 [schemer] Add ios .icon directory validation
  packages/@expo/schemer/CHANGELOG.md
  packages/@expo/schemer/build/index.d.ts
  packages/@expo/schemer/build/index.js
  packages/@expo/schemer/build/index.js.map
  packages/@expo/schemer/src/__tests__/Schemer-test.ts
  packages/@expo/schemer/src/__tests__/fixtures/test.icon/.gitkeep
  packages/@expo/schemer/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39507 Update overview.mdx
  docs/pages/workflow/overview.mdx
Labels: bot: passed checks

#39496 fix(expo): Replace public constructor field on forked `MetroServerError`
  packages/expo/CHANGELOG.md
  packages/expo/build/async-require/errors.d.ts
  packages/expo/build/async-require/errors.d.ts.map
  packages/expo/src/async-require/errors.ts
Labels: bot: passed checks, bot: fingerprint changed

#39336 [docs] Update search-ui dependency
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#39511 [sqlite] fix memory db path issue
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-sqlite/ios/SQLiteModuleLibSQL.swift
  packages/expo-sqlite/ios/URL+FilePath.swift
Labels: bot: passed checks, bot: fingerprint changed

#39434 [contacts] Add contact change listener
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/ios/ContactsModule.swift
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#39523 [core][Android] Fixes `JNI detected error in application: obj == null` in `ExpoModulesHostObject::get`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/ExpoModulesHostObject.cpp
Labels: bot: suggestions, bot: fingerprint changed

#39525 fix(cli): Fix fast refresh with ESM live bindings by modifying getter skipping
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/metro-require/require.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39513 [expo-router] fix routeInfo not updating on back navigation
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/router-store.d.ts.map
  packages/expo-router/build/global-state/router-store.js
  packages/expo-router/build/global-state/router-store.js.map
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/__tests__/tabs.test.ios.tsx
  packages/expo-router/src/global-state/router-store.tsx
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#39520 [docs] Update the "Migrate to Expo CLI" guide to point to the Expo metro config
  docs/pages/bare/using-expo-cli.mdx
Labels: bot: passed checks

#39518 [docs] Replace `fast-glob` links in docs with `glob`
  docs/pages/build-reference/android-builds.mdx
  docs/pages/build-reference/ios-builds.mdx
  docs/pages/custom-builds/schema.mdx
  docs/public/static/schemas/unversioned/eas-json-build-android-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-common-schema.js
  docs/public/static/schemas/unversioned/eas-json-build-ios-schema.js
  docs/public/static/schemas/unversioned/eas-json-submit-android-schema.js
Labels: bot: passed checks

#39526 [android][updates] Propagate controller scope to state machine
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/UpdatesStateMachineInstrumentationTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/NoDatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/statemachine/UpdatesStateMachine.kt
Labels: bot: passed checks, bot: fingerprint changed

#39532 [docs] Add `isNew` boolean for Expo Router native tabs reference
  docs/pages/versions/unversioned/sdk/router-native-tabs.mdx
  docs/pages/versions/v54.0.0/sdk/router-native-tabs.mdx
Labels: bot: passed checks

#39164 [docs] Add brownfield instructions using create-expo-app
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/brownfield/get-started.mdx
  docs/pages/brownfield/installing-expo-modules.mdx
  docs/pages/brownfield/overview.mdx
  docs/public/static/diffs/brownfiled/info-plist.diff
  docs/public/static/diffs/brownfiled/podfile-custom-root.diff
  docs/public/static/images/brownfield/run-script-phase.png
  docs/public/static/images/brownfield/user-script-sandboxing.png
Labels: bot: passed checks, preview

#39534 [docs] Update next.config.ts
  docs/next.config.ts
Labels: bot: passed checks

#39311 [docs] Update code examples to reference SDK 54
  docs/pages/config-plugins/development-and-debugging.mdx
  docs/pages/config-plugins/development-for-libraries.mdx
  docs/pages/guides/monorepos.mdx
Labels: bot: passed checks

#38973 [docs] Add `llms-sdk-v53.0.0.txt` file
  docs/pages/llms.mdx
  docs/public/llms-sdk-v53.0.0.txt
Labels: bot: passed checks

#39528 [docs] Add `macos-sequoia-15.6-xcode-26.0` to docs
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#39535 [glass-effect][docs] Update description for SEO
  docs/pages/versions/unversioned/sdk/glass-effect.mdx
  docs/pages/versions/v54.0.0/sdk/glass-effect.mdx
Labels: bot: passed checks

#39522 [docs] Fix callout inconsistencies
  docs/pages/build/orbit.mdx
  docs/pages/deploy/web.mdx
  docs/pages/develop/tools.mdx
Labels: bot: passed checks

#39512 fix(expo-modules-autolinking): Force FBReactNativeSpec codegen for source builds when codegen output is missing
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/reactNativeConfig-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39538 [docs] Add redirects and fix unversioned links
  docs/common/error-utilities.ts
  docs/components/plugins/api/APIStaticData.ts
  docs/deploy.sh
  docs/pages/brownfield/overview.mdx
  docs/pages/eas-update/override.mdx
  docs/pages/guides/expo-ui-swift-ui.mdx
  docs/pages/push-notifications/sending-notifications.mdx
  docs/pages/router/advanced/native-tabs.mdx
  docs/pages/router/reference/link-preview.mdx
Labels: bot: passed checks

#39541 [metro-config] Add worklets version to transform config
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39623 [CI] Remove unneeded JDK 17 install in Android E2E workflows
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-bricking-measures-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-custom-init.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-dev-client.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-enabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-error-recovery.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-fingerprint.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-old-arch.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-startup.yml
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/AndroidManifest.xml
Labels: bot: suggestions, bot: fingerprint changed

#39621 [cli] Prevent iOS device builds from being remotely cached
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/ios/runIosAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39633 [iOS][screen-capture] Prevent multiple blur views from being added during rapid app state changes
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/ios/ScreenCaptureModule.swift
Labels: bot: passed checks

#38970 [docs] Add Node.js version to docs SDK compatibility table
  docs/ui/components/SDKTables/ReactNativeCompatibilityTable.tsx
  docs/ui/components/SDKTables/sdk-versions.json
Labels: bot: passed checks, preview

#39645 fix(cli): fix undefined logs being printed
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
Labels: bot: fingerprint compatible

#39617 [ios][expo-ui] Add LabeledContent View
  apps/native-component-list/src/screens/UI/FormScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/LabeledContent/index.d.ts
  packages/expo-ui/build/swift-ui/LabeledContent/index.d.ts.map
  packages/expo-ui/build/swift-ui/index.d.ts
  packages/expo-ui/build/swift-ui/index.d.ts.map
  packages/expo-ui/ios/ExpoUIModule.swift
  packages/expo-ui/ios/LabeledContentView.swift
  packages/expo-ui/src/swift-ui/LabeledContent/index.tsx
  packages/expo-ui/src/swift-ui/index.tsx
Labels: bot: passed checks, bot: fingerprint changed

#39650 [docs] Fix document link on keyboard controller reference
  docs/pages/versions/unversioned/sdk/keyboard-controller.mdx
Labels: bot: passed checks

#39620 [docs] Use DiffBlock in Brownfield guide
  docs/pages/brownfield/get-started.mdx
  docs/public/static/diffs/brownfield/android/android-manifest-add-activity.diff
  docs/public/static/diffs/brownfield/android/android-manifest-cleartext-traffic.diff
  docs/public/static/diffs/brownfield/android/android-manifest-internet-permission.diff
  docs/public/static/diffs/brownfield/android/app-build-gradle-custom-root.diff
  docs/public/static/diffs/brownfield/android/app-build-gradle.diff
  docs/public/static/diffs/brownfield/android/build-gradle.diff
  docs/public/static/diffs/brownfield/android/main-application.diff
  docs/public/static/diffs/brownfield/android/settings-gradle-custom-root.diff
  docs/public/static/diffs/brownfield/ios/info-plist.diff
  docs/public/static/diffs/brownfield/ios/podfile-custom-root.diff
Labels: bot: passed checks

#39612 [camera][android] Fix barcode scanner on devices without Play Services
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/utils/CameraUtils.kt
Labels: bot: passed checks, bot: fingerprint changed

#39642 [core][Android] Clean up cmake
  packages/expo-modules-core/android/CMakeLists.txt
  packages/expo-modules-core/android/src/fabric/CMakeLists.txt
Labels: bot: suggestions, bot: fingerprint changed

#39674 [docs] Fix inconsistencies in Authentication in Expo Router guide
  docs/pages/router/advanced/authentication.mdx
Labels: bot: passed checks

#39686 Revert "[docs] Update React Native Maps usage instruction to include Expo config plugin steps (#38278)"
  docs/pages/versions/v54.0.0/sdk/map-view.mdx
Labels: bot: passed checks

#39684 [docs] Update description, section titles, and add searchRank to Analyzing JavaScript bundles metadata
  docs/pages/guides/analyzing-bundles.mdx
Labels: bot: passed checks

#39677 [docs] Upgrade styleguide packages
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#39699 [docs] add info about reserved parameters
  docs/pages/router/basics/navigation.mdx
  docs/pages/router/reference/url-parameters.mdx
Labels: bot: passed checks, preview

#39594 [core] fix runtime error
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/build/PermissionsHook.d.ts.map
  packages/expo-modules-core/src/PermissionsHook.ts
  packages/expo-modules-core/src/__tests__/PermissionsHook-test.ts
Labels: bot: passed checks

#39692 [core][Android] Fix PCH in sync
  packages/expo-modules-core/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#39701 feat(expo-modules-autolinking,cli): Add `web` resolution for `experiments.autolinkingModuleResolution`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/createExpoAutolinkingResolver.ts
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/platforms/index.d.ts
  packages/expo-modules-autolinking/build/platforms/index.js
  packages/expo-modules-autolinking/build/platforms/index.js.map
  packages/expo-modules-autolinking/build/platforms/web.d.ts
  packages/expo-modules-autolinking/build/platforms/web.js
  packages/expo-modules-autolinking/build/platforms/web.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/webResolver.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/webResolver.js
  packages/expo-modules-autolinking/build/reactNativeConfig/webResolver.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/platforms/index.ts
  packages/expo-modules-autolinking/src/platforms/web.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/webResoler-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.types.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/webResolver.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39705 [ios][audio] Fix setting audioQuality in recordings
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/ios/AudioUtils.swift
Labels: bot: passed checks, bot: fingerprint changed

#38271 [android][audio] Expose MediaRecorder.AudioSource on RecordingOptionsAndroid
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecords.kt
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/src/Audio.types.ts
Labels: bot: passed checks

#39710 fix(expo): Remove properties added upstream from `react-native-web.d.ts` overlay
  packages/expo/CHANGELOG.md
  packages/expo/types/react-native-web.d.ts
Labels: bot: passed checks, bot: fingerprint changed

#39417 Remove ExpoAppDelegate requirement in ExpoReactNativeFactory, DevClient and Updates
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/ReactDelegateHandler/ExpoDevLauncherReactDelegateHandler.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/AppDelegates/ExpoReactNativeFactoryProtocol.swift
  packages/expo-modules-core/ios/ReactDelegates/ExpoReactDelegate.swift
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/ReactDelegateHandler/ExpoUpdatesReactDelegateHandler.swift
  packages/expo/CHANGELOG.md
  packages/expo/ios/AppDelegates/ExpoAppDelegate.swift
  packages/expo/ios/AppDelegates/ExpoReactNativeFactory.swift
Labels: bot: passed checks, bot: fingerprint changed

#39418 [expo][iOS] Remove bindReactNativeFactory
  apps/bare-expo/ios/AppDelegate.swift
  apps/bare-expo/macos/BareExpo-macOS/AppDelegate.swift
  apps/expo-go/ios/Client/AppDelegate.swift
  apps/paper-tester/ios/AppDelegate.swift
  packages/expo-updates/e2e/fixtures/custom_init/AppDelegate.swift
  packages/expo/CHANGELOG.md
  packages/expo/ios/AppDelegates/EXAppDelegateWrapper.mm
  packages/expo/ios/AppDelegates/ExpoAppDelegate.swift
  packages/install-expo-modules/src/plugins/ios/__tests__/fixtures/AppDelegate-rn079-updated.swift
  packages/install-expo-modules/src/plugins/ios/withIosModulesAppDelegate.ts
  templates/expo-template-bare-minimum/ios/HelloWorld/AppDelegate.swift
Labels: bot: suggestions, bot: fingerprint changed

#39732 [expo-glass-effect] Set default glass style to regular
  packages/expo-glass-effect/CHANGELOG.md
  packages/expo-glass-effect/ios/GlassEffectModule.swift
Labels: bot: passed checks

#39658 [contacts] Added contacts image remote uri validation
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsExceptions.kt
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/ContactsModule.kt
  packages/expo-contacts/ios/ContactsExceptions.swift
  packages/expo-contacts/ios/ContactsModule.swift
Labels: bot: passed checks

#39713 [image][Android] Bumps Glide to `5.0.5`
  apps/expo-go/android/build.gradle
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#39715 [media-library][next] Fix modificationTime to return ms
  apps/test-suite/tests/MediaLibraryNext.ts
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/next/MediaLibraryNextModule.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/next/extensions/resolver/AssetExtensions.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/next/objects/asset/delegates/AssetLegacyDelegate.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/next/objects/asset/delegates/AssetModernDelegate.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/next/objects/query/MediaStoreQueryFormatter.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/next/objects/query/Query.kt
  packages/expo-media-library/ios/next/MediaLibraryNextModule.swift
  packages/expo-media-library/ios/next/extensions/DateExtensions.swift
  packages/expo-media-library/ios/next/objects/Query/PredicateBuilder.swift
  packages/expo-media-library/ios/next/objects/asset/Asset.swift
Labels: bot: suggestions, bot: fingerprint changed

#39734 [ios][ui] add fixed size modifier
  apps/native-component-list/src/screens/UI/ModifiersScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts.map
  packages/expo-ui/ios/Modifiers/ViewModifierRegistry.swift
  packages/expo-ui/src/swift-ui/modifiers/index.ts
Labels: bot: passed checks

#39760 [intent][Android] Remove unused native dependencies
  packages/expo-intent-launcher/CHANGELOG.md
  packages/expo-intent-launcher/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#39775 [docs] Fix import statements in native tabs guide
  docs/pages/router/advanced/native-tabs.mdx
Labels: bot: passed checks

#39781 [docs] Update page title for brownfield > get started guide
  docs/pages/brownfield/get-started.mdx
  docs/pages/brownfield/overview.mdx
Labels: bot: passed checks

#39779 [go] Decouple loading fonts and fetching initial data
  apps/expo-go/src/HomeApp.tsx
  dev-home-config.json
Labels: bot: passed checks

#39769 [ios][background-task] fixed timing issue on startup
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/ios/BackgroundTaskAppDelegate.swift
  packages/expo-background-task/ios/BackgroundTaskScheduler.swift
Labels: bot: passed checks, bot: fingerprint changed

#39776 [ios][ci] Updated scripts to use iPhone 17 instead of 16
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-bricking-measures-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-custom-init.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-dev-client.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-enabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-error-recovery.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-fingerprint.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-startup.yml
Labels: bot: passed checks

#39756 [sms][Android] Remove unused native dependencies
  packages/expo-sms/CHANGELOG.md
  packages/expo-sms/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#39761 [contacts][Android] Remove unused native dependencies
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#39794 fix(kotlin): migrate to compilerOptions DSL
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/build.gradle.kts
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/build.gradle.kts
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/expo-module-gradle-plugin/build.gradle.kts
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/build.gradle.kts
Labels: bot: passed checks

#39797 [ios][expo-device] update UIDevice with iPhone 17
  packages/expo-device/CHANGELOG.md
  packages/expo-device/ios/UIDevice.swift
Labels: bot: suggestions, bot: fingerprint changed

#39773 [ios][background-task] add expiry handler to background tasks
  apps/native-component-list/src/screens/BackgroundTaskScreen.tsx
  docs/public/static/data/unversioned/expo-background-task.json
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/build/BackgroundTask.d.ts
  packages/expo-background-task/build/BackgroundTask.d.ts.map
  packages/expo-background-task/build/BackgroundTask.js
  packages/expo-background-task/build/BackgroundTask.js.map
  packages/expo-background-task/build/ExpoBackgroundTaskModule.d.ts
  packages/expo-background-task/build/ExpoBackgroundTaskModule.d.ts.map
  packages/expo-background-task/build/ExpoBackgroundTaskModule.js.map
  packages/expo-background-task/ios/BackgroundTaskAppDelegate.swift
  packages/expo-background-task/ios/BackgroundTaskModule.swift
  packages/expo-background-task/ios/BackgroundTaskScheduler.swift
  packages/expo-background-task/src/BackgroundTask.ts
  packages/expo-background-task/src/ExpoBackgroundTaskModule.ts
Labels: bot: passed checks, bot: fingerprint changed

#39808 [prebuild-config][cli] Update snapshots to fix failing tests
  packages/@expo/cli/e2e/__tests__/__snapshots__/prebuild-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#39802 [ios][ui] - add sf symbol typings
  apps/native-component-list/src/screens/UI/ListScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/Button/index.d.ts
  packages/expo-ui/build/swift-ui/Button/index.d.ts.map
  packages/expo-ui/build/swift-ui/ContentUnavailableView/index.d.ts
  packages/expo-ui/build/swift-ui/ContentUnavailableView/index.d.ts.map
  packages/expo-ui/build/swift-ui/Image/index.d.ts
  packages/expo-ui/build/swift-ui/Image/index.d.ts.map
  packages/expo-ui/build/swift-ui/Label/index.d.ts
  packages/expo-ui/build/swift-ui/Label/index.d.ts.map
  packages/expo-ui/package.json
  packages/expo-ui/src/swift-ui/Button/index.tsx
  packages/expo-ui/src/swift-ui/ContentUnavailableView/index.tsx
  packages/expo-ui/src/swift-ui/Image/index.tsx
  packages/expo-ui/src/swift-ui/Label/index.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#39754 [media-library][next] Add docs
  docs/pages/versions/unversioned/sdk/media-library-next.mdx
  docs/public/static/data/unversioned/expo-media-library-next.json
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/build/next/index.d.ts
  packages/expo-media-library/build/next/index.d.ts.map
  packages/expo-media-library/build/next/index.js
  packages/expo-media-library/build/next/index.js.map
  packages/expo-media-library/build/next/types/Album.d.ts
  packages/expo-media-library/build/next/types/Album.d.ts.map
  packages/expo-media-library/build/next/types/Album.js.map
  packages/expo-media-library/build/next/types/Asset.d.ts
  packages/expo-media-library/build/next/types/Asset.d.ts.map
  packages/expo-media-library/build/next/types/Asset.js.map
  packages/expo-media-library/build/next/types/Query.d.ts
  packages/expo-media-library/build/next/types/Query.d.ts.map
  packages/expo-media-library/build/next/types/Query.js.map
  packages/expo-media-library/src/next/index.ts
  packages/expo-media-library/src/next/types/Album.ts
  packages/expo-media-library/src/next/types/Asset.ts
  packages/expo-media-library/src/next/types/Query.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: docs, bot: passed checks, preview, bot: fingerprint compatible

#39817 [docs] Fix copy command not present in step 2 of Upgrade Expo SDK guide
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#39823 [docs] Fix for missing Icon import in iOS native tabs
  docs/pages/router/advanced/native-tabs.mdx
Labels: bot: passed checks

#39830 chore(templates): Add .cursor to npm ignore in templates
  templates/expo-template-bare-minimum/.npmignore
  templates/expo-template-blank-typescript/.npmignore
  templates/expo-template-blank/.npmignore
  templates/expo-template-default/.npmignore
  templates/expo-template-tabs/.npmignore
Labels: bot: passed checks

#39834 chore(tests): Bump react-native-webview to 13.15.0
  apps/router-e2e/package.json
  packages/@expo/cli/e2e/fixtures/with-dom/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#39728 [modules-autolinking][iOS] Use app root to generate modules provider
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/commands/generateModulesProviderCommand.js
  packages/expo-modules-autolinking/build/commands/generateModulesProviderCommand.js.map
  packages/expo-modules-autolinking/scripts/ios/autolinking_manager.rb
  packages/expo-modules-autolinking/scripts/ios/project_integrator.rb
  packages/expo-modules-autolinking/src/commands/generateModulesProviderCommand.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39841 [go][android] Disable predictive back gesture
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks

#39815 [docs] Add copy/view markdown buttons
  docs/ui/components/Dropdown/Item.tsx
  docs/ui/components/Footer/utils.ts
  docs/ui/components/MarkdownActions/MarkdownActionsDropdown.tsx
  docs/ui/components/MarkdownActions/apiSectionMarkdown.ts
  docs/ui/components/MarkdownActions/appConfigSchema.ts
  docs/ui/components/MarkdownActions/constants.ts
  docs/ui/components/MarkdownActions/easJsonTables.ts
  docs/ui/components/MarkdownActions/environmentInstructions.ts
  docs/ui/components/MarkdownActions/paths.ts
  docs/ui/components/MarkdownActions/patterns.ts
  docs/ui/components/MarkdownActions/processMarkdown.ts
  docs/ui/components/MarkdownActions/startDevelopingScenes.ts
  docs/ui/components/PageHeader/PageHeader.tsx
  docs/ui/components/PageHeader/PagePackageVersion.tsx
  docs/ui/components/PageHeader/PageTitleButtons.tsx
Labels: bot: passed checks, preview

#39846 fix(expo/server): Use Headers instead of plain object in response init callbacks
  apps/router-e2e/__e2e__/server/app/api/headers+api.ts
  apps/router-e2e/__e2e__/server/express.js
  apps/router-e2e/__e2e__/server/workerd/config.capnp
  apps/router-e2e/__e2e__/server/workerd/workerd.mjs
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/export-no-ssg.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/server.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/src/api/rest/cache/__tests__/ResponseCache.test.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/cjs/index.d.ts
  packages/@expo/server/build/cjs/index.js
  packages/@expo/server/build/cjs/index.js.map
  packages/@expo/server/build/mjs/index.d.ts
  packages/@expo/server/build/mjs/index.js
  packages/@expo/server/build/mjs/index.js.map
  packages/@expo/server/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#39853 fix(expo-router): fix optional context menu props not being unset with `undefined`
  apps/router-e2e/__e2e__/link-preview/app/menu.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeActionView.swift
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeModule.swift
Labels: bot: passed checks, bot: fingerprint compatible

#37126 [ios][audio] Support lock screen controls
  apps/native-component-list/src/screens/Audio/AudioScreen.tsx
  apps/native-component-list/src/screens/Audio/expo-audio/AudioControlsScreen.tsx
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/AudioModule.web.d.ts
  packages/expo-audio/build/AudioModule.web.d.ts.map
  packages/expo-audio/build/AudioModule.web.js
  packages/expo-audio/build/AudioModule.web.js.map
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
  packages/expo-audio/ios/AudioRecords.swift
  packages/expo-audio/ios/MediaController.swift
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/AudioModule.web.ts
Labels: bot: passed checks, bot: fingerprint changed

#39829 [ios][audio] Fixed category so that lock screen is visible when recording is off
  apps/native-component-list/src/screens/Audio/expo-audio/AudioControlsScreen.tsx
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/MediaController.swift
Labels: bot: suggestions, bot: fingerprint changed

#39828 [android][audio] Added play/pause to lock screen controls
  packages/expo-audio/android/src/main/java/expo/modules/audio/service/AudioControlsService.kt
Labels: bot: suggestions, bot: fingerprint changed

#39873 [launcher][Android] Adds loading state when connecting to a development server
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/DevLauncherController.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/DevLauncherBottomTabsNavigator.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/primitives/CircularProgressBar.kt
Labels: bot: suggestions, bot: fingerprint changed

#39804 [ios][ui] - add `ignoreSafeArea` modifier
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts.map
  packages/expo-ui/ios/Convertibles/EdgeOptions.swift
  packages/expo-ui/ios/Convertibles/SafeAreaRegionOptions.swift
  packages/expo-ui/ios/Modifiers/ViewModifierRegistry.swift
  packages/expo-ui/src/swift-ui/modifiers/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#39822 feat(api): add support for node:sqlite
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/externals.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39793 [iOS][ui] - add shapes in Expo UI
  apps/native-component-list/src/screens/UI/ShapesScreen.ios.tsx
  apps/native-component-list/src/screens/UI/UIScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/Shapes/index.d.ts
  packages/expo-ui/build/swift-ui/Shapes/index.d.ts.map
  packages/expo-ui/build/swift-ui/index.d.ts
  packages/expo-ui/build/swift-ui/index.d.ts.map
  packages/expo-ui/ios/CapsuleView.swift
  packages/expo-ui/ios/CircleView.swift
  packages/expo-ui/ios/EllipseView.swift
  packages/expo-ui/ios/ExpoUIModule.swift
  packages/expo-ui/ios/RectangleView.swift
  packages/expo-ui/ios/RoundedRectangleView.swift
  packages/expo-ui/ios/UnevenRoundedRectangleView.swift
  packages/expo-ui/src/swift-ui/Shapes/index.tsx
  packages/expo-ui/src/swift-ui/index.tsx
Labels: bot: passed checks, bot: fingerprint changed

#39901 [docs] Fix example in native tabs guide
  docs/pages/router/advanced/native-tabs.mdx
Labels: bot: passed checks

#39883 [asset] use isAndroidAssetNameValid from expo/config-plugins
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/plugin/build/utils.js
  packages/expo-asset/plugin/src/utils.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39864 [ios][ui] Add disabled SwiftUI modifier
  apps/native-component-list/src/screens/UI/ModifiersScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts.map
  packages/expo-ui/ios/Modifiers/ViewModifierRegistry.swift
  packages/expo-ui/src/swift-ui/modifiers/index.ts
Labels: bot: passed checks

#39921 [video][Android] Remove @UnstableReactNativeAPI annotations
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#39907 [ios][ui] - add concentric rectangle shape
  apps/native-component-list/src/screens/UI/ShapesScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/Shapes/ConcentricRectangle.d.ts
  packages/expo-ui/build/swift-ui/Shapes/ConcentricRectangle.d.ts.map
  packages/expo-ui/build/swift-ui/Shapes/index.d.ts
  packages/expo-ui/build/swift-ui/Shapes/index.d.ts.map
  packages/expo-ui/build/swift-ui/modifiers/containerShape.d.ts
  packages/expo-ui/build/swift-ui/modifiers/containerShape.d.ts.map
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts
  packages/expo-ui/build/swift-ui/modifiers/index.d.ts.map
  packages/expo-ui/ios/ConcentricRectangleView.swift
  packages/expo-ui/ios/ExpoUIModule.swift
  packages/expo-ui/ios/Modifiers/ViewModifierRegistry.swift
  packages/expo-ui/src/swift-ui/Shapes/ConcentricRectangle.tsx
  packages/expo-ui/src/swift-ui/Shapes/index.tsx
  packages/expo-ui/src/swift-ui/modifiers/containerShape.ts
  packages/expo-ui/src/swift-ui/modifiers/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#39965 [expo] bump react-native-reanimated to 4.1.1
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#39953 [CI] Add better logging to Android e2e CI
  apps/bare-expo/scripts/lib/e2e-common.ts
  apps/bare-expo/scripts/start-android-e2e-test.ts
  apps/bare-expo/scripts/start-ios-e2e-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#39960 [2/n] Upgrade React Native to 0.82.x
  packages/expo-blur/build/BlurView.web.d.ts.map
  packages/expo-blur/build/BlurView.web.js
  packages/expo-blur/build/BlurView.web.js.map
  packages/expo-blur/src/BlurView.web.tsx
  packages/expo-router/build/link/useLinkHooks.d.ts
  patches/lottie-react-native+7.3.1.patch
  patches/react-native-worklets+0.5.1.patch
Labels: bot: suggestions, bot: fingerprint changed

#39974 [contacts][ios] Fix issue with missing namePrefix on iOS
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/Serialization.swift
Labels: bot: passed checks

#39917 [autolinking][Android] Move generate-package-list to Gradle task
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin-shared/src/main/kotlin/expo/modules/plugin/configuration/ExpoAutolinkingConfig.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/GeneratePackagesListTask.kt
  packages/expo-modules-autolinking/build/autolinking/generatePackageList.d.ts
  packages/expo-modules-autolinking/build/autolinking/generatePackageList.js
  packages/expo-modules-autolinking/build/autolinking/generatePackageList.js.map
  packages/expo-modules-autolinking/build/autolinking/index.d.ts
  packages/expo-modules-autolinking/build/autolinking/index.js
  packages/expo-modules-autolinking/build/autolinking/index.js.map
  packages/expo-modules-autolinking/build/commands/generatePackageListCommand.d.ts
  packages/expo-modules-autolinking/build/commands/generatePackageListCommand.js
  packages/expo-modules-autolinking/build/commands/generatePackageListCommand.js.map
  packages/expo-modules-autolinking/build/index.js
  packages/expo-modules-autolinking/build/index.js.map
  packages/expo-modules-autolinking/build/platforms/android/android.d.ts
  packages/expo-modules-autolinking/build/platforms/android/android.js
  packages/expo-modules-autolinking/build/platforms/android/android.js.map
  packages/expo-modules-autolinking/build/platforms/android/index.d.ts
  packages/expo-modules-autolinking/build/platforms/android/index.js
  packages/expo-modules-autolinking/build/platforms/android/index.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/e2e/__tests__/__snapshots__/monorepo-test.ts.snap
  packages/expo-modules-autolinking/e2e/__tests__/monorepo-test.ts
  packages/expo-modules-autolinking/scripts/android/autolinking_implementation.gradle
  packages/expo-modules-autolinking/src/autolinking/generatePackageList.ts
  packages/expo-modules-autolinking/src/autolinking/index.ts
  packages/expo-modules-autolinking/src/commands/generatePackageListCommand.ts
  packages/expo-modules-autolinking/src/index.ts
  packages/expo-modules-autolinking/src/platforms/__tests__/android-test.ts
  packages/expo-modules-autolinking/src/platforms/android/android.ts
  packages/expo-modules-autolinking/src/platforms/android/index.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks, bot: fingerprint changed

#39987 [dev-menu] Remove unused dev dependencies
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#40010 [test-suite] fix e2e crash
  apps/test-suite/screens/TestScreen.js
Labels: bot: passed checks, bot: fingerprint compatible

#39952 [ui][ios] - add more props to bottomsheet
  apps/native-component-list/src/screens/UI/BottomSheetScreen.ios.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/swift-ui/BottomSheet/index.d.ts
  packages/expo-ui/build/swift-ui/BottomSheet/index.d.ts.map
  packages/expo-ui/ios/BottomSheetView.swift
  packages/expo-ui/src/swift-ui/BottomSheet/index.tsx
Labels: bot: passed checks, bot: fingerprint changed

#40003 [expo-go][Android] Fixes Expo Go crashes with `OutOfMemory` during app loading
  apps/expo-go/android/expoview/src/main/res/drawable/project_default_icon.png
  apps/expo-go/android/expoview/src/main/res/drawable/project_default_icon.xml
Labels: bot: passed checks
