Repository expo/expo, pull requests merged in 2025-05, with the labels that each got.

#36514 feat(cli): Prevent deleting project directory.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export-dom-test.ts
  packages/@expo/cli/src/export/exportAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36513 fix(metro-config): Fix env vars when no .env files are defined.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36517 [docs]: Adjusted protected routes docs based upon feedback
  docs/pages/router/advanced/protected.mdx
Labels: bot: passed checks

#36506 [expo] Update new arch check for new default
  packages/expo/CHANGELOG.md
  packages/expo/src/Expo.fx.tsx
Labels: bot: passed checks, bot: fingerprint changed

#36498 [docs] Remove and update info that referenced SDK 50
  docs/pages/accounts/sso.mdx
  docs/pages/debugging/create-devtools-plugins.mdx
  docs/pages/debugging/devtools-plugins.mdx
  docs/pages/develop/user-interface/fonts.mdx
  docs/pages/eas-update/asset-selection.mdx
  docs/pages/eas-update/optimize-assets.mdx
  docs/pages/guides/apple-privacy.mdx
  docs/pages/guides/building-for-tv.mdx
  docs/pages/guides/customizing-metro.mdx
  docs/pages/guides/in-app-purchases.mdx
  docs/pages/guides/monorepos.mdx
  docs/pages/guides/publishing-websites.mdx
  docs/pages/guides/tree-shaking.mdx
  docs/pages/guides/typescript.mdx
  docs/pages/guides/using-eslint.mdx
  docs/pages/modules/additional-platform-support.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/router/installation.mdx
  docs/pages/router/migrate/from-expo-webpack.mdx
  docs/pages/router/reference/async-routes.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/v53.0.0/config/metro.mdx
Labels: bot: passed checks

#36518 Docs: Fix wrong import path for Expo Router's `Stack`.
  docs/pages/router/advanced/stack.mdx
Labels: bot: passed checks

#36522 [docs]: Add <Link prefetch />
  docs/pages/router/basics/navigation.mdx
Labels: bot: passed checks

#36516 [CI] Fix paths check for EAS workflows
  packages/expo-updates/bin/check-for-changed-paths/index.js
  packages/expo-updates/check-for-changed-paths/dist/index.js
  packages/expo-updates/check-for-changed-paths/package.json
  packages/expo-updates/check-for-changed-paths/src/index.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/LICENSE
  packages/expo-updates/check-for-changed-paths/src/paths-filter/README.md
  packages/expo-updates/check-for-changed-paths/src/paths-filter/file.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/filter.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/git.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/paths-filter-dependencies.ts
  packages/expo-updates/check-for-changed-paths/tsconfig.json
  packages/expo-updates/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#36523 [expo-go] Splashscreen fallback on older devices
  apps/expo-go/android/app/src/main/res/layout/splash_screen_view.xml
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
Labels: bot: passed checks

#36533 Improve error format when `npx expo export` (native) fails.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/export/exportApp.ts
  packages/@expo/cli/src/export/exportAsync.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36524 [docs] Add SDK 53 changelog post link
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#36525 [docs] Fix import statement in code example in Tabs
  docs/pages/router/advanced/tabs.mdx
Labels: bot: passed checks

#36528 [default template] Increate bottom tab padding on iOS
  templates/expo-template-default/components/ui/TabBarBackground.ios.tsx
Labels: bot: passed checks

#36541 [config-plugins] Ensure the manifest has a valid intent filter before appending schemes
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Scheme.js
  packages/@expo/config-plugins/build/android/Scheme.js.map
  packages/@expo/config-plugins/src/android/Scheme.ts
Labels: bot: suggestions

#36509 [router] Fix useNavigation() retrieving the incorrect parent for nested navigator
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useNavigation.d.ts.map
  packages/expo-router/build/useNavigation.js
  packages/expo-router/build/useNavigation.js.map
  packages/expo-router/src/__tests__/headless-tabs.test.ios.tsx
  packages/expo-router/src/__tests__/useNavigation.test.ios.tsx
  packages/expo-router/src/useNavigation.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36545 [expo] Bump react-native-safe-area-context
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/router-e2e/package.json
  apps/sandbox/package.json
  packages/expo/CHANGELOG.md
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions

#36548 [fingerprint] Fix test on Windows
  packages/@expo/fingerprint/e2e/__tests__/default-ignore-paths-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36547 [gha] bump sdk branch for expo.new template sync workflow
  .github/workflows/sync-template.yml
Labels: bot: passed checks

#36550 [CI] Do not run EAS workflows on push (for now)
  apps/expo-workflow-testing/.eas/workflows/tv-compile.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-bricking-measures-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-cli.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-custom-init.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-enabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-error-recovery.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-fingerprint.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-old-arch.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-startup.yml
Labels: bot: passed checks

#36341 Docs: Clarify iOS ad hoc distribution process with link to re-signing credentials guide
  docs/pages/build/internal-distribution.mdx
Labels: bot: passed checks

#36536 [docs] Fix initialization command for Splash Screen example
  docs/pages/versions/v51.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v52.0.0/sdk/splash-screen.mdx
  docs/pages/versions/v53.0.0/sdk/splash-screen.mdx
Labels: bot: passed checks

#36414 [router] Switch useContext to use
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/Route.d.ts.map
  packages/expo-router/build/Route.js
  packages/expo-router/build/Route.js.map
  packages/expo-router/build/fork/native-stack/NativeStackView.d.ts.map
  packages/expo-router/build/fork/native-stack/NativeStackView.js
  packages/expo-router/build/fork/native-stack/NativeStackView.js.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/build/layouts/RootModal.js
  packages/expo-router/build/layouts/RootModal.js.map
  packages/expo-router/build/rsc/router/client.js
  packages/expo-router/build/rsc/router/client.js.map
  packages/expo-router/build/ui/TabTrigger.d.ts.map
  packages/expo-router/build/ui/TabTrigger.js
  packages/expo-router/build/ui/TabTrigger.js.map
  packages/expo-router/build/ui/Tabs.d.ts.map
  packages/expo-router/build/ui/Tabs.js
  packages/expo-router/build/ui/Tabs.js.map
  packages/expo-router/build/views/ErrorBoundary.js
  packages/expo-router/build/views/ErrorBoundary.js.map
  packages/expo-router/build/views/Navigator.js
  packages/expo-router/build/views/Navigator.js.map
  packages/expo-router/build/views/Toast.js
  packages/expo-router/build/views/Toast.js.map
  packages/expo-router/src/Route.tsx
  packages/expo-router/src/fork/native-stack/NativeStackView.tsx
  packages/expo-router/src/fork/useLinking.ts
  packages/expo-router/src/hooks.ts
  packages/expo-router/src/layouts/RootModal.tsx
  packages/expo-router/src/rsc/router/client.ts
  packages/expo-router/src/ui/TabTrigger.tsx
  packages/expo-router/src/ui/Tabs.tsx
  packages/expo-router/src/views/ErrorBoundary.tsx
  packages/expo-router/src/views/Navigator.tsx
  packages/expo-router/src/views/Toast.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#36508 [router]: Prevent incorrect warning when using custom navigators
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/layouts/withLayoutContext.d.ts.map
  packages/expo-router/build/layouts/withLayoutContext.js
  packages/expo-router/build/layouts/withLayoutContext.js.map
  packages/expo-router/src/layouts/withLayoutContext.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#36485 [router] Include tests in typecheck. Use seperate build tsconfig
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/index.d.ts
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/package.json
  packages/expo-router/src/__tests__/Route.test.ios.ts
  packages/expo-router/src/__tests__/dismissTo.test.ios.tsx
  packages/expo-router/src/__tests__/getServerManifest.test.ios.ts
  packages/expo-router/src/__tests__/hooks.test.ios.tsx
  packages/expo-router/src/__tests__/loadStaticParamsAsync.test.ios.ts
  packages/expo-router/src/__tests__/protected.test.ios.tsx
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/fork/__tests__/extractPathFromURL.test.ios.ts
  packages/expo-router/src/testing-library/index.tsx
  packages/expo-router/tsconfig.build.json
  packages/expo-router/tsconfig.json
  packages/expo-router/types/expect.d.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36542 [paper-tester] Swift Delegate
  apps/paper-tester/ios/AppDelegate.swift
  apps/paper-tester/ios/PaperTester-Bridging-Header.h
  apps/paper-tester/ios/papertester.xcodeproj/project.pbxproj
  apps/paper-tester/ios/papertester/AppDelegate.h
  apps/paper-tester/ios/papertester/AppDelegate.mm
  apps/paper-tester/ios/papertester/main.m
Labels: bot: passed checks

#36538 [docs] Update callout in ESLint guide
  docs/pages/guides/using-eslint.mdx
Labels: bot: passed checks

#36570 [docs] Add xcode-16.3 image
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#36423 [docs] Adds workflows examples in context
  docs/pages/deploy/build-project.mdx
  docs/pages/deploy/send-over-the-air-updates.mdx
  docs/pages/deploy/submit-to-app-stores.mdx
  docs/pages/deploy/web.mdx
  docs/pages/review/share-previews-with-your-team.mdx
Labels: bot: passed checks, preview

#36579 [expo-go] Add location service to manifest
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks

#36574 Add recommended react-native-bootsplash version for SDK 53
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks, bot: fingerprint changed

#36585 [jest-expo] Add ExpoFontUtils mock
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions, bot: fingerprint compatible

#36586 [font] Bail out early if no loaded fonts
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/memory.d.ts.map
  packages/expo-font/build/memory.js
  packages/expo-font/build/memory.js.map
  packages/expo-font/src/memory.ts
Labels: bot: passed checks

#36573 [expo-go][1/n] Cleanup unused classes
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Client/Menu/EXDevMenuManager.h
  apps/expo-go/ios/Client/Menu/EXDevMenuManager.m
  apps/expo-go/ios/Client/Menu/EXDevMenuViewController.mm
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Kernel/Api/EXApiV2Client.h
  apps/expo-go/ios/Exponent/Kernel/Api/EXApiV2Client.m
  apps/expo-go/ios/Exponent/Kernel/Api/EXApiV2Result.h
  apps/expo-go/ios/Exponent/Kernel/Api/EXApiV2Result.m
  apps/expo-go/ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  apps/expo-go/ios/Exponent/Kernel/Views/EXAppViewController.mm
  apps/expo-go/ios/Exponent/Versioned/Core/Api/Cognito/RNAWSCognito.h
  apps/expo-go/ios/Exponent/Versioned/Core/Api/Cognito/RNAWSCognito.m
  apps/expo-go/ios/Exponent/Versioned/Core/Api/EXImageUtils.h
  apps/expo-go/ios/Exponent/Versioned/Core/Api/EXImageUtils.m
  apps/expo-go/ios/Exponent/Versioned/Core/EXVersionManagerObjC.mm
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/ios/Tests/Api/EXApiV2Tests.m
Labels: bot: passed checks, bot: fingerprint changed

#36597 [expo-go] Remove amazon-cognito-identity-js
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/cognito/RNAWSCognitoModule.java
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/api/cognito/RNAWSCognitoPackage.java
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/ios/vendored/common/JKBigInteger.podspec.json
  tools/src/vendoring/config/expoGoConfig.ts
Labels: bot: passed checks

#36594 fix(metro-config): avoid using `Program` node when collecting ESM imports
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js
  packages/@expo/metro-config/build/transform-worker/collect-dependencies.js.map
  packages/@expo/metro-config/src/transform-worker/__tests__/collect-dependencies-upstream.test.ts
  packages/@expo/metro-config/src/transform-worker/collect-dependencies.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36617 [docs] Replace deprecated shouldShowAlert in Notifications reference example
  docs/pages/versions/unversioned/sdk/notifications.mdx
Labels: bot: passed checks

#36626 Update file tree on notation.mdx
  docs/pages/router/basics/notation.mdx
Labels: bot: passed checks

#36584 chore(cli): Remove EAS build cache provider implementation
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/android/resolveOptions.ts
  packages/@expo/cli/src/run/ios/options/resolveOptions.ts
  packages/@expo/cli/src/utils/remote-build-cache-providers/eas.ts
  packages/@expo/cli/src/utils/remote-build-cache-providers/helpers.ts
  packages/@expo/cli/src/utils/remote-build-cache-providers/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36616 [DOCS] Add Metro configuration to documentation that fixes Error: Component auth has not been registered yet when using Firebase JS SDK with SDK 53
  docs/pages/guides/using-firebase.mdx
Labels: bot: passed checks

#36569 [docs] document notifications error no valid "aps-environment" entitlement
  docs/pages/push-notifications/faq.mdx
Labels: bot: passed checks

#36636 [docs] Update `setNotificationHandler` method examples
  docs/pages/push-notifications/push-notifications-setup.mdx
  docs/pages/push-notifications/receiving-notifications.mdx
  docs/pages/versions/v53.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#36648 Fixes for docs
  docs/pages/workflow/configuration.mdx
  docs/pages/workflow/continuous-native-generation.mdx
Labels: bot: passed checks

#36553 [CI] Move updates E2E fingerprint test back to GitHub
  .github/workflows/updates-e2e-fingerprint.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-fingerprint.yml
Labels: bot: passed checks

#36646 Update using-push-notifications-services.mdx
  docs/pages/guides/using-push-notifications-services.mdx
Labels: bot: passed checks

#36652 fix(metro-config): make process env readable in dev
  packages/@expo/cli/e2e/fixtures/with-hmr-env-vars/App.js
  packages/@expo/cli/e2e/playwright/dev/hmr-env-vars.test.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js
  packages/@expo/metro-config/build/serializer/environmentVariableSerializerPlugin.js.map
  packages/@expo/metro-config/build/transform-worker/transform-worker.js
  packages/@expo/metro-config/build/transform-worker/transform-worker.js.map
  packages/@expo/metro-config/src/serializer/__tests__/environmentVariableSerializerPlugin.test.ts
  packages/@expo/metro-config/src/serializer/environmentVariableSerializerPlugin.ts
  packages/@expo/metro-config/src/transform-worker/transform-worker.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36662 [audio][docs] Update recording example
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/v53.0.0/sdk/audio.mdx
Labels: bot: passed checks, preview

#32713 [notifications] minor refactors
  docs/pages/push-notifications/what-you-need-to-know.mdx
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/NotificationsService.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/ExpoHandlingDelegate.kt
  packages/expo-notifications/ios/EXNotifications/Notifications/Categories/CategoriesModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/NotificationCenterManager.swift
Labels: bot: suggestions, bot: fingerprint changed

#36666 [autolinking][Android] Fix `build-properties` properties don't apply
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoRootProjectPlugin.kt
Labels: bot: suggestions, bot: fingerprint compatible

#35806 [web][expo-image-manipulator] Overwrite name on NativeImageManipulatorModule.web.ts
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/src/NativeImageManipulatorModule.web.ts
Labels: bot: passed checks

#36667 [ios][screen-orientation] Fix listener in split view on ipad
  packages/expo-screen-orientation/CHANGELOG.md
  packages/expo-screen-orientation/ios/ScreenOrientationModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#36465 [localization] Remove deprecated constants.
  apps/jest-expo-mock-generator/App.js
  apps/native-component-list/src/screens/LocalizationScreen.tsx
  apps/test-suite/tests/Localization.js
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationModule.kt
  packages/expo-localization/android/src/main/java/expo/modules/localization/LocalizationUtils.kt
  packages/expo-localization/build/ExpoLocalization.d.ts
  packages/expo-localization/build/ExpoLocalization.d.ts.map
  packages/expo-localization/build/ExpoLocalization.js
  packages/expo-localization/build/ExpoLocalization.js.map
  packages/expo-localization/build/Localization.d.ts
  packages/expo-localization/build/Localization.d.ts.map
  packages/expo-localization/build/Localization.js
  packages/expo-localization/build/Localization.js.map
  packages/expo-localization/build/Localization.types.d.ts
  packages/expo-localization/build/Localization.types.d.ts.map
  packages/expo-localization/build/Localization.types.js.map
  packages/expo-localization/ios/LocalizationModule.swift
  packages/expo-localization/mocks/ExpoLocalization.ts
  packages/expo-localization/src/ExpoLocalization.ts
  packages/expo-localization/src/Localization.ts
  packages/expo-localization/src/Localization.types.ts
  packages/expo-localization/src/__tests__/Localization-test.native.ts
  packages/expo-localization/src/__tests__/Localization-test.web.ts
Labels: bot: suggestions, bot: fingerprint changed

#36671 [docs] Add a hosting FAQ
  docs/pages/eas/hosting/deployments-and-aliases.mdx
Labels: bot: passed checks

#36682 [CI] Convert EAS workflows to use paths feature
  apps/expo-workflow-testing/.eas/workflows/tv-compile.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-bricking-measures-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-cli.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-custom-init.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-disabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-enabled.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-error-recovery.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-old-arch.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-startup.yml
  packages/expo-updates/bin/check-for-changed-paths/index.js
  packages/expo-updates/check-for-changed-paths/dist/index.js
  packages/expo-updates/check-for-changed-paths/package.json
  packages/expo-updates/check-for-changed-paths/src/index.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/LICENSE
  packages/expo-updates/check-for-changed-paths/src/paths-filter/README.md
  packages/expo-updates/check-for-changed-paths/src/paths-filter/file.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/filter.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/git.ts
  packages/expo-updates/check-for-changed-paths/src/paths-filter/paths-filter-dependencies.ts
  packages/expo-updates/check-for-changed-paths/tsconfig.json
Labels: bot: suggestions, bot: fingerprint compatible

#36644 [docs] Rename remote build cache provider to build cache provider
  docs/pages/guides/cache-builds-remotely.mdx
Labels: bot: passed checks

#36680 [docs] Remove SDK 50 references
  docs/pages/build-reference/infrastructure.mdx
  docs/pages/distribution/app-size.mdx
  docs/pages/router/reference/async-routes.mdx
  docs/pages/router/reference/static-rendering.mdx
Labels: bot: passed checks

#36678 [updates][Android] Fix errors when `configuration-cache` is enabled
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/expo-updates-gradle-plugin/src/main/kotlin/expo/modules/updates/ExpoUpdatesPlugin.kt
Labels: bot: suggestions, bot: fingerprint changed

#36698 [android][core] Fix getSharedObjectId on devices running android 7
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/cpp/JSharedObject.cpp
Labels: bot: suggestions, bot: fingerprint changed

#36439 [maps][ios][android] add circle overlays support
  apps/native-component-list/src/screens/ExpoMaps/MapsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/apple/MapsCircleScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/google/MapsCircleScreen.tsx
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsModule.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsView.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/Records.kt
  packages/expo-maps/build/apple/AppleMaps.types.d.ts
  packages/expo-maps/build/apple/AppleMaps.types.d.ts.map
  packages/expo-maps/build/apple/AppleMaps.types.js.map
  packages/expo-maps/build/apple/AppleMapsView.d.ts.map
  packages/expo-maps/build/apple/AppleMapsView.js
  packages/expo-maps/build/apple/AppleMapsView.js.map
  packages/expo-maps/build/google/GoogleMaps.types.d.ts
  packages/expo-maps/build/google/GoogleMaps.types.d.ts.map
  packages/expo-maps/build/google/GoogleMaps.types.js.map
  packages/expo-maps/build/google/GoogleMapsView.d.ts.map
  packages/expo-maps/build/google/GoogleMapsView.js
  packages/expo-maps/build/google/GoogleMapsView.js.map
  packages/expo-maps/ios/AppleMapsView.swift
  packages/expo-maps/ios/AppleMapsViewiOS17.swift
  packages/expo-maps/ios/AppleMapsViewiOS18.swift
  packages/expo-maps/ios/MapRecords.swift
  packages/expo-maps/ios/MapUtils.swift
  packages/expo-maps/src/apple/AppleMaps.types.ts
  packages/expo-maps/src/apple/AppleMapsView.tsx
  packages/expo-maps/src/google/GoogleMaps.types.ts
  packages/expo-maps/src/google/GoogleMapsView.tsx
Labels: bot: passed checks

#36681 [docs] Fix formatting issues in protected routes guide
  docs/pages/router/advanced/protected.mdx
Labels: bot: passed checks

#35875 [expo-location][android] fix: shouldUseForegroundService is always true
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/records/LocationArguments.kt
Labels: bot: passed checks

#36628 [docs] yarn dev requires specific version of node
  CONTRIBUTING.md
Labels: bot: passed checks

#36700 [docs][notifications] explain notification images on iOS
  docs/pages/push-notifications/sending-notifications.mdx
Labels: bot: passed checks

#36699 [router] Flush state before imperative navigation
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/__tests__/protected.test.ios.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/imperative-api.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#36703 [expo-image-manipulator] Fix `ReferenceError` during export.
  packages/expo-image-manipulator/CHANGELOG.md
  packages/expo-image-manipulator/build/web/ImageManipulatorContext.web.d.ts
  packages/expo-image-manipulator/build/web/ImageManipulatorContext.web.d.ts.map
  packages/expo-image-manipulator/src/web/ImageManipulatorContext.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36669 [sqlite] avoid async api on kv-store
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/Storage.d.ts
  packages/expo-sqlite/build/Storage.d.ts.map
  packages/expo-sqlite/build/Storage.js
  packages/expo-sqlite/build/Storage.js.map
  packages/expo-sqlite/package.json
  packages/expo-sqlite/src/Storage.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#36670 [sqlite] improve sync api on web
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/web/WorkerChannel.ts
Labels: bot: passed checks, bot: fingerprint changed

#36674 [sqlite] fix reentrant issue for statement.executeAsync
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/ios/NativeStatement.swift
  packages/expo-sqlite/ios/SQLiteModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#36695 [module-scripts] add base eslint.config.js for eslint9
  packages/expo-module-scripts/CHANGELOG.md
  packages/expo-module-scripts/bin/expo-module-configure
  packages/expo-module-scripts/eslint.config.base.js
  packages/expo-module-scripts/templates/eslint.config.js
Labels: bot: passed checks, bot: fingerprint compatible

#36705 [background-task] simplification of enqueuing tasks
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/android/src/main/java/expo/modules/backgroundtask/BackgroundTaskConsumer.kt
  packages/expo-background-task/android/src/main/java/expo/modules/backgroundtask/BackgroundTaskModule.kt
  packages/expo-background-task/android/src/main/java/expo/modules/backgroundtask/BackgroundTaskScheduler.kt
  packages/expo-background-task/android/src/main/java/expo/modules/backgroundtask/BackgroundTaskWork.kt
  packages/expo-background-task/ios/BackgroundTaskModule.swift
  packages/expo-background-task/ios/BackgroundTaskScheduler.swift
Labels: bot: passed checks, bot: fingerprint changed

#36734 [template] remove java syntax from comment
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.kt
Labels: bot: passed checks

#36606 [maps][ios][android] Add polygons support
  apps/native-component-list/src/screens/ExpoMaps/MapsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/apple/MapsPolygonScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/google/MapsPolygonScreen.tsx
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/android/build.gradle
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsModule.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsView.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/Records.kt
  packages/expo-maps/build/apple/AppleMaps.types.d.ts
  packages/expo-maps/build/apple/AppleMaps.types.d.ts.map
  packages/expo-maps/build/apple/AppleMaps.types.js.map
  packages/expo-maps/build/apple/AppleMapsView.d.ts.map
  packages/expo-maps/build/apple/AppleMapsView.js
  packages/expo-maps/build/apple/AppleMapsView.js.map
  packages/expo-maps/build/google/GoogleMaps.types.d.ts
  packages/expo-maps/build/google/GoogleMaps.types.d.ts.map
  packages/expo-maps/build/google/GoogleMaps.types.js.map
  packages/expo-maps/build/google/GoogleMapsView.d.ts.map
  packages/expo-maps/build/google/GoogleMapsView.js
  packages/expo-maps/build/google/GoogleMapsView.js.map
  packages/expo-maps/ios/AppleMapsView.swift
  packages/expo-maps/ios/AppleMapsViewiOS17.swift
  packages/expo-maps/ios/AppleMapsViewiOS18.swift
  packages/expo-maps/ios/MapRecords.swift
  packages/expo-maps/ios/MapUtils.swift
  packages/expo-maps/src/apple/AppleMaps.types.ts
  packages/expo-maps/src/apple/AppleMapsView.tsx
  packages/expo-maps/src/google/GoogleMaps.types.ts
  packages/expo-maps/src/google/GoogleMapsView.tsx
Labels: bot: passed checks

#36715 [core] fix network inspector for xhr upload progress
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/DevTools/ExpoRequestInterceptorProtocol.swift
  packages/expo-modules-core/ios/DevTools/URLSessionSessionDelegateProxy.swift
Labels: bot: passed checks, bot: fingerprint changed

#36723 [bare-expo][tools] remove generate-dynamic-macros
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Build-Phases/cp-bundle-resources-conditionally.sh
  apps/bare-expo/ios/Build-Phases/generate-dynamic-macros.sh
  apps/bare-expo/scripts/setup-android-project.sh
  buildAndroidTarballLocally.sh
  secrets/keys.json
  template-files/android-paths.json
  template-files/android/bare-expo/android/app/google-services.json
  template-files/ios-paths.json
  template-files/ios/bare-expo/ios/BareExpo/GoogleService-Info.plist
  template-files/keys.json
  tools/src/commands/AndroidGenerateDynamicMacros.ts
  tools/src/dynamic-macros/generateDynamicMacros.ts
Labels: bot: passed checks, bot: fingerprint changed

#36737 [android][audio] Correctly handle URL's
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
Labels: bot: passed checks, bot: fingerprint changed

#36713 [expo-video][web] Add crossOrigin prop.
  packages/expo-video/CHANGELOG.md
  packages/expo-video/build/VideoView.types.d.ts
  packages/expo-video/build/VideoView.types.d.ts.map
  packages/expo-video/build/VideoView.types.js.map
  packages/expo-video/build/VideoView.web.js
  packages/expo-video/build/VideoView.web.js.map
  packages/expo-video/src/VideoView.types.ts
  packages/expo-video/src/VideoView.web.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#36476 [expo-file-system]: fix uploadAsync return type
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/build/FileSystem.d.ts
  packages/expo-file-system/build/FileSystem.d.ts.map
  packages/expo-file-system/src/FileSystem.ts
Labels: bot: passed checks

#36747 chore(cli): Update to `lan-network@^0.1.6` for Windows fixes
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#36750 [go] bump skia to v2.0.0-next.4
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks

#36742 Replace `removeNotificationSubscription` to `remove()`
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#36752 [config] Update BuildCacheProviderPlugin types
  packages/@expo/config/build/buildCacheProvider.d.ts
  packages/@expo/config/build/buildCacheProvider.js.map
  packages/@expo/config/src/buildCacheProvider.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36754 fix(cli): Fix build cache providers types
  packages/@expo/cli/src/utils/build-cache-providers/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36743 [docs] Mention Radon IDE in the Debugging with VS Code section
  docs/pages/debugging/tools.mdx
  docs/public/static/images/debugging/radon-ide.png
Labels: bot: passed checks

#36690 [router] Fix web url from updating during initial load with nested navigators
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/useLinking.d.ts.map
  packages/expo-router/build/fork/useLinking.js
  packages/expo-router/build/fork/useLinking.js.map
  packages/expo-router/src/fork/useLinking.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36759 [CI] Fix EAS workflows updates E2E fingerprint test
  .github/workflows/updates-e2e-fingerprint.yml
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-fingerprint.yml
Labels: bot: passed checks

#36741 [maps][ios] add isMyLocationEnabled prop
  apps/native-component-list/src/screens/ExpoMaps/apple/MapsPropertiesScreen.tsx
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/build/apple/AppleMaps.types.d.ts
  packages/expo-maps/build/apple/AppleMaps.types.d.ts.map
  packages/expo-maps/build/apple/AppleMaps.types.js.map
  packages/expo-maps/ios/AppleMapsViewiOS17.swift
  packages/expo-maps/ios/AppleMapsViewiOS18.swift
  packages/expo-maps/ios/MapRecords.swift
  packages/expo-maps/src/apple/AppleMaps.types.ts
Labels: bot: passed checks

#36733 [docs][background-tasks] added docs about testing/troubleshooting
  docs/pages/versions/unversioned/sdk/background-task.mdx
  docs/pages/versions/v53.0.0/sdk/background-task.mdx
  docs/public/static/data/unversioned/expo-background-task.json
Labels: bot: passed checks

#35985 [docs][guide][push] Added new CleverTap expo plugin documentation
  docs/pages/guides/using-push-notifications-services.mdx
Labels: bot: passed checks

#36776 [ios][image] Fix PhotoLibrary assets incorrect scaling
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/Loaders/PhotoLibraryAssetLoader.swift
Labels: bot: passed checks, bot: fingerprint changed

#36780 [docs] add maps video to expo maps doc
  docs/pages/versions/unversioned/sdk/maps.mdx
  docs/pages/versions/v52.0.0/sdk/maps.mdx
  docs/pages/versions/v53.0.0/sdk/maps.mdx
Labels: bot: passed checks

#36753 [docs] include maximum Xcode version for SDK 51
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v51.0.0/index.mdx
  docs/pages/versions/v52.0.0/index.mdx
  docs/pages/versions/v53.0.0/index.mdx
Labels: bot: passed checks

#36775 [docs] Use JSON data to display compatibility tables
  docs/pages/faq.mdx
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v51.0.0/index.mdx
  docs/pages/versions/v52.0.0/index.mdx
  docs/pages/versions/v53.0.0/index.mdx
  docs/ui/components/SDKTables/AndroidIosCompatibilityTable.tsx
  docs/ui/components/SDKTables/ReactNativeCompatibilityTable.tsx
  docs/ui/components/SDKTables/index.tsx
  docs/ui/components/SDKTables/sdk-versions.json
  docs/ui/components/SDKTables/utils.ts
Labels: bot: passed checks, preview

#36786 [docs] update links
  docs/pages/get-started/introduction.mdx
  docs/pages/tutorial/follow-up.mdx
Labels: bot: passed checks

#35044 [docs] Adds schedule.cron to workflows syntax
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#36789 [docs][tutorial] Fix syntax error in Multiple App Variants tutorial
  docs/pages/tutorial/eas/multiple-app-variants.mdx
Labels: bot: passed checks

#36808 Update eas-json.mdx
  docs/pages/submit/eas-json.mdx
Labels: bot: passed checks

#36769 [docs] Add section for view definition component
  docs/pages/modules/module-api.mdx
Labels: bot: passed checks

#36725 [docs] update font docs for clarity
  docs/pages/versions/unversioned/sdk/font.mdx
  docs/pages/versions/v53.0.0/sdk/font.mdx
  docs/public/static/data/unversioned/expo-font.json
  packages/expo-font/build/FontHooks.d.ts
  packages/expo-font/build/FontHooks.d.ts.map
  packages/expo-font/build/FontHooks.js
  packages/expo-font/build/FontHooks.js.map
  packages/expo-font/src/FontHooks.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36826 [docs] Adds GMT clarification to scheduled jobs
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#36820 [docs] Update developer-menu screenshot in getting started
  docs/pages/get-started/start-developing.mdx
  docs/public/static/images/get-started/developer-menu.png
Labels: bot: passed checks

#36818 [docs] Update Expo tutorial
  docs/pages/tutorial/add-navigation.mdx
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/configuration.mdx
  docs/pages/tutorial/create-a-modal.mdx
  docs/pages/tutorial/gestures.mdx
  docs/pages/tutorial/image-picker.mdx
  docs/pages/tutorial/platform-differences.mdx
  docs/pages/tutorial/screenshot.mdx
  docs/public/static/images/tutorial/app-icon-visible.png
  docs/public/static/images/tutorial/sticker-smash-assets.zip
Labels: bot: passed checks

#36817 [docs] Update icons
  docs/package.json
  docs/pages/develop/unit-testing.mdx
  docs/pages/eas/index.mdx
  docs/pages/eas/workflows/automating-eas-cli.mdx
  docs/pages/eas/workflows/reference/e2e-tests.mdx
  docs/pages/monitoring/services.mdx
  docs/ui/components/Search/expoEntries.ts
  docs/ui/components/Sidebar/SidebarGroup.tsx
  docs/yarn.lock
Labels: bot: passed checks

#36822 [docs] Update local images example in Expo Print
  docs/pages/versions/unversioned/sdk/print.mdx
  docs/pages/versions/v52.0.0/sdk/print.mdx
  docs/pages/versions/v53.0.0/sdk/print.mdx
Labels: bot: passed checks

#36824 fix(expo-router): Escape unsafe property characters in typed routes output
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/typed-routes/generate.js
  packages/expo-router/build/typed-routes/generate.js.map
  packages/expo-router/src/typed-routes/__tests__/type-generation.node.ts
  packages/expo-router/src/typed-routes/generate.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36773 fix(babel-preset-expo): Disable `minifyTypeofWindow` for web targets temporarily
  docs/pages/guides/tree-shaking.mdx
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/platform-shaking.test.ts
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36829 [go] Fix `isEdgeToEdge` in Expo Go
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  apps/expo-go/package.json
Labels: bot: passed checks

#36823 [core][Android] New custom Type Converter API
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/exception/CodedException.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/ExpectedType.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/Module.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleConvertersBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/types/TypeConverterCollection.kt
  packages/expo-modules-core/android/src/test/java/expo/modules/kotlin/types/ExpectedTypeTest.kt
Labels: bot: passed checks, bot: fingerprint changed

#36811 [router] Fix useLocalSearchParams returning "undefined" for deleted params
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/hooks.d.ts.map
  packages/expo-router/build/hooks.js
  packages/expo-router/build/hooks.js.map
  packages/expo-router/src/__tests__/hooks.test.ios.tsx
  packages/expo-router/src/hooks.ts
Labels: bot: passed checks

#36840 refactor: update `getenv@2.0.0` to support upper case boolean values
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/package.json
  packages/@expo/config/CHANGELOG.md
  packages/@expo/config/package.json
  packages/@expo/env/CHANGELOG.md
  packages/@expo/env/package.json
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/package.json
  packages/@expo/image-utils/CHANGELOG.md
  packages/@expo/image-utils/package.json
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/package.json
  packages/create-expo-module/package.json
  packages/create-expo/CHANGELOG.md
  packages/create-expo/package.json
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/package.json
  packages/patch-project/CHANGELOG.md
  packages/patch-project/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#36850 [sqlite] sync #36674 change to libsql code
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/SQLiteModuleLibSQL.swift
Labels: bot: passed checks

#36846 [docs] Adds workflows limitations doc
  docs/constants/navigation.js
  docs/pages/eas/workflows/limitations.mdx
Labels: bot: passed checks, preview

#36852 fix(cli): Fix `$$require_external` preamble to use `typeof require`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: passed checks

#36842 [image] Indicate that `useImage` can be used with local assets
  apps/test-suite/tests/Image.js
  packages/expo-image/build/Image.d.ts
  packages/expo-image/build/Image.d.ts.map
  packages/expo-image/build/useImage.d.ts
  packages/expo-image/build/useImage.d.ts.map
  packages/expo-image/src/Image.tsx
  packages/expo-image/src/useImage.ts
Labels: bot: suggestions

#36845 [dev-launcher][Android] Remove `testDebug` variant from npm package
  packages/expo-dev-launcher/.npmignore
  packages/expo-dev-launcher/CHANGELOG.md
Labels: bot: suggestions

#36801 fix(image): fix server component support
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/build/index.d.ts
  packages/expo-image/build/index.d.ts.map
  packages/expo-image/jest-rsc.config.js
  packages/expo-image/package.json
  packages/expo-image/src/Image.types.ts
  packages/expo-image/src/__rsc_tests__/__snapshots__/index.test.tsx.snap.android
  packages/expo-image/src/__rsc_tests__/__snapshots__/index.test.tsx.snap.ios
  packages/expo-image/src/__rsc_tests__/__snapshots__/index.test.tsx.snap.web
  packages/expo-image/src/__rsc_tests__/index.test.tsx
  packages/expo-image/src/index.ts
  packages/expo-image/tsconfig.json
Labels: bot: passed checks, bot: fingerprint compatible

#36757 noop non-fabric renderer when new architecture is enabled.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/__tests__/withMetroMultiPlatform.test.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/expo/CHANGELOG.md
Labels: bot: passed checks, bot: fingerprint changed

#36839 Fix `requireOptionalNativeModule` throwing error if mock is missing.
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/setup.js
Labels: bot: passed checks, bot: fingerprint compatible

#36877 [core][Android] Pass custom converters to all related components
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/classcomponent/ClassComponentBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunctionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/modules/ModuleDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ViewDefinitionBuilder.kt
Labels: bot: suggestions

#36875 [apps] Recreate the paper-tester android app from the current template
  apps/paper-tester/android/.gitignore
  apps/paper-tester/android/app/build.gradle
  apps/paper-tester/android/app/src/debug/AndroidManifest.xml
  apps/paper-tester/android/app/src/main/AndroidManifest.xml
  apps/paper-tester/android/app/src/main/java/com/community/papertester/MainActivity.kt
  apps/paper-tester/android/app/src/main/java/com/community/papertester/MainApplication.kt
  apps/paper-tester/android/app/src/main/res/drawable-hdpi/splashscreen_image.png
  apps/paper-tester/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  apps/paper-tester/android/app/src/main/res/drawable-mdpi/splashscreen_image.png
  apps/paper-tester/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  apps/paper-tester/android/app/src/main/res/drawable-xhdpi/splashscreen_image.png
  apps/paper-tester/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  apps/paper-tester/android/app/src/main/res/drawable-xxhdpi/splashscreen_image.png
  apps/paper-tester/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  apps/paper-tester/android/app/src/main/res/drawable-xxxhdpi/splashscreen_image.png
  apps/paper-tester/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  apps/paper-tester/android/app/src/main/res/drawable/ic_launcher_background.xml
  apps/paper-tester/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/paper-tester/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  apps/paper-tester/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  apps/paper-tester/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  apps/paper-tester/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/paper-tester/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  apps/paper-tester/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/paper-tester/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  apps/paper-tester/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  apps/paper-tester/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  apps/paper-tester/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/paper-tester/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/paper-tester/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  apps/paper-tester/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/paper-tester/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/paper-tester/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  apps/paper-tester/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/paper-tester/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/paper-tester/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  apps/paper-tester/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  apps/paper-tester/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/paper-tester/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  apps/paper-tester/android/app/src/main/res/values/strings.xml
  apps/paper-tester/android/app/src/main/res/values/styles.xml
  apps/paper-tester/android/build.gradle
  apps/paper-tester/android/gradle.properties
  apps/paper-tester/android/gradle/wrapper/gradle-wrapper.properties
  apps/paper-tester/android/gradlew
  apps/paper-tester/android/settings.gradle
  apps/paper-tester/app.json
Labels: bot: passed checks

#36714 [expo-clipboard][iOS] Refactor deprecated code
  packages/expo-clipboard/CHANGELOG.md
  packages/expo-clipboard/ios/UIPasteboard+html.swift
Labels: bot: passed checks

#36872 [notification-tester] modify device check
  apps/notification-tester/scripts/prebuild-ios.sh
  apps/notification-tester/src/Notifier.tsx
  apps/notification-tester/src/registerForNotifications.ts
Labels: bot: passed checks

#36832 [docs][expo-notifications] Additional APNs setup
  docs/pages/push-notifications/sending-notifications-custom.mdx
Labels: bot: passed checks, preview

#36856 [router] Remove internal routes from sitemap and add unit tests for this screen
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/views/Sitemap.js
  packages/expo-router/build/views/Sitemap.js.map
  packages/expo-router/src/__tests__/sitemap.test.ios.tsx
  packages/expo-router/src/views/Sitemap.tsx
Labels: bot: passed checks

#33211 [android][media-library] Fix deleteAssetsAsync not working on android 11 +
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: passed checks

#36880 [docs] Add searchRank to Image and Video
  docs/pages/versions/unversioned/sdk/image.mdx
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/unversioned/sdk/video.mdx
  docs/pages/versions/v53.0.0/sdk/image.mdx
  docs/pages/versions/v53.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v53.0.0/sdk/video.mdx
Labels: bot: passed checks

#36881 [docs] Update additional resources
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
Labels: bot: passed checks

#36809 [docs] Fix syntax in useFocusEffect code example
  packages/expo-router/build/useFocusEffect.d.ts
  packages/expo-router/build/useFocusEffect.js
  packages/expo-router/build/useFocusEffect.js.map
  packages/expo-router/src/useFocusEffect.ts
Labels: bot: suggestions

#36873 [notifications] remove expo-notifications from auto plugins
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/expo-notifications.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/expo-notifications.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/expo-notifications.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/withAndroidNotifications.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/withAndroidNotifications.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-notifications/withAndroidNotifications.js.map
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/__tests__/withDefaultPlugins-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-notifications/__tests__/withAndroidNotifications-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-notifications/expo-notifications.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-notifications/withAndroidNotifications.ts
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
Labels: bot: passed checks

#36889 [docs] Fix the code example for imperative router link
  docs/pages/router/basics/navigation.mdx
Labels: bot: passed checks

#36888 [docs] Fix slack examples with proper curly braces
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#36900 [media-library] use named argument for runActionWithPermissions
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#36901 [notifications][docs] fix requestPermissionsAsync example
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/v53.0.0/expo-notifications.json
  packages/expo-notifications/build/NotificationPermissions.d.ts
  packages/expo-notifications/build/NotificationPermissions.js
  packages/expo-notifications/build/NotificationPermissions.js.map
  packages/expo-notifications/src/NotificationPermissions.ts
Labels: bot: suggestions, bot: fingerprint compatible

#33982 [expo-notifications] Tests throwing warning
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/build/index.js
  packages/expo-notifications/build/index.js.map
  packages/expo-notifications/src/index.ts
Labels: bot: passed checks

#26345 [ios] [sensors] Fix barometer resolution on iOS
  apps/expo-go/ios/Exponent/Kernel/Services/EXSensorManager.m
Labels: bot: passed checks

#36884 [image][iOS] Don't add transformers when unnecessary
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks

#36895 [expo-router] Headless sitemap with useSitemap() hook
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/exports.d.ts
  packages/expo-router/build/exports.d.ts.map
  packages/expo-router/build/exports.js
  packages/expo-router/build/exports.js.map
  packages/expo-router/build/views/Sitemap.d.ts.map
  packages/expo-router/build/views/Sitemap.js
  packages/expo-router/build/views/Sitemap.js.map
  packages/expo-router/build/views/useSitemap.d.ts
  packages/expo-router/build/views/useSitemap.d.ts.map
  packages/expo-router/build/views/useSitemap.js
  packages/expo-router/build/views/useSitemap.js.map
  packages/expo-router/src/exports.ts
  packages/expo-router/src/views/Sitemap.tsx
  packages/expo-router/src/views/useSitemap.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#35489 [expo-auth-session][iOS] Allow preferEphemeralSession in promptAsync method
  packages/expo-auth-session/CHANGELOG.md
  packages/expo-auth-session/build/AuthRequest.types.d.ts
  packages/expo-auth-session/build/AuthRequest.types.d.ts.map
  packages/expo-auth-session/build/AuthRequest.types.js.map
  packages/expo-auth-session/src/AuthRequest.types.ts
Labels: bot: passed checks

#36721 Typo in expo-splash-screen README.md
  packages/expo-splash-screen/README.md
Labels: bot: suggestions

#36258 [docs] Collapse third-level nested items in TOC for improved visibility in Reference
  docs/ui/components/TableOfContents/TableOfContents.tsx
  docs/ui/components/TableOfContents/__snapshots__/TableOfContents.test.tsx.snap
Labels: bot: passed checks, preview

#36828 fix(cli): Instantiate require (via `metro-require` fork) just once outside of development
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/metro-require/require.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36362 Pass `disableDeepImportWarnings` option to the `@react-native/babel-preset`
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.d.ts
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks

#36774 fix(config-plugins): Add `package.json:types` and `package.json:exports` fields
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#36819 fix(expo-router): Fix RSC middleware loading modules from incorrect output path due to unstable base path
  packages/expo-router/CHANGELOG.md
  packages/expo-router/_async-server-import.js
  packages/expo-router/build/rsc/middleware.d.ts.map
  packages/expo-router/build/rsc/middleware.js
  packages/expo-router/build/rsc/middleware.js.map
  packages/expo-router/src/rsc/middleware.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36899 [docs] Change eas.env to env
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#36864 [router] Fix deep linking showing incorrect screen
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/router-store.d.ts.map
  packages/expo-router/build/global-state/router-store.js
  packages/expo-router/build/global-state/router-store.js.map
  packages/expo-router/src/__tests__/redirects.test.ios.tsx
  packages/expo-router/src/global-state/router-store.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#36292 [docs] Update unit testing guide
  docs/pages/develop/unit-testing.mdx
Labels: bot: passed checks, preview

#36765 [router] Prioritize static routes over dynamic routes within same group
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/getStateFromPath-forks.d.ts
  packages/expo-router/build/fork/getStateFromPath-forks.d.ts.map
  packages/expo-router/build/fork/getStateFromPath-forks.js
  packages/expo-router/build/fork/getStateFromPath-forks.js.map
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/fork/getStateFromPath-forks.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36855 [router] Fix `DefaultNavigator` insets being too large in edge-to-edge
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/views/Navigator.d.ts.map
  packages/expo-router/build/views/Navigator.js
  packages/expo-router/build/views/Navigator.js.map
  packages/expo-router/src/views/Navigator.tsx
Labels: bot: passed checks

#36894 [splash] Fallback to old splash key if no config for platform
  packages/expo-splash-screen/plugin/build/withSplashScreen.js
  packages/expo-splash-screen/plugin/src/withSplashScreen.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36904 [docs] change monospace font
  docs/pages/_app.tsx
Labels: bot: passed checks, preview

#36906 [docs] small cleanup of server-side redirects
  docs/deploy.sh
Labels: bot: passed checks, preview
