Repository expo/expo, pull requests merged in 2025-08, with the labels that each got.

#38475 [sqlite] Support Apple TV
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/ios/ExpoSQLite.podspec
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#38299 [expo-router] Fix Link Preview between two separate stacks
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/index.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/_layout.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/index.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l1/_layout.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l1/index.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l1/l2/_layout.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l1/l2/index.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l3/_layout.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l3/index.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l3/l4/_layout.tsx
  apps/router-e2e/__e2e__/link-preview/app/(tabs)/home/nested/l3/l4/index.tsx
  apps/router-e2e/__e2e__/link-preview/components/links.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/link/preview/useNextScreenId.d.ts.map
  packages/expo-router/build/link/preview/useNextScreenId.js
  packages/expo-router/build/link/preview/useNextScreenId.js.map
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/link/preview/useNextScreenId.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38464 [sdk-54] update react-native-safe-area-context to 5.5.2
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/router-e2e/package.json
  apps/sandbox/package.json
  packages/expo/bundledNativeModules.json
  patches/react-native-safe-area-context+5.4.0.patch
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#38472 [ncl] Fix invalid video source in VideoThumbnails screen
  apps/native-component-list/src/screens/VideoThumbnailsScreen.tsx
Labels: bot: passed checks

#37333 [tools] Add template tarball to Expo package
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  tools/src/publish-packages/tasks/addTemplateTarball.ts
  tools/src/publish-packages/tasks/publishPackagesPipeline.ts
Labels: bot: passed checks, bot: fingerprint changed

#38486 [android][ui] fix: expo ui compose view props
  packages/expo-modules-core/android/src/compose/expo/modules/kotlin/views/ModuleDefinitionBuilderComposeExtension.kt
Labels: bot: suggestions, bot: fingerprint changed

#38371 [android][go] Add FAB for old dev-menu
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/fab/ComposeMovableFloatingActionButton.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/fab/ExperienceFabView.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/fab/ExpoVelocityTracker.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/kernel/fab/FabUtils.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/internal/DevMenuModule.kt
  apps/expo-go/android/expoview/src/main/res/values/strings.xml
  apps/expo-go/src/menu/DevMenuView.tsx
Labels: bot: passed checks

#38493 [android][maps] Add map styling options with JSON and mapId
  apps/native-component-list/src/screens/ExpoMaps/MapsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/google/MapsMapIdScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/google/MapsMapStyleOptionsScreen.tsx
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsView.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/Records.kt
  packages/expo-maps/build/google/GoogleMaps.types.d.ts
  packages/expo-maps/build/google/GoogleMaps.types.d.ts.map
  packages/expo-maps/build/google/GoogleMaps.types.js.map
  packages/expo-maps/src/google/GoogleMaps.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#38505 [audio][web] Update AudioModule to improve playback handling and status updates, fixed broken player state after calling .replace()
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/build/AudioModule.web.d.ts.map
  packages/expo-audio/build/AudioModule.web.js
  packages/expo-audio/build/AudioModule.web.js.map
  packages/expo-audio/src/AudioModule.web.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38509 [background-task] Support Apple TV
  packages/expo-background-task/ios/ExpoBackgroundTask.podspec
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#38497 [dev-menu][android] Update floating action button design
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/BindingView.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuScreen.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/FabUtils.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/FloatingActionButtonContent.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/fab/MovableFloatingActionButton.kt
  packages/expo-dev-menu/android/src/main/res/drawable-mdpi/dev_menu_fab_icon.png
  packages/expo-dev-menu/android/src/main/res/drawable-mdpi/ellipsis_horizontal.png
  packages/expo-dev-menu/android/src/main/res/drawable-mdpi/refresh_round_icon.png
  packages/expo-dev-menu/android/src/main/res/drawable-xhdpi/dev_menu_fab_icon.png
  packages/expo-dev-menu/android/src/main/res/drawable-xhdpi/ellipsis_horizontal.png
  packages/expo-dev-menu/android/src/main/res/drawable-xhdpi/refresh_round_icon.png
  packages/expo-dev-menu/android/src/main/res/drawable-xxhdpi/dev_menu_fab_icon.png
  packages/expo-dev-menu/android/src/main/res/drawable-xxhdpi/ellipsis_horizontal.png
  packages/expo-dev-menu/android/src/main/res/drawable-xxhdpi/refresh_round_icon.png
Labels: bot: passed checks, bot: fingerprint changed

#38193 [media-library][android] Rewrite getAssetsAsync to Coroutines
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/Exceptions.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssets.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#38226 [media-library][android] Refactor requiring permissions
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
Labels: bot: suggestions, bot: fingerprint changed

#38301 [media-library][android] Remove promises
  apps/test-suite/tests/MediaLibrary.js
  packages/expo-media-library/android/build.gradle
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/Exceptions.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/AddAssetsToAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/AlbumUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/CreateAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/DeleteAlbums.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/GetAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/GetAlbums.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/RemoveAssetsFromAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/migration/CheckIfAlbumShouldBeMigrated.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/migration/MigrateAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/AssetUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/CreateAsset.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/DeleteAssets.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssetInfo.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssets.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/contracts/DeleteContract.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/contracts/WriteContract.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumsTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#38515 [docs] Fix grammar in useFocusEffect example
  docs/public/static/data/v52.0.0/expo-router.json
  docs/public/static/data/v53.0.0/expo-router.json
Labels: bot: passed checks

#38526 [docs] fix expo-navigation-bar example import
  docs/pages/develop/user-interface/system-bars.mdx
Labels: bot: passed checks

#38324 [media-library][android] Refactor `MediaLibraryModule`
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/AddAssetsToAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/CreateAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/DeleteAlbums.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/GetAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/GetAlbums.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/RemoveAssetsFromAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/migration/CheckIfAlbumShouldBeMigrated.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/migration/MigrateAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/CreateAsset.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/DeleteAssets.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssetInfo.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssets.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumsTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetsTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#31752 [cli] only prebuild for platforms specified in app.json
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/prebuild/prebuildAsync.ts
Labels: bot: passed checks

#38490 [tools][promote-packages] Assign sdk-xx tag when promoting bare-minimum
  tools/src/promote-packages/tasks/promotePackages.ts
Labels: bot: passed checks

#38373 [media-library][android] Add context and ensureActivity to suspend functions
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/AddAssetsToAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/AlbumUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/CreateAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/DeleteAlbums.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/GetAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/GetAlbums.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/RemoveAssetsFromAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/migration/CheckIfAlbumShouldBeMigrated.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/migration/MigrateAlbum.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/AssetUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/CreateAsset.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/DeleteAssets.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/GetAssetInfo.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumInfoTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/albums/GetAlbumsTests.kt
  packages/expo-media-library/android/src/test/java/expo/modules/medialibrary/assets/GetAssetInfoTests.kt
Labels: bot: passed checks, bot: fingerprint changed

#38445 [expo-doctor] Add a peer dependency check
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/PeerDependencyChecks.ts
  packages/expo-doctor/src/checks/__tests__/PeerDependencyChecks.test.ts
  packages/expo-doctor/src/utils/checkResolver.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38530 fix(expo-router): Add missing dependencies and optional peers
  packages/expo-router/CHANGELOG.md
  packages/expo-router/package.json
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38533 fix(@expo/cli): Add missing `expo-router` optional peer dep and `@expo/server` dep
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/lint/lintAsync.ts
  packages/@expo/cli/src/start/server/metro/createServerComponentsMiddleware.ts
  packages/@expo/cli/src/start/server/metro/serializeHtml.ts
  packages/@expo/cli/src/start/server/middleware/server.types.ts
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38535 fix(@expo/metro-config): Fix isolated dependency resolution for `hermes-parser`, `babel-preset-expo` (fallback), and `@react-native/js-polyfills`
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/ExpoMetroConfig.js
  packages/@expo/metro-config/build/ExpoMetroConfig.js.map
  packages/@expo/metro-config/build/loadBabelConfig.js
  packages/@expo/metro-config/build/loadBabelConfig.js.map
  packages/@expo/metro-config/package.json
  packages/@expo/metro-config/src/ExpoMetroConfig.ts
  packages/@expo/metro-config/src/loadBabelConfig.ts
  packages/expo/internal/babel-preset.d.ts
  packages/expo/internal/babel-preset.js
  packages/expo/package.json
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: suggestions, bot: fingerprint changed

#38400 [sdk-54][iOS][android] Support precompiled React Native binaries in expo-build-props
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/ios.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/ios.ts
  packages/expo-build-properties/src/pluginConfig.ts
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks, bot: fingerprint changed

#38540 chore(tools,font): Ratchet dependencies checks (Part 2) and add missing `react-native` peer to `expo-font`
  packages/expo-font/CHANGELOG.md
  packages/expo-font/package.json
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks, bot: fingerprint changed

#38547 fix(tools,cli,metro-config,router): Add checks for `require.resolve` dependencies and fix `@expo/cli`, `@expo/metro-config`, and `expo-router` deps
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/package.json
  packages/@expo/cli/src/install/checkPackages.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/serializer/exportHermes.d.ts
  packages/@expo/metro-config/build/serializer/exportHermes.js
  packages/@expo/metro-config/build/serializer/exportHermes.js.map
  packages/@expo/metro-config/build/serializer/serializeChunks.js
  packages/@expo/metro-config/build/serializer/serializeChunks.js.map
  packages/@expo/metro-config/src/serializer/exportHermes.ts
  packages/@expo/metro-config/src/serializer/serializeChunks.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/doctor/index.d.ts
  packages/expo-router/build/doctor/index.d.ts.map
  packages/expo-router/build/doctor/index.js
  packages/expo-router/build/doctor/index.js.map
  packages/expo-router/src/doctor/index.ts
  packages/jest-expo/src/resolveBabelConfig.js
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38549 chore(babel-preset-expo): Update snapshots
  packages/babel-preset-expo/src/__tests__/__snapshots__/index.test.ts.snap
Labels: bot: suggestions, bot: fingerprint compatible

#38522 [expo-router] Upgrade rnscreens to nigthly version and remove RNSDismissibleModalProtocol patch
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/router-e2e/package.json
  packages/expo-router/CHANGELOG.md
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeNavigation.h
  packages/expo/bundledNativeModules.json
  patches/react-native-screens+4.12.0.patch
  patches/react-native-screens+4.14.0-nightly-20250803-1df3db25a.patch
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#38576 [android] Align template closer to react-native
  apps/bare-expo/android/app/src/main/java/dev/expo/payments/MainApplication.kt
  apps/paper-tester/android/app/src/main/java/com/community/papertester/MainApplication.kt
  templates/expo-template-bare-minimum/android/app/src/main/java/com/helloworld/MainApplication.kt
Labels: bot: passed checks, bot: fingerprint changed

#38584 [codemention] remove from docs codeowners
  .github/codemention.yml
Labels: bot: passed checks

#38569 fix(expo-gl): Add missing optional peer dependencies on `react-dom` and `react-native-reanimated`
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/package.json
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks, bot: fingerprint changed

#38577 [updates][e2e] Fix old arch tests
  apps/expo-workflow-testing/.eas/workflows/updates-e2e-old-arch.yml
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38580 feat(config-plugins,expo-asset,expo-font): Switch to `expo/config-plugins` reexport on remaining config plugins (`expo-asset` and `expo-font`)
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/index.d.ts
  packages/@expo/config-plugins/build/index.js
  packages/@expo/config-plugins/build/index.js.map
  packages/@expo/config-plugins/src/index.ts
  packages/expo-asset/CHANGELOG.md
  packages/expo-asset/plugin/build/utils.js
  packages/expo-asset/plugin/src/utils.ts
  packages/expo-font/CHANGELOG.md
  packages/expo-font/plugin/build/withFontsAndroid.js
  packages/expo-font/plugin/src/withFontsAndroid.ts
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks, bot: fingerprint changed

#38570 fix(html-elements): Add missing peer dependencies (`react`, `react-native`, `react-native-web`)
  packages/html-elements/CHANGELOG.md
  packages/html-elements/package.json
  tools/src/check-packages/checkDependenciesAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38465 [expo/server] Port implementation from `eas-hosting/deployment-worker`
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/server.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/cli/e2e/__tests__/export/static-redirects-api.test.ts
  packages/@expo/cli/src/start/server/metro/createServerRouteMiddleware.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/error.d.ts
  packages/@expo/server/build/error.js
  packages/@expo/server/build/error.js.map
  packages/@expo/server/build/index.d.ts
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/build/types.d.ts
  packages/@expo/server/build/utils.d.ts
  packages/@expo/server/build/utils.js
  packages/@expo/server/build/utils.js.map
  packages/@expo/server/src/__tests__/getRedirectRewriteLocation.test.ts
  packages/@expo/server/src/error.ts
  packages/@expo/server/src/index.ts
  packages/@expo/server/src/types.ts
  packages/@expo/server/src/utils.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38590 [expo-video] Fix inconsistent behavior of "replay" on iOS
  packages/expo-video/CHANGELOG.md
  packages/expo-video/ios/VideoModule.swift
Labels: bot: passed checks

#38566 [build-properties][docs] Update default value for `usesCleartextTraffic` on Android versions
  docs/public/static/data/unversioned/expo-build-properties.json
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38591 fix(expo-video)[android]: Fix: Respect accessibility settings for HLS subtitle sizing and system settings, added listener
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/FullscreenPlayerActivity.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoView.kt
  packages/expo-video/android/src/main/java/expo/modules/video/utils/SubtitleUtils.kt
Labels: bot: passed checks, bot: fingerprint changed

#38579 [ios][dev-launcher] Fix broken commands after reload
  apps/expo-go/ios/Podfile.lock
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/Unsafe/RCTPackagerConnection+EXDevLauncherPackagerConnectionInterceptor.m
Labels: bot: passed checks, bot: fingerprint changed

#38534 [expo-router] Fix issues with link preview in heavy views
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.d.ts
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.d.ts.map
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.js
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.js.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/layouts/DrawerClient.d.ts
  packages/expo-router/build/layouts/StackClient.d.ts
  packages/expo-router/build/layouts/StackClient.d.ts.map
  packages/expo-router/build/layouts/StackClient.js
  packages/expo-router/build/layouts/StackClient.js.map
  packages/expo-router/build/layouts/TabsClient.d.ts
  packages/expo-router/build/link/LinkWithPreview.d.ts.map
  packages/expo-router/build/link/LinkWithPreview.js
  packages/expo-router/build/link/LinkWithPreview.js.map
  packages/expo-router/build/link/preview/LinkPreviewContext.d.ts
  packages/expo-router/build/link/preview/LinkPreviewContext.d.ts.map
  packages/expo-router/build/link/preview/LinkPreviewContext.js
  packages/expo-router/build/link/preview/LinkPreviewContext.js.map
  packages/expo-router/build/link/preview/useNextScreenId.d.ts.map
  packages/expo-router/build/link/preview/useNextScreenId.js
  packages/expo-router/build/link/preview/useNextScreenId.js.map
  packages/expo-router/src/fork/native-stack/createNativeStackNavigator.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/layouts/StackClient.tsx
  packages/expo-router/src/link/LinkWithPreview.tsx
  packages/expo-router/src/link/__tests__/Link.test.ios.tsx
  packages/expo-router/src/link/preview/LinkPreviewContext.tsx
  packages/expo-router/src/link/preview/useNextScreenId.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38595 [docs] Add `github.commit_message` to workflows interpolation syntax
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#38606 [ios][dev-menu] Fix fast refresh setting
  packages/expo-dev-menu/ios/DevMenuDevOptionsDelegate.swift
  packages/expo-dev-menu/ios/SwiftUI/DevMenuViewModel.swift
Labels: bot: suggestions, bot: fingerprint changed

#38602 Upgrade @react-native-community/slider to 5.0.0
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  patches/@react-native-community+slider+5.0.0.patch
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#38619 [go] Exclude Blob from expo go
  apps/expo-go/android/settings.gradle
  apps/expo-go/ios/Podfile
Labels: bot: passed checks

#38610 fix(@expo/cli): resolve extensionless routes as HTML in static server
  apps/router-e2e/__e2e__/static-rendering/app/[post].tsx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/export/static-rendering.test.ts
  packages/@expo/cli/e2e/__tests__/utils.ts
  packages/@expo/cli/src/serve/serveAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38608 [ios][dev-menu] Attempt to fix presentation crash
  packages/expo-dev-menu/ios/DevMenuWindow.swift
Labels: bot: suggestions, bot: fingerprint changed

#38636 chore: add swiftlint advice to code review comment
  tools/src/code-review/reviewers/lintSwiftFiles.ts
Labels: bot: passed checks

#38612 [audio][android][ios][web] Fix recordForDuration status updates and add new record() options API
  apps/native-component-list/src/screens/Audio/expo-audio/Recorder.tsx
  docs/public/static/data/unversioned/expo-audio.json
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecords.kt
  packages/expo-audio/build/Audio.types.d.ts
  packages/expo-audio/build/Audio.types.d.ts.map
  packages/expo-audio/build/Audio.types.js.map
  packages/expo-audio/build/AudioModule.types.d.ts
  packages/expo-audio/build/AudioModule.types.d.ts.map
  packages/expo-audio/build/AudioModule.types.js.map
  packages/expo-audio/build/AudioModule.web.d.ts
  packages/expo-audio/build/AudioModule.web.d.ts.map
  packages/expo-audio/build/AudioModule.web.js
  packages/expo-audio/build/AudioModule.web.js.map
  packages/expo-audio/build/ExpoAudio.d.ts.map
  packages/expo-audio/build/ExpoAudio.js
  packages/expo-audio/build/ExpoAudio.js.map
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioRecorder.swift
  packages/expo-audio/ios/AudioRecords.swift
  packages/expo-audio/src/Audio.types.ts
  packages/expo-audio/src/AudioModule.types.ts
  packages/expo-audio/src/AudioModule.web.ts
  packages/expo-audio/src/ExpoAudio.ts
Labels: bot: passed checks, bot: fingerprint changed

#38643 [ios][expo-go] Fix updates build error
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXAppLoaderExpoUpdates.m
  apps/expo-go/ios/Exponent/Kernel/AppLoader/EXDevelopmentHomeLoader.m
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks

#38637 revert(fingerprint): Remove `--transitive-linking-dependencies` arg addition to autolinking (Reverts #37209)
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Bare.d.ts
  packages/@expo/fingerprint/build/sourcer/Bare.js
  packages/@expo/fingerprint/build/sourcer/Bare.js.map
  packages/@expo/fingerprint/build/sourcer/Sourcer.js
  packages/@expo/fingerprint/build/sourcer/Sourcer.js.map
  packages/@expo/fingerprint/src/sourcer/Bare.ts
  packages/@expo/fingerprint/src/sourcer/Sourcer.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38518 [docs] SDK 54 updates for TV support
  docs/pages/guides/building-for-tv.mdx
  docs/pages/versions/unversioned/sdk/background-task.mdx
  docs/pages/versions/unversioned/sdk/checkbox.mdx
  docs/pages/versions/unversioned/sdk/dev-client.mdx
  docs/pages/versions/unversioned/sdk/imagemanipulator.mdx
  docs/pages/versions/unversioned/sdk/skia.mdx
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/unversioned/sdk/system-ui.mdx
  docs/pages/versions/unversioned/sdk/task-manager.mdx
  docs/pages/versions/unversioned/sdk/ui.mdx
  docs/pages/versions/unversioned/sdk/video-av.mdx
  docs/pages/versions/unversioned/sdk/video-thumbnails.mdx
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/SwiftUI/AccountSheet.swift
Labels: bot: passed checks, preview, bot: fingerprint changed

#38647 [font][docs] Add missing `RenderToImageOptions` and fix internal link
  docs/public/static/data/unversioned/expo-font.json
  packages/expo-font/build/Font.d.ts
  packages/expo-font/build/Font.js
  packages/expo-font/build/Font.js.map
  packages/expo-font/build/FontUtils.d.ts
  packages/expo-font/build/FontUtils.d.ts.map
  packages/expo-font/build/FontUtils.js.map
  packages/expo-font/src/Font.ts
  packages/expo-font/src/FontUtils.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38639 [status-bar] Fix `expo-status-bar` source file name in GenerateDocsAPIData
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#38644 [blob][docs] Fix callout appearance and add `isNew` metadata
  docs/pages/versions/unversioned/sdk/blob.mdx
  docs/public/static/data/unversioned/expo-blob.json
  packages/expo-blob/build/ExpoBlob.types.d.ts
  packages/expo-blob/build/ExpoBlob.types.js.map
  packages/expo-blob/src/ExpoBlob.types.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38657 fix(expo-modules-autolinking): make `searchParams` optional to fix typecheck error
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.types.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.types.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38663 test(@expo/cli): fix failure in `exportStaticAsync()` tests
  packages/@expo/cli/src/export/__tests__/exportStaticAsync.test.ts
  packages/@expo/cli/src/export/exportStaticAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38658 fix(expo-modules-autolinking): Prevent Expo modules from being linked as React Native modules upon conflict
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/ExpoModuleConfig.d.ts
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js
  packages/expo-modules-autolinking/build/ExpoModuleConfig.js.map
  packages/expo-modules-autolinking/build/autolinking/findModules.js
  packages/expo-modules-autolinking/build/autolinking/findModules.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.js
  packages/expo-modules-autolinking/build/reactNativeConfig/androidResolver.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/iosResolver.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/iosResolver.js
  packages/expo-modules-autolinking/build/reactNativeConfig/iosResolver.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/build/types.d.ts
  packages/expo-modules-autolinking/build/types.js.map
  packages/expo-modules-autolinking/src/ExpoModuleConfig.ts
  packages/expo-modules-autolinking/src/autolinking/findModules.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/androidResolver-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/reactNativeConfig-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/androidResolver.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/iosResolver.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
  packages/expo-modules-autolinking/src/types.ts
Labels: bot: passed checks, bot: fingerprint changed

#38678 [expo-go] Fix lock file
  apps/expo-go/android/app/src/mobile/AndroidManifest.xml
  apps/expo-go/android/app/src/quest/AndroidManifest.xml
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks

#38675 [docs] Fix internal link in MapView
  docs/pages/versions/unversioned/sdk/map-view.mdx
Labels: bot: passed checks

#38681 [expo-go] Ignore generated AndroidManifest.xml files
  apps/expo-go/.gitignore
  apps/expo-go/android/app/src/mobile/AndroidManifest.xml
  apps/expo-go/android/app/src/quest/AndroidManifest.xml
  secrets/keys.json
Labels: bot: passed checks

#38690 fix(expo-audio) [android]: Handle exceptions when retrieving maxAmplitude from MediaRecorder
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
Labels: bot: passed checks, bot: fingerprint changed

#38689 [docs] Add `macos-sequoia-15.5-xcode-26.0` image
  docs/pages/build-reference/infrastructure.mdx
Labels: bot: passed checks

#38679 [jest-expo] Update package mocks
  packages/expo-sensors/mocks/ExpoBarometer.ts
  packages/expo-sensors/mocks/ExponentAccelerometer.ts
  packages/expo-sensors/mocks/ExponentDeviceMotion.ts
  packages/jest-expo/CHANGELOG.md
  packages/jest-expo/src/preset/moduleMocks/expoModules.js
  templates/expo-template-tabs/package.json
Labels: bot: suggestions, bot: fingerprint compatible

#38713 fix(expo-modules-autolinking): Ignore optional peer dependencies in traversal
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/dependencies/resolution.js
  packages/expo-modules-autolinking/build/dependencies/resolution.js.map
  packages/expo-modules-autolinking/src/dependencies/__tests__/resolution-test.ts
  packages/expo-modules-autolinking/src/dependencies/resolution.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38712 [native-tests][ios] Fix project dependencies
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/NativeTests/PrivacyInfo.xcprivacy
  apps/native-tests/ios/Podfile.lock
  apps/native-tests/package.json
  packages/expo-dev-launcher/ios/Tests/EXDevLauncherControllerTest.swift
  packages/expo-file-system/ios/ExpoFileSystem.podspec
  packages/expo-file-system/ios/Legacy/Tests/EXFileSystemSpec.swift
Labels: bot: suggestions, bot: fingerprint changed

#38729 [audio][ios] Report correct playback rate.
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/ios/AudioModule.swift
  packages/expo-audio/ios/AudioPlayer.swift
Labels: bot: suggestions, bot: fingerprint changed

#38714 [task-manager][iOS] Rethrow obj-c exception as swift error
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/ios/BackgroundFetchModule.swift
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/ios/BackgroundTaskModule.swift
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/Background/BackgroundModule.swift
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/ios/EXTaskManager/EXTaskService.m
Labels: bot: passed checks, bot: fingerprint changed

#38668 [expo-router] add option to hide label and show empty badge
  apps/router-e2e/__e2e__/native-tabs/app/_layout.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/TabOptions.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/TabOptions.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/TabOptions.js.map
  packages/expo-router/build/native-tabs/common/elements.d.ts
  packages/expo-router/build/native-tabs/common/elements.d.ts.map
  packages/expo-router/build/native-tabs/common/elements.js.map
  packages/expo-router/src/native-tabs/NativeBottomTabs/NativeTabsView.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/TabOptions.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/options.test.ios.tsx
  packages/expo-router/src/native-tabs/common/elements.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#38700 fix(splash-screen)[Android]: Fix splash screen icon does not appear when launching from notifications
  docs/pages/versions/unversioned/sdk/notifications.mdx
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashStyles.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38742 [expo-router] add unstable-native-tabs to files in package.json
  packages/expo-router/CHANGELOG.md
  packages/expo-router/package.json
Labels: bot: passed checks, bot: fingerprint compatible

#38708 [github] Use Xcode 16.4 on iOS Static Frameworks workflow
  .github/workflows/ios-static-frameworks.yml
Labels: bot: passed checks

#38627 [build-properties] add `enableMinifyInReleaseBuilds` and deprecate `enableProguardInReleaseBuilds`
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/gradle.properties
  apps/bare-expo/app.json
  apps/paper-tester/android/app/build.gradle
  packages/@expo/cli/src/prebuild/__tests__/fixtures/react-native-project.ts
  packages/@expo/config-plugins/src/android/__tests__/fixtures/build-with-incorrect-create-manifest-android-path.gradle
  packages/@expo/config-plugins/src/android/__tests__/fixtures/build-without-create-manifest-android.gradle
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/__tests__/pluginConfig-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
  packages/expo-test-runner/templates/detox/android/app/build.gradle
  packages/expo-updates/e2e/setup/project.ts
  packages/patch-project/e2e/__tests__/patchProject-test.ts
  templates/expo-template-bare-minimum/android/app/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#38738 [docs] Update callout's location about restarting server in Expo Tutorial
  docs/pages/tutorial/build-a-screen.mdx
  docs/pages/tutorial/image-picker.mdx
Labels: bot: passed checks

#38736 [docs] Update tutorials section in additional resources
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
Labels: bot: passed checks

#38731 Format changelogs
  packages/eslint-plugin-expo/CHANGELOG.md
  packages/expo-doctor/CHANGELOG.md
  packages/expo-notifications/CHANGELOG.md
Labels: bot: passed checks, bot: fingerprint compatible

#38733 [firebase][test-suite] FIx tests.
  apps/test-suite/tests/FirebaseJSSDK.js
Labels: bot: passed checks, bot: fingerprint compatible

#38623 [updates] add setUpdateRequestHeadersOverride on android
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfigurationOverride.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/test/java/expo/modules/updates/UpdatesConfigurationOverrideTest.kt
  packages/expo-updates/android/src/test/java/expo/modules/updates/UpdatesConfigurationTest.kt
  packages/expo-updates/build/Updates.d.ts
  packages/expo-updates/build/Updates.d.ts.map
  packages/expo-updates/build/Updates.js
  packages/expo-updates/build/Updates.js.map
  packages/expo-updates/src/Updates.ts
Labels: bot: passed checks, bot: fingerprint changed

#38628 [updates] add setUpdateRequestHeadersOverride for ios
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/ios/EXUpdates/AppController.swift
  packages/expo-updates/ios/EXUpdates/DevLauncherAppController.swift
  packages/expo-updates/ios/EXUpdates/DisabledAppController.swift
  packages/expo-updates/ios/EXUpdates/EnabledAppController.swift
  packages/expo-updates/ios/EXUpdates/Exceptions.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfig.swift
  packages/expo-updates/ios/EXUpdates/UpdatesConfigOverride.swift
  packages/expo-updates/ios/EXUpdates/UpdatesModule.swift
  packages/expo-updates/ios/Tests/UpdatesConfigOverrideSpec.swift
  packages/expo-updates/ios/Tests/UpdatesConfigSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#38750 [go] fix eas expo go build crashlytics upload step
  apps/eas-expo-go/scripts/eas-build-on-success.sh
  apps/expo-go/android/app/build.gradle
Labels: bot: passed checks

#38732 [sdk-54] Update `@shopify/flash-list` to `2.0.2`
  apps/bare-expo/android/gradle/wrapper/gradle-wrapper.properties
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/ExponentPackage.kt
  apps/expo-go/android/gradle/wrapper/gradle-wrapper.properties
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/native-component-list/src/screens/FlashListScreen.tsx
  apps/native-component-list/src/screens/Image/ImageFlashListScreen.tsx
  apps/native-component-list/src/screens/Video/VideoFlashListScreen.tsx
  apps/paper-tester/android/gradle/wrapper/gradle-wrapper.properties
  packages/expo/bundledNativeModules.json
  templates/expo-template-bare-minimum/android/gradle/wrapper/gradle-wrapper.properties
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#38743 [expo/server] Refactor request handler callbacks to only use response and route parameters
  apps/router-e2e/__e2e__/server/express.js
  apps/router-e2e/__e2e__/server/workerd/workerd.mjs
  packages/@expo/cli/e2e/__tests__/export/server.test.ts
  packages/@expo/server/CHANGELOG.md
  packages/@expo/server/build/cjs/global.types.d.ts
  packages/@expo/server/build/cjs/index.d.ts
  packages/@expo/server/build/cjs/index.js
  packages/@expo/server/build/cjs/index.js.map
  packages/@expo/server/build/mjs/global.types.d.ts
  packages/@expo/server/build/mjs/index.d.ts
  packages/@expo/server/build/mjs/index.js
  packages/@expo/server/build/mjs/index.js.map
  packages/@expo/server/src/global.types.ts
  packages/@expo/server/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38755 [sdk-54] Upgrade `react-native-maps` to `1.25.3`
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#38763 [expo-router] remove clip to bounds for Link.Preview
  packages/expo-router/CHANGELOG.md
  packages/expo-router/ios/LinkPreview/LinkPreviewNativePreviewView.swift
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeTriggerView.swift
Labels: bot: passed checks, bot: fingerprint compatible

#38761 [expo-router] fix native tabs transitions with heavy views
  apps/router-e2e/__e2e__/native-tabs/app/faces/[face].tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js.map
  packages/expo-router/src/native-tabs/NativeBottomTabs/NativeTabsView.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#38751 [docs] add workflow testflight pre-packaged job
  docs/pages/eas/workflows/pre-packaged-jobs.mdx
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#38757 [ios][camera] Fix quality issue
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/CameraSessionManager.swift
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#38748 [core] Deprecate Constants in favor of Constant and Property
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/objects/ObjectDefinitionBuilder.kt
  packages/expo-modules-core/ios/Api/Factories/ObjectFactories.swift
Labels: bot: passed checks, bot: fingerprint changed

#38776 [go] PR feedback
  tools/src/Constants.ts
  tools/src/GitHub.ts
  tools/src/commands/EasDispatch.ts
Labels: bot: passed checks

#38780 [menu][Android] Fix app icon shape
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/DevMenuScreen.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/AppIcon.kt
Labels: bot: suggestions, bot: fingerprint changed

#38787 [expo-router] fix link preview native navigation without tabs
  packages/expo-router/CHANGELOG.md
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeView.swift
Labels: bot: passed checks, bot: fingerprint compatible

#38785 Fix bundle directory access on iOS
  apps/test-suite/tests/FileSystem.ts
  packages/expo-file-system/CHANGELOG.md
  packages/expo-file-system/ios/FileSystemExceptions.swift
  packages/expo-file-system/ios/FileSystemPath.swift
  packages/expo-modules-core/ios/FileSystemUtilities/FileSystemUtilities.swift
Labels: bot: suggestions, bot: fingerprint changed

#38494 chore(router): enhance Sitemap component
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/views/Sitemap.d.ts.map
  packages/expo-router/build/views/Sitemap.js
  packages/expo-router/build/views/Sitemap.js.map
  packages/expo-router/src/__tests__/sitemap.test.ios.tsx
  packages/expo-router/src/views/Sitemap.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#38797 [tools] Fix promote versions
  tools/src/commands/PromoteVersionsToProduction.ts
Labels: bot: passed checks

#38802 [expo-router] revert heavy tabs optimization
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js.map
  packages/expo-router/src/native-tabs/NativeBottomTabs/NativeTabsView.tsx
Labels: bot: passed checks

#38799 [docs] Add a guide on using local HTTPS development for web apps
  docs/constants/navigation.js
  docs/pages/guides/local-https-development.mdx
Labels: bot: passed checks, preview

#38804 [expo-router] upgrade react-native-screens to 4.14
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/router-e2e/package.json
  packages/expo/bundledNativeModules.json
  patches/react-native-screens+4.14.0-nightly-20250803-1df3db25a.patch
  yarn.lock
Labels: bot: passed checks

#38814 [ios][expo-router] Suppress native link preview for Apple TV
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/link/preview/native.d.ts.map
  packages/expo-router/build/link/preview/native.js
  packages/expo-router/build/link/preview/native.js.map
  packages/expo-router/src/link/preview/native.tsx
Labels: bot: passed checks

#38820 [docs] Add missing Sentry token to docs-push workflow
  .github/workflows/docs.yml
Labels: bot: passed checks

#38824 [docs] Regenerate SDK packages docs data
  docs/public/static/data/unversioned/expo-build-properties.json
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/unversioned/expo-image-manipulator.json
  docs/public/static/data/unversioned/expo-maps.json
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/unversioned/expo-ui.json
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/unversioned/expo.json
Labels: bot: passed checks

#38774 [prebuild-config] Add "android.predictiveBackGestureEnabled" prop to app config schema
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/Manifest.d.ts
  packages/@expo/config-plugins/build/android/Manifest.js.map
  packages/@expo/config-plugins/build/android/PredictiveBackGesture.d.ts
  packages/@expo/config-plugins/build/android/PredictiveBackGesture.js
  packages/@expo/config-plugins/build/android/PredictiveBackGesture.js.map
  packages/@expo/config-plugins/build/android/index.d.ts
  packages/@expo/config-plugins/build/android/index.js
  packages/@expo/config-plugins/build/android/index.js.map
  packages/@expo/config-plugins/src/android/Manifest.ts
  packages/@expo/config-plugins/src/android/PredictiveBackGesture.ts
  packages/@expo/config-plugins/src/android/index.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
  templates/expo-template-blank-typescript/app.json
  templates/expo-template-default/app.json
  templates/expo-template-tabs/app.json
Labels: bot: passed checks, bot: fingerprint changed

#38830 [docs] Fix app config schema file reference for SDK 53
  docs/pages/versions/v53.0.0/config/app.mdx
Labels: bot: passed checks

#38819 [ci] fix ios unit test build
  fastlane/Fastfile
Labels: bot: passed checks

#38836 [templates] Fix misaligned `@types/react` version in templates
  templates/expo-template-blank-typescript/package.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs-react-navigation/package.json
  templates/expo-template-tabs/package.json
Labels: bot: passed checks

#38829 [expo-router] fix navigation to hidden tabs
  apps/router-e2e/__e2e__/native-tabs/app/index.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/layouts/withLayoutContext.d.ts
  packages/expo-router/build/layouts/withLayoutContext.d.ts.map
  packages/expo-router/build/layouts/withLayoutContext.js
  packages/expo-router/build/layouts/withLayoutContext.js.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeBottomTabsNavigator.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeBottomTabsNavigator.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeBottomTabsNavigator.js.map
  packages/expo-router/build/useScreens.d.ts
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/layouts/withLayoutContext.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/NativeBottomTabsNavigator.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/render.test.ios.tsx
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks

#38542 [core] open JavaScriptValue and add global event dispatcher
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Classes/ClassDefinition.swift
  packages/expo-modules-core/ios/Core/JavaScriptFunction.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewProps.swift
  packages/expo-modules-core/ios/JSI/JavaScriptValue.swift
Labels: bot: passed checks, bot: fingerprint changed

#38846 chore: Fix `typescript@5.9.2` type errors in tests
  packages/eslint-config-universe/__tests__/__snapshots__/typescript-analysis-test.js.snap
  packages/eslint-config-universe/flat/__tests__/__snapshots__/typescript-analysis-test.js.snap
  packages/expo/src/winter/fetch/__tests__/RequestUtils-test.ts
Labels: bot: suggestions

#38807 [tools] Auto-update devDependencies for templates
  templates/expo-template-default/package.json
  templates/expo-template-tabs-react-navigation/package.json
  tools/src/publish-packages/tasks/updateWorkspaceProjects.ts
Labels: bot: passed checks

#38806 [tools][promote-packages] Assign sdk-xx tag to all templates
  tools/src/promote-packages/tasks/promotePackages.ts
Labels: bot: passed checks

#38849 [autolinking][tests] Fix typo
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/config-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38848 [launcher][Android] UI refresh - account and updates
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/models/BranchesViewModel.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Profile.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/routes/Updates.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/BranchScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/BranchesScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/CrashReportScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/HomeScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/screens/NoUpdatesScreen.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountAvatar.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/AccountSelector.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/ActionButton.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/BottomSheet.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/RunningAppCard.kt
  packages/expo-dev-launcher/android/src/debug/java/expo/modules/devlauncher/compose/ui/SignUp.kt
  packages/expo-dev-launcher/android/src/main/res/drawable/check_circle.xml
  packages/expo-dev-launcher/android/src/main/res/drawable/expo_logo.xml
  packages/expo-dev-menu/android/build.gradle
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/newtheme/Colors.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/Text.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/primitives/ToggleSwitch.kt
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/compose/ui/MenuButton.kt
Labels: bot: suggestions, bot: fingerprint changed

#38845 [expo-router] add missing fields and checks to tabs API
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabsView.js.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/types.d.ts
  packages/expo-router/build/native-tabs/NativeBottomTabs/types.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/types.js.map
  packages/expo-router/src/native-tabs/NativeBottomTabs/NativeTabsView.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38842 [ios][dev-launcher] Recent apps server status
  packages/expo-dev-launcher/ios/SwiftUI/DevLauncherViews.swift
Labels: bot: suggestions

#38857 chore: re-align `@types/react` for `react@19.1.0`
  apps/bare-expo/package.json
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  packages/expo-maps/package.json
  packages/expo-mesh-gradient/package.json
  packages/expo-ui/package.json
  packages/expo/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#37361 refactor: upgrade all `@testing-library/*` to latest versions
  docs/pages/router/reference/testing.mdx
  packages/expo-asset/package.json
  packages/expo-blur/package.json
  packages/expo-checkbox/package.json
  packages/expo-dev-client-components/package.json
  packages/expo-dev-menu/package.json
  packages/expo-font/package.json
  packages/expo-image-picker/package.json
  packages/expo-keep-awake/package.json
  packages/expo-linear-gradient/package.json
  packages/expo-module-scripts/package.json
  packages/expo-modules-core/package.json
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/head/ExpoHead.android.d.ts
  packages/expo-router/build/rsc/router/client.d.ts
  packages/expo-router/build/rsc/router/client.d.ts.map
  packages/expo-router/build/testing-library/mocks.js
  packages/expo-router/build/testing-library/mocks.js.map
  packages/expo-router/package.json
  packages/expo-router/src/testing-library/mocks.ts
  packages/expo-router/src/ts-declarations/react-dom-server-node.d.ts
  packages/expo-screen-capture/package.json
  packages/expo-sqlite/package.json
  packages/expo-status-bar/package.json
  packages/expo-updates/src/__tests__/UseUpdates-test.ios.tsx
  packages/html-elements/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#38854 [ios][dev-menu] Fast refresh toggle
  packages/expo-dev-menu/ios/SwiftUI/DevMenuViewModel.swift
Labels: bot: suggestions, bot: fingerprint changed

#38858 Fixed typo on expo upgrade page
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#38867 [ncl] update swift-ui screens with Host
  apps/native-component-list/src/screens/UI/BottomSheetScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ButtonScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ColorPickerScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ContextMenuScreen.ios.tsx
  apps/native-component-list/src/screens/UI/DateTimePickerScreen.ios.tsx
  apps/native-component-list/src/screens/UI/FormScreen.android.tsx
  apps/native-component-list/src/screens/UI/FormScreen.ios.tsx
  apps/native-component-list/src/screens/UI/GaugeScreen.ios.tsx
  apps/native-component-list/src/screens/UI/HostingRNViewsScreen.android.tsx
  apps/native-component-list/src/screens/UI/HostingRNViewsScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ListScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ModifiersScreen.ios.tsx
  apps/native-component-list/src/screens/UI/PickerScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ProgressScreen.ios.tsx
  apps/native-component-list/src/screens/UI/SectionScreen.ios.tsx
  apps/native-component-list/src/screens/UI/ShareLinkScreen.ios.tsx
  apps/native-component-list/src/screens/UI/SliderScreen.ios.tsx
  apps/native-component-list/src/screens/UI/SwiftUIPrimitivesScreen.ios.tsx
  apps/native-component-list/src/screens/UI/SwitchScreen.ios.tsx
  apps/native-component-list/src/screens/UI/TextInputScreen.ios.tsx
  apps/native-component-list/src/screens/UI/UIScreen.android.tsx
  apps/native-component-list/src/screens/UI/UIScreen.ios.tsx
  apps/native-component-list/src/screens/UI/UIScreen.tsx
Labels: bot: passed checks, bot: fingerprint changed

#38864 [app-integrity] improve error handling
  packages/expo-app-integrity/android/src/main/java/expo/modules/integrity/IntegrityErrorCodes.kt
  packages/expo-app-integrity/android/src/main/java/expo/modules/integrity/IntegrityExceptions.kt
  packages/expo-app-integrity/android/src/main/java/expo/modules/integrity/IntegrityModule.kt
  packages/expo-app-integrity/ios/IntegrityErrorCodes.swift
  packages/expo-app-integrity/ios/IntegrityExceptions.swift
  packages/expo-app-integrity/ios/IntegrityModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#38869 [android][screen-capture] Catch error when accessing event emitter
  packages/expo-screen-capture/CHANGELOG.md
  packages/expo-screen-capture/android/src/main/java/expo/modules/screencapture/ScreenCaptureModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#38872 fix(expo-router): Fix imperative, deferred navigation relying on `ExpoRoot` rather than `NavigationContainer` updates
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/fork/NavigationContainer.d.ts.map
  packages/expo-router/build/fork/NavigationContainer.js
  packages/expo-router/build/fork/NavigationContainer.js.map
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/fork/NavigationContainer.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/imperative-api.tsx
Labels: bot: passed checks, bot: fingerprint changed

#38850 chore: Bump react-navigation dependencies
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/test-suite/package.json
  package.json
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/ExpoRoot.d.ts.map
  packages/expo-router/build/ExpoRoot.js
  packages/expo-router/build/ExpoRoot.js.map
  packages/expo-router/build/fork/NavigationContainer.d.ts.map
  packages/expo-router/build/fork/NavigationContainer.js
  packages/expo-router/build/fork/NavigationContainer.js.map
  packages/expo-router/build/global-state/routing.d.ts
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/imperative-api.d.ts
  packages/expo-router/build/imperative-api.d.ts.map
  packages/expo-router/build/imperative-api.js
  packages/expo-router/build/imperative-api.js.map
  packages/expo-router/build/layouts/DrawerClient.d.ts
  packages/expo-router/build/layouts/DrawerClient.d.ts.map
  packages/expo-router/build/layouts/StackClient.d.ts
  packages/expo-router/build/layouts/StackClient.d.ts.map
  packages/expo-router/build/layouts/TabsClient.d.ts
  packages/expo-router/build/layouts/TabsClient.d.ts.map
  packages/expo-router/build/ui/TabContext.d.ts
  packages/expo-router/build/ui/TabContext.d.ts.map
  packages/expo-router/build/ui/TabRouter.d.ts
  packages/expo-router/build/ui/TabRouter.d.ts.map
  packages/expo-router/build/ui/Tabs.d.ts
  packages/expo-router/build/ui/Tabs.d.ts.map
  packages/expo-router/package.json
  packages/expo-router/src/ExpoRoot.tsx
  packages/expo-router/src/fork/NavigationContainer.tsx
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/imperative-api.tsx
  templates/expo-template-default/package.json
  templates/expo-template-tabs-react-navigation/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#38877 [doctor] link to changelog based on sdk version
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/InstalledDependencyVersionCheck.ts
  packages/expo-doctor/src/utils/__tests__/parseInstallCheckOutput.test.ts
  packages/expo-doctor/src/utils/parseInstallCheckOutput.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38874 [templates] upgrade react-native-screens to 4.14
  templates/expo-template-default/package.json
  templates/expo-template-tabs-react-navigation/package.json
  templates/expo-template-tabs/package.json
Labels: bot: passed checks

#38786 [file-system] Add asset files for Android.
  apps/test-suite/tests/FileSystem.ts
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemModule.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/FileSystemPath.kt
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/unifiedfile/AssetFile.kt
  packages/expo-file-system/build/ExpoFileSystem.d.ts
  packages/expo-file-system/build/ExpoFileSystem.d.ts.map
  packages/expo-file-system/build/FileSystem.d.ts.map
  packages/expo-file-system/src/ExpoFileSystem.ts
  packages/expo-file-system/src/FileSystem.ts
Labels: bot: suggestions, bot: fingerprint changed

#38886 chore: Fix missing expo-router peers and remove unused expo-router peer
  packages/expo-router/CHANGELOG.md
  packages/expo-router/package.json
  packages/expo/package.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
Labels: bot: suggestions

#38887 refactor(expo-router): Mark `@testing-library/react-native` (added missing peer) as optional
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/testing-library/index.d.ts
  packages/expo-router/build/testing-library/index.d.ts.map
  packages/expo-router/build/testing-library/index.js
  packages/expo-router/build/testing-library/index.js.map
  packages/expo-router/package.json
  packages/expo-router/src/__tests__/+native-intent.test.ios.tsx
  packages/expo-router/src/__tests__/custom-navigators.test.ios.tsx
  packages/expo-router/src/__tests__/dismissTo.test.ios.tsx
  packages/expo-router/src/__tests__/hashs.test.ios.tsx
  packages/expo-router/src/__tests__/headless-tabs.test.ios.tsx
  packages/expo-router/src/__tests__/hooks.test.ios.tsx
  packages/expo-router/src/__tests__/initialRouteName.test.ios.tsx
  packages/expo-router/src/__tests__/modal-stack.test.ios.tsx
  packages/expo-router/src/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/__tests__/prefetch.test.ios.tsx
  packages/expo-router/src/__tests__/protected.test.ios.tsx
  packages/expo-router/src/__tests__/push.test.ios.tsx
  packages/expo-router/src/__tests__/redirects.test.ios.tsx
  packages/expo-router/src/__tests__/search-params.test.ios.tsx
  packages/expo-router/src/__tests__/sitemap.test.ios.tsx
  packages/expo-router/src/__tests__/smoke.test.ios.tsx
  packages/expo-router/src/__tests__/stacks.test.ios.tsx
  packages/expo-router/src/__tests__/tabs.test.ios.tsx
  packages/expo-router/src/__tests__/testing-library.test.ios.tsx
  packages/expo-router/src/link/__tests__/Link.test.ios.tsx
  packages/expo-router/src/link/preview/__tests__/HrefPreview.test.ios.tsx
  packages/expo-router/src/modal/__tests__/modal.test.ios.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/navigation.test.ios.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/options.test.android.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/options.test.ios.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/__tests__/render.test.ios.tsx
  packages/expo-router/src/testing-library/index.tsx
  packages/expo-router/src/views/__tests__/Screen.test.ios.tsx
  packages/expo-router/src/views/__tests__/Unmatched.test.ios.tsx
Labels: bot: passed checks

#38891 [docs] Fix app config schema relative path
  docs/pages/versions/v54.0.0/config/app.mdx
Labels: bot: passed checks

#38889 [docs] Fix assertion warning in next.config.ts file
  docs/next.config.ts
Labels: bot: passed checks

#38492 [docs] Update Step 1 & 2 instructions in Wrap third-party native libraries
  docs/pages/modules/third-party-library.mdx
Labels: bot: passed checks

#38699 [sqlite] add localStorage API
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/Storage.d.ts
  packages/expo-sqlite/build/Storage.d.ts.map
  packages/expo-sqlite/build/Storage.js
  packages/expo-sqlite/build/Storage.js.map
  packages/expo-sqlite/build/WebStorage.d.ts
  packages/expo-sqlite/build/WebStorage.d.ts.map
  packages/expo-sqlite/build/WebStorage.js
  packages/expo-sqlite/build/WebStorage.js.map
  packages/expo-sqlite/build/paramUtils.d.ts
  packages/expo-sqlite/build/paramUtils.d.ts.map
  packages/expo-sqlite/build/paramUtils.js
  packages/expo-sqlite/build/paramUtils.js.map
  packages/expo-sqlite/localStorage/install.js
  packages/expo-sqlite/package.json
  packages/expo-sqlite/src/Storage.ts
  packages/expo-sqlite/src/WebStorage.ts
  packages/expo-sqlite/src/__tests__/Storage-test.ios.ts
  packages/expo-sqlite/src/__tests__/WebStorage-test.ios.ts
  packages/expo-sqlite/src/__tests__/paramUtils-test.ios.ts
  packages/expo-sqlite/src/paramUtils.ts
  packages/expo/internal/install-global.d.ts
  packages/expo/internal/install-global.js
Labels: bot: suggestions, bot: fingerprint changed

#38894 [metro-config] Fix live binding export all overwrite issue
  apps/router-e2e/__e2e__/compiler/app/hooks/useApples.ts
  apps/router-e2e/__e2e__/compiler/app/hooks/useFruit.ts
  apps/router-e2e/__e2e__/compiler/app/index.tsx
  packages/@expo/cli/e2e/playwright/dev/react-compiler.test.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-plugins/import-export-plugin.js
  packages/@expo/metro-config/build/transform-plugins/import-export-plugin.js.map
  packages/@expo/metro-config/src/serializer/__tests__/optimize-graph.test.ts
  packages/@expo/metro-config/src/transform-plugins/__tests__/import-export-plugin.test.ts
  packages/@expo/metro-config/src/transform-plugins/import-export-plugin.ts
Labels: bot: suggestions, bot: fingerprint compatible

#38912 [ios] Simplify colors in dev menu and dev launcher
  packages/expo-dev-launcher/CHANGELOG.md
  packages/expo-dev-launcher/ios/EXDevLauncherController.m
  packages/expo-dev-launcher/ios/SwiftUI/DevLauncherViews.swift
  packages/expo-dev-launcher/ios/SwiftUI/DevServerInfoModal.swift
  packages/expo-dev-launcher/ios/SwiftUI/DevServersView.swift
  packages/expo-dev-launcher/ios/SwiftUI/ErrorView.swift
  packages/expo-dev-launcher/ios/SwiftUI/HomeTabView.swift
  packages/expo-dev-launcher/ios/SwiftUI/Navigation/Navigation.swift
  packages/expo-dev-launcher/ios/SwiftUI/SettingsTabView.swift
  packages/expo-dev-launcher/ios/SwiftUI/UpdatesTab/UpdatesListView.swift
  packages/expo-dev-launcher/ios/SwiftUI/Utils/Utils.swift
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuGestureRecognizer.swift
  packages/expo-dev-menu/ios/Modules/DevMenuPreferences.swift
  packages/expo-dev-menu/ios/SwiftUI/CustomItems.swift
  packages/expo-dev-menu/ios/SwiftUI/DevMenuActions.swift
  packages/expo-dev-menu/ios/SwiftUI/DevMenuAppInfo.swift
  packages/expo-dev-menu/ios/SwiftUI/DevMenuButtons.swift
  packages/expo-dev-menu/ios/SwiftUI/DevMenuDeveloperTools.swift
  packages/expo-dev-menu/ios/SwiftUI/DevMenuRNDevMenu.swift
  packages/expo-dev-menu/ios/SwiftUI/HeaderView.swift
  packages/expo-dev-menu/ios/SwiftUI/HostUrl.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Views/SwiftUI/ExpoSystemColors.swift
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#38911 [docs] Notification config
  docs/pages/push-notifications/push-notifications-setup.mdx
Labels: bot: passed checks

#38905 [sqlite] update doc for sqlite-vec
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/v54.0.0/sdk/sqlite.mdx
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/v54.0.0/expo-sqlite.json
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLiteDatabase.d.ts
  packages/expo-sqlite/build/SQLiteDatabase.d.ts.map
  packages/expo-sqlite/build/SQLiteDatabase.js
  packages/expo-sqlite/build/SQLiteDatabase.js.map
  packages/expo-sqlite/src/SQLiteDatabase.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38956 [docs] Replace "reflect [...] automatically" in getting started tutorial
  docs/pages/tutorial/create-your-first-app.mdx
Labels: bot: passed checks

#38871 [metro-runtime] Pass error and component stacks to metro terminal reporter
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroTerminalReporter-test.ts
  packages/@expo/cli/src/start/server/metro/__tests__/fixtures/terminal-logs.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/cli/src/start/server/serverLogLikeMetro.ts
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/build/metroServerLogs.d.ts
  packages/@expo/metro-runtime/build/metroServerLogs.d.ts.map
  packages/@expo/metro-runtime/build/metroServerLogs.native.d.ts
  packages/@expo/metro-runtime/build/metroServerLogs.native.d.ts.map
  packages/@expo/metro-runtime/src/index.ts
  packages/@expo/metro-runtime/src/metroServerLogs.native.ts
  packages/@expo/metro-runtime/src/metroServerLogs.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38795 [app-integrity] add documentation for app integrity and `isSupported` on iOS
  apps/native-component-list/src/screens/AppIntegrity/AppIntegrityScreen.ios.tsx
  docs/pages/versions/unversioned/sdk/app-integrity.mdx
  docs/public/static/data/unversioned/expo-app-integrity.json
  packages/expo-app-integrity/android/src/main/java/expo/modules/integrity/IntegrityModule.kt
  packages/expo-app-integrity/build/AppIntegrity.d.ts
  packages/expo-app-integrity/build/AppIntegrity.d.ts.map
  packages/expo-app-integrity/build/AppIntegrity.js
  packages/expo-app-integrity/build/AppIntegrity.js.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.d.ts
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.d.ts.map
  packages/expo-app-integrity/build/ExpoAppIntegrity.types.js.map
  packages/expo-app-integrity/ios/IntegrityModule.swift
  packages/expo-app-integrity/src/AppIntegrity.ts
  packages/expo-app-integrity/src/ExpoAppIntegrity.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks

#38969 [expo-router] fix link preview error, when preview is open to a tab without a Stack
  apps/router-e2e/__e2e__/native-tabs/app/index.tsx
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/global-state/routing.d.ts.map
  packages/expo-router/build/global-state/routing.js
  packages/expo-router/build/global-state/routing.js.map
  packages/expo-router/build/link/preview/utils.d.ts.map
  packages/expo-router/build/link/preview/utils.js
  packages/expo-router/build/link/preview/utils.js.map
  packages/expo-router/src/global-state/routing.ts
  packages/expo-router/src/link/preview/utils.ts
Labels: bot: passed checks

#38955 test(metro-config): Add compact snapshot cases for import-export-plugin
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/transform-plugins/import-export-plugin.js
  packages/@expo/metro-config/build/transform-plugins/import-export-plugin.js.map
  packages/@expo/metro-config/src/transform-plugins/__tests__/__snapshots__/import-export-plugin-snapshots.test.ts.snap
  packages/@expo/metro-config/src/transform-plugins/__tests__/import-export-plugin-snapshots.test.ts
  packages/@expo/metro-config/src/transform-plugins/import-export-plugin.ts
Labels: bot: suggestions

#38977 [docs] Add support for Blob interface properties
  docs/components/plugins/api/APISectionClasses.tsx
Labels: bot: passed checks

#38982 [file-system] Fix failing CI
  apps/test-suite/tests/FileSystem.ts
Labels: bot: passed checks, bot: fingerprint compatible

#38983 [expo-router][docs] Fix formatting issues in Native tabs reference
  docs/public/static/data/unversioned/expo-router-native-tabs.json
  docs/public/static/data/v54.0.0/expo-router-native-tabs.json
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabTrigger.d.ts
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabTrigger.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabTrigger.js
  packages/expo-router/build/native-tabs/NativeBottomTabs/NativeTabTrigger.js.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/types.d.ts
  packages/expo-router/build/native-tabs/NativeBottomTabs/types.d.ts.map
  packages/expo-router/build/native-tabs/NativeBottomTabs/types.js.map
  packages/expo-router/src/native-tabs/NativeBottomTabs/NativeTabTrigger.tsx
  packages/expo-router/src/native-tabs/NativeBottomTabs/types.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#38897 [expo-router] Update web modals to iOS 26 specifications
  apps/router-e2e/__e2e__/web-modal/app/_layout.tsx
  apps/router-e2e/__e2e__/web-modal/app/index.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-regular-bg.tsx
  apps/router-e2e/__e2e__/web-modal/app/modal-regular.tsx
  apps/router-e2e/__e2e__/web-modal/app/nested/_layout.tsx
  docs/pages/router/advanced/web-modals.mdx
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/expo-router/CHANGELOG.md
  packages/expo-router/assets/modal.module.css
  packages/expo-router/build/layouts/StackClient.d.ts
  packages/expo-router/build/layouts/StackClient.d.ts.map
  packages/expo-router/build/layouts/StackClient.js.map
  packages/expo-router/build/modal/web/ModalStackRouteDrawer.js
  packages/expo-router/build/modal/web/ModalStackRouteDrawer.js.map
  packages/expo-router/src/layouts/StackClient.tsx
  packages/expo-router/src/modal/web/ModalStackRouteDrawer.tsx
Labels: bot: fingerprint compatible

#38529 [workspace][iOS] Use precompiled react-native binaries
  apps/bare-expo/ios/BareExpo.xcodeproj/project.pbxproj
  apps/bare-expo/ios/Podfile
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/ios/Podfile.properties.json
  apps/native-tests/ios/NativeTests.xcodeproj/project.pbxproj
  apps/native-tests/ios/Podfile
  apps/native-tests/ios/Podfile.lock
  apps/paper-tester/ios/Podfile
  apps/paper-tester/ios/Podfile.lock
  apps/paper-tester/ios/Podfile.properties.json
Labels: bot: passed checks, bot: fingerprint changed

#38856 [expo-router] Fix useFocusEffect being called twice in some cases.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useFocusEffect.js
  packages/expo-router/build/useFocusEffect.js.map
  packages/expo-router/src/__tests__/useFocusEffect.test.ios.tsx
  packages/expo-router/src/useFocusEffect.ts
Labels: bot: passed checks

#38997 docs: fix broken markdown link in EAS tutorial
  docs/pages/tutorial/eas/team-development.mdx
Labels: bot: passed checks

#39002 fix(create-expo): rename `_vscode`, `_eas`, `_github`, and `_cursor` folders to dot-equivalent
  packages/create-expo/CHANGELOG.md
  packages/create-expo/src/__tests__/createFileTransformer.test.ts
  packages/create-expo/src/createFileTransform.ts
Labels: bot: passed checks

#38998 Fix unexpected ',' separator issue
  packages/expo-router/CHANGELOG.md
  packages/expo-router/ios/LinkPreview/LinkPreviewNativeModule.swift
Labels: bot: passed checks

#37137 [video] Add `keepScreenOnWhilePlaying` property
  docs/public/static/data/unversioned/expo-video.json
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/VideoManager.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayer.kt
  packages/expo-video/android/src/main/java/expo/modules/video/player/VideoPlayerKeepAwake.kt
  packages/expo-video/android/src/main/java/expo/modules/video/utils/WeakMutableSet.kt
  packages/expo-video/android/src/main/res/layout/fullscreen_player_activity.xml
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/build/VideoPlayer.web.d.ts
  packages/expo-video/build/VideoPlayer.web.d.ts.map
  packages/expo-video/build/VideoPlayer.web.js
  packages/expo-video/build/VideoPlayer.web.js.map
  packages/expo-video/ios/VideoModule.swift
  packages/expo-video/src/VideoPlayer.types.ts
  packages/expo-video/src/VideoPlayer.web.tsx
Labels: bot: passed checks, bot: fingerprint changed
