Repository expo/expo, pull requests merged in 2025-04, with the labels that each got.

#35804 [sqlite] return promise for syncLibSQL
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/NativeDatabase.d.ts
  packages/expo-sqlite/build/NativeDatabase.d.ts.map
  packages/expo-sqlite/build/NativeDatabase.js.map
  packages/expo-sqlite/build/SQLiteDatabase.d.ts
  packages/expo-sqlite/build/SQLiteDatabase.d.ts.map
  packages/expo-sqlite/build/SQLiteDatabase.js.map
  packages/expo-sqlite/src/NativeDatabase.ts
  packages/expo-sqlite/src/SQLiteDatabase.ts
Labels: bot: passed checks

#35160 [docs] Update entry point common question in `registerRootComponent` to link to Expo Router doc
  docs/pages/versions/unversioned/sdk/expo.mdx
  docs/pages/versions/unversioned/sdk/register-root-component.mdx
  docs/pages/versions/v50.0.0/sdk/register-root-component.mdx
  docs/pages/versions/v51.0.0/sdk/register-root-component.mdx
  docs/pages/versions/v52.0.0/sdk/expo.mdx
  docs/pages/versions/v52.0.0/sdk/register-root-component.mdx
Labels: bot: passed checks

#35698 Update @shopify/react-native-skia to version v2.0.0-next.2
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#35811 [ios][xcode] fix xcode 16.3 compile errors
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/ios/DevMenuViewController.swift
  packages/expo-device/CHANGELOG.md
  packages/expo-device/ios/UIDevice.swift
  packages/expo-gl/CHANGELOG.md
  packages/expo-gl/common/EXGLNativeContext.h
Labels: bot: passed checks, bot: fingerprint changed

#35686 [media-library][1/2] Make moving assets unnecessary - Add `album` parameter to `createAssetAsync`
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/albums/AlbumUtils.kt
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/assets/CreateAsset.kt
  packages/expo-media-library/build/MediaLibrary.d.ts
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-media-library/ios/MediaLibraryUtilities.swift
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks, bot: fingerprint changed

#34163 [docs] Add info about expo-dev-client in EAS Build setup guide
  docs/pages/build/setup.mdx
Labels: bot: passed checks, preview

#35795 [image] bump sdwebimage
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/native-tests/ios/Podfile.lock
  apps/paper-tester/ios/Podfile.lock
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ExpoImage.podspec
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/ios/ResizedAnimatedCoder.swift
Labels: bot: passed checks, bot: fingerprint changed

#35802 [image] add useAppleWebpCodec
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile.lock
  apps/native-component-list/src/screens/Image/ImageFormatsScreen.tsx
  apps/native-tests/ios/Podfile.lock
  apps/paper-tester/ios/Podfile.lock
  docs/public/static/data/unversioned/expo-image.json
  packages/expo-image/CHANGELOG.md
  packages/expo-image/build/Image.types.d.ts
  packages/expo-image/build/Image.types.d.ts.map
  packages/expo-image/ios/ExpoImage.podspec
  packages/expo-image/ios/ImageModule.swift
  packages/expo-image/ios/ImageSource.swift
  packages/expo-image/ios/ImageUtils.swift
  packages/expo-image/ios/ImageView.swift
  packages/expo-image/ios/WebPCoder.swift
  packages/expo-image/src/Image.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#35734 [background-task] handling TaskManager errors
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/build/BackgroundTask.d.ts.map
  packages/expo-background-task/build/BackgroundTask.js
  packages/expo-background-task/build/BackgroundTask.js.map
  packages/expo-background-task/src/BackgroundTask.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35790 [template][Android] Use new autolinking plugin
  templates/expo-template-bare-minimum/android/app/build.gradle
  templates/expo-template-bare-minimum/android/build.gradle
  templates/expo-template-bare-minimum/android/settings.gradle
Labels: bot: passed checks

#35810 [docs] height breakpoint tweak, Tailwind config cleanup, styleguide bumps
  docs/package.json
  docs/tailwind.config.cjs
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/SidebarSingleEntry.tsx
  docs/yarn.lock
Labels: bot: passed checks, preview

#35827 [docs] corrected typo in internal link path
  docs/pages/router/basics/notation.mdx
Labels: bot: passed checks

#35761 [sqlite][doc] update docs
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/diffs/sqlite-web-metro-config.diff
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/build/SQLiteDatabase.d.ts
  packages/expo-sqlite/build/SQLiteDatabase.d.ts.map
  packages/expo-sqlite/build/SQLiteDatabase.js
  packages/expo-sqlite/build/SQLiteDatabase.js.map
  packages/expo-sqlite/build/Storage.d.ts
  packages/expo-sqlite/build/Storage.d.ts.map
  packages/expo-sqlite/build/Storage.js
  packages/expo-sqlite/build/Storage.js.map
  packages/expo-sqlite/src/SQLiteDatabase.ts
  packages/expo-sqlite/src/Storage.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#35818 [sqlite] add reference counting for database closing functions.
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/NativeDatabase.kt
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/ios/AtomicInteger.swift
  packages/expo-sqlite/ios/NativeDatabase.swift
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-sqlite/ios/SQLiteModuleLibSQL.swift
Labels: bot: passed checks

#35833 [router]: Fix this.config crash on startup
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/getLinkingConfig.d.ts.map
  packages/expo-router/build/getLinkingConfig.js
  packages/expo-router/build/getLinkingConfig.js.map
  packages/expo-router/src/getLinkingConfig.ts
Labels: bot: passed checks

#35820 [docs] Sidebar: improve deprecation visual marking, add few flags
  docs/ui/components/Sidebar/SidebarLink.tsx
Labels: bot: passed checks, preview

#35816 [android][backgroundtask][backgroundfetch] added proguard rules
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/android/build.gradle
  packages/expo-background-fetch/android/proguard-rules.pro
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/android/build.gradle
  packages/expo-background-task/android/proguard-rules.pro
Labels: bot: passed checks

#35838 [core][Android] Add custom queue
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIAsyncFunctionsTest.kt
  packages/expo-modules-core/android/src/androidTest/java/expo/modules/kotlin/jni/JSIModuleMock.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/AsyncFunction.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/BaseAsyncFunctionComponent.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/functions/SuspendFunctionComponent.kt
Labels: bot: suggestions

#35822 [Android][core] Use `compileOnly` to depend on the `e-m-c`
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/build.gradle
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
Labels: bot: passed checks

#35840 [image-picker][iOS] Use preferred representation mode to support heic
  apps/native-component-list/src/screens/ImagePicker/ImagePickerScreen.tsx
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/ios/ImageUtils.swift
  packages/expo-image-picker/ios/NSItemProvider+Async.swift
Labels: bot: passed checks

#35817 [background-fetch] marked expo-background-fetch as deprecated
  docs/pages/versions/unversioned/sdk/background-fetch.mdx
  docs/public/static/data/unversioned/expo-background-fetch.json
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/build/BackgroundFetch.d.ts
  packages/expo-background-fetch/build/BackgroundFetch.d.ts.map
  packages/expo-background-fetch/build/BackgroundFetch.js
  packages/expo-background-fetch/build/BackgroundFetch.js.map
  packages/expo-background-fetch/src/BackgroundFetch.ts
Labels: bot: passed checks

#35847 [expo-go] Fix home not surviving backgrounding.
  apps/expo-go/ios/Client/AppDelegate.swift
Labels: bot: passed checks

#35851 [core][Android] Add empty publish task when publishing was disabled
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/android/MavenPublicationExtension.kt
Labels: bot: suggestions, bot: fingerprint changed

#35854 [task-manager][Android] Fix `namespace` contains a capital letter
  packages/expo-task-manager/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#35741 [cli][go][dev-menu] remove react devtools
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ReactNativeActivity.kt
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/VersionedUtils.kt
  apps/expo-go/ios/Exponent/Kernel/ReactAppManager/EXReactAppManager.mm
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/interface/interactiveActions.ts
  packages/@expo/cli/src/start/server/BundlerDevServer.ts
  packages/@expo/cli/src/start/server/ReactDevToolsProxy.ts
  packages/@expo/cli/src/start/server/metro/MetroBundlerDevServer.ts
  packages/@expo/cli/src/start/server/middleware/ReactDevToolsPageMiddleware.ts
  packages/@expo/cli/static/react-devtools-page/index.html
  packages/@expo/cli/static/react-devtools-page/standalone.js
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/src/main/java/expo/modules/devmenu/websockets/DevMenuCommandHandlersProvider.kt
  packages/expo-dev-menu/ios/DevMenuPackagerConnectionHandler.swift
Labels: bot: passed checks, bot: fingerprint changed

#35771 [build-properties] prevent generate falsy props
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/ios.js
  packages/expo-build-properties/src/__tests__/withBuildProperties-test.ts
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/ios.ts
Labels: bot: passed checks, bot: fingerprint changed

#35842 [docs] Fix minor formatting and other issues
  docs/pages/build-reference/easignore.mdx
  docs/pages/build-reference/local-builds.mdx
  docs/pages/build/automate-submissions.mdx
  docs/pages/build/setup.mdx
  docs/pages/deploy/app-stores-metadata.mdx
  docs/pages/eas/hosting/environment-variables.mdx
  docs/pages/guides/customizing-metro.mdx
  docs/pages/router/basics/notation.mdx
  docs/pages/versions/unversioned/config/metro.mdx
  docs/pages/versions/unversioned/sdk/video-av.mdx
  docs/pages/versions/v51.0.0/sdk/video-av.mdx
  docs/pages/versions/v52.0.0/sdk/video-av.mdx
Labels: bot: passed checks

#35815 [docs] Update existing React Native projects installation instruction for `expo-dev-client`
  docs/pages/develop/development-builds/create-a-build.mdx
Labels: bot: passed checks

#35828 [docs] Remove React DevTools references
  docs/pages/bare/using-expo-cli.mdx
  docs/pages/debugging/runtime-issues.mdx
  docs/pages/debugging/tools.mdx
  docs/public/static/images/debugging/react-devtools.png
Labels: bot: passed checks

#35857 Update ios-development-build-for-simulators.mdx
  docs/pages/tutorial/eas/ios-development-build-for-simulators.mdx
Labels: bot: passed checks

#35735 [expo] Upgrade react-native-maps to `1.20.1`
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#35859 feat(babel): support type exports in React Server Actions
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/async-require.js.map
  packages/@expo/metro-config/src/async-require.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/build/server-actions-plugin.js
  packages/babel-preset-expo/build/web-preset.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/__tests__/metro-uniformity-matrix.test.ts
  packages/babel-preset-expo/src/__tests__/server-actions.test.ts
  packages/babel-preset-expo/src/index.ts
  packages/babel-preset-expo/src/server-actions-plugin.ts
  packages/babel-preset-expo/src/web-preset.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#35870 [github] Remove `fail_on_error` from Vale GH action
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
Labels: bot: passed checks

#35871 [ncl] bump action sheet
  apps/native-component-list/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#35877 [docs] update Next and other dependencies, pin Vale for now
  docs/.eslintrc.cjs
  docs/package.json
  docs/scripts/schema-sync.js
  docs/yarn.lock
Labels: bot: passed checks, preview

#35788 [docs] Fix formatting and style guide issues in Singular stack routes
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/pages/preview/singular.mdx
Labels: bot: passed checks

#35878 [docs] fix compact height sidebar mode regression
  docs/ui/components/Sidebar/SidebarHead.tsx
  docs/ui/components/Sidebar/SidebarSingleEntry.tsx
Labels: bot: passed checks, preview

#35852 [ui][iOS] Allow undefined props on ExpoSwiftUIView
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinitionDefaultProps.swift
Labels: bot: passed checks, bot: fingerprint changed

#35876 [task-manager] Fix manifest error
  packages/expo-task-manager/android/src/main/AndroidManifest.xml
Labels: bot: suggestions, bot: fingerprint changed

#35872 [ncl] Fix nested screens navigation
  apps/native-component-list/src/navigation/ExpoApisStackNavigator.tsx
  apps/native-component-list/src/navigation/ExpoComponentsStackNavigator.tsx
  apps/native-component-list/src/screens/CalendarsScreen.tsx
  apps/native-component-list/src/screens/Contacts/ContactsScreen.tsx
  apps/native-component-list/src/screens/SVG/SVGExampleScreen.tsx
  apps/native-component-list/src/screens/SVG/SVGScreen.tsx
Labels: bot: passed checks

#35882 [ncl] Fix a few ncl issues.
  apps/native-component-list/src/screens/AccelerometerScreen.tsx
  apps/native-component-list/src/screens/Audio/AV/VideoScreen.tsx
  apps/native-component-list/src/screens/EventsScreen.tsx
  apps/native-component-list/src/screens/RemindersScreen.tsx
Labels: bot: passed checks

#35884 [native-tests][bare-expo] update podfile.lock
  apps/bare-expo/macos/Podfile.lock
  apps/native-tests/ios/Podfile.lock
Labels: bot: passed checks, bot: fingerprint compatible

#35867 feat(expo-router): Improve route `displayName` for debugging component stacks.
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/useScreens.d.ts
  packages/expo-router/build/useScreens.d.ts.map
  packages/expo-router/build/useScreens.js
  packages/expo-router/build/useScreens.js.map
  packages/expo-router/src/useScreens.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#35861 [docs][modules] Improve guide to using third party ios frameworks
  docs/pages/modules/third-party-library.mdx
Labels: bot: passed checks

#35858 [notifications] event emitter should not influence notification presentation
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/Emitter/EmitterModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Handler/HandlerModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Handler/SingleNotificationHandlerTask.swift
  packages/expo-notifications/ios/EXNotifications/PushToken/PushTokenModule.swift
Labels: bot: passed checks, bot: fingerprint changed

#35862 [expo-notifications][iOS] Swift conversion 10: refactor for Expo Go
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/Categories/CategoriesModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Emitter/EmitterModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Handler/HandlerModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Presenting/PresentationModule.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Records.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Scheduling/SchedulerModule.swift
  packages/expo-notifications/ios/EXNotifications/ServerRegistration/ServerRegistrationModule.swift
Labels: bot: fingerprint changed

#35889 [dev-launcher] Fix react-native 0.77 bundle compatibility
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
Labels: bot: suggestions, bot: fingerprint changed

#35863 [expo-go][iOS] Use new Swift expo-notifications modules
  apps/expo-go/ios/Exponent-Bridging-Header.h
  apps/expo-go/ios/Exponent.xcodeproj/project.pbxproj
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/ExpoGoExpoUpdatesModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsCategoriesModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsEmitterModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsHandlerModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsPresentationModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsSchedulerModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsServerRegistrationModule.swift
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationBuilder.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationBuilder.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationCategoriesModule.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationCategoriesModule.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationCategoryMigrator.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationCategoryMigrator.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationPresentationModule.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationPresentationModule.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationSchedulerModule.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationSchedulerModule.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationSerializer.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationSerializer.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationsEmitter.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationsEmitter.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationsHandlerModule.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationsHandlerModule.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationsUtils.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedNotificationsUtils.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedServerRegistrationModule.h
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXNotifications/EXScopedServerRegistrationModule.m
  apps/expo-go/ios/Exponent/Versioned/Core/UniversalModules/EXScopedModuleRegistryAdapter.m
  apps/expo-go/ios/Exponent/Versioned/Core/VersionManager.swift
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#35891 [react-native-web] Bump to 0.20.0, which supports React 19
  CHANGELOG.md
  apps/native-component-list/package.json
  apps/paper-tester/package.json
  packages/@expo/cli/e2e/__tests__/export-dom-test.ts
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-rendering.test.ts.snap
  packages/@expo/cli/e2e/__tests__/export/__snapshots__/static-splitting.test.ts.snap
  packages/@expo/cli/e2e/fixtures/with-assets/package.json
  packages/@expo/cli/e2e/fixtures/with-circular-async-imports/package.json
  packages/@expo/cli/e2e/fixtures/with-dom/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-a/package.json
  packages/@expo/cli/e2e/fixtures/with-monorepo/apps/app-b/package.json
  packages/@expo/cli/e2e/fixtures/with-router/package.json
  packages/@expo/cli/e2e/fixtures/with-web/package.json
  packages/expo/bundledNativeModules.json
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#35894 chore(metro-runtime): drop unused log
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/src/messageSocket.native.ts
Labels: bot: suggestions, bot: fingerprint compatible

#35866 feat(cli): Symbolicate terminal stack trace from React errors
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/__tests__/MetroTerminalReporter-test.ts
  packages/@expo/cli/src/start/server/metro/__tests__/fixtures/terminal-logs.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/cli/src/start/server/serverLogLikeMetro.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35553 [core] remove extra uiview from swiftui views
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/ios/ContactAccessButton/ContactAccessButtonView.swift
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/ios/AppleMapsView.swift
  packages/expo-mesh-gradient/CHANGELOG.md
  packages/expo-mesh-gradient/ios/MeshGradientView.swift
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Api/Factories/ViewFactories.swift
  packages/expo-modules-core/ios/Core/Protocols/AnyViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/AppleView.swift
  packages/expo-modules-core/ios/Core/Views/ComponentData.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/AnyChild.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIChild.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIHostingView.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewHost.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewProps.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIVirtualView.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIVirtualViewObjC.h
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIVirtualViewObjC.mm
  packages/expo-modules-core/ios/Core/Views/ViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/ViewLifecycleMethod.swift
  packages/expo-modules-core/ios/Core/Views/ViewModuleWrapper.swift
  packages/expo-modules-core/ios/Fabric/ExpoFabricView.swift
  packages/expo-modules-core/ios/Tests/ViewDefinitionSpec.swift
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/ios/BottomSheetView.swift
  packages/expo-ui/ios/Button/Button.swift
  packages/expo-ui/ios/ColorPickerView.swift
  packages/expo-ui/ios/ContextMenu/ContextMenu.swift
  packages/expo-ui/ios/DateTimePickerView.swift
  packages/expo-ui/ios/Gauge/Gauge.swift
  packages/expo-ui/ios/Label.swift
  packages/expo-ui/ios/List.swift
  packages/expo-ui/ios/PickerView.swift
  packages/expo-ui/ios/ProgressView.swift
  packages/expo-ui/ios/SectionView.swift
  packages/expo-ui/ios/SliderView.swift
  packages/expo-ui/ios/SwitchView.swift
  packages/expo-ui/ios/TextInput/TextInputView.swift
Labels: bot: passed checks, bot: fingerprint changed

#35883 [maps][Android] fix updating cameraPosition prop
  apps/native-component-list/src/screens/ExpoMaps/google/MapsStreetViewScreen.tsx
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsView.kt
Labels: bot: passed checks, bot: fingerprint changed

#35667 [local-authentication][docs] Add possible values for error returned during local authentication
  docs/public/static/data/unversioned/expo-local-authentication.json
  packages/expo-local-authentication/build/LocalAuthentication.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.js
  packages/expo-local-authentication/build/LocalAuthentication.js.map
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts
  packages/expo-local-authentication/build/LocalAuthentication.types.d.ts.map
  packages/expo-local-authentication/build/LocalAuthentication.types.js.map
  packages/expo-local-authentication/src/LocalAuthentication.ts
  packages/expo-local-authentication/src/LocalAuthentication.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35903 [notifications] UNTextInputNotificationAction wasn't provided with options
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/Records.swift
Labels: bot: passed checks

#35904 fix(cli): force react navigation to use import instead of require.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: suggestions, bot: fingerprint compatible

#35905 [tools] Skip / go back when publishing packages
  tools/src/publish-packages/tasks/selectPackagesToPublish.ts
Labels: bot: passed checks

#35892 test(cli): increase e2e process timeout for windows
  packages/@expo/cli/e2e/utils/process.ts
Labels: bot: suggestions, bot: fingerprint compatible

#35902 [docs] Update installation instructions in Router and Router UI references
  docs/pages/versions/unversioned/sdk/router-ui.mdx
  docs/pages/versions/unversioned/sdk/router.mdx
  docs/pages/versions/v52.0.0/sdk/router-ui.mdx
  docs/pages/versions/v52.0.0/sdk/router.mdx
Labels: bot: passed checks

#35906 [docs][expo-router] Fix examples on how to config expo-router redirects and rewrites in app.json
  docs/pages/router/advanced/redirects.mdx
Labels: bot: passed checks

#35910 [docs] Raised min. Android version to 7+
  docs/pages/versions/unversioned/index.mdx
  docs/pages/versions/v52.0.0/index.mdx
Labels: bot: passed checks

#35912 [docs] Fix lint errors
  docs/pages/router/advanced/redirects.mdx
Labels: bot: passed checks

#35913 feat(cli): add backup stack trace
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/log-box/LogBoxSymbolication.ts
  packages/@expo/cli/src/start/server/metro/metroErrorInterface.ts
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/build/customizeFrame.js
  packages/@expo/metro-config/build/customizeFrame.js.map
  packages/@expo/metro-config/src/customizeFrame.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35909 docs: Improve Cognito documentation for social providers with Cognito
  docs/pages/guides/authentication.mdx
Labels: bot: passed checks

#35918 [github][docs] Update Vale config and version to 3.11.1
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  docs/.vale/writing-styles/expo-docs/AppStores.yml
  docs/.vale/writing-styles/expo-docs/Consistency.yml
  docs/package.json
  docs/yarn.lock
Labels: bot: passed checks

#35899 [docs] Update EAS Hosting "Worker Runtime" page with Node.js built-in module table
  docs/pages/eas/hosting/reference/worker-runtime.mdx
  docs/ui/components/DocIcons/AlertIcon.tsx
  docs/ui/components/DocIcons/index.ts
Labels: bot: passed checks

#35855 [et] Publish Android artifacts when publishing canary
  .github/workflows/publish-canaries.yml
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/gradle/ProjectExtension.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/android/MavenPublicationExtension.kt
  tools/src/Packages.ts
  tools/src/publish-packages/tasks/publishAndroidPackages.ts
  tools/src/publish-packages/tasks/publishCanary.ts
Labels: bot: suggestions, bot: fingerprint changed

#35927 [image] fix svg image tinting on ios
  packages/expo-image/CHANGELOG.md
  packages/expo-image/ios/ImageView.swift
Labels: bot: passed checks, bot: fingerprint changed

#35934 [et][publish-packages] Clear `local-naven-repo` when publishing canary
  tools/src/publish-packages/tasks/publishCanary.ts
Labels: bot: passed checks

#34371 [cli] Switch expo lint to flat config
  docs/pages/guides/using-eslint.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/lint.test.ts
  packages/@expo/cli/src/customize/__tests__/generate-test.ts
  packages/@expo/cli/src/customize/templates.ts
  packages/@expo/cli/src/lint/ESlintPrerequisite.ts
  packages/@expo/cli/static/template/eslint.config.js
  packages/eslint-config-expo/CHANGELOG.md
  packages/eslint-config-expo/flat/default.js
Labels: bot: passed checks, bot: fingerprint compatible

#35935 [cli] fix react native devtools opening issue
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/inspector/JsInspector.ts
  packages/@expo/cli/src/start/server/middleware/inspector/__tests__/JsInspector-test.ts
  packages/@expo/cli/src/start/server/middleware/inspector/__tests__/fixtures/metroInspectorResponse.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35932 [expo-go] Clean up podfile
  apps/bare-expo/ios/Podfile.lock
  apps/expo-go/ios/Podfile
  apps/expo-go/ios/Podfile.lock
Labels: bot: passed checks

#35798 [docs] clarify where Node install is required when using bun
  docs/pages/guides/using-bun.mdx
Labels: bot: passed checks

#35939 [et][publish packages] Publish Android artifacts
  tools/src/publish-packages/tasks/publishAndroidPackages.ts
  tools/src/publish-packages/tasks/publishPackagesPipeline.ts
Labels: bot: passed checks

#35940 [et][publish packages] Add option to skip publishing Android artifacts
  tools/src/commands/PublishPackages.ts
  tools/src/publish-packages/tasks/publishAndroidPackages.ts
  tools/src/publish-packages/types.ts
Labels: bot: passed checks

#35943 [notifications][Android] Ignore flaky tests
  packages/expo-notifications/android/src/test/java/expo/modules/notifications/NotificationTriggerTest.kt
Labels: bot: suggestions, bot: fingerprint changed

#35920 fix(cli): Hide BRIDGE tags in webview logs.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35911 Fix fusebox log formatting and silence migration warning.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/metro/MetroTerminalReporter.ts
  packages/@expo/cli/src/start/server/metro/debugging/createDebugMiddleware.ts
  packages/@expo/cli/src/start/server/metro/instantiateMetro.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35900 [notifications] remove deprecated presentNotificationAsync
  apps/expo-go/android/expoview/src/main/java/versioned/host/exp/exponent/modules/universal/notifications/ScopedExpoNotificationPresentationModule.kt
  apps/expo-go/ios/Exponent/Versioned/Core/Modules/Notifications/ExpoGoNotificationsPresentationModule.swift
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/README.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/ExpoNotificationPresentationModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/presentation/builders/ExpoNotificationBuilder.kt
  packages/expo-notifications/build/NotificationPresenterModule.types.d.ts
  packages/expo-notifications/build/NotificationPresenterModule.types.d.ts.map
  packages/expo-notifications/build/NotificationPresenterModule.types.js.map
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/build/presentNotificationAsync.d.ts
  packages/expo-notifications/build/presentNotificationAsync.d.ts.map
  packages/expo-notifications/build/presentNotificationAsync.js
  packages/expo-notifications/build/presentNotificationAsync.js.map
  packages/expo-notifications/ios/EXNotifications/Notifications/Presenting/PresentationModule.swift
  packages/expo-notifications/src/NotificationPresenterModule.types.ts
  packages/expo-notifications/src/Notifications.types.ts
  packages/expo-notifications/src/presentNotificationAsync.ts
  packages/jest-expo/src/preset/expoModules.js
Labels: bot: suggestions, bot: fingerprint changed

#35936 [notifications] reintroduce device test suite
  apps/native-component-list/src/screens/NotificationScreen.tsx
  apps/notification-tester/metro.config.js
  apps/notification-tester/src/app/index.tsx
  apps/notification-tester/src/app/run.tsx
  apps/test-suite/tests/Notifications.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35944 [notifications] simplify push token event management
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/NotificationsPackage.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/service/delegates/FirebaseMessagingDelegate.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenManager.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/interfaces/FirebaseTokenListener.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/interfaces/FirebaseTokenListener.kt
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/interfaces/PushTokenListener.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/interfaces/PushTokenManager.java
  packages/expo-notifications/build/PushTokenManager.d.ts.map
  packages/expo-notifications/build/PushTokenManager.js
  packages/expo-notifications/build/PushTokenManager.js.map
  packages/expo-notifications/build/PushTokenManager.types.d.ts
  packages/expo-notifications/build/PushTokenManager.types.d.ts.map
  packages/expo-notifications/build/PushTokenManager.types.js
  packages/expo-notifications/build/PushTokenManager.types.js.map
  packages/expo-notifications/build/TokenEmitter.d.ts.map
  packages/expo-notifications/build/TokenEmitter.js
  packages/expo-notifications/build/TokenEmitter.js.map
  packages/expo-notifications/src/PushTokenManager.ts
  packages/expo-notifications/src/PushTokenManager.types.ts
  packages/expo-notifications/src/TokenEmitter.ts
Labels: bot: passed checks, bot: fingerprint changed

#35956 upgrade react-server-dom-webpack to v19
  apps/router-e2e/__e2e__/02-server-actions/components/counter.tsx
  docs/pages/guides/server-components.mdx
  packages/@expo/cli/e2e/playwright/dev/02-server-actions.test.ts
  packages/@expo/cli/e2e/playwright/prod/01-rsc.test.ts
  packages/@expo/cli/e2e/playwright/prod/02-server-actions.test.ts
  packages/expo-router/package.json
  packages/jest-expo/package.json
  patches/react-server-dom-webpack+19.0.0-rc-6230622a1a-20240610.patch
  patches/react-server-dom-webpack+19.0.0.patch
  yarn.lock
Labels: bot: suggestions, bot: fingerprint compatible

#35952 [cli] fix react native devtools opening issue
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/middleware/inspector/JsInspector.ts
  packages/@expo/cli/src/start/server/middleware/inspector/__tests__/JsInspector-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35953 [autolinking] fix e2e test timeout
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/e2e/__tests__/monorepo-test.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35896 [sqlite] run async tasks on module specific queue
  apps/test-suite/tests/SQLite.ts
  packages/expo-sqlite/CHANGELOG.md
  packages/expo-sqlite/android/src/main/java/expo/modules/sqlite/SQLiteModule.kt
  packages/expo-sqlite/ios/SQLiteModule.swift
  packages/expo-sqlite/ios/SQLiteModuleLibSQL.swift
Labels: bot: passed checks, bot: fingerprint changed

#33988 [doctor] add .env support
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/package.json
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/utils/nodeEnv.ts
Labels: bot: passed checks, bot: fingerprint compatible

#35964 [config-plugins][template] enable new arch by default
  apps/bare-expo/ios/Podfile
  apps/paper-tester/ios/Podfile
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/android/BuildProperties.js
  packages/@expo/config-plugins/build/android/BuildProperties.js.map
  packages/@expo/config-plugins/build/ios/BuildProperties.js
  packages/@expo/config-plugins/build/ios/BuildProperties.js.map
  packages/@expo/config-plugins/src/android/BuildProperties.ts
  packages/@expo/config-plugins/src/ios/BuildProperties.ts
  packages/@expo/config-plugins/src/ios/__tests__/__snapshots__/Maps-test.ts.snap
  templates/expo-template-bare-minimum/android/gradle.properties
  templates/expo-template-bare-minimum/ios/Podfile
Labels: bot: passed checks, bot: fingerprint changed

#35969 [ios][expo-go] removed processing from UIBackgroundModes
  tools/src/commands/EasDispatch.ts
Labels: bot: passed checks

#35975 [notifications] fix data serialization
  apps/test-suite/tests/Notifications.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/Records.swift
Labels: bot: passed checks, bot: fingerprint changed

#35976 [notifications] remove unneeded Long conversions
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/NotificationSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/RemoteMessageSerializer.java
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/channels/serializers/ExpoNotificationsChannelSerializer.java
  packages/expo-notifications/build/utils/mapNotificationResponse.d.ts.map
  packages/expo-notifications/build/utils/mapNotificationResponse.js
  packages/expo-notifications/build/utils/mapNotificationResponse.js.map
  packages/expo-notifications/src/utils/mapNotificationResponse.ts
Labels: bot: passed checks, bot: fingerprint changed

#34755 [expo] add ExpoImportMetaRegistry to support import.meta
  packages/expo/CHANGELOG.md
  packages/expo/build/Expo.fx.web.d.ts
  packages/expo/build/Expo.fx.web.d.ts.map
  packages/expo/build/utils/getBundleUrl.d.ts
  packages/expo/build/utils/getBundleUrl.d.ts.map
  packages/expo/build/utils/getBundleUrl.native.d.ts
  packages/expo/build/utils/getBundleUrl.native.d.ts.map
  packages/expo/build/utils/getBundleUrl.web.d.ts
  packages/expo/build/utils/getBundleUrl.web.d.ts.map
  packages/expo/build/winter/ImportMetaRegistry.d.ts
  packages/expo/build/winter/ImportMetaRegistry.d.ts.map
  packages/expo/src/Expo.fx.web.tsx
  packages/expo/src/utils/getBundleUrl.native.ts
  packages/expo/src/utils/getBundleUrl.ts
  packages/expo/src/utils/getBundleUrl.web.ts
  packages/expo/src/winter/ImportMetaRegistry.ts
  packages/expo/src/winter/runtime.native.ts
  packages/expo/src/winter/runtime.ts
Labels: bot: passed checks, bot: fingerprint changed

#34756 [babel-preset] add import.meta transform plugin
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/build/import-meta-transform-plugin.d.ts
  packages/babel-preset-expo/build/import-meta-transform-plugin.js
  packages/babel-preset-expo/build/index.d.ts
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/__tests__/import-meta-transform-plugin.test.ts
  packages/babel-preset-expo/src/import-meta-transform-plugin.ts
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#35718 [go][android][1/n] Roll out edge-to-edge - Enable edge-to-edge for all Expo Go projects
  apps/expo-go/android/app/build.gradle
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/LauncherActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ErrorActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/ExperienceActivity.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/experience/HomeActivity.kt
Labels: bot: passed checks

#35990 [docs] [expo-notifications] Update hourly notification example
  packages/expo-notifications/build/scheduleNotificationAsync.d.ts
  packages/expo-notifications/build/scheduleNotificationAsync.d.ts.map
  packages/expo-notifications/build/scheduleNotificationAsync.js
  packages/expo-notifications/build/scheduleNotificationAsync.js.map
  packages/expo-notifications/src/scheduleNotificationAsync.ts
Labels: bot: suggestions, bot: fingerprint compatible

#35824 [docs] change grouping, and page names, in unversioned reference docs
  docs/constants/navigation.js
  docs/pages/versions/unversioned/sdk/async-storage.mdx
  docs/pages/versions/unversioned/sdk/captureRef.mdx
  docs/pages/versions/unversioned/sdk/date-time-picker.mdx
  docs/pages/versions/unversioned/sdk/flash-list.mdx
  docs/pages/versions/unversioned/sdk/gesture-handler.mdx
  docs/pages/versions/unversioned/sdk/lottie.mdx
  docs/pages/versions/unversioned/sdk/map-view.mdx
  docs/pages/versions/unversioned/sdk/masked-view.mdx
  docs/pages/versions/unversioned/sdk/netinfo.mdx
  docs/pages/versions/unversioned/sdk/picker.mdx
  docs/pages/versions/unversioned/sdk/reanimated.mdx
  docs/pages/versions/unversioned/sdk/safe-area-context.mdx
  docs/pages/versions/unversioned/sdk/screens.mdx
  docs/pages/versions/unversioned/sdk/skia.mdx
  docs/pages/versions/unversioned/sdk/stripe.mdx
  docs/pages/versions/unversioned/sdk/svg.mdx
  docs/pages/versions/unversioned/sdk/third-party-overview.mdx
  docs/pages/versions/unversioned/sdk/view-pager.mdx
  docs/pages/versions/unversioned/sdk/webview.mdx
  docs/scripts/generate-llms/utils.js
  docs/types/common.ts
  docs/ui/components/Sidebar/Sidebar.tsx
Labels: bot: passed checks, preview

#35998 [tools] fix missing Expo package data, regenerate docs data files
  docs/public/static/data/unversioned/@expo/fingerprint.json
  docs/public/static/data/unversioned/expo-audio.json
  docs/public/static/data/unversioned/expo-background-task.json
  docs/public/static/data/unversioned/expo-blur.json
  docs/public/static/data/unversioned/expo-calendar.json
  docs/public/static/data/unversioned/expo-camera.json
  docs/public/static/data/unversioned/expo-contacts.json
  docs/public/static/data/unversioned/expo-document-picker.json
  docs/public/static/data/unversioned/expo-file-system-next.json
  docs/public/static/data/unversioned/expo-file-system.json
  docs/public/static/data/unversioned/expo-gl.json
  docs/public/static/data/unversioned/expo-image-picker.json
  docs/public/static/data/unversioned/expo-linear-gradient.json
  docs/public/static/data/unversioned/expo-mail-composer.json
  docs/public/static/data/unversioned/expo-maps.json
  docs/public/static/data/unversioned/expo-media-library.json
  docs/public/static/data/unversioned/expo-notifications.json
  docs/public/static/data/unversioned/expo-print.json
  docs/public/static/data/unversioned/expo-sharing.json
  docs/public/static/data/unversioned/expo-sqlite.json
  docs/public/static/data/unversioned/expo-status-bar.json
  docs/public/static/data/unversioned/expo-symbols.json
  docs/public/static/data/unversioned/expo-updates.json
  docs/public/static/data/unversioned/expo-video-av.json
  docs/public/static/data/unversioned/expo.json
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks, preview

#35948 fix(expo-router): unpack `asyncServerImport` wrapped modules correctly
  packages/expo-router/CHANGELOG.md
  packages/expo-router/_async-server-import.js
Labels: bot: passed checks, bot: fingerprint compatible

#36011 [docs] tweak section order on Fingerprint reference page
  docs/pages/versions/unversioned/sdk/fingerprint.mdx
  docs/pages/versions/v52.0.0/sdk/fingerprint.mdx
Labels: bot: passed checks, preview

#36007 chore: Bump to `@expo/devcert@1.2.0` (lockfiles only)
  tools/yarn.lock
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#36002 [sdk-53] Upgrade `@react-navigation/*` (includes temporary patches)
  apps/expo-go/package.json
  apps/expo-go/src/components/NavigationScrollView.tsx
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  package.json
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/expo-dev-launcher/android/src/debug/assets/expo_dev_launcher_android.bundle
  packages/expo-dev-launcher/ios/main.jsbundle
  packages/expo-dev-launcher/package.json
  packages/expo-router/build/views/Navigator.d.ts
  packages/expo-router/build/views/Navigator.d.ts.map
  packages/expo-router/package.json
  packages/expo-router/src/layouts/__rsc_tests__/__snapshots__/Stack.test.tsx.snap.android
  packages/expo-router/src/layouts/__rsc_tests__/__snapshots__/Stack.test.tsx.snap.ios
  packages/expo-router/src/layouts/__rsc_tests__/__snapshots__/Stack.test.tsx.snap.web
  packages/expo-router/src/link/__tests__/Link.test.web.tsx
  packages/expo-router/src/views/__rsc_tests__/__snapshots__/views.test.tsx.snap.android
  packages/expo-router/src/views/__rsc_tests__/__snapshots__/views.test.tsx.snap.ios
  packages/expo-router/src/views/__rsc_tests__/__snapshots__/views.test.tsx.snap.web
  patches/@react-navigation+bottom-tabs+7.3.9.patch
  patches/@react-navigation+core+7.8.4.patch
  patches/@react-navigation+drawer+7.3.8.patch
  patches/@react-navigation+elements+2.3.7.patch
  patches/@react-navigation+native+7.1.5.patch
  patches/@react-navigation+native-stack+7.3.9.patch
  patches/@react-navigation+routers+7.3.4.patch
  patches/@react-navigation+stack+7.2.9.patch
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#35957 feat(babel-preset-expo): Use `registerClientReference` for client components and assert unsupported syntax.
  packages/@expo/metro-config/CHANGELOG.md
  packages/@expo/metro-config/src/serializer/__tests__/withExpoSerializers.test.ts
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/client-module-proxy-plugin.js
  packages/babel-preset-expo/src/__tests__/__snapshots__/client-module-proxy-plugin.test.ts.snap
  packages/babel-preset-expo/src/__tests__/client-module-proxy-plugin.test.ts
  packages/babel-preset-expo/src/client-module-proxy-plugin.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36003 refactor(cli): drop `react-navigation` ESM workaround
  packages/@expo/cli/src/start/server/metro/withMetroMultiPlatform.ts
Labels: bot: suggestions, bot: fingerprint compatible

#35809 [updates] Migrate `IUpdatesController` to use coroutines
  packages/expo-updates/android/src/main/java/expo/modules/updates/DisabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/EnabledUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/IUpdatesController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesDevLauncherController.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/db/UpdatesDatabase.kt
Labels: bot: suggestions, bot: fingerprint changed

#35839 [android][updates] Refactor procedures and remove older api usage
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesModule.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/CheckForUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/FetchUpdateProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RecreateReactContextProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/RelaunchProcedure.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/procedures/StartupProcedure.kt
Labels: bot: suggestions, bot: fingerprint changed

#35994 [android][updates] Remove `AsyncTask` usage from `LoaderTask`
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderTask.kt
Labels: bot: suggestions, bot: fingerprint changed

#36017 Fix podfile syntax issue in installing-expo-modules.mdx
  docs/pages/brownfield/installing-expo-modules.mdx
Labels: bot: passed checks

#36022 [sdk-53] Bump `@react-navigation/*` packages (removes temporary patches)
  apps/expo-go/package.json
  apps/native-component-list/package.json
  apps/notification-tester/package.json
  apps/sandbox/package.json
  apps/test-suite/package.json
  package.json
  packages/@expo/cli/e2e/__tests__/install-test.ts
  packages/expo-dev-launcher/package.json
  packages/expo-router/package.json
  patches/@react-navigation+bottom-tabs+7.3.9.patch
  patches/@react-navigation+core+7.8.4.patch
  patches/@react-navigation+drawer+7.3.8.patch
  patches/@react-navigation+elements+2.3.7.patch
  patches/@react-navigation+native+7.1.5.patch
  patches/@react-navigation+native-stack+7.3.9.patch
  patches/@react-navigation+routers+7.3.4.patch
  patches/@react-navigation+stack+7.2.9.patch
  templates/expo-template-default/package.json
  templates/expo-template-tabs/package.json
  yarn.lock
Labels: bot: suggestions, bot: fingerprint changed

#36024 add more contextual help to the xcode not installed error message
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/doctor/apple/XcodePrerequisite.ts
Labels: bot: passed checks

#36020 [av] Deprecate expo av and updated docs
  docs/pages/versions/unversioned/sdk/audio-av.mdx
  docs/pages/versions/unversioned/sdk/audio.mdx
  docs/pages/versions/unversioned/sdk/av.mdx
  docs/pages/versions/unversioned/sdk/video-av.mdx
  packages/expo-av/CHANGELOG.md
  packages/expo-av/build/index.d.ts.map
  packages/expo-av/build/index.js
  packages/expo-av/build/index.js.map
  packages/expo-av/src/index.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#36027 [notifications] improve notification response handling
  apps/test-suite/tests/Notifications.ts
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/notifications/categories/serializers/ExpoNotificationsCategoriesSerializer.java
  packages/expo-notifications/build/Notifications.types.d.ts
  packages/expo-notifications/build/Notifications.types.d.ts.map
  packages/expo-notifications/build/Notifications.types.js.map
  packages/expo-notifications/ios/EXNotifications/Notifications/Records.swift
  packages/expo-notifications/ios/EXNotifications/Notifications/Scheduling/SchedulerModule.swift
  packages/expo-notifications/src/Notifications.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#36031 [expo-go] Fix build error from updates
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/ExpoUpdatesAppLoader.kt
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/di/NativeModuleDepsProvider.kt
Labels: bot: passed checks

#36013 [docs] APISection: fix multidimensional arrays, component type tweaks
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APISectionComponents.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks, preview

#36006 [docs] add information about bundled version on reference pages
  docs/components/DocumentationPage.tsx
  docs/components/plugins/APISection.tsx
  docs/package.json
  docs/public/static/schemas/unversioned/native-modules.json
  docs/public/static/schemas/v50.0.0/native-modules.json
  docs/public/static/schemas/v51.0.0/native-modules.json
  docs/public/static/schemas/v52.0.0/native-modules.json
  docs/scripts/fetch-versions-schema.js
  docs/scripts/generate-static-resources.js
  docs/types/common.ts
  docs/ui/components/PageHeader/PageHeader.test.tsx
  docs/ui/components/PageHeader/PageHeader.tsx
  docs/ui/components/PageHeader/PagePackageVersion.tsx
  docs/ui/components/PageHeader/PagePlatformTags.tsx
  docs/ui/components/PageHeader/PageTitleButtons.tsx
  docs/ui/components/PageHeader/index.ts
  docs/ui/components/PageTitle/index.ts
Labels: bot: passed checks, preview

#36033 [av] Fix grammar in warning
  packages/expo-av/build/index.js
  packages/expo-av/build/index.js.map
  packages/expo-av/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36035 [core] Migrate `AppLoaderProvider` to Kotlin
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/taskManager/ExpoHeadlessAppLoader.kt
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/apploader/AppLoaderProvider.java
  packages/expo-modules-core/android/src/main/java/expo/modules/apploader/AppLoaderProvider.kt
Labels: bot: passed checks, bot: fingerprint changed

#36043 [config-universe] upgrade `@typescript-eslint` for compatibility, other bumps
  packages/eslint-config-universe/CHANGELOG.md
  packages/eslint-config-universe/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#36036 [fingerprint][docs] add package logo assets
  .github/resources/expo-fingerprint.svg
  docs/pages/versions/unversioned/sdk/fingerprint.mdx
  docs/pages/versions/v52.0.0/sdk/fingerprint.mdx
  docs/public/static/images/packages/expo-fingerprint.png
  packages/@expo/fingerprint/README.md
Labels: bot: suggestions, bot: fingerprint compatible

#36039 [docs] PageHeader: add proper tooltips to buttons, other tweaks
  docs/common/test-utilities.tsx
  docs/ui/components/PageHeader/PageHeader.test.tsx
  docs/ui/components/PageHeader/PageHeader.tsx
  docs/ui/components/PageHeader/PageTitleButtons.tsx
  docs/ui/components/Tooltip/Content.tsx
Labels: bot: passed checks, preview

#36052 [notifications] Defer addTokenListener call
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#36055 [ios] Skip checking for network permissions when accessing Expo URL
  apps/expo-go/ios/Client/EXRootViewController.m
  apps/expo-go/ios/Exponent/Kernel/Services/EXKernelLinkingManager.m
  apps/expo-go/ios/Exponent/Versioned/Core/Api/EXUtil.h
  apps/expo-go/ios/Exponent/Versioned/Core/Api/EXUtil.m
Labels: bot: passed checks

#35955 [expo-ui][docs] Add UI components documentation
  apps/native-component-list/src/screens/UI/DateTimePickerScreen.tsx
  docs/components/plugins/api/APIStaticData.ts
  docs/pages/versions/unversioned/sdk/ui.mdx
  docs/public/static/data/unversioned/expo-ui.json
  docs/public/static/images/expo-ui/bottomsheet/ios.png
  docs/public/static/images/expo-ui/colorpicker/ios.png
  docs/public/static/images/expo-ui/datetimepicker/android.png
  docs/public/static/images/expo-ui/datetimepicker/ios.png
  docs/public/static/images/expo-ui/gauge/ios.png
  docs/public/static/images/expo-ui/linearprogress/ios.png
  docs/public/static/images/expo-ui/textinput/android.png
  docs/public/static/images/expo-ui/textinput/ios.png
  packages/expo-ui/BottomSheet/index.tsx
  packages/expo-ui/Button/index.tsx
  packages/expo-ui/ColorPicker/index.tsx
  packages/expo-ui/ContextMenu/index.tsx
  packages/expo-ui/DatePicker/index.tsx
  packages/expo-ui/Gauge/index.tsx
  packages/expo-ui/Label/index.tsx
  packages/expo-ui/Picker/index.tsx
  packages/expo-ui/Progress/index.tsx
  packages/expo-ui/Switch/index.tsx
  packages/expo-ui/TextInput/index.tsx
  packages/expo-ui/build/BottomSheet/index.d.ts
  packages/expo-ui/build/BottomSheet/index.d.ts.map
  packages/expo-ui/build/Button/index.d.ts
  packages/expo-ui/build/Button/index.d.ts.map
  packages/expo-ui/build/ColorPicker/index.d.ts
  packages/expo-ui/build/ColorPicker/index.d.ts.map
  packages/expo-ui/build/ContextMenu/index.d.ts
  packages/expo-ui/build/ContextMenu/index.d.ts.map
  packages/expo-ui/build/DatePicker/index.d.ts
  packages/expo-ui/build/DatePicker/index.d.ts.map
  packages/expo-ui/build/Gauge/index.d.ts
  packages/expo-ui/build/Gauge/index.d.ts.map
  packages/expo-ui/build/Label/index.d.ts
  packages/expo-ui/build/Picker/index.d.ts
  packages/expo-ui/build/Picker/index.d.ts.map
  packages/expo-ui/build/Progress/index.d.ts
  packages/expo-ui/build/Progress/index.d.ts.map
  packages/expo-ui/build/Switch/index.d.ts
  packages/expo-ui/build/TextInput/index.d.ts
  packages/expo-ui/build/TextInput/index.d.ts.map
  packages/expo-ui/build/src/types.d.ts
  packages/expo-ui/build/src/types.d.ts.map
  packages/expo-ui/src/types.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#36029 feat(cli): Add support for using remote builds as cache
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/android/__tests__/runAndroidAsync-test.ts
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/run/ios/__tests__/runIosAsync-test.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
  packages/@expo/cli/src/run/remoteBuildCache.ts
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36047 feat(cli): Add support for uploading remote builds as cache
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/run/android/runAndroidAsync.ts
  packages/@expo/cli/src/run/ios/runIosAsync.ts
  packages/@expo/cli/src/run/remoteBuildCache.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36041 [docs][task-manager] fix docs on Expo Go usage
  docs/pages/versions/unversioned/sdk/task-manager.mdx
Labels: bot: passed checks

#36060 [ios][expo-go] loosens the previous fix for local network testing on simulator
  apps/expo-go/ios/Client/LocalNetworkAccessManager.swift
Labels: bot: passed checks

#36061 Update android-production-build.mdx
  docs/pages/tutorial/eas/android-production-build.mdx
Labels: bot: passed checks

#36038 [task-manager][expo-go] remove warn about expo go in task manager
  packages/expo-task-manager/CHANGELOG.md
  packages/expo-task-manager/build/TaskManager.d.ts.map
  packages/expo-task-manager/build/TaskManager.js
  packages/expo-task-manager/build/TaskManager.js.map
  packages/expo-task-manager/src/TaskManager.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36026 [file-system] add missing export, JSDoc links and comments tweaks
  docs/components/plugins/api/APIStaticData.ts
  docs/public/static/data/unversioned/expo-file-system-next.json
  docs/public/static/data/unversioned/expo-file-system.json
  packages/expo-file-system/build/FileSystem.types.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts
  packages/expo-file-system/build/next/ExpoFileSystem.types.d.ts.map
  packages/expo-file-system/build/next/FileSystem.d.ts
  packages/expo-file-system/build/next/FileSystem.d.ts.map
  packages/expo-file-system/build/next/index.d.ts
  packages/expo-file-system/build/next/index.d.ts.map
  packages/expo-file-system/src/FileSystem.types.ts
  packages/expo-file-system/src/next/ExpoFileSystem.types.ts
  packages/expo-file-system/src/next/FileSystem.ts
  packages/expo-file-system/src/next/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36063 [ios][expo-go][background-tasks][background-fetch] remove background-task/fetch from expo go
  apps/expo-go/ios/Exponent/Supporting/Info.plist
  packages/expo-background-fetch/CHANGELOG.md
  packages/expo-background-fetch/build/BackgroundFetch.d.ts.map
  packages/expo-background-fetch/build/BackgroundFetch.js
  packages/expo-background-fetch/build/BackgroundFetch.js.map
  packages/expo-background-fetch/src/BackgroundFetch.ts
  packages/expo-background-task/CHANGELOG.md
  packages/expo-background-task/build/BackgroundTask.d.ts.map
  packages/expo-background-task/build/BackgroundTask.js
  packages/expo-background-task/build/BackgroundTask.js.map
  packages/expo-background-task/src/BackgroundTask.ts
  tools/src/commands/EasDispatch.ts
Labels: bot: passed checks, bot: fingerprint compatible

#36064 [expo-go] Clean up manifest
  template-files/android/AndroidManifest.xml
Labels: bot: passed checks

#36065 [docs] Fix ios dev instructions for EAS Build in set up your environment
  docs/scenes/get-started/set-up-your-environment/instructions/iosPhysicalDevelopmentBuild.mdx
Labels: bot: passed checks

#36069 [modules-plugin][Android] Run `shouldUsePublication` script before publishing package
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/AutolinkingIntegration.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/android/MavenPublicationExtension.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/gradle/ExpoModuleExtension.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/withAutolinkingPlugin/kotlin/expo/modules/plugin/AutolinkingIntegrationImpl.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/withoutAutolinkingPlugin/kotlin/expo/modules/plugin/AutolinkingIntegrationImpl.kt
  packages/expo-sqlite/android/shouldUsePublication.groovy
Labels: bot: suggestions, bot: fingerprint changed

#36070 [docs] APISection: hide params details block when there is no comment
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/components/APIParamDetailsBlock.tsx
Labels: bot: passed checks, preview

#36071 [build-properties] Add enableBundleCompression option
  packages/expo-build-properties/CHANGELOG.md
  packages/expo-build-properties/build/android.js
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/build/pluginConfig.js
  packages/expo-build-properties/src/android.ts
  packages/expo-build-properties/src/pluginConfig.ts
  templates/expo-template-bare-minimum/android/app/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#36072 [docs] APISection: improve rendering literal types in props
  docs/components/plugins/__snapshots__/APISection.test.tsx.snap
  docs/components/plugins/api/APIDataTypes.ts
  docs/components/plugins/api/APISectionInterfaces.tsx
  docs/components/plugins/api/APISectionProps.tsx
  docs/components/plugins/api/APISectionTypes.tsx
  docs/components/plugins/api/APISectionUtils.tsx
Labels: bot: passed checks, preview

#34633 [cli] Readme: formatting, updated E2E instructions
  packages/@expo/cli/README.md
Labels: bot: suggestions, bot: fingerprint compatible

#35812 [expo][2/n] Roll out edge-to-edge: Add `react-native-edge-to-edge` as a dependency of `expo`
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/__mocks__/resolve-from.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.d.ts
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/src/reactNativeConfig/__tests__/reactNativeConfig-test.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
  packages/expo/CHANGELOG.md
  packages/expo/bundledNativeModules.json
  packages/expo/package.json
Labels: bot: passed checks, bot: fingerprint changed

#36077 [docs] fix build after defining new beta, add missing data file
  docs/next.config.ts
  docs/public/static/schemas/v53.0.0/native-modules.json
Labels: bot: passed checks, preview

#36078 [doc] add sqlite web experimental callout
  docs/pages/versions/unversioned/sdk/sqlite.mdx
  docs/pages/versions/v53.0.0/sdk/sqlite.mdx
Labels: bot: passed checks

#35958 [expo][3/n] Roll out edge-to-edge: Add `enableEdgeToEdge` app config field
  packages/@expo/config-types/build/ExpoConfig.d.ts
  packages/@expo/config-types/src/ExpoConfig.ts
  packages/@expo/prebuild-config/CHANGELOG.md
  packages/@expo/prebuild-config/build/getPrebuildConfig.js
  packages/@expo/prebuild-config/build/getPrebuildConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/helpers.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/helpers.js
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/helpers.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withConfigureEdgeToEdgeEnforcement.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withConfigureEdgeToEdgeEnforcement.js
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withConfigureEdgeToEdgeEnforcement.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdge.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdge.js
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdge.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdgeEnabledGradleProperties.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdgeEnabledGradleProperties.js
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdgeEnabledGradleProperties.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withRestoreDefaultTheme.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withRestoreDefaultTheme.js
  packages/@expo/prebuild-config/build/plugins/unversioned/react-native-edge-to-edge/withRestoreDefaultTheme.js.map
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.d.ts
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js
  packages/@expo/prebuild-config/build/plugins/withDefaultPlugins.js.map
  packages/@expo/prebuild-config/src/getPrebuildConfig.ts
  packages/@expo/prebuild-config/src/plugins/__tests__/__snapshots__/withDefaultPlugins-test.ts.snap
  packages/@expo/prebuild-config/src/plugins/unversioned/react-native-edge-to-edge/__tests__/withEdgeToEdge-test.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/react-native-edge-to-edge/helpers.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/react-native-edge-to-edge/withConfigureEdgeToEdgeEnforcement.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdge.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/react-native-edge-to-edge/withEdgeToEdgeEnabledGradleProperties.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/react-native-edge-to-edge/withRestoreDefaultTheme.ts
  packages/@expo/prebuild-config/src/plugins/withDefaultPlugins.ts
  packages/expo-modules-autolinking/CHANGELOG.md
  packages/expo-modules-autolinking/build/platforms/android.d.ts
  packages/expo-modules-autolinking/build/platforms/android.js
  packages/expo-modules-autolinking/build/platforms/android.js.map
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js
  packages/expo-modules-autolinking/build/reactNativeConfig/reactNativeConfig.js.map
  packages/expo-modules-autolinking/src/platforms/android.ts
  packages/expo-modules-autolinking/src/reactNativeConfig/reactNativeConfig.ts
Labels: bot: passed checks, bot: fingerprint changed

#36080 [expo] add missing entries and versions for bundled packages
  packages/expo/bundledNativeModules.json
Labels: bot: passed checks, bot: fingerprint changed

#35931 [server]: Change redirects to occur before rewrites
  packages/@expo/cli/e2e/__tests__/export/static-redirects-api.test.ts
  packages/@expo/server/build/index.js
  packages/@expo/server/build/index.js.map
  packages/@expo/server/src/index.ts
Labels: bot: suggestions, bot: fingerprint compatible

#36082 [docs] Add Turso to local first
  docs/pages/guides/local-first.mdx
Labels: bot: passed checks

#36081 feat(babel): Update React Compiler support for React 19.
  docs/pages/guides/react-compiler.mdx
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/index.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#36083 chore(cli): deprecate --https flag
  docs/pages/guides/authentication.mdx
  docs/pages/more/expo-cli.mdx
  docs/pages/versions/unversioned/sdk/sharing.mdx
  docs/pages/versions/v50.0.0/sdk/sharing.mdx
  docs/pages/versions/v51.0.0/sdk/sharing.mdx
  docs/pages/versions/v52.0.0/sdk/sharing.mdx
  docs/pages/versions/v53.0.0/sdk/sharing.mdx
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/e2e/__tests__/start-test.ts
  packages/@expo/cli/src/start/index.ts
  packages/@expo/cli/src/start/resolveOptions.ts
  packages/expo-web-browser/CHANGELOG.md
Labels: bot: passed checks, bot: fingerprint compatible

#36056 Add support for iOS application groups in expo-secure-store.
  apps/test-suite/tests/SecureStore.js
  packages/expo-secure-store/CHANGELOG.md
  packages/expo-secure-store/build/SecureStore.d.ts
  packages/expo-secure-store/build/SecureStore.d.ts.map
  packages/expo-secure-store/build/SecureStore.js.map
  packages/expo-secure-store/ios/SecureStoreModule.swift
  packages/expo-secure-store/ios/SecureStoreOptions.swift
  packages/expo-secure-store/src/SecureStore.ts
Labels: bot: passed checks

#36084 [docs] change "`HomeScreen` class" to "`HomeScreen` component"
  docs/pages/router/migrate/from-react-navigation.mdx
Labels: bot: passed checks

#36090 [docs] Fix outdated links in AppDelegateSubscribers documentation
  docs/pages/modules/appdelegate-subscribers.mdx
Labels: bot: passed checks

#35772 [ios][contacts][permissions] Disambiguate Contacts permissions between granted and limited access on iOS
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/build/Contacts.d.ts
  packages/expo-contacts/build/Contacts.d.ts.map
  packages/expo-contacts/ios/ContactsRequester.swift
  packages/expo-contacts/src/Contacts.ts
Labels: bot: passed checks

#36094 [build-properties] few tweaks for JSDoc comments
  packages/expo-build-properties/build/pluginConfig.d.ts
  packages/expo-build-properties/src/pluginConfig.ts
Labels: bot: suggestions, bot: fingerprint compatible
