Repository expo/expo, pull requests merged in 2025-02, with the labels that each got.

#34559 chore(package-manager): Remove unused `sudo-prompt` dependency
  packages/@expo/package-manager/CHANGELOG.md
  packages/@expo/package-manager/build/ios/CocoaPodsPackageManager.js
  packages/@expo/package-manager/build/ios/CocoaPodsPackageManager.js.map
  packages/@expo/package-manager/build/utils/spawn.d.ts
  packages/@expo/package-manager/build/utils/spawn.js
  packages/@expo/package-manager/build/utils/spawn.js.map
  packages/@expo/package-manager/package.json
  packages/@expo/package-manager/src/ios/CocoaPodsPackageManager.ts
  packages/@expo/package-manager/src/utils/spawn.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#34437 [docs] Add note about splash screen testing limitations
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
Labels: bot: passed checks

#34346 [router] Add example to withLayoutContext
  docs/public/static/data/unversioned/expo-router.json
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/layouts/withLayoutContext.d.ts
  packages/expo-router/build/layouts/withLayoutContext.d.ts.map
  packages/expo-router/build/layouts/withLayoutContext.js
  packages/expo-router/build/layouts/withLayoutContext.js.map
  packages/expo-router/src/layouts/withLayoutContext.tsx
Labels: bot: passed checks, bot: fingerprint compatible

#34580 [docs] Update llms-full.txt script to read instructions for Android and iOS development build setup
  docs/scripts/generate-llms/llms-full-txt.js
  docs/scripts/generate-llms/utils.js
Labels: bot: passed checks

#34612 [iOS] Fix expo-modules.config.json after Swift conversion
  packages/expo-notifications/expo-module.config.json
Labels: bot: suggestions, bot: fingerprint changed

#34607 Update build-a-screen.mdx
  docs/pages/tutorial/build-a-screen.mdx
Labels: bot: passed checks

#34608 Update build-a-screen.mdx
  docs/pages/tutorial/build-a-screen.mdx
Labels: bot: passed checks

#34450 [docs][1/n] Add docs for @expo/fingerprint
  docs/common/code-utilities.ts
  docs/pages/versions/unversioned/sdk/fingerprint.mdx
  docs/pages/versions/v52.0.0/sdk/fingerprint.mdx
  docs/public/static/data/unversioned/@expo/fingerprint.json
  docs/public/static/data/v52.0.0/@expo/fingerprint.json
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/README.md
  packages/@expo/fingerprint/build/Fingerprint.d.ts
  packages/@expo/fingerprint/build/Fingerprint.js
  packages/@expo/fingerprint/build/Fingerprint.js.map
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/src/Fingerprint.ts
  packages/@expo/fingerprint/src/Fingerprint.types.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#34601 [docs][2/n] Update fingeprint links to point to fingerprint doc
  docs/pages/eas-update/continuous-deployment.mdx
  docs/pages/versions/unversioned/sdk/updates.mdx
  docs/pages/versions/v52.0.0/sdk/updates.mdx
Labels: bot: passed checks

#34617 [docs] Update Push notification icon
  docs/pages/faq.mdx
  docs/pages/push-notifications/overview.mdx
  docs/pages/troubleshooting/overview.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
  docs/ui/components/Sidebar/SidebarGroup.tsx
Labels: bot: passed checks

#34599 [docs] Adds EAS Workflows section to building-on-ci
  docs/pages/build/building-on-ci.mdx
Labels: bot: passed checks, preview

#34525 [docs] [ENG-14844] Update workflow trigger docs
  docs/pages/eas-workflows/triggers.mdx
Labels: bot: passed checks

#34547 Cleanup buttons in expo-ui and add android dynamic colors.
  apps/native-component-list/src/screens/UI/ButtonScreen.tsx
  packages/expo-ui/android/src/main/java/expo/modules/ui/PickerView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SliderView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SwitchView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/Utils.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/button/Button.kt
  packages/expo-ui/build/components/Button/index.d.ts
  packages/expo-ui/build/components/Button/index.d.ts.map
  packages/expo-ui/build/src/index.d.ts
  packages/expo-ui/build/src/index.d.ts.map
  packages/expo-ui/components/Button/index.tsx
  packages/expo-ui/src/index.ts
Labels: bot: suggestions, bot: fingerprint changed

#34637 test(cli): change assertions to avoid hardcoding expected versions while still asserting version fixes in E2E
  packages/@expo/cli/e2e/__tests__/install-test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34553 [expo-ui] Add `ContextMenu` component
  apps/native-component-list/src/screens/UI/ContextMenuScreen.tsx
  apps/native-component-list/src/screens/UI/UIScreen.tsx
  packages/expo-modules-core/ios/Core/Events/EventDispatcher.swift
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/android/src/main/java/expo/modules/ui/ExpoUIModule.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SwitchView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/button/Button.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/menu/ContextMenu.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/menu/ContextMenuRecords.kt
  packages/expo-ui/build/components/Button/index.d.ts
  packages/expo-ui/build/components/Button/index.d.ts.map
  packages/expo-ui/build/components/ContextMenu/index.d.ts
  packages/expo-ui/build/components/ContextMenu/index.d.ts.map
  packages/expo-ui/build/components/ContextMenu/utils.d.ts
  packages/expo-ui/build/components/ContextMenu/utils.d.ts.map
  packages/expo-ui/build/components/Switch/index.d.ts
  packages/expo-ui/build/components/Switch/index.d.ts.map
  packages/expo-ui/build/src/index.d.ts
  packages/expo-ui/build/src/index.d.ts.map
  packages/expo-ui/components/Button/index.tsx
  packages/expo-ui/components/ContextMenu/index.tsx
  packages/expo-ui/components/ContextMenu/utils.ts
  packages/expo-ui/components/Switch/index.tsx
  packages/expo-ui/ios/Button/Button.swift
  packages/expo-ui/ios/Button/ButtonProps.swift
  packages/expo-ui/ios/ContextMenu/ContextMenu.swift
  packages/expo-ui/ios/ContextMenu/ContextMenuRecords.swift
  packages/expo-ui/ios/ExpoUIModule.swift
  packages/expo-ui/ios/PickerView.swift
  packages/expo-ui/ios/SectionView.swift
  packages/expo-ui/ios/SwitchView.swift
  packages/expo-ui/src/index.ts
Labels: bot: suggestions, bot: fingerprint changed

#34443 Add ESLint / VSCode working dir advice
  .vscode/extensions.json
  .vscode/settings.json
Labels: bot: passed checks

#34593 [docs] New splash screen tutorial video + template
  docs/pages/develop/user-interface/splash-screen-and-app-icon.mdx
  docs/public/static/images/splash-screen/backgroundColor-noodles.png
  docs/public/static/images/splash-screen/resizeMode-noodles.png
  docs/public/static/images/splash-screen/resizeMode.png
Labels: bot: passed checks

#34626 [docs] Fix formatting in Fingerprint API reference
  docs/.vale/writing-styles/expo-docs/HeadingCase.yml
  docs/pages/versions/unversioned/sdk/fingerprint.mdx
  docs/pages/versions/v52.0.0/sdk/fingerprint.mdx
  docs/public/static/data/unversioned/@expo/fingerprint.json
  docs/public/static/data/v52.0.0/@expo/fingerprint.json
  packages/@expo/fingerprint/build/Fingerprint.types.d.ts
  packages/@expo/fingerprint/build/Fingerprint.types.js.map
  packages/@expo/fingerprint/src/Fingerprint.types.ts
Labels: bot: passed checks, preview, bot: fingerprint compatible

#33712 [video][android] Add option to set a maximum size of generated thumbnails
  packages/expo-video/CHANGELOG.md
  packages/expo-video/android/src/main/java/expo/modules/video/MediaMetadataRetriever.kt
  packages/expo-video/android/src/main/java/expo/modules/video/VideoModule.kt
  packages/expo-video/android/src/main/java/expo/modules/video/records/VideoThumbnailOptions.kt
  packages/expo-video/build/VideoPlayer.types.d.ts
  packages/expo-video/build/VideoPlayer.types.d.ts.map
  packages/expo-video/build/VideoPlayer.types.js.map
  packages/expo-video/src/VideoPlayer.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#34628 fix(babel-preset-expo): Resolve all missing dependency issues in babel-preset-expo.
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/build/client-module-proxy-plugin.js
  packages/babel-preset-expo/build/common.js
  packages/babel-preset-expo/build/define-plugin.d.ts
  packages/babel-preset-expo/build/define-plugin.js
  packages/babel-preset-expo/build/expo-router-plugin.js
  packages/babel-preset-expo/build/server-actions-plugin.js
  packages/babel-preset-expo/build/use-dom-directive-plugin.js
  packages/babel-preset-expo/package.json
  packages/babel-preset-expo/src/client-module-proxy-plugin.ts
  packages/babel-preset-expo/src/common.ts
  packages/babel-preset-expo/src/define-plugin.ts
  packages/babel-preset-expo/src/expo-router-plugin.ts
  packages/babel-preset-expo/src/server-actions-plugin.ts
  packages/babel-preset-expo/src/use-dom-directive-plugin.ts
  yarn.lock
Labels: bot: passed checks, bot: fingerprint compatible

#34600 [docs] Add expo-maps
  docs/pages/versions/unversioned/sdk/map-view.mdx
  docs/pages/versions/unversioned/sdk/maps.mdx
  docs/pages/versions/v52.0.0/sdk/map-view.mdx
  docs/pages/versions/v52.0.0/sdk/maps.mdx
  docs/public/static/data/unversioned/expo-maps.json
  docs/public/static/data/v52.0.0/expo-maps.json
  packages/expo-maps/build/apple/AppleMapsView.d.ts
  packages/expo-maps/build/apple/AppleMapsView.d.ts.map
  packages/expo-maps/build/apple/AppleMapsView.js
  packages/expo-maps/build/apple/AppleMapsView.js.map
  packages/expo-maps/build/google/GoogleMapsView.d.ts
  packages/expo-maps/build/google/GoogleMapsView.d.ts.map
  packages/expo-maps/build/google/GoogleMapsView.js
  packages/expo-maps/build/google/GoogleMapsView.js.map
  packages/expo-maps/build/index.d.ts
  packages/expo-maps/build/index.d.ts.map
  packages/expo-maps/build/index.js
  packages/expo-maps/build/index.js.map
  packages/expo-maps/src/apple/AppleMapsView.tsx
  packages/expo-maps/src/google/GoogleMapsView.tsx
  packages/expo-maps/src/index.ts
  tools/src/commands/GenerateDocsAPIData.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34642 [docs] Add blurb about managed vs bare for fingerprinting on EAS
  docs/pages/eas-update/continuous-deployment.mdx
Labels: bot: passed checks

#34647 feat(babel-preset-expo): Add decorators option for @babel/plugin-proposal-decorators
  packages/babel-preset-expo/CHANGELOG.md
  packages/babel-preset-expo/README.md
  packages/babel-preset-expo/build/index.d.ts
  packages/babel-preset-expo/build/index.js
  packages/babel-preset-expo/src/index.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34638 [updates] remove apache commons io
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesConfiguration.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/NoDatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/manifest/EmbeddedManifestUtils.kt
Labels: bot: passed checks, bot: fingerprint changed

#34635 Upgrade @shopify/flash-list to 1.7.3
  CHANGELOG.md
  apps/bare-expo/ios/Podfile.lock
  apps/bare-expo/package.json
  apps/expo-go/ios/Podfile.lock
  apps/expo-go/package.json
  apps/native-component-list/package.json
  packages/expo/bundledNativeModules.json
  yarn.lock
Labels: bot: needs changes, bot: fingerprint changed

#34651 [docs] Add `isNew` field to Fingerprint API reference
  docs/pages/versions/unversioned/sdk/fingerprint.mdx
  docs/pages/versions/v52.0.0/sdk/fingerprint.mdx
Labels: bot: passed checks

#34664 [docs] Camera: add link to the `expo/examples` project
  docs/pages/versions/unversioned/sdk/camera.mdx
  docs/pages/versions/v50.0.0/sdk/camera.mdx
  docs/pages/versions/v51.0.0/sdk/camera.mdx
  docs/pages/versions/v52.0.0/sdk/camera.mdx
Labels: bot: passed checks

#34509 [router]: Fix Fast Refresh not detecting file system changes
  apps/router-e2e/__e2e__/fast-refresh/app/_layout.tsx
  packages/@expo/cli/e2e/playwright/dev/fast-refresh.test.ts
  packages/expo-router/CHANGELOG.md
  packages/expo-router/build/fast-refresh.d.ts.map
  packages/expo-router/build/fast-refresh.js
  packages/expo-router/build/fast-refresh.js.map
  packages/expo-router/build/fork/native-stack/NativeStackView.d.ts
  packages/expo-router/build/fork/native-stack/NativeStackView.d.ts.map
  packages/expo-router/build/fork/native-stack/NativeStackView.js
  packages/expo-router/build/fork/native-stack/NativeStackView.js.map
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.d.ts
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.d.ts.map
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.js
  packages/expo-router/build/fork/native-stack/createNativeStackNavigator.js.map
  packages/expo-router/build/layouts/RootModal.d.ts
  packages/expo-router/build/layouts/RootModal.d.ts.map
  packages/expo-router/build/layouts/RootModal.js
  packages/expo-router/build/layouts/RootModal.js.map
  packages/expo-router/build/layouts/StackClient.d.ts.map
  packages/expo-router/build/layouts/StackClient.js
  packages/expo-router/build/layouts/StackClient.js.map
  packages/expo-router/src/fast-refresh.ts
  packages/expo-router/src/fork/native-stack/NativeStackView.tsx
  packages/expo-router/src/fork/native-stack/createNativeStackNavigator.tsx
  packages/expo-router/src/layouts/RootModal.tsx
  packages/expo-router/src/layouts/StackClient.tsx
Labels: bot: suggestions, bot: fingerprint compatible

#34643 [maps][iOS] Add get/request permissions
  apps/native-component-list/src/screens/ExpoMaps/MapsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/apple/MapsPermissionsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/google/MapsPermissionsScreen.tsx
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsModule.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/MapsModule.kt
  packages/expo-maps/build/ExpoMaps.d.ts
  packages/expo-maps/build/ExpoMaps.d.ts.map
  packages/expo-maps/build/ExpoMaps.js
  packages/expo-maps/build/ExpoMaps.js.map
  packages/expo-maps/build/google/GoogleMaps.types.d.ts
  packages/expo-maps/build/google/GoogleMaps.types.d.ts.map
  packages/expo-maps/build/google/GoogleMaps.types.js.map
  packages/expo-maps/build/google/GoogleMapsModule.d.ts
  packages/expo-maps/build/google/GoogleMapsModule.d.ts.map
  packages/expo-maps/build/google/GoogleMapsModule.js
  packages/expo-maps/build/google/GoogleMapsModule.js.map
  packages/expo-maps/build/index.d.ts
  packages/expo-maps/build/index.d.ts.map
  packages/expo-maps/build/index.js
  packages/expo-maps/build/index.js.map
  packages/expo-maps/build/shared.types.d.ts
  packages/expo-maps/build/shared.types.d.ts.map
  packages/expo-maps/build/shared.types.js.map
  packages/expo-maps/expo-module.config.json
  packages/expo-maps/ios/AppleMapsModule.swift
  packages/expo-maps/ios/AppleMapsView.swift
  packages/expo-maps/ios/MapPermissionRequester.swift
  packages/expo-maps/ios/MapsModule.swift
  packages/expo-maps/src/ExpoMaps.ts
  packages/expo-maps/src/google/GoogleMaps.types.ts
  packages/expo-maps/src/google/GoogleMapsModule.ts
  packages/expo-maps/src/index.ts
  packages/expo-maps/src/shared.types.ts
Labels: bot: suggestions, bot: fingerprint changed

#34658 [docs] Tweak initial row count in `CollapsibleTalksGridWrapper`
  docs/ui/components/CollapsibleTalksGridWrapper/index.tsx
Labels: bot: passed checks, preview

#34646 [docs] Add blurb about version numbering in continuous deployment doc
  docs/pages/eas-update/continuous-deployment.mdx
Labels: bot: passed checks

#34655 [ios][core] Support returning `SharedObjects` with a `Promise`
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/Functions/AsyncFunctionDefinition.swift
  packages/expo-modules-core/ios/Core/Promise.swift
  packages/expo-modules-core/ios/Tests/FunctionSpec.swift
Labels: bot: passed checks, bot: fingerprint changed

#34667 [bare][Android] Fix indent size for groovy
  apps/bare-expo/android/.idea/codeStyles/Project.xml
Labels: bot: passed checks, bot: fingerprint changed

#34209 [@expo/cli] Remove last use of config owner field
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/api/graphql/types/App.ts
  packages/@expo/cli/src/graphql/generated.ts
  packages/@expo/cli/src/prebuild/configureProjectAsync.ts
  packages/@expo/cli/src/prebuild/ensureConfigAsync.ts
  packages/@expo/cli/src/utils/__tests__/getAccountUsername-test.ts
  packages/@expo/cli/src/utils/getAccountUsername.ts
  packages/@expo/cli/src/utils/getOrPromptApplicationId.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34672 [docs] SEO updates to EAS Workflows and EAS Hosting
  docs/pages/eas-workflows/get-started.mdx
  docs/pages/eas/hosting/workflows.mdx
Labels: bot: passed checks

#34624 [docs] Update additional resources and add YouTube tutorial videos
  docs/pages/additional-resources/index.mdx
  docs/public/static/talks.ts
  docs/public/static/thumbnails/rn-techstack.jpg
  docs/public/static/thumbnails/widgets.jpg
Labels: bot: passed checks, preview

#34634 [maps][android] Add imperative API for camera control
  apps/native-component-list/src/screens/ExpoMaps/google/MapsUserLocationScreen.tsx
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsModule.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/GoogleMapsView.kt
  packages/expo-maps/android/src/main/java/expo/modules/maps/Records.kt
  packages/expo-maps/build/google/GoogleMaps.types.d.ts
  packages/expo-maps/build/google/GoogleMaps.types.d.ts.map
  packages/expo-maps/build/google/GoogleMaps.types.js.map
  packages/expo-maps/build/google/GoogleMapsView.d.ts
  packages/expo-maps/build/google/GoogleMapsView.d.ts.map
  packages/expo-maps/build/google/GoogleMapsView.js
  packages/expo-maps/build/google/GoogleMapsView.js.map
  packages/expo-maps/build/index.d.ts
  packages/expo-maps/build/index.d.ts.map
  packages/expo-maps/build/index.js.map
  packages/expo-maps/src/google/GoogleMaps.types.ts
  packages/expo-maps/src/google/GoogleMapsView.tsx
  packages/expo-maps/src/index.ts
Labels: bot: suggestions, bot: fingerprint changed

#34656 [ios][camera] Support returning image ref
  apps/native-component-list/src/screens/Camera/CameraScreen.tsx
  apps/native-component-list/src/screens/Camera/CameraScreenImageRef.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/build/CameraView.d.ts
  packages/expo-camera/build/CameraView.d.ts.map
  packages/expo-camera/build/CameraView.js
  packages/expo-camera/build/CameraView.js.map
  packages/expo-camera/build/ExpoCameraManager.d.ts
  packages/expo-camera/build/ExpoCameraManager.d.ts.map
  packages/expo-camera/build/ExpoCameraManager.js.map
  packages/expo-camera/build/PictureRef.d.ts
  packages/expo-camera/build/PictureRef.d.ts.map
  packages/expo-camera/build/PictureRef.js
  packages/expo-camera/build/PictureRef.js.map
  packages/expo-camera/build/index.d.ts
  packages/expo-camera/build/index.d.ts.map
  packages/expo-camera/build/index.js
  packages/expo-camera/build/index.js.map
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Common/CameraExceptions.swift
  packages/expo-camera/ios/Common/ExpoCameraUtils.swift
  packages/expo-camera/ios/Common/PictureOptions.swift
  packages/expo-camera/ios/Common/PictureRef.swift
  packages/expo-camera/ios/Current/CameraView.swift
  packages/expo-camera/src/Camera.types.ts
  packages/expo-camera/src/CameraView.tsx
  packages/expo-camera/src/ExpoCameraManager.ts
  packages/expo-camera/src/PictureRef.ts
  packages/expo-camera/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#34688 [menu][Android] Fix `copyAssets` task output definition
  packages/expo-dev-menu/CHANGELOG.md
  packages/expo-dev-menu/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#34689 Fix compose views disappering on navigation
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ExpoComposeView.kt
Labels: bot: passed checks, bot: fingerprint changed

#34694 [notification] better error when Firebase is not set up
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/android/src/main/java/expo/modules/notifications/tokens/PushTokenModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#34691 [docs] Add a page to list llms parsed files
  docs/pages/llms.mdx
Labels: bot: passed checks

#34701 [core][maps][Android] Fix compose version
  packages/expo-maps/android/build.gradle
  packages/expo-modules-core/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#34674 Bump Kotlin patch version
  apps/expo-go/android/build.gradle
  apps/fabric-tester/android/build.gradle
  packages/expo-dev-launcher/expo-dev-launcher-gradle-plugin/build.gradle.kts
  packages/expo-modules-core/android/ExpoModulesCorePlugin.gradle
  packages/expo-network-addons/expo-network-addons-gradle-plugin/build.gradle.kts
  packages/expo-updates/expo-updates-gradle-plugin/build.gradle.kts
  templates/expo-template-bare-minimum/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#34698 [docs] Update Build configuration process
  docs/pages/build-reference/build-configuration.mdx
  docs/public/static/images/eas-build/configure/01-configure-platform.png
  docs/public/static/images/eas-build/configure/02-configure-app-ids.png
  docs/public/static/images/eas-build/configure/02-initialization-complete.png
  docs/public/static/images/eas-build/configure/03-configure-app-ids.png
  docs/public/static/images/eas-build/configure/03-next-steps.png
Labels: bot: passed checks, preview

#34699 [go] fix spotlessCheck error
  apps/expo-go/android/build.gradle
  packages/expo-file-system/android/src/main/java/expo/modules/filesystem/next/FileSystemPath.kt
Labels: bot: suggestions, bot: fingerprint changed

#34649 [docs] Adds workflows syntax doc
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/build/building-on-ci.mdx
  docs/pages/custom-builds/functions.mdx
  docs/pages/custom-builds/get-started.mdx
  docs/pages/custom-builds/schema.mdx
  docs/pages/eas-workflows/control-flow.mdx
  docs/pages/eas-workflows/jobs.mdx
  docs/pages/eas-workflows/triggers.mdx
  docs/pages/eas-workflows/variables.mdx
  docs/pages/eas/hosting/workflows.mdx
  docs/pages/eas/index.mdx
  docs/pages/eas/workflows/examples.mdx
  docs/pages/eas/workflows/get-started.mdx
  docs/pages/eas/workflows/syntax.mdx
  docs/public/static/images/eas-build/custom-build.png
Labels: bot: passed checks, preview

#33952 [router-ui][docs] Add tvos as platform and fix package name
  docs/pages/versions/unversioned/sdk/router-ui.mdx
  docs/pages/versions/unversioned/sdk/router.mdx
  docs/pages/versions/v52.0.0/sdk/router-ui.mdx
  docs/pages/versions/v52.0.0/sdk/router.mdx
Labels: bot: passed checks

#34693 [android][camera] Support returning image ref
  apps/native-component-list/src/screens/Camera/CameraScreenImageRef.tsx
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraExceptions.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewHelper.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/Options.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/PictureRef.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/tasks/ResolveTakenPicture.kt
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/ios/Common/PictureOptions.swift
  packages/expo-camera/src/Camera.types.ts
Labels: bot: passed checks, bot: fingerprint changed

#34666 [expo-ui] Add color props
  apps/native-component-list/src/screens/UI/ButtonScreen.tsx
  apps/native-component-list/src/screens/UI/PickerScreen.tsx
  apps/native-component-list/src/screens/UI/SliderScreen.tsx
  apps/native-component-list/src/screens/UI/SwitchScreen.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/android/src/main/java/expo/modules/ui/PickerView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SliderView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SwitchView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/Utils.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/button/Button.kt
  packages/expo-ui/build/components/Button/index.d.ts
  packages/expo-ui/build/components/Button/index.d.ts.map
  packages/expo-ui/build/components/Picker/index.d.ts
  packages/expo-ui/build/components/Picker/index.d.ts.map
  packages/expo-ui/build/components/Slider/index.d.ts
  packages/expo-ui/build/components/Slider/index.d.ts.map
  packages/expo-ui/build/components/Switch/index.d.ts
  packages/expo-ui/build/components/Switch/index.d.ts.map
  packages/expo-ui/components/Button/index.tsx
  packages/expo-ui/components/Picker/index.tsx
  packages/expo-ui/components/Slider/index.tsx
  packages/expo-ui/components/Switch/index.tsx
  packages/expo-ui/ios/Button/Button.swift
  packages/expo-ui/ios/Button/ButtonProps.swift
  packages/expo-ui/ios/PickerView.swift
  packages/expo-ui/ios/SectionView.swift
  packages/expo-ui/ios/SliderView.swift
  packages/expo-ui/ios/SwitchView.swift
Labels: bot: passed checks, bot: fingerprint changed

#34718 [router]: Fix router playwright tests failing during cleanup
  packages/@expo/cli/e2e/playwright/dev/fast-refresh.test.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34711 Fix small grammar issue
  docs/pages/versions/unversioned/sdk/sqlite.mdx
Labels: bot: passed checks

#34706 [docs] Update Vercel API Routes deployment instructions
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#34726 [docs] Workflows syntax improvements
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#34724 [docs] add custom MDX notation for SDK compatibility note
  docs/mdx-plugins/remark-sdk-compatibility.js
  docs/next.config.ts
Labels: bot: passed checks

#34618 [docs] Clarify and consolidate similar internal distribution guides
  docs/common/error-utilities.ts
  docs/constants/navigation.js
  docs/deploy.sh
  docs/pages/build/internal-distribution.mdx
  docs/pages/guides/sharing-preview-releases.mdx
  docs/pages/tutorial/eas/internal-distribution-builds.mdx
Labels: bot: passed checks, preview

#34678 [docs] Fix a small typo in `expo-secure-store`
  docs/public/static/data/unversioned/expo-secure-store.json
  packages/expo-secure-store/build/SecureStore.d.ts
  packages/expo-secure-store/build/SecureStore.js
  packages/expo-secure-store/build/SecureStore.js.map
  packages/expo-secure-store/src/SecureStore.ts
Labels: bot: suggestions

#34704 [updates] remove kotlinVersion enforcing in e2e
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34733 [system-ui][docs] Fix typo in method description
  docs/public/static/data/unversioned/expo-system-ui.json
  packages/expo-system-ui/build/SystemUI.d.ts
  packages/expo-system-ui/build/SystemUI.js
  packages/expo-system-ui/build/SystemUI.js.map
  packages/expo-system-ui/src/SystemUI.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34730 [expo-ui] Fix TV compile CI
  .github/workflows/tvos-compile-test.yml
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/ios/ContextMenu/ContextMenu.swift
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#34200 [template] Add cleanup prompt in reset-project script
  templates/expo-template-default/scripts/reset-project.js
Labels: bot: passed checks

#34710 [docs] Updates workflows syntax
  docs/pages/eas/workflows/examples.mdx
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks, preview

#34732 [docs] Add info about custom entry point in Router installation guide
  docs/pages/router/installation.mdx
Labels: bot: passed checks, preview

#34623 [docs] Update `llms.txt` script to read links from additional resources page
  docs/.eslintignore
  docs/.gitignore
  docs/scripts/generate-llms/compileTalks.js
  docs/scripts/generate-llms/index.js
  docs/scripts/generate-llms/llms-txt.js
  docs/scripts/generate-llms/utils.js
Labels: bot: passed checks

#34636 [cli] tweaks and cleanup of E2E test utils
  packages/@expo/cli/e2e/__tests__/utils.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34707 [docs] Add Ruby requirement in setup
  CONTRIBUTING.md
Labels: bot: passed checks

#34687 [maps][plugin] Add config-plugin for permissions
  docs/pages/versions/unversioned/sdk/maps.mdx
  docs/pages/versions/v52.0.0/sdk/maps.mdx
  packages/expo-maps/plugin/build/withMapsLocation.d.ts
  packages/expo-maps/plugin/build/withMapsLocation.js
  packages/expo-maps/plugin/src/withMapsLocation.ts
  packages/expo-maps/plugin/tsconfig.json
Labels: bot: suggestions, bot: fingerprint compatible

#34738 [go][media-library] Remove permissions needing justification
  apps/expo-go/android/app/build.gradle
  apps/expo-go/android/app/src/main/res/values/strings.xml
  apps/expo-go/android/expoview/build.gradle
  apps/expo-go/android/expoview/src/main/AndroidManifest.xml
  apps/expo-go/android/expoview/src/main/java/host/exp/exponent/utils/ScopedPermissionsRequester.kt
  packages/expo-media-library/CHANGELOG.md
  packages/expo-media-library/android/src/main/java/expo/modules/medialibrary/MediaLibraryModule.kt
  packages/expo-media-library/android/src/main/res/values/strings.xml
  packages/expo-media-library/build/MediaLibrary.d.ts.map
  packages/expo-media-library/build/MediaLibrary.js
  packages/expo-media-library/build/MediaLibrary.js.map
  packages/expo-media-library/src/MediaLibrary.ts
Labels: bot: passed checks, bot: fingerprint changed

#34567 [splashscreen] Correctly handle when there is no config
  packages/@expo/cli/e2e/__tests__/__snapshots__/prebuild-test.ts.snap
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.js.map
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.d.ts
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js
  packages/@expo/prebuild-config/build/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.js.map
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/getAndroidSplashConfig.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashDrawables.ts
  packages/@expo/prebuild-config/src/plugins/unversioned/expo-splash-screen/withAndroidSplashImages.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34695 [fingerprint] add more ignores from .env loading
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/Options.js
  packages/@expo/fingerprint/build/Options.js.map
  packages/@expo/fingerprint/build/sourcer/ExpoConfigLoader.js
  packages/@expo/fingerprint/build/sourcer/ExpoConfigLoader.js.map
  packages/@expo/fingerprint/e2e/__tests__/default-ignore-paths-test.ts
  packages/@expo/fingerprint/src/Options.ts
  packages/@expo/fingerprint/src/__tests__/Options-test.ts
  packages/@expo/fingerprint/src/__tests__/__snapshots__/Options-test.ts.snap
  packages/@expo/fingerprint/src/sourcer/ExpoConfigLoader.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34697 [fingerprint] add SourceSkips.ExpoConfigExtraSection
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/sourcer/Expo.js
  packages/@expo/fingerprint/build/sourcer/Expo.js.map
  packages/@expo/fingerprint/build/sourcer/SourceSkips.d.ts
  packages/@expo/fingerprint/build/sourcer/SourceSkips.js
  packages/@expo/fingerprint/build/sourcer/SourceSkips.js.map
  packages/@expo/fingerprint/src/sourcer/Expo.ts
  packages/@expo/fingerprint/src/sourcer/SourceSkips.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34760 fix: Run the React imports patcher for any platform if iOS sources are detected
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/build/hash/Hash.js
  packages/@expo/fingerprint/build/hash/Hash.js.map
  packages/@expo/fingerprint/src/hash/Hash.ts
Labels: bot: passed checks

#34766 [fingerprint] Fix help output and debug typo
  packages/@expo/fingerprint/CHANGELOG.md
  packages/@expo/fingerprint/cli/build/cli.js
  packages/@expo/fingerprint/cli/build/commands/diffFingerprints.js
  packages/@expo/fingerprint/cli/build/runLegacyCLIAsync.js
  packages/@expo/fingerprint/cli/src/cli.ts
  packages/@expo/fingerprint/cli/src/commands/diffFingerprints.ts
  packages/@expo/fingerprint/cli/src/runLegacyCLIAsync.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34776 [fingerprint] fix changelog
  packages/@expo/fingerprint/CHANGELOG.md
Labels: bot: passed checks

#34784 [android][location] Fix uncaught exception
  packages/expo-location/CHANGELOG.md
  packages/expo-location/android/src/main/java/expo/modules/location/LocationModule.kt
Labels: bot: passed checks

#34778 [android][fetch] Avoid PromiseAlreadySettledException on canceling expo/fetch requests
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/fetch/ExpoFetchModule.kt
  packages/expo/android/src/main/java/expo/modules/fetch/NativeResponse.kt
Labels: bot: passed checks

#34790 [docs] error on ios deployment target
  docs/pages/versions/unversioned/sdk/build-properties.mdx
Labels: bot: passed checks

#34789 Update gestures.mdx
  docs/pages/tutorial/gestures.mdx
Labels: bot: passed checks

#34768 [docs] Remove preview from Workflows docs
  docs/pages/eas/index.mdx
  docs/pages/eas/workflows/get-started.mdx
Labels: bot: passed checks

#34753 [maps][iOS] implement missing onMarkerClick
  apps/native-component-list/src/screens/ExpoMaps/apple/MapsEventsScreen.tsx
  packages/expo-maps/build/apple/AppleMapsView.d.ts.map
  packages/expo-maps/build/apple/AppleMapsView.js
  packages/expo-maps/build/apple/AppleMapsView.js.map
  packages/expo-maps/ios/AppleMapsView.swift
  packages/expo-maps/src/apple/AppleMapsView.tsx
Labels: bot: suggestions, bot: fingerprint changed

#34653 [eslint-config-expo] add support for flat config
  packages/eslint-config-expo/.eslintrc.js
  packages/eslint-config-expo/CHANGELOG.md
  packages/eslint-config-expo/README.md
  packages/eslint-config-expo/eslint.config.js
  packages/eslint-config-expo/flat.js
  packages/eslint-config-expo/flat/default.js
  packages/eslint-config-expo/flat/utils/core.js
  packages/eslint-config-expo/flat/utils/expo.js
  packages/eslint-config-expo/flat/utils/extensions.js
  packages/eslint-config-expo/flat/utils/react.js
  packages/eslint-config-expo/flat/utils/typescript.js
  packages/eslint-config-expo/package.json
  yarn.lock
Labels: bot: passed checks, bot: fingerprint changed

#34797 [android][imagepicker] duplicate files stored when picking images from camera
  packages/expo-image-picker/CHANGELOG.md
  packages/expo-image-picker/android/src/main/java/expo/modules/imagepicker/ImagePickerModule.kt
Labels: bot: passed checks, bot: fingerprint changed

#34483 [android][contacts] supporting changing isFavorite (starred) in updateContactAsync
  apps/test-suite/tests/Contacts.js
  packages/expo-contacts/CHANGELOG.md
  packages/expo-contacts/android/src/main/java/expo/modules/contacts/Contact.kt
Labels: bot: passed checks

#34770 Update get-started.mdx
  docs/pages/custom-builds/get-started.mdx
Labels: bot: passed checks

#34794 [docs] Update Build Properties example
  docs/pages/versions/unversioned/sdk/build-properties.mdx
  docs/pages/versions/v52.0.0/sdk/build-properties.mdx
Labels: bot: passed checks

#34761 [docs] scroll container tweaks and improvements
  docs/components/DocumentationNestedScrollLayout.tsx
  docs/components/DocumentationPage.tsx
  docs/styles/global.css
  docs/ui/components/Sidebar/Sidebar.tsx
  docs/ui/components/TableOfContents/TableOfContents.tsx
  docs/ui/components/TableOfContents/__snapshots__/TableOfContents.test.tsx.snap
Labels: bot: passed checks, preview

#34750 [ios][camera] Performance audit
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/CameraViewModule.swift
  packages/expo-camera/ios/Current/BarcodeScanner.swift
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks, bot: fingerprint changed

#34665 [expo][Android] Share variables across projects
  apps/bare-expo/android/app/build.gradle
  apps/bare-expo/android/build.gradle
  apps/bare-expo/android/settings.gradle
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/build.gradle.kts
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoAutolinkingPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/ExpoRootProjectPlugin.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-plugin/src/main/kotlin/expo/modules/plugin/KSPLookup.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/expo-autolinking-settings-plugin/src/main/kotlin/expo/modules/plugin/SettingsManager.kt
  packages/expo-modules-autolinking/android/expo-gradle-plugin/shared/src/main/kotlin/expo/modules/plugin/text/Colors.kt
  packages/expo-modules-autolinking/scripts/generateKSPLookup.js
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ExpoModulesGradlePlugin.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/Warnings.kt
Labels: bot: suggestions, bot: fingerprint changed

#34767 [android][image] Add headers to loadAsync
  packages/expo-image/CHANGELOG.md
  packages/expo-image/android/src/main/java/expo/modules/image/ImageLoadTask.kt
Labels: bot: passed checks, bot: fingerprint changed

#34801 [android][camera] Improve ease of use of data returned from scanning
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/analyzers/BarcodeAnalyzer.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/analyzers/BarcodeScannerResultSerializer.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/common/CommonEvents.kt
  packages/expo-camera/build/AndroidBarcode.types.d.ts
  packages/expo-camera/build/AndroidBarcode.types.d.ts.map
  packages/expo-camera/build/AndroidBarcode.types.js
  packages/expo-camera/build/AndroidBarcode.types.js.map
  packages/expo-camera/build/Camera.types.d.ts
  packages/expo-camera/build/Camera.types.d.ts.map
  packages/expo-camera/build/Camera.types.js.map
  packages/expo-camera/src/AndroidBarcode.types.ts
  packages/expo-camera/src/Camera.types.ts
  packages/expo-modules-core/android/src/main/java/expo/modules/interfaces/barcodescanner/BarCodeScannerResult.java
Labels: bot: suggestions, bot: fingerprint changed

#31770 [expo-go] add readme
  apps/expo-go/README.md
  guides/Developing Expo Go.md
Labels: bot: passed checks

#34800 [autolinking] update docs for expo-module.config.json
  docs/pages/debugging/create-devtools-plugins.mdx
  docs/pages/modules/module-config.mdx
Labels: bot: passed checks

#34754 [docs] [ENG-14809] Add `on.pull_request_labeled` docs
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#34757 [android][camera] Attempt to fix `setLinearZoom` incompatibility
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks, bot: fingerprint changed

#34577 [expo-ui] Rename the event for the `Switch` component
  apps/native-component-list/src/screens/UI/ContextMenuScreen.tsx
  apps/native-component-list/src/screens/UI/SwitchScreen.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/android/src/main/java/expo/modules/ui/ExpoUIModule.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/PickerView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SwitchView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/menu/ContextMenu.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/menu/ContextMenuRecords.kt
  packages/expo-ui/build/components/ContextMenu/index.d.ts
  packages/expo-ui/build/components/ContextMenu/index.d.ts.map
  packages/expo-ui/build/components/ContextMenu/utils.d.ts.map
  packages/expo-ui/build/components/Switch/index.d.ts
  packages/expo-ui/build/components/Switch/index.d.ts.map
  packages/expo-ui/components/ContextMenu/index.tsx
  packages/expo-ui/components/ContextMenu/utils.ts
  packages/expo-ui/components/Switch/index.tsx
  packages/expo-ui/ios/ContextMenu/ContextMenu.swift
  packages/expo-ui/ios/SwitchView.swift
Labels: bot: passed checks, bot: fingerprint changed

#34417 Add AutoSizingStack and shadow node support for android.
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/AutoSizingComposable.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ExpoView.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/GroupViewManagerWrapper.kt
  packages/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/ShadowNodeProxy.kt
  packages/expo-modules-core/common/cpp/fabric/ExpoViewState.h
  packages/expo-ui/android/src/main/java/expo/modules/ui/PickerView.kt
  packages/expo-ui/android/src/main/java/expo/modules/ui/SwitchView.kt
Labels: bot: suggestions, bot: fingerprint changed

#34796 [docs] Adds VS Code ext and fixes a workflow example
  docs/pages/eas/workflows/examples.mdx
  docs/pages/eas/workflows/get-started.mdx
Labels: bot: passed checks, preview

#34798 [expo-audio][android] AudioPlayer.kt report currentTime and duration as float
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
Labels: bot: suggestions

#34809 [docs] Change wording on bare/installing-updates/#ios to prevent mistakes
  docs/pages/bare/installing-updates.mdx
Labels: bot: passed checks

#34805 [docs] Add info about missing `permission.AD_ID` in Tracking Transparency reference
  docs/pages/versions/unversioned/sdk/tracking-transparency.mdx
  docs/pages/versions/v50.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v51.0.0/sdk/tracking-transparency.mdx
  docs/pages/versions/v52.0.0/sdk/tracking-transparency.mdx
Labels: bot: passed checks

#34802 [av][docs] Fix link in Usage section
  docs/pages/versions/unversioned/sdk/av.mdx
  docs/pages/versions/v50.0.0/sdk/av.mdx
  docs/pages/versions/v51.0.0/sdk/av.mdx
  docs/pages/versions/v52.0.0/sdk/av.mdx
Labels: bot: passed checks

#34740 [docs] Re-add manual channel configuration steps for standalone EAS Update doc
  docs/pages/eas-update/standalone-service.mdx
Labels: bot: passed checks

#34722 [client][Android] Remove `releaseWithDevLauncher`/`releaseWithDevMenu`
  packages/expo-dev-client/android/build.gradle
  packages/expo-dev-launcher/android/build.gradle
  packages/expo-dev-menu/android/build.gradle
Labels: bot: suggestions, bot: fingerprint changed

#33554 [config-plugins] add resolution error hint
  packages/@expo/config-plugins/CHANGELOG.md
  packages/@expo/config-plugins/build/utils/plugin-resolver.js
  packages/@expo/config-plugins/build/utils/plugin-resolver.js.map
  packages/@expo/config-plugins/src/utils/plugin-resolver.ts
Labels: bot: passed checks, bot: fingerprint changed

#34826 [docs] [ENG-14814] Update `on.push` trigger docs with git tag support
  docs/pages/eas/workflows/syntax.mdx
Labels: bot: passed checks

#34816 [audio][docs] Fix code example in Recording sounds section (expo#33956)
  docs/pages/versions/unversioned/sdk/audio.mdx
Labels: bot: passed checks

#34785 [updates] fix log for copy resource
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/LoaderFiles.kt
Labels: bot: passed checks, bot: fingerprint changed

#34736 feat(expo-font): Support loading expo-font in a `react-server` environment.
  packages/expo-font/CHANGELOG.md
  packages/expo-font/build/ExpoFontLoader.d.ts
  packages/expo-font/build/ExpoFontLoader.d.ts.map
  packages/expo-font/build/ExpoFontLoader.js
  packages/expo-font/build/ExpoFontLoader.js.map
  packages/expo-font/build/index.server.d.ts
  packages/expo-font/build/index.server.d.ts.map
  packages/expo-font/build/index.server.js
  packages/expo-font/build/index.server.js.map
  packages/expo-font/jest-rsc.config.js
  packages/expo-font/package.json
  packages/expo-font/src/ExpoFontLoader.ts
  packages/expo-font/src/__rsc_tests__/index.test.ts
  packages/expo-font/src/index.server.ts
Labels: bot: passed checks, bot: fingerprint changed

#34792 [docs] Adds EAS CLI to workflows upgrade doc
  docs/constants/navigation.js
  docs/pages/eas/workflows/get-started.mdx
  docs/pages/eas/workflows/upgrade.mdx
Labels: bot: passed checks, preview

#34830 [docs] Update export talks data to include YouTube tutorials
  docs/scripts/generate-llms/utils.js
Labels: bot: passed checks

#34833 [docs][file-system-next]: correct imports for using legacy FileSystem API
  docs/pages/versions/v52.0.0/sdk/filesystem-next.mdx
Labels: bot: passed checks

#34837 [docs] Adds Sentry image to monitoring services doc
  docs/pages/monitoring/services.mdx
  docs/public/static/images/monitoring/monitor-your-app/sentry.png
Labels: bot: passed checks, preview

#34758 [linking] make universal linking more prominent
  docs/pages/linking/into-your-app.mdx
  docs/pages/linking/overview.mdx
Labels: bot: passed checks

#34839 fix(expo-font): Add missing export specifier.
  packages/expo-font/CHANGELOG.md
  packages/expo-font/package.json
Labels: bot: passed checks, bot: fingerprint changed

#34838 [docs] Minor fixes in multiple docs
  docs/pages/guides/permissions.mdx
  docs/pages/versions/unversioned/sdk/filesystem-next.mdx
  docs/pages/versions/unversioned/sdk/imagepicker.mdx
  docs/pages/versions/unversioned/sdk/location.mdx
  docs/pages/versions/unversioned/sdk/notifications.mdx
  docs/pages/versions/v50.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v50.0.0/sdk/notifications.mdx
  docs/pages/versions/v51.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v51.0.0/sdk/notifications.mdx
  docs/pages/versions/v52.0.0/sdk/imagepicker.mdx
  docs/pages/versions/v52.0.0/sdk/location.mdx
  docs/pages/versions/v52.0.0/sdk/notifications.mdx
Labels: bot: passed checks

#34739 [web][document-picker] make-file-reader-invocation-optional-for-document-picker-web
  packages/expo-document-picker/CHANGELOG.md
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts
  packages/expo-document-picker/build/ExpoDocumentPicker.web.d.ts.map
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js
  packages/expo-document-picker/build/ExpoDocumentPicker.web.js.map
  packages/expo-document-picker/build/index.d.ts
  packages/expo-document-picker/build/index.d.ts.map
  packages/expo-document-picker/build/index.js
  packages/expo-document-picker/build/index.js.map
  packages/expo-document-picker/build/types.d.ts
  packages/expo-document-picker/build/types.d.ts.map
  packages/expo-document-picker/build/types.js.map
  packages/expo-document-picker/src/ExpoDocumentPicker.web.ts
  packages/expo-document-picker/src/index.ts
  packages/expo-document-picker/src/types.ts
Labels: bot: passed checks

#34815 [expo-system-ui][expo-media-library] tvOS support
  .github/workflows/tvos-compile-test.yml
  packages/expo-media-library/ios/ExpoMediaLibrary.podspec
  packages/expo-media-library/ios/MediaLibraryModule.swift
  packages/expo-media-library/ios/SaveToLibraryDelegate.swift
  packages/expo-system-ui/ios/ExpoSystemUI.podspec
  packages/expo-updates/e2e/setup/project.ts
Labels: bot: suggestions, bot: fingerprint changed

#34819 [expo-ui][ios] Add ColorPicker Component
  apps/native-component-list/src/screens/UI/ColorPickerScreen.tsx
  apps/native-component-list/src/screens/UI/UIScreen.tsx
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/build/components/ColorPicker/index.d.ts
  packages/expo-ui/build/components/ColorPicker/index.d.ts.map
  packages/expo-ui/components/ColorPicker/index.tsx
  packages/expo-ui/ios/ColorPickerView.swift
  packages/expo-ui/ios/ExpoUIModule.swift
Labels: bot: passed checks

#34831 fix(cli): Preserve tunnel session ID across restarts
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/start/server/AsyncWsTunnel.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34843 fix(cli): Fix application identifier suggestion.
  packages/@expo/cli/CHANGELOG.md
  packages/@expo/cli/src/utils/getOrPromptApplicationId.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34855 [updates][android] Fix bytesToHex ArrayIndexOutOfBoundsException during conversion
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/main/java/expo/modules/updates/UpdatesUtils.kt
  packages/expo-updates/android/src/test/java/expo/modules/updates/UpdatesUtilsTest.kt
Labels: bot: passed checks, bot: fingerprint changed

#34866 [notifications] fix ios textInput action missing title
  packages/expo-notifications/CHANGELOG.md
  packages/expo-notifications/ios/EXNotifications/Notifications/Records.swift
Labels: bot: passed checks, bot: fingerprint changed

#34806 [updates][Android] Migrate to new module plugin
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/build.gradle
Labels: bot: passed checks, bot: fingerprint changed

#34853 [core][iOS] Support async functions by SwiftUI views
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Api/Factories/ViewFactories.swift
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicSwiftUIViewType.swift
  packages/expo-modules-core/ios/Core/Exceptions/CommonExceptions.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIHostingView.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinition.swift
  packages/expo-modules-core/ios/Core/Views/SwiftUI/SwiftUIViewDefinitionBuilder.swift
Labels: bot: suggestions, bot: fingerprint changed

#34869 [splash-screen][docs] Add `resizeMode` config plugin property description
  docs/pages/versions/unversioned/sdk/splash-screen.mdx
  docs/pages/versions/v52.0.0/sdk/splash-screen.mdx
Labels: bot: passed checks

#34865 [docs] Add link to React Native 0.77 upgrade changelog
  docs/pages/workflow/upgrading-expo-sdk-walkthrough.mdx
Labels: bot: passed checks

#34841 [android][audio] Recording improvements
  packages/expo-audio/CHANGELOG.md
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioModule.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioPlayer.kt
  packages/expo-audio/android/src/main/java/expo/modules/audio/AudioRecorder.kt
Labels: bot: passed checks, bot: fingerprint changed

#34890 [symbols] Add PlatformColor to types
  apps/native-component-list/src/screens/SymbolImageScreen.tsx
  packages/expo-symbols/CHANGELOG.md
  packages/expo-symbols/build/SymbolModule.types.d.ts
  packages/expo-symbols/build/SymbolModule.types.d.ts.map
  packages/expo-symbols/build/SymbolModule.types.js.map
  packages/expo-symbols/src/SymbolModule.types.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34873 [docs] clarify extra debugging features provided by dev-client
  docs/pages/develop/development-builds/use-development-builds.mdx
Labels: bot: passed checks

#34729 [doctor] Show only failed checks by default, add verbose option
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/__tests__/doctor.test.ts
  packages/expo-doctor/src/doctor.ts
  packages/expo-doctor/src/index.ts
  packages/expo-doctor/src/utils/checkResolver.ts
Labels: bot: passed checks, bot: fingerprint compatible

#34889 [core-plugin][Android] Add `publish` task
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ExpoModulesGradlePlugin.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/ProjectConfiguration.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/android/AndroidLibraryExtension.kt
  packages/expo-modules-core/expo-module-gradle-plugin/src/main/kotlin/expo/modules/plugin/android/MavePublicationExtension.kt
Labels: bot: suggestions, bot: fingerprint changed

#34886 [maps][iOS] Implement setCameraPosition
  apps/native-component-list/src/screens/ExpoMaps/MapsScreen.tsx
  apps/native-component-list/src/screens/ExpoMaps/apple/MapsCameraPositionScreen.tsx
  packages/expo-maps/CHANGELOG.md
  packages/expo-maps/build/apple/AppleMaps.types.d.ts
  packages/expo-maps/build/apple/AppleMaps.types.d.ts.map
  packages/expo-maps/build/apple/AppleMaps.types.js.map
  packages/expo-maps/build/apple/AppleMapsView.d.ts
  packages/expo-maps/build/apple/AppleMapsView.d.ts.map
  packages/expo-maps/build/apple/AppleMapsView.js
  packages/expo-maps/build/apple/AppleMapsView.js.map
  packages/expo-maps/build/index.d.ts
  packages/expo-maps/build/index.d.ts.map
  packages/expo-maps/build/index.js.map
  packages/expo-maps/ios/AppleMapsModule.swift
  packages/expo-maps/ios/AppleMapsView.swift
  packages/expo-maps/ios/AppleMapsViewState.swift
  packages/expo-maps/src/apple/AppleMaps.types.ts
  packages/expo-maps/src/apple/AppleMapsView.tsx
  packages/expo-maps/src/index.ts
Labels: bot: passed checks, bot: fingerprint changed

#34893 [android][camera] Fix flash
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/android/build.gradle
  packages/expo-camera/android/src/main/java/expo/modules/camera/CameraViewModule.kt
  packages/expo-camera/android/src/main/java/expo/modules/camera/ExpoCameraView.kt
Labels: bot: passed checks, bot: fingerprint changed

#34888 [av][docs] Fix link to Audio reference in SDK 51 and 50
  docs/pages/versions/v50.0.0/sdk/av.mdx
  docs/pages/versions/v51.0.0/sdk/av.mdx
Labels: bot: passed checks

#34876 Update react-compiler.mdx
  docs/pages/guides/react-compiler.mdx
Labels: bot: passed checks

#34875 drop outdated native server deployment steps
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#34903 [docs] Add video to Workflows Get Started doc
  docs/pages/eas-update/standalone-service.mdx
  docs/pages/eas/workflows/get-started.mdx
Labels: bot: passed checks

#34906 [expo-modules] Allow converting double to float
  packages/expo-modules-core/CHANGELOG.md
  packages/expo-modules-core/ios/Core/DynamicTypes/DynamicNumberType.swift
Labels: bot: passed checks

#34320 [contacts][docs] Fix Android permissions section
  docs/pages/versions/unversioned/sdk/contacts.mdx
  docs/pages/versions/v50.0.0/sdk/contacts.mdx
  docs/pages/versions/v51.0.0/sdk/contacts.mdx
  docs/pages/versions/v52.0.0/sdk/contacts.mdx
Labels: bot: passed checks

#34549 [intent-launcher][docs] Fix properties formatting
  docs/public/static/data/unversioned/expo-intent-launcher.json
  packages/expo-intent-launcher/build/IntentLauncher.d.ts
  packages/expo-intent-launcher/build/IntentLauncher.js
  packages/expo-intent-launcher/build/IntentLauncher.js.map
  packages/expo-intent-launcher/src/IntentLauncher.ts
Labels: bot: suggestions, bot: fingerprint compatible

#34915 [ios][camera] Attempt to fix iPad crash
  packages/expo-camera/CHANGELOG.md
  packages/expo-camera/ios/Current/CameraView.swift
Labels: bot: passed checks

#34892 [expo] fix expo/fetch cancelStreaming issue on android
  apps/test-suite/tests/Fetch.ts
  packages/expo/CHANGELOG.md
  packages/expo/android/src/main/java/expo/modules/fetch/ExpoFetchModule.kt
  packages/expo/android/src/main/java/expo/modules/fetch/NativeResponse.kt
  packages/expo/build/winter/fetch/FetchResponse.d.ts.map
  packages/expo/src/winter/fetch/FetchResponse.ts
Labels: bot: passed checks, bot: fingerprint changed

#34824 [metro-runtime] fix broken async import
  packages/@expo/metro-runtime/CHANGELOG.md
  packages/@expo/metro-runtime/package.json
Labels: bot: passed checks, bot: fingerprint changed

#34453 [updates] Add update id headers to asset requests
  packages/expo-updates/CHANGELOG.md
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/launcher/DatabaseLauncherTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/FileDownloaderTest.kt
  packages/expo-updates/android/src/androidTest/java/expo/modules/updates/loader/RemoteLoaderTest.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/launcher/DatabaseLauncher.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/EmbeddedLoader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/FileDownloader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/Loader.kt
  packages/expo-updates/android/src/main/java/expo/modules/updates/loader/RemoteLoader.kt
  packages/expo-updates/ios/EXUpdates/AppLoader/AppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/EmbeddedAppLoader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/FileDownloader.swift
  packages/expo-updates/ios/EXUpdates/AppLoader/RemoteAppLoader.swift
Labels: bot: passed checks, bot: fingerprint changed

#34894 [expo] fix error for accessing undefined dom props
  packages/expo/CHANGELOG.md
  packages/expo/build/dom/webview-wrapper.d.ts
  packages/expo/build/dom/webview-wrapper.d.ts.map
  packages/expo/build/dom/webview/useDebugZeroHeight.d.ts
  packages/expo/build/dom/webview/useDebugZeroHeight.d.ts.map
  packages/expo/src/dom/webview-wrapper.tsx
  packages/expo/src/dom/webview/useDebugZeroHeight.ts
Labels: bot: passed checks, bot: fingerprint changed

#34929 [expo-ui] Exclude ColorPicker on tvOS
  packages/expo-ui/CHANGELOG.md
  packages/expo-ui/ios/ColorPickerView.swift
Labels: bot: passed checks

#34937 Update api-routes.mdx
  docs/pages/guides/authentication.mdx
  docs/pages/router/reference/api-routes.mdx
Labels: bot: passed checks

#34934 [doctor] Fix metro config false positive
  docs/pages/billing/faq.mdx
  docs/pages/billing/plans.mdx
  docs/pages/billing/usage-based-pricing.mdx
  docs/pages/eas-update/faq.mdx
  packages/expo-doctor/CHANGELOG.md
  packages/expo-doctor/src/checks/MetroConfigCheck.ts
Labels: bot: passed checks

#34817 [docs] add eas update bandwidth guide
  docs/constants/navigation.js
  docs/pages/eas-update/estimate-bandwidth.mdx
Labels: bot: passed checks

#34940 [docs] Updates wording on workflows docs
  docs/pages/eas/workflows/examples.mdx
  docs/pages/eas/workflows/upgrade.mdx
Labels: bot: passed checks
